[2017-08-16 20:08] sckott commented on #141
thanks @AliciaSchep and @rtaph  for reviewing

[2017-08-16 21:30] ChrisMuir commented on #141
Great, I look forward to the review process! @AliciaSchep and @rtaph if you have any questions for me just let me know.

Thanks everyone!

[2017-08-17 09:19] mpadge commented on #116
Thanks @maelle for all of the help and guidance getting the package through to this exciting last stage!
You list of TODOs:
- [x] Repo transferred
- [x] both @chucheria and @eamcvey added to DESCRIPTION of new release (0.0.4) with role = "rev"
- [x] ropensci badge added
- [x] all other badges re-directed (see [#45](https://github.com/ropensci/bikedata/issues/45))
- [x] Zenodo now watching repo
- [

[2017-08-17 10:13] maelle commented on #116
You mean you didn't have to submit it? :thinking: Having @karthik as an editor of the R package surely helped. :wink:

In my experience you need to submit it, choose Karthik as JOSS editor.

Reg. the blog post let me tag @stefaniebutland who'll get in touch with you.

[2017-08-17 13:42] mpadge commented on #116
okay, i've submitted it now, and put Karthik as the editor:
- [x] Submit to JOSS

ping @richardellison, so you know where we're at here. new publication pending!

[2017-08-18 07:56] adamhsparks commented on #121
Hi all,
Here is a changelog of the updates/changes made to bomrang in response to the reviews.

# Code

## Updates to Code in General

- The package has been linted,
    - line lengths are <80 chars,
    - best practice naming conventions are followed (where possible)

- Onload a message regarding the copyright and data source,
[code]
is displayed

- All of the internal files are now loaded from "

[2017-08-18 16:58] jooolia commented on #127
Hi @MarkEdmondson1234!

Thanks for taking my comments into account and making many changes to the package. Notably I find that all aspects of the documentation are much improved (help pages, examples, vignettes, contributing, etc). I updated my previous comment to show that now I recommend approving this package. :thumbsup:

Cheers, Julia

[2017-08-19 03:51] cboettig commented on #130
@annakrystalli @toph-allen A huge thanks for these immensely helpful reviews!  It is such a treat to get this kind of detailed attention, and I particularly appreciate the efforts of you both to wrestle not only with implementation details but also with the larger concepts and how they are communicated.

I love @annakrystalli's comment about being a gateway drug to json-ld, it certainly has been f

[2017-08-19 14:07] timtrice commented on #118
@maelle ,

I've added [introducing_rrricanes](https://gist.github.com/timtrice/ae78fe3a5b9cc5805c3dc004e0a14fe9) gist for review per your previous comment. If I'm on the wrong track with the purpose of this, please let me know. Or if you have additional suggestions, of course, I'm all for it.

Thank you for your help!

[2017-08-20 13:15] maelle commented on #118
You mean for the blog post? Also poking @stefaniebutland then. And reading it now, many thanks!

[2017-08-20 13:26] maelle commented on #118
Nice to see this text being written! Some comments:

* I think it'd be nice to start with why you created this package, to give it a personal touch before the technical stuff? Well if that's not intended as technical note of course.

* streamling -> streaming, it's own "get" function -> its own "get" function

* Maybe add even more examples of visualizations in the post? And maybe comment on the e

[2017-08-20 13:56] maelle commented on #116
I think we can close this now (I told Karthik about the JOSS submission, I check there regularly, and the blog post discussion doesn't need this to be open). Your review badge will get green! 😁

[2017-08-20 13:56] #116 closed

[2017-08-20 13:56] maelle commented on #114
@richfitz do you have a timeline for the changes?

[2017-08-20 14:08] #125 closed

[2017-08-20 14:47] mpadge commented on #116
YIPPEE!!! 🚲 🚲 🚲 I didn't realise until I just discovered the [ropensci issue on this](https://github.com/ropensci/onboarding/issues/125) that i should have but didn't actually request the explicit approval of @chucheria and @eamcvey for me to insert those `rev` roles in the [DESCRIPTION](https://github.com/ropensci/bikedata/blob/master/DESCRIPTION). May I kindly request retrospective approval now?

[2017-08-20 18:27] daranzolin opened #145 "rperseus -- Get texts from the Perseus Digital Library"
### Summary

-   `rperseus` extracts classical texts from the [Perseus Digital Library's CapiTainS environment](http://www.perseus.tufts.edu/hopper/) and returns them as a data frame.

-   Paste the full DESCRIPTION file inside a code block below:

[code]
-   URL for the package (the development repository, not a stylized html page):
https://github.com/daranzolin/rperseus

- Please indicate which

[2017-08-21 03:20] raymondben commented on #139
OK, so: on reflection, we agree that splitting is probably a good idea. @maelle, what's the preference here? Do you want to close this issue and we resubmit, or do we just carry on here? (The split version --- not entirely finalized yet --- is currently sitting in the "split" branch.) Note that we'll only submit the core part of the package at this stage, including a few example data sources. The

[2017-08-21 06:58] maelle commented on #116
Oops and I forgot to remind it to you.

[2017-08-21 07:33] maelle commented on #139
@raymondben thanks! I first read this too quickly and thought we'd have two submissions instead of one which isn't the case.

I'll put the submission on hold while you do the splitting, and after that @MilesMcBain & @lwasser can review the core package.

[2017-08-21 07:44] richfitz commented on #114
Thanks for the prod @maelle - things refuse to settle down at work!

I've merged the two PRs and added the badge to the README.  The other substantive suggestions from the reviewers are:

* _to add some diagrams_ (@stephlocke) - this is a great suggestion, but realistically is unlikely to happen.  My last attempt at this required significant amounts of elaboration in a talk and there's an art to g

[2017-08-21 07:48] maelle commented on #114
Thanks @richfitz for the update and especially for having carried this out while being busy! I'll wait for you to say you've done that last thing (authenticated decryption with openssl) before asking for the reviewers' approval.

I'm also thinking of how to keep this security discussion going once we'll have closed this issue, maybe via Discuss / a channel in the Slack?

[2017-08-21 14:24] chucheria commented on #116
Thanks for adding me! You have my very happy approval @mpadge !

[2017-08-22 05:37] nealrichardson commented on #127
@MarkEdmondson1234, this version of the package is a major step forward. I'm impressed with the new documentation and see lots of improvements in the code as well. In retrying the test examples from my initial review, however, I hit some new issues that I think count as bugs, and I ran into a few sharp corners where the messaging and error handling could be more hospitable to your users. I do thin

[2017-08-22 08:41] sinanshi commented on #102
@noamross sorry for spending such a long time to address the review. As we've received some very constructive reviews, we feel it is necessary to restructure our code slightly. That's why it takes longer than we expect. I think we can finish it this week.

[2017-08-22 20:52] rflprr commented on #133
Hello, @sckott. Thanks for your response. Any idea of when I should expect the 2nd review to be completed?

[2017-08-22 20:56] sckott commented on #133
@rflprr soon hopefully 😄

@nistara due date is tomorrow - please get your review in soon, thanks!

[2017-08-22 22:38] nistara commented on #133
@sckott and @rflprr , I'll be adding my comments today :)

[2017-08-23 04:00] nistara commented on #133
## Summary

The `data.world` package is mainly for retrieving data from the data.wprd website, whereas the `dwapi` package provides greater functionality like updating and uploading data, editing metadata, etc. It might be helpful to combine the two together.

Overall I think these are very useful packages which will encourage the use and analyses of data from [data.world](https://data.world)!

##

[2017-08-23 18:01] cgries commented on #80
Sure, I’d be happy to, as long as it is a bit later in the fall.

Corinna

From: Noam Ross [mailto:notifications@github.com]
Sent: Tuesday, August 15, 2017 5:10 PM
To: ropensci/onboarding
Cc: Corinna Gries; Mention
Subject: Re: [ropensci/onboarding] review request for EML (#80)

It having been some time since reviews here, I just want to check in with @gmbecker<https://github.com/gmbecker> and @cg

[2017-08-23 20:12] stefaniebutland commented on #116
@mpadge (I'm responding later than I had hoped)
Great to hear you're interested in contributing a blog post about this package. I hope it gets more eyes on it and generates some enthusiasm and input.

For rOpenSci blog post you could do either a short post for the [Developer Blog](https://ropensci.org/tech-notes/) that has a technical focus, or do a post for the [main blog](https://ropensci.org/bl

[2017-08-23 20:27] stefaniebutland commented on #118
@timtrice Great to hear you're interested in contributing a blog post about `rrricanes` and thanks for starting out with the [introducing_rrricanes](https://gist.github.com/timtrice/ae78fe3a5b9cc5805c3dc004e0a14fe9) gist. Here are some practical details. I'll give some feedback on the draft in a separate comment below.

As Maëlle mentioned, you could do either a short post for the [Developer Blog]

[2017-08-23 20:48] stefaniebutland commented on #118
Some comments on [introducing_rrricanes](https://gist.github.com/timtrice/ae78fe3a5b9cc5805c3dc004e0a14fe9) to add to Maëlle's:

- "archived" in "...current and archive tropical cyclone data..."
- If for the main blog, definitely good to add a short narrative intro about your motivation etc as noted in my comment above.
- maybe create another heading for the section on installation so it doesn't f

[2017-08-23 20:55] aurielfournier commented on #136
- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly stating problems the software is designed to solve and its target audi

[2017-08-23 21:53] mpadge commented on #116
thanks @stefaniebutland, and no worries about delayed response. I'm absolutely keen to get these packages known in any and all ways possible. Absolutely happy for at least one to be a main blog entry, for which my preference would be `bikedata`, with `osmdata` then shucked off to a dev blog post. If that's okay with you, i'll happily get cracking on a PR for main blog post on bikedata

[2017-08-24 03:02] MilesMcBain commented on #139
Thanks for your response @raymondben.

Firstly, one small point about the maintenance: With the split design you get much more freedom. You may not even put all your datasources on CRAN, you can choose to leave some on GitHub where the expectations about maintenance are much lower. In this way the maintenance burden could be reduced.

Secondly, I did get some of the way through my review before we

[2017-08-24 04:48] raymondben commented on #139
Thanks @MilesMcBain - a quick question on the config arrangement (and, yes, it is unfortunately easy to unknowingly lose the attributes). The reason for doing it that way is because those attributes apply to the whole configuration (and thus should only be stored once, not in every row) whereas the rows hold data-source-specific information that is not necessarily common across rows. An alternativ

[2017-08-24 06:05] emhart commented on #136
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2017-08-24 06:17] emhart commented on #136
@mstrimas As an aside from my review I wanted to say that this is a really cool solution to a big problem in R that I actually encounter in my work often.  I might have a dataset that's a 20-30 GB and I don't want to actually crunch the whole thing in R.  So I do a slightly more hacky approach which is to do some filtering in the data export phase (in SQL) and then some basic shell commands to sam

[2017-08-24 12:43] beanumber commented on #140
I don't know if this will change your position @maelle, but I've posted the [long-form article for this](https://arxiv.org/abs/1708.07073) on the arXiv. The manuscript explains the package itself and the purpose of the package in far greater detail.

[2017-08-24 12:45] maelle commented on #140
Thanks @beanumber, the editors position was because we couldn't see how the package helps *reproducibility* compared to existing approaches. Is there a part of the article dealing more specifically with this? In any case good work.

[2017-08-24 14:04] beanumber commented on #140
Section 2 addresses this. You might be interested in Section 4.2 to see an example of how this might work in practice.

[2017-08-24 18:39] mstrimas commented on #136
Thanks for all the helpful feedback! I'll start working through your suggestions and incorporating them.

@emhart yes, I think there is potential to make a more general AWK package for working with large files. In fact, I did originally considering doing that first, then making `auk` depend on the more general package, but just didn't have the time. there may also be better options than AWK that I

[2017-08-24 19:29] bocinsky commented on #13
Hi @stefaniebutland. I just submitted a pull request for a FedData tech note and a headshot and description for the community page. Let me know if there is anything else I need to do!

[2017-08-24 22:48] noamross commented on #145
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2017-08-24 23:21] noamross commented on #127
Thanks for the follow-up, @jooolia and @nealrichardson. @MarkEdmondson1234, I concur with Neal's follow-up requests.  As for Neal's suggestions, I think you should address the tests and authentication especially, though authentication might be deferred if you have specific plans that are dependent on expected updates to googleAuthR (or use of [gargle](https://github.com/r-lib/gargle).

[2017-08-24 23:39] noamross commented on #92
@bmschmidt Just checking in on your progress here.  Are you planning on revising, and do you  have an expected timeline?

[2017-08-25 02:01] daranzolin commented on #145
Much obliged @noamross! I updated the package accordingly: `lintr::lint_package` returns nothing, and I removed the extraneous imports.

[2017-08-25 03:44] sckott commented on #119
hi @mwmclean - coveralls is turned on now for this repo, can you try again?

[2017-08-25 07:17] mwmclean commented on #119
@sckott I restarted a build on travis just after I saw your message.  Still saying no builds on [coveralls.io](https://coveralls.io/github/ropensci).

[2017-08-25 10:13] mpadge commented on #121
@karthik @adamhsparks For the record at this point in the proceedings:

- [x] **The author has responded to my review and made changes to my satisfaction. I recommend approving this package.**

I've added the new functionality that @adamhsparks mentioned above, but it lacks full documentation at the moment. I'm totally happy for the package to be accepted, and suggest that the subsequent JOSS subm

[2017-08-25 10:31] adamhsparks commented on #121
I'm in no hurry. We can wait until we've got it fully documented to release it on CRAN and submit to JOSS.

It's there on GitHub for anyone that wants to otherwise use it and we might find more bugs in it. I've also a few other issues open that could be nice to address before releasing on CRAN.

Thank you, @mpadge for adding the new functionality. The package is really coming together nicely now.

[2017-08-25 14:20] Dahaniel commented on #34
Ok, should be done.

I fixed:
- [x] added basic unit tests to both packages
- [x] fixed the 'no visible binding for global variable'
- [x] moved CHANGELOG to NEWS.md
- [x] added entries to .Rbuildignore

there remains:
- [ ] a NOTE about loading data to the global environment  that will stay for now (see https://github.com/ropensci/onboarding/issues/35#issuecomment-218391691)
- [ ] circularity: No

[2017-08-25 14:21] Dahaniel commented on #35
Done, please see https://github.com/ropensci/onboarding/issues/34#issuecomment-324934191

[2017-08-25 14:46] sckott commented on #119
So i'm not that familiar with coveralls for R pkgs. It's turned on for your repo, but do you need a Coveralls key on Travis as an env var?  Used to need one for codecov, but now just connects automatically.

[2017-08-26 13:14] MarkEdmondson1234 commented on #127
Thanks again @nealrichardson it sounds like we're close :)

Logging - ok ok, I've turned it down :)  This should just be a documentation issue, to get more/less logs you can use `options(googleAuthR.verbose)` - I set the NLP feedback down from 3 to 2.   Default is 3, so you should see less, and I can get my more verbose logs back if I set `options(googleAuthR.verbose = 2)`

[code]

Would you be ab

[2017-08-27 07:44] sinanshi commented on #102
# JOSS Review
Dear reviewers,

Thank you so much for your very helpful comments, and we are very sorry to be spending such a long to time to address these comments. We have made several re-structuring of the code, inspired by your comments.

- Pipeline removal: we would like to put our focus more on data cleaning and wrangling. CCHIC is just an example to demonstrate, how we clean the high resolut

[2017-08-27 13:29] maelle commented on #140
@beanumber, thanks for providing us the link to your manuscript.

After discussion within the editorial team we still think that albeit very useful `etl` is out of scope for rOpenSci and here is why:

* It is a general data manipulation tool, not specifically aimed at retrieving or extracting a data type or source

* The reproducibility packages that are in scope as per our policies are "Tools tha

[2017-08-28 04:19] mwmclean commented on #119
Looks like something weird with my package or `covr`.  One of my tests is only failing during `covr::coveralls(type = "all")` even though the build is successful.

[2017-08-28 16:23] sckott commented on #119
don't know @jimhester ? any thoughts?, see https://travis-ci.org/ropensci/RefManageR/builds/268404448#L2305

[2017-08-28 17:13] jimhester commented on #119
To debug this you should run

[code]

Then you can inspect the package and libraries that are created locally.

When I do this I get the following output.

[code]

[2017-08-28 18:37] geanders commented on #121
The package authors did a really excellent job of responding to the comments and suggestions I had. I think the final package is really, really nice. I checked my final approval in the box in my original review.

[2017-08-28 19:03] karthik commented on #121
Fantastic, thank you @mpadge and @geanders!
 🙏  🙏  🙏

[2017-08-28 19:15] karthik commented on #121
Hi @adamhsparks,
I'm pleased to accept the `bomrang` package into the ropensci suite. I have also created a team for this package on ropensci's github org. Please accept that team invitation request and proceed with transferring your repo. Once it's transferred, I'll make you full admin and you'll be able to continue updating the package.

**Badges:**

Please add these two badges to your repo:

[c

[2017-08-28 20:49] adamhsparks commented on #121
Thanks Karthik.

I've moved the repository over, have added the footer and updated the links to the repository in the Description, etc. Just waiting on admin status so I can update the package's website link now.

[2017-08-28 22:19] karthik commented on #121
@adamhsparks done!

[2017-08-28 22:41] karthik commented on #121
Hi @adamhsparks

Just a last few items to check off!

Since you've asked for a JOSS submission, please generate a new release with the up-to-date Zenodo DOI.

Then please initiate a submission here and suggest me as the editor. I will watch for it and take care of it at the other end.

Before you update the DOI, can you please add a little bit more in terms of research applications for the paper?

[2017-08-29 04:19] adamhsparks commented on #121
Hi @karthik,
It'll be a bit before the JOSS submission as @mpadge is not able to work on this right at the moment and there is still documentation left to add for the `get_weather_bulletin()` functionality before the package is fully ready for submission to CRAN and the paper still needs his ORCID. So it'll be a bit, but I'll add some more detail and correct the spelling in the meantime.

thanks!

[2017-08-29 05:40] nealrichardson commented on #127
@MarkEdmondson1234,
Sure, I've shared the text that threw these errors [here](http://enpiar.com/comments.rds). Just `readRDS` that file.

For `gl_nlp`, there are six strings that cause errors, as far as I can tell, and looking at them, I don't see what's special about them. You can see which they are by doing

[code]

As for the shape of the return from `gl_nlp`, here's a (non-tidy) way of reshapi

[2017-08-29 21:42] noamross commented on #127
Looks like things are coming along. Just a quick note about tidyverse dependencies: we don't take a strong position one way or the other. My personal experience is that, from a user perspective things are relatively smooth and it is usually installed, but from a developer perspective the rapid iteration and increasingly large number of connected packages result in greater maintenance burden.

[2017-08-29 21:55] noamross commented on #102
Thank you for the response, @sinanshi. @aammd and @haozhu233, let us know if the changes address your concerns and if there are further areas of follow-up.  Let me comment on a few things:

- **rOpenHealth** is dormant as an organization these days.  We previously referred health-related packages to them but they are not currently onboarding in any regular way.
- The "general tool/specific applica

[2017-08-30 02:38] karthik commented on #136
@aurielfournier A gentle ping 🙏

[2017-08-30 05:20] karthik commented on #136
@aurielfournier Sorry I totally missed that your review was above Ted's. My apologies.

[2017-08-30 11:13] noamross commented on #145
Reviewer: @czeildi
Reviewer: @fmichonneau
Due date: 2017-09-23

[2017-08-30 17:14] richfitz commented on #114
OK, I have made the last set of changes and pushed to github!  Please let me know if there's anything I have missed

[2017-08-30 19:32] ottlngr commented on #124
Sorry for the delay! Here is what I achieved based on your reviews:

- Improved formatting, respected code conventions and spell checked the package
- Avoided unnecessary dependencies (`plyr`)
- Hid internal functions from the user by not exporting them
- Moved helper functions to `helpers.R`
- Avoided warning messages and improved error handling
- Improved the vignette
- Linked to the `humaniform

[2017-08-30 19:59] aurielfournier commented on #136
No problem @karthik ! Our reviews came in withing a few hours of each other, easy to miss. I appreciate the gentle reminder, those are often necessary to keep me on top of things.

[2017-08-30 20:22] stefaniebutland commented on #119
Hello @mwmclean. Following up to ask if you are interested in writing a blog post about your package: either a short-form intro to it (https://ropensci.org/tech-notes/) or long-form post with more narrative about its development. ((https://ropensci.org/blog/).

[2017-08-30 21:30] adamhsparks commented on #124
Thanks @ottlngr, this all sounds great. I'll have a look at what you've done this weekend.

[2017-08-31 12:19] maelle commented on #114
Thanks a lot for the update @richfitz!

@stephlocke @hrbrmstr can you look at Rich's work and answer the last question "The author has responded to my review and made changes to my satisfaction. I recommend approving this package." in your reviews? Thanks a lot in advance.

[2017-08-31 12:36] MarkEdmondson1234 commented on #127
I ran through the above today and the latest version has address them I think:

## NLP output

Thanks very much for the comments dataset, I found it was triggering some weird API responses so dealt with those which would have affected the output shape. (many-to-one entities for one word - i.e.  US Army = US and US Army)

All the 0-length strings in there are now skipped rather than wasting an API

[2017-08-31 16:30] stephlocke commented on #114
Done

[2017-08-31 20:31] sckott commented on #124
Thanks very much @ottlngr - will have a look soon and get back to you

[2017-08-31 21:56] czeildi commented on #145
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

### Summary

Overal

[2017-09-01 07:33] maelle commented on #114
Thanks @stephlocke!

[2017-09-01 09:00] MahShaaban opened #146 "Pre-submisstion Inquiry: cRegulome"
I'd like to make a pre-submission inquiry for the `cRegulome` R package. `cRegulome` provides programmatic access to transcription factors/mircoRNAs-gene expression correlation in cancer provided by [Cistrome Cancer](http://cistrome.org/CistromeCancer/) and [miRCancerdb](https://mahshaaban.shinyapps.io/miRCancerdb/) respectively. In addition, the package provides S3 classes and methods to store, m

[2017-09-01 18:11] daranzolin commented on #145
My sincere thanks to Ildikó, both for the speed and comprehensiveness of the review. I've learned a lot about best practices already!

I've tried to address each concern in the latest commits:

Done.

document the columns in the order they appear
one / missing from the documentation of language
... is not needed as all columns are explicitly documented
based on this, consider adding your perseus_c

[2017-09-01 19:44] czeildi commented on #145
hi, just a quick comment about `row_number`: `dplyr::row_number` should be called with one of the columns of your data frame, e.g. `section = dplyr::row_number(urn)`. My question still holds but your solution seems perfectly fine, I just do not understand this. I will look at the other parts of your update later.

[2017-09-02 03:20] adamhsparks commented on #124
Thanks for your efforts to address my comments, @ottlngr. I know that I'm being picky here, but I think that there are a number issues to be addressed first before I can check off on accepting this package.

## Comments on code and documentation

1. Due to issues with _covr_ on my machine, I can't use the _goodpractice_ package, but I can still run `lintr::lint_package()`, which raises several eas

[2017-09-02 04:07] mwmclean commented on #119
Hi @stefaniebutland, it doesn't look like I'm going to be able to do a blog post in the short term, but I'd like to maybe do one at some point in the future.

[2017-09-02 18:57] timtrice commented on #118
@maelle , @stefaniebutland ,

I've added additional visuals to the next version and moved the document to it's own repo:

https://github.com/timtrice/introducing_rrricanes

This may be a bit longer than what was intended but I really wanted to cover the big ideas behind the package and try to explain them under the assumption that anyone using it would be unfamiliar with what the different data me

[2017-09-02 22:07] czeildi commented on #145
Hi @daranzolin , the changes look great!

You forgot to apply the groupname --> group_name change in the readme and vignette as well so these now do not run.

Answering your question about return statements: I believe it is accepted practice not to use explicit return although I failed to quickly find reference for this. From an R function the last evaluated expression will be returned so for exam

[2017-09-03 14:10] ottlngr commented on #124
Thanks, @adamhsparks for the feedback, especially for the hint to use `httr::http_error()`!

`goodpractice::gp()` still returns missing unit tests, but I'm working on that.

I agreed to all your comments, see the commits below for details:

https://github.com/ottlngr/bib2df/commit/d21428e969ad35893e11ddea939bee9c00b1ec02
https://github.com/ottlngr/bib2df/commit/eb02636712a0d9200f4dc0e5f50581ea5200

[2017-09-03 22:03] adamhsparks commented on #124
Thanks @ottlngr.

Line 65 of README.Rmd, please correct the spelling of "Community"

`## Comunity Guidelines`

Aside from that, looks good to me.

[2017-09-04 16:54] ottlngr commented on #124
Sorry for the typo - just noticed I had not knitted the .Rmd but now all changes are in place: https://github.com/ottlngr/bib2df/commit/4ca592b6ecd2a9ef02fbd5561ddd994b641e1531

Thanks for the approval, all in all a very helpful and educational process!

[2017-09-04 22:43] daranzolin commented on #145
Woops, thanks for the reminder! Fixed.

Regarding package level documentation--[is this correct?](https://github.com/daranzolin/rperseus/blob/master/R/rperseus.R)

Also addressed:
1. Added packages to "suggests" in DESCRIPTION
2. Included link to website in DESCRIPTION
3. README starts with package name

[2017-09-05 04:40] nealrichardson commented on #127
Ok. Errors seem resolved, so that's good. I still think the (new) `gl_nlp` return isn't quite right in this case though. In skipping the empty/missing strings, now the return value isn't a similar shape to the input. My input text vector is length 1000, but only "language" in the return value is length 1000. "documentSentiment" should have 1000 rows too, with 0's for the rows where the strings wer

[2017-09-05 15:45] stefaniebutland commented on #119
Just ping me if and when you're interested and have the time @mwmclean. Thank you for submitting your package!

[2017-09-05 15:47] stefaniebutland commented on #118
Thank you for the update @timtrice. I'll have another look early this week.
fyi, @maelle has limited internet for now so she might not respond (yet)

[2017-09-05 16:23] sckott commented on #146
Thanks for your pre-submission inquiry @MahShaaban

We'll discuss this and get back to you soon.

[2017-09-05 16:25] sckott commented on #141
👋  @rtaph @AliciaSchep - reviews due next monday

[2017-09-05 16:26] sckott commented on #133
@rflprr let me or the reviewers know if you have any questions as you go through reviews

[2017-09-05 17:45] noamross commented on #145
Thanks for your rapid review, @czeildi, and your rapid responses @daranzolin! Just an FYI, you may want to hold off on making additional changes in response  until the second reviewer gets his review in, as its possible there are related or conflicting opinions.

[2017-09-05 19:46] sckott commented on #35
thanks @Dahaniel

[2017-09-05 19:50] sckott commented on #34
@Dahaniel

For the data issue: isn't it possible to do this approach:

- use the default data.frame in `DooR.data` package (NOT loaded into the global namespace, but only in the package namespace)
- optionally, the user can pass in a modified version of the data.frame to a parameter in the function; overriding the default data.frame
- for the user to get access to the data.frame to modify it, they

[2017-09-05 19:55] sckott commented on #34
There's a few more things to fix. These are all quite important to fix.

[code]

[2017-09-05 20:23] mstrimas commented on #136
Finally getting to this, here are responses to @aurielfournier comments:

- details later: I've put a "Quick Start" section at the top of the vignette that gives a simple example of how what the package does before delving into the details. I also put this section at the top of the readme. **Does this address what you were getting at?**
- remove `unlink`: done!
- don't use "EBD": replaced all inst

[2017-09-05 21:18] sckott commented on #124
@ottlngr

* instead of commenting out `install.packages` in your vignette, i meant to say use `{r eval=FALSE}` in the knit chunk - so for the reader they can run it easily, but it's not actually run during the build process

Looks good otherwise.

[2017-09-05 21:19] mstrimas commented on #136
Here are my responses to @emhart:

- multi-step process: I agree, this is confusing, I've added a "Quick start" section at the top of the vignette and readme, which tries to explain this. **Do you think this clarifies things?**
- wrapper function: I think an all in one function is an interesting idea. I initially wanted to have a clear distinction between defining filters and running filters becau

[2017-09-05 23:42] sckott commented on #146
We've discussed this and it is in scope. We encourage you to submit the package.

If you have any question regarding rOpenSci guidelines or something else during further package development don't hesitate to ask questions on [rOpenSci forum](https://discuss.ropensci.org/) or even via this thread if that's easier for you

[2017-09-05 23:42] #146 closed

[2017-09-05 23:48] adamhsparks commented on #124
I agree with @sckott on this point. You can silently load _bib2df_ elsewhere without echoing the code so that the library loads to execute the examples that follow.

[2017-09-06 02:59] MahShaaban commented on #146
Thanks a lot @sckott. Will do.

[2017-09-06 04:03] MahShaaban opened #149 "Submission: cRegulome"
### Summary

-   What does this package do? (explain in 50 words or less):
Obtains a database of pre-calculated microRNA and  transcription facor-gene correlations in cancer. In addition, the package  defines methods for handling and visualizing the data.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized htm

[2017-09-06 12:22] Dahaniel commented on #34
Thanks @sckott , how can I reproduce the good practice output you posted here?

[2017-09-06 13:07] mstrimas commented on #136
@emhart Just added ability to manually set awk path by setting the `AWK_PATH` environment variable in .Renviron. Should work on Mac or Windows, though I don't have a Windows machine to test.

[2017-09-06 17:17] ottlngr commented on #124
Thanks for clarification. I had a look at other packages' vignettes - I removed the `install.packages()` and load the package with `echo=FALSE,message=FALSE`. I guess you're ok with that?

[2017-09-06 19:01] stefaniebutland commented on #118
Hi @timtrice
This looks ready to set a date as an rOpenSci blog post. Please send a pull request according to instructions here: https://github.com/ropensci/roweb/blob/master/.github/CONTRIBUTING.md and we will do final review on the pull request.

- I propose posting on Tues Sep 19, so please submit pull request by Tues Sep 12.
- For tags (see CONTRIBUTING.md above for format), I suggest: R, onbo

[2017-09-06 19:49] sckott commented on #124
@ottlngr sorry, i meant `eval = FALSE` - still want to echo it so the user sees that they probably need to isntall the pkg brefore using it 😄

[2017-09-06 20:00] ottlngr commented on #124
I'm totally confused now about that simple task :joy:

I had a look at other vignettes (like https://github.com/ropensci/tabulizer/blob/master/vignettes/tabulizer.Rmd), many do not put `install.packages()` inside the vignette. But if one does, `eval = FALSE` is the chunk option of choice, @sckott? This makes sense by all means.

And the `library()` command without any chunk option then?

[2017-09-06 20:03] sckott commented on #124
Yes, that's right, `install.packages`  in a chunk with `eval = FALSE`, and `library` in a chunk that does run (`eval = TRUE` the default)

[2017-09-06 20:09] sckott commented on #34
install `devtools::install_github("MangoTheCat/goodpractice")` then run `.Sys.setenv(NOT_CRAN = "true"); x = goodpractice::gp(); x`

[2017-09-06 20:11] ottlngr commented on #124
:sweat_smile:

https://github.com/ottlngr/bib2df/commit/d4013453d4868c11acf291d2d977a9ce5a4d83ba

[2017-09-07 04:18] rflprr commented on #133
@sckott While constructive and certainly helpful, I'm not seeing anything in the feedback that appears to be severe/urgent. If you do, calling those things out would be the most helpful thing at this point.

Thank you very much, @MarkEdmondson1234 and @nistara.

Off-topic: If you know good R engineers who we could hire on a freelance basis to help us improve and continue to develop these libraries

[2017-09-07 05:11] AliciaSchep commented on #141
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2017-09-07 17:00] sckott commented on #133
@rflprr can you clarify what you mean by "I'm not seeing anything in the feedback that appears to be severe/urgent"?

the way our process works is we want submitters to respond to reviewers, making changes or if they don't think they should change something then give a reason why not.

[2017-09-07 17:45] sckott commented on #133
to clarify:

The purpose of this review is to improve the package along many lines (usability, performance, documentation, maintainability). The first people you need to convince of what is or is not necessary are the reviewers. Here's a good example of responding to reviewers (though it doesn't all have to be in one comment): https://github.com/ropensci/onboarding/issues/93#issuecomment-291005794

[2017-09-08 00:17] ChrisMuir commented on #141
Hi Alicia,

Thanks so much for taking the time to review and for the great feedback! I will hold off on writing out an official reply to all review comments until @rtaph has replied with his review. In the meantime, I will start working on some of your suggestions, like creating man page, expanding CI, etc.

Just a quick note on the `test_that` tests being hit or miss....they've always been like t

[2017-09-08 16:18] steffilazerte opened #150 "Pre-submission Enquiry"
We (@boshek and I) are hoping to submit our package [`weathercan`](http://github.com/steffilazerte/weathercan) to rOpenSci for review in the near future, but acknowledge that another package [`rclimateca`](https://cran.r-project.org/package=rclimateca) is already available on CRAN (but not on rOpenSci).

Both packages concern the downloading of Environment and Climate Change Canada weather data in

[2017-09-08 18:03] MarkEdmondson1234 commented on #127
No worries, its a good test :)

The original text (that was passed) is available in the `$sentences$content` list.  After a few plays with it I'm thinking it would actually be better to throw an error if the input text is not in suitable form (e.g. a zero length "" like in the comments test set) and put the onus on the user to supply clean data.  Do you think thats fair?

The problems I'm seeing i

[2017-09-08 18:31] sckott commented on #150
Thanks for your presub inquiry @steffilazerte

We're discussing this and will get back to you soon

[2017-09-09 02:29] karthik commented on #149
:wave: @MahShaaban
I will be your editor on this submission. I'm just letting you know that I'm on travel at the moment and will update the thread by Tuesday the 12th when I'm back.

[2017-09-09 03:01] MahShaaban commented on #149
That's alright @karthik. Safe travels.

[2017-09-09 14:41] rtaph commented on #141
## Package Review

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work.

#### Documentation

The package includes all the following forms of documentation:

- [X] **A statement of need** clearly stating problems the software is designed to solve and its target audience in README
- [X] **Installation instructions:** for the development version of packa

[2017-09-09 16:53] ChrisMuir commented on #141
@AliciaSchep and @rtaph,

Thank you both so much for the thorough reviews! I've already begun working on suggestions made by @AliciaSchep, I will now start to address all suggestions made by @rtaph.

I'll compile a reply that addresses each point made within the reviews. This may take some time, but I hope to have a reply to you both in 1-2 weeks.

Also, while I'm working on package updates, I hav

[2017-09-09 17:17] sckott commented on #141
thanks for your reviews @AliciaSchep and @rtaph !

plan sounds good @ChrisMuir

[2017-09-09 23:34] rtaph commented on #141
Hi @ChrisMuir,

Happy to help. If you are only relying on the pipe, then I think your suggestion to import `magrittr` makes sense. Even tidyverse packages such as `purrr` have done this. Note that `purrr` require `magrittr (>= 1.5)`; there may have been some major changes in that version.

As for the second point-- well everyone has their opinion and you could do it in base R with if you [stick aw

[2017-09-10 05:24] ChrisMuir commented on #141
Got it, thanks for sharing your thoughts on those. Definitely leaning towards implementing them both. I'll look into `magrittr` version history, to see if I need to specify a minimum version.

Thanks!

[2017-09-11 05:19] nealrichardson commented on #127
So, the use case I was envisioning that got us here was that I have this survey, and it has some open-text response variables in it, and I want to do sentiment analysis on that text and see what characteristics are associated with positive/negative sentiment. Naively, something like:

[code]

I can't do that (at least not as cleanly) if "documentSentiment" may have fewer rows than the input data.

[2017-09-11 17:23] timtrice commented on #118
Hello @stefaniebutland , @maelle ,

I wanted to give you guys an update on this. I finished the post last week and was ready to submit to roweb. However, currently the NHC website is down for GIS products making it impossible to render the Rmd file.

They are aware of the issue and, I've been told are trying to correct it. But I have no idea when that will be. Basically, I'm on hold for now.

[2017-09-11 18:50] stefaniebutland commented on #118
Thanks @timtrice for the update! While your post is scheduled to go up Sep 19, I can easily move that date. Just ping me when you have submitted to roweb.

[2017-09-11 22:06] sckott commented on #150
@steffilazerte we editors all agree it's a good fit, looking forward to your submission!

If you have any question regarding rOpenSci guidelines or something else during further package development don't hesitate to ask questions on [rOpenSci forum](https://discuss.ropensci.org/) or even via this thread if that's easier for you

[2017-09-11 22:06] #150 closed

[2017-09-11 23:08] aurielfournier commented on #136
@mstrimas

The Quick Start is great, exactly what I was looking for.

I think one example is sufficient for the with and without pipes.

I see what you mean about `auk_filter()` now, I guess I could go either way on that one. Do you have thoughts @emhart ?

[2017-09-13 06:25] karthik commented on #149
Thanks for the submission! Looking for reviewers now. I also have two comments about one vignette and one test below.

### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accept

[2017-09-13 09:00] MahShaaban commented on #149
Thanks @karthik. I am looking forward.
Regarding your comments:
+ I put the `.DS_Store` to the `.gitignore` file
+ I am using `Rcurl` only because of the function `url.exists`. I am not aware of an alternative in `curl`.
+ When I run either `devtools::check()` or `goodpractice::gp()` I don't get any errors. I am not sure what to do since I can't reproduce the same `goodpractice` report.
+ Regardin

[2017-09-13 15:46] James-Thorson opened #151 "New submission: FishLife"
### Summary

-   What does this package do? (explain in 50 words or less):
Reposits predicted life-history parameters (regarding mortality, growth, size) for more than 30,000 fishes scraped from FishBase using `rfishbase`.  Also provides code to update predictions, replicate results, and visualize predictions.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the

[2017-09-13 22:53] boshek opened #152 "New submission: tidyhydat"
### Summary

-   What does this package do? (explain in 50 words or less): `tidyhydat` provides functions to extract historical and real-time national hydrometric data from Water Survey of Canada data sources

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page): https://github.com/bcgov/tidyhydat

-

[2017-09-13 23:00] karthik commented on #149
For a replacement to `url.exists`, there are also options in `httr`
e.g. `http_error("http://www.google.com")`

No! As reasonable an amount of coverage as possible. We realize that 100% coverage is hard to achieve for most packages.

I'm currently seeking reviewers and have sent out requests. I will update the thread when I'm ready to assign reviewers.

[2017-09-13 23:11] boshek commented on #152
Results of `goodpractice`

[code]

[2017-09-14 10:37] MarkEdmondson1234 commented on #127
Definitely adding you as a contributor @nealrichardson - thanks so much for the code explaining the data shape, it feels the package is already at my usual 0.3.0 given this testing/feedback.

I've updated the changes and dropped the `map_df` which needed `dplyr` for a base version:

[code]

All tests changed to reflect the new (final?) NLP output shape.

[2017-09-14 16:15] sckott commented on #151
thanks for your submission @James-Thorson - We're discussing this now and will get back to you soon

[2017-09-14 16:16] sckott commented on #152
thanks for your submission @boshek  - We're discussing this now and will get back to you soon

[2017-09-14 16:25] karthik commented on #149
Assigning @PeteHaitch as reviewer 1. (Note: Pete is away till the 21st and his review will be due 3 weeks from then which is Oct 12th)

[2017-09-14 17:43] karthik commented on #149
Assigning @MMulvahill as reviewer 2. (Matt is also away next week and will return and begin 9/25). Review due by 10/16

@MahShaaban Please stay tuned till the reviews show up.

[2017-09-14 17:44] karthik commented on #149
@MahShaaban If you wish to add a badge to your README, you can do so with the following code

[code]

[![](https://badges.ropensci.org/149_status.svg)](https://github.com/ropensci/onboarding/issues/149)

[2017-09-14 18:56] sckott commented on #124
Approved! thank for your submission @ottlngr  !

* Please transfer the package  to `ropensci`- I've invited you to a team within our ropensci organization. After you accept you should be able to move it.
* Make sure to
    * add rOpenSci footer to README
`[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.org)`
    * Change any needed links, such those fo

[2017-09-14 19:15] sckott commented on #152
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2017-09-14 20:54] timtrice commented on #118
@stefaniebutland @maelle

I was finally able to render the Rmd file and submit the [pull request](https://github.com/ropensci/roweb/pull/348) as referenced above.

[2017-09-15 00:59] MahShaaban commented on #149
Great. I am looking forward to hearing from them. Thanks @karthik for your efforts.

[2017-09-15 11:48] ottlngr commented on #124
Thanks for guiding me through the whole process, @adamhsparks and @sckott !

I will transfer the repo to rOpenSci this evening (CEST). As soon as the transfer is completed, I will make the needed changes.

I'm definitely interested in writing a post for https://ropensci.org/tech-notes/, and maybe even a long-form post for https://ropensci.org/blog - depends on the existence of a suitable narrative

[2017-09-15 16:07] sckott commented on #124
Thanks, sounds good.  Okay, just let us know on the post either way.

[2017-09-15 16:07] #124 closed

[2017-09-17 04:39] nealrichardson commented on #127
Looks good to me! I (finally!) have checked the "I recommend approving this package" box on the list above. I do still encourage you to push for higher test coverage, but I won't condition my approval on that. Just something for you to keep in mind going forward.

Excellent work putting together and enriching this package. It provides a nice R interface around a useful API. I look forward to the o

[2017-09-17 08:04] MarkEdmondson1234 commented on #127
Thanks! I will keep iterating on the tests and documentation as I go.

May I add @nealrichardson and @jooolia as contributors?  Are the below details ok?

[code]

[2017-09-18 11:34] noamross commented on #127
Approved! Thank you, @MarkEdmondson1234, @nealrichardson, and @jooolia for an excellent package and review process that has made it even better!

@MarkEdmondson1234, we generally encourage people to use the `rev` role for reviewers, as we see this role as distinct from contributors.  You can see an example here: https://github.com/ropensci/bikedata/blob/master/DESCRIPTION#L7-L10 . I note that this

[2017-09-18 11:36] noamross commented on #145
@fmichonneau A friendly reminder that your review is due this Saturday, 9/23.

[2017-09-18 11:36] #101 closed

[2017-09-18 11:38] noamross commented on #113
Hello @jirkalewandowski - I wanted to check in again on your plans for this package. Do you have an expected date where you'll respond to reviews with your updates?

[2017-09-18 12:38] jirkalewandowski commented on #113
Dear @noamross, thanks for the reminders and sorry for the late response, I've been offline for a while. My plan is to incorporate the feedback in October, most likely in combination with packing together gitlabr 1.0, the first version that will no longer support the old API v3, but only v3.

[2017-09-18 18:54] MarkEdmondson1234 commented on #127
Thanks @nealrichardson !  It was all in all a very positive experience.

I have updated and transferred, and would be happy to do a blog post.

[2017-09-18 18:57] MarkEdmondson1234 commented on #127
May I ask where the package website will sit now?  I can maintain a fork on my GitHub as that `CNAME` is set up with pages for `code.markedmondson.me`, or it can sit wherever `rOpenSci` has one.

[2017-09-18 19:43] noamross commented on #127
@MarkEdmondson1234 rOpenSci doesn't have a domain for package websites. It's fine that it lives on both your personal page and ropensci.github.io/googleLanguageR (as it is already).

[2017-09-18 19:43] #127 closed

[2017-09-18 23:57] cboettig commented on #130
Ok, with apologies for the delay, all edits have now been addressed.  I've tried to summarize changes in issues under an (onboarding milestone](https://github.com/codemeta/codemetar/issues?q=is%3Aissue+is%3Aclosed), there are summaries issue for all of the changes made in response to [Toph](https://github.com/codemeta/codemetar/issues/30) and [Anna](https://github.com/codemeta/codemetar/issues/31)

[2017-09-19 00:57] sckott commented on #151
hi @James-Thorson

We've discussed this and have decided that the package is out of scope for ropensci (see label attached now)

The main point is that we are not equipped in terms of editors and reviewers to review such a package that seems to be more on the "methods-y" side of things

Let me know if you have any questions.

[2017-09-19 00:57] #151 closed

[2017-09-19 05:53] stefaniebutland commented on #127
Hi @MarkEdmondson1234. Great to hear you'd like to write a post about your pkg. I've sent you some details via DM on rOpenSci slack

[2017-09-19 14:50] noamross commented on #130
Thanks, @cboettig! @toph-allen and @annakrystalli, please look over the changes and let us know if they address your concerns. If yes, just say so and check the appropriate boxes up on your review.  If not, let us know that else @cboettig should follow up on.

[2017-09-19 15:26] annakrystalli commented on #130
Hi all, super happy with @cboettig responses and have checked the appropriate boxes. An offical `Hello from the world` to `codemetar`! 🚀

[2017-09-19 15:58] fmichonneau commented on #145
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2017-09-19 16:15] noamross commented on #145
Thanks for your review, @fmichonneau! @daranzolin, let us know when you have made changes in response to this and @czeildi's remaining comments.

[2017-09-20 02:04] adamhsparks commented on #121
Hi @karthik,
I've submitted the latest version, 0.0.7, of _bomrang_ to JOSS this morning and selected you as the editor. @mpadge has finalised the documentation and added a bit more functionality to handle the weather bulletins along with his ORCID and affiliation in the paper.

I've also done spellchecking and other minor fixes here and there to make it nicer.

Thanks for your patience.

[2017-09-20 21:08] PeteHaitch commented on #149
Hi @MahShaaban,

I've just started to look at **cRegulome**. I first tried running `devtools::check()` but I get an error during the creation of the vignette (see below). I note that **cRegulome** is building fine on Travis. The error occurs on my machine in the call `upset(ob_tf, study = 'ACC')` in the vignette:

[code]
Stepping through this function, the error arises in the `upset.CTF()` method,

[2017-09-20 22:56] MahShaaban commented on #149
Hi @PeteHaitch, thanks a lot for taking the time to check the package.
I am unable to reproduce the error.
I can think of one thing, `devtools::check()` overwrites the `NAMESPACE` file which has three manual entries `import(RSQLite)`, `import(R.utils)` and `import(dbplyr)`. I still don't get an error when removing these entries but you may try re-clone the package and run `devtools::check(document

[2017-09-21 01:06] PeteHaitch commented on #149
Starting fresh and running `devtools::check(document = FALSE)` still resulted in the same error. The error occurs when I run the vignette code manually, too.

I'll take a closer look tomorrow. In the meantime, can you please post the output of `devtools::session_info()` on the machine you are able to build the vignette so I can compare R version, package versions etc. with what I'm running (I tend

[2017-09-21 02:01] MahShaaban commented on #149
I ran `update.packages()` followed by `devtools::check(document=F)`, the test passes with no errors.
Then, I ran the vignette code in the same session followed by `devtools::session_info()`
<details>
<summary>Session info</summary>
<pre>
Session info -------------------------------------------------------------------------------
 setting  value
 version  R version 3.4.1 (2017-06-30)
 system   x86_

[2017-09-21 15:01] MarkEdmondson1234 commented on #127
A quick note for @noamross - the DESCRIPTION based on the example at https://github.com/ropensci/bikedata/blob/master/DESCRIPTION#L7-L10 got rejected from CRAN as it missed angular brackets around the URL, it would modify the example to:

[code]

[2017-09-21 15:06] mstrimas commented on #136
@aurielfournier I've added pipe-free examples to all functions for pipe haters.

@karthik what's the next step here?

The eBird taxonomy and EBD was just updated and my intention is to submit a new version of auk to CRAN in the next few days reflecting the taxonomy changes and the suggestion from the reviewers.

[2017-09-21 15:13] noamross commented on #127
Thanks, @MarkEdmondson1234!

[2017-09-21 16:37] PeteHaitch commented on #149
After downgrading some github-version packages to CRAN/BioC release-version the error has gone away (I suspect it was changes in **rlang** not being compatible with release-versions of other tidyverse pkgs. In any case, this was my problem not that of **cRegulome**). I can now proceed with my review. Thanks for your patience!

[2017-09-22 05:39] sebastiz opened #153 "submission: EndoMineR"
### Summary

-   What does this package do? (explain in 50 words or less):

The goal of EndoMineR is to extract as much information as possible from semi-structured text endoscopy reports and their associated pathology specimens for The package extracts,cleans and manipulates the data in a standardized way for the purpose of automating audit and further research in Gastroenterology.

-   Paste the

[2017-09-22 21:55] sckott commented on #153
hi @sebastiz - Is this a pre-submission inquiry OR are you submitting a package?  Usually with pre-submissions you only need to briefly introduce the pkg and we discuss whether we'd like you to submit the package or not, see examples here https://github.com/ropensci/onboarding/issues?q=is%3Aissue+label%3A0%2Fpresubmission

[2017-09-23 07:54] sebastiz commented on #153
Hi Scott

Well it started as a pre submission enquiry... but your guidelines were so useful that I ended up implementing all of them to develop the package.

I guess it's therefore now a submission. Is therr anything else I need to do to make it a formal submission?

Thanks

Sebastian

________________________________
From: Scott Chamberlain <notifications@github.com>
Sent: 22 September 2017 21:55

[2017-09-23 23:08] ChrisMuir commented on #141
@AliciaSchep and @rtaph,

So just to update, I've been working on implementing changes and edits to `comtradr` based on your reviews. I wanted to outline the changes made so far.

Before getting into it, I just wanted to say I've learned A LOT during this review and while working on refining the package. Thank you both again for taking the time.

The tl:dr version of changes is [here](https://gith

[2017-09-24 18:34] rtaph commented on #141
Props @ChrisMuir on implementing so many major changes so quickly! I installed https://github.com/ChrisMuir/comtradr/commit/724d723dff33fae4384f3e10c7c43adfa985c30c and took your package for spin. Everything works nicely!

Based on your comments, I have some follow-on remarks:

Yes, my point was related to the API version (not the `comtradr` package version). I couldn't find any documentation from

[2017-09-25 16:18] sckott commented on #153
thanks @sebastiz

i changed the title to remove pre- part and removed the presubmission label

The first thing we (editors) will do is discuss fit for ropensci - we'll get back to you asap with that decision, if it's a fit, then we'll proceed as normal ...

[2017-09-25 22:37] boshek commented on #152
NOTE: Version update since original submission. `goodpractice` output is unchanged and the DESCRIPTION file above have updated accordingly. Changes are catalogued in the [NEWS.md](https://github.com/bcgov/tidyhydat/blob/master/NEWS.md) file in the tidyhydat repo.

[2017-09-25 23:48] AliciaSchep commented on #141
Great work @ChrisMuir! You addressed all my comments in the review, and tests & examples now run without issue on my computer. I like all the changes you made to the function names, arguments, output format, etc.

[2017-09-26 04:11] ChrisMuir commented on #141
Hi @AliciaSchep and @rtaph ,

Thanks for the latest comments, I have a few more edits to make. I'm going out of town Wednesday thru Monday, so I may not finish up until next week. I will reply back when I have the next set of edits done, or if I have any further questions, though I think I have everything I need.

Thanks so much!

[2017-09-26 04:14] emhart commented on #136
Sorry for the delay @mstrimas here are a few quick thoughts:

* **Do you think this clarifies things?** - *yes*
* **Do you have any thoughts on how to guess which format the text date is in?** - *No, not really, honestly I'm impressed with the ease of use built in.  I would usually specify a format, and then do a check for the format and throw an error, I don't think you need to guess*
* **Do you

[2017-09-26 13:05] mstrimas commented on #136
@emhart thanks! I like the idea of column subsetting and will start looking at the best way to implement that.

[2017-09-26 14:02] jhollist commented on #81
Bumping this.  Any additional thoughts on CC0?  I am contemplating submitting htpts://github.com/usepa/elevatr  but have not received any movement on approval for additional licenses (in spite of multiple meetings/emails/etc/...).

I'd also need to think how the transferring ownership would work.  I currently maintain all my repos on my account (so that I have admin control) and mirror them on the

[2017-09-26 18:01] sckott commented on #133
@rflprr Any thoughts on my comments above?

[2017-09-26 18:07] sckott commented on #81
i think we should allow `CC0` - it may not be OSI accepted, but I think that's fine given that gov't has an important use case in that they have to put work into public domain

what do other @ropensci/editors think?

[2017-09-27 11:19] maelle commented on #81
Sounds good, I have no strong opinion.

[2017-09-27 13:00] kbenoit commented on #81
There are interesting and complex issues with the GPL license, namely that software that uses them - for instance anything that uses Rcpp which is GPL - must also be GPL. Not every package conforms to this, for instance **dplyr** is MIT even though it incorporates packages that are GPL (including Rcpp), but technically I think this violates the GPL.

I personally prefer MIT but as I understand it

[2017-09-27 13:50] noamross commented on #81
@kbenoit My (limited) understanding is that software _incorporating_  GPL must be GPL, but software _linking to_ GPL software does not.  Since **dplyr** does not contain the **Rcpp** code, but merely lists it as a dependency, it's in the clear.  Similarly, I think a CC-0 package can link to a GPL one without problems.

I think we should narrow the carve-out a bit more: "OSI required, exemptions ma

[2017-09-27 17:50] mbjones commented on #81
Given that ROpenSci is allowing any OSI license, I think CC-0 should be just as acceptable, because through its grant into the public domain it grants more rights than all of the other OSI licenses.  Whether the GPL viral provisions apply is an orthogonal issue -- if someone can use MIT or Apache for an ROpenSci package, they should be able to use CC-0 too. So @noamross, I don't understand why you

[2017-09-27 18:48] sckott commented on #81
i agree with @mbjones

[2017-09-27 18:51] sckott commented on #152
Reviewers are @ldecicco-USGS and @lawinslow - thanks for reviewing!  due date above

[2017-09-27 19:01] sckott commented on #153
hi @sebastiz

We're curious about how broadly this may be used. Are the input files somewhat standard?  Or are there are a set of possible file formats/types you support?  Can you envision other researchers using this? Are the files in [data-raw](https://github.com/sebastiz/EndoMineR/tree/master/data-raw/data) types of files users would input?

[2017-09-27 19:44] jhollist commented on #81
I agree mostly with @mbjones

Only reason I can see to limit it somewhat is the link with JOSS.  JOSS does not accept CC-0 and we should, at a minimum, call this out like @noamross did above so that package authors who want to submit to JOSS steer clear of CC-0.

[2017-09-28 11:43] sebastiz commented on #153
Hi @sckott

There are over 10 million electronic endoscopy records across the UK alone. There is no standardised scripted approach to allow hospitals to analyse these records so that we can assess missed cancer rates/ quality of endoscopy and many other aspects as documented. This is really what this work addresses

In terms of broad applicability, the basic functions of the package can be applied

[2017-09-30 01:33] daranzolin commented on #145
Thanks @fmichonneau! Comments below.

potentially its documentation.

Done.

out of date and not include works that are being added to the catalog? Would
it make sense to provide a function to generate the catalog locally?

I've contacted Tufts for clarification. In an earlier version of the package, `get_perseus_catalog` would generate the catalog locally, but I thought it would simplify things t

[2017-09-30 05:24] sckott commented on #153
thanks! Will get back to you soon

[2017-09-30 15:52] maelle commented on #130
Thanks @annakrystalli!

@toph-allen can you have a look at @cboettig's work and answers and give a 👍 / :-1:? Thanks a lot in advance.

[2017-09-30 15:53] maelle commented on #114
@hrbrmstr could you have a look at @richfitz's answer and tell us whether it addresses all your comments? Thanks!

[2017-09-30 15:58] maelle commented on #99
@sckott any news? 😉

[2017-09-30 16:02] maelle commented on #139
@raymondben @mdsumner just checking in. 😸  Have you made enough progress on the splitting for @MilesMcBain & @lwasser to soon review the package? Thanks!

[2017-10-01 01:06] raymondben commented on #139
Hi guys, sorry, we've been held up - in part by a [bug in sys](https://github.com/jeroen/sys/issues/17) but Jeroen has kindly resolved that now. I don't think we're far off, hopefully get back to you this week.

[2017-10-01 06:17] maelle commented on #139
Ok thanks for the update!

[2017-10-02 16:57] sckott commented on #153
@sebastiz sorry for delay on this. We think it's a good fit, so we'll go ahead with the review.

Will assign an editor very soon ...

[2017-10-02 17:18] sckott commented on #121
so can this be closed then?

[2017-10-02 17:19] sckott commented on #119
can this be closed?

[2017-10-02 17:19] sckott commented on #92
apply `holding` label?

[2017-10-02 17:41] stefaniebutland commented on #119
ok with me to close re: blog post. @mwmclean please ping me if and when you want to do one

[2017-10-02 18:26] sckott commented on #99
sorry @maelle about the delay!  I have on to do list to look into the new data source options, and have not done so yet. will try to get it done asap

[2017-10-02 18:29] maelle commented on #99
Thanks for the update!  :smile_cat:

[2017-10-02 20:44] adamhsparks commented on #121
I believe so, unless you need anything else from me that I'm unaware of?

[2017-10-02 22:49] karthik commented on #121
Yes this can be closed.

[2017-10-02 22:49] #121 closed

[2017-10-02 22:51] karthik commented on #121
It hasn't shown up on JOSS yet (the system has been having some issues lately) but I'll make sure to handle it (and pass it on to the EIC) as soon as I see it. 🙏

[2017-10-03 17:12] mstrimas commented on #136
`auk_filter()` now has additional arguments `keep` and `drop` that users can use to specify which columns are output.

[2017-10-05 04:31] ChrisMuir commented on #141
Hi @rtaph and @AliciaSchep ,

I've finished up the second round of edits and changes to the package.

I've added `ignore.case` and `...` as function args to both of the lookup functions, with `ignore.case` default value set to `TRUE`.

I added internal pkg data to apply snake_case col headers to API data as it's returned from `ct_search`, and added user accessible pkg data similar to what you sugg

[2017-10-05 06:56] rtaph commented on #141
Let me start by saying great work, @ChrisMuir ! It's easy to for us reviewers to pick apart a package, much harder to implement changes. I am recommending `comtradr` for approval. 🎉

If @sckott has any citation guidance, perhaps your README should change, but to me your proposed approach sounds reasonable.

Last suggestion (I hope): Removing ['inst/doc' from your `.gitignore`](https://github.com/S

[2017-10-05 17:12] ChrisMuir commented on #141
👍 👍 👍  Thanks!

Oh these are both great ideas, I will look into implementing them after work today.

Thanks!

[2017-10-06 04:33] ChrisMuir commented on #141
So I've been working on the two vignette changes, but I'm having trouble getting the the HTML vignette included with the package. I've tried a few different things, using [this](https://github.com/STAT545-UBC/Discussion/issues/66) page and [this](http://stat545.com/packages03_activity_part2.html#vignette) page as references, but I keep running into the "rdb is corrupt" issue described [here](https

[2017-10-06 19:23] karthik commented on #153
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2017-10-06 23:32] ChrisMuir commented on #141
I've updated the `NEWS` file to reflect all of the package changes. I'm close to a point in which I'm ready to submit the updated package to CRAN.... @sckott should I wait on that until this review process is finished?

[2017-10-09 04:33] raymondben commented on #139
@MilesMcBain @lwasser @maelle

Sorry for the hiatus, think we're OK to resume the review process now. The major change is that the data source definitions have been removed, except for a few representative examples. (The full set of definitions has moved to https://github.com/AustralianAntarcticDivision/blueant. This is a separate package and not part of this ropensci submission, but it's there sh

[2017-10-09 07:14] maelle commented on #139
Thanks @raymondben! @MilesMcBain & @lwasser, you can now proceed with the review. 😺

[2017-10-09 07:15] maelle commented on #139
Note: I've updated the reviews due date to the 2017-10-30.

[2017-10-09 16:16] toph-allen commented on #130
@maelle I’ll have comments shortly. Sorry for the delay.

[2017-10-09 19:49] sebastiz commented on #153
OK. I am away for the next couple of days but I will get this done as soon as I am back

[2017-10-10 05:50] sckott commented on #141
Sorry for delay, was at a conference last week. Nice work on all changes. We don't have any policies  specifically about relationship between review and cran submissions. Some pkgs submitted are already on cran even. It does kinda make sense to wait to submit if you think the review will be done soon :)

So about DATE in citation: date is filled in on package build step, so AFAIK it's best practic

[2017-10-10 11:11] maelle commented on #130
Awesome @toph-allen thanks a lot in advance 😸

[2017-10-11 00:09] sckott commented on #141
for the vignette issue: Once it's on CRAN, vignette should be installed by default, so it won't be an issue unless users are installing dev version.

linking to vignette from a manual page is a constant problem, but can put a link to the online (github/CRAN) version on the man page 😄

Another option is to use pkgdown, but that's in addition to the vignette.

[2017-10-11 04:08] ChrisMuir commented on #141
Hi Scott,

Thanks for the input. The package is currently on CRAN, this would just be submitting the updated version with all of the pkg review updates. I'll hold off on submission though, as the review is (I believe) close to being done.

I worked more on the vignette issue tonight, I think it's now fixed and all is working properly....vignette is now available after running `devtools::install_gi

[2017-10-12 02:55] PeteHaitch commented on #149
@MahShaaban, @karthik here is my review

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ st

[2017-10-12 03:26] sckott commented on #152
😸 @ldecicco-USGS / @lawinslow reminder that your reviews are due in 1 week  😸

[2017-10-12 17:15] sckott commented on #15
@eblondel it's been over a year since we've heard from you, closing the issue, you are welcome to resubmit

[2017-10-12 17:15] #15 closed

[2017-10-12 17:15] sckott commented on #34
any thoughts @Dahaniel ?

[2017-10-12 17:17] sckott commented on #98
Given discussion over email - closing this now, you are welcome to resubmit. If software hasn't changed drastically, we can reuse reviews

[2017-10-12 17:17] #98 closed

[2017-10-12 17:20] sckott commented on #133
@rflprr we do expect responses to reviewers, you don't have to respond to every single item they raised, but no response is not allowed.

Please get your responses to reviewers in within 3 weeks. if not, we'll close the issue, and you're welcome to resubmit at a later point if you like

[2017-10-13 10:40] MahShaaban commented on #149
@PeteHaitch, I'd like to thank you first for your time and effort.
Here is a point-to-point reply to your comments

- I added a paragraph to the `README` and rephrased some of the functions documentation to clarify the use of the package and the functions. In additions, I added a second vignette with a case study using **cRegulome**. Due to the long run time of the vignette, I temporarily have it

[2017-10-13 11:26] oharar commented on #98
OK, thanks! I will try to, when I get time.

Thanks to the reviewers too - I do appreciate their efforts.

Bob

On 10/12/2017 07:17 PM, Scott Chamberlain wrote:

--
Bob O'Hara
Institutt for matematiske fag
NTNU
7491 Trondheim
Norway

Mobile: +49 1515 888 5440
Journal of Negative Results - EEB: www.jnr-eeb.org

[2017-10-14 14:12] Dahaniel commented on #34
Hi @sckott , sorry, busy as usual.
I actually startet working on fixing the "good practice" warnings and am done with the data package.
Regarding the data issue: What makes it complicated is that it is actually not a single data.frame which is accessed but many and that there are many functions that need to be updated. So I think this will take some effort for writing as well as testing.
If ok for

[2017-10-15 15:56] fmichonneau commented on #145
Hi @daranzolin, sorry for taking so long to get back to you. Thank you for addressing my comments.

It looks like you missed the comments I included under the checkboxes that I didn't check. Please address them, and I'll look more into the r-hub check results after that.

[2017-10-16 01:54] toph-allen commented on #130
I'm sorry for the delay on this. I've looked through @cboettig's response, plus relevant updates to code & documentation, and it all looks great. I give a hearty 👍.

@cboettig, I really appreciate the specific & detailed responses. I'm happy to have been a part of the review process. Please let me know if there is anything else needed from me to proceed!

[2017-10-16 04:42] noamross commented on #130
[I'm wrapping this up as @maelle is on vacation]

Thank you for your follow-ups @toph-allen and @annakrystalli!  @cboettig, a few last things I am finding in final checks. I'll accept pending these changes:

-  A warning in your tests:
[code]
-  In the first vignette (https://github.com/codemeta/codemetar/blob/master/vignettes/A-codemeta-intro.Rmd), there's some text left over from reviewer commen

[2017-10-16 06:40] DominiqueMakowski opened #154 "Submission: psycho"
### Summary

-   What does this package do? (explain in 50 words or less):

The goal of `psycho` is twofold: 1) provide functions for statistical routines crafted for the needs of psychological science and 2) provide tools to transform complex outputs (such as those of Bayesian and frequentist mixed models) into something that the user can (almost) directly paste into a report or a manuscript, pro

[2017-10-16 14:21] noamross commented on #145
Let me just jump in to make sure we're on the same page.  @daranzolin, do you think at this point you've addressed everything from the @czeildi's and @fmichonneau's initial reviews? Let us know.  If so, @fmichonneau and @czeildi, let us know if you agree with a comment below and checking off remaining boxes on your reviews.  If not, let us know what else if left from your perspective.

[2017-10-16 15:16] lawinslow commented on #152
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2017-10-16 16:18] boshek commented on #152
Thank you for this review @lawinslow. At first glance all changes suggested seem entirely appropriate. I will wait for @ldecicco-USGS's review, however, to ensure there are no conflicting changes requested.

[2017-10-16 17:01] lawinslow commented on #152
:+1: Sounds great!

[2017-10-16 20:07] PeteHaitch commented on #149
Hi @MahShaaban

Thank you for your response to the review and the changes to the package. There are still a few to sort through, and I'll address those point-by-point, below.

But first, my main concern, and where I need guidance from @karthik or someone else from rOpenSci, is that rOpenSci and Bioconductor (where you plan to submit your package) have different review criteria, expectations, and r

[2017-10-16 20:26] mmulvahill commented on #149
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2017-10-16 21:40] rflprr commented on #133
@sckott sorry for the communication hiatus (it's been busy period and we are resource constrained).

The reviewers did a very thorough job. Reading though both reviews I see many excellent suggestions, but none that would significantly improve (or de-risk) the user experience in the immediate term (in other words, none that appear to be critical). Most importantly, all suggestions can be implement

[2017-10-17 05:00] daranzolin commented on #145
Hi everyone, @noamross @czeildi @fmichonneau

Apologies for the delayed response--I see now that I have not yet addressed all of @fmichonneau 's initial review. I'll have responses/updates later this week.

Thanks for checking in!

[2017-10-17 05:17] cboettig commented on #130
@noamross Thanks!  Looks like `usethis` is not yet on CRAN.  I think you must be running GitHub versions of devtools and usethis to get that warning?

Shall I go ahead and do the transfer and those subsequent steps now?

[2017-10-17 11:47] noamross commented on #130
Ah, I am using development devtools.  Disregard.  Yes, transfer, but please do fix the text in the vignette first.

[2017-10-17 16:02] cboettig commented on #130
@noamross thanks!  Okay, I htink I've fixed that first vignette now as well (https://github.com/codemeta/codemetar/commit/57caa466f25724be5b2b9bc04e53829831304d49).  Transferring now.

[2017-10-17 16:35] noamross commented on #130
Approved!  Thanks @toph-allen and @annakrystalli for your reviews and @cboettig for your work.

[2017-10-17 16:51] sckott commented on #130
travis and codecov seem to be good, appveyor is tied to users, not github accounts, so you can add to yours Carl, I also just added to mine if you want to work off that one https://ci.appveyor.com/project/sckott/codemetar

[2017-10-18 00:56] sckott commented on #154
hi @DominiqueMakowski 👋

Thanks so so much for your submission!

Editors have discussed your submission and we regret to say that we've decided that it's out of scope. It seems to be a general workflow package, which doesn't fall under our criteria, because it's too general and doesn't hit the specific areas of reproducibility that we have decided to support. In addition, it implements statistical

[2017-10-18 00:56] #154 closed

[2017-10-18 08:54] DominiqueMakowski commented on #154
Thanks for your time!

[2017-10-18 19:52] ldecicco-USGS commented on #152
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2017-10-18 19:56] sckott commented on #141
Okay, on CRAN already, got it.

Great, will have one last quick look

[2017-10-18 20:23] sckott commented on #141
Approved!

* Please transfer the package  to `ropensci`- I've invited you to a team within our ropensci organization. After you accept you should be able to move it.
* Make sure to
    * add rOpenSci footer to README
`[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.org)`
    * Change any needed links, such those for CI badges
    * Travis CI should upd

[2017-10-18 22:02] boshek commented on #152
Thank you to the reviewers. Below are some clarifications or questions. For dealing with the full review I will provide a more lengthy response addressing each comment. This is going to vastly improve the package.

Some general questions/clarifications:
@lawinslow comments:
- Function capitalization: I am open to moving all functions to lowercase. I had originally capitalized all functions that ac

[2017-10-18 23:43] mwmclean commented on #119
Sorry, did we need my input on the closing question?  I still need to track down my issue with `covr`, but I'm okay to close. I will be sure to message if I get the time to write a blog post.

[2017-10-18 23:43] #119 closed

[2017-10-19 01:18] ChrisMuir commented on #141
Great to hear! Thanks @sckott .

I've transferred the package to `ropensci`, and added the footer banner to the `README`, and updated all links in the `README` to point to the ropensci location of the repo.

On the blog post, I'd be interested, but my wife and I are moving to Nashville, TN in two weeks, and will be super busy for the next 3-4 weeks. So it would have to wait until after the move.

[2017-10-19 02:13] ChrisMuir commented on #141
Also, just want to say again to @rtaph and @AliciaSchep, I truly appreciate the help and the time that was put in. I think I learned more about building packages in the last month than I had learned in the previous two years 😄 , and the `comtradr` package is much better off for it.

Thanks so much!!

[2017-10-19 10:55] MahShaaban commented on #149
Hi @PeteHaitch,

I think at this point I would go with the first option, submit to rOpenSci and CRAN. Integrating the package in the Bioconductor seems like it would need substantial changes that wouldn't be natural based on the choices I already made.

* I followed your advice in adding the data needed for running the second vignette as a part of the package so to avoid downloading the whole data

[2017-10-19 11:09] MahShaaban commented on #149
Hi @mmulvahill,
Thanks for taking the time to review the package. Here are my reply and the changes I made based on your comments.

* I reordered the packages between `Suggests` and `Imports` as you suggested.
* I added `./.git` to `.Rbuildignore`.
* I added `targetscan.Hs.eg.db` to `Suggests` for now.
* I ran `devtools::spell_check()` and fixed errors.
* I originally wrote `get_mir` and `get_tf`

[2017-10-19 20:52] sckott commented on #141
Great, thanks @ChrisMuir

We'll get in touch with you after the next month or so about the blog post.

yes! do add the peer review badge. like

`[![](https://badges.ropensci.org/141_status.svg)](https://github.com/ropensci/onboarding/issues/141)`

[2017-10-19 20:53] #141 closed

[2017-10-19 21:34] sckott commented on #114
hey @hrbrmstr - did Rich address all your concerns?  yea or nah?

[2017-10-19 21:34] sckott commented on #133
Okay, we'll put it on hold for now. That means if you or someone else has time later to make changes/respond to reviewers, we can remove the holding tag and proceed.

[2017-10-22 00:28] PeteHaitch commented on #149
Hi @MahShaaban, those changes sound really promising. Thanks!

I'm travelling currently and at a conference this coming week - I hope to have time to take a proper look through those changes but it may not happen. I appreciate your patience

[2017-10-23 02:40] daranzolin commented on #145
Hi everyone, @noamross @czeildi @fmichonneau

Okay, I think I caught up where we left off:

Updated README with a new **goal:** The goal of rperseus is to furnish classicists, textual critics, and R enthusiasts with texts from the Classical World. While the English translations of most texts are available through gutenbergr, rperseusreturns these works in their original language--Greek and Latin.

[2017-10-23 14:30] mstrimas commented on #136
@karthik just released a new version to CRAN with most of the changes suggested by the review process included, as well as a variety of other new features and bug fixes. let me know what the next steps are to get this up on rOpenSci. Thanks!

[2017-10-23 22:00] boshek commented on #152
@lawinslow @ldecicco-USGS @sckott

Two questions:
1. Give that I have incorporated Luke's suggestion to `rappdirs` and am looking to standardize documentation from a user perspective is it better to provide examples that user the tiny database like this which the user can use right away:
    -  `DLY_FLOWS(STATION_NUMBER = c("08LA001","08NL071"),
                      hydat_path = system.file("test

[2017-10-23 22:28] sckott commented on #152
hi @boshek , i can't decipher this text above

can you clarify?

[2017-10-23 22:33] boshek commented on #152
@sckott Updated the offending lines. Does that help?

[2017-10-24 09:11] sinanshi commented on #102
@aammd and @haozhu233, do you have any comment on the response we made previously?

[2017-10-24 11:20] MilesMcBain commented on #139
Thanks for the update @raymondben. I look forward to reviewing the new version.

Regarding this comment:

Since the package is intended to be used interactively I thought it would be helpful if I can check I am on the latest version without initiating a large download. If it turns out I need to sync, I'd probably like to tee it up in separate session so that it doesn't block my main work environme

[2017-10-24 11:25] MilesMcBain commented on #139
@maelle @noamross, I would like to flag I am not going to be able to make that review deadline. Would it be okay to have my review in by the 7th of November?

[2017-10-24 11:40] lawinslow commented on #152
If I were you, I'd be careful with the ambiguity of a "working" function without downloading the database. i.e., would it be possible for the user to see that it is working via the example, and then try using it in a fully-functional manner and simply not get any data?

That's definitely the mistake I would make. Immediately download the package, not read the documentation, and start trying to run

[2017-10-24 12:29] lwasser commented on #139
What is the new deadline for the review?
I'm hoping to start soon but this week and next are very busy
for me as well.

[2017-10-24 12:48] noamross commented on #102
Sorry for not following up on this earlier myself, @sinanshi. @aammd and @haozhu233, please do respond to the update.

[2017-10-24 15:54] sckott commented on #139
Hi @MilesMcBain and @lwasser - stepping in for Maëlle here for a bit.

Okay, new deadline is 2017-11-07

[2017-10-24 22:04] raymondben commented on #139
@MilesMcBain re:

Oh, right, gotcha. The answer is sort of "yes, but no". There is `bb_config(...,skip_downloads=TRUE)` which will cause the subsequent sync process to do a dry run without downloading any data files. But in reality, this is less useful than I'd hoped. It suppresses any actual calls to `wget`, and so any recursive `wget` action (descending from the top-level data set URL) doesn't g

[2017-10-26 11:02] czeildi commented on #145
Hi @daranzolin and @noamross ,

@daranzolin responded to my comments, I recommend to approve his package.

I have one minor comment: although the last chunk of the vignette is set to eval = FALSE it would be nice to change `map_df` to `purrr::map_df` or load purrr so that it can be run.

Great work!

[2017-10-26 14:39] noamross commented on #145
One quick editor's comment, regarding the lazy-loaded catalog: There's sometimes reason to load stuff with the package for workflow reasons, but it's pretty rare because adding to the namespace is unexpected behavior for loading. I don't think this case merits going beyond the conventional ways of making data available: Via either `data("perseus_catalog")` or `perseus_catalog()` (the latter can si

[2017-10-26 14:54] haozhu233 commented on #102
@sinanshi @noamross Sorry for the delay. I briefly went through the changes and so far they look good to me. I will take a deep look this weekend.

[2017-10-26 20:00] sinanshi commented on #102
@haozhu233 thanks.

[2017-10-26 21:54] daranzolin commented on #145
Thanks everyone! I'm giddy with excitement.

@czeildi -- added `library(purrr)` to README chunk.

@fmichonneau -- I merged pull request # 5 "Small fixes", commented out the roxygen for `get_full_text_index`, and added a Meta section to the README.

@noamross  -- Hadley recommends setting `LazyData: true` in [R Packages](http://r-pkgs.had.co.nz/data.html#data-data). Is this an instance where it sho

[2017-10-29 13:13] maelle commented on #114
Not really part of the review, my "dummy-friendly" issues

* https://github.com/richfitz/cyphr/issues/13

* https://github.com/richfitz/cyphr/issues/14

[2017-10-29 21:03] noamross commented on #145
Great.  Sorry, @daranzolin, my brain was pulling up advice from old standards, you're right.  I've been typing `data('something')` I forget stuff is lazy-loaded anyway.

@fmichonneau, please check off the "responded and approved" box on your original review if everything looks on the up-and-up.

[2017-10-30 14:51] fmichonneau commented on #145
I just checked the box. Great work @daranzolin!

[2017-10-30 22:05] noamross commented on #145
Approved! Thanks @daranzolin or submitting and @fmichonneau  and @czeildi for your reviews!

To-dos:
- [ ] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer to the bottom of your README
[code]
- [ ] Add the "Peer-reviewed" status badge to your R

[2017-10-31 04:31] daranzolin commented on #145
Thanks @noamross ! This has been a wonderful, illuminating process, and I'm truly humbled by the attention of your reviewers.

I updated everything but have one lingering concern: [Travis isn't rebuilding from the latest commits.](https://travis-ci.org/ropensci/rperseus/builds) Do you know why that is?

[2017-11-02 18:07] stefaniebutland commented on #145
Hi @daranzolin. Are you leaning toward writing a blog post about `rperseus`?

I'm happy to answer any questions to help you decide

[2017-11-03 17:35] mmulvahill commented on #149
@MahShaaban Thanks for making those changes.

Installation isn't quite yet as error-free as it probably should be.   If I use docker (rocker/verse) to start fresh, I can install with `devtools::install_github` without error, but this doesn't build/provide the vignettes.

If I download and install, building vignettes:

[code]
It fails due to missing packages.  If you are not submitting to Bioconduc

[2017-11-03 17:37] sckott commented on #152
Ran through some examples and such - no comments from me.

@lawinslow and @ldecicco-USGS - are you happy with the changes?

[2017-11-03 17:37] lawinslow commented on #152
👍 yup, ship it!

[2017-11-03 18:02] ldecicco-USGS commented on #152
Agreed!

[2017-11-03 18:23] daranzolin commented on #145
Hi @stefaniebutland!

Yes, I am willing to do a blog. Disclaimer: I am not a scientist, and my use cases for this package are for literary analysis.

I am also attempting to add several new features, such as a morphological parser and a stop words dictionary. Perhaps postponing the blog may make it more interesting down the road?

Let me know what you think.

[2017-11-03 18:54] stefaniebutland commented on #145
Great to hear that @daranzolin!

My strong bias would be to put something out sooner rather than later. The end part of the post could briefly outline your specific plans for new features (and maybe even point to a couple of issues that might attract new contributors?).

This is not a problem:

I don't feel fully qualified to point out blog examples that directly relate to your niche but these mig

[2017-11-03 19:18] daranzolin commented on #145
@stefaniebutland late November is doable. I'll contact you if I encounter any roadblocks along the way.

[2017-11-04 12:53] adamhsparks opened #155 "nasapower"
### Summary

-   What does this package do? (explain in 50 words or less):

nasapower automates downloading NASA-POWER agroclimatology data in your R
session as a tidy data frame for analysis, modelling or other purposes by interfacing with the NASA POWER API. POWER (Prediction Of Worldwide Energy Resource) data are freely available for download through a web interface at a resolution of 0.5˚ long

[2017-11-04 18:29] cboettig commented on #130
Seems the badge at https://github.com/ropensci/codemetar still says "Under Review", but the badge at https://ropensci.github.io/codemetar/ says "Peer Reviewed" (at least for me).   Looks like  a caching issue -- can we change the expiration time on the badge for the browser cache?

[2017-11-04 18:51] noamross commented on #130
Pinging @karthik. I think we finally fixed the issue of _github_ caching the badges, but I guess this is another header variable to change?

[2017-11-04 22:56] adamhsparks commented on #155
I was looking at the POWER website. The most, but not all, of the other POWER datasets have similar interfaces. It should be pretty simple add some of the Renewable Energy and Sustainable Buildings data to the package as well. I've just never used them for my work.

Happy to get feedback on that.

[2017-11-05 02:36] sckott commented on #155
Thanks @adamhsparks - Editors are discussing ...

[2017-11-06 10:20] MahShaaban commented on #149
Thanks, @mmulvahill for your review.
Regarding the missing packages for building the vignette, I am not sure I am supposed to include code to install them when missing either these from bioconductor or CRAN! Otherwise why they should go in `Suggests:` in the first place! I don't mind adding this chunk `if (!require(package)) biocLite('package')`, but wouldn't it make sense in this case to just mov

[2017-11-06 20:26] sckott commented on #152
Approved!  Thanks again for your submission @boshek

* Please transfer the package  to `ropensci`- I've invited you to a team within our ropensci organization. After you accept you should be able to move it.
* Make sure to
    * add rOpenSci footer to README
`[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.org)`
    * Change any needed links, such thos

[2017-11-07 02:11] lwasser commented on #139
HI guys -- where is the best place to get feedback on issues i'm running into ? for example i tried to run the vignette on the readme and got this error

[code]
i'd like to be able to work through the vignettes!

[2017-11-07 02:53] raymondben commented on #139
Hi @lwasser, feel free to raise issues here. I don't have/use a Mac, but I if you use Homebrew I *think* that you can just do `brew install wget`  to install wget. I'll find someone here with a Mac and see if that works for me ...

[2017-11-07 02:57] lwasser commented on #139
Thank you @raymondben  ! I did try brew. it wants me to update ruby however and i've got a few ruby scrips that i'm afraid of breaking... so i'm running those now to get my data and then i can risk it breaking tonight :) . if there is an alternative install option please say the word. i'm looking around now.

i have another question for you guys. Who is your intended user for this package? And do

[2017-11-07 05:14] raymondben commented on #139
Nicely done. Clearly, better Mac support is something to put on our to-do list!

Re - questions:
1. we don't have a particular view on intended users (the README/vignette touches on this a little). It could be users who need to keep local copies of data files and just want a convenient mechanism to do so. It could be a super-user who does the same on behalf of a number of local users (this is our

[2017-11-07 05:37] lwasser commented on #139
wonderful. thanks @raymondben  Ok well i did focus a lot on #3 above. And if my feedback is helpful -- i'm happy to continue to test things as the package developed :) .  My apologies that this took longer than I know you all wanted it to.
****
Hi @mdsumner  @raymondben  @sckott  @maelle

I want to first and foremost thank the developers for putting so much time and
effort into this package. And I

[2017-11-07 08:24] maelle commented on #139
Many thanks for your review @lwasser! 😀 Great feedback! Could you just go over the checklist at the beginning of the refiew template and tell me what was not checked because you didn't have time to do the check vs there was an issue?

@milesmcbain today is the deadline 😉

[2017-11-07 15:56] lwasser commented on #139
done!! @maelle there were so many parts to this review and i didn't have time to get to each and every step. I spent a lot of time thinking about how someone would use it and testing various api's. i tried to be more descriptive above.

[2017-11-07 16:56] maelle commented on #139
I missed the comments because there was no :heavy_check_mark: :see_no_evil: , this is perfect and no problem about not doing everything since your review is very rich and useful. I will do the rest after Miles' review is in.

[2017-11-07 16:58] lwasser commented on #139
oh so sorry @maelle i didn't realize that was a check for me! I was thinking the ✔️ was me signing off on the fact everything was there in the `R` package 🙈 ! :) my mistake. I did go through the list. I'll check it off now!!

[2017-11-07 16:59] maelle commented on #139
No you did it right, checking is when things are as good asyou want them to be but stupidly I had missed the comments in the list, all my fault !

[2017-11-07 17:14] lwasser commented on #139
<<unchecking in process now 😂 ... >> i missed the conflict of interest ✔️ so i did that. Thanks @maelle

[2017-11-07 17:15] maelle commented on #139
Thank *you* for your patience and work!

[2017-11-07 17:26] boshek commented on #152
@sckott Thanks! A few questions:

- I still would like to submit the paper to JOSS. What is the process there? Whatever the case, I would still like to opportunity to review it once more.
- I am interested in doing a blog post. One idea I had was to outline all that I learned. One of the things that I love about R is that no matter what your skill level is, your input can always provide value to s

[2017-11-07 17:32] boshek commented on #152
Also this should probably be changed to "tidyhydat"

https://github.com/orgs/ropensci/teams/tidyhat/members

[2017-11-07 17:35] sckott commented on #152
@boshek Sorry about that, forgot about the JOSS. Will ping back soon with some thoughts.

team name changed.

I like that idea for a blog post!  The community would really benefit from that I think. @stefaniebutland  thoughts on his idea for a post?

[2017-11-07 17:37] boshek commented on #152
@sckott Great! One other question - I am working through something right now and would prefer to have it all sorted out prior publicizing a release. How does ropensci decide when to publicize it's releases? Should only take a day or so to figure this out.

[2017-11-07 17:47] sckott commented on #152
What do you mean by publicize a release?  Do you mean to CRAN or on twitter? or somewhere else?

[2017-11-07 18:06] boshek commented on #152
I guess mostly twitter. When does that happen or it is automated?

[2017-11-07 18:12] sckott commented on #155
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2017-11-07 18:31] stefaniebutland commented on #152
Sam! @boshek I'm thrilled for so many reasons - your work to get BC gov't to allow this package to be hosted at rOpenSci, the *fact* that they have allowed this (Leadership!!), and that you'd like to contribute a blog post. Thank you!!

This is 💯  a great theme for the post. As Scott said, the community would really appreciate and benefit from this perspective. It shows the value you gained by doi

[2017-11-07 18:32] stefaniebutland commented on #152
regarding publicizing, I tweet about new blog post from @rOpenSci when it goes up

[2017-11-07 20:41] raymondben commented on #139
Thanks @lwasser - plenty of good points in there!

[2017-11-07 21:15] lwasser commented on #139
Thank you @raymondben . I really respect all of the work that you and @mdsumner put into this package and am excited to see it develop :)

[2017-11-08 06:39] MilesMcBain commented on #139
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [ ] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2017-11-08 07:31] maelle commented on #139
Thanks for your review @milesmcbain! 😀

@raymondben @mdsumner both reviews are now in. ☺

[2017-11-08 08:22] raymondben commented on #139
Thanks @MilesMcBain and @lwasser both for your detailed and thoughtful input. Mike and I will have a pow-wow and plan our way forward from here.

[2017-11-08 08:56] mdsumner commented on #139
Yes and thanks!  There's a lot of really helpful feedback here, it's very good.

[2017-11-08 11:59] sinanshi commented on #102
@aammd and @haozhu233 Have you had a chance to review the changes?

[2017-11-08 17:53] sckott commented on #152
@boshek for JOSS thing, can you

* generate a new release with a DOI. this doesn't mean you have to submit to CRAN of course
* Submit to JOSS at http://joss.theoj.org/papers/new

[2017-11-09 01:15] haozhu233 commented on #102
I think the changes @sinanshi made to the cleanEHR package addressed the issues I raised last time really well. I really like the improvements on documentation and I think the changes made it a lot easier for first-time users to understand.

I also have a few notes here:
* Using package `check`, I received 2 note:
    - Since you are using the GPL-3 license, you probably don't need the License fil

[2017-11-09 17:44] sckott commented on #155
Reviewers are @alisonboyer and @UniversalTourist - due date is 2017-12-06

[2017-11-09 18:26] wlandau-lilly opened #156 "drake (R package)"
### Summary

[The drake package](https://github.com/wlandau-lilly/drake) is an R-focused [pipeline toolkit](https://github.com/pditommaso/awesome-pipeline). It [reproducibly brings results up to date](https://github.com/wlandau-lilly/drake#reproducibility) and [automatically arranges computations into successive parallelizable stages](https://github.com/wlandau-lilly/drake#high-performance-computi

[2017-11-09 19:03] sckott commented on #156
Thanks for your submission @wlandau-lilly ! Editors are discussing now

[2017-11-09 21:01] kenarab opened #157 "Rpolyhedra"
Submitting Author: Alejandro Baranek" (@kenarab)
Repository:  https://github.com/qbotics/Rpolyhedra
Version submitted: 0.1.0
Editor: @noamross
Reviewer 1: @yulijia
Reviewer 2: @schloerke
Archive: N/A
Version accepted: 0.4.1

### Summary

-   What does this package do? (explain in 50 words or less):

A 142 polyhedra Database scraped from PHD as R6 objects and RGL visualizing capabilities. The PHD f

[2017-11-09 22:02] sckott commented on #157
thanks for your submission @kenarab

Please change the URL to https://github.com/qbotics/Rpolyhedra/ instead of https://github.com/cran/Rpolyhedra/

We need some clarification to assess fit

- What are the scientific uses of these data? You say scientists are a target audience, but what kind?  What would they do with these data?
- I know little about this area. Are there alternative ways to specif

[2017-11-09 22:14] wlandau-lilly commented on #156
Thanks, @sckott.

Edit: I think @richfitz would be an ideal reviewer due to the similarity of [remake](https://github.com/richfitz/remake).

[2017-11-10 12:33] kenarab commented on #157
Thank you @sckott.

I corrected the URL, and extended the users with this paragraph:
- Scientists and general public who wants to explore polyhedra through RGL.
- Scientists and general public who wants to study polyhedra's properties and make taxonomies
- Scientists and general public who wants to make models over polyhedra definitions

About
* I know little about this area. Are there alternative

[2017-11-10 18:08] sebastiz commented on #153
I've made a series of changes. I have 98% test coverage but the 2% left I think is incorrect so I havent covered it. I've also left two sapply dependent functions as they are although goodpractice doesn't like it. All the examples are fully explained and also the vignette is more comprehensive.

[2017-11-10 18:22] sckott commented on #157
Thank you @kenarab

[2017-11-10 18:27] sckott commented on #34
@Dahaniel Okay, did you get to fixing these goodpractice problems yet?

[2017-11-10 18:33] wlandau-lilly commented on #156
I just ran [goodpractice::gp()](https://github.com/MangoTheCat/goodpractice) on wlandau-lilly/drake@ee475f103f514905d3ed9c3a5dd7b2cacbc46021:

[code]

I can explain these idiosyncrasies.

## Calls to `detach()` `tests/testthat/test-Makefile.R`

`Drake` promises to load the user's packages, which is especially important for distributed computing across multiple nodes on a cluster. To test, I occasi

[2017-11-11 09:34] maelle commented on #130
@cboettig you haven't submitted the package to JOSS yet, have you?

[2017-11-11 17:16] cboettig commented on #130
@maelle no, thanks for the ping, I'll try that now.  anything special I need to do re connecting to the rOpenSci review?

[2017-11-11 17:29] cboettig commented on #130
okay, I believe I've initiated submission with http://joss.theoj.org/papers/b16b968425f513da31632b0edd8ff0c5.

[2017-11-11 17:30] maelle commented on #130
Perfect, I'll watch the new submissions at JOSS to comment in the Github issue right away to be sure it's flagged as rOpenSci-reviewed.

[2017-11-11 18:02] maelle commented on #156
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2017-11-11 18:31] maelle commented on #156
@wlandau-lilly I forgot to mention you can now add this review badge to the README

`[![](https://badges.ropensci.org/156_status.svg)](https://github.com/ropensci/onboarding/issues/156)`

[2017-11-11 18:32] wlandau-lilly commented on #156
Thanks, @maelle! I appreciate your forgiveness regarding `goodpractice::gp()`, and I just fixed the spelling mistake in wlandau-lilly/drake@5c9388a1a7873277332de26a3f8dc0de5bd94104. I will add the badge soon, and I am excited for the review process!

[2017-11-12 08:52] maelle commented on #114
Further reviewer @jeroen, thanks Jeroen for accepting to have a look at the changed package! 😸

[2017-11-12 14:33] hrbrmstr commented on #114
should be done in a cpl mins

[2017-11-12 14:39] hrbrmstr commented on #114
Official response: The author has responded to my review and made changes to my satisfaction. I recommend approving this package

Commentary: I agree w/Rich that there are definitely items I mentioned that are out of scope for this package (since they cannot be solved by the package alone). I've Evernoted this issue and added it to the overall "security & safety TODO" for R work.

[2017-11-12 16:05] sinanshi commented on #102
Hi @haozhu233. Thank you for your further comments.

* .Rbuildignore has been added, please see the review branch.
* I tried to build the from source (.tar.gz) in RStudio, and it works fine for me. Could you let me know how did you install it? which RStudio version are you using?
* Non-exported functions, including `xmlLoad` are commented from the manual. All the available methods are shown in the

[2017-11-13 12:02] maelle commented on #130
Closing this since everything is going well over at JOSS!

[2017-11-13 12:02] #130 closed

[2017-11-13 14:10] maelle commented on #114
Thanks @hrbrmstr! 😸

@jeroen we won't need your review after all, sorry but thanks for your motivation!

@richfitz your package is now approved, thanks a lot to @stephlocke and @hrbrmstr for their reviews!

To-dos:
- [] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- []

[2017-11-13 17:59] maelle commented on #156
@wlandau-lilly, good news, the reviewers are now assigned!

@jules32 and @benmarwick thanks a lot for accepting to review this package! 😸 Your reviews are due on the 2017-12-04.

[2017-11-13 19:35] mmulvahill commented on #149
My preference is that optional packages be placed in `Suggests:` (not installed by default), but that optional code (as in examples, vignettes, and optional features of a fuction) handle the installation of the optional packages when the user requests it.

Minimizing dependencies improves the reliabiltiy of your code.  `Suggests:` combined with `if (!require(package)) install.packages(<pkg>)` lets

[2017-11-13 20:35] wlandau-lilly commented on #156
Yes, thank you @jules32 and @benmarwick! I look forward to your feedback.

[2017-11-13 21:23] jrosen48 opened #158 "Interest in submitting package"
Hi rOpenSci team, I'm writing with a question about whether a package falls within the scope of rOpenSci.

The package is `konfound` and is to carry out sensitivity analysis for supporting causal inferences made from a) analyses already conducted (i.e., in other software) or analyses presented in published studies and b) models fit in R (e.g., linear models, generalized linear models, and [soon] m

[2017-11-13 21:30] sckott commented on #158
Thanks for your pre-submission inquiry @jrosen48

Editors will discuss and get back to you soon

[2017-11-14 06:03] MahShaaban commented on #149
Thanks, @mmulvahill for the explanation I currently have 12 packages in the **Suggests** field of the `DESCRIPTION` file. Some of these packages are used in examples and vignettes.

[code]
If I understand you correctly, I need to add that optional code `if(!require(package)) install.packages(<pkg>)` or the equivalent for Bioconductor packages every time one of these packages is used. Right?

[2017-11-14 16:14] PeteHaitch commented on #149
Yes, that's correct

[2017-11-15 02:33] MahShaaban commented on #149
Here, I added this chunk to the vignette to download the missing packages form their respective sources, Bioconductor or CRAN in the last commit
Now, I get the following note with running `devtools::check()`
`'library' or 'require' call not declared from:  ‘BiocInstaller’`

[2017-11-15 21:37] boshek commented on #152
What do @sckott , @lawinslow , @ldecicco-USGS feel about having their names listed on this package as reviewers a la: https://github.com/ropensci/rrricanes/blob/cbb39aecec6dd82b78c80a81a72408e8c177de77/DESCRIPTION#L10-L12

Any objection?

[2017-11-15 21:37] lawinslow commented on #152
nope.

[2017-11-15 21:38] sckott commented on #157
hi @kenarab thx for your submission - @noamross will be handling editor

[2017-11-15 21:43] sckott commented on #158
Hi @jrosen48

First, thanks for your submission!

We discussed and feel that it is not a good fit for rOpenSci. Although this is a neat package it appears to us as dealing primarily with statistics, which is not something covered within our current [Aims and Scope](https://github.com/ropensci/onboarding/blob/master/policies.md#aims-and-scope)

Do you have any questions/concerns about this decision

[2017-11-15 21:44] sckott commented on #152
thx, but no need to include me @boshek - laura and luke did the lion's share

[2017-11-15 22:31] jrosen48 commented on #158
Hi @sckott,

After reading again through the Aims and Scope, I understand the decision. At first, I thought it could possibly fit within the reproducibility category: I now think it is about reproducibility but in a different sense, less in terms of reproducible workflows / data analysis processes and more in terms of quantifying how likely an effect is to be reproduce in future studies.

Thank yo

[2017-11-15 22:31] #158 closed

[2017-11-16 14:17] PeteHaitch commented on #149
Looking into this, @MahShaaban. One thing, **clusterProfiler** is a Bioconductor package and so should be installed with `BiocInstaller::biocLite()` rather than `install.packages()` in the vignette

[2017-11-16 14:40] PeteHaitch commented on #149
Also, the section in the vignette with the installation of suggested packages should be in a `include=TRUE` chunk otherwise the reader won't see it in the rendered output

[2017-11-16 17:45] sckott commented on #158
Thanks for considering us @jrosen48 😸

[2017-11-16 21:18] noamross commented on #157
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [ ] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2017-11-17 00:21] MahShaaban commented on #149
Thanks @PeteHaitch for spotting these issues. I removed the `include=FALSE` and changed **clusterProfiler** to be installed using `biocLite()`. However, I still get the same note `library' or 'require' call not declared from: ‘BiocInstaller`!

[2017-11-17 01:58] PeteHaitch commented on #149
Adding **BiocInstaller** to `Suggests` in the `DESCRIPTION` fixes this (for reference, https://stackoverflow.com/questions/15648772/how-do-i-prevent-r-library-or-require-calls-not-declared-warnings-when-dev)

[2017-11-17 10:23] MahShaaban commented on #149
Thanks @PeteHaitch. That solves the note.
I would like to ask you, @mmulvahill and @karthik if there are any other required or recommended changes I need to do.

[2017-11-17 21:19] kenarab commented on #157
Thank you Noam.

Thank you very much for your sharp observations.
We are already working on the recommendations and next week will push a new
release including the proper changes.

Best regards, Alejandro.

2017-11-16 18:18 GMT-03:00 Noam Ross <notifications@github.com>:

--
 alejandro baranek
@ken4rab <https://twitter.com/ken4rab>
qbotics <http://qbotics.tumblr.com/> | surferinvaders
<http://surf

[2017-11-17 23:18] Dahaniel commented on #34
@sckott Should be fixed for both packages, shortened code-lines, replaced sapply with vapply etc...

[2017-11-20 19:20] PeteHaitch commented on #149
I'll take a look over it again later this week

[2017-11-20 19:32] mmulvahill commented on #149
Same here -- though I'm traveling most of this week.  If I don't get to it this week, I will early next.

[2017-11-21 10:03] sinanshi commented on #102
@aammd Do you have any feedback on the change we've made?

[2017-11-22 03:09] karthik commented on #149
Thanks for all the thoughtful and detailed review comments @mmulvahill and @PeteHaitch!
@MahShaaban Thanks for following through promptly. I will do my editor check this week and wait till both reviewers also sign off before we move to the next step.

[2017-11-22 09:59] chrisvwn opened #159 "Nightlights Data Extraction in R"
### Summary

-   What does this package do? (explain in 50 words or less):
The Rnightlights package extracts raster and zonal statistics from satellite nightlight rasters downloaded from the United States National Oceanic and Atmospheric Administration (<http://www.noaa.gov>) free data repositories. Statistics are calculated at the country and sub-country levels.

-   Paste the full DESCRIPTION fi

[2017-11-22 21:52] sckott commented on #159
Thanks for your submission @chrisvwn ! Editors are discussing now - we'll get back to you asap.

[2017-11-22 22:56] sckott commented on #34
@Dahaniel thanks, having a look

[2017-11-23 16:49] sebastiz commented on #153
Hi @karthik is there anything else that needs to be done to move this forward?

[2017-11-24 18:36] steffilazerte opened #160 "weathercan"
### Summary

-   What does this package do? (explain in 50 words or less):

`weathercan` helps users access historical weather data from Environment and Climate Change Canada (ECCC). Data is freely available from the ECCC website, but downloading and processing the data by hand can be time consuming. `weathercan` automatically downloads and formats data from multiple stations and over large date r

[2017-11-24 20:35] sckott commented on #159
@chrisvwn Submission is a good fit for rOpenSci. We'll assign an editor asap

[2017-11-24 20:35] sckott commented on #160
👋 @steffilazerte - thanks for your submission!  We'll discuss fit for rOpenSci and get back to you soon.

[2017-11-24 23:07] sckott commented on #160
ah woops, sorry. forgot we already covered this in presubmission thing. Will assign an editor soon

[2017-11-25 09:00] chrisvwn commented on #159
@sckott Thank you!!

[2017-11-27 15:22] aammd commented on #102
@sinanshi I'm very sorry for my late reply! Your response to my comments sounds great to me, and looking over the package quickly, everything looks awesome -- especially the vignettes. I'll go over things more in detail by Friday but I don't anticipate anything major

[2017-11-27 16:48] UniversalTourist commented on #155
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2017-11-27 17:02] sckott commented on #155
thx very much for your review @UniversalTourist

[2017-11-27 19:13] karthik commented on #153
Hi @sebastiz Apologies from me. Nothing to do on your side. The reviewers I contacted never replied and I lost track. I will strive to assign new folks asap.

[2017-11-27 19:43] karthik commented on #153
@sebastiz New reviewers pinged, I'll update the thread in a few days.

[2017-11-27 20:02] karthik commented on #153
Reviewer 1 is @rmhogervorst (assigned on 11/27/2017)

[2017-11-27 20:32] adamhsparks commented on #155
Thank you @UniversalTourist

I have fixed the vignette text you noted where it said "which will which will", https://github.com/adamhsparks/nasapower/commit/6dd0d9cfd7d3dd71bc0cd435be52cda6c7a2a91e.

[2017-11-27 20:48] stefaniebutland commented on #141
Hi @ChrisMuir . I'm rOpenSci's Community Manager. Following up to ask if you're ready to write a blog post about `comtradr`. I see above that you've just moved so might still be very busy. If you're still interested - and I hope you are - we could choose a date in the new year. I also have Tues Dec 19th available.

For blog post we ask for a draft via pull request one week prior to the publication

[2017-11-27 22:43] karthik commented on #153
Reviewer 2 is @jonclayden (assigned on 11/27/2017). Review due December 18th

[2017-11-28 06:26] ChrisMuir commented on #141
Hi @stefaniebutland, good to hear from you! Yes I'm still interested in doing a blog post, but I'm thinking sometime in the new year might be best.....My wife and I are finally getting to a point in which we're settled after our move, we were out of town for Thanksgiving and will be visiting family for a week over Christmas.....busy busy :)

I have a couple questions about the process, I will send

[2017-11-28 06:48] UniversalTourist commented on #155
Thank you very much!

[2017-11-28 08:56] maelle commented on #114
@richfitz will you soon transfer your repo? 😉

[2017-11-28 11:28] maelle commented on #156
@jules32 and @benmarwick friendly reminder that your reviews are due on the 2017-12-04 😉

[2017-11-28 13:36] richfitz commented on #114
Sure - I'll do that now.  This is going into ropensci or ropenscilabs?

[2017-11-28 13:38] maelle commented on #114
Cool! ropensci, we no longer have the transitional onboarding at ropenscilabs. :-)

[2017-11-28 13:45] richfitz commented on #114
done! :tada:

[2017-11-28 13:46] maelle commented on #114
Awesome, thanks again for your submission!

[2017-11-28 13:46] #114 closed

[2017-11-28 19:51] sckott commented on #160
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2017-11-29 00:25] sckott commented on #160
Reviewers assigned. They are: @joethorley @softloud
Due date is 2017-12-20

[2017-11-29 03:57] joethorley commented on #160
## Package Review

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work.

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly stating problems the software is designed to solve and its target audience in README
- [x] **Installation instructions:** for the development version of packa

[2017-11-29 07:54] RMHogervorst commented on #153
Hi @sebastiz , when I install the package from github the vignette is not included. You could re-document the project in your rstudio session if you toggle knit vignettes. and
-either use devtools::build()
- or devtools::build_vignettes()

and push your changes to github

*you would not believe how many times I 've had this issue too*

[2017-11-29 11:10] maelle commented on #159
@chrisvwn before starting the review process your package must:

* have a test suite 😉  Do you need help with this? I can recommend reading http://r-pkgs.had.co.nz/tests.html and then ask me any question, for that open an issue in your repo (to keep this thread clean) or create a thread in [our forum](https://discuss.ropensci.org/). Don't worry, we'll get you there!

* have a low case name as advi

[2017-11-29 16:48] sebastiz commented on #153
@RMHogervorst I have now done this. Another good place for the package explanation is https://sebastiz.github.io/EndoMineR/index.html

[2017-11-29 20:32] steffilazerte commented on #160
Thanks @joethorley, this all looks pretty straightforward, thanks for your speedy review! I'll start looking into these changes.

[2017-11-30 03:36] maelle commented on #159
Oh sorry,  if it is on CRAN don't change the name ☺

[2017-12-01 14:06] rorynolan opened #164 "`ijtiff`"
### Summary

-   What does this package do? (explain in 50 words or less):
Correctly import TIFF files that were saved from _ImageJ_ and write TIFF files than can be correctly read by _ImageJ_. Full support for TIFF files with floating point (real-numbered) pixels. Also supports text image I/O.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the de

[2017-12-01 20:12] aammd commented on #102
I think @sinanshi et al did a great job addressing my comments and polishing what was already a truly impressive package. I especially like some of the new naming conventions, it makes it much easier to navigate the package.

My comments are all very minor, mostly small tweaks to the vignettes and some comments on the output of `goodpractice`. Great work everyone!

--------

* The output of goodpr

[2017-12-01 20:17] noamross commented on #102
Thank you, @aammd. @sinanshi, if you address these remaining items, I will be sure to proceed with the final steps speedily.

[2017-12-02 00:53] sckott commented on #164
Thank you for your submission @rorynolan 😸

It's a good fit for rOpenSci - and we'll assign an editor asap

[2017-12-04 21:22] karthik commented on #136
@emhart @aurielfournier Could you two take a look at the recent updates and let me know if you are ready to sign off? 🙏

[2017-12-04 21:38] aurielfournier commented on #136
I will do my best to get to this in the next two weeks. This are a bit swamped on my end at the moment.

[2017-12-04 21:46] virgesmith opened #166 "humanleague"
### Summary

-   What does this package do? (explain in 50 words or less):
humanleague is a python and an R package for microsynthesising populations from marginal and (optionally) seed data, using a selection of algorithms: IPF, direct quasirandom sampling, and quasirandom sampling of IPF.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the develo

[2017-12-05 14:09] wlandau-lilly commented on #156
@jules32 and @benmarwick, could we touch base about timing? [Drake](https://github.com/wlandau-lilly/drake) is large and developing fast, so I do understand that reviews may be more difficult than is typical.

[2017-12-05 15:53] maelle commented on #156
I forgot to update the thread when @jules32 contacted me to say she'd get the review in before Dec the 11th, sorry.

@benmarwick any update?

Thanks to both reviewers and thanks @wlandau-lilly for your patience. :-)

[2017-12-06 01:50] jules32 commented on #156
Hi @wlandau-lilly et al,

I am going to get started on Thursday and this weekend since I was out of
the office last week. Looking forward to getting to know this package!

On Tue, Dec 5, 2017 at 7:53 AM, Maëlle Salmon <notifications@github.com>
wrote:

--

Julia Stewart Lowndes, PhD
Ocean Health Index
National Center for Ecological Analysis and Synthesis (NCEAS)
University of California, Santa Bar

[2017-12-07 09:58] mdsumner opened #167 "pre-submission enquiry - tidync"
`tidync` provides a tidyverse-inspired approach to scientific data in NetCDF format. This is a very general array-based specification with explicit metadata on array *dimensions* (marginal coordinates), and  *variables* (the data values) and various metadata as *attributes* on those dimensions, variables and their containers.

https://github.com/hypertidy/tidync

I consider this to be a "data mung

[2017-12-08 16:27] sebastian-fox opened #168 "fingertipsR"
### Summary

-   What does this package do? (explain in 50 words or less):
The package provides an interface to the API for the [Fingertips](http://fingertips.phe.org.uk/) website, a site developed by Public Health England. It enables users to import data on over 2,000 indicators of public health in England at different levels of geography.

-   Paste the full DESCRIPTION file inside a code block

[2017-12-08 17:03] sckott commented on #155
@alisonboyer Your review was due a few days ago. Can you get it in soon?

[2017-12-08 17:38] sckott commented on #164
(@rorynolan is there a way to instal ImageJ on osx 10.13 (High Sierra), seems I don't need it to run your pkg, but still curious)

[2017-12-08 18:06] sckott commented on #164
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2017-12-08 18:28] rorynolan commented on #164
Hi @sckott,
To install ImageJ for Mac, head to https://imagej.net/Fiji/Downloads and download Fiji. Fiji stands for "Fiji Is Just ImageJ," but what it really is is ImageJ packaged up nicely with some add-ons which is easy to install. Kind of like a version of R that comes with the `tidyverse` installed.
To any potential reviewers, with regard to the `goodpractice` output, I've covered as much of t

[2017-12-08 18:30] sckott commented on #164
ah right! i totally forgot about fiji - i did use it in the past, but forgot. thanks for the help

[2017-12-08 20:51] karthik commented on #136
Thank you @aurielfournier! much appreciated. 🙏

[2017-12-08 21:00] karthik commented on #84
Thanks very much for this discussion. Since the onboarding repo is primarily meant as a tracker for package submissions and review, please continue this discussion over at Onboarding meta (https://github.com/ropensci/onboarding-meta) if you believe this is not already resolved here. In the interest of keeping this issue tracker clean, I am closing this repo. 🙏

[2017-12-08 21:00] #84 closed

[2017-12-08 21:01] karthik commented on #83
Thanks very much for this discussion. Since the onboarding repo is primarily meant as a tracker for package submissions and review, please continue this discussion over at Onboarding meta (https://github.com/ropensci/onboarding-meta) if you believe this is not already resolved here. In the interest of keeping this issue tracker clean, I am closing this repo. 🙏

[2017-12-08 21:01] #83 closed

[2017-12-08 21:01] karthik commented on #81
Thanks very much for this discussion. Since the onboarding repo is primarily meant as a tracker for package submissions and review, please continue this discussion over at Onboarding meta (https://github.com/ropensci/onboarding-meta) if you believe this is not already resolved here. In the interest of keeping this issue tracker clean, I am closing this repo. 🙏

[2017-12-08 21:01] #81 closed

[2017-12-08 21:07] karthik commented on #149
A gentle ping for @petehaitch and @mmulvahill

[2017-12-08 21:14] karthik commented on #168
👋 sebastian-fox
Thank you for your submission to rOpenSci's onboarding. I've tagged your submission as a `presubmission` while I do some preliminary checks before I assign an editor.

[2017-12-09 02:05] noamross commented on #157
Any update on this, @kenarab?

[2017-12-09 03:02] benmarwick commented on #156
Thanks for the reminders, here's my review:

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before

[2017-12-09 07:42] wlandau-lilly commented on #156
@benmarwick, your advice is exactly what I needed! Even before the inception of `drake`, I have had a strong ambition to challenge the R community's current conventions around reproducible data analysis and research. I want to make `drake` more relatable, understandable, usable, and widespread, and it will be gratifying to elaborate on the practical niche. Thank you for steering me back on course.

[2017-12-09 16:11] wlandau-lilly commented on #156
# Response to @benmarwock's review

It was gratifying to work on this response, and the changes to `drake` were straightforward. For the past year, I have been struggling to find the best way to talk about `drake`. Your feedback allowed me to make substantial progress.

I agree. Please see the new "Similar work" section of the README (as well as the end of the new [application.Rmd vignette](https:

[2017-12-09 16:43] maelle commented on #156
Thanks for your review, @benmarwick! Are you happy with the changes?

@wlandau-lilly, thanks for answering @benmarwick's review promptly. Three points from me:

* The JOSS submission would only need a paper.md and archived version of the repository. We do not need that before the end of onboarding, which will be at a later date. 😉

* Why not create a website for the package using `pkgdown`? It'll

[2017-12-09 16:47] maelle commented on #156
Another argument in favour of `pkgdown`: you could create a grouping of functions as in [this example](https://dirkschumacher.github.io/ompr/reference/index.html) which is what you have in your README now but without the documentation of each function accessible by one click.

I've also just noticed this phrasing "Most people think that means". Even if you have data underlying this, I think it loo

[2017-12-09 23:02] wlandau-lilly commented on #156
@maelle,

Very much appreciated!

Good suggestion. `Drake` heavily relies on its vignettes, and `pkgdown` is a community standard for documentation. I expect to begin work on this soon, but if it is okay with you, could we wait until after onboarding to launch it? Otherwise, I would expect the URL to change after transferring the repo.

I am glad you asked! `Drake` commands can be arbitrary R code

[2017-12-10 00:32] wlandau-lilly commented on #156
FYI: the [pkgdown site](https://wlandau-lilly.github.io/drake/) is now live. I love how it shows the vignettes!

[2017-12-10 00:33] noamross commented on #168
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2017-12-10 00:45] noamross commented on #113
Hello @jirkalewandowski, are you still planning to complete this review process?

[2017-12-10 07:14] maelle commented on #156
Cool! I also like the grouping in the refrence! Some suggestions from me as a naive user (I am being a bit of a reviewer here, but feedback is feedback 😉):

* could you make the order of groups, and of vignettes, from most important to least important/most complex (e.g. not starting with caching) instead of alphabetical?

* could you make the readme more minimal? To be honest I find it overwhelmin

[2017-12-10 07:14] maelle commented on #156
And thanks for your prompt answer to all feedback until now!

[2017-12-10 10:44] wlandau-lilly commented on #156
Yes, the more feedback like this, the better! Super helpful!

Done.

I removed the "Where to begin" and "handy functions" sections, and I explained the `pkgdown` site in the "Documentation" section.

Yes. I changed the title to "drake: stay reproducible and save time".

Please see the top of the new README. I added a "why use drake" section and kept the subsequent three sections the same. The READ

[2017-12-10 11:04] maelle commented on #156
Thanks! Illnow be travelling until Wednesday so will have a look then. ☺

[2017-12-12 01:45] cboettig opened #169 "rdflib"
### Summary

-   What does this package do? (explain in 50 words or less):

`rdflib` is simply a wrapper around two existing ropensci packages: `redland` and `jsonld`, which should be a user-friendly complement to the low-level interface already provided by  `redland` for working with RDF (semantic/linked data).

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for t

[2017-12-12 03:35] jules32 commented on #156
Hi @wlandau-lilly et al,

Sorry for the delay here. I'm based in Santa Barbara, California, and with the huge wildfire that is ongoing, we've left town in the last few days.

I did have a look, and had a lot of the same thoughts as @benmarwick in trying to understand how
 the intended users of`drake` would know that it was the right tool for them. I know you are addressing some of Ben's comments b

[2017-12-12 07:28] wlandau-lilly commented on #156
Julie, I am sorry to hear that the fire came your way. I hope you, your family, and your friends are all safe and comfortable. Your feedback can wait as long as it needs to. Please be well.

[2017-12-12 14:36] alisonboyer commented on #155
Hi Scott,
I will get it to you today.
--Alison

_________________________________
Alison Boyer
Research Staff, ORNL DAAC
Environmental Sciences Division
Oak Ridge National Laboratory

and

Joint Faculty Assistant Professor
Dept. of Ecology & Evolutionary Biology
University of Tennessee
Knoxville, Tennessee 37996

http://www.bio.utk.edu/boyer/index.html

On Fri, Dec 8, 2017 at 12:03 PM, Scott Chamb

[2017-12-12 15:20] sckott commented on #155
thanks @alisonboyer

[2017-12-12 17:10] jules32 commented on #156
Thanks so much!

[2017-12-12 18:46] karthik commented on #166
Dear @virgesmith
Thank you very much for the submission of `humanleague` to rOpenSci's review system. After discussion with the other editors, we have decided that your submission is out of scope for us since it falls under statistical algorithms/methods which is a category that we are simply unable to review at this time. Although this package does involve a lot of data munging and helps with rep

[2017-12-12 18:46] #166 closed

[2017-12-12 20:05] alisonboyer commented on #155
Package Review

As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor before starting your review).
Documentation

The package includes all the following forms of documentation:

- [x] A statement of need clearly stating problems the software is designed to solve and its target audien

[2017-12-12 21:27] maelle commented on #156
Thanks @jules32!

I assigned a 3d reviewer, @jeroen, to have a look at the implementation, not the interface. ☺

[2017-12-12 22:54] karthik commented on #167
👋  @mdsumner!
After discussion with the other editors, I am happy to let you know that we think this is a good fit and invite a full submission.

[2017-12-13 00:36] adamhsparks commented on #155
Thank you, @alisonboyer.

I didn't have a statement about performance because it will vary by the data requested and Internet connection. However, I ran an example this morning and added a statement to the vignette in this commit, https://github.com/adamhsparks/nasapower/commit/3bab17ecc38f42d8998042c5866503f5163279e3 about what some possible realistic times and data frame sizes could be for this.

[2017-12-13 00:40] adamhsparks commented on #155
For both @UniversalTourist  and @alisonboyer, I've also expanded the documentation in the vignette to provide an example of how to turn the data frame in to a `raster::brick` spatial object for users that need it to be a spatial object not a normal data frame.

[2017-12-13 06:26] #167 closed

[2017-12-13 06:57] mdsumner commented on #167
Great, thanks appreciate the confirmation!

[2017-12-13 07:20] adamhsparks commented on #155
This afternoon the POWER webpage stopped serving data. I've added a check now that pings the server first, five times to see if it's responding, before proceeding with the request.

If the reviewers could check this as it was added after both reviews?

https://github.com/adamhsparks/nasapower/commit/94e24406fff00f52db1d2c3346c78c115e7ab7b7

[2017-12-13 07:22] UniversalTourist commented on #155
Hey Adam!
I will check that later today! And let you know.

[2017-12-13 08:16] adamhsparks commented on #155
@UniversalTourist, please wait. Now that it's responding again, it's clear that my fix didn't work. I need to find a new way.

[2017-12-13 09:18] adamhsparks commented on #155
OK, fixed now with a new better way of doing checking whether the NASA - POWER site is serving data or not.

[2017-12-13 14:12] wlandau-lilly commented on #156
Welcome, @jeroen. @maelle, this means we have a new timeline, right?

[2017-12-13 15:20] maelle commented on #156
Yes! After discussing with @jeroen and @jules32 the new deadline is Jan the 4th after your vacation. Sorry about the process length but it'll have been worth it I think with such a reviewers dream team! 🦄🦄🦄

Will you soon have time for JOSS paper.md? See their instructions, it's really a short paper.

[2017-12-13 16:14] wlandau-lilly commented on #156
That works for me. I will return refreshed and ready to respond.

I just read http://joss.theoj.org/about#author_guidelines, and it turns out that I completely misunderstood JOSS! I assumed that I would need to write a full-length journal article and that the expectations and process would be similar to [JSS](https://www.jstatsoft.org), etc.

I think a JOSS submission should be possible early next

[2017-12-13 16:16] maelle commented on #156
Ok great! I had a feeling you thought it was a long article. Have a great vacation!

[2017-12-14 04:18] karthik commented on #169
👋 @cboettig
Thanks for the submission. Since it would be a COI for any of the four editors to handle your submission, I have asked @lmullen to serve as the ad hoc editor on this one and he has graciously agreed. I will let Lincoln take it from here. 🚀

[2017-12-14 14:18] sinanshi commented on #102
Thanks @aammd for your comments.

We had a double check and we can confirm that we only imported the necessary packages.

It is an old file that we forgot to delete. It is now called "Data cleaning and wrangling with cleanEHR".

Changed accordingly. Thank you for pointing that out.

We sort of expected the warning messages thought it is not pretty. It converts tree-style data
to a square table. Du

[2017-12-14 20:34] #145 closed

[2017-12-14 21:41] lmullen commented on #169
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2017-12-15 00:41] #152 closed

[2017-12-15 11:42] sebastian-fox commented on #168
Thanks for taking a look at this. I have added the badges as requested. I have also improved the coverage of the package.

I've also updated some of the code based on the goodpractice feedback

[2017-12-15 15:03] aammd commented on #102
@sinanshi This looks great! I just read your comments and looked over your commit history on your master branch, and everything looks wonderful. Thank you for a very enjoyable dialogue; i hope it was helpful to you. Congratulations on producing such an ambitious and polished package!
@noamross I have no further comments here! thank you for the chance to review this.

[2017-12-15 16:17] noamross commented on #152
@boshek Question: I see that you put this on CRAN with the `rev` category for your contributors.  Did you get a CRAN notes when doing so, or did you build and submit using `r-devel`? We've been quietly encouraging this but not too much because there were some snafus with CRAN submission.  If it went through with no issues that's a nice milestone.

[2017-12-15 17:46] boshek commented on #152
@noamross No snafus! Some UTF-8 string notes that I haven't figured out how to deal with yet but the `rev` category worked fine.  I included the link to the onboarding issue but I think that I would omit that as it quite ugly on the [CRAN package page](https://CRAN.R-project.org/package=tidyhydat).

[2017-12-15 18:49] boshek commented on #152
Removing the links is particularly important because I actually linked to wrong issue. GAH!

[2017-12-15 19:49] sinanshi commented on #102
@aammd, It has been a great pleasure to work with you to improve our package. Thank you very much for you most valuable suggestions.

[2017-12-15 20:05] sckott commented on #160
@softloud please get your review in by next wednesday, thanks!

[2017-12-15 22:09] softloud commented on #160
Thanks for the prompt. I am impressed by the efficiency of rOpenSci! Hoping to get it done this weekend.

[2017-12-16 10:16] jonclayden commented on #153
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2017-12-16 10:58] jonclayden commented on #153
I hope the review is helpful. Thanks for the opportunity to review this package!

[2017-12-16 18:55] noamross commented on #102
Thanks @aammd and @haozhu233 for your thorough reviews and follow-ups.  @sinanshi, we are almost there, just a couple of remaining notes from R CMD check:

[code]
You can fix these by, when when generating these files with `save()`, adding the `compress="xz"` argument.

You'll also want to add `LICENSE`, `Makefile`, `.travis.yml`, `appveyor.yml`, and `paper.md` to .Rbuildignore to avoid NOTEs abou

[2017-12-16 19:29] sebastiz commented on #153
Thanks @jonclayden I'll get on this ASAP

[2017-12-16 19:37] sinanshi commented on #102
@noamross Fixed the two issues.

[2017-12-16 20:02] noamross commented on #102
Approved!  OK, you can go ahead and initiate the repo transfer and the rest of the checklist above.

[2017-12-16 23:19] sinanshi commented on #102
Badges added, CI links updated, new DOI obtained.
Thanks a lot!

[2017-12-17 08:59] UniversalTourist commented on #155
Everything seems OK! Spatial objects example will really make this package more attractive! 💯  And I love the sticker! 😄

[2017-12-17 21:07] adamhsparks commented on #155
Thank you Hazel!

[2017-12-18 16:45] noamross commented on #168
Reviewers are @carlganz and @nacnudus. In light of the end-of-year holidays, due date is 2018-01-15.

[2017-12-18 16:51] noamross commented on #168
@sebastian-fox You can add our Peer Review badge to your README.  It will read "in-progress"  and update after acceptance:
[code]

[2017-12-18 17:53] amrrs opened #172 "coinmarketcapr"
### Summary

-   What does this package do? (explain in 50 words or less):

R package to get Cryptocurrencies Market Cap Prices from Coin Market Cap

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):
https://github.com/amrrs/coinmarketcapr

- Please indicate which category or categories from our [

[2017-12-18 21:24] chris-prener opened #173 "driftR Pre-Submission"
This is a *pre-submission* inquiry based on a Twitter exchange with @maelle - we are interested to hear your thoughts on whether this package fits with ropensci!

### Summary

-   What does this package do? (explain in 50 words or less):
A tidy implementation of equations that correct for instrumental drift in continuous water quality monitoring data. There are many sources of water quality data,

[2017-12-18 21:33] maelle commented on #173
Link to Twitter exchange https://twitter.com/ma_salmon/status/941873240988897286

[2017-12-19 03:28] adamhsparks commented on #155
@UniversalTourist and @alisonboyer, I've added a use-case vignette now, https://adamhsparks.github.io/nasapower/articles/use-case.html. And I've included further validation of user-entered lon/lat values for both functions, https://github.com/adamhsparks/nasapower/commit/df48fd8128a242e084145052eb63c1e538595ff4. I hope that I've covered off on all the requested changes (and then some).

@sckott, I

[2017-12-19 04:39] mdsumner opened #174 "Submission: tidync"
### Summary

-   What does this package do? (explain in 50 words or less):

Explore the contents of a NetCDF source (file or URL) presented as *variables* organized by *grids* with a database-like interface. The *hyper_filter* verb shows the effects of array-slicing expressions by value or index. Actual data read is delayed until explicitly requested, as a data frame or list of arrays.

-   Paste

[2017-12-19 08:55] sebastiz commented on #153
Hi @karthik.  I haven't received the review from @RMHogervorst -I was going to wait until both reviews were in before doing amendments but perhaps I should just go ahead?

[2017-12-19 09:22] RMHogervorst commented on #153
Hi Sebastiz, I'm very sorry I did not contact you too, I need approximately a week to complete my review.

[2017-12-19 09:24] RMHogervorst commented on #153
I tried to review independently but I agree with what I noticed @jonclayden said, so you could start already.

[2017-12-19 11:38] sebastiz commented on #153
OK great. Thanks

[2017-12-19 12:58] softloud commented on #160
# Package Review

* [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

* [x] **A statement of need** clearly stating problems the software is designed to solve a

[2017-12-19 18:15] sckott commented on #155
@adamhsparks If okay with you, i want to take a quick look at the latest version to see if there's anything to comment on ...

[2017-12-19 18:16] sckott commented on #160
thanks for your review @softloud !

@steffilazerte both reviews are in, continue discussion here ...

[2017-12-19 18:21] joethorley commented on #160
FWIW I built the vignettes successfully on OSX High Sierra using `install.packages("~/Code/weathercan/weathercan_0.2.2.9000.tar.gz", repos = NULL, type = "source")`

[2017-12-19 21:11] adamhsparks commented on #155
Please do!

--
Adam H Sparks

On 20 December 2017 at 04:15:36, Scott Chamberlain (notifications@github.com)
wrote:

[2017-12-19 23:38] sckott commented on #164
still seeking reviewers 🕐

[2017-12-20 00:43] mmulvahill commented on #149
I haven't been able to get the package to install and build vignettes on a clean install (hence my delay responding).  This appears to be due to a quirk in automating the bioconductor installs that I can't quite figure out.

In the 2nd update I link to below, I added some code for loading and updating with biocLite.  Despite this, I still get an error with `devtools::install("./cRegulome", build_v

[2017-12-20 00:46] sckott commented on #155
some thoughts:

for both `get_cell` and `get_region`

- unless you have some edge case stuff, would it not be easier to construct a named list of query params to pass to `GET`?
- seems smart to break apart the `GET` and `content` calls on separate lines, w/ a `stop_for_status()` or similar in between them so users get nice error messages when a server or client error happens
- I think there's no c

[2017-12-20 05:27] wlandau-lilly commented on #156
I have been thinking more about `drake`'s accessibility to new users, especially @benmarwick's comment that it is difficult to relate to the vignettes. I did some expanding and refactoring, and as of now, two of the vignettes concentrate on more down-to-earth examples. Both run quickly to avoid bottlenecking the package quality checks, and the statistical methodology is elementary to keep things c

[2017-12-20 06:43] maelle commented on #156
Cool -- I was also wondering (and have not checked myself sorry) whether the R podcast episode about `drake` is listed in the documentation? It provides some useful context&history.

[2017-12-20 13:51] wlandau-lilly commented on #156
Good question, @maelle. I have not mentioned it in the documentation, and I am still trying to decide whether I will.

[2017-12-20 14:58] elinw opened #175 "Skimr"
### Summary

-   What does this package do? (explain in 50 words or less):
Creates compact and flexible data summaries that are pipeable and display nicely in the console. For a given data frame or vector the skim function provides a useful set of summary statistics (based on the class of the individual vector/column)  that allows users to skim their data to get an overall sense of what is include

[2017-12-20 17:12] boshek commented on #152
@noamross @sckott Any ideas on why the [rOpenSci review badge](https://badges.ropensci.org/152_status.svg) shows "Peer reviewed" as the badge but when rendered in the `tidyhydat` [README](https://github.com/ropensci/tidyhydat/blob/master/README.Rmd) still shows "Under Review'? Also renders locally displaying the "Peer Reviewed" badge and over at [CRAN](https://cran.r-project.org/web/packages/tidyh

[2017-12-20 17:21] karthik commented on #152
@boshek I suspect that might have to do with GitHub caching? I've set the badges to expire immediately. I'll look into this and get back to you.

[2017-12-20 17:21] karthik commented on #152
Looking over your README, it does show as peer reviewed to me as well.

![image](https://user-images.githubusercontent.com/138494/34219787-2c678ef2-e567-11e7-9b70-4b7254835d47.png)

[2017-12-20 17:24] boshek commented on #152
@karthik Yep you are right. Caching was the issue. Thanks.

[2017-12-20 17:30] sckott commented on #164
Reviewers are @jeroen @jonclayden - Due 2018-01-18

[2017-12-20 18:12] steffilazerte commented on #160
Great thanks to both of you. I'm not sure what's going on with that test but I'll take a look.
In general, I've been incorporating changes based on your suggestions to the developmental branch and will push to the master branch sometime after Christmas!

[2017-12-20 21:33] karthik commented on #175
👋 @elinw
Thanks very much for this submission. I will assign an editor shortly and we will then work through the editor checklist before we assign reviewers. We normally strive to get the process started within 5 business days. But we are approaching winter break (I'll be offline all of next week). So in the chance that we are not able to assign an editor/reviewers in the next two days, you'll see

[2017-12-20 21:37] adamhsparks commented on #155
@sckott, can you add some detail to your first point, "unless you have some edge case stuff, would it not be easier to construct a named list of query params to pass to GET"?

I don't understand what you're suggesting here.

Also, do you have any ideas for caching the data with the region fxn? I'm trying to figure something out, I got nothin. Does _httr_ offer any methods for caching data or captu

[2017-12-20 22:32] sckott commented on #155
e.g. instead of this pattern https://github.com/adamhsparks/nasapower/blob/master/R/get_cell.R#L111-L135 can do instead `list(lon = longlat[1], lat = lonlat[2], ...)`, etc. and pass to `GET` as first param just the base URL, and pass that list to `query`

No, there's nothing built in for caching. There's lots of potential solutions for caching. A pattern I use is https://cran.rstudio.com/web/packa

[2017-12-20 22:48] adamhsparks commented on #155
Ah, sorry about the caching. I totally understand. My mind had just gone somewhere else with trying to capture data being downloaded, my example of downloading the entire grid for one day takes a while, and thinking if the download was interrupted how to capture that so as to not have to start over again. Might not be possible.

Sure, I can integrate _hoardr_ into this package, easily done.

I've

[2017-12-21 05:15] adamhsparks commented on #155
@sckott, I've implemented the use of `query`. I can't seem to get it to allow for multiple values with the same name though. All of the weather parameters are the same key, "p". I can create a list with all ten parameters listed, but `query` only seems to return the first and drops the rest. I've worked around it with a bit cleaner bit of code that still involves `paste` than what I had used. Over

[2017-12-21 08:22] RMHogervorst commented on #153
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2017-12-21 16:43] kenarab commented on #157
Hello Noam:

I'm sorry but we have been too much busy with the end of the year. I hope w
will be making a submission on 2017 :)

Happy new year for you.

Best regards.

2017-12-08 23:05 GMT-03:00 Noam Ross <notifications@github.com>:

--
 alejandro baranek
@ken4rab <https://twitter.com/ken4rab>
qbotics <http://qbotics.tumblr.com/> | surferinvaders
<http://surferinvaders.tumblr.com> | algebraic-sou

[2017-12-21 21:05] sckott commented on #155
Right, repeated params are a bit trickier. Glad it works.

Totally up to you on the caching, makes sense to me what you describe to not do the caching.

[2017-12-22 02:37] wlandau-lilly commented on #156
FYI: I just mentioned the podcast episode in the documentation section of the README (see the commit referenced above).

[2017-12-23 03:45] ajduncanson commented on #42
Sounds great, but I can't get it to install:

In response to ghit::install_github(c("ropensci/tabulizerjars", "ropensci/tabulizer"))

I get this:

Warning in as.POSIXlt.POSIXct(x, tz) :
  unknown timezone 'default/Australia/Sydney'

Warning in as.POSIXlt.POSIXct(x, tz) :
  unknown timezone 'default/Australia/Sydney'

ropensci/tabulizerjars     ropensci/tabulizer
                    NA

[2017-12-23 12:55] lmullen commented on #42
@ajduncanson This is not the right place for support. Try the tabulizer repo itself.

That said, the problem is probably not with tabulizer. The time zone warning sounds like the one with a recent version of R on MacOS, and you may have warnings set to errors. I suggest that you search for a solution to the time zone problem, check whether you have warnings set to errors, and if neither of those w

[2017-12-23 21:44] karthik commented on #153
@sebastiz Sorry for the slow response. There was no need to wait for Roel but looks like his comments are in too. So whenever you get a chance to address these issues, please update the thread and tag me. Happy holidays!

[2017-12-24 22:31] PeteHaitch commented on #149
Hi @MahShaaban

The vignette still needs more careful proofreading. In my opinion, the vignettes should be the most useful parts of the package but they can be hard to follow in their current state.

For example in the 'Case Study' vignette, "In the previous section, we showed the code for obtaining the TF/microRNA-gene expression correlation in stomach and esophogeal cancer using Cistrome and miR

[2017-12-28 00:52] MahShaaban commented on #149
Thanks @mmulvahill & @PeteHaitch for these comments.
I will work on them and follow with a commit soon.
Happy holidays
Mahmoud

[2017-12-29 16:00] nacnudus commented on #168
Hi @sebastian-fox @noamross, here's my review.

## Package Review

By Duncan Garmonsway @nacnudus

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work.

#### Documentation

The package includes all the following forms of documentation:

- [ ] **A statement of need** clearly stating problems the software is designed to solve and its target audience in

[2017-12-30 19:06] karthik commented on #174
👋 @mdsumner We have been on break (and for a couple more days). I will advise with next steps upon my return next week.

[2017-12-30 20:45] maelle commented on #156
:wave: @jeroen and @jules32, friendly reminder that your review is due on Jan the 4th.😺

[2017-12-30 20:48] maelle commented on #139
@raymondben @mdsumner any progress? Happy end of the year!

[2017-12-30 22:23] jeroen commented on #156
😅

[2017-12-30 23:32] jeroen commented on #164
# Review

Thank you for your submission and for introducing me to ImageJ!

ROpenSci is working on improving image processing/analysis tools in R and you are doing interesting work in this space. We should see if we can collaborate more in the future.

## Main Points

The readme explains that `ijtiff` can be used to read tiff files that were written by ImageJ and that it may also work for some othe

[2018-01-01 22:55] jeroen commented on #156
I'm asking some help from @HenrikBengtsson to review the parallelism components.

[2018-01-02 21:06] erzk opened #176 "PostcodesioR submission"
### Summary

-   What does this package do? (explain in 50 words or less):

It is an API wrapper for http://postcodes.io/ which is a free geolocation service for the UK data.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):

https://github.com/erzk/PostcodesioR

- Please indicate which category

[2018-01-02 21:43] arendsee opened #177 "rhmmer - presubmission"
### Summary

-   What does this package do? (explain in 50 words or less):

Parses output of HMMER into tidy data frames

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):

https://github.com/arendsee/rhmmer

- Please indicate which category or categories from our [package fit policies](https://gi

[2018-01-02 21:51] arendsee commented on #177
I submit this as a presubmission because I am not certain whether it is substantial enough for entry into ropensci. It is a very minimal tool specific for interfacing with one program.

However, I think there are several useful directions in which it could evolve, so I wanted to share it with the community.

[2018-01-02 23:19] arendsee opened #178 "oneKP - submission"
### Summary

-   What does this package do? (explain in 50 words or less):

Access metadata and raw sequence data from the 1000 Plant Transcriptomes (1KP) initiative.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):

https://github.com/arendsee/oneKP

- Please indicate which category or categori

[2018-01-03 02:51] karthik commented on #173
@chris-prener I'm just returning from break this week. Will update the thread shortly.

[2018-01-03 07:53] jeroen commented on #156
Sorry folks I'm not going to make the deadline. Can we push it back 1 month? 😯

[2018-01-03 10:26] GuangchuangYu opened #179 "treeio for parsing and exporting phylogenetic trees"
### Summary

-   What does this package do? (explain in 50 words or less):

Parsing and exporting phylogenetic trees with associated data.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):

<https://github.com/GuangchuangYu/treeio>

- Please indicate which category or categories from our [package

[2018-01-03 11:44] chris-prener commented on #173
ok great @karthik - no worries!

[2018-01-03 14:44] lmullen commented on #169
Two reviewers have agreed to review this package. Reviewers, thanks for being willing, and I'll ask you to have your reviews in within three weeks. Here is the [reviewer's guide](https://github.com/ropensci/onboarding/blob/master/reviewing_guide.md). Feel free to let me know if you have any questions.

Reviewer: Anna Krystalli, @annakrystalli
Reviewer: Bryce Mecum, @amoeba
Due date: 2018-01-25

@c

[2018-01-03 15:41] steffilazerte commented on #160
At long last! Apologies for the delay, and many thanks to all reviewers for your time and effort, it is really appreciated. I have made changes and responded to your comments/suggestions below, quoting the commit the change was made in.

## Response to @joethorley

#### A statement of need
- [X] The README definitely requires a brief discussion of how the current package differs from rclimateca an

[2018-01-03 18:00] sckott commented on #160
Thanks for your response @steffilazerte - @softloud and @joethorley let us know if you are happy with the authors response to your reviews and if there's any others aspects you have comments on

[2018-01-03 20:06] carlganz commented on #168
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-01-03 20:41] noamross commented on #168
Thank you for your thorough reviews, @nacnudus and @carlganz!  @sebastian-fox, at this point we generally aim for a response to reviewers within two weeks. This can be fully implementing recommended changes or just a written response of the changes you plan to make and a time frame ([example](https://github.com/ropensci/onboarding/issues/87#issuecomment-312666878)).

I would re-emphasize @nacnudus

[2018-01-04 03:50] jules32 commented on #156
Hi All!

Sorry for the silence over break! I've just had the chance to review drake, but it is just a partial review at this point, partly because I'm approaching the 3 hour mark, and partly because I am getting an error installing the current version from GitHub (note: I know this is because you've been working on it in my silence! You are probably already fixing it, but the error is below).

My

[2018-01-04 04:25] jules32 commented on #156
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

JL: I am reviewing

[2018-01-04 06:26] rvalavi opened #180 "pre-submission inquiry: new package"
Hi,
I want to submit my package to rOpenSci for the submission as a requirement of Methods in Ecology and Evolution journal. I wonder if I need to create a GitHub repository for an R package prior to the submission.

Kind regards,
Roozbeh

[2018-01-04 06:43] karthik commented on #180
Hi Roozbeh,
Yes you'll need to create a git based repository for your project prior to submitting to our system. Once you've created a repository, fill out our submission template. More information on the submission steps are here: https://github.com/ropensci/onboarding#how-to-submit-your-package-for-review

[2018-01-04 06:47] rvalavi commented on #180
Hi Karthik,
Thanks for the quick reply.
Regards,
Roozbeh

[2018-01-04 07:25] MahShaaban commented on #149
Here are a few changes I made to address the issues with the installation and the vignette.

## Code changes

- `get_db` now handles the unzipping process. So I moved `R.utils` to the **Imports** section in the `DESCRIPTION` file. This solved the problem of the installation. I successfully installed the package on **rocker/verse** by either `devtools::install_github('MahShaaban/cRegulome', build_v

[2018-01-04 10:25] maelle commented on #156
Happy New Year everyone in this thread!

@jules32 Thanks a lot for your review!

I'm trying to find a technical reviewer who'd have time to review `drake` before Jeroen's available again, I'll update this thread once I know more. Sorry for the long process, @wlandau-lilly , and thanks again for your work on the package since the submission!

[2018-01-04 15:26] wlandau-lilly commented on #156
Thank you, @jules32! I am eager to address your comments, and I expect to have a proper response within the next couple days. For now, I will comment on the installation issue you mentioned, which I believe I addressed just now via https://github.com/wlandau-lilly/drake/commit/16a4ea5dcd8017dbe2c756e3e4d301565f3fd4ee. The [Ecdat package](https://cran.r-project.org/package=Ecdat) is only required f

[2018-01-04 16:40] joethorley commented on #160
@sckott I am happy with the authors response - I have no further comments

[2018-01-04 16:43] sckott commented on #160
thanks @joethorley

[2018-01-05 11:05] rvalavi opened #182 "blockCV package"
### Summary

-   What does this package do? (explain in 50 words or less):

The package facilitates spatial cross-validation procedure. It creates spatially or environmentally separated training and testing folds for cross-validation to provide a robust error estimation in spatially structured environments. It also investigates the spatial autocorrelation in raster covariates to find an initial re

[2018-01-05 11:22] maelle commented on #156
@wlandau-lilly I've contacted several potential technical reviewers to see if they could review this package rapidly, without success which is maybe not surprising at this time of the year after the holidays. A non rapid review would be the usual 3 weeks which is not much shorter than one month. I therefore propose we wait for @jeroen's review, with a new due date, 2018-02-04. I'm very sorry about

[2018-01-05 13:50] wlandau-lilly commented on #156
@maelle I was hoping to complete this before [rstudio::conf(2018)](https://www.rstudio.com/conference/), but I guess it can't be helped. And I realize that the winter holidays are not the right time to do work. Thank you for trying.

[2018-01-05 14:19] jeronjacob commented on #156
I think you may have notified me accidentally. I am not involved in this project.

[2018-01-05 14:21] wlandau-lilly commented on #156
Sorry, @jeronjacob. Feel free to unsubscribe from this thread.

[2018-01-05 14:57] wlandau-lilly commented on #156
# Response to @jules32's partial review from January 3

Your feedback and advice are extremely helpful, and your encouragement is gratifying. I want to reach as many new users as possible, so I care a lot about outside feedback on the documentation. Thank you for your efforts.

I agree with all your suggestions from January 3, and I believe I addressed them all in https://github.com/wlandau-lilly/

[2018-01-05 17:45] sckott commented on #164
Thanks for your reviews @jeroen  and @jonclayden !

@rorynolan reviews are now in. There's no one way to respond to reviewers, but here's some examples of responses to reviewers that we like:

- https://github.com/ropensci/onboarding/issues/160#issuecomment-355043656
- https://github.com/ropensci/onboarding/issues/152#issuecomment-341228007
- https://github.com/ropensci/onboarding/issues/141#issue

[2018-01-07 15:14] lbusett opened #184 "Submission: MODIStsp"
### Summary

-   What does this package do? (explain in 50 words or less):

Facilitates the creation of time series of raster images derived from MODIS Satellite Land Products by automating and standardizing several preprocessing steps (e.g., download, mosaicing, reprojection, resize, indexes computation, data extraction). Processing parameters are set using a powerful GUI. Non-interactive executi

[2018-01-08 06:25] maelle commented on #139
@raymondben @mdsumner any progress? Happy New Year!

[2018-01-08 12:54] rorynolan commented on #164
## Responding to @jeroen

### Main Points
* __Are there multiple tiff formats? Are these ImageJ files still proper tiff format or some derivative format?__
  - No. The README now better explains that the main difference is that ImageJ has a weird (and I would say bad) way of encoding channel information, but the TIFF files that it writes are still bona fide TIFFs, not a different/derivative format

[2018-01-08 14:20] rorynolan commented on #164
## Responding to @jonclayden

1. __The vignette is quite bare-bones. In particular, it doesn't set the scene, explaining why ImageJ generates TIFF files of the kind that it does, and why it is important to interpret them correctly in R. I would also suggest briefly explaining channels and frames in general, and (if appropriate) ImageJ's usage of them in particular. I would expect that "text images

[2018-01-08 14:55] wlandau-lilly commented on #156
FYI: I just added the JOSS submission docs in https://github.com/wlandau-lilly/drake/commit/1c9c67b6495330d5674315bc019e5473d0e7a4ab. You can compile the pdf with `pandoc --bibliography paper.bib paper.md -o paper.pdf`. Since a DOI for a GitHub repo needs a tag/release, I will wait to generate one for `drake` until all the reviewers here approve the rest of the package.

[2018-01-08 15:00] wlandau-lilly commented on #156
Also, I would like the DOI to correspond to a version of `drake` whose logo and links refer to https://github.com/ropensci/drake (see also https://github.com/wlandau-lilly/drake/pull/176) and the CRAN release of version 5.0.0.

[2018-01-08 15:52] jonclayden commented on #164
Thanks, Rory, for the quick response. I think the vignette is much clearer and more helpful now. The namespace syntax is really a matter of taste, so if you prefer it as it is then that's perfectly fine. (Hadley slightly contradicts himself, though, as he says to "always" use `::`, and then two paragraphs later says, "If you are using functions repeatedly, you can avoid `::` by importing the funct

[2018-01-08 17:57] lwasser commented on #184
hey @lbusett  one of my students used this package in his final project in the fall! he showed it to me and said it was really nice.

[2018-01-08 18:03] sckott commented on #164
(FYI, jeroen is on vacation for another two weeks, so likely won't get a response until then)

[2018-01-08 18:38] maelle commented on #156
@jules32 recruited a technical reviewer! :tada: Thanks a ton! Welcome, @gothub, and thanks a lot! Is 2018/01/22 a good deadline for your review?

Here is [our review template](https://github.com/ropensci/onboarding/blob/master/reviewer_template.md) and our [reviewing guide](https://github.com/ropensci/onboarding/blob/master/reviewing_guide.md)

[2018-01-08 20:30] #180 closed

[2018-01-08 20:37] karthik commented on #184
👋 @lbusett I will be handling your submission. Thanks also for the reviewer suggestions.
@lwasser Would you be interested in being one of the reviewers?

[2018-01-08 20:50] karthik commented on #184
I have also reached out to @jeffreyhanson by email.

[2018-01-08 21:13] lbusett commented on #184
@karthik Great, thanks!
@lwasser Glad to hear about that!

[2018-01-08 22:18] lwasser commented on #184
sure @karthik i'll review this. i wanted to spend some time playing with it after my student showed it to me. What is the deadline? i'll need a few weeks given i just got back from travel today.

[2018-01-08 22:56] sckott commented on #179
Hi @GuangchuangYu - Thanks very much for your submission. I'll report back with an editor check shortly

[2018-01-08 22:57] raymondben commented on #139
Hi @maelle - think we've done most/all of the major code changes (see postrev branch), now a matter of revising all documentation & vignettes. Unfortunately this isn't high priority work right now, so it may not be fast turnaround ...

[2018-01-09 03:42] wlandau-lilly commented on #156
Yes, thank you @gothub!

By the way: @benmarwick, do you think I sufficiently addressed your review? I made several improvements since my first response on December 9.

[2018-01-09 06:50] maelle commented on #175
@elinw thanks for your submission & sorry about the delay! I've seen development is still active, do you consider `skimr` stable enough for review? It'd be best not to change too many things while the reviewers are looking.

[2018-01-09 10:10] maelle commented on #139
Okay thanks, what's your timeline then?

@lwasser has just been recruited for another review by @karthik  😉

[2018-01-09 10:21] maelle commented on #175
I'm currently trying to perform editor checks. Tests fail which I think is due to encoding.

[code]

`testthat` output

[code]

Note: I'll erase this once it's solved in order not to clutter this thread too much.

[2018-01-09 13:51] maelle commented on #175
The tests now pass on my laptop using the latest `testthat` version, thanks @jimhester for the help!

He suggested to add `testthat (>= 2.0.0)` in DESCRIPTION.

[2018-01-09 13:57] elinw commented on #175
Yes, as of now we have fixed the Windows issue  in master.  I'm about to push one more change and then I'm going to tag 1.0.1 sometime today.  I'll definitely update the testthat minimum first.

[2018-01-09 13:58] maelle commented on #175
And you can confirm that 1.0.1 will be good for review? I even have two reviewers lined up once you confirm that. 😄

[2018-01-09 14:07] elinw commented on #175
Yes it will be.

[2018-01-09 15:29] maelle commented on #175
### Editor checks:

- [x ] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [ x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [ x] **License:** The package has a CRAN or OSI accepted license
- [ x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-r

[2018-01-09 15:31] maelle commented on #175
@jimhester and @jenniferthompson thanks for accepting to review this package! Your reviews are due on the 2018-01-30. 😺

You'll find here [the review template](https://github.com/ropensci/onboarding/blob/master/reviewer_template.md) and [our reviewing guide](https://github.com/ropensci/onboarding/blob/master/reviewing_guide.md).

[2018-01-09 16:37] elinw commented on #175
Thanks for the quick checks.  I have done the easy ones, but there is one issue that we can't fix and two I'd like feedback on.

1. The complex function one is a function that is brought in from knitr so we can't do anything about that.  So in our code it is just
`kable.data.frame <- knitr::kable
`

2. In terms of long lines, the ones that remain are in tests of the print function so they are the

[2018-01-09 17:03] elinw commented on #175
Cool, just add the same line to appveyor.yml?
`  - Rscript -e 'covr::codecov()'`

[2018-01-09 17:18] jimhester commented on #175
Appveyor needs to use double quotes and you can add it to `on_success:`

[code]

And I think you may need to add your codecov token to the appveyor settings. You can get the token at https://codecov.io/gh/ropenscilabs/skimr/settings, and add it as `CODECOV_TOKEN` at https://ci.appveyor.com/project/ropenscilabs/skimr/settings/environment

[2018-01-09 17:32] gothub commented on #156
@maelle yes, I'll have my review in by 2018/01/22.

[2018-01-09 17:39] maelle commented on #156
Fantastic, thanks for being so flexible!

[2018-01-09 18:02] amrrs commented on #172
@karthik Just checking, Is something happening regarding it or Has it been discarded?

[2018-01-09 18:08] sckott commented on #179
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-01-09 18:33] karthik commented on #172
@amrrs Sorry for the delay. The editors are just back from break. We'll update the thread shortly.

[2018-01-09 18:34] amrrs commented on #172
That's  great. Will wait for the response.
On 10 Jan 2018, at 00:03, Karthik Ram <notifications@github.com<mailto:notifications@github.com>> wrote:

@amrrs<https://github.com/amrrs> Sorry for the delay. The editors are just back from break. We'll update the thread shortly.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/ropen

[2018-01-09 18:39] karthik commented on #153
@sebastiz Just wanted to check in with you and see if you had time to consider these reviews and respond with updates. 🙏

[2018-01-09 18:43] karthik commented on #177
Thanks @arendsee
We are looking into this now and will get back to you.

[2018-01-09 19:49] sckott commented on #174
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-01-09 22:33] karthik commented on #182
👋 @rvalavi
Thank you for this submission. Unfortunately this package is out of scope for rOpenSci. We are unable to accept statistical/methods packages. We encourage you to seek review elsewhere and consider submitting to the [Journal of Open Source Software](http://joss.theoj.org/)

all the best.

[2018-01-09 22:33] #182 closed

[2018-01-10 02:28] michaelquinn32 commented on #175
Thanks Jim! It seems to be working after https://github.com/ropenscilabs/skimr/pull/243/commits/c34cec75f8bad36669ffe63c69296fb9c1710089

[2018-01-10 03:05] karthik commented on #178
👋 @arendsee
We are almost caught up from the backlog of submissions over the break. A quick question. Do you have any potential users you could suggest as reviewers? No worries if you don't have any, but these are generally helpful to the editor (once assigned).

[2018-01-10 04:48] arendsee commented on #178
The potential users that I know of are all associated with my lab and know me personally. I'm not sure if this represents a conflict of interest? If not, I can recommend two people who have used my tools before and are good at catching bugs and usability shortcomings.

[2018-01-10 05:29] karthik commented on #178
Unfortunately yes, folks in your lab would present a COI.

[2018-01-10 06:28] arendsee commented on #178
Yeah, I figured they would.

In that case, possibly the author of `biomartr`, Hajk-Georg Drost (HajkD).

[2018-01-10 06:33] GuangchuangYu commented on #179
thanks @sckott !

I have checked all the boxes you mentioned and add ropensci badge on README.md.

[2018-01-10 08:33] jeffreyhanson commented on #184
Sure, I'm happy to review this. I'm pretty busy at the moment though, so it might be a few weeks before I can get around to it if that's ok?

[2018-01-10 08:41] noamross commented on #172
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-01-10 09:25] sebastiz commented on #153
@karthik. I am currently correcting the documentation and am getting through it as fast as I can. Thanks for checking in.

[2018-01-10 09:51] maelle commented on #173
@chris-prener thanks for considering a submission! Yes it'd fit in the data munging category but will be a more interesting submission once it handles several instruments which is your plan anyway. So submit it once it has a few more parsing functions for other instruments, so that the reviewed version might already be close to your "dream version". 😺

[2018-01-10 09:51] #173 closed

[2018-01-10 11:35] GuangchuangYu commented on #179
## current goodpractice output

[code]

[2018-01-10 13:37] chris-prener commented on #173
Thanks for the feedback @maelle - we'll look forward to submitting it later this year, then!

[2018-01-10 13:40] maelle commented on #173
🎉😀

[2018-01-10 13:41] maelle commented on #173
If you have any question in the meantime you can ping me here or ask in https://discuss.ropensci.org

[2018-01-10 14:23] kvantas opened #185 "Submission: hydroscoper"
### Summary

-   What does this package do? (explain in 50 words or less):
*hydroscoper* is an interface to the Greek National Data Bank for Hydrological and Meteorological Information, Hydroscope. It provides functions to: a) Transform the available tables and data sets into tidy data frames. b) Transliterate the Greek Unicode text to Latin. c) Translate various Greek terms to English.

-   Paste

[2018-01-10 14:26] kvantas commented on #185
using cover::package_coverage() using local tests (i.e. comment line 20 in file /test/test_get.R) I get:
[code]

and with goodpractice::gp():
[code]

[2018-01-10 16:54] karthik commented on #184
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-01-10 16:55] karthik commented on #184
@lwasser @jeffreyhanson Thanks very much! I've tentatively assigned Feb 10th. Please let me know if anything changes. 🙏

[2018-01-10 17:16] karthik commented on #176
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-01-10 17:34] lbusett commented on #184
@karthik Sorry to hear that you having problems in installation.... :worried: Unfortunately, as I reported in the submission, that is a common problem related to the requirements of the `gWidgetsRGtk2` package. Instructions reported here: http://lbusett.github.io/MODIStsp/articles/installation.html are usually sufficient to solve the issue (unless you are working on a mac with os sierra, in which

[2018-01-10 18:40] sckott commented on #178
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-01-10 18:59] arendsee commented on #178
Thanks @sckott !

I'll address all the issues shortly.

[2018-01-10 19:13] sckott commented on #178
You don't have to now - can also wait for reviews to come in firts

[2018-01-10 19:17] #102 closed

[2018-01-10 23:36] erzk commented on #176
- Tests added
- If I use Imports for httr, then most functions crash. This is the main dependency so using Depends is stronger than Imports
- '=' assignments fixed
- long lines were mostly split, except the functions definitions where it's more readable (IMHO) to keep them on one line
- vapply() won't do the job in the highlighted functions
- I imported the httr to avoid calling several httr funct

[2018-01-11 02:13] elinw commented on #175
Release 1.0.1 should be in CRAN at this point. @michaelquinn32 is doing some refactoring that should be invisible to end users, and we have plans for updating some tests and documentation (and some feature requests) but other than that things are stable.

[2018-01-11 11:38] tklebel opened #186 "Pre-submission: jstor"
The tool [Data for Research (DfR)](http://www.jstor.org/dfr/) by JSTOR is a valuable source for citation analysis and text mining. [`jstor`](https://github.com/tklebel/jstor) provides functions and suggests workflows for importing datasets from DfR. It was developed to deal with very large datasets which require an agreement with DfR, but can be used with smaller ones as well.

Currently, DfR offe

[2018-01-11 16:22] maelle commented on #159
Closing this as discussed in the package repo! When submitting your package again after it's stable please put a link to this issue. See you soon in this repository! 😉

[2018-01-11 16:22] #159 closed

[2018-01-11 17:21] maelle commented on #185
@kvantas I get an error when checking the package

[code]

I cannot open this URL in the browser either. If the website often fails, maybe you should add some error handling?

I've got two reviewers lined up so as soon as you fix this, the review process can begin! 😉

[2018-01-11 17:27] maelle commented on #185
The problem is with `get_database("deh")`. The call to `get_database` works for the other subdomains.

[2018-01-11 18:23] kvantas commented on #185
@maelle, thanks for the feedback.

I suspect that the server is down for maintenance,  to upgrade the Enhydris database system and the site's front-end. `deh.hydroscope.gr` used older versions of both.  I am using Hydroscope the last two years and its sub-domains rarely fail.

I sent an email to the Special Secretariat for Water for info.  Do you think that I should add error handling anyway?

[2018-01-11 18:35] karthik commented on #186
👋 @tklebel
The editorial team and I feel that this would be a very good addition to the suite under the data extraction category. We welcome a full submission when you're ready.  🙏 🎉

[2018-01-11 18:35] #186 closed

[2018-01-11 18:44] maelle commented on #185
Thanks for your quick answer. Yes it might give a better error message to the user, so that they know what's going on. Please update this thread once you know the server is up again!

[2018-01-11 18:58] tklebel commented on #186
@karthik thank you for your quick response and your interest! I’ll aim for a submission within 10-14 days.

[2018-01-12 12:39] kvantas commented on #185
Hydroscope reported to me that `ypaat`, `emy` and `kyy` sub-domains are maintained by the National Technical University Of Athens and that `deh` sub-domain is maintained by the Greek Public Power Corporation and  that this server was down for some days three months ago.

I excluded the use of `deh` in the vignette and I added conditionally evaluation for the chunks in the Rmd file based on the ava

[2018-01-12 13:05] maelle commented on #185
Ok, thanks! I still think that you should add more error handling, so that if it fails, an user trying to acces `deh` might get something like "The server for that data source is probably down, get more info at blablabla or try again later".

Will update this thread with editor checks etc a bit later!

[2018-01-12 13:32] maelle commented on #185
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-01-12 13:34] maelle commented on #185
@timtrice @theoniphotopoulou thanks for accepting to review this package! 😄

Your reviews are due on 2018-02-04.

Please find here [our reviewing guide](https://github.com/ropensci/onboarding/blob/master/reviewing_guide.md) and [the review template](https://github.com/ropensci/onboarding/blob/master/reviewer_template.md)

[2018-01-12 14:19] kvantas commented on #185
Following @maelle 's advice I enriched error handling about all the sub-domains availability. Thank you very much!

[2018-01-12 17:04] sebastian-fox commented on #168
Hi @noamross , @carlganz  and @nacnudus ,

Firstly, a massive thank you for taking your time to look at this package. I can see you have given it an extremely thorough review and I've learnt **a lot** from your comments, so thank you.

I'll respond to question first, then what I have/haven't addressed:

### Question
Why isn't Fingertips on a .gov.uk website? I'm afraid I don't know the answer (I'm

[2018-01-12 17:13] sebastian-fox commented on #168
I should have mentioned - all the changes have been made to v0.1.3.9000. I should submit the package to CRAN again soon because of the change in the `indicator_areatypes()` function now pulling data from the API. I'll wait for any further feedback from you before doing so.

[2018-01-12 19:09] karthik commented on #176
@Robinlovelace is reviewer one. I've given you extra time since you're currently busy. Please let me know if you are able to get a review in by Feb 6th. 🙏

[2018-01-12 19:19] karthik commented on #176
@cvitolo is reviewer 2. Thanks Claudia!

[2018-01-12 22:22] Robinlovelace commented on #176
Sure will give it a go.

[2018-01-13 11:03] mdsumner commented on #174
Thanks @sckott !  I added the rOpenSci badge, and I'll fix the lines and lack of tests.

I *expect* the "suggested but not available" error goes away if you install `palr` and `ncdump` from CRAN.

Editor, and reviewers: please note there's a Remotes: hypertidy/ncmeta which will need to go on CRAN soon as well.

[2018-01-13 12:43] nacnudus commented on #168
@sebastian-fox thanks for making all those changes -- that's a lot of work!  There are a couple of small leftovers, but in general I think this is ready to go now.

* Coverage: The one line that isn't covered (159 of `R/fingertips_data.R`) is one that I don't think will ever be executed, because an earlier, equivalent test in the same function will fail first.  It could be tidied up, but I don't t

[2018-01-14 19:39] sebastian-fox commented on #168
Hi @nacnudus ,

Thanks for the further comments - all really helpful again.
I've made all the changes now:

* removed line 159 from `fingertips_data()` as it was being tested on line 91
* updated link to travis
* corrected accessibility typo
* fixed the CRAN install README chunk to render properly
* corrected the `deprivation_decile()` test

And this time I've checked that the package builds.

Tha

[2018-01-14 23:30] raymondben commented on #139
@maelle actualy probably not far off now, we have given it a good thrashing in the last few days. In the next week or so, with a bit of luck?

[2018-01-15 15:49] noamross commented on #168
Thanks for your revisions and response, @sebastian-fox and @nacnudus. @carlganz, let us know whether the changes address your comments.

[2018-01-16 05:18] amrrs commented on #172
@noamross Thanks for the comments.

- Fixed the coverage
- Started writing Vignette
- Will change the license
- Reg. the documentation, Is it fine if I just add more description around the API service in Readme.md or is there anywhere else I've got to add details?

[2018-01-16 15:46] noamross commented on #172
You don't have to put verbose information everywhere, but we find it helpful to put links back to wherever you have the most comprehensive description in the vignette and in top-level package documentation (`?coinmarketcapr`).

[2018-01-17 02:45] sckott commented on #179
reviewers assigned

Reviewers: @uyedaj @fmichonneau
Due date: 2018-02-06

[2018-01-17 09:29] lbusett commented on #184
Hi @karthik . Just wanted to ask if in the end you managed to solve the installation issues or you are still having problems. In case you are working on a mac and you are still struggling, these are the "latest" instructions I found regarding how to install packages "RGtk2" (and consequently gWidgetsRGtk2) on mac os Sierra:

https://stackoverflow.com/a/46748516/6871135

[2018-01-17 17:23] carlganz commented on #168
**Final approval (post-review)**
The author has responded to my review and made changes to my satisfaction. I recommend approving this package.

Congrats @sebastian-fox

[2018-01-17 19:43] karthik commented on #177
Hi @arendsee
The editors and I feel like this would be a good fit for a full submission. However, we are keen to learn if you think there is similar class of file types that this package could be expanded to handle?

[2018-01-17 20:29] arendsee commented on #177
Off the cuff, I can think two other formats.

 1. The pfam format that is the default output of `hmmscan`. This would be a pretty heavy parse job. I would probably want to implement it in C++/Rcpp.

 2. The HMM profiles. Here I would want to do both reading and writing. Then we could develop the profiles in R and write them for use in HMMER.

There are other formats produced by HMMER tools besides

[2018-01-17 20:55] arendsee commented on #177
Here are a few other formats:

 1. `hmmstat` profile statistics output

 2. `hmmlogo` output used to build logo plots from a profile

 3. `hmmalign` output, this is just Stockholm format, I suspect parsers for this format already exist. But we could add a wrapper.

 All of the outputs of HMMER also contain metadata, which I am currently not parsing out.

[2018-01-18 01:24] noamross commented on #168
Approved! 🎉 Thank you for submitting and @nacnudus and @carlganz for thorough and timely reviews. To-dos:

- [ ] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.

- [ ] Add the rOpenSci footer to the bottom of your README

[code]
- [ ] Fix any links in badges for CI and cov

[2018-01-18 01:33] stefaniebutland commented on #168
Hello @sebastian-fox. I'm rOpenSci's Community Manager. Happy to answer any questions you might have about contributing a post for the rOpenSci blog.

[2018-01-18 10:17] sebastian-fox commented on #168
Thanks all - I can see a lot of work goes into this from your end so this is really appreciated.

I will transfer the package over as soon as I can. I'm don't have admin access currently to my repo so I can't see the settings option. I need to negotiate admin rights, so hopefully that won't take too long.

Thanks again

[2018-01-18 16:56] sckott commented on #174
Reviewers assigned

Reviewers: @timcdlucas @Nowosad
Due date: 2018-02-08

[2018-01-19 15:28] sebastian-fox commented on #168
Hi @noamross - I've completed your checklist. Thanks for your help. I'll start thinking about blogs :)

[2018-01-19 15:45] noamross commented on #168
Great! Welcome aboard! I will close this issue, you'll find instructions on submitting a blog post over at https://github.com/ropensci/roweb2#contributing-a-blog-post .

[2018-01-19 15:45] #168 closed

[2018-01-21 23:35] cvitolo commented on #176
## Package Review

@karthik Here is my review.

@erzk Nice package and works like a charm, well done!
Below are few comments, the vast majority are related to the documentation, only few to functionalities. I hope my comments are self-explanatory but if you need further explaination please do not hesitate to ask :)

- [x] As the reviewer I confirm that there are no conflicts of interest for me to

[2018-01-21 23:57] erzk commented on #176
@cvitolo Thanks for the comments. Very useful. I'll address the issues that you mentioned ASAP.

[2018-01-22 17:12] gothub commented on #156
@maelle here is my review:

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your r

[2018-01-22 20:16] karthik commented on #136
@emhart @aurielfournier gentle ping on signing off on this submission (or raising further issues). 🙏