[2022-03-02 03:20] ekothe commented on #435
Thanks @ldecicco-USGS, @elinw and @juliasilge

I've completed the cleanup tasks suggested by @juliasilge. These have been incorporated as of commit [a6e22f9](https://github.com/ropenscilabs/gendercoder/commit/a6e22f9d4b13124b18eabab6c11dbbf61f4059ab)

- Complete

- Complete. Now using backticks throughout

- Complete. While dplyr is used in suggests, checks failed until I removed the pipe and spec

[2022-03-02 07:17] jooolia commented on #504
Dear @MagicForrest,
Thank you for your pre-submission. Can you clarify if this is intended to be a statistical package submission? If that is the case it would be great if you can fill out the stats standards section (currently it is "NA").
Thanks, Julia

[2022-03-02 17:06] juliasilge commented on #435
This looks great! 🙌 If you wanted to do a tiny bit more clean-up, I would recommend removing the old `travis.yml` file. However, I approve as is.

[2022-03-02 20:34] tdhock commented on #475
hi @KlausVigo thanks for your detailed review. can you please tell us approximately how many hours you spent on reviewing? (you left that field blank in your review comment)

[2022-03-02 20:35] tdhock commented on #475
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/475#issuecomment-1002754119 time 9

[2022-03-04 08:05] frankfarach opened #505 "npi: Access the U.S. National Provider Identifier Registry API"
**Date accepted:** 2022-11-08
**Reviewers:**
Submitting Author Name: Frank Farach
Submitting Author Github Handle: @frankfarach
Other Package Authors Github handles: (comma separated, delete if none) @parmsam
Repository:  https://github.com/frankfarach/npi
Version submitted: 0.1.0
Submission type: Standard
Editor: @maelle
Reviewers: @Rekyt, @zabore
Due date for @Rekyt: 2022-04-04
Due date for @zab

[2022-03-04 13:03] jooolia commented on #504
Dear @MagicForrest,
Thanks for your response. If it is to be a Data Lifecycle package then it is out of scope as  a ["Packages that wrap or implement statistical or machine learning methods."](https://devguide.ropensci.org/policies.html#other-scope-considerations). However it could potentially in-scope for a statistical package, but would require more [documentation](https://stats-devguide.ropensc

[2022-03-04 14:54] MagicForrest commented on #504
Dear @jooolia,

I see your point, although wrapping statistical methods is really a very small part of what the package does, so I don't think it really fits as a statistical package.  However, when I read that section, I also realised that the package is likely out of scope on the grounds of "Exploratory data analysis packages that visualize or summarize data.".  This is a **big** part of what th

[2022-03-04 15:13] hannahlowens commented on #407
# Review Response

Hi @ldecicco-USGS and @damianooldoni,

After a long time (sincere apologies there), I have worked through Damiano's wonderfully thorough and helpful review, and I have added him as a reviewer in the package citation. Below, I will go through his comments, point-by-point.

## Regarding "points"

At several places in the review, the reviewer suggests replacing "point(s)" with "occ

[2022-03-04 17:08] grwhumphries opened #506 "Presubmission inquiry - stochLAB package for modelling collision risk at offshore wind farms"
Submitting Author Grant Humphries
**Reviewers:**
**Editor:**
Language Code English
Submitting Author: Grant Humphries (@grwhumphries)
Other Package Authors: Bruno Caneco (@bcaneco)
Repository:  https://github.com/HiDef-Aerial-Surveying/stochLAB
Submission type: Pre-submission

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or

[2022-03-04 18:49] clnsmth commented on #498
Thanks again for these helpful reviews @laijasmine @bozaah! I agree with all of your recommendations and will begin implementing them in the `development` branch of the EDIutils GitHub. The responses and links to corresponding commits will be listed here in this issue thread, and the changes should be completed by the end of Tuesday.

[2022-03-04 21:45] quishqa commented on #474
Dear @ldecicco-USGS , @beatrizmilz , and @kauedesousa , What is the status of the review? do you need any extra information or correction?

[2022-03-04 22:05] ldecicco-USGS commented on #474
Sorry about that. Everything looks great! I'm heading out of town for the weekend, but will kick off the approval process on Monday assuming @beatrizmilz and @kauedesousa don't have any objections.

[2022-03-05 09:00] kauedesousa commented on #474
No objection. I recommend the approval. I just wonder why you didn't submit it with a paper for JOSS. Anyways, thanks for opportunity to review the R package.

[2022-03-05 11:15] beatrizmilz commented on #474
I also recommend the approval!

[2022-03-06 09:52] maurolepore commented on #485
Dear @WillOnGit, please :pray:  note the due date is only a few days ahead: 2022-03-10

[2022-03-06 15:25] ewallace commented on #470
Hello @jooolia is there any news about this review process?

[2022-03-07 03:20] GLOrozcoM commented on #418
YES! And thank you for your patience @maelle. We fixed our issue with GitHub Pages (https://glorozcom.github.io/epair/) and documentation for our functions are up!

We're finalizing a change to our ReadMe and entries that use the new higher level user functions, and we'll post here as soon as those are ready.

[2022-03-07 12:57] KlausVigo commented on #475
Hi @joelnitta,

I just made a commit to phyloregion [cb819fb](https://github.com/darunabas/phyloregion/commit/cb819fb430e9c539d36f74937e2c680575d5e0e7). This might solves the problem,  at least `sessionInfo()` suggests that `snow` is not loaded via a namespace any more.

Regards,
Klaus

[2022-03-08 06:26] joelnitta commented on #475
@KlausVigo thanks for making that change: [I switched back to importing phyloregion](https://github.com/joelnitta/canaper/commit/7e8b24950912bfa2a5e10cf4dd9cfa8910d74e76), and it [passes the tests](https://github.com/joelnitta/canaper/commit/0c95b885e76abf563b70099a814d62744f6ee65c) for consistent results using the same seed in parallel.

I just have one request: would you consider bumping the phy

[2022-03-08 10:54] WillOnGit commented on #485
Hi all, sorry but I've been mad busy lately. I'll begin my review this afternoon and will submit tomorrow evening at the latest.

[2022-03-08 12:36] assignUser commented on #502
Hey @annakrystalli do you need any input from my side at this point to continue the submission?

[2022-03-08 17:34] ldecicco-USGS commented on #435
@ropensci-review-bot approve gendercoder

[2022-03-08 17:38] ldecicco-USGS commented on #407
Looks great! @damianooldoni let me know if you think the response to the review is satisfactory.

[2022-03-08 21:33] jhollist commented on #492
@cboettig Just checking in to see where we are on this.  It sounds like we are in a holding pattern until the dependency issues are resolved.  It might make sense to put the review on hold until then, unless you think it won't be too much longer.  Thoughts?

[2022-03-09 06:03] cboettig commented on #492
@jhollist thanks for the ping!

Good question, yeah, can't really predict how long it might be to see the `to_duckdb()` or `duckdb_register_arrow()` mechanisms fixed.

It sounds like we could just make `gbif_local()` be "pure-duckdb" and `gbif_remote()` be pure `arrow` and we would not have any issues. Once those mechanisms stabilize, we could put them back in (I think they have the potential for

[2022-03-09 08:52] damianooldoni commented on #407
Thanks @hannahlowens for appreciating my comments. I am happy you find them useful.
@ldecicco-USGS: yes, the response to the review is very satisfactory. Good job! 👌

[2022-03-09 09:11] clnsmth commented on #498
Many thanks @laijasmine and @bozaah for your comments and suggested improvments to EDIutils! I've implemented your recommendations and responded to your comments below. Additional comments and suggestions are much appreciated.

Changes to EDIutils since your review:
* Added support for the EDI "cite" service. This provides a way for users to get a citation of a data package in the EDI repository i

[2022-03-09 11:32] annakrystalli commented on #502
@ropensci-review-bot assign @pat-s as reviewer

[2022-03-09 13:40] jhollist commented on #492
That would work for me.  @stephhazlitt  and @Pakillo does @cboettig suggestion work for you.

[2022-03-09 14:37] mikemahoney218 opened #508 "Pre-submission Inquiry: unifir, A Unifying API for Working with Unity in R"
**Reviewers list:**
**Editor:**

Submitting Author Name: Mike Mahoney
Submitting Author Github Handle: @mikemahoney218
Repository:  https://github.com/mikemahoney218/unifir
Submission type: Pre-submission
Language: en

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensc

[2022-03-09 15:05] KlausVigo commented on #475
@joelnitta nice that this works and it seems to simplify things.
I wasn't aware that `ImportFrom(betapart, beta.pair)` and `betaprt::beta.pair` made such a large difference with the NAMESPACE. I naively assumed it is about the same and the documentation about these issues does not tell you otherwise. @darunabas is the maintainer of `phyloregion` and has to submit it to CRAN. We probably need a wee

[2022-03-09 19:11] annakrystalli commented on #502
Sounds good to me.

[2022-03-09 20:00] wfrierson commented on #461
Thanks, @mpadge. I'm trying to install `pkgcheck`. However, it just won't install.

I'm using Windows (R 3.6.1). When first trying to install `pkgcheck`, I compile from source using Rtools v3.5.0.4. It errors out saying `pkgstats` and `ssr` need to be installed (with extremely long compilation output). I try compiling from source `pkgstats` and get the output below. I'm stumped. Do I really need t

[2022-03-09 20:50] joelnitta commented on #475
@KlausVigo no problem: it is a very subtle error, and one that I would never have caught without the help of @HenrikBengtsson. As [he has mentioned](https://twitter.com/henrikbengtsson/status/1460452409776357382) this is likely a much wider problem across many packages on CRAN.

If you and @darunabas are able to release a new version of `phyloregion` in a reasonable amount of time on CRAN that wou

[2022-03-09 20:54] shawnlaffan commented on #475
@KlausVigo  - if you are updating ```phyloregion``` then it would be good to also address https://github.com/darunabas/phyloregion/issues/3

[2022-03-09 23:19] mpadge commented on #461
@wfrierson You don't strictly need to run `pkgcheck`, but it is certainly very helpful to ensure your package has met all pre-submission criteria. If you can't get it to work locally, you could try using [the `pkgcheck-action` GitHub action](https://github.com/ropensci-review-tools/pkgcheck-action) to run the checks on GitHub. Alternatively, you just have to ensure you read the [Dev Guide](https:/

[2022-03-10 00:10] stephhazlitt commented on #492
Very reasonable approach to me.

[2022-03-10 04:30] adamhsparks commented on #498
Thank you for the detailed log of the changes that you've made @clnsmth. @laijasmine and @bozaah, when you have time could you please review the response and changes made and let me know if you're satisfied with the changes?

[2022-03-10 07:32] laijasmine commented on #498
Thank you @clnsmth for answering all my questions in detail! I'll be able to probably take a look in the next day or two.

[2022-03-10 18:03] WillOnGit commented on #485
OK, here's my review. I haven't commented on some of the more detailed aspects of the review (such as strict adherence to the various reviewing/packaging guides) but please let me know if I've omitted anything crucial and I'll update it.

I'll keep an eye out for any follow up questions that may arise but will be busy tomorrow afternoon.

## Package Review

*Please check off boxes as applicable, a

[2022-03-11 01:40] karthik commented on #407
Thanks very much, @hannahlowens and @damianooldoni!  I'm back on this review. I'll approve it shortly.

[2022-03-11 01:43] karthik commented on #407
@ropensci-review-bot approve occCite

[2022-03-11 01:43] #407 closed

[2022-03-11 05:31] laijasmine commented on #498
The description info is correct for me!

A couple minor revisions before I can approve. Now that some of the functions use the argument `as` we need to update the vignettes and Readme.

1) For this [vignette](https://ediorg.github.io/EDIutils/articles/retrieve_downloads.html), the default for `get_audit_report` has now changed to `"data.frame"` so we will need to update the code to specify `as` to

[2022-03-11 07:52] jooolia commented on #471
Dear @msweetlove, have you had time to look at the reviews? Do you know when you will have time to respond?
Thanks, Julia

[2022-03-11 07:54] jooolia commented on #503
Dear @joeroe,
Will you pursue fixing the two point mentioned above? Thanks, Julia

[2022-03-11 07:57] jooolia commented on #504
Dear @MagicForrest,

Yes I think we agree that this package is out of scope for rOpenSci in its current form. I will go ahead and close this issue, but if you have any other thoughts or questions please feel free to re-open or add them to to the issue.

Thanks, Julia

[2022-03-11 07:57] #504 closed

[2022-03-11 08:15] jooolia commented on #505
Dear @frankfarach,
Thank you for your submission. The package appears to be in-scope and in good shape, so I am looking for an editor to handle this submission.
Thanks, Julia

[2022-03-11 08:27] jooolia commented on #506
Dear @grwhumphries,
Thank you for your pre-submission. This is a statistical package submission and you have replied "no" to the documentation of standards in your code, is this something you intend to do before a full submission or do you need support with this point?
Thanks, Julia

[2022-03-11 08:41] jooolia commented on #508
Dear @mikemahoney218,
Thank you for your pre-submission. I am discussing with the other editors to determine if this package is in-scope for rOpenSci.
Thanks, Julia

[2022-03-11 10:08] oggioniale commented on #485
...

Dear @WillOnGit,
thanks you for your review. Your comments, suggestions and improvements request, based on your programming experience, are a powerful impetus for improving the package.
In the next days our commits for answer to your issues.

Ale

[2022-03-11 10:17] grwhumphries commented on #506
Thanks @jooolia :) I might need a bit of support with that, if at all possible. Not a process I've followed before. Perhaps if you've got a link to clear documentation - I'm guessing this is done through the `ssr` package?

[2022-03-11 15:54] Pakillo commented on #492
Sounds good to me. Whatever you prefer!

[2022-03-11 22:45] maurolepore commented on #485
Thanks @WillOnGit for your review!

@oggioniale, go ahead and incorporate the great feedback. Let me know if you need me.

I'll follow below with two admin comments.

[2022-03-11 22:46] maurolepore commented on #485
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/485#issuecomment-1049290009 time 6

[2022-03-11 22:47] maurolepore commented on #485
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/485#issuecomment-1064345329 time 8

[2022-03-12 04:32] frankfarach commented on #505
Hi @jooolia,
Thanks for the update. I look forward to working with the peer review team.
Frank

[2022-03-12 11:23] joeroe commented on #503
Sorry for the delay and thanks for the feedback @jooolia. I've added a vignette and examples for all functions, but I'm still struggling with the server errors that sometimes cause the package to fail R CMD check. I have a couple of things I still want to try to fix it; hopefully early next week.

[2022-03-13 20:13] jooolia commented on #505
@ropensci-review-bot assign @maelle as editor

[2022-03-14 07:09] maelle commented on #505
:wave: @frankfarach Thanks for your submission! I'll start looking for reviewers, I have just one question and one comment below.

### Editor checks:

- [x] **Documentation**: The package has sufficient documentation available online (README, pkgdown docs) to allow for an assessment of functionality and scope without installing the package. In particular,
    - [x] Is the case for the package well

[2022-03-14 07:09] maelle commented on #505
@ropensci-review-bot seeking reviewers

[2022-03-14 07:51] maelle commented on #505
@ropensci-review-bot add @Rekyt to reviewers

[2022-03-14 15:25] frankfarach commented on #505
Hi @maelle, thanks for the comment and question, which I address below.

Thanks for the suggestion. I have created an [issue](https://github.com/frankfarach/npi/issues/45) for this.

[`.mockPaths()`](https://github.com/nealrichardson/httptest/blob/5048d8e88c3bcdafdfca56b52b4dd9d8578ea195/R/mock-paths.R) is from the `httptest` package. It lets you set a directory other than the current working dire

[2022-03-14 17:14] pat-s commented on #502
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

-   **Briefly describe any working relationship you have (had) with the package authors.**
-   [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to re

[2022-03-14 18:21] annakrystalli commented on #502
Thanks @pat-s for your review! @assignUser I'm still looking for a second reviewer so I suggest holding out responding or making changes (at least not in the `main` branch) until both reviews are complete.

[2022-03-15 06:40] maelle commented on #505
:wave: @frankfarach! Thank you! I realized afterwards `.mockPaths()` was from httptest, as I was working on a package that uses httptest. :woman_facepalming: (in that package we use `with_mock_dir()`)

[2022-03-15 07:58] maelle commented on #407
:wave: @hannahlowens  Is any help needed with the repo transfer?
I'm asking as the package will be listed as new package in Friday's newsletter if it's transferred by then. :smile_cat:

[2022-03-15 07:58] maelle commented on #435
:wave: @ekothe! Is any help needed with the repo transfer?
I'm asking as the package will be listed as new package in Friday's newsletter if it's transferred by then. :smile_cat:

[2022-03-15 09:13] hannahlowens commented on #407
Hi @maelle Thanks for checking in. I've been a little swamped, but the repo transfer is on my to-do list today. Listing it in Friday's news paper is a much-needed shove! I'll be in touch if I run into any snags.

[2022-03-15 17:53] cboettig commented on #492
Thanks!  I've switched to the duckdb-only local and arrow-only remote as the defaults, https://github.com/cboettig/gbifdb/pull/6

[2022-03-16 16:24] hannahlowens commented on #407
@ropensci-review-bot finalize transfer of occCite

[2022-03-16 16:31] hannahlowens commented on #407
@ropensci-review-bot finalize transfer of occCite

[2022-03-16 23:15] ekothe commented on #435
@ropensci-review-bot finalize transfer of gendercoder

[2022-03-17 11:58] maelle commented on #407
@hannahlowens can you please try again with `@ropensci-review-bot finalize transfer of occCite`? Thank you!

[2022-03-17 11:58] hannahlowens commented on #407
@ropensci-review-bot finalize transfer of occCite

[2022-03-17 12:03] hannahlowens commented on #407
@maelle Thanks! Is it ok to leave my pkgdown workflow in place, or is it preferred that I switch to ROpenSci building and branding? If I can leave the website as is, I *think* I've successfully done everything else and will do a fresh release.

[2022-03-17 12:14] maelle commented on #407
@hannahlowens The rOpenSci docs infrastructure will build a pkgdown website in any case, so I'd say it's best to delete your workflow (unless you want the two sites, which a few packages have to e.g. have their institutional branding).

[2022-03-17 12:49] hannahlowens commented on #407
@maelle I see, thanks! I've deleted my workflow.

[2022-03-17 13:00] hannahlowens commented on #407
@maelle Sorry, one more question--I want to make sure everything is as clean as possible before tomorrow. I deleted my pkgdown workflow, but I see the pages-build-deployment workflow builds fine but fails to deploy. Why is this? Is this something I can fix?

[2022-03-17 15:51] karthik commented on #407
Thanks @hannahlowens and @maelle!

[2022-03-18 07:35] jooolia commented on #503
Ok thanks for the response @joeroe. Let us know when things are ready for another look. Cheers, Julia

[2022-03-18 07:41] maelle commented on #474
@quishqa I've just noticed this hasn't been transferred yet, do you need any help?

[2022-03-18 07:56] jooolia commented on #506
Yes it would be with the srr package.

I was having a look at the Readme.Rmd and the vignette to get a feel for the outputs and struggled to use them as most of the code snippets are not R chunks and when I change them to R chunks I get several errors. I will try to have a look using some of the examples provided in other files, but it would be nice to clarify why this is not working.

Thanks, Jul

[2022-03-18 08:00] jooolia commented on #508
Dear @mikemahoney218,
We have deemed this package to be in-scope. We would recommend adding information about the research application(s) in the Readme. I will now close this issue and we look forward to your full submission.
Thanks, Julia

[2022-03-18 08:00] #508 closed

[2022-03-18 08:07] jooolia commented on #471
Email sent to author at naturalsciences.be address.

[2022-03-18 08:13] jooolia commented on #471
Email bounced. Tried an address @ vlaanderen.be

[2022-03-18 09:04] jooolia commented on #470
Hello @ewallace , I have been in contact with Kelsey who will have a look soon. I am having a look through the responses to the reviews and then will have a through the overall package. Apologies this has been going a bit more slowly than I expected (we rotate EiC duties and I am currently editor in chief at rOpenSci).

[2022-03-18 12:12] quishqa commented on #474
Hi @maelle, actually we do. To do the first task we only need to follow [this](https://docs.github.com/en/repositories/creating-and-managing-repositories/transferring-a-repository), right? And we don't know where we need to do the `@ropensci-review-bot finalize transfer of <package-name>` comment?

Thanks!

[2022-03-18 13:14] jhollist commented on #492
@cboettig Thanks for those changes.  I can confirm that gbif_remote() works for me locally.  I didn't test gbif_local() as I don't have  100GB free!  That being said, looks like no one had issues with the pure duckdb versions.

Let me refresh my memory on next steps here, but I think we are very close!

@Pakillo and @stephhazlitt any remaining concerns?

[2022-03-18 14:03] maelle commented on #505
@ropensci-review-bot add @zabore to reviewers

[2022-03-18 14:03] maelle commented on #505
@ropensci-review-bot set due date for @zabore to 2022-04-18

[2022-03-18 14:55] mikemahoney218 commented on #508
Thank you! Will do.

[2022-03-18 15:11] jooolia commented on #471
Dear @ginberg  and @cpalmer718,
Thank you very much for your reviews. We appreciate the time and care you put into them. The author has switched jobs and cannot continue with the development of this package and unfortunately there is no-one at his former workplace who can carry on with the work so the package development will be stopped. This means that we will close this review now. Please let me

[2022-03-18 15:11] #471 closed

[2022-03-18 15:29] ginberg commented on #471
@jooolia okay, that's too bad. I spend around 4h and @cpalmer718 seems to have spend 10h (see the review)

[2022-03-18 15:32] jooolia commented on #471
Thanks @ginberg! Yes somehow I missed both of your hours. :dizzy_face: thanks for pointing out that the info was already there!

[2022-03-18 15:52] maelle commented on #474
Yes regarding the repo transfer!

Then the comment `@ropensci-review-bot finalize transfer of qualR` needs to be put here in an issue comment.

Thank you and have a good week-end!

[2022-03-18 16:40] cpalmer718 commented on #471
@jooolia I'm sorry to hear it, but thanks for inviting me regardless. Yes, that was about the number of hours I spent, thanks @ginberg

[2022-03-18 17:39] clnsmth commented on #498
Thanks @laijasmine. I'll get these documents updated and link you to the changes once implemented.

[2022-03-21 04:23] adamhsparks commented on #498
@bozaah, did you have any further comments or are you happy with the changes and suggest accepting the package as it's currently written?

[2022-03-22 03:19] bozaah commented on #498
Thanks for following up Adam. I am satisfied with the replies and edits to my points.

Thank you for addressing our proposed changes @clnsmth. Also, I agree with @laijasmine, the bigger changes can be worked out in the future as issues.

[2022-03-22 14:49] jhollist commented on #492
@cboettig we are good to go!

@Pakillo and @stephhazlitt I went ahead and checked off the two remaining items on your checklists.  The subsequent discussion indicates you are both good to go with accepting `gbifdb`.

Congrats, Carl!  Another great contribution.

[2022-03-22 14:50] #492 closed

[2022-03-24 15:16] clnsmth commented on #498
@adamhsparks @laijasmine @bozaah A bug was discovered when rebuilding the two vignettes "Retrieve Download Metrics" and "Retrieve Citation Metrics" (https://github.com/EDIorg/EDIutils/issues/37). I'll send an update once this issue is fixed.

[2022-03-24 18:25] cboettig commented on #492
Thanks @Pakillo .  Correct, I left those in as options but not defaults. (e.g. technically any user reading the `arrow` docs might be tempted to try `arrow::to_duckdb()` on the `gbif_remote()` connection even it weren't a built-in option, and they would experience similar crashes).  I'm hoping having the options in there remind me to revisit these issues as duckdb and arrow continue to evolve, and

[2022-03-24 22:53] mikemahoney218 opened #521 "unifir: A Unifying API for Working with Unity in R"
**Date accepted:** 2022-05-01

Submitting Author Name: Mike Mahoney
Submitting Author Github Handle: @mikemahoney218
Repository:  https://github.com/mikemahoney218/unifir
Version submitted: 0.1.0
Submission type: Standard
Editor: @melvidoni
Reviewers: @vinhtantran, @wjones127

Due date for @vinhtantran: 2022-04-20
Due date for @wjones127: 2022-04-29

Archive: TBD
Version accepted: TBD

Language: e

[2022-03-24 22:54] mikemahoney218 commented on #521
While it's not relevant to this issue, I do wonder if `has [continuous integration](https://ropensci.github.io/dev_guide/ci.html), including reporting of test coverage using services such as Travis CI, Coveralls and/or CodeCov.` should be updated to remove Travis now that rOpenSci recommends moving away from Travis?
https://devguide.ropensci.org/ci.html?q=travis#travis-ci-linux-and-mac-osx

[2022-03-27 22:02] clnsmth commented on #498
@adamhsparks, @laijasmine, @bozaah
- The bug is fixed (see EDIorg/EDIutils#37)
- @laijasmine 's requested changes (https://github.com/ropensci/software-review/issues/498#issuecomment-1064787189) are are implemented
- version 0.0.0.9003 has been tested on R-hub with results listed in [cran-comments.md](https://github.com/EDIorg/EDIutils/blob/main/cran-comments.md)
- All above changes are in the `ma

[2022-03-27 23:46] wfrierson opened #522 "World Magnetic Model (WMM)"
**Date accepted:** 2023-10-30

Submitting Author Name: Will Frierson
Submitting Author Github Handle: @wfrierson
Repository:  https://github.com/wfrierson/wmm
Version submitted: 1.1.1
Submission type: Standard
Editor: @maelle
Reviewers: @drmowinckels, @HaoZeke
Due date for @drmowinckels: 2022-11-03
Archive: TBD
Version accepted: TBD
Language: en
---

-   Paste the full DESCRIPTION file inside a co

[2022-03-29 01:11] laijasmine commented on #498
Looks great! Thank you @clnsmth for all of your work. @adamhsparks I approve this package.

[2022-03-29 02:07] adamhsparks commented on #498
With pleasure, @ropensci-review-bot approve

[2022-03-29 02:07] adamhsparks commented on #498
@ropensci-review-bot approve

[2022-03-29 02:08] adamhsparks commented on #498
@ropensci-review-bot approve EDIutils

[2022-03-29 02:08] #498 closed

[2022-03-29 06:22] jooolia commented on #521
@ropensci-review-bot assign @melvidoni  as editor

[2022-03-29 07:17] jooolia commented on #521
@ropensci-review-bot assign @melvidoni as editor

[2022-03-29 14:24] ewallace commented on #470
Hello @jooolia, do let us know any news on this review, and if there's anything we can do to facilitate it?

[2022-03-29 14:27] clnsmth commented on #498
Many thanks again to @adamhsparks, @laijasmine, and @bozaah!

I'll get to work on the to-dos.

[2022-03-29 14:46] kelshmo commented on #470
Hi @ewallace - I will get this completed today. I apologize for the delay!

[2022-03-29 20:17] melvidoni commented on #521
@ropensci-review-bot seeking reviewers

[2022-03-30 16:59] kauedesousa commented on #474
that is ok with me @quishqa

[2022-03-30 19:00] beatrizmilz commented on #474
It is ok with me too @quishqa !

[2022-03-30 19:13] msperlin opened #523 "yfR: Downloads and Organizes Financial Data from Yahoo Finance"
Submitting Author Name: Marcelo Perlin
Submitting Author Github Handle: msperlin
Other Package Authors Github handles: (comma separated, delete if none)
Repository:  https://github.com/msperlin/yfR
Version submitted: 0.0.1
Submission type: Standard
Editor:  TBD
Reviewers:  TBD

Archive: TBD
Version accepted: TBD
Language: en
---

-   Paste the full DESCRIPTION file inside a code block below:

[cod

[2022-03-31 09:36] mpadge commented on #523
@jooolia The faling check is just because the README does not have a CI badge. @msperlin Could you please add an R CMD check badge to your readme? (We check for CI via badges rather than workflow results, because we do accept submissions from arbitrary code-hosting platforms, not just GitHub.) Thanks!

[2022-03-31 11:02] msperlin commented on #523
Good morning.

Sure, I just added the R-CMD badge.

[2022-04-01 06:06] etam4260 opened #524 "rhud: A R interface for the US Department of Housing and Urban Development APIs"
Submitting Author Name: Name
Submitting Author Github Handle: @etam4260
Other Package Authors Github handles: (comma separated, delete if none)
Repository:  https://github.com/etam4260/rhud
Version submitted:
Submission type: Standard
Editor: @jhollist
Reviewers: @rtaph, @khueyama
Due date for @rtaph: 2022-06-07
Due date for @khueyama: 2022-06-09
Archive: TBD
Version accepted: TBD
Language: en
---

[2022-04-01 09:18] oggioniale commented on #485
Dear @maurolepore,
we have worked in these week in order to close the issues, to welcome the suggestion into the code and to work on the documentation. We have the final (more or less) version in the GitHub Dev branch. What are the next step? Maybe execute a pull request from dev to main and replay to the reviewers?

[2022-04-01 11:57] jooolia commented on #522
Dear @wfrierson, thank you for your submission following your pre-submission.

Could you address the issues regarding the codemeta.json file, the contributing file, the vignette(s), and the examples. I see that you have continuous integration checks on Travis-CI so this X can be ignored. Please see the [packaging guide](https://devguide.ropensci.org/building.html) and feel free to ask any question

[2022-04-01 12:03] jooolia commented on #523
@ropensci-review-bot check package

[2022-04-01 19:52] jooolia commented on #524
Dear @etam4260,
Thank you for your submission. Thank you for highlighting the new package hudr that is already on CRAN. Can you describe how you will deal with the name collision (I see it is already a bit problematic as the cran link on your pkgdown site links to that package or maybe that is on purpose?). Also, can you elaborate a bit more on the differences you see between the two packages? tha

[2022-04-01 20:06] jooolia commented on #523
Dear @msperlin,
Thank you for your submission. The package has passed all of the automated package checks and the test coverage is good.
Could you expand a bit more on how this package differs from quantmod and tidyquant?
Thanks, Julia

[2022-04-01 20:15] kelshmo commented on #470
@ewallace Great work, thanks for your patience in working with me. Some communication early on fell through the cracks when I switched job roles!

Your addition of documentation and revised function names greatly helps with package clarity. I confirmed your use of file paths relative to the user function well. Your README and github pages look great. approved! Anything else you need from me?

[2022-04-01 20:43] ewallace commented on #470
Thank you so much @kelshmo! I think the next steps are up to @jooolia.

[2022-04-02 00:25] etam4260 commented on #524
An easy solution to deal with the naming conflict I think would be to just rename the entire package as ‘rhud’ and update the documentation accordingly.

Otherwise, I have already contacted CRAN about this issue, but have not heard back about any resolutions. 😔

I’m not sure about any other options. Any other suggestions are appreciated. 🙏🏼

I took a look at the hudr package published on CRAN and

[2022-04-02 11:05] msperlin commented on #523
Good morning Julia,

The main goal of yfR is to help user download large ammounts of data from Yahoo Finance (YF).

Packages quantmod and tidyquant also offers a function for downloading price data from YF, but only that. Besides importing data, yfR offers the following functionalities:

- Organization and clean up of data
    - Users can set a threshold for what is "bad" data with respect to matc

[2022-04-03 13:29] maurolepore commented on #485
Dear @oggioniale,

[2022-04-03 19:03] jooolia commented on #523
Thank you @msperlin, I am discussing with the other editors and get back to you. Thanks, Julia

[2022-04-03 19:08] jooolia commented on #524
@ropensci-review-bot check package

[2022-04-03 19:27] jooolia commented on #470
Thanks @kelshmo. Yes @ewallace I will move forward with this this week and will do a review. Thank you for your continued patience.

[2022-04-04 13:47] Rekyt commented on #505
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revie

[2022-04-04 15:55] frankfarach commented on #505
Hi @Rekyt,

Thank you for your review of the npi package. I really appreciate your kind words about the package and -- even more than that -- your specific recommendations for improving the user experience and the quality of the code.

I look forward to responding to your review in detail.

[2022-04-04 16:30] frankfarach commented on #505
Hi @maelle, @Rekyt, and @zabore,

As you will see, I have been creating a new issue in the package repo for each substantive item in your reviews. Each issue links back to the originating comment(s) in this review thread and all (and only) such issues are collected in an [rOpenSci Review milestone](https://github.com/frankfarach/npi/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22rOpenSci+Review%22).

[2022-04-05 12:53] jooolia commented on #524
@ropensci-review-bot assign @jhollist as editor

[2022-04-07 06:31] maelle commented on #505
Thanks a ton @Rekyt & @zabore for your thorough reviews! @zabore, would you mind adding the time spent reviewing to your comment after "Estimated hours spent reviewing: "? Thank you!

@frankfarach I think the backlinks & milestone are great. We will still expect your response to be more or less self-explanatory so not just a list of links (I'm not assuming you got this wrong, just stating this jus

[2022-04-07 06:32] maelle commented on #505
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/505#issuecomment-1087579526 time 3

[2022-04-07 06:32] maelle commented on #505
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/505#issuecomment-1090531882 time NA

[2022-04-07 12:19] maelle commented on #505
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/505#issuecomment-1090531882= time NA

[2022-04-07 12:37] zabore commented on #505
@maelle I added the time, sorry about the initial oversight!

[2022-04-07 12:50] maelle commented on #505
@zabore thank you! actually it was a great oversight as it allowed us to add the possibility to log a review without a time entered yet. :wink:

[2022-04-07 12:50] maelle commented on #505
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/505#issuecomment-1090531882= time 4

[2022-04-07 12:53] frankfarach commented on #505
Likewise, @Rekyt and @zabore, thanks so much for your reviews! I really appreciate the time you took to review the package and look forward to responding.

@maelle Understood. I'll submit a self-contained prose response. The links will only be there for convenience. Thanks!

[2022-04-08 00:17] melvidoni commented on #521
@ropensci-review-bot assign @wjones127 as reviewer

[2022-04-15 13:09] bcjaeger opened #525 "Pre-submission Inquiry: aorsf; accelerated oblique random survival forests"
Submitting Author Name: Byron C. Jaeger
Submitting Author Github Handle: @bcjaeger
Other Package Authors Github handles: (comma separated, delete if none) @nmpieyeskey, @sawyerWeld
Repository:  https://github.com/bcjaeger/aorsf
Submission type: Pre-submission
Language: en

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or cat

[2022-04-15 14:13] oggioniale commented on #485
Dear @allisonhorst,
here our comments and answers in line.

We changed the ReadMe in order to clarify this point.

The Vignettes are included.

Solved now.

:+1:

It is a pleasure for us to include your name in the package description as a reviewer.

Some vignettes (currently 6 pages) are done and some other are in final version.

Thanks you for this suggestion the package now is more usable and r

[2022-04-15 14:13] oggioniale commented on #485
Dear @@WillOnGit,
here our comments and answers in line.

The Vignettes are now included.

We changed the Installation section in ReadMe file and we created a vignette for the installation process.

:+1:

It is a pleasure for us to include your name in the package description as a reviewer.

We changed the Installation section in ReadMe file and we created a vignette for the installation process.

[2022-04-15 14:17] oggioniale commented on #485
Dear @maurolepore, @allisonhorst and @WillOnGit,
the last version of ReLTER Package is in main branch. We work in order to embed our comments and suggestions.

[2022-04-15 20:44] jooolia commented on #470
Dear @ewallace,
Thank you for your patience with my review.

This is part 1/2 of my review and will concern mostly aspects related to packaging. Part 2/2 will look more into the functions and the code (and more at the tests).

## Check package integrity

### run checks on `tidyqpcr` source:

[code]

This is mostly ok, but there are several files that should be added to your .Rbuildignore. ( ^codem

[2022-04-16 17:34] vinhtantran commented on #521
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

-   **Briefly describe any working relationship you have (had) with the package authors.** None
-   ☒ As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to

[2022-04-16 18:37] mikemahoney218 commented on #521
Thank you so much @vinhtantran ! I apologize for having you review a "moving target" -- I was doing a standard update across all my packages and completely forgot this one should be "frozen". I'll follow up with fixes and replies once our other review is in!

[2022-04-19 10:49] christophsax commented on #464
First of all, please apologize for my late answer. I originally planned to wait for the second review and lost track afterward.

@chamberlinc, thanks again for your very helpful review! I dealt with your points in [PR #211](https://github.com/christophsax/tsbox/pull/211).

Most of your problems arose when applying the functions to non-standard data frames, especially wide ones. In some cases, the

[2022-04-19 13:35] maurolepore commented on #485
Thanks @oggioniale!

Dear @allisonhorst and @WillOnGit, please indicate if a) you recommend further changes or  b) are satisfied with the changes (see [approval template](https://devdevguide.netlify.app/approval2template.html)).

[2022-04-19 22:44] cboettig commented on #492
@ropensci-review-bot finalize transfer of gbifdb

[2022-04-19 22:45] cboettig commented on #492
thanks @ropensci-review-bot :wink: !

[2022-04-20 15:38] clnsmth commented on #498
My apologies for the inconvenience @adamhsparks, but can you resend the rOpenSci invitation so I can transfer the repo to the "ropensci" GitHub organization. Thanks!

[2022-04-20 16:16] phuongquan opened #527 "Presubmission inquiry: daiquiri: Data quality reporting for temporal datasets"
Submitting Author Name: T. Phuong Quan
Submitting Author Github Handle: @phuongquan
Other Package Authors Github handles: (comma separated, delete if none)
Repository:  https://github.com/phuongquan/daiquiri
Submission type: Pre-submission
Language: en

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [pa

[2022-04-20 20:05] jhollist commented on #524
Just pinging you again @etam4260.  Any questions about the few items I listed above?

[2022-04-20 21:20] etam4260 commented on #524
Hi @jhollist,

Apologize for not getting back sooner: just nabbed some time to work on it a bit today. I have been working on fixing a few bugs I found on my end and creating more robust testing infrastructure. I have also changed the structure of some of the output data. Therefore, the documentation is a bit outdated -- which I will address. As for the failing test, I was able to fix that. I am h

[2022-04-21 11:06] maelle commented on #498
@adamhsparks @clnsmth I've just noticed the invitation expired, I've retried it. :smile_cat:

[2022-04-21 11:08] maelle commented on #498
Note that we now require 2 factor authentication for organization members, see https://docs.github.com/en/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication so you'll have to enable it before joining the organization (in case you haven't enabled it yet).

[2022-04-21 12:33] jhollist commented on #524
Couple of thoughts.

As for the license stuff.  You will need to make sure that DESCRIPTION knows that you have an additional file.  If you add "+ file LICENSE" to "License: GPL (>= 2)" that should take care of that note.  I believe the two other files just need to be added to .Rbuildignore.    The root folder is a good spot for both (might event be required for codemeta.json).

And no need to apo

[2022-04-21 14:36] clnsmth commented on #498
Many thanks @maelle!

[2022-04-22 15:30] bcjaeger commented on #525
Hi, @jooolia. Thanks for helping me get this pre-submission started. Is there anything I can do to help with the pre-submission tasks?

[2022-04-23 15:41] clnsmth commented on #498
@ropensci-review-bot finalize transfer of ropensci/EDIutils

[2022-04-23 15:43] clnsmth commented on #498
@ropensci-review-bot finalize transfer of EDIorg/EDIutils

[2022-04-23 15:44] clnsmth commented on #498
@ropensci-review-bot finalize transfer of EDIutils

[2022-04-24 15:35] frankfarach commented on #505
Hi @maelle, I wanted to let you know that I'm still making changes and preparing my response. You can see my commits [here](https://github.com/frankfarach/npi/tree/feature/ropensci-peer-review-1). I've addressed about 2/3 of the issues raised by reviewers so far. Based on my slow-but-steady progress to date and my available time in near future, I am aiming to submit my response by May 6. I mention

[2022-04-25 06:19] maelle commented on #505
Thank you for the update @frankfarach!

[2022-04-25 11:10] nathansam opened #529 "Presubmission inquiry: datefixR: Fix Really Messy Dates"
Submitting Author Name: Nathan Constantine-Cooke
Submitting Author Github Handle: @nathansam
Repository:  https://github.com/nathansam/datefixR
Submission type: Pre-submission
Language: en

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policie

[2022-04-25 18:27] maurolepore commented on #485
Dear @allisonhorst and @WillOnGit just a friendly reminder to please indicate if you need further changes or are [happy to approve](https://devdevguide.netlify.app/approval2template.html).

[2022-04-25 22:32] wjones127 commented on #521
I'm about half-way through my review, but in the meantime I've posted an issue in the repo:

 * https://github.com/mikemahoney218/unifir/issues/4

[2022-04-26 09:43] maelle commented on #505
@frankfarach you should now be able to add a comment with the contents `@ropensci-review-bot check package` in order to get a pkgcheck report :-) (it was previously only possible for editors)

[2022-04-26 10:26] maelle commented on #418
@GLOrozcoM, @ogilani and @mmlawrence, any new update? :smile_cat:

[2022-04-26 18:07] wjones127 commented on #521
Added two other issues:

 * https://github.com/mikemahoney218/unifir/issues/6
 * https://github.com/mikemahoney218/unifir/issues/7

[2022-04-26 19:37] jooolia commented on #525
Hi @bcjaeger,
Thanks for your patience. It seems that the machine learning category would be a good fit for your package and the package  appears in good shape to make a full submission when you would like.

Regarding the categories, @mpadge may have a bit more to add about this.

Thanks, Julia

[2022-04-26 19:41] jooolia commented on #527
Dear @phuongquan,
Thank you for your submission. I am discussing with the other editors regarding your question about "data validation and testing" category.

[2022-04-26 19:50] wjones127 commented on #521
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revie

[2022-04-26 20:02] jooolia commented on #529
Dear @nathansam,
Thank you for your pre-submission. Thanks for mentioning linelist::guess_dates(), could you also expand this section and discuss lubridate::guess_formats()?
Thanks, Julia

[2022-04-26 20:36] bcjaeger commented on #525
Thank you!

[2022-04-26 20:47] nathansam commented on #529
Thanks @jooolia,
Sorry, I should have mentioned that before! I have now added a section on lubridate's date guessing functions above.

[2022-04-26 21:28] melvidoni commented on #521
Thank you @vinhtantran and @wjones127 for the reviews!
Please, @mikemahoney218 keep us posted on how you are advancing with this.

[2022-04-26 21:47] mikemahoney218 commented on #521
Will do! I've got a feature branch with changes in response to these reviews open at https://github.com/mikemahoney218/unifir/pull/5 , and I expect to have addressed all comments in the near future -- I'll update here once I've done so.

Thanks everyone!

[2022-04-27 10:50] WillOnGit commented on #485
## Reviewer Response

#### Final approval (post-review)

- [x] **The author has responded to my review and made changes to my satisfaction. I recommend approving this package.**

Estimated hours spent reviewing: 8.5

I'm happy with all the responses, everything looks good now. I still can't install properly but since nobody else has issues I'll keep that chalked up to my dodgy setup.

Great job Al

[2022-04-27 11:41] mpadge commented on #525
Thanks for your submission @bcjaeger Our statistical standards are a work-in-progress. Please help to improve them by providing feedback, particularly on appropriateness or otherwise of any particular standard. That can be done informally via [GitHub discussions](https://github.com/ropensci/statistical-software-review-book/discussions), or more formally via a pull request to that same repo ([stand

[2022-04-27 12:53] oggioniale commented on #485
Dear @allisonhorst and @WillOnGit,
thanks a lot for your work.

@maurolepore,
can you provide further instructions about the transfer of the ReLTER repository to the rOpenSci repository?

[2022-04-27 14:00] #485 closed

[2022-04-27 17:56] maurolepore commented on #485
Great news, I now see you're already part of the [team](https://github.com/orgs/ropensci/teams/relter) and I expect that to allow you to transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.

[2022-04-27 18:45] jooolia commented on #525
Great thanks @mpadge.

I will close this issue and we look forward to the full submission. Thanks, Julia

[2022-04-27 18:45] #525 closed

[2022-04-28 00:46] bcjaeger opened #532 "aorsf; accelerated oblique random survival forests"
**Date accepted:** 2022-09-22

Submitting Author Name: Byron C Jaeger
Submitting Author Github Handle: @bcjaeger
Other Package Authors Github handles: (comma separated, delete if none) @nmpieyeskey, @sawyerWeld
Repository:  https://github.com/bcjaeger/aorsf
Version submitted: 0.0.0.9000
Submission type: Stats
Badge grade: gold
Editor: @tdhock
Reviewers: @chjackson, @mnwright, @jemus42
Due date for

[2022-04-28 00:48] bcjaeger commented on #532
Just updated to fix this. I'm not sure if reviewers will think that 'gold' is the right statsgrade, but might as well aim high.

[2022-04-28 09:32] oggioniale commented on #485
dear @maurolepore thanks a lot!
I will moving in the next hours the package to rOpenSci.

[2022-04-28 18:14] mikemahoney218 commented on #521
Hi all! I believe I've addressed all reviewer comments in a branch on the unifir repo, https://github.com/mikemahoney218/unifir/tree/response_to_reviewers (diff at https://github.com/mikemahoney218/unifir/pull/5/files , NEWS at https://github.com/mikemahoney218/unifir/blob/response_to_reviewers/NEWS.md ). Thank you so much for your comments, the package is looking a lot better as a result!

# Resp

[2022-04-28 22:54] melvidoni commented on #521
Thanks for the response @mikemahoney218. @vinhtantran and @wjones127 can you please review the response and see if your comments were addressed?

[2022-04-29 08:26] jooolia commented on #523
Thanks for your patience @msperlin. The fit seems to be good for us and I am now looking for a handling editor.
Thanks, Julia

[2022-04-29 08:27] jooolia commented on #522
Dear @wfrierson,
Do you have any updates here? If I do not hear back from you in a week I will close this issue (but feel free to reopen).
Thanks, Julia

[2022-04-29 13:30] oggioniale commented on #485
Dear @maurolepore I would like to include you as editor of the package but I wanted to know if you agree.

[2022-04-29 15:13] nathansam commented on #529
That is great news, thank you! My thanks to you and the rest of the team. I will of course do a full submission ASAP.

[2022-04-29 16:11] wjones127 commented on #521
@mikemahoney218 I can confirm that all my comments have been addressed. I left a few optional follow-up comments in my final review of the changes here: https://github.com/mikemahoney218/unifir/pull/5#pullrequestreview-957918764

Great work!

Yes, "Will Jones" is good to list me as. Email is willjones127 at gmail, if you need that.

[2022-04-29 17:31] nathansam opened #533 "datefixR: Fix Really Messy Dates"
**Date accepted:** 2022-07-16
Submitting Author Name: Nathan Constantine-Cooke
Submitting Author Github Handle: @nathansam
Other Package Authors Github handles: (comma separated, delete if none)
Repository:  https://github.com/nathansam/datefixR
Version submitted: 0.1.4.9000
Submission type: Standard
Editor: @adamhsparks
Reviewers: @AlvesKS, @alstat
Due date for @AlvesKS: 2022-05-30
Due date for @

[2022-04-29 21:14] wfrierson commented on #522
Thanks, Julia. Sorry for the delay! I'm working on these now.

Re: the examples, all the listed functions with a '.' prefix are not exported (and therefore not intended for end users) and the last 'wmm' reference is for the package-level wmm.R file, i.e., it's not a function. Do I still need examples for these?

[2022-04-29 21:31] vinhtantran commented on #521
All of my comments have been addressed. Great work @mikemahoney218.

Please use "Tan Tran" with the email address of vinhtantran at GMail.

[2022-04-29 21:42] etam4260 commented on #524
@jhollist

Thanks for tip! I was able to deal with all the notes. For adding the "+ file LICENSE" to the description file, it gave me another error: "License components with restrictions not permitted." So I instead added the LICENSE file to the .Rbuildignore instead and it 'fixed' it. As for the lintr issues, I fixed maybe 97% of the issues -- most of the remaining ones deal with cyclocomplexity

[2022-04-29 21:57] jhollist commented on #524
I think that sounds pretty good.  Once you have the name and
documentation updated, let me know.  I will start looking for reviewers
next week.

On Fri, Apr 29, 2022 at 5:42 PM Emmet Tam ***@***.***> wrote:

--
Jeffrey W. Hollister
email: ***@***.***
cell: 401 556 4087
https://jwhollister.com

[2022-05-01 07:49] jooolia commented on #470
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

-   **Briefly describe any working relationship you have (had) with the package authors.**

     -  Very patient and  very open to useful suggestions from reviewers.

- [X]  As the reviewer I confirm that there are no [conflicts

[2022-05-01 08:11] jooolia commented on #522
Hi @wfrierson,
Thanks for the update. Regarding the functions without examples, if you add the Roxygen  "@keywords internal" to these functions then this check should be ok for your "." fucntions.

Thanks, Julia

[2022-05-01 08:20] jooolia commented on #533
@ropensci-review-bot assign @adamhsparks as editor

[2022-05-01 17:21] jooolia commented on #527
Hi @phuongquan ,
We have determined that your package would be a good fit for the data validation and testing category. This category was missing on the template so thank you for pointing this out. We welcome a full submission and before a full submission I recommend checking your package with {pkgcheck}(https://docs.ropensci.org/pkgcheck/). Thanks, Julia

[2022-05-01 17:21] #527 closed

[2022-05-01 17:22] jooolia commented on #503
Hi @joeroe,
Do you have any updates on this? thanks, Julia

[2022-05-01 20:12] melvidoni commented on #521
Hello all @vinhtantran and @wjones127 thank you for  the review!

@mikemahoney218 since @wjones127 left a final review, please address that and let me know once it is done so I can approve..

[2022-05-01 20:14] melvidoni commented on #521
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/521#issuecomment-1110187724 time 8

[2022-05-01 20:15] melvidoni commented on #521
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/521#issuecomment-1100715168 time 8

[2022-05-01 20:26] mikemahoney218 commented on #521
Hi @melvidoni ! All of the last changes have been made (all resolved as part of https://github.com/mikemahoney218/unifir/pull/5#pullrequestreview-957918764 and https://github.com/mikemahoney218/unifir/issues/7 ) so I believe we're all set here.

Thanks!

[2022-05-01 20:31] jooolia commented on #523
@ropensci-review-bot assign @melvidoni as editor

[2022-05-01 20:53] melvidoni commented on #521
@ropensci-review-bot approve unifir

[2022-05-01 20:53] #521 closed

[2022-05-01 20:54] melvidoni commented on #523
@ropensci-review-bot seeking reviewers

[2022-05-01 20:56] mikemahoney218 commented on #521
@ropensci-review-bot finalize transfer of unifir

[2022-05-01 20:58] mikemahoney218 commented on #521
@melvidoni I'm not sure if there's an expected lag, but I don't appear to have been added to the unifir team (and as such don't yet have admin on the repo)

[2022-05-01 21:32] melvidoni commented on #521
Hello @mikemahoney218. You'll have to wait so I can ask about the bot. I believe it should have created the group.
Give me a couple days, please.

[2022-05-01 21:33] mikemahoney218 commented on #521
No worries! It did create the team -- https://github.com/orgs/ropensci/teams/unifir -- but didn't add me. I'm on the terrainr team ( https://github.com/orgs/ropensci/teams/terrainr ) so I don't believe there's any issue with my MFA setup. No rush at all!

[2022-05-02 05:55] maelle commented on #521
I had to approve you, weird, I'm exploring. In any case you've now been added to the team @mikemahoney218!

[2022-05-02 07:18] mpadge commented on #522
One minor update on @jooolia's comment: the rOpenSci DevGuide [recommends using `@noRd` instead of `@Keywords internal`](https://devguide.ropensci.org/building.html#roxygen2-use).

[2022-05-02 09:14] mikemahoney218 commented on #521
Awesome, thanks @maelle ! In case it helps debugging, I manually requested access to the team after the bot didn't add me, I didn't get added without approval.

I believe that means the repo is transferred and we're all good to go! Thank you so much everyone!

[2022-05-02 10:06] maelle commented on #521
You might the first "repeat" submitter since we started using the bot, we'll investigate. Thanks for catching this bug and your patience :grin:

[2022-05-02 17:26] ewallace commented on #470
Thank you @jooolia! We will work on these in some issue tickets and get back to you as soon as we can.

@kelshmo, may we also acknowledge you as a package reviewer in the DESCRIPTION file?

[2022-05-02 17:53] maurolepore commented on #485
Thank you! I think editors don't usually appear in DESCRIPTOIN but you are welcome to add the reviewers should you want to acknowledge their work (with their consent).

[2022-05-03 02:02] etam4260 commented on #524
@jhollist

Package has been renamed and documentation has been updated. 🙃

[2022-05-03 18:08] jhollist commented on #524
@ropensci-review-bot check package

[2022-05-03 18:29] jhollist commented on #524
@etam4260 Two things came up in the most recent checks

1.) A couple of functions are missing examples.  Add these examples into the docs
2.) The test coverage.  I see that most of your tests skip without the key hence the low number above.  Looks like your current suite is at about 72%.  While we shoot for 75%, this is close enough to get the review process started.  I would just ask that after a

[2022-05-04 09:29] adamhsparks commented on #533
Hi @nathansam, could you address the issues _lintr_ found, `Avoid 1:nrow(...) expressions, use seq_len.` and the lines of code >80 chars, please?

While you're doing that I'll start looking for reviewers.

[2022-05-04 09:31] adamhsparks commented on #533
@ropensci-review-bot seeking reviewers

[2022-05-04 10:15] nathansam commented on #533
Hi @adamhsparks, thank you! Those lintr issues should now be fixed.

[2022-05-04 16:58] Athene-ai commented on #502
Hi @annakrystalli ! I would like to review this package

[2022-05-04 17:04] Athene-ai commented on #524
@jhollist ! I would like to review this package

[2022-05-04 17:05] Athene-ai commented on #523
Hi @melvidoni !
I would like to review this package

[2022-05-04 17:10] Athene-ai commented on #489
Hi @bbolker !
I would like to review this package

[2022-05-04 18:50] jooolia commented on #532
@ropensci-review-bot assign @tdhock as editor

[2022-05-04 21:32] melvidoni commented on #523
Hello @Athene-ai, of course, this package is still needing reviewers. I saw you wrote on several packages, so be mindful that asking in multiple places may not be ideal, as you may end up with more workload than intended. The review timeframe for this is 3 weeks, so if that's okay with you, I'll assign you to this package (and you'll have to complete this review first before accepting any others).

[2022-05-05 06:26] Athene-ai commented on #523
@melvidoni  I accept the invitation to review this package within three weeks

[2022-05-05 19:12] Athene-ai commented on #523
@melvidoni thanks for adding me as reviewer and I filled the volunteer form for being  an rOpenSci Reviewer :-)

[2022-05-06 06:08] Athene-ai commented on #489
@noamross I would like to review this package

[2022-05-06 06:21] maelle commented on #489
@Athene-ai you're a reviewer for https://github.com/ropensci/software-review/issues/523 (thank you) so you can't be added as reviewer to other packages for a little while.

I realize our dev guide might lack guidance on how to volunteer as reviewer, so we'll add it https://github.com/ropensci/dev_guide/issues/457 Thank you!

[2022-05-06 06:31] Athene-ai commented on #489
Ok thanks

[2022-05-06 06:31] Athene-ai commented on #489
And thanks you for all the information 😊

[2022-05-06 13:58] noamross commented on #489
@ropensci-review-bot assign @kingaa to reviewers

[2022-05-06 14:04] Athene-ai commented on #523
@melvidoni do we have a slack channel ?

[2022-05-08 20:12] melvidoni commented on #523
@ropensci-review-bot assign @s3alfisc as reviewer

[2022-05-09 02:07] adamhsparks commented on #533
Hi @nathansam, as I've been looking for reviewers and checking over the package some more, I did note some issues with the spelling and tests as well.

When I check the tests, I get this:

[code]

With the spelling, your DESCRIPTION says "en-US" but you've used British English for "behaviour", also the spellcheck is picking up a few other words that are non-standard but probably correct anyway. I

[2022-05-09 06:19] Athene-ai commented on #523
@melvidoni thanks for the information 😊

[2022-05-09 10:31] nathansam commented on #533
Thanks @adamhsparks ! I have fixed the typo and have now set up `{spelling}` as you have suggested. Thanks for the suggestion; I will definitely be using it across all R packages I maintain. Thank you for catching the warnings in the tests. The warnings are intended (but were added after the tests were first written), and I have now added explicit `expect_warning()` statements to those tests.

[2022-05-09 17:09] tdhock commented on #475
I am wondering if we can move forward on this submission? @KlausVigo @luismurao have the comments/suggestions in your reviews been addressed?

[2022-05-09 17:10] tdhock commented on #532
@ropensci-review-bot seeking reviewers

[2022-05-09 21:15] melvidoni commented on #523
Hello @Athene-ai. Please, be mindful that responses are not immediate, _especially_ over the weekend; kindly do not hasten people, and wait for responses/actions. There is much going on "behind the scenes" that you may not be aware of.

That said, you'll get an invitation to the Slack later in the process.

[2022-05-09 21:40] joelnitta commented on #475
@tdhock Sorry, I am the cause for the delay! Since the reviews came back I've gotten busy with other projects, and haven't been able to get back to this yet. I anticipate being occupied by other projects for another week or two. Please remind me again if you don't hear something soon after that.

[2022-05-09 23:40] adamhsparks commented on #533
@ropensci-review-bot add @AlvesKS to reviewers

[2022-05-10 01:06] adamhsparks commented on #533
@ropensci-review-bot add @arhepworth to reviewers

[2022-05-10 05:58] Athene-ai commented on #523
Thanks for the information 😊

[2022-05-10 18:56] bcjaeger commented on #532
Done! Looking forward to the review.

[2022-05-11 09:51] joeroe commented on #503
Thank you for your patience @jooolia. I can't get around the server issues, so I have contacted the authors of the data to ask about mirroring it somewhere else. Would it be possible to keep this open just a little longer, while I wait for a response?

[2022-05-11 11:31] msperlin opened #534 "Download and Parse Public Data Released by B3 Exchange"
**Date accepted:** 2023-02-08

Submitting Author Name: Marcelo S. Perlin
Submitting Author Github Handle: @msperlin
Other Package Authors Github handles: (comma separated, delete if none) @wilsonfreitas
Repository:  https://github.com/wilsonfreitas/rb3
Version submitted: 0.0.3
Submission type: Standard
Editor: @emilyriederer
Reviewers: @pachadotdev, @quishqa
Due date for @pachadotdev: 2022-10-16
D

[2022-05-11 11:32] msperlin commented on #534
@wilsonfreitas

[2022-05-11 12:56] mpadge commented on #534
@msperlin The build failure in the checks above is because
[code]
That generally means you're not locally using latest versions of all dependency packages. Please let us know when you've fixed that, and the other issues identified above. Thanks.

[2022-05-12 00:17] emilyriederer commented on #499
Hi there, @sandrinecharles ! I wanted to follow up on this issue. Were you still interested in addressing some of @ldecicco-USGS 's feedback and moving towards the review process? I added the "holding" tag since there hasn't been much recent discussion on this issue, but happy to continue the conversation as you wish. Thanks!

[2022-05-12 00:36] emilyriederer commented on #534
Hello @msperlin and many thanks for your submission.

We are discussing whether the package is in scope and need a bit more information.

I see you are the author of other packages such as [GetDFDData2](https://cran.r-project.org/web/packages/GetDFPData2/index.html) already on CRAN. Could you please help to clarify the differences between these two packages? Is the former focused only on financial

[2022-05-12 06:46] sandrinecharles commented on #499
Hi @emilyriederer! Yes, we still want to consider feedback, but the engineer that should be in charge of this has quick how lab. This work is thus temporally suspended.

[2022-05-12 13:11] emilyriederer commented on #499
Thanks for the update, @sandrinecharles ! We will leave this on hold for now.

[2022-05-12 19:47] msperlin commented on #534
Hi @emilyriederer

Please find my replies below:

The different between GetDFPDAta2 and rb3 is in their scope and audience. Package GetDFPData2 is related to financial documents released by companies  to the exchange and its audience is mostly business analysts. This includes sales, profit, and many other financial information on a annual basis. Meanwhile, you cant think of rb3 as an interface to

[2022-05-12 20:07] msperlin commented on #534
@wilsonfreitas I just fixed the code for codemeta and contributing file. The other problems are deeper in the code. Can you please have a look?

[2022-05-13 01:08] wilsonfreitas commented on #534
Hi @emilyriederer and @msperlin

I added the examples to the functions show_templates and display_templates.
rb3 is not a function, it is just the tag `@name` being used in the package documentantion, I removed that.

And with respect to `<<-` operator, it is used with a ReferenceClass, and accoding to [documentation](https://www.rdocumentation.org/packages/methods/versions/3.6.2/topics/ReferenceC

[2022-05-13 11:26] wilsonfreitas commented on #534
Furtherly, the test coverage is now 84%.

[2022-05-13 12:31] mpadge commented on #534
Thanks @wilsonfreitas, our check system has just been updated to do what above link says: *Allow global assignment operator if in RefClass statement*. Your package no longer fails that check :+1:

And FYI, another new check has just been added which in your case reports this:

---

### 4. Other Checks

:heavy_multiplication_x: The following function name is duplicated in other packages:

-  - `dow

[2022-05-13 13:38] wilsonfreitas commented on #534
Hi @mpadge

This is great!

---

* `download_data` has been renamed to `download_marketdata`.

[2022-05-13 22:53] emilyriederer commented on #534
@ropensci-review-bot check package

[2022-05-13 23:08] emilyriederer commented on #534
Thanks for the answers on the package uniqueness, @msperlin . I really appreciate the additional context on the package's unique value. I will proceed to look for editors for this package. Would you mind adding more details and context to the README? After reading it someone with little domain knowledge should have been informed about the aim, goals and functionality of the package.

[2022-05-14 11:58] msperlin commented on #534
Thanks @emilyriederer. I added to the README.md the explicit datasets available at rb3. This should give context to the reader and set rb3 apart from other packages.

[2022-05-14 23:57] maurolepore commented on #485
Dear @oggioniale,
How are you going with the "To-dos" listed [above](https://github.com/ropensci/software-review/issues/485#issuecomment-1111040141)?
Are you able to check the boxes or that option is unavailable to you?

[2022-05-15 21:59] emilyriederer commented on #534
Hello again, @msperlin !

Thanks for updating the README.

I noticed that you are also currently going through active review for `yfR` (#523) right now. Discussing with the editorial board, we think the best policy is for developers to undertake reviews sequentially. That way, any relevant feedback or discussions from one review can be applied more seamlessly to the next.

As such, I am going to a

[2022-05-16 11:31] bcjaeger commented on #532
Hi @tdhock,

Thank you for acting as the editor of this submission. I have recently added a paper.md file to the repository in hopes that `aorsf` can be eligible for an expedited review at the [Journal of Open Source Software](https://joss.theoj.org/) after the ropensci review.  Can you let me know if any other files are needed or if other actions are needed from me to qualify for an expedited rev

[2022-05-16 15:39] phuongquan opened #535 "daiquiri: Data quality reporting for temporal datasets"
**Date accepted:** 2022-10-25

Submitting Author Name: T. Phuong Quan
Submitting Author Github Handle: @phuongquan
Other Package Authors Github handles: (comma separated, delete if none)
Repository:  https://github.com/phuongquan/daiquiri
Version submitted: 0.7.1
Submission type: Standard
Editor: @maurolepore
Reviewers: @brad-cannell, @elinw
Due date for @brad-cannell: 2022-07-27
Due date for @eli

[2022-05-16 17:10] phuongquan commented on #535
Hi I think there is a problem with pkgcheck.

As you can see from the badge on https://github.com/phuongquan/daiquiri, code coverage is 96%, so I don't know why the Test Coverage check has failed your side.

Also, as I mentioned in the submission, the item "These functions do not have examples: [daiquiri]" does not appear to be appropriate since daiquiri is not a function but is the package itself

[2022-05-16 17:41] tdhock commented on #532
I'm not sure about the expedited JOSS review. You may ask @noamross or @mpadge

[2022-05-16 17:53] noamross commented on #532
@bcjaeger The `paper.md` file should be sufficient. For JOSS submission, after RO review is complete you should submit to JOSS and link to this review thread in the pre-review JOSS thread.  JOSS editors will review the paper.md and can opt to use RO's software reviews rather than finding additional reviewers.

[2022-05-16 19:17] mpadge commented on #535
@phuongquan You're right about the functions not having examples. That was a bug which has now been fixed, so thanks! You can ignore that result. The coverage issue is, however, more problematic. I've tried to run `covr::package_coverage()` (as well as `codecov()` in a couple of different docker containers and always encouter this error:
[code]

This is clearly what causes the fails on our system.

[2022-05-16 20:07] bcjaeger commented on #532
Thanks, @noamross! That makes sense.

[2022-05-17 08:20] annakrystalli commented on #502
Dear @assignUser, Many apologies for the delay in the review. I've had a lot of trouble finding a second reviewer (and in between have also moved countries!). I'm settled now though so to get things moving again and given I have no conflict of interest with the package, I'll go ahead an volunteer as a reviewer. ☺️

[2022-05-17 08:22] annakrystalli commented on #458
Hey @cromanpa94! How are things? Any updates on progress on reviewers comments?

[2022-05-17 15:47] jhollist commented on #524
@etam4260 Just a quick update.  I have been looking for reviewers.  I have one so far (Thank you, @rtaph!) and have another invite out that I am waiting on.

Have you had a chance to add those examples to the few functions that were missing them?

[2022-05-17 15:47] jhollist commented on #524
@ropensci-review-bot seeking reviewers

[2022-05-17 15:48] jhollist commented on #524
@ropensci-review-bot assign @rtaph as reviewer

[2022-05-17 17:10] rtaph commented on #524
Nice to meet you @etam4260, @jooolia, and @jhollist. Confirming the review deadline of 2022-06-07 and looking forward to getting to know your package!

[2022-05-17 19:30] etam4260 commented on #524
@jhollist Yes, I was able to add the documentation to those functions. As for the testing suite, it is at 70% now. Still working to get over that 75% mark. I have also added the under review badge to the README.

@rtaph Thanks for taking the time to review the package

[2022-05-17 19:49] jhollist commented on #524
Sounds good!  Since the code might change some as a result of the review, it might make sense to wait until after review to worry too much about the code coverage, unless there are a few functions that would be easy to add to the tests at this point.

Still working on that second reviewer!

[2022-05-19 22:46] jhollist commented on #524
@ropensci-review-bot assign @khueyama as reviewer

[2022-05-20 08:15] Athene-ai commented on #489
Hi!

I would like to review this package

[2022-05-20 08:24] maelle commented on #489
@Athene-ai I'd like to kindly remind you not to volunteer in all issues especially as you've already got one review in progress (thank you!). #523

We also tend not to ask the same people to review twice in a row.

[2022-05-20 08:28] Athene-ai commented on #489
right .. so sorry for the mistake ..

[2022-05-20 09:59] Athene-ai commented on #523
---
title: "review"
output:
  rmarkdown::md_document:
    pandoc_args: [
      "--wrap=none"
    ]
---

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
-

- [x] As the reviewer I confirm

[2022-05-20 10:10] mpadge commented on #523
@Athene-ai Could you please paste a *completed* review here? Rather than adding more comments to this issue, you may leave that template there for now, and update it with an actual review when you've got that far. It's best to complete the template offline, edit the issue to delete all current content, and then simply paste the completed review back in place of the above comment. Thanks.

[2022-05-20 10:15] Athene-ai commented on #523
In this thread?

[2022-05-20 10:57] Athene-ai commented on #523
## Package Review

-   **Briefly describe any working relationship you have (had) with the package authors.**
-   [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work (if you are unsure whether you are in conflict, please speak to your editor *before* starting your review).

#### Documentation

The packa

[2022-05-22 18:47] smnnlt opened #537 "Presubmission inquiry - spiro: Manage Data from Cardiopulmonary Exercise Testing"
Submitting Author Name: Simon Nolte
Submitting Author Github Handle: @smnnlt
Repository:  https://github.com/smnnlt/spiro
Submission type: Pre-submission
Language: en

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categor

[2022-05-22 19:59] melvidoni commented on #523
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/523#issuecomment-1132765542 time 5

[2022-05-22 23:47] emilyriederer commented on #537
Hi @smnnlt ! Thank you so much for the inquiry and for your detailed write-up. I really like the slick visualizations you show on the website.

As we consider whether this package is in-scope, I am hoping to get a bit more information since we don't have very much domain expertise in this field.

- I see your package supports data collected from a number of different devices (e.g. CORTEX, ZAN, etc

[2022-05-23 02:22] melvidoni commented on #523
@ropensci-review-bot remove @Athene-ai from reviewers

[2022-05-23 02:23] melvidoni commented on #523
@msperlin we apologise for the issues caused with the prior reviewer. It has now been removed from the list of reviewers, and I will proceed to search for another reviewer. Please understand that although we try to give everyone an opportunity, sometimes it is not possible to foresee how will they take the opportunity.

I will strive to get a new reviewer, but the person will be given 3 weeks from

[2022-05-23 11:00] msperlin commented on #523
Good morning @melvidoni.

No problem at all. I can wait.

Best,

[2022-05-23 21:19] melvidoni commented on #523
@ropensci-review-bot assign @thisisnic as reviewer

[2022-05-23 22:33] emilyriederer commented on #537
Dear @spiro -

Thank you for your answers. Taking all of that into account, I believe that this package to be in-scope. I will now close this pre-submission inquiry issue and we look forward to your full submission.

Thanks again!

[2022-05-23 22:33] #537 closed

[2022-05-28 00:27] kelshmo commented on #470
@ewallace absolutely, thank you!

[2022-05-28 17:11] chamberlinc commented on #464
Hello Christoph,
Apologies for the delay again. These updates I think are very good. The functions worked as expected this time with the data I typically work with. I had a few automated tests fail this time though, one because I have an older version of R that does not support the |> operator, and the rest all seemingly because of some issue accessing the function ts_dts.

The details of the auto

[2022-05-29 09:25] s3alfisc commented on #523
<table>
<tbody><tr class="odd"><td>title: “review”</td></tr><tr class="even"><td>output:</td></tr><tr class="odd"><td>rmarkdown::md_document:</td></tr><tr class="even"><td>pandoc_args: [</td></tr><tr class="odd"><td>“–wrap=none”</td></tr><tr class="even"><td>]</td></tr></tbody>
</table>

## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not l

[2022-05-30 00:50] cromanpa94 commented on #458
Sorry for the (extreme) delay @annakrystalli – thought I was going to have some time to work on this during the semester!

I'm done implementing several new functions that improve the functionality of `phruta` based on comments from the reviews and additional feedback I received from collages...I'm right now cleaning up the package and accounting for @fboehm's feedback on the tests.

I'll post my

[2022-05-30 07:31] maelle commented on #505
@frankfarach any update? Thank you! :smile_cat:

[2022-05-30 07:32] maelle commented on #418
@GLOrozcoM, @ogilani and @mmlawrence, any new update? :smile_cat:

[2022-05-30 07:33] maelle commented on #534
@ropensci-review-bot put on hold

[2022-05-30 08:53] phuongquan commented on #535
Hi I just wanted to check if there is anything you are waiting on me for?

[2022-05-30 11:03] msperlin commented on #523
Thanks @s3alfisc  for the review! Appreciate it. Good ideas there.

I'll reply to all your comments in the next couple of days.

[2022-05-30 13:18] emilyriederer commented on #537
Hi @smnnlt

I realized in my last message I accidentally tagged a user `spiro` (the package name) instead of your correct handle. Pinging again to make sure you saw that I closed the *pre-submission* issue as a matter of process, but that this is not a rejection! We welcome you to proceed to submit the package for review.

Emily

[2022-05-30 15:54] ewallace commented on #470
Dear @jooolia,

We have finished updating tidyqpcr in response to your comments:

- Added missing files to .Rbuildignore and changed references to licence, version and depends in DESCRIPTION https://github.com/ewallace/tidyqpcr/commit/fa29569fcee2769dcfb14526a843aadafdf6f1ba
- made packages explicit in tests https://github.com/ewallace/tidyqpcr/commit/d31933b59542593ddf372b0a12656bc14c95041c
- get

[2022-05-30 16:06] maurolepore commented on #429
Hi @jabiologo, I'm closing this issue now because it's been on hold for more than 1 year.

--

The author can choose to have their submission put on hold (editor applies the holding label). The holding status will be revisited every 3 months, and after one year the issue will be closed.
-- https://devdevguide.netlify.app/policies.html#policiesreviewprocess

[2022-05-30 16:08] maurolepore commented on #485
Dear @oggioniale,

Sorry for insisting. How are you going with the "To-dos" listed https://github.com/ropensci/software-review/issues/485#issuecomment-1111040141?
Are you able to check the boxes or that option is unavailable to you?

[2022-05-30 17:18] emilyriederer commented on #535
Assigned! @maurolepore is now the editor

[2022-05-30 17:24] emilyriederer commented on #535
@ropensci-review-bot assign @maurolepore as editor

[2022-05-30 18:51] smnnlt commented on #537
Hi @emilyriederer

Thank you for your message. I am currently working on some final adjustments and look forward to submitting the package in the upcoming 1-2 weeks.

Simon

[2022-05-30 21:01] melvidoni commented on #523
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/523#issuecomment-1140410709 time 8

[2022-05-30 21:25] maurolepore commented on #535
Hi @phuongquan, I'm pleased to be the handling editor of this submission.

I'll re-run checks now. I see the comments above suggest some checks may fail for reasons beyond your control. I'll explore those issues and walk through the [editor's template](https://devdevguide.netlify.app/editortemplate.html#editortemplate) by the end of this week.

[2022-05-30 21:25] maurolepore commented on #535
@ropensci-review-bot check package

[2022-05-31 07:13] oggioniale commented on #485
Dear @maurolepore,
sorry for my long silent.

I'm not able to check the boxes. Let me know how to add this option.

[2022-05-31 08:04] mpadge commented on #535
Note: We're still working on a fix for the package coverage failure there - see package GitHub workflow for actual coverage in the meantime: 96%. Sorry for an inconvenience @phuongquan.

[2022-05-31 21:08] maurolepore commented on #485
Thanks!

Can you please copy-paste the following in a new comment and check the boxes to reflex your progress?

[code]

[2022-06-01 12:15] nathansam commented on #533
Hi everyone! I hope you are all well! Just dropping a reminder the review due date was yesterday. Thanks for agreeing to review datefixR 🙂.

[2022-06-01 13:25] AlvesKS commented on #533
Hi everyone. I just want to let you know that I am still working on the review. I will need some more time to complete it. I am sorry for the delay.
Thanks

[2022-06-01 18:10] msperlin commented on #523
Dear @s3alfisc , please find my replies below:

---

Thanks, appreciate the feedback and the detailed review. Given your feedback and ideas, I've made many changes in the code and documentation.

# Documentation

Also thanks. I changed the readme.rmd file so that the reader can quickly grasp how to use the package.

I reorganized the topics in the readme.rmd and moved some as vignettes.

I rather

[2022-06-01 18:24] msperlin commented on #523
All changes are in the main branch..

[2022-06-01 21:16] jooolia commented on #470
Dear @ewallace,
Thanks for all your work and comments. I am having a look, but have been slowed down by devtools:check() exiting with status 1. I think it is something on my end, but I would like to understand what is happening. I will get back to you again on Friday. thanks, Julia

[2022-06-02 00:19] arhepworth commented on #533
Apologies, have dropped the ball on this one. I can theoretically get it done by the end of the weekend, if that is useful?

From: Nathan Constantine-Cooke ***@***.***>
Date: Wednesday, 1 June 2022 at 20:15
To: ropensci/software-review ***@***.***>
Cc: Anna Hepworth ***@***.***>, Mention ***@***.***>
Subject: [EXT] - Re: [ropensci/software-review] datefixR: Fix Really Messy Dates (Issue #533)

CAU

[2022-06-02 00:21] adamhsparks commented on #533
That's fine, @arhepworth. Thanks for letting us know.

[2022-06-02 14:21] AlvesKS commented on #533
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

-   **Briefly describe any working relationship you have (had) with the package authors.**
-   [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to re

[2022-06-03 11:25] jooolia commented on #470
Hi @ewallace ,

Thanks for all the work and for the comment pointing us to your updates. I haven't figured out what was causing me to have a exit status 1 with running "check" from the build window. I will ask about this on the rOpenSci slack. R CMD check and devtools::check() from the console are fine.

Regarding the package I have a few more little comments:

What is the story on the plot_helper

[2022-06-03 14:24] jooolia commented on #503
Hi @joeroe,
Yes no problem. Thanks for the update.

[2022-06-03 14:26] jooolia commented on #506
Hi @mpadge, you mentioned being in touch about this issue, are there any updates here? Thanks, Julia

[2022-06-03 14:27] jooolia commented on #522
Hello @wfrierson,
Do you have any updates on your submission? Do you need any support from our side? Thanks, Julia

[2022-06-03 16:36] wfrierson commented on #522
Apologies for the delay. I'm updating my package on CRAN to be consistent
with the ropensci changes and am waiting for their approval. I'll check on
its status since it's been awhile.

- Will

On Fri, Jun 3, 2022, 7:28 AM Julia Gustavsen ***@***.***>
wrote:

[2022-06-03 19:09] maurolepore commented on #535
Dear @phuongquan,

Thanks again for this awesome submisison! I'm here to help you pass review smoothly. I looked for opportunities to make the package follow rOpenSci's [guidelines](https://devdevguide.netlify.app/index.html) as closely as possible, and to make the reviewer's job as easy as possible. After the section "Editor checks" you'll see my comments:

* I listed some issues I need to please

[2022-06-04 17:47] thisisnic commented on #523
I am currently working on my review of this package, and hope to finish it in the next few days if nothing unexpected comes up!  I had an issue when I was running the examples in the vignette though, and so to deliver partial feedback which might be useful in the meantime, I've opened this issue relating to it on the project repo: https://github.com/msperlin/yfR/issues/11

[2022-06-05 18:32] GLOrozcoM commented on #418
@maelle our pending issues were:
1. Updated ReadMe and docs for functions -> Done!
2. Adding in Windows to CI/CD -> Done!
I say `Done!` as they are addressed in this PR: https://github.com/GLOrozcoM/epair/pull/30. We'll merge it after solving the issue below.

I added in an Ubuntu check and this is looks to be the last hurdle. The Ubuntu checks fail a test we don't normally see failing so we're in

[2022-06-05 20:25] melvidoni commented on #523
Hello Nicola, that's great, thank you!

[2022-06-06 04:05] frankfarach commented on #505
@maelle Sorry for my delayed response. Can you please put a 3-month hold on this review? I intend to finish this submission but have other things I need to take care of in the meantime. Thank you for considering this request. 😄

[2022-06-06 10:16] mpadge commented on #506
Yes, I think we can close this now, as @grwhumphries intends to proceed to a full submission. Right Grant?

[2022-06-06 16:20] nathansam commented on #533
Thank you for your feedback @AlvesKS ! It is all very much appreciated and is a big help. I will begin implementing your suggestions on an `ropensci` branch of the datefixR repo so changes aren't being pushed to main whilst @arhepworth is still reviewing.

[2022-06-06 19:44] msperlin commented on #523
Thanks @thisisnic,

No rush for the review. I'm also on holidays and might take a while to reply here.

As for the issue, I think you might have a problem with quantmod. Please update with latest version in CRAN and try again.

[2022-06-06 21:05] thisisnic commented on #523
Thanks @msperlin - no problem!  Great, that fixes it for me.  Would it be worth perhaps adding the version to the DESCRIPTION file as described here[1] in order to prevent other people with older package versions wondering why it's not working?

[1] https://r-pkgs.org/description.html#minimum-versions

[2022-06-06 21:49] melvidoni commented on #523
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/523#issuecomment-1147960056 time 4

[2022-06-07 05:54] rtaph commented on #524
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revie

[2022-06-07 07:22] maelle commented on #505
@ropensci-review-bot put on hold

[2022-06-07 07:22] maelle commented on #505
Thank you for the update @frankfarach! Done :heavy_check_mark:

[2022-06-07 07:25] maelle commented on #418
@ropensci-review-bot check package

[2022-06-07 07:34] maelle commented on #418
Thanks @GLOrozcoM! As you see above there are a few red crosses (maybe the coverage failure is the same Ubuntu issue you were mentioning? Do you need any help with it?)

[2022-06-07 08:12] grwhumphries commented on #506
@mpadge  - yeah that's correct! I'll be doing a full submission soon

[2022-06-07 08:17] #506 closed

[2022-06-07 12:22] bcjaeger commented on #532
Hi @tdhock, I see we are still seeking reviewers. Is there anything I can do to help find reviewers for this submission?

[2022-06-07 14:20] msperlin commented on #523
Dear @thisisnic, please find my replies below.

Again, thanks for the time reviewing my package. I've made many changes based on your comments. All changes are in the main branch.

# Review Comments

Thanks! I'm glad you enjoyed using it.

Yes, this is fixed in the latest commit 2749f6fbdad562fe6f963e409470916d58f6fdb2.

### Comments on yf_get.R

Thanks.

Fixed.

Fixed.

You're right. I changed th

[2022-06-07 14:56] oggioniale commented on #485
Dear @maurolepore,
I write you for a question about the better way for organza the work of rOpenSci/ReLTER repo with multiple (currently we are in 3) developers.
We must to fork the main repo, work each on their own private repo and make Pull Requests. This is the better way? Or we must work directly together in the same (main) repo?
Which is the suggestion by rOpenSci?

Thanks a lot for any sugge

[2022-06-08 06:39] KaiAragaki opened #539 "Presubmission Inquiry: gp - A Grammar of Plates"
Submitting Author Name: Kai Aragaki
Submitting Author Github Handle: @KaiAragaki
Repository:  https://github.com/KaiAragaki/gp
Submission type: Pre-submission
Language: en

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-ca

[2022-06-08 08:30] annakrystalli commented on #502
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revie

[2022-06-08 08:32] annakrystalli commented on #502
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/502#issuecomment-1067080447 time 2.5

[2022-06-08 08:35] annakrystalli commented on #502
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/502#issuecomment-1149620624 time 4

[2022-06-08 13:38] ewallace commented on #470
Hi @jooolia,

Thank you for this thorough check, it has helped a lot and given us more opportunity for improvements. @DimmestP and I have addressed these:

- plot_helpers. Given the minimal use of these functions and that their capabilities are now in the scales package, we removed these in pull request https://github.com/ewallace/tidyqpcr/pull/183
- URLs. Fixed in https://github.com/ewallace/tidy

[2022-06-08 13:59] jhollist commented on #524
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/524#issuecomment-1143772151 time 4

[2022-06-08 14:00] jhollist commented on #524
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/524#issuecomment-1148226693 time 8

[2022-06-08 16:35] phuongquan commented on #535
Hi @maurolepore,

Many thanks for your comments. I have pushed the following changes:

- ml01: I have added a Usage section to the README
- ml02: I encountered a problem with your suggestion of `devtools::install_github("phuongquan/daiquiri@v0.7.0")` in that it failed for me when I added the option `build_vignettes = TRUE`. I think it might be an issue with `renv ` and I don't know how to fix it,

[2022-06-09 02:44] etam4260 commented on #524
Hi @khueyama @rtaph

Thanks for all the feedback! Definitely a lot to go through and digest. I am hoping to talk to the other rhud package contributors to get some thoughts. I will try to get back in a few days.

[2022-06-09 08:41] buehlk opened #540 "Presubmission Inquiry: fouRplebsAPI - API access to the largest 4chan archive"
Submitting Author Name: Kilian Buehling
Submitting Author Github Handle: @buehlk
Other Package Authors Github handles: (comma separated, delete if none)
Repository:  https://github.com/buehlk/fouRplebsAPI
Submission type: Pre-submission
Language: en

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [packa

[2022-06-09 10:34] smnnlt opened #541 "spiro: Manage Data from Cardiopulmonary Exercise Testing"
**Date accepted:** 2022-08-17
Submitting Author Name: Simon Nolte
Submitting Author Github Handle: @smnnlt
Repository:  https://github.com/smnnlt/spiro
Version submitted: 0.0.5
Submission type: Standard
Editor: @melvidoni
Reviewers: @jameshunterbr, @manuramon
Due date for @jameshunterbr: 2022-07-11
Due date for @manuramon: 2022-07-22

Archive: TBD
Version accepted: TBD

Language: en

---

-   Past

[2022-06-09 16:28] mpadge commented on #541
Thanks @smnnlt , we've recently added an ability for submitting authors to directly call ˋ@ropensci-review-bot check packageˋ. Feel free to give that a try, to re-run the checks. (You'd get to be the first author to do so :rocket:)

[2022-06-09 19:51] smnnlt commented on #541
@ropensci-review-bot check package

[2022-06-09 21:35] KaiAragaki commented on #539
Hi @emilyriederer! Thank you for taking the time to review my presubmission.

While there currently isn't any built in interoperability, that would be a fairly simple addition (At least, by my naive prediction).

`plater` does not create specific objects, but ingests .csv files formatted in a particular way to produce tidy, annotated `tibble`s. `gp` does not read in files, but takes `data.frame`-l

[2022-06-10 07:02] jooolia commented on #470
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/470#issuecomment-1114160848 time 12

[2022-06-10 07:27] jooolia commented on #470
Dear @ewallace  and @DimmestP,
Thanks for all your hard work. 👍 This looks good to me. Since @kelshmo has already approved I will approve this and we can move forward with the next steps.

Regarding CRAN vs. Bioconductor, my personal opinion is that it depends on your targeted users, dependencies and perhaps future plans for the package. Many rOpenSci packages are on CRAN. Right now I am aware (th

[2022-06-10 07:28] jooolia commented on #470
@ropensci-review-bot approve tidyqpcr

[2022-06-10 07:28] #470 closed

[2022-06-10 07:36] jooolia commented on #329
Email sent to raoul.wolf@hotmail.de

I am reaching out again regarding chemspiderapi. Do you have any updates? I think I will close the issue and if you have time to complete it you could reopen the issue and ping me on it.

With that I will close this issue. Cheers, Julia

[2022-06-10 07:36] #329 closed

[2022-06-10 07:38] jooolia commented on #522
thanks @wfrierson! let us know when you get some updates.

[2022-06-10 12:37] maurolepore commented on #485
Dear @oggioniale,

Great to know the package will benefit from multiple contributors, and great to hear you're thinking about how to it it as smoothly as possible.

I'm not aware of a recomendation by rOpenSci. (@maelle does rOpenSci recommend any specific Git remote setup?)

In my experience the "best" workflow varies from team to team. I suggest your team read about [common remote setups](https:

[2022-06-10 13:06] maelle commented on #485
We do not, we should probably update the dev guide with these resources!

[2022-06-10 13:06] maelle commented on #485
https://github.com/ropensci/dev_guide/issues/479

[2022-06-10 21:22] s3alfisc opened #542 "fwildclusterboot presubmission"
Submitting Author Name: Alexander Fischer
Submitting Author Github Handle: @s3alfisc
Other Package Authors Github handles: @droodman,
Repository:  https://github.com/s3alfisc/fwildclusterboot
Submission type: Pre-submission
Language: en

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit polici

[2022-06-10 21:43] maurolepore commented on #535
Thanks! We are almost there :-)

* ml01. It would be nice to see the output.

- [ ] ml02: I thought about this a bit more and I now think we can't ask the reviewers to consider both the HEAD of the repo and the latest release. If you want them to review the latest release, then please make it the HEAD. Then the simpler installation instructions should be sufficient. After the review you are welcom

[2022-06-11 11:35] mpadge commented on #535
@maurolepore We've updated the automated checking in the meantime, so it now flags any submissions which have renv in activated mode, and require that to be de-activated for reviews to proceed.

[2022-06-11 13:59] emilyriederer commented on #540
Hi @buehlk - thank you for submitting this inquiry.

Unfortunately, after discussing with the editorial team, we believe that this package is outside our scope. While there are undoubtedly useful research applications to such a tool, we are not confident that the underlying API meets our [ethics and privacy guidance](https://devguide.ropensci.org/policies.html#ethics-data-privacy-and-human-subject

[2022-06-11 13:59] #540 closed

[2022-06-12 01:06] wfrierson commented on #522
@jooolia, is it possible for my latest changes to be reviewed before I submit to CRAN? If I submit to CRAN and then realize I missed something for ropensci, the CRAN volunteers will be less than excited to review a 2nd submission within the same month.

My changes to be compliant with ropensci are in the ropensci_updates branch ([link](https://github.com/wfrierson/wmm/tree/ropensci_updates)).

[2022-06-12 16:24] emilyriederer commented on #539
Hi @KaiAragaki - thank you for the additional information! I really appreciate the thoughtful reply. I am pulling in some editors from our team with more experience in this domain to discuss and will follow up soon.

[2022-06-12 17:24] emilyriederer commented on #542
Hi @s3alfisc - thanks so much for submitting your package. I especially appreciate all of the details (and impressive benchmarking results!) in the best-in-class answer.

As a general matter, this seems in-scope for a regression package. Based on your work with the statistical standards, could you please comment on whether you believe that the package is on track to meet at least half of the gener

[2022-06-13 16:53] s3alfisc commented on #542
Hi @emilyriederer , thanks for your feedback! I have uploaded my comments based on the statistical software roclets in a separate branch [here ](https://github.com/s3alfisc/fwildclusterboot/blob/ropensci/R/srr-stats-standards.R).

[2022-06-13 23:52] emilyriederer commented on #539
Hi @KaiAragaki - thank you for your patience. After discussing with the editorial board, we have judged your package to be in-scope and would like to invite you to make a full submission. I'll close this presubmission issue, and please go ahead and open a new issue with the full submission.

Some notes of interest from our discussion:
- We believe your package also fits in the `field and laborator

[2022-06-13 23:52] #539 closed

[2022-06-13 23:57] emilyriederer commented on #541
Hi @smnnlt ! Thank you for the full submission and your proactive work addressing the bots feedback. I'm currently seeking a handling editor and hope to kick-off the full review soon.

[2022-06-14 09:13] bnicenboim opened #543 "presubmission inquiry for eeguana package (EEG data preprocessing)"
Submitting Author Name: Bruno Nicenboim
Submitting Author Github Handle: @bnicenboim
Repository:  https://github.com/bnicenboim/eeguana
Submission type: Pre-submission
Language: en

---

-   DESCRIPTION

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) or [statistical package cate

[2022-06-14 18:53] wfrierson commented on #522
Ok, will do. Thanks!

On Tue, Jun 14, 2022, 11:38 AM Julia Gustavsen ***@***.***>
wrote:

[2022-06-14 18:56] maurolepore commented on #535
@ropensci-review-bot check package

[2022-06-14 19:57] tdhock commented on #532
I have asked a few people to review but no one has agreed yet, do you have any idea for potential reviewers to ask?

[2022-06-14 22:55] wfrierson commented on #522
@jooolia, I've merged the feature branch into main. Let me know if there are any questions.

Thanks again!

[2022-06-15 03:22] etam4260 commented on #524
Hi @khueyama

1) "khueyama: I did not see contribution guidelines in the README or CONTRIBUTING. There is a .github/CONTRIBUTING.md file, but I believe it is auto-generated from a devtools function."

For your comment about the contributing file, this was not autogenerated from roxygen. I actually cookie cuttered it out of a more popular package, likely ggplot. I'm not exactly sure what else you w

[2022-06-15 14:00] ewallace commented on #470
@ropensci-review-bot finalize transfer of tidyqpcr

[2022-06-15 14:37] ewallace commented on #470
Thank you @jooolia.

- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.
- [ ] After transfer write a comment @ropensci-review-bot finalize transfer of <package-name> where <package-name> is the repo/package name. This will give you admin access back.
- [ ] Fix all links to the GitHub repo to point to the repo under the ropensci organization.
- [ ] D

[2022-06-15 16:49] phuongquan commented on #535
Hi @maurolepore,

I have pushed the following changes:

- ml01: I have added an example report to the package website and added a link to it in the Usage section of the README
- ml02: I want the reviewers to consider only the HEAD of the repo so have removed the reference to the latest 'release' from the installation instructions
- ml04: I have deactivated renv
- ml05: I have wrapped the long runn

[2022-06-16 05:02] etam4260 commented on #524
Hi @rtaph

I've begun working on some of the feedback you made. Here is where I am so far...

1) "Some examples in the docs appear broken for internal functions. devtools::run_examples(run_dontrun = TRUE) does not work for all examples. See below."

This should be fixed. However there is an issue with cbsadiv queries for the USPS Crosswalk files. I think this might be a bug on HUD USER's end.

2)

[2022-06-16 12:00] maurolepore commented on #535
Thanks! I'll run checks one last time and start searching for reviewers shortly.

Could you please name three people you think might be good reviewers and explain why?

(I would appoint only one but having more helps understand what kinds of skill you think are useful.)

Here are some more non-blocking comments.

* ml01. Maybe you could minimize your example to somethis like this:

[code]
Here is

[2022-06-16 12:02] maurolepore commented on #535
@ropensci-review-bot check package

[2022-06-16 16:55] rtaph commented on #524
Hi @etam4260

Great to see so much activity!

IMO the elements you have in the CONTRIBUTING file are sufficient. I think I just saw "This outlines how to propose changes to rhud..." and thought the ellipses indicated this might be an unfinished sentence.

I have two suggestions:
1. Adding a few sentences up top to explain that rhud solves the task of converting data associated to ZIP codes to othe

[2022-06-16 22:05] chainsawriot commented on #386
@noamross I was wondering will there be any update on this?

[2022-06-16 22:51] emilyriederer commented on #543
Hi @bnicenboim - thank you for reaching out. I believe that this package is firmly in-scope. Please feel free to progress to a full submission whenever you feel comfortable with the dependencies and refactoring.

[2022-06-16 22:51] #543 closed

[2022-06-16 22:52] emilyriederer commented on #541
@ropensci-review-bot assign @melvidoni as editor

[2022-06-16 22:55] melvidoni commented on #541
@ropensci-review-bot seeking reviewers

[2022-06-16 22:56] melvidoni commented on #523
@thisisnic and @s3alfisc what are your thoughts on the changes?
Do let me know if you are satisfied with these changes, or if there is anything else outstanding.

[2022-06-17 08:22] jooolia commented on #522
@ropensci-review-bot check package

[2022-06-17 08:23] jooolia commented on #522
Hello, @mpadge will be looking into this later.
Cheers, Julia

[2022-06-17 09:38] mpadge commented on #542
@s3alfisc @emilyriederer I've had a look through the code, and do not think this package should really be considered a statistical "wrapper" package, as it only constucts a single external call to one Julia package. The Julia connection is entirely optional for package functionality, and in terms of code and algorithms represents only a very small portion of the code. I suggest the review process

[2022-06-17 10:35] mpadge commented on #522
@jooolia Our automated system only checks for continuous integration on GitHub. This package uses travis for CI, so that failing check may be ignored. (We [officially advise using alternatives to travis](https://devguide.ropensci.org/ci.html#travis-ci-linux-and-mac-osx), but that advise itself may need updating?)

[2022-06-17 12:03] s3alfisc commented on #542
Hi @mpadge , thanks for your feedback! I will spend some time cleaning up the package over the next days (documenting all srr roclets, add G.2.15, and merge everything into the main branch) and then I will submit `fwildclusterboot`! =)

[2022-06-17 12:39] s3alfisc commented on #523
Hi @melvidoni, I will try to take a closer look at @msperlin's comments this weekend / early next week =)

[2022-06-17 13:29] mpadge commented on #542
@s3alfisc No need to merge if you'd rather not. We do want our system to one day work on non-default branches, so as said are happy to use your submission to test that, if that's easier for you. That said, we do generally advise against this, because then you'll be stuck implementing changes to reviews in your non-default branch, which may make your own workflow less robust. Up to you.

[2022-06-17 18:23] noamross commented on #386
Hi @chainsawriot, sorry that this slipped through the cracks.  @adamhsparks and @emmamendelsohn, please respond to let us know whether the changes address all your concerns.

[2022-06-18 02:10] adamhsparks commented on #386
@noamross, @chainsawriot, I'm happy with the changes

[2022-06-19 17:33] GLOrozcoM commented on #418
@maelle we'd love some help! The test mentioned in question is in the `test_list_service.R` module and starts on line 59. This runs correctly on my Mac system and also passes the remote Windows check. I'm not certain what the best way to debug this is since it works perfectly fine when I try recreating the error on my system. Do have any suggestions?

Some of the red crosses will be addressed with

[2022-06-19 20:34] melvidoni commented on #541
I'm having some issues with finding reviewers. Please bear with me.

[2022-06-20 00:05] wfrierson commented on #522
@jooolia, I just realized that I didn't update the NAMESPACE to reflect the @noRd changes. This is resolved in the latest commit. My apologies for that!

I see that ropensci-review-bot has noted the `renv` library. `wmm` is pure R, but I use `renv` for the packages used for unit tests. When installed from CRAN, no other packages are installed (noted in the DESCRIPTION file). Do I really need to re

[2022-06-20 08:49] thisisnic commented on #523
Thanks for the reminder there @melvidoni - I am happy with the changes made.

[2022-06-20 09:26] mpadge commented on #522
@wfrierson No, you don't need to *remove* `renv`, just [deactivate it](https://rstudio.github.io/renv/reference/deactivate.html). That only changes the local `.Rprofile` file by commenting out the `source` line. Alternatively, just remove that file from the repo and keep a local version only.

[2022-06-20 21:07] melvidoni commented on #523
Thanks @thisisnic! We will wait until after the weekend for @s3alfisc's comments then!

[2022-06-20 21:10] melvidoni commented on #541
@ropensci-review-bot assign @jameshunterbr as reviewer

[2022-06-21 14:13] maelle commented on #418
Do you mean the test fails on Ubuntu? I'll have a look later this week.

[2022-06-21 20:32] s3alfisc commented on #523
Hi all, I am very happy with the changes. The package looks and works great! In particular, I am super happy about how the documentation has evolved! :)

[2022-06-21 21:10] melvidoni commented on #523
@ropensci-review-bot approve yfR

[2022-06-21 22:42] #542 closed

[2022-06-22 10:12] ewallace commented on #470
@ropensci-review-bot give codecov access to [ropensci/tidy](https://github.com/ropensci/tidyqpcr/)

[2022-06-22 10:13] ewallace commented on #470
@ropensci-review-bot help

[2022-06-22 10:36] ewallace commented on #470
Thank you @mpadge!

I was sufficiently confused to put a discussion point on adding codecov access to the dev guide and/or making it easier to know who to ask for help https://discuss.ropensci.org/t/staff-admin-team-codecov/2982

[2022-06-22 11:03] msperlin commented on #523
Thanks @s3alfisc, @thisisnic! Realy appreciate the feedback.

I'll make all changes and report here soon.

[2022-06-22 11:09] msperlin commented on #523
@ropensci-review-bot finalize transfer of yfR

[2022-06-22 11:37] msperlin commented on #523
@s3alfisc, @thisisnic Can I include you both as reviewers in the DESCRIPTION file?

[2022-06-22 12:11] thisisnic commented on #523
Of course, @msperlin , thanks!

[2022-06-22 12:29] msperlin commented on #523
@melvidoni I've made all required changes. Please let me know if anything else is needed.
I'm also interested in a blog post @ropensci/blog-editors

[2022-06-23 10:04] maelle commented on #418
A note regarding CI, I think you could run R CMD check on more platforms and I'd recommend to update to v2 of r-lib GitHub Actions cf https://www.tidyverse.org/blog/2022/06/actions-2-0-0/

[2022-06-23 10:07] maelle commented on #418
Now regarding the issue in the test, I think it's because you have two mock directories with nearly the same name excepting the case, which some OS might confuse? `get_all_pqaos() is OK` and `get_all_pqaos() is ok`.

I'd recommend not using spaces in mock directories name but instead think of them like filenames so for instance pqaos-ok. They're not like `test_that()` arguments.

Hope this helps @

[2022-06-23 11:18] maelle commented on #470
@ropensci-review-bot help

[2022-06-23 16:30] phuongquan commented on #535
Hi @maurolepore,

I'd like to suggest the following reviewers:

These two people have worked on R packages looking at data quality in the same research field that daiquiri was originally developed for:

- Stephan Struckmann <stephan.struckmann@uni-greifswald.de> maintainer of "dataquieR: Data Quality in Epidemiological Research"
- Hossein Estiri <hestiri@mgh.harvard.edu> author of "DQe-v: A Databa

[2022-06-24 04:36] adamhsparks commented on #533
@ropensci-review-bot to alstat reviewers

[2022-06-24 04:37] adamhsparks commented on #533
@ropensci-review-bot to @alstat reviewers

[2022-06-24 04:37] adamhsparks commented on #533
@ropensci-review-bot add @alstat to reviewers

[2022-06-24 10:48] phuongquan commented on #535
Hi @maurolepore,

I just read the Peer review policies and think the suggestions I made may have conflicts of interest in that they are significant contributors to what may be seen as "competitor projects". I would like to suggest the following reviewers instead, who are more from the user side:

- Rahul Sangole [@rsangole] who is a data scientist interested in time series and anomaly detection, a

[2022-06-24 17:31] emmamendelsohn commented on #386
Everything looks good from my end as well. @chainsawriot @noamross

[2022-06-24 17:48] noamross commented on #386
@ropensci-review-bot approve readODS

[2022-06-24 17:49] #386 closed

[2022-06-24 20:08] chainsawriot commented on #386
@ropensci-review-bot finalize transfer of readODS

[2022-06-25 15:08] s3alfisc opened #546 "fwildclusterboot submission"
Submitting Author Name: Alexander Fischer
Submitting Author Github Handle: @s3alfisc
Other Package Authors Github handles: (comma separated, delete if none) @droodman
Repository:  https://github.com/s3alfisc/fwildclusterboot/tree/master
Version submitted: 0.9.1 (in ropensci branch)
Submission type: Stats
Badge grade: silver
Editor: @helske
Reviewers: @meghapsimatrix, @markean
Due date for @meghaps

[2022-06-25 16:18] kingaa commented on #489
The documentation of standards is admirable.

Examining the source code, it appears to be very carefully written and in a good style.  I expect it will be easy to track down bugs and to maintain the code written in this style.

Adopting the user's point of view, I attempted to plunge in. I found it more difficult to do so than I suspect the authors would like.  This leads to some suggestions regar

[2022-06-25 17:12] emilyriederer commented on #546
@ropensci-review-bot check package

[2022-06-25 17:38] s3alfisc commented on #546
Hi @emilyriederer, is it possible that the editor check bot fails because I have submitted the package via a side-branch? @mpadge mentioned in the pre-submission that some of the automated tools might fail in this case, but suggested to nevertheless submit via a non default branch for testing purposes.

[2022-06-25 18:53] assignUser commented on #502
Thanks again to both of your for the informative reviews! It has been sometime but I managed to carve out some time to work on {octolog}. On that topic, @annakrystalli is there a deadline for me?

@pat-s I have removed {fs} and {magrittr}. {rlang} has to stay as it is a (hidden) dependency for [`cli_abort`](https://github.com/r-lib/cli/blob/main/R/rlang.R#L43) etc..
This also means that my actual

[2022-06-25 19:15] annakrystalli commented on #502
Nice work @assignUser! While we suggest a response within a couple of weeks of reviews being submitted, there isn't a hard deadline really to when all comments must be resolved. The work required to resolve comments varies from package to package and we all understand having to carve out time can be hard especially during summer holiday time! So don't worry too much about a given deadline. Look fo

[2022-06-25 21:54] wfrierson commented on #522
Thanks, @mpadge!

@jooolia, I've deactivated `renv`, which should be the last requested change. Are there any other changes needed?

[2022-06-26 20:28] melvidoni commented on #523
Excellent, thanks. Please, tick all the boxes in the corresponding post if you can.

[2022-06-27 06:28] jooolia commented on #522
Hi @wfrierson,
To me it is looking good. I will look for a handling editor who can then look for reviewers.  Thanks!

@mpadge do you know why the internal functions are coming up as not having examples? This is why I suggested using "@keyword internal" because then for me the check was ok with pkgcheck(https://github.com/ropensci/software-review/issues/522#issuecomment-1114566751). Do you see the

[2022-06-27 06:32] jooolia commented on #503
Hi @joeroe ,
Any new updates here? Thanks, Julia

[2022-06-27 10:09] mpadge commented on #522
@jooolia I've no idea, but nor is it repeatable: The bot checks on current system work fine and do not generate those failing "no examples" checks. Sorry for temporary inconvenience there.

[2022-06-27 20:54] melvidoni commented on #541
@smnnlt Just to let you know, I'm having trouble finding a second reviewer. I'll keep trying, but please bear with me.

[2022-06-27 20:55] melvidoni commented on #523
No worries, then it's fine @msperlin

[2022-06-27 20:57] msperlin commented on #523
I'm planning to submit to CRAN tomorrow. Is that Ok? (sorry but I did not see any guideline about when to submit to cran)

[2022-06-27 21:04] melvidoni commented on #523
It should be okay.

[2022-06-28 01:48] emilyriederer commented on #546
Looks like @mpadge beat me to this but it appears we have our answer. Marc, I assume we shall wait to proceed until this issue is closed? Thanks!

[2022-06-28 06:42] jooolia commented on #522
@ropensci-review-bot assign @maelle as editor

[2022-06-28 08:37] pat-s commented on #502
I also like to use both in scripting, though pkg dev is usually a different field. It's also not only about installation time/effort on CI but also on various systems (a system dep can be a blocker for some people in some restricted environments as they cannot install anything themselves - as a system engineer/admin I face this situation quite often). This reasoning does not really apply for your

[2022-06-28 15:28] mpadge commented on #546
Thanks @emilyriederer, because of this submission we now have an ability to process packages with non-default review branches. You (or indeed @s3alfisc) may call `check package` at any time. (But I've noted to @s3alfisc elsewhere that R CMD check currently fails on his package because our check systems don't have Julia installed.)

[2022-06-29 05:01] maelle commented on #522
@ropensci-review-bot check package

[2022-06-29 05:13] maelle commented on #522
:wave: @wfrierson!

- As noted by @mpadge above you should move away from Travis CI https://discuss.ropensci.org/t/ropensci-moving-away-from-travis-ci/2339/3 Therefore please switch to GitHub Actions or, say, Circle CI before we proceed. There are links in https://devguide.ropensci.org/ci.html#whichci (GitHub Actions is the most popular choice and well supported in the usethis package).
- It'd be

[2022-06-29 12:09] joeroe commented on #503
Still no response unfortunately. I've also recently learned of [pastclim](https://www.biorxiv.org/content/10.1101/2022.05.18.492456v1), which likely makes this package obsolete.

With that in mind I'll withdraw this submission – sorry for taking up your time unnecessarily.

[2022-06-29 12:09] #503 closed

[2022-06-29 20:08] melvidoni commented on #541
@ropensci-review-bot assign @manuramon as reviewer

[2022-06-29 20:09] melvidoni commented on #541
@ropensci-review-bot set due date for @manuramon to 2022-07-22.

[2022-06-30 15:25] cromanpa94 commented on #458
Hi friends,

Sorry for the delay...(I think) I ended up making too many improvements to the package + had to solve several new issues for passing the `R-CMD-check`s in `GitHub`...below are my responses to your comments (also roughly summarized in [here](https://github.com/cromanpa94/phruta/compare/48e8f6b...c2f8ceb)). Thank you @annakrystalli, @fboehm, and @raynamharris for your feedback!!

### Co

[2022-06-30 20:50] msperlin commented on #523
Thanks @steffilazerte. I'll have a look on the material you posted. But, I will need some time, maybe a couple of weeks to write the post. I'll let you know.

[2022-06-30 21:13] steffilazerte commented on #523
Perfectly reasonable :grin:

[2022-07-01 07:53] annakrystalli commented on #458
Thanks for the detailed response @cromanpa94 and all the updates to the package! 🚀

@fboehm & @raynamharris , please let us know your thoughts on the changes and whether there are any outstanding issues.

[2022-07-01 14:08] fboehm commented on #458
@annakrystalli - I feel that the authors have successfully addressed the issues. I have no remaining issues.

[2022-07-01 17:26] annakrystalli commented on #458
Thanks for the feedback @fboehm. Noted!

[2022-07-02 02:21] bcjaeger commented on #532
Hi @tdhock, I am thinking about reaching out to the folks I listed in my last comment. Before I try to reach them, I was wondering if you had already contacted them? If you have, I will not bother them again with a review request.

[2022-07-02 17:35] maurolepore commented on #535
@ropensci-review-bot seeking reviewers

[2022-07-06 08:36] alstat commented on #533
Hi @nathansam, I have some suggestions on [datefixR#17](https://github.com/nathansam/datefixR/issues/17), [datefixR#18](https://github.com/nathansam/datefixR/issues/18).

[2022-07-06 17:44] bcjaeger commented on #532
Hi @tdhock, thanks! I will reach out to the folks in my earlier post and let you know if anyone is willing to review `aorsf`. Hope you had a great trip!

[2022-07-07 02:04] adamhsparks commented on #533
Hi @alstat, please don't forget to complete our [review template](https://devguide.ropensci.org/reviewtemplate.html#reviewtemplate) along with the issues that you've opened for datefixR when you're finished with your review. 🙏

[2022-07-07 05:02] alstat commented on #533
Noted @adamhsparks, still reviewing, hoping to complete it within the week. Thanks.

[2022-07-07 05:06] alstat commented on #533
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [ ] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revie

[2022-07-08 08:57] peterdutey opened #548 "Pre-submission query: R Interface to the SNOMED CT terminology service"
Submitting Author Name: Peter Dutey-Magni
Submitting Author Github Handle: @peterdutey
Other Package Authors Github handles: (comma separated, delete if none) @AnikaC-git
Repository:  https://github.com/ramses-antibiotics/snomedizer/
Submission type: Pre-submission
Language: en

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category

[2022-07-08 12:35] jooolia commented on #503
Thanks for the follow-up @joeroe.

[2022-07-08 17:08] tdhock commented on #532
@ropensci-review-bot add @chjackson to reviewers

[2022-07-08 17:28] chjackson commented on #532
@tdhock Is this the right link for the reviewer guide: (https://devguide.ropensci.org/reviewerguide.html).  The link in the bot post gives a 404.

[2022-07-08 17:49] tdhock commented on #532
@nicholasjhorton yes thank you very much for agreeing to review.

[2022-07-08 23:10] wfrierson commented on #522
Thanks for the feedback, @maelle. I'm working on these changes and will get back to you.

[2022-07-09 01:08] adamhsparks commented on #533
@alstat and @AlvesKS, could I ask you to please complete your reviews with the estimated time taken so I can enter them into our database? thank you

[2022-07-09 11:42] bcjaeger commented on #532
@nicholasjhorton and @chjackson, thank you for agreeing to review!! I am thrilled and looking forward to talking about `aorsf` with you.

[2022-07-09 15:16] #429 closed

[2022-07-09 16:20] nicholasjhorton commented on #532
I'm not sure that I was asked to review. Can you please resend the invite @tdhock?

[2022-07-09 16:52] emilyriederer commented on #475
Hi @joelnitta and @tdhock  ! I'm currently the rotating editor in chief for rOpenSci submissions. I wanted to check in and see if you expect to have time to revisit the review feedback soon? Otherwise, we may want to put this review on hold status

[2022-07-10 01:27] joelnitta commented on #475
Thanks for checking in @emilyriederer. Sorry for falling behind on this. I am still occupied with other things at the moment, but I think I should be able to respond to the reviews by the end of August if not sooner.

[2022-07-10 08:09] markean opened #549 "Presubmission inquiry - melt: Multiple Empirical Likelihood Tests"
Submitting Author Name: Eunseop Kim
Submitting Author Github Handle: @markean
Repository:  https://github.com/markean/melt
Submission type: Pre-submission
Language: en

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-catego

[2022-07-10 11:03] emilyriederer commented on #548
Hi @peterdutey ! Thank you for submitting your package to rOpenSci. As we consider fit, I have a few follow-up questions for you.

1. Could you please elaborate more on how you see this package fitting the "scientific software wrappers" and "text analysis" categories? I currently understand the functionality to focus on retrieving data from the SNOWMED API and (optionally) structuring it into a da

[2022-07-10 11:07] emilyriederer commented on #549
Hi @markean ! Thank you for your submission to rOpenSci

I'm tagging in @mpadge to answer your question on the review timeline for statistical packages and interactions with JSS

[2022-07-10 12:15] jameshunterbr commented on #541
[spiro.index.nb.zip](https://github.com/ropensci/software-review/files/9079021/spiro.index.nb.zip)

[2022-07-10 23:51] melvidoni commented on #541
Hello @jameshunterbr. Please remember to use the corresponding form to submit your review.

[2022-07-11 09:34] peterdutey commented on #548
Hi @emilyriederer,

Thank you for the prompt response and please find answers below.

1.	If we must select a single category, then it would arguably be data retrieval. The other two may however also apply. Text analysis: the package can be used to do some very basic named entity recognition, particularly as and when the Snowstorm team release a new feature we requested, which would allow the user

[2022-07-11 10:34] jameshunterbr commented on #541
Melina Vidoni
This message is eligible for Automatic Cleanup! ***@***.***) Add cleanup rule | More info spiro.index.nb.zip Hello @jameshunterbr. Please remember to use the corresponding form to submit your review.
Hi, Melina:
I'm confused. I used the package [pkgreviewr](https://github.com/ropensci-org/pkgreviewr) as recommended in the Guide for Reviewers to prepare the report. Is that incorrect.

[2022-07-11 17:02] tdhock commented on #532
@ropensci-review-bot add @nicholasjhorton to reviewers

[2022-07-12 13:04] mpadge commented on #549
Thanks @emilyriederer, and note that we'll soon have a new command for stats submissions, `@ropensci-review-bot check srr`, to check compliances with standards. In the meantime, this package gives this result:

---

## 'srr' standards compliance:

- complied with: 86 / 116 = 74.1%
- not complied with: 30 / 116 = 25.9%

This package complies with > 50% of all standads and may be submitted.

---

@m

[2022-07-12 17:27] markean commented on #549
@mpadge Thank you for the details on timeline and JSS interaction! Are there some cases (packages) that took the route from rOpenSci to JSS? It would be very helpful for us to see some good examples.

[2022-07-12 22:12] markean commented on #549
@tdhock Thank you for the reply.
@emilyriederer @mpadge Would it be okay to proceed to a submission then?

[2022-07-13 05:45] adamhsparks commented on #533
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/533#issuecomment-1144924437 time 9

[2022-07-13 10:28] emilyriederer commented on #548
Thanks @peterdutey ! I really appreciate the detailed and thoughtful reply. All of the additional context is very informative and, as someone outside of this domain, really helps me understand the value of this package. I think this is definitely in scope.

I did check in with the team. Since all of the features that you mention for "text analysis" and "scientific software" are coming from the API

[2022-07-13 10:28] #548 closed

[2022-07-13 17:26] msperlin commented on #523
@steffilazerte I wrote a blog post. Just send you the PR and set your as reviewer.

[2022-07-14 02:06] GLOrozcoM commented on #418
Totally does @maelle thanks for the recommendations! Will post again when we get them in.

[2022-07-14 09:47] emilyriederer commented on #549
Hi @markean ! Yes, indeed. I will close this presubmission inquiry and at your convenience please proceed to the full submission.

[2022-07-14 09:47] #549 closed

[2022-07-14 15:08] cromanpa94 commented on #458
Thank you for checking @fboehm!!  Looking forward to any comments from @raynamharris! Thanks @annakrystalli for being on top of this as well! 😄

[2022-07-15 03:00] markean opened #550 "Submission - melt: Multiple Empirical Likelihood Tests"
**Date accepted:** 2022-09-20

Submitting Author Name: Eunseop Kim
Submitting Author Github Handle: @markean
Repository:  https://github.com/markean/melt
Version submitted: 1.6.0.9000
Submission type: Stats
Badge grade: silver
Editor: @Paula-Moraga
Reviewers: @pchausse, @awstringer1
Due date for @pchausse: 2022-09-05
Due date for @awstringer1: 2022-08-29
Archive: TBD
Version accepted: TBD
Language

[2022-07-15 10:33] adamhsparks commented on #533
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/533#issuecomment-1177076018

[2022-07-15 16:13] alstat commented on #533
@adamhsparks I've completed the checklist.

[2022-07-16 01:12] adamhsparks commented on #533
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/533#issuecomment-1177076018 time 8

[2022-07-16 01:14] adamhsparks commented on #533
Thanks, @alstat for finalising that.

@alstat and @AlvesKS, please let us know when you're satisfied with the changes or if you would prefer more.

[2022-07-16 01:43] alstat commented on #533
I'm satisfied with the changes [here](https://github.com/nathansam/datefixR/compare/main...ropensci), both issues I opened were addressed.

[2022-07-16 03:08] AlvesKS commented on #533
Hi @adamhsparks,

I am also satisfied with the changes.
The author has done a great job addressing the suggestions I made.
Congratulations @nathansam!

Kaique

[2022-07-16 10:40] adamhsparks commented on #533
@ropensci-review-bot approve datefixR

[2022-07-16 10:40] #533 closed

[2022-07-16 10:42] adamhsparks commented on #533
Thank you, @AlvesKS and @alstat for your kind and insightful reviews. I hope you found this experience useful and enjoyable. @nathansam, thank you for submitting datefixR. You can transfer it to rOpenSci now.

[2022-07-16 10:55] nathansam commented on #533
Thank you @AlvesKS and @alstat, your reviews were immeasurably helpful! I am of course more than happy to acknowledge you both as reviewers in DESCRIPTION. I have added your details based on the DESCRIPTION files for your own packages. Please let me know if you would like any edits made to your listings in the description.
https://github.com/nathansam/datefixR/blob/3a2b33b657c19fce085f57ac23a831f0

[2022-07-16 10:59] nathansam commented on #533
@ropensci-review-bot finalize transfer of datefixR

[2022-07-17 18:53] GLOrozcoM commented on #418
@maelle your recommendation worked! Removing spaces fixed the failing test. Our recent work was to:

1. Change the R CMD check to use v2 of r-lib [commit here](https://github.com/GLOrozcoM/epair/commit/137bb3cf74f7bcf667cf44ae0943c6779e7c25b3).
2. Remove spaces and simplify mock directory names [commit here](https://github.com/GLOrozcoM/epair/commit/f5a0efb244e3e4a7bd0f68acf4069938c21629ce) and [h

[2022-07-18 16:41] chjackson commented on #532
## Package Review

-   **Briefly describe any working relationship you have (had) with the package authors.**

    -   None

-   ☒ As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work (if you are unsure whether you are in conflict, please speak to your editor *before* starting your review).

#### Documentati

[2022-07-18 16:52] bcjaeger commented on #532
@chjackson, thank you! All of the suggestions from your review make sense and are actionable. I plan to make changes to `aorsf`'s documentation based on your feedback.

Regarding performance, I decided to put almost all of the benchmarking results in a separate project: https://github.com/bcjaeger/aorsf-bench. If you would like to review the performance claims, I recommend checking this repo out a

[2022-07-18 18:20] nicholasjhorton commented on #532
Dear @tdhock: I'm sorry but I'm feeling quite confused. What did I sign up? I seem to have been added but don't know what I was asked to do. Can you please resend the invitation?

[2022-07-18 18:39] tdhock commented on #532
Sorry for the confusion. You did not agree to review the aorsf package? If you can write the review please see instructions, https://devguide.ropensci.org/reviewerguide.html Otherwise please tell me if you would like me to remove you from the reviewer list.

[2022-07-18 18:46] nicholasjhorton commented on #532
I didn't agree. The first I heard of the request was https://github.com/ropensci/software-review/issues/532#issuecomment-1179231500.

Unfortunately, I'm not able to review at this time. Can you please remove me from the reviewer list?

[2022-07-18 18:56] tdhock commented on #532
@ropensci-review-bot remove @nicholasjhorton from reviewers

[2022-07-18 18:56] tdhock commented on #532
Sorry for the trouble!

[2022-07-19 08:05] chjackson commented on #532
Thanks, @bcjaeger - I'm happy with the performance claims from a quick scan of that paper.

[2022-07-19 08:26] maelle commented on #522
:wave: @wfrierson, any update? :smile_cat:

[2022-07-19 08:26] maelle commented on #418
@ropensci-review-bot check package

[2022-07-19 08:34] maelle commented on #418
@ropensci-review-bot check package

[2022-07-19 15:00] manuramon commented on #541
Hello! Here is my review.

## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

-   [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work.

#### Documentation

The package includes all th

[2022-07-19 15:18] wfrierson commented on #522
Hello! I'm troubleshooting GitHub Actions for CI. I expect to make more
progress on this over the next few days. Sorry for the delay.

On Tue, Jul 19, 2022, 1:26 AM Maëlle Salmon ***@***.***>
wrote:

[2022-07-19 15:21] maelle commented on #522
Ok, feel free to ask any question if needed!

[2022-07-19 21:10] melvidoni commented on #541
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/541#issuecomment-1189164376 time 4

[2022-07-19 21:11] melvidoni commented on #541
@jameshunterbr You have to add a comment with the review completed as the templated, as the one we just lodged above.

You have to follow the [review template](https://devguide.ropensci.org/reviewtemplate.html#reviewtemplate) which is in point [7.1 of the reviewing guide](https://devguide.ropensci.org/reviewerguide.html). I can't open the file you uploaded.

[2022-07-20 03:05] bcjaeger commented on #532
Thank you! I pushed some changes to the main branch of `aorsf` today based on the feedback from your review. I really appreciate your time and thoughts on the package. You are more than welcome to review the added clarifications to the documentation and let me know if there is anything you'd recommend modifying. Seeing your response above, I will add you as 'rev' to the DESCRIPTION file.

[2022-07-20 09:09] chjackson commented on #532
That 's fine to add me, thanks.  The doc changes look good.

Is it worth adding to the help pages what the functions do you omit `pred_horizon`, and add in the corresponding output data frame the specific prediction time being used?  Even if it's sensible to use an explicit prediction time, perhaps someone would have a genuine reason for using a default based on a summary of the data, or they may

[2022-07-20 14:10] maelle commented on #418
Thanks again @adithirgis @KevCaz for reviewing!

@GLOrozcoM I'm running checks locally.

[2022-07-20 14:10] maelle commented on #418
@ropensci-review-bot approve epair

[2022-07-20 14:10] #418 closed

[2022-07-20 17:17] s3alfisc commented on #546
@ropensci-review-bot check package

[2022-07-20 19:09] bcjaeger commented on #532
Thanks! I think it would be worth noting that `pred_horizon` plays a role in all prediction functions. Perhaps I could write that statement into the details or directly into the description of the `pred_horizon` input?

It is also worth mentioning that `pred_horizon` can be pre-determined by the object returned by `orsf()`. When you run `orsf()`, you can specify an input called `oobag_time` that w

[2022-07-21 04:32] GLOrozcoM commented on #418
@ropensci-review-bot finalize transfer of epair

[2022-07-21 06:40] maelle commented on #505
@ropensci-review-bot check package

[2022-07-21 06:42] maelle commented on #505
@ropensci-review-bot help

[2022-07-21 06:46] maelle commented on #505
@ropensci-review-bot help

[2022-07-21 06:51] maelle commented on #505
@ropensci-review-bot help

[2022-07-21 06:51] maelle commented on #505
@ropensci-review-bot check package

[2022-07-21 06:52] maelle commented on #505
@frankfarach Please don't mind me, I was just checking the bot. :sweat_smile:

[2022-07-22 08:34] phuongquan commented on #535
Hi @maurolepore, I've noticed that the label is still showing as 1/editor-checks when it should be 2/seeking-reviewers. I imagine something went wrong with the bot? I just wanted to raise it in case it makes a difference in moving the process along.

Thanks,
Phuong

[2022-07-22 11:34] bcjaeger commented on #532
Excellent! Just pushed the API changes to the main branch. In addition to changing `oobag_time` to `oobag_pred_horizon`, I also changed `data_train` to `data` in `orsf()`. The second change was done to have consistency between `orsf()` and other modeling functions, most of which denote training data as `data` in their inputs.

[2022-07-22 13:16] maurolepore commented on #535
Thanks! You're right. I just changed the label manually.

FYI I'm still in search of the second reviewer. Sometimes it's quick; sometimes it's not so quick. Once we reach out to someone we give them a few days to respond before we move to someone else.

[2022-07-22 13:27] emilyriederer commented on #550
Hi @markean - I just wanted to provide a brief update here. I apologize for the delay in next steps here; it's not for lack of excitement to kick off this review! I hope to have a handling editor ready to assign next week.

[2022-07-22 18:36] markean commented on #550
Thanks for the update @emilyriederer!

[2022-07-22 20:08] rsangole commented on #535
I really appreciate the request to review, and I'd love to do so on this tool too. Unfortunately, Apple (where I work) is pretty strict about open source contributions, so it could be months before I get approval to do so. Your timeline may benefit finding another reviewer.

[2022-07-24 22:13] wfrierson commented on #522
@maelle, I'm stumped on getting GH actions working. I've read tutorials and tried the `usethis` shortcuts. However, I continue to run into issue after issue. The script `check_and_testthat.yml` fails due to something about making the vignette into a pdf. The script `test-coverage.yaml` says it passes, but says "Request failed... Could not find a repository, try using repo upload token". I have res

[2022-07-25 06:03] maelle commented on #522
:wave: @wfrierson!

How did you create the `check_and_testthat.yml` file? I'd suggest deleting it, then updating usethis to its latest version, and then running `usethis::use_github_action_check_standard()` (that will create the R CMD check workflow). Then commit and push.

Regarding the test coverage error, do you have a codecov account linked to your GitHub account?

[2022-07-26 20:39] bcjaeger commented on #532
Hi @chjackson, I checked on some other submissions and it looks like final approval is given by each reviewer before a submission is closed. Do you approve of {aorsf}'s current state? If not, I am happy to make additional changes.

[2022-07-26 20:46] tdhock commented on #532
I'm not sure if this is in scope for the package review, but I had a look at your aorsf-bench slides/figures, and I saw one figure that compared the computation time of various packages/algos, I think for a single data set/size. That is a good start, but I was wondering if you have done any analysis of the computation time of the packages/algos as a function of data size? (plot time vs number of f

[2022-07-26 21:00] bcjaeger commented on #532
Hi @tdhock - thank you for checking that out!

The figure you are referring to is https://bcjaeger.github.io/aorsf-bench/#32, right? The slide does not make this clear, but the times in the figure for each algo are aggregated across all of the risk prediction tasks on this slide: https://bcjaeger.github.io/aorsf-bench/#29. So I'd say the timing estimates are more general than timing estimates on o

[2022-07-26 21:24] tdhock commented on #532
Hi @bcjaeger yes that sounds good, but I would suggest avoiding linear scales (2500, 5000, 7500). Typically for this kind of analysis I would suggest varying the number of rows/columns on a log scale, like (100, 1000, 10000) or `N=as.integer(seq(2, 4, by=0.5))`
For an example of what kind of figure I am thinking of see
![image](https://user-images.githubusercontent.com/932850/181114693-9d486984-55

[2022-07-26 21:30] bcjaeger commented on #532
Ahh, that makes perfect sense. I will add this to the paper I am working on in the aorsf-bench repo.

[2022-07-27 08:28] chjackson commented on #532
Hi all, yes, happy to approve the current version of aorsf.

[2022-07-27 13:27] maurolepore commented on #535
@ropensci-review-bot assign @elinw as reviewer

[2022-07-27 16:21] maurolepore commented on #535
@phuongquan I'm happy we now have two amazing reviewers! Looking forwards to their feedback.

[2022-07-27 16:23] bcjaeger commented on #532
So it will take me awhile to get this result written into the paper but here is a very rough figure to be responsive to @tdhock's earlier suggestion. Each facet in the figure has the number of predictor variables printed at the top strip (10, 100, or 1,000). Each point is the mean value of time to fit the corresponding model, taken over 10 independent runs and allowing up to 4 CPUs for parallel co

[2022-07-27 18:43] tdhock commented on #532
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/532#issuecomment-1187723800 time 5

[2022-07-27 18:50] tdhock commented on #532
In response to that timing figure, that looks like a good start. Is the Y axis seconds? It would be helpful to add error bands to see the variance in timings (geom_ribbon with ymin=min or lower quartile over 5 or 10 timings, etc).
On the log-log plot the different asymptotic complexity classes show up as different slopes on the right, for large n_obs values. Looks like party and aorsf have the sam

[2022-07-27 20:33] grwhumphries opened #551 "Submission: stochLAB"
**Date accepted:** 2023-02-03

Submitting Author Name: Grant Humphries
Submitting Author Github Handle: @grwhumphries
Other Package Authors Github handles: (comma separated, delete if none) @bcaneco
Repository:  https://github.com/HiDef-Aerial-Surveying/stochLAB
Version submitted: 1.1.1
Submission type: Stats
Badge grade: gold
Editor: @stephaniehicks
Reviewers: @kstreet13, @clairemas0n
Due date fo

[2022-07-28 01:56] emilyriederer commented on #550
@ropensci-review-bot assign @Paula-Moraga as editor

[2022-07-28 01:57] emilyriederer commented on #550
@markean , I'm delighted to share that @Paula-Moraga will serve as editor for this package. She is away this week but is available to commence next week. We will be in more touch soon!

[2022-07-28 04:04] etam4260 commented on #524
Hi @jhollist, I am still currently working on the changes -- mostly DRYing it up.  @rtaph as for the feedback that you mentioned below Other Code/Miscellaneous. I agree with most of it, at ~ maybe 75% done with those changes.

[2022-07-28 06:19] markean commented on #550
@emilyriederer, thanks for the news!

[2022-07-29 11:51] smnnlt commented on #541
Hi,

I've started working on changes in response to the comments in the [dev-branch](https://github.com/smnnlt/spiro/tree/dev) of the package. I'll wait for @jameshunterbr to submit the review in the desired form before I'll respond to all comments here.

[2022-07-29 12:29] maelle commented on #522
@ropensci-review-bot assign @adamhsparks as editor

[2022-07-29 12:29] maelle commented on #522
@wfrierson change of editor for the next three weeks (thanks a ton @adamhsparks!) :smile_cat:

[2022-07-30 02:35] emilyriederer commented on #551
Hi @grwhumphries ! Thank you for making a full submission. We may experience a slight delay as @mpadge is offline next week and it appears we may need assistance with the editor check bot.

In the meantime, could you please edit your message to link your to your presubmission inquiry in #506 for record-keeping?

Thanks!

[2022-07-30 23:42] wfrierson commented on #522
Thanks for your help, @maelle! Sorry for being slow here. Thanks for your recommendation re: GH actions. I got the R CMD check workflow to work via `usethis`. I'm not troubleshooting running `testthat` unit tests.

@adamhsparks, do you happen to know of any example GH action workflows that demonstrate how to run a `testthat` sequence of unit tests?

[2022-07-31 14:03] bcjaeger commented on #532
Sorry for the delay - I am happy to share an update:

- increased the max sample size to be slightly over 10k (100k caused rstudio to crash, likely b/c of memory)
- reduced the number of trees per benchmark run to 1 (down from 50) in order to make memory crashes less likely.
- increased the number of times we replicated the benchmark to 50 (up from 10)
- increased the number of sample sizes we exa

[2022-07-31 20:01] melvidoni commented on #541
@jameshunterbr Please upload the review in the correct format.

[2022-08-03 03:34] adamhsparks commented on #522
Hi @wfrierson, is this what you're after?

https://github.com/adamhsparks/wmm/runs/7644467088?check_suite_focus=true

I set this up using _usethis_ as below.

[code]

[2022-08-03 11:37] Paula-Moraga commented on #550
Hi @markean. I am pleased to handle this package. I will look for reviewers.

[2022-08-03 11:38] Paula-Moraga commented on #550
@ropensci-review-bot seeking reviewers

[2022-08-03 16:24] grwhumphries commented on #551
Hi @emilyriederer - thanks for that and no worries - just updated with the link to issue #506

[2022-08-03 22:59] markean commented on #550
Hi @Paula-Moraga. Thank you for your time and effort. Please let me know if there is anything I can help in the review process.
@emilyriederer Could you update the label?

[2022-08-03 23:50] emilyriederer commented on #550
Done! I'll ask the bot team on Slack if they know why @Paula-Moraga couldn't herself since she is, in fact, the editor!

[2022-08-04 13:13] Paula-Moraga commented on #550
@ropensci-review-bot assign @pchausse as reviewer

[2022-08-04 13:14] Paula-Moraga commented on #550
@ropensci-review-bot set due date for @pchausse to 2022-09-05

[2022-08-04 15:44] mpadge commented on #551
Thanks for the submission @grwhumphries, and for bearing with us while we use submissions to refine our system. In your case, the above "srr" section reveals a bug which we didn't anticipate. I can now appreciate that our [*Guide for Authors*](https://stats-devguide.ropensci.org/pkgdev.html) of statistical packages isn't clear enough, and needs a sentence at the outset along the lines of:

Your pa

[2022-08-04 21:04] tdhock commented on #532
Hi, thanks for sharing. That figure/result looks very interesting, good job. Based on the figure, which has same slopes for each line on that log log plot, it looks like all of the packages have the same asymptotic complexity class, which should be linear, right?

[2022-08-04 22:31] melvidoni commented on #541
@smnnlt I do not think @jameshunterbr will be updating the review. Can you access them?  Can you please provide the answers here?

[2022-08-04 23:16] bcjaeger commented on #532
Yes, I think so! Thank you very much for your help improving the figure. I intend to include this work in the paper describing `aorsf`'s methods and efficiency. I have two questions:

1. would it be reasonable/helpful for me to include a note to you or to rOpenSci in the acknowledgments section of the paper I have referred to above (particularly for your help guiding the timing benchmark above)?
2

[2022-08-05 03:46] markean commented on #550
Hi @pchausse. Thank you so much for reviewing our package. Please let me know if you have any question. A draft version of pdf vignette in `vignettes` folder might be of help.

[2022-08-05 07:08] manuramon commented on #541
Hi @melvidoni and @smnnlt , I am pasting below the review submitted by @jameshunterbr in the zip file, in case this help you. If finally @jameshunterbr uploads the review in a proper format, I will remove this comment.

All the best

---
output:
  html_document:
    toc: yes
    df_print: paged
  html_notebook:
    toc: yes
    toc_float: yes
editor_options:
  chunk_output_type: inline
---

[code]

[2022-08-05 12:30] santikka opened #552 "Presubmission inquiry: dynamite - Bayesian Modeling and Causal Inference for Multivariate Longitudinal Data"
Submitting Author Name: Santtu Tikka
Submitting Author Github Handle: @santikka
Other Package Authors Github handles: @helske
Repository:  https://github.com/santikka/dynamite
Submission type: Pre-submission
Language: en

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://rope

[2022-08-05 13:28] mpadge commented on #549
@ropensci-review-bot help

[2022-08-07 16:05] jameshunterbr commented on #541
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide\*

- *Briefly describe any working relationship you have (had) with the package authors.*

- [X] As the reviewer I confirm that there are no [conflicts of interest](%5Bhttps://devguide.ropensci.org/policies.html#coi)](<https://dev

[2022-08-07 16:09] jameshunterbr commented on #541
Sorry about the delay in reformatting and resubmitting the review of
Spiro. I hope this meets your format.

However, the previous version I uploaded was in response to an R package
suggested in your Reviewer's Guidelines. I don't know how I was supposed
to know that that format was not correct.

Sincerely,

James Hunter

—————————————————
James R. Hunter, Ph.D.
Laboratório de Retrovirologia
Discip

[2022-08-07 19:54] melvidoni commented on #541
@smnnlt can you please proceed now?
@manuramon and @jameshunterbr thank you both.

[2022-08-08 00:41] emilyriederer commented on #551
Thanks, @mpadge

Hi @grwhumphries - per Mark's comment, please let us know what sort of timeline you prefer for addressing the standards. I can put a `holding` label in this issue in the meantime if you don't expect it to be a short-term priority. Whatever works best for you!

[2022-08-08 04:13] christophsax commented on #464
Very sorry for the slow turnaround.

### Native Pipe

I changed the native pipe (`|>`) back to the magrittr one (`%>%`), so this should now work on your system with the latest version (`0.3.1.9003`).

I introduced the native pipe deliberately in the vignettes since I always wanted to keep the dependency graph very simple (tsbox only imports data.table and anytime) and wanted to make the vignettes

[2022-08-08 09:57] grwhumphries commented on #551
Hi @emilyriederer and @mpadge  - sorry about the delay.   I think I can address this within the week - I just need to get my head back into it. Hope that's okay?

[2022-08-08 10:05] emilyriederer commented on #551
Sounds great @grwhumphries ! No timeline pressure on our side. Only wanted to know about the tag for repo / issue-log hygiene but not a big deal either way.

[2022-08-08 10:25] adamhsparks commented on #552
Hi @santikka,
In reference to your query about the publication requirement. If I understand your inquiry correctly, you have several references for the methods that you are using in the package but this package is the first to combine them, is this correct?

[2022-08-08 11:58] santikka commented on #552
Hi @adamhsparks,
Yes, that is correct.

[2022-08-08 13:14] Paula-Moraga commented on #550
@ropensci-review-bot assign @awstringer1 as reviewer

[2022-08-08 15:14] mbcann01 commented on #535
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

-   **Briefly describe any working relationship you have (had) with the package authors.**
-   [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to re

[2022-08-08 18:32] smnnlt commented on #541
Hi @manuramon @jameshunterbr

Thank you very much for your reviews! I'll respond to all issues raised by each report:

### Response to @manuramon

Thanks for the comment. I have rewritten the examples to to print only truncated output using the head() function (smnnlt/spiro@185d41c).

I shortened the code lines in the vignettes (smnnlt/spiro@32597b5). I do not know the source for the R CMD error,

[2022-08-08 20:49] melvidoni commented on #541
@ropensci-review-bot submit review [<review-url>](https://github.com/ropensci/software-review/issues/541#issuecomment-1207438417) time 4

[2022-08-08 20:50] melvidoni commented on #541
Dear @jameshunterbr and @manuramon can you please check the changes on the post above? Let me know what you think.

[2022-08-08 23:05] adamhsparks commented on #552
That’s fine. If you have those references for the methods then we can accept your submission.

[2022-08-09 05:36] markean commented on #550
Hi @awstringer1! Thank you for reviewing the package. Please let me know if you have any question. A draft version of pdf vignette in `vignettes` folder might be of help.

@pchausse and @awstringer1: By an external request, a newer version of the package will be released to CRAN in August. It will not interfere with the review process, but I will tag a development version after the release. Then t

[2022-08-09 12:59] jameshunterbr commented on #541
I have looked through the new changes that Simon has made and he has responded to my comments well. I would think he might be ready to change versions. What I see now, especially in terms of documentation, is much better and ready for publication.

[2022-08-09 18:27] noamross commented on #433
@rkrug.  We're going back and picking up some reviews that got lost in ambiguous situations like this.  My apologies that this issue has foundered so long!  If you are still interested, I think the first solution is fine.  I will ask reviewers are amenable to reviewing your changes, and if not, we'll do an editors' review to check that you have addressed them.

[2022-08-09 18:59] noamross commented on #452
Hello @vgherard! We're going back to some in-progress submissions that got stuck in an ambiguous state.  Sorry that we haven't reached out in a while.  I just wanted to see if ropensci peer review is something you were still interested in pursuing.

[2022-08-09 22:47] emilyriederer commented on #281
Hi @DillonHammill ! We are doing a sweep of stale review issues. Since this review has been open and inactive for so long, much may have changed including author, editor, and reviewer bandwidth and ever-evolving rOpenSci best practices. As such, I'm closing this issue. If you still have interest and capacity, we would welcome you to open a new submission issue!

[2022-08-09 22:47] #281 closed

[2022-08-09 22:48] emilyriederer commented on #349
Hi @LingshuHu  ! We are doing a sweep of stale review issues. Since this review has been open and inactive for so long, much may have changed including author, editor, and reviewer bandwidth and ever-evolving rOpenSci best practices. As such, I'm closing this issue. If you still have interest and capacity, we would welcome you to open a new submission issue!

[2022-08-09 22:48] #349 closed

[2022-08-09 22:48] emilyriederer commented on #421
Hi @mskyttner  ! We are doing a sweep of stale review issues. Since this review has been open and inactive for so long, much may have changed including author, editor, and reviewer bandwidth and ever-evolving rOpenSci best practices. As such, I'm closing this issue. If you still have interest and capacity, we would welcome you to open a new submission issue!

[2022-08-09 22:48] #421 closed

[2022-08-09 22:49] emilyriederer commented on #443
Hi @makinin  ! We are doing a sweep of stale review issues. Since this review has been open and inactive for so long, much may have changed including author, editor, and reviewer bandwidth and ever-evolving rOpenSci best practices. As such, I'm closing this issue. If you still have interest and capacity, we would welcome you to open a new submission issue!

[2022-08-09 22:49] #443 closed

[2022-08-09 22:50] emilyriederer commented on #499
Hi @sandrinecharles  ! We are doing a sweep of stale review issues. Since this review has been open and inactive for so long, much may have changed including author, editor, and reviewer bandwidth and ever-evolving rOpenSci best practices. As such, I'm closing this issue. If you still have interest and capacity, we would welcome you to open a new submission issue!

[2022-08-09 22:50] #499 closed

[2022-08-10 08:20] rkrug commented on #433
@noamross Thanks and no problem about the delay - it suited me well.

OK - I will look at implementing suggested changes to follow solution one (trim the package to what is still working and to have it effectively as a working but "could be improved" proof of concept) today.

[2022-08-10 13:00] rkrug commented on #433
I just merged my changes in the master branch and made a release v_0.9.0.

As suggested by @noamross, I have prepared the package as a "Proof of Concept". Therefore, I did not address most issues concerning the documentation.

I added stop() statements in the functions which do not work anymore due to a retired website and stated this in the man pages as well. If other sites can be found (and I am

[2022-08-10 14:17] awstringer1 commented on #550
I am not sure if this is something the authors did, or something the `rOpenSci` template does, but the code line references in the "srr report" do not seem to match up with the locations of the tags in the `roxygen` documentation. They are a few lines off. This is fine mostly but sometimes I cannot find the relevant tag, e.g. for "Standards in on line#306 of file [R/AllGenerics.R](https://github.c

[2022-08-10 15:17] mpadge commented on #550
@awstringer1 That's because the repo has been updated since the report linked to above was generated. As stated in the automated checks, you can - *and in this case should* - generate a local, and up-to-date, version of the report by running `srr::srr_report(path)`, where `path` is where your local clone of `melt` is. By default that will open the full report in your web browser, in which all repo

[2022-08-10 15:51] awstringer1 commented on #550
Result of running `srr_report` on a fresh install of the development version of `melt` on my machine:
[code]
I got a different error when trying on the `CRAN` version. Session information:
[code]

[2022-08-10 18:33] markean commented on #550
@awstringer1 The `path` should be your local clone of the package, not the installed path. I can generate the report with `srr::srr_report(path)`. I guess that is what @mpadge meant above.

[2022-08-11 20:46] vgherard commented on #452
Dear @noamross thanks for checking in and sorry for the long silence, I totally forgot about this process being open.

Sadly, right now I'm too short of time for a relatively demanding submission like this... Apart from this, over time I became a bit unsatisfied with certain aspects of this package, which I'd at least try to improve before submitting.

I'll close this, with the hope to come back t

[2022-08-11 20:46] #452 closed

[2022-08-13 06:04] markean commented on #550
@pchausse and @awstringer1: v1.7.0 has been released to CRAN. No changes were made with respect to the `srr` tags. The code on the repository will be updated after reviewers’ comments. Thank you.

[2022-08-15 08:20] mpadge commented on #549
@ropensci-review-bot check srr

[2022-08-15 11:06] antaldaniel opened #553 "dataset: Create Data Frames that are Easier to Exchange and Reuse"
Submitting Author Name: Daniel Antal
Submitting Author Github Handle: @antaldaniel
Repository:  https://github.com/dataobservatory-eu/dataset/
Version submitted: 0.1.7
Submission type: Standard
Editor: @maelle
Reviewers: @msperlin, @romanflury
Due date for @msperlin: 2022-09-19
Due date for @romanflury: 2022-09-21

Archive: TBD
Version accepted: TBD
Language: en
---

-   Paste the full DESCRIPTION

[2022-08-15 11:52] adamhsparks commented on #553
Hi, @antaldaniel, could you please fix the repo URL by providing a link to the package’s repository, please? 🙏

[2022-08-15 14:52] antaldaniel commented on #553
@adamhsparks Apologies for the original issue problem, I hope all is fine now. I added both the github repo and the package website url

[2022-08-15 15:50] mpadge commented on #553
@antaldaniel Then you can start the checks yourself by calling `@ropensci-review-bot check package`

[2022-08-15 19:05] antaldaniel commented on #553
@@ropensci-review-bot check package

[2022-08-15 19:05] antaldaniel commented on #553
@ropensci-review-bot check package

[2022-08-16 16:46] jhpoelen commented on #433
I appreciate the notes of @rkrug related to effort required to keep packages up and running, and that another time might be better to consider this package for review. In my mind, this exchange shows that the review process works nicely. And . . . that reviewing, just like maintaining packages, takes time.

Thanks @cboettig and @cgries for reviewing.

[2022-08-16 23:48] adamhsparks commented on #553
Hi again, @antaldaniel. If you could please address the issues that the bot flagged with the ✖️, then I can proceed with your submission.

[2022-08-17 07:51] manuramon commented on #541
Hi all.
Thanks @smnnlt for considering some of my suggestions. I have retested the `spiro` package and everything works without errors. I have also tested the `grid_args` argument in the `spiro_plot` function. As I told you before, in my opinion it adds more flexibility in the plotting functionality. The example added in the `spiro_plot` help helps to understand how this new function works.

@melv

[2022-08-17 09:42] santikka commented on #552
Hi @adamhsparks,
Please let me know if there is anything I can do to move this inquiry forward. Should I provide the references mentioned here?

[2022-08-17 10:32] antaldaniel commented on #553
Hi @adamhsparks I hope I managed to add these things, with the following exception.

✔️does not have a 'codemeta.json' file -> added with codematar.
✔️does not have a 'contributing' file -> added CONTRIBUTING.md
✔️ These functions do not have examples: [attributes_measures]. -> added
✖️ Function names are duplicated in other packages

I tried to avoid duplications while keeping in mind rOpenSci du

[2022-08-17 10:53] mpadge commented on #553
@antaldaniel You may indeed ignore the "Function names are duplicated in other packages." That will soon be changed from a failing check (:heavy_multiplication_x:) to an advisory note only. Sorry for any confusion there. @adamhsparks will comment further on the code coverage.

[2022-08-17 15:43] antaldaniel commented on #553
@mpadge I do not seem to find the output where this informaiton is coming from, but I think that it is nevertheless a very useful reminder, and it would be good to see what conflicts your bot has found.  Again, apologies if I ask the obvious, but where can I check what duplicates were flagged by your bot?

[2022-08-17 15:49] mpadge commented on #553
It's in the check results. Under "*4. Other Checks*", you'll see a "Details of other checks (click to open)". You can also generate those yourself by running:
[code]
That will automatically open a HTML-rendered version of the checks, just like the above. You can use that repeatedly as you work through the issues highlighted above.

[2022-08-17 16:11] antaldaniel commented on #553
@mpadge Oh, really, sorry for asking the obvious.

I would like to comment here on the issue then in substance.  The main development question of the package, which aims to make R objects standard datasets (as defined by W3C and SDMX), is to add structural and referential metadata, is if the best way to do this is to create an s3 object or not (see the dilemma [here](https://dataset.dataobservator

[2022-08-17 20:56] s3alfisc commented on #546
Hi, I simply wanted to give some feedback on the state of the package:
- Over the last weeks, I have integrated new bootstrap variants to the package [as suggested in MacKinnon, Nielsen & Webb)[https://www.econ.queensu.ca/sites/econ.queensu.ca/files/wpaper/qed_wp_1485.pdf]
- I have also spent quite some time on trying to make the package compliant with all `pkgchecks` - unfortunately, I still fail

[2022-08-17 21:28] melvidoni commented on #541
@ropensci-review-bot approve spiro

[2022-08-17 21:28] #541 closed

[2022-08-17 21:54] awstringer1 commented on #550
Here is my review, I hope it is helpful!

## Package Review

- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

---

### Compliance with Standards

- [x] This package complies with a sufficien

[2022-08-18 07:07] joelnitta commented on #475
## Response to reviews

I am sorry for taking so long to respond to the reviewers. Thanks again to both reviewers for their helpful comments. Below I respond to each comment as appropriate.

### Response to @luismurao

- [x] Concern about parallelization. I think it would be better to have parameters for parallelization in functions that allow running analysis in parallel (so calls are done inside

[2022-08-18 07:31] adamhsparks commented on #552
Hi @santikka, I've updated the label on this just for clarity. I had missed that we actually have a "0/presubmission" label.

To move forward, please open a new issue with your submission.

I am closing this now and look forward to your submission.

[2022-08-18 07:53] adamhsparks commented on #553
Hi @antaldaniel,
I can understand the difficulty in writing tests for such a non-standard package. But I've had a look at `covr::report()` for "dataobservatory-eu/dataset". I think that there is still low-hanging fruit here that can be covered to get your code-coverage up to 75% that we ask for.

For instance, [Lines 40-43](https://github.com/dataobservatory-eu/dataset/blob/0820db303af1c5fc6a1e0f7

[2022-08-18 08:20] santikka commented on #552
Thanks @adamhsparks! I will be submitting the package very soon.

[2022-08-18 10:10] smnnlt commented on #541
@ropensci-review-bot finalize transfer of spiro

[2022-08-18 13:33] santikka opened #554 "dynamite: Bayesian Modeling and Causal Inference for Multivariate Longitudinal Data"
**Date accepted:** 2022-12-13
Submitting Author Name: Santtu Tikka
Submitting Author Github Handle: @santikka
Other Package Authors Github handles: @helske
Repository:  https://github.com/santikka/dynamite
Version submitted: 0.0.1
Submission type: Stats
Badge grade: gold
Editor: @noamross
Reviewers: @nicholasjclark, @lucymcgowan
Due date for @nicholasjclark: 2022-09-27
Due date for @lucymcgowan: 2

[2022-08-19 12:20] antaldaniel commented on #553
Hi @adamhsparks  I went up to 71.27%, but further changes are not very productive. I  did not extensively cover two areas, one is the constructor for the dataset()  itself, where I expect potentially breaking changes, and in the file I/O areas, where I think I would like to come up with a more general solution, and also avoid test being run on CRAN later.   As the overwrite function and its messag

[2022-08-19 17:43] antaldaniel commented on #553
@adamhsparks  I am much above your treshold, and apologies for the trivial error.  I wanted to omit some issues in the dataset() construtor, but I did not realize that it had some old code that had been rewritten - the test were omitting them, of course, but they sat at the bottom of the file.  It is now 81.2% covered, I know that it has to improve, but I'd prefer to do it when some issues are res

[2022-08-20 03:27] adamhsparks commented on #553
Hi @antaldaniel, that's great to see. Thank you for rechecking everything and updating.

If you have tests that you feel are unconducive for CRAN, I'd just use (and do liberally use) `skip_on_cran()`. Reviewers should hopefully be able to help guide you on this more.

[2022-08-20 03:27] adamhsparks commented on #553
@ropensci-review-bot check package

[2022-08-20 15:53] maurolepore commented on #535
Dear @elinw, just a friendly reminder about your submission. How is it going?

[2022-08-21 14:11] bcjaeger commented on #532
Hi @tdhock, I am not sure if it's my job or yours to say when the review is complete. Do you know?

Also, the application form mentions a badge for the submission:

I made a case for `aorsf` to receive the gold badge in my application. Do you have the final say on the badge it receives?

[2022-08-22 00:34] adamhsparks commented on #553
@ropensci-review-bot assign @melvidoni as editor

[2022-08-22 05:30] maelle commented on #522
@ropensci-review-bot assign @maelle as editor

[2022-08-22 05:31] maelle commented on #522
Thanks @adamhsparks!!

@wfrierson what is the status on your GitHub Actions issues?

[2022-08-22 07:30] antaldaniel commented on #553
For clarity, apart from adding the README badge, I made a few URL correction and added a paragraph to the Movtivation vignette.

[2022-08-22 11:44] chamberlinc commented on #464
Hello, and sorry for my slow turn around this time.

I think that plan for the pipes makes the most sense. Unfortunately there are a significant number of users who don't have control over updating their own versions of R because of the IT protocols of their companies or agencies. But, given enough time I agree it will be less of a problem and decreasing dependencies is a good goal.

The error tha

[2022-08-22 17:12] tdhock commented on #532
Sorry for the delay. I will get to this in the next week or so.

[2022-08-22 17:22] bcjaeger commented on #532
No trouble at all - thanks for the update!

[2022-08-23 13:09] mpadge commented on #554
@ropensci-review-bot check package

[2022-08-23 13:15] mpadge commented on #554
@santikka Thank you for your help debugging and improving our check system. Sorry the checks took so long to appear here.

@adamhsparks Please ignore the failing checks. The duplicated names check will soon be downgraded from a fail to a note. The other check is brand new. @santikka Feel free to modify your repo to describe return values, but do so at your own leisure, and consider all checks as p

[2022-08-23 14:02] santikka commented on #554
@mpadge No worries, glad to help! I will add the missing return values soon.

[2022-08-23 21:09] melvidoni commented on #553
@ropensci-review-bot assign @duttashi as reviewer

[2022-08-24 01:43] christophsax commented on #464
@chamberlinc, thanks a lot!

The error in `ts_first_of_period()` was time zone dependent, that's why I haven't spotted it. I added another test and fixed the problem. It should work now with the latest version on GitHub (`0.3.1.9004`).

[2022-08-24 07:20] santikka commented on #554
@mpadge About the return values: the system does not seem to recognize function aliases. For example in the above, `obs` and `aux` are aliases of `dynamiteformula` and thus have the same return value implicitly. If I explicitly add the return tag to these aliases as well, the resulting documentation looks rather silly with regards to the output value:
[code]

[2022-08-24 19:51] s3alfisc commented on #546
@ropensci-review-bot check package

[2022-08-24 20:47] etam4260 commented on #524
Hi, @rtaph @jhollist @khueyama
as a follow up, I think most of internal changes/DRYing is done (there is definitely more DRYING that can be done, such as the CORE api mentioned by @khueyama, but have not gotten around to implementing it), here are the few items left:

* [This blog](https://blog.r-hub.io/2020/06/03/vignettes/#how-to-include-a-compute-intensive--authentication-dependent-vignette) en

[2022-08-24 21:00] s3alfisc commented on #546
I just ran the `pkgcheck` action in my own repo, and - even though the `pkgcheck` still complained about my compliance with standards - [it finished](https://github.com/s3alfisc/fwildclusterboot/issues/57)! This of course means that from now on, I will be able to test in my own repo and can stop polluting this space 😄

[2022-08-24 21:50] chamberlinc commented on #464
@christophsax , all of the tests pass now, congrats! I was also able to recreate the problem with 'no applicable method' from the last round - when I run the tests while in a project they fail, but running the tests outside of a project they pass. I'm now assuming this was just a problem of working directories somehow.

[2022-08-25 00:44] rtaph commented on #524
Thanks for the update, @etam4260 ! It is totally reasonable to leave some suggestions for future consideration.

I will try to carve out time this weekend to look at your latest changes.

In the meantime:
1. Re: _"do you mean using print() to show in console?"_
    There are some vignettes where you call a function as an example but don't show the output. For instance, in the [state-level fair mar

[2022-08-25 08:44] mpadge commented on #524
@rtaph You don't really need to worry, because as soon as the package is transferred the docs will be built by the internal rOpenSci doc server, and you can just remove the whole /docs folder anyway.  See the [*Packaging* chapter of *Dev Guide*](https://devguide.ropensci.org/building.html#website) for details.

[2022-08-25 10:52] jhollist commented on #524
Sorry for delay in responding.  I am on vacation this week and next and mostly away from my computer so I might be a little slow in responding to this.  I will get to it as soon as I am able.

And thanks @mpadge for the assist!

[2022-08-25 13:30] adamhsparks commented on #554
@ropensci-review-bot assign @noamross as editor

[2022-08-25 13:31] danielskatz commented on #532
👋 @tdhock - please ping me when this is complete so I can also complete the corresponding JOSS acceptance and publication (in https://github.com/openjournals/joss-reviews/issues/4705)

[2022-08-26 14:15] maurolepore commented on #535
Dear @phuongquan,
Sorry for the delay. I'm struggling to reach @elinw.

[2022-08-26 15:21] grwhumphries commented on #551
@mpadge and @emilyriederer  okay the latest version of `stochLAB` (v1.1.1) has just been pushed and I think that covers out the standards for EDA and PD.

[2022-08-26 22:50] emilyriederer commented on #551
@ropensci-review-bot check package

[2022-08-26 23:11] markean commented on #550
Hi @awstringer1, thank you for your review and feedback. We have made many changes to the main branch based on your comments. The package is in a better shape than before. Please find the responses below.

## Response to @awstringer1
#### Comments

The phrase is removed. Interested users are directed to the references for more details.
<br/>

It is documented in `@param` sections of el_mean.R, whe

[2022-08-27 05:10] joelnitta commented on #475
## Update to response to reviewers

The longest running test is [`"Parallelization decreases calculation time"`](https://github.com/joelnitta/canaper/blob/76c277490dcecd0f32df351c48c8f8c891674aad/tests/testthat/test-cpr_rand_test.R#L391). To make this test robust, I have to include a relatively high number of replicates, otherwise by random chance sometimes running in parallel won't be faster than

[2022-08-27 07:47] christophsax commented on #464
@chamberlinc Thanks you so much for your help. Sorry it took me so long to respond.

@rkillick I guess we still miss the second review.

Thanks!

[2022-08-27 16:00] grwhumphries commented on #551
@emilyriederer @mpadge - I just realized that the package check failed because the PD standards aren't merged into the package check yet.  How do you want me to handle that?

Cheers
G

[2022-08-27 16:48] Paula-Moraga commented on #550
Many thanks @awstringer1 for your review! You can of course ignore the previous bot message :)

[2022-08-27 16:48] Paula-Moraga commented on #550
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/550#issuecomment-1218524923 time 8

[2022-08-27 16:53] Paula-Moraga commented on #550
Many thanks @markean for answering @awstringer1's comments so quickly. @awstringer1 can tell you whether he is satisfied with them or has additional comments. @pchausse will submit his review soon. Thanks all!

[2022-08-27 19:55] etam4260 commented on #524
Thanks for the info @mpadge and good to know. Do you know if this is the same case for CRAN?

@rtaph Additional info: I think my testing suite is still a little bit incomplete as of now. I need to go back and make sure I test exact outputs versus determining if I get some output. In my case, the API for USPS Crosswalk API changed, but my tests didn't catch that. Also not at that 75% test coverage

[2022-08-27 21:13] rtaph commented on #524
Okay, no problem!

I'll hold off on reviewing the code then, until you let me know you think `rhud` is ready for another look.

[2022-08-29 05:36] maelle commented on #534
@msperlin do you still intend to submit this package?

[2022-08-29 09:33] mpadge commented on #551
@emilyriederer One of the statistical categories this package complies with is "*Probability Distributions*", which is currently in [draft-mode only](https://github.com/ropensci/statistical-software-review-book/pull/67). I've implemented a corresponding "dev" branch of [the `srr` package](https://github.com/ropensci-review-tools/srr/pull/32) which the above checks use. These dev branches should be

[2022-08-29 10:23] msperlin commented on #534
Hi @maelle,

@wilsonfreitas is the main author of the package and has done far more work on the code than myself. I believe the decision should be his.

[2022-08-29 13:03] emilyriederer commented on #433
Thanks so all for this discussion. As I'm doing a round of clean-up on outstanding issues, I'm going to go ahead and close this issue.

[2022-08-29 13:03] #433 closed

[2022-08-29 13:07] emilyriederer commented on #475
Also tagging  @KlausVigo @luismurao . I know this review was a bit delayed and your availability may have changed. At your convenience, if you could please review @joelnitta 's responses and share whether these address your feedback ([template available here](https://devguide.ropensci.org/reviewerguide.html#followupreviewer)) , that would be fantastic.

[2022-08-29 13:09] rkrug commented on #433
Thanks @emilyriederer

[2022-08-29 17:11] msperlin commented on #534
Great! I believe the code should be fine. I'll try to start the check from here.

[2022-08-29 17:12] msperlin commented on #534
@ropensci-review-bot check package

[2022-08-29 18:30] mpadge commented on #534
@msperlin and @emilyriederer you may ignore the "functions do not document return values" fail, as that has only come online long after this package was submitted. @msperlin you may of course update your code to document these, as they'll also fail CRAN checks for new packages, but that's up to you. The duplicated names checks may also be ingored for the moment.

[2022-08-29 21:04] grwhumphries commented on #551
@emilyriederer and @mpadge I've just re-run the package check with the srr dev branch and that seems to have passed. I also fixed the issue above (no returns documented) - which I guess is a new check as that wasn't picked up in previous checks?  It should be ready to go again now

[2022-08-29 21:09] melvidoni commented on #553
@ropensci-review-bot assign @msperlin as reviewer

[2022-08-29 23:41] emilyriederer commented on #551
Thanks @grwhumphries ! This is all great news. We will begin looking for an editor and hope to connect you shortly

[2022-08-29 23:43] emilyriederer commented on #534
Thanks for the clarification, @mpadge ! With that, I think it sounds like we should be ready to proceed with the review. I will begin to work towards assigning a handling editor.

[2022-08-31 17:55] tdhock commented on #532
@ropensci-review-bot add @mnwright to reviewers

[2022-08-31 17:56] tdhock commented on #532
@ropensci-review-bot add @jemus42 to reviewers

[2022-08-31 17:57] tdhock commented on #532
hi @bcjaeger at least two reviews are typically required, and luckily Marvin and Lukas have agreed to review, so I will wait to hear from them before official acceptance.

[2022-08-31 18:44] bcjaeger commented on #532
Cool, thanks @jemus42 and @mnwright for agreeing to review! In case it is helpful, https://github.com/bcjaeger/aorsf-bench contains the paper and code to evaluate `aorsf` in terms of prediction accuracy, variable importance, and efficiency (paper is here: https://github.com/bcjaeger/aorsf-bench/blob/main/paper/jmlr/main.pdf)

Unfortunately, `aorsf` is now on CRAN. I am very sorry for this inconven

[2022-08-31 20:10] melvidoni commented on #553
@ropensci-review-bot remove @duttashi from reviewers

[2022-08-31 20:13] melvidoni commented on #553
@ropensci-review-bot assign @romanflury as reviewer

[2022-09-01 07:49] maurolepore commented on #535
Dear @phuongquan,

I discussed with the editors board and I think it would be best to either a) find a new reviewer or b) review the the package myself. Which one do you prefer?

My review would be faster and I substantial experience building packages in general. But an external reviewer has greater potential for noticing details specific to your field.

It's very rare for @elinw to be unresponsiv

[2022-09-01 08:46] phuongquan commented on #535
Hi @maurolepore,

Thanks for the update and for trying to move this forward. I would prefer for you to review the package yourself if possible.

[2022-09-02 09:17] emilyriederer commented on #551
Hi @grwhumphries - I'm delighted to introduce @stephaniehicks as the handling editor for this submission. Thank you both for your work on this!

[2022-09-02 09:17] emilyriederer commented on #551
@ropensci-review-bot assign @stephaniehicks as editor

[2022-09-02 09:24] mnwright commented on #532
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**

None.

- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me

[2022-09-02 09:28] mnwright commented on #532
And a few notes on the runtime comparisons above:
* ranger does not reduce the number of unique time points and that's what makes it slow and increases the memory usage. The bottleneck not the sample size but that the CHF is estimated at each unique time point. rfsrc for example uses a grid (`ntime` parameter). See also here https://github.com/imbs-hl/ranger/issues/410. I re-ran that experiment wi

[2022-09-02 09:40] grwhumphries commented on #551
@stephaniehicks - nice to meet you and looking forward to working with you

[2022-09-02 21:11] pchausse commented on #550
Here is my review. I was trying to make some of my points with some R codes, but I think it does not work here. I will also attach the pdf.

My review is based on Version 1.7.0 from CRAN.

## Package Review

- [X] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work (If you are unsure whether you are in conf

[2022-09-02 21:17] bcjaeger commented on #532
@mnwright, thank you so much for your review! The suggestions you've made to improve `aorsf` are incredibly helpful. I've reviewed each of your comments and written up a short description of actions I will take to incorporate your suggestions. If you think any of the actions I am proposing should be modified, just let me know, I am happy to coordinate a better approach.

Once I have finished all o

[2022-09-03 05:33] Paula-Moraga commented on #550
Thanks so much @pchausse for your review!

[2022-09-03 05:33] Paula-Moraga commented on #550
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/550#issuecomment-1235901756 time 16

[2022-09-03 16:31] maurolepore commented on #535
@ropensci-review-bot check package

[2022-09-04 18:28] wfrierson commented on #522
@adamhsparks, your recommendation worked. Thank you!

@maelle, I've finally made progress with GH actions. Coverage is now tested and unit tests are checked! Hooray!

With this down, I can continue with your other requests. Thank you for your patience.

[2022-09-05 14:03] maelle commented on #522
Thanks, awesome!

[2022-09-06 00:03] wfrierson commented on #522
@maelle, can you help me understand this request?:

The most natural graph for `wmm` is a 3D vector plot of the magnetic field components, but that doesn't seem practical as a text-only graph.

[2022-09-06 11:32] maelle commented on #522
It is only a suggestion. If it is not natural to produce some sort of picture, then no need to! If you can create a plot then that'd be a nice illustration but really no obligation.

[2022-09-06 18:15] jhollist commented on #524
@etam4260 Just now getting back to this!

CRAN won't see your docs folder as you currently have it listed in your .Rbuildignore file.  That is the way you want it.  The documentation website will be independent of anything that happens on CRAN.  I think I would follow @mpadge advice and remove the docs folder.  rOpenSci will take care of building that for you.

At least that is what I can tell fro

[2022-09-06 22:56] noamross commented on #554
@ropensci-review-bot seeking reviewers

[2022-09-06 22:57] noamross commented on #554
@ropensci-review-bot assign @nicholasjclark as reviewer

[2022-09-06 22:59] emilyriederer commented on #534
@ropensci-review-bot assign @maurolepore as editor

[2022-09-06 23:00] emilyriederer commented on #534
@ropensci-review-bot assign @emilyriederer as editor

[2022-09-06 23:02] emilyriederer commented on #534
Hi @msperlin and @wilsonfreitas - since my EiC term has ended, I have self-volunteered to be the editor for this package as well. I will begin considering reviewers, but in the mean time, please let me direct your attention to a few items found in the automated checks:

[2022-09-06 23:10] emilyriederer commented on #534
### Editor checks:

- [x] **Documentation**: The package has sufficient documentation available online (README, pkgdown docs) to allow for an assessment of functionality and scope without installing the package. In particular,
    - [x] Is the case for the package well made?
    - [x] Is the reference index page clear (grouped by topic if necessary)?
    - [x] Are vignettes readable, sufficiently

[2022-09-06 23:31] bcjaeger commented on #532
I am happy to share an updated response to the excellent review from @mnwright:

1. Examples in `orsf()` now suppress package start up messages (see [here](https://bcjaeger.github.io/aorsf/reference/orsf.html#examples))
2. `oobag_c_harrell()` is now an unexported function in `aorsf` to avoid repeatedly defining it in testing scripts.
3. `SurvMetrics::Brier` is now used in place of the incorrect Br

[2022-09-08 05:20] frankfarach commented on #505
The API recently introduced a [change in the response type](https://github.com/frankfarach/npi/issues/74) that I need to fix as it prevents all search requests from being parsed. I am hoping to have this resolved in the next week, then I will return to addressing the remaining issues mentioned by the reviewers.

[2022-09-08 06:22] markean commented on #550
Hi @pchausse, thank you for your review and feedback. Your comments have greatly improved the documentation. Some notable updates on the code include: a new `logProb()` function is added to extract the `logp` slot, `plot()` is directly applicable to `EL` class, `elt()` allows a symbolic description for specifying a hypothesis, `print()` shows the tested hypothesis when applied to `ELT` class. The

[2022-09-08 08:27] maelle commented on #505
Thank you! I hope the API change won't be too painful to tackle!

[2022-09-08 10:03] wilsonfreitas commented on #534
Hi @emilyriederer,

Thanks for your suggestions.
I'm answering your questions here.

Ok, I see valuable points here, I'll work on them.

Yes, it is, but we don't have an structured process to be managed.

I'm going to work on the other points: dependencies, formatting, function names ...
Thanks

[2022-09-09 19:09] Paula-Moraga commented on #550
Many thanks @markean for working on the comments so quickly! @awstringer1 and @pchausse, can you please take a look and say whether your comments were well addressed or you have additional questions? Thanks!

[2022-09-11 00:09] awstringer1 commented on #550
Thanks to @markean for the response. I was waiting until both reviews and responses were in, to avoid redundancy. All my major comments have been addressed.

My only minor comment is about the optimization. I don't think it is true that "_the objective function is strictly concave without any constraint. Thus, the Newton–Raphson method converges quadratically to the unique solution._"– see Nocedal

[2022-09-12 08:53] rkillick commented on #464
Reviewer: @nunesmatt
Due date: 2022-10-10

[2022-09-12 08:54] rkillick commented on #464
@ropensci-review-bot add @nunesmatt to reviewers

[2022-09-12 12:02] pchausse commented on #550
Thanks @markean  for your response. All my comments have also been addressed.

[2022-09-12 17:37] msperlin commented on #553
---
title: "review"
output:
  rmarkdown::md_document:
    pandoc_args: [
      "--wrap=none"
    ]
---

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [X] As the reviewer I confirm th

[2022-09-12 20:31] melvidoni commented on #553
@ropensci-review-bot submit review [<review-url>](https://github.com/ropensci/software-review/issues/553#issuecomment-1244076662) time 4

[2022-09-13 00:10] markean commented on #550
Thanks again, @pchausse and @awstringer1.

As for the optimization, it can be seen from Art Owen's Empirical Likelihood (2001, page 63) that the objective function is twice continuously differentiable with the Lipschitz continuous Hessian by using a pseudo-logarithm function. The initial $\lambda$ is set to the zero vector. This is related to the theoretical result that $\lambda(\theta_0) = o_p(n^

[2022-09-13 02:39] joelnitta commented on #475
@emilyriederer If the reviewers have no further comments, can we proceed with this at your discretion as an editor?

[2022-09-13 09:12] antaldaniel commented on #553
Thank you very much for the review.  You must see this package as a very early concept, and this will be the platform of many pacages of the rOpenGov collaboration (many of which could also be part of rOpenSci).

For me, the most important questions are what I put into the dilemmas:
- should the package build a new dataset class, and if yes, should it be inherited from data.frame or tibble?
-  or

[2022-09-13 10:54] phuongquan commented on #535
Hi @maurolepore, I just wanted to check if you were waiting for me to respond to the check results or if I should be waiting for you to post a full review?

Thanks

[2022-09-13 11:46] msperlin commented on #553
Daniel,

This is a design choice. Im my oppinion, you'll be fine in any direction, as long as the code/input is flexible towards existing classes.

Ok.

Fair enough. But, core functions will be mostly simillar in any design choice you make, so it seems right to find their best version right now. If you are not willing to change them because they are "dummy" functions, it would be nice to let us kn

[2022-09-13 22:44] emilyriederer commented on #475
Hi @joelnitta - let me follow up with @tdhock since he's the managing editor on this one

[2022-09-14 13:54] maurolepore commented on #535
I'm already working on the review. The checks detected some problems but it might be best to wait for my reivew and address all in one go.

[2022-09-14 17:36] tdhock commented on #475
hi! Since the reviewers have been tagged two weeks ago and gave no feedback, I think it is OK to move ahead with this submission (the reviewer response is very complete/convincing).

[2022-09-14 17:36] tdhock commented on #475
@ropensci-review-bot approve canaper

[2022-09-14 17:36] #475 closed

[2022-09-14 21:24] joelnitta commented on #475
Thanks @tdhock!

[2022-09-14 21:24] joelnitta commented on #475
@ropensci-review-bot finalize transfer of canaper

[2022-09-16 10:12] jemus42 commented on #532
## Package Review

- **Briefly describe any working relationship you have (had) with the package authors.**
    None.
- [X] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work

#### Documentation

The package includes all the following forms of documentation:

- [X] **A statement of need:** clearly stating

[2022-09-16 18:22] tdhock commented on #532
Thanks for your review @jemus42! You are right it is not good practice for large data to grow vectors by over-writing the variable in a for loop. vapply is one option, and another option is to use a for loop, but write to a list element in each iteration (constant time operation), instead of over-writing the variable in each iteration (linear time operation), see https://tdhock.github.io/blog/2017

[2022-09-16 23:59] bcjaeger commented on #532
@jemus42, thank you! I will write a more complete response to your feedback and a list of proposed actions in the next few days, but for now I just wanted to say how much I appreciate your review. You found a very nice solution to speed up `fctr_check` and I've just pushed a commit to `aorsf` with your suggested use of `vapply` . As expected, it's much faster. =]

[code]

<sup>Created on 2022-09-1

[2022-09-18 09:07] antaldaniel commented on #553
I am a little bit puzzled, because you suggest to submit packages before they are on CRAN and developed to a detail that it is hard to make braking changes. So I did, and I provided an enormous amount of documentaiton, and development questions, particularly how to integrate best the package with `dataspice` and `rdflib`, which are rOpenSci packages, and our package will add a lot to their functio

[2022-09-18 14:49] bcjaeger commented on #532
@jemus42, here is the more complete response to your comments, with planned action items. If you feel like any of the proposed actions could be improved, or if I didn't address all of your comments in my response, just let me know. Otherwise, I should have updates in `aorsf` based on this response completed in the next couple of days.

Thank you! I will continue to prioritize clear documentation a

[2022-09-18 20:22] melvidoni commented on #553
@antaldaniel @msperlin Thank you for the discussion, it's very valuable. However, please keep it framed on this particular package, which is the focus of this review. Remember that reviews are not adversarial, but constructive feedback towards making the package the best it can be.

[2022-09-18 21:12] maurolepore commented on #535
Dear @phuongquan,

Thanks a lot for your patience. I'm pleased to share my review. Please take my comments in bullets as suggestions, and check-boxes as requests. In any case, feel free to justify and not follow my advice. All my comments are prefixed with "r2" (reviewer 2) and numbered, to make it easy for you to respond to them.

## Package Review

*Please check off boxes as applicable, and elab

[2022-09-18 22:23] antaldaniel commented on #553
@msperlin Thank you for your comment on the unit test and the spelling, which I will implement now.  I will also create a new README.

This leads me to the comment of @melvidoni . This package is not supposed to work in isolation, as it is a metadata package, and the main development dilemma is how best connect to the `dataspice`, `rdflib`,and `zen4r` packages (these are rOpenSci packages) , as ou

[2022-09-18 23:37] SebKrantz opened #555 "Review of dfms: Efficient Dynamic Factor Models for R?"
Submitting Author Name: Sebastian Krantz
Submitting Author Github Handle: @SebKrantz
Other Package Authors Github handles: @rbagd
Repository:  https://github.com/SebKrantz/dfms
Submission type: Pre-submission
Language: en

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://rop

[2022-09-19 09:22] jemus42 commented on #532
- `roxy_*`-functions: Sure, they serve their purpose and I don't see any reason to forcibly substitute all of them :) Might as well be consistent.
- Parallel processing: Neat! Always nice to have some future enhancements already in the works.
- Regression test: Yes, a scatterplot against `obliqueRSF` predictions would be a good way to check consistency. Wouldn't `obliqueRSF` then still be a build-

[2022-09-19 12:32] romanflury commented on #553
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

-   **Briefly describe any working relationship you have (had) with the package authors.**
-   ☒ As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revi