[2018-01-22 22:07] gothub commented on #156
@wlandau-lilly the example descriptions in drake.Rmd and README look great.

[2018-01-22 22:13] wlandau-lilly commented on #156
Thanks, Peter! I hope to have a proper response to your review soon.

[2018-01-22 23:43] aurielfournier commented on #136
Oh crap. I'm so sorry. I'll do my best to get to this as soon as I can, but the federal shutdown is messing up my week majorly, and even if they do come back tomorrow its going to take a few days for things to even out again.

[2018-01-23 00:08] wlandau-lilly commented on #156
# Response to @gothub's review

I sincerely appreciate your timely and thorough review! I found your feedback extremely helpful, and I have responded to specific comments below.

Yes, most of these optional packages support the vignettes, examples, custom caches, and advanced high-performance computing options.

I have tweaked the beginning of the [drake.Rmd vignette](https://github.com/wlandau-li

[2018-01-23 00:24] HenrikBengtsson commented on #156
My $0.02 comment on:

It'll be impossible to find a one-size-fits-all use case that will be representative and that can be used to produce benchmark statistics that can be used as a guidance for a random user.  Each user/project will have its own use case/pipeline to benchmark - I think that's what should be benchmarked. And after the first round of parallelization comes tweaking/optimization of h

[2018-01-23 01:17] wlandau-lilly commented on #156
Your comments are gratifying, Henrik. I still plan to study performance and optimization at some point, but for right now, you are making my job seem less daunting.

When it comes to parallel computing, I claim that `drake` processes and caches targets in parallel (in stages) and in the correct order. I also claim that the work deploys to the user's parallel backend of choice. With the function `i

[2018-01-23 04:21] wlandau-lilly commented on #156
@gothub, I realized that I did not adequately address your point about the lack of a template workflow. It is difficult to have a template when `drake` focuses on a project's R session rather than its file system. You need a workflow plan data frame with targets and commands, plus any supporting functions and files, but otherwise, there is a lot of flexibility. The built-in examples are probably t

[2018-01-23 04:37] wlandau-lilly commented on #156
Also, I rephrased my justification of reproducibility. I struggle to explain it because it is a nontraditional interpretation of the idea, at least in the statistics and broader scientific communities.

[2018-01-23 07:45] amoeba commented on #169
## Package Review

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly stating problems the software is designed to solve

[2018-01-23 13:07] DomBennett opened #187 "phylotaR -- submission"
### Summary

-   What does this package do? (explain in 50 words or less):

*R implementation of the [PhyLoTa](http://phylota.net/) pipeline. It identifies orthologous sequences in GenBank using BLAST searches. It consists of three automated stages: taxise, download and cluster.*

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repos

[2018-01-23 13:35] maelle commented on #156
Thanks a lot @gothub!

Rich discussion here! @wlandau-lilly please make sure to insert all clarifications from this thread into the documentation 😉

When you're done update this thread with a summary of answers to reviewers (a short one per review) in order to make it easier for them to sign off your changes even if they have little time. ☺ good job on using their comments until now!

[2018-01-23 15:31] lmullen commented on #169
Thanks for getting your review in, @amoeba.

[2018-01-23 17:10] sckott commented on #178
Reviewers assigned.

Reviewers:  @jminnier @zachary-foster
Due date: 2018-02-13

[2018-01-23 17:21] wlandau-lilly commented on #156
@maelle, in the above two commits, I have inserted the clarifications about reproducibility and high-performance computing in the documentation. From re-reading the thread, I think these are the major clarifications. Are you thinking of any more?

[2018-01-23 17:21] wlandau-lilly commented on #156
Also, I realized that I totally missed the point of one of your earlier questions.

Commands can be arbitrary code chunks. For example:

[code]

However, a command should **NOT** just `source('large_command.R')`. `Drake` is function-oriented, not file-oriented. I am beginning to see widespread confusion here (for example, wlandau-lilly/drake#193), and I am doing my best to fix it. I have a new [be

[2018-01-23 17:22] wlandau-lilly commented on #156
Good point about summarizing my responses to reviewers. This is a massive thread.

[2018-01-23 19:26] wlandau-lilly commented on #156
# Summary of @wlandau-lilly's responses to reviewers

`Drake` is large and difficult to review, and I am grateful for all your hard work. `Drake` is a much better package because of your feedback.

## @benmarwick

### Changes to `drake`

- Add a [new section to the README](https://github.com/wlandau-lilly/drake/tree/5a3de4ab0cdd5226c62c94c0c9a26432f7ad0a0c#similar-work) that compares `drake` to si

[2018-01-23 19:49] maelle commented on #156
@jules32 @benmarwick @gothub are you happy with the changes made?

Thanks @wlandau-lilly for the summary, and great on having used all feedback! 😸

[2018-01-23 22:27] benmarwick commented on #156
Yes, thanks, I'm happy. You've done lots of work to address the concerns in my review, that's excellent to see. The package is much more accessible now, and it's easier to see how to get started using it.

[2018-01-23 22:50] wlandau-lilly commented on #156
Thank you, @benmarwick! I am so glad you think the changes are making a difference.

By the way, I just updated the review summaries in light of  wlandau-lilly/drake#195.

[2018-01-24 03:43] gothub commented on #156
All of the points I mentioned have been fully addressed with clear and complete documentation, and I have no other issues, so thumbs up from me.

I have one remaining question that is not really an issue for the review, but I'm just curious about.
If i were to develop a workflow with drake, what drake specific artifacts would need to be preserved for a researcher to reproduce my analysis (other th

[2018-01-24 03:53] jules32 commented on #156
Yes, I'm happy too. You've addressed the ideas I had and think that this is good to continue moving forward. Nice work!

[2018-01-24 04:33] wlandau-lilly commented on #156
Thank you so much, @gothub and @jules32! It is exciting to have confirmation from all three reviewers!

@gothub, I really like your question. I will try to break down the answer.

### R scripts

As you say, we need any code that writes functions, generates workflow plans, loads packages, and calls `make()`.

### The workflow plan

In the way I use `drake` (and the way I picture others using it), t

[2018-01-24 13:57] marcosci opened #188 "NLMR"
### Summary

-   What does this package do? (explain in 50 words or less):
    -   Provides neutral landscape models and utility functions to work with and extend them. NLMR uses raster as its geospatial framework and can therefore easily be used in landscape analysis to test against the influence of landscape patterns and serve as a basis for spatial simulation modeling.

-   Paste the full DESCR

[2018-01-24 13:58] marcosci commented on #188
Hi Folks,

was quite unsure about the fit of our package into the rOpenSci world - but we would love to get your review and platform.

Best wishes,
Marco

[2018-01-24 15:19] wlandau-lilly commented on #156
@benmarwick, @jules32, @gothub, and @maelle, would any of you like to be listed in the [DESCRIPTION](https://github.com/wlandau-lilly/drake/blob/3a900c872542772c1f7f8215734e7fd0bbdb5fcd/DESCRIPTION#L4) as reviewers? (`person(..., role = "rev")`).

[2018-01-24 15:20] maelle commented on #156
Editors shouldn't be listed :-) but thanks for asking!

[2018-01-24 17:08] gothub commented on #156
@wlandau-lilly Thanks for the explanation of `drake` persistence.

Yes, please include me as a listed reviewer of the package, and thanks!

[2018-01-24 17:24] wlandau-lilly commented on #156
Done, thanks.

[2018-01-24 17:46] wlandau-lilly commented on #156
By the way, an [Appveyor build](https://ci.appveyor.com/project/wlandau-lilly/drake/build/1.0.1032#L225) failed just now because `listenv` is in the middle of an update on CRAN.

[code]

In my experience, this kind of error just blows over if I wait a bit. Would that be okay? I ask because my sense is that `drake` is about to be approved, so the timing is not ideal.

[2018-01-24 17:48] maelle commented on #156
No problem, I'll test it on Windows later this week when I do the last checks!

[2018-01-24 22:00] steffilazerte commented on #160
What are the next steps? Are you waiting on anything from me?

[2018-01-24 22:11] sckott commented on #160
thanks for reminding me @steffilazerte

was waiting on the other reviewes response. but we'll pass on that.

I'm taking a quick look to see if there's anything else

[2018-01-24 22:39] sckott commented on #160
Just a few things I noticed:

- remove the Date from the DESCRIPTION file - i realize a rewiewer suggested that, but it should be removed - it gets added to the pkg when it's built on the CRAN servers
- goodpractice highlights that you have a lot of lines of code that are longer than 80 characters. that's not a make or break thing, but I'd strongly recommend shortenin lines to 80 width
- gp also h

[2018-01-24 22:41] steffilazerte commented on #160
Absolutely. I'll get back to you soon (may take a day or two, depending when I get a free moment). Thanks!

[2018-01-25 12:48] maelle commented on #175
@jimhester and @jenniferthompson friendly reminder that your reviews are due on Tuesday next week 😸

[2018-01-25 15:14] aurielfournier commented on #136
I am happy to sign off on this package. Great job @mstrimas

[2018-01-25 15:47] mstrimas commented on #136
Thanks @aurielfournier! @karthik how would you suggest proceeding given that @emhart seems to be AWOL?

[2018-01-25 17:50] karthik commented on #136
@mstrimas I've dropped Ted an email and will hopefully hear back from him soon. Sorry for the delays.

[2018-01-25 18:41] maelle commented on #156
Approved! Thanks everyone for a productive and (I hope) enjoyable review process!

To-dos

- [ ] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to one team that should allow you to do so.
- [ ] Fix any links in DESCRIPTION, and in badges for CI and coverage to point to the ropensci URL. (we'll turn on the services on our end.)
- [ ] Activate Zenod

[2018-01-25 18:43] maelle commented on #156
I forgot to mention R CMD Check passed without any issue on my laptop on Windows. You might just need to justify having "rev" roles in cran-comments.md (but then it gets accepted because that's a valid use of the role).

[2018-01-25 18:48] wlandau-lilly commented on #156
Wow, @maelle! Thank you so much! This has been an extremely rewarding and gratifying review process, and I am super grateful for your hard work!

One note before I begin the transition: now that drake is moving to rOpenSci, I want to take this opportunity to shift my open source work to my personal account, @wlandau. My colleagues and I agree this is for the best. Would you invite @wlandau to rOpe

[2018-01-25 18:56] maelle commented on #156
Done!

[2018-01-25 19:10] wlandau commented on #156
Wonderful! I transferred the repo, which was super exciting. One small thing: I do not have access to the "Settings" tab, and I cannot change the link to the documentation website at the top. Am I just over-eager, or is there another step?

![capture](https://user-images.githubusercontent.com/1580860/35407264-5c78d112-01d9-11e8-9fdf-295b2c988d2a.PNG)

[2018-01-25 19:17] wlandau commented on #156
I think I found the problem, and it is probably a common issue. @maelle, would you add me as a maintainer at https://github.com/orgs/ropensci/teams/drake/members?

![maintainer](https://user-images.githubusercontent.com/1580860/35407597-801dc536-01da-11e8-9681-7ec4939b2b25.png)

[2018-01-25 19:37] maelle commented on #156
Done! 😸

[2018-01-25 19:45] maelle commented on #156
Done! 😸

[2018-01-25 19:57] wlandau commented on #156
Fantastic! Now, all the links reference rOpenSci rather than @wlandau-lilly. Before I activate Zenodo and submit to JOSS, I will make my final preparations for the release of 5.0.0 (soon to go to CRAN).

I have prepared a narrative-form blog post, and I am excited to share it. Is there somewhere I can submit a PR?

Also, could I append an rOpenSci footer to the README?

[2018-01-25 20:05] maelle commented on #156
Pinging @stefaniebutland

[2018-01-25 20:18] wlandau commented on #156
Also, before I create a release for Zenodo, I think I should confirm with @jules32 and @benmarwick about being [listed as reviewers](https://github.com/ropensci/drake/blob/649780c2cbb0a7f1241b48926edf588d7c78bc05/DESCRIPTION#L28) in the package itself.

[2018-01-25 21:39] jules32 commented on #156
Hi All,

This is exciting to see happen! I am fine not being listed as a reviewer; I
hope that my suggestions were helpful but, as they were minimal, I don't
think I need to be included in the DESCRIPTION.

But thank you for asking!

On Thu, Jan 25, 2018 at 12:18 PM, Will Landau <notifications@github.com>
wrote:

--

Julia Stewart Lowndes, PhD
Ocean Health Index
National Center for Ecological Anal

[2018-01-25 21:48] emhart commented on #136
I took a look @mstrimas happy to sign off as well!  Thanks for incorporating the feedback, the package looks great.

[2018-01-25 21:50] wlandau commented on #156
Thanks for letting me know, Julie. Your suggestions absolutely helped, and I am glad you were part of this. Please let me know if you change your mind.

[2018-01-25 21:54] maelle commented on #156
@jules32 as an editor I found your review very good and will most certainly try and recruit you again!

[2018-01-26 01:02] stefaniebutland commented on #156
Hello @wlandau-lilly. I'm rOpenSci's Community Manager.

We'd love to have a post about this. Please submit a PR according to: https://github.com/ropensci/roweb2#contributing-a-blog-post. I will review it, provide some feedback and a suggested date to publish it.

Thank you!

[2018-01-26 03:35] wlandau commented on #156
Thanks, @stefaniebutland! I just submitted ropensci/roweb2#140. Really looking forward to the next steps.

[2018-01-26 07:00] wlandau commented on #156
@maelle, I have added @benmarwick as a reviewer in the DESCRIPTION (permission granted by email), and I have completed the 5 to-dos from [here](https://github.com/ropensci/onboarding/issues/156#issuecomment-360559884). I also submitted `drake` 5.0.0 to CRAN, added an rOpenSci footer to the README, and [volunteered as a reviewer](https://ropensci.org/onboarding/). This is all super exciting!

Besid

[2018-01-26 07:19] maelle commented on #156
1. Now activated, here is the badge code `[![Build status](https://ci.appveyor.com/api/projects/status/4ypc9xnmqt70j94e?svg=true)](https://ci.appveyor.com/project/ropensci/drake)`
2. Yes they take a while to propagate, but tell us if it's still the case on Monday for instance.

[2018-01-26 07:35] wlandau commented on #156
Thanks, @maelle. The AppVeyor builds appear to be working. I will check back on the badge in a few days.

[2018-01-26 13:54] wlandau commented on #156
Another minor thing: I am getting emails like this one on every commit:

[810b97d5ba]
  Time: 2018-01-26 08:39:16

Is there a way to attenuate them? Are the other watchers receiving these emails, or just the maintainers? I do not see an OpenCPU webhook for drake, so I am guessing it is at the org level.

[2018-01-26 14:16] jeroen commented on #156
Those emails are from the CI system, they are sent to the pusher only. You can ignore/filter them.

[2018-01-26 16:18] wlandau commented on #156
Good enough for me, thanks @jeroen.

[2018-01-26 16:54] wlandau commented on #156
And JOSS just accepted `drake`! Blindingly fast!

[2018-01-26 19:17] tklebel opened #189 "Submission: jstor"
### Summary

-   What does this package do? (explain in 50 words or less):

The tool [Data for Research (DfR)](http://www.jstor.org/dfr/) by JSTOR is a
valuable source for citation analysis and text mining. `jstor`
provides functions and suggests workflows for importing
datasets from DfR.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the developm

[2018-01-27 18:21] wlandau commented on #156
The README badge now says "Peer Reviewed", and the blog entry at ropensci/roweb2#140 is going well. I think we can safely close this issue.

[2018-01-27 18:29] #156 closed

[2018-01-27 18:31] amrrs commented on #172
@noamross I tried fixing the essentials you mentioned. Could you please check it now?

[2018-01-27 18:42] wlandau commented on #156
I sincerely thank you all for helping me take my favorite project to the next level. Your advice and coaching were eye-opening. I feel much more able to help people do their work.

[2018-01-27 19:18] maelle commented on #156
Thank _you_ for your enthusiasm! Looking forward to reading your blog post!

[2018-01-28 20:34] Nowosad commented on #174
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-01-29 04:46] jenniferthompson commented on #175
@michaelquinn32 @elinw FYI, I'm getting a "Project not found or access denied" error when I try to look at the Appveyor page via clicking the README badge. I'm not experienced in CI, so I'm not sure if that should have been addressed with the fix Jim mentioned a couple of weeks ago.

[2018-01-29 05:37] jenniferthompson commented on #175
Also, if I've caught some typos in the vignettes, would y'all like a PR or no?

[2018-01-29 12:48] noamross commented on #172
Thank you for the updates, @amrrs.  I am now seeking reviewers.  Here is the updated `goodpractice::gp()` output.  None is critical, though I suggest you add the `BugReports:` field before this process is over.

[code]

[2018-01-29 13:01] amrrs commented on #172
Thanks @noamross . Sorry that's my bad not adding it, added bugreports now.

[2018-01-29 15:39] noamross commented on #172
Thanks @Sokal1456 and @kaneplusplus for agreeing to review! Due date is 2018-02-19.

[2018-01-29 15:43] noamross commented on #172
@amrrs You can add our review badge to your README if you wish.  It will read "under review" right now and updates with review status:

    [![rOpenSci](https://badges.ropensci.org/172_status.svg)](https://github.com/ropensci/onboarding/issues/172)

@sokal1456 and @kaneplusplus You may be interested in using https://github.com/annakrystalli/pkgreviewr, an experimental reviewing workflow package.

[2018-01-29 17:54] sckott commented on #174
thanks for your review @Nowosad !

[2018-01-29 19:46] steffilazerte commented on #160
Okay, I've removed the Date from the DESCRIPTION file, shortened all the too long lines and switched `vapply()` for `sapply()`. The master branch has all changes!

[2018-01-29 21:02] jimhester commented on #175
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-01-29 21:33] maelle commented on #175
Thanks for your review @jimhester! 😸

[2018-01-29 23:19] mdsumner commented on #174
thanks @Nowosad - lots of good points here!  I'm trying a few things to come up with a better naming scheme, your feedback is very helpful

In terms of the Question "Is it possible to get actual values (or their ranges) in the interactive mode?" , I guess you mean seeing the range of "chlor_a" in this output?

[code]

The problem  is that this filtering is completely lazy, there's only information

[2018-01-30 00:23] PeteHaitch commented on #149
I submitted a pull request with fixing the vignette metadata to ensure it's built and installed as part of `R CMD build/check` (also fixes some typos) https://github.com/MahShaaban/cRegulome/pull/1

I tried running through the "Using cRegulome" vignette as a new user might, but it unfortunately does not work. Specifically, if you build the vignette and try running through the steps at https://gith

[2018-01-30 01:29] sckott commented on #160
Approved!  Thanks again for your submission @steffilazerte

* Please transfer the package  to `ropensci`- I've invited you to a team within our ropensci organization. After you accept you should be able to move it.
* Make sure to
    * add rOpenSci footer to README
`[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.org)`
    * Change any needed links, su

[2018-01-30 02:12] raymondben commented on #139
## Response to reviews

@MilesMcBain @lwasser - thanks again for your reviews. Responses to each of your points appear below. Please note that the revised version of bowerbird is in its postrev branch. It will be merged into master once the revisions are complete and dependent packages have been updated to match.

Other notes: there is still not a lot of documentation to help power users who want

[2018-01-30 05:11] jenniferthompson commented on #175
## skimr Package Review
### Jennifer Thompson

*This review is of `skimr` version 1.0.2, downloaded from Github 2018-01-29. Other relevant info: R version is 3.4.3; devtools version is 1.13.4.*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work.

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement

[2018-01-30 05:46] maelle commented on #139
Thanks! @lwasser @MilesMcBain could you please have a look at the answer?

Reg. the `tidyverse` style, adding white spaces will make the code much easier to read and using [`styler`](https://github.com/r-lib/styler) it should be a one function call (`styler::style_pkg()`). 😉

[2018-01-30 05:48] maelle commented on #175
Thanks a lot for your review @jenniferthompson! 😃

@elinw now both reviews are in!

[2018-01-30 09:18] MahShaaban commented on #149
Thanks @PeteHaitch for the fixes, very helpful as always.
I added the line `devtools::install_github('MahShaaban/cRegulome', build_vignettes = TRUE)` to the read me as you suggested.
I updated the file and the url so that `get_db(test = TRUE)` would download the exact file that is used in the package and test running the vignettes and both chunks `prepare dataset` and `connect_db` connect to ident

[2018-01-30 17:42] sckott commented on #187
thanks for your submission @DomBennett we've been discussing and will get back to you asap

[2018-01-30 17:42] sckott commented on #188
thanks for your submission @marcosci  we've been discussing and will get back to you asap

[2018-01-30 18:03] sckott commented on #160
@steffilazerte closing issue now b/c approval, but can continue any discussion here still

[2018-01-30 18:03] #160 closed

[2018-01-30 18:29] sckott commented on #187
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-01-30 19:43] karthik commented on #136
Congrats on your package being accepted @mstrimas! 🎉 🎈
And a huge thanks to @aurielfournier and #emhart of their expertise and time on this review! 🙏

Here are your next steps:

- Please add a badge to indicate the peer review status.

[code]

Please also add a footer to the bottom of your README

[code]

- [ ] Please accept my invitation to join a team on the `ropensci` github org. This will allo

[2018-01-30 21:49] evanodell opened #190 "nomisr"
### Summary

-   What does this package do? (explain in 50 words or less):

_Downloads UK official statistics from the Nomis API and converts to R objects, primarily tibbles. The API is based around different statistical geographies._

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):

https://git

[2018-01-30 21:50] evanodell commented on #190
Hi all, submitting this as a presubmission because I'm not sure how much it fits with rOpenSci's remit.

Best,

Evan

[2018-01-30 21:51] mstrimas commented on #136
Hi @karthik,
In my original conversations with @noamross we agreed to host the package on the Cornell Lab of Ornithology's GitHub page and have a read only mirror at rOpenSci. I've added the footer and badge to the readme; however, our intention is to keep links and CI pointing to our organizations page. What's the best way to proceed with setting up a read only mirror on rOpenSci? Thanks!

[2018-01-30 22:35] karthik commented on #136
@mstrimas Hi Matt, understood. You can skip the transfer step and I'll look into the best way for setting up a mirror and get back to you with further details.

[2018-01-30 22:43] karthik commented on #190
👋  @evanodell
Thanks for this submission. It fits our suite, and since you used the full template (which isn't required for a pre-submission inquiry), I can just treat this as a submission and proceed as such. I'll edit your title to remove pre-submission.

I will also be the editor on your submission, so stay tuned for next steps.

[2018-01-30 22:49] karthik commented on #190
# nomisr
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be p

[2018-01-30 23:25] stefaniebutland commented on #136
Hello @mstrimas. Congratulations on `auk` acceptance! We would love to host a post about it, so if you're interested, have a look at the editorial and technical info here https://github.com/ropensci/roweb2#contributing-a-blog-post and let me know if you are considering it.

[2018-01-30 23:49] sckott commented on #155
@adamhsparks still working on changes?

[2018-01-30 23:49] sckott commented on #164
@jeroen are you happy with the maintainers response to your review? any other thoughts/comments?

[2018-01-30 23:53] adamhsparks commented on #155
Yeah, I've been sidetracked a bit. I don't know when the new API goes live and the last time I had the chance to test it the site was down.

I do know that  the current version of the package does work, I've had feedback from someone using it with another one of my R packages that models rice diseases. They're steps ahead of me, I've not even done that yet.

I'll try to devote some time to it late

[2018-01-30 23:54] sckott commented on #155
Thanks for the update!

[2018-01-31 00:07] annakrystalli commented on #169
Hello all and apologies for the delay! Here is my review:

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your

[2018-01-31 00:12] lwasser commented on #139
hi @maelle i think (without actually going through another review) that their feedback looks very thorough and patient considering all of the review comments :) i also didn't know about `styler` !!! so i'm excited to try that. I have another review that i'm supposed to do by feb 10 so please consider that if there is another round with bowerbird! i'll likely be doing the modistsp review close to t

[2018-01-31 01:49] predict-r opened #191 "Submission: rtika"
### Summary

-   What does this package do? (explain in 50 words or less):

Extract text or metadata from over a thousand file types. This is an R interface to Apache Tika, a content and metadata extraction tool. Tika is written in Java and is maintained by the Apache Software Foundation since 2007.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (t

[2018-01-31 03:17] lmullen commented on #169
Thanks for getting your review in, @annakrystalli.

Now that both reviews are in, could you respond to the reviews and make changes as necessary, @cboettig? If possible, please do so within 2 weeks, which would be February 13.

[2018-01-31 04:40] mdsumner commented on #174
Ah, it didn't occur to me until now that the ranges of 1D axis variables is useful, that definitely has to be in the summary - big multi-d variables are hard to scan, but the axis ranges are readily available:

[code]

I couldn't see a good purrrish way to do that but I'll figure it out and make sure those ranges are in the summary print.

[2018-01-31 09:58] rvosa commented on #187
@sckott - what would you recommend for a journal to publish a short application note about this package?

[2018-01-31 12:40] maelle commented on #175
@elinw I had forgotten to ask you to add the rOpenSci review badge to the README! 🙈

`[![](https://badges.ropensci.org/175_status.svg)](https://github.com/ropensci/onboarding/issues/175)`

[2018-01-31 13:05] elinw commented on #175
@jimhester @jenniferthompson @maelle Thank you so much for the reviews! They are very helpful and for the most part reflect issues @michaelquinn32 have been discussing often with users in the tracker (and Jennifer we'd be thrilled with a PR for typos).

A couple of quick thoughts. @jimhester  The fonts thing is tricky because I want to vignette to actually use the fonts and also didn't want to sug

[2018-01-31 13:11] Nowosad commented on #174
@mdsumner That would definitely be an improvement.

[2018-01-31 13:13] maelle commented on #139
Thanks a lot @lwasser! Yes `styler` looks super useful (I'm yet to actually use it!)

@raymondben I forgot to tell you to add the rOpenSci review badge to the README! 🙈

`[![](https://badges.ropensci.org/139_status.svg)](https://github.com/ropensci/onboarding/issues/139)`

[2018-01-31 13:43] maelle commented on #188
### Editor checks:

- [x ] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [ x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [ x] **License:** The package has a CRAN or OSI accepted license
- [ x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-r

[2018-01-31 14:24] marcosci commented on #188
Hey @maelle and @sckott,

thanks a lot for the effort :)

The font is used in the theme function (`theme_nlm`) and can be imported via
`util_import_roboto_condensed`.

Which badge? :) There seems to be something missing in your reply.

[2018-01-31 14:26] maelle commented on #188
Oops indeed! 🙀 `[![](https://badges.ropensci.org/188_status.svg)](https://github.com/ropensci/onboarding/issues/188)`

[2018-01-31 16:48] maelle commented on #185
@kvantas for info one of the two reviewers had to drop out this time, so the second reviewer will be @sharlagelfand.

@sharlagelfand, thanks for accepting to review this package! Your review is due on 2018-02-21. 😸

Please find here [our reviewing guide](https://github.com/ropensci/onboarding/blob/master/reviewing_guide.md) and [the review template](https://github.com/ropensci/onboarding/blob/mast

[2018-01-31 16:54] mstrimas commented on #136
@stefaniebutland sure, I'm happy to modify the [vignette](https://cornelllabofornithology.github.io/auk/articles/auk.html) into a blog post. Probably won't be able to get to it for a week or two though.

[2018-01-31 17:50] steffilazerte commented on #160
Okay sounds good, it asks me which teams should have access, I assume only two teams:  Leadership and weathercan?

- I'll update the links, add the footer and add metadata files after I transfer it (easiest way to make sure they work!)
- Definitely interested in blog post (my collaborator, @boshek, had an idea of showcasing weathercan in a spatial framework.)
- Where do we go with the JOSS manuscr

[2018-01-31 18:07] stefaniebutland commented on #136
No problem @mstrimas. I have Tues Feb 27 available for a post and we typically ask for a draft for review at least a week before the post date. What do you think about Tues Feb 20 to submit a draft via pull request?

[2018-01-31 18:10] mstrimas commented on #136
That works for me, @stefaniebutland, thanks!

[2018-01-31 18:33] elinw commented on #175
Oops   @jenniferthompson also mentioned the template (and had the same issue as someone in the issue tracker) so I'm trying to hunt that down. It is usually something goofy when they don't show up.

I think that with the histograms we need to come up with a more structured and probably less elegant approach when there are 2-9 separate values.  We were more focused on the too many case than the too

[2018-01-31 19:05] maelle commented on #188
@laurajanegraham @jhollist thanks for accepting to review this package! 😺

Your review is due on 2018-02-21.

Please find here [our reviewing guide](https://github.com/ropensci/onboarding/blob/master/reviewing_guide.md) and [the review template](https://github.com/ropensci/onboarding/blob/master/reviewer_template.md).

[2018-01-31 19:33] sckott commented on #187
@rvosa possibly: we have a sort of pairing with JOSS and MEE. Also maybe: The R Journal, F1000Research

[2018-01-31 19:46] sckott commented on #160
yep, thanks

Great, @stefaniebutland will get in touch with you

* Hook up your repo to Zenodo, see https://guides.github.com/activities/citable-code/ . Then generate a new release associated with a git tag in your repo. This doesn't mean you have to submit to CRAN with that git tag/release, its just to get a Zenodo DOI
* Then submit your `paper.md` to JOSS at http://joss.theoj.org/papers/new

[2018-01-31 20:50] rvosa commented on #187
Thanks! Sorry, what's JOSS?

On Wed, Jan 31, 2018 at 8:33 PM, Scott Chamberlain <notifications@github.com

[2018-01-31 21:09] sckott commented on #187
http://joss.theoj.org/

[2018-01-31 21:42] jeffreyhanson commented on #184
Awesome work @lbusett! This package looks absolutely amazing. I've just started working on my review, but I thought I would let you know that some of the unit tests fail on my system in case you wanted to address this before I submit my review. I've included the output below and a copy of my session info.

[code]

Session information
[code]

Let me know if there's any other info I can provide.

[2018-01-31 22:22] stefaniebutland commented on #160
@steffilazerte

Excellent! You can find some technical and editorial guidelines here: https://github.com/ropensci/roweb2#contributing-a-blog-post.

I have a spot open for a post on Tues Mar 6. We typically ask for a draft via pull request at least a week in advance so we can review it. What do you think about submitting a draft by Tues Feb 27th? If you submit your draft earlier, we might publish e

[2018-01-31 23:23] lbusett commented on #184
@jeffreyhanson

Thanks! Glad you like  our package!

Concerning the tests, thanks for reporting the issues. They should now be fixed. One was due to a recent change in `xml2` functionality, the other (apparently) to a change in the "standard" http response of NASA servers. If you pull the new github version, the tests should pass (and you should also be able to download data from `http` also outsi

[2018-01-31 23:48] steffilazerte commented on #160
We need a couple of days to sort things out, but I can let you know early next week if we can make that date, etc. Thanks!

[2018-02-01 20:11] steffilazerte commented on #160
@sckott

- weathercan was transferred to ropensci
- I've updated all the links to ropensci (including the website and vignettes)
- Added ropensci footer
- added codemeta.json

But in trying to get weathercan set up with zenodo, I don't seem to have access to the weathercan repository in order to enable the hook. I also don't have access to the settings tab on weathercan anymore where the webhook d

[2018-02-01 20:26] sckott commented on #160
🚀 thanks

zenodo integration turned on and you and sam now have admin rights on repo

[2018-02-02 04:32] karthik commented on #189
👋 @tklebel

Thank you for this submission. During your pre-submission review I completely missed that we had a similar submission a year ago https://github.com/ropensci/onboarding/issues/86 by @benmarwick

Since that submission was stalled, we are good to proceed with yours. I checked in with Ben on this, and his suggestion was for you (and reviewers) to look through his work to see if there are i

[2018-02-02 14:21] timcdlucas commented on #174
Just a check in to say sorry for being slow. I'll be done by the 3 week deadline.

[2018-02-03 03:45] adamhsparks commented on #155
Hi @sckott, I know you've seen that I fixed a bug in the master branch and updated the currently released version this week.

I've also spent a few minutes on the devel version working with the new API. I've successfully run a test and retrieved data using the new API with `crul`! I need some time to tidy up and write tests since this is basically a complete rewrite of the package, but I'm happy t

[2018-02-03 15:15] PeteHaitch commented on #149
Hi @MahShaaban,

Thanks for the changes. I was able to work through the vignette like a new user.

I have gone through the rOpenSci package review checklist and I am happy to recommend approving **cRegulome** :tada:

Below are a few cosmetic suggestions/changes (some with PRs) that you might consider:

- `cor_print()` could just be print() (https://github.com/MahShaaban/cRegulome/pull/3)
- `venn.d

[2018-02-03 16:03] sckott commented on #155
Thanks for the progress update, all sounds good

[2018-02-03 21:14] elinw commented on #175
Some of the items listed are now in master (basic fixes to the readme, make the template work, add a bit to the fonts vignette, fixed the wrong code in the format documentation).  @jenniferthompson About Inf values, you're talking about when the data being skimmed has Inf as opposed to when the skim produces it?  That's definitely something we need to look at and handle. Probably overall edge case

[2018-02-03 22:20] jenniferthompson commented on #175
@elinw Yes, exactly! I tried it on one of my datasets; my variable really shouldn't have had `Inf` as a value, so it was helpful in that it made me aware of it once I figured out what variable was causing the error. But I was thinking that maybe even more helpful would be either a check up front for Inf values with a more specific error message, or a workaround in the code to avoid the error but a

[2018-02-04 07:26] MahShaaban commented on #149
Thanks @PeteHaitch for these pull requests and the comments.

- I merged the three requests you made, they certainly improve the consistency
- I made changes in the vignette to sync the text with the graphs
- The function `clusterProfiler::compareCluster()` returns data for the clusters that has significant enrichment hits only. In this case the 3 other clusters don't have any
- In the **motivatio

[2018-02-04 10:20] JasperHG90 opened #192 "submission: qualtRics"
### Summary

-   What does this package do? (explain in 50 words or less):

This package focuses on the retrieval of survey data using the Qualtrics API and aims to reduce the pre-processing steps needed to prepare this data for analysis. It also supports the import of manual data exports and other metadata (survey flow, questions, number of responses etc.).

-   Paste the full DESCRIPTION file in

[2018-02-04 10:44] mkearney opened #193 "Pre-Submission: rtweet"
I would like to make a pre-submission inquiry about [rtweet](https://github.com/mkearney/rtweet). I believe it would fall under **data retrieval**, because the package allows users to easily access and download Twitter data.

The bigger concern may be the target audience and the degree to which the package is "scientific". So, from my point of view, the target audience is anyone who wants to under

[2018-02-04 18:01] karthik commented on #193
👋 @mkearney
Thanks for your thoughtful inquiry. I agree that Twitter data is very useful for academic researchers and can be a significant data source when combined other sources. I also recognize that all APIs are somewhat fragile, so if Twitter changes their TOS or makes the API difficult to use, we can cross that bridge when the time comes.

So yes, a full submission would be welcome. I'll clos

[2018-02-04 18:01] #193 closed

[2018-02-04 21:52] karthik commented on #192
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-02-05 09:49] JasperHG90 commented on #192
Hi Karthik,

Thanks for your comments.

I fixed the following gp feedback:

* Replaced '=' with '<-'
* Changed 'sapply' to 'vapply'
* Changed all instances of '1:nrow' with 'seq_len()'
* Now using 'on.exit()' to restore working directory
* 'lubridate' removed from imports field

Partially fixed or left as is:

* **'56% of code lines are covered by test cases.'**: 89% of lines are covered by test c

[2018-02-05 09:54] maelle commented on #192
Just a note regarding long lines that can only be long lines like error messages, you can add `# nolint` at the end of those lines https://github.com/jimhester/lintr#project-configuration this way `lintr` will not see them. Not te be abused of of course 👼

[2018-02-05 10:26] JasperHG90 commented on #192
Reviewed all lines and added `# nolint` where appropriate

[2018-02-05 17:35] elinw commented on #175
Well we count NAs so it would potentially make sense to count Inf, -Inf and
maybe NaN also.

On Sat, Feb 3, 2018 at 5:20 PM, Jennifer Thompson <notifications@github.com>
wrote:

[2018-02-05 18:36] lwasser commented on #184
hey @lbusett or @jeffreyhanson i'm a bit confused on the quartz install
<img width="751" alt="screen shot 2018-02-05 at 11 33 57 am" src="https://user-images.githubusercontent.com/7649194/35822197-a7662714-0a68-11e8-9131-e46adcb8336d.png">

i'm here:

next, edit the configure options for GTK to require x11 rather than Quartz:
[code]
in the def install section, remove the reference to quartz and sw

[2018-02-05 20:57] lbusett commented on #184
hi @lwasser ,

   sorry you are having trouble... unfortunately, at the moent RGtk2 installation on mac is troublesome  (and the solution to the trouble seems to change with time.. ;-(.
Moreover, I know almost nothing about mac, so I admit that I never really tested the instructions provided in the help.... However,  those instructions mean that indeed you need to modify the gtk file so that it re

[2018-02-05 21:33] mmulvahill commented on #149
I second @PeteHaitch's recommendation of approving `cRegulome`!  The package, including both vignettes, now builds, installs, and runs successfully for me on a fresh system.  Thanks for your responsiveness @MahShaaban.

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] A

[2018-02-05 21:38] karthik commented on #149
Thanks a ton @PeteHaitch and @mmulvahill! We are very grateful for your time, expertise, and attention to detail. 🙏👏

[2018-02-05 22:13] lwasser commented on #184
ok so remove `"--disable-visibility"` as well?
Yes i'm having many issues now. i can't seem to get `cairoDevice` or `gWidgetsRGtk2` to install correctly. i'm not sure what to try next to get them to install.

[code]
does this help at all with troubleshooting?  if i say "n" to install from source it just quits. i'm wondering if i get this error because i edited the install code above incorrectly (i

[2018-02-05 22:14] sckott commented on #178
@jminnier @zachary-foster just a reminder that your reviews are due in about a week

[2018-02-05 22:27] lbusett commented on #184
Just a check:

   did you already do

which I think is setting the path to gtk+ and should solve to cairo installation issue (ERROR: gtk+2.0 not found by pkg-config.)

[2018-02-05 22:39] lwasser commented on #184
ok!! i think i just got it. THANK YOU @lbusett  i just installed those packages manually but also i hadn't run that line above that you suggested so i did that too. phew! i'll play with the package more tomorrow. thank you for the help.

[2018-02-05 23:36] timcdlucas commented on #174
# tidync review

Author: Tim Lucas

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ startin

[2018-02-06 01:53] mdsumner commented on #174
Thanks both @Nowosad and @timcdlucas I'm working through these issues, I appreciate the reviews!

One request I have is if there were NetCDF files/sources of interest that you used? Are there sources that would be compelling if I built them into the tests, or as example data in the package?  I  totally agree it's important to remove the raadtools stuff, but I otherwise find it hard to get enough i

[2018-02-06 01:55] mdsumner commented on #174
One other question, @timcdlucas were you working on Ubuntu? Is that where you have problems installing? I'm going through a fresh install on 16.04 to make sure it works, but I should do the same with Mac somehow too.

[2018-02-06 16:06] timcdlucas commented on #174
No problem @mdsumner.

The only time I have used NetCDF was when working on the [madingley model](https://madingley.github.io/). The files are freely downloadable from [here](https://onedrive.live.com/?authkey=%21AN5P0wXb2hRcwy4&id=3F4C6B1D2523C8D5%2123908&cid=3F4C6B1D2523C8D5). But I have no idea about permissions or anything.

I was switching between an ubuntu (16?) machine and a windows machine

[2018-02-06 16:39] sckott commented on #174
thanks for your reviews @Nowosad and @timcdlucas

[2018-02-06 16:44] Nowosad commented on #174
@mdsumner I sometimes use the E-OBS dataset - http://www.ecad.eu/download/ensembles/download.php.

[2018-02-06 18:11] tklebel commented on #189
Thanks @karthik!

I cannot reproduce your errors and warnings from R CMD check, neither on travis, nor on my machine, nor Appveyor or the win-builder. Could you help me in debugging, or should we ignore them?

You put my submission into `topic:data-publication`, whereas I initially thought that `topic:data-extraction` would be more suitable. Did you change your opinion?

Before my pre-submission,

[2018-02-06 18:57] karthik commented on #189
Thanks for catching my mistake with the wrong tag. I have fixed it.

Re. the issues from R CMD CHECK, I'll look again when I have a bit of time, but let's proceed since the reviewers will also be able to see if it's a replicable issue.

For long lines, you can add # nolint at the end of those lines https://github.com/jimhester/lintr#project-configuration this way lintr will not see them.

And last

[2018-02-06 20:06] sckott commented on #187
@DomBennett I had a number of questions for you above in my comments. Please respond

[2018-02-07 00:44] jeffreyhanson commented on #184
Sorry for the late reply @lbusett, I just installed the latest GitHub version and all the tests pass now. Thank for you fixing this so quickly.

[2018-02-07 01:02] karthik commented on #149
@MahShaaban Your badge should update soon to peer-reviewed. Congrats on your package being accepted! 🎉

Here are your next steps:

Please also add a footer to the bottom of your README

[code]

- [ ] Please accept my invitation to join a team on the `ropensci` github org. This will allow you to transfer the repo. Once it's transferred, I'll give you write access there so you can update the CI badg

[2018-02-07 01:13] MahShaaban commented on #149
Thanks again @PeteHaitch, @mmulvahill and @karthik.
I added the footer to the README and waiting for your invitation to transfer the repo.

[2018-02-07 05:26] stefaniebutland commented on #149
Hello @MahShaaban and congratulations on your package being accepted! I'm rOpenSci's Community Manager. As Karthik said, we'd love to have a blog post about `cRegulome`. Here is some technical and editorial info: https://github.com/ropensci/roweb2#contributing-a-blog-post. Let me know if you're interested. Happy to help as needed.

[2018-02-07 07:29] lbusett commented on #184
Good. In the end, both problems were due to a breaking change in  xml2. Since the cran version uses xml, I was not notified about it.

By the way: a user signalled us a bug in the gui that I probably introduced while refactoring the code for ropensci submission. I am going to commit a fix for it ASAP.

[2018-02-07 12:05] sebastiz commented on #153
@karthik Just to let you know that I am still working on this and should have it finished soon - just renaming functions and reflecting changes in the documentation as per the reviewers' comments

[2018-02-07 13:00] #177 closed

[2018-02-07 13:00] DomBennett commented on #187
@sckott Sorry, I thought I could wait for the reviewers and respond to everything wholesale.

**You didn't check the top level MEE box - i've checked that box. You didn't check the box for The manuscript describing the package is no longer than 3000 words - will manuscript length be a problem?**

We hadn't decided at that point which journal to send it to. We're not likely to submit to MEE now. Al

[2018-02-07 13:17] jeffreyhanson commented on #184
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [:white_check_mark:] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

##

[2018-02-07 15:19] arendsee commented on #177
@noamross Fair enough, thanks!

[2018-02-07 18:08] sckott commented on #187
Okay, sounds good.

thanks.

thanks.

Glad you're looking into some options. It's possible reviewers will have some ideas as well.  One idea: if you do shell out, you could use the `sys` package made by Jeroen on our team https://cran.rstudio.com/web/packages/sys/

If you're talking about the `goodpractice` output, no, not now. That's just information for you and reviewers to consider.

[2018-02-07 20:52] willpearse opened #195 "submission: suppdata"
### Summary

-   What does this package do? (explain in 50 words or less):
_Downloads supplementary materials from published papers using their DOIs as a reference. This facilitates reproducible analyses._

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package: [https://github.com/willpearse/suppdata](https://github.com/willpearse/suppdata)

- Please indic

[2018-02-07 20:56] lbusett commented on #184
@jeffreyhanson Thank for your very positive review! All your comments make sense and can be implemented fairly easily. I'll wait however also for the review from @lwasser and then address all comments in one go.

@lwasser if you are still working on this, please note that I just committed a new version to github, solving a recently discovered bug which broke the GUI when a user defined projection

[2018-02-07 22:12] timtrice commented on #185
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-02-07 22:28] noamross commented on #195
Thanks @willpearse for your submission (and creation of this package at our behest!).  Things look good, but I haven't been able to run all of our tests because of this build error, which I get both locally and on r-hub:

[code]

It's odd that this doesn't show up on Travis.  Anything non-standard in your vignette Rnw?

[2018-02-07 22:37] willpearse commented on #195
No worries, glad to help.

I've honestly no idea why this is happening (because, as you say, it
doesn't trigger on Travis or on my machine), but from a quick bit of
Googling I think it may be to do with your LaTeX install? Try:

devtools::install_github(c('yihui/tinytex', 'rstudio/rmarkdown'))
# first uninstall your existing LaTeX distribution, and then
tinytex::install_tinytex()

...following fro

[2018-02-07 23:09] noamross commented on #195
So I tried building the vignette in a couple of fresh Docker images: `rocker/verse` (which has LaTeX pre-installed)`, and `rocker/tidyverse`, which does not, using *tinytex* to install TeX.  Both gave me the same error, which means that somehow your vignette is doing something that is not in either of those standard environments, but *is* on Travis and your machine.  Oddly the `ae` package, which

[2018-02-07 23:20] willpearse commented on #195
Have you followed the instructions I gave travis? Like `fulltext`, this
needs `libpoppler-cpp-dev` installed. (
https://github.com/willpearse/suppdata/blob/master/.travis.yml).

On Wed, 7 Feb 2018 at 16:09 Noam Ross <notifications@github.com> wrote:

[2018-02-07 23:57] noamross commented on #195
OK, I've solved this by installing `texinfo` into my Docker container, but that doesn't seem like a long-run solution.  I'll ask reviewers to see if they have issues and we'll return to it if they do. I might suggest a switch to markdown if it keeps up.

### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [ ] **Automated tests:*

[2018-02-08 00:03] willpearse commented on #195
Thanks for your effort on this, and I'm sorry it gave you so much trouble
to install.

I'll wait to hear back from the reviewers, and then I'll make all these
changes and whatever they request in one fell swoop.

Thanks again!

On Wed, 7 Feb 2018 at 16:57 Noam Ross <notifications@github.com> wrote:

[2018-02-08 00:05] noamross commented on #195
Oh, one other thing, I also get the following error while testing (*goodpractice* runs as CRAN so it doesn't show up):
[code]
I believe this is due to a breaking API change in **testthat** and you  want `expect_warning()`.

[2018-02-08 00:15] willpearse commented on #195
Thanks - as I say, I'll do this when I get everything else.

Thanks again for your time with this; I realise it's been a bother.

On Wed, 7 Feb 2018 at 17:05 Noam Ross <notifications@github.com> wrote:

[2018-02-08 01:26] MahShaaban commented on #149
Thanks @stefaniebutland. I am certainly considering the blog post. I will look into it as soon as I can.

[2018-02-08 08:49] kvantas commented on #185
Many thanks, @timtrice,  for your time and effort! I will start working on these issues as soon as possible.

[2018-02-08 08:54] maelle commented on #185
Thank you @timtrice for your review! 😸 And thanks @kvantas for being so reactive! Feel free to wait for the second review if that's easier for you. 😺

CONTRIBUTING.md and CONDUCT.md are two separate files that should both exist.

@kvantas do you plan a JOSS submission? If so, could you add a paper.md conform to JOSS guidelines? Thanks.

[2018-02-08 08:57] maelle commented on #185
Oops actually sorry we do _not_ recommend any CONTRIBUTING.md yet!

[2018-02-08 09:04] maelle commented on #185
If you solve bugs @kvantas please update this thread so that @sharlagelfand might know which package version to use for her review.

[2018-02-08 09:12] kvantas commented on #185
That's OK, I can add CONTRIBUTING.md.

@maelle,  I already have a paper.md in inst/paper. I think that @timtrice used an older version of my package and not `0.2.1`, as I write in **`Summary`.**

Anyway, I will follow  @timtrice comments and update this thread about the package version.

Thanks again, and sorry if I am missing something obvious.

[2018-02-08 09:16] maelle commented on #185
Thanks and no worries!

[2018-02-08 17:21] tklebel commented on #189
I added `# nolint` at the relevant lines, so lintr ignores them now properly.

In the meantime I wrote an initial version for a case-study which is live here: https://tklebel.github.io/jstor/articles/analysing-n-grams.html In order to host this case-study which cannot be included as a vignette, I went ahead and added pkgdown.

Finally, I somehow mistook the JOSS for the JSS. Since JOSS only requir

[2018-02-08 17:42] karthik commented on #189
Both reviewers are now assigned. Thanks @rileymsmith19 and @jsonbecker 🙏!

[2018-02-08 19:13] predict-r commented on #191
Following up on this, is there anything I can do to help, like suggest additional reviewers?

[2018-02-08 22:30] zachary-foster commented on #178
## Zach's review of oneKP

@arendsee @sckott

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your re

[2018-02-08 22:49] arendsee commented on #178
@zachary-foster Thanks for the review! Very good points across the board, I'll make all the suggested changes. Well, I don't like spaces around the equal signs in a function's argument list, but if that's what Hadley says ...

I should be able to commit the changes within a few days.

Thanks!

[2018-02-08 22:54] arendsee commented on #178
I've changed the repo's name to `onekp`. I'll update the actual package name later. Anyway, this breaks the link to the repo, so here is the new url: [onekp](https://github.com/arendsee/onekp).

[2018-02-09 00:46] sckott commented on #178
thanks for your review @zachary-foster !

[2018-02-09 12:39] tklebel commented on #189
Since I made a few improvements over the last few days, I created a new version (0.2.6) and made a snapshot at Zenodo. I updated my initial post accordingly and will try to avoid any further changes until the reviews are in.

[2018-02-09 16:34] lwasser commented on #184
Thank you @lbusett  i'm still working on the review. the install set me back this week - so sorry!
I hope to finish it today but i have to try to get it working on my laptop (i was on a desktop tuesday) for that to happen so I **may** have to submit this monday - worse case scenario. It's on my radar tho and the package itself is VERY VERY VERY COOL!

[2018-02-09 17:27] fmichonneau commented on #179
sorry for the late review, I'll try to finish over the weekend.

[2018-02-09 17:29] sckott commented on #179
thanks @fmichonneau

@uyedaj can you get your review in soon?

[2018-02-09 17:31] lbusett commented on #184
@lwasser Thanks for the update. No worries, really: we're not in a hurry! I just wanted to avoid for you to waste time on a buggy version!

[2018-02-09 17:32] noamross commented on #195
Oh, you can also put the review badge on your README:

    [![](https://badges.ropensci.org/195_status.svg)](https://github.com/ropensci/onboarding/issues/195)

[2018-02-09 18:04] stefaniebutland commented on #160
Hi @steffilazerte. Further thoughts on a date to submit a draft blog post? draft by Tues Feb 27th for publication the following week?

[2018-02-09 18:09] uyedaj commented on #179
I'm in the same boat, will try to finish over the weekend.

[2018-02-09 18:16] sckott commented on #179
thanks @uyedaj

[2018-02-09 18:59] willpearse commented on #195
Great, thanks!

On Fri, 9 Feb 2018 at 10:32 Noam Ross <notifications@github.com> wrote:

[2018-02-09 19:41] steffilazerte commented on #160
Sorry for the delay, we've been chatting about how to go about this and have some great ideas. However, I don't think we'd be able to make the Feb 27 deadline. Would it be possible to go for a later posting? When would that be?

[2018-02-09 19:46] stefaniebutland commented on #160
No problem - was not even a delay. Name your preferred date to submit a draft and we'll work with that.

[2018-02-09 19:52] steffilazerte commented on #160
Okay, we're sitting down on Monday to work it all out, then we should have an idea of when we can make it happen by. Will keep you posted!

[2018-02-09 20:34] sckott commented on #35
Sorry for the very long wait @Dahaniel !

Approved!  Thanks again for your submission

* Please transfer the package  to `ropensci`- I've invited you to a team within our ropensci organization. After you accept you should be able to move it.
* Make sure to
    * add rOpenSci footer to README
`[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.org)`
    *

[2018-02-09 20:34] sckott commented on #34
Sorry for the very long wait @Dahaniel !

Approved!  Thanks again for your submission

* Please transfer the package  to `ropensci`- I've invited you to a team within our ropensci organization. After you accept you should be able to move it.
* Make sure to
    * add rOpenSci footer to README
`[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.org)`
    *

[2018-02-09 21:28] noamross commented on #191
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-02-10 17:45] cderv commented on #190
## Package Review for `nomisr`

Onboarding submission : https://github.com/ropensci/onboarding/issues/190

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in co

[2018-02-10 20:33] noamross commented on #191
Thank you @juliasilge and @davidgohel for agreeing to review! Reviews will be due 2018-03-05.

[2018-02-10 21:57] noamross commented on #191
@predict-r You can add the review badge to your README now if you wish. It will auto-update with review status: [![](https://badges.ropensci.org/191_status.svg)](https://github.com/ropensci/onboarding/issues/191)

[2018-02-11 00:27] predict-r commented on #191
Thanks! I'll go ahead and add the badge then. Unless you tell me not to, I'll patch some of the goodpractice issues listed above.

Thanks for pointing out the CRAN situation.  I can create another repository with the Jar, and call it 'tikajar' . That package won't update often, so maybe CRAN will accept it. If not, the package can be left on github and downloaded with devtools.

[2018-02-11 02:16] MilesMcBain commented on #139
Hi All, just making a note that I'm picking up this up again now. I should be able to respond fully within the next week. :+1:

[2018-02-11 02:20] maelle commented on #139
Thanks @milesmcbain !

[2018-02-11 08:03] maelle commented on #190
I'm not the editor handling this review but I find that it is a very good review @cderv, thank you!

[2018-02-11 08:07] maelle commented on #189
I think the correct Github username for @rileymsmith19 is @EccRiley 😺

[2018-02-11 08:14] maelle commented on #149
@MahShaaban I see that you've now transferred the repo, fantastic! Welcome! 🎉

* I've activated Appveyor again, the badge is `[![Build status](https://ci.appveyor.com/api/projects/status/gcmojtcsyt7rcwtk?svg=true)](https://ci.appveyor.com/project/ropensci/cregulome)`

* I'm closing this since the package was approved, but feel free to comment here (or ping Stefanie elsewhere) when you're ready to

[2018-02-11 08:14] #149 closed

[2018-02-11 08:30] MahShaaban commented on #149
Thanks @maelle. After I transferred the repo I updated the the ci links including that for Appveyor. It seems to be working; builds for the commits and the badge links to the correct page. Do I need to update the badge again with the link you provided in the previous comment?

[2018-02-11 09:38] maelle commented on #149
Oh if it points to the correct builds then no. ☺

[2018-02-11 09:41] maelle commented on #149
But check e.g after your next commit just to be sure.

[2018-02-11 15:45] Dahaniel commented on #34
That's awesome news! I'll see to your points in the coming days and I am happy to write a blog-post as well.

[2018-02-11 22:02] kvantas commented on #185
Hello all, this is a list of the updates/changes I have made in response to  @timtrice 's review.

-------------
1., 2.  I replaced that vignette with a new one: `stations_with_data.Rmd` that uses the package's data-sets and does not make heavy web usage as the previous one.
3. I added `CONTRIBUTING.md`
4. I moved `paper.md` and `paper.bib` from inst/paper to the root directory .
5. I added  @titl

[2018-02-12 01:24] michaelquinn32 commented on #175
Thanks for the reviews everyone! I've tried to reduce it to a set of issues that we can start tracking. Please let me know if I missed anything:

1. Fix readme. The bullet points are clear.
    * Get rid of ## Dev mode: on at the top.
    * devel installation instructions better written as
    devtools::install_github("ropenscilabs/skimr@develop") (not sure it is
    necessary to mention the devel

[2018-02-12 11:01] elinw commented on #175
We've fixed a bunch of these issues,.  @michaelquinn32 about the levels issue, the way it can work is really what you get when you go wide (spread) from the long, because the levels are already separate rows in the long form.  I'm just wondering if it makes sense to think about why people want to do calculations, if indeed that is what they want to do.  I think _some_ people want the formatted bec

[2018-02-12 11:32] Dahaniel commented on #34
@sckott where should I look for the invitation to the ROpenSci group? Could not find anything on github or in my mails.

[2018-02-12 12:32] maelle commented on #175
@elinw @michaelquinn32 thanks both for your work! 😸

Please create related issues in `skimr` repo and report back here your answers to reviewers and the specific questions you may have for them once you're ready. 😉

[2018-02-12 12:33] maelle commented on #185
Thanks for your work @kvantas !

[2018-02-12 16:52] lwasser commented on #184
All - so sorry this is a bit late. I hope it's helpful.

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x ] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your e

[2018-02-12 16:59] sckott commented on #34
sorry about that, you should see a notification now or soon

[2018-02-12 17:34] stefaniebutland commented on #34
Hello @Dahaniel. Great to hear you're interested in writing a blog post about this. Here are some technical and editorial notes for contributing a post: https://github.com/ropensci/roweb2#contributing-a-blog-post

We ask that you submit a draft via pull request at least one week prior to the planned publication date. I have two dates open right now. Take your pick:
1) Tues Feb 20 (draft due Wed Fe

[2018-02-12 18:10] lbusett commented on #184
@lwasser Thanks for your review! I think that your idea of going through the interface before reading the documentation was great: now I have a really useful analysis of a first-time user concerning the GUI implementation!.

I find most of your comments regarding the GUI quite useful. I believe I can implement most of them reasonably easily (though I do not know if I can manage to do something reg

[2018-02-12 18:22] davidgohel commented on #191
Hi,

This is a first set of comments, I have only reviewed the DESCRIPTION file for now. If something is not clear, do not hesitate to ask more information.

In the DESCRIPTION file:

* `SystemRequirements` should be shorten to:

    SystemRequirements: java (>= 7)

* I would add a `.onLoad` to check the correct configuration of `rJava` (see
https://cran.r-project.org/doc/manuals/r-release/R-exts.

[2018-02-12 18:22] sckott commented on #178
@jminnier reminder that your review is due tomorrow

[2018-02-12 18:22] sckott commented on #164
@jeroen are you happy with the maintainers response to your review? any other thoughts/comments?

[2018-02-12 18:24] sckott commented on #179
@fmichonneau @uyedaj please get your reviews in as soon as you can, thanks! 😸

[2018-02-12 18:29] jminnier commented on #178
thanks @sckott, hope to have it up tonight but definitely by sometime tomorrow!

[2018-02-12 21:22] jeroen commented on #164
Sorry for the delay. The updated readme is a big improvement, it's more clear now what problem exactly the package is solving. I think it's good to go.

I'll see if I can figure out what's going on with my 32bit windows libs.

[2018-02-12 22:45] Dahaniel commented on #34
Thanks @stefaniebutland, I pick March 20th then!

[2018-02-12 22:53] stefaniebutland commented on #34
Let me know if I can help along the way

[2018-02-12 23:46] arendsee commented on #187
Hi @DomBennett, I'm working on reviewing `phylotaR`, but ran into a few little issues.

 1.  When I run the vignette, I get the following error:

[code]

 2. Fix the BLAST version handling

Currently the BLAST version requirement is hard coded to greater than 2.7.1
(`setup-tools.R:118`). I have 4 issues with this:

 * Hard-coding of values is generally bad.

 * BLAST version 2.7.1 is pretty restri

[2018-02-13 00:00] adamhsparks commented on #155
Just to update you, @sckott, I'm short on time right now to work on this. However, any time I've tried to query multiple vars it fails telling me I have an incorrect var specified. However, if I query any of the same vars singly, it succeeds for all of them.

I need some more time to really focus on this, but I likely won't have that until sometime next month. Is that OK?

[2018-02-13 03:05] sckott commented on #155
Sure thing, no problem. It's nice to have the updates.

[2018-02-13 04:04] uyedaj commented on #179
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-02-13 07:57] DomBennett commented on #187
Thanks for the detailed and early feedback. Dealing with your specific issues:

1.  nTaxa
The functions and classes associated with the clusters object are still a little open-ended at this stage, hence why their names may change. The equivalent to `nTaxa` is now `getClNTx` - get n taxa by cluster. We're still trying to determine the sorts of ways users will want to interrogate the clusters, and t

[2018-02-13 18:41] sckott commented on #187
Both reviewers now assigned:  @arendsee @naupaka
Due date: 2018-03-12

[2018-02-13 20:05] karthik commented on #192
Reviewer 2 is @trinker (due date: by March 7th)

[2018-02-13 20:07] karthik commented on #184
Quick note: I’ll be away from the internet for about a week and will be back online around 02/21. So I will be back to editorial activities shortly.

[2018-02-13 20:08] karthik commented on #176
@Robinlovelace Just wanted to give you a quick ping and see if you've had time to complete your review. Please let us know if you need more time.

@erzk Quick note: I’ll be away from the internet for about a week and will be back online around 02/21. So I will be back to editorial activities shortly.

[2018-02-13 20:08] karthik commented on #190
Quick note: I’ll be away from the internet for about a week and will be back online around 02/21. So I will be back to editorial activities shortly.

[2018-02-13 20:12] karthik commented on #136
@mstrimas Just wanted to give you a quick update. We are still working out a good way to do the mirroring, but I'll let you know soon. Also I am about to travel for a bit, so I'll update the thread upon my return (late Feb). 🙏

[2018-02-13 21:33] Robinlovelace commented on #176
No but will get on it.

[2018-02-13 22:14] Robinlovelace commented on #176
Package Review
--------------

-   \[x\] As the reviewer I confirm that there are no conflicts of
    interest for me to review this work (If you are unsure whether you
    are in conflict, please speak to your editor *before* starting your
    review).

#### Documentation

The package includes all the following forms of documentation:

-   \[ \] **A statement of need** clearly stating problems th

[2018-02-13 22:30] jminnier commented on #178
Sorry for pushing this to the last minute! I hope to not be so slow next time =)

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict

[2018-02-13 22:41] sckott commented on #178
thanks so so much @jminnier for your review!

let us know if there's any way we can make it easier to get oriented (can ping me directly or any of our other places)

[2018-02-13 23:00] arendsee commented on #178
Thanks @jminnier! I agree with all your points and will get an update out as soon possible.

[2018-02-13 23:02] jminnier commented on #178
thanks for making a great package @arendsee! and @sckott the onboarding materials and review sheet and example reviews and ropensci blog posts were all amazing and extremely helpful as a newbee!

[2018-02-14 00:35] arendsee commented on #178
@zachary-foster

I think the bars you are seeing are from `taxizedb` (if so, you should only see them the first time you run `retrieve_oneKP`). Though adding bars there might be good.

In this function, I am downloading a database onto the users computer through `taxizedb`. I use this database to map species names to NCBI taxon IDs. If the user doesn't want this, they can set the `add_taxids` flag

[2018-02-14 05:51] cboettig commented on #169
@lmullen @annakrystalli @amoeba Thanks for your reviews!

 I've just about finished addressing the issues raised at this point, which I've summarized in:

- [Bryce's review, issue #9](https://github.com/cboettig/rdflib/issues/9)
- [Anna's review, issue #10](https://github.com/cboettig/rdflib/issues/10)

A summary of the changes can be found in [NEWS.md](https://github.com/cboettig/rdflib/blob/mast

[2018-02-14 07:43] DomBennett commented on #187
@arendsee @naupaka Thanks for taking time to review the package.

[2018-02-14 08:45] arendsee commented on #178
@zachary-foster @jminnier

Thanks for the great reviews! You comments were all really helpful.

I believe I have fixed everything now. All the changes are listed in the `NEWS.md` file.

@jminnier Nice catch of the corner case for downloading empty tables. The `download_*` functions return character vectors of downloaded filenames. So I think the right way to handle an empty input (e.g. where your

[2018-02-14 10:07] zachary-foster commented on #178
@arendsee, thanks! Glad to hear it! Everything looks good to me.

@sckott, my suggestions have been addressed, so `onekp` is ready as far as I am concerned.

[2018-02-14 15:26] arendsee commented on #187
Hmm, good point. @sckott Any thoughts on best practices for confirming the version of an outside tool (BLAST, in this case)?

I can tell you what I do, though I am not entirely happy with my approach. I simply don't check the version of my tools, instead I just print the version output into the log (e.g. system call to `blastp -version`).

If you want to check the version, you could write a dedica

[2018-02-14 17:30] lmullen commented on #169
@cboettig Thanks for getting your review in on time, and for the thoroughness of the changes and how you reported them. I'm looking forward to reading the new vignette.

@amoeba and @annakrystalli: Could you please go over the changes to the package and report back within one week? That would be by Thursday, February 22. I'll do the same.

[2018-02-14 17:51] sckott commented on #178
@jminnier are you satisfied with the changes/responses?  also, you didn't check the box for `Packaging guidelines: The package conforms to the rOpenSci packaging guidelines` - was there something you saw that didn't fit out guidelines?

[2018-02-14 18:08] jminnier commented on #178
Thanks, @arendsee, it all looks great to me! @sckott I agree with @zachary-foster, `onekp` looks ready for the world. I checked that box now, I think I left it because of the news and contributions bits but that all looks settled now anyway.

[2018-02-14 18:21] sckott commented on #187
I don't know off hand about best practices for checking versions of cli tools. Thoughts @jeroen @richfitz ?

this seems like a really good idea - and then any changes that affect certain BLAST versions and not others will become immediately apparent

[2018-02-14 18:21] sckott commented on #178
thanks @jminnier

@arendsee  i'll take a quick look myself at the newest version

[2018-02-14 19:57] naupaka commented on #187
Insofar as I can recall, the big breaking changes happened during the switch from BLAST to BLAST+ that happened ~6 years ago. So as long as the version is newer than that it should be ok. Some of the other NCBI software like sra-tools need to have more recent versions than are currently available in some apt repositories, because of changes in NCBI's servers, but I haven't seen problems with BLAST

[2018-02-14 20:53] arendsee commented on #187
@naupaka I agree on pulling BLAST into R being a bad idea. Unless NCBI was interested in doing the work and maintaining the code.

As for the legacy BLAST versus BLAST+, the names of the executable have all changed. For example, `blastp` is not defined in legacy, they used `blastall` with some protein-vs-protein argument, I think. So if someone tried to use legacy BLAST the commands required simpl

[2018-02-14 23:12] sckott commented on #178
Some observations on the current version on master:

* i'm not super familiar with S4. you `importFrom methods new`, but not `setClass` or `representation` or `setMethod`, etc. What's best practice for pkgs that use S4?
* not crucial, but splitting up tests into files for each function (or whatever makes sense) might be useful, e.g., contributors would know more easily where to add a test
* notice

[2018-02-14 23:44] arendsee commented on #178
@sckott

 * I tend to use `importFrom` only when `check` screams at me, but currently it seems happy :)

 * I can split the tests, if you prefer. I put them all together because they share a common `OneKP` object, which takes some time to generate. `retrieve_onekp()` takes about 20 seconds to run, which is little enough that I didn't bother implementing special handling to cache the value, but lon

[2018-02-14 23:52] sckott commented on #178
- okay
- makes sense, though maybe check on `tests/testthat/helper-.R` files https://github.com/ropensci/rrlite/tree/master/tests/testthat in which maybe you can run that download, and then the object may be available to any file, don't quote me on it
- ✔️ will help try to get `taxizedb` to cran sooner than later.

cool, looking forward to it

[2018-02-15 06:02] amoeba commented on #169
Hey @lmullen and @cboettig: I've reviewed the responses and changes @cboettig has made in response to my review and I every issue I raised has been addressed. I have no remaining issues and recommend the submission be accepted as modified. @lmullen would you like us to review the new vignette before acceptance? That's fine with me and I can certainly do that within the week.

@cboettig I'm super e

[2018-02-15 08:41] annakrystalli commented on #169
Hi all 😃

I am really happy with the changes made and the direction of the vignette! triplestores are indeed the ultimate tidy data! A great way to sell it. It's already a great resource and am also happy to contribute to both the vignette and a paper on it.  I'll feedback to some of the discussions raised in @cboettig response in`rdflib` [issue](https://github.com/cboettig/rdflib/issues/10).

So

[2018-02-15 12:28] DomBennett commented on #187
OK. So... actionable points from this discussion:
- Don't test for BLAST version
  - Print version in log
  - But do ensure it's not legacy BLAST
- Write tests that run across different BLAST versions for travis
- Petition NCBI to support BLAST in R

[2018-02-15 15:18] alexgenin opened #197 "Pre-submission enquiry: spatialwarnings"
Hi all,

We are currently working on a draft that we would like to submit to Methods in Ecology and Evolution. I'm approaching you for a possible software review (following [1]), but I'm unsure whether it meets the scope of the collaboration between rOpenSci and MEE.

Our package facilitates a type of spatial data analysis that tries to measure the degradation of ecosystems from aerial images. Eco

[2018-02-15 16:25] EccRiley commented on #189
You are correct, @maelle, Thanks!

[2018-02-15 16:50] arendsee commented on #187
@DomBennett I probably got a bit beyond the scope of this review in my earlier comments. I'd say the only actionable point in regards to `phylotaR` is the first bullet.

Tests in Travis against multiple versions of BLAST would be cool, but as far as I am concerned, you don't need to do that now.

[2018-02-15 19:41] arendsee commented on #178
@sckott I think I've addressed the test issues.

I added the output of `retrieve_onekp()`, the metadata table from the 1KP website, to the package data. So that it can now be accessed with `data(onekp)`. The data on the 1KP website is not guaranteed to be stable, so I added a test that compares the saved data to the online data (and set it to be skipped on CRAN or Travis).

I split the tests into

[2018-02-15 19:59] mstrimas commented on #136
Hi @stefaniebutland, looks like there's going to be a large update to the data underlying this package in mid March that will requiring some changes to the package that break backward compatibility. Would you be open to pushing the blog post back until the new version is released? If this messes things up for you, no worries, I can proceed with the post as is and just avoid the features that will

[2018-02-15 20:11] stefaniebutland commented on #136
@mstrimas It's whatever you think is best. Blog post timing is flexible. You only really get the audience once for this kind of thing though, so if you prefer to publish after updates to avoid frustrating people once they're engaged, then we can postpone. Perhaps you can draft your post ideas for yourself now before they go stale ;-) and then fill in soon after you've made the required changes to

[2018-02-15 20:16] mstrimas commented on #136
Ok, that's what I'm thinking, only one chance to catch people's eye so better to have the package in tip top shape. Late March sounds good. Thanks!

[2018-02-15 20:56] arendsee commented on #178
@sckott Added minimum version for `taxizedb`

[2018-02-15 21:43] predict-r commented on #191
Okay, I removed the .jar file. It is in a new package on github called 'tikajar' (see: https://github.com/predict-r/tikajar ). Since its a key part of 'rtika', I added the review badge to tikajar as well. Let me know if that's an issue.

[2018-02-15 22:11] sckott commented on #178
Approved!  Thanks again for your submission @arendsee

* Please transfer the package  to `ropensci`- I've invited you to a team within our ropensci organization. After you accept you should be able to move it. You'll be made admin once you do.
* Make sure to
    * add rOpenSci footer to README
`[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.org)`

[2018-02-15 22:54] arendsee commented on #178
Great! Thanks @sckott @karthik @zachary-foster  and @jminnier !

@sckott I'll move everything over and make the updates in a bit. I could do a blog post; I'm inclined towards the technotes, since this is a pretty small repo.

@zachary-foster @jminnier Thanks for the reviews, is it OK if I add you as reviewers to the DESCRIPTION?

[2018-02-15 22:55] zachary-foster commented on #178
@arendsee No problem!

Sure, thanks!

[2018-02-15 22:56] jminnier commented on #178
@arendsee sounds great, thanks!

[2018-02-16 01:42] lmullen commented on #169
@ameoba: Yes, if you could please offer whatever suggestions you think are necessary on the new vignette that would be great, but it seems like we are very close to being done.

[2018-02-16 02:18] amoeba commented on #169
Okay, will do. I'll get those comments in this week.

[2018-02-16 03:33] arendsee commented on #178
@sckott @zachary-foster @jminnier OK! Everything is transferred and set up on rOpenSci! Thanks again!

https://github.com/ropensci/onekp

[2018-02-16 06:00] maelle commented on #197
@alexgenin, thanks for your submission! We have discussed it and regret to say that it is out of scope since we do not support statistical methods.

We appreciate that you submitted your package, and hope you might submit another one in the future!

[2018-02-16 06:00] #197 closed

[2018-02-16 07:10] alexgenin commented on #197
Very good, I completely understand the decision. Thanks for taking the time to look into this!

[2018-02-16 10:30] maelle commented on #188
@laurajanegraham @jhollist just a friendly reminder that your reviews are due on 2018-02-21 😸

[2018-02-16 10:32] maelle commented on #185
@sharlagelfand friendly reminder that your review is due on 2018-02-21 😉

[2018-02-16 15:18] sharlagelfand commented on #185
thanks for the reminder @maelle! working on it and hoping to wrap up this weekend

[2018-02-16 16:28] jhollist commented on #188
Starting to look at it now!  I do have a question.  Next week is crazy for me as it is school vacation week.  OK for a 7-10 day extension?

[2018-02-16 16:33] steffilazerte commented on #160
Hi @stefaniebutland Okay, I think we've got it sorted :) Sam's got a lot going on, so I'll write the blog post solo.

As `weathercan` is pretty simple, I've been playing around with the idea of highlighting how to integrate data downloaded through weathercan into other datasets (as that's how most people would use it), be it spatial (e.g. with `sf` and then perhaps `mapview` or `leaflet`) or biolo

[2018-02-16 16:35] maelle commented on #188
@jhollist ok, thanks for the update! March the 1st?

[2018-02-16 16:51] jhollist commented on #188
Perfect and thank you.

On Feb 16, 2018 11:35 AM, "Maëlle Salmon" <notifications@github.com> wrote:

[2018-02-16 17:32] stefaniebutland commented on #160
Your idea sounds good. You probably have the best handle on what users will want to do with the package and always good to write about something you're keen to share. Using the integration examples you suggest should allow others to figure out how to integrate with other data that interest them, so once you've written up your examples, see if there's a place for a paragraph pointing out any generi

[2018-02-16 17:46] boshek commented on #160
@stefaniebutland @steffilazerte Happy to read!

[2018-02-16 17:48] steffilazerte commented on #160
Good idea about the generic issues, I'll definitely include that section. Glad you're up for the read through Sam! I should be able to have the draft by March 6th, no problem.
Thanks!

[2018-02-16 17:53] stefaniebutland commented on #178
Hi @arendsee. Great to hear you're interested in contributing a [technote](https://ropensci.org/technotes/) (or full post).

Here are some editorial and technical instructions for drafting and submitting a blog post via pull request to our site: https://github.com/ropensci/roweb2#contributing-a-blog-post.

If it's a technote, the differences are:
- Create a new file in /content/technotes/YEAR-MONT

[2018-02-16 17:56] stefaniebutland commented on #160
re: length. Shorter is probably better, to keep people's attention. Have a look at other posts and see which ones you like: https://ropensci.org/tags/review/ + https://ropensci.org/tags/onboarding/

[2018-02-16 18:19] arendsee commented on #178
Hi @stefaniebutland, thanks for the info!

I've chalked "write technote" onto my TODO list. I'm a bit back-logged, so it might be awhile before I get to it.

[2018-02-17 09:30] laurajanegraham commented on #188
Hi,

Thanks for the reminder.

I have put time aside Monday and Tuesday to get this review done.

Cheers,

Laura

On 16 Feb 2018 16:51, "Jeffrey W Hollister" <notifications@github.com>
wrote:

[2018-02-17 10:30] maelle commented on #188
Thanks a lot @laurajanegraham! 😃

[2018-02-17 16:10] lbusett commented on #184
Hi all,

  sorry for the late reply, but it was a very busy week.

Thanks again for your favourable and useful reviews. I just wanted to share some quick comments on the reviews before I start implementing changes:

## Review 1 - @jeffreyhanson

Agreed. My "reason" for asking users to explicitly set an output folder was that "novice" users do not know about the existence of the  `R` tempdir, so I

[2018-02-17 18:06] elinw commented on #175
I have a question for @jimhester, I did try moving the Rmd out of the docs folder to the top level (it's that way in develop right now)  but I really feel it makes the top level a bit messy there since it doesn't really serve any purpose for github users to have it there (unlike all the rd files).

[2018-02-17 21:53] elinw commented on #175
Okay I'm starting a list of issues from  onboarding comments. I'll keep adding them here until I get a full list.
- https://github.com/ropenscilabs/skimr/issues/286  is for everything related to README

[2018-02-18 18:22] sharlagelfand commented on #185
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-02-18 19:24] maelle commented on #185
Many thanks for your thorough review @sharlagelfand! 👌

[2018-02-19 06:22] MilesMcBain commented on #139
Thanks @raymondben and @mdsumner!

An excellent job on the documentation and vignettes. The main vignette is now a stand out - one of the best I have seen. It give this package a great chance of getting some use about the place. :clap: :smile:

I am also happy with the way you addressed my other comments. Thankyou for the explanation on the use of `cat()`. I think the verbose option is in the spir

[2018-02-19 06:46] raymondben commented on #139
Thanks indeed @MilesMcBain. Re: commented-out code, yes, I'll take the blame for that, I do rather have a tendency to leave it littered around. I'll have a purge ...

[2018-02-19 08:23] maelle commented on #139
Awesome, I'll have a look later today/this week!

[2018-02-19 08:48] kvantas commented on #185
@sharlagelfand, many thanks for your review, your time spent and your good words! Thanks a lot, also, for your contribution on the package with the PR. I 'll start working on your comments as soon as possible.

[2018-02-19 13:17] jimhester commented on #175
Having the Rmd in the top level is easier for contributors, as that is the standard convention for where to put it in R projects. Because you need to edit the `*.Rmd` file rather than the `.md` having both in the same directory makes this more obvious. For instance I had no idea the Rmd was even in version control originally in skimr. If you do want to include the Rmd in a different directory I wo

[2018-02-19 14:19] maelle commented on #188
@marcosci the branch that's stable for review is the master branch right? I see recent activity in the repo. 😉

[2018-02-19 14:20] marcosci commented on #188
Yup :) But develop should also be stable, master contains only the CRAN versions :)

[2018-02-19 14:22] maelle commented on #188
Ok, so which one should the reviewers review?

Can you confirm you're not undertaking any big changes in the package at the moment?

Thank you for your quick answer! 😃

[2018-02-19 14:25] marcosci commented on #188
master makes more sense maybe, yes.
We plan to integrate the [ecomodtools ](https://rdrr.io/rforge/ecomodtools/)package and I am in contact with the author - but there is no schedule for that yet :)

[2018-02-19 14:34] maelle commented on #188
OK thanks.

If a big change is planned now, it might make sense to put the review on hold real quick, but as you say it's a plan for the future then that's fine.

[2018-02-19 14:43] marcosci commented on #188
I think this is rather something for the next couple of months, so the review should not be affected.

[2018-02-19 17:54] kierisi commented on #192
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-02-19 20:55] fmichonneau commented on #179
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-02-19 21:27] sckott commented on #179
thanks for your review @fmichonneau !  can you give an estimate of how many hrs spent on the review?

[2018-02-19 21:58] fmichonneau commented on #179
you're welcome and sorry for the delay. I updated my review to include the time estimate. Thanks

[2018-02-19 23:26] sckott commented on #164
is the 32bit windows libs thing something we should wait on here, or something for later?

[2018-02-19 23:31] jeroen commented on #164
The author has already pushed to cran, it's fine.

[2018-02-20 00:51] rorynolan commented on #164
Yeah sorry for jumping the gun and pushing to CRAN. The reason was that the old package was throwing some CRAN check errors and the CRAN maintainers were bugging me to fix them ASAP.
Regarding the 32bit libs, I think it's fine. It builds automatically on 64-bit windows and 32-bit users have to install `libtiff` themselves before installing `ijtiff`, which is not a big hassle. If it's not an easy f

[2018-02-20 01:08] sckott commented on #164
Thanks @rorynolan for the udpate.

I'll have a quick look over it ...

[2018-02-20 08:47] maelle commented on #139
I have started looking, really great docs as Miles say!

I was wondering whether it'd be good to split the README into a more minimal README and a few vignettes linked from the README? E.g. "Defining data sources" could be a vignette. Or add a table of contents at the top of the README? (but the website might still be easier to browse?)

[2018-02-20 13:18] laurajanegraham commented on #188
Hi @maelle . It's taking me a little bit longer to do this review than I anticipate. I don't have too much left to do, but would you mind if I get it to you by Friday instead please due to other commitments? Thanks!

[2018-02-20 13:19] maelle commented on #188
No problem, thanks for your work & this update!

[2018-02-20 16:51] maelle commented on #139
Approved! 👏

Thanks a lot @raymondben @mdsumner @lwasser @MilesMcBain for your work! A very productive review process IMO!

I have three *suggestions*:

* improving readability/browsability of the README via splitting it/adding a table of contents (see previous comment)

* you still have a few long lines flagged by `goodpractice::gp`, consider making them shorter.

* I don't think the origin of th

[2018-02-20 17:25] stefaniebutland commented on #139
@raymondben @mdsumner We'd love to publish a blog post about `bowerbird`. Given @MilesMcBain's comment about your vignette, it's bound to be good. Here are some editorial and technical guidelines: https://github.com/ropensci/roweb2#contributing-a-blog-post.

Was just looking back at a discussion of "the journey" from code for my own use, to code that I want others to find useful, where @noamross s

[2018-02-20 17:39] lmullen commented on #169
Hi @cboettig. Thanks for the thoroughness of your response to the reviews. At this point I don't see any reason to delay accepting the package into rOpenSci. Of course it looks like you are still figuring out the final form of a few things, especially in the new vignette, so it will be your call when to submit to CRAN.

@karthik I don't have access to rOpenSci admin accounts, so could you please b

[2018-02-20 19:06] #178 closed

[2018-02-20 19:11] sckott commented on #164
Approved!  Thanks again for your submission @rorynolan

* Please transfer the package  to `ropensci`- I've invited you to a team within our ropensci organization. After you accept you should be able to move it. You'll be made admin once you do.
* Make sure to
    * add rOpenSci footer to README
`[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.org)`

[2018-02-20 21:40] erzk commented on #176
@Robinlovelace thanks for the review. I was away for a while so I couldn't work on the package but now I'll get back to it.

[2018-02-21 00:09] davidgohel commented on #191
Hi, here is my review:

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work.

#### Documentation

The package includes all the following forms of documentation:

- [X] **A statemen

[2018-02-21 01:58] jsonbecker commented on #189
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-02-21 02:11] sckott commented on #179
@GuangchuangYu both reviews are now in

[2018-02-21 02:53] karthik commented on #169
Thank you @lmullen! Since Carl has ownership rights on the org (unlike most authors) he should be able to move this himself.

[2018-02-21 05:00] cboettig commented on #169
Thanks @lmullen and @karthik!  I've added the ropensci footer and migrated the repo to `ropensci`.  🚀 .

CI seems to be working (if I  recall correctly I shouldn't migrate the appveyor since it only links to individual accounts?)

I assume there's nothing I need to do to update the onboarding badge, that happens automatically via tags on this issue, right?

I'll leave it to you editors to close ou

[2018-02-21 05:03] karthik commented on #169
Thanks @cboettig & @lmullen!!

[2018-02-21 08:53] tklebel commented on #189
Thanks @jsonbecker for the thorough review! I'm eager to respond to the more substantial questions (`csv` vs `sqlite` and `file_name` vs `other_identifier`), but I think I will wait for the review by @EccRiley, so I can address all comments in one go.

[2018-02-21 12:08] jsonbecker commented on #189
Absolutely. I plan to add a few more overall thoughts but with deadline looming I really wanted to get it in! I realize my review heavily focused on a suggestion that may have limited value and is a bit of my own preferences, but that’s largely because everything is otherwise in great shape!

http://www.jsonbecker.com/contact/

[2018-02-21 20:38] lmullen commented on #169
@cboettig Great! Looking forward to using this myself the next time I need to deal with RDF.

Special thanks to @amoeba and @annakrystalli for doing the review.

[2018-02-21 20:38] #169 closed

[2018-02-21 23:10] kvantas commented on #185
Hello again!  I have made the suggested changes:

# response to  @sharlagelfand

## Tests
 * The only file with UTF8 encoding is `README.md`, and it is created automatically. I 'll need some help on how to change it to ASCII.
 * On my laptop, for some strange reason, running `goodpractice::gp()` returns no errors  and I don't get a warning about LaTeX or encoding.
 * The skipped test is expected b

[2018-02-22 05:31] maelle commented on #185
Thanks @kvantas!

@timtrice and @sharlagelfand could you please have a look and say whether you're satisfied with the changes made?

[2018-02-22 12:46] davidgohel commented on #191
Awesome, thank you.

There are 2 NOTE(s) left that could be suppressed:

https://travis-ci.org/predict-r/rtika/jobs/344591725#L349

* The first one is because you don't need to keep `rtika.pdf`, R will built it from the `man/` directory.
* the second one is because you are using `packageStartupMessage()` that should not be called from `.onLoad()`, using `warning()` instead should solve that.

[2018-02-22 13:26] noamross commented on #191
Thanks for your thorough review, @davidgohel!

[2018-02-22 16:14] noamross commented on #172
Friendly reminders for both @sokal1456 and @kanepluplus that reviews were due this week.

[2018-02-22 16:14] noamross commented on #172
Friendly reminders for both @sokal1456 and @kaneplusplus that reviews were due this week.

[2018-02-22 16:33] noamross commented on #157
Hi @kenarab! Just checking to see if you have a time frame for following up on this.

[2018-02-22 17:05] kaneplusplus commented on #172
@noamross Thanks for the reminder. I should have it ready by the end of tomorrow.

[2018-02-22 18:50] kaneplusplus commented on #172
@amrrs @noamross @sokal1456 This package provides a simple, minimal interface to coinmarketcap.com. I think this is exactly how these types of packages should be implemented. I have been using the package in conjunction with [bittrex](https://github.com/ropensci/bittrex), to quickly discern active cryptos - with exhibit price seeking bahavior - from inactive ones with little to no volume.

I did r

[2018-02-22 20:34] noamross commented on #172
Thanks for your review, @kaneplusplus!

[2018-02-22 20:54] predict-r commented on #191
David, I fixed the issue with the two NOTES.

[2018-02-22 21:10] davidgohel commented on #191
Thank you Sasha

[2018-02-22 23:08] kenarab commented on #157
Hello Noam:

We are up to push, but couldn’t made the timeframe to concentrate on the release. We hope will do it in the next days.

Best regards, Ale.

Enviado desde el móvil

El 22 feb. 2018, a la(s) 13:33, Noam Ross <notifications@github.com> escribió:

[2018-02-23 06:30] pegeler commented on #190
## Package Review for `nomisr`

Onboarding submission: ropensci/onboarding#190

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to you

[2018-02-23 14:41] trinker commented on #192
Hi Karthik,

I am in the process of reviewing the qualtRics package for ROpenSci and
have run into a hiccup.  The package requires an API key to Qualtrics in
order to test its functionality.  I signed up for a free version of
Qualtrics but that dooesn't come with API access.  Thoughts?

Tyler

On Tue, Feb 13, 2018 at 3:05 PM, Karthik Ram <notifications@github.com>
wrote:

[2018-02-23 14:44] amrrs commented on #172
Thank you very much @kaneplusplus for the review and for being so kind to send a PR! Those things have been merged already. And I'm looking into the rest of the 6 points you've mentioned. Will get back to you soon with the details and my comments.

[2018-02-23 14:59] JasperHG90 commented on #192
Hi Tyler,

Qualtrics gave me a test account that has API functionality. I don’t mind giving you my credentials for the time being.

J

On 23 Feb 2018, 15:45 +0100, Tyler Rinker <notifications@github.com>, wrote:

[2018-02-23 15:01] trinker commented on #192
Thanks Jasper,

I'd appreciate that.  Could you email me off list so as to not have that
open to the world?

Tyler

On Fri, Feb 23, 2018 at 9:59 AM, Jasper Ginn <notifications@github.com>
wrote:

[2018-02-23 15:34] laurajanegraham commented on #188
## Package Review

Hi @maelle and @marcosci, here is my review. I really like this package, and reviewing it has given me a good opportunity to get to know the features in more depth, so thanks both :)

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your

[2018-02-23 15:41] maelle commented on #188
@laurajanegraham thanks a lot for your excellent review! 👌 👏

@marcosci you can keep the name of the package now that it's on CRAN, not a strict rule on our part. :-) you can wait for the second review before responding if you prefer!

[2018-02-23 16:19] marcosci commented on #188
thanks @laurajanegraham for your effort - really appreciate it 👍
didn't find anything that should not be fixable in my head - will wait for Jeff and then go through your code and test comments.

and your definitely right - the documentation needs improvement ... we're on it. 🚶

[2018-02-23 16:22] jhollist commented on #188
Top of my to-do list for next week and have already started it...

Like what I see so-far!

On Fri, Feb 23, 2018 at 11:19 AM, Marco Sciaini <notifications@github.com>
wrote:

--
Jeff W. Hollister
email: jeff.w.hollister@gmail.com
cell: 401 556 4087

[2018-02-23 17:40] trinker commented on #192
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-02-23 21:07] noamross commented on #195
Reviewers assigned!  Thank you @sarahsupp and @rossmounce for agreeing to review.
Due date: 2018-03-16

[2018-02-23 22:20] willpearse commented on #195
Great! Thanks very much!

[2018-02-24 19:48] juliasilge commented on #191
Hello! Here is my review.  :simple_smile:

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_

[2018-02-24 22:04] Dahaniel commented on #34
@stefaniebutland is there a guideline or a specific structure that I should follow when writing the blog post?

[2018-02-25 15:28] noamross commented on #191
Thanks for your thoughtful review, @juliasilge! I especially concur with your comments on the vignette.

Regarding the `NOTE:` I think the correct field for a package providing `.jar` files is `Depends:`. Perhaps @davidgohel can confirm.

[2018-02-25 19:46] predict-r commented on #191
@juliasilge Thank you for your helpful comments about making the package feel more welcoming. Based on the feedback here, we need a new vignette. It should demonstrate how to use the actual rtika functions and to show what they can do. It is also an opportunity to show the breadth of uses.

I'll merge your pull request, and go through each point in a coming response.

This morning, in the meantime

[2018-02-25 21:17] juliasilge commented on #191
Around five example data sets would be plenty for a vignette, I think! Even three small case studies would be good. I would be thoughtful in what tooling you choose to use in the vignettes. For example, if you wanted to use the Stanford CoreNLP in the vignette, then that package would need to be in Suggests, and that package is a BEAR 👿 to get to install on Travis. I know this from experience. I'd

[2018-02-25 23:30] stefaniebutland commented on #34
@Dahaniel No specific structure. The best approach might be to read a few other blog posts about onboarded packages and see which ones you like / which ones have a narrative that grabs you. This blog tag gets you to some posts: https://ropensci.org/tags/review/

Some basic suggestions here: https://github.com/ropensci/roweb2#blog-post-editorial-suggestions

[2018-02-25 23:35] stefaniebutland commented on #34
If it would help, I could give you feedback on an outline where you identify audience, take home message and key points you want to get across. No obligation to do this

[2018-02-26 03:46] GuangchuangYu commented on #179
thanks for the comments. I will address these issues asap.

[2018-02-26 03:52] raymondben opened #198 "antanym"
### Summary

-   What does this package do? (explain in 50 words or less):

Provides access to Antarctic geographic place name information, and tools for working with those names.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):

https://github.com/SCAR/antanym

- Please indicate which category

[2018-02-26 06:29] sokal1456 commented on #172
@amrrs @noamross @kaneplusplus This is my very first package review (and apologies that this is late!) to give you fair warning :)

The usefulness of this package lies in it's simplicity which is awesome.

Things I like:

-the package functions have easy to understand and descriptive names
-clear results that I can incorporate in analysis

Documentation:

1. t would be very useful to clearly defin

[2018-02-26 07:04] amrrs commented on #172
Thanks @sokal1456  for your reviews. Just collating all the points together.

1. Create a function that lists the valid currencies and update the vignette.
2. Add descriptions to the functions. You've written a package that assumes an internet connection, goes to the coinmarketcap api using RCurl, retrieves JSON, and turns it into a data.frame. Can you tell us that the package does these things an

[2018-02-26 08:41] rorynolan commented on #164
Thank you @sckott for a wonderful review experience!
* I have transferred the project to `ropensci` and done all the stuff with links and badges and the `.github` stuff.
* I am interested in writing a longer form blog post 👍

Finally, can you tell me how the JOSS paper proceeds from here?
Thanks again!
Rory

[2018-02-26 14:38] noamross commented on #172
Thanks @sokal1456 and @kaneplusplus for reviews.  After @amrrs responds with changes, please use the [review template](https://raw.githubusercontent.com/ropensci/onboarding/master/reviewer_template.md) for your responses.

A note, @amrrs. Some package authors prefer to avoid the dependencies associated with importing the **tibble** package to return tibbles, so one option is to still return a tibb

[2018-02-26 14:44] JasperHG90 commented on #192
Thanks for the reviews! I expect to start incorporating your feedback at the end of the week, as I'm currently wrapping up a project for a client.

[2018-02-26 20:37] sharlagelfand commented on #185
Hoping to take a look at these changes in the next couple of days! Thanks @kvantas @maelle :)

[2018-02-27 06:28] karthik commented on #192
Thanks @JasperHG90! Looking forward to your revisions.

[2018-02-27 08:25] maelle commented on #185
Thank you @sharlagelfand!

[2018-02-27 20:07] sckott commented on #164
@stefaniebutland ping on the longer form blog post ^^

[2018-02-27 20:12] sckott commented on #164
Great, thanks @rorynolan and glad you enjoyed it!

For JOSS:

* I'ved added a Zenodo webhoook to your repo. Generate a new release associated with a git tag in your repo. This doesn't mean you have to submit to CRAN with that git tag/release, its just to get a Zenodo DOI - and you can put a zenodo badge in your readme
* Then submit your `paper.md` to JOSS at http://joss.theoj.org/papers/new

[2018-02-27 20:15] stefaniebutland commented on #164
@rorynolan Glad to hear the review experience worked well for you and doubly glad you're interested in writing a post.

Here are some editorial and technical guidelines: https://github.com/ropensci/roweb2#contributing-a-blog-post. Here are some other posts in the onboarding series https://ropensci.org/tags/review/

We ask for a draft to be submitted by pull request a week prior to the publication

[2018-02-27 20:18] stefaniebutland commented on #160
@steffilazerte I'm checking in to see if you still expect to have draft submitted by next week. If you're feeling ambitious, I have an open slot to publish on Tues March 6th, but that would mean submitting a draft this week. No obligation.

[2018-02-28 08:50] GuangchuangYu commented on #179
@uyedaj Thanks for your comments and here is my response.

..@tree when the object is printed to the screen. However, this is not the name of the slot in the
S4 treedata object, which is instead ..@phylo; which seems unnecessarily confusing.

Had been changed to `..@phylo` in `tidytree >=0.1.7`.

the authors could see what they could do to try to get this down to a lower value (usually CRAN prefer

[2018-02-28 08:51] GuangchuangYu commented on #179
Thanks for @fmichonneau 's comments and here is my response.

### Documentation

    new to R might find it difficult to understand what this package is about.

have updated and should be more easy to understand.

    do with the trees/objects created by the treeio functions. I think some of
    this information is included in the vignettes of the ggtree package, so
    referring to these vignette

[2018-02-28 11:01] timtrice commented on #185
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-02-28 15:30] steffilazerte commented on #160
@stefaniebutland I'm definitely on track for next week. I might be able to do this week, well see. I just sent the draft to Sam, so it'll depend on when he comes back to me and with what suggestions.

[2018-02-28 17:11] jhollist commented on #188
Here is my review!  In short, I like the package and hope to find some uses for it.  I also have review envy.  Really nice job on your review, @laurajanegraham !!!

Any questions, let me know.

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm t

[2018-02-28 17:27] marcosci commented on #188
thanks @jhollist - I like your thoughts, nice complement to Laura's comments :-)

Will tackle both reviews in the next days and report here.

[2018-02-28 17:42] maelle commented on #188
Thanks a ton @jhollist, what a good review! 😃

Nice plan @marcosci! 😉

[2018-02-28 17:42] laurajanegraham commented on #188
Aw thanks @jhollist . I like the suggestion of narrowing the package scope and splitting into two packages. The util functions definitely are useful beyond just NLMs.

I would also be interested in contributing to a standalone landscape metrics package, should this happen.

[2018-02-28 18:37] sckott commented on #179
thanks for your responses to reviewers @GuangchuangYu

@uyedaj @fmichonneau let me know if  you are happy with the maintainers responses - or feel free to keep the conversation going if you have further thoughts

[2018-02-28 23:37] jhollist commented on #188
Added two small things related to `metric_area` to my review above...  Slipped through the cracks first time around.

[2018-03-01 02:38] sharlagelfand commented on #185
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-03-01 11:49] azizka opened #199 "Pre-submission inquiry: CoordinateCleaner"
Hi,

I'd like to submit the [CoordinateCleaner package](https://github.com/azizka/CoordinateCleaner). It's a package for automated cleaning of biological and paleontological collection data, useful for conservation, ecology and evolutionary biology. There is overlap with [scrubr](https://github.com/ropensci/scrubr/tree/master/R), but CoordinateCleaner has a lot of additional functions. So hopefull

[2018-03-01 16:13] kenarab commented on #157
Dear Noam:

We worked hard this week on Rpolyhedra. We are including another polyhedra
database with +700 polyhedra. We already working with TRAVIS. If everything
ok we setup tomorrow the V0.2.0 release including both databases.

All the best, Ale.

2018-02-22 19:32 GMT-03:00 alejandro baranek <alejandrobaranek@gmail.com>:

--
 alejandro baranek
@ken4rab <https://twitter.com/ken4rab>
qbotics <http

[2018-03-01 19:22] karthik commented on #199
Thanks @azizka. We will discuss this and get back to you.

[2018-03-01 21:25] noamross commented on #157
Great, Ale. Let me know when you want me to look again so I can assign reviewers.  I'd suggest running [`goodpractice::gp`](https://github.com/MangoTheCat/goodpractice) before you do as that's what we run to check packages before sending out to review.

[2018-03-02 20:19] fmichonneau commented on #179
That looks good to me :tada:
Thanks @GuangchuangYu!

[2018-03-03 00:59] elinw commented on #175
An update.

As of today I think the easy 3 (that wouldn't involve API changes) have all been addressed.  @michaelquinn32  has been working on a discussion paper about the API issues so that we can have a clear plan moving toward skimr 2.0 and our user community can chime in.   That should be ready to share sson.

[2018-03-03 02:01] predict-r commented on #191
@juliasilge, I've implemented changes to address your helpful comments.

To  avoid this issue, and make things simpler until CRAN complains, I've put the .jar file back into the 'rtika' package for now. So, the issues with importing 'tikajar' is gone on my end.

 @davidgohel said: "About the size of the jar file, I did not read anything that says it's an
issue (it will be if often updated) "

The

[2018-03-03 09:37] maelle commented on #139
👋  @raymondben @mdsumner could you please soon do the different items of the checklist above including transferring your repo? Thanks!

[2018-03-03 09:38] maelle commented on #175
Thanks @elinw and @michaelquinn32 for the update and your work!

[2018-03-03 09:50] maelle commented on #188
A few notes:

* It's fine to keep the name all uppercase since it's on CRAN but if you go forward with the splitting changing it to lowercase might be best. By the way if you split the package, the one that'd still be a good fit for onboarding is the non-metrics one.  Recently we had [another submission](https://github.com/ropensci/onboarding/issues/139) where the package ended up being split duri

[2018-03-03 10:25] raymondben commented on #139
@maelle - done. Sorry, was waiting for a revised footer to be finalized, but looks like that may take a while so I've gone ahead and transferred now.

[2018-03-03 10:30] maelle commented on #139
Cool, thanks! Could you also add the review badge mentioned in the checklist?

I've activated the repo in Appveyor.

[2018-03-03 10:37] maelle commented on #139
Note that the badges do not render now, but this issue will soon be fixed, so please add it to your README before I close this issue. :-)

[2018-03-03 10:38] raymondben commented on #139
The review badge is in the readme, just not rendering. It was showing under our org, but not now.

[2018-03-03 10:42] maelle commented on #139
Aaah thanks and sorry! Perfect! I'm closing the issue but this doesn't prevent the discussion of blog posts to continue. 😸

[2018-03-03 10:42] #139 closed

[2018-03-03 11:30] maelle commented on #185
Approved! 👏

Thanks a lot @kvantas @sharlagelfand @timtrice for your work! :clap: :clap: :clap: Note that normally reviewers update the first checklist, but it's fine to have copied it, don't change it now! :smile_cat:

I have four *suggestions*:

* improving readability/browsability of the README via splitting it/adding a table of contents or even making it minimal and linking to the vignettes (i

[2018-03-03 15:10] kvantas commented on #185
Thanks a lot @maelle, @timtrice and @sharlagelfan. @maelle, on the following days I will apply your suggestions and do what is needed to transfer the repo. Also, I will write a blog post about the package.

@timtrice do you mind if I add you as a reviewer?
@sharlagelfand is it ok to add you as a contributor/reviewer?

[2018-03-03 15:30] elinw commented on #175
@jimhester In re-reading this morning I noticed this commen "Another possible solution which would require minimal API changes is to modify the print method to make the heterogeneous parts more
clear."   That's something that we should be able to do with markup I think as an interim while we are deciding what to do with the larger API issue.
@jenniferthompson I still also need to look at the fewer

[2018-03-03 15:36] timtrice commented on #185
Not at all; thank you

[2018-03-03 17:48] erzk commented on #176
@cvitolo I made changes as you recommended. I answered your comments in more detail:

1. I'm not sure how to address this point. The problem here is that in some cases the API returns a structure that can't be turned into a data frame. I need to work on this a bit longer. TODO: df vs. list
2. Additional information about returned data types was added to README. I think it might be too long to desc

[2018-03-03 18:03] noamross commented on #191
Thanks for your response, @predict-r!  @juliasilge, let us know if these changes have addressed your comments and check that box off if so, let us know what else remains if not.  I see @davidgohel already has checked off his box.

FYI, we had a temporary snafu on the service serving badges. It should be back now.,

[2018-03-04 10:19] lbusett commented on #184
Hi all,

 a quick update: we are **almost done** with implementing the required modifications (You can find a commented list of work advancement here: https://github.com/lbusett/MODIStsp/issues/112).

Before starting fine tuning the release (e.g., update documentation, website, etcetera) **I wanted to ask (if possible) some comments on the changes we implemented on the GUI** to address comments by

[2018-03-04 19:24] stefaniebutland commented on #185
Excellent!
Here are some technical and editorial guidelines: https://github.com/ropensci/roweb2#contributing-a-blog-post

We ask that you submit your draft post via pull request a week before the planned publication date so we can give you some feedback.  I have a slot open on Tues April 3rd for a draft to be submitted March 27. How does that sound? If you submit earlier we can publish earlier if

[2018-03-04 20:56] sharlagelfand commented on #185
That would be lovely, thanks @kvantas!

[2018-03-04 21:41] predict-r commented on #191
Thank you.

[2018-03-04 21:52] cimentadaj opened #201 "submission: ess"
### Summary

-   What does this package do? (explain in 50 words or less):

It allows users to download and explore data from the European Social Survey directly into R. Broadly speaking, it has two family of functions. The `ess_*` family, which downloads data from specific waves and countries and the `show_*` functions which allows the users to check which waves/countries are available.

-   Past

[2018-03-04 23:06] erzk commented on #176
@Robinlovelace Thanks for the comments, they were very helpful.

**Statement of need** was added.
**README** was shortened and examples moved to a vignette.
**Installation**: what's non-standard about the style? what would you suggest?

r1. I agree.
r2. The next step will be to create a package (or new functions in this package) that can achieve the same thing locally. Any suggestions would be ver

[2018-03-05 10:07] kvantas commented on #185
@stefaniebutland, I think that the date is OK.

[2018-03-06 00:47] juliasilge commented on #191
Ah, I love the new vignette!!! 💕 It is full of so much useful, detailed information. This is going to be a great resource for users. I also am happy to see the other issues in the review addressed; I reviewed the package once more, did R CMD check and `goodpractice::gp()` again, and I have checked off the box in my review.

The only thing significant remaining in the checks is the NOTE about the s

[2018-03-06 02:22] predict-r commented on #191
I do want this package to be a useful resource, and am so glad you liked the vignette!

Has anyone seen a package that has an script that downloads data into a package after installation?

I will keep trying, but CRAN never got back to me at all.

Has anybody seen a package that downloads the required resources after package installation? There are Apache mirrors for Tika, such as  http://mirrors.

[2018-03-06 04:09] noamross commented on #191
Thanks all for great reviews and follow-up, @juliasilge @davidgohel and @predict-r.  We can accept the package as-is from our perspective, the size/CRAN issue isn't a precondition on our front, but it makes sense to work out the approach first.  I'll be happy to do a full editors' check if you make major changes on this front.

Courtesy of great friend of rOpenSci Bob Rudis, here's the distributio

[2018-03-06 21:33] predict-r commented on #191
I've slept on it, and am ready to give up on CRAN for now. The response from Uwe Ligges at CRAN is:

Since the Tika .jar is over 55.7MB (49.5MB compressed), there is no way to distribute the .jar on CRAN without violating that principle.

So, once accepted this package would be on both github and ropensci! I'm happy with that.

 @noamross Thank you for showing a good way, and offering to do a full

[2018-03-06 21:50] #35 closed

[2018-03-06 21:50] #34 closed

[2018-03-06 21:52] sckott commented on #187
@arendsee @naupaka bump, your review is due in about one week

[2018-03-06 21:52] sckott commented on #179
@uyedaj did @GuangchuangYu address your concerns adequately?

[2018-03-06 21:53] sckott commented on #174
any progress on responses to reviewers @mdsumner ? anything I can help with?

[2018-03-06 21:53] #164 closed

[2018-03-06 21:55] arendsee commented on #187
@sckott Right! I'll get on it, thanks for the reminder

[2018-03-06 21:56] uyedaj commented on #179
Yes, it looks good to me. Thanks.

[2018-03-06 22:20] sckott commented on #199
hi @azizka - nice to see you here.

As I probably mentioned to you in Stockholm, we do have a overlap policy where we try not to have packages that overlap too much. But here I think we might be okay. What do you think are the areas of overlap for the two packages?  Maybe we can just avoid overlapping functionality.

[2018-03-06 22:20] sckott commented on #179
@GuangchuangYu both reviewers are okay with changes. I'll have a quick look myself now to see if there's any lingering issues.

[2018-03-06 22:26] mdsumner commented on #174
I have been delayed, but yes there is progress!  I'm doing it in this branch:
 https://github.com/hypertidy/tidync/commits/ropensci-review

(most other branches will likely be deleted but I need to check a few things)

* major clean up of examples, so no raad-only local stuff
* clarified some of the verb problems, will describe
* print now includes source vs. filtered length/start/count info, need

[2018-03-06 22:42] sckott commented on #174
Thanks for the update ✔️

[2018-03-06 23:00] sckott commented on #179
With the bioc versions of `treeio` and `ggtree` everything works fine, but with dev version of `treeio`, everything installs, but some tests are failing I think because some methods have been removed in `treeio`

[code]

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2018-03-07 03:31] GuangchuangYu commented on #179
@sckott The current bioc dev branch of both treeio and ggtree is identical to github version.

The reason for the issue is that the OSX tarball of ggtree in Bioc dev is not updated due to the suggested package `ggimage` that is [not installed on their build server](http://bioconductor.org/checkResults/devel/bioc-LATEST/ggtree/merida2-checksrc.html).

The `ggimage` is suggested as it enhances `ggtr

[2018-03-07 04:10] noamross commented on #191
I advise against two packages. It will be confusing for users make more effort for maintenance. I think an `install_tika()` function makes for a fairly simple experience - you can print a package startup message if the .jar if missing, and a similar informative error for any Tika-calling function.  Plus you can update the Tika version by one line of code - the download  URL - in the package. CRAN

[2018-03-07 05:30] predict-r commented on #191
Alright, I’ll make the install script. :)

[2018-03-07 12:53] sebastiz commented on #153
@karthik @RMHogervorst @jonclayden  here is my response to the reviewers following my amendments

REVIEWER ONE

Design, data and documentation

1. The vignette would benefit substantially from embedding the results of each code block inline. As well as making the effects of each function much more obvious to the reader, this would reveal that some of the code does not in fact work as expected. (Th

[2018-03-07 20:05] naupaka commented on #187
Right-o. It's on the docket for this weekend.

[2018-03-07 20:49] rorynolan commented on #164
Hi @sckott,
I'll get to that JOSS stuff in the next few weeks. Is there any rush on it?
Thanks again for everything,
I've signed up as an ROpenSci reviewer to give something back!
Rory

[2018-03-07 20:50] rorynolan commented on #164
Hi @stefaniebutland,
I'm happy with March 20 for draft submission. I have time to do it next week.
Thanks,
Rory

[2018-03-07 21:09] sckott commented on #164
i don't know, is there any timing to consider between approval here and submission to JOSS @noamross ?

[2018-03-07 21:45] stefaniebutland commented on #164
Sounds good! I'll confirm your publication date after receiving your draft. Don't hesitate to ping me here if you have any questions.

[2018-03-08 03:37] GuangchuangYu commented on #179
[code]

After I installed the treeio and ggtree using the source tarball on Bioconductor, I clone the repo and run the `rcmdcheck`. Everything just goes fine.

[code]

The error you presented here should be due to inconsistent versions (i.e. mix installation of release and devel branches), since there is a lot of change in the `treeio` dev branch and also some codes were move to the `tidytree` pac

[2018-03-08 19:45] kenarab commented on #157
Noam:

We worked hard including the new source. We have persisting small issues.
For example, Travis fail because it takes a long time to scrape all the
database. We will make a prescraped polyhedron list for the simpler
polyhedron. And (without testing) bigger poyhedra will be loaded on demand.

But the problem that's stopped us for publication is goodpractice::gp gives
a strange error we cannot

[2018-03-08 21:40] maelle commented on #201
@cimentadaj thanks for your submission! I'm doing the editor checks right now and... the tests take a very long time, right?

[2018-03-08 22:02] maelle commented on #201
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-03-09 08:45] leeper commented on #201
This package is a very easy-to-use tool for download ESS data. It will be of great benefit to ESS users in both a teaching and research context. In the latter case, it will no doubt help considerably with reproducibility of analyses using the ESS. The code is generally well-written and the documentation is mostly excellent. Both the README and vignette provide useful introductions to the package a

[2018-03-09 08:48] maelle commented on #201
Wow thanks a lot for your extremely rapid and good review @leeper 😮 👏

Could you please fill and add [the review template](https://github.com/ropensci/onboarding/blob/master/issue_template.md) to your comment? Thanks in advance.

[2018-03-09 08:52] maelle commented on #201
Just a suggestion as a reaction to @leeper's excellent suggestion to add examples, I tend to think minimal READMEs make more sense with a pkgdown website (especially if the README has links to articles/vignettes), so adding a vignette or several ones might be better than expanding the README.

[2018-03-09 08:55] maelle commented on #201
@cimentadaj also note that I'll expect you to answer to/comment on @leeper's issues in this thread as well to make all information about your changes available here as well. 😺

[2018-03-09 10:25] cimentadaj commented on #201
Hi guys, thanks very much for the comments, they're spot on. I am away from
computers until Monday, where I'll review all of the suggestions. Thanks
again!

On Fri, 9 Mar 2018 at 08:55, Maëlle Salmon <notifications@github.com> wrote:

--

-----------------------------------

Jorge Cimentada
*https://cimentadaj.github.io/ <https://cimentadaj.github.io/>*

[2018-03-09 14:37] rossmounce commented on #195
- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [ ] **A statement of need** clearly stating problems the software is designed to solve and its target audi

[2018-03-09 14:38] evanodell commented on #190
Hi @cderv and @pegeler, thank you both of you very much for your helpful comments and suggestions, apologies for not being able to respond to them sooner.

## Response to @cderv

[code]
**Response:** I've added a similar example to the vignette, which is similar enough to your example that I feel I should cite you as a contributor if that is okay.

**Response:** Added a CONTRIBUTING.md in https://

[2018-03-09 14:57] JasperHG90 commented on #192
Started working on revisions. Expect to finish by Friday 23 March at latest.

[2018-03-09 16:14] maelle commented on #201
Thanks for agreeing to review this package @nujcharee! :smile_cat: Your reviews is due on 2018-03-30.

As a reminder here are links to the recently updated [reviewing](https://github.com/ropensci/onboarding/blob/master/reviewing_guide.md) and [packaging](https://github.com/ropensci/onboarding/blob/master/packaging_guide.md) guides and to the [review template](https://raw.githubusercontent.com/rope

[2018-03-09 22:07] predict-r commented on #191
I've implemented changes needed for `install_tika()` to work.

However, along the way, I ran into a big Apache Tika bug! It was in the batch processor. The good news is that I reported the bug, and it was immediately patched!  See [1].

A potential issue is the next major release of Tika with the patch, Tika version 1.18, will be released soon, but I'm not sure exactly when...I've asked.

In the m

[2018-03-10 01:26] noamross commented on #191
👏 Good work finding that @predict-r! I had problems with another program crashing recently because of spaces in file paths, so I'm glad this bug is squashed.

We'll see what the response is from the developer, but [based on this email thread](https://lists.apache.org/list.html?dev@tika.apache.org:lte=1M:1.18) it seems that 1.18 is only a week or two off.  If it were _months_ away I would suggest a

[2018-03-10 04:25] predict-r commented on #191
Thanks ! The install_tika() is temporarily set to download the development version. The package is passing Travis.

[2018-03-10 13:44] noamross commented on #195
Thank you for your thoughtful review, @rossmounce!  @willpearse, you can wait until @sarahsupp's review is in to respond, and I'll provide an editor's summary as well.

[2018-03-10 17:38] cderv commented on #190
Hi @evanodell

Great work ! And thanks a lot for your answer formatting just above. It is very easy to follow how you took our comments into account. Nice.

I updated my first post by checking some boxes ✅  and ⏲ of review.

I still have a few remarks after taking another pass on your updated code

### Package Website

Nice idea to centralize all your documentation. However, there is still a few t

[2018-03-11 16:22] sckott commented on #179
Thanks, works well.

----

Approved!  Thanks again for your submission @GuangchuangYu

* At this point we usually have maintainers transfer their package  to `ropensci` - bit I'm pretty sure that's not possible with Bioc pkgs, correct? We've had one other Bioc pkg (`genbankr`) and we planned to simply set up a mirror in our ropensci org account, but haven't got around to it yet - but that's the pl

[2018-03-11 21:50] nujcharee opened #202 "Remove me"

[2018-03-11 21:51] #202 closed

[2018-03-11 21:58] nujcharee commented on #201
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-03-11 23:17] arendsee commented on #187
This is solid work and I recommend it be admitted to rOpenSci after a few
issues are addressed. The documentation looks good, program seems to work as
intended, the interface to the output objects is clear, and the results are
neatly cached and logged. This is a good example of how a clean R pipeline
should look.

My one high-level comment is that this package could benefit greatly by reusing
some

[2018-03-11 23:24] noamross commented on #202
Hi @nujcharee, I think what you're trying to do is stop being notified of conversations in this repo.  You can do that via the "unwatch" button on the upper right:

<img width="369" alt="screen shot 2018-03-11 at 7 22 57 pm" src="https://user-images.githubusercontent.com/571752/37259818-b3f0b9b8-2561-11e8-8175-a9a8e3758493.png">

[2018-03-12 01:32] noamross commented on #191
Approved! Great work, and thanks a lot @juliasilge and @davidgohel for your reviews!  The `install_tika()` functions and docs are looking good, and I commend your good use of assertions and failsafes.

To-dos:
- [ ] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Upd

[2018-03-12 04:08] GuangchuangYu commented on #179
@sckott thanks for accepting the pkg. All the requirements are incorporated.

----

@stefaniebutland I think for the first time of introducing a package, a long-form post is more appropriate.

[2018-03-12 05:38] nujcharee commented on #202
Hi there, I was reviewing a package but I foolishly put my review in a wrong window. I didn’t know how to delete it. Do apologise. I had many windows opened to read guidelines, templates etc....:)

[2018-03-12 05:42] maelle commented on #202
No problem 😉

[2018-03-12 08:34] tklebel commented on #189
I'm still eager to work on/discuss some changes, but wanted to wait for the second review. Do you happen to know until when you will be able to finish your review, @EccRiley?

[2018-03-12 09:31] maelle commented on #185
@kvantas could you please soon transfer your repo? 🙏

[2018-03-12 10:19] leeper commented on #201
@maelle done

[2018-03-12 10:20] maelle commented on #201
Thanks @leeper!

[2018-03-12 11:24] kvantas commented on #185
@maelle, sorry for the delay, some work kept me back. I followed all your suggestions in
https://github.com/ropensci/hydroscoper/issues/11,
https://github.com/ropensci/hydroscoper/issues/12,
https://github.com/ropensci/hydroscoper/issues/13,
https://github.com/ropensci/hydroscoper/issues/14

But I have some problems:

a) ropensci/hydroscoper in travis is locked
b) I cannot edit the description in

[2018-03-12 13:10] jimhester commented on #201
I have no background in social sciences so have no idea how ubiquitous the acronym ESS for European Social Survey is, but in the R / S community there is long precedent for ESS standing for [Emacs Speaks Statistics](https://ess.r-project.org/), dating back to at least [1994](ftp://stat.ethz.ch/Mail-archives/ess-help/1994-1996/), before R existed. Emacs Speaks Statistics is also quite popular for e

[2018-03-12 15:55] willpearse commented on #195
Great, thank you both!

On Sat, 10 Mar 2018 at 06:44 Noam Ross <notifications@github.com> wrote:

[2018-03-12 16:27] sarahsupp commented on #195
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-03-12 16:30] rossmounce commented on #195
Thanks @sarahsupp , I also had problems with the vignette but wasn't sure if it was just me and my particular setup, so I didn't say anything about it.

[2018-03-12 16:55] maelle commented on #185
a) yeah you do not have access, what do you need to do? I'll be traveling soon so please ping one of the editors in the # onboarding Slack channel
b) c) I made you an admin of the repo now, which I couldn't do before transfer 😉

[2018-03-12 16:55] #185 closed

[2018-03-12 16:56] maelle commented on #185
d) Appveyor now activated

[2018-03-12 17:02] kvantas commented on #185
@maelle, a) I thought that the repo in travis was off :cat:

Thank you very much again :tada:

[2018-03-12 18:53] predict-r commented on #191
Writing a long form post sounds good. It's an opportunity for me to introduce the package and reflect some on the process. Please express my interest and thanks for the opportunity to @stefaniebutland .

Okay, regarding the logistics of the transfer, it's now at:

https://github.com/ropensci/rtika

That was super easy. The README links are also changed, yet I don't know how to change the github re

[2018-03-12 19:22] noamross commented on #191
I made that change.  You should have repo settings control now.  All set!  I'm going to close this issue, but @stefaniebutland will respond here about blog timing.  Here are our editorial and technical guidelines for posts: https://github.com/ropensci/roweb2#contributing-a-blog-posts, and some other posts in the onboarding series https://ropensci.org/tags/review/

[2018-03-12 19:23] #191 closed

[2018-03-12 21:35] predict-r commented on #191
👍

[2018-03-12 23:37] lbusett commented on #184
Hi all,

  at last, we managed to wrap-up an improved MODIStsp version addressing reviewers' suggestion. The current version can be installed with:

    devtools::install_github("lbusett/MODIStsp")

In short, without going in detail through reviewers comments as in the last posts), here is a quick list of the implemented changes:

## for @jeffreyhanson review:

- [x] All examples in vignettes and

[2018-03-12 23:47] naupaka commented on #187
I am still working on my review. Should have it done in the next day or two.

[2018-03-13 01:35] sckott commented on #187
thx for the update @naupaka

[2018-03-13 17:27] kenarab commented on #157
Noam:

We just pushed release V0.2.0.
https://github.com/qbotics/Rpolyhedra/releases/tag/v0.2.0

We have problems with goodpractice we didn't have time to attend yet.

We are uploading this release in CRAN while waiting the review. After the
reviewers work we hope can make a new release directly from Ropensci.

Thank you very much for your advisor.

Best regards, Ale.

2018-03-08 16:45 GMT-03:00 a

[2018-03-13 19:55] kenarab commented on #157
Noam:

We made a new release
https://github.com/qbotics/Rpolyhedra/releases/tag/v0.2.1

because of CRAN requested corrections as minor changes in Vignette. Please
wait for the approving confirmation of this release approved in CRAN I will
do, I hope, in the next hour.

2018-03-13 14:27 GMT-03:00 alejandro baranek <alejandrobaranek@gmail.com>:

--
 alejandro baranek
@ken4rab <https://twitter.com/ke

[2018-03-13 22:31] noamross commented on #195
Thanks for your review, @sarahsupp!

Let me chime on on the biggest issue that was highlighted in both Sarah and Ross's reviews: that of journal coverage and the ability to collect supplemental data en masse.  This is a "long tail" problem, of which we are quite familiar at rOpenSci.  Ross's suggestion that one way to deal with this is facilitate community contributions is a good one: provide good

[2018-03-13 23:17] willpearse commented on #195
Great, thank you all for this. I'm running around doing fieldwork prep right now, so please don't be surprised if you don't hear from me for a fortnight or so. Thanks again!

[2018-03-14 00:12] kenarab commented on #157
Already in CRAN. We wait for your review, in the next days we will try to debug Goodpractice seemly bug.

Enviado desde el móvil

El 13 mar. 2018, a la(s) 16:54, alejandro baranek <alejandrobaranek@gmail.com> escribió:

[2018-03-14 02:59] noamross commented on #157
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-03-14 08:16] cimentadaj commented on #201
Everyone, thanks all the suggestions. I will go one by one. @maelle

* Just curious, why is there a note about the package name in DESCRIPTION, was that demanded by CRAN?

This is because it has conflicts with Emacs Speaks Statistics and the Emacs authors suggested that I add it as a note and they will add it as well to their R package. In fact, the point raised by @jimhester has been raised by se

[2018-03-14 08:19] cimentadaj commented on #201
@leeper I will review your suggestions in the coming days. I think that making a more 'practical' vignette is also a good idea. I will work on it.

[2018-03-14 08:23] cimentadaj commented on #201
@nujcharee thank you very much for your comments! I agree with your suggestions and will implement them soon.  In fact, I think you also raised some common points that overlap with what @leeper suggested. Thanks!

[2018-03-14 08:52] cimentadaj commented on #201
Oops, answered first on the issue as per . Copying here.

As per https://github.com/cimentadaj/ess/issues/25

I hadn't thought about it! Thanks. I'm applying it to the case of matching the `format` argument through out the package. However, in the other cases  prefer to have a separate `stop` message, like [here](https://github.com/cimentadaj/ess/blob/master/R/ess_country_url.R#L10-L23). This is b

[2018-03-14 11:33] kvantas commented on #185
@maelle, I submitted the :package: to JOSS: https://github.com/openjournals/joss-reviews/issues/621 , the last thing on the list!

[2018-03-14 13:48] jimhester commented on #201
In terms of the particulars of renaming the package, I think the best way to do it is to submit the package to CRAN with the new name, and in your comments to CRAN in the submission say you want to rename the package and archive the old name.

[2018-03-14 16:10] lwasser commented on #184
this all looks great @lbusett  :) excited to see this package available on ropensci . it's a great contribution!!

[2018-03-14 16:12] kenarab commented on #157
Great Noam.

We already included Badges, and submitted a new release on CRAN with minor
corrections.

At this stage, as the package is a compilation of previous work, we will
not write a paper so we don't need at these time a joint JOSS publication.
We have the plan to implement [[Conway-Hart polyhedra notation]](
https://en.wikipedia.org/wiki/Conway_polyhedron_notation) in a not defined
yet futur

[2018-03-14 18:18] stefaniebutland commented on #191
Hi @predict-r. Great to hear that you are interested in contributing a blog post and thanks to Noam for providing that link to recommendations. Would you be able to submit a draft via pull request by March 27? That will give us an opportunity to review it, give you feedback and set a date for publication.

[2018-03-14 19:26] maelle commented on #201
@cimentadaj changing names doesn't impact the submission. I know that because my `Ropenaq` package was renamed `ropenaq` during its onboarding 😉 (I didn't have it on CRAN but you have @jimhester's guidance above, by the way thanks Jim for chiming in!)

[2018-03-14 23:09] predict-r commented on #191
Greetings @stefaniebutland. That is reasonable. I'll submit the draft by the 27th. Based on https://github.com/ropensci/roweb2#contributing-a-blog-posts, I know what to try. If there are any examples of the blog you particularly liked or want to recommend, let me know and I'll take a closer look. Thanks.

[2018-03-15 04:22] stefaniebutland commented on #191
@predict-r This will give you a range of examples https://ropensci.org/tags/review/. Browsing them will give you an idea of the length you prefer, and different angles on the narrative.

[2018-03-15 04:49] stefaniebutland commented on #179
Great to hear you're interested in contributing a post @GuangchuangYu! Here are some editorial and technical guidelines https://github.com/ropensci/roweb2#contributing-a-blog-post. You can have a look at other posts about onboarded software to see what style and length you like: https://ropensci.org/tags/review/

Would you be able to submit a draft via pull request 2018-04-03?  This gives us an op

[2018-03-15 10:05] cimentadaj commented on #201
As per @leeper in https://github.com/cimentadaj/ess/issues/24

Added in https://github.com/cimentadaj/ess/commit/57656ffdcbac6e156752602009210238e7e9ea4f

Good suggestion, I had no idea of the difference between HTTPS and HTTP.

[2018-03-15 15:22] jonclayden commented on #153
Thanks, @sebastiz. You've clearly done a lot of work on the package, and particularly the documentation, since I last looked at it. I just a few small follow-up points:

- Are there contribution guidelines somewhere? I didn't find them.
- You can get `?EndoMineR` working by making this name an alias of a new or existing `roxygen2` block. The form given by @RMHogervorst above works fine, but withou

[2018-03-15 17:56] karthik commented on #198
👋 @raymondben Sorry for the slow response on our end. We will respond with next steps shortly.

[2018-03-15 23:56] sckott commented on #195
It is indeed a really hard problem to programatically sort out links for articles, and even harder for supp. materials. In `fulltext`, we take a variety of approaches, starting from the highest level crossref, then if not found there, moving down to various other tools such as publisher specific code in the pkg, or using an API https://ftdoi.org/ I made to sort out URL patterns per publisher. That

[2018-03-16 10:49] sebastiz commented on #153
@jonclayden thanks. These have now been all corrected. The tests seem to be fine when I run devtools::check(). Hopefully the top level documentation is what is needed and should be accessible with    ?EndoMiner. The CONTRIBUTING.md file has been added but the URLs may not be quite correct yet until (and if) the package is taken up by ropensci

[2018-03-16 11:00] jonclayden commented on #153
Great! This all looks good, so I think that's everything from me.

[2018-03-16 11:32] rossmounce commented on #195
@sckott  "What % of supp. materials files are now in Figshare/Dryad/other repositories?"

That's a really good question I'd also love to have an answer to. To re-state it slightly
What proportion of SI is at third-party repositories versus journal-hosted

The confusing bit is that for some journals e.g. PLOS the SI is available at _both_ figshare _and_ the journal platform itself.

I have a feelin

[2018-03-16 12:24] sebastiz commented on #153
Hi @RMHogervorst  just to let you know that the top level package documentation has been corrected as has Jon Clayden's latest corrections. Thanks

[2018-03-16 18:12] rorynolan commented on #164
Hi @stefaniebutland,
I just submitted the PR for my blog.
Thanks,
Rory

[2018-03-18 04:59] maelle commented on #201
@cimentadaj great job! 👌  Just a note about the process, it'd be easier for future readers of the thread to group your answers and to write here what the issue was about so that one doesn't need to click. Moreover if you want to link a commit to an issue in the commit message you can write something like "blabla closes #" with the issue number (or just "see" instead of "close" if you don't want to

[2018-03-18 05:00] maelle commented on #185
Fantastic, congrats! 👏  I'm looking forward to reading your blog post!

[2018-03-18 16:40] cvitolo commented on #176
@erzk thanks for addressing all my comments. Great job!

Please find below few more suggestions.

1. I'm not sure how to address this point. The problem here is that in some cases the API returns a structure that can't be turned into a data frame. I need to work on this a bit longer. TODO: df vs. list

Maybe your data.frame needs list-columns?

2. Additional information about returned data types w

[2018-03-19 10:00] cimentadaj commented on #201
Thanks @maelle ! I just edited the messages to group all of my answers in one single comment. I will update that comment as I fix the issues.

[2018-03-20 00:53] Robinlovelace commented on #176
Comments post-review:

No suggestions at present, other than to download all the boundaries used by the API and use a spatial package such as **sf** to extract the boundaries for any point. This could link to my prototype https://github.com/Robinlovelace/ukboundaries/ package which I hope (with some encouragement from @karthik and perhaps support from the ONS) to submit to ROpenSci at some point.

[2018-03-20 13:52] marcosci commented on #188
## Response to reviews

@laurajanegraham and @jeffhollist - thanks again for your reviews

We decided to follow the recommendations of Laura and Jeff to split the package. This leaves us with:

- [nlmr](https://github.com/marcosci/nlmr)
  - nlmr is now a trimmed down version of NLMR, only containing the algorithms to simulate neutral landscape models. Hence, the (direct) dependencies are quite sma

[2018-03-20 16:10] stefaniebutland commented on #185
@kvantas Are you still ok with submitting your draft blog post by Tues Mar 27?

[2018-03-20 18:31] jhollist commented on #188
First, I'd be honored to be the mascot!!!  If time allows, would be happy to more than that too.

Second, very happy with the response and direction this is taking.  Two thumbs up on everything and as far as my review is concerned, `nlmr` is good to go.

Again, really nice job.  Makes me happy to see landscape ecology getting better representation in R!

[2018-03-20 18:35] sckott commented on #187
@naupaka Can you please get your review in soon, thanks

[2018-03-20 18:35] #179 closed

[2018-03-20 18:40] sckott commented on #189
@eccriley are you still able to do the review?

[2018-03-20 19:10] sckott commented on #198
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-03-20 22:26] kvantas commented on #185
@stefaniebutland, I have some small projects to finish, but I think I will be ready for the draft post. :calendar:

[2018-03-21 12:32] RMHogervorst commented on #153
The vignettes look beautiful!
Feels very complete. 3 separate vignettes are available, really focused on one task, very nice!
@sebastiz has more than adequately responded to all questions and all my points were answered. This is a go from me.

Beautiful work Sebastian !

Small note before you submit it to CRAN:
i downloaded the repo on 2018-03-21 (sebastiz/EndoMineR@4708e0db103c6da861556b78e24b293

[2018-03-22 00:38] ChrisMuir commented on #141
Hi @AliciaSchep and @rtaph, hope you're both doing well! I just saw [this](https://ropensci.org/blog/2018/03/16/thanking-reviewers-in-metadata/) recent rOpenSci blog post... I've been thinking that `comtradr` is due for a release, and I would like to add you both to the `DESCRIPTION` file as reviewers prior to sending to CRAN.

So I wanted to find out if you're both okay with this. If so, do eithe

[2018-03-22 00:46] ChrisMuir commented on #141
Hi @AliciaSchep and @rtaph , hope you're both doing well! I just saw [this](https://ropensci.org/blog/2018/03/16/thanking-reviewers-in-metadata/) rOpenSci blog post about adding reviewers to a pkg.....I've been thinking `comtradr` is due for a new release, and I'd like to add you both as reviewers to the `DESCRIPTION` file prior to sending to CRAN.

So I wanted to see if this was okay with you bot

[2018-03-22 07:46] rtaph commented on #141
Hi Chris!

Sure, I appreciate the consideration! My orcid is 0000-0002-3092-3493.

Cheers!

[2018-03-22 09:59] marcosci commented on #188
## Response to reviews regarding the utility functions

With respect to the comments on slack yesterday, this issue is supposed to cover
now both nlmr and landscapetools.

Again, you can find landscapetools here:

https://github.com/marcosci/landscapetools

### responses to @laurajanegraham comments

Both of the functions are only internal ones, for the reclassification function.
I can't see any d

[2018-03-22 12:59] jhollist commented on #188
A joke I appreciated!  Also probably to most likely level of involvement I
can promise.  I am begrudgingly well entrenched in mid-career and as such
time to work on things I want to is a rare commodity.

And again, nice job on these packages.  I'll include a mention in a talk I
am working on for US-IALE.

On Thu, Mar 22, 2018 at 6:00 AM, Marco Sciaini <notifications@github.com>
wrote:

--
Jeff W.

[2018-03-22 15:02] sebastiz commented on #153
Thank you @RMHogervost really appreciate that

[2018-03-22 15:03] sebastiz commented on #153
Hi @karthik can you tell me what the next steps are?

[2018-03-22 15:56] azizka commented on #199
Hi @sckott, thanks!

I dug into both packages, after all the overlap seems rather small. See below for a by-function comparison table with scrubr from CRAN (please correct it if I missed something).

In two sentence: The aim of both packages is identical -- to improve quality of occurrence records from large databases, beyond that there is actually little overlap. Few basic functionalities are vir

[2018-03-22 16:09] AliciaSchep commented on #141
Hi Chris, Happy to be included -- my ORCID is 0000-0002-3915-0618.  Thank you!

[2018-03-22 16:52] laurajanegraham commented on #188
All looking great @marcosci!

[2018-03-22 18:06] ChrisMuir commented on #141
Awesome, this is great. Thanks to you both!

[2018-03-22 18:17] ChrisMuir commented on #141
Hi @rtaph , for your name in the `DESCRIPTION` file, should I use `person("Rafael", "P.H.", role = "rev", etc...)`, or would you prefer I use your full last name?

[2018-03-22 18:39] rtaph commented on #141
Hi Chris,
 If it's all the same, I would prefer the full name. Thanks again!

On Mar 22, 2018 20:17, "Chris Muir" <notifications@github.com> wrote:

Hi @rtaph <https://github.com/rtaph> , for your name in the DESCRIPTION
file, should I use person("Rafael", "P.H.", role = "rev", etc...), or would
you prefer I use your full last name?

—
You are receiving this because you were mentioned.
Reply to th

[2018-03-22 19:01] evanodell commented on #190
Thank you @cderv

I did not know about `usethis::use_readme_rmd`, that has made things much easier. I've made the other tweaks you've suggested as well.

I've split off the the `interactive()` bits into a dev branch.

The curl and travis issue seems to stem from the internal `loadpkg` function in `jsonlite`. Using `httr` to check for http response codes seems to have solved the problem. I'm not su

[2018-03-23 18:07] pkimes opened #204 "presubmission inquiry: SummarizedBenchmark"
We recently went through the review process with Bioconductor, but I was hoping to get more feedback, and thought rOpenSci might be a good fit for our package. I wasn't sure, so I wanted to make a pre-submission inquiry. Thanks for taking a look!

For reference:
- [Bioconductor Submission thread](https://github.com/Bioconductor/Contributions/issues/651)
- [Bioconductor devel page (with vignettes)]

[2018-03-24 10:04] lbusett commented on #184
Hi @jeffreyhanson and @karthik ,

    just wanted to ask if by any chance you had time to have a look at the implemented changes.

Asking because I am planning a CRAN release to introduce the new functionality (and - more importantly - the associated bug fixes...), but I'd rather do that at the end of the review process if possible.

[2018-03-24 13:56] cimentadaj commented on #201
Here I will respond to @nujcharee's suggestions.

In https://github.com/cimentadaj/ess/issues/27, @nujcharee suggested adding `library(tidyverse)` to the `README`. Implemented in https://github.com/cimentadaj/ess/commit/25628bc99ff679f27ce428af105d425fd60e277e.

Some other suggestions.

In my opinion, for those which aren't familiar with Social Survey, it might be really beneficial from a brief de

[2018-03-24 14:25] cimentadaj commented on #201
@maelle, my answer's to @leeper and @nujcharee are in.

[2018-03-24 15:08] leeper commented on #201
I'm happy with all of the responses to my comments.

[2018-03-24 15:44] maelle commented on #201
@nujcharee are you happy with @cimentadaj's answer?

[2018-03-24 16:03] maelle commented on #188
Thanks a lot for your work @marcosci and thanks @jhollist & @laurajanegraham for very productive reviews! 🎊

A few last comments from me:

* In all three repos, I think it'd make sense to comment a bit on all of them, maybe in a "See also" section.
* Add the pkgdown link to DESCRIPTION, see http://enpiar.com/2017/11/21/getting-down-with-pkgdown/ "if you already have a URL there (say, to your packa

[2018-03-24 17:11] ibarraespinosa opened #205 "presubmission inquiry: cptcity"
### Summary

-   What does this package do? (explain in 50 words or less):
cpt-city is a web archive (http://soliton.vm.bytemark.co.uk/pub/cpt-city/index.html) of colour palettes. The R package cptcity brings 7140 colour palettes from this web archive into R. It has three functions:
- cpt(). To select the colour palette and number.
- find_cpt(). To search colour palettes by name, e.g.: "radar", "r

[2018-03-25 01:40] karthik commented on #205
👋 @ibarraespinosa
Thanks for the submission. The other editors and I have discussed this and will unfortunately have to decline this as out of scope. It is also out of scope for JOSS.

[2018-03-25 01:40] #205 closed

[2018-03-25 06:29] nujcharee commented on #201
@maelle @cimentadaj I am also happy yes ;)

[2018-03-25 06:33] nujcharee commented on #201
I think in terms of the function “all” I think personally that “all” function can be obselete if it can be embedded in ess_round function when countries aren’t specified.

I made a suggestion as a recommendation. Looking forward to seeing this on CRAN soon good luck.

[2018-03-25 11:05] cimentadaj commented on #201
Thanks a lot @nujcharee! @maelle, if the package gets accepted we need to sort out the issue with name of the package. Right now the name of the package is `ess` both in CRAN and on Github. During this week I'm going to finish all of the changes from the review and change the Github package name to `essurvey` and resubmit to CRAN in the next weeks. Perhaps the package can be `essurvey` in rOpensci

[2018-03-25 11:52] marcosci commented on #188
Yeah 🙌
## @maelle comments

You mean crossreferencing nlmr and landscapetools in the readmes of the packages? :)

Done.

Done.

## @maelle list of things

- [x] Transfer the repos to the rOpenSci organization under "Settings" in your repo. I have invited you to two teams that should allow you to do so. You'll be made admin once you do.
    - Was a bit too ambitious and happy there - transferred nl

[2018-03-25 13:10] rubenarslan opened #206 "presubmission inquiry: codebook"
Presubmission inquiry following [Twitter contact](https://twitter.com/ma_salmon/status/977192303751323649) with @maelle

### Summary

-   What does this package do? (explain in 50 words or less):
Generate reproducible codebooks from data and metadata. The package relies on rmarkdown partials to generate HTML, PDF, and Word documents. Codebooks are also available as tables (CSV, Excel, etc.). HTML

[2018-03-25 13:57] maelle commented on #188
Thanks!

Yes I meant cross-referencing with a short blurb explaining how they relate to each other.

I've now made you an admin of both repositories (so you can access the repo description again for instance) and will activate them on Appveyor.

[2018-03-25 14:00] maelle commented on #188
Appveyor badges

* `[![Build status](https://ci.appveyor.com/api/projects/status/djw840fitcvolbxg?svg=true)](https://ci.appveyor.com/project/ropensci/nlmr)`

* `[![Build status](https://ci.appveyor.com/api/projects/status/aehfkxfb5r4vjlm9?svg=true)](https://ci.appveyor.com/project/ropensci/landscapetools)`

Closing this since the blog post discussion can still happen once it's closed. :-)

[2018-03-25 14:00] #188 closed

[2018-03-25 14:07] maelle commented on #201
Thanks @nujcharee and thanks @cimentadaj!

I still need to perform the last editor checks (should lead to minor comments only). Maybe it's best to have waited for you to have finished all review changes before I have a last look anyway, so ping me when it's done if that's ok with you?

We could transfer even before the name change, I _think_ redirections from the old account/reponame would still w

[2018-03-25 14:38] cimentadaj commented on #201
Ok @maelle , the changes are in and the package has be renamed. I switched it to `[essurvey](https://github.com/cimentadaj/essurvey)` on Github and everything on the package has been renamed to `essurvey` over `ess`. All tests [pass](https://travis-ci.org/cimentadaj/essurvey/builds/358061542) so I'm just waiting for the badge update. I will submit to CRAN once this review process is over to make t

[2018-03-25 16:09] maelle commented on #188
I forgot two points @marcosci 🙈

* In your .github dir can you also add a CONTRIBUTING.md and a PR template, see https://github.com/ropensci/dotgithubfiles/ for examples

* We're starting to roll out software metadata files to all rOpenSci packages via the Codemeta initiative, see https://github.com/ropensci/codemetar/#codemetar for how to include it in your package, after installing the package -

[2018-03-25 17:25] maelle commented on #201
Approved! Great work @cimentadaj and great reviewer work @leeper & @nujcharee ! A few last comments/questions from me

* Have you checked whether it's ok to use the ESS logo?

* Only a _suggestion_, you could choose to add the reviewers to DESCRIPTION as "rev", with their permission. See [this recent blog post](https://ropensci.org/blog/2018/03/16/thanking-reviewers-in-metadata/)

* the `install.p

[2018-03-25 17:25] maelle commented on #201
And thanks again @jimhester for chiming in! 👌

[2018-03-25 18:24] marcosci commented on #188
I am here to serve 😜 all done.

[2018-03-25 19:07] maelle commented on #188
😂 thx a ton!

[2018-03-26 04:38] naupaka commented on #187
I'm just about done with my review. Have had to let it run overnight a couple times and hit some snags. I'm hoping to have the review done by tomorrow late morning if all goes well on this current query.

[2018-03-26 10:17] cimentadaj commented on #201
@maelle thank you very much for the review. Thanks as well to@leeper and @nujcharee for some great reviews. `essurvey` benefited a lot from your comments.

Answer's to @maelle's comments below:

Have you checked whether it's ok to use the ESS logo?
Hmm, I'm not entirely sure but the communications office of the ESS has been retweeting the package constantly in their official account, so I'm guessi

[2018-03-26 11:13] cimentadaj commented on #201
@maelle, finalized all changes to close the issue. You can check out the repo at https://github.com/ropensci/essurvey

Thank you all for this experience! I learned a lot from it and I'd love to write an extended blog post on the review process and how to use the package @stefaniebutland.

[2018-03-26 14:53] maelle commented on #201
@cimentadaj you couldn't see the repo description "edit" button because you were not an admin yet. Now I've made you admin, and I've added the pkgdown URL in the description at the same time, hope that's ok.

[2018-03-26 15:03] cimentadaj commented on #201
@maelle yes, that's fine! Thanks.

[2018-03-26 16:08] sckott commented on #187
thanks @naupaka

[2018-03-26 18:05] naupaka commented on #187
## Package Review

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work.

### Overall

I think this is a great and super useful package that I think is a good fit with ROpenSci. I am excited for this package to get finished up; I am already thinking up half a dozen ways to use it in my own research. All of that said, I had some problems getting it to r

[2018-03-26 19:24] karthik commented on #204
👋 @pkimes
The editors and I have discussed this submission and find that it is outside our scope. A performance benchmarking isn't part of our reproducibility category.

best,
Karthik

[2018-03-26 19:24] #204 closed

[2018-03-26 19:36] nujcharee commented on #201
@cimentadaj Hi there yes thats my name Nujcharee Haswell. :)

[2018-03-26 19:40] pkimes commented on #204
@karthik, thanks for taking a look!

[2018-03-26 22:11] sckott commented on #187
thanks very much for your review @naupaka !!!

[2018-03-27 07:26] cimentadaj commented on #201
@leeper would you also like to be listed as a reviewer in the CRAN submission?

[2018-03-27 07:35] stefaniebutland commented on #201
Glad to hear you're interested it writing a post @cimentadaj. Here are some technical and editorial guidelines: https://github.com/ropensci/roweb2#contributing-a-blog-post

We ask that you submit a draft via pull request at least one week before the planned publication date. At this point I have posts scheduled through April so perhaps best for you to suggest a deadline by which you would like to

[2018-03-27 07:36] stefaniebutland commented on #188
Glad to hear you're interested it writing a post @marcosci. Here are some technical and editorial guidelines: https://github.com/ropensci/roweb2#contributing-a-blog-post

We ask that you submit a draft via pull request at least one week before the planned publication date. At this point I have posts scheduled through April so perhaps best for you to suggest a deadline by which you would like to su

[2018-03-27 07:38] cimentadaj commented on #201
Thanks @stefaniebutland! I could send a pull request the somewhere between the 20th and 30th of April for review where the post would land perfectly for sometime in May. Let me know if this is alright.

[2018-03-27 07:45] stefaniebutland commented on #201
Sounds good. I will ping you around April 17th to make sure your draft is still on track for submission between 20th and 30th.

[2018-03-27 09:13] DomBennett commented on #187
Thanks very much @arendsee and @naupaka for your detailed reviews!

I feel I may have already addressed some of the run issues raised by @naupaka, as I encountered some of them over the past few weeks myself. The hanging is particularly annoying and seems to be due to Entrez, I've added a timeout so that it will retry after one hour. Also, I wonder if the BLAST errors might be due to using Windows

[2018-03-27 12:13] JasperHG90 commented on #192
Hello all,

Thank you for your reviews. They were very useful. I've addressed most of them in the code (see the development branch), and have placed several comments/questions at the bottom of this post.

**Updates**

- **Statement of need:** added to the README file.
- **Root url v. base url:** Deprecation warning added for `root_url`, and changed to `base_url` across code, examples, vignette and

[2018-03-27 12:15] marcosci commented on #188
Hi @stefaniebutland and thanks :-) Would the last couple of April be fine to hand in the draft for the blog post?

[2018-03-27 19:25] maelle commented on #201
Closing this now that the package has been onboarded. @leeper can still  answer about being listed as "rev" in DESCRIPTION ☺

[2018-03-27 19:25] #201 closed

[2018-03-27 20:35] predict-r commented on #191
I posted a draft here:

https://github.com/predict-r/roweb2/pull/1

It's a pull request on a fork...hope I did that correctly.

[2018-03-27 21:14] sckott commented on #187
@DomBennett  So we don't have a rule on how exactly to respond to reviewers. This is how it's best approached though I think:

Open issues in your repo that address issues raised here - Then when you reply to reviewers you can link to those - That's what I do when I bring my own pkgs through review, and I use a label or wording in the issue title to indicate its from the review, e.g. https://githu

[2018-03-28 00:25] trinker commented on #192
@JasperHG90 Sorry for the lack of clarity on the lower cased titles:

What I mean is that cran states:

If you go to one of your files: https://github.com/JasperHG90/qualtRics/blob/master/R/getSurvey.R

We see:

at line 17.  This should not be lower cased but in title case:

This will then transfer to the .Rd files when you roxygenize.

[2018-03-28 01:32] stefaniebutland commented on #191
Thank you for doing this @predict-r.

It looks like you made a pull request to your own fork of our repo.

From https://github.com/predict-r/roweb2 you should create a pull request with branch `predict-r-patch-1` in your fork  to `master` on the ropensci repo. It will look like the image here

![screen shot 2018-03-27 at 3 09 51 pm](https://user-images.githubusercontent.com/11927811/38003585-01456

[2018-03-28 05:29] stefaniebutland commented on #188
Yes @marcosci end of April for a draft is good. Tentative publication date is Tues May 8 so latest to submit draft is May 1st. Thanks!

[2018-03-28 07:42] JasperHG90 commented on #192
Thanks for your comments @trinker . I edited the titles.

[2018-03-28 16:56] karthik commented on #184
Hi @lbusett Will do shortly.

[2018-03-28 20:20] lbusett commented on #184
@karthik Ok, thanks for the update!

[2018-03-30 06:01] pegeler commented on #190
## Package Review for `nomisr`

Onboarding submission: ropensci/onboarding#190

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to you

[2018-03-30 19:21] noamross commented on #157
@kenarab It took a little longer than I hoped but I have two great reviewers lined up.  We can move ahead with starting the review (the GP outputs are minor enough that they can be corrected by the end of the review).  I just want to check that you have a stable branch that they can work with.

[2018-03-31 02:23] jdeck88 opened #207 "submission: rppo"
### Summary

-   What does this package do? (explain in 50 words or less):
The global plant phenology data portal (PPO data portal) is an aggregation of plant phenological observations from USA-NPN, NEON, and PEP725 representing 20 million phenological observations from across North America and Europe. The PPO data portal utilizes the Plant Phenology Ontology to align phenological terms and measur

[2018-03-31 13:40] cderv commented on #190
@evanodell Well done! I am really impress with the evolution of this really a great 📦 from the beginning of the review and now. Awesome work ! Thanks for having taken into account our advices, I really appreciated it like @pegeler.

It was really a pleasure to review your package and it gave me the chance to discover the NOMIS database. I think your package is a great example of using a simple api

[2018-03-31 15:10] sckott commented on #198
Reviewers: @johnbaums @lbusett
Due date: 2018-04-23

[2018-04-02 13:28] richelbilderbeek opened #208 "Submission: beautier"
### Summary

-   What does this package do? (explain in 50 words or less):

The purpose of `beautier` is to create a valid BEAST2 XML input file from its function arguments. In this way, a scientific pipeline using `BEAST2` can be fully scripted, instead of using `BEAUti`'s GUI.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development reposi

[2018-04-02 13:34] richelbilderbeek commented on #208
Note that:

 * The package is one of the three sub-packages of the packege `[babette](https://github.com/richelbilderbeek/babette)`. I intend to have all these packages on rOpenSci
 * There is already an article about `babette` in pre-print at [bioRxiv](https://www.biorxiv.org/content/early/2018/03/16/271866). The article (in the section 'Applications') is already submitted to Methods in Ecology a

[2018-04-02 13:36] richelbilderbeek commented on #208
This package is in [the process of being accepted by CRAN](https://github.com/richelbilderbeek/beautier/issues/33).

[2018-04-02 14:22] noamross commented on #208
Thanks for your submission, @richelbilderbeek! An initial question as we discuss this: can you tell us a bit about your logic for splitting up these functions into different packages? I can see reasons either way - doing One Thing Well and separating, or keeping together to maintain a common workflow.  Just curious how you see it as we think about the best way to use reviewer's time without overwh

[2018-04-02 15:12] richelbilderbeek commented on #208
Thanks for you question, @noamross!

Sure, I'd be happy to help!

I hope this table will clear things up:

Step|Package|Tool
---|---|---
Configuration|`beautier`|BEAUti 2 (GUI)
Running|`beastier`|BEAST2 (command-line interface)
Parsing and analysing results|`tracerer`|Tracer (GUI)
---|---|---
 All of these|`babette`|None

As can be seen, each sub-package replaces a GUI or command-line tool (and is

[2018-04-02 18:09] elinw commented on #175
Okay so we released 1.0.2 with all the bug and documentation fixes so far.  I'm going to look at this possibility of using  markup to make the display more clear to people.

[2018-04-03 08:35] cimentadaj commented on #201
Hi @leeper, just a reminder, would you like to be listed a reviewer when I submit the package to CRAN?

[2018-04-03 09:07] sebastiz commented on #153
Hi @karthik I am keen to move forward with this is it has been accepted by both reviewers as there are some conferences coming up id like to describe it as. It would be great to say it had been accepted here when I do. Thanks

[2018-04-03 09:14] leeper commented on #201
Sure. Happy to be.

[2018-04-03 09:17] maelle commented on #175
Thanks for the update @elinw and congrats on the release! 🎊  I guess you'll soon write the "final" answer to reviewers then?

[2018-04-04 01:36] noamross commented on #208
Thanks, @richelbilderbeek! That helps.  After conferring, we've decided it would be best to submit all four as a single submission.  The joint workflow will be important and in the end its not that much more (relative) lines of code than `beautier`.

Since this will be a big review, we might assign a little more time than the standard 3 weeks to reviewers.  I also hope you can make things smoother

[2018-04-04 03:06] sebastiz commented on #153
Hi @sckott and @karthik
I updated the package about a month ago and the reviewers have given it the thumbs up. What is the best way to no
I've things forward from here?

[2018-04-04 06:39] richelbilderbeek commented on #208
Happy my table helped @noamross !

 * About `goodpractive::gp()`: I already run that on my code, using Travis CI. Code coverage is 100%.
 * About CRAN: this has been put on hold, so I can now submit there after the rOpenSci review

I will follow your guidance, close this Issue and make a new one for `babette`.

[2018-04-04 06:39] #208 closed

[2018-04-04 11:33] DomBennett commented on #187
Hi @sckott,

I've copied your format and created [issues](https://github.com/AntonelliLab/phylotaR/issues). Also, FYI we have now submitted a manuscript describing phylotaR to MDPI Life, preprint available [here](https://www.preprints.org/manuscript/201804.0047/v1).

Is there a deadline for responding to the reviewers? I was thinking of taking a break and coming back to phylotaR with a little more

[2018-04-05 07:41] richelbilderbeek opened #209 "submission: babette"
### Summary

-   What does this package do? (explain in 50 words or less):

`babette` provides for a full workflow alternative of four different
GUI and command-line tools.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):

https://github.com/richelbilderbeek/babette

- Please indicate which cate

[2018-04-05 07:42] richelbilderbeek commented on #209
This submission is a continuation of #208

[2018-04-05 15:09] karthik commented on #153
Hi @sebastiz sorry this fell through the cracks. I will update with next steps in an hour or so. My apologies

[2018-04-05 15:45] karthik commented on #153
Approved! 🎉 Thank you for submitting and @RMHogervorst and @jonclayden for thorough and timely reviews. To-dos:

- [] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.

- [] Add the rOpenSci footer to the bottom of your README

[code]
- [] Fix any links in badges for CI and

[2018-04-05 15:50] sckott commented on #187
Not really a deadline. If you'll put it off for a while, we have a [holding label](https://github.com/ropensci/onboarding/issues?q=is%3Aissue+is%3Aopen+label%3Aholding) that we'll use, and then we'll know to not ask you about progress until you're ready to come back to it

[2018-04-05 15:54] karthik commented on #192
@kierisi Hi Jesse! 👋 Could you please take a look at @JasperHG90's recent changes and see if you are able to check off a statement of need issue? And please let us know if the fixes and updates are ok by you for a sign off. 🙏

[2018-04-05 15:55] karthik commented on #189
@tklebel Sorry for the delays. Looks like @EccRiley hasn't responded a while. I am seeking another reviewer to replace her.

[2018-04-05 16:04] tklebel commented on #189
@karthik no worries. @elinw seems to have been trying out the package, maybe she would be willing to do a review.

[2018-04-05 16:07] elinw commented on #189
I have been, yes. I could do a review.  I also have some data if @jasonbecker would like to try it.

[2018-04-05 17:54] karthik commented on #189
@elinw Fantastic! Thank you for agreeing to review.
Assigning @elinw as second reviewer

[2018-04-05 21:32] karthik commented on #206
Quick update. We are still discussing the submission and will get back to you shortly.

[2018-04-05 23:25] kierisi commented on #192
clicked and on-board for a sign off :rocket:

[2018-04-06 10:41] sebastiz commented on #153
OK great @karthik . I'll make the relevant changes. Happy to do tech-notes for this. I'd like to submit to JOSS. Can I still do this?

[2018-04-06 17:08] stefaniebutland commented on #153
@sebastiz Great to hear that you'd like to publish a technote on this. We can publish at any time (in contrast to blog posts that are scheduled). Please submit a draft by pull request at your convenience and we can review before publishing.

Here are examples: https://ropensci.org/technotes/

Instructions on pull request and preview: https://github.com/ropensci/roweb2#contributing-a-blog-post. The

[2018-04-06 18:45] sckott commented on #199
thanks for this @azizka - Sorry about delay in responding. We agree that the overlap isn't sufficient to warrant concern. We'd like you to submit the package for review. Open a new issue and fill out the issue template you'll see.

[2018-04-06 18:45] sckott commented on #199
closing this, looking forward to your submission

[2018-04-06 18:45] #199 closed

[2018-04-06 21:36] karthik commented on #153
Yes of course! When you submit to JOSS, mention in the created thread that it was reviewed here and it will get fast tracked. Feel free to @ tag me there.

[2018-04-06 21:46] karthik commented on #192
@trinker Do you have other concerns that remain unaddressed or are you happy to sign off as well?

[2018-04-07 13:49] erzk commented on #176
@cvitolo
1. Fixed. The column names are not duplicated any more.
2. Fixed. I added full documentation and URLs to `postcode_lookup()`, `place_lookup()`, and `terminated_postcode()`. They return three different sets of values as described in the API [documentation](#' @seealso \code{\link{place_lookup}} for documentation.). The remaining functions have references to one of these three relevant func

[2018-04-08 00:05] willpearse commented on #195
I thank the reviewers and editor for their comments and suggested improvements to `suppdata`. I think that, as a result of their suggestions, the package is in much better shape. Thank you!

Below I respond to what the editor highlighted as the over-arching concern, and after that I respond to more specific issues raised by the reviewers and the editor.

## Supporting more publishers and the packa

[2018-04-08 20:04] elinw commented on #175
@maelle That's the plan.  I wanted to add that we now have in the develop branch a solution to the other issue that I think folks here and in our tracker have wanted.  That is now you can define your own complete list of functions with a name and use skim_with() to append or replace the default skimmers.  So the way I think about this the use case would be that you have several different lists tha

[2018-04-09 02:44] trinker commented on #192
@karthik happy to sign off as well

[2018-04-09 03:59] karthik commented on #192
Approved! 🎉 Thank you for submitting and @kierisi and @trinker for thorough and timely reviews! 🙏

@JasperHG90

To-dos:

- [ ] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.

- [ ] Add the rOpenSci footer to the bottom of your README

[code]
- [ ] Fix any links in badges

[2018-04-09 07:09] JasperHG90 commented on #192
To-dos:

- [ ] Transfer the repo to the rOpenSci organization under "Settings" in your repo. I have invited you to a team that should allow you to do so. You'll be made admin once you do.

- [ ] Add the rOpenSci footer to the bottom of your README

[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.org)

- [ ] Fix any links in badges for CI and coverage t

[2018-04-09 07:30] JasperHG90 commented on #192
Happy to write a technical note!

[2018-04-09 08:12] maelle commented on #175
Cool work! 😸 Thanks for the update.

[2018-04-09 19:56] azizka opened #210 "CoordinateCleaner"
### Summary

-   What does this package do? (explain in 50 words or less):
_Identify problematic records in large databases of biological and palaeontological collections, to improve data quality for analyses in biogeography, ecology and conservation._

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html p

[2018-04-09 19:57] stefaniebutland commented on #192
@JasperHG90 Great to hear that you'd like to publish a technote on this. We can publish at any time (in contrast to blog posts that are scheduled). Please submit a draft by pull request at your convenience and we can review before publishing.

Here are examples: https://ropensci.org/technotes/

Instructions on pull request and preview: https://github.com/ropensci/roweb2#contributing-a-blog-post. T

[2018-04-09 22:11] annakrystalli commented on #207
### Editor checks:

- [X] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [X] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [ ] **License:** The package has a CRAN or OSI accepted license
- [X] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-04-10 13:41] sebastiz commented on #153
Hi @karthik I don't think I have any collaborator invitations on my github yet
https://github.com/sebastiz/EndoMineR/settings/collaboration. Also when I try to transfer to rOpenSci I get 'You don’t have the permission to create repositories on ropensci'.....

[2018-04-10 19:03] jdeck88 commented on #207
Thank you for the comments Anna..
I have addressed all of the issues that you brought up and committed my changes to our Github repo.

[2018-04-10 19:29] maelle commented on #210
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-04-10 23:06] karthik commented on #153
Please check your Github notifications for a pending invite.

![image](https://user-images.githubusercontent.com/138494/38588133-1bba5750-3cd9-11e8-8d41-b4a5ec2a4ef6.png)

If you don't find it I can cancel and resend it.

[2018-04-11 09:45] JasperHG90 commented on #192
Hi Stefanie. Thanks for the information!

[2018-04-11 09:56] sebastiz commented on #153
Hi @karthik Yes please resend. ?case sensitive?

[2018-04-11 17:30] karthik commented on #192
@JasperHG90 One quick question. Would you be interested in adding @kierisi and @trinker are reviewers in your description file? Read more about why [here](https://ropensci.org/blog/2018/03/16/thanking-reviewers-in-metadata/)

Also would be good to see if they're both comfortable with the idea.

e.g. https://github.com/ropensci/rdflib/blob/master/DESCRIPTION#L9-L11

[2018-04-11 17:38] kierisi commented on #192
fine by me!

[2018-04-11 17:40] JasperHG90 commented on #192
What a neat feature! If @Kierisi and @trinker are OK, i’d Like to add them
as reviewers. Please leave information in a comment so I can add!

On Wed, 11 Apr 2018 at 19:31, Karthik Ram <notifications@github.com> wrote:

[2018-04-11 17:58] annakrystalli commented on #207
Thanks for your prompt response @jdeck88! I've found the first reviewer and just trying to secure the second one. Will keep you posted. 👍

[2018-04-11 18:08] karthik commented on #192
@kierisi @trinker If you don't already have an ORCID, sign up for one here: https://orcid.org/

[2018-04-11 22:04] karthik commented on #153
Canceled and resent. Please try now.

[2018-04-12 08:48] GuangchuangYu commented on #209
The example on [tracerer README](https://github.com/richelbilderbeek/tracerer) is broken since the function `get_path` was renamed to `get_tracerer_path`. Please update documentations accordingly.

The `parse_beast_trees` internally uses `rBEAST::beast2out.read.trees`, which output `multiPhylo` object without any BEAST inferences. I think you need to describe this in vignette and a link to [treeio

[2018-04-12 16:19] kierisi commented on #192
here you go: 0000-0003-1915-9612

[2018-04-12 17:27] trinker commented on #192
0000-0002-4299-7692

[2018-04-13 09:31] sebastiz commented on #153
OK thanks @karthik all done.

[2018-04-13 11:04] annakrystalli commented on #207
Both reviewers have now been assigned! 🎉

---

Reviewers: @tdjames1 & @remsamp
Due date: 2018-05-04

[2018-04-13 11:47] noamross commented on #195
Thanks for your response, @willpearse!  @rossmounce and @sarahsupp, please let us know if Will's response addresses your comments.

A quick suggestion, Will: I suggest moving content from the GH wiki to a CONTRIBUTING.md file and README/other documentation, which will travel more transparently with clones and forks of the repo.

[2018-04-13 12:07] richelbilderbeek commented on #209
Thanks for your review @GuangchuangYu

 * [ ] Update doc in README
 * [ ] switch to using treeio for reading `.trees` files

[2018-04-13 14:36] willpearse commented on #195
Thanks for that; I've migrated the wiki over now.

[2018-04-15 09:20] peter0083 opened #211 "package submission for review"
### Summary

-   What does this package do? (explain in 50 words or less):

It is an API wrapper package for Lufthansa Open API

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):

https://github.com/peter0083/LufthansaR

- Please indicate which category or categories from our [package fit policies

[2018-04-15 10:51] richelbilderbeek commented on #209
Added AppVeyor continuous integration, used `rappdir` for using the correct folders and got everything to work under both Linux and Windows :+1:

[2018-04-15 13:44] JasperHG90 commented on #192
@karthik had one more question: could you explain to me how the JOSS process works? Is the accompanying paper automatically submitted or do I need to do something? Thanks!

[2018-04-15 14:47] noamross commented on #211
Thank you for your submission, @peter0083. Unfortunately, this package is not of sufficient scientific application to fit in our scope.

[2018-04-15 14:47] #211 closed

[2018-04-15 16:02] peter0083 commented on #211
Thank you for the feedback Noam!

[2018-04-16 10:57] rubenarslan commented on #206
Thanks. I updated the description about DDIwR, because I since made contact with Adrian Dusa @dusadrian.

[2018-04-16 19:05] sarahsupp commented on #195
Hi @willpearse. I think the new wiki pages will be really useful in encouraging folks to help contribute and in giving more description into why and how to use the suppdata package. Nice addition!

For the vignette build issue, I was working on Linux, and I think it's entirely possible that the PDF rendering library was missing. I can check later, and I'll try to get back to you if I figure out wh

[2018-04-16 19:40] karthik commented on #192
@JasperHG90 Sure. Just follow the submission instructions for JOSS (http://joss.theoj.org/papers/new) and submit a paper there. You'll need to write the paper of course, and include some high level references in a `.bib` file, then commit both to this same repo.

Then tag me as editor. I'll do a quick review of the paper itself and make sure it reads well. Once that's cleared, you will have to arc

[2018-04-16 19:57] karthik commented on #192
@JasperHG90 I'm going to close this issue here but feel free to ping me over email (see my profile) for help with the JOSS part. 🙏

[2018-04-16 19:57] #192 closed

[2018-04-16 19:58] karthik commented on #184
@jeffreyhanson Quick ping/reminder to sign off or ask more questions for @lbusett

🙏

[2018-04-16 20:10] karthik commented on #153
Thanks @sebastiz! All set here. 🚀

[2018-04-16 20:10] #153 closed

[2018-04-16 20:12] karthik commented on #176
Thanks for the revisions @erzk and for the detailed and thoughtful reviews @cvitolo and @Robinlovelace
Can you two look over the latest revisions and sign off if you are satisfied? 🙏

[2018-04-16 20:15] karthik commented on #190
@cderv Thanks for this fantastic, thorough and thoughtful review! Since you have signed off, nothing further required from your side. Now just waiting on @pegeler to provide the final sign off.

[2018-04-16 20:18] karthik commented on #190
Congrats @evanodell! Your submission is now approved and accepted! 🎉 Thank you for submitting and many thanks to @cderv and @pegeler for thorough and timely reviews. To-dos:

- [ ] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.

- [ ] Add the rOpenSci footer to the bottom

[2018-04-16 21:01] Robinlovelace commented on #176
I'm satisfied with the submission and the updates, great to be part of the peer review process. If I think of any further issues would they be best as issues in the issue tracker or as comments here? (Guess: it depends on whether they are directly related to the review process.) Fantastic work @erzk!

[2018-04-16 21:10] evanodell commented on #190
Thanks @karthik! I'm more than happy to write something up on the package, whichever format you prefer.

[2018-04-16 21:17] noamross commented on #209
First reviewer: @dwinter
Due date: 2018-05-18

[2018-04-16 21:27] karthik commented on #176
It would be best on the issue tracker of the repo itself (the location will change once accepted, but GitHub will redirect appropriately).

[2018-04-17 05:49] cvitolo commented on #176
I'm satisfied with the changes, well done @erzk!

On Mon, 16 Apr 2018, 22:27 Karthik Ram, <notifications@github.com> wrote:

[2018-04-17 16:49] noamross commented on #172
@amrrs, do you have an update?

[2018-04-17 18:09] stefaniebutland commented on #190
Hi @evanodell. Great to hear you're interested in contributing a post about `nomisr`. The format is really up to you, but you could take publication dates into account. Right now we have a full schedule of longer narrative posts up to ~June so if you would like it up quickly, a technote is the way to go. We'll tweet from @rOpenSci either way.

You can read example narrative posts about onboarded p