[2019-01-10 22:09] stefaniebutland commented on #209
Sounds great! I'll mark my calendar and we can confirm a publication date at that time. Thank you.

[2019-01-11 16:37] pdwaggoner opened #275 "Interest in submitting an original R package: hhi"
Submitting Author: Name (@pdwaggoner)
Repository: https://github.com/pdwaggoner/hhi

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

	- [ ] dat

[2019-01-11 20:21] sckott commented on #275
thanks very much for your pre-sub inquiry @pdwaggoner  we're discussing now and will have a decision soon

[2019-01-11 20:49] lmullen commented on #269
Thank you, @khondula and @gothub for your thorough reviews.

@cboettig: Please let us know if you have any questions about the reviews. Will you be able to complete the necessary changes in two weeks time, i.e., by January 25?

[2019-01-13 19:35] pachamaltese commented on #274
@emilyriederer Thanks a lot for this *huge* review!! I have a lot of homework now

[2019-01-13 21:16] marinapapa commented on #262
Dear Jan and Marco,

I am sorry for not responding to your initial message about **get_nl_spatial** . It is indeed running smoothly now so no need for anything else :)

The new **documentation** is great and all my initial issues are adequately addressed.

I also like very very much the **interfacing-different-models** addition! Some comments:
- A typo: on the fire model example (line 130) you are

[2019-01-14 00:57] emilyriederer commented on #274
@pachamaltese Thanks for the package! It was very fun to play with. I hope it's helpful, and sorry for the length! All of the items are really small, and some I debated if they were worth mentioning. Personally, my struggle is always with not enough feedback, so I thought I'd share all my thoughts and you could do with them what you will 😄

[2019-01-14 06:42] maelle commented on #274
Many thanks for your thorough review @emilyriederer! :smile_cat:

[2019-01-14 13:52] noamross commented on #263
@jennybc A reminder that your review was due last week, please get it in as soon as you can.

[2019-01-14 21:44] marcosci commented on #262
Hi Marina,

thanks again for the comments!
We fixed all the issues you mentioned in the vignette - the wave example was mainly due to OS differences between Jan and myself.

Cheers,
Marco

PS: If you ever use gganimate for real flocking data or more complex models, please let me know :) would love to see that!

[2019-01-14 21:49] thomasp85 commented on #262
Hi Jan and Marco

I can only echo Marina in saying that all raised issues seems to have been solved. You have gone all-in on providing good documentation and guidance which warms my heart :-)

I do not have any additional comments to the package as it appears now.

best
Thomas

[2019-01-14 22:51] noamross commented on #263
While waiting for the second review (which I think might take until after `rstudio::conf`), some other quick responses:

#### Examples

There's a lot of flexibility in this, but generally, these should be enough to demonstrate minimal usage/syntax.  I usually make sure to have one example with only required arguments and examples that together include all optional arguments, and that print/show ex

[2019-01-15 14:47] Robinlovelace commented on #266
Heads-up @sckott I've submitted the package to CRAN and have added a Zenodo DOI badge as suggested. I've also submitted the package to JOSS for peer review. Next steps? Starting some work that may cite the package so will useful to have a 'cannonical' .bib file also.

[2019-01-15 17:21] sckott commented on #266
sounds good @Robinlovelace  that's it. will close issue now. yeah, having a citation file is a good idea

[2019-01-15 17:21] #266 closed

[2019-01-15 17:39] annakrystalli commented on #262
Approved! 🚀

Many many thanks @nldoc & @marcosci  for submitting and being so responsive and @marinapapa  & @thomasp85 for your most thorough and helpful reviews! 😺

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer

[2019-01-15 17:45] Robinlovelace commented on #266
Fantastic! What is best practice when creating a CITATION file? I can see how to create it from the official documentation here: https://cran.r-project.org/doc/manuals/R-exts.html#CITATION-files

But see that some packages, such as `dplyr` and [`drake`](https://github.com/ropensci/drake) lack one.

[2019-01-15 17:47] Robinlovelace commented on #266
See here for an example of a CITATION file: https://github.com/cran/nlme/tree/master/inst

[2019-01-15 17:47] sckott commented on #266
don't know really. @maelle  @cboettig any thoughts on this?

[2019-01-15 17:50] Robinlovelace commented on #266
And also, what is the official citation info of the package? Will it change when it is published in JOSS?

[2019-01-15 17:53] sckott commented on #266
official with respect to?

I think JOSS would be an additional citation you could be put in the citaiton file

[2019-01-15 17:58] Robinlovelace commented on #266
Just 1 citation for the package is probably enough - that's the aim of the `CITATION` file, I believe, to allow authors to choose what the official citation info is, with respect to the output of `citation()`. This is a good example from the `sf` package:

[code]

<sup>Created on 2019-01-15 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

The associated `CITATION` file can be

[2019-01-15 20:15] adamhsparks commented on #266
Here's the approach I've taken with my packages on JOSS. I have one for the paper and one for the package that will always give the version used.

[code]

[2019-01-16 09:17] Robinlovelace commented on #266
Many thanks @adamhsparks, very useful. I plan to create something similar to this: https://github.com/ropensci/nasapower/blob/master/inst/CITATION

Worth adding something on CITATION in the package guidance/process?

[2019-01-16 09:26] richelbilderbeek opened #276 "Presubmission inquiry: tmhmm"
Submitting Author: Richel J.C. Bilderbeek (@richelbilderbeek)
Repository: https://github.com/richelbilderbeek/tmhmm

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an app

[2019-01-16 11:16] mpadge commented on #274
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-01-16 14:12] maelle commented on #274
Many thanks for your review @mpadge! :rocket:

@pachamaltese, now both reviews are in! :tada:

[2019-01-16 14:59] pachamaltese commented on #274
Thanks a lot @maelle , @emilyriederer  and @mpadge
Provided tradestatistics.io was basically an annoyed version of me trying to create a stable and open server to download trade data, I shall start doing some changes to the API so that data filtering by commodity is made in a more efficient way and without downloading data that then you will discard.

Does it work? What do you think about adding a

[2019-01-16 15:09] nldoc commented on #262
Many thanks to you, @annakrystalli, @marinapapa, @thomasp85 and the whole rOpenSci community. We are very glad that nlrx is now a part of it 😃.

We already took care of the listed To-dos. However, the link to our webpage at the top of the repository page is still pointing to the nldoc repository and it seems I don`t have the user rights to edit the link (I don`t see the edit button). We would also

[2019-01-16 17:35] pachamaltese commented on #274
Hi @mpadge

Once again, thanks a lot for the useful list.
To achieve some parts of the list without passing unwanted data I had to edit the API during lunch time.
Check this: https://api.tradestatistics.io/yrpc?y=2000&r=chl&p=arg&g=95
`g` is a new parameter that can be any HS group code (i.e. 01, 02, ..., 95, ... 99)
In the example above, the background writes a query like `... WHERE LEFT(commodit

[2019-01-16 17:46] sckott commented on #275
hi again. We have dicsussed this and have decided that it is out of scope because in our view it's mainly a methods package. That is, it's an implementation of a method, see https://ropensci.github.io/dev_guide/policies.html#other-scope-considerations

Thanks again for your inquiry!

[2019-01-16 17:46] #275 closed

[2019-01-16 17:51] sckott commented on #276
thanks for your inquiry @richelbilderbeek Editors will discuss and get back to you

[2019-01-16 17:56] pdwaggoner commented on #275
I get it - thanks for letting me know and for considering!

All best,
Phil

[2019-01-16 19:59] mpadge commented on #274
That's fantastic, @pachamaltese, and obviously a way more efficient solution than post-filtering. This review is become more and more interesting, with your ability to make server-side changes and then update R code. And all that "during lunch time" :plate_with_cutlery:

[2019-01-16 20:08] marcosci commented on #262
@annakrystalli  that was just a remnant of the beginning of the package - I updated the badge, as we consider it quite stable now :+1:

[2019-01-16 20:37] annakrystalli commented on #262
Thanks @marcosci .

Well, that's a wrap! 😺 Thanks again all 👋

[2019-01-16 20:37] #262 closed

[2019-01-17 09:59] marinapapa commented on #262
@nldoc more than fine with adding me to your Description file :blush: Thanks

[2019-01-17 11:59] emilyriederer commented on #274
@mpadge Really enjoyed reading your review! I really enjoyed hearing how you thought through it. Very interesting to see where we were aligned or to hear your perspective on the few places we differed. In particular, I do see your point on the `NULL` function defaults, so I retract my comment there. 😄

@pachamaltese I think I somehow missed the full context when I wrote my review that you seem to

[2019-01-17 12:04] pachamaltese commented on #274
@emilyriederer Yes, he API is totally mine. I am not using the OEC (I worked with them for ~3 yrs and they never credited me...but dirty clothes are washed at home!), That's what I am using UN data + my own cleaning scripts.

@emilyriederer @mdpage What do you think about adding a continent alias to the API (e.g. `yrp?y=2000&r=m-asia` where `m-asia` means "all ISO codes of countries in Asia)

[2019-01-17 20:05] sckott commented on #276
We just saw https://github.com/dansondergaard/tmhmm.py  which is a separate implementation, and so doesn't require the command line utility. Have you considered wrapping it with [reticulate](https://cran.rstudio.com/web/packages/reticulate/)? I don't know if it will work since the python lib has C code, but seems worth a try. If it works and if it means your pkg works on all platforms, and doesn't

[2019-01-18 00:50] jafflerbach commented on #264
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-01-18 09:12] richelbilderbeek commented on #276
Hi @sckott, thanks for your thoughts!

I fully agree that -in hindsight- I maybe should have used the program by @dansondergaard (yes, I think it's awesome!).

On the other hand, to throw useful (Linux-only) code away just for a potential superior alternative, seems like unpragmatic. Apparently, [ropensci editors are working on accepting bindings to single-OS tools](https://github.com/ropensci/dev

[2019-01-18 17:22] sckott commented on #276
Thanks for the reply and explanation. Sounds like we should wait to see what TMHMM person says.

[2019-01-18 17:33] emilyriederer commented on #274
@pachamaltese That sounds awesome! I can envision that adding a lot of value for users to have an intermediate step between country-level of global data. The only think I think of these is potential confusion if the continent refers to the reporter, partner, or both.

[2019-01-18 17:52] pachamaltese commented on #274
@emilyriederer what do you think about some "meta-variables" such as `c-am`, `c-af`, etc (i.e. "continent - americas"

[2019-01-20 18:55] emilyriederer commented on #274
@pachamaltese Apologies on my last comment. I realize now I misread yours! I thought the content aliases were being filtered by a new variable and not being passed through `r` and `p`. So please disregard that I said before. Really do love the idea of that sort of flexibility, though, and the `c-{}` structure seems pretty intuitive to me!

[2019-01-21 15:43] eebrown opened #277 "Pre-Submission Inquiry: tacmagic"
Submitting Author: Eric Brown (@eebrown)
Repository:   https://github.com/eebrown/PET/tree/devel

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.

[2019-01-21 17:31] edgararuiz commented on #271
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-01-21 18:21] sckott commented on #277
Thanks for your submission @eebrown Editors will discuss and get back to you soon

[2019-01-21 23:15] aaronwolen opened #279 "osfr: R interface to OSF"
Submitting Author: Aaron Wolen (@aaronwolen)
Repository: https://github.com/CenterForOpenScience/osfr
Version submitted: 0.2.1
Editor: TBD
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/

[2019-01-21 23:35] marcosci commented on #262
Did that, thanks again!

[2019-01-22 01:42] stefaniebutland commented on #262
Hello @nldoc and @marcosci and congratulations on passing peer review! Another one for you Marco.

Are you interested in writing a blog post or tech note?  This link will give you many examples of blog posts by authors of peer-reviewed packages so you can get an idea of the style and length you prefer: https://ropensci.org/tags/software-peer-review/.

Technotes are here: https://ropensci.org/techn

[2019-01-22 10:23] melvidoni commented on #271
@cboettig Reviews have been completed. Please, perform the corresponding changes, and comment again answering the reviewers with your updates.

[2019-01-22 11:12] maelle commented on #233
:wave: @kamapu! Happy New Year! Any update?

[2019-01-22 12:42] kamapu commented on #233
@maelle Happy New Year! I though, the day will come: I had no time but ways thinking about every day. Now I'll start the discussion with @zachary-foster

[2019-01-22 13:07] kamapu commented on #233
The discussion can be followed [here](https://github.com/kamapu/taxlist/issues/2)

[2019-01-22 13:51] aurielfournier commented on #256
Just a note to all involved that @birderboone and I are working on the edits (huge thanks to the reviewers!), we're just a bit slowed down by other things at the moment, but we should have everything addressed by February 5th. Thanks for your patience!

[2019-01-22 17:40] sckott commented on #279
thanks for your submission @aaronwolen

@maelle has been assigned as editor

[2019-01-22 19:37] cboettig commented on #271
Thanks both, this is super helpful.

@edgararuiz , I'm traveling at the the moment so won't have access to my Windows machine until next week when I can poke around more.  Definitely should not have to re-install each time though! A few questions meanwhile that can help me debug:

- When you run `vos_install()`, does this open the standard Windows installation dialog that asks you to install Virtu

[2019-01-22 20:15] eebrown commented on #277
Wonderful, thanks!

[2019-01-23 00:44] noamross commented on #254
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-01-23 08:11] maelle commented on #279
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-01-23 12:22] noamross commented on #276
Let me just comment here on how this package fits into overall scope given the proposed new scope definition at https://github.com/ropensci/dev_guide/pull/118

-   Yup, is a scientific and not a general system utility
-   This is a very thin wrapper - calling the program via `system` and returning the results as a string.  There's not any particular data handling/parsing (not that there _needs_ to

[2019-01-23 12:54] richelbilderbeek commented on #276
Thanks @noamross for the crisp overview over the decision making. I can fully understand would the submission not fulfil the criteria.

But I wonder, regardless of these points, it would save people time (especially beginner R users) to re-invent the wheel. The package does what it is made for well. If the goal of rOpenSci is to help people be more efficient with their time, then a pragmatic accep

[2019-01-23 18:52] sckott commented on #277
@eebrown we've decided it's in scope. we welcome a full submission

[2019-01-23 18:52] #277 closed

[2019-01-23 18:58] karthik commented on #267
@Bisaloo I'm still having trouble recruiting appropriate reviewers (many declines). Do you have any independent suggestions that I could approach?

[2019-01-23 19:00] karthik commented on #246
Thank you for your review  and recommendation @etiennebr!

I'll need a few more days to look everything over but I will make a decision early next week and advise next steps for @khufkens

[2019-01-23 21:49] eebrown commented on #277
That's great news. We will make the final preparations for submission. Thanks, @sckott.

[2019-01-24 19:36] jafflerbach commented on #264
I just wanted to follow up and it seems within the past week, the maintainers of ramlegacy.org have changed where the database is kept. It is [now hosted on Zenodo](https://sites.uw.edu/ramlegac/database/), which will require some changes to this package for accessing the data.

[2019-01-24 19:41] geanders commented on #264
Thank you to @boshek and @jafflerbach for your very thoughtful reviews!

@kshtzgupta1 : We now have both reviews in, so if you haven't already, you can begin in responding to the reviewers' comments and suggestions. In particular, it sounds like some changes to ram legacy.org, brought up by @jafflerbach, will require some package changes.

Please let me know if you have any questions as you prepar

[2019-01-24 20:42] Bisaloo commented on #267
@karthik, thanks for the update :+1: .

Here are some people with a colour science background that code:

- Felipe Gawryszewski is the author of the [colourvision](https://cran.r-project.org/web/packages/colourvision/index.html) R package but I just had a look and he doesn't import spectra. The user has to provide a dataframe as far as I understand.
- Cassie Stoddard developed the [tetracolorspace

[2019-01-24 21:45] boshek commented on #264
Also worth noting that the authors are now including (or maybe always had) an .RData file will and an R script to load the database into a users session much like what this package does albeit in a less refined way.

[2019-01-24 22:19] geanders commented on #264
@boshek : Just to clarify, you're referring to the "DBdata.RData" and "loadDBdata (assessment data only).r" files listed [here](https://zenodo.org/record/2542919#.XEo5hi2ZN8f), right?

[2019-01-24 22:37] cboettig commented on #264
Thanks everyone for great reviews and discussion, this is very helpful.  @kshtzgupta1 and I will need a bit more time to really work through and address all of these properly, but meanwhile will just make a few quick observations relevant to the immediate discussion.

@jafflerbach Thanks! Yes, we've been in discussion with Mike Melnychuk since September about moving the data to Zenodo to avoid the

[2019-01-25 14:58] richelbilderbeek commented on #209
[Submitted PR with draft of babette blog post](https://github.com/ropensci/roweb2/pull/415).

[2019-01-25 15:41] eebrown opened #280 "Submission: tacmagic - PET Analysis in R"
Submitting Author: Eric Brown (@eebrown)
Repository:   https://github.com/eebrown/PET
Version submitted:   0.1.9
Editor: Melina Vidoni (@melvidoni)
Reviewer 1: Jon Clayden (@jonclayden)
Reviewer 2: Brandon Hurr (@bhive01)
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our

[2019-01-25 16:31] aaronwolen commented on #279
Hi, @maelle! Thanks for checking out the package and I apologize for the delayed response—I’ve been out traveling most of this week and am still playing catchup.

I made the following changes based on your comments:

* added a code of conduct (centerforopenscience/osfr@e6db814)
* added a note to the README explaining a PAT is necessary to manage projects and upload files, along with a link to the

[2019-01-25 21:02] sckott commented on #280
thanks for your submission @eebrown - @melvidoni has been assigned as editor

[2019-01-26 03:19] cboettig commented on #269
@khondula @gothub @lmullen Thanks for these very helpful and detailed reviews!  I believe I have addressed all of these issues now.  I've made the edits in a separate branch and created a PR, https://github.com/cboettig/emld/pull/30 which I will leave un-merged for now, hopefully that provides an easy way to see the differences.  I've also summarized my replies to each of your point-by-point revie

[2019-01-26 15:08] lmullen commented on #269
Thanks for making these changes, @cboettig.

@khondula and @gothub: Could you please review these changes and make any further comments within one week, by Feb 2? If the package is now satisfactory, you can check of any remaining relevant boxes in your main review.

[2019-01-26 16:52] khufkens commented on #246
Thanks. Take your time, no rush. Previous version is still up and things only got better.

[2019-01-26 19:01] maelle commented on #279
Thanks @aaronwolen, great work! Sorry for missing the contributing guidelines! Two small suggestions:

* "Create a .Renviron file in the root of your project directory" or one could edit the existing general `.Renviron`/create one (that's what I did :-) ). You could mention the handy `usethis::edit_r_environ()` function for that.

* Regarding the long lines, you could add `# nolint` at the end of

[2019-01-26 19:50] aaronwolen commented on #279
Great suggestions! I did not know about `edit_r_environ()`—that package is just chock full of goodness.

[2019-01-28 08:07] maelle commented on #279
@aaronwolen Great definition of `usethis` :grin:

[2019-01-28 08:08] maelle commented on #279
@HeidiSeibold @cboettig Thanks for accepting to review this package! :smile_cat: Your reviews are due on 2019-02-20. As a reminder here's [our guide for reviewers](https://ropensci.github.io/dev_guide/reviewerguide.html) and [the review template](https://ropensci.github.io/dev_guide/reviewtemplate.html).

[2019-01-28 10:51] melvidoni commented on #280
### Editor checks:

- [X] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [X] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [X] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-01-28 13:20] eebrown commented on #280
Thank you very much @melvidoni. I've added the badge.

[2019-01-28 20:41] melvidoni commented on #280
Reviewers have been assigned: Jon Clayden (@jonclayden) & Brandon Hurr (@bhive01)
The due date for the reviews is February 22nd.

[2019-01-28 22:46] noamross commented on #254
Thank you Corinna Gries (@cgries) and Ben Bond-Lamberty (@bpbond) for agreeing to review!
Review due: 2018-02-18

[2019-01-29 14:00] richelbilderbeek commented on #276
Got this in return:

I suggest I retract this submission and use the TMHMM implementation suggested by @sckott.

Agree?

[2019-01-29 14:42] aaronwolen commented on #279
@maelle, a new version of purrr was *just* released that, unfortunately, introduced a bug in osfr. It's fixed in the [dev branch](https://github.com/CenterForOpenScience/osfr/tree/dev) but I wanted verify it's okay to merge the new version now that reviewers have been assigned?

[2019-01-29 14:48] maelle commented on #279
Congrats on fixing that bug so quickly! Yes I think it's fine, I don't think they started reviewing yet (feel free to disagree, @heidiseibold and @cboettig). In general we prefer a stable version but bug fixes are a good reason to change stuff. :smile_cat:

[2019-01-29 18:34] noamross commented on #263
New reviewer added: @jtr13, review due 2018-02-05

[2019-01-30 09:55] HeidiSeibold commented on #279
I will just add my review template below, so you know what I am up to :smile_cat:

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [ ] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in

[2019-01-30 10:00] maelle commented on #279
@HeidiSeibold live-updated review, that's open science for sure. :wink:

[2019-01-30 10:04] HeidiSeibold commented on #279
Question: what is the difference between:
`remotes::install_github()`
and
`devtools::install_github()`

The package README is instructing to use the former. Does that matter at all @maelle?

[2019-01-30 10:18] maelle commented on #279
@richfitz said "`devtools::install_github` calls `remotes::install_github` in recent devtools versions (since 2.0.0)" so there shouldn't be any difference. :-)

[2019-01-30 17:10] juyeongkim commented on #261
Ping @noamross

[2019-01-30 18:21] yulijia commented on #157
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2019-01-31 05:30] juyeongkim commented on #261
@noamross Awesome! 🍾

I've checked off everything in the to-do list:
[x] Transfer the repo to rOpenSci
[x] Add the rOpenSci header to README
[x] Fix links
[x] Add codemeta.json

I'd like to acknowledge my reviewers in my package DESCRIPTION and/or README. Would you like to be acknowledged, @seaaan and @czibman?

I would love to write a blog post about my package. (I still need to write blog posts

[2019-01-31 16:36] seaaan commented on #261
Sure!

On Wed, Jan 30, 2019 at 9:30 PM J. Kim <notifications@github.com> wrote:

[2019-01-31 21:50] edgararuiz commented on #271
Hi, sorry for the delay in the response, I've been out of town

In a new R session, when I run `vos_install()` it just runs silently and quickly.  And then when I run `vos_start()` it seems to start ok:
[code]

If I restart R, and just run `vos_start()` I get:

[code]

The log does not have any new entries.

Here are the results of the other commands you requested to run:

[code]

[2019-01-31 21:59] cboettig commented on #271
@edgararuiz No worries and thanks!  I think I have resolved some of these issues now, though I still have a few edge cases to work out, (including appveyor).  Can you test the `ropensci-review` branch, e.g. with

[code]

There's still one case I'm working on, if virtuoso server is already running but not controlled by the R session (e.g. because the user doesn't uncheck the box or an R session doe

[2019-01-31 22:58] stefaniebutland commented on #261
woohoo!
- Blog posts by authors of peer-reviewed packages so you can get an idea of narrative style and length you prefer: https://ropensci.org/tags/software-peer-review/
- Tech Notes: https://ropensci.org/technotes/
- Technical and editorial guidelines: https://github.com/ropensci/roweb2#contributing-a-blog-post

Give me an idea of when you would like to submit a draft via pull request. Don't wor

[2019-02-01 17:25] gothub commented on #269
@lmullen @cboettig I had a look at https://github.com/cboettig/emld/issues/29 and another look at the updated package and it looks great! Really useful contribution, thx!

[2019-02-02 14:30] kenarab commented on #157
Thank you for your feedback and advices @yulijia and @schloerke!
I just been father of tweens on last wednesday (1-30-2019) so I been full offline for some days. In next days we will analyse your feedback and write back.

We merged the PR  @schloerke made, but wondering about which style code did you use. We are based on [google style code (GSC)](https://google.github.io/styleguide/Rguide.xml). I

[2019-02-02 14:37] kenarab commented on #157
about @yulijia question 2:
[code]

They are development functions. We applied ` @noRd` as @noamross suggested so there are no documentation.
For a package like this, intended to be reproducible, we would prefer have a call like @devRd (A vigentte for developers) for any dev or collaborator who wants to reproduce the backstage would be able to do it.
Reproducible features for the  scraping process

[2019-02-03 23:12] pachamaltese commented on #274
@emilyriederer @mpadge
Hi. Sorry for the very long silence.
Today I worked on the changes. Are you ok about splitting the "get data" function in two functions?
I re-organized the data downloading part in:
1. `ots_read_from_api()`
2. `ots_create_tidy_data()`
Being the first more like an internal function, but still easy to use.

[2019-02-04 05:38] noamross commented on #157
@kenarab First, congratulations on becoming a new father, twice! 👶👶  Thank you @yulijia and @schloerke for your reviews.

Regarding code style: consistency is generally our rule.  The pattern we find most frequent is people use one form for user-facing functions, a different form for internal functions and R6 or S4 types.   With the split in this package user-facing and developer-facing functions,

[2019-02-04 07:41] HeidiSeibold commented on #279
I am trying to build the package on my computer (Debian):

[code]

The pandoc issue is probably something I have to fix.

How do you solve the authentication issue @aaronwolen?

The reason why I wanted to build it myself was to have a nicely viewable Vignette, which I apparently don't get if I install from GitHub.
[code]

[2019-02-04 07:48] maelle commented on #279
@HeidiSeibold I had the same authentication issues before @aaronwolen pointed me to https://github.com/CenterForOpenScience/osfr/blob/master/.github/CONTRIBUTING.md :-)

[2019-02-04 08:15] mpadge commented on #274
Hi @pachamaltese no worries, and equal apologies my side for not responding to your last couple of questions! As for your current Q: It seems to me that `ots_create_tidy_data()` returns everything that `ots_read_from_api()` does and more, and therefore the latter is not needed at all, I'd suggest. A single function is always less confusing - see analogous discussions in the recent review of [`stat

[2019-02-04 15:57] Bisaloo commented on #267
Here is the profile for a potential reviewer IMO. Maybe you will know someone who fits this description:

Someone who is familiar with file manipulation (`list.files()`, `path()`, `tempdir()`, `file_ext()`) and import (`unzip()`, `file()`, `readLines()`) in R, including binary files (`readBin()`, `intToUtf8()`) and XML files (via the xml2 package). Some metadata is imported through string manipula

[2019-02-04 18:53] schloerke commented on #157
Updating here as well. My personal configuration had `~/.R` require sudo to make new folders.  This is non standard.  By fixing my folder permissions, it fixed the function issue and test suite failure.  Sorry for the odd scare!

[2019-02-04 19:20] khondula commented on #269
@cboettig re: the `template` function - I think if I were more familiar with the EML package I would agree that it might fit there better, but it seems like a nice function to have since it might help a user get more familiar with eml if they are starting from scratch. The fxn documentation seems to still refer to it being used in the readme though ("see vignettes"), which might be confusing( unle

[2019-02-04 22:56] sckott commented on #276
What is "the model we have" exactly?

[2019-02-04 23:42] kenarab commented on #157
Thank you @noamross! The twins are in neonatology, but they are very good. They are growing really fast and will go to home soon.

Dear @yulijia and @schloerke and @noamross . We implemented most of suggestions.
* We configured lintr for CamelCase and DotCase. Removed Snake case and found some internal inconsistencies, but most were related to dependencies, specifically testthat. For avoiding lint

[2019-02-05 17:30] stefaniebutland commented on #266
Hi @Robinlovelace. Can you suggest a date by which you'd like to submit a draft blog post?

[2019-02-05 22:30] cboettig commented on #269
@khondula @gothub Great!  Thanks to you both for the constructive reviews.  I've gone ahead and merged my own PR now.

@khondula
I rebuilt the [vignette](https://cboettig.github.io/emld/articles/tutorial.html), should have no mention of the `template()` function there now and I didn't see anything in searching for `template` in any of the main user facing functions.  It's still in the package as a

[2019-02-06 00:43] aurielfournier commented on #256
Thanks to the reviewers (@bmkramer , @njahn82) to providing several useful links to resource that made addressing their comments much easier! Your comments were very helpful and constructive and the package is much better off for them, we really appreciate your time!

First, if you look at the repo, you will see that build is failing. This is because all of [this happened](https://github.com/dkahl

[2019-02-06 04:40] jtr13 commented on #263
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-02-06 06:14] cboettig commented on #271
@edgararuiz Okay, can you install `install_github("cboettig/virtuoso@ropensci-review")` and give it a second run?

@czeildi Thanks for the stellar review, I think I've addressed each of the issues you've raised now as well.  you can see all the changes I've made in response to both of your reviews so far in this open PR, https://github.com/cboettig/virtuoso/pull/25, hopefully makes it somewhat eas

[2019-02-06 07:48] maelle commented on #256
:wave: @aurielfournier @birderboone! Thanks for your answer.

You can do that! See https://docs.travis-ci.com/user/languages/r/#remote-package :-)

@njahn82 @bmkramer thanks again for your reviews. Are you happy with the authors' response above?

[2019-02-06 10:28] Robinlovelace commented on #266
Sure, how's a week tomorrow? In other words,

[code]

<sup>Created on 2019-02-06 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-06 10:44] Robinlovelace commented on #266
Resulting Calendar invite (cc @layik ): https://github.com/ATFutures/calendar/releases/download/0.0.1/e.ics

[2019-02-06 15:16] aurielfournier commented on #256
Thanks for the link @maelle

I've added in the needed argument to the travis yml file, and the build still isn't working, though all the tests pass on my machine when I use the github version of ggmap, though it did take restarting everything to make that happen

So I'm not sure what is going on. :/

[2019-02-06 15:27] richelbilderbeek commented on #276
This one: [https://github.com/dansondergaard/tmhmm.py](https://github.com/dansondergaard/tmhmm.py)

[2019-02-06 15:52] dansondergaard commented on #276
@richelbilderbeek, I believe @sckott referred to the model used for the CBS software, not what the alternative is :)

[2019-02-06 17:27] sckott commented on #276
Agree, makes sense to use https://github.com/dansondergaard/tmhmm.py

[2019-02-07 03:25] aurielfournier commented on #256
Ok! I worked with some of the awesome ladies over in R-Ladies today, and we figured out the issue.

Its actually an issue with `ggmap`. Jenny Bryan opened up an issue in [their repo about it. ](https://github.com/dkahle/ggmap/issues/264).

The solution that Jenny suggested was adding
`options(ggmap = list(display_api_key = FALSE))` at the top of `authors_georef.R` and now the build is passing.  🎉

[2019-02-07 05:28] maelle commented on #256
Awesome, well done you and Jenny!

[2019-02-07 12:57] aaronwolen commented on #279
Hi, @HeidiSeibold! I just noticed your edits and responded below:

The default behavior is to throw the following error

[code]

---

I've run into this several times myself. I'm considering adding a startup message that informs the user when `OSF_SERVER` is defined and they're running on the test server.

---

The `n_max` argument determines how many components will be listed (really just limitin

[2019-02-07 18:50] jennybc commented on #256
If you're going to set the option in this way, which seems reasonable for a semi-temporary workaround, you should technically be a bit more careful to put things back the way you found them. You only want your value of `FALSE` to hold for the duration of this function's execution.

At the place where you set the option, you could capture the existing value and immediately use `on.exit()` to schedu

[2019-02-08 10:22] DillonHammill opened #281 "Submission: CytoRSuite - Flow Cytometry Analysis Toolkit"
Submitting Author Name: Dillon Hammill
Submitting Author Github Handle: @DillonHammill
Repository:   https://github.com/DillonHammill/CytoRSuite
Version submitted:   0.9.9
Editor: @geanders
Reviewers: @jacobpwagner, @lmweber
Due date for @jacobpwagner: 2019-04-22
Due date for @lmweber: 2019-04-22
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below

[2019-02-08 16:54] geanders commented on #264
@kshtzgupta1 : It's no problem that it will take a bit longer than for your response than we usually ask for, especially given some of the changes in ramlegacy.org that affect the package. I was wondering, though, if you have a rough timeline to share with the reviewers? Just a rough idea would be fine.

[2019-02-08 18:17] stefaniebutland commented on #210
@azizka I see your manuscript is submitted to MEE. Wishing you a smooth process

[2019-02-08 18:54] stefaniebutland commented on #261
@juyeongkim following up. I know it's 💯hard to do all the work AND write a post. We would really love to help get more eyes on your work but I don't want to bug you. Let me know if you want me to pester you about scheduling a post of your choice.

[2019-02-08 20:56] karthik commented on #267
Thanks you @Bisaloo
I have reached out to more folks and will update this thread very soon. Apologies again for this unusual delay.

[2019-02-09 03:22] sckott commented on #281
thanks for your submission @DillonHammill - @geanders has been assigned as handling editor

[2019-02-09 09:14] czeildi commented on #271
@cboettig  I checked your pull request, looks great, now I am happy to recommend approving virtuoso.

Thanks for replying point-by-point and in detail.

I found one small typo: in `vos_connect.R` Default parameters are *approporiate*

Regarding the datalake article:
- the readme works for me fully
- the problem is not related to that chunk: my virtuoso process is killed after some time seemingly w

[2019-02-10 19:46] emilyriederer commented on #274
@pachamaltese Sorry for the slow reply!

@mpadge Are you recommending having fewer total functions or fewer *external* functions? I think the modularization of this function might be related to parts of my feedback that breaking out more internal helper functions might allow for more specific testing. The discussion you point to is very interesting, though, so I can definitely see pros/cons either

[2019-02-11 11:24] ThierryO commented on #263
Thank you for your feedback, @jtr13.

## Documentation comments

I'll update the README (see https://github.com/inbo/git2rdata/issues/12). A CONTRIBUTING.md file is present in the `.github` folder. A link will be added to the README.

I'll add a some comments to the examples in the help files.

## General comments

I'll probably separate (and elaborate) the current vignette into several vignettes.

[2019-02-11 12:18] HeidiSeibold commented on #279
@maelle I have trouble checking

* [ ]  **Vignette(s)** demonstrating major functionality that runs successfully locally

and

- [ ] **Examples** for all exported functions in R Help that run successfully locally

because for many examples it does not make sense to run them without modification. I will just check them anyway because I can use and modify the examples so it works for me.

[2019-02-11 15:00] maelle commented on #279
@HeidiSeibold I'm not sure I understand your problem?

[2019-02-11 15:51] HeidiSeibold commented on #279
Sorry, I'll try to clarify:

Many examples should not be run, because they would upload data to osf and you don't want the same data to be uploaded to osf every time someone tries the package. So there is a dont-run-example, which I modify and then try, so I actually upload useful things to osf.

Same for the vignette.

[2019-02-11 15:59] aaronwolen commented on #279
Thanks for the additional comments, @HeidiSeibold!

  I wanted to make sure you saw my [previous comment](https://github.com/ropensci/software-review/issues/279#issuecomment-461408478) that mentions using the `n_max` argument to specify the max number of results returned by `osf_ls_nodes()`. I updated the docs to indicate that `n_max = Inf` will retrieve *all* results for a query (CenterForOpenSci

[2019-02-11 17:37] stefaniebutland commented on #210
@azizka, Scott Chamberlain who is the rOpenSci point person for the MEE collaboration told me that the coordinatecleaner paper will be published on 21 Feb - and MEE asked if we can coordinate blog post timing.

This would be great to bring more attention to your work if we can coordinate. Do you think you could have a draft post submitted by Thurs Feb 14 or Fri 15th this week? That would give me t

[2019-02-11 19:00] bhive01 commented on #280
@eebrown, Is there a way to get more example files than the built in ones? I don't have a PET device to pull from. I just want to throw as much at it as I can.

[2019-02-11 19:17] eebrown commented on #280
Hi @bhive01, thanks a lot for agreeing to review this package! You've probably seen the data in inst/extdata, with 3 participants in .tac/.voistat format, 1 in magia's .mat format and sample data in DFT. Off hand I don't have any more publicly available analyzed data for testing but I may be able to generate some more for you.

[2019-02-12 01:02] kshtzgupta1 commented on #264
@geanders : Apologies for replying so late. We are working to incorporate some of the changes suggested by the reviewers as well as improve the package to better deal with the migration of the latest versions to Zenodo. I will be meeting with Prof. Boettiger this Thursday to finalize those changes after which I will submit the pull request addressing each of the reviewers' comments.

[2019-02-12 01:04] geanders commented on #264
@kshtzgupta1 : No problem at all! Thanks for the update.

[2019-02-12 15:03] eebrown commented on #280
Hi again @bhive01. I've found some .tac and .dft sample files [sample_tac_files.zip](https://github.com/ropensci/software-review/files/2856307/sample_tac_files.zip) from the open source PET analysis C library from the Turku PET centre (www.turkupetcentre.net). I have had to make some minor changes to the tac loading functions to support some idiosyncrasies with the files, so I have updated the dev

[2019-02-12 15:19] melvidoni commented on #280
@eebrown If the changes are not too fundamental (only for the examples), you can then merge the changes once you have received the reviews.

[2019-02-12 17:32] DomBennett opened #282 "outsider -- submission"
Submitting Author: Dom Bennett (@dombennett)
Repository:   https://github.com/AntonelliLab/outsider
Version submitted:   0.0.0
Editor: @annakrystalli
Reviewer 1: @nuest
Reviewer 2: @hrbrmstr
Archive: TBD
Version accepted: 0.1.0

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https

[2019-02-12 18:06] pachamaltese commented on #274
@mpadge @emilyriederer
sorry for the slow response, in a move to make everyone happy I moved the "read from api part" to an internal function, so that the code is divided in smaller parts and the user is not exposed to a ton of functions

with this I can say all the indications, except for the "less tidyverse part", are complete (I love the tidyverse)

[2019-02-12 19:33] sckott commented on #282
thanks for your submission @DomBennett - in `Repository: AntonelliLab/outsider` can you give the url instead please

[2019-02-12 19:45] mpadge commented on #274
Sounds great @pachamaltese. And with due apologies for delayed reponse @emilyriederer, I was definitely intending something along the lines of "fewer *external* functions", not in a way necessarily related to testing at all. So pretty much what @pachamaltese has now implemented. And finally does "all the indications ... are complete" suggest you now think the package is sufficiently stable for us

[2019-02-12 19:49] pachamaltese commented on #274
@mpadge yes! I've edited a lot, you can get a 2nd look and after that I can do more changes if required

[2019-02-12 20:16] DomBennett commented on #282
Done!

[2019-02-12 20:17] sckott commented on #282
we're discussing now

[2019-02-12 20:45] mpadge commented on #274
It'll likely be later this week, but i'll get on to it asap. Thanks! :smiling_imp:

[2019-02-12 22:11] bhive01 commented on #280
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-02-12 22:48] karthik commented on #267
After numerous delays (thanks for the patience), assigning reviewer 1.

@kjuraic
Deadline:  March 5, 2019

@kjuraic  Please email or reach out if you have any trouble during the review process. 🙏

[2019-02-13 01:38] eebrown commented on #280
Dear @bhive01, thank you very much for your thoughtful thorough review and very helpful suggestions. I look forward to incorporating them into the package and will get back to you here.

[2019-02-13 09:40] HeidiSeibold commented on #279
Thanks @aaronwolen for your answers. They are very helpful and I hope I am helpful in making your package even better than it is already :wink:

Sorry, yes I did read it but immediately forgot. Works now!

Yeah I do agree that a bit more detail would be helpful. Some examples:

- Does `meta` always have only one list item `data`?
- What is the meaning of:
    * `attributes`
    * `links`
    * `re

[2019-02-13 13:49] noamross commented on #263
Thanks @brodieG and @jtr13 for your reviews, and @ThierryO for your thoughtful comments.  I think this discussion has helped clarify the workflows that the package does and does not try to address, and the extended documentation you discuss would go a long way in helping users understand this.

A couple of observations: dependency weight and the return of tibbles seems to be one of the most conten

[2019-02-13 14:03] jonclayden commented on #280
@eebrown I'm tied up with teaching this week, so I will be a little less efficient than @bhive01, but you'll have my review next week before the deadline. All the best.

[2019-02-13 14:18] eebrown commented on #280
Thanks for checking in @jonclayden--and thanks for fitting this review into your schedule. I look forward to it! In the meantime I will be addressing the suggestions by @bhive01 but will keep them on the devel branch.

[2019-02-13 17:38] bhive01 commented on #280
Just want to say thanks for writing the package @eebrown. I think it does what it says on the tin pretty well. I also want to say that you should take many of the suggestions as just that. If they make sense apply them when you can, if they don't, don't worry about it.

[2019-02-13 22:08] sckott commented on #282
thanks for your submission. @annakrystalli has been assigned as handling editor

[2019-02-13 23:01] dkahle commented on #256
That problem should be fixed from __ggmap__'s side now (with 0c68d5c); let me know if that doesn't do it. Sorry for the problem!

[2019-02-13 23:44] cgries commented on #254
## Package Review

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly stating problems the software is designed t

[2019-02-14 08:15] yulijia commented on #157
Hi @kenarab, sorry for the delayed reply.
Thank you for answer all my questions, I have checked all the document again, and they are fine now.
Congratulation for the twin.

[2019-02-14 14:21] noamross commented on #157
Thank you all.  @yulijia and  @schloerke, please let us know if @kenarab's changes have addressed all your comments. If you have any additional comments on interface or use cases that you may not have gotten to while working through testing and documentation issues, feel free to provide these, as well.

[2019-02-14 14:59] annakrystalli commented on #282
Hello @DomBennett!

Just starting with the editors checks now. Will get back to you with any initial feedback and next steps shortly.

[2019-02-14 15:35] schloerke commented on #157
Good to me!

Took me a couple times to realize the Google Coding Style is a mixed style to help identify a variable vs a package function.  I've been trained on a "all or nothing" style (preferring snake case, which google does not like).

[2019-02-15 00:32] stefaniebutland commented on #266
Checking in to see if you might have a draft post submitted on Friday. Would love to publish 2019-02-19, but we can publish whenever it's ready

[2019-02-15 08:56] Robinlovelace commented on #266
I think that may be doable...

[2019-02-15 11:41] bpbond commented on #254
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-02-15 12:31] Robinlovelace commented on #266
Here's the blog post: https://github.com/ropensci/stats19/blob/master/vignettes/blog.Rmd

Any comments/suggestions welcome. Think this is good to go!

[2019-02-15 12:37] Robinlovelace commented on #266
@stefaniebutland one thing: may be worth holding fire: I've just submitted stats19 0.2.0 to CRAN - will be good if the new features are available on the CRAN version when this drops.

[2019-02-15 16:03] Robinlovelace commented on #266
Another update: after some tweaks the article can be found here: https://itsleeds.github.io/stats19/articles/blog.html

[2019-02-15 16:05] Robinlovelace commented on #266
Update: just saw previos messages and am taking a look here https://github.com/ropensci/roweb2#contributing-a-blog-post

[2019-02-15 16:31] eebrown commented on #280
# Response to @bhive01

Thank you again for taking the time to thoroughly review the package. I have implemented many of your suggestions on the devel branch as indicated below. I noticed you skipped the JOSS section -- I am not sure if this is done later in the review, but I would like to submit to JOSS after the reviews.

 [...]

I am not sure what to make of the WARNING and ERROR you see with g

[2019-02-15 16:58] stefaniebutland commented on #266
We can absolutely wait till it's on CRAN.

Thank you for getting the draft done. I'll do a proper review once it's submitted as a pull request (so I can check the technical issues at same time as the content)

[2019-02-15 16:59] brodieG commented on #263
@ThierryO I see that you have made several changes.  Do you have a new version we should work off of now (if you do, a tag of that version would be great)?  Do you have other changes in the works we should wait for you to complete before we move to the detailed review?  @noamross what's the time frame for the detailed review?  One thing I'm wondering is whether it makes sense to wait for the vigne

[2019-02-15 18:44] noamross commented on #263
@brodieG I suggest waiting for @ThierryO to complete current changes including vignettes before giving the package another look.

[2019-02-15 20:19] kenarab commented on #157
Dear all:

We have made cleanup of Rpolyhedra repo. If you have uncommited code or PR,
please clone the repo again before making changes.

Best, Ale.

On Thu, Feb 14, 2019 at 12:35 PM Barret Schloerke <notifications@github.com>
wrote:

--
 alejandro baranek
@ken4rab <https://twitter.com/ken4rab>
qbotics <http://qbotics.tumblr.com/> | rpolyhedra
<https://qbotics.shinyapps.io/rpolyhedra-explorer/?_i

[2019-02-16 00:10] lmullen commented on #269
Thank you @gothub and @khondula.

@cboettig We can consider this accepted now. Here are some post-review things for you to do.

- [ ] You are clear to submit the package to CRAN.
- [ ] Could you please transfer the repository to rOpenSci? Once you've done that I'll give you admin rights back.
- [ ] Please add an rOpenSci footer to the repository README. [![ropensci_footer](https://ropensci.org/pub

[2019-02-16 00:10] #269 closed

[2019-02-16 00:12] lmullen commented on #269
@cboettig Some other things pertaining to the JOSS submission.

- [ ] After the repository has been transferred, please generate a new release with a DOI. You may wish to wait until after CRAN acceptance.
- [ ] Please submit the paper to JOSS: http://joss.theoj.org/papers/new

Once you've submitted the paper, please let me know the URL to the submission and I will confirm that it has been peer rev

[2019-02-16 14:49] annakrystalli commented on #282
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [x] **Archive** (JOSS only, may be post-revie

[2019-02-17 19:12] edgararuiz commented on #271
@cboettig -

I'm getting the follow when using the new branch:

[code]

[2019-02-17 19:46] cboettig commented on #271
Thanks, hm, can you double check you are using the version installed from
the branch and not from master?

On Sun, Feb 17, 2019 at 11:12 AM Edgar Ruiz <notifications@github.com>
wrote:

--
---
Carl Boettiger
http://carlboettiger.info/

[2019-02-17 20:16] edgararuiz commented on #271
Yes sir, here's a `reprex`:

[code]

<sup>Created on 2019-02-17 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2019-02-18 08:04] ThierryO commented on #263
I'm working on the package in my spare time. I'll notify when a new version is available for review.

[2019-02-18 08:53] ThierryO commented on #263
@noamross : what is the policy on suggested packages? I'm thinking about using ggplot2 for plots in the vignettes.

[2019-02-18 11:26] layik commented on #266
@Robinlovelace and @stefaniebutland

I have now gone through `hugo` instructions to get the post ready for a PR. Slight issue with parsing date or maybe that is even expected in dev mode.

I will send the PR and we can take it from there.

[2019-02-18 12:51] DomBennett commented on #282
Hi @annakrystalli

Thanks for the editor checks. I hope I've managed to correct the issues you raised!

Do you have any advice on running tests across different R versions (oldrel, release and devel) locally? Looks like I'd need to set up multiple virtual environments and install and run tests in each one; a bit of a palava.

Thanks!
Dom

[2019-02-18 12:56] aaronwolen commented on #279
Thanks again, @HeidiSeibold. I'll be sure to include more details about the `meta` column in the next release. We're also planning to add a function that allows users to easily retrieve useful information about OSF objects from `meta` but I'm still working on the implementation.

I also think a cheatsheet is a great idea, it's definitely on the todo list. The OpenML cheatsheet is a really nice exa

[2019-02-18 18:30] cboettig commented on #271
@edgararuiz very weird.  Still works for me, and the current branch also has a fallback mechanism it should use if the binary really was not reproducible, so this error looks like only what I can get on master branch.  You also restarted R as well?

Can you show me what you see by running `virtuoso:::download_windows_installer` (no parens, to show function def).  The new branch should show like th

[2019-02-18 18:45] jonclayden commented on #280
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-02-18 20:18] annakrystalli commented on #282
Hi @DomBennett,

Thanks for the swift action!

So we've opened an[ issue in the `dev_guide`](https://github.com/ropensci/dev_guide/issues/132) regarding this (feel free to contribute to the discussion) and have outlined a couple of suggestions.

The main approach to test locally would be to use Rocker Docker images with different tags. Get different version with eg `docker run -v $(pwd):/pkg rocke

[2019-02-19 14:17] edgararuiz commented on #271
Hi @cboettig , it's all good now. For some reason the `vos_install()` started working this morning.  Must have been something on my side, sorry for that.

The short of it, is that **I'm good to go with this version**, I was able to run some basic stuff, with out problems:

[code]

<sup>Created on 2019-02-19 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

Having said that ther

[2019-02-19 14:24] melvidoni commented on #271
Please, @edgararuiz and @czeildi, let me know when you are giving the OK for the onboarding!

[2019-02-19 14:32] edgararuiz commented on #271
Yes, I am giving the OK for onboarding.  Thank you @melvidoni

[2019-02-19 15:00] eebrown commented on #280
Thank you very much @jonclayden for the thorough review and great suggestions. I will address each and report back here.

[2019-02-19 16:40] czeildi commented on #271
I am giving the OK too! @melvidoni

[2019-02-19 16:50] melvidoni commented on #271
Approved! Thanks @cboettig  for submitting and @edgararuiz and @czeildi  for your reviews!

### To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer to the bottom of your README

"```
[![ropensci_footer](https://ropens

[2019-02-19 16:52] melvidoni commented on #271
Approved! Thanks @cboettig  for submitting and @edgararuiz and @czeildi  for your reviews!

### To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer to the bottom of your README

"```
[![ropensci_footer](https://ropens

[2019-02-19 22:01] kshtzgupta1 commented on #264
@geanders @boshek @jafflerbach Thanks for these very helpful and detailed reviews! I believe Prof. Boettiger and I have addressed most of these issues now. Among other things, we have removed the loading behavior of `library(ramlegacy)` leaving the loading solely to `load_ramlegacy ` which instead of assigning all the tables to global environment now just returns a list of the tables. Additionally

[2019-02-20 00:23] stefaniebutland commented on #271
@cboettig You're always welcome to write a post, but I recall you said earlier that you prefer to save your writing energy for papers. 🙂

[2019-02-20 05:45] maelle commented on #256
@njahn82 @bmkramer thanks again for your reviews. Are you happy with the authors' response above?

[2019-02-20 05:46] maelle commented on #279
:wave: @cboettig, friendly reminder that your review is due today. 😸

[2019-02-20 10:36] DomBennett commented on #282
Thanks @annakrystalli! I'll look into using rocker and keep an eye on the issue in the dev_guide.

[2019-02-20 21:19] maurolepore opened #283 "Pre-submission inquiry. ghr: Explore & access GitHub directories"
Submitting Author: Mauro Lepore (@maurolepore)
Repository:   https://github.com/maurolepore/ghr

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

[2019-02-21 02:47] eebrown commented on #280
## Response to @jonclayden, Review #2

Thanks for the suggestion; I have tried to clarify this in the background of the vignette, along with updates that take into account the rest of your feedback below. [devel b88c9e6]

I think this makes sense and will help with future expansions. I've used the "tac" class and changed plot_tac to a plot.tac method, and added a print.tac method for a quick summa

[2019-02-21 11:11] jonclayden commented on #280
Thanks for the response, Eric. I will check out the updated package shortly, but in the meantime, I just want to follow up on my point 5.

I understand the desire to allow only one target, and to allow for the possibility of new fitting methods in the future. But my suggestion was to use a single function with a signature along the lines of
[code]
which would allow calls such as
[code]
while also

[2019-02-21 12:53] eebrown commented on #280
Thanks for clarifying @jonclaydon. I can do this and it makes sense. In the future I may have to switch to the ellipsis rather than the specific parameters as other DVR models need different parameters.

[2019-02-21 17:26] jonclayden commented on #280
Sure, that makes sense – you could keep `DVR_ref_Logan()` as a method-specific function and create `dvr()` as a wrapper with an ellipsis argument, for example.

Everything else looks good, although you may want to implement an indexing method, `[.tac`, or make your `print` method slightly more defensive so that you don't need to coerce back to a data frame when subsetting.

[2019-02-22 02:23] eebrown commented on #280
I changed print.tac to summary.tac because it seems to fit better and keeping print as the fallback data.frame style print output works better with other generic functions. I also created an as.tac() function to create tac objects from data frames, and added an explanation to the vignette. [devel f5cb2f9]

I added the dvr() wrapper function with tests and updated the vignette. [devel 578a89b]

[2019-02-22 05:22] boshek commented on #264
Nice work @kshtzgupta1. @geanders I won't be able to look at this until late next week but can prioritize it then.

[2019-02-22 07:40] annakrystalli commented on #282
We now have reviewers! 🎉
Thanks for agreeing to review @hrbrmstr & @nuest. Please feel free to reach out with any questions

---

Reviewers: @hrbrmstr, @nuest
Due date: 2018-03-17

[2019-02-22 12:24] jonclayden commented on #280
Looks good! Thanks for being so receptive. I'll mark my approval on the review.

[2019-02-22 12:29] melvidoni commented on #280
Thank you @jonclayden. Please, let me know your thoughts, @bhive01?

[2019-02-22 13:03] AldoCompagnoni commented on #254
Dear all,
Thank you for the very useful feedback!

I have identified several points on which to focus our work in the next few weeks:

1. There needs to be the ABC on the database structure, probably in a separate Vignette, or in an existing Vignette.
We're already working on this, and we estimate uploading the schema and description by March 10th.
To address a comment by Corinna, if you are curio

[2019-02-22 16:34] cboettig commented on #279
sorry I'm late!  😊

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your r

[2019-02-22 17:45] cboettig commented on #271
Thanks @melvidoni !  I've transferred the repo and updated links.  Preparing CRAN submission...

[2019-02-22 17:47] maelle commented on #279
Thanks @cboettig!😸

@heidiseibold are you done with your review? If so please update the "Estimated hours spent reviewing:" field. 🙂

[2019-02-22 18:25] csoderberg commented on #279
Thanks for the comments @cboettig.

You should only need authentication to make edits to projects, or to download private files. Any public node or file can be accessed without authentication. So `osf_retrieve_file('fgjvw') %>% osf_download` should work without a key. Are you getting an error, or do we just need to make it more clear in the documentation what can be done without authentication?

Y

[2019-02-22 19:39] cboettig commented on #279
Re 404 error: thanks, yes, I'm able to get this to work in a fresh session where I have not set `OSF_SERVER=test` in .Renviron.  I am not able to get it to work though in the session where I have set `test` in `.Renviron`, even after I run `Sys.unsetenv(c("OSF_SERVER", "OSF_PAT"))` though, which I would have thought would be sufficient.  Can you see if you get a 404 if you set `test` in the `.Renv

[2019-02-22 22:45] bhive01 commented on #280
I have marked it for approval as well @melvidoni . Thanks @eebrown for taking onboard so many suggestions in a short period. It was a lot of work I'm sure.

[2019-02-23 05:44] cboettig commented on #269
Thanks @lmullen !  I've now completed the transfer to rOpenSci, and created the submission to JOSS at http://joss.theoj.org/papers/7e9064114c9a8d6756ef500cb5bc5d2b

[2019-02-25 01:31] noamross commented on #157
Approved! 🎉Thanks @kenarab for submitting and going through what has been a long read, and and @yulijia and @schloerke  for your reviews!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer to the bottom of your READ

[2019-02-25 01:36] noamross commented on #263
Sorry for the late reply on this one, @ThierryO.  Suggested packages are are fine, especially for the purpose of displaying outputs in vignettes.

[2019-02-25 10:36] melvidoni commented on #271
Thank you @cboettig! You will be given admin rights shortly.

[2019-02-25 10:40] melvidoni commented on #280
Approved! Thanks, @eebrown for submitting and @bhive01 and @jonclayden for your reviews! <optional: smiling cat emoji à la Scott>

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer to the bottom of your README
[code

[2019-02-25 12:38] eebrown commented on #280
Thanks very much @melvidoni. This has been a fun and useful process (with great international collaboration!) I will make the needed badge changes and also would like to increment the package version to 0.2.0 given the number of changes implemented during the review. Do I then proceed with the JOSS submission at that point?

I would love to acknowledge the reviewers as rev contributors in the desc

[2019-02-25 12:50] melvidoni commented on #280
@eebrown Doing the JOSS submission is not mandatory. That is only if you want, in which case, it should have been stated in the opening post.

Also, you tagged @jonclayden incorrectly, so please Jon, read the comment before this!

[2019-02-25 12:54] eebrown commented on #280
Hi @melvidoni, sorry for the confusion--I think I did indicate that I wanted to submit to JOSS in the original post (it is checked) and I did included a paper.md and bib file for this purpose. Please let me know if I missed something so I can fix it if possible.

[2019-02-25 13:09] jonclayden commented on #280
I reviewed the package on the basis of it being submitted for JOSS, and have ticked off those points in my review. Many thanks @eebrown for the offer of the acknowledgment, which I'm more than happy to consent to. My ORCID is 0000-0002-6608-0619.

[2019-02-25 13:51] robbriers opened #284 "cde package submission"
Submitting Author: Name (@robbriers)
Repository:   https://github.com/robbriers/cde
Version submitted:   0.3.0
Editor: @sckott
Reviewer 1: @boshek
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guid

[2019-02-25 15:07] melvidoni commented on #280
@eebrown I don't know why, but I don't see the box ticked on the opening post for the issue. Nevermind this, I apologize for the misunderstanding.

I have added [three additional to-dos on the approval comment](https://github.com/ropensci/software-review/issues/280#issuecomment-466962697) and I need you to tackle those as well. Do everything before submitting to JOSS, please. You should have alrea

[2019-02-25 16:01] bhive01 commented on #280
I also consent to the inclusion as a reviewer. My orchid ID is 0000-0003-2576-4544.
Apologies for the lack of JOSS stuff in my review. I was less sure about that part. Sounds like Melina has you on track @eebrown.

[2019-02-25 16:52] kenarab commented on #157
Wow! Gr8!! Thank you again @noamross, @schloerke @yulijia for your time.

I added the 3 of you as reviewers. If you want changes, please make a PR with them.

Excellent! We will read the corresponding chapters and planning to write a blog post for being included in (https://ropensci.org/tech-notes/) and/or (https://ropensci.org/tech-notes/)(https://ropensci.org/blog/)

As I already transferred the

[2019-02-25 17:42] eebrown commented on #280
Hi @melvidoni, I've done all the post-review steps up to the Zenodo part. In Zenodo, I see the repositories under my numb but not the ropensci tacmagic repository, so I have not been able to turn on tracking for it yet. I am not sure whether that's something I would need admin status for, if I don't already have that. Thanks for your help.

[2019-02-25 18:35] geanders commented on #264
@kshtzgupta1 : Thanks so much for these revisions! Could you insert a link in your comment to the Issues where you give point-by-point reviews? That would help @boshek and @jafflerbach find them more easily.

@boshek : Thanks for letting me know your timeline. That works fine.

[2019-02-25 19:01] geanders commented on #264
Actually, @kshtzgupta1, could I ask you to copy your point-by-point responses over to this thread? It would be great to keep the full conversation on a single thread.

[2019-02-25 19:23] geanders commented on #281
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-02-25 19:25] geanders commented on #281
Also, @DillonHammill, could you add the following badge to your package GitHub repository README to show that it's currently under review at ROpenSci?

[code]

[2019-02-25 19:39] noamross commented on #157
Great. Admin privileges assigned.  Please don't include editors as `rev` contributors, we would be on too many 🙂 .

[2019-02-25 19:46] kenarab commented on #157
Thank you, Noam!

I looked through `?person`and saw there is no role for editor. So you will
not be mentioned in authors@R, ok?

Can you please invite @leobelen to RopenSci and add him to Rpolyhedra team?
I see have no privileges for doing and he is actually an author of the
package.

Best, Ale.

On Mon, Feb 25, 2019 at 4:39 PM Noam Ross <notifications@github.com> wrote:

--
 alejandro baranek
@ke

[2019-02-25 19:57] sckott commented on #283
Thanks for your submission @maurolepore ❗️ ❗️

We have discussed and we have decided this submission is out of scope. Referencing our scope page https://ropensci.github.io/dev_guide/policies.html#package-categories under __data retrieval__ retrievavl packages should be focused on data sources/topics rather than services

[2019-02-25 19:57] #283 closed

[2019-02-25 20:04] sckott commented on #109
@noamross i imagine we can close this?

[2019-02-25 20:05] sckott commented on #133
According to our policies https://ropensci.github.io/dev_guide/policies.html#review-process it's been more than 1 year since this has been on hold (holding label) and will now be closed.

[2019-02-25 20:05] #133 closed

[2019-02-25 20:09] noamross commented on #92
Closing this submission as it has been dormant for > 1 yr.  Authors may re-submit if they would like to continue the process.

[2019-02-25 20:09] #92 closed

[2019-02-25 20:09] sckott commented on #223
@bnasr be aware that our policies https://ropensci.github.io/dev_guide/policies.html#review-process state that this issue will be closed after one year from applying the holding label (jul 2019) and you'll need to resubmit

[2019-02-25 20:09] noamross commented on #113
Closing this submission as it has been dormant for > 1 yr.  Authors may re-submit if they would like to continue the process.

[2019-02-25 20:09] #113 closed

[2019-02-25 20:10] sckott commented on #236
@jackwasey  be aware that our policies https://ropensci.github.io/dev_guide/policies.html#review-process state that this issue will be closed after one year from applying the holding label (jul 2019) and you'll need to resubmit if the issue is closed

[2019-02-25 20:11] sckott commented on #174
👋  @mdsumner just a heads up that our policies https://ropensci.github.io/dev_guide/policies.html#review-process state that issues will be closed after one year from applying the holding label (mar 2019, next month) and you'll need to resubmit if the issue is closed

[2019-02-25 21:03] maurolepore commented on #283
Thanks @sckott for your consideration. I'm sorry to have misinterpreted the scope; I hope I didn't waste too much of you time. Next time I'll be sure to see more examples and in more detail before I decide if my submission would be a good fit.
:)

[2019-02-25 21:49] sckott commented on #283
No need to say sorry! Not a waste of our time at all.  And don't take this decision as reflective of the quality/etc. of your pkg, it's just about scope

[2019-02-25 22:27] stefaniebutland commented on #280
@eebrown I'm rOpenSci's Community Manager, here to say we would love to feature a post about `tacmagic` on our blog. This might bring your work to a larger audience.

This link will give you many examples of blog posts by authors of peer-reviewed packages so you can get an idea of the style and length you prefer: https://ropensci.org/tags/software-peer-review/. Here are some technical and editoria

[2019-02-25 22:31] stefaniebutland commented on #157
@kenarab  I'm rOpenSci's Community Manager, here to say we would love to feature a post about `Rpolyhedra` on our blog.

This link will give you many examples of blog posts by authors of peer-reviewed packages so you can get an idea of the style and length you prefer: https://ropensci.org/tags/software-peer-review/. Here are some technical and editorial guidelines for contributing a blog post: htt

[2019-02-26 00:11] mdsumner commented on #174
oops, scary how so much time passed!  I'll get this soon

[2019-02-26 10:17] melvidoni commented on #280
@eebrown did you transfer tacmagic before getting the Zenodo DOI? In that case, you need to wait until you have admin access.

[2019-02-26 12:28] eebrown commented on #280
Thanks very much @melvidoni; it works now, and a DOI has been assigned.

[![DOI](https://zenodo.org/badge/131427691.svg)](https://zenodo.org/badge/latestdoi/131427691)

On the other hand I don't seem to be able to edit your comment, so I've copied the post-approval checklist below. Essentially I am at the last step, about to submit to JOSS. As I would also like to submit to CRAN, does the order of

[2019-02-26 12:32] eebrown commented on #280
Hi @stefaniebutland - thanks for getting in touch! I think a blog post is a great opportunity to get some eyes on the new package. I'd love to connect by email to hear more: eb@ericebrown.com.

[2019-02-26 12:39] melvidoni commented on #280
Thanks, @eebrown, now:

1) Submit package via http://joss.theoj.org/papers/new

2) Watch for the paper to pop up at http://joss.theoj.org/papers, then add the following comment to the submission thread:

[code]

If everything is OK, I am closing the issue.

[2019-02-26 15:17] robbriers commented on #284
An overnight change to the CDE data has meant that two of the tests fail now - I have just committed a fixed version to the master branch; taken out the fragile tests and also have taken the opportunity to fix some issues highlighted by gp.

[2019-02-26 16:05] lmullen commented on #269
@cboettig Thanks, Carl. Looks like everything is wrapped up. Glad to see everything went through JOSS just fine.

@stefaniebutland This new package/paper might be a good candidate for a blog post at rOpenSci.

[2019-02-26 16:44] stefaniebutland commented on #269
Yes indeed @lmullen. Carl knows he has a wide open invitation to blog about his packages :-)

[2019-02-26 17:03] Rekyt opened #285 "Submission: rromeo"
Submitting Author: Matthias Grenié (@Rekyt)
Repository: https://github.com/Rekyt/rromeo
Version submitted: 0.1.0
Editor: @sckott
Reviewer 1: @ottlngr
Reviewer 2: @brunaw
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/d

[2019-02-26 17:45] aaronwolen commented on #279
First of all, thanks so much for the thoughtful review and kind words, @cboettig. It’s great to hear that osfr might be useful in your lab.

Courtney did a nice job addressing your questions concerning authentication and supporting add-ons, so I’ll start with your suggestion about adding a higher level interface for adding an existing project to OSF:

I totally agree the number of steps required f

[2019-02-26 17:46] sckott commented on #284
Thanks for your submission @robbriers - Im your handling editor.

Thanks for the update on tests and such

[2019-02-26 18:30] #109 closed

[2019-02-26 18:46] cboettig commented on #279
@aaronwolen This is great.

Regarding uploading a project's files & directory structure in one go with

[code]

that sounds like a most welcome addition!  cc'ing @karinorman who has been battle-testing this with some complex project structures, we'll try and give that a test-drive.  The previously manual approach was a bit of a show-stopper for us at first pass.

Re 404, I see that also on MacOS (

[2019-02-26 18:53] kshtzgupta1 commented on #264
@boshek Thank you for a detailed review! We have made many changes following your suggestions. I will update the README and vignette to reflect those changes after they are approved.

from the `build_opts` in `install_github`

Fixed that line!

Fixed!

  * > Note that this function does not support vectorization so please don't pass in a vector of version numbers

Revised!

Added!

Agreed! We have

[2019-02-26 18:53] kshtzgupta1 commented on #264
@jafflerbach  Thank you for a detailed review! We have made many changes following your suggestions. I will update the README and vignette to reflect those changes after they are approved.

The Vignette is good except it does not explain how to install the package. You can only find installation instructions in the README

Fixed!

[code]

We couldn't reproduce that warning on our machines. I think

[2019-02-26 20:57] sckott commented on #285
thanks for your submission @Rekyt assigning an editor soon

[2019-02-27 03:31] DillonHammill commented on #281
Thanks for the feedback @geanders.

I have addressed the following today:
1. Updated the installation instructions in the README to install flowCore, flowWorkspace and openCyto development versions from BioConductor. These versions are synced with the GitHub versions.
2. Changed the installation order to first install CytoRSuiteData and then CytoRSuite.
3. BiocGenerics is required by the package d

[2019-02-27 10:28] #280 closed

[2019-02-27 10:29] #271 closed

[2019-02-27 11:37] emilyriederer commented on #274
Hey @pachamaltese - Just wanted to drop a note to touch base / apology. I started looking last weekend but didn't make it all the way through. I will try to reply by this weekend at the latest!

[2019-02-27 14:41] pachamaltese commented on #274
@emilyriederer no worries!

[2019-02-27 21:34] sckott commented on #257
@hettling Applying the holding tag now until this is active again

[2019-02-27 21:52] sckott commented on #284
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-02-27 22:03] sckott commented on #285
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-02-28 02:57] mdsumner commented on #174
Hi!  Thanks so much for the reviews, the package has been greatly improved by them!  Very sorry for the huge delay.

My response is pretty terse but I believe I've covered the vast majority of issues.  I've added a todo list at the bottom for things I know I haven't finished addressing.

@Nowosad

* check time is now ~1.5 min, and test coverage improved
* no raadtools used
* spelling check improve

[2019-02-28 10:59] hettling commented on #257
@sckott Ok, reasonable. I would like to mention that there is progress in applying the reviewer's comments, documented in [this milestone](https://github.com/naturalis/nbaR/milestones). Remaining issues are mostly documentation related.

[2019-02-28 19:05] sckott commented on #257
thanks for the update

[2019-02-28 19:20] sckott commented on #174
thanks very much @mdsumner for the responses. i've removed the holding label. For the remaining to do's any guess on the timeline for those?

@Nowosad @timcdlucas if you have any further questions/comments on the response do chime in here

[2019-02-28 23:07] boshek commented on #264
Great job @kshtzgupta1! Thanks for such a great package and great job addressing issues raised in this review. You have sufficiently addressed any issues I raised. @geanders  I recommend this package for acceptance. I do want to raise some final considerations:

I am really of two minds on this. I employ this same trick on a couple packages of mine but I also wonder if this introduces some weird a

[2019-03-01 06:22] mdsumner commented on #174
Not long! Days

[2019-03-01 17:41] cboettig commented on #279
Just a quick correction to my comments above: looks like I jumped the gun here and the "upload local directory+files) feature is still under development, correct?

 It would be nice to give it a test run and see it show up in the documentation (perhaps in place of the more tedious current example).    Happy to test-drive it from a dev branch if you point us in the right direction

[2019-03-01 18:16] aaronwolen commented on #279
That's right. My plan was to cut a minor release (CenterForOpenScience/osfr#97) that includes a few bug fixes and addresses most of the issues raised here so current users can benefit from the improvements asap. After that I'll focus on some of the bigger changes for a v0.3.0 release, since they'll likely introduce some breaking changes.

There *is* a feature branch that includes experimental supp

[2019-03-01 18:22] sckott commented on #174
coolio

[2019-03-01 18:41] cboettig commented on #279
Thanks @aaronwolen this sounds great.  I think we'd get a lot of use out of multi file uploading and downloading too -- looking forward to it.

[2019-03-02 07:21] JingningShi opened #287 "Submission：MtreeRing"
---

Submitting Author: Jingning Shi (@JingningShi )

Repository:   https://github.com/JingningShi/MtreeRing
Version submitted:   1.2
Editor: @annakrystalli
Reviewer 1: @bhive01
Reviewer 2: @rorynolan
Archive: TBD
Version accepted: 1.3

---

* Paste the full DESCRIPTION file inside a code block below:

[code]
## Scope

* Please indicate which category or categories from our [package fit policies](

[2019-03-02 07:51] cboettig commented on #264
Hi Sam @boshek , thanks for the excellent review and the kinds words! I don't mean to jump in here but just wanted to add a little context to the decision about accessing older versions.  I agree that it would be much more desirable to have all versions on Zenodo, and based on our discussions with them, I think the RAM Legacy team will eventually post those, but it is hard to know exactly when.  M

[2019-03-03 10:25] mdsumner commented on #174
I've pushed version 0.1.0 to the repo with  [this commit](https://github.com/hypertidy/tidync/commit/5fb11a43913f11bd2a20be04c3e4836986b2fdb9)

I consider it review-reply ready now. (ncmeta alignment for CRAN will be tricky as I have to sort out version-robustness for stars).  It's not passing on travis, but it is passing locally so I'm hoping it's a temporary issue there.

I'm struggling to finis

[2019-03-03 10:51] timcdlucas commented on #174
Great thanks. I'll try to get to looking at this in the next 2 or 3 weeks or so. I hope that's a reasonable time frame.

[2019-03-03 19:59] emilyriederer commented on #274
Hi @pachamaltese - I haven't read through the code yet, but I notice there are still a few typos in the documentation I might recommend clearing up:

- issues link still broken (change in Description and re-run `pkgdown::build_home()`)
- still missing top-level package documentation (can create with `usethis::use_package_doc()`
- "How to use this package" vignette
    + still calls package `oec`

[2019-03-04 02:31] pachamaltese commented on #274
thanks @emilyriederer !! I fixed all of that and with respect to the last comment, I added "This vignette contains something end users should ever need to do"

[2019-03-04 20:32] sckott commented on #174
thanks @timcdlucas

@Nowosad when you get a chance can you look at the new version and see if you have any more feedback?

[2019-03-05 06:47] Nowosad commented on #174
I've already took a look at the changes and they are :+1: . The only thing that can be improved is the vignette.

[2019-03-05 10:08] mpadge commented on #274
With due apologies to @pachamaltese and @maelle for this having taken a bit longer than I suggest above ...

### Second Review

The first thing to note is the now excellent message issued on package load, clearly explaining the terms and limitations of the data license - very happy with that! Neither `devtools::check()` nor `devools::spell_check()` raise any issues at all, so all clear there too.

[2019-03-05 17:23] sckott commented on #174
thanks @Nowosad

[2019-03-06 23:32] boshek commented on #264
Great context @cboettig . This rationale makes perfect sense.

[2019-03-07 22:55] harryprince opened #288 "Submission：geospark"
Submitting Author: Harry Zhu (@harryprince )
Repository:   [geospark](https://github.com/harryprince/geospark)
Version submitted:
Editor: TBD
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.

[2019-03-08 14:49] njahn82 commented on #256
Sorry for my late reply. First of all thank you for your kind words and the changes you made. I am particularly impressed about your engagement with the R community to improve your work.

Before addressing the changes made, I wonder if I missed that runnable R code chunks were added to the README or vignette. As far as I see the vignette does not execute functions from the package, and there is no

[2019-03-08 15:45] geanders commented on #281
@DillonHammill, thanks for your changes in response to the initial checks!

To answer your two questions:

1. Yes, ROpenSci packages can be crosslisted on either CRAN or Bioconductor. Submitting your package to Bioconductor would be fine.
2. Yes, you could submit this to JOSS. You may, however, want to take a look at the author guidelines for JOSS (https://joss.readthedocs.io/en/latest/submitting.

[2019-03-08 16:22] geanders commented on #264
@jafflerbach : I wanted to check in with you to see if you had any thoughts on the response to your initial review for this package?

[2019-03-08 16:32] cboettig commented on #264
Also just a note that we did just hear back from Sean Anderson who was very gracious and positive about the package.  He gave us a few suggestions (data tables no longer append the version name on the table, which was no longer necesary anyway with new approach of explicitly calling `load_ramlegacy()` with a version number instead of trying to load automatically on `library()`.  (Also note that as

[2019-03-08 17:04] melvidoni commented on #287
Thank you for your submission @JingningShi  - @annakrystalli has been assigned as the Editor.

[2019-03-08 17:07] melvidoni commented on #288
Thank you for your submission @harryprince.

Before we can progress this further, we need for you to add more details on your package. Please, expand on the Description,  and answer the questions under the `Scope` title in your opening post for the issue.

[2019-03-08 17:16] maelle commented on #279
Ping @HeidiSeibold cf https://github.com/ropensci/software-review/issues/279#issuecomment-466484075 :smile_cat:

[2019-03-08 22:27] jafflerbach commented on #264
Thanks @geanders, @kshtzgupta1 and @cboettig. Good hear you've been in touch with Sean Anderson as well as the RAM maintainers. No further requests from me on this package now.

[2019-03-09 19:48] aurielfournier commented on #256
Hi @njahn82 .

Perhaps I am misunderstanding the question, but ` refsplitr/vignettes/refsplitr-vignette.Rmd` contains chunks of code that can be run by the user which execute each function from the package. Which is a change we made in this last revision.

for example: line 66
[code]

Is this not what you meant?

I also just updated the ReadMe file to have a the same example shown in the vignette.

[2019-03-10 13:18] njahn82 commented on #256
Sorry for the confusion. I thought of R code chunks indicated by curly brackets (```` ```{r} ````)  that are evaluated when a R Markdown document is rendered. The resulting output file shows the R output. In the vignette, it seems that package functions are highlighted (```` ```r ````). When rendered, no R output is presented, but screenshots from spreadsheet software.
Example: https://github.com/

[2019-03-10 15:43] harryprince commented on #288
@melvidoni thanks a lot.

I modified the related question under the `Scope` title.

[2019-03-10 18:12] nuest commented on #282
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-03-10 18:35] pachamaltese commented on #274
- [ ] better examples in `?ots_country_code`
- [x] More informative error messages for `ots_country_code()`
- [x] Remove confusion between "product" and "commodity"
- [ ] Have `ots_product_code()` return the full table rather than error
- [ ] Implement additional `commodity/product_code` and `commodity/product_fullname_english` parameters in ots_create_tidy_data to implement filtering with single

[2019-03-10 21:55] pachamaltese commented on #274
@mpadge Hi what do you mean with "product_fullname_english parameters in ots_create_tidy_data to implement filtering with single extra parameter"?

[2019-03-11 07:32] HeidiSeibold commented on #279
Sorry, yes I am done. :see_no_evil:

[2019-03-11 08:43] mpadge commented on #274
I just mean a very slight modification to current code so that instead of users having to do this in current form:
[code]
where the `group_name` or `product_fullname_english` have to be manually matched by post-extraction filtering, this could simply be incorporated as an additional line at the end of the code:
[code]
That would then enable the much more intuitive interface
[code]
It is of course

[2019-03-11 08:48] mpadge commented on #274
Another thought: This is just a suggestion and entirely a matter of personal style, but since you're importing `magrittr` anyway, you could also import `%<>%` and so replace all current lines like
[code]
with
[code]
There are definitely people who would consider the second version somewhat easier to read and understand - myself included. Entirely up to you of course ...

[2019-03-11 09:18] DomBennett commented on #282
Hi @nuest,

Thanks for the super helpful review! Lots of new things and ideas to work on and with (... wish I had heard of `stevedore` beforehand!)

[2019-03-11 12:15] melvidoni commented on #288
Thank you @harryprince for answering the questions under Scope. However, the editorial team still feels that more detail needs to be added. Consider the following questions when updating the Scope again:

- Why are you stating that target audience?
- What does sparksf compared to geospark? Why is geospark better? Adding a short example would be ideal.
- How are those issues in sparklyr related to

[2019-03-11 13:44] annakrystalli commented on #282
Many thanks indeed for your detailed review @nuest! And enjoy your upcoming holiday 😊

[2019-03-11 16:38] pachamaltese commented on #274
@mpadge I opted for something a bit simpler. What do you think about this?
[code]

the second returns all the products in group 01 while the third returns all the rows that contain "apple" an product and/or group name.

[2019-03-11 20:16] mpadge commented on #274
Yeah, that's a good solution too. My main concern was that without this kind of functionality, there was no direct link between the product/commodity tables and the actual trade volumes. The ability to at least put the product codes in is sufficient to make that direct link, and in my opinion seems likely to make the package much more directly usable by more people. Nice!

[2019-03-11 20:20] pachamaltese commented on #274
@mpadge thanks !! I also renamed all the relevant fields to `product` (and therefore I had to create the compressed filed from tradestatistics.io again as well as updating the code and processing repo)

[2019-03-11 21:35] mpadge commented on #274
Great stuff @pachamaltese - sorry if that was a hassle for you, but i really did think that the terminological confusion of asking for "products" and getting "commodities" was really worth resolving. Thanks!

[2019-03-11 21:46] pachamaltese commented on #274
no worries @mpadge, actually UN Comtrade "commodity" nomenclature is confusing, if you look product tables the HS codes contain much more than commodities

[2019-03-12 16:16] sckott commented on #285
reviewers assigned

[2019-03-12 19:25] ThierryO commented on #263
A new version (tagged [v0.0.3](https://github.com/inbo/git2rdata/tree/v0.0.3)) is ready for another round of review.

[2019-03-12 22:40] noamross commented on #263
Thanks @ThierryO! @brodieG and @jtr13,  let us know if you are satisfied with these changes, including covering any areas you weren't able to in the last review.

@ThierryO, can you give a brief summary of changes? I notice there isn't a NEWS entry for v0.0.3, or is it effectively the same summary as 0.0.2?

[2019-03-13 10:41] ThierryO commented on #263
I forgot to update the README. The difference between 0.0.2.9000 and 0.0.3 are mainly cosmetic and fixed typos. I bumped the version number because I did't want to change 0.0.2.9000 into 0.0.2.

[2019-03-13 10:46] melvidoni commented on #288
@harryprince

Your response regarding the difference between `geospark` and `sparksf` is a critique of the package author, not a comparison of the two packages. Please refrain from any such personal attacks and provide specific examples of how the packages differ based on our overlap policies (https://ropensci.github.io/dev_guide/policies.html#overlap)

On another note, with the current documentat

[2019-03-13 18:44] aurielfournier commented on #256
Agreed! We'll get right on it. Ggmap is giving us some issues again, but once we get those resolved we'll make those edits to the vignette and report back.

Thanks for clarifying!

[2019-03-14 00:01] pachamaltese commented on #274
@mpadge ready! I implemented `%<>%`

[2019-03-14 01:04] aurielfournier commented on #256
Alright. We resolved the issue with ggmap. A vignette with rendered R output is now in the repo! Let me know if you have any other comments!

[2019-03-14 02:57] harryprince commented on #288
@melvidoni thanks for your advice, it's my first time to submit R package, I am so sorry for what I have done. I will talk with sparksf author more.

[2019-03-14 08:23] mpadge commented on #274
Great @pachamaltese, thanks in advance. I'll make time next week, and anticipate giving the all-clear then. Nice job!

[2019-03-14 17:31] laurajanegraham opened #289 "Submission: grainchanger"
Submitting Author: Name (@laurajanegraham)
Repository: https://github.com/laurajanegraham/grainchanger
Version submitted:  0.1.0 .9000
Editor:  @karthik
Reviewer 1: @mbjoseph
Reviewer 2: @johnbaums
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](

[2019-03-14 21:14] timcdlucas commented on #174
Hi all,

Great work @mdsumner.

Hope I'm looking at the right version. I'm using bfb975ce565fc807e482497c7a7b953b6e66463c

I still get 1 test failure.

[code]

in `test-activate.R`.

Other than that the only thing I can see is that the readme isn't currently runeable. `filename` is not defined for example. This chunk is set as `eval = FALSE` so I guess it's deliberate, but I think it's more useful

[2019-03-14 23:33] melvidoni commented on #288
@harryprince

Do not worry, it is something that you can solve. However, please tackle the following to-do list:

- [ ] Please, remove the "peer-reviewed" badge from your repository. This should _not_ be added until your package has been reviewed and approved by rOpenSci. We are still in a pre-processing stage.

- [ ] Your answer to the question _"Are there other R packages that accomplish the sam

[2019-03-14 23:34] mdsumner commented on #174
Awesome, thanks so much @timcdlucas

I'll clean those things up!

[2019-03-15 16:27] karthik commented on #289
👋 @laurajanegraham! I will be your editor for this. Stay tuned for next steps.

[2019-03-15 21:48] geanders commented on #264
Approved! @kshtzgupta1 : Thanks so much for these thoughtful revisions. Both reviewers agree that the package should be accepted. Further, based on there reviews, there are a few potential changes you might want to consider in future revisions (e.g., removing the reliance on the GitHub repos of older database versions once this is possible, thinking some more about whether you want different behav

[2019-03-15 21:50] geanders commented on #264
Also, since you are planning to submit to CRAN, you may find this list of [CRAN gotchas](https://ropensci.github.io/dev_guide/building.html#crangotchas) helpful, and I'd be happy to provide support through that process.

[2019-03-16 14:41] emilyriederer commented on #274
Apologies for my slow follow-up, and thanks to @mpadge and @pachamaltese for the great reviews / discussions which gave me a lot of great context.

# General

Great job, @pachamaltese ! A lot of the changes you’ve made I think have taken an already very good package to the next level. The level of documentation and the carefully crafted API should make this package quite accessible for new users t

[2019-03-16 22:21] pachamaltese commented on #274
Hi @emilyriederer !

Thanks a lot !! The only part I'm not sure is dropping `stringr` since I'm using `str_detect`, `str_to_lower`, `str_trim` and `str_squish`. I'm aware that `gsub(..., perl = TRUE)` can replace that but still I'm not sure about readability.

With respect to the other parts:

- [x] *Help maintainers keep date range code / documentation in sync with API.* Ready, I added https://ap

[2019-03-17 11:55] emilyriederer commented on #274
Thanks @pachamaltese - makes sense! Whatever you think is best 🙂

Thanks for considering my other thoughts. I love these last changes that you've made! It's such a cool and unique thing that you're in charge of both the API and the wrapper package! It's really been interesting opening up the possibility of changing either to improve the experience.  Also *very* cool that not all the functions can

[2019-03-17 14:18] pachamaltese commented on #274
Thanks a lot @emilyriederer , and of course also to @mpadge for helping to make this package better. Just blame @jbkunst that 3 yrs ago insisted that I should drop base+data.table and move to the tidyverse :P

[2019-03-17 22:51] annakrystalli commented on #287
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-03-17 23:54] JingningShi commented on #287
Thanks for the editor checks @annakrystalli .
I will correct these issues as soon as possible.

[2019-03-18 10:45] mdsumner commented on #174
I think I've addressed everything, thanks again for the responses!  I've done a run over the documentation and it's a lot tighter and uses links better now, every bit of feedback here has been really helpful and I appreciate the patience provided to me. I didn't foresee this being wrapped up so nicely a few weeks ago.

(For CRAN  it's down to needing a release of `ncmeta`, which I'm stuck on. )

[2019-03-18 16:34] sckott commented on #174
nice work @mdsumner - any issues we can help on with `ncmeta`?

[2019-03-18 19:55] mdsumner commented on #174
It comes down to revdepcheck which I just can't get to finish ATM. I need to make sure a release doesn't disrupt stars,and I don't feel confident on that without revdep. If you revdepcheck ncmeta and share the results that would be helpful?

[2019-03-18 20:49] sckott commented on #174
problems and readme from revdepcheck aattached

[problems.txt](https://github.com/ropensci/software-review/files/2980366/problems.txt)
[README.txt](https://github.com/ropensci/software-review/files/2980367/README.txt)

[2019-03-18 21:24] stefaniebutland commented on #264
Hello @kshtzgupta1 I'm rOpenSci's Community Manager, here to say we would love to feature a post about `ramlegacy` on our blog. This might bring your work to a larger audience.

This link will give you many examples of blog posts by authors of peer-reviewed packages so you can get an idea of the style and length you prefer: https://ropensci.org/tags/software-peer-review/. Shorter tech notes are he

[2019-03-18 22:29] mdsumner commented on #174
That was fast! Awesome, that's very helpful - I think I only need to condition on version pre and post and it'll  be safe. THANKS  (hopefully I can get revdep working again too ...)

[2019-03-19 11:56] JingningShi commented on #287
Thanks for checking out the package @annakrystalli . English isn't my first language, so please excuse any mistakes. I made the following changes based on your comments:
1. Generate the ```NAMESPACE``` and ```man/``` files using ```devtools::document()```.
2. Replace the images which throw up warnings with new image files.
  Sometimes the test will issue a warning ```libpng warning: iCCP: known in

[2019-03-19 18:45] cstubben opened #290 "Submission: tidypmc"
Submitting Author: Chris Stubben (@cstubben)
Repository:  https://github.com/cstubben/tidypmc
Version submitted:   1.1
Editor: @noamross
Reviewer 1: @toph-allen
Reviewer 2: @juliasilge
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropen

[2019-03-19 20:58] annakrystalli commented on #287
Hi @JingningShi ,

Thanks for your speedy and full response!

Regarding English as a second language, don't worry at all. If there is anything I write that doesn't make sense let me know and I will try to explain in a different way. I will do the same. ☺️

I've re-run all the checks & tests and most of the issues have been solved! 🎉

Regarding testing coverage, I have two suggestions to increase i

[2019-03-19 22:39] brodieG commented on #263
@noamross what is the new deadline for reviews?

[2019-03-20 04:57] mdsumner commented on #174
I've got this sorted now, ncmeta will have to follow the next version of stars onto CRAN.

[2019-03-20 11:30] melvidoni commented on #290
Hello @cstubben,  thank you for your submission.

On the Scope section of the opening post, could you explain possible differences and similitudes between your package and  [pubchunks](https://github.com/ropensci/pubchunks/) which is already onboarded to rOpenSci?

[2019-03-20 13:30] noamross commented on #263
We normally aim for 2 weeks for the second round, but as the first round was partial/specialized here, let's go for 3 weeks, or April 10.

[2019-03-20 18:03] cstubben commented on #290
Thanks for the suggestion.  pubchunks has now been added.

[2019-03-21 12:36] JingningShi commented on #287
Thank you for the suggestions of using ```shinytest``` and ```mockery```. You did me a great favor.
I made the following changes:
1. Use ```mock()``` and ```stub()```  to mock mouse cursor, and the test coverage reaches 97%.
2. Create tests for the app using ```recordTest()``` and ```testApp()```. I save these test scripts and results at a subdirectory of ```inst/``` as suggested by [this article]

[2019-03-21 12:38] JingningShi commented on #287
Thank you for the suggestions of using ```shinytest``` and ```mockery```. You did me a great favor @annakrystalli .
I made the following changes:
1. Use ```mock()``` and ```stub()```  to mock mouse cursor, and the test coverage reaches 97%.
2. Create tests for the app using ```recordTest()``` and ```testApp()```. I save these test scripts and results at a subdirectory of ```inst/``` as suggested b

[2019-03-21 19:33] annakrystalli commented on #287
Hi @JingningShi,

So glad you found the suggestions useful! And well done on getting coverage up to 97%!! 😃💯
That completes the editor checks. I will start looking for reviewers now.

Could you please add the rOpenSci under review badge to your README?
[code]

I'll be back in touch when I have found reviewers 👍

[2019-03-22 10:46] melvidoni commented on #290
Thank you for submitting @cstubben! @noamross has been assigned as your editor.

[2019-03-22 16:49] Bisaloo commented on #267
@karthik, any news? Is there anything I can do on my end to help?

[2019-03-22 16:54] sckott commented on #284
Still looking for the 2nd reviewer ...

[2019-03-22 21:16] noamross commented on #290
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [ ] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-03-23 15:25] hrbrmstr commented on #282
mine shall be completed today

[2019-03-23 15:55] annakrystalli commented on #282
Great. Thanks for the update @hrbrmstr

[2019-03-23 18:33] hrbrmstr commented on #282
NOTE: I deliberately didn't read @nuest's review before going through my own package review. I then read @nuest's most excellent/thorough review and removed [most of, hopefully] any duplicate findings unless I felt the need to reinforce some.

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the

[2019-03-23 20:20] melvidoni commented on #288
I'm applying the `holding` badge for now.  If you'd like to resume the review process, we still need answers to the questions above. Also note your package will need to meet all the requirements under 'Technical Checks' to be reviewed

[2019-03-25 13:47] annakrystalli commented on #282
Thanks for the equally thorough review @hrbrmstr! 😃💯

Over to you @DomBennett. I think the reviews have provided really valuable feedback so look forward to hearing what you think.

As always, please feel free to ask for clarification or start a conversation on anything you'd like more input on. 👍

[2019-03-25 21:37] DillonHammill commented on #281
@geanders, sorry for not getting back to you sooner.

CytoRSuite is definitely designed to be used in conjunction with flowCore, flowWorkspace and OpenCyto (as in the above description). In particular, CytoRSuite builds on OpenCyto which depends on both flowCore and flowWorkspace. I written CytoRSuite in such way as to prevent clashes with these otrher packages.

I will start working on a paper fo

[2019-03-26 15:59] DomBennett commented on #282
Thanks @hrbrmstr for the super thorough, well-thought and detailed review! I've got myself lots of things to be thinking about and getting on with.

Thanks @annakrystalli, I'll get to addressing these issues soon as.

_Merci à toutes et tous_

[2019-03-26 16:58] karthik commented on #267
@kjuraic 👋Can you please update the thread with your review. Feel free to reach out to me if you've run into any issues. 🙏

[2019-03-26 16:59] karthik commented on #267
@Bisaloo Thanks for checking in. Let me get an update from Krunoslav

[2019-03-27 01:12] karthik commented on #289
👋 @laurajanegraham Just a quick update that I'm waiting to hear back from reviewers. Once they accept I will update this thread soon. 🙏

[2019-03-27 10:13] mem48 opened #291 "Presubmission inquiry: opentripplanner"
Submitting Author: Malcolm Morgan (@mem48)
Repository:   https://github.com/ITSLeeds/opentripplanner

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box be

[2019-03-27 10:53] laurajanegraham commented on #289
Thanks for letting me know @karthik .

[2019-03-27 11:14] maelle commented on #256
:wave: @bmkramer @njahn82, are you both happy with the authors' response?

[2019-03-27 11:15] maelle commented on #279
:wave: @aaronwolen can you please update this thread once you're done taking reviews into account? Thank you!

[2019-03-27 11:16] maelle commented on #274
:wave: @pachamaltese! Are you still making changes in response to the reviews or are you done?

[2019-03-27 11:22] mpadge commented on #274
Sorry @maelle, the ball is currently pretty much in the hands of @emilyriederer and myself, who both have to go over the most recent changes one more time. I'll get on to that asap, but maybe not until early next week, and anticipate checking the accept box then.

[2019-03-27 11:23] pachamaltese commented on #274
Hi Maelle
No, I completed all of the steps listed above.

On Wed, Mar 27, 2019, 8:16 AM Maëlle Salmon <notifications@github.com>
wrote:

[2019-03-27 11:51] maelle commented on #274
Ok! @emilyriederer @mpadge, if you're happy with the changes implemented, can you check the box "The author has responded to my review and made changes to my satisfaction. I recommend approving this package." in your reviews?

Thanks to all of you for a very active and productive discussion in this thread!

[2019-03-27 15:59] sckott commented on #284
both reviewers assigned

[2019-03-27 16:08] robbriers commented on #284
Great, thanks for the update

[2019-03-27 18:55] karthik commented on #289
I've assigned @mbjoseph as the first reviewer. Thanks Max for agreeing to review! Looks like you’ve reviewed for us before but please let me know if you have any questions or issues. We look forward to your review by April 17th (let me know if anything comes up).

[2019-03-27 22:44] jacobpwagner commented on #281
@DillonHammill, my review is just about ready so I should be able to get it posted either today or tomorrow.

[2019-03-27 22:57] geanders commented on #281
@DillonHammill : Thanks for the clarification on the Depends / Imports question! We have one reviewer (@jacobpwagner), but I am still looking for the second.

[2019-03-28 00:58] jacobpwagner commented on #281
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-03-28 01:27] geanders commented on #281
@jacobpwagner : Thanks so much for this very helpful and thorough review!

[2019-03-28 09:30] DillonHammill commented on #281
Thanks for taking the time to review CytoRSuite @jacobpwagner. I will post some comments and make the appropriate changes tomorrow.

[2019-03-28 12:13] melvidoni commented on #291
Thanks for your submission @mem48. Editors will discuss and get back to you soon.

[2019-03-29 09:35] ottlngr commented on #285
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-03-29 14:43] sckott commented on #285
thx for your review @ottlngr

@brunaw reminder that your review is due next Wed

[2019-03-29 20:57] aaronwolen commented on #279
Thanks for following-up, @maelle! Apologies for the delay. Since initiating this review I've changed employers and moved to a new state... so it's been a hectic month 😃.

I just pushed v0.2.4 which should include all of the suggested changes with the exception of  multi-file uploading and downloading. That's definitely next on the list but will require a little more time to get it polished ready f

[2019-03-30 02:59] boshek commented on #284
@sckott I'm anticipating some difficulty meeting the April 1st due date and would request moving this ahead one week to April 08. Possible?

[2019-03-30 03:11] sckott commented on #284
@boshek Okay, date changed

[2019-03-30 07:40] brunaw commented on #285
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

  - [**X**] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

####

[2019-03-30 09:19] DillonHammill commented on #281
@jacobpwagner thanks again for your help!

I have made a number of changes to CytoRSuite over the last couple of days. I have committed these to the `testing` branch until I am convinced that everything is stable. Please install from this branch to see if I have resolved the issues you have raised.

Changes:
- Updated Compensation vignette to remove remaining old argument names (e.g. gtfile)
- Fix

[2019-03-30 09:54] maelle commented on #279
Quite an eventful montu indeed, I hope all went well!

So should we put the review on hold until you implement that feature?

[2019-03-30 11:45] elinw commented on #175
@jimhester  @jenniferthompson  @maelle  I think we are finally close to release for v2 which addresses most of the issues we discussed, specifically the format of the skim object.  We still need to rewrite vignettes and the readme.  We'll be adding a pkgdown site although we're not making that as a blocker for the release.  I think there is one important issue to resolve.  (We'll probably do one m

[2019-03-30 13:59] maelle commented on #175
Once you have the vignette I'd recommend making the pkgdown website right away because it'll be little effort and will allow you to put the link in DESCRIPTION before you submit the new version to CRAN 😉

[2019-03-30 15:25] sckott commented on #285
thanks for your review @brunaw

all reviews in

[2019-03-31 09:18] richfitz commented on #282
Just been lead to this via twitter - if you are interested in using `stevedore` but hit any hurdles @DomBennett, please feel free to contact me on the rOpenSci slack

[2019-03-31 10:45] emilyriederer commented on #274
Box is checked on my end! Thanks, @pachamaltese , for such an cool API and package! You make me want a reason to need trade data so I can play with this even more 😄

[2019-03-31 11:48] melvidoni commented on #291
Hello again @mem48. After a discussion, we've decided it's in scope. we welcome a full submission.
Good luck, I am closing the issue now.

[2019-03-31 11:48] #291 closed

[2019-03-31 17:33] annakrystalli commented on #287
We now have reviewers! Many thanks for agreeing to review @bhive01 & @noolpost 🙏

Note a delay in the official start date (2018-04-09) to accommodate reviewers schedules.

---

Reviewers: @bhive01, @noolpost
Due date: 2018-04-30

[2019-04-01 10:03] mem48 commented on #291
@melvidoni Great I'll get started on a full submission

[2019-04-01 11:43] geanders commented on #281
@jacobpwagner : Thanks so much for the quick response to @jacobpwagner comments! A second  (and final) reviewer is now assigned (@lmweber), so there will be some comments coming in over the next few weeks from him, as well.

[2019-04-01 11:54] noamross commented on #290
Hi @cstubben, I just wanted to check in to see if you had any questions about the above and if you are planning to continue with this submission.

[2019-04-01 13:00] njahn82 commented on #256
Unfortunately, I feel that some improvement is still needed.

It's great to have reproducible examples now in the vignettes. Sadly, I did not succeed building the vignette while installing the package.

So I used the rendered [`refsplitr-vignette.html`](https://htmlpreview.github.io/?https://github.com/embruna/refsplitr/blob/master/vignettes/refsplitr-vignette.html) file instead: When describing `

[2019-04-01 13:14] maelle commented on #256
Thanks @njahn82 for these useful review comments! @aurielfournier @birderboone could you please address those?

[2019-04-01 14:44] aaronwolen commented on #279
Thanks! I'll defer to you as to whether the review should be placed on hold. I suppose it depends on whether successfully completing the review is contingent on adding the feature or not. It's in the pipeline either way.

[2019-04-01 15:43] maelle commented on #279
Yes I think it's better to have the feature in before accepting the package, thank you!

[2019-04-01 17:59] pachamaltese commented on #274
Thanks a lot @emilyriederer !! Your feedback gave me tons of ideas I'd never figured myself. Now I'm working in a "GUI" (a shiny dashboard) for the package. I shall release a beta later today.

[2019-04-01 18:44] cstubben commented on #290
Yes, I'm still trying to figure out the best way to do the unit tests.  I'd like to loop through 10K articles in one of the XML files at [Europe PMC FTP](https://europepmc.org/ftp/oa) rather than just test a single article if that's possible.

[2019-04-01 20:47] pachamaltese commented on #274
@maelle @emilyriederer @mpadge can you help me sharing this dashboard that is basically a GUI for the package? https://shiny.tradestatistics.io/
the main website is https://tradestatistics.io/

[2019-04-01 22:28] aurielfournier commented on #256
Hi, Thanks @njahn82 for the comments. We'll get them addressed, it may be a bit delayed though as I'm on day 1 of two straight weeks of all day courses, but hopefully by the end of the month.

[2019-04-01 23:26] karthik commented on #289
Assigning @johnbaums as reviewer 2! Please get your review in by April 22. 🙏

[2019-04-02 07:14] mpadge commented on #274
Completed above and copied here for completeness:

#### Final approval (post-review)

- [x] **The author has responded to my review and made changes to my satisfaction. I recommend approving this package.**

I've sent a very minor pull request of the [only outstanding issue](https://github.com/tradestatistics/tradestatistics/pull/1). Thanks so much @pachamaltese for the amazing work behind the sce

[2019-04-02 11:33] pachamaltese commented on #274
@mpadge thanks a lot!! I passed that point somewhere in the middle of the thread. I just rebuilt both vignettes and pkgdown site with your changes to the ots_create_tidy_data Rd section

[2019-04-02 13:16] noamross commented on #290
Good to hear.  If you have questions about topics like testing, the rOpenSci [forum](https://discuss.ropensci.org/) is a good place to ask.

[2019-04-03 11:01] maelle commented on #274
Approved! Thanks @pachamaltese  for submitting and @emilyriederer @mpadge  for your reviews! :smile_cat:

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin again once you do.
- [ ] Add the rOpenSci footer to the bottom of your README
"```
[![ropensci_footer]

[2019-04-03 12:36] pachamaltese commented on #274
Dear @maelle

I've completed these steps:

- [x] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo. I have invited you to a team that should allow you to do so. You'll be made admin again once you do.
- [x] Add the rOpenSci footer to the bottom of your README " [![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.o

[2019-04-03 13:06] maelle commented on #274
I don't see your repo under the ropensci org, are you sure you've transferred it?

[2019-04-03 13:06] maelle commented on #274
Yes to keeping previous contributors over time, and regarding reviewers, you should ask them :wink:

[2019-04-03 13:13] pachamaltese commented on #274
@emilyriederer @mpadge are you ok with being added as ctb for all the feedback?

[2019-04-03 13:13] pachamaltese commented on #274
not yet, I am clearing ctb before pushing again before moving the repository

[2019-04-03 14:01] pachamaltese commented on #274
@maelle ready, repository is transferred

[2019-04-03 15:12] pachamaltese commented on #274
@maelle The only thing I cannot change is the repo description in github:
![image](https://user-images.githubusercontent.com/10091065/55490143-a4bc2980-5609-11e9-97a3-ad1737c47c25.png)
It should say https://ropensci.github.io/tradestatistics but I cannot edit that header

[2019-04-03 15:13] pachamaltese commented on #274
I also can't change "R package to access our API" to "R package to access Open Trade Statistics API" since the repo has moved

[2019-04-03 17:29] maelle commented on #274
@pachamaltese now you're admin again :grin:

[2019-04-03 17:30] maelle commented on #274
Speaking of `pkgdown` feel free to use the brand-new rOpenSci style https://ropensci.github.io/rotemplate/ (feedback on the package and its guidance very welcome).

[2019-04-03 20:34] kshtzgupta1 commented on #264
My apologies for such a late reply @geanders. I was ill and needed to have a surgery. I have finished all the to-dos. Thank you for being such a helpful editor!

[2019-04-03 20:37] kshtzgupta1 commented on #264
@boshek Thank you for being such a great reviewer! Is it fine if I add you as a "rev"-type contributor in the Authors@R field? If so, can I put in your email as sam.albers@gmail.com and your orcid id as https://orcid.org/0000-0002-9270-7884 ?

acknowledge your reviewers in your package DESCRIPTION, you can do so by making them "rev"-type contributors in the Authors@R field

[2019-04-03 20:39] kshtzgupta1 commented on #264
@jafflerbach Thank you very much for reviewing the package! I would like to acknowledge you as a "rev"-type contributor in the Authors@R field if that's okay with you. Can I put in your email as afflerbach@nceas.ucsb.edu and orcid id as https://orcid.org/0000-0002-5215-9342 ?

[2019-04-03 20:40] kshtzgupta1 commented on #264
@stefaniebutland Thank you so much for reaching out. My sincere apologies for the late reply. I think Prof. Boettiger and I would definitely be interested in authoring a blog post about ramlegacy.  I'll discuss the content of the post with Prof. Boettiger and let you know about a timeline very soon.

[2019-04-03 20:44] jafflerbach commented on #264
Yep both of those are correct.

Jamie Afflerbach
Marine Data Scientist
National Center for Ecological Analysis and Synthesis (NCEAS
<https://www.nceas.ucsb.edu/>)
University of California, Santa Barbara
website <http://jamieafflerbach.com> - github
<https://github.com/jafflerbach>- twitter <https://twitter.com/jafflerbach>

On Wed, Apr 3, 2019 at 1:39 PM Kshitiz Gupta <notifications@github.com>
wr

[2019-04-03 20:59] boshek commented on #264
@kshtzgupta1 👍

[2019-04-03 21:01] geanders commented on #264
@kshtzgupta1 : No worries at all! Alright, I will work through the next steps on my end. Again, since this is the first package I've edited to reach this point, it might take me a bit longer than usual to make sure I've gotten through any required steps. Congrats on a very nice package!

[2019-04-04 03:02] harryprince commented on #288
@melvidoni I added a more detail example about how `geospark` works with `dplyr` and `sf` style grammar.

[2019-04-04 10:13] emilyriederer commented on #274
Wow, thank you @pachamaltese ! I don't really feel that I deserve to be considered a `ctb` when all of the hard work was yours. Opinions are cheap 🙂 But very honored to be included and really appreciate it!

[2019-04-04 10:17] maelle commented on #274
By the way @pachamaltese we recommend the role "rev" for reviewers since it's more specific than "ctb". Folks can also be both, of course.

To easily add folks to DESCRIPTION I recommend e.g. `desc::desc_add_author_gh("emilyriederer", role = "rev")`.

[2019-04-04 10:19] maelle commented on #274
By the way @pachamaltese we recommend the role "rev" for reviewers since it's more specific than "ctb". Folks can also be both, of course.

To easily add folks to DESCRIPTION I recommend e.g. `desc::desc_add_author_gh("emilyriederer", role = "rev", comment = "reviewed the package for rOpenSci, see https://github.com/ropensci/onboarding/issues/274"))` (I'm planning on adding a better helper to `rod

[2019-04-04 12:19] pachamaltese commented on #274
thanks @maelle !!
I was trying to add
[code]
but comment is limited to a single string, probably I can create a PR to ease that

[2019-04-04 12:23] maelle commented on #274
Something like

[code]
works although the comment section looks ugly.

[2019-04-04 12:42] mpadge commented on #274
Thanks @pachamaltese for adding my name - much appreciated! You've done an amazing job with the package. I'm looking forward to reading about it in the rOpenSci blog.

[2019-04-04 21:57] boshek commented on #284
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-04-05 03:38] pachamaltese commented on #274
Hi @stefaniebutland ! Of course I'd like to write a long-form post. My email is mvargas@dcc.uchile.cl and I'm also in ROpenSci slack to be contacted.

[2019-04-05 08:35] #274 closed

[2019-04-05 10:45] melvidoni commented on #288
Thanks for your submission @harryprince, and for answering all of the editors' questions. Unfortunately, `geospark`is out-of-scope for rOpenSci software-review: there is a problem of thinness, as the only R code in the package a few lines of bindings, with the rest is the scala code for the spark plugin.  The examples show how that allows interactions with other R packages.

 Thanks again for subm

[2019-04-05 10:45] #288 closed

[2019-04-05 11:01] robbriers commented on #284
Thanks for the detailed comments - I'll review and start working through.

[2019-04-05 15:26] stefaniebutland commented on #274
Great to hear! I'll follow up by email

[2019-04-05 18:11] boshek commented on #284
@robbriers Please do reach out if anything is unclear. Happy to back and forth on anything as needed.

[2019-04-05 21:07] noamross opened #292 "citesdb: A high-performance database of shipment-level CITES trade data"
Submitting Author: Noam Ross (@noamross)
Repository: https://github.com/ecohealthalliance/citesdb
Version submitted:   0.1.0
Editor: @melvidoni
Reviewer 1: @xavi-rp
Reviewer 2: @pachamaltese
Archive: https://zenodo.org/record/3234871
Version accepted: 0.2.0

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from ou

[2019-04-07 11:08] melvidoni commented on #292
Thank you for submitting, @noamross! I will be your editor, so please hold on while I perform editor checks.

[2019-04-08 11:10] melvidoni commented on #292
### Editor checks:

- [X] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [X] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [X] **License:** The package has a CRAN or OSI accepted license
- [X] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-04-08 18:36] jacobpwagner commented on #281
Thanks @DillonHammill. I'm sorry for the delay as I was out of the office on vacation. I will work with the testing branch for a while and look over the changes to get back to you as soon as possible.

[2019-04-08 20:17] DillonHammill commented on #281
Thanks @jacobpwagner. I have noticed an issue label offsetting, I will work on a fix and push the update tomorrow.

[2019-04-09 18:58] jacobpwagner commented on #281
@DillonHammill, here are my comments after the recent changes
### Testing changes to fix issues raised
* The warnings when a user just closes an X11 window from `gate_draw()` instead of completing a gate are gone. -- FIXED
* The switch to using identifier() for the specified lines seems to have fixed the issue in the vignette resulting from the `flowSet` coercion. -- FIXED

* Vignette typos -- FIX

[2019-04-09 20:22] cstubben commented on #290
I just updated the package and fixed the `gp()` suggestions except two.  I added tests for all functions but still get warnings?   Also, I would like to leave the dependency to `xml2` since the package parses an `xml_document` and users should know how to view nodes, for example queries like this are highly recommended: `cat(as.character(xml_find_all(doc, "//ref")[1]))`.  More details on xml2 pars

[2019-04-09 21:02] DillonHammill commented on #281
@jacobpwagner thanks again for your help!

I have pushed the fix for `X11()` which should now work as expected.

I did not know about `mockr` I will look at updating my unit tests in this manner later today. I will also do a complete sweep of the package to replace all instances of `fr@description$GUID` with `identifier()`.

[2019-04-09 21:37] jacobpwagner commented on #281
Cool. Yeah, it looks like there are still a few left. I don't know that any of these will cause problems, but it may be safer to switch them all over to `identifier()` calls:
[code]

[2019-04-09 22:44] noamross commented on #290
Thank you, quite an improvement!  A few notes:

- The "loading packages as a whole message" is a matter of judgement - we just try to avoid importing a whole package when only a few functions are needed.  I will leave it to reviewers to say if there are specific dependencies that can be streamlined.
- re: `xml2`, even if you use it in a vignette and its complementary to your package, you should st

[2019-04-10 05:27] cstubben commented on #290
Ok, I fixed the Imports issue and added Travis CI and coverage badge.

[2019-04-10 14:34] mbjoseph commented on #289
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-04-10 19:04] noamross commented on #290
Thank you! I am now seeking reviewers.

[2019-04-11 09:54] Rekyt commented on #285
We would like to thank @ottlngr and @brunaw for the time they took reviewing `rromeo` as well as their useful comments and suggestions.

As noted by both reviewers and the editor @sckott, `rromeo` didn't pass the checks from `goodpractice` it does now with Rekyt/rromeo@1ce7107 we've replaced all the `=` with `<-` as it is a more standard practice in the R community.

We'll first respond to @ottlng

[2019-04-11 17:26] Aariq opened #293 "Presubmission inquiry: holodeck"
Submitting Author: Eric Scott (@Aariq)
Repository:   https://github.com/Aariq/holodeck

---

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

	- [ ] data retrieval
	- [ ] data extraction
	- [ ] database access
	-

[2019-04-11 18:39] noamross commented on #290
Reviewers are @toph-allen and @juliasilge, thank your for agreeing to review! Due date for reviews is 2019-05-02.

@cstubben, you can also our peer-review badge to your repo README:
[code]

[2019-04-11 20:44] stefaniebutland commented on #264
@kshtzgupta1 Please look for an email from me to follow up about a blog post

[2019-04-11 21:16] brodieG commented on #263
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-04-11 22:08] cstubben commented on #290
Thanks, I added that badge and a second vignette.  I don't plan to make any more changes until reviews are returned

[2019-04-12 09:27] annakrystalli commented on #282
Hello @DomBennett 👋

Any chance we could get an update on progress with responses to the reviews? Feel free to reach out if you are stuck on anything.

[2019-04-12 10:05] DomBennett commented on #282
Hi @annakrystalli

I've still not started on any responses to the reviewers in earnest just yet. Currently juggling multiple things, and my hand-eye coordination is not the best.

Will try and get stuck in next week and send you a sit-rep along with any help requests I may have.

Thanks!

[2019-04-12 12:58] laurajanegraham commented on #289
Thanks for your thorough review @mbjoseph - that's all really useful.

I'll deal with the comments all at once when we have the second review through, but in the meantime @karthik how would you recommend going about changing parameter names for a package that may already be in use? I agree that they should be made more meaningful.

[2019-04-15 08:29] RaoulWolf opened #294 "Presubmission inquiry: chemspiderapi"
Submitting Author: Raoul Wolf (@RaoulWolf)
Repository: https://github.com/NIVANorge/chemspiderapi

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below

[2019-04-15 10:21] melvidoni commented on #293
Hello @Aariq, thank you for your submission. The editors have discussed your inquiry. This seems to be a very useful package, however, it is out-of-scope for onboarding since it may be too statistical, and only converting data.

We hope you will find an appropriate venue for your package, and wish you the best.

[2019-04-15 10:21] #293 closed

[2019-04-15 10:22] melvidoni commented on #294
Hello @RaoulWolf, thank you for your submission. Editors are now discussing this.

[2019-04-15 13:15] richelbilderbeek commented on #276
I suggest to close this Issue, I will create a new one if I submit a package that is FOSS.

[2019-04-15 13:57] Aariq commented on #293
Thank you for the quick response and the feedback!

[2019-04-15 14:14] robbriers commented on #284
@boshek Just a query re license and data. The code is licensed as GPL 3 in the DESCRIPTION file, so I was under the impression that this did not need an explicit LICENSE file to be included?
Re the data, I was intending to keep the data internal to the package, so as per the Hadley Packages site: 'If you want to store parsed data, but not make it available to the user, put it in R/sysdata.rda'. Ho

[2019-04-15 15:04] boshek commented on #284
I don't think it is absolutely required but I it is a) a [generally](https://github.com/RcppCore/Rcpp) [accepted](https://github.com/tidyverse/dplyr) practice to include a LICENSE file in the repo and b) provides a path for a non R user (not to mention GitHub) to look at the license. That is, someone wanting to find out how this software is licensed only needs to come to repo and doesn't need to k

[2019-04-15 19:33] robbriers commented on #284
Thanks, I have added an explicit licence file.

With the data I would prefer to keep the internal df in the sysdata.rda file, but have added a copy of the data with appropriate licence details to a data-raw folder.

[2019-04-15 20:37] sckott commented on #284
👋  @limnoliver  reminder that your review is due in a few days

[2019-04-15 20:45] sckott commented on #285
Thanks for your detailed reply @Rekyt including links to commits, etc.

reviewers @brunaw  and @ottlngr : are you happy with the responses and changes made? Any further questions/suggestions?

[2019-04-15 22:14] melvidoni commented on #292
Hello @noamross! @pachamaltese and @xavi-rp have been assigned as reviewers. They will have until **May 6th** to review the package.

[2019-04-15 22:19] pachamaltese commented on #292
Hi @noamross, @melvidoni and @xavi-rp
I started to install the package. One immediate thing to fix is to add the ROpenSci badge so please paste this code next to CI badge and regenerate the README:

[code]

[2019-04-16 10:42] brunaw commented on #285
For me, yes! I reinstalled and tested it, everything is checking. The improvements on the documentation are great as well. Thanks for the package @Rekyt!

[2019-04-16 14:41] eveskew commented on #292
Hi @pachamaltese, that should be taken care of now.

[2019-04-16 14:48] pachamaltese commented on #292
@eveskew Hi! last night I sent you a PR but I just address the problem, I'll try to find a fix with the DB connection.

[2019-04-16 16:37] boshek commented on #284
@robbriers sounds good. However if that dataframe isn't exposed I think it is worth outlining the workflow on selecting sites. Searching is one option, which you've outlined, but I do see utility in having the site list available for users.

[2019-04-16 16:50] pachamaltese commented on #292
## Package Review

* [x]  As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

* [x]  **A statement of need** clearly stating problems the software is designed

[2019-04-16 17:44] sckott commented on #285
thanks @brunaw !

[2019-04-16 20:25] lmweber commented on #281
Hi @DillonHammill , thank you for submitting this package. My review comments are pasted below:

---

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure

[2019-04-16 22:07] DillonHammill commented on #281
Thanks for your review @lmweber!

Sorry the `testing` branch was not working as expected - I am working on some major updates and have not yet had time to push all the changes. I am working hard to refactor a lot of the code so I can implement `mockery` to improve the test coverage for the package.

I will need a week or so to finish implementing all of these new features and changes. I will merge

[2019-04-17 09:30] lmweber commented on #281
Ok no worries, just let me know when it is ready to have another look, thanks!

[2019-04-17 11:13] melvidoni commented on #294
Hello again @RaoulWolf . After a discussion, we've decided it's in scope. we welcome a full submission.
Good luck, I am closing the issue now.

[2019-04-17 11:13] #294 closed

[2019-04-17 13:02] robbriers commented on #284
@boshek if I document and expose the data in /data I seem to run into an issue with ` no visible binding for global variable 'ea_wbids'`. I am sure that I have come across this issue before but can't recall/find how to fix it - any advice?

[2019-04-17 15:12] DomBennett commented on #282
Hej allihopa!

Once again, thanks for the super-duper detailed and insightful reviews to the package. Lots of good advice and angles I hadn’t considered. Sorry for my lateness getting to this; I was juggling many things, plus I always have trouble approaching reviews for the first time. 😬

Given the complexity of this package and the high-level suggestions provided by the reviewers, I figured I sh

[2019-04-17 15:24] mem48 opened #295 "Submission: opentripplanner"
Submitting Author: Malcolm Morgan (@mem48)
Repository:   https://github.com/ITSLeeds/opentripplanner
Version submitted:   0.1.0
Editor: @geanders
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.git

[2019-04-17 15:25] mem48 commented on #295
Submission after #291

[2019-04-17 16:02] boshek commented on #284
What if instead of `ea_wbids.r` the file describing the data was `data.r`? Total shot in the dark.

[2019-04-17 21:47] jtr13 commented on #263
- [x] **The author has responded to my review and made changes to my satisfaction. I recommend approving this package.**

(I have additional suggestions listed below, but my approval is not contingent on their completion.)

#### Note

A reminder that I was not able to fully test all functionality claims.

### Followup from previous comments

#### README

I recommended updating the README to reflec

[2019-04-17 21:59] melvidoni commented on #295
Hello @mem48! Thanks for the submission. @geanders has been assigned as your editor.

[2019-04-18 08:53] robbriers commented on #284
no luck. will keep working on it but progressing with data saved internally for now.

[2019-04-18 12:04] limnoliver commented on #284
@sckott apologies for the delay on my review, it will be done today!

[2019-04-18 12:37] ThierryO commented on #263
Thanks to both @brodieG and @jtr13 for your detailed reviews. Your comments allow me to improve the quality of the package. I'll look into them and notify you when a next version is available. I'll giving an oral presentation on `git2rdata` at useR!2019. It would be nice to have the package on rOpenSci by then.

Below is a response on a few issues raised by @brodieG. Can I get some feedback on thi

[2019-04-18 13:12] brodieG commented on #263
## Badge

For the badge I'm going off of [the guide](https://ropensci.github.io/dev_guide/building.html):

## File Format

It's not critical that you have a custom "format" for git2rdata.  I will note though that the "format" I propose still stores the data in open format in a completely accessible way.  Diffs will show it, CSV readers will be able to read it, etc.  I'm pretty sure that the concer

[2019-04-18 15:46] mem48 commented on #295
Thanks, @melvidoni and @geanders looking forward to your feedback.

[2019-04-18 16:22] boshek commented on #284
@robbriers This is a workaround to `global variables` issue:

[code]
Just add that bit of code to your `zzz.R` file.

[2019-04-18 17:00] robbriers commented on #284
@boshek I just found this as well! Feels a bit hacky but if that is what it takes. Thanks!

[2019-04-18 22:53] #261 closed

[2019-04-19 19:55] limnoliver commented on #284
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-04-22 15:15] aurielfournier commented on #256
Hi All, Matt and I are working on this, but its likely going to be mid May before we have everything pulled together. We apologize for the delay, and thank you for your patience, we're both doing this outside of our day jobs.

[2019-04-22 19:13] robbriers commented on #284
@limnoliver thanks for the review - I will go through the comments and address!

[2019-04-23 07:23] maelle commented on #256
:wave: @aurielfournier & @birderboone! Thanks for the update, I understand.

[2019-04-23 14:48] noamross commented on #292
Note to reviewers: The *MonetDBLite* package has been (hopefully temporarily) archived on CRAN, so I have switched the *citesdb* to using a stable GitHub version of *MonetDBLite* via the `Remotes:` field in the DESCRIPTION file.

[2019-04-23 17:00] sckott commented on #284
thanks for your review @limnoliver !

[2019-04-25 15:22] karthik commented on #267
Apologies for the unusual delays @Bisaloo. I am reassigning reviewers now.

[2019-04-25 16:12] annakrystalli commented on #282
Geia sou @DomBennett! 😜

Many thanks for your detailed response and apologies for the delay in mine!

I see the invitation to the slack has gone through so welcome! Feel free to ask questions for broader feedback there.

Re:

Yes that should be fine, it would be deemed in scope.  We'll need to check that:
- [ ] documentation was ported appropriately as you suggest,
- [ ] The relevant tests are als

[2019-04-25 17:44] ottlngr commented on #285
Sorry for the late reply, @Rekyt @sckott

Thanks @Rekyt for the detailed comments on the reviews. I appreciate your changes on `rromeo` and therefore recommend to admit `rromeo` to rOpenSci :)

[2019-04-25 18:55] karthik commented on #289
Hi @laurajanegraham Thanks for the question. We have a section in the dev guide that addresses this specific issue: https://ropensci.github.io/dev_guide/evolution.html#functions-changing-function-names

I hope that's helpful. If not please let us know and we can help more.

[2019-04-26 03:04] MahShaaban opened #296 "Presubmission inquiry: stringapi"
Submitting Author: Name (@MahShaaban)
Repository:  https://github.com/MahShaaban/stringapi

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

	-

[2019-04-26 10:25] laurajanegraham commented on #289
Thanks @karthik that sounds like it'll answer the question.

[2019-04-26 14:43] noamross commented on #296
Thank your for your inquiry, @MahShaaban!  I am not yet sure if this package can meet or maintain best-in-category designation.  STRINGdb installs via the standard Bioconductor methods (an alternative system to CRAN but a robust one), and it is not an issue that it has _more_ functionality. I understand the V11 of the API has more functionality and data, but as STRINGdb has been maintained through

[2019-04-26 23:33] MahShaaban commented on #296
Thanks @noamross. Please, let me clarify. Of course it is not an issue to have more functionality. What I meant is, the package does more, so it has more dependencies including Bioconductor and this increases the install requirements.
I have not contacted the maintainers about updating the package.

[2019-04-27 11:47] mdsumner commented on #174
And now on CRAN.

I still see stuff that needs fixing but functionally I think all is well. THANK YOU @sckott @timcdlucas and @Nowosad !   A while back I just didn't think this was going to work, but the whole process has been extremely helpful  and I appreciate all the patience.

It occurred to me I haven't credited efforts from this review enough in the package itself, but I will rectify that.

[2019-04-27 16:01] timcdlucas commented on #174
Thanks, glad to have helped.

Didn't know print was explicitly banned. Will remember that.

[2019-04-27 23:02] noamross commented on #290
👋@toph-allen and @juliasilge, just a friendly reminder that you're reviews are due this coming
Thursday, 2019-05-02.

[2019-04-28 12:29] rorynolan commented on #287
Hello @JingningShi, @annakrystalli and @bhive01
Here is my initial review.

@JingningShi, great job on a really nice package. I have several improvements that I'd like you to implement but I like the package a lot, it was nice to try it out.

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the r

[2019-04-28 22:56] bhive01 commented on #287
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-04-29 01:12] JingningShi commented on #287
@rorynolan @bhive01 Thanks a lot for the thorough review and great suggestions. I will address these issues and report back here.

[2019-04-29 13:18] pmnatural commented on #246
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

  - [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

 #### Doc

[2019-04-29 16:59] sckott commented on #285
Great, thanks for the thumbs up reviewers. I'm taking a final look ...

[2019-04-29 17:25] sckott commented on #285
Approved!  Thanks again for your submission @Rekyt ! And thanks for your reviews @ottlngr and @brunaw  👌

To-dos:

* Please transfer the package  to `ropensci`- I've invited you to a team (you need to accept that invitation first, before transferring). You'll be made admin once you transfer
* add rOpenSci footer to README
`[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)

[2019-04-30 00:56] toph-allen commented on #290
I've got a start on mine here: [toph-allen/tidypmc-review ](https://github.com/toph-allen/tidypmc-review) (trying out the `pkgreviewr` package for this one). I should have no problem getting it done by Thursday.

[2019-04-30 02:59] geanders commented on #281
@lmweber : Thanks so much for your very helpful review!

@jacobpwagner : I wanted to briefly check in---it looks like many of your initial concerns were addressed. Are you satisfied that the X11 concern is now addressed, or is that still something to keep an eye on through the remaining revisions?

Also, thanks @DillonHammill for your quick and thorough revisions based on these reviews. I will kee

[2019-04-30 16:24] jacobpwagner commented on #281
@geanders, it looks fixed in the `testing` branch, so as soon as that gets merged to `master` it should be good. I can hold off and look over everything once more after @DillonHammill has merged this batch of changes to `master`.

[2019-04-30 17:41] johnbaums commented on #289
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-04-30 17:44] johnbaums commented on #289
Apologies for the slow review, and thank you for your patience

[2019-05-01 14:17] noamross commented on #296
I would ask that you contact the maintainers. From my perspective the primary justification accepting this would be it's support of v11 and the additional data, but if STRINGdb is likely to be updated to support v11, we would not likely accept this submission.

[2019-05-01 16:17] laurajanegraham commented on #289
Thank you @johnbaums and @mbjoseph for your thorough and thoughtful reviews. I'll get working on them!

[2019-05-01 23:11] juliasilge commented on #290
I know this is a little late, but I am going to get this done this coming weekend. You'll have it by Monday!

[2019-05-02 00:09] MahShaaban commented on #296
Alright. Thanks @noamross for your time.

[2019-05-02 00:10] #296 closed

[2019-05-02 01:51] geanders commented on #295
@mem48 : So sorry for the delay in the initial checks from my end! This looks like a very exciting package, and I'm looking forward to managing the submission. I'll start with some results and comments from some standard pre-review checks.

### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has

[2019-05-02 10:11] Rekyt commented on #285
Hi @sckott thank you so much, @Bisaloo and I would be interested in doing a blog post on our lessons learned developing our first API package.

[2019-05-02 16:09] stefaniebutland commented on #285
@Rekyt @Bisaloo 😄 Great to hear you would like to contribute a post about rromeo.

Here are examples of blog posts by authors of peer-reviewed packages so you can get an idea of the style and length you prefer: https://ropensci.org/tags/software-peer-review/. Tech Notes (shorter, focusing on a single example) are here: https://ropensci.org/technotes/.

Here are some technical and editorial guideli

[2019-05-02 16:32] #214 closed

[2019-05-02 18:14] toph-allen commented on #290
Here's my review! Additionally, the output of `pkgreviewr`'s index.Rmd notebook, including the results of tests and stuff, is viewable [here](https://toph-allen.github.io/tidypmc-review/index.nb.html). Nice work, @cstubben!

@noamross & @cstubben, please let me know if there are any further questions about what I've written.

---

## Package Review

*Please check off boxes as applicable, and elabo

[2019-05-03 16:59] cstubben commented on #290
@toph-allen Thanks for the great suggestions and careful review.  I'll have time later next week to make these changes.  The introduction definitely needs work too

[2019-05-03 17:38] sckott commented on #285
@Rekyt gave you admin access on the repo now

[2019-05-03 17:38] #285 closed

[2019-05-03 19:40] jacobpwagner commented on #281
@DillonHammill I think you've seen that the API for `flowCore`, `flowWorkspace`, and `openCyto` is getting a bit of an overhaul, but it's mostly just method renaming with the old names being deprecated. The changes were merged to Bioconductor after the 3.9 branch was created, so for now it shouldn't affect users installing those dependencies following your installation instructions. However, if us

[2019-05-03 20:07] DillonHammill commented on #281
Thanks @jacobpwagner. Sorry for the delay, I am doing a complete overhaul of CytoRSuite to add some coding conventions to make it easier to add new features and find erroneous code. This is taking longer than expected but I will do my best to have it completed on the coming week. Looking forward to sharing the improvements soon. I will let you know when everything is merged to `master` and ready f

[2019-05-03 20:48] potterzot opened #297 "Applicability of 'rnassqs' as a Ropensci package."
Submitting Author: Nicholas Potter (@potterzot)
Repository: https://github.com/potterzot/rnassqs

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.

[2019-05-03 23:26] noamross commented on #297
Thanks for your inquiry, @potterzot.  Yes, this package falls in-scope for us.  We welcome a full submission.

[2019-05-04 02:01] potterzot commented on #297
Wonderful, thank you!

[2019-05-04 02:01] #297 closed

[2019-05-04 02:17] potterzot opened #298 "Submission: rnassqs - access the USDA-NASS 'Quick Stats' data through their API"
Submitting Author: Nicholas A. Potter (@potterzot)
Repository: https://github.com/potterzot/rnassqs
Version submitted: 0.4.0
Editor: @lmullen
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.

[2019-05-04 18:46] #157 closed

[2019-05-04 18:46] #276 closed

[2019-05-04 18:47] #209 closed

[2019-05-04 18:59] noamross commented on #254
Hello @AldoCompagnoni, I'm just checking in on the current status of the changes you describe above. Please let us know when you have an update to review, and if there's anything we can help with.

[2019-05-04 21:44] noamross commented on #172
Dear @amrrs, I must write to apologize - this issue fell through the cracks in our editor rotation, and I only just rediscovered it in a pipeline cleanup. I'm really quite sorry that I didn't reply to the above and this got lost.  If you are still working on this, can you tell me your current status and whether you'd like to complete the review? If so I'll make sure we expedite picking up the proc

[2019-05-05 02:03] juliasilge commented on #290
Here is my review! Thank you 🙏 for your patience as I took a few extra days to get this finished.

## Package Review

This package exhibits good design principles and has been built well to create analysis-ready datasets. 🎉 I think the work put into the API design of the functions is especially excellent.

- [X] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to re

[2019-05-05 13:56] AldoCompagnoni commented on #254
Dear @noamross ,
Thanks for checking in! We are done with points 1-4, but we are currently de-bugging issues with the database itself. A bit after the review, the database broke due to hacking/lack of space. We just set a new instance of the database with increased security settings, but we are still working to set up the API; at the same time, we are planning to upgrade to a AWS instance with twi

[2019-05-05 17:43] xavi-rp commented on #292
Hi @noamross and @melvidoni,
Thanks for giving me the opportunity to review *citesdb*. I think it's a very nice and useful package. I've enjoyed (and learned!) a lot reviewing it.
Please take my comments only as suggestions as I think it's already very well written.

## Package Review
- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you

[2019-05-05 17:55] noamross commented on #290
Thank you for your reviews, @toph-allen and @juliasilge! @cstubben, please let us know when and how you have addressed the reviewer's comments and if you have any questions.

[2019-05-05 18:43] amrrs commented on #172
Hi @noamross  That's completely fine. So kind of you to get back. The package is working as it should be, I guess I did fix most of the previous review's comments. Is it possible to do a fresh review, just in case for things to be okay?

Thanks again!

[2019-05-06 08:57] maelle commented on #233
:wave: @kamapu, any update? Note that I'll be unavailable from sometime between the beginning of and mid-June, until mid-October, so your editor would be @noamross after that point.

[2019-05-06 09:26] Rekyt commented on #285
Hi, we would like to thank @brunaw and @ottlngr for checking the package again and recommending it!

@stefaniebutland, we would be interested in writing a regular blog post with the narrative about how we decided to build `rromeo` and Tues June 4 would be perfect for us!
We'll submit a PR with the draft of the post.

Many thanks!

[2019-05-06 11:51] noamross commented on #292
Thank you for your careful reviews, @pachamaltese and @xavi-rp! We'll get to work on these.

[2019-05-06 15:27] PMassicotte opened #299 "Presubmission inquiry: gitignore"
Submitting Author: Philippe Massicotte (@PMassicotte)
Repository:   https://github.com/PMassicotte/gitignore

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriat

[2019-05-06 16:20] hettling commented on #257
Hi @sckott @DomBennett @mbjoseph,
thank you for the thorough evaluation of the package.
The new version of the [nbaR package](https://github.com/naturalis/nbaR)
aims to address all of these issues. For a better overview, I cpoied your comment into github issues summarised in the milestone [Ropenscience-revision](https://github.com/naturalis/nbaR/issues?q=is%3Aclosed+milestone%3ARopenscience-revisi

[2019-05-06 17:24] cstubben commented on #290
@juliasilge Thanks for the review and all the helpful links.  I will likely make updates this weekend and use a precompiled vignette to load all 10K articles instead of the 7.7Mb file with 100 articles.

[2019-05-06 18:10] sckott commented on #257
thanks very much for your response @hettling

@DomBennett @mbjoseph are you happy with the changes? any further questions/suggestions?

[2019-05-07 12:07] annakrystalli commented on #234
Hello @GuangchuangYu. Just checking on this submission and to remind you that issues on hold are closed after 1 year of inactivity. That still gives you till 3rd of July 2019 but wanted to make you aware. As always feel free to reach out with any questions. ☺️

[2019-05-07 12:11] annakrystalli commented on #282
Hello again @hrbrmstr & @nuest. Was wondering if you had any feedback for @DomBennett regarding the major changes he is proposing?

[2019-05-07 18:14] noamross commented on #299
Thank you for your inquiry, @PMassicotte.  We believe this package would be in-scope under the "reproducibility" category because it helps "facilitate use of version control" (see the [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories)]. We'd welcome a full submission.

[2019-05-08 15:20] lmullen commented on #298
@potterzot I will be the editor for this peer review.

Here are my editorial checks.

### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:**

[2019-05-08 17:14] khufkens commented on #246
Hi @pmnatural,

Below my response and references to the code changes.

I'm not sure which exact version you reviewed but both the vignette and DESCRIPTION file now reference to the ORNL API. Although the focus is on point based extractions the querying of regional data prevents me to explicitly state that it is a "point based" approach (the upper limit is 200 x 200 km a sizable footprint, roughly

[2019-05-08 21:06] geanders commented on #264
@kshtzgupta1 : I think we are all set with our post-approval steps, so I'm going to close this issue. Congrats on a really nice package!

[2019-05-08 21:06] #264 closed

[2019-05-08 21:20] mem48 commented on #295
@geanders Thanks for the feedback. I'm trying to reproduce the error you are getting with the tests. Otherwise, I think these are all easy fixes.

[2019-05-08 21:37] geanders commented on #295
@mem48 : That sounds good. If you are unable to reproduce the test error I got, then I think we'd be okay with seeing if it comes up for the reviewers.

[2019-05-08 22:07] jacobpwagner commented on #281
@DillonHammill , see https://github.com/DillonHammill/CytoRSuite/pull/17, which is based off of your `master` branch. I can help resolve conflicts if you merge in your `testing` branch.

[2019-05-09 05:51] kamapu commented on #233
Hello @maelle and @noamross
There is one recent step [here](https://github.com/kamapu/taxlist/issues/2#issuecomment-490748989)
We are working in a function for converting `taxlist` objects into `Taxmap`.

[2019-05-09 17:18] Robinlovelace commented on #295
Just looking at this. Please could you provide info on your system @geanders ? Suspect it may be an OS-specific issue. I'm on Ubuntu and also fails. `otp_stop()` is interactive, and asks:

[code]

[2019-05-09 17:45] geanders commented on #295
That seems plausible, @Robinlovelace. I'm using MacOS Mojave 10.14.4.

[2019-05-09 17:57] potterzot commented on #298
@lmullen thank you for your comments. I've made a commit to address your comments.

Regarding this note:

Tests in [tests/testthat/test-oncran.R](https://github.com/potterzot/rnassqs/blob/master/tests/testthat/test-oncran.R#L55) beginning on line 55 include mock API calls. The tests make the request, specifying that the function return the GET request URL rather than actually make the request, and

[2019-05-09 18:05] lmullen commented on #298
@potterzot That sounds fine to me. I just wanted to make sure the reviewers and I understood.

[2019-05-09 18:42] Robinlovelace commented on #295
Think I've fixed that issue now.

[2019-05-09 19:15] DomBennett commented on #282
Hallå hallå,

**Quick update on progress**

I’ve actually decided to split the package three ways: [`outsider.base`](https://github.com/AntonelliLab/outsider.base), `outsider` and [`outsider.devtools`](https://github.com/AntonelliLab/outsider.devtools/).

Why? I actually found it quite hard to determine what should be exported objects if I just had `outsider` and `outsider.devtools`. But now there

[2019-05-10 08:57] mdsumner commented on #174
@sckott are we good for rOpenSci here? I found some personal time to push this out to CRAN and kind of lost track of the status here -can we go to the next steps?

[2019-05-11 07:44] JingningShi commented on #287
Sorry for the delay in the response. Thank you again for taking the time to thoroughly review the package @rorynolan @bhive01 . English isn't my first language, so please excuse any mistakes. I will explain to the best of my ability.

I'll first respond to @rorynolan  comments:

## Vignettes

Installation instructions have been removed.

Thanks for the excellent suggestion.  I deleted the old vign

[2019-05-13 08:46] robbriers commented on #284
Ok, took a bit longer than planned, but here we go...
First @boshek review:
_`get_measures` function: There is an issue with the measures data on the CDE website since the last quarterly update - this is being actively worked on by the EA and should be fixed soon. This has been documented in the vignette. but at the moment all calls to this will return an empty dataframe._
Review Comments
I think

[2019-05-13 08:54] robbriers commented on #284
and now @limnoliver ...
Review Comments
Congrats on providing a useful package that allows for easier and reproducible ways to access and use important water data. Most of my comments are for making it easier for someone who is new to the data get up-to-speed more quickly. I don't think this will take too much effort, and could be as simple as linking to some documentation that likely exists on th

[2019-05-13 09:42] annakrystalli commented on #287
Thanks for your detailed response @JingningShi! ✨

Over to you @rorynolan & @bhive01. Please let us know is the implemented changes satisfy your comments.

[2019-05-13 10:44] rorynolan commented on #287
Hi @JingningShi,
I'm very happy with your response to my comments. One last thing to me would be to include your above explanation of when one might not use `magick` in the documentation of `ring_read()`. I think it would be nice for users to have this clarified for them.
Other than that, I'm happy to sign off.
One last word of advice: be prepared for 1-2 years of basic maintenance of your package

[2019-05-13 17:05] sckott commented on #284
thanks for your response @robbriers to the reviewers.

@boshek and @limnoliver - are you happy with the maintainer's responses? any further comments?

[2019-05-13 17:57] boshek commented on #284
@sckott I say ship it! @robbriers really nice work on the package and the revisions. Really great effort.

[2019-05-13 18:04] sckott commented on #174
@mdsumner All is good, was waiting i think for ncmeta to get on CRAN, now it's on CRAN.

Approved!  Thanks again for your submission @mdsumner  ! And thanks for your reviews @Nowosad  and @timcdlucas  👌

To-dos:

* Please transfer the package  to `ropensci`- I've invited you to a team (you need to accept that invitation first, before transferring). You'll be made admin once you transfer
* add rOpe

[2019-05-14 00:29] limnoliver commented on #284
@limnoliver looks great!

[2019-05-14 02:21] JingningShi commented on #287
Thanks @rorynolan , an explanation has been added to the R documentation.

I will do my best to maintain and improve this package :smile:

[2019-05-14 02:41] MKLau opened #300 "Rclean: A Tool for Writing Cleaner, More Transparent Code"
Submitting Author: Matthew K. Lau (@mklau)
Repository: https://github.com/provtools/rclean

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

	-

[2019-05-14 19:13] bhive01 commented on #287
Going through this today.

👏🏻👏🏻👏🏻
Well done on the vignettes, examples, and function names. It's really good and I've run through them all without major issues. The gifs are super easy to follow and things are working better for me as a "naïve" user.

I'm happy to say that this package is a go for me now.
Really well done. Thanks for your efforts Jingning Shi.

[2019-05-14 20:02] sckott commented on #284
thanks reviewers! Having a final look ...

[2019-05-14 20:12] sckott commented on #257
@DomBennett @mbjoseph any thoughts? if no response by the end of the week i'll assume you're happy with the changes

[2019-05-14 20:44] mbjoseph commented on #257
@hettling this looks great! I like the reorganization of the documentation, and the wrapper functions provide a nice solution for common use cases, without sacrificing access to the functionality of the API. I approve. :+1:

[2019-05-14 20:51] paleolimbot opened #301 "Forthcoming release of ggplot2 and visdat"
We are contacting you because you are the maintainer of **visdat**, which imports **ggplot2** and uses **vdiffr** to manage visual test cases. The upcoming release of **ggplot2** includes several improvements to plot rendering, including the ability to specify `lineend` and `linejoin` in `geom_rect()` and `geom_tile()`, and improved rendering of text. These improvements will result in subtle chang

[2019-05-14 20:56] #301 closed

[2019-05-14 20:57] sckott commented on #257
thanks @mbjoseph

[2019-05-14 21:00] karthik commented on #301
Thank you! I just pinged Nick Tierney to have this issue moved over but glad you resolved this yourself. :)

[2019-05-14 22:46] mdsumner commented on #174
Great thanks!  All done apart from

- [ ] admin for me on ropensci/tidync (change pkgdown doc link)
- [ ] appveyor badge

tidync 0.2.0 just hit CRAN!

[2019-05-14 23:01] sckott commented on #174
try again, admin should be fixed

[2019-05-14 23:37] stefaniebutland commented on #174
Are you considering a blog post @mdsumner ?

[2019-05-14 23:43] mdsumner commented on #174
Oh definitely!

[2019-05-14 23:55] stefaniebutland commented on #174
Most excellent!
Guidelines are here: https://github.com/ropensci/roweb2#contributing-a-blog-post and worth checking as we've made some updates. Earliest publication date would be June 11, 2019. If that works for you, please submit a draft via pull request by June 4, 2019.

Once published, it will show up on [your author page](https://ropensci.org/authors/michael-sumner/)

Happy to answer any quest

[2019-05-15 04:21] sckott commented on #174
sorry to change recommendation @mdsumner - we recommend continuing to maintain your appveyor badge under your own acct

[2019-05-15 04:29] mdsumner commented on #174
Oh that's all good, the change is only that appveyor creates a new link (another random suffix), but the badge hangs off github/ropensci:

[code]

[2019-05-15 11:11] robbriers commented on #284
Great thanks! I have transferred it over and updated CI etc. Thanks also to @boshek and @limnoliver for such helpful and constructive reviews - it has been a great process and I have learned a lot en route!

[2019-05-15 12:31] DomBennett commented on #257
Hi @hettling

Looks good Hannes! That's an amazingly thorough response to every point raised in the reviews.

I re-ran `goodpractice` and got "NOTE: installed size is 5.9Mb sub-directories of 1Mb or more: R 2.0Mb doc 3.3Mb". This confuses me a little as the total repo size is less than 3.9 MB. Are the vigenettes particularly large upon installation? This will own be a real problem for you if you t

[2019-05-15 12:43] DomBennett commented on #257
Also... I just noticed you have this kind of code at the beginning of a couple of your tests:

[code]

I recently learned about `testthat`'s setup and teardown functionalities. For shared variables like `data_dir` you could add a `setup-vars.R` script in your `testthat/` with the above code. This script would then be run at the beginning of each test script -- avoiding duplicate code.

[2019-05-15 17:29] sckott commented on #257
thanks for your feedback @DomBennett

also for package size, if you have any datasets in thepkg, you can resave datasets with different compression options to see what is the smallest.

[2019-05-15 17:30] sckott commented on #174
@mdsumner  so is that okay?

[2019-05-15 17:31] sckott commented on #284
great! glad it's been useful. you have admin access now

[2019-05-15 17:32] sckott commented on #284
and let Stef now if you want to do a blog post or not

[2019-05-15 17:37] stefaniebutland commented on #284
@robbriers Here are the blog post guidelines https://github.com/ropensci/roweb2#contributing-a-blog-post

Happy to answer any questions.

[2019-05-15 21:55] mdsumner commented on #174
Yes, my only Todo now is the blog!

[2019-05-15 22:02] #174 closed

[2019-05-15 22:02] #284 closed

[2019-05-16 08:16] maelle commented on #256
wave @aurielfournier & @birderboone! Mid-May is now, any update? :wink:

[2019-05-16 08:17] maelle commented on #279
:wave: @aaronwolen! Any update on the new feature? Thanks! :smile_cat:

[2019-05-16 14:50] ThierryO commented on #263
Version 0.0.4 is ready for review.

## Changes as listed in NEWS.md

### BREAKING FEATURES

  * `write_vc()` stores the `git2rdata` version number to the metadata. Use `upgrade_data()` to update existing data.

### NEW FEATURES

  * `read_vc()` checks the meta data hash. A mismatch results in an error.
  * The meta data gains a data hash. A mismatch throws a warning when reading the object. This t

[2019-05-16 15:14] noamross commented on #300
Thank you for this inquiry, @MKLau!  I have a question: Can the package work without `provR`, as described in the README? If the two are in a tightly linked workflow, it may make more sense to have both reviewed or do them together.

[2019-05-17 01:45] pmnatural commented on #246
#### Final approval (post-review)

- [x] **The author has responded to my review and made changes to my satisfaction. I recommend approving this package.**

Estimated hours spent reviewing:

[2019-05-17 03:30] MKLau commented on #300
Thanks @noamross! No, but it does require some kind of provenance input. I have updated the package to use prospective provenance, which doesn't require code execution to conduct analyses. I would say that this is now the primary workhorse for the package. Sorry, I'm still working on the docs and haven't pushed the feature into a release yet, so it's not yet described. It depends heavily on the Co

[2019-05-17 09:22] hettling commented on #257
@mbjoseph Thanks!

[2019-05-17 11:34] hettling commented on #257
Hi @DomBennett ,

Strangely I do not get the note from goodpractice about package size. I run it as follows:

`gp = goodpractice::gp()`

and then if I look for the checks that contain 'size':

`goodpractice::results(gp)[c(164, 165, 211),]`

[code]
If I check the size of the package in my library location, I get `4.0K`. During the revisions I excluded the shark and tomato examples from the vignette

[2019-05-17 16:58] karthik commented on #246
Congrats @khufkens , your submission has been approved! 🎉 Thank you for submitting and @etiennebr  and @pmnatural for thorough and timely reviews. To-dos:

- [ ] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.

- [ ] Add the rOpenSci footer to the bottom of your README

[c

[2019-05-17 17:04] karthik commented on #246
Please also add this badge to your README

[![rOpenSci Peer Review](https://badges.ropensci.org/246_status.svg)](https://github.com/ropensci/software-review/issues/246)

[code]

[2019-05-17 18:41] mkearney opened #302 "Submission: rtweet"
Submitting Author: Michael W. Kearney (@mkearney)
Repository: https://github.com/mkearney/rtweet
Version submitted: v0.6.9
Editor: @sckott
Reviewer 1: @andrewheiss
Reviewer 2: @briatte
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropen

[2019-05-17 19:12] aaronwolen commented on #279
Hey @maelle, Things are coming along, albeit a little more slowly than expected (my side-project time has been limited recently). So far I've got multi-file downloads working well 👇

![Screen capture demonstrating multi-file downloading with osfr.](https://user-images.githubusercontent.com/1067915/57950625-6de65e00-78ad-11e9-8525-2045b95acfee.gif)

Uploading is still a WIP but I hope to have it co

[2019-05-17 19:15] maelle commented on #279
Cool work and thanks for the update! :smile_cat:

[2019-05-17 21:26] stefaniebutland commented on #246
Congratulations @khufkens 🎉. We would indeed love to have a post about MODISTools.

Guidelines for submitting a blog post or tech note are here: https://github.com/ropensci/roweb2#contributing-a-blog-post. We currently have publication slots available June 11 or later.

Happy to answer any questions

[2019-05-18 08:13] briatte commented on #302
As I said in https://github.com/openjournals/joss-reviews/issues/1454 -- I'll happily review the package here. I've reviewed for JOSS (alongside @andrewheiss, in fact), and would gladly review for @ropensci :-)

[2019-05-18 11:56] etiennebr commented on #246
Good job @khufkens! 🎉

[2019-05-18 12:04] mem48 commented on #295
@geanders I've been chipping away at the to-do list. I think they are all done now, with a few exceptions

- There are a few 80+ character lines left where long character strings such as URLs can't easily be split
- I haven't changed the I_have_OTP for now as NOT_CRAN is similar but not exactly the same. I'm open to advice on this.

I think the otp_stop test is fixed but I don't have a mac so perh

[2019-05-19 13:20] annakrystalli commented on #287
Congratulations @JingningShi! This concludes the review and the package is now approved! 🚀

Let me echo the reviewers for a really great job responding to all comments and suggestions. Many thanks as well to @rorynolan & @bhive01 for your most thorough and helpful reviews. 😺Great work all around!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your

[2019-05-19 13:32] annakrystalli commented on #287
Actually, sorry @JingningShi, I just picked up that the package is missing a `NEWS.md` and that the package is still at version 1.2.

Tracking changes to the package is a requirement for an rOpenSci package. I also would expect that given the development and many improvements made to the package during review for the post-review package to have a higher version.  The `NEWS.md` is a great place to

[2019-05-19 21:30] AldoCompagnoni commented on #254
I am checking in as announced, but regretfully we have found a substantial issue with the API. We think it is more practical to provide a rundown of the changes we've made to the package once the package itself is running perfectly.

We'll be back to this as soon as possible, hopefully within mid week.

[2019-05-20 00:41] brodieG commented on #263
From a quick skim this looks good.  I'll review more thoroughly sometime next week and report back.

[2019-05-20 09:56] noamross commented on #254
Thanks for letting us know @AldoCompagnoni

[2019-05-20 14:23] JingningShi commented on #287
Great thanks! @annakrystalli
I have transferred it over and add NEWS.md. But I find that the ropensci badge in README shows `unknown` (https://badges.ropensci.org/287_status.svg). I am not sure if this is something which is still pending or not.

[2019-05-20 15:01] annakrystalli commented on #287
Excellent work @JingningShi! I've given you back admin rights and am looking into the badge situation. Will get back to you shortly.

[2019-05-20 16:12] annakrystalli commented on #287
Fixed! Many thanks again @JingningShi for your submission and engagement with the review process. As @rorynolan mentioned, this is just the start of your adventures as a package maintainer, but I've invited you to the rOpenSci slack. Feel free to ask questions there if you get stuck! ☺️

[2019-05-20 16:12] #287 closed

[2019-05-20 18:33] khufkens commented on #246
Thanks all for the feedback! I can do a short blog post, but for something more substantial I'll need some time. If time is no objection I can do this after June 4th.

I also get this error upon transfer of the repo, not sure how to proceed.
<img width="537" alt="Screen Shot 2019-05-20 at 20 24 30" src="https://user-images.githubusercontent.com/1354258/58043800-71444880-7b3e-11e9-8c5e-bffcba90c08e

[2019-05-20 18:38] stefaniebutland commented on #246
I can be 100% flexible on publication date, since most important is for you to get what you want out of it. Short, or substantial is your choice based on the message you want to convey. Do you want to propose a date to submit a draft?

[2019-05-20 18:40] khufkens commented on #246
Hi @stefaniebutland, can we peg it on mid June then? This should give me some time to frame things properly with some graphs etc.

[2019-05-20 18:49] karthik commented on #246
Should be fixed now @khufkens

[2019-05-20 18:57] khufkens commented on #246
Thanks!

[2019-05-20 21:47] sckott commented on #257
any comment @DomBennett ?

[2019-05-21 07:24] JingningShi commented on #287
Thanks very much, @annakrystalli .Thanks also to @rorynolan and @bhive01 for such helpful and constructive reviews. This has been a fun and useful process. I have learned a lot from these comments.   :smile:

[2019-05-21 09:51] DomBennett commented on #257
@hettling @sckott

Sorry slow reply -- all looks good!

[2019-05-21 13:55] noamross commented on #300
Hello @MKLau.  After some discussion, we've decided that this package is in-scope under the reproducibility category for converting analysis scripts to reproducible workflows.  I note that your package will require a vignette and to report [testing coverage](https://ropensci.github.io/dev_guide/ci.html#coverage) before being sent for review.

[2019-05-21 15:43] sckott commented on #257
thanks @DomBennett

[2019-05-21 16:06] sckott commented on #257
Approved!  Thanks again for your submission @hettling  ! And thanks for your reviews @DomBennett  and @mbjoseph   👌

A few comments:

- i think you want to add `paper.md` and `tic.R` to your `.Rbuildignore` file
- also maybe add `vignettes/sharks.Rmd` and `vignettes/tomato.Rmd` to your `.Rbuildignore` file as r cmd check complains about those files missing a vignette engine, which CRAN checks woul

[2019-05-21 18:18] PMassicotte opened #303 "Submission: gitignore"
Submitting Author: Philippe Massicotte (@PMassicotte)
Repository:   https://github.com/PMassicotte/gitignore
Version submitted:   0.1.0
Editor: @melvidoni
Reviewer 1: @maurolepore
Reviewer 2: @aedobbyn
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit polici

[2019-05-21 18:54] mkearney commented on #302
I tentatively listed @andrewheiss and @briatte as reviewers because they initially expressed their willingness to review on a [now closed] JOSS thread. I don't want to presume they are/will be the reviewers–I'm not completely familiar with the ropensci process, but I'd selection of reviewers isn't entirely up to me–but I figured reviewer suggestions/volunteers were worth knowing!

[2019-05-21 20:11] karthik commented on #267
Hello @Bisaloo
I am so sorry for all the delays. Since I have been unable to get a response from the reviewers I assigned, I am switching reviewers now and we'll fast track the review from this point forward. @jeroen will complete a technical review soon, and I along with a domain reviewer will also share a review.  Thanks for your patience. 🙏

[2019-05-21 22:05] hettling commented on #257
Thanks @sckott, that's great news!
I'm working on the Todo's now, and transferred the ownership, waiting to get access.

[2019-05-22 05:53] MKLau commented on #300
Hi @noamross, thanks, great to hear, and issues noted.

[2019-05-22 07:14] #300 closed

[2019-05-22 09:44] Bisaloo commented on #267
@karthik, thanks for the update! That sounds good.

[2019-05-22 15:31] lauracion opened #304 "Presubmission inquiry: package for scale score calculation with COGA data"
Submitting Author: Laura Acion (@lauracion)
Repository:   None yet (just getting started here :smile_cat:)

---

-   Paste the full DESCRIPTION file inside a code block below:

There is no package yet. Thus, no description file yet. (Perhaps I should not even be asking this question yet. Happy to learn if that is the case. Thank you!)

We designed an [internalizing symptom scale based on the Semi-

[2019-05-22 18:09] sckott commented on #257
you should have admin now. do you walso want Rutger and Maarten to have admin access? or just write?

[2019-05-22 19:45] geanders commented on #295
@mem48 : That sounds great. We've not got one assigned reviewer(@kimnewzealand) and I have a request out for our second reviewer.

[2019-05-22 21:22] layik commented on #295
@mem48 I stumbled upon this by chance. GitHub might just be too good or I am not getting proper feeds. I will try it when I can. Just RE

I will see if I can split them, R's `paste0` is my friend when it comes to that, you might as well use part of those long URLs if not, it will satisfy roxygen or whatever package it is.

[2019-05-22 22:54] noamross commented on #292
# Response to reviewers

Thanks to both @pachamaltese and @xavi-rp for their comments and issues that have
helped us to make a more user-friendly package.

## Changes implemented

- We have changed the installation method in the `README` to use **devtools**.

- We have added information to the `cites_status` table indicating the location
  of the database files on disk.

- We now clear out and dis

[2019-05-22 23:06] melvidoni commented on #303
### Editor checks:

- [X] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [X] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [X] **License:** The package has a CRAN or OSI accepted license
- [X] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-05-23 01:10] melvidoni commented on #303
Reviewers have been assigned: @maurolepore and @aedobbyn.
The reviews due date is June 17th.

[2019-05-23 05:24] kimnewzealand commented on #295
super excited to help out

[2019-05-23 12:40] PMassicotte commented on #303
Thank you @melvidoni. I have fixed long lines and added more tests.

[2019-05-23 13:23] krlmlr opened #305 "Submission: tic"
Submitting Author: Kirill Müller (@krlmlr)
Repository: [ropenscilabs/tic](https://github.com/ropenscilabs/tic)
Version submitted: 0.2.13.0916
Editor: @annakrystalli
Reviewer 1: @ldecicco-usgs
Reviewer 2: @maxheld83
Archive: TBD
Version accepted: 0.3.0.9004

---

## `DESCRIPTION` file

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.

[2019-05-23 14:27] lauracion commented on #304
Thank you, @noamross! Your feedback is very helpful.

[2019-05-23 14:27] #304 closed

[2019-05-23 19:15] eebrown opened #306 "Presubmission inquiry: chlorpromazineR"
Submitting Author: Eric Brown (@eebrown)
Repository: https://github.com/eebrown/chlorpromazineR

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

[2019-05-23 19:33] aedobbyn commented on #303
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-05-23 20:05] mem48 commented on #295
@layik thanks for the help. On the 80+ characters I know you can split and paste together again, but I'm not sure if that is good practice? My impression was that that the 80 character limit was advice rather than a strict limit.

[2019-05-23 22:17] #246 closed

[2019-05-24 09:44] nuest commented on #282
Hi all, just catching up on the many good plans. Looks very promising and a huge step forward for the package(s). Here are some answers/comments:

- Re. "Security": I agree with your concerns regarding policing and managing of such a list of modules. In the end it boils down to "Do I know the person and trust her?", potentially judging that via online reputation. Using stars or watchers will only

[2019-05-24 10:16] DomBennett commented on #282
Thanks @nuest  -- I will act on your early feedback here!

On a general point to the reviewers, please don't feel overwhelmed or obliged to respond to _all_ the points I raise in this thread. I just want to lay out my thinking and show the evolution of the package(s) in an open and accessible way.

[2019-05-24 15:03] PMassicotte commented on #303
Thank you very much! I will work on that.

[2019-05-24 15:12] noamross commented on #306
Hello @eebrown, thanks for your inquiry! The editors have discussed this and agree this would be in-scope under the data access / data munging categories. We'd welcome a full submission.

[2019-05-24 15:12] #306 closed

[2019-05-24 16:50] eebrown opened #307 "Submission: chlorpromazineR"
Submitting Author: Eric Brown (@eebrown)
Repository: https://github.com/eebrown/chlorpromazineR
Version submitted: 0.1.0
Editor: @karthik
Reviewer 1: @chasemc
Reviewer 2: @fboehm
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.gi

[2019-05-24 18:16] PMassicotte commented on #303
Dear @aedobbyn I have made all the changes you suggested except the one about the order supplied by the user. I am currently just using the API as is. The other option if so make 1 call for each template (using lapply) and then combine the results. However, this will create many calls to the API instead of just one. Happy to hear your recommendations!

[2019-05-24 18:23] karthik commented on #307
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-05-24 20:59] eebrown commented on #307
Thanks, @karthik! I've updated the DESCRIPTION and README files.

[2019-05-24 21:53] tyluRp opened #308 "Presubmission inquiry: exo"
Submitting Author: Tyler Littlefield (@tylurp)
Repository: https://github.com/tyluRp/exo

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

	- [x

[2019-05-25 00:17] noamross commented on #308
Thank you for the inquiry @tyluRp! This is straightforwardly in-scope for us as a data retrieval package, and we'd welcome a full submission. From a quick glance I see you don't yet have a vignette - you will need one to pass initial editor checks.  I agree that the name change makes it more clear what the package's purpose is.

[2019-05-25 00:17] #308 closed

[2019-05-25 11:02] xavi-rp commented on #292
Hi,
I think that the authors have adressed all my review comments and am happy with their changes. Therefore, I recomend `citesdb` for approving.
Again, thank you so much to the editor for giving me the opportunity to review such a nice package and congratulations to the authors!!

[2019-05-25 16:32] tyluRp opened #309 "Submission: exoplanets"
Submitting Author: Tyler Littlefield (@tyluRp)
Repository: https://github.com/tyluRp/exoplanets
Version submitted: 0.0.0.9000
Editor: @maelle
Reviewers: @nmonhait, @maelle
Due date for @nmonhait: 2020-08-05
Due date for @maelle: 2021-05-22
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or c