[2019-05-25 16:39] aedobbyn commented on #303
Looks good!

I agree it's best to make one call to the API instead of multiple. What you could do if you want to sort the results is to do a regex search for the language in between three `###`s since those always signal the beginning of a new language template and sort based on that. You could even separate each language into an element of a list and return the list. But this is all super optiona

[2019-05-26 00:57] PMassicotte commented on #303
Thank you @aedobbyn. I like your idea, I will work on it. Also, good catch with the old function name! I will change it!

[2019-05-26 16:52] hettling commented on #257
Thanks! Admin rights would be good for Rutger and Maarten.

[2019-05-26 19:48] sckott commented on #257
they've been added

[2019-05-26 21:18] melvidoni commented on #292
Thank you @xavi-rp, noted. @pachamaltese what are your thoughts?

[2019-05-26 21:23] pachamaltese commented on #292
@melvidoni I totally agree with this:

[2019-05-26 21:29] melvidoni commented on #292
Approved! Thanks @noamross for submitting and @pachamaltese and @xavi-rp  for your reviews!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer to the bottom of your README
"```
[![ropensci_footer](https://ropensci.o

[2019-05-26 21:32] pachamaltese commented on #292
@melvidoni IMO there's an additional pending: to apply rOpenSci themes to their vignettes

[2019-05-26 21:34] melvidoni commented on #292
@pachamaltese You just told me before that it was ready to be approved...

[2019-05-27 16:33] stefaniebutland commented on #285
@Rekyt @Bisaloo  Checking in. Is Tues June 4 still a good publication date for you? If so, please submit a draft May 28 or as soon as possible after that so we have time for any refinements

[2019-05-27 20:45] birderboone commented on #256
Hello,
So the package should be ready.
- I have gone over it with lintr some more. I have not taken out upper case letters in variable names which lintr gets mentions frequently. I looked and I wasn't quite sure if this is mentioned in the ropensci/hadley style guide? I might not have looked hard enough. I didnt want to go down this path unless absolutely required since it would likely take a bit

[2019-05-27 23:02] kimnewzealand commented on #295
I have raised an issue (see here https://github.com/ITSLeeds/opentripplanner/issues/28)

[2019-05-28 09:06] Bisaloo commented on #285
@stefaniebutland, yes, we have been working on a draft on our fork. It should be ready by tonight for a first look on your side! :pray: We will submit a PR as soon as we can.

[2019-05-28 09:57] annakrystalli commented on #282
Thank you for the feedback @nuest! ✨ And please don't worry @DomBennett.

I can somewhat understand where @nuest is coming from because the splitting up of the package does add additional checking that perhaps wasn't envisaged at the start. For completing the review, I would refrain from tackling "future dev ideas" and try and limit the "A healthy plethora of other things" on your TODO list to cha

[2019-05-28 11:09] jeroen commented on #267
Hi Hugo,

Thanks for submitting your package to rOpenSci!

I'm not an expert in spectrometry hence my review focuses on general R packaging practices and some implementation advice.

# Overall

Overall the package is in good shape. The pkgdown site looks nice and provides a good starting point for new users. All functions include an example using test data in various formats which ship with the pa

[2019-05-28 13:23] maurolepore commented on #303
@PMassicotte, thanks for submitting your great work. Here is my review. With it, I intend to help you make it even more awesome. Some of my comments may no longer be relevant, as you seem to have already incorporated @aedobbyn's comments. Please let me know what questions you have.

Thanks @melvidoni, @aedobbyn, and @noamross for following this
discussion. I value your experience. Please do let me

[2019-05-28 17:39] PMassicotte commented on #303
Thank you @maurolepore I started to address your comments.

[2019-05-28 19:31] sckott commented on #302
thanks for the reviewer suggestions, much appreciated.

[2019-05-28 20:11] sckott commented on #302
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [x] **Archive** (JOSS only, may be post-revie

[2019-05-29 09:16] annakrystalli commented on #305
Hello @krlmlr! 👋

I'll be your editor on this submission. Will be back in touch when I've completed the editor checks. 👍

[2019-05-29 12:51] briatte commented on #302
Here's version 1 of my review, with comments shown as list sub-items. I'll add the functionality tests soon.

## Package Review (draft version 1)

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review th

[2019-05-29 13:44] noamross commented on #292
Thanks all very much, I believe the RO theme will be applied automatically upon repository transfer and building on `docs.ropensci.org`.

@pachamaltese and @xavi-rp, we'd like to acknowledge you as `rev` authors in our DESCRIPTION if that's all right.  I believe your ORCiDs are https://orcid.org/0000-0003-2046-0621 (Xavier) and 0000-0003-1017-7574 (Pachá), correct?

[2019-05-29 13:53] annakrystalli commented on #305
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-05-29 14:02] xavi-rp commented on #292
Yes, that's my orcid! Thanks!!

[2019-05-29 14:23] pachamaltese commented on #292
Correct id!

You have to download the ropensci theme and edit _pkgdown.yml to create an
ropensci-themed pkgdown site

Check github.com/ropensci/tradestatistics for the details

On Wed, May 29, 2019, 9:45 AM Noam Ross <notifications@github.com> wrote:

[2019-05-29 17:03] noamross commented on #292
I've checked off everything except the footer, which I'm leaving off in anticipation of a change in workflow: https://github.com/ropensci/software-review-meta/issues/79, and will be in touch with Stefanie about a blog post.  Thanks all!

[2019-05-29 17:10] pachamaltese commented on #292
@noamross I saw ropensci.github.io/citesdb
It just needs the rOpenSci theme and that's it! Just 2 minutes away from
the best result

On Wed, May 29, 2019, 1:03 PM Noam Ross <notifications@github.com> wrote:

[2019-05-29 18:15] maelle commented on #292
@pachamaltese we are about to change the guidance actually because @jeroen has been working on centrally building all docs websites so authors do not need to worry about this. The pkgdown config is used but not for styling since rotemplate is used for all. See e.g. docs.ropensci.org/magick.

[2019-05-29 18:16] maelle commented on #292
@pachamaltese https://docs.ropensci.org/tradestatistics/ and https://dev.ropensci.org/job/tradestatistics/ 😉

[2019-05-29 18:16] pachamaltese commented on #292
Thanks @maelle!! It was different when I submitted

On Wed, May 29, 2019, 2:15 PM Maëlle Salmon <notifications@github.com>
wrote:

[2019-05-29 18:16] maelle commented on #292
Indeed, very recent change!

[2019-05-29 23:43] kimnewzealand commented on #295
Thanks for the help with the issue #28.  That can probably be closed?

I have raised another issue ( see here https://github.com/ITSLeeds/opentripplanner/issues/30)

[2019-05-29 23:49] geanders commented on #295
@kimnewzealand : Thanks so much for this feedback on the package! If you wouldn't mind, would you please copy these issues here in this thread? If possible, we like to try to have a full copy of the discussion during the review process in one place, so we have a record of it that others can easily reference in the future in one place.

[2019-05-29 23:58] kimnewzealand commented on #295
@kimnewzealand opened this issue 2 days ago · 4 comments

kimnewzealand commented 2 days ago •
Hi there opentripplanner team

I am going through the installation and set up for the package review. I have updated Java to version 8 and installed and attached the R package opentripplanner, as per the vignettes. I am raising this is as an issue as I am unable to progress on the review at this point.

[2019-05-30 00:00] geanders commented on #295
Thanks @kimnewzealand!

[2019-05-30 00:10] kimnewzealand commented on #295
I have closed this issue now. See below for copy of the issue.
kimnewzealand commented 26 minutes ago •

I have successfully created a graph object but it seems like there is a potential issue with setting up the OTP instance. See below error message.

log <- otp_build_graph(otp = path_otp, dir = path_data, memory = 1)

Basic checks completed, building graph, this may take a few minutes
Graph buil

[2019-05-30 10:04] mem48 commented on #295
@kimnewzealand It seems that your problems are related to using a low power computer. It's good to test the package on a wide range of hardware. On the other hand, running a trip planner is an intrinsically difficult thing so you need a reasonably good computer. I've just updated the prerequisites vignette with a little section about hardware specs.

[2019-05-30 10:08] mem48 commented on #295
On the "OTP is taking an unusually long time to load, releasing R to your control" this might a bit confusing.

Because loading OTP takes a while, for my work I have large setups that can take several days to start up. I wrote the code so that R will wait for no more than 5 minutes before giving up. But that does not mean that OTP has stopped, in fact, OTP continues without R.

On refelction this

[2019-05-30 19:50] PMassicotte commented on #303
@maurolepore @aedobbyn Can I add you are "rev" in the DESCRIPTION file?

[2019-05-30 21:21] aedobbyn commented on #303
Of course!

[2019-05-31 01:27] brodieG commented on #263
Looks good to me.  I did not test all the new functionality, but did confirm that the accidental yml removal which was the blocking issue is fixed.  It also does look like all the author-accepted suggestions are indeed in the new version, and I have no concerns with the author-rejected suggestions.  This was all tested against v0.0.4 tag.

Nice job finding corner cases in the new duplicate functio

[2019-05-31 02:52] kimnewzealand commented on #295
There is good news! I am at the point where I am set up and running and able to write up the review. I will do this mid to end of next week. I'll also have a think about these messages and add comments/suggestions in the review.

[2019-05-31 08:59] maurolepore commented on #303
Sure

On Thu, 30 May 2019 at 3:50 pm Philippe Massicotte <notifications@github.com>
wrote:

--

Mauro

[2019-05-31 14:12] PMassicotte commented on #303
Hi @melvidoni! I just finished my corrections based on @maurolepore suggestions. The only thing I was not able to address is the test to cover the line he highlighted. This is because, based on the first suggestion of @maurolepore, the package is now asking the user if he/she wants to create the missing `.gitignore` file. This is done with the `menu()` for which I could not find a solution to test

[2019-05-31 14:16] aedobbyn commented on #303
Since it's interactive and tough to test in a non-interactive way, I think you'd be fine [wrapping it in `nocov` comments](https://github.com/r-lib/covr#exclusion-comments). If anyone has an idea about how to construct a test for it, of course that is even better.

[2019-05-31 14:47] PMassicotte commented on #303
Thank you for the tip @aedobbyn. I have reached 100% coverage!

[2019-05-31 15:19] annakrystalli commented on #305
We know have reviewers! 🎉 Many thanks @ldecicco-usgs & @maxheld83 for agreeing to review.

Any questions, please feel free to reach out.
---

Reviewers: @ldecicco-usgs, @maxheld83
Due date: 2019-06-23

[2019-06-01 16:10] laurajanegraham commented on #289
Firstly, thanks to @mbjoseph and @johnbaums for really thorough and helpful reviews. They really allowed me to properly think through the package structure, and hopefully I've managed to improve it as a result. The package now passes goodpractice checks and spelling mistakes have been corrected.

As a general note, I've added additional functionality to the package - the coarse resolution data (to

[2019-06-02 02:20] cstubben commented on #290
Sorry for the delays, making plans to work on weekends rarely works out.   I tried to address all the suggestions from both reviews and updated the README introduction to fit the statement of need, added community guidelines, updated code using `styler`,  fixed the exports, tidyverse pipe style, PMC abbreviations, title case and the other issues above except two -  I left devtools in the README (n

[2019-06-02 21:05] noamross commented on #263
Approved! Thanks @ThierryO  for submitting and @brodieG and @jtr13  for your reviews! I know this has been a long road, but it's been very thorough and we're glad to have this useful and well-vetted package in our collection.  @ThierryO, should you choose to address the remaining small comments, you may, but we are good to go.

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organi

[2019-06-02 21:17] noamross commented on #290
Thank you for the update, @cstubben. @juliasilge and @toph-allen, please let us know if the changes address your comments.

@cstubben I do note that `devtools::install_github()` just calls `remotes::install_github()`, so you have used and installed it. 😉

[2019-06-02 21:21] melvidoni commented on #303
Great @PMassicotte! What do you think, @maurolepore and @aedobbyn?

[2019-06-03 10:44] maelle commented on #256
Thanks @birderboone!

Regarding naming, the most important thing is to be consistent within the package, to make it easier for e.g. new contributors to pick things up.

@njahn82 does the response by the authors above address your concerns? Thanks in advance!

[2019-06-03 10:46] krlmlr commented on #305
Thanks. I've addressed the editorial comments in v0.2.13.9017:

- Condition example on presence of Git repository.
- Fix typos.
- Update wordlist.
- Add `tic.R` to `.Rbuildignore` for internal tests to remove spurious warnings in test output.
- Add review badge.
- Reformat long source code lines.
- I don't think I can do much better than `expect_true(TRUE)`, added a comment.
- Exclude code that ca

[2019-06-03 12:12] krlmlr commented on #305
That API smell is removed in v0.2.13.9018. Looking forward to your reviews!

[2019-06-03 14:08] maurolepore commented on #303
@melvidoni and @PMassicotte,

* [  ] The author has responded to my review and made changes to my satisfaction. I recommend approving this package.

--

Although I don't need to see it again, I still have the following recommendations:

* Provide the website's link (http://www.pmassicotte.com/gitignore/) in the GitHub repo.
* Link .github/CONTRIBUTING.md from README.
* Reflow  documentation lines

[2019-06-03 15:18] PMassicotte commented on #303
I am on it @maurolepore Thank you!

[2019-06-03 15:23] maurolepore commented on #303
@PMassicotte, BTW, if you will submit to CRAN I also recommend you to ASAP go through the steps proposed by `devtools::release()` or `usethis::use_release_issue()`. The earlier you pick up those little CRAN gotchas the better.

[2019-06-03 15:24] PMassicotte commented on #303
@maurolepore I created an issue with all the steps. Thanks!

[2019-06-03 21:12] AlexLi0104 opened #310 "Submission: gpdd"
Submitting Author: Zihao Li (@AlexLi0104)
Repository:   https://github.com/boettiger-lab/gpdd
Version submitted:   1.0
Editor: TBD
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guid

[2019-06-03 23:05] karthik commented on #289
Thank you so much Laura for this really comprehensive and exhaustive response to the reviewer's comments! :100:
I've never been such an impressive response here or elsewhere. Kudos.

@mbjoseph and @johnbaums Thanks very much for your time and expertise on this review. When you get a chance could you look over Laura's responses and changes and either check off the final item  on your respective che

[2019-06-04 08:04] ThierryO commented on #263
Thanks for accepting the package.

And thanks to @brodieG and @jtr13 for their reviews which improved the package a lot. I'm happy to acknowledge this by adding you as reviewer in the DESCRIPTION.

The README on GitHub starts by referring to the pkgdown website of the package. There the `vignette() ` code is automatically linked to the HTML vignette. Such a link is IMHO more stable than a hard cod

[2019-06-04 09:33] laurajanegraham commented on #289
Aw, thanks @karthik :blush:

[2019-06-04 13:16] njahn82 commented on #256
Thank you! I lack time to look into the changing of the internal structure of the package. However, there are still some issues with the vignette. To speed things up, I sent an [pull request](https://github.com/embruna/refsplitr/pull/70), which addresses the following:

- YAML header uses standard vignette header
- refplitr is now imported from source, not from a local directory `("/home/matt/r_pr

[2019-06-04 13:25] maelle commented on #256
thanks a lot @njahn82! :smile_cat:

[2019-06-04 20:48] brodieG commented on #263
I did miss the message about the pkgdown site, or didn't make the connection in the next section.  It's probably fine as it is.  FWIW that link is broken right now.

[2019-06-04 21:42] stefaniebutland commented on #263
That sounds good @ThierryO. Since use!R is July 9-12, we could publish prior to your talk so that people could refer to it during the conference. In the talk you could invite people to [submit their use cases to our discussion forum](https://discuss.ropensci.org/c/usecases). That might get your work and the package some extra attention. After your talk, you could add any new insights as a comment

[2019-06-05 03:45] andrewheiss commented on #302
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-06-05 03:48] kimnewzealand commented on #295
Thanks again for asking me to perform this review.

I have regular user perspective of someone who may be using this package personally or in a consultancy.

I spent the bulk of the time working though the Documentation, thinking of points where a new user may face issues using the package.

I ran the tests check but I did not use a larger data set as I also only have access to an 8GB RAM laptop.

[2019-06-05 07:39] mem48 commented on #295
Thanks for the review, lots to get stuck into. Most of it I completly agree with so I'll get started. There are a couple of point that I think will be technically very difficult (around error messages etc) I'll see what I can do and get back to you.

[2019-06-05 07:49] geanders commented on #295
Thanks for the review, @kimnewzealand!

@mem48 : We do have another reviewer in the process of reviewing (I have asked for her GitHub handle and will add that to the Issue once I have it), so you can either go ahead and starting working on responding to the first review or wait until you have both in hand to do your response.

[2019-06-05 09:03] Robinlovelace opened #311 "Presubmission enquiry: gitgantt"
Submitting Author: Name (@robinlovelace)
Repository:   https://github.com/Robinlovelace/gitgantt

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.

[2019-06-05 11:46] noamross commented on #311
Thanks for the inquiry, @Robinlovelace! This looks useful (I may use it myself!), but it is out-of-scope for us.

You may want to comment on this proposal we have to clarify Aims and Scope by breaking up the "reproducibility" category into its specific parts: https://github.com/ropensci/software-review-meta/issues/81 .

[2019-06-05 11:52] Robinlovelace commented on #311
Thanks @noamross, closing for now in that case. The idea is to get the word out there and invite feedback. Do you have any further advice on how to go about that? ATFutures, which also hosts the [`calendar`](https://github.com/ATFutures/calendar) package, is my default plan for a home for this. To anyone else who reads this: new issues/PRs are very welcome https://github.com/Robinlovelace/gitgantt

[2019-06-05 11:52] #311 closed

[2019-06-05 12:16] noamross commented on #311
I've long suggested that people use our [forum](https://discuss.ropensci.org/) to solicit feedback on packages/projects that weren't explicitly in our peer-review process.  In the past this has limited success, but I think that we finally have gotten enough people on the forum through other projects that there's a critical mass.  And maybe I can get @stefaniebutland and @sckott to add a "This week

[2019-06-05 12:32] maelle commented on #311
You can also post the link to the package to R Weekly, and if you write a blog post somewhere explaining what the package does and where help is needed, that link too can go to R Weekly.

[2019-06-05 13:49] mem48 commented on #295
@geanders thanks for the heads up, I'll get started on some of the basics like typos and links then wait for the second review for the more complex issues.

[2019-06-05 14:12] Bisaloo commented on #267
Thank you for your review @jeroen! You bring up very valid points but I'm not yet quite sure if/how I can address all of them. I'll need a couple of days to think about it. Here is a first attempt at answering some of your concerns. I will also perform some changes on the packages following your recommendations whenever I get a moment (hopefully next week).

To my knowledge, the only format that h

[2019-06-05 16:02] mbjoseph commented on #289
@laurajanegraham nice work on this! Thanks for your thoughtful revisions and the well-laid out responses to the reviews. I'm satisfied with the changes.

[2019-06-05 18:16] sckott commented on #302
thanks for your review @andrewheiss  - @briatte let me know when you're done reviewing

[2019-06-05 19:29] stefaniebutland commented on #311
I've opened an issue for myself to be intentional about @noamross's suggestion

[2019-06-06 16:04] Robinlovelace commented on #311
One follow-up on this: I posted this after seeing gitignore accepted as it aids reproducibility: https://github.com/ropensci/software-review/issues/303

The statements as to why it fits that category were "Because it helps facilitate use of version control." Thinking about it, I would say the aim of this package is similar: it aids the use of a version control and collaboration platform in a way t

[2019-06-06 16:13] Robinlovelace commented on #311
Looking at https://github.com/ropensci/software-review-meta/issues/81  I just spotted:

Could it fit that category? I guess it depends whether project management and timeline generation is defined as part of a scientific workflow. `gitgantt` certainly automates it.

[2019-06-07 00:15] pachamaltese opened #312 "economiccomplexity"
Submitting Author: Mauricio "Pachá" Vargas (@pachamaltese)
Repository: https://github.com/pachamaltese/economiccomplexity

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check

[2019-06-07 00:20] pachamaltese opened #313 "gravity"
Submitting Author: Mauricio "Pachá" Vargas (@pachamaltese)
Repository: https://github.com/pachamaltese/gravity

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropri

[2019-06-07 16:29] mem48 commented on #295
Some comments on @kimnewzealand 's review:

This script makes the package help file. Try ?opentripplanner in the console. Although not necessary it is recommended in r-pkgs.had.co.nz/man.html

I've removed some `dontrun` tags but I think in most cases the functions will not run correctly in isolation and would cause crashes or other bugs if removed. I could be wrong perhaps you can clarify why the

[2019-06-08 13:51] aurielfournier commented on #256
Thanks @njahn82. We're getting a plan together soon to address these comments. I just moved across the country and am starting a new job, so it may take us a few weeks. Thanks again for everyone's patience.

[2019-06-09 19:03] noamross commented on #310
Thank your for your submission, @AlexLi0104!

After some discussion amongst the editors, we decided that this package is not in scope for rOpenSci.  The relevant portion of [our policies](https://ropensci.github.io/dev_guide/policies.html#aims-and-scope) is this:

No doubt your package would be useful to heavy users of GPPD! The challenge with packages like yours is that we could easily have an un

[2019-06-09 19:14] noamross commented on #311
Thanks for your follow-up @Robinlovelace. Certainly there are grey areas in this and we're always adjusting and refining as we find new edge cases or priorities.  You didn't leave anything out of your justification - we consider qualification against all categories, using authors' justification as a place to start.  It's my opinon that **gitgantt** still falls out of scope, in that it primarily us

[2019-06-09 19:18] noamross commented on #312
Thanks for this inquiry, @pachamaltese!  I'm afraid this package does not fall in rOpenSci's scope, because it is a direct implementation of statistical methods or estimators.  We generally think of scientific software wrappers and bindings or interfaces to external libraries, such as https://github.com/ropensci/babette.

[2019-06-09 19:23] noamross commented on #313
Thanks for this inquiry, @pachamaltese! As with *economiccomplexity*, I'm afraid this package does not fall in rOpenSci's scope, because it is a direct implementation of statistical methods or estimators.

[2019-06-09 21:20] kimnewzealand commented on #295
@geanders please could you confirm standard practice for the paper References to JOSS ? is it as formatted and in a separate .bib file?

[2019-06-09 21:37] kimnewzealand commented on #295
I was thinking from a usability perspective  that intuitively you may not copy and run code that is tagged `Not run`. So perhaps the question should be how would a use use and follow each function's help file if they had not read the vignette? and if most functions do not run in isolation then are there a some wording or links that could be added to each help file so show the function dependencies

[2019-06-09 23:23] kimnewzealand commented on #295
Thanks for looking into these points. The responses make sense so there is no need to make changes..

[2019-06-10 01:46] juliasilge commented on #290
This is looking great! I especially think the updated README is improved a lot. 🎉

From my perspective, things that still definitely need to happen are:

- In the `DESCRIPTION` file, the `Description` field cannot start with "This package..."
- The vignette needs to be updated so it does not use data too large for this package to go to CRAN.

I also still recommend using **remotes** instead of **d

[2019-06-10 06:17] Robinlovelace commented on #311
Hi @noamross thank you for the follow-up too. Makes sense. Gantt chart / timeline report generation is not something that is specific to *scientific* work. I put it together for one specific project. Will be stoked if it's of use for others. Any feedback very welcome. @mpadge has raised the possibility of going further, creating a project management tool that can read and write to GH issues but fo

[2019-06-10 07:26] maelle commented on #311
If you two take it further have a look at https://github.com/emilyriederer/projmgr that has similar aims I think.

[2019-06-10 08:40] Robinlovelace commented on #311
That looks awesome! One option could be to integrate the timeline code into that project.

[2019-06-10 13:28] geanders commented on #309
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly

---

#### Editor comments

This looks like a r

[2019-06-10 18:20] cstubben commented on #290
Thanks! I fixed the Description and added **remotes** to the README.   I already reduced the large XML file from the FTP site to 1/10th the previous size, so files in inst/extdata are less than 1 MB combined.

[2019-06-10 18:47] juliasilge commented on #290
So @cstubben do you no longer intend to precompile a vignette?

[2019-06-10 19:17] cstubben commented on #290
No.  I mainly wanted to show how to find the start of the article nodes and read the combined XML files on the FTP site.  I might use a pre-compiled vignette later to read all 2.5 million articles and look at a few use cases like mentions of "statistically significant" across different journals, but will likely need some collaborators 😄

[2019-06-10 21:23] AldoCompagnoni commented on #254
Dear @cgries, @bpbond, and @noamross,
Below I illustrate our revision of the code for the popler R package. I will split this report point by point, as opposted to the 4 points in which I had originally summarized the reviews. In order:

**goodpractice::gp()**
These checks show only issues with the tests - but our codecov shows 72% of our code is covered by tests, which @noamross suggested is fine

[2019-06-11 01:27] johnbaums commented on #289
Awesome, @laurajanegraham - revisions look great!

I noticed one typo:

Regarding `create_torus()` - I think it's fine to leave it in, but maybe clarify in the docs that it's only really intended to be used with simulated data. Docs currently state "Allows for moving window analysis that avoids edge effects (e.g. on simulated landscapes)", which might lead users to apply it to real world data as w

[2019-06-11 10:41] laurajanegraham commented on #289
Thanks @mbjoseph and @johnbaums . I've corrected the typo and made clearer in the docs that `create_torus()` is for simulated landscapes.

[2019-06-11 22:39] karthik commented on #289
One more small typo: https://github.com/laurajanegraham/grainchanger/blob/769074f0ec1dc21985973bf7c085ec6283452170/R/calc_functions.R#L102

[2019-06-12 08:52] mem48 commented on #295
Thanks, I think I will wait for the second reviewer before making any further changes.

I had a look at changing this, but it causes all sorts of problems like R crashing, or just waiting forever. Which is probably why I wrote the code this way in the first place. But what I can do is increase the maximum wait time so that users are much less likely to encounter the message.

[2019-06-12 10:15] laurajanegraham commented on #289
Oops. I've run the spellcheck now and fixed this (and a couple of others). Thanks all.

[2019-06-12 16:30] karthik commented on #289
Congrats @laurajanegraham, your submission has been approved! 🎉 Thank you for submitting and @mbjoseph and @johnbaums for thorough and timely reviews. To-dos:

- [ ] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.

- [ ] Add the rOpenSci footer to the bottom of your README

[2019-06-12 16:31] karthik commented on #289
@laurajanegraham I would also encourage you to archive this version of the accepted package on Zenodo and add the DOI to your readme.

[2019-06-12 19:04] laurajanegraham commented on #289
Great news, thank you! I've done most of these things. I've not been able to get the Zenodo DOI (but I drafted the release from the repo after moving to ropensci, which may be the issue).

[2019-06-13 02:57] tyluRp commented on #309
Awesome!

I've added `Language: en-US` to the DESCRIPTION file and updated the `codemeta.json` file.

 I have shortened a few of the > 80 lines. A few remain but they are mostly due to a really long API URL. I would prefer to retain that URL instead of `paste0()`ing or `glue()`ing it together in chunks. If this is against policy just let me know and I'll make sure nothing exceeds the 80 character

[2019-06-13 13:34] ShixiangWang opened #314 "Presubmission: UCSCXenaTools"
Submitting Author: Shixiang Wang (@ShixiangWang)
Repository:   https://github.com/ShixiangWang/UCSCXenaTools

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriat

[2019-06-14 02:43] juliasilge commented on #290
From my perspective, this package is ready to be approved! I'm glad to see this sample of the life science published literature so much more accessible. 🙌

[2019-06-14 14:03] PMassicotte commented on #303
Hi everyone. Just a quick message to see if I need to do anything else at this point? This is my first submission to ropensci so I am not sure :)

[2019-06-14 15:28] maurolepore commented on #303
@PMassicotte, good on you for following this up. I don't know, as this is also the first time I review an rOpenSci package. I look forward to seeing what the next stem is.

[2019-06-16 21:00] melvidoni commented on #303
@aedobbyn We are missing your thoughts or approval on the package, so we can move forward.

[2019-06-17 15:13] aedobbyn commented on #303
Things are looking good @PMassicotte! Question -- is there a reason you're no longer exporting `gi_write_gitignore`?

[2019-06-17 17:54] PMassicotte commented on #303
Oups, good call @aedobbyn. Fixed it!

[2019-06-17 18:21] aedobbyn commented on #303
Don't you need

`stopifnot(basename(gitignore_file) == ".gitignore")` instead of `!=`

[here](https://github.com/PMassicotte/gitignore/blob/7c9a71e0d47a71c793f2e015b9ecb7419341720a/R/gi_write_gitignore.R#L22)? This seems to error when the basename of the file *is* `.gitignore`.

[2019-06-17 21:15] melvidoni commented on #303
@PMassicotte Can you address @aedobbyn's question?
Please, @aedobbyn let us know when you think the package is ready.

[2019-06-17 22:41] noamross commented on #290
Thanks @juliasilge. A quick reminder to @toph-allen, who I am aware just returned from a couple of weeks vacation 😉, to take a look at the changes.

[2019-06-17 23:01] noamross commented on #314
Thanks for your inquiry, @ShixiangWang! This is straightforwardly in-scope for us as a data retrieval package, feel free to submit for full review.

I do note that your test coverage is a bit low at 44%. The handling editor will flag this at submission, so it would be best to get this up to 80% or so before submitting.

[2019-06-17 23:01] #314 closed

[2019-06-18 02:00] ShixiangWang commented on #314
@noamross Thanks, I will add more tests before submitting.

[2019-06-18 02:09] PMassicotte commented on #303
Good catch again @aedobbyn! Just fixed it.

[2019-06-18 02:25] aedobbyn commented on #303
Nice, looks good! I think once you include some examples in your readme and pkgdown this will be good to go.

[2019-06-18 02:26] PMassicotte commented on #303
Hi @aedobbyn You would like more examples?

https://github.com/PMassicotte/gitignore

[2019-06-18 02:31] aedobbyn commented on #303
Sorry I should have been more specific -- more examples of `gi_write_gitignore` now that's it's been exported.

[2019-06-18 06:50] ShixiangWang opened #315 "Submission: UCSCXenaTools"
Submitting Author: ShixiangWang (@ShixiangWang)
Repository: https://github.com/ShixiangWang/UCSCXenaTools
Version submitted: 1.2.3
Editor: @melvidoni
Reviewer 1: @ChristineStawitz-NOAA
Reviewer 2: @carlganz
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit p

[2019-06-18 13:58] lmullen commented on #298
@potterzot Apologies for the delay in getting this review going. One person has agreed to review but a string of others have been unavailable at the start of the summer. Still looking for that second reviewer and then the review will begin.

[2019-06-18 18:31] annakrystalli commented on #282
Ey up 👋 (Yorkshire speak for _hey there_)

Just dropping by to see how it's going. 🙂

As always, feel free to reach out with questions / request for feedback if you're stuck (although I appreciate it's more than likely a finding the time thing!)

[2019-06-18 19:29] PMassicotte commented on #303
There we go, I have added an example in the REAMDE!

[2019-06-18 21:02] melvidoni commented on #303
Thanks for adding them, @PMassicotte! What do you think, @aedobbyn ?

[2019-06-19 04:23] geanders commented on #309
@tyluRp : Thanks so much for those updates. I don't think we have hard-and-fast rules for anything in the packages, just guidance. If you have thought about good practice guidelines and have a case where it makes sense to you to make an exception, that seems reasonable.

We now have one reviewer assigned (@h21k) and I am continue to look for the second reviewer.

[2019-06-19 13:19] lmullen commented on #298
Thanks to our reviewers for agreeing to take on this package.

Reviewer: @adamhsparks
Reviewer: @nealrichardson
Due date: 2019-07-11

You can find the [guide for reviewers here](http://devguide.ropensci.org/reviewerguide.html). Please let me know if you have any questions.

[2019-06-19 17:08] ldecicco-USGS commented on #305
Can someone remind me where to find the blank reviewer templates?

[2019-06-19 17:49] annakrystalli commented on #305
Hey Laura,

You can find the template here: https://devguide.ropensci.org/reviewtemplate.html

Sent from my iPhone

[2019-06-19 21:39] aedobbyn commented on #303
Looks good to me!

[2019-06-19 22:09] melvidoni commented on #303
Approved! Thanks @PMasicote for submitting and @aedobbyn and @maurolepore for your reviews!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer to the bottom of your README
[code]

- [ ] Fix any links in badges for C

[2019-06-20 01:22] PMassicotte commented on #303
I transferred it. I am trying to find how to make codecov and appveyor work now :)

[2019-06-20 01:25] melvidoni commented on #303
@PMassicotte Just added you to the team. Please, tackle all the To-Dos pointed out on my previous comment.

[2019-06-20 01:55] PMassicotte commented on #303
Badges have been added and a release has been done (with Zenodo badge).

[2019-06-20 13:22] PMassicotte commented on #303
Codemetar has been used too! Anything else to do on my side?

[2019-06-20 21:56] melvidoni commented on #303
It is fine for now @PMassicotte!

[2019-06-20 22:18] melvidoni commented on #315
### Editor checks:

- [X] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [X] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [ ] **License:** The package has a CRAN or OSI accepted license
- [X] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-06-20 22:49] PMassicotte commented on #303
Thank you very much @melvidoni @aedobbyn and @maurolepore for making the review process smooth and fun!

[2019-06-20 23:58] maurolepore commented on #303
Thanks to you @PMassicotte. I look forward to seeing your package out in the wild

[2019-06-21 02:42] ShixiangWang commented on #315
Dear editor @melvidoni,

All the comments you mentioned above have been fixed. A [GPL-3 license file](https://github.com/ShixiangWang/UCSCXenaTools/blob/master/LICENSE.md) has been added by `usethis::use_gpl3_license` command. All `import` sentences in [NAMESPACE file](https://github.com/ShixiangWang/UCSCXenaTools/blob/master/NAMESPACE) have been modified to `importFrom`, and [corresponding code](

[2019-06-21 02:44] melvidoni commented on #315
Thanks @ShixiangWang! I'm looking for reviewers, which may take a little. I will comment again when I assign them, and let you know about the due date.

[2019-06-21 13:06] aedobbyn commented on #303
Congrats @PMassicotte !

[2019-06-21 13:48] maurolepore commented on #303
@PMassicotte, next week I'll be volunteering most of my time to work on open source projects. If you need a hand in this project let me know -- maybe it's time to work towards a CRAN submission?

[2019-06-21 14:02] PMassicotte commented on #303
Sure, that would be nice! Anything missing at this point for the submission?

[2019-06-21 14:21] maurolepore commented on #303
@PMassicotte,
If you mean for the submission to CRAN, then I think a good way to know what might be missing is to walk throught the list produced via `usethis::use_release_issue()` and  `devtools::release()`.

I would also recommend to configure .travis.yml to check on multiple versions of R.

I could help with this next week.

[2019-06-21 14:28] maurolepore commented on #303
BTW, this address resonds with error 404: https://www.pmassicotte.com/gitignore/

I guess it will eventually be https://docs.ropensci.org/gitignore/?

![image](https://user-images.githubusercontent.com/5856545/59929581-bb9f3a80-9406-11e9-8951-a85420a4b1ea.png)

[2019-06-22 19:37] alexpghayes opened #316 "distributions"
Submitting Author: Alex Hayes (@alexpghayes)
Repository:   https://github.com/alexpghayes/distributions/

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate bo

[2019-06-23 15:33] maxheld83 commented on #305
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

As discusse

[2019-06-24 03:34] toph-allen commented on #290
Apologies for my delay. I’m still alive! I’m going to finish going through the updates tomorrow first thing and will post my full response then.

[2019-06-24 08:25] annakrystalli commented on #305
Thank you for your review @maxheld83 !  Stay tuned for @krlmlr's response once all reviews are in.

[2019-06-24 12:25] noamross commented on #316
Thanks for the inquiry, Alex! I don't think this is in scope. We envision the wrappers category as bindings to non-R scientific software, so providing tools that help users create fully reproducible workflows from R that use that software.

[2019-06-24 15:32] toph-allen commented on #290
Sorry it took me a while to finish reviewing the updates.

Looking through the changes, I agree that the package is ready to go! The updated README does a much better job of introducing the topics of the packages, as well as clearly documenting all the package's core functionality. The improvements to the code, both in terms of formatting consistency and minor implementation changes, are also good

[2019-06-24 16:12] biagolini opened #317 "GenTag: A package to improve animal color tagging protocol"
Submitting Author: Carlos Biagolini-Jr (@biagolini)
Repository: https://github.com/biagolini/GenTag
Version submitted: 1.0

I would like to submit the R package entitled 'GenTag' for consideration in rOpenSci. This is a package which proposes an improved protocol for animal color tagging. Since the early 1980s, several studies have suggested a negative influence of color tags on animal social beha

[2019-06-24 16:21] noamross commented on #290
Thank you @toph-allen and @juliasilge!  @cstubben, one tiny thing I found in my final checks: It appears that you have the **europepmc** in `Imports` but it is only used in the vignette, so it should be in `Suggests:`.   With that little fix, we are ready to approve!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to

[2019-06-24 19:05] #257 closed

[2019-06-24 19:21] cstubben commented on #290
Thanks for all your help!  I fixed the Imports, transferred the repo and updated all GitHub links from cstubben to ropensci.

[2019-06-24 21:11] noamross commented on #290
Excellent, all set! Look out for your package website at docs.ropensci.org/tidypmc.  It should be live in a day or so.

[2019-06-24 21:41] alexpghayes commented on #316
Gotcha, thanks!

[2019-06-24 21:41] #316 closed

[2019-06-25 01:10] #290 closed

[2019-06-25 13:51] briatte commented on #302
Hi @sckott

I have updated my draft review, which can be considered final. My new comments are at the bottom of the review. In a nutshell, I hit the same issues as @andrewheiss did with the tests, and am asking for additional details to be included about how the package compares to `RTwitterAPI`.

Generally speaking, the package is awesome, thanks a lot for your work @mkearney!

[2019-06-25 15:29] SteveViss opened #318 "rmangal"
Submitting Author: Steve Vissault (@SteveViss)
Repository: https://github.com/mangal-wg/rmangal

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

[2019-06-25 16:30] stefaniebutland commented on #303
@PMassicotte Your docs page is up now https://docs.ropensci.org/gitignore/ :-)

[2019-06-25 17:34] PMassicotte commented on #303
@stefaniebutland I have updated the URL on the github page and also in the README. I also provided instruction to install it from ropensci `devtools::install_github("ropensci/gitignore")`.

[2019-06-25 21:57] noamross commented on #254
Thanks for the update, @AldoCompagnoni! @cgries and @bpbond, can you look at the changes and tell us if they address your previous comments?

[2019-06-25 23:00] noamross commented on #318
Yes, this package is straightforwardly in-scope under data retrieval. We welcome a full submission when it is ready.

[2019-06-26 14:17] noamross commented on #317
Thank you for the inquiry, @biagolini.  This package is a bit of an edge case topically. We don't have a package category specifically that it fits in to, but we think that packages like this - that are designed to facilitate field and laboratory processes and set up experimental designs, are in-scope, so we may say so explicitly in the next revision of our [Aims and Scope](https://devguide.ropens

[2019-06-26 14:35] briatte commented on #302
FYI, I've just posted an issue to `rtweet` that has to do with getting followers for accounts with over 5,000 followers: https://github.com/mkearney/rtweet/issues/340

Also, still related to followers, I subscribe to the suggestion made here to harmonize the output of `get_followers` and `get_friends`: https://github.com/mkearney/rtweet/issues/308

[2019-06-27 09:49] bpbond commented on #254
The changes laid out by @AldoCompagnoni above sound like they'll fully address my comment, yes.

[2019-06-27 14:48] cgries commented on #254
I agree, the changes look like they are addressing my concerns. To answer the last question, I would resort to calling the person you have an e-mail address for the contact rather than author. But that is so minor, that I don't feel it needs any further addressing.

[2019-06-27 21:04] biagolini commented on #317
Thank you for your attention, @noamross. I included: README, vignette, Travis and AppVeyor CI continuous integration; also I update the documentation to Roxygen-based files.

Best,
- Carlos Biagolini

[2019-06-27 23:42] biagolini commented on #317
Thank you for your attention, @noamross. I included: README, vignette, Travis and AppVeyor CI continuous integration; also I update the documentation to Roxygen-based files.

Best,
Carlos Biagolini

[2019-06-28 02:11] melvidoni commented on #315
Reviewers @ChristineStawitz-NOAA and @carlganz have been assigned to the package. They'll have until July 22nd to get the reviews in.

[2019-06-28 10:20] ShixiangWang commented on #315
Thanks, @melvidoni. Welcome the reviewers👏 👏 👏

[2019-06-28 12:48] noamross commented on #317
Thank you @biagolini, fast work!  I note that while you have set up continuous integration and test coverage, you still do not have any tests for your package. As stated in our guide, we aim for at least 75% test coverage in the test suite, any less needs specific justification.

When you package is ready, please open a new issue using the full submission template.

[2019-06-28 12:56] #318 closed

[2019-06-28 12:57] #310 closed

[2019-06-28 12:57] #313 closed

[2019-06-28 12:57] #312 closed

[2019-06-28 15:41] PMassicotte commented on #303
Accepted on CRAN!

[2019-06-28 19:39] noamross commented on #254
Thank you @bpbond and @cgries.

@AldoCompagnoni, I am trying to do final editor checks, but in building the vignettes, and also any `pplr_get_data()` call, I'm getting `Error: Bad Request (HTTP 400)`.  Is the service down?

[2019-06-28 20:26] AldoCompagnoni commented on #254
@noamross, @bpbond and @cgries,
Thanks for getting back!

@noamross: yes, the service is down, but this time it is the API and not the database (I bet it is something with the web server). I am traveling right now, but I'll fix this issue tomorrow, and I'll try to find a way to get notified when the API stops working.

Apologies for the inconvenience, but this is part of the process (I'm pretty su

[2019-06-28 20:31] noamross commented on #254
Thanks for the update @AldoCompagnoni.  Note that I am on vacation next week, so Editor @annakrystalli will be watching this issue and can wrap things up.

[2019-07-01 17:28] sckott commented on #223
as per our policies (link in above comment) - this submission is now closed

[2019-07-01 17:28] #223 closed

[2019-07-02 02:17] biagolini opened #319 "Submission: bwimage"
Submitting Author: Carlos Biagolini-Jr (@biagolini)
Repository: https://github.com/biagolini/bwimage
Version submitted:   1.0
Editor: TBD
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

Package: bwimage
Type: Package
Title: Describe Image Patterns in Natural Structures
Version: 1.0
Date: 2019-06-24
Author: Carlos Biagolini-Jr.
Maintainer: Carlos Biagolini-Jr.<c.biagolini@g

[2019-07-02 03:09] birderboone commented on #256
Hello!
I thank y'all for the constructive reviews throughout this process. I think the package  is 100% better than day 1 of submission .
Technical stuff:
-I did fix the tidy evaluation to enquo and !!, though I also just read the rlang update so I should also test out and then update to the double curly method. But i didn't want you to wait on me while I do that.
-I did add a linealpha argument t

[2019-07-03 09:00] AldoCompagnoni commented on #254
Thank you @noamross,
And enjoy your vacation!

@annakrystalli, we have resolved the issue reported above by Noam: as expected, the web server was down. We are still evaluating options to automatically check when the API stops working (suggestions are welcome).

Note that I am on vacation until July 13th, so I might be slow in replying up to that date.

[2019-07-03 22:10] ldecicco-USGS commented on #305
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-07-04 07:59] annakrystalli commented on #305
Thank you @ldecicco-USGS for your insightful review!

Over to you @krlmlr. I hope the reviews have provided some food for thought. They certainly have for me!

[2019-07-04 10:31] mem48 commented on #295
@geanders Just wondering if there is there any news on the second reviewer?

[2019-07-04 18:45] annakrystalli commented on #254
Approved! 🙌 Thanks @AldoCompagnoni for submitting and @bpbond & @cgries for your reviews!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add a rOpenSci review badge to your README:
[code]
- [ ] Add the rOpenSci footer to the bottom of

[2019-07-04 18:53] annakrystalli commented on #254
Actually, one last thing @AldoCompagnoni. I would expect, given the development during the review process that the package version would have changed since submission to reflect that. For more details on how to track changes in your package through versioning and `NEWS` see the [relevant section](https://devguide.ropensci.org/releasing.html#versioning) in the dev guide.

[2019-07-04 19:05] stefaniebutland commented on #254
Hi @AldoCompagnoni. I'm rOpenSci's Community Manager, following up on blog post invitation. Noam Ross suggested a post "talking about managing both the service and the client package, but also the LTER network and such" would be well-received.

If you're interested, right now I have Tues July 23 available for publication. Ideally with a draft for me to review submitted by July 16. Later dates are

[2019-07-07 00:38] emilyriederer opened #321 "Presubmission inquiry - projmgr: GitHub-integrated project management in R"
Submitting Author: Emily Riederer (@emilyriederer)
Repository: https://github.com/emilyriederer/projmgr/

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate bo

[2019-07-07 16:47] annakrystalli commented on #319
Hello @biagolini and apologies for the late reply.

In general, the package feels likely to be in scope. However:

The first major issue that was also mentioned in the pre-submission enquire for `GenTag` is that there are no tests. We require at least 75% test coverage for the package

Another issue I can see is that while the package is described as a general package for _"analyzing patterns in b

[2019-07-08 09:07] njahn82 commented on #256
Thank you for these changes, they look good to me.

The vignette workflow still confuses me. I have the feeling that the vignette is not generated during the package installation process, but was compiled locally and was then moved from the vignette folder to `inst/docs`. Although this works, it may "shadow" package installation issues. Take for instances the dplyr package. In the vignette, dplyr

[2019-07-08 14:17] birderboone commented on #256
Honestly this may come down to my own confusion and lack of understanding. I am able to build the vignette locally with devtools, but when I push to github Travis gives me a warning that there is nothing in inst/doc. Which I just assumed meant they wanted a hard copy since devtools doesnt auto install vignettes anymore. I have no basis for that assumption just a guess I made, so I put a hardcopy i

[2019-07-10 09:27] annakrystalli commented on #321
Hello @emilyriederer and many thanks for your presubmission enquiry!

While personally I'm really excited about the package (and will definitely be using it), it actually is out of scope for rOpenSci for similar reasons that we determined the recent presubmission for `gitgantt` #311 (discussions in that thread are quite informative) as out of scope.  It is a bit too general (not focused enough on

[2019-07-10 09:35] emilyriederer commented on #321
Thanks for the reply and consideration,@annakrystalli - makes sense! Thanks also for the reference to `gitgantt`. I'd missed that one, so I'm very happy to know about it!

[2019-07-10 09:35] #321 closed

[2019-07-10 16:04] MKLau commented on #300
@noamross

Hi Noam, just finished revisions to the package (including the addition of testing coverage and a vignette). Not sure what the next step is given your pre-review and my paused submission to JOSS.

Could you point me in the best direction?

[2019-07-10 19:29] geanders commented on #295
@mem48: Sorry for the delayed response! Yes, we have a second reviewer (@mifioriti). I added that through an edit to my first comment in the thread, but I should have added a full comment in the thread to let you know.

@mifioriti: Just a check-in---do you have a timeline for when you think you'll be able to submit your review of the package?

[2019-07-11 09:45] mpadge opened #322 "Presubmission: mapscanner"
Submitting Author: mark padgham (@mpadge)
Repository: [`mapscanner`](https://github.com/mpadge/mapscanner)

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate

[2019-07-11 14:37] mem48 commented on #295
Thank for the update @geanders I don't think GitHub notifies you of edits, so I missed that. @mifioriti looking forward to your feedback.

[2019-07-11 15:07] njahn82 commented on #256
Hi @birderboone I realized that the vignette builder was not properly declared in the DESCRIPTION. After deleting some files, I got it running. When installing via GitHub, please note that the vignette is not automatically built. I used the following command

[code]

I'll send you a pull request with the changes made. Please have a careful look into it. It also seems that the package contains a fe

[2019-07-11 18:16] noamross commented on #233
Thank you @kamapu for the update! Before assigning reviewers, we still need the package to have a test suite, with test coverage reporting of at least 75%.

[2019-07-12 10:38] njahn82 commented on #256
I tried installing `refsplitr` with [pak](https://github.com/r-lib/pak), which warns that the remote `lionel-/vdiffr` is not accessible. Would it be possible to use the version on CRAN instead? Maybe the R version referred to in the DESCRIPTION needs an upgrade, too?

[2019-07-12 18:42] khufkens commented on #246
Hi @karthik I was notified by someone that the website link of the package is broken. I forgot to change the link to an ropensci account one.

It currently reads (which leads nowhere):
https://khufkens.github.io/MODISTools/

but should be
https://ropensci.github.io/MODISTools/

Is there someone at your end who can update this so that people can access examples etc?

[2019-07-13 02:53] adamhsparks commented on #298
I know I'm behind. Sorry, I've had a rather busy time lately. I'm starting the review today and will see how I go.

[2019-07-13 06:53] adamhsparks commented on #298
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-07-13 21:55] biagolini commented on #319
Thank you @annakrystalli for your answer. In the following topics I address your questions:

- Coverage test is about 80% for bwimage: https://codecov.io/gh/biagolini/bwimage
- pkgdown documentation was added
- Functions were split in three R scripts cording to each type of application
- Can you be more specific in which part of documentation I must be more clear?

[2019-07-15 07:44] kamapu commented on #233
Dear @noamross Do you mean, I should follow [this instructions?](http://r-pkgs.had.co.nz/tests.html)
I'm a self-made programmer and now I'm feeling like someone, who is driving without driving license

[2019-07-15 19:30] geanders commented on #309
We now have our second reviewer: @nmonhait. I'm assigning a due date for reviews of August 5.

[2019-07-15 20:55] noamross commented on #233
As are most of us!  Yes, that's where to start for writing tests.

[2019-07-15 21:08] tyluRp commented on #309
Yay! Excited for feedback, thank you!!

[2019-07-15 21:48] eebrown commented on #307
Hi @karthik. Any luck finding any reviewers?

[2019-07-15 23:40] nealrichardson commented on #298
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-07-16 00:28] lmullen commented on #298
@adamhsparks and @nealrichardson: Thanks to both of you for these thorough and detailed reviews.

@potterzot Please take a look at these comments from the reviewers. There is lots of good advice in here. It does seem like some of it will require some pretty fundamental reassessment of the package's user-facing interface. Do you think you can make revisions within two weeks, our typical deadline? i

[2019-07-16 18:16] potterzot commented on #298
@lmullen, @adamhsparks, @nealrichardson first let me say a big thanks, these are some really good suggestions and you clearly put in a lot of time to give some great feedback. While some of the changes are substantial, I hope that the underlying framework will make them relatively easy to implement. I think I can probably submit a revision by July 29th. Is it possible to ask for an extension if th

[2019-07-16 18:17] lmullen commented on #298
@potterzot Sure. If you can plan on a July 29 deadline, that would be best, but an extension would be fine if it becomes necessary.

[2019-07-16 21:12] adamhsparks commented on #298
@potterzot, I hope you find my review useful and not being negative. This is an extremely valuable package, my interest is in helping you improve it. Feel free to ask for help or guidance along the way. I'm happy to contribute.

[2019-07-17 09:56] annakrystalli commented on #319
Hi @biagolini and thanks for your response and for the improvements made already.  It helped get a better understanding of the package. However, on closer inspection, it appears that it is more of an analysis package. Currently, rOpenSci are not able to provide review for such packages, although it is [an area we are actively working on](https://ropensci.org/blog/2019/07/15/expanding-software-revi

[2019-07-17 15:33] noamross commented on #256
👋 Hello all, just to let you know that I'll be the handling editor for the rest of this review process as Maëlle is on leave.

@bmkramer, have the recent changes addressed your comments? (Aside from the vignette-building issue above)

[2019-07-18 01:15] aurielfournier commented on #256
Glad to have you aboard @noamross ! Welcome 👋 !

Thanks @njahn82 for the pull request. @birderboone is super busy with his day job right now, so I'm working on the stuff you suggested. Hopefully I'll have it all addressed tonight, if not tomorrow. Thanks

[2019-07-18 13:37] vullioud opened #323 "torpor"

[2019-07-18 13:37] #323 closed

[2019-07-18 14:15] vullioud opened #324 "torpor"
Submitting Author: Name (@github_handle)
Repository:

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

	- [ ] data retrieval
	- [ ] data extract

[2019-07-19 11:29] nfox29 opened #325 "Submission: photosearcher"
Submitting Author: Name (@nfox29)
Repository: [nfox29/photosearcher](https://github.com/nfox29/photosearcher)
Version submitted: 1.0
Editor: @sckott
Reviewer 1: @monicagerber
Reviewer 2: @zkamvar
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](ht

[2019-07-19 16:24] annakrystalli commented on #305
Hi @krlmlr,

just touching base on this review, although I appreciate it is vacation season. Just let me know if for whatever reason you need more time to respond.

[2019-07-19 16:26] annakrystalli commented on #282
Hi @DomBennett, just checking in on this review. Hope everything is going well your end. Let me know if you need feedback on anything.

[2019-07-19 22:52] noamross commented on #322
An interesting case! I think it's in-scope.  I like these packages that connect computational processes to data collection processes.

[2019-07-19 22:59] noamross commented on #324
Thank you for your inquiry, @vullioud! Based on my understanding of the package, it is out-of-scope.  This is not because of its specificity - rOpenSci explicitly tries to serve the "long-tail" of scientific use cases.  Rather, this is a package that implements a statistical method. Even though you use JAGS to do so, we don't consider this a "scientific software wrapper," as the purpose of that ca

[2019-07-20 14:16] DomBennett commented on #282
Hi @annakrystalli -- sorry! Just been really slow on this: lots of other things plus summer. Will keep it turning over with updates as I go along.

[2019-07-22 09:08] vullioud commented on #324
Thanks for your quick clarification. Looking forward to see the implementation of these new projects, looks  great.

[2019-07-22 09:08] #324 closed

[2019-07-22 09:44] annakrystalli commented on #282
No problem! Thanks for the update and yeah, just keep us in the loop of developments. 🙂

Enjoy 🏖☀️!

[2019-07-22 13:23] #319 closed

[2019-07-22 13:23] noamross commented on #317
Hi @biagolini, I'm closing this issue.  Please so open a new one when you're ready to submit.  A quick note - when you test for coverage, it should be evaluated using`"tests"`, rather than `"all"` as is currently set in your `.travis.yml`.

[2019-07-22 13:23] #317 closed

[2019-07-22 14:11] noamross commented on #325
Thanks for your submission, @nfox29!  I have a question regarding the relationship of this package and **FlickrAPI**.  A quick review suggests to me that these packages cover different, but complementary parts of the API.  Is that correct, or is the difference in how API outputs are handled?

I ask. We generally aim for RO packages to be best-in-category because we want the RO package to be the on

[2019-07-22 15:07] nfox29 commented on #325
Thank you @noamross for your swift reply. I appreciate that there seems to be similarities between the two packages.

flickrAPI has four functions getExif, getHotTags, getPhotoInfo and getPhotos. Out of those four we currently do not have getExif, getHotTags and getPhotos.

The main function we share is searching for photo metadata. We use the API method [flickr.photos.search](https://www.flickr.c

[2019-07-22 19:32] vbaliga opened #326 "Submission: workloopR"
Submitting Author: Vikram B. Baliga (@vbaliga)
Repository:   https://github.com/vbaliga/workloopR
Version submitted:   1.0.0
Editor: @lmullen
Reviewer 1: @jromanowska
Reviewer 2: @eebrown
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ro

[2019-07-22 23:32] ChristineStawitz-NOAA commented on #315
Apologies for getting this in at the last possible moment!

## Package Review

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [ ] **A statement o

[2019-07-22 23:35] melvidoni commented on #315
Thank you @ChristineStawitz-NOAA! We are waiting for @carlganz's now, then.

[2019-07-23 00:11] carlganz commented on #315
Promise to finish review tomorrow sorry for delay.

[2019-07-23 06:58] potterzot commented on #298
Hi @adamhsparks, thank you for your time and willingness to help. I've finished making the straight-foward changes you suggested, and am thinking about the larger issues, which seem to boil down to two related issues:

1. How much should we expose to the user
2. How can we simplify the interface to make it more usable

The main function of the package is `nassqs()`, which fetches and returns parse

[2019-07-23 08:38] ShixiangWang commented on #315
@ChristineStawitz-NOAA  Thanks for your all comments. Basically, I fixed all the problems you raised. And I also have some reasons for the non-modified parts.

All replies for problematic points have been put as the following. Please forgive me my English if you find something hard to understand, just ask me again. :)

* [x] **A statement of need** clearly stating problems the software is designed

[2019-07-23 16:34] nfox29 commented on #325
Hi @noamross, to address the issues you raised I have now updated the package to include the functionality that **flickrAPI** included that we originally did not.  Our package can now:

- search for a data on a single image via the `get_photoinfo` function
- search for exif data for an image via the `get_exif` function
- search for the photographs uploaded by a single user under the `photo_search`

[2019-07-23 18:03] noamross commented on #325
Great, thanks you @nfox29.  @sckott will be your editor.

[2019-07-23 21:54] adamhsparks commented on #298
I think that sounds reasonable. The documentation can always be structured with the meat in the main vignette and then more advanced usage in another or farther down the page.

[2019-07-23 22:17] MKLau opened #327 "Rclean: A Tool for Writing Cleaner, More Transparent Code"
Submitting Author: Matthew K. Lau (@mklau)
Repository: https://github.com/MKLau/rclean

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

	- [ ]

[2019-07-24 03:52] noamross commented on #300
My apologies for the delayed reply, @MKLau.  I see you opened another issue as a pre-submission inquiry, but you can go ahead and do a full submission for review. @annakrystalli is acting editor-in-chief while I'm traveling and will assign it out.

[2019-07-24 04:30] potterzot commented on #298
__Question__: Since both reviewers recommend removing `release_questions()`, where is it recommended that it go? These are helpful (for me) pre-release questions and the function is suggested by the R Packages book ([here](http://r-pkgs.had.co.nz/release.html)), but it doesn't suggest where to put it.

# Response to Reviewers

The reviewers raise some excellent points to consider about usability a

[2019-07-24 04:49] carlganz commented on #315
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-07-24 06:53] mpadge commented on #322
Thanks @noamross; may I interpret that as approval to open a new issue as full submission?

[2019-07-24 07:39] annakrystalli commented on #327
Thanks for your submission @MKLau! I'll be handling your review. Stay tuned while I complete editors checks. I'll get back in touch when they are done.

[2019-07-24 14:24] florianm opened #328 "Presubmission: ruODK, Client for the ODK Central API"
Submitting Author: @florianm
Repository:   https://github.com/dbca-wa/ruODK/

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

	- [x] data retri

[2019-07-24 15:46] ShixiangWang commented on #315
@ChristineStawitz-NOAA Sorry for ignoring  `There is no guidance on how to contribute` yesterday, I have added it [here](https://github.com/ShixiangWang/UCSCXenaTools#how-to-contribute).

@carlganz Thanks for your comments :). The modification can be seen from the last [two commits](https://github.com/ShixiangWang/UCSCXenaTools/commits/master).  I also reply your comments point to point as the fol

[2019-07-24 15:54] ShixiangWang commented on #315
I am glad to add two reviewers in DESCRIPTION file according to

Thanks all your comments @ChristineStawitz-NOAA @carlganz

[2019-07-24 20:15] AldoCompagnoni commented on #254
Dear @annakrystalli,
Thank you for your helpful last comments, which I believe we have addressed in full!

@stefaniebutland, we would be happy to submit a blog post for rOpenSci, but as you see, I am well over the July 16 deadline! What other dates do you have available? I'll be at Ecological Society of America 2019 (August 11st-19th), so a deadline before or after the ESA meeting would be optimal

[2019-07-24 21:17] MKLau commented on #327
Thanks!

[2019-07-24 21:18] MKLau commented on #300
Thanks @noamross, and sorry for the confusion. Safe travels.

[2019-07-24 21:40] melvidoni commented on #315
Great to see this is moving! Please @ChristineStawitz-NOAA and @carlganz, review the changes. Feel free to go back and forth if you deem it necessary.

[2019-07-25 08:37] RaoulWolf opened #329 "chemspiderapi"
Submitting Author Name: Raoul Wolf
Submitting Author Github Handle: @RaoulWolf
Repository:  https://github.com/RaoulWolf/chemspiderapi
Version submitted: 0.0.2  2021-03-15
Editor: @jooolia
Reviewers: @rajarshi, @yufree, @data-datum
Due date for @rajarshi: 2021-03-15
Due date for @yufree: 2021-03-15
Due date for @data-datum: 2021-03-15
Archive: TBD
Version accepted: TBD

---

-   Paste the full DES

[2019-07-25 09:40] annakrystalli commented on #254
Thanks @AldoCompagnoni! I've returned admin rights to you on the repository.

Could you just tick the boxes in the Approval comment to confirm what has been done?

[2019-07-25 09:55] annakrystalli commented on #328
Hi @florianm 👋and thanks for your presubmission enquiry,

I'd not heard of this framework before but it looks really cool! I listened to the podcast @sckott posted in response to your forum post last night, will definitely be checking it out.

In terms of the topic, you've ticked data retrieval, extraction and reproducibility but we feel the correct category is data retrieval only. I appreciate th

[2019-07-25 10:17] annakrystalli commented on #328
I'll be closing this issue now. Please open a full submission issue when you are ready. 👍

[2019-07-25 10:17] #328 closed

[2019-07-25 10:17] florianm commented on #328
Cheers @annakrystalli!
ODK is indeed the bees knees.

The categories are updated now, and I've included a paper to JOSS (is `/inst/joss` a good place for the paper.md?)

[2019-07-25 10:18] adamhsparks commented on #298
This looks much improved as I've glanced over it. Thanks for thoughtfully responding to our reviews and comments. Thanks for explaining any reasons why my suggestions weren't followed, I have no objections to any of them. Some of my suggestions have been based on CRAN's, umm, erratic(?) enforcement of rules from time-to-time, so ignoring some of my suggestions are probably fine as I'm not sure tha

[2019-07-25 10:52] annakrystalli commented on #328
Great!

I think just the root of the repo is fine as it doesn't really need to be included in the package when installed (it will stand as it's one publication in JOSS).  It will be easier for reviewers to find too. In this case it would also need to be included in `.Rbuildignore`

Having said that, we don't have specific guidelines on the location of `paper.md` so it certainly wouldn't be a probl

[2019-07-25 11:48] Bisaloo commented on #267
Hi @karthik, just wondering what's the status here.

I can try to address the remaining concerns from @jeroen in the next couple of weeks, by providing a new vignette which:

- shows that we get the same output with my parsers and the proprietary parsers from Avantes and OceanOptics
- shows that the spectra match what we observe in human vision
- demonstrates how this data can then be used with a

[2019-07-25 11:52] noamross commented on #322
Yup!

[2019-07-25 12:24] florianm commented on #328
Cool - didn't want to clutter root with non-standard files, but the paper can go in either place. If I add the remaining functions (with docs, examples, tests, and examples in README and in vignette), is there any other glaring error or omission I could fix or add prior to submission?

[2019-07-25 12:29] #322 closed

[2019-07-25 12:54] mpadge opened #330 "mapscanner"
Submitting Author: mark padgham (@mpadge)
Repository:  [mpadge/mapscanner](https://github.com/mpadge/mapscanner)
Version submitted: 0.0.1
Editor: @sckott
Reviewer 1: @potterzot
Reviewer 2: @khondula
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies]

[2019-07-25 13:53] annakrystalli commented on #329
Hello @RaoulWolf, just in the process of assigning an editor. In the meantime, just checking, did you mean to submit your fork of the repository?

[2019-07-25 14:24] RaoulWolf commented on #329
Hi @annakrystalli, yes I submitted my fork on purpose. I couldn't get an OK to incorporate AppVeyor, CodeCov and Travis CI on the other repository, so I forked it into my own account and added the functionality.

[2019-07-25 15:50] potterzot commented on #298
@adamhsparks thank you. I've updated the CITATION file and also added @noRd to `expand_list()`.

Regarding `usdarnass`, I added the reference to the README after I found out about it, which was after I had submitted for rOpenSci review. I'm fairly sure `rnassqs` was developed first, since my first git commit was in June 2015, while theirs was November 2018, and `rnassqs` was published on CRAN on M

[2019-07-25 16:06] nealrichardson commented on #298
I'll just briefly comment that this all sounds good in principle and I look forward to re-reviewing in detail, though I won't be able to get to that until early next week.

[2019-07-25 16:38] annakrystalli commented on #329
OK, that's fine. I was just wondering whether further development would be done in the upstream fork or yours?

Also, we require test coverage of at least 75% before review. Your codecov badge indicates only 10% test coverage. Is there a reason for that?

[2019-07-25 20:30] adamhsparks commented on #298
Thanks, @potterzot. As I said, it was a quick glance. Echoing what @nealrichardson said, I need to fully re-review everything. Those were just the few things I found quickly so I commented.

[2019-07-25 23:00] ChristineStawitz-NOAA commented on #315
**Statement of Need and JOSS paper**
I don't see the bibliography showing up at the end of the paper.md file, though I can see the in-text references.

I initially did not review this as a JOSS submission, should I be also following their review criteria @melvidoni or will it go through a separate review at JOSS after the rOpenSci one?

I have some long-running code going in other `RStudio` sessio

[2019-07-26 00:37] carlganz commented on #315
I am happy with the updates. I've updated review to give full approval. Congrats!

[2019-07-26 02:27] ShixiangWang commented on #315
@ChristineStawitz-NOAA the bibliography is shown in [paper.bib](https://github.com/ShixiangWang/UCSCXenaTools/blob/master/paper/paper.bib) file according to [JOSS instruction](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).

@ChristineStawitz-NOAA @carlganz I have added your names [here](https://github.com/ShixiangWang/UCSCXenaTools/blob/66eba83777e61b5f1a6f2

[2019-07-26 03:01] AldoCompagnoni commented on #254
@annakrystalli,
I hope that the ticks below, quoting your approval comment, address your request as hoped!

Moreover, I have credited both reviewers, and I have also updated the `NEWS.md` file. However, in this last case I have not yet produced an release as suggested by the [relevant section](https://devguide.ropensci.org/releasing.html#versioning) of the development guide. I would like to associ

[2019-07-26 13:04] trafficonese opened #331 "windfarmGA"
Submitting Author: Name (@YsoSirius)
Repository:   [windfarmGA](https://github.com/YsoSirius/windfarmGA)

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate bo

[2019-07-26 16:58] annakrystalli commented on #327
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-07-26 17:12] annakrystalli commented on #330
Thanks for the submission @mpadge!

I'm just working on assigning an editor.  Stay tuned!

[2019-07-26 23:05] ChristineStawitz-NOAA commented on #315
Looks good and I am able to successfully run everything in the vignette
after the changes - thanks!

On Thu, Jul 25, 2019 at 7:27 PM Shixiang Wang <notifications@github.com>
wrote:

[2019-07-27 10:47] annakrystalli commented on #331
Hello @trafficonese, and thanks for your submission.

This looks like a really cool package! Unfortunately, because it is more of a statistical analysis package, rOpenSci are not currently able to provide review.  However it is [an area we are actively working on](https://ropensci.org/blog/2019/07/15/expanding-software-review/), so perhaps try again in future.

[2019-07-27 10:48] #331 closed

[2019-07-28 21:06] melvidoni commented on #315
Approved! Thanks @ShixiangWang  for submitting and @ChristineStawitz-NOAA @carlganz  for your reviews!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer to the bottom of your README
[code]

- [ ] Fix any links in b

[2019-07-29 02:07] ShixiangWang commented on #315
@melvidoni I got a message when I transferred the repository

[2019-07-29 11:51] RaoulWolf commented on #329
Further development would be at the upstream fork, yes. It looks like I might be able to get Circle CI and CodeCov up and running on the upstream fork. Would that be preferable then?

Coverage is an issue indeed, but comes with the nature of the package. I've increased the coverage considerably (>30%), but I'm not sure how to increase it further. The main issue is that I do not want the tests to r

[2019-07-29 21:16] sckott commented on #325
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-07-30 01:53] birderboone commented on #256
Everything should be working now. Had to wait for field work to be done to find the pesky problem with vignette loading. Thanks @njahn82 on your tweeks. vdiff-r is now on cran version, I forget why we had to switch to the remote at one point.

[2019-07-30 03:26] stefaniebutland commented on #254
Hi @AldoCompagnoni. Would you be able to submit a draft blog post via pull request before ESA? I may have a publication slot open for Aug 6 or 13th and prefer to receive a draft one week prior to publication so I can review.

Please suggest a date for draft submission and we can proceed from there. Thank you!

[2019-07-30 19:52] SteveViss opened #332 "Submission: rmangal"
Submitting Author: Steve Vissault (@SteveViss)
Repository: https://github.com/mangal-wg/rmangal
Version submitted: 1.9.1
Editor: @noamross
Reviewer 1: @thomasp85
Reviewer 2: @arw36
Archive: TBD
Version accepted: TBD

---

- Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.gi

[2019-07-31 09:05] annakrystalli commented on #329
Hey @RaoulWolf.

Thanks for the updates and your efforts with improving test coverage!

 Regarding testing the API, have you had a look at package [httptest](https://cran.r-project.org/web/packages/httptest/index.html)?  This should help with what you're trying to achieve.

[2019-07-31 13:22] RaoulWolf commented on #329
Hey @annakrystalli,

thanks for the heads up! I'll give `httptest` a try asap :)

[2019-07-31 13:32] RaoulWolf commented on #329
Hey @annakrystalli,

thanks for the heads up! I'll give `httptest` a try asap :)

[2019-07-31 21:34] melvidoni commented on #315
@ShixiangWang I sent you an invitation to be part of rOpenSci organisation in GItHub. If you accept it, you should be able to transfer the repo. (Transfer, do not create!).

[2019-08-01 06:27] ShixiangWang commented on #315
@melvidoni Thanks, it works.
There is a problem when I do this step `Activate Zenodo watching the repo`, I can't find my package in the Github list

![image](https://user-images.githubusercontent.com/25057508/62270085-abe42e80-b467-11e9-934d-aa7612881999.png)

It seems I should have rights to access the repositories of ropensci.

![image](https://user-images.githubusercontent.com/25057508/62270197

[2019-08-01 06:39] karthik commented on #267
Hi @Bisaloo,
It would be good for you to address these comments now. I'll be your second reviewer and will provide my review within a week. Once you address any additional issues, we can proceed with the next steps.

PS: I'll be away from email till August 6.

[2019-08-01 19:38] lmullen commented on #298
Thanks for the detailed changes and response, @potterzot.

@adamhsparks and @nealrichardson Thanks for looking over the changes. Could you please complete your re-review and either request additional changes or vote to approve the package by August 8?

[2019-08-01 21:27] melvidoni commented on #315
I removed you from that team @ShixiangWang. Let me try some things regarding Zenodo!

[2019-08-01 22:14] sckott commented on #330
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-08-01 22:25] melvidoni commented on #315
I removed you from that team @ShixiangWang, and added you to the package team. Can you accept that? (it shows as pending). Also, can you try adding Zenodo now?

[2019-08-02 00:01] ShixiangWang commented on #315
Strange, I was already in the package team yesterday, so why is it showing pending?. I will try Zenodo as soon as possible.

[2019-08-02 01:11] ShixiangWang commented on #315
@melvidoni Thanks, I can find the package in Zenodo now. :)

![image](https://user-images.githubusercontent.com/25057508/62337024-7857e180-b505-11e9-9a8e-5709ee6bc04b.png)

[2019-08-02 02:42] melvidoni commented on #315
Awesome! Then, if you can tackle everything and then let me know, that would be great.

[2019-08-02 05:36] AldoCompagnoni commented on #254
@stefaniebutland,
A draft on August 6th to be published on August 13th would work for me! Expect my draft, and please let me know if there is additional information I should be aware of!

[2019-08-02 08:46] adamhsparks commented on #298
Will do!

--
Dr Adam H. Sparks
Associate Professor of Field Crops Pathology  |  Centre for Crop Health
Institute for Life Sciences and the Environment (ILSE)  |  Research and Innovation Division
University of Southern Queensland | Toowoomba, Queensland | 4350 | Australia

Phone: +61746311948
Mobile: +61415489422
Mobile: +61415489422
On 2 Aug 2019, 5:38 AM +1000, Lincoln Mullen <notifications@githu

[2019-08-02 09:41] njahn82 commented on #256
Congrats @birderboone , glad that vignette loading works now. There's just a minor hint, To get rid of the last remaining NOTE message while checking the package build via travis, pleas add the README.Rmd file to `.Rbuildignore`.

Otherwise, I am happy with the author's responses, as well as the current status of the package.

[2019-08-02 09:54] ShixiangWang commented on #315
@melvidoni I have done everything in your todo list.

I have submitted URL https://doi.org/10.5281/zenodo.3358530 to JOSS.

If the DOI not found, please see https://zenodo.org/record/3358530

@stefaniebutland I would like to write a short introduction to this package.

Thanks all.
Shixiang

[2019-08-02 12:45] aurielfournier commented on #256
Thanks @njahn82 . I got that changed made just now and the build passes.

[2019-08-02 16:47] stefaniebutland commented on #254
Sounds good @AldoCompagnoni. I've marked my calendar to look for draft on Aug 6.

Content suggestion from Noam Ross: a post "talking about managing both the service and the client package, but also the LTER network and such" would be well-received. It's important not to repeat information that's in the vignette; refer to it where needed.

Editorial and technical information about preparing your su

[2019-08-02 17:28] stefaniebutland commented on #315
Good to hear that @ShixiangWang

@melvidoni is there an element of the package, it's development, or applications that you think could be highlighted?

For a short introduction, a Tech Note is most appropriate. [Examples](https://ropensci.org/technotes/). It's important not to repeat information that's in the vignette; refer to it where needed. You might illustrate a compelling use case for the pa

[2019-08-02 22:13] nealrichardson commented on #298
Nice work. This looks much improved. I found a few sylistic issues again, and I had some suggestions for how to improve the testing, but rather than write them here, I've made a [pull request](https://github.com/potterzot/rnassqs/pull/15) with them for you to review/merge. The other reason I implemented these suggestions myself was that I got a test failure locally because one of the tests require

[2019-08-03 04:33] ShixiangWang commented on #315
@stefaniebutland Thanks, can I submit the draft within a month?

@melvidoni It seems that I should submit repository URL instead of Zenodo DOI to JOSS, please see https://github.com/openjournals/joss-reviews/issues/1622#issuecomment-517802770

[2019-08-04 14:06] noamross commented on #332
Thanks for your submission, @SteveViss and co-authors!  I am now seeking reviewers.

Regarding JOSS, from our end this simply means that we pass our reviews to the JOSS editors for them to use in place of new reviews.  As you have multiple clients and would like to include them in a single submission to JOSS,  I suggest you submit to JOSS and request they review the Julia client, and we will pass

[2019-08-04 21:18] melvidoni commented on #315
@ShixiangWang That is weird! If they need URL repo, then that's it. Send the repo. I will advise editors to fix this on the approval comment template as well!

[2019-08-05 02:13] ShixiangWang commented on #315
@melvidoni Yes 😭. Is there anything more I should do?

[2019-08-05 03:05] melvidoni commented on #315
Not for now! Just send them the URL repo then.

[2019-08-05 13:10] ShixiangWang commented on #315
@melvidoni The package has published on JOSS <https://joss.theoj.org/papers/10.21105/joss.01627>. Thanks for your work, the process is really fast.

[2019-08-05 14:19] lmullen commented on #326
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-08-05 17:17] nevrome opened #333 "Submission: c14bazAAR"
Submitting Author: Clemens Schmid (@nevrome)
Repository: https://github.com/ISAAKiel/c14bazAAR
Version submitted: 1.0.3.9000
Editor: @melvidoni
Reviewer 1: @benmarwick
Reviewer 2: @ercrema
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://r

[2019-08-05 18:33] sckott commented on #329
@RaoulWolf  Another option for caching tests (not doing real requests) is the vcr package - but only will work if you use crul or httr instead of curl

[2019-08-05 19:00] vbaliga commented on #326
@lmullen Thank you for your feedback.

We used the `spelling::spell_check_package()` and took care of the misspellings throughout the package. The remaining items returned by that function are all proper nouns, specialized terms, and other false positives. We also fixed a few formatting issues in the package documentation. All changes are available now in [the latest commit](https://github.com/vba

[2019-08-05 21:22] melvidoni commented on #315
@ShixiangWang That is great! If you don't mind, I'm tweeting your package, and closing the thread. Congrats and thank you for all the hard work!

[2019-08-05 21:26] #315 closed

[2019-08-06 03:11] noamross commented on #332
Reviewers assigned:
Reviewer 1: @thomasp85
Reviewer 2: @arw36
Due date: 26-08-2019

[2019-08-06 03:17] melvidoni commented on #333
Hello @nevrome and thank you for your submission. I have noticed that you haven't ticked the rOpenSci's CoC box. Is that for a particular reason? It is fundamental for us to have that, otherwise we cannot continue the process.

[2019-08-06 07:02] nevrome commented on #333
@melvidoni No idea how I managed to forget that. Done now.

[2019-08-06 11:57] lmullen commented on #326
@vbaliga I generally think it is much easier to do the archival version of the package once the review is done. Doubtless the reviewers will make changes, and you can sync up the reviewed version, the CRAN version, and the figshare version if the package is accepted.

[2019-08-06 13:50] vbaliga commented on #326
@lmullen Sounds good - thanks!

[2019-08-06 16:32] stefaniebutland commented on #315
Yes, sounds good. I'll mark my calendar to check with you on Aug 27. Thank you.

[2019-08-06 21:34] melvidoni commented on #333
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-08-07 23:35] nmonhait commented on #309
Hi @tyluRp , I will need to submit later this week. Sorry for the delay!

[2019-08-08 00:03] karthik commented on #307
Eric: I'm very embarrassed to have dropped the ball on this amidst late May/June travels. I'm now actively seeking reviewers and will update the thread within a week. I'll make sure to keep this on a fast track the rest of the way. Again, apologies for my tardiness.

[2019-08-08 01:17] tyluRp commented on #309
@nmonhait No problem at all! Take your time 👍

[2019-08-08 01:22] h21k commented on #309
Hi all,

Apologies, I would also need some time to be able to submit (approx around
the 20th of August).

Very best wishes,

Frank

On Wed, 7 Aug 2019 at 18:17, Tyler Littlefield <notifications@github.com>
wrote:

--
Dr Frank Soboczenski

Personal: https://h21k.github.io
NASA Globe: https://www.globe.gov/web/frank.soboczenski/home
NASA FDL: http://frontierdevelopmentlab.org/
Twitter: h21k

Latest

[2019-08-08 06:34] adamhsparks commented on #298
I have a few last minor points (nitpicks?) that if changed will improve the package. Overall it's greatly improved and I like how it works. Congrats!

1. * @lmullen already noted this much earlier in the process. Please remove the "Date" field from the DESCRIPTION file. CRAN will automatically assign this and it's prone to ending up being out of date if you rely upon updating it manually.

2. You

[2019-08-08 14:09] sckott commented on #330
reviewers are @potterzot && @khondula

[2019-08-08 20:27] #289 closed

[2019-08-09 04:57] karthik commented on #307
Assigning @chasemc as reviewer 1. Please see guidelines here: https://devguide.ropensci.org/reviewerguide.html

[2019-08-09 12:19] nfox29 commented on #325
Thanks @sckott to address your comments I have fixed the line length issues. The reason currently some lines aren't covered by tests is due to a Flickr side issue. Currently anything that requires a Flickr location identifier does not work. Therefore both the `location_tags` and `find_place` functions do not work, as well as searching for photographs with a woeID using the `photo_search` function.

[2019-08-09 13:04] RaoulWolf commented on #329
Thanks @sckott for the heads up on `vcr`.

As you indicated, `vcr` (currently?) only works for `crul` or `httr`; also `httptest` does not work for `curl`. The reason I chose `curl` for the package was the relative flexibility over `httr` when assembling headers and data fields. In some instances I was not able to set up working API calls using `httr`.

I will take a further look into `crul` - of c

[2019-08-09 13:22] tpoisot commented on #332
@noamross we will submit to JOSS asap -- the Julia code is really tight (under 700 sloc), so review should be fast.

[2019-08-09 14:03] noamross commented on #332
Great, please tag me in the issue there to track it.

[2019-08-09 16:06] sckott commented on #329
yeah `curl` is a great choice. jeroen is considering integration for webmockr (and therefore vcr) https://github.com/jeroen/curl/pull/174 but not sure if it will happen

[2019-08-09 16:15] sckott commented on #325
thanks

[2019-08-09 16:32] sckott commented on #325
reviewers assigned: @monicagerber @zkamvar

[2019-08-09 20:27] MKLau commented on #327
Hi @annakrystalli, thanks for your feedback on this. I've been looking into the issues with installing those dependencies.

The package installs from dev on github via devtools on my machine and on Travis' server. However, I manually installed the CodeDepends on my machine, and Travis manually installs as well. I haven't yet done a full install on a fresh machine just using devtools.

This is an i

[2019-08-09 21:04] MKLau commented on #327
Hi @annakrystalli, alright, I did a fresh install of R on my machine with the addition of all your dependency fixes to the DESCRIPTION and I get a similar error as you:

[code]

Travis still installs without error, which is installing the graph package separately.

I've done some searching on Stack Exchange, and I can see why RGraphviz would install but not graph. I'll keep searching for possible

[2019-08-12 15:55] potterzot commented on #298
@adamhsparks Thank you for the incredible detail in this! Much appreciated. I've made all of the changes you suggest except for this one, which I'm unclear on:

What do you mean by setting the version? Do you mean setting the `R` version in DESCRIPTION?

[2019-08-12 16:07] mem48 commented on #295
@mifioriti @geanders just checking back to see if there where any update on the review. It's holiday season so I will check agian in a few weeks.

[2019-08-12 17:08] potterzot commented on #298
@nealrichardson I've reviewed and merged your PR, thanks! There were two tests for error handling that were failing:

- "Too-large request error is handled"
- "Other server error is handled"

Because they were within the `with_mock_api()` block they were returning a `GET` object instead of the error. I moved these to the authorization block and they work.

Regarding `.Rbuildignore` excluding tarba

[2019-08-12 17:10] potterzot commented on #298
@nealrichardson PS if I have your okay I've also added you as a contributor in DESCRIPTION.

[2019-08-12 17:50] nealrichardson commented on #298
Where did you see the failure? [The PR merge commit passed on Travis](https://travis-ci.org/potterzot/rnassqs/builds/570904679). They don't require auth because they use the mock responses I added here: https://github.com/potterzot/rnassqs/pull/15/files#diff-7c5a672790a8227968bfd57c3a71faa0 Did you possibly make other changes that altered the querystring in the request? That would change the reque

[2019-08-12 18:17] potterzot commented on #298
@nealrichardson Hmm, I checked out your commit again and am having no trouble. I must have changed something that started giving me those errors. I returned those files to their original state in a new commit. Also removed the response check based on your note about `nassqs_GET()` always returning a response object.

[2019-08-12 20:17] ddsjoberg opened #334 "Submission: gtsummary"
Submitting Author: Daniel Sjoberg (@ddsjoberg)
Repository: gtsummary
Version submitted:   1.1.1.9004
Editor: TBD
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#pa

[2019-08-12 21:20] adamhsparks commented on #298
Hi @potterzot,
The RDS version of the file is 1, 2 or (default) 3. This changed with R 3.6 to "3". So many users may not have the ability to read a version 3 RDS file yet if they've not upgraded to R >= 3.6.

See `?saveRDS` for more on `version`

[2019-08-12 21:38] potterzot commented on #298
Ah I see, that script was generally outdated anyway, so thank you for pointing that out! I was also unaware of the breaking change and do a lot of my data storage in RDS so thank you.

[2019-08-13 04:39] melvidoni commented on #334
Hello @ddsjoberg , and thanks for your submission. Unfortunately, after a discussion with the editors, we agreed that your package is out-of-scope for rOpenSci: although it does help with reproducibility (and is a great package), it is a too general organisation tool that's beyond our current aims and scope. Thanks again for submitting software peer review. We hope you find another venue for it.

[2019-08-13 12:29] ddsjoberg commented on #334
Thank you for the quick response!

[2019-08-13 20:59] #334 closed

[2019-08-13 23:27] adamhsparks commented on #298
@lmullen, I've updated my initial review with the suggestion to accept, ticked the rest of the boxes and updated time spent reviewing.

[2019-08-14 05:56] maelle commented on #236
@jackwasey any update?  Otherwise as per our policies mentioned above by @sckott, the issue will be closed because the submission has been on hold for more than one year.

[2019-08-14 06:02] maelle commented on #279
:wave: @aaronwolen, any update? Thanks 🙂

[2019-08-14 22:15] karthik commented on #307
Still seeking reviewer #2

[2019-08-15 01:17] lmullen commented on #298
@adamhsparks Great, thanks so much.

@nealrichardson Is there anything else outstanding from your perspective?

[2019-08-15 02:36] nealrichardson commented on #298
All good, just checked the boxes.

[2019-08-15 15:42] lmullen commented on #298
Approved! Thanks @potterzot for submitting and making all the requested changes. And thanks, @adamhsparks and @nealrichardson for especially thorough reviews. Much appreciated.

@potterzot here are some to-dos to complete the onboarding process.

- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you t

[2019-08-15 15:42] #298 closed

[2019-08-15 17:38] potterzot commented on #298
Thank you! This is very exciting. Thank you all for your fantastic help and efforts. @adamhsparks, I am realizing I didn't specifically ask your permission to include you as a reviewer. @lmullen, I've switched the repository over to ropensci and made changes to the readme.

[2019-08-15 19:02] karthik commented on #307
Assigning @fboehm as reviewer 2
Please see guidelines here: devguide.ropensci.org/reviewerguide.html

[2019-08-16 09:50] RaoulWolf commented on #329
Unfortunately I did not get `crul` to work for all possible functionalities; I have thus decided to stick with `curl`.

Otherwise I was able to bump up the test coverage to over 40% without using the actual API query functionalities 👍 I'm still eager to improve coverage, but I'm not sure how to at this moment...? Any help/recommendation is highly appreciated!

I will also update the OP to link to

[2019-08-16 11:54] noamross commented on #329
There's also https://github.com/nealrichardson/httptest

[2019-08-16 14:39] lmullen commented on #298
Ok, you should be an admin on the repository again, @potterzot.

[2019-08-17 05:57] mpadge commented on #330
Thanks @sckott - I'm really excited about this package, and looking forward to improvements that will invariably arise in response to reviews. Thanks in advance @potterzot and @khondula for volunteering! The goodpractice T/F outputs are indeed false positives; the long line was not, but has since been fixed.

I'm not sure at the mo what might have caused your install issue, but guess some kind of

[2019-08-19 22:23] aaronwolen commented on #279
Hi @maelle, getting very close indeed.

Multi-file uploading and downloading now works fine ✅.

However, I'm still tweaking some of the logic for handling file conflicts. In my original submission `osf_upload()`/`osf_download()` had only a binary `overwrite` argument, which just doesn't scale to multiple files, especially if you want to do something like upload (and later update) an entire project

[2019-08-20 03:55] cboettig commented on #279
Thanks @aaronwolen ! This sounds great.  standing by for the ping when you're ready for those beta testers.

[2019-08-20 18:46] aurielfournier commented on #256
@noamross is there anything else you're waiting on from @birderboone or myself? Thanks!

[2019-08-20 21:13] melvidoni commented on #333
I am in the search for a second reviewer. I will update here and give a review deadline as soon as someone accepts my invitation. Apologies for the delay, @nevrome

[2019-08-20 22:58] MKLau commented on #327
@annakrystalli

Hi Anna, I still haven’t found a solution to the graph package install other than manually installing graph via BiocManager. So, if you’d like you should be able to proceed by first installing graph before installing

[code]

It looks like the CodeDepends maintainers are working on a solution for this (https://github.com/duncantl/CodeDepends/issues/30) but currently they’re essenti

[2019-08-21 06:03] maelle commented on #256
I'm waiting for an answer from the other reviewer and if I don't get it I will do the checks myself this week or next. Thanks for your patience (and yes I'm back as volunteer editor, thanks @noamross for the help!)

[2019-08-21 09:02] bmkramer commented on #256
Other reviewer here :-) Apologies for not responding to your email enquiry sooner @maelle  - I just returned from holiday. I will try to go through the updated package this weekend or next if that is still helpful. If that is taking things too long, I also understand of course.

[2019-08-21 09:08] maelle commented on #256
Thanks a lot @bmkramer! Yes it would still be most helpful. :pray: And I hope you had a nice vacation!

[2019-08-22 08:15] thomasp85 commented on #332
Hi All

Please find my review below. All in all a very good job with this package 🙂

best
Thomas

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whe

[2019-08-22 11:54] noamross commented on #332
Thank you, @thomasp85! @SteveViss, I suggest waiting for @arw36's review so you can address them together.

[2019-08-23 00:47] sckott commented on #330
@pottterzot reminder that your review is due soon

[2019-08-23 08:47] florianm opened #335 "Submission: ruODK, Client for the ODK Central API"
Submitting Author: Florian Mayer (@florianm)
Repository:  https://github.com/dbca-wa/ruODK
Version submitted:   0.6.6.9025 (Jun 2020) (originally 0.6.0)
Editor: @maelle
Reviewer 1: @karissawhiting
Reviewer 2: @jmt2080ad
Archive: 2020-02-11
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope
- Please indicate which category or categories from

[2019-08-23 14:32] annakrystalli commented on #327
Hey @MKLau, sorry for slow reply, I am actually on holiday so will probably be slow getting back to you for the next week also. Apologies!

In the meantime, I found a short term workaround that hopefully we might be able to turn into a more long-term one.

I forked `CodeDepends` and just [added `biocViews:` to the `DESCRIPTION` file](https://github.com/annakrystalli/CodeDepends/blob/master/DESCRIP

[2019-08-23 23:35] potterzot commented on #330
In just under the deadline! @mpadge thank you for your submission, this is a super cool package. We may end up using it in some work we're doing with water rights, so it's great to see! That said, I couldn't actually get it to download maps given a `bbox`, but looking forward to trying it out once I can.

I printed a USGS topo map and draw a trail on it to check it's application for hiking and was

[2019-08-24 00:38] sckott commented on #330
thanks for your review @potterzot !

[2019-08-24 02:26] mpadge commented on #330
Thank you very much @potterzot for your very considered and constructive review. Before going any further can I please ask you to:

1. Forgive my programmatic stupidity for somehow embedding a `token <- Sys.getenv()` call in the code and not issue any information whatsoever about the necessity or assumed name of associated token. I've rectified that already, so the code now explicitly informs you

[2019-08-25 21:16] melvidoni commented on #333
Reviewers have been assigned, @nevrome. Thanks to @benmarwick and @ercrema. The review deadline is Monday 16th of September.

[2019-08-26 01:15] arw36 commented on #332
Hi all,

Here is my review. Apologies coming in right at the deadline, first ROpenSci review...

Best,
Anna

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are

[2019-08-26 12:33] SteveViss commented on #332
Thanks @arw36 & @thomasp85 for your amazing and constructive reviews. We will refer each individual comments to issues & commits (as much as possible). In that way, you will be able to easily track modifications to the code.

[2019-08-26 18:37] DomBennett commented on #282
Hi all!

Sorry for my massively slow updates: lots of things were happening, this project is way bigger than any of my other ROpenSci projects.

## Responses to the reviews

* As already mentioned, the project is split across three packages now
* The base package interacts with docker, [link](https://github.com/AntonelliLab/outsider.base)
* The main package provides nice wrapper functions for user

[2019-08-27 07:51] maelle commented on #233
:wave: @kamapu! Any progress on the tests? Any help needed? 🙂

[2019-08-27 09:31] maelle commented on #335
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [ ] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-08-27 23:31] yihanwu opened #336 "baRcodeR presubmission"
---

Submitting Author: Yihan Wu (@yihanwu)  and Robert Colautti (@ColauttiLab)
Repository: yihanwu/baRcodeR

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriat

[2019-08-28 01:21] melvidoni commented on #336
Thank you for your submission @yihanwu and @ColauttiLab. We will discuss your enquiry with the editors, and will get back to you soon with an answer. Thanks for submitting!

[2019-08-28 05:30] florianm commented on #335
Very good points, thanks! I'll handle them as issues at https://github.com/dbca-wa/ruODK/milestone/3 apologies in advance for @ bombing you, @maelle

[2019-08-28 05:46] maelle commented on #335
No problem, I was glad to see the issues. However we strive to keep the discussion in this submission thread (similar to what happens in journals). This does not prevent opening issues (which I personally would also do for project management),  but answers should also be here. So when all items are settled it'd be nice if you can write a comment here with quotes of the items and your answers. 🙂w

[2019-08-28 06:08] florianm commented on #335
No probs, when done I'll go through comments here and address how my issues address them.
Give me a day or two to address the larger issues!

Test credentials as promised:
https://github.com/dbca-wa/ruODK/blob/master/CONTRIBUTING.md#test
https://dbca-wa.github.io/ruODK/CONTRIBUTING.html#test

[2019-08-28 06:41] maelle commented on #335
Thanks! I've just realized you recommend using Rprofile but it is code run at each session opening, environment variables should be in .Renviron, I'm editing mine via `usethis::edit_r_environ()` right now.

[2019-08-28 06:45] maelle commented on #335
cf https://whattheyforgot.org/r-startup.html (maybe useful to link from docs?)

[2019-08-28 07:06] maelle commented on #335
I can run tests now but not code such as `project_list()` (e.g. knitting `api.Rmd` fails), how do I do that, more setup steps I guess? Can I use the same credentials again, changing their names?

[2019-08-28 08:27] florianm commented on #335
Aw crap. The vignette might need settings for our internal ODK Central server. Will send settings in ca 3h, afk just now

[2019-08-28 08:29] florianm commented on #335
You can always use explicit url, un, pw as per vignette Setup:

project_list(url=Sys.getenv("ODKC_TEST_URL"), un=..., pw=...)

[2019-08-28 08:30] maelle commented on #335
Does the vignette use a real project or is it a sandbox project too? I'm a bit lost. :-)

[2019-08-28 08:46] florianm commented on #335
The test settings (sandbox) are real forms with test data.
The tests are read-only and non destructive, so no worries there.

The server used in the vignettes uses real forms with (so far) only a few test records. Both servers run ODK Central v0.6.

[2019-08-28 08:52] maelle commented on #335
And you don't want random contributors to have access to the real forms from the vignette, correct? (I might be missing something obvious) A discuss.ropensci.org forum post about the general issue (using interesting examples in the vignette, without giving access to contributors, and with R CMD check still passing) might make sense?

[2019-08-28 10:53] florianm commented on #335
Not a problem at all to scale actually!
Currently I'm using the few forms/records I have so far. Once significant production data comes in, I might create a separate testing project and give both selected/invited web users (ruODK un/pw) and app users (to submit data via ODL Collect) access to just that.
I think I'll get away with a manual invitation process for prospective contributors at least fo

[2019-08-28 11:28] maelle commented on #335
Cool so I'll then just have to add `ODKC_URL` / other variables to my .Renviron? Thank you!

[2019-08-28 12:13] florianm commented on #335
This should make way more sense now: https://dbca-wa.github.io/ruODK/CONTRIBUTING.html#test
Also check your email for working settings!

[2019-08-28 12:17] maelle commented on #335
Awesome, thank you! Got the email, will `devtools::check()` soon. I will be ODK now 😉

I think the instructions should not contain `Sys.getenv` in order to copy paste more easily to .Renviron. 🙂

[2019-08-28 13:01] florianm commented on #335
Glad to see that urODK now :-D

Happy to adjust, which instructions do you mean?

Re authentication and settings, should I add abstraction levels like e.g. `ckanr` does?
* `get_odkc_{test_}{url, un, pw}()` to wrap `Sys.getenv("ODKC_{TEST_}{URL, UN,PW}")` as standard args for functions, e.g. `project_list(url = get_odkc_url(), un = get_odkc_un(), ...)`
* `ruODK_setup(url="xxx", un="yyy", pw="zzz",

[2019-08-28 13:06] maelle commented on #335
I mean in https://dbca-wa.github.io/ruODK/CONTRIBUTING.html#test

[code]

that are the lines for .Renviron.

reg your 2d question better to ping ckanr's maintainer who's an editor too :-)

[2019-08-28 13:20] florianm commented on #335
Ah, thanks! Fixed and pushed now. I'll work on https://github.com/dbca-wa/ruODK/issues/16 and https://github.com/dbca-wa/ruODK/issues/19 tomorrow. Cheers!

[2019-08-28 13:34] maelle commented on #335
Oops I had missed your involvement there, sorry! 😁

[2019-08-28 13:41] maelle commented on #335
Nothing to report from automatic tests, apart from this `goodpractice`'s compliment

`♥ Hurrah! Mathematical package! Keep up the delightful work!`

so as soon as you have tackled the remaining issues and written answers here, and as I answer regarding MEE&rOpenSci publication process, we can move forward. :-)

[2019-08-28 21:20] melvidoni commented on #336
Hello @yihanwu and @ColauttiLab!  This package is a bit of an edge case topically, because we don't have a package category specifically that it fits in to, but we think that packages like this are in-scope, so we may say so explicitly in the next revision of our Aims and Scope, which we are currently working on.

That being said, we look forward to receiving a formal submission from you.

[2019-08-28 21:20] #336 closed

[2019-08-28 22:40] chasemc commented on #307
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

*Chase's note- My review and inserted links correspond to the chlorpromazineR repository at git commit: `f8a0f152fc57ec0afb0c60910a9764dee780508f`*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi

[2019-08-30 13:39] wolski opened #337 "presubmission : fgczgseaora"
Submitting Author: Witold Wolski (@wolski)
Repository:   https://github.com/protViz/fgczgseaora

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

[2019-08-30 21:50] monicagerber commented on #325
Hi @nfox29! 👋 I have a question about getting started with your package. In the README, you write:

Do you have an example of how the user will be prompted to create and enter an API key? I've installed your package and tried out `photo_search()` but wasn't prompted to create a key. I went ahead and created an API key from the Flickr development page, but as a naïve user, I'm not sure where to sav

[2019-08-30 21:52] sckott commented on #325
@monicagerber @zkamvar reminder your review is due on Monday (Monica, I do see you've got started, thanks)

[2019-08-31 02:24] florianm commented on #335
I think I've addressed all issues now, will write up summary here as soon as I get a moment.

Last question, is there a best practice on importing packages?
in `ruODK` I managed to keep `goodpractice()` and `check()` happy by:
* DESCRIPTION `imports` all packages I use in code
* DESCRIPTION `suggests` extra packages used in vignettes
* My code prefixes imported functions e.g. dplyr::mutate_at
* My

[2019-08-31 05:03] maelle commented on #335
You could drop the `@importFrom` https://r-pkgs.org/namespace.html#imports but you don't have to.🙂

[2019-08-31 21:49] nfox29 commented on #325
@monicagerber when you use the `photo_search` function (or any of the other packages functions) you should be prompted to paste or type your API key into the console. All functions check whether an API key exists as a a file called `api_key.txt` and if not it should prompt you to enter it, whilst opening the Flickr development page to facilitate requesting an API key if you do not have one. It is

[2019-09-01 21:25] melvidoni commented on #337
Hello @wolski, thanks for your submission. Before we can continue, your opening issue is incomplete. We need it complete in order to be start the process. Please, edit your post and add the following at the bottom (adding your replies, of course). Let me know when it is done.

[code]

[2019-09-02 06:54] wolski commented on #337
Hello @melvidoni

This is a "presubmission inquiry".
I would expect to find an answer to question:
Not sure your software fits?

in your reply.

See also this link if you are not sure what I mean.
https://github.com/ropensci/software-review/issues/new/choose

Have a great day
Witek

[2019-09-02 08:13] melvidoni commented on #337
Thank you @wolski for bringing your package to rOpenSci. If this is a presubmission, then kindly add that to the title of the issue, as it is expected. I will discuss this package with the other editors.

[2019-09-02 11:33] zkamvar commented on #325
## Package Review

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly stating problems the software is designed t

[2019-09-02 23:08] fboehm commented on #307
Overall, I like this package and think that it is useful and well written. I make a few suggestions below that, I hope, may improve the user interface and ease of use. I also include the R code (and output) for the checks that I ran.

Being a new to the package, I tried to think about ways that a new user might guess incorrectly about function use. I encourage the authors to clarify error messages

[2019-09-03 10:50] #263 closed

[2019-09-03 15:47] geanders commented on #309
@nmonhait and @h21k : Just wanted to quickly check in and see your status on this review?

[2019-09-03 15:48] geanders commented on #281
@DillonHammill : There's no rush, but I just wanted to check in and see if you have a timeline for submitting revisions?

[2019-09-03 16:36] sckott commented on #325
thanks for your review @zkamvar !

[2019-09-03 17:36] annakrystalli commented on #234
Hi @GuangchuangYu. As there has been no activity on this issue for over a year I will be closing it. Let us know if you wish to resubmit in the future once it is ready.

[2019-09-03 17:36] #234 closed

[2019-09-03 19:48] yihanwu commented on #336
Hi @melvidoni,

Thanks for the review! I'll get the formal submission done shortly!

[2019-09-03 20:03] yihanwu opened #338 "baRcodeR Submission"
---

Submitting Author: Yihan Wu (@yihanwu) and Robert Colautti (@ColauttiLab)
Repository: [yihanwu/baRcodeR](https://github.com/yihanwu/baRcodeR)
Version submitted:0.1.4
Editor: @sckott
Reviewer 1: @raynamharris
Reviewer 2: @llrs
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories

[2019-09-03 20:38] DillonHammill commented on #281
Sorry I have not been in contact for a while @geanders. Given all the feedback I received from @lmweber and @jacobpwagner (and others) I have completely re-written the entire package. I found a number of bugs that were difficult to track down, so I have spent a lot of time modularizing and re-factoring a lot of the code. This was a lot of work but it was definitely worth it - I have added a number

[2019-09-03 20:39] jacobpwagner commented on #281
Sounds good. I'll keep an eye on this and be ready to review the reworked package as soon as it's ready.

[2019-09-03 20:55] geanders commented on #281
Thanks for the update, @DillonHammill ! That all sounds good to me.

[2019-09-03 21:12] melvidoni commented on #337
Hello @wolski. We have discussed your presubmission, but we found that your package is out of scope, as it doesn't fit completely on the categories we have for now. I do hope you can find another venue, as the package is interesting and useful. Thank you for submitting, and apologies for the original confusion due to the issue name.

[2019-09-03 21:12] #337 closed

[2019-09-03 23:54] monicagerber commented on #325
Hi @nfox29 and @sckott. I am nearly done with the review for the package but need until tomorrow to finish up. I got caught up with the Flickr API key. I realized that the issue was that the in the example in the README, the argument names should be `mindate_taken` and `maxdate_taken` instead of `mindate` and `maxdate`. The API key functionality works for me.

[2019-09-04 16:16] llrs opened #339 "presubmission: BaseSet"
Submitting Author: Lluís Revilla Sancho (@llrs)
Repository:   [llrs/BaseSet](https://github.com/llrs/BaseSet)

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropria

[2019-09-04 16:39] sckott commented on #325
thanks for the update

[2019-09-04 20:20] aurielfournier commented on #256
Hi @bmkramer

Is this your review - https://github.com/embruna/refsplitr/pull/70#issuecomment-527953368

or is there more coming still? @birderboone and I just don't want to get ahead of ourselves if you are still working on your review.

Thanks!

[2019-09-04 23:17] monicagerber commented on #325
## Package Review

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly stating problems the software is designed t

[2019-09-04 23:24] sckott commented on #330
@khondula plz and thanks, your review is due in a few days

[2019-09-04 23:25] sckott commented on #325
thanks very much for your review @monicagerber !

[2019-09-04 23:49] sckott commented on #338
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-09-05 00:23] SteveViss commented on #332
We would like to thank again both reviewers for their constructive comments. Below, we first highlight the major changes we made in the package before addressing all comments individually.

NB: currently Appveyor is failing because binary for `ggraph 2.0.0` are not available yet.

## Mangal database

Some of the comments made by one of the reviewer suggested changes to the database. We considered

[2019-09-05 00:53] noamross commented on #332
Thank you for your comprehensive response, @SteveViss! @thomasp85 and @arw36 please review and let us know if the changes and comments satisfy your concerns.

[2019-09-05 07:06] thomasp85 commented on #332
All my concerns have been addressed, but I will note (and urge a fix is made), that testing for the existence of `sf` should be done like:

[code]

instead of the current call to `installed.packages()`

[2019-09-05 07:38] nfox29 commented on #325
@monicagerber @zkamvar thank you both for your reviews, they are extremely helpful. Apologises for the errors in the examples that was an oversight on my behalf. I will now work through your suggested changes and will reply once I have finished. Kindest regards, Nathan.

[2019-09-05 10:37] mpadge commented on #330
Thanks @potterzot for the very productive and helpful review, for which I now offer the following responses, quoting your review comments throughout as appropriate. But first:

## need for mapbox API token

The previous inability to use one of the main functions was caused by my hard-coding an API token as environmental variable, as [described above](https://github.com/ropensci/software-review/iss

[2019-09-05 12:04] selcenari opened #340 "presubmission : ceRNAnetsim-Competing Endogeneous RNA Network Simulator"
Submitting Author: Selcen Ari (@selcenari)
Repository:   selcenari/ceRNAnetsim

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

	- [ ] data ret

[2019-09-05 18:39] arw36 commented on #332
Thanks for all the edits, all my concerns were covered. I particularly like the new summary feature and agree that with different metric algorithms this was the most practical solution.

Just a note about my confusion of the date dataset 1. I retrieved that date range by going back to the original reference material ([roberson_1929](https://www.biodiversitylibrary.org/bibliography/11538#/summary))

[2019-09-05 18:43] benmarwick commented on #333
## Package Review

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly stating problems the software is designed to solve and its target audience in README
- [x] **Installation instructions:** for the development version o

[2019-09-05 22:29] melvidoni commented on #339
Hello @llrs, and thanks for submitting your enquiry!

We discussed this with the editors, and found this to be an edge case in _data munging_, but we lean towards accepting. Quoting the policy: _"This area does not include broad data manipulations tools such as reshape2 or tidyr, but rather tools for handling data in specific scientific formats"_. Considering this, where do you think it falls?

Pl

[2019-09-05 23:16] mkearney commented on #302
@sckott:

First, thanks to @briatte and @andrewheiss for taking the time to review rtweet and providing such great feedback!

Second, please see my detailed reply to each reviewer below. This revision process has so far resulted in a lot of changes to rtweet–many of which were quite difficult😅–but I am quite certain the package is much better for it.

Thank,

-Mike

## @briatte

* [x] Added @briat

[2019-09-06 16:03] llrs commented on #339
I think it fails under the policy of "_Packages for processing data from formats above_". But there isn't a consensus on which is the format for storing this kind of data that could be parsed/retrieved, so I just implemented several forms of processing the data.

[2019-09-06 18:23] khondula commented on #330
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-09-06 18:29] sckott commented on #330
thanks so much @khondula for your review! 🙏

@mpadge all reviews are in now ...

[2019-09-06 18:37] sckott commented on #302
thx for your responses to reviews @mkearney

any feedback/thoughts on the comments reviewers ? (@briatte @andrewheiss )

[2019-09-06 18:55] andrewheiss commented on #302
Other than a duplicate "Premium 30 day" row in the big comparison table, this addresses all my concerns and I think it's good to go ✅

[2019-09-06 20:40] eebrown commented on #307
Dear @chasemc and @fboehm, thank you both very much for your thorough and helpful reviews. I will address your suggestions in an update to the package. Unfortunately the timing has not worked out well and I will be out of office for approx. 2 weeks, but plan to update the package quickly upon my return. Warm regards, Eric

[2019-09-06 22:56] stefaniebutland commented on #302
@mkearney since you're keen on contributing a blog post once the review process is complete 🙂 ...
This tag gets you (diverse) examples of blog posts by authors of peer-reviewed packages: https://ropensci.org/tags/software-peer-review/.

Here are some technical and editorial guidelines: https://github.com/ropensci/roweb2#contributing-a-blog-post. Publication date is flexible. I like to get a draft

[2019-09-07 02:04] sckott opened #341 "submission: parzer"
Submitting Author: Scott Chamberlain (@sckott)
Repository:  https://github.com/ropenscilabs/parzer
Version submitted:  `v0.0.4.9110`
Editor: @anadiedrichs
Reviewer 1:  @mvickm
Reviewer 2: @brunj7
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](ht

[2019-09-08 15:20] noamross commented on #332
Thank you @SteveViss et al, @thomasp85 and @arw36, for an excellent review proccess! **rmangal is approved**.  🎉

To-dos:

- [ ] Add the review badge to your  README:
[code]

- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do and you can add any team memb

[2019-09-08 21:18] melvidoni commented on #339
That is great @llrs, thanks for the clarification. Go ahead and make a full submission then!

[2019-09-08 21:18] #339 closed

[2019-09-09 14:29] florianm commented on #335
Update: issues tackled, write-up coming tomorrow.

[2019-09-09 15:12] ercrema commented on #333
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-09-09 15:44] stefaniebutland commented on #332
Congratulations on approval @SteveViss!
Given Noam's 👍🏼 for a blog post, here's some further information. Happy to answer any questions.

This tag gets you (diverse) examples of blog posts by authors of peer-reviewed packages: https://ropensci.org/tags/software-peer-review/.

Here are some technical and editorial guidelines: https://github.com/ropensci/roweb2#contributing-a-blog-post. Publication

[2019-09-09 16:16] maelle commented on #335
Awesome, looking forward to it!

[2019-09-09 20:10] SteveViss commented on #332
We're grateful to the @ropensci team for this fantastic and constructive experience. Thank you @noamross, @thomasp85 & @arw36. We are doing the final checklist.

@arw36, we fully agree with your last comment. On the short term, we are tracking all data issues in https://github.com/mangal-wg/mangal-api/issues. Github is well suited for developers but not for all network ecologists. So on the long t

[2019-09-09 20:51] stefaniebutland commented on #332
Do you prefer Tues Oct 15 or Tues Oct 22 blog publication date? (I saw pre-conf and main-conf dates). Once your pull request is submitted, I can give you a link to the post for your poster :-)

We can also coordinate this if you like: If you tweet to invite folks to your poster #, rOpenSci can quote tweet with a link to your post for more info and to bring more attention to your poster.

[2019-09-09 21:07] SteveViss commented on #332
Tues Oct 22 for the main conf. So our deadline should be Tue Oct 15, right? Let me know if you need more time.

It will be great. Thank @stefaniebutland !

[2019-09-09 21:20] melvidoni commented on #333
Reviews are in @nevrome, so we will await for your reply/changes/actions.

[2019-09-09 21:44] stefaniebutland commented on #332
Correct!

[2019-09-09 22:01] melvidoni commented on #341
Due to conflicts of interest, I am in the search for an external editor that can take up on this one. Please, be patient with me.

[2019-09-09 22:18] sckott commented on #341
thanks!

[2019-09-10 04:56] florianm commented on #335
Hi @maelle, thanks for the editor comments and further questions. I'll address them all below.

## Editor comments

* Issues grouped into milestones [ROpenSci](https://github.com/dbca-wa/ruODK/milestone/3) (all addressed apart from publication) and [ODK Central Release 1.0](https://github.com/dbca-wa/ruODK/milestone/2) which is a collection of ideas rather than bugs or missing features.

* https:/

[2019-09-10 05:46] maelle commented on #335
Thanks a lot @florianm! I'll look for reviewers now. Note that once reviewers are recruited, we give them 3 weeks to complete their review, then there's time for your changes, then for their final response (and a continuing discussion) so I think your package will not be approved before the mentioned meetings, however you already get to display an rOpenSci "in review" badge, orange for now:

`[![]

[2019-09-10 06:36] maelle commented on #335
@florianm A further request actually, sorry, I had not googled "Open Data Kit R" before now because of the existence of the pre-submission inquiry. Doing so I found [`odkr`](https://github.com/validmeasures/odkr), could you please compare the functionalities of your and that package? Feel free to also include the other packages that are somehow related to ODK. An ideal comparison would include pro

[2019-09-10 07:38] maelle commented on #256
@bmkramer is the useful comment mentioned by @aurielfournier above your response to the changes in the package? If so could you please copy-paste it here? Thanks in advance and already many thanks for that comment!

[2019-09-10 07:55] bmkramer commented on #256
Ah, yes, apologies for dropping off the face of the earth for a few days - and for somehow misplacing that comment. Copy-pasting below!

As indicated, I looked at the package from a user perspective. Hope this complement the more structural/technical comments from @njahn82!

------------------------------

Hi all,

Wow, following this process has shown me a lot about the large effort that goes int

[2019-09-10 09:19] annakrystalli commented on #335
Sorry about this mixup both. This was totally my omission. Should have done a better job at the presubmission stage.

[2019-09-10 09:31] maelle commented on #335
Nope, my omission too!

[2019-09-10 10:09] florianm commented on #335
Fixed :-)
Great time to search and review again - two more packages (cbs) joined the fun since I last googled. Comparison added to bottom of README.
TLDR: ruODK is the only R package targeted specifically at ODK Central, without any other heavy-weight dependencies, and the only one (need to re-check) that works with ODK Central's OData dialect.
Which other criteria could I add?

[2019-09-10 13:26] maelle commented on #335
Wow awesome work, thank you! I can't think of other criteria right now. I'll now look for reviewers!

[2019-09-10 15:57] sckott commented on #338
reviewers are now assigned: @raynamharris & @llrs

[2019-09-10 16:02] sckott commented on #335
i've written a section in the http testing book trying to help folks think through when to use webmockr vs. vcr vs. fakes vs. real requests https://ropenscilabs.github.io/http-testing-book/testing-considerations.html

[2019-09-10 18:15] annakrystalli commented on #327
OK great and apologies for massive delay! Been pretty snowed under since I got back and still catching up. I've now been able to complete editors checks and installation worked fine with the new setup.

So, firstly and most importantly, I'd recommend that all your installs happen from the `master` branch and that this is always stable. Use your dev branch for the more experimental / development st

[2019-09-10 18:18] yihanwu commented on #338
Great! Thanks @sckott

[2019-09-10 20:39] raynamharris commented on #338
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-09-10 20:48] potterzot commented on #298
@stefaniebutland I would be happy to do a blog post, probably realistically not possible until October. I think I could do a longer article discussing why I started developing the package and how it's been helpful in my research and what I've learned in the process, if that seems like a good fit. Happy to do a shorter one as well.

[2019-09-10 20:49] sckott commented on #338
thanks so much for your review @raynamharris !

[2019-09-10 20:59] nevrome commented on #333
Thank you for your time and valuable feedback, @benmarwick and @ercrema! And of course thank you for the organisation so far, @melvidoni. I spoke with @dirkseidensticker and we decided to answer your requests in the following way:

@benmarwick
1. This unusual raw data download setup was established on purpose to be able to react fast in case of changes in the location (url) or content (new country

[2019-09-10 21:07] stefaniebutland commented on #298
@potterzot Sounds good! Please submit a draft when you're ready and we can select a publication date at that time.

If you include a "cool" example (that's not shown elsewhere) this is especially valuable as a way for readers to see how they might use the package.

Always good to share this. Try to choose a couple of key points.

Thanks!

[2019-09-10 21:47] yihanwu commented on #338
Thank you for the review @raynamharris!

[2019-09-11 00:23] florianm commented on #335
@sckott cheers, I'll read those again to figure out whether/how I can prevent testing against possibly outdated API responses in case ODK Central changes.

[2019-09-11 01:04] florianm commented on #335
The ODK Central API will change, and could bring breaking changes, until ca release 1.0. Therefore I want tests to run against the real deal (the test server is ODK's own public sandbox, which is always latest master), so that ruODK has to keep up with ODK Central.

The one thing making my tests slow is repeated download of a ca 50MB zip file, both for testing the insides (which requires some form

[2019-09-11 09:59] Robinlovelace commented on #295
Any updates on this? Keen to move forward on this and will be interested to hear what the second reviewer thinks. Thanks @geanders for shepherding us through the process.

[2019-09-11 14:57] ercrema commented on #333
1. Yes precisely.
2. Great!
3. Yes indeed - Of course rcarbon and Oxcal might have got this wrong, but I think the calibration curve is reporting errors in sigma and not sigma^2
4. Great - and they all work fine.
5. Looks great!

[2019-09-11 16:56] sckott commented on #335
makes sense

I don't think the large size of the cassettes (cached http responses) affects r check, e.g., the cassettes directory in this package https://github.com/ropensci/rgbif/ is 32 MB, but running check on it throws no notes/warnings/etc - But i could be wrong -

if size of cassettes is a concern, one option is to skip tests on CRAN for which cassettes are too large to include in the pkg, an

[2019-09-11 20:42] MKLau commented on #327
Hi @annakrystalli, no worries! Hope you had a relaxing/restorative holiday.

- **dev and master branch usage**: I had stopped moving master forward as so many changes were happening due to the ROpenSci and JOSS review. Travis is currently running checks on the following updates (see following items). I'll merge into master after those checks pass. However, CRAN will now be behind master. *Do you r

[2019-09-11 22:58] MKLau commented on #327
@annakrystalli  FYI - master is now up to date with dev (now v1.1.0). CRAN is still v1.0.0.

[2019-09-12 01:37] florianm commented on #335
@sckott that sounds good - I'll try out vcr as soon as I have time!

[2019-09-14 09:09] florianm commented on #335
Absolutely! The Rmd templates are only additional nice-to-haves, and mentioning the Pentaho Kettle tutorial will only impact the README.

[2019-09-15 21:10] melvidoni commented on #333
Approved! Thanks @nevrome  for submitting and @ercrema and @benmarwick for your reviews!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer to the bottom of your README
"```
[![ropensci_footer](https://ropensci.org/

[2019-09-16 08:18] nevrome commented on #333
Thanks for these instructions, @melvidoni.

I was not fully aware that the package is intended to be hosted at the "ropenci" github organization at the end of the review. I would rather not do that. c14bazAAR is currently placed at the [ISAAKiel](https://github.com/ISAAKiel) github organization and I would prefer not to move it. ISAAK is a brand with recognition value in the field of computational

[2019-09-16 09:15] benmarwick commented on #333
If I could suggest one possible option for the best of both worlds: use multiple remotes. Would you consider to mirror the pkg on rOpenSci, and keep the official repo on ISAAK? Clemens can then simultaneously push to both remotes to easily keep them in sync.

[2019-09-16 18:31] geanders commented on #295
@mem48 and @Robinlovelace : So sorry for the delay. I am checking in again with the second reviewer offline to make sure she can still provide the review. If we do not get a review from that reviewer, I'll check in with the other editors to see what the best path would be for getting you timely feedback to move on.

[2019-09-16 20:27] leonawicz opened #342 "submission: eia"
Submitting Author: Matthew Leonawicz (@leonawicz)
Repository:   https://github.com/leonawicz/eia
Version submitted:   0.3.3
Editor: @melvidoni
Reviewer 1: @daranzolin
Reviewer 2: @ottlngr
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ro

[2019-09-17 03:03] florianm commented on #335
@maelle @karissawhiting also soliciting feedback from the ODK community in the ODK Forum [here](https://forum.opendatakit.org/t/seeking-your-feedback-ruodk/22160).

[2019-09-17 21:22] shreeramsenthi commented on #326
Hi @lmullen, have there been any updates on finding potential reviewers? Thanks!

[2019-09-17 21:23] lmullen commented on #326
@shreeramsenthi Yes, we are working on it. Please pardon the delay.

[2019-09-18 00:22] melvidoni commented on #342
### Editor checks:

- [X] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [X] **License:** The package has a CRAN or OSI accepted license
- [X] **Repository:** The repository link resolves correctly

---

#### Editor comments

Hello @leonawicz, th

[2019-09-18 00:34] florianm commented on #335
Quick note on failing check: My vignette "api" fails to build on 2 out of 3 envs. Methinks the file attachments on ODK Central's sandbox might have suffered damage. This is a good moment to switch over to a similar but newer example form, and populate that form with submissions with smaller file attachments (set the data collection device camera to take 640px photos).

TLDR https://github.com/dbca

[2019-09-18 18:31] leonawicz commented on #342
Hi @melvidoni Thank you for considering this submission. I have addressed your requested changes, details below, along with a couple questions.

* `Date` field now omitted from `DESCRIPTION`.
* References like `1:nrow` now replaced.
* Lines greater than 80 characters fixed an re-linted.
* Almost all uses of `sapply` switched to `vapply`. There are two cases remaining where this does not work well.

[2019-09-18 18:45] shreeramsenthi commented on #326
@lmullen No problem at all. Thanks for the update!

[2019-09-18 21:01] melvidoni commented on #333
Hello @nevrome . We are discussing this with the editors. Please bear with me while we try to reach a consensus on what to do.

[2019-09-18 21:45] melvidoni commented on #342
Hello @leonawicz, thanks for taking care of this.

Don't worry about the remaining `sapply`, as long as it is tested and controlled. `goodpractices::gp()` now gave me:

[code]

So I'm going to start searching for reviewers!

[2019-09-19 06:24] maelle commented on #335
Second reviewer recruited, thanks @jmt2080ad! :tada:  [Reviewer guide](https://devguide.ropensci.org/reviewerguide.html)

@florianm can you point both reviewers to instructions for testing to keep things smooth? Thanks!

[2019-09-19 06:24] maelle commented on #335
Reviews are due on 2019-10-10 :smile_cat:

[2019-09-19 06:39] maelle commented on #256
Thanks a lot @bmkramer!

@aurielfournier @birderboone any ETA on your answer? Thanks!

[2019-09-19 08:15] florianm commented on #335
@maelle thanks heaps!
@karissawhiting @jmt2080ad could you dm me your email addresses on https://discuss.ropensci.org/ ?

[2019-09-20 11:58] llrs commented on #338
Sorry for the delay. I plan to submit mine in a week or so. I already have most of it written but I want to check more the worflow.

[2019-09-20 22:28] melvidoni commented on #342
Hello @leonawicz. The first reviewer is @daranzolin. I will establish a deadline for the review as soon as I get a second reviewer in.

[2019-09-20 23:09] melvidoni commented on #341
Hello @sckott! @anadiedrichs will be your editor! Good luck to both of you, and thanks @anadiedrichs for taking up this package review.

[2019-09-22 14:15] pat-s commented on #305
Hi all,

since @krlmlr seems to be very busy right now, I'll take on replying to the reviewers comments.

All steps that are being called by `use_tic` are outlined in the help page.
We could add more information on which of these steps trigger the browser windows. The function is already quite verbose and asks you before each step.
Certain tasks require opening browser windows. Would it help if we

[2019-09-22 14:46] pat-s commented on #305
# Review from @maxheld83

Yes, they are already a layer on top of the CI system. However, these just install a basic toolchain for the respective language. Then again there needs to be a community-driven effort of maintaining that structure which is in fact [open-source](https://github.com/travis-ci/travis-build/blob/master/lib/travis/build/script/r.rb) but somewhat hidden and hard to understand f

[2019-09-22 14:54] pat-s commented on #305
@annakrystalli

I know it's been quite some time now but: Are there still open points for discussion from your review? Reading the comments history, I see that @krlmlr has already addressed your review in https://github.com/ropensci/software-review/issues/305#issuecomment-498207401.

As most of the comments from the other two reviews were on the meta site and somewhat hard to address/subjective, I

[2019-09-22 22:14] anadiedrichs commented on #341
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-09-23 06:35] florianm commented on #335
@karissawhiting @jmt2080ad @maelle
Update, have added lifecycle badges to all functions. The resulting NOTE is a bug upstream of the lifecycle package, see https://github.com/r-lib/lifecycle/issues/22. I've added an explanation to my `cran-comments.md`.

Karissa, Jason, feel free to contact me for test credentials on the ROpenSci slack when you're ready to commence the review. Your involvement is

[2019-09-23 08:24] annakrystalli commented on #305
Hello @pat-s ! Great to hear from you, thanks for picking this up and for the detailed comments.

I'll allow @ldecicco-USGS & @maxheld83 to respond to them first. If they are both happy then the package will be accepted when the last points have been address. In general, it all sounds sensible to me but I'll defer to the reviewers for now.

[2019-09-23 08:48] annakrystalli commented on #282
Hey @DomBennett ,

This is great work!

@nuest or @hrbrmstr do you perhaps have time to comment on some of the changes made?
I'm happy to do the final checks on all three packages when all the minor fixes still pending are addressed, but your higher-level input at this point on the decisions being made could be really useful.

@DomBennett , should we decide on the minor tasks that need completing

[2019-09-23 14:24] aurielfournier commented on #256
Hi @maelle,

Another member of our package building team, @embruna is working on them right now. He hopes to have all the edits completed by the end of the month. Thanks!

[2019-09-23 14:39] embruna commented on #256
Hi all, I’m on it and hope to be done by wed or thursday.

Emilio
——————
Emilio M Bruna
University of Florida
www.BrunaLab.org<http://www.BrunaLab.org>

On Sep 19, 2019, at 2:39 AM, Maëlle Salmon <notifications@github.com<mailto:notifications@github.com>> wrote:

EXTERNAL EMAIL: Exercise caution with links and attachments.

Thanks a lot @bmkramer<https://urldefense.proofpoint.com/v2/url?u=https-3A

[2019-09-23 14:53] maxheld83 commented on #305
I'm happy! Thanks so much @pat-s for the thorough responses to my review, which I hope was helpful for the authors as well. Amazing work.

[2019-09-23 15:03] ldecicco-USGS commented on #305
Sounds great, I fully 👍 this package. Look for a feature request Github issue as I'm currently knee-deep in converting all my Travis jobs to .gitlab-ci.yml.... 😿

[2019-09-23 15:21] annakrystalli commented on #305
Excellent! Thank you both! And sorry to hear that enforced migration is upon you @ldecicco-USGS.

So, as far as I'm concerned, please go ahead and make the last few changes you proposed @pat-s. When you're done, ping me here and I'll walk you through the last approval stages.

Thanks everyone! 👏

[2019-09-23 15:38] embruna commented on #256
Hi @bmkramer, would you mind sending me a link to the WOS files that threw those errors (or the files themselves) so I can try and figure out what is going on? My email address is in my github profile.  Thanks!

EB

[2019-09-23 17:03] raynamharris commented on #338
I was looking over the [rOpenSci peer review guidelines](https://devguide.ropensci.org/reviewerguide.html) today (because they are so good and I wanted to use this as a guide for a different peer review that I'm working on), and I came across this bullet point "If you have your own relevant data/problem, work through it with the package. You may find rough edges and use-cases the author didn’t thi

[2019-09-23 17:56] sckott commented on #338
@yihanwu question when you get a chance ^

[2019-09-23 18:07] nmonhait commented on #309
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-09-23 18:49] yihanwu commented on #338
Hi @raynamharris,

It is possible to add a suffix string with the hierarchical labels.

For example, we can do,

[code]

and the resulting data frame would look like:

||label|animal|tissue|
|---|---|---|---|
|1|animal01-tissue01hyp|animal01|tissue01|
|2|animal01-tissue02pit|animal01|tissue02|
|3|animal01-tissue03gon|animal01|tissue03|
|4|animal02-tissue01hyp|animal02|tissue01|
|5|animal02-tissue0

[2019-09-23 19:13] annakrystalli commented on #327
We have reviewers! 🥳

Many thanks again for agreeing to review @wlandau and @nevrome. See below for review data. Any questions, just reach out.

---

Reviewers: @wlandau @nevrome
Due date: 2019-10-21

[2019-09-23 21:10] melvidoni commented on #341
Hey @anadiedrichs the % of test is relative to the package, but 93% is great in my personal opinion. Yes, you can start looking for reviewers!

[2019-09-23 22:17] raynamharris commented on #338
awesome! that's exactly what I was thinking of. thanks for clarifying!

[2019-09-23 23:02] stefaniebutland commented on #333
Hi @nevrome. I'm rOpenSci's Community Manager. Once the archiving issue is resolved, would you be interested in writing a blog post about some aspect of c14bazAAR? To the best of my knowledge, this is the first Archaeology-focused package to go through rOpenSci software peer review so a post would garner some attention. @benmarwick said he'd be happy to contribute if you feel that's appropriate.

[2019-09-24 03:53] florianm commented on #335
Update, just pushed a minor clean-up following advice from Jenny B on the ROpenSci slack. Removed some now obsolete helpers (map_chr_hack and friends), rebuilt docs.

[2019-09-24 09:31] nevrome commented on #333
@stefaniebutland Ja - absolutely! That's a great idea and I would love to do that.

I'm sure you have some ideas, which aspects of c14bazAAR might be the most interesting for this purpose @benmarwick. I have some as well. Let's discuss this, when the archiving is sorted out.

[2019-09-24 14:26] bmkramer commented on #256
Hi @embruna, you've got mail :-)

[2019-09-25 01:48] anadiedrichs commented on #341
@sckott: have you already fixed the DESCRIPTION file ?

[2019-09-25 03:58] tyluRp commented on #309
@nmonhait Thanks a bunch for all the feedback! I will start working on the things you have mentioned. I am curious about the LaTeX errors. If possible, could you elaborate? I do recall adding `exo_summary` recently and one of the attributes has a >= sign in unicode, this has since been removed but maybe there are some lurking around.

- [x] Add CONTRIBUTING.md
- [x] Add CODE_OF_CONDUCT.md
- [x] Ad

[2019-09-25 09:44] mpadge commented on #330
So @khondula very kindly sent me all of the maps mentioned above. All of them were complete breaking cases, and addressing them has helped enormously to make the package much more robust. Lots of the internal mechanisms have been completely reconceived. The package now makes an initial guess at number of items to be extracted, then estimates a signal-to-noise threshold to optimally identify those

[2019-09-25 09:56] florianm commented on #335
@karissawhiting @jmt2080ad @maelle apologies for the impending code churn - I found a way to make ruODK way easier to drive: odata_submission_parse() now automatically parses the raw submission data into tibbles, parses dates, and downloads attachments. This will make the "OData" vignette a bit more concise and address https://github.com/dbca-wa/ruODK/issues/6

[2019-09-25 10:19] nevrome commented on #327
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-09-25 14:16] sckott commented on #341
@anadiedrichs i think it's okay,. correct me if im wrong, but i think that warning is okay b/c you didn't have that package (randgeo) installed on your machine, if you install that pkg and try again that warning should go away

[2019-09-25 15:02] geanders commented on #309
Thank you so much for your review, @nmonhait! @h21k, do you have an update on when you would be able to add your review?

@tyluRp : Regarding your Windows question, I'm using a Mac, so I can't check. Perhaps @nmonhait or @h21k is using Windows and could check. Also, have you tried out the package through http://win-builder.r-project.org/? I'm not sure if that's going to provide more details for yo

[2019-09-25 17:56] annakrystalli commented on #327
Thanks for your speedy response @nevrome!

 @Mklau, it's probably best to wait till both reviews are in and then respond.

[2019-09-25 20:50] eebrown commented on #307
Dear @chasemc - thanks again for your helpful and thorough review. I've addressed your comments below:

Thanks - I've added contributing guidelines and templates with rOpenSci’s use_ro_github() - https://github.com/eebrown/chlorpromazineR/commit/db1fa2b090140a150c04f325fd83f348741488c4

Good point. I've removed license text from README.md. https://github.com/eebrown/chlorpromazineR/commit/8d2f9c52

[2019-09-25 21:16] eebrown commented on #307
Dear @fboehm,

Thanks very much for your review. Please find my responses below:

Thanks 👍

I believe this has been addressed with the new `check_params()` function. https://github.com/eebrown/chlorpromazineR/commit/da2ced87d452787b76c608147c30ca444146181c https://github.com/eebrown/chlorpromazineR/commit/64b9b89f21bc936096d08a64195cfbe99cb43c52

I've added a statement to the README. The target au

[2019-09-26 00:34] tyluRp commented on #309
@geanders Thanks for the advice. I've just tried this out on a windows machine and I am getting the same error:

[code]

I will use the `devtools` functions to see if this provides any additional information.

[2019-09-26 14:18] fboehm commented on #307
Thanks, @eebrown. I was mistaken about the creator/maintainer being unlisted. Thanks for the correction. I'm still concerned about the variable naming conventions that you use. Maybe it's just my preference that the variables be informatively named, but I especially dislike the use of "x" as a variable name. As a new user, "x" doesn't tell me what the input needs to be. If you prefer to maintain t

[2019-09-26 14:51] chasemc commented on #307
Looks good on my comments @eebrown, I've accepted your corrections and recommend approving.

@fboehm, I tend to agree on your comments about `x` and `q`.  However, in the case of `q` I think the target users will understand, as it's a common term when dealing with medications. That being said, and while not incorrect to do, I tend to avoid `q` because it is a base function: `base::q()`.

[2019-09-26 17:31] MKLau commented on #327
@annakrystalli, that’s what I was planning.

Double thanks @nevrome!

[2019-09-26 19:43] yihanwu commented on #338
On the todo list it goes!

[2019-09-26 19:51] eebrown commented on #307
Thanks @fboehm and @chasemc. I've changed the `x` argument to `input_data`. I've changed the `q` argument to `q_label` to avoid interference with `base::q()` and for symmetry with the other arguments that refer to column names in the input data.frame. I've updated the documentation, vignettes and tests accordingly as well.

[2019-09-27 17:42] fboehm commented on #307
Thanks, @eebrown. I have updated my review checklist to indicate approval recommendation.

[2019-09-27 18:48] sckott commented on #338
@llrs reminder that your review is due next Tuesday, thanks!

[2019-09-27 20:03] wlandau commented on #327
## Package Review

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly stating problems the software is designed t

[2019-09-27 20:14] karthik commented on #307
Congrats @eebrown., your submission has been approved! 🎉 Thank you for submitting and @chasemc and @fboehm for thorough and timely reviews. To-dos:

- [ ] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.

- [ ] Add the rOpenSci footer to the bottom of your README

[code]
-

[2019-09-27 20:18] MKLau commented on #327
@wlandau thanks so much for a speedy review as well!

Thanks to everyone for helping to improve and push this project forward.

[2019-09-27 20:51] annakrystalli commented on #327
Thanks indeed @wlandau! 🎉

Lot's of useful and insightful comments in both reviews so over to you now @MKLau 😊

[2019-09-28 15:26] llrs commented on #338
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-09-28 16:10] tyluRp commented on #309
Wanted to provide an update for any Windows users. I filed an issue for the `curl::curl_fetch_memory` error here https://github.com/jeroen/curl/issues/206. Some interesting responses.

I've decided to add two utility functions to the package for handling requests differently depending on the operating system (windows, or anything else), you can see the additions here https://github.com/tyluRp/exop

[2019-09-28 19:05] sckott commented on #338
thanks very much @llrs !

@yihanwu all reviews are now in.

[2019-09-28 19:54] sckott commented on #326
@shreeramsenthi been helping out trying to find reviewers, no luck yet. Do any of the workloopR authors have suggestions for reviewers?

[2019-09-30 01:25] sharlagelfand opened #343 "presubmission: opendatatoronto"
Submitting Author: Sharla Gelfand (@sharlagelfand)
Repository:  https://github.com/sharlagelfand/opendatatoronto/

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appro

[2019-09-30 08:04] melvidoni commented on #343
Thanks for your submission! Editors will discuss this, and  I'll come back with an answer soon.

[2019-09-30 09:13] alperyilmaz commented on #340
Hi @melvidoni , we were wondering if our presubmission is overlooked. Is there anything we should do while waiting?

[2019-09-30 17:22] karinorman opened #344 "submission: taxadb"
Submitting Author: Kari Norman (@karinorman)
Repository:   https://github.com/cboettig/taxadb
Version submitted:   v1.0.0
Editor: @ldecicco-USGS (Guest Editor)
Reviewer 1: @mcsiple
Reviewer 2: @lindsayplatt
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit p

[2019-09-30 18:04] yihanwu commented on #338
Thank you @llrs for the in-depth review!

I'll have a point to point review posted after I make the changes suggested by @llrs and @raynamharris

[2019-09-30 21:36] melvidoni commented on #340
Hello @alperyilmaz sorry about that! I apparently missed up on replying to you. My sincere apologies.

With have discussed this with the editors and think this is a challenging/borderline submission. We are going to have a third party help us with this (we need a bioinformatic person). Please, bear with me for a couple days while we get the feedback.

[2019-09-30 23:17] sckott commented on #326
reviewers are @eebrown and @jromanowska - due date 2019-10-21

[2019-10-01 00:17] vbaliga commented on #326
@sckott and @lmullen thank you!

[2019-10-01 21:26] eebrown commented on #307
* [x]  Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
* [x]  Add the rOpenSci footer to the bottom of your README
* [x]  Fix any links in badges for CI and coverage to point to the ropensci URL. (We'll turn on the services on our end as needed)

Thanks!

[2019-10-01 21:39] melvidoni commented on #343
Hello @sharlagelfand, and thanks again for the submission. We have discussed this with the editors, but ultimately agreed it is _out of scope_, as it is more of a government data camp, rather than providing tools for scientific data. Nonetheless, I wish you the best and I'm sure you'll find a venue for your package.

[2019-10-01 21:39] #343 closed

[2019-10-01 21:44] melvidoni commented on #342
Just a heads up to both @leonawicz and @daranzolin. I am having issues finding a second reviewer. Please bear with me while I email more people.

[2019-10-02 13:26] embruna commented on #256
Hello all, a description of our changes in response to @bmkramer's excellent and thorough feedback.

Clarivate added a new field - Consortium Author (CA) - which is used when a paper is written by (or has as a coauthor) a research consortium or group.  In cases where there are no individuals named as authors - only the consortium author - there will be NAs in the AU and AF fields; this was the rea

[2019-10-02 14:24] geanders commented on #295
@mem48 and @Robinlovelace : I am having problems hearing back from one of the assigned reviewers on this. So that we can keep it moving, I will do the second review for this. I will have that up this week. Again, my apologies for the delays.

[2019-10-02 14:46] anadiedrichs commented on #341
Hi @sckott, you are right. Consider checking your DESCRIPTION file in case you plan later to submit to CRAN to avoid problems with this issue.
I'm still seeking reviewers.

[2019-10-02 16:37] sckott commented on #325
thanks very much for your response @nfox29

reviewers, @monicagerber and @zkamvar - are you happy with the maintainers response? Any other questions/suggestions?

[2019-10-02 17:38] stefaniebutland commented on #307
Hi @eebrown. Did you tag me because you wanted to contribute a tech note, or was that a coincidence of copied text :-)

[2019-10-02 19:41] SD1060 opened #345 "presubmission: SDesti"
Submitting Author: Diogo Sayanda (@SD1060)
Repository:   https://github.com/SD1060/SDesti

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

	- [

[2019-10-02 21:09] melvidoni commented on #340
Hello again @alperyilmaz! After discussing with invited third party, we consider this as out of scope, mostly because it is not 100% data munging, and because its being mainly about something out-of-scope. Apologies again for keeping you waiting, occasionally, those things happen.

[2019-10-02 21:09] #340 closed

[2019-10-02 22:58] melvidoni commented on #345
Hello @SD1060, could you provide a link to the original repo?

[2019-10-03 15:08] SD1060 commented on #345
I haven't uploaded the package to any repository yet... Is that what you are asking? I'm sorry I'm new to this...

[2019-10-03 15:21] SD1060 commented on #345
Sorry, I'm not familiar with gitHub, I've just created it https://github.com/SD1060/SDesti.git

[2019-10-03 17:37] eebrown commented on #307
Hi @stefaniebutland... it was an accident, but I do plan to prepare a tech note for chlorpromazineR, likely after I finish reviewing another package. 👍

[2019-10-03 21:08] melvidoni commented on #344
Hello @karinorman, your editor will be @ldecicco-USGS, acting as a Guest Editor for rOpenSci.

[2019-10-03 21:10] melvidoni commented on #345
Thank you @SD1060, and don't worry! We are discussing it and I will come back with an answer soon.

[2019-10-03 21:38] melvidoni commented on #345
Hello @SD1060. Thanks for the repo link, but it still has no code inside of it. Based on the information you provided, it seems a like a methods / "methods workflow" package, which would be out of scope. We do hope the best for you, and that you can find an appropriate venue for it. Good luck!

[2019-10-03 21:38] #345 closed

[2019-10-04 14:43] anadiedrichs commented on #341
We have one confirmed reviewer, Maria Victoria Munafó @mvickm. She's a contributor to the water R package (https://CRAN.R-project.org/package=water) and an active R developer.

I am still looking for the second one.

[2019-10-04 16:27] SD1060 commented on #345
I have a question:
SDesti is a statistical analysis package, its objective is to facilitate the data analysis of two of the most widely used bio-indicators for the health of aquatic systems and grant consistency in the results and facilitate repetition the integration of data and results from different studies in decision making and management.
Would the above count as "reproducibility: Tools that

[2019-10-06 09:18] kamapu commented on #233
Uff! Time is not at my side. I'll give a try and come back to you.

[2019-10-06 20:16] melvidoni commented on #342
We got reviewers assigned, @leonawicz!

Thanks @ottlngr and @daranzolin for reviewing this package. You have until October 28th to submit the review through the GitHub issue.

[2019-10-06 20:18] melvidoni commented on #345
Hello @SD1060, as EiC I can take your argument to the rest of the editors, but we need the repo of your package to be completed with the code, if we want to reconsider this. Can you please do that, and let me know?

[2019-10-06 20:49] melvidoni commented on #345
Hello @SD1060. Our _reproducibility_ category actually refers to a few distinct subtopics and that we realise that it can sound like a catch-all, which is why we just updated the guide to separate these out for more clarity ([check here](https://devguide.ropensci.org/policies.html#aims-and-scope)).

There is also an upcoming blog post about that: https://github.com/ropensci/roweb2/pull/521/files

[2019-10-07 18:18] ldecicco-USGS commented on #344
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-10-08 12:01] jromanowska commented on #326
## Package Review

*Please check off boxes as applicable, and elaborate in the comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Do

[2019-10-08 16:39] stefaniebutland commented on #298
Hi @potterzot. I'm checking in to let you know I have a blog post slot open for Tues Oct 29 if you still wanted to do a long form post. A shorter tech note is quite appropriate and could be published any time, after my review.

[2019-10-08 22:10] eebrown commented on #326
## Package Review

- [X] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

There is no conflict, but I note a caveat that this field is outside of my domain and I am doing this review from a technical perspective, as I understand it was har

[2019-10-09 06:00] maelle commented on #256
Thanks @embruna! @bmkramer, are you happy with the response above?

[2019-10-09 06:04] maelle commented on #335
@jmt2080ad @karissawhiting 👋 Friendly reminder that your reviews are due tomorrow on 2019-10-10. 🙂

[2019-10-09 06:05] maelle commented on #279
👋 @aaronwolen! Any progress with the beta testing? 🙂

[2019-10-09 14:46] SD1060 commented on #345
My problem is that I want to publish my program in Methods in Ecology and Evolution, they strongly recommend to use rOpenSci to validate our code before submitting a paper... I got rejected by the editor most probably because I didn't get my code reviewed, is there any other platform where I can get my program reviewed?

[2019-10-09 15:50] ldecicco-USGS commented on #344
Alright @karinorman ! We have 2 reviewers @mcsiple and @lindsayplatt. Please try to submit the reviews through the GitHub issue by Oct. 28. Let me know if you have any questions on the review process.

[2019-10-09 16:23] stefaniebutland commented on #332
@SteveViss Checking in to confirm you'll submit a draft post on or before Tues Oct 15 for publication on 22nd. I'll have time to review it on Wed 16th.

On track?

[2019-10-09 16:24] sckott commented on #302
@briatte Are you happy with the changes made?

[2019-10-09 16:25] sckott commented on #325
reviewers, @monicagerber and @zkamvar - are you happy with the maintainers response? Any other questions/suggestions?

[2019-10-09 16:25] sckott commented on #330
@khondula can you respond to @mpadge ^^

[2019-10-09 16:42] eebrown commented on #307
@fboehm please let me know your ORCID so that I can add you as a reviewer in the DESCRIPTION file. @chasemc you are welcome to as well if you would like.
Thanks again,
Eric

[2019-10-09 18:14] fboehm commented on #307
Yes, of course, @eebrown. It's 0000-0002-1644-5931.

[2019-10-09 18:22] KevCaz commented on #332
@stefaniebutland I will be the one leading the blog post, we should be able to write something by Tuesday !

[2019-10-09 20:10] stefaniebutland commented on #332
Got it @KevCaz. Note that I'll be on vacation and mostly unavailable Fri Oct 18 - Mon Oct 21.

[2019-10-09 20:10] KevCaz commented on #332
Noted!

[2019-10-10 03:16] khondula commented on #330
Hi @mpadge, your updates seem to have worked! All cases were able to convert to spatial format, and the messages regarding `nitems` and `ms_rotate_map` were very helpful. I will close issue on package repo.

One new thing I noticed however is that with `type = "hulls"` (not what I intended but discovered because it's the default!), the output objects seem to be rotated 90 degrees - I think this mi

[2019-10-10 07:00] mpadge commented on #330
Thanks so much for checking @khondula - that's great news that it all works. And sorry about the rotation - it's something I only just discovered and am working on right now. I'd spent so much time on `type = "polygons"` that I had neglected to ensure `"hulls"` were also appropriately rotated. Should be fixed very soon ... I'll give a full response to your review asap

[2019-10-10 09:33] zkamvar commented on #325
I am happy with the response. I think @nfox29 did a thorough job addressing our comments and it has improved the package experience.

I only have a couple of suggestions/questions for the documentation/behavior of `photo_search()`:

1. It's not clear that the user is expected to have a file called `photosearcher_key.sysdata` in their working directory, nor that it will be explicitly written to the

[2019-10-10 16:20] sckott commented on #325
thanks @zkamvar !!

@monicagerber you happy or further comments?

[2019-10-10 21:04] aaronwolen commented on #279
You know what? You're never going to believe this... but I think it's ready for testing. 😮

So @cboettig and @HeidiSeibold, if you're still around after all this time, I'd love to get some feedback on the new upload/download implementations. In particular, it'd be great to know if the docs are clear and whether the new behavior of `osf_upload()`/`osf_download()` matches your expectations.

If you'

[2019-10-11 00:06] melvidoni commented on #345
Hello @SD1060.

We are not sure where MEE "strongly recommends to use rOpenSci," as the partnership only works for packages that fit into both scopes. However, they are increasingly using our standards in the review.  Our guess is that the editor suggested that you use our standards to bring his package up to snuff to be reviewed.

We suggest submitting to JOSS, but similar journals will want the

[2019-10-11 02:32] wlandau commented on #327
One clarification on a couple points I made:

Those functions are necessary to implement `clean()`, and I recommend keeping them internally. I only question the need for an `@export` tag because I suspect most users will not invoke these functions directly.

In fact (and this is not strictly necessary to satisfy my review) it could be helpful to split `clean()` up into multiple helper functions. T

[2019-10-11 06:38] HeidiSeibold commented on #279
Thanks @aaronwolen!

I am busy next 2 weeks, but might be able to fit a little testing the week after. Is that too late?

[2019-10-11 14:15] aaronwolen commented on #279
Not at all, @HeidiSeibold. I'd appreciate your feedback whenever you get a chance.

Since these changes enable osfr to handle (potentially) lots of files at once, I really want to  test them out as thoroughly as possible before opening them up to a wider audience.

[2019-10-11 18:07] MKLau commented on #327
Thanks for taking the time to clarify @wlandau. I get what you’re saying both about the structure of the API and the logic of the `clean` function. This review process has been great because it’s forcing me to hone the target user/application, which has meandered a bit in development. I think the inclination to make the spine and other functions internal is the way to go.

Also, thanks for the poi

[2019-10-13 17:27] karissawhiting commented on #335
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-10-13 17:53] maelle commented on #335
Thank you @karissawhiting for your in-depth review! 😸

[2019-10-14 18:54] florianm commented on #335
Thanks @karissawhiting for the review! I'll create issues from the review, and once all are closed, will summarise them here.

[2019-10-15 03:25] jmt2080ad commented on #335
# Package Review

 - [X] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

 - [X] **A statement of need** clearly stating problems the software is designed

[2019-10-15 06:35] maelle commented on #335
Thanks a ton for your review @jmt2080ad! And how fun [that you and @florianm met](https://twitter.com/fistful_of_bass/status/1183811515067043840?s=19)!

@florianm Now both reviews are in 😸

[2019-10-15 07:54] florianm commented on #335
Thanks @jmt2080ad - as we discussed during the beer review process, all of that makes wild sense, some typos and wrinkles to iron out, nothing breaking except to use canned data in vignettes.

re vignettes not building - will rewrite vignettes to 1. use canned data but also 2. show but not evaluate the real functions, as discussed with Jason. Might need some help from Scott tomorrow on that. (Grea

[2019-10-15 13:18] anadiedrichs commented on #341
We have another reviewer, Julien Brun @brunj7 (http://brunj7.github.io/about/)!! :-)

Thanks for your collaboration @mvickm  and @brunj7 to review this issue for rOpenSci.
You have a period of three weeks to review this package from  18th October to 8th November included.

Let me know any questions you have.

[2019-10-15 19:13] mkearney commented on #302
Any update on this?

[2019-10-15 22:37] florianm commented on #335
For the public record:  Both reviewers have given me permission to attribute them as "rev" in the DESCRIPTION through the ROpenSci Slack chat.

[2019-10-16 00:46] SteveViss commented on #332
Post submitted via pull request: https://github.com/ropensci/roweb2/pull/525

[2019-10-16 01:54] sckott commented on #302
@mkearney let's move on. I'll take a final look and get back to you ASAP

[2019-10-16 16:35] bmkramer commented on #256
Yes, I am, thanks @embruna!

[2019-10-17 11:09] maelle commented on #256
Thank you @bmkramer!

@embruna @aurielfournier @birderboone We're now closer to approval. :wink:

Some comments from me:

* I made a PR to remove the useless Maintainer field from the DESCRIPTION (the field is useless, not the maintainer :slightly_smiling_face: )
* The README could do with a bit more work to make it more attractive to potential users, which had been mentioned a bit earlier. In par

[2019-10-17 21:13] vbaliga commented on #326
@jromanowska and @eebrown  Thank you both very much for your reviews. @shreeramsenthi and I are now going to work on the issues you both raised. We'll likely do this in several stages and spaced across a few commits. We'll notify you via this thread when we think we have responded to all your feedback and if we have any follow-up questions. Thanks again!

[2019-10-17 21:23] sckott commented on #302
looks good, just a single comment: `^codemeta\.json$` should be in .Rbuildignore

Approved! Thanks @mkearney for submitting and @briatte @andrewheiss for your reviews!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci foo

[2019-10-18 00:38] njtierney commented on #341
Hi @anadiedrichs can I volunteer to help with this review as a third reviewer?

[2019-10-18 09:24] kamapu commented on #233
@maelle I managed to implement the test suite. At the moment `taxlist` has the requested 75% of code coverage. I'll try to improve it but I though, we can proceed with the submission process. I hope, this was the hardest part (everything was new for me).

[2019-10-18 17:40] karthik commented on #307
I'm closing this issue but feel free to continue the conversation around crediting reviewers with their ORCID. 🙏

[2019-10-18 17:40] #307 closed

[2019-10-18 18:27] karthik commented on #267
Adding to Jeroen's feedback, here is my review. Most comments are minor, and once I see a response, I can move quickly to get this accepted.

# Review of lightr package

The lightr package provides the ability to parse spectrometry data from different file formats and from multiple different scientific instruments. The alternatives are all proprietary software.

### General comments

- In the pack

[2019-10-18 18:36] maelle commented on #233
:wave: @kamapu! Great news! Congrats on adding the tests, I imagine it wasn't easy but you've learnt something very useful. :smile_cat:

### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a

[2019-10-18 22:31] daranzolin commented on #342
Hi all, review is below.

## Package Review

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly stating problems

[2019-10-19 09:23] Bisaloo commented on #267
Thank you for your comments @karthik :+1:! please see my changes below:

https://github.com/Bisaloo/lightr/commit/2beb31ea60f42ad2af8dcd1750767d4d18cf6d03

https://github.com/Bisaloo/lightr/commit/22ee9164afde74348df2625101d6cc0d884e3ee1

Would you do this for all exported functions or just the three main ones which are the most likely to have name conflicts (`get_spec()`, `get_metadata()` and `co

[2019-10-19 16:30] mkearney commented on #302
@sckott I’m not currently seeing an invite (and I wasn’t authorized to transfer to ropensci). Where would I find this?

[2019-10-19 17:49] karthik commented on #267
Generally for all exported functions unless you have a strong reason not to.

[2019-10-20 09:41] Bisaloo commented on #267
Ok, thanks! Done in https://github.com/Bisaloo/lightr/commit/a0ed29867f3bc8d36b92f5b22f58c32de936ccab.

[2019-10-20 10:23] briatte commented on #302
Yes! With apologies for not signalling it earlier.

[2019-10-21 04:46] karthik commented on #267
Thanks @Bisaloo! I'll do a run through tomorrow before I sign off.

[2019-10-21 05:01] karthik commented on #267
To run the examples in your README, you'll need a slight change to locate the `inst/testdata/` files

[code]

Same for the example below.

[2019-10-21 09:04] Bisaloo commented on #267
Right, it makes more sense since users have to install the package to run this anyways :+1:. It's done!

[2019-10-21 16:20] sckott commented on #302
@mkearney sorry, now you should have gotten an invite ... let me know if you don't see it soon

[2019-10-21 17:24] mkearney commented on #302
Got it! Thanks!

[2019-10-21 18:28] karthik commented on #267
@Bisaloo Once you transfer, the documentation will also be auto generated at docs.ropensci.org/lightr

You'll need to update that URL in your DESCRIPTION (and the top of your repo) as well after the transfer.

[2019-10-21 20:26] Bisaloo commented on #267
It's done. Thanks @karthik and @jeroen for your helpful comments!

[2019-10-21 20:40] karthik commented on #267
Thanks @Bisaloo! :pray:

[2019-10-21 20:40] karthik commented on #267
Thanks @Bisaloo! :pray:

[2019-10-21 20:40] #267 closed

[2019-10-21 20:44] Bisaloo commented on #267
Should I go ahead and submit this to JOSS once I add a DOI?

[2019-10-21 20:44] melvidoni commented on #333
Hello @nevrome, apologies for the extended delay. The package needs to be under our GitHub repo, but there's no reason it can't also be under another GitHub repo, too, and there are several reasonable solutions for this (multiple remotes, update by CI, etc.). Could you set up something like that?

[2019-10-21 20:47] nevrome commented on #333
@melvidoni The delay was mutual: I just started a new job and was not able to think much about this project. I will do some research about the possible solutions and come back to you asap.

[2019-10-21 20:53] karthik commented on #267
You can add a DOI after the JOSS submission is accepted. So go ahead and submit there. In the meantime, you can compile your own paper here: http://whedon.theoj.org/ and fix any mistakes or issues such as broken references.

Also reading over your current paper, you provide no examples of a scientific application. That will be necessary for this software to get accepted to JOSS.

[2019-10-21 20:54] Bisaloo commented on #267
Okay, thanks for the advice! I'll do this tomorrow then.

[2019-10-21 22:57] karthik commented on #267
If it helps you can read over some accepted JOSS papers about R packages: https://joss.theoj.org/papers/in/R to get a sense of what level of detail is needed there. I'm also an editor at JOSS and can provide feedback if necessary.

[2019-10-22 05:59] GuangchuangYu commented on #179
FYI, the `treeio` package has published in MBE, <https://doi.org/10.1093/molbev/msz240>.

[2019-10-22 09:33] mpadge commented on #330
## Response to review by @khondula

Mostly in the form of quotations of review comments, followed by my own comments and descriptions of responses and associated improvements to the package.

### General

Thanks for the encouraging start - I'm excited about having developed it, and the ongoing improvements brought about by this review process.

Hopefully all resolved via the above comments in this

[2019-10-22 16:12] stefaniebutland commented on #179
Congratulations @GuangchuangYu! I added the citation as a comment on your blog post https://ropensci.org/blog/2018/05/17/treeio/

(I used to dream of publishing in MBE back when I was doing research)

[2019-10-22 16:39] sckott commented on #179
thanks @GuangchuangYu !

[2019-10-22 18:26] sckott commented on #330
thx for your detailed responses @mpadge

@potterzot and @khondula are you happy with the responses to your reviews? any other comments?

[2019-10-22 18:27] #302 closed

[2019-10-22 19:33] stefaniebutland commented on #302
@mkearney When would you like to publish the post? Tues Nov 12 is earliest date available, and that would mean submitting a draft via pull request by Tues Nov 5. Later dates are also open.

Details https://github.com/ropensci/software-review/issues/302#issuecomment-529040066

[2019-10-22 22:08] potterzot commented on #330
I am happy to confirm being able to use `mapscanner` based on the documentation provided in the updated README and vignette. Unfortunately one of the tests isn't passing:

[code]

[2019-10-23 06:08] vbaliga commented on #326
Hi @jromanowska and @eebrown,

Thank you both very much for your thorough reviews of workloopR. @shreeramsenthi and I feel that we have tackled most of the items you brought up. Please feel free to let us know if we can make any further improvements.

Also, as noted below, we took the liberty to list both of you as reviewers in our DESCRIPTION file. Please let us know if you'd prefer to not be lis

[2019-10-23 07:04] mpadge commented on #330
Thanks @potterzot. I am unfortunately unable to reproduce that failing test - could you maybe try re-installing and ensure that you get
[code]

<sup>Created on 2019-10-23 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

All tests current pass on my local machine, on [travis](https://travis-ci.org/mpadge/mapscanner), and on [appveyor](https://ci.appveyor.com/project/mpadge/maps

[2019-10-23 12:24] jromanowska commented on #326
Great! Thank you for the very good response and description of the changes. A propos this "cat" usage - I can't find now any place that it's used wrongly. Maybe I've just misjudged, so you can forget about this.
I am very satisfied with the changes the authors made. Great work!

[2019-10-23 14:34] khondula commented on #330
All looks good to me - changes work successfully and the `devtools::check()` error has gone away. Thanks for this package @mpadge !

[2019-10-23 15:05] jeroen commented on #302
Docs are now live on https://docs.ropensci.org/rtweet/

[2019-10-23 16:42] anadiedrichs commented on #341
Hi Nicholas @njtierney. Of course you can review this issue, but first please make sure you do not have a [conflict of interest](https://ropensci.github.io/dev_guide/policies.html#coi) preventing you from reviewing this package.

[2019-10-23 17:25] eebrown commented on #326
Hi @vbaliga,
Thank you for addressing my feedback. I think your suggestion to show a screenshot of the commercial software output so that it could be compared side by side with your package's output would be a great asset this review as it would help me see how your results compare to the current  standard. I understand that there is not much open data available from other users to test at this ti

[2019-10-23 20:33] sckott commented on #330
Thanks reviewers!

I'll do one last check ...

[2019-10-23 21:12] potterzot commented on #330
I've updated all of my R packages, started with a fresh git clone, and am still getting that error and am unable to build the package. I'm not sure why, but given that I'm the only one, this seems like an error on my part. Documenting those issues here in case there is some build difference that is relevant. Or if there's something I'm doing wrong please let me know!

I've updated my review to sug

[2019-10-23 21:27] leonawicz commented on #342
Hi all, I plan to mostly get to work on this once both reviews are in but I can chime in on some initial things.

@daranzolin Thank you for your review. :) Regarding your questions about exploring the category tree, I will continue to give some thought to this but the API is vast and I'd want to be extra careful with recursion, possibly recursing up (`eia_parent_cats` already does this) but not do

[2019-10-23 22:22] njtierney commented on #341
Hi @anadiedrichs - thanks!

I confirm that I do not have a conflict of interest.

[2019-10-24 02:49] mkearney commented on #302
@stefaniebutland Nov 5th/12th works for me!

[2019-10-24 07:05] ottlngr commented on #342
@melvidoni @leonawicz I'm planning to finish my review on sunday :)

[2019-10-24 10:19] MohammedFCIS opened #347 "submission: dbparser"
Submitting Author: Mohammed Ali(@submission:)
Repository: https://github.com/Dainanahan/dbparser
Version submitted:   v1.0.4
Editor: @noamross
Reviewer 1: @emmamendelsohn
Reviewer 2: @haozhu233
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](http