[2021-07-08 04:57] haozhu233 commented on #443
Hi @makinin, how's going with the rdbhapi package? Have you finished this round of updates? Feel free to let me know if I can provide any help or assistance. :)

[2021-07-08 13:05] maelle commented on #418
:wave: @GLOrozcoM any update? I hope your tutorial went well!

[2021-07-10 15:48] GLOrozcoM commented on #418
Hey @maelle! I'm happy to say we have a few updates!

One of our awesome new contributors @mmlawrence has added 1) caching to `epair` [see commit](https://github.com/GLOrozcoM/epair/commit/05d93ac7aab1ae62a37c720b4e42166cf8392eb1#diff-23627626b40c81381a9f780d193e1e2e404cab6fe46aecd47578600808d6e8ed) 2) and the initial set of required docs for our `pkgdown` tutorial/reference page [see commit](http

[2021-07-12 06:21] maelle commented on #418
Awesome, good to read!

[2021-07-12 11:02] makinin commented on #443
Hi @haozhu233 , I followed your suggestions and I updated package. However although I add examples codecov return coverage 0 %
Best regards,
Marija

[2021-07-13 16:58] jhollist commented on #437
@unai-perez Just checking in on this.  Been about three weeks since the last review came in.  Let me know if you have any questions about the process or the reviews.

[2021-07-14 11:27] ernestguevarra commented on #425
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [X] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revie

[2021-07-14 13:36] wlandau commented on #425
Thank you for your review, @ernestguevarra.

https://github.com/wlandau/jagstargets/commit/30e4ef60214bcdcb8558e07f1011e4b117305f49 repairs the `_targets.R` files for that example. The problem has to do with some code duplication that I unfortunately found necessary at the time to embed the example in an R Markdown vignette: there is [one code chunk to show `_targets.R` to the reader](https://gith

[2021-07-14 16:00] vgherard opened #452 "Pre-submission inquiry for {kgrams}: Classical k-gram Language Models"
Submitting Author: Valerio Gherardi (@vgherard)
Repository:  https://github.com/vgherard/kgrams
Submission type: Pre-submission

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) or [statistical package categories

[2021-07-14 16:01] #450 closed

[2021-07-14 16:02] vgherard commented on #450
I opened a new presubmission inquiry in #452

[2021-07-15 03:43] adamhsparks commented on #436
Hi @gonzalezeb, just following up, it's been four weeks since the reviews came in. If you are experiencing any difficulties or issues, feel free to flag them with the reviewers or me and we'll do our best to assist you through the process.

[2021-07-15 13:44] #430 closed

[2021-07-15 17:39] noamross commented on #452
Thank you for our first statistical package pre-submission, @vgherard!  I believe this clearly falls in scope and look forward to a full submission once you have incorporated the `srr` standards component.  I am querying the editorial board to ask for an opinion as to whether this package should also apply standards from the Supervised or Unsupervised learning categories.

[2021-07-15 19:10] vgherard commented on #452
Thanks @noamross, great :) I will begin looking to the `srr` standards, then. It may take me some time, but I'm up for it. Earlier I did a quick check with `autotest` and it seems like there's some trouble in parsing some of my examples, let's see if I can get it to work quickly.

[2021-07-15 19:15] noamross commented on #452
Please ping me and @mpadge here with any questions, we know we are working out the kinks in the new system and are eager to help with the process to make it better!

[2021-07-16 07:33] vgherard commented on #452
Thanks @noamross (@mpadge), I've filed an issue at ropensci-review-tools/autotest#49

[2021-07-16 08:30] unai-perez commented on #437
Dear @hollis

We are working on the main comments from the reviewers; however, these changes require several checks before publication as bugs may arise.  The main lines we are addressing are:

1. function renaming: these changes make it easier to improve some references in the manual but checking the whole package after every change to make sure we don't add new bugs is time consuming.
2. improvi

[2021-07-16 14:14] jhollist commented on #437
@unai-perez Sounds like a good plan.  I'll check on your progress in a few weeks.

[2021-07-16 15:43] gonzalezeb commented on #436
Hi @adamhsparks. Sorry, I am a little behind with this and have solved only minor issues. There are some comments on the conceptual aspects of the package (i.e.  [here](https://github.com/ropensci/software-review/issues/436#:~:text=Inclusion%20of%20equations%20based%20on%20climatic%20simlilarity)) where I get the point but changing our approach will require some (lot's!) of work, so I am giving it

[2021-07-19 10:57] adamhsparks commented on #436
Hi @gonzalezeb, which specific aspect were you linking to and asking for guideance on? Your link only links to the whole issue here, not one of the reviewers' comments or issue that they may have opened in your repository?

[2021-07-24 22:02] JeffreyRStevens opened #454 "Pre-submission inquiry for {excluder}: Checks for Exclusion Criteria in Online Data"
Submitting Author: Jeffrey Stevens (@JeffreyRStevens)
Repository:  https://github.com/JeffreyRStevens/excluder
Submission type: Pre-submission

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) or [statistical pac

[2021-07-24 22:41] JeffreyRStevens commented on #454
Be gentle---it's my first R package!

[2021-07-25 17:14] GLOrozcoM commented on #418
@maelle groovy news!

- We've merged caching along with testing for it into our production branch! Our latest commit should show completely passing tests with a coverage of around 80%.
- We also have our `pkgdown` documentation up and visible [here](https://glorozcom.github.io/epair/). This is merely the bare bones to hold reference, and we intend on fleshing it out to be useful and be esthetic so

[2021-07-26 05:44] maelle commented on #418
:wave: @GLOrozcoM awesome! Yes there are no other pending req. As the websites of onboarded packages are then built with rOpenSci pkgdown template, no need on _styling_ the pkgdown website btw.

I'll start looking for reviewers. Note that I'll be away from keyboard about two weeks from next week.

[2021-07-26 13:15] noamross commented on #454
Thanks for opening this inquiry, @JeffreyRStevens, and we're glad you considered rOpenSci for your first package! **excluder** is well in-scope as it deals with data-manipulation tasks specific to a scientific data source.  We look forward to a full submission.

[2021-07-26 20:50] JeffreyRStevens commented on #454
Thanks, @noamross. Just to be clear, should I close this issue and start a new one for the full submission of the package? Or just add the submission here?

[2021-07-26 20:53] noamross commented on #454
I'll close this and you can start a full submission whenever you're ready!

[2021-07-26 20:53] #454 closed

[2021-07-26 22:12] JeffreyRStevens opened #455 "excluder: checks for exclusion criteria in online data"
**Date accepted:** 2021-11-04
Submitting Author Name: Jeffrey Stevens
Submitting Author Github Handle: @JeffreyRStevens
Repository:  https://github.com/JeffreyRStevens/excluder
Version submitted: 0.2.2
Submission type: Standard
Editor:  @maurolepore
Reviewers:  @juliasilge, @jmobrien
Due date for @juliasilge: 2021-09-20
Due date for @jmobrien: 2021-09-20
Archive: TBD
Version accepted: TBD

---

-

[2021-07-28 20:25] noamross commented on #455
@ropensci-review-bot check package

[2021-07-29 14:14] maelle commented on #418
@GLOrozcoM any ETA on the last changes you were planning to tackle?

[2021-07-30 12:46] ldecicco-USGS commented on #435
Hi @ekothe ! Checking in to see if you have a general timeline for responding to the reviews.

[2021-07-30 14:07] JeffreyRStevens commented on #455
The only check that failed was "Package does not have a 'contributing.md' file". Does this mean that the package should **not** have a contributing.md file? So should I just remove the file and remove all references to Contributing to this package?

[2021-07-30 14:26] noamross commented on #455
Thanks for the submission @JeffreyRStevens! Sorry for a bit of a delay as we were working out our new automated diagnostics bot, which your review is the first to use, and you just found a bug in! Your `CONTRIBUTING.md` file is fine, we are just failing to check the right subfolder.  We'll move ahead with this :)

[2021-07-30 17:42] JeffreyRStevens commented on #455
Ah, OK--no problem. Glad to be a guinea pig to help debug!

[2021-07-31 00:44] mmlawrence commented on #418
Hi @maelle! I'll be taking over most of the updates, so for now we are roughly expecting to have most of the content changes we aim to make on the pkgdown website by mid next week (August 3rd or 4th) and depending how smoothly the scheduled API test calls go, that will be done latest by August 11th. If anything changes I'll let you know.

[2021-07-31 13:18] christophsax opened #457 "Pre-submission inquiry for {tsbox}: Class-Agnostic Time Series"
Submitting Author: Christoph Sax (@christophsax)
Repository:  https://github.com/christophsax/tsbox
Submission type: Pre-submission

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) or [statistical package catego

[2021-08-01 20:32] maurolepore commented on #429
Hi @jabiologo, it's about the time when we should review the "holding" status. Shall we keep it?

--

-- https://devdevguide.netlify.app/policies.html#policiesreviewprocess

[2021-08-02 10:40] adamhsparks commented on #436
Hi @gonzalezeb, do you need more time to work on this? We can put a holding tag on it and revisit it after three months to see where things are for up to a year. Would that be useful to you?

[2021-08-02 15:27] annakrystalli commented on #420
Hello again!

I appreciate it's the middle of people's holidays. Would be great to get an update on the status of your changes even if it's just a note about when you might be ready to respond.

And of course feel free to reach out with any question or requests for clarification from myself or the reviews. 👍

[2021-08-02 16:56] Robinlovelace commented on #420
Thanks for the reminder, holidays and other deadlines have slowed down progress on this but progress there is. See here for a merged PR that tackles many of the issues reported by reviewer 2: https://github.com/ITSLeeds/slopes/pull/31

More soon-ish... there is lots of value in the comments so committed to acting on them :sparkles:

[2021-08-02 17:00] gonzalezeb commented on #436
Hi @adamhsparks, thanks for checking. We have made some substantial progress but I still need to work in some minor stuff. The plan is to finish this before Sep 15 as we want to submit our revised manuscript to MEE also by then.  Will that be ok with you all?

[2021-08-02 21:36] christophsax commented on #457
@noamross: As discussed with @mpadge, I would be very happy to submit it as a 'statistical software'.

[2021-08-03 02:57] cromanpa94 opened #458 "Submission: phruta"
**Date accepted:** 2022-12-30
Submitting Author Name: Cristian Román-Palacios
Submitting Author Github Handle: @cromanpa94
Repository:  https://github.com/cromanpa94/phruta
Version submitted: 0.1.0
Submission type: Standard
Editor: @annakrystalli
Reviewers: @raynamharris, @fboehm
Due date for @raynamharris: 2021-12-13
Due date for @fboehm: 2021-12-16
Archive: TBD
Version accepted: TBD

---

-   Pa

[2021-08-03 13:12] noamross commented on #458
@ropensci-review-bot check package

[2021-08-03 20:32] wlandau commented on #425
Hi everyone, it has been a while since I responded to @ernestguevarra's review. Is there something I forgot to do?

[2021-08-04 00:10] adamhsparks commented on #436
Sounds good, Erica! Thanks for updating me.

[2021-08-04 21:28] noamross commented on #425
Hi @wlandau, I tend to expect a second response with changes incorporating both reviewers feedback, but I realize your workflow incorporated both responses and all edits.  That said, @ernestguevarra and @dill, do @wlandau's changes address your comments?

[2021-08-04 21:34] #457 closed

[2021-08-05 07:46] dill commented on #425
absolutely!

[2021-08-07 22:35] maurolepore commented on #455
@JeffreyRStevens, it's my pleasure to be the handling editor of your submission.

### Editor checks:

- [x] **Documentation**: The package has sufficient documentation available online (README, pkgdown docs) to allow for an assessment of functionality and scope without installing the package.
- [x] **Fit**: The package meets criteria for [fit](https://devguide.ropensci.org/policies.html#package-ca

[2021-08-08 01:15] maurolepore commented on #455
@ropensci-review-bot seeking reviewers

[2021-08-08 15:50] maurolepore commented on #455
@JeffreyRStevens, could you suggest two or three potential reviewers? Although I wouldn't pick more than one, your list will inform the type of expertise you think would be useful when reviewing {excluder}.

I'll also use other criteria as described in [How to look for reviewers](https://devdevguide.netlify.app/editorguide.html?#look-for-and-assign-reviewers).

[2021-08-08 21:59] JeffreyRStevens commented on #455
@maurolepore thank you for your speedy initial review of {excluder}. I have pushed some changes to address your comments.
* In running `usethis::check()`, I am not able to replicate your error regarding `Packages unavailable to check Rd xrefs: ‘qualtRics’, ‘rgeolocate’`. Would you mind checking if this is still an issue in the new version? If so, does this mean that you need to have the packages i

[2021-08-10 17:56] jhollist commented on #437
@unai-perez Just checking in to see how things are going with your response.  If there is anything you need on my end, just let me know.

[2021-08-10 21:57] maurolepore commented on #455
Thanks @JeffreyRStevens for responding quickly.

* Yes, I still see that R CMD NOTE and two more. FYI I updated all my packages then run `devtools::check()`. Here is a reprex -- collapsed to save space.

<details style="margin-bottom:10px;">
<summary>
Output
</summary>

[code]

</details>

<details style="margin-bottom:10px;">
<summary>
Session info
</summary>

[code]

</details>

-

* Inside `if(

[2021-08-12 13:50] JeffreyRStevens commented on #455
Many thanks for the clarifications and help, @maurolepore.
* I believe that I fixed the R CMD note about qualtRics and rgeolocate. I was referencing their documentation, and if you don't have those packages installed, the documentation cannot be linked. So I changed the references to external URLs rather than internal documentation.
* I have now changed all `==` operators to `identical()` in `if()

[2021-08-13 16:03] pachadotdev commented on #414
hola @melvidoni, los badges aún dicen "en revisión" ¿cómo se cambia eso?

[2021-08-15 20:22] melvidoni commented on #414
Hola. El 26 de Abril lo marqué como "approved" a este issue. ¿A qué badge te referís?

[2021-08-16 20:13] maurolepore commented on #421
Hi @mskyttner, it's about the time when we should review the "holding" status. Shall we keep it or are you ready to resume work on this submission?

--

The author can choose to have their submission put on hold (editor applies the holding label). The holding status will be revisited every 3 months, and after one year the issue will be closed. --
-- https://devdevguide.netlify.app/policies.html#po

[2021-08-18 08:53] mpadge commented on #458
@cromanpa94 Please excuse the delayed response. Most of the ROpenSci team were on vacation, and only now able to debug our new package check bot. Current Editor-in-Chief @noamross will respond asap.

[2021-08-18 22:11] Robinlovelace commented on #420
Update on this, we're making progress! We've addressed around half of the issues and think the others are doable. See here for updates (23 down, 23 to go at the time of writing): https://github.com/ITSLeeds/slopes/issues/32

[2021-08-19 08:06] annakrystalli commented on #420
Good to hear! Thanks for the update!

[2021-08-23 10:20] maelle commented on #418
:wave: @GLOrozcoM @mmlawrence, any update? (thanks for the previous update!)

[2021-08-23 21:30] cromanpa94 commented on #458
Hi @mpadge! No worries! I actually made some updates to the package earlier this month (currently on my `dev` branch). I will account for these initial checks by the end of this week.

[2021-08-24 07:46] mpadge commented on #458
@cromanpa94 To make editor @annakrystalli's job easier, can you run [`pkgcheck::pkgcheck()`](https://github.com/ropensci-review-tools/pkgcheck) yourself once you've made appropriate changes and confirm the `summary` at the top (or result of `summary()` applied to check results) gives all :heavy_check_mark: and no :heavy_multiplication_x:? It should also confirm, "This package may be submitted." Th

[2021-08-24 15:41] annakrystalli commented on #458
Thanks for the suggestion @mpadge ! And hello @cromanpa94 👋, I'll be your handling editor.

Let me know when you've resolved the issues in the initial checks and we'll take it from there.

_P.S. Φρούτα (frouta in english characters) is also fruit in Greek!_ 😜

[2021-08-30 00:39] maurolepore commented on #455
@ropensci-review-bot add @juliasilge

[2021-08-30 18:01] maurolepore commented on #455
@ropensci-review-bot add @jmobrien

[2021-08-30 18:14] maurolepore commented on #455
@ropensci-review-bot add @juliasilge to reviewers

[2021-08-30 18:14] maurolepore commented on #455
@ropensci-review-bot add @jmobrien to reviewers

[2021-08-30 18:37] maurolepore commented on #455
@JeffreyRStevens, I'm thrilled that @juliasilge and @jmobrien accepted to review the excluder package.

Note `@ropensci-review-bot` set the due date following rOpenSci's guidelines to 2021-09-20. However, these are difficult times and I would like to allow reviewers 1 extra week. Feel free to submit your review whenever ready but if you don't I'll touch base on 2021-09-27.

I look forward to worki

[2021-08-31 12:29] jooolia commented on #329
Hi @RaoulWolf,
Do you have any updates on your revisions? If you are not able to work on it right now we could  put the "holding" label here. https://devguide.ropensci.org/policies.html?q=hold#policiesreviewprocess

Thanks! Julia

[2021-09-01 16:11] annakrystalli commented on #458
@ropensci-review-bot check package

[2021-09-01 16:39] annakrystalli commented on #458
### Editor checks:

- [x] **Documentation**: The package has sufficient documentation available online (README, pkgdown docs) to allow for an assessment of functionality and scope without installing the package.
- [x] **Fit**: The package meets criteria for [fit](https://devguide.ropensci.org/policies.html#package-categories) and [overlap](https://devguide.ropensci.org/policies.html#overlap)
- [x]

[2021-09-03 23:42] Robinlovelace commented on #420
Exciting update, 48 down, 3 to go! The last three will take some time but are definitely doable, almost there, thanks for you patience. This has been harder but more rewarding than responding to academic peer review comments for @temospena but we're glad for all the feedback and we're almost there. If anyone has any suggestions/support on the final issues/discussion, see our open mega issue here f

[2021-09-04 01:09] ateucher commented on #420
Wow @temospena and @Robinlovelace - I poked my head in after not looking for a while, and the work and improvements you're doing are amazing! Kudos, looking forward to seeing the end product!

[2021-09-04 04:28] gonzalezeb commented on #436
Hi @adamhsparks, I wasn’t sure how to respond to the multiples reviews so I hope the following is sufficient. We are very grateful for the thoughtful suggestions by reviewers, and have implemented most.

Initial suggestions by [@jeffreyhanson (5/19/21)](https://github.com/ropensci/software-review/issues/436#issuecomment-844578387), have been addressed:
1.	The package website is working (https://fo

[2021-09-04 04:33] gonzalezeb commented on #436
The reviewers advice to avoid the call `eval(parse(text = ...))` ([item 9 here](https://github.com/ropensci/software-review/issues/436#issuecomment-844578387), and [“Code and documentation” here](https://github.com/ropensci/software-review/issues/436#issuecomment-860737938)), mainly because (a) it can be unsafe, and (b) error prone.

Instead they suggest storing the equations as objects such as ex

[2021-09-04 13:05] annakrystalli commented on #420
👏👏👏👏 great work and so glad you're finding the review process enjoyable. It's definitely a great learning experience! Look forward to seeing the finished product. Let us know when you're ready!

[2021-09-07 20:23] wfrierson opened #461 "Pre-submission request: World Magnetic Model calculator"
Submitting Author: Will Frierson (@wfrierson)
Repository:  https://github.com/wfrierson/wmm
Submission type: Pre-submission

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) or [statistical package categories](ht

[2021-09-08 05:57] adamhsparks commented on #436
@gonzalezeb, thank you for your comprehensive overview of the changes that you have made to the _allodb_ package.

@jeffreyhanson and @jstillh could you please let me know if you are satisfied with the changes to the package or have any further suggestions that may improve it?

[2021-09-09 00:31] noamross commented on #461
Thank you for the pre-submission, @wfrierson! We consider this in-scope and welcome a full submission. We consider it a data retrieval and munging package as much as anything as it eases access to this data and performs common data processing steps specific to the data on top of that.

[2021-09-09 00:31] #461 closed

[2021-09-09 10:14] unai-perez commented on #437
Dear @jhollist, @khondula and @mhweber. We have finally answered all the comments you have made. The most important and costly question has been the use of terra instead of raster. Now the raster package is only used in a few exceptional code pieces. The user manual has been substantially improved, especially the examples that now allow unitary tests without having to show the whole package workfl

[2021-09-09 13:55] dieghernan opened #462 "Presubmission inquiry: {cffr} Generate Citation File Format ('cff') Metadata for R Packages"
Submitting Author: Diego Hernangómez  (@dieghernan)
Repository:   https://github.com/dieghernan/cffr
Submission type: Pre-submission

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) or [statistical package categ

[2021-09-09 22:09] jeffreyhanson commented on #436
Awesome - thank you very much @gonzalezeb. @adamhsparks, I'll try and take get back to you next week.

[2021-09-10 06:50] jstillh commented on #436
@gonzalezeb  thanks a lot for the overview of the changes - i'll try to go through them in the next week as well and get back to you, @adamhsparks .

[2021-09-10 12:29] mpadge commented on #461
@wfrierson A re-submission will now automatically respond with standard package checks. Documentation for these is forthcoming, so until then could you please install our [`pgkcheck` package](https://github.com/ropensci-review-tools/pkgcheck) and run the following prior to full submission:
[code]
That will clarify any remaining issues which you can address prior to submission. Thanks!

[2021-09-12 21:11] mmlawrence commented on #418
@maelle Just an update, we finally have our live testing setup and finished making updates to our website!

[2021-09-13 11:41] maelle commented on #418
@ropensci-review-bot add @adithirgis to reviewers

[2021-09-14 00:37] jeffreyhanson commented on #436
Thank you @gonzalezeb for providing such detailed responses to the points I raised earlier. I especially found your discussion on the costs and benefits of `eval(parse(...))` really useful. I think the R package is looking absolutely brilliant! Most of the points I raised earlier have been addressed. I've made a couple of suggestions below that I think could help improve package.<sup>1</sup> All t

[2021-09-14 17:10] temospena commented on #420
Hi!
We just finished reviewing the package.
Please see the responses to reviewers at: https://github.com/ITSLeeds/slopes/issues/32

It had major improvements and we consider that it is much better now.

We started by responding to comments from @ateucher, so many of the comments from @DanOlner were already covered by the previous reply. Any further comments or suggestions are very welcome.

We can

[2021-09-14 18:30] Robinlovelace commented on #420
Adding to what Rosa says, thanks for an in depth review guys! There are definitely things that could be changed for the better, we have talked about sub-sampling from vertices to calculate overall segment slope, reducing variability associated with linear segments that run perpendicular to steep slopes, something that @fiftysevendegreesofrad has explored and has an method to handle I think, and we

[2021-09-15 09:58] annakrystalli commented on #420
Great news!! Congratulations on all the work you've put into this so far! 👏🚀

In terms of your question regarding, it is indeed convention to post replies to each of the authors comments. If some are duplicate, it's fine to respond to them in one go. We do need to make it as easy as possible for reviewers to understand what has been done in response to their comments and, indeed if some comments w

[2021-09-15 10:00] annakrystalli commented on #420
Ah sorry! I just noted that you've already got all the comments in the issue you linked to! So not much work I guess. Might as well just paste it here too just for the record.

[2021-09-15 10:04] annakrystalli commented on #420
@ateucher & @DanOlner, over to you! Please have a look at the comprehensive response by the authors ad let us know if they've sufficiently responded to your comments or whether you feel there are any more changes required?

[2021-09-15 11:04] DanOlner commented on #420
Apologies, I've got a heap of teaching prep to do, might not get to this for a couple of weeks (or possibly 3...) Really sorry to slow things down when you've put in so much work! If I get some time I'll look before then.

[2021-09-15 11:57] temospena commented on #420
- [x] open a parallel branch for revs
- [x] update readme: include more on the description? the main functions?

The README has be substantially updated and now documents the package's main functions: https://github.com/ITSLeeds/slopes/commit/dbacab8792dfc178c37b3ceb5aafd9791f515061

- [x] pass benchmark to a vignete
- [x] Update argument names
- [x] Don't export plot_dz

More detailed responses i

[2021-09-15 14:22] noamross commented on #462
Hi @dieghernan. Yes, this package falls neatly into our scope for citation support and we'd be glad for a full submission.  I think it would be useful to use the review process to work out recommended workflows for using CITATION, CITATION.cff and codemeta.json, as we will probably update our own guidance and requirements for citation based on that! Glad to see you've already started the conversat

[2021-09-15 14:22] #462 closed

[2021-09-15 15:00] dieghernan commented on #462
Thanks @noamross, I will submit it in the next few days

[2021-09-15 23:35] jhollist commented on #437
@unai-perez thank you for getting these edits in!

@khondula and @mhweber could you take a look at the edits an the comments above and indicate that your comments have been addressed to your approval/satisfaction?

And sorry for the delay in responding to your edits.  We are almost there!

[2021-09-16 02:40] gonzalezeb commented on #436
Thanks @jeffreyhanson, I have adopted most of your comments, they are very helpful!

[2021-09-16 14:14] dieghernan opened #463 "Submission: {cffr} Generate Citation File Format ('cff') Metadata for R Packages"
Submitting Author Name: Diego Hernangómez
Submitting Author Github Handle: @dieghernan
Repository: https://github.com/dieghernan/cffr
Version submitted: 0.0.1.9001
Submission type: Standard
Editor:  @emilyriederer
Reviewers: @sckott, @zambujo
Due date for @sckott: 2021-10-19
Due date for @zambujo: 2021-10-20
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code

[2021-09-16 17:36] noamross commented on #463
Thanks, @dieghernan! @emilyriederer will be your editor.   FYI, our check-bot failed because the `` tags were absent from your submission template. I've added them back in.  We're looking into ways to make that more robust!

[2021-09-16 17:44] dieghernan commented on #463
My bad, thank you!

[2021-09-17 02:02] emilyriederer commented on #463
Hi @dieghernan - so nice to meet you and thank you for submitting this great package!

I did not notice any causes for concern on my first review, and the only enhancement found by the testing suite is perhaps splitting up a few of the long lines of code found by [`lintr`](https://github.com/jimhester/lintr). You can run `lintr::lint_package(".")`  within your R package to reproduce these locally.

[2021-09-17 09:08] dieghernan commented on #463
Thanks @emilyriederer , nice to meet you as well.

I did my best trying to remove long lines of code, most of them were links to long urls, but I managed to get no lint warning on that, see:

https://github.com/dieghernan/cffr/actions/runs/1244840358

I also added the badge to the README, thanks for the `rodev::use_review_badge(463)`

(PS: I was looking for images of neural networks and I found th

[2021-09-17 13:59] christophsax opened #464 "Submission tsbox: Class-Agnostic Time Series"
**Date accepted:** 2023-02-23
Submitting Author Name:  Christoph Sax
Submitting Author Github Handle: @christophsax
Repository:  https://github.com/christophsax/tsbox
Version submitted: 3.1.9001
Submission type: Stats
Badge grade: silver
Editor: @rkillick
Reviewers: @chamberlinc, @brunaw, @nunesmatt
Due date for @chamberlinc: 2021-11-23
Due date for @brunaw: 2021-11-23
Due date for @nunesmatt: 202

[2021-09-17 14:05] dieghernan commented on #463
@ropensci-review-bot check package

[2021-09-17 14:22] noamross commented on #463
@ropensci-review-bot check package

[2021-09-17 19:42] mpadge commented on #464
@christophsax Sorry about the mess up here - the checks server is currently running R4.0.3, so doesn't recognise native pipes which you use in some test code. Will upgrade asap and deliver your checks.

[2021-09-17 20:01] christophsax commented on #464
But I did't intended to use native pipes, that was an accident. I will remove them right now.

[2021-09-17 20:04] christophsax commented on #464
I did so now. Perhaps rerunning is sufficient.

[2021-09-17 23:04] emilyriederer commented on #463
Thanks, @dieghernan !

One other metric I just wanted to call out is the high cyclocomplexity scores for `clean_str()` and `cff_create()`.

If you aren't familiar with this score (I wasn't until this review!), the R package's [README](https://github.com/MangoTheCat/cyclocomp) gives some good examples. In short, it measure how many different distinct paths your code might go through when evaluation

[2021-09-17 23:39] dieghernan commented on #463
Thanks @emilyriederer, I would have a look on that. I still don’t fully understand the high score on `clean_str` (24 loc with 3 if/else, would investigate it).

I would like to highlight that I have implemented a strategy with `testthat` + GHA for testing the package on >5000 packages. More information here:
- https://github.com/dieghernan/cffr/tree/main/tests/testthat/test_ci

Latest results here

[2021-09-18 00:27] dieghernan commented on #463
I @emilyriederer , I have introduced some changes and removing some unneeded chunks (https://github.com/dieghernan/cffr/commit/1aeb1868b8c3989fe8e9e9b438a7d99658270034)

Now running `cyclocomp::cyclocomp_package_dir()` I see:

|   |name                          | cyclocomp|
|:--|:-----------------------------|---------:|
|7  |cff_create                    |        13|
|17 |cff_write

[2021-09-18 11:30] christophsax commented on #464
#### R CMD check

There seems to be an issue with the package seasonal on your system. The package is special since it uses x13binary which downloads pre-built binaries from CRAN. Usually this works fine and on most CRAN platforms.

Is there anything special about your system? There was an issue for Mac M1.

If you want to check, this should works:

[code]

But I don't want you to drag into this.

[2021-09-19 09:33] jstillh commented on #436
Thank you @gonzalezeb for the very detailed response to the reviews. As @jeffreyhanson, I like your detailed response regarding the use of `eval(parse(...))`. In general, i am very pleased with the revisions and the changes you implemented in the functions. I do not have any more suggestions beyond the ones by @jeffreyhanson.
- I appreciate the changes / improvements in the documentation of both t

[2021-09-20 17:56] noamross commented on #464
@ropensci-review-bot add @rkillick as editor

[2021-09-20 18:00] noamross commented on #464
@ropensci-review-bot assign @rkillick as editor

[2021-09-20 18:53] ateucher commented on #420
My congratulations to @temospena and @Robinlovelace - that was a ton of work, and I think it's much better. I hope you found it worth it! In my opinion you've more than adequately addressed my comments and **_I'm happy to recommend acceptance_**. I especially love the new suite of vignettes, in particular `roadnetworkcycling.Rmd`.  In the cases where you chose not to implement my suggestions, your

[2021-09-20 19:08] annakrystalli commented on #420
Thank you @ateucher ! I also agree that I'm very happy with the responses to reviewers comments and am happy to approve the package in @DanOlner's place given he is really busy atm. @DanOlner would you be happy for me to do so?

[2021-09-21 12:36] wlandau commented on #425
Thanks, @dill! @ernestguevarra, is there anything else you would like me to work on?

[2021-09-21 12:39] maelle commented on #382
:wave: @bretsw @jrosen48! Any update? :smile_cat:

[2021-09-21 13:18] ernestguevarra commented on #425
Hi @wlandau. Apologies. Yes, your comments above has responded to my feedback. Thanks for explaining those issues to me and good to know that you are aware and have actually addressed those even before my comments.

I have nothing else to ask to be worked on. Thank you again for your work on this package!

[2021-09-22 22:31] mhweber commented on #437
@jhollist , @unai-perez my comments and suggestions have all been addressed - appreciate the work in making these updates!

[2021-09-23 02:39] bretsw commented on #382
Hi @maelle! Thank you for checking in again. I think @jrosen48 and I are (finally) getting settled. We set a meeting on October 6 to start tackling the requested changes. Excited to get back to this.

[2021-09-23 06:07] maelle commented on #382
Great to read, thank you for the update!

[2021-09-26 05:15] cromanpa94 commented on #458
Sorry for the delay @annakrystalli! The latest version is in my repo now! Please let me know if you find any other issues before sending it out to review!

**Installation issues**
`GenomeInfoDbData` should now be installed with `phruta`. Thank you so much for pointing this out.

**Internal functions**

Thanks for the advice! I decided not to export the internal functions!

**Good practice issues**

[2021-09-26 23:38] juliasilge commented on #455
## Package Review

Congratulations to the author on this useful package for folks handling Qualtrics surveys. It will be convenient to have all these common checks in a consistent set of functions, and the messaging in the console is very nice. 🙌

- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work (I

[2021-09-27 07:50] adamhsparks commented on #436
@ropensci-review-bot approve

[2021-09-27 07:51] adamhsparks commented on #436
@ropensci-review-bot approve allodb

[2021-09-27 07:51] #436 closed

[2021-09-27 09:26] annakrystalli commented on #420
OK folks, I'm going to go ahead and approve this package! Really well done @temospena and @Robinlovelace on the massive work carried out during the review and many many thanks to both reviewers @DanOlner & @ateucher for their efforts! 👏

[2021-09-27 09:26] annakrystalli commented on #420
@ropensci-review-bot approve

[2021-09-27 09:26] annakrystalli commented on #420
@ropensci-review-bot approve slopes

[2021-09-27 09:26] #420 closed

[2021-09-27 09:48] DanOlner commented on #420
Awesome news on approval. Sorry I didn't manage to get round to responding to the incredible amount of work put in after the reviews. Also, sorry Anna - I somehow didn't see your question for me seven days ago. p.s. I know someone working on green space metrics who may get good use out of this package...

[2021-09-27 12:59] noamross commented on #425
@ropensci-review-bot approve jagstargets

[2021-09-27 13:00] #425 closed

[2021-09-27 15:58] Robinlovelace commented on #420
This is fantastic news, many thanks @annakrystalli and all! One quick question: what is the process for submission to JOSS at this point? Discussing next steps with Rosa now!

[2021-09-27 16:41] Robinlovelace commented on #420
Heads-up, just put in a PR that changes the URLs in the docs: https://github.com/ITSLeeds/slopes/pull/42

Please take a look Anna and let us know if that looks good.

[2021-09-27 16:44] Robinlovelace commented on #420
Exciting news, it's on rOpenSci :tada: https://github.com/ropensci/slopes

[2021-09-27 16:54] Robinlovelace commented on #420
Looks like we're in the team but I don't have push access at the moment...

[2021-09-27 17:01] annakrystalli commented on #420
I've made @temospena admin of the repo again. You weren't listed as a collaborator @Robinlovelace (probably had rights through the previous organisation) but @temospena can now manage access to the repo. 👍

[2021-09-27 17:43] Robinlovelace commented on #420
Redirecting to the robot...

![image](https://user-images.githubusercontent.com/1825120/134958765-1b466a25-3aaf-4736-8a45-57b8ce9fcb18.png)

[2021-09-27 17:58] temospena commented on #420
To keep tracking:

* [x]  Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
* [x]  Fix all links to the GitHub repo to point to the repo under the ropensci organization.
 * [x]  Delete your current code of conduct file if you had one since rOpenSci's default

[2021-09-27 19:18] maurolepore commented on #455
@juliasilge thanks for your review.
 @jmobrien when do you think you'll be able to submit yours?

[2021-09-27 20:01] noamross commented on #425
You should have repo permissions now, @wlandau .

[2021-09-27 20:27] wlandau commented on #425
Thanks Noam!

[2021-09-27 20:51] jmobrien commented on #455
I will have it in by later today, thanks.

On Mon, Sep 27, 2021 at 2:18 PM Mauro Lepore ***@***.***>
wrote:

[2021-09-27 21:48] Robinlovelace commented on #420
Looking at the outstanding tasks...

- [ ] remove styling tweaks from your pkgdown config but keep that config file

Think that's done, not sure we ever had any styling tweaks.

- [x] Replace the whole current pkgdown website with a redirecting page

Not done but not in any rush to do this as more important that https://github.com/itsleeds/slopes redirects at this stage I think, seems to be the to

[2021-09-27 21:49] Robinlovelace commented on #420
One comment that was not addressed by @ateucher was whether the package supports directed slopes. Answer, yes: it does now! See here for info (I've just fixed the docs but they are taking time to update on rOpenSci): https://docs.ropensci.org/slopes/articles/slopes.html#splitting-the-network-1

[2021-09-28 02:04] wlandau commented on #425
Looks like the `jagstargets` site is up, and I think I completed the other to-dos in this thread. Remaining to-dos on my end are [JOSS](https://github.com/ropensci/jagstargets/blob/main/inst/paper.md) and then CRAN. In the meantime, @ernestguevarra, feel free to snag that "rev" role whenever you want.

[2021-09-28 02:30] emilyriederer commented on #463
@ropensci-review-bot add @sckott to reviewers

[2021-09-28 02:32] emilyriederer commented on #463
@ropensci-review-bot add @sckott to reviewers

[2021-09-28 06:10] jmobrien commented on #455
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [X] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revie

[2021-09-28 07:44] annakrystalli commented on #458
Hello again @cromanpa94 ,

Good to see most issues resolved. There's a few I can still see though:
- `.DS_Store` still in the `R` directory.
- Just noticed that `.Rhistory` and `.Rproj.user` are being version controlled. These will need removing from git also. As you may want to keep the files locally (just don't want them tracked by git), here's a [useful post on how to do that](https://stackover

[2021-09-28 09:32] dieghernan commented on #463
Hi @sckott , nice to meet you. I just wanted to say hello and let you know that some days ago I added a new vignette "Crosswalk" that provides tecnical details and examples on how {cffr} extracts the metadata. I think this may be useful:

https://dieghernan.github.io/cffr/articles/crosswalk.html

Regards

[2021-09-28 12:10] maurolepore commented on #455
@jmobrien thanks a lot for your review.

@JeffreyRStevens, you can now go ahead and address reviewer's comments. rOpenSci's guidelines seem to not limit how long you should take, but I think it's best to respond ASAP -- while the reviewers keep the context in their heads.

Please let me know if you have questions.

[2021-09-28 13:30] JeffreyRStevens commented on #455
Yes, many thanks @juliasilge and @jmobrien for your helpful reviews! I've done a quick skim and will review in-depth very soon. I may have a few questions before I get too far into revisions.

[2021-09-29 09:53] emilyriederer commented on #463
@ropensci-review-bot add @zambujo to reviewers

[2021-09-29 09:55] emilyriederer commented on #463
Thanks to @sckott and @zambujo for volunteering to review!

[2021-09-29 19:11] jhollist commented on #437
Thanks, @mhweber!

[2021-09-29 19:12] jhollist commented on #437
@khondula Do these edits address the suggestions in your review?

[2021-09-29 19:52] khondula commented on #437
Wow, impressive work @unai-perez!
I'm afraid I'm missing something - I am no longer able to run the vignettes and can't figure out why?

No vignettes found by browseVignettes(package = "rsat")

Warning message:
vignette ‘rsat1_search’ not found

[2021-09-30 03:30] pachadotdev commented on #414
mis disculpas por lo lento, no sé como lograr que github notifique estas cosas

acá sale como "under review"
![image](https://user-images.githubusercontent.com/10091065/135382505-4d8a0e11-267d-47e1-b5d4-7cd3fc71b367.png)

[2021-09-30 06:33] maelle commented on #414
¡Es culpa mia! Habia enviado yo un URL con error cuando añadí el badge en un PR. :grimacing: Lo siento @pachadotdev @melvidoni , https://github.com/ropensci/censo2017/pull/9 Este será verde como deberia: https://badges.ropensci.org/414_status.svg

Por suerte en el futuro habrá menos razones de escribir el codigo del badge "a mano": si el editor o la editora añade les revisores con los comandos de

[2021-09-30 07:47] unai-perez commented on #437
@khondula, I have just checked the vignettes and they are right. Maybe you have installed the package without the argument "build_vignettes=TRUE".

Anyway, I have changed the installation guide for installing "rmarkdown" in case it is not already installed, and to compile the vignettes by default.

Thank you very much for your comments.

[2021-09-30 08:52] n8thangreen opened #466 "Presubmission inquiry: BCEA"
Submitting Author Name: Nathan Green
Submitting Author Github Handle: @n8thangreen
Other Package Authors Github handles: (comma separated, delete if none) @giabaio
Repository:  https://github.com/cran/BCEA
Submission type: Pre-submission

---

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-

[2021-09-30 11:42] jhollist commented on #437
I can confirm that with `install_github("spatialstatisticsupna/rsat", build_vignettes = TRUE)` I see the 4 vignettes.

[2021-09-30 13:56] khondula commented on #437
Thank you, that fixed it!

The example in the readme workflow produces an error when I get to the first plot - is it possible that making the toi a range of 2 dates avoids this?

[code]

I think everything else I checked looks good. The additional documentation really improves usability!

[2021-09-30 15:26] noamross commented on #445
Thank you for your inquiry, @maelle! After consulting with the editorial board, we narrowly decided that this is out-of-scope, for being a too general data munging tool.

[2021-09-30 15:26] #445 closed

[2021-09-30 18:10] jhollist commented on #437
@ropensci-review-bot approve rsat

[2021-09-30 18:10] #437 closed

[2021-09-30 18:14] jhollist commented on #437
Yee haw!  This one is approved!

There are a number tasks that we need to take of now to get this "officially" approved (see https://github.com/ropensci/software-review/issues/437#issuecomment-931550150).  As this is my first time doing this, we will probably need to learn together on some of these tasks.  I'll do my best to keep the process moving along.  As you are working on these, let me know

[2021-10-01 13:59] noamross commented on #466
Thanks for this inquiry, @n8thangreen! I believe this package is in-scope and we would be pleased to accept a full submission.  Since it processes MCMC results and returns summaries and visualizations, EDA is an appropriate category, but standards from Bayesian and Monte Carlo Routines likely apply, as well.  Please submit checking off both categories and use `srr` to annotate code with standards

[2021-10-01 18:15] #466 closed

[2021-10-02 21:50] ateucher commented on #420
Lovely! Thanks for following up on that @Robinlovelace

[2021-10-03 13:55] KevCaz commented on #418
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.** NONE
- [X] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to

[2021-10-03 21:24] pachadotdev commented on #414
gracias @maelle, su español es muy bueno, siento envidia de que sabe muchos idiomas mejor que yo

[2021-10-03 22:08] JeffreyRStevens commented on #455
@juliasilge, many thanks again for your helpful comments. Here are some responses/questions for your points:
* Confusing error/documentation for `exclude_duplicates()`: I think I see the issue here, and I believe that addressing some of @jmobrien's concerns about the functions will address this. I'll return to this comment after I address his concerns.
* Rename `collapse_exclusions()`: This was a

[2021-10-04 06:01] maelle commented on #418
Thanks a lot @KevCaz for your thorough review!

Two comments

* In opencage the docs recommend the users use keyring to keep their secrets: https://docs.ropensci.org/opencage/articles/opencage.html#setup-1
* Regarding JSON in tests, why do tests fail for other contributors @GLOrozcoM? https://enpiar.com/r/httptest/articles/redacting.html might be relevant.

[2021-10-04 13:58] GLOrozcoM commented on #418
@KevCaz - amazing! Thank you for the rigorous feedback. Some of us are traveling and will only be able to start addressing these in about a week. You can be sure, however, we'll implement your suggested changes and will update here once completed.

@maelle - noted for 1). Not sure why tests would fail for other contributors...but will get on this and make sure they can work for other contributors.

[2021-10-04 14:07] maelle commented on #418
@GLOrozcoM btw are the other authors on GitHub? If so can you please mention their usernames? Thank you.

[2021-10-04 14:31] ogilani commented on #418
Hi @maelle. The other authors are @ogilani and @mmlawrence. Thank you for all this great feedback. We will get on it ASAP.

[2021-10-04 15:29] stefaniebutland commented on #418
Hi @ogilani. No rush as you mentioned folks are traveling. I'm rOpenSci's Community Manager. I'd like to invite your co-authors to rOpenSci Slack (sent yours already) but have not been able to find their emails. If this is of interest, please send them to me at stefanie@ropensci.org.

[2021-10-04 16:16] adithirgis commented on #418
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.** Not Applicable

- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi)

[2021-10-04 17:31] juliasilge commented on #455
I was really happy to see @jmobrien's thorough review and I agree that working through some of his suggestions will address the problems with the documentation and error messages.

I'm not sure what we really mean by a difference between "retain" vs. "throw away" (just reverse the condition, which in the case of, say, IP addresses in/out of the US doesn't seem like a super one-way thing) but I thi

[2021-10-04 18:44] jmobrien commented on #455
I also will say that I generally agreed with all that @juliasilge said in her review and thought it was on point.  Where I didn't echo her sentiments directly, it was mostly for brevity because I was the second to submit and my review was already verbose.  I especially agree that the console reporting is a big sell here.

Here, @JeffreyRStevens, I'm understanding you as saying `exclude_duration([l

[2021-10-04 19:09] juliasilge commented on #455
I don't know that I'd recommend adding another set of functions to maintain here. And for the record, my opinion on the naming is not super strong either; I'm raising this mostly because this is something I've run into before and in the past I have always regretted when I have not used what already exists in terms of vocabulary, norms, idioms, function names, etc. and then later realized I could h

[2021-10-04 19:53] JeffreyRStevens commented on #455
Thanks you two for your thoughts on this. Yes, my thought was that `filter_`, `mark_`, and `exclude_` would more closely match the way `filter()` works (that is, it retains rows satisfying the condition). But I also share @jmobrien's point that `check_` might make more sense from a general user perspective even though `filter_` makes sense from a tidyverse user/developer perspective. I'll grapple

[2021-10-05 02:03] jmobrien commented on #455
That was one option, yes.  I guess in that simplifying approach `check` and `exclude` would need to recognize what parts that `mark` functions had looked at previously.  You could set that up a number of different ways.

You could also preserve the existing `check`/`exclude` function sets if you prefer a more standalone design where each verb can operate on fresh data directly.  Even then, as outl

[2021-10-05 04:09] maelle commented on #418
Thanks a lot @adithirgis for your careful review!

[2021-10-05 04:12] maelle commented on #418
@GLOrozcoM, @ogilani and @mmlawrence, both reviews are in now!

[2021-10-05 11:52] joelnitta opened #469 "presubmission inquiry for {canaper}: Categorical Analysis of Neo- and Paleo-endemism in R"
Submitting Author: Joel Nitta (@joelnitta)
Repository:  https://github.com/joelnitta/canaper
Submission type: Pre-submission

---

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) or [statistical package categories](https://stats-devguide.ropensci.org/overview.html#overview-catego

[2021-10-07 16:48] ewallace opened #470 "Submission tidyqpcr - Quantitative PCR analysis in the tidyverse"
**Date accepted:** 2022-06-10
Submitting Author Name: Edward Wallace
Submitting Author Github Handle: @ewallace
Other Package Authors Github handles: @DimmestP
Repository:  https://github.com/ewallace/tidyqpcr
Version submitted: 0.3.0
Submission type: Standard
Editor: @jooolia
Reviewers: @kelshmo
Due date for @kelshmo: 2021-11-19
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPT

[2021-10-09 22:16] JeffreyRStevens commented on #455
I'm close to finishing up revisions. I have a couple more changes to make and had two questions for @jmobrien.
1. When you referred to avoiding multiple passes on the data, did you mean within a function or are you concerned about running multiple `mark_*()` functions?
2. When you referred to using ellipses to pass arguments to (now) `check_*()` and `exclude+*()` functions, you suggested explicitl

[2021-10-10 09:12] GLOrozcoM commented on #418
@KevCaz - looking for your thoughts on post removing the JSON files. Totally agree that these seem unnecessary in the repo. If we do this, however, then the majority of tests will fail in CI/CD since these depend on the stored responses within the JSON files. I'm thinking of using the `skip_on_ci` option within `testthat` to skip tests in our CI/CD, but still have them run locally. Does this sound

[2021-10-11 05:04] danielvartan commented on #434
I would like to apologize for the delay in responding to reviewers' comments. I had some urgent tasks to handle and I wanted to take some time to be able to devote myself to the suggestions pointed out before submitting my answer.

I also would like to thank the editor @jooolia and both referees @jonkeane and @leocadio-miguel for dedicating their time to reviewing our package. I have tried my best

[2021-10-11 07:53] KevCaz commented on #418
@GLOrozcoM, I thought it would be better to remove those, but I would take @maelle's advice on this topic.

I may be wrong about that, but I think what's happening is a mismatch between expected and recorded responses. I'm guessing there is a mismatch between keys and so between calls to API, which leads to a mismatch between recorded JSON and what's expected. I guess a simple solution (not 100% i

[2021-10-12 07:44] msweetlove opened #471 "OmicsMetaData: an R-package for interoperable and re-usable biodiversity 'omics (meta)data"
Submitting Author Name: Maxime Sweetlove
Submitting Author Github Handle: @msweetlove
Other Package Authors Github handles: @ymgan, @Antonarctica
Repository:  https://github.com/biodiversity-aq/OmicsMetaData
Version submitted: 0.0.1
Submission type: Standard
Editor: @jooolia
Reviewers: @ginberg, @cpalmer718

Due date for @ginberg: 2021-12-26
Due date for @cpalmer718: 2022-02-19
Archive: TBD
Versio

[2021-10-12 08:35] msweetlove commented on #471
@mpadge the spaces have been added to the DESCRIPTION file in the repo: https://github.com/biodiversity-aq/OmicsMetaData

[2021-10-12 22:23] jonathancallahan opened #472 "MazamaSpatialUtils: Harmonized spatial datasets and spatial search functions"
Submitting Author: Jonathan Callahan (@jonathancallahan)
Repository:  https://github.com/MazamaScience/MazamaSpatialUtils
Submission type: Pre-submission

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) or [stat

[2021-10-13 15:17] DimmestP commented on #470
@ropensci-review-bot help

[2021-10-13 22:49] JeffreyRStevens commented on #455
OK, I think that I have addressed all of the concerns. Please let me know if I missed something or you have additional questions. Note that I have increased the version to 0.3.0 since I have made major changes to the code and deprecated a function.

## Responses to @juliasilge.
* Confusing error/documentation for `exclude_duplicates()`: This has been addressed by explicitly including arguments fro

[2021-10-14 15:43] maurolepore commented on #455
Thanks everyone! It's been great to watch this review.

Dear reviewers @juliasilge and @jmobrien,

[2021-10-15 10:34] jooolia commented on #434
very cool @danielvartan about the discussions spurred by your package and presentations. :)

[2021-10-15 20:13] quishqa opened #474 "qualR: An R package to download Sao Paulo and Rio de Janeiro air pollution data"
Submitting Author Name: Mario Gavidia-Calderón
Submitting Author Github Handle: @quishqa
Other Package Authors Github handles:  @Schuch666, @mftandra
Repository:  https://github.com/quishqa/qualR
Version submitted:0.9.5
Submission type: Standard
Editor:  TBD
Reviewers:  TBD

Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

-

[2021-10-15 22:55] quishqa commented on #474
@ropensci-review-bot help

[2021-10-17 21:07] danielvartan commented on #434
Hi @jonkeane ,

About the `gu()` comment. Unfortunately, that same check is used in several other functions (e.g., `mctq::so()`, `mctq::se`). A change only for `gu()` wouldn't resolve this issue.

The `checkmate` error messages can be a little unfriendly, but at least it have a regular pattern. Changing one check breaks this pattern, and, I think, this can be more detrimental for the user. That's

[2021-10-18 15:37] fiftysevendegreesofrad commented on #420
Hi all,

this package looks great!

Further to @Robinlovelace 's comment above, I have indeed been working on ways to auto-correct heights where interpolation of steep terrain results in lots of spurious elevation change. This rather seriously affected our cycling models of Chepstow where plenty of routes go along the top or bottom of cliffs; in that particular case I could correct them by hand bu

[2021-10-19 20:59] rkillick commented on #464
The goodpractice() checks came back with:
- Use <- instead of =
ts_frequency.R L120
- Lines longer than 80 characters:
ts_bind.R L58, L62
ts_first_of_period.R L12, L13, L18
test-ts_frequency.R L33

I had problems running covr() but see that it is passing on the checks above.  Please fix the above and I'll look to assign reviewers as these are small changes.

[2021-10-21 08:26] maelle commented on #382
Thank you for the updates! Do not hesitate to ask for help if needed.

[2021-10-26 09:07] joelnitta opened #475 "canaper: Categorical Analysis of Neo- And Paleo-Endemism in R"
**Date accepted:** 2022-09-14
Submitting Author: @joelnitta
Other Package Authors: (delete if none) Shawn Laffan (@shawnlaffan)
Repository:  https://github.com/joelnitta/canaper
Version submitted: 0.0.1
Submission type: Stats
Badge grade: silver
Editor:  @tdhock
Reviewers: @KlausVigo, @luismurao
Due date for @KlausVigo: 2021-11-24
Due date for @luismurao: 2021-12-21
Archive: TBD
Version accepted:

[2021-10-26 21:28] ddimmery opened #476 "Pre-submission Inquiry - tidyhte"
Submitting Author: Drew Dimmery (@ddimmery)
Repository:  https://github.com/ddimmery/tidyhte/
Submission type: Pre-submission

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) or [statistical package categories](

[2021-10-29 20:41] zambujo commented on #463
Hi @emilyriederer: @dieghernan thoroughly addressed all of my comments and suggestions. Great job!

[2021-10-29 21:37] sckott commented on #463
✅ @dieghernan has addressed my comments, nice work 🚀

[2021-10-30 05:17] danielvartan commented on #434
Thank you @jooolia, @jonkeane and @leocadio-miguel for all your attention and dedication in reviewing our package.

I learned a lot during this process and was very happy to be a part of and contribute to the rOpenSci initiative! I already have a few other package projects underway and will soon be submitting them to the same review process.

I've already transferred the package to rOpenSci and I'

[2021-10-30 10:04] danielvartan commented on #434
All set. Thanks again!

---

To-dos:
- [x] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [x] Fix all links to the GitHub repo to point to the repo under the ropensci organization.
- [x] Delete your current code of conduct file if you had one since rOpen

[2021-10-30 17:45] maurolepore commented on #429
Hi @jabiologo, it's time to remind you that this package continues on hold. Let me know whenever you're ready to proceed with the review. Else I'll touch base again around Jan 30, 2022, and if the hold continues I'll close this issue on April 30, 2022.

--

The author can choose to have their submission put on hold (editor applies the holding label). The holding status will be revisited every 3 mo

[2021-10-30 18:45] emilyriederer commented on #463
Approved! Congratulations, @dieghernan, for the great work, and thanks to @zambujo and @sckott  for your thoughtful reviews! :tada:

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Fix all links to the GitHub repo to point to the repo un

[2021-10-30 18:46] #463 closed

[2021-10-30 18:53] emilyriederer commented on #463
@dieghernan , I know I shared a *lot* in the message above, so I wanted to highlight one more specific item for your consideration. I think this package could be of very high interest to the rOpenSci community since it would apply generally across all domains. If you'd be interested in thinking about how this package could be highlighted in an rOpenSci blog post or [tech note](https://ropensci.org

[2021-10-30 20:45] JeffreyRStevens commented on #455
@maurolepore, what are the next steps now? FYI, I'm working on a paper for JOSS. I'm not sure if that should be part of the review here or just over at JOSS.

[2021-10-30 21:30] maurolepore commented on #455
@JeffreyRStevens,

I'm watching your discussion with the reviewers. Do you feel the ball is no longer on your court? If so I would ask the reviewers once again whether your changes sufficiently address any issues they raised in the review. Please confirm and I'll write a new comment with a `@mention` to them.

We no longer review submissions to JOSS, but do mention the review -- I think you might

[2021-10-30 21:48] JeffreyRStevens commented on #455
@maurolepore, yes, I think that I've addressed the reviewers concerns, and I'm waiting for their final approval. Thanks.

[2021-10-31 01:37] maurolepore commented on #455
Dear reviewers,

@jmobrien, do you have an estimate about when you might be able to confirm whether the changes made are sufficient to approve this package?

@juliasilge, it seems your last concern (return visibly) has been addressed. Is there anything else you'd like to request or do you confirm the changes made are sufficient to approve this package?

[2021-10-31 13:10] maelle commented on #418
@GLOrozcoM, @ogilani and @mmlawrence, any update? Thank you!

[2021-10-31 13:46] maelle commented on #418
I'm also wondering whether you know of https://github.com/USEPA/RAQSAPI that has been released on CRAN after your submission. (thanks @jhollist for telling me about it)

How do the two packages compare? E.g. important for the docs see the note about overlap in https://devguide.ropensci.org/building.html#documentation

[2021-10-31 14:10] jmobrien commented on #455
Mauro, and Jeffrey, apologies--I've had a remarkable variety of unexpected
home and family issues come up over just this past week.  I'm about to go
handle what I hope is the last of them, but I'll make it a priority to
finish everything tomorrow.  Thanks for your patience.

On Sat, Oct 30, 2021 at 8:37 PM Mauro Lepore ***@***.***>
wrote:

[2021-10-31 17:50] dieghernan commented on #463
Hi @emilyriederer, thanks! I am not able to transfer the repo, could you please double check? I’ll answer the rest of the comment on a later stage

[2021-11-01 01:03] emilyriederer commented on #463
Hi @dieghernan - my apologies. You should have now received an invitation to join a team within the `ropensci` organization. Please accept that and try the transfer. After it is complete, I will go in and make you an admin on the transferred repo.

[2021-11-01 05:08] dieghernan commented on #463
Repo transferred @emilyriederer!  By the way, the rOpenSci badge is still as "Under Review" (?)

[![peer-review](https://badges.ropensci.org/463_status.svg)](https://github.com/ropensci/software-review/issues/463)

Also ping @noamross

[2021-11-01 06:51] jooolia commented on #329
Email sent to raoul.wolf@hotmail.de and raoul.wolf@niva.no asking for an update. Otherwise I will close this issue if we do not receive a response in a week( by 8 November 2021).

[2021-11-01 10:00] emilyriederer commented on #463
Admin access granted!

[2021-11-01 15:53] stefaniebutland commented on #463
Hi @dieghernan, I'm rOpenSci's Community Manager. Congratulations on cffr passing review! Yes a post noted by Emily would be really valuable. Narrative and technical guidelines are in https://blogguide.ropensci.org/. If you're interested, please suggest when you would like to submit a draft. I recognize this is extra work, so no pressure intended here :-)

My colleague @steffilazerte would review

[2021-11-01 16:07] rkillick commented on #464
Reviewer: @brunaw
Due date: 2021-11-22

[2021-11-01 17:17] juliasilge commented on #455
For me, the changes have addressed the issues I was interested in, and I approve it moving forward. ✅

[2021-11-01 20:06] jmobrien commented on #455
This looks much better.  The modularization achieves a lot of the code streamlining I was hoping for, especially.

I think I'm ready to approve, except for one maybe-bug and maybe 1 or 2 suggestions:

**1. Small bug(?):**

`mark_ip()` checks for missing IPs (previews, mostly) and notes them, but doesn't actually mark those rows.  Thus, they aren't kept in `check_ip()` and they're left in with `exc

[2021-11-01 21:16] jooolia commented on #329
Response to email received today:

Thus I will add the holding label until 2022 and then we can revisit.

[2021-11-02 10:27] mpadge commented on #475
@tdhock Only just realised the command there has the wrong syntax - should be `add <@name> to reviewers`, like [this example](https://github.com/ropensci/software-review/issues/470#issuecomment-954890209). Could you please try again? Nevertheless good that you got this one wrong, because it made us realise we need the bot to tell you it didn't understand. Thanks!

[2021-11-02 11:35] maelle opened #479 "test initial value responder"
Submitting Author
**Reviewers:**
Submitting Author Name: Name
Other Package Authors Github handles: (comma separated, delete if none) @github_handle1, @github_handle2
Repository:
Version submitted:
Submission type: Standard
Editor:  TBD
Reviewers:  TBD

Archive: TBD
Version accepted: TBD
Language: en
---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please in

[2021-11-02 11:37] #479 closed

[2021-11-02 11:44] rkillick commented on #464
@ropensci-review-bot add @chamberlinc to reviewers

[2021-11-02 12:01] maelle commented on #464
@rkillick I've now added you to the editors team, sorry about this! You can now repeat the comment and it should work. Thanks for your patience!

[2021-11-02 12:04] rkillick commented on #464
@ropensci-review-bot add @chamberlinc to reviewers

[2021-11-02 12:05] rkillick commented on #464
@ropensci-review-bot add @brunaw to reviewers

[2021-11-02 12:41] maelle opened #480 "Tests"
Submitting Author Name: Name
Submitting Author Github Handle: @maelle
Repository:  https://github.com/ropensci-review-tools/pkgcheck
Version submitted: 1.0.0
Submission type: Standard
Editor:  TBD
Reviewers:  TBD

Archive: TBD
Version accepted: TBD
Language: en
---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from

[2021-11-02 12:41] maelle commented on #480
@ropensci-review-bot assign @maelle as editor

[2021-11-02 12:42] maelle commented on #480
@ropensci-review-bot seeking reviewers

[2021-11-02 12:42] maelle commented on #480
@ropensci-review-bot add @maelle to reviewers

[2021-11-02 12:42] maelle commented on #480
@ropensci-review-bot add @mpadge to reviewers

[2021-11-02 12:42] maelle commented on #480
My review blablablablabla

[2021-11-02 12:43] maelle commented on #480
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/480#issuecomment-957480012 time 3

[2021-11-02 12:50] maelle commented on #480
@ropensci-review-bot submit review #480 (comment) time 3

[2021-11-02 16:26] JeffreyRStevens commented on #455
@jmobrien, @juliasilge, @maurolepore, I have a question for you all.
I'm working on the issues raised above and have created a new function (in `utils.R`) called `keep_marked_column()` that is used in the `check_*()` functions. This function reads in the data, the name of the exclusion column that is created by the `mark_*()` function, and a flag for whether to keep the column in the output (as pe

[2021-11-02 16:39] maurolepore commented on #455
@JeffreyRStevens, I'm willing to help. Can you share the link to a branch or PR so I can pull it locally and reproduce the issue?

[2021-11-02 17:16] JeffreyRStevens commented on #455
@maurolepore, many thanks! It is just on the main branch at https://github.com/JeffreyRStevens/excluder.

[2021-11-02 17:17] jmobrien commented on #455
@JeffreyRStevens took a glance at it on your page.  Just a thought, but I'm actually wondering if simplest solution to what you're facing may be to just make the `column` argument of `keep_marked_column()` take a string instead of a bare name.  Then, just use `all_of()` inside each of the `select` and `relocate` functions?

The name being passed into `keep_marked_column()` is known and fixed for e

[2021-11-02 17:28] jmobrien commented on #455
Working with the current approach, might this work?

I haven't tested it in a build and @JeffreyRStevens might know something better/more best-practices, but I think it's an option.

[code]

[2021-11-02 17:51] maurolepore commented on #455
@JeffreyRStevens,

My local experiment suggests that adding `.data$` to your column names avoids the R CMD check NOTE. To confirm the checks on GitHub Actions I believe you'll need to approve the workflows somehow (apparently because I'm a first-time contributor to your package).

<img src=https://i.imgur.com/TRiWY1P.png width=500>

https://github.com/JeffreyRStevens/excluder/pull/5/files

My sugg

[2021-11-02 18:06] mpadge commented on #475
sorry @tdhock, another bot glitch there - bot commands have to be kept as just that, with no additional comments. And yes, the point of the above-linked issue is to aid consistency between analogous commands, so that will hopefully improve soon. In the meantime, could you please try again, again, with just the command? With due apologies and gratitude! :bowing_man:

[2021-11-02 18:08] tdhock commented on #475
@ropensci-review-bot add @KlausVigo to reviewers

[2021-11-02 19:23] dieghernan commented on #463
Hi @stefaniebutland, @steffilazerte

I’ll have a look and let you know a feasible date for the blog post.

I was also thinking on submitting the package to CRAN, and I wonder if submitting it before or after you publish the post. The package is almost ready for it.

What are your views on this? Regards

[2021-11-02 20:19] JeffreyRStevens commented on #455
@jmobrien
1. Small bug(?):
I have now added a flag in `mark_ip()` that tracks whether to include NAs.

2. marking columns in check_*() functions
I have now added a flag in the `check*_()` functions that tracks whether to keep (and move to the first column) the exclusion column or remove it.

3. Exclusions for exclude_*()?
This is an interesting idea that I would like to think about a bit before do

[2021-11-02 20:47] stefaniebutland commented on #463
I can't think of a specific reason to choose publishing before or after CRAN (Steffi how about you?). It's up to you. We could have your post in a pull request, reviewed and ready to publish once on CRAN if you prefer that.

[2021-11-02 21:10] steffilazerte commented on #463
I think it's up to you as well. I can't imagine that CRAN would have you change anything major that would affect the user experience, and we generally have you link to the ropensci docs page (not to the CRAN page), so it shouldn't matter in the blog post.

[2021-11-03 12:42] maelle commented on #475
@tdhock sorry for all the hiccups! The initial issue body had been edited after your username was added so your username was no longer in the string ` @tdhock` I edited it again so you can try again. Thanks for your patience!

[2021-11-03 16:11] tdhock commented on #475
@ropensci-review-bot add @KlausVigo to reviewers

[2021-11-03 17:26] GLOrozcoM commented on #418
@maelle thank you for asking! We do have an update, but wanted to wait until our branches with fixes were merged and tested internally before posting specific commits. However, what we've worked on and are close to releasing is:
1. Solving testing - allowance for remote mock files, downloading, and shorter path lengths to these.
2. General code and gp/dev checks mentioned by both reviewers above -

[2021-11-04 00:53] JeffreyRStevens commented on #455
I have increased testing coverage with some additional tests. @jmobrien, does this meet your final approval?

[2021-11-04 01:20] maurolepore commented on #455
-- https://github.com/ropensci/software-review/issues/455#issuecomment-956550189

The way I interpret @jmobrien's comment is that he didn't need another round of review. You have addressed all his latest comments, so congratulations @JeffreyRStevens -- excluder is approved!

And once again thanks @juliasilge and @jmobrien for your amazing work!

I'll follow up soon with some more comments and inst

[2021-11-04 01:33] maurolepore commented on #455
@ropensci-review-bot approve excluder

[2021-11-04 01:33] #455 closed

[2021-11-04 01:34] maurolepore commented on #455
@ropensci-review-bot approve excluder

[2021-11-04 01:41] maurolepore commented on #455
@JeffreyRStevens I think the comment above includes everything you except two things:

1. As you intend to submit to CRAN, please see https://devdevguide.netlify.app/building.html#crangotchas

2. See the links under [Package promotion](https://devdevguide.netlify.app/editorguide.html#package-promotion).

[2021-11-04 01:46] JeffreyRStevens commented on #455
This is fantastic news! Many thanks @maurolepore, @juliasilge, and @jmobrien for the time and effort you have put into reviewing this package. It is soooo much better after your review, and I have learned a ton.

[2021-11-04 09:22] maelle commented on #418
Thanks for the update!

[2021-11-04 14:04] JeffreyRStevens commented on #455
@maurolepore, I believe I have fully transitioned the package over to rOpenSci. The one remaining issue that I can't sort out is how to change the URL link in the About section of the GitHub page (https://github.com/ropensci/excluder) to https://docs.ropensci.org/excluder/. It is currently still linking to jeffreyrstevens.github.io/excluder even though I have changed all of the links in the repo.

[2021-11-04 14:08] maelle commented on #455
@JeffreyRStevens I've made you admin of your repo again, so you should be able to make changes now.

Admin rights are always lost during transfer, but we're working on a bot command for allowing package authors themselves to reclaim them. You'll experience a smoother experience if you submit a second package. :wink:

[2021-11-04 14:11] jmobrien commented on #455
Sorry @JeffreyRStevens  and @maurolepore, my internet was out almost all of yesterday and I was dealing with that. But @maurolepore was correct about my stance.  Just so it's explicit: I'm happy about the changes and am glad to see this approved!  Congrats!

[2021-11-04 16:09] JeffreyRStevens commented on #455
Many thanks @maelle and @maurolepore. I have now changed the URL.
And thanks, @jmobrien!

[2021-11-04 16:25] dieghernan commented on #463
Hi @steffilazerte @emilyriederer

I think I could send a draft post by the end of the next week. So assuming at least one week for reviewing and that the posts are usually published on Tuesday (as per the [Blogguide](https://blogguide.ropensci.org/content.html) the first feasible publishing date would be **Nov. 23 2021**.

Let me know what you think,

Regads

[2021-11-04 19:02] stefaniebutland commented on #463
Just fyi, @maelle & others wrote this post in Feb 2021: [Make Your R Package Easier to Cite](https://ropensci.org/blog/2021/02/16/package-citation/). So you know what rOpenSci has said on the topic before.

Steffi and I agreed Nov 23 is a good tentative publication date.

[2021-11-05 00:29] dieghernan commented on #463
And it is on CRAN! https://cran.r-project.org/package=cffr

[2021-11-06 17:52] emilyriederer commented on #463
Congratulations, @dieghernan ! That's fantastic news!

[2021-11-08 06:18] Yangcq-Ivy opened #483 "NicheBarcoding: Species Identification using DNA Barcodes Integrated with Environmental Niche Models."
**Reviewers:**
Submitting Author Name: Cai-qing Yang
Submitting Author Github Handle: @Yangcq-Ivy
Other Package Authors Github handles: @zhangab2020
Repository:  https://github.com/Yangcq-Ivy/NicheBarcoding
Version submitted: 1.0
Submission type: Standard
Editor:  TBD
Reviewers:  TBD

Archive: TBD
Version accepted: TBD
Language: en
---

-   Paste the full DESCRIPTION file inside a code block below

[2021-11-08 18:54] ldecicco-USGS commented on #483
Hi @Yangcq-Ivy ! Thanks for the submission. We need the submission to be a git repository of the package... not a repository with a single  binary tarball of the package. For example, notice the structure of one of the most recent packages in rOpenSci is shown here:
https://github.com/ropensci/excluder

Let me know when you restructure your repository, and I'll kick off the initial checks again, t

[2021-11-08 19:41] ldecicco-USGS commented on #474
Hi @quishqa , I'm still asking around for reviewers (I've reached out to a few that have declined because they are busy). I just wanted to let you know it's taking a bit longer than usual, sorry about that.

[2021-11-09 20:13] dylan-turner25 opened #484 "rfema: access data through the FEMA API."
**Date accepted:** 2022-01-23
**Reviewers:**
Submitting Author Name: Dylan Turner
Submitting Author Github Handle: @dylan-turner25
Repository:  https://github.com/dylan-turner25/rfema
Version submitted: 0.0.0.9000
Submission type: Standard
Editor: @emilyriederer
Reviewers: @fmichonneau, @fawda123
Due date for @fmichonneau: 2021-12-10
Due date for @fawda123: 2021-12-14
Archive: TBD
Version accepted

[2021-11-09 20:59] quishqa commented on #474
Hi @ldecicco-USGS , thanks for the update. We're looking forward to the review.

[2021-11-09 22:53] ldecicco-USGS commented on #474
@ropensci-review-bot assign @beatrizmilz as reviewer

[2021-11-10 00:47] ekothe commented on #435
Thanks everyone for your comments, suggestions, and queries. We’re very fortunate to have such expert and generous reviewers and this package will be vastly improved for your input. I apologise for the delay in putting together this response (at this point it seems old hat to blame the pandemic - but we went back into lockdown for much of this year and it was incredibly disruptive).

Responses to

[2021-11-10 01:45] juliasilge commented on #435
This is looking great!

- I think “manylevels_en” and “fewlevels_en” is a big improvement and much clearer.
- Looks like you have some merge conflict leftovers here: https://ropenscilabs.github.io/gendercoder/articles/a01_rationale.html#contributing-to-this-package-1

[2021-11-10 10:13] Yangcq-Ivy commented on #483
Dear Laura,

Sorry for the trouble! I have just re-uploaded the package into a git repository.
Please check them through the previous link: https://github.com/Yangcq-Ivy/NicheBarcoding
Let me know if there is anything else I can do! Thanks a lot!

Yours,
Cai-qing Yang

At 2021-11-09 02:54:18, "Laura DeCicco" ***@***.***> wrote:

Hi @Yangcq-Ivy ! Thanks for the submission. We need the submission to

[2021-11-10 13:12] ldecicco-USGS commented on #474
@ropensci-review-bot add @beatrizmilz to reviewers

[2021-11-10 13:15] ldecicco-USGS commented on #483
@ropensci-review-bot check package

[2021-11-10 17:24] dylan-turner25 commented on #484
@ropensci-review-bot check package

[2021-11-10 17:25] dylan-turner25 commented on #484
The most recent commit has attempted to address all of the failed initial checks.

[2021-11-10 19:06] ldecicco-USGS commented on #484
@ropensci-review-bot check package

[2021-11-10 19:47] jooolia commented on #471
@ropensci-review-bot add @orchid00 to reviewers

[2021-11-10 19:49] jooolia commented on #471
Hello @orchid00 ! thanks for agreeing to review. I am still looking for a second reviewer and we did agree that your review would have a later due date of December 15th (however if it is done earlier that is great).

[2021-11-11 13:12] ldecicco-USGS commented on #474
@ropensci-review-bot add @kauedesousa to reviewers

[2021-11-12 08:27] Yangcq-Ivy commented on #483
Dear reviewer,

We have updated / supplemented the relevant documents according to the check list.
Please find them through the link: https://github.com/Yangcq-Ivy/NicheBarcoding
Thanks so much for the checks on the package!

Sincerely,
Cai-qing Yang

At 2021-11-10 21:15:59, "ropensci-review-bot" ***@***.***> wrote:

Checks for NicheBarcoding (v1.0)

git hash: 9abfa9fa

✔️ Package name is availabl

[2021-11-12 15:05] ldecicco-USGS commented on #483
@ropensci-review-bot check package

[2021-11-12 15:08] maelle commented on #483
@ldecicco-USGS I've fixed the HTML variable, can you please try again? Thanks for your patience!

[2021-11-12 15:25] ldecicco-USGS commented on #483
@ropensci-review-bot check package

[2021-11-12 17:21] ldecicco-USGS commented on #484
@ropensci-review-bot assign @emilyriederer as editor

[2021-11-12 23:03] emilyriederer commented on #484
Hi @dylan-turner25 ! 👋 It's nice to meet you, and I'm excited to be working with you on this package. I'm going to start seeking out good reviewers for this package. In the meantime, I wanted to direct your attention to a few items from the automated checks:

- `lintr` suggests you have a lot of lines >80 characters long. For readability, it might be helpful to shorten. You can run [`lintr::lint_p

[2021-11-15 13:12] dylan-turner25 commented on #484
@emilyriederer , thank you for the initial comments. The latest commit for the package has attempted to address each of these.

[2021-11-15 17:03] oggioniale opened #485 "Submission: ReLTER"
**Date accepted:** 2022-04-27
**Reviewers:**
Submitting Author Name: Alessandro Oggioni
Submitting Author Github Handle: @oggioniale
Other Package Authors Github handles: (comma separated, delete if none) @micha-silver, @ptagliolato
Repository:  https://github.com/oggioniale/ReLTER
Version submitted: 1.0.0
Submission type: Standard
Editor: @maurolepore
Reviewers: @WillOnGit, @allisonhorst
Due date

[2021-11-16 00:24] emilyriederer commented on #484
Thanks @dylan-turner25 ! I'll take another look. I've also started reaching out to prospective reviewers.

[2021-11-16 00:25] emilyriederer commented on #484
@ropensci-review-bot check package

[2021-11-16 20:51] micha-silver commented on #485
I put a CONTRIBUTING.md file into the dev branch. It's just a template that was suggested on the rOpenSci page, and I edited it so the URL to your github was correct.

[2021-11-17 17:43] ldecicco-USGS commented on #483
Hi @Yangcq-Ivy and @zhangab2020. Before we can make a good choice on if the `NicheBarcoding` package is a good fit for rOpenSci, you'll need to add some more information in a vignette, as well as adding tests via the `testthat` package. See:
https://devguide.ropensci.org/ci.html for a lot more information, as well as a good overview of `testthat` here:
https://testthat.r-lib.org/

In the meantime,

[2021-11-17 17:45] ldecicco-USGS commented on #483
Another good resource for testing:
https://r-pkgs.org/tests.html

[2021-11-17 17:47] ldecicco-USGS commented on #485
@ropensci-review-bot check package

[2021-11-17 17:54] ldecicco-USGS commented on #443
@ropensci-review-bot check package

[2021-11-17 18:11] wlandau opened #486 "gittargets: data version control for the targets package"
**Date accepted:** 2022-01-12
Submitting Author Name: Will Landau
Submitting Author Github Handle: @wlandau
Repository:  https://github.com/wlandau/gittargets
Version submitted: 0.0.0.9000
Submission type: Standard
Editor: @adamhsparks
Reviewers: @smwindecker, @mdneuzerling
Due date for @smwindecker: 2021-12-20
Due date for @mdneuzerling: 2021-12-28
Archive: TBD
Version accepted: TBD
Language: en

[2021-11-17 18:17] wlandau commented on #486
Sorry about that, should be fixed now.

[2021-11-17 18:53] ldecicco-USGS commented on #486
@ropensci-review-bot check package

[2021-11-17 18:58] wlandau commented on #486
`gittargets` requires command line Git in order for `git-lfs` to work (related: https://github.com/r-lib/gert/issues/160). The majority of tests will automatically be skipped if `tar_git_ok()` returns `FALSE`. Is there still a path forward?

[2021-11-17 19:38] ldecicco-USGS commented on #486
Yeah, that makes sense. I'll get started on getting this moving.

[2021-11-17 19:39] mpadge commented on #486
And I'll check out why coverage might have failed tomorrow, although git is definitely installed. @wlandau Nothing you need to worry about, thanks.

[2021-11-17 19:44] mpadge commented on #443
Sorry @ldecicco-USGS, the submission templates have changed somewhat since that submission. I've edited to new expected form, so should be okay to try again.

[2021-11-17 19:49] ldecicco-USGS commented on #443
@ropensci-review-bot check package

[2021-11-17 19:59] wlandau commented on #486
Thank you both!

Related: I have not been able to correctly set up Git on the Windows GitHub Actions for `gittargets`. I tried a bunch of different approaches, but I still get errors claiming I need to configure `git config --global user.name` and `git config --global user.email`.

[2021-11-18 13:14] ldecicco-USGS commented on #486
@ropensci-review-bot assign @adamhsparksas editor

[2021-11-18 13:43] ldecicco-USGS commented on #486
@ropensci-review-bot assign @adamhsparks as editor

[2021-11-18 21:27] ldecicco-USGS commented on #472
Thanks again for submitting @jonathancallahan . The editors have had a chance to take a look at this package, and while it is cool and certainly useful within the lego set of air quality monitoring tools, we think this "brick" is too narrow scope for rOpenSci.

You might want to consider Noam's comment about refactoring from `sp` to `sf`. The maintainer of the `sp` package directly recommends usin

[2021-11-18 21:27] #472 closed

[2021-11-18 23:09] jonathancallahan commented on #472
Thanks again for taking the time to review. I agree that refactoring to use **sf** is in order and I hope to get to that over the winter.

Best wishes for health and success in 2022!

[2021-11-18 23:57] emilyriederer commented on #484
Thanks for the update @dylan-turner25 ! Adding the first reviewer now and still in search of a second

[2021-11-18 23:58] emilyriederer commented on #484
@ropensci-review-bot @fmichonneau as reviewer

[2021-11-18 23:58] emilyriederer commented on #484
@ropensci-review-bot seeking reviewers

[2021-11-19 00:01] emilyriederer commented on #484
@ropensci-review-bot @fmichonneau as reviewer

[2021-11-19 00:01] emilyriederer commented on #484
@ropensci-review-bot add @fmichonneau as reviewer

[2021-11-19 01:10] adamhsparks commented on #486
@ropensci-review-bot check package

[2021-11-19 10:19] jooolia commented on #470
@ropensci-review-bot add @wolski to reviewers

[2021-11-19 10:20] jooolia commented on #470
Thanks @wolski for agreeing to review this package.

[2021-11-19 19:08] see24 opened #488 "ccviR: NatureServe Climate Change Vulnerability Index"
Submitting Author
**Reviewers:**
**Editor:**
Language Code
Submitting Author: Sarah Endicott (@see24)
Repository:
Submission type: Pre-submission

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) or [statistical

[2021-11-19 22:52] raynamharris commented on #458
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**

None. I have never met the author or contributors.

- [x] As the reviewer I confirm that there are no [conflicts of interest](https://dev

[2021-11-20 00:01] kelshmo commented on #470
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revie

[2021-11-22 09:46] annakrystalli commented on #458
Thank you so much @raynamharris for your review!

@cromanpa94 , I am unfortunately having trouble finding the second reviewer so I would wait to make changes in response to @raynamharris 's review at this until all reviews are in, at least in the `main` branch. I will continue to look for a second reviewer but if I have not by the end of the week, I will do the review for you. Does that sound good

[2021-11-22 09:48] annakrystalli commented on #458
@ropensci-review-bot assign @raynamharris to reviewers

[2021-11-22 09:49] annakrystalli commented on #458
@ropensci-review-bot assign @annakrystalli as editor

[2021-11-22 09:50] annakrystalli commented on #458
@ropensci-review-bot add @raynamharris to reviewers

[2021-11-22 20:24] ldecicco-USGS commented on #488
I think there is some potential for this to be considered "scientific software wrappers". Until the repo can be made public however, I don't think we can make any further considerations.

[2021-11-22 20:24] #488 closed

[2021-11-22 20:36] ldecicco-USGS commented on #485
Hi @oggioniale ! Thanks for the submission. Once you've made appropriate changes, can you run `pkgcheck::pkgcheck()` yourself  and confirm the summary at the top (or result of summary() applied to check results) gives all ✔️ and no ✖️? It should also confirm, "This package may be submitted." Thanks!

Similarly, if you want to look at the `goodpractice` output, you can run that locally with `goodpr

[2021-11-23 06:39] maelle commented on #418
@GLOrozcoM, @ogilani and @mmlawrence, any new update?

[2021-11-23 06:40] maelle commented on #382
:wave: @bretsw @jrosen48! Any new update on your progress?

[2021-11-23 08:25] oggioniale commented on #485
Hi @ldecicco-USGS! Sorry for the delay.
We are working to fix all the items with ✖️.
We are taking a few more hours to complete the various checks.
Thank you

[2021-11-23 11:19] DimmestP commented on #470
Thanks so much for reviewing our package @kelshmo, I am glad our hard work is paying off. I've had a quick look at your comments and they all seem very relevant (and relatively quick fixes). We will wait for the next review to come back before actioning any of them though.

[2021-11-23 14:25] bretsw commented on #382
We're getting there! Fixed all the VCR and testing issues and have updated quite a bit of the requested explanations. Still a little bit to do, but we're making significant progress.

[2021-11-23 14:36] emilyriederer commented on #484
@ropensci-review-bot add @fawda123 as reviewer

[2021-11-23 14:37] emilyriederer commented on #484
@dylan-turner25 - please meet your reviewers @fawda123 and @fmichonneau ! Thanks so much to them both for volunteering their time. I'm excited to hear their thoughts on this package.

[2021-11-23 14:54] maelle commented on #382
Awesome, thanks for the update!

[2021-11-23 15:40] ldecicco-USGS commented on #485
@ropensci-review-bot assign @maurolepore as editor

[2021-11-23 19:04] GLOrozcoM commented on #418
Hi @maelle, appreciate your patience! We’ve got a load of updates. I’ll point to our latest version in the master branch (https://github.com/GLOrozcoM/epair) that address all of the following.

1. Passing tests remotely and on local using mock files.
    1. Path lengths for mock files cut out.
    2. Use of redact functionality in httptest to avoid any accidental credentials showing.
2. Examples t

[2021-11-23 19:06] GLOrozcoM commented on #418
Also, @maelle ,  :re your question regarding difference/overlap with `RAQS`.
The aim of both packages is the same - both `epair` and `RAQS` aim to provide an R framework that make calls to the EPA's AQS data mart.
- Two differences, in our opinion, set `epair` apart.
It provides built in caching through R.cache. We believe this will help users setting up data pipeline integrations by avoiding unne

[2021-11-23 22:16] ekothe commented on #435
Thanks @juliasilge - I've removed the conflicted text (there was also some in the "manylevel_en.Rd"

We really appreciate the feedback on the dictionary names - even as a user of the package I'm finding them more intuitive 😄

[2021-11-24 00:20] juliasilge commented on #435
I've got a couple of "clean up" notes from my previous review, I believe:

- Can you link to the vignette on how to add a new dictionary in the contributing section of the README?
- There are some inconsistencies in how `manylevels_en` and `fewlevels_en` are referred to in text like the README, both with and without backticks. I'd recommend choosing one and sticking with it.
- Why is the example f

[2021-11-24 19:46] wolski commented on #470
@DimmestP
Dear package developers. I fully agree with the comments made by @kelshmo. However, if they are a relatively quick fix, then please fix them quickly!  First, we could avoid redundant comments from my side, and I could more easily focus on different aspects of your package.

For instance, I typically go through vignettes by executing code chunks, and relative paths don't work.

[code]

[2021-11-24 19:50] wolski commented on #470
BDW., my understanding is that the review process should be interactive. So I will be getting back to you with comments and questions on this issue before submitting the "formal" review.

[2021-11-24 20:12] ewallace commented on #470
@wolski thank you! @DimmestP and I will talk, and see if we can get these fixed quickly enough for your review timeline. We welcome your comments and questions.

[2021-11-25 00:08] adamhsparks commented on #486
Hi Will, sorry for the delays. I'll endeavour to complete my checks today and start looking for reviewers so we can at least have some assigned before Christmas.

[2021-11-25 05:13] adamhsparks commented on #486
### Editor checks:

- [ ] **Documentation**: The package has sufficient documentation available online (README, pkgdown docs) to allow for an assessment of functionality and scope without installing the package. In particular,
    - [ ] Is the case for the package well made?
    - [ ] Is the reference index page clear (grouped by topic if necessary)?
    - [ ] Are vignettes readable, sufficiently

[2021-11-25 07:52] maelle commented on #418
Thanks @GLOrozcoM for the update and congrats on all the progress!

When you are done, could you write responses to reviewers? Then if they have time they can sign off (or I'd check things myself). See the second to last item on https://devguide.ropensci.org/authors-guide.html Thank you!

I'd say this is a change best tackled now indeed, as you get the benefit of the external advice on the changes

[2021-11-25 16:01] annakrystalli commented on #458
@ropensci-review-bot add @fboehm to reviewers

[2021-11-25 16:12] annakrystalli commented on #458
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/458#issuecomment-974524115 time 8

[2021-11-25 19:10] helske opened #489 "Submission of bssm for Bayesian state space modelling"
Submitting Author: Jouni Helske (@helske)
Other Package Authors: (delete if none) Name (@mvihola)
Repository:  https://github.com/helske/bssm
Version submitted: 2.0.0
Submission type: Stats
Badge grade: silver
Editor:  TBD
Reviewers:  TBD

Archive: TBD
Version accepted: TBD
Language: en
---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Pre-submission Inquiry

- [ ] A

[2021-11-26 18:25] cromanpa94 commented on #458
@annakrystalli, that sounds good to me! Thank you so much for your time! I will start working on the next release once all the reviews are in. @raynamharris – your comments are great. I'm so glad you find some functions to be especially useful! I will try to improve the connection between `tree.*` functions. Thank you both (and @fboehm in advance)!

[2021-11-27 16:39] maurolepore commented on #485
Hello @oggioniale, it's my pleasure to be the editor of this submission. I'll start working on this now. Expect some comments within the next couple of days.

[2021-11-27 19:41] wlandau commented on #486
Thanks, @adamhsparks! I am excited too.

[2021-11-28 09:33] GLOrozcoM commented on #418
@maelle Thank you! Also, thank you for pointing out the author's guide as well. We'll make sure to structure our update in the suggested format.

When complete, I or someone on the team will post an update here.

[2021-11-29 03:53] adamhsparks commented on #486
@ropensci-review-bot add @smwindecker to reviewers

[2021-11-29 13:07] rudeboybert opened #491 "Using GitHub Actions continuous integration to automate quality assurance and control of data on ecological dynamics"
Submitting Author
**Reviewers:**
**Editor:**
Language Code
Submitting Author: Albert Y. Kim (@rudeboybert)
Other Package Authors: Valentine Herrmann (@ValentineHerr), Kristina Anderson-Texeira (@teixeirak)
Repository:  https://github.com/SCBI-ForestGEO/SCBImortality
Submission type: Pre-submission

---

-   Paste the full DESCRIPTION file inside a code block below:

Note this `DESCRIPTION` file do

[2021-11-29 13:13] beatrizmilz commented on #474
Hi! Thank you for the invitation to review the package @ldecicco-USGS and congratulations to the authors!

Here is my review:

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**

- [x] As t

[2021-11-29 16:20] ldecicco-USGS commented on #491
I'm a huge fan of automated checks and using GitHub Actions. We do require submissions to be R packages however.

On one hand, it might be a good idea for you to bundle all of your scripts into a package. You can still call the same "scripts", but it would be a function call. This would give you the chance to split up the scripts into smaller functions and document each step. It would also help pe

[2021-11-30 11:09] chainsawriot commented on #386
Hello, I've managed to update readODS according to the reviewers' comments. Sorry for the super long delay.

May I first address @emmamendelsohn comments?

## Documentation

* Consider mentioning the list_ods_sheets() function in the vignette/README. I sometimes use readxl::excel_sheets(), so I imagine the equivalent would be useful for .ods users.

The usage of `list_ods_sheets()` is added.

http

[2021-11-30 11:51] Yangcq-Ivy commented on #483
Dear reviewers,
We have just re-uploaded our package and added the necessary elements that missing in the previous version.
Thanks very much for your careful check! Looking forward to more suggestions for improving the package.

[2021-11-30 12:32] chainsawriot commented on #386
@adamhsparks 's comments

## Vignettes

* I would state that PlantGrowth dataset comes from datasets before illustrating how to use it to help new users that aren't familiar with R and the available resources

I've made it explicit that `PlantGrowth` is from `datasets`

https://github.com/chainsawriot/readODS/blob/cfd484e1baf1c8da9013d48fa9fb7f150adb3bc9/vignettes/overview.Rmd#L25

* For clarity,

[2021-11-30 12:33] chainsawriot commented on #386
@noamross Once again, I am really sorry for the great delay. Please let me know what I should do next. Thank you very much!

[2021-11-30 12:46] oggioniale commented on #485
Dear @maurolepore,
we finish the check of the package following the suggestions and using the goodpractice::gp().
After this, now the response is "Wee! Fabulous package! Keep up the incredible work!"
So now the package may be submitted.

Regards
Ale

[2021-11-30 15:01] mpadge commented on #485
sorry @maurolepore just working on that - it'll be back up soon, and checks will appear here. @oggioniale note you can and should [run these checks locally with `pkgcheck::pkgcheck()`](https://docs.ropensci.org/pkgcheck/) to confirm "this package may be submitted" prior to proceeding further.

[2021-11-30 15:42] maurolepore commented on #485
Thanks @mpadge! I believe @oggioniale diligently did run `pkgcheck::pkcheck()` locally. My call to the bot was just to confirm and leave a formal record here.

[2021-11-30 16:37] mpadge commented on #485
@oggioniale @maurolepore Our system has been updated a bit since the initial checks. You'll notice it now reports:

- :heavy_multiplication_x: Package has no continuous integration checks.

This is true, and the previous reports which gave a :heavy_check_mark: for that were inaccurate. Details of the build failure can be seen in the *goodpractice and other checks* section.

[2021-11-30 16:57] maurolepore commented on #485
@oggioniale I'm working on a comment that I'll post soon with advice including how to add CI. You may want to wait a bit.

[2021-11-30 17:21] oggioniale commented on #485
@maurolepore :-) I wait your comment.

[2021-11-30 17:55] tdhock commented on #475
@ropensci-review-bot add @luismurao to reviewers

[2021-11-30 21:12] cboettig opened #492 "gbifdb: Local Database Interface to 'GBIF'"
**Date accepted:** 2022-03-22
Submitting Author Name: Carl Boettiger
Submitting Author Github Handle: @cboettig
Repository:  https://github.com/cboettig/gbifdb
Version submitted: 0.1.0
Submission type: Standard
Editor: @jhollist
Reviewers: @Pakillo, @stephhazlitt
Due date for @Pakillo: 2022-01-10
Due date for @stephhazlitt: 2022-01-10
Archive: TBD
Version accepted: TBD
Language: en

---

-   Paste

[2021-12-01 02:49] maurolepore commented on #485
Dear @oggioniale,

Thanks again for this submission and for you latest improvements. Soon I'll
search for two reviewers that will help you make this package even better, but
first I would like to note some issues I see.

All issues are numbered in case you need to refer to them in your response. Some
issues have a check-box -- please address them as soon as possible; I'll search
for reviewers once

[2021-12-01 03:38] quishqa commented on #474
Hi @beatrizmilz thanks a lot for your detailed review, we'll be solving all the observations in the following days 👍🏽

[2021-12-01 05:11] maelle commented on #492
I fixed the submission (HTML comments were missing, they're needed for the bot @cboettig :slightly_smiling_face:).

[2021-12-01 12:21] rudeboybert commented on #491
Many thanks for your prompt response @ldecicco-USGS, and thanks for the pointer to `tic`. Please feel free to close this issue.

@stefaniebutland I am curious about the process for submitting an rOpenSci blogpost; could we communicate over email? albert.ys.kim@gmail.com

[2021-12-01 16:10] ldecicco-USGS commented on #492
@ropensci-review-bot check package

[2021-12-01 16:11] ldecicco-USGS commented on #483
@ropensci-review-bot check package

[2021-12-02 05:30] cboettig commented on #492
Thanks! I think most of these issues are resolved in the repo now (e.g. by commit https://github.com/cboettig/gbifdb/commit/46b2cb4fb0b180a767c8f091d00533d024d3ea3c or prior).

Coverage is still less than 75% because I do not test `gbif_download()`.  This function downloads over 100 GB of data over AWS sync.  This is a thin wrapper around aws.s3::s3_sync(), and I don't think anything is gained by

[2021-12-02 15:02] noamross commented on #489
@ropensci-review-bot assign @bbolker as editor

[2021-12-02 15:07] #491 closed

[2021-12-02 17:22] ldecicco-USGS commented on #492
@ropensci-review-bot check package

[2021-12-02 19:53] haozhu233 commented on #443
@makinin Hi Marija, sorry for the long delay. For some reason I didn't see your reply.

In terms of the coverage issue, I noticed that the codecov.yml was changed since the last working check. Can you try to put back this removed line and see how it goes?

https://github.com/makinin/rdbhapi/blob/4dfe1f52b26c69c381b851df9290d8afb990a84c/codecov.yml#L14

[2021-12-02 20:36] mpadge commented on #492
@cboettig This is the first submission with an `arrow` dependency, for which standard installation of system libraries are inadequate. I'll rebuild the check system with a pre-install of arrow, and your package will at least pass R CMD check. Thanks for the good test case!

[2021-12-02 20:36] ldecicco-USGS commented on #492
@ropensci-review-bot assign @jhollist as editor

[2021-12-02 22:05] cboettig commented on #492
Thanks @mpadge , but it's good to discover these errors now!  I forgot that `arrow` could optionally be built without S3 support.  I've added checks so the test will skip if `arrow::arrow_info()` reports that we arrow was built without s3 capability.  (No doubt CRAN has at least one machine where that is also the case.  Realistically I will need to skip that check on CRAN too I think; the operatio

[2021-12-03 10:26] oggioniale commented on #485
Dear @maurolepore,
I checked step by step the issues.

- [x] (01) issue solved by [commit fe3cb18](https://github.com/oggioniale/ReLTER/commit/fe3cb1852741fe06048df0cecd2a7db28a400d46)

- [x] (02) by the use of `usethis::use_github_action("check-standard")` following the suggestion of [GitHub Actions for the R language page](https://github.com/r-lib/actions/blob/v1/examples/README.md)
issue solved

[2021-12-03 11:20] jooolia commented on #470
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/470#issuecomment-974548665 time 2

[2021-12-03 11:21] jooolia commented on #470
@kelshmo thank you very much for your review!

[2021-12-03 12:37] jooolia commented on #471
Dear @msweetlove ,
I am still looking for a second reviewer. Thanks, Julai

[2021-12-03 13:50] wolski commented on #470
@ewallace @DimmestP

I already have a few observations about what you have written about tidyqpcr and other packages in the section:

 "Are there other R packages that accomplish the same thing? If so, how does yours differ or meet our criteria for best-in-category?"

You explicitly mention the package qpcR and pcr.

Your write "qPCR analysis package relying on an object-oriented approach using S4

[2021-12-03 14:46] maurolepore commented on #485
@ropensci-review-bot check package

[2021-12-03 15:48] jhollist commented on #492
Hi,@cboettig!  Looking forward to working on this with you!  I am full up today, but wanted to let you know that I have this on my radar and will start working on it early next week.

[2021-12-03 21:02] maurolepore commented on #485
Thanks @oggioniale!

* 01 and 02: Thanks! I checked the boxes for license and CI in the section _Technical checks_ at the top. I now see the new file LICENSE -- R CMD check should throw a NOTE because it's a non-standard file. Did you run `usethis::use_gpl3_license()`? This should add not LICENSE but LICENSE.md and an entry in .Rbuildignore. For example:

[code]

* 03: Please see the [bot checks a

[2021-12-05 04:58] jooolia commented on #470
@kelshmo could you email me your current email address at j.gustavsen@gmail.com ? thanks!

[2021-12-05 05:02] jooolia commented on #470
Thanks for the questions @wolski. I will let the authors reply. One thing that I want to note is that currently we do not require any discussion of the lifecycle of a package like we do for our statistical  software review, but it is under discussion here: https://github.com/ropensci/dev_guide/issues/366

[2021-12-05 05:07] jooolia commented on #471
@ropensci-review-bot add @ginberg to reviewers

[2021-12-05 05:08] jooolia commented on #471
Dear @ginberg thanks for agreeing to review!

[2021-12-05 14:23] emilyriederer commented on #484
Hi @fawda123 and @fmichonneau ! I hope you both are doing well. This is just a friendly reminder that the target review deadline for `rfema` is about a week away. Let us know if you have any questions or concerns. Otherwise, looking forward to seeing all of your feedback!

[2021-12-06 13:56] oggioniale commented on #485
Hi @maurolepore,
please check the package after this [commit](https://github.com/oggioniale/ReLTER/commit/1ede2f54340e7b67b4121a2790749296d0816584)

- [x] 01 - 02  I executed now `usethis::use_gpl3_license()` (@micha-silver had made the required changes regarding the licence but I corrected them!! Sorry for that!).
- [x] 03. We (thank you @micha-silver) changed something and I run again the R CMD

[2021-12-06 15:35] jhollist commented on #492
@mpadge Have you had a chance to add arrow to the check system?  I want to hold off running the package checks until I know that is ready to roll.

[2021-12-06 16:55] mpadge commented on #492
Yep @jhollist it's up and rolling with arrow pre-compiled for S3 support. You may check away ...

[2021-12-06 17:02] jhollist commented on #492
@ropensci-review-bot check package

[2021-12-06 17:13] chamberlinc commented on #464
@rkillick @christophsax , thank you for the opportunity to review, and my apologies that this has taken so long. Below is my review with some comments. I also have uploaded the knitted html notebook that details the tests I ran at https://github.com/chamberlinc/tsbox-review. The code I used to test the package functions is also available in this repo.

## Package Review

*Please check off boxes as

[2021-12-06 20:36] cboettig commented on #492
@jhollist Thanks much!

I've added a `contributing.md` (`usethis::use_tidy_contributing()`), apologies for missing that one.

As mentioned above, I don't think it makes sense to add CITATION at this stage, (R will already do the best option via `citation()`, citeAs will recognize the codemeta.json  (and I think the DESCRIPTION), Zenodo will I think continue to ignore all these and go by the github

[2021-12-06 20:52] maurolepore commented on #485
Thanks @oggioniale,

I still see differences between the R CMD check results you share and the ones I get. My priority now is to find a way you can reproduce what I see. This is crucial for you and the reviewers to maintain a productive conversation about your code.

To ensure the differences are not due to different computing environments I suggest we use the exact same computing environment. Her

[2021-12-06 21:55] jhollist commented on #492
@cboettig A couple of items:

1. Go ahead and still add the CITATION file (see: https://devguide.ropensci.org/building.html?q=citatio#citation-file).  Having this in there will allow you to track any Zenodo DOIs that get minted (although not necessary right now).  Also, it might be useful to provide a citation for the GBIF data/AWS service.

2. I agree with you on the testing.  I think you have a

[2021-12-06 22:22] cboettig commented on #492
Thanks @jhollist! That makes perfect sense.  I've added CITATION now based on GBIF Citation guidelines for AWS bucket.

Hmm... I can't replicate the error you see.  Note that the `gbif_remote()` is included in the test suite, and appears to be passing the test on those OSs (https://github.com/cboettig/gbifdb/actions/runs/1546475635) as well as the automated checks above... :thinking: .  I've teste

[2021-12-06 22:53] ewallace commented on #470
@wolski Thank you for the thorough review.

You've made a lot of good points that our description of other packages was inaccurate, and we will address that at length. I created new issue ticket https://github.com/ewallace/tidyqpcr/issues/126, we will expand on that at some length and then get back to this thread.

Here I will answer quickly the points that can be answered quickly.

That's our err

[2021-12-06 23:10] jhollist commented on #492
I can confirm that it is me, not you!  Something with my work machine.  I checked your actions after I sent my response and saw that they worked...  I was able to get it to run on my son's laptop!  I will sequester his machine and do the additional checks.  I'll try to get through that tomorrow.

I'll also dig in a bit more on my machine and see if I can get it working.    Stay tuned!

[2021-12-07 01:10] jhollist commented on #492
@cboettig I figured it out.  I had an existing aws credentials file that I think had expired.  I think authentication was failing and that was causing problems.  Removed my old credentials file and tried again.  Everything working!  Will finish with checks on this tomorrow.

[2021-12-07 13:52] rkillick commented on #464
@chamberlinc  thank you for your valuable review of the package.

[2021-12-07 13:54] rkillick commented on #464
@brunaw are you able to provide your review soon?  It was due on 23 Nov.

[2021-12-07 15:18] oggioniale commented on #485
Thanks @maurolepore.

As you suggested I'm working on the (RStudio Cloud)[https://rstudio.cloud/project/3335565]. Actually I'm using Mac OSx and the error is actually on the function `get_site_ODS`.
This function was created by @micha-silver and I don't have a long experience on the package `terra`. @micha-silver please can you verify this error on the (RStudio Cloud)[https://rstudio.cloud/project

[2021-12-07 17:26] cboettig commented on #492
@jhollist brilliant detective work! :detective: I had forgotten about credentials! actually I'd seen that same problem before with aws.s3 download -- which fails even with valid credentials I believe because this is a public bucket, you can see I override them like so:
https://github.com/cboettig/gbifdb/blob/main/R/gbif_download.R#L33

(not sure if that's the best option really, credentials in `~/

[2021-12-07 20:12] micha-silver commented on #485
body p { margin-bottom: 0cm; margin-top: 0pt; }

    Here is what I see:

        ══ Testing test-get_site_ODS.R
═════════════════════════════════════════════════════════════════════════════
        [ FAIL 0 | WARN 0 | SKIP 0 | PASS 0 ]
        ---- Test get_site_ODS() ----
         Imported 1 records. Simplifying... ]
         Imported 1 records. Simplifying...
         Imported 1 records. Simpli

[2021-12-07 20:53] oggioniale commented on #485
@micha-silver did you execute this in the RStudio Cloud or whit the R v.4.1.2 in your machine?
Because if I execute the R CMD check in local (Mac OSx v.12.0.1 (21A559), RStudio v.2021.09.0 Build 351 and R v.4.0.3), it don't return any error.

[2021-12-07 21:14] oggioniale commented on #485
@micha-silver I tested again the error within RStudio Cloud provided by @maurolepore.
By executing step by step the rows within the `get_site_ODS` function all the rows are fine except for the command `ds_site <- terra::mask(terra::crop(ds, boundary), terra::vect(boundary))`.
This command is executed fine in my local machine. In particular the problem is about the `terra::crop(ds, boundary)`.

Can

[2021-12-07 22:35] adamhsparks commented on #486
@ropensci-review-bot add @mdneuzerling to reviewers

[2021-12-07 22:38] adamhsparks commented on #486
@smwindecker and @mdneuzerling, thank you both for agreeing to review {gittargets} for us. I’m aware that this review and the three weeks may have competing priorities for your time with the holidays and leave at the end of the year/beginning of the new year. With that in mind, please just keep me posted on your progress as you have time. If you get these finished by sometime in January that would

[2021-12-08 09:59] christophsax commented on #464
@chamberlinc Thank you so much for your review! I will look into it in more detail, but the error messages/feedback in non-standard situations certainly seems worth to be addressed.

[2021-12-08 12:45] maurolepore commented on #485
Thanks @oggioniale and @micha-silver for your prompt response.

I'm glad to see you're working to meet the submission requirements. To keep this thread focused on the peer-review process, I suggest you move this "internal" conversation to an issue/PR to the oggioniale/ReLTER repo.

[2021-12-08 14:54] jhollist commented on #492
@ropensci-review-bot check package

[2021-12-08 15:08] jhollist commented on #492
### Editor checks:

- [x] **Documentation**: The package has sufficient documentation available online (README, pkgdown docs) to allow for an assessment of functionality and scope without installing the package. In particular,
    - [x] Is the case for the package well made?
    - [x] Is the reference index page clear (grouped by topic if necessary)?
    - [x] Are vignettes readable, sufficiently

[2021-12-08 16:36] oggioniale commented on #485
@maurolepore in my local machine with this:
[code]
The result of R CMD check is:
[code]

[2021-12-08 18:32] maurolepore commented on #485
Thanks @oggioniale you are on a good track, but R CMD checkmust pass cleanly on everyone's computers. Fortunately you seem to have identified a specific problem and a person that can help fix it. Also you now have two tools that will help you:

1. A fresh RStudio cloud project that allows you to work on your package in an R environment that reflects a "general" developer/user/reviewer than your ow

[2021-12-08 19:28] jhollist commented on #492
@ropensci-review-bot assign @Pakillo as reviewer

[2021-12-09 10:28] micha-silver commented on #485
Hi @oggioniale  and @maurolepore:

I think I have found and fixed the two remaining issues. I tested on Rstudio cloud, and  `test_local()` now finish cleanly (except for 1 warning). Changes are pushed to the `dev` branch.

1. Since both @oggioniale and I did not find a problem with the test for `get_site_ODS` on our home machines, I checked on the Rstudio.cloud instance, and I noticed that the ses

[2021-12-09 16:01] maurolepore commented on #485
Thanks @micha-silver! Great progress!!!

You can fix that note with the help of [`usethis::use_build_ignore()`](https://usethis.r-lib.org/reference/use_build_ignore.html) (hinted [above](https://github.com/ropensci/software-review/issues/485#issuecomment-987197954)).

Formally, R packages know about some so-called "standard" files and directories, like DESCRIPTION and R/. If your package includes

[2021-12-09 18:23] ldecicco-USGS commented on #474
@kauedesousa Do you have an update on when you will be able to do the review?

[2021-12-10 17:37] ldecicco-USGS commented on #474
Sure, that sounds great. Thanks!

[2021-12-10 20:27] wolski commented on #470
# Best in category?

Some thoughts about the "best in category."
Making a judgment about the best in the category would require extensive formal testing of all the relevant packages to avoid biases.
Without it, the judgment would rely on heuristics only and be biased. Still, it is challenging to eliminate biases because of the complexity of package developments.
As soon as I have more time, I will

[2021-12-11 05:50] jooolia commented on #470
Dear @wolski , thank you for the time that you have spent reviewing and the topics that you have raised for regarding this package and regarding the review process.

I would appreciate it if you could edit your latest comment so that it is more collegial. We are all here to help the authors improve their package by providing constructive comments. The sentences that you wrote in the Conclusion hea

[2021-12-12 18:19] fawda123 commented on #484
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revie

[2021-12-13 09:28] oggioniale commented on #485
Dear @maurolepore,
I worked for solve some issues about CI.
Currently I had the errors on the Windows and Ubuntu (oldrel).
In particular the error in Ubuntu is about `Error: <callr_remote_error: Cannot install packages:` (see image). I don't have experience about this. Do you have some suggestions? I followed some discussion online in order to find this issue but I didn't find the solution.

<img

[2021-12-13 11:35] micha-silver commented on #485
I wonder if this [issue](https://github.com/r-lib/pak/issues/339) from the `pak` github page is relevant?

[2021-12-13 12:57] wolski commented on #470
@jooolia Thank you for your feedback, although I would have preferred to receive it by e-mail. But, yes, my comment "a script with a few helpers" without more context is not constructive. I was not referring to the package itself but the code equivalent. I am sorry.

I can not complete the review. I hypothesize that the reviewed package does duplicate large amounts of the functionality of other CR

[2021-12-13 14:42] jhollist commented on #492
@ropensci-review-bot assign @stephhazlitt as reviewer

[2021-12-13 14:44] jhollist commented on #492
@cboettig Given the time of year, I was planning on giving the reviewers a bit more time to complete the reviews.  Would you be opposed to me setting the review due dates to Jan 10?

[2021-12-13 16:32] cboettig commented on #492
@jhollist certainly! :snowman_with_snow:

[2021-12-13 18:40] jhollist commented on #492
Thanks @cboettig!

@stephhazlitt and @Pakillo, note the extension on the due date.  I set them for 2022-01-10.

[2021-12-14 02:00] ldecicco-USGS commented on #407
Hi @hannahlowens , sorry for the super long delay. I'm currently acting as Editor in Chief, and was just directed to this thread.

I would say if you are still interested in completing this process to go ahead and respond to the single review. I'll take some time and try to familiarize myself with the package and act as a second reviewer.

[2021-12-14 08:15] hannahlowens commented on #407
Hi Laura,
Ok, great! Thanks. I’ve addressed some of their comments, but have been a bit derailed due to some problems with CURL in Linux on CRAN. I will repsond more formally to the review once we’ve chased down the problem (hopefully).

Best,
Hannah

On Dec 14, 2021, at 3:00 AM, Laura DeCicco ***@***.******@***.***>> wrote:

Hi @hannahlowens<https://github.com/hannahlowens> , sorry for the super

[2021-12-14 20:22] kauedesousa commented on #474
Dear @ldecicco-USGS and @quishqa here goes my comments on the package. This is a nice one. Congrats!!

## Package Review

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work (if you are unsure whether you are in c

[2021-12-14 23:40] smwindecker commented on #486
thanks @adamhsparks. My goal was to spend the next few days tinkering so will make a start in any case. I'm using targets for my main work project but still feel a bit junior league on it, particularly related to how best to incorporate the models that are sent to HPC into my targets workflow. Look forward to spending the time on this, but it may be first weeks of Jan.

[2021-12-15 04:53] quishqa commented on #474
Thanks a lot @kauedesousa  for your review will solve the observations in the next days.

[2021-12-15 06:41] annakrystalli commented on #458
Deadline for second review extended to 2022-01-07. Enjoy your holidays everyone!

[2021-12-15 07:05] elinw commented on #435
Sorry that it took me a while to respond, but I agree that it's looking great.

[2021-12-16 01:11] emilyriederer commented on #484
Thank you for the thoughtful review, @fawda123 !

@fmichonneau , do you have a sense when your review may be ready? Thank you!

[2021-12-16 07:47] maelle commented on #418
@GLOrozcoM, @ogilani and @mmlawrence, any new update? :smile_cat:

[2021-12-16 07:47] maelle commented on #382
:wave: @bretsw @jrosen48! Any new update on your progress? :smile_cat:

[2021-12-16 15:19] bretsw commented on #382
@maelle, we are so close to being done!!! All the code has been updated. We just have a few more place to refine explanations in the introductory text. I'm hoping to submit our response to reviewers in the next couple of days.

[2021-12-17 02:03] Yangcq-Ivy commented on #483
Dear reviewers,
We have just re-uploaded our package with improving the test coverage and adding the .yaml file for the continuous integration.
Thanks very much for your kindly check! Looking forward to more suggestions for improving the package.

[2021-12-20 18:04] bretsw commented on #382
@maelle, @llrs, and @marionlouveaux, thank you for you patience. Despite our silence, @jrosen48 and I have been hard at work this fall making the requested updates. We are ready for you to take a look, whenever it is convenient for you all (acknowledging that it has taken us a very long time on our end). Thank you for your comments and suggestions; {tidytags} is a much better package now because o

[2021-12-20 18:05] bretsw commented on #382
# Reviewer 1 Comments

## VIGNETTES

1. The setup vignette is not clear what steps are necessary and which not, I would suggests adding titles and an index.

Thank you for this feedback. In response, we have noted that the first three key tasks (previously pain points) are required, while the fourth key task is optional and required only for geocoding. We are amenable to adding titles and an index

[2021-12-21 00:41] mmlawrence commented on #418
Thank you so much for both reviews! We appreciate you waiting and we have addressed the suggestions and fixes below with relevant commits for the change.

### Response to @KevCaz:

**Friendly wrapper functions for users!**
- Not finished yet, but latest work is on `master` [here](https://github.com/GLOrozcoM/epair)!

**Warnings and friends found with `devtools::check()`.**
- Tar ball warning, addr

[2021-12-21 00:49] mmlawrence commented on #418
@maelle We are also in the process of adding a NEWS.md file, but we're wondering if we need to include the changes made after the reviews, or just the basics outlined in the guide since it is still in the submission process? Thanks!

[2021-12-21 13:31] llrs commented on #382
Hi @bretsw I've read the response but I probably won't have time to look into the package and replies with detail until a couple of weeks from now.

@maelle Can we use the `@ropensci-review-bot` bot now on this issue? Just to check the package online and not only on my machine (I might forget some of the checks)

[2021-12-21 14:34] bretsw commented on #382
Thank you, @llrs, for taking a look so quickly at our response. I completely understand needing a few weeks to really get into it. Take your time! Thank you for your patience.

[2021-12-21 14:44] mpadge commented on #382
@llrs: @maelle is taking a well-deserved break, but i'll call the bot checks for you

[2021-12-21 14:44] mpadge commented on #382
@ropensci-review-bot check package

[2021-12-21 18:03] bretsw commented on #382
I've removed the .DS_Store files (and added this to .gitignore).
I've fixed the lines longer than 80 characters.
I've added the 'codemeta.json' file.

Should be ready for @ropensci-review-bot check package again.

[2021-12-21 18:29] oggioniale commented on #485
Dear @maurolepore,
we have been working in these last 2 weeks to close the issues arisen after `rcmdcheck` on the Ubuntu OSs.
Now we pretty sure that all is fine, also the [R-CMD-Check is fine](https://github.com/oggioniale/ReLTER/actions/runs/1607561807).

Please let we know the next steps.

[2021-12-22 00:54] maurolepore commented on #485
@ropensci-review-bot check package

[2021-12-22 01:03] maurolepore commented on #485
That's great news! Thanks a lot for your efforts and sorry for my slow response. I've been very busy. I see the checks passing green on GH-Actions! :rocket:

The checks you're running are enough for now, but note DESCRIPTION declares this package works with [R >= 3.5.0](https://github.com/oggioniale/ReLTER/blob/bf50ec78b3b37752d5b5ac92a37567aec3c9a062/DESCRIPTION#L52) so eventually you'll need to

[2021-12-22 02:48] maurolepore commented on #485
@oggioniale please note:

The bot fails to build the package (see above "2. goodpractice and other checks"):

[code]

And the [project on rstudio cloud](https://rstudio.cloud/project/3335565) shows many tests fail with an error similar to this one:

[code]

The rstudio.cloud project may be a good platform for you to try explore why the package works fine in your own computers and on GitHub Actions

[2021-12-22 08:54] mpadge commented on #485
@maurolepore @oggioniale This could be due to the RStudio system deps server being intermittently unreliable, and our system then failing to install the system requirements for `jqr` and `xslt`. I'll re-deploy the check system with them pre-installed and run the checks again. Sorry for any inconvenience!

[2021-12-22 09:02] mpadge commented on #382
@ropensci-review-bot check package

[2021-12-22 11:41] oggioniale commented on #485
@maurolepore I'm disappointed on the situation.
Before to write the comment I checked all on local OS, otherwise I would never have told you that everything worked.

So
1. about the dependencies ‘jqr’, ‘xslt’ where the bot fails? Because the status of the bot in my GitHub profile is "Success";
2. I ran the `rcmdcheck::rcmdcheck(".")`in the [project on rstudio cloud](https://rstudio.cloud/project/3

[2021-12-22 13:42] oggioniale commented on #485
@maurolepore
I added to che [check-standard.yaml](https://github.com/oggioniale/ReLTER/edit/dev/.github/workflows/check-standard.yaml) the installation of library libxslt1-dev.

I also changed the R version in DESCRIPTION.

[2021-12-22 13:55] mpadge commented on #485
@ropensci-review-bot check package

[2021-12-22 15:52] maurolepore commented on #485
@oggioniale,

I'm sorry this is so frustrating. You've come a long way and I'm confident you'll there soon.

I now realize running `rcmdcheck::rcmdcheck(".")` but I (and apparently the bot) is running the more common commands: `devtools::test()` and `devtools::check()`. You can also run them from RStudio's "build" tab:

<img src=https://i.imgur.com/8OkH1uK.png width=200>

Consider the project we'v

[2021-12-23 12:45] fmichonneau commented on #484
## Package Review

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work (if you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package i

[2021-12-23 14:17] ginberg commented on #471
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revie

[2021-12-23 22:28] ewallace commented on #470
Thank you everyone.

After a call with @jooolia and discussion with @DimmestP, we have made a plan to address these reviews. We’ve raised [a series of issue tickets on tidyqpcr repository, linked to this review ticket and also labeled rOpensci-review](https://github.com/ewallace/tidyqpcr/labels/rOpensci-review).

The plan is that in January we will start addressing those issues one by one. As we m

[2021-12-24 13:45] jooolia commented on #470
Hi @wolski, thanks for your comment and for being clear that you will not continue to review here. I have removed you  as a reviewer in the issue fields and feel free to unsubscribe from the issue if you do not want to continue to receive notifications about new comments.
Thanks, Julia

[2021-12-24 13:48] jooolia commented on #470
Thanks @ewallace the plan looks very clear to me regarding what you will tackle. Looking forward to the updates on your progress on the issues in 2022.

[2021-12-26 04:47] adithirgis commented on #418
Thanks for the update.

I tried to download the package in a Windows 10 system, my `sessionInfo()`

[code]

I am confused what happens here when I try to install in my system?
[code]
- For `devtools::check()`
I got this now
[code]

- I am sorry if I am confused a little bit but the link here is not working - https://glorozcom.github.io/epair/index.html. I land at the first page and I am not able t

[2021-12-26 17:20] emilyriederer commented on #484
Thanks @fmichonneau for the great review and even PRs! That's really nice.

@dylan-turner25 , the ball is back in your court now! Please take some time to review the feedback from our reviewers and incorporate changes. We typically aim for this step to take ~2 weeks. Feel free to use this thread to ask reviewers any questions about their feedback that you have along the way.

[2021-12-26 17:21] emilyriederer commented on #484
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/484#issuecomment-1000279991 time 5

[2021-12-26 17:22] emilyriederer commented on #484
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/484#issuecomment-991946084 time 5

[2021-12-27 09:23] mdneuzerling commented on #486
Hello @adamhsparks @wlandau. I've made a start on this. Apologies for the delay --- I had to get Christmas out of the way first!

I've started by looking through the code structure to get a rough idea of things. [I'm making notes on a pull request](https://github.com/mdneuzerling/gittargets/pull/1), which I'll then compile into a formal review. This is a trick I've used before — check out the firs

[2021-12-27 11:46] adamhsparks commented on #486
Thanks for the update @mdneuzerling. No hurry, we’ve still another holiday to go and it is summer here in Oz after all.

[2021-12-27 14:17] llrs commented on #382
I'm testing it now with R 4.1.2

- 1.1
 There a missing `[` on the first line of the [Key task 1](https://bretsw.github.io/tidytags/articles/setup.html#key-task-1-making-sure-your-tags-tracker-can-be-accessed). I'm not sure now what I meant but I find the titles and indices of the vignettes are now appropriate Note that there are some links related to the other viggnette that are hardcoded. It is

[2021-12-28 19:54] dylan-turner25 commented on #484
@fmichonneau  and @fawda123, thank you both for taking time to review this package. Peer reviewing can be a thankless job, but know that your time spent on this is much appreciated. I think all the suggestions made are good ones and will start working on implementing them.

[2021-12-29 16:13] bretsw commented on #382
@llrs thank you for your quick turnaround on your follow-up review! I'm unplugged this week, but I will clean up these remaining few things on Monday. Thank you again!

[2021-12-29 19:55] luismurao commented on #475
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revie

[2021-12-29 22:36] joelnitta commented on #475
@luismurao thanks so much for your review! I will try to address your comments soon.

[2021-12-30 09:28] joelnitta commented on #475
@KlausVigo it would be great to have your comments as well so I can make changes incorporating both sets of reviews.

[2022-01-03 07:58] maelle commented on #418
Thanks @GLOrozcoM for the response, but could you also summarize changes so reviewers can get information without having to click through each commit? (linking commits is still useful though, should they want and have time to look)

Thanks @adithirgis for checking the package again!

And Happy New Year to all. :-)

[2022-01-03 08:06] maelle commented on #382
Thanks @bretsw for the detailed response & @llrs for the new feedback!

Regarding empty cassettes, it might be worth subscribing to https://github.com/ropensci/vcr/issues/244

[2022-01-03 08:12] maelle commented on #382
@llrs yes I will update the time spent, thank you for reporting that as well!

[2022-01-03 15:57] peterdesmet opened #495 "frictionless: Read and Write Frictionless Data Packages"
**Date accepted:** 2022-02-10
Submitting Author Name: Peter Desmet
Submitting Author Github Handle: @peterdesmet
Other Package Authors Github handles: @damianooldoni
Repository: https://github.com/frictionlessdata/frictionless-r
Version submitted: 0.9.0
Submission type: Standard

Editor: @melvidoni
Reviewers: @zambujo, @beatrizmilz
Due date for @zambujo: 2022-02-06
Due date for @beatrizmilz: 2022-

[2022-01-03 16:10] peterdesmet commented on #495
@ropensci-review-bot I have now included the missing `<!-->` tags in the issue body.

[2022-01-03 16:15] mpadge commented on #495
@ropensci-review-bot check package

[2022-01-03 19:23] bretsw commented on #382
@llrs, thank you for your follow-up review and comments. I have made further updates as requested:

- 1.1: I have corrected the missing "[", referenced vignettes everywhere using `vignette()`, and removed the comment about setting "eval = FALSE".
- 1.5: We accidentally missed deleting the discussion of price. I have now deleted this paragraph.
- 1.7 and 1.8: I have added `if (!requireNamespace("pa

[2022-01-03 19:24] bretsw commented on #382
@maelle, could we remove the `holding` label for this thread?

[2022-01-03 19:59] GLOrozcoM commented on #418
@maelle for sure! Will absolutely make a summary of changes.

@adithirgis thank you for taking a look! Will also get on fixing what you pointed out.

Hoping 2022 is off to a great start for all as well!

[2022-01-03 21:24] stefaniebutland commented on #495
@lwinfree just fyi, here's the (start of the) rOpenSci software peer review thread for the "frictionless" R package.
Folks, Lilly Winfree is Product Manager @ Frictionless Data.

[2022-01-03 21:51] bretsw commented on #382
Thank you, @llrs, for your feedback, guidance, and patience. I have been very grateful for this review process.

[2022-01-04 06:57] maelle commented on #382
@llrs thank you! Here's the reviewer approval comment template if you have time: https://devguide.ropensci.org/approval2template.html

@marionlouveaux would you have time to take a last look at the package?

[2022-01-04 08:34] llrs commented on #382
## Reviewer Response

#### Final approval (post-review)

- [x] **The author has responded to my review and made changes to my satisfaction. I recommend approving this package.**

Estimated hours spent reviewing: ~3

[2022-01-04 10:55] peterdesmet commented on #495
A `codemeta.json` file has now been added.

[2022-01-04 18:22] ldecicco-USGS commented on #495
@ropensci-review-bot check package

[2022-01-04 19:37] mpadge commented on #495
@peterdesmet Thanks for the submission - an editor will be assigned as soon as possible, but it may take a few days.

[2022-01-06 10:06] mpadge commented on #495
@ropensci-review-bot assign @melvidoni as editor

[2022-01-06 19:13] melvidoni commented on #495
Hello @peterdesmet, I'll be the handling editor. I'll start looking for reviewers, and let you know once they are assigned. Please, bare with me for a bit.

[2022-01-07 21:53] fboehm commented on #458
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**

I've never encountered the authors, and I'm unfamiliar with their previous work.

- [x] As the reviewer I confirm that there are no [conf

[2022-01-07 21:55] fboehm commented on #458
I hope that my review is helpful for the package authors and that it doesn't come across as overly critical. I expect that there are a variety of ways to organize such a package. Thanks for this opportunity to review. Please let me know if I should elaborate or clarify any of my comments or suggestions.

[2022-01-09 08:05] mdneuzerling commented on #486
## Package Review

- I've previously used the author's `drake` and `targets` packages, and have had a small amount of personal communication regarding these. I've also published blog posts on these packages.
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work (if you are unsure whether you are in conf

[2022-01-09 08:43] adamhsparks commented on #486
Thanks for the comprehensive review @mdneuzerling.

[2022-01-10 08:36] annakrystalli commented on #458
Many thanks for your review @fboehm !

@cromanpa94 all reviews are in now so over to you! 🙂

As @fboehm mentioned, feel free to reach out with questions or clarifications from reviewers. We look forward to your responses to reviewer comments.

[2022-01-10 08:38] annakrystalli commented on #458
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/458#issuecomment-1007766694 time 4

[2022-01-10 10:00] smwindecker commented on #486
## Package Review
- I have used `targets` before, and have written twitter threads on the topic. I have communicated online with the author.
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work.

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of

[2022-01-10 12:57] dylan-turner25 commented on #484
@emilyriederer, @fawda123 , and @fmichonneau, I have incorporated all the feedback I received and documented all the changes made in the NEWS.md file. I'll note that I'm still kind of perplexed on the best practices for making vignettes available.  My understanding is a package down site will document everything once the package is hosted with the other rOpensci packages. When I generate the packa

[2022-01-10 17:03] fmichonneau commented on #484
Generally, you write your vignette as an Rmd file in the `vignettes/` directory.

When you build your package (using `R CMD build` from your terminal or `devtools::build()` from your R console), then R will take your vignette, and put the rendered version in the archive file. When your users are going to install your package, this rendered vignette will be available to them. Currently, you have th

[2022-01-10 19:03] wlandau commented on #486
Thank you @mdneuzerling and @smwindecker for your thoughtful reviews! I am working on responses.

[2022-01-10 20:27] dylan-turner25 commented on #484
@fmichonneau , thank you for the explanation. I just pushed a new commit that removed the path to my vignette's  .Rmd file from `.Rbuildignore`

[2022-01-11 02:47] adamhsparks commented on #486
@smwindecker, thank you for your thoughtful review.

[2022-01-11 13:50] jhollist commented on #492
@stephhazlitt and @Pakillo just a quick follow up to see how the reviews are coming along.  Just holler if you need a bit more time.

[2022-01-11 21:47] clnsmth opened #498 "EDIutils"
**Date accepted:** 2022-03-29
**Reviewers:**

Submitting Author Name: Colin Smith
Submitting Author Github Handle: @clnsmth
Repository:  https://github.com/EDIorg/EDIutils
Version submitted:
Submission type: Standard
Editor: @adamhsparks
Reviewers: @bozaah, @laijasmine
Due date for @bozaah: 2022-02-25
Due date for @laijasmine: 2022-02-25
Archive: TBD
Version accepted: TBD
Language: en

---

[code]

[2022-01-12 00:05] stephhazlitt commented on #492
## {gbifdb} Package Review

Thank you for the opportunity to test drive and review this great new R package. {gbifdb} brings together many things near and dear to me -- easier access to lots and lots of open biodiversity data 🦋🦉🦡, R,  and leveraging new open source tools like Arrow 🏹 and DuckDB 🦆 to make all of this faster and possible on a "regular" laptop (for my review I used a MacBook Pro M1 2

[2022-01-12 01:00] cboettig commented on #492
Thanks @stephhazlitt this is super :tada: !  One design question you bring up which I'd really like advice on:

I completely hear you that it's awkward that `gbif_conn()` returns a remote connection to a database, while `gbif_remote()` returns a remote table; i.e. that in the former we need to remember to use `dplyr::tbl()` but with the arrow-based interfaces we don't.  This kind of begs for a `gb

[2022-01-12 03:48] wlandau commented on #486
# Response to @mdneuzerling

I expanded the README in https://github.com/wlandau/gittargets/commit/11943f11b1f719e0f815f10e31f2290c8b6c514c to describe those assumptions.

https://github.com/wlandau/gittargets/commit/ddc1e59f9560131e2aef971d1dfe122568762930 replaces `man/figures/workflow.png` with a simpler description of the workflow in the Usage section of the README and at the top of the `git.R

[2022-01-12 03:49] wlandau commented on #486
# Response to @smwindecker

I rewrote the README and DESCRIPTION in https://github.com/wlandau/gittargets/commit/11943f11b1f719e0f815f10e31f2290c8b6c514c, hopefully they are clearer now.

https://github.com/wlandau/gittargets/commit/ef8c0e07f87802ba3c6580b27b10377c514b7a83 improves the `tar_git_status()` messages.

I think something like this should be possible if you create a Git-LFS-backed repo

[2022-01-12 04:00] mdneuzerling commented on #486
I think @wlandau's responses to my recommendations are more than adequate. In particular, the improvements to the README are superb. I don't have anything further to say about this package, other than that I look forward to seeing it on CRAN and using it in my own projects. Thank you so much for your contributions, @wlandau.

[2022-01-12 04:08] stephhazlitt commented on #492
Great questions.

I am biased towards a fully R workflow, so not sure my thoughts are representative of your user community, however I would go with the {dplyr} dependency and aim for a symmetrical 2-function per GBIF data location design:

`gbif_remote()` - as is, arrow table connection
`gbif_remore_db()` - wrapper for above with `to_duckdb = TRUE`

`gbif_local()` - wrapper for arrow::open_datase

[2022-01-12 04:51] smwindecker commented on #486
Thanks @wlandau for your responses.

The changes and explanations made much clearer the concept of the data snapshots as branches themselves. The relevance of this to understanding the snapshot 'ref's and how to call them is now clear. I appreciate the new figure and especially the accompanying explanation. And yes I had a local copy of the whole package and that's why I was seeing all the functio

[2022-01-12 05:03] adamhsparks commented on #486
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/486#issuecomment-1008248927 time 5

[2022-01-12 05:04] adamhsparks commented on #486
@ropensci-review-bot submit review [<review-url>](https://github.com/ropensci/software-review/issues/486#issuecomment-1008708506) time 7

[2022-01-12 05:07] adamhsparks commented on #486
@ropensci-review-bot approve gittargets

[2022-01-12 05:07] #486 closed

[2022-01-12 05:10] adamhsparks commented on #486
@mdneuzerling, I noted after reading your approval that you still hadn't ticked the "Statement of need" in your checklist. I'm assuming that this has been met since you've approved the package revisions in your most recent post regarding updates to the README. If this is correct, could you please just tic that box to complete the review for us? 🙏

[2022-01-12 05:11] mdneuzerling commented on #486
@adamhsparks Sorry about that! Done.

[2022-01-12 05:15] adamhsparks commented on #486
Well done, @wlandau! Thanks for this new package submission to rOpenSci. I'm guessing you know the drill now. If you need assistance with anything, please let me know.

[2022-01-12 05:31] cboettig commented on #492
Nice, I like it!  Just hashing out function names a bit more here:

I think going from 2 to functions (`gbif_remote()` an `gbif_local()`) to four seems a bit overkill.  I imagine the end user doesn't care so much about whether it's duckdb vs arrow at the backend (particularly when functions like `to_duckdb()` make an arrow connection use duckdb or vice versa.  In particular, I'm not sure what we a

[2022-01-12 09:34] sandrinecharles opened #499 "`rbioacc`: an `R`-package to analyze toxicokinetic data"
**Reviewers:**
Submitting Author Name: Sandrine Charles
Submitting Author Github Handle: @sandrinecharles
Other Package Authors Github handles: (comma separated, delete if none) @aursiber, @virgile-baudrot
Repository:  https://github.com/aursiber/rbioacc
Version submitted:
Submission type: Standard
Editor:  TBD
Reviewers:  TBD

Archive: TBD
Version accepted: TBD
Language: en
---

-   Paste the ful

[2022-01-12 10:14] mpadge commented on #499
@sandrinecharles Sorry about that, we are trying to diagnose what went wrong. Checks should appear soon.

[2022-01-12 10:34] sandrinecharles commented on #499
@mpadge no problem, this is not really urgent. By the way, I already submitted to MEE, and only after I saw that it is not recommended to do in this order. Sorry...

[2022-01-12 11:55] peterdesmet commented on #495
Hi @melvidoni, 2 questions:
1. I'm about to merge a PR with updated functionality into the package. Would it be ok if the reviewers review the resulting `0.10.0` version?
2. Can I add the peer review badge? [![rOpenSci](https://badges.ropensci.org/495_status.svg)](https://github.com/ropensci/software-review/issues/495)

[2022-01-12 14:00] wlandau commented on #486
Amazing! Thanks @adamhsparks for facilitating the process and thanks @smwindecker and @mdneuzerling for the reviews! `gittargets` is in much better shape now, especially regarding documentation.

@adamhsparks, would you be willing to grant me admin permissions at https://github.com/ropensci/gittargets? The rOpenSci transfer process still removes that on my end.

[2022-01-12 14:36] wlandau commented on #486
Ah, sorry I didn't see this:

[2022-01-12 14:37] wlandau commented on #486
@ropensci-review-bot finalize transfer gittargets

[2022-01-12 15:03] wlandau commented on #486
@ropensci-review-bot finalize transfer <gittargets>

[2022-01-12 15:04] wlandau commented on #486
@ropensci-review-bot finalize transfer of gittargets

[2022-01-12 15:06] wlandau commented on #486
I still do not have admin permissions. Did I need to add myself to the `gittargets` team in advance?

[2022-01-12 15:13] wlandau commented on #486
Other than that, I believe all the to-dos are now complete.

[2022-01-13 08:38] maelle commented on #486
@wlandau I've now added you to that team. You hadn't received any invitation to it beforehands, correct? Thanks for the bug catching. :pray:

[2022-01-13 09:37] Pakillo commented on #492
Hi, apologies for the delay. Still playing with it. Hope to submit my review within a couple of days

[2022-01-13 13:26] wlandau commented on #486
Thanks, @maelle! I did not receive an invitation before, but I do have admin permissions now.

[2022-01-13 20:33] melvidoni commented on #495
Hello @peterdesmet . 1) They will. None of those contacted replied yet, so they will review the latest once they accept. 2) Not yet, once the reviewing process has finished.

[2022-01-13 22:10] Pakillo commented on #492
## {gbifdb} Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [X] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me

[2022-01-14 01:02] cboettig commented on #492
@Pakillo Thanks for this amazing review (and the help tracking down the issues with in https://github.com/cboettig/gbifdb/issues/2)!  Still working through it, but wanted to jot down what I've tried to address so far.

- I've updated the default bucket to `us-east-1` instead of South Africa (A biased default to be sure, but also what I believe most AWS clients default to when nothing is set). I've

[2022-01-14 13:07] ldecicco-USGS commented on #498
Hi @clnsmth ! Thanks for the submission. The scope of the package looks like a good fit for rOpenSci. I'm going to assign an editor.

As for the test coverage, have a look here:
https://books.ropensci.org/http-testing/
And see if there are some techniques you could use to bump up the coverage.

Thanks for the submission!

@ropensci-review-bot assign @adamhsparks as editor

[2022-01-14 13:08] ldecicco-USGS commented on #498
@ropensci-review-bot assign @adamhsparks as editor

[2022-01-14 13:21] rkrug commented on #433
Unfortunately, the verification outside OriginStamp does not work anymore, as the website which I used to get the transaction from does not exist any more (api.smartbit.com.au). As this topic moved out of the focus of our work (we decided that time stamping is not needed anymore) I haven't spend much time on this. My Apologies.

I see from my side two options: The first one is to trim the package

[2022-01-14 14:30] clnsmth commented on #498
Hi @ldecicco-USGS and @adamhsparks ! Thanks for the http-testing resource. I'll send an update once the requested changes are implemented.

[2022-01-14 14:57] ldecicco-USGS commented on #483
Hi @Yangcq-Ivy , sorry for the delay, this issues slipped through my radar. I'll re-run the checks. I'd still really like to read more in the vignettes before deciding if the package fits the rOpenSci scope (and therefore assigning a reviewer).

[2022-01-14 14:58] ldecicco-USGS commented on #483
@ropensci-review-bot check package

[2022-01-14 19:21] jhollist commented on #492
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/492#issuecomment-1010488630 time 5

[2022-01-14 19:23] jhollist commented on #492
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/492#issuecomment-1012556350 time 12

[2022-01-16 18:52] emilyriederer commented on #484
Hey @dylan-turner25 - thanks for working through the review feedback! @fmichonneau and @fawda123 , if you could please take on final look and confirm with the [approval template](https://devguide.ropensci.org/approval2template.html), that would be great!

[2022-01-16 19:18] melvidoni commented on #495
@ropensci-review-bot assign @zambujoas reviewer

[2022-01-16 19:19] melvidoni commented on #495
@ropensci-review-bot assign @zambujo as reviewer

[2022-01-16 19:19] melvidoni commented on #495
Hello @peterdesmet  I'm still searching for another reviewer. The reviewing deadline will be set 3-weeks after once both reviewers are defined.

[2022-01-17 05:50] adamhsparks commented on #498
Thanks, @clnsmth, just ping me when you're ready and I'll start my editor checks and look for reviewers when everything looks good here

[2022-01-17 08:11] maelle commented on #492
@jhollist this might be a small buffy bug, thanks for your patience :-) https://github.com/ropensci-org/buffy/issues/54

[2022-01-17 10:42] maelle commented on #492
@jhollist could you please try again? thank you!

[2022-01-17 11:12] peterdesmet commented on #495
@melvidoni @zambujo Thanks!

Version `0.10.0` of the package has just been [released](https://github.com/frictionlessdata/frictionless-r/tree/v0.10.0), which would be the preferred version for review.

[2022-01-17 17:58] fmichonneau commented on #484
It's all good on my end! Great work @dylan-turner25!

## Reviewer Response

#### Final approval (post-review)

- [x] **The author has responded to my review and made changes to my satisfaction. I recommend approving this package.**

[2022-01-17 18:35] GLOrozcoM commented on #418
@adithirgis thanks for waiting! I'm hoping we can make the installation experience smoother.

1. Can you let us know which commands you're running for the first issue you're facing (no such file, directory)? I've tried a couple of ways on mine, but am not succeeding in reproducing this error.
2. For both `devtools::check()` and  `goodpractice::gp()` I'm also not yet able to reproduce the error. We

[2022-01-17 18:52] GLOrozcoM commented on #418
@maelle @adithirgis @KevCaz
This regards our summary of changes.
1. Foremost is no more endpoints! Users can now use custom built functions to perform their calls. This is based primarily on @KevCaz recommendation. This was a major change and results in a substantial amount of new service modules (`_service.R` in R folder) each containing their service related functions. We wrote simple tests for

[2022-01-17 19:26] melvidoni commented on #495
Yes, that would be the version to review. Could you please make the link clearer and/or merge to master?

[2022-01-17 19:56] peterdesmet commented on #495
@melvidoni version 0.10.0 has been merged to the default branch (`main`), but that branch is also used for further development.

To install `0.10.0` specifically (recommended):

[code]

To install the latest development version (`0.10.0.9000`):

[code]

[2022-01-18 05:47] maelle commented on #418
Thanks @GLOrozcoM! So still a few (docs) changes to come, correct?

[2022-01-18 06:16] adithirgis commented on #418
Hello!

Thanks for the update.

[code]

I tried using `remotes::install_github("GLOrozcoM/epair")` and I updated all the packages,
[code]
In a fresh RStudio instance I cloned the project. I got this error

[code]
I downloaded the zip folder of project to run `devtools::check()`

[code]

 and `goodpractice::gp()` to get this

[code]

Let me know if this is a system issue.

Regards
Adithi

[2022-01-18 06:22] maelle commented on #418
@ropensci-review-bot check package

[2022-01-18 09:33] oggioniale commented on #485
@maurolepore,
the last commits and PR solved the failures of test and check when execute the `devtools::test()` and `devtools::check`.
As previously also `rcmdcheck::rcmdcheck(".")

Let me know please.

[2022-01-18 17:53] maurolepore commented on #485
@ropensci-review-bot check package

[2022-01-18 19:57] maurolepore commented on #485
Yay! Congratulations @oggioniale! I'll start looking for reviewers.

In the mean time please try increase the test coverage. I see "Package coverage is 61.3% (should be at least 75%)".

Reading this short section may help: https://mastering-shiny.org/scaling-testing.html#code-coverage

[2022-01-18 20:06] wlandau commented on #486
Very minor: on my end, it looks like the rOpenSci README badge still says "Under Review". Are these badges still supported?

![Screen Shot 2022-01-18 at 3 03 39 PM](https://user-images.githubusercontent.com/1580860/150010539-c93478b7-8c1c-4954-bc8b-74b2fb634813.png)

[2022-01-18 20:28] mpadge commented on #486
Sorry @wlandau, our badge server went to sleep a month ago without anybody realising - I've re-enabled it, so it should update soon.

[2022-01-19 13:04] wlandau commented on #486
Thanks Mark! Looks to be fixed.

[2022-01-19 19:55] jooolia commented on #471
Thanks very much @ginberg  for the review. (sorry for my slow response)

[2022-01-19 19:57] jooolia commented on #471
Hi @orchid00, do you think it will be possible to submit your review soon? Thanks, Julia

[2022-01-19 22:40] melvidoni commented on #495
@ropensci-review-bot assign @beatrizmilz as reviewer

[2022-01-20 11:05] maurolepore commented on #485
@oggioniale,

Could you please list 3 people you think might be good reviewers for ReLTER and briefly explain why? I would aim to use only one but your list of three -- along with your explanations -- would help me better understand the ways in which you think an external eye can add value.

I'll complement the list with a search of my own.

[2022-01-20 12:06] oggioniale commented on #485
@maurolepore

I would suggest:

1. [Will Bolton](https://github.com/WillOnGit) for his involvement in the activities of the project ([eLTER-Plus](https://elter-ri.eu/elter-plus)) in which the ReLTER package was born.
2. [Daniel Nüst](https://github.com/nuest) for the spatio-temporal and geoinformatics skills, but also for his focus on the principles of open and reproducible science.
3. [Carl Boett

[2022-01-21 07:44] orchid00 commented on #471
I'm sorry, I was not able to do the review, I prefer to step out.
I was on leave first, then I got ill. Now back to too many things to accomodate for.

[2022-01-21 12:37] jhollist commented on #492
@ropensci-review-bot submit review #492 (comment) time 12

[2022-01-21 12:39] jhollist commented on #492
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/492#issuecomment-1012556350 time 12

[2022-01-21 12:41] jhollist commented on #492
Sorry for delay in moving things along, @maelle!  Looks like I had a bug too!  Works now.

[2022-01-21 12:42] jhollist commented on #492
@cboettig Now that I finally got caught up, I have added the "Review In, Awaiting Changes" label.  Sorry for slowing things down.

[2022-01-21 12:48] maelle commented on #492
@jhollist Thanks a ton, actually it's a happy mistake as it's the first time this new "sorry human" response happens in this repo :grin:

[2022-01-21 15:05] clnsmth commented on #498
Hi @adamhsparks @ldecicco-USGS,

I've implement rOpenSci http testing recommendations and coverage is now > 75%.

EDIutils:
- Uses vcr to mock http requests
- Runs tests with real http requests via GitHub Actions on a monthly schedule and on push and pull requests to the main branch
- Precomputes all examples and vignettes

Thanks again for this helpful advice and please let me know if I've missed

[2022-01-21 15:27] ldecicco-USGS commented on #483
@ropensci-review-bot check package

[2022-01-21 15:29] ldecicco-USGS commented on #435
Sorry to let this linger so long. I didn't notice that both reviewers replied positively to the updates. @ekothe , there are a few minor questions/comments from @juliasilge above. I think if you take care of those we can move forward with approval!

[2022-01-21 17:44] cboettig commented on #492
Thanks all!  I'm working on revisions still as noted above, will include a complete report & links to my PR diffs when I've ticked off everything.

[2022-01-21 19:05] quishqa commented on #474
Hi everybody! We hope to have everything ready before the 28th.

[2022-01-22 02:15] adamhsparks commented on #498
@ropensci-review-bot check package

[2022-01-22 02:21] adamhsparks commented on #498
### Editor checks:

- [ ] **Documentation**: The package has sufficient documentation available online (README, pkgdown docs) to allow for an assessment of functionality and scope without installing the package. In particular,
    - [ ] Is the case for the package well made?
    - [ ] Is the reference index page clear (grouped by topic if necessary)?
    - [ ] Are vignettes readable, sufficiently

[2022-01-22 05:18] adamhsparks commented on #498
@ropensci-review-bot seeking reviewers

[2022-01-23 11:03] emilyriederer commented on #484
Hey @fawda123 ! Just checking in - if you could please take a look at @dylan-turner25 's updates and let us know if we have your final approval, that would be great!

[2022-01-23 16:47] fawda123 commented on #484
Hi there, apologies for the delay.  The revisions look fantastic, I especially like the addition of the `time_iterations()` function that estimates the API request time.  Very useful changes.  I've included one more PR with some very minor edits to the README.

* https://github.com/dylan-turner25/rfema/pull/7

Everything looks good on my end, nice work @dylan-turner25!

## Reviewer Response

####

[2022-01-23 17:09] emilyriederer commented on #484
@ropensci-review-bot approve rfema

[2022-01-23 17:09] #484 closed

[2022-01-23 19:21] GLOrozcoM commented on #418
@adithirgis thanks! I believe the issue was indeed sys related. Windows labels a space at the end of a folder name as illegal (https://kb.acronis.com/content/39790), and that test name had  a space at the end of it.

 As a quick fix, I changed the name of the folder and will later update our CI/CD to include Windows systems. Can you recheck on your system and see if this works now? @mmlawrence wil

[2022-01-23 19:22] GLOrozcoM commented on #418
@maelle correct! Documentation changes still to come and will post when complete. I also saw the bot checks and will start to address them.

[2022-01-24 22:16] dylan-turner25 commented on #484
@ropensci-review-bot finalize transfer of rfema

[2022-01-25 11:50] oggioniale commented on #485
@maurolepore
The last commit in the repo improve the code coverage (now more than 82%).

Ale

[2022-01-25 16:04] maurolepore commented on #485
@ropensci-review-bot check package

[2022-01-28 12:18] maurolepore commented on #485
@ropensci-review-bot assign @WillOnGit as reviewer

[2022-01-28 12:21] maurolepore commented on #485
@WillOnGit, although the bot suggests that the due date is 2022-02-18 you will have a bit longer than that as I am still looking for a second reviewer.

[2022-01-28 12:50] jooolia commented on #471
Hi @orchid00,
Thanks for letting me know. Hope you are feeling better and wishing you the best.

I will look for another reviewer @msweetlove. Thanks!

[2022-01-28 16:43] ldecicco-USGS commented on #483
I will check on what is causing the error "HTML variable [author1] is missing.

I can see you have made some significant improvements to your package since submission. The initial submission was difficult for me to judge the "fit" to rOpenSci. I am going to close this issue and classify the package as not currently fitting the rOpenSci . The definitions can be found here:
https://devguide.ropensci

[2022-01-28 16:44] #483 closed

[2022-01-29 15:42] annakrystalli commented on #458
Hello 👋 @cromanpa94 !

Any updates and progress responding to reviewers comments? 😊

[2022-01-29 18:16] marionlouveaux commented on #382
Hi all,

Thank you for responding to my review and adding me as a reviewer on your package.

In the help of pull_tweet_data(), I noticed some formatting issues such as \code{n} (in the example section). I suggest using roxygen2md::roxygen2md() (https://roxygen2md.r-lib.org/).

[2022-01-29 18:27] marionlouveaux commented on #382
## Reviewer Response

Thank you for responding to my review and adding me as a reviewer on your package. The package documentation is much better and much clearer. I found one minor aesthetic issue in the help of `pull_tweet_data()`: I noticed some formatting issues such as `\code{n}` (in the example section). I suggest using `roxygen2md::roxygen2md()` to fix these (see https://roxygen2md.r-lib.or

[2022-01-29 19:13] bretsw commented on #382
@marionlouveaux, thank you so much for your follow up review. @jrosen48 and I are truly grateful!

Thank you for pointing out `roxygen2md::roxygen2md()`--what a handy function! I've cleaned up the documentation and pushed changes.

[2022-01-29 20:24] jooolia commented on #471
@ropensci-review-bot add @cpalmer718 to reviewers

[2022-01-29 20:30] jooolia commented on #471
Dear @cpalmer718, thank you for agreeing to review! The due date for your review is 2022-02-19.  Please refer to our [reviewer guide](https://devguide.ropensci.org/reviewerguide.html). If you have any questions feel free to ask here or via email.
Thanks, Julia

[2022-01-31 07:02] maelle commented on #382
Thanks a ton @marionlouveaux!

[2022-01-31 07:03] maelle commented on #382
@ropensci-review-bot approve tidytags

[2022-01-31 07:03] #382 closed

[2022-01-31 11:31] maurolepore commented on #429
Hi @jabiologo, it's time to remind you that this package continues on hold. Let me know whenever you're ready to proceed with the review. Else I'll close this issue on April 30, 2022.

--

The author can choose to have their submission put on hold (editor applies the holding label). The holding status will be revisited every 3 months, and after one year the issue will be closed.
-- https://devdevg

[2022-01-31 15:09] beatrizmilz commented on #495
Hi! Thanks for inviting. Here is my review:

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ro

[2022-01-31 15:49] bretsw commented on #382
@ropensci-review-bot finalize transfer of tidytags

[2022-01-31 18:48] bretsw commented on #382
Hi @maelle, so I thought I updated everything as requested for the transfer to rOpenSci, but now all my GitHub actions are failing. Any suggestions? https://github.com/ropensci/tidytags/actions

[2022-01-31 19:20] bretsw commented on #382
@maelle, could you also remove the `4/review(s)-in-awaiting-changes` tag? I'm wondering if this makes the badge in the README show up as "Under Review" instead of "Peer Reviewed"...

[2022-01-31 19:27] bretsw commented on #382
Looks like I fixed the GitHub pages issue (needed to change the build to happening from the root directory in Settings) and got codecov to work (needed to update the key following the transfer to rOpenSci) - https://github.com/ropensci/tidytags

For the R-CMD-CHECK, looks like some issue with the terra package is tripping it up. So, probably nothing to be done at this point.

[2022-01-31 21:00] cromanpa94 commented on #458
I should be able to get back to everyone by the second week of Feb! Will that work for you, @annakrystalli! Thank you @fboehm for your comments!! I will certainly let you know if I have any questions – for now, they are clear enough! Thanks again!

[2022-01-31 21:01] annakrystalli commented on #458
Sounds good to me! 👍

[2022-02-01 04:03] etam4260 opened #500 "hudr: An interface for the Department of Housing and Urban Development APIs"
Submitting Author Name: Emmet Tam
Submitting Author Github Handle: @etam4260
Repository:  https://github.com/etam4260/hudr
Version submitted: 0.0.0.9000
Submission type: Pre-submission
Editor:  TBD
Reviewers:  TBD

Archive: TBD
Version accepted: TBD
Language: en
---

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categorie

[2022-02-01 06:12] maelle commented on #382
Thanks for the updates, happy to look again if the installation issue doesn't resolve itself within a few days.

[2022-02-01 08:27] mpadge commented on #500
@etam4260 Can you please edit the submission template and replace all of the required HTML variables. The header should be 12-13 lines long; your current one has removed most of these, and has only 3 lines. Please do the following:

1. Open a new issue just to obtain and copy the template - do not submit a new issue
2. Paste the entire header material back into the header of your opening issue her

[2022-02-01 19:31] quishqa commented on #474
Sorry for the (very) late reply. Thanks a lot to @ldecicco-USGS and to @beatrizmilz and @kauedesousa for the
very exhaustive review. Now the package is definitely better and we also learned a lot
about building packages in R.

Here are the answers to each observation following the commit where we fix them.

## Response to @beatrizmilz

- [X] Consistent naming styles: it would be better to choose a

[2022-02-01 19:45] beatrizmilz commented on #474
Hi @quishqa ! I'm happy to know that the review was usefull. Congratulations for the extensive work!
Seems like the website was not fully updated. Some of the pages on the reference are returning error 404, in the case when the function names were changed: https://quishqa.github.io/qualR/reference/cetesb_retrieve_param.html
Probably using `pkgdown::build_site()` would fix it :)

[2022-02-01 20:44] jooolia commented on #500
Dear @etam4260, thank you for your pre-submission. We consider this in-scope and welcome a full submission. We consider it a data retrieval package as it eases access to these data. Thanks and let us know if you have any further questions.
Cheers, Julia

[2022-02-01 20:44] #500 closed

[2022-02-01 21:16] quishqa commented on #474
Thanks for noticing this. It's weird because the manual from the datasets are OK  but only the functions (which the names were changed)  are presenting this error. I already do `pkgdown::build_site()` . Locally it works but on the deployed web it does not work. I'm going to do a little more research.

[2022-02-02 01:29] cboettig commented on #492
Ok, I _think_ I've hit everything now, beween https://github.com/cboettig/gbifdb/pull/3 and https://github.com/cboettig/gbifdb/pull/4 . Summaries on each PR, and maybe the diffs are helpful too.

[2022-02-02 16:38] assignUser opened #501 "Presubmission inquiry: octolog"
Submitting Author Jacob Wujciak-Jens (@assignUser)
**Reviewers:**
**Editor:**
Language Code en
Repository:  https://github.com/assignUser/octolog/
Submission type: Pre-submission

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#pac

[2022-02-02 20:13] jooolia commented on #501
Dear @assignUser,
Thanks for the pre-submission. We consider octolog  in-scope and welcome a full submission. We consider it a workflow automation package as it increases the utility and reporting of Github actions for R developers. Thanks and let us know if you have any further questions.

[2022-02-02 20:13] #501 closed

[2022-02-02 20:33] assignUser opened #502 "octolog"
**Reviewers:**

Submitting Author Name: Jacob Wujciak-Jens
Submitting Author Github Handle: @assignUser
Repository:  https://github.com/assignUser/octolog/
Version submitted:
Submission type: Standard
Editor: @annakrystalli
Reviewers: @pat-s, @annakrystalli
Due date for @pat-s: 2022-03-30
Due date for @annakrystalli: 2022-06-07
Archive: TBD
Version accepted: TBD
Language: en
---

-   Paste the ful

[2022-02-04 03:10] adamhsparks commented on #498
@ropensci-review-bot add @bozaah to reviewers

[2022-02-04 03:12] adamhsparks commented on #498
@ropensci-review-bot add @laijasmine to reviewers

[2022-02-04 13:33] adithirgis commented on #418
Hi!

Sorry for the delayed response. Yes! It works perfectly well now. I have also completed my review process. Please do a final check with `devtools::check()` and `goodpractice::gp()`.

Thanks! All the very best. The package is very useful!

Thank you @maelle, let me know what are the further steps.

[2022-02-04 15:32] ewallace commented on #470
Hello @jooolia and @kelshmo!

After a lot of work, @DimmestP and I are resubmitting our improved tidyqpcr package for review. We created a new tag [tidyqpcr v0.4](https://github.com/ewallace/tidyqpcr/releases/tag/v0.4), for the latest version.

The issues we addressed are listed in the tidyqpcr repo under the [rOpensci-review label](https://github.com/ewallace/tidyqpcr/issues?q=label%3ArOpensci-re

[2022-02-04 21:48] jhollist commented on #492
@Pakillo and @stephhazlitt just wanted to make sure you saw these.  @cboettig has two PR's linked in https://github.com/ropensci/software-review/issues/492#issuecomment-1027489887 that should address the issues raised in your reviews.  Could you please take a look at these and let us know if everything is good to go?

[2022-02-04 23:06] quishqa commented on #474
Dear all, the returning 404 error was fixed in https://github.com/quishqa/qualR/commit/6e4ce0d80cbf71272905b283ae43480c44a7cad2

[2022-02-05 02:20] etam4260 commented on #500
Hi @joolia
Thanks for the confirmation. Going to work a little bit more on it before a full submission.  Looking forward to seeing what the peer review process is like.
Emmet

[2022-02-05 13:07] beatrizmilz commented on #474
Hi Mario! I checked here and the website is working :) Congratulations.

Congratulations for the extensive work.

About the vignette, I'm glad that you added an example with ggplot2! ggplot2 is an great package to create visualizations, and enables us to create elegant graphs with the data that qualR returns.

About the other suggestions and comments that I wrote, seems like they all have been con

[2022-02-06 20:31] cpalmer718 commented on #471
Hi @msweetlove @jooolia please see below for my review. I've added commentary at the bottom to explain some of it. I'm trying to return this early because I wasn't able to clearly evaluate parts of the package on my system, so we may need to iterate a bit.

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as des

[2022-02-06 21:52] maurolepore commented on #485
Dear @oggioniale FYI I'm still searching for reviewer 2. Sometimes it takes a while. Please be patient.

[2022-02-08 13:42] jooolia commented on #502
@ropensci-review-bot assign @annakrystalli  as editor

[2022-02-08 13:44] jooolia commented on #502
@ropensci-review-bot assign @annakrystalli as editor

[2022-02-08 15:31] joeroe opened #503 "rpaleoclim"
Submitting Author Name: Joe Roe
Submitting Author Github Handle: @joeroe
Repository:  https://github.com/joeroe/rpaleoclim
Version submitted: 0.9.0.9000
Submission type: Standard
Editor:  TBD
Reviewers:  TBD

Archive: TBD
Version accepted: TBD
Language: en
---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our

[2022-02-08 18:23] assignUser commented on #502
Thank you @jooolia for your work so far!

I just wanted to note that my test coverage as displayed by {pkgcheck} has seemingly dropped below 75% but this is due to an issue with {covr} and the way it handles `expect_snapshot` tests: https://github.com/r-lib/covr/issues/482
The actual coverage is >90%: https://app.codecov.io/gh/assignUser/octolog

[2022-02-08 20:51] zambujo commented on #495
Dear all, apologies for the delay. Please find my comments below:

## Package Review

- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work (if you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the follow

[2022-02-08 20:56] melvidoni commented on #495
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/495#issuecomment-1025860861 time 3

[2022-02-08 20:57] melvidoni commented on #495
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/495#issuecomment-1033049584 time 4

[2022-02-08 20:58] melvidoni commented on #495
Thank you both @beatrizmilz and @zambujo for the thoughtful reviews!

@peterdesmet please proceed with the outstanding changes whenever you have time. I'll ask both reviewers to stay tuned to see how your changes are being addressed.

[2022-02-09 11:06] joeroe commented on #503
Just to clarify, I have explained the two items marked with :heavy_multiplication_x: above.

[2022-02-09 16:02] annakrystalli commented on #502
Hello @assignUser and many thanks for your package submission! 👋

I'll be your editor and will start editor checks shortly and report back. 👍

[2022-02-09 17:07] peterdesmet commented on #495
Thanks @zambujo for your review. My feedback:

- **Other protocols for `check_path()`**: Other protocols like FTP could indeed be implemented, but the [specs](https://specs.frictionlessdata.io/data-resource/#url-or-path) for "URL or path" states that only http, https, and local POSIX paths are allowed. It makes sense though to allow (S)FTP, so have asked the Frictionless community for guidance.
-

[2022-02-09 20:59] zambujo commented on #495
Many thanks @peterdesmet. You have addressed all my comments and questions. Impressive work!

[2022-02-09 22:54] peterdesmet commented on #495
Thanks @zambujo. The suggested change for `unique_values()` is implemented in https://github.com/frictionlessdata/frictionless-r/pull/101.

@melvidoni, the comments suggested by @beatrizmilz are addressed in https://github.com/ropensci/software-review/issues/495#issuecomment-1025957514 and where actionable, all implemented in the latest version of the package. Both reviewers were included with `re

[2022-02-09 23:10] melvidoni commented on #495
Okay, given that @zambujo gave the okay, we are only missing @beatrizmilz's comments on the latest changes, and the answer for your question. Let's wait for her, then.

[2022-02-10 00:41] beatrizmilz commented on #495
Hi! Peter, the word `package` was not confusing for me since there was an explaination in the documentation! I  pointed out about the masking with `usethis` because for users that uses only `library()` and are not familiar with the possibility of conflict between functions with the same names, can eventually encounter errors and ask for help (and that is not a problem with the package!).  I think

[2022-02-10 01:43] melvidoni commented on #495
@ropensci-review-bot approve frictionless

[2022-02-10 01:43] #495 closed

[2022-02-10 09:13] peterdesmet commented on #495
@melvidoni Is it required to transfer the `{frictionless-r}` repository to rOpenSci? **Because this is also a question of branding**. Ping @lwinfree @sapetti9 @roll from Frictionless Data.

- [ ] **Package repository URL**: I would prefer to keep https://github.com/frictionlessdata/frictionless-r .That way 1) it is clearer that it is endorsed/maintained by Frictionless Data and 2) it keeps living

[2022-02-10 14:19] jhollist commented on #492
@Pakillo and @stephhazlitt pinging you both again to make sure that your review comments have been addressed.

[2022-02-10 19:50] lwinfree commented on #495
Hi all! First of all, it has been really lovely to watch this process unfold, so a big thank you to everyone that has been involved!

Speaking as product manager of Frictionless Data:
- we would like to keep the repo under the Frictionless organization as Peter suggests
- we would like to keep the Frictionless code of conduct to not confuse potential users if that is OK

everything else looks grea

[2022-02-12 22:37] Pakillo commented on #492
Hi,

Thanks @cboettig for working out all those changes. The documentation and usage look much nicer.

Unfortunately I'm still having issues trying to make the package work...

## Remote connection

First, if I try the remote connection (gbif_remote) using duckdb (the default), my R session invariable crashes whenever I try a consult, as it goes out of RAM (16 GB in my laptop).

So, I can connect

[2022-02-13 19:14] melvidoni commented on #495
Hello all. Please, bear with me while I discuss with the other Associate Editors. In the meantime, complete what you can, please.

[2022-02-14 06:41] laijasmine commented on #498
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revie

[2022-02-14 10:25] adamhsparks commented on #498
@laijasmine, thank you for your comprehensive review.

@clnsmth, you can choose to start working on the items that were raised in this review or wait for @bozaah’s review as well before starting.

@bozaah, there is no rush here. The review isn’t due until 2022/02/25, please feel free to take your time.

[2022-02-14 12:13] KlausVigo commented on #475
Hi @joelnitta! I will finish it today.

[2022-02-14 16:44] clnsmth commented on #498
Many thanks for this helpful review @laijasmine!

@adamhsparks, @bozaah, I'll wait for the second review before beginning revisions.

[2022-02-14 21:06] cboettig commented on #492
Thanks @Pakillo !  Yup, looks like there are still upstream issues in `arrow` and `duckdb` being worked out -- e.g. `arrow` 7.0 R client has a bug in `count` that causes it to read into memory.   I have a handful of open tickets in `arrow` and they have a great and very responsive team of developers, so I'm hopeful this will improve soon.  See:
- https://issues.apache.org/jira/browse/ARROW-14745
-

[2022-02-14 22:42] melvidoni commented on #495
Update @peterdesmet @lwinfree. We are discussing the CoC issue. Will get back to you soon-ish, please bear with us.

[2022-02-15 04:53] quishqa commented on #474
Thanks again for the feedback!  We updated the test for all the functions we evaluated dims. values and classes,
see https://github.com/quishqa/qualR/commit/29eb9151387f86686f917f23261a7608a9c92d1c
and https://github.com/quishqa/qualR/commit/3d3aaf3755dba82e0a35bfc6411954017a660540

Also, we updated the test messages in https://github.com/quishqa/qualR/commit/0a6b1481afae9bbe802f92e1175e17e325d552

[2022-02-15 07:38] maelle commented on #495
* https://docs.ropensci.org/frictionless/ is now up. It means the package has been added to rOpenSci R-universe https://ropensci.r-universe.dev/ui#builds For reference, here's how it was "registered": https://github.com/ropensci-org/makeregistry/commit/31e1638913977f508ef0330879b8cadb45c58f13
* it is fine it links to the frictionless COC. You might want to add that COC to https://github.com/fricti

[2022-02-15 09:53] maelle commented on #495
![screenshot from rOpenSci website where one gets a card for the frictionless package](https://user-images.githubusercontent.com/8360597/154037181-153c307c-c813-46da-814e-f36d11649345.png)

https://ropensci.org/packages/all/

[2022-02-15 11:39] peterdesmet commented on #495
Thanks @maelle!

- I've added a small `.github/CODE_OF_CONDUCT.md` page that points to Frictionless Data COC. This makes it appear in sidebar.
- Rather than setting up a `frictionlessdata.github.io` repository (required when the repository moves organizations - not the case here), I have placed a redirect `index.html` on the `gh-pages` branch of the repository, disabled automatic pkgdown building,

[2022-02-15 12:29] maelle commented on #495
Thank you!

Indeed, we override those in https://github.com/ropensci-org/rotemplate

It is good to keep them indeed. R-universe does build the package but you wouldn't get notified and you can't share credentials for instance. You can see the R-universe status of your package at https://ropensci.r-universe.dev/ui#builds

[2022-02-15 20:00] Pakillo commented on #492
Thanks @cboettig. I reckon these issues stem from upstream dependencies (arrow and duckdb) - hope they are fixed soon.

That's because that in that session I am choosing directly an arrow backend (`to_duckdb = FALSE`), so it seems duckdb does not get loaded.

@stephhazlitt Thanks for the suggestion! Using `arrow::open_dataset`, as you suggest, does not crash my R session (while using gbif_local wi

[2022-02-15 20:27] cboettig commented on #492
`gbif_local()` using the arrow backend calls `arrow::open_dataset()`, but then takes the additional step of registering the connection with `duckdb`:

https://github.com/cboettig/gbifdb/blob/1b50eb6d83963d2c10e3cfb40ef2ff8fd2df57c3/R/gbif_conn.R#L28-L32

This ought to have an effect similar to `arrow::to_duckdb()` , but is done via the `duckdb::duckdb_register_arrow` instead.  This more closely pa

[2022-02-15 22:53] Pakillo commented on #492
I see... Thanks for the explanation! Then the issues seem to be with duckdb rather than arrow, right?

I'm using latest `duckdb` available on CRAN (0.3.2)

This is the code that crashes my session:

[code]

Session info:

[code]

[2022-02-15 23:26] cboettig commented on #492
Thanks!  Yes, at the moment, it does look like purely `arrow`-based methods are working more-or-less as expected, e.g. `gbif_remote()` with `to_duckdb()` = FALSE, or a local connection using `arrow` without using `duckdb::duckdb_register_arrow`.

I think both of these _duckdb_ issues may be related to the still-open bug in the _arrow_ package, https://issues.apache.org/jira/browse/ARROW-14745 , bu

[2022-02-16 08:37] oggioniale commented on #485
Dear @maurolepore do you have any news about the second reviewer?

[2022-02-16 10:54] Pakillo commented on #492
Thanks @cboettig

I can confirm using `arrow::open_dataset` works well, also using `collect`:

[code]

It works!

[code]

[2022-02-16 13:06] maurolepore commented on #485
Dear @oggioniale,

I'm sorry it's taking so long. I tried about 10 so far but unfortunately I haven't found one yet. It has happened before that I find two reviewers right away, and also that it takes quite some time.

To try move faster I'll ask for help or ideas for reviewers to other editors.

[2022-02-16 13:09] oggioniale commented on #485
Dear @maurolepore

thank you so much!

[2022-02-16 22:15] jonkeane commented on #492
That issue is closed (though the fix for it is not in the 7.0 release!) It's possible that the crash is being caused by the behavior that's in 7.0 still. Though I will note that that change is only for going from duckdb into arrow (e.g. via `to_arrow()`).

I haven't looked at the code in GBIF in detail, but at first glance I did not see code that does that. Am I missing something? Or is it that af

[2022-02-17 04:28] cboettig commented on #492
@jonkeane thanks so much for joining us on this!  Yes, I mean to test on the nightly, as you see @Pakillo is testing against the current 7.0 release.  `gbifdb` does not use `to_arrow()` anywhere though.  `gbifdb` uses `arrow::to_duckdb` (optionally) on the remote data source, which seems to result in crashes (though it seems okay if `to_duckdb()` is used on local parquet instead of over the S3 int

[2022-02-17 12:23] jhollist commented on #492
Just wanted to let you all know that I haven't been ignoring this, just didn't have anything useful to add.  At this point it sounds like we are making progress on tracking down the source of the crashes, but still trying to figure out the solution.  If there is anything you need from me, just let me know and I will keep an eye on the conversation.

[2022-02-17 20:00] maurolepore commented on #485
@ropensci-review-bot assign @allisonhorst as reviewer

[2022-02-17 20:08] maurolepore commented on #485
@ropensci-review-bot set due date for @WillOnGit to 2022-03-10

[2022-02-17 20:26] maurolepore commented on #485
@oggioniale, awesome news: The second reviewer will be @allisonhorst.

[2022-02-17 22:51] Pakillo commented on #492
Hi,

I'm happy to help fix this, but I don't know what is needed exactly (beyond what I've shared above). How can I generate a stack trace of those problems?

Also, I wonder: am I the only one getting these crashes? Why? Do you have much larger RAM available?

[2022-02-18 14:52] jhollist commented on #492
@Pakillo

[code]
Does not run on my machine either.  I don't ever get to a crash, it hangs.  I let it run for several hours last night  just to be sure it wasn't just taking long.

@cboettig Do you have a plan for solving these or do we want to put the submission on hold until some of the dependency issues clear up?

[2022-02-18 21:22] cboettig commented on #492
Hi all,

I really appreciate all the help and testing!  Just wanted to make sure I'm keeping straight what is and isn't crashing for everyone.

## Remote sources

`gbifdb` has two ways to access data without download:
1. `gbif_remote(to_duckdb = FALSE)`
2. `gbif_remote(to_duckdb = TRUE)`

Am I correct that everyone sees issues with the second case but not the first on current releases, `arrow` 7.0

[2022-02-18 21:25] stephhazlitt commented on #492
@cboettig I am working through the various strategies today and will report back with details.

[2022-02-19 01:19] stephhazlitt commented on #492
I was not experiencing the same crashing as others, however as a confirmation, I thought I would try the various paths out again. I installed the `patch-download` version before running these.

### Remote Options

#### 1. arrow::open_dataset()

[code]

#### 2. gbifdb::gbif_remote(to_duckdb = FALSE)

[code]

#### 3. gbifdb::gbif_remote(to_duckdb = TRUE)

[code]

#### Session Info

[code]

[2022-02-19 23:26] Pakillo commented on #492
Hi, here are my results

# Remote options

## 1. arrow::open_dataset()

[code]

## 3. gbifdb::gbif_remote(to_duckdb = TRUE)

CRASHES R (due to RAM)

[2022-02-20 00:02] Pakillo commented on #492
# Local database

## 1. gbif_local(backend = "arrow") - CRASH

(which is arrow::open_dataset() + duckdb::duckdb_register_arrow)

[code]

CRASH

## 2. gbif_local(backend = "duckdb") - WORKS

(which is "pure duckdb")

[code]

## 3. arrow::open_dataset() + to_duckdb() - CRASH

[code]

CRASHES R

## 4. arrow::open_dataset() without to_duckdb() - WORKS

[code]

# Conclusions

- gbif_remote works well w

[2022-02-20 00:18] stephhazlitt commented on #492
#### Local Options

[code]

**1. gbif_local(backend = "arrow") (which is arrow::open_dataset() + duckdb::duckdb_register_arrow)**

**WORKS**

[code]

**2. gbif_local(backend = "duckdb") (which is "pure duckdb")**

**WORKS**

[code]

**3. arrow::open_dataset() + to_duckdb()**

**CRASHES**

[code]

**4. arrow::open_dataset() without to_duckdb()**

**WORKS**

[code]

[2022-02-20 00:36] stephhazlitt commented on #492
I am not sure why now, as it often just crashed out right, but when I was running the `3. arrow::open_dataset() + to_duckdb()` my computer prompted me to force close applications as it was running out of memory -- so I guess it is a RAM issue. No issue with any of the options with the very small example data set:

[code]

[2022-02-21 20:24] joelnitta commented on #475
@KlausVigo thank you very much for the extensive and helpful review!

I just wanted to address one thing first: the reason I copied functions from phyloregion instead of importing them is because of a dependency of phyloregion (betapart), which has a package in `Suggests` (snow) that was resetting the random number generator and thus `cpr_rand_test()` was failing to return identical results when u

[2022-02-23 07:59] bozaah commented on #498
## Package Review

- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work (if you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

**No current or past work/personal relationship to report.**

#### Documentation

The package includes all the following f

[2022-02-23 19:34] kauedesousa commented on #474
I think the updates address our comments. It looks fine with me.

[2022-02-23 22:47] allisonhorst commented on #485
Here is my review of the `ReLTER` package! Happy to answer any questions and provide clarification.

## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

-   **Briefly describe any working relationship you have (had) with the package authors.**

None.

-   ☒ As the reviewer I conf

[2022-02-24 07:29] adamhsparks commented on #498
@bozaah, thank you for your review.

[2022-02-24 07:29] adamhsparks commented on #498
@ropensci-review-bot submit https://github.com/ropensci/software-review/issues/498#issuecomment-1038707902 time 8

[2022-02-24 07:30] adamhsparks commented on #498
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/498#issuecomment-1038707902 time 8

[2022-02-24 07:30] adamhsparks commented on #498
@ropensci-review-bot submit review https://github.com/ropensci/software-review/issues/498#issuecomment-1048525426 time 9

[2022-02-24 12:51] micha-silver commented on #485
@allisonhorst
Thank you for the excellent review. We're "on it".

[2022-02-24 13:00] oggioniale commented on #485
@allisonhorst
Many many thanks for your review. We working on the answers and on fixing the issues that you are open.
In the next few days our answers and the commits for improve the quality of `ReLTER` package following your suggestions.

[2022-02-24 14:37] maurolepore commented on #485
@oggioniale, great you're keen to respond quickly but please remember the review by @WillOnGit is still pending. If you do any work now please consider using a branch other than main. Working on main would force @WillOnGit to work against a moving target. In the end you'll need to consider both reviews jointly.

[2022-02-24 15:31] oggioniale commented on #485
@maurolepore
thanks you for suggestions. I was referring to put some answers to the comments of @allisonhorst as is done in reviews of scientific papers and, in the meantime, devote a specific branch to the issues.

[2022-02-24 15:38] clnsmth commented on #498
Many thanks for these comments @bozaah!

@adamhsparks, I'll begin responding to reviews next week.

[2022-02-25 07:31] maelle commented on #418
@GLOrozcoM, @ogilani and @mmlawrence, any new update? :smile_cat:

[2022-02-25 09:37] oggioniale commented on #485
Dear @allisonhorst,
thanks a lot for your comments, moreover, for your revisions, suggestions and issues.
In line my answers.

----------------------------

This is exactly the main aim of `ReLTER` package: interact with the informations and data provided by eLTER tools. In addition, since the eLTER community is global and provides long-term ecological research data, in perspective will be useful

[2022-02-25 11:16] jooolia commented on #470
Note: I contacted Kelsey Montgomery on LinkedIn to review the changes.

[2022-02-25 15:53] MagicForrest opened #504 "Presubmission inquiry: DGVMTools"
Submitting Author  Matthew Forrest (@MagicForrest)
**Reviewers:**
**Editor:**
Language Code R
Submitting Author: Matthew Forrest (@MagicForrest)
Other Package Authors:  Simon Scheiter (@sscheiter), Glenn Moncrieff (@GMoncrieff), Jörg Steinkamp (@joergsteinkamp)
Repository:  https://github.com/MagicForrest/DGVMTools
Submission type: Pre-submission

---

-   Paste the full DESCRIPTION file inside a