[2018-08-16 06:31] JonasGeschke commented on #244
Hi @sckott thanks for your quick message.

There is no relationship between the IUCN Red List and the CITES Speciesplus database. The IUCN Red List contains data about the conservation/endangerment status of species; the CITES Speciesplus database contains data about the (illegal) trade status of endangered species, so it goes beyond the Red List. Actually, the Speciesplus database also contains d

[2018-08-16 16:49] sckott commented on #232
@naupaka can you get your review in soon?

[2018-08-16 18:35] sckott commented on #244
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-08-17 03:08] naupaka commented on #232
I’m sorry this has taken so long. I’m just about done putting the package through its paces and looking through the code. I’ve set aside time tomorrow afternoon to finalize the write up.

[2018-08-17 04:16] jacob-long opened #245 "Pre-submission inquiry: panelr"
I'm creating this issue to get a sense of whether this package could be in scope.

I originally started working on this because I wanted to automate the specification of certain regression models for panel (i.e., repeated measures) survey data, but I've come to realize the most widely beneficial thing I've developed may be the "infrastructure" that I created along the way.

The aspect that would b

[2018-08-17 08:10] mpadge commented on #220
:+1: Re: "ctb": :+1: of course! Thanks!

Re: tags + caching: Yeah, some invasive surgery will be required, and yeah, `memoise` is perhaps not ideal for the reasons you state, but then again `pb_new_release` is the only function that should change tags (at least until, or if, `pb_delete(tag = ...)` is incorporated), so consistent cache updating would just require re-running `memoise(get_tags())` wi

[2018-08-17 16:00] KevCaz commented on #244
@sckott thanks!

Actually, following the guidelines of Ropenscience, we've used `goodpractice` (that's why we got rid of a `sapply()`!). Regarding the length of code line issue, I'd be happy to have your feed back: we used `tidy_dir()` from `formatR` package with a `width.cutoff=80`, so, should we reduce the cutoff?

[2018-08-17 17:43] karthik commented on #226
@leonawicz Quick update. Let me know once you've worked through Jasmine's suggestion. The second reviewers email got lost but I have contacted them again to complete the review. If it doesn't arrive shortly, I will act as second reviewer.

[2018-08-18 05:07] maelle commented on #243
Thanks for your thorough review @seaaan! 😀

[2018-08-18 14:07] leonawicz commented on #226
@karthik Thanks. I've done everything I'm able to at this time. I don't think the handful of lines without code coverage via Travis CI/Codecov are that important. Some cannot be covered like `.onLoad` lines (or can it?).

If ensuring a true tile-generating (i.e., file-generating) test occurs on Linux builds via Travis CI is important, I am stuck there (see link to issue above regarding installing

[2018-08-18 17:15] karthik commented on #226
Thanks @leonawicz, I'll take a look at those issues.

Also @Paula-Moraga is going to be our second reviewer and she will complete her review shortly.

[2018-08-18 19:11] Paula-Moraga commented on #226
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-08-20 07:50] DomBennett commented on #232
Thanks very much for all the time you put in to this review @naupaka! I'm sorry, it seems my R packages never work for you. It looks like the first error is to do with my expectations for the GenBank record: I suspect the parsing functions are extracting empty strings or unexpected characters/numbers. The `string or blob too big` error is a slightly more worrying. It suggests an upper limit on the

[2018-08-20 17:28] sckott commented on #244
If those lines are already 80 or shorter, then all good. I didn't check them myself. there are definitely exceptions when it's just too cumbersome to do so

[2018-08-20 17:30] sckott commented on #232
Awesome, thanks for the review @naupaka !

[2018-08-20 22:12] sckott commented on #244
Reviewers assigned:

- @noamross  due date 2018-09-07
- @mcsiple   due date 2018-09-10

[2018-08-21 18:13] noamross commented on #244
## Package Review

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [ ] **A statement of need** clearly stating problems the software is designed to solve

[2018-08-21 18:30] sckott commented on #244
thx for your review @noamross !

[2018-08-21 19:05] stefaniebutland commented on #189
@tklebel I have blog post publication dates available Sept 18, Oct 2, 9, 16. If you're still interested, let me know your preferred date and mark your calendar to submit a draft a week in advance.

Please see my comment above for more details.

[2018-08-21 19:08] stefaniebutland commented on #195
@willpearse how about now? 😀 Would love to have a post about `suppdata` but I understand this goes beyond the time already committed to the review process. I have blog post publication dates available Sept 18, Oct 2, 9, 16. If you're still interested, let me know your preferred date and mark your calendar to submit a draft a week in advance.

[2018-08-21 19:17] stefaniebutland commented on #192
@JasperHG90 Hoping your projects load allows you some breathing room soon.
I have blog post publication dates available Sept 18, Oct 2, 9, 16. If you're still interested, let me know your preferred date and mark your calendar to submit a draft a week in advance. Goal is to get more eyes on your work, but I know this is extra work beyond the review process. No worries if you're reluctant to spend t

[2018-08-22 04:32] maelle commented on #217
@pachamaltese cool, congrats! So you're done with all comments?

[2018-08-22 04:54] pachamaltese commented on #217
Yes! Thanks a lot for the useful comments.
I just kept tidyeval for consistency.

Best,

On Wed, Aug 22, 2018, 1:32 AM Maëlle Salmon <notifications@github.com>
wrote:

[2018-08-22 05:32] maelle commented on #217
@aedobbyn @cimentadaj can you please have a last look at the package? Thanks!

[2018-08-22 06:34] JonasGeschke commented on #244
@noamross thank you for this very comprehensive review. Your comments will help us a lot, we will do our best to address them all! Also I like that your `cites` package for the trade database, which actually was a thought of mine to potentially include this in `rcites` lateron, too.
I will work out a checklist from your comments later today, so we can start implementing them step by step.

[2018-08-22 06:57] JonasGeschke commented on #244
**Review checklist to be implemented**

- [ ] make `simplify` more aggressive and provide option to receive unprocessed list (`raw=FALSE`)
- [ ] check `special_cases` for correct data structure
- [ ] consider returning data.frames rather than data.tables
- [ ] make printing of long text fields more clean
- [ ] rename function prefixes for more straight forward understanding and workflow
- [ ] retu

[2018-08-22 10:53] tklebel commented on #189
@stefaniebutland I'm still interested in writing a blog post. Regarding publication dates, I would prefer Oct the 9th, if that is ok for you.

[2018-08-22 11:00] maelle commented on #245
Thanks for your inquiry @jacob-long! We've discussed your pre-submission and come to the conclusion that the data munging your package provides is too general for our suite. Thanks again!

[2018-08-22 11:00] #245 closed

[2018-08-22 12:28] KevCaz commented on #244
@noamross I have two questions regarding your review:

Do you mean JSON/XML?

Also, regarding data.table, do you think we should rather not use it? I think we'll be able to do the same manipulations without it, so it means we'll have one less dependency, which may be desired.

Thanks!

[2018-08-22 14:15] alisonboyer commented on #155
Hi Scott,
i'm really sorry but I don't think I'm able to review it at this time.
Please don't wait for me.
_________________________________
Alison Boyer
Research Staff, ORNL DAAC
Environmental Sciences Division
Oak Ridge National Laboratory

and

Joint Faculty Assistant Professor
Dept. of Ecology & Evolutionary Biology
University of Tennessee
Knoxville, Tennessee 37996

http://www.bio.utk.edu/boy

[2018-08-22 16:31] noamross commented on #244
Correct, I meant the English/French/Spanish parameter.

Yes, I'd drop data.table as a dependency.

Also, my advice is to hold off on major changes prior to getting your second review! It's usually easier to address them simultaneously, and @mcsiple may not agree with me on everything!

[2018-08-22 16:49] stefaniebutland commented on #189
Glad to hear that @tklebel. Tuesday 2018-10-09 is yours. Please submit a draft via pull request by 2018-10-02 and don't hesitate to ask any questions here.

[2018-08-23 00:01] robitalec commented on #237
@lmullen should the tag currently be `5/awaiting-reviewer(s)-response` and not `3/reviewer(s)-assigned`?

[2018-08-23 06:59] FilipeamTeixeira commented on #237
@robitalec Any news on the updated package? I would like to go through it once again, but before it would be nice to see those changes mentioned above made.

[2018-08-23 12:09] czeildi commented on #238
Hi,

@OJWatson I have one small remark: the NEWS could be more concise, more shorter bullet points grouped according to new function / bug fix etc would make it easier to skim through it. You  may consider getting ideas from http://style.tidyverse.org/news.html.

FYI I won't be reviewing the package as discussed with Anna.

[2018-08-23 15:41] cimentadaj commented on #217
Will do this weekend!

[2018-08-23 15:48] leonawicz commented on #226
@Paula-Moraga thanks for your review! :) Sorry for delays, work has been very busy lately.

The function `tile_viewer` is for edge cases where the `preview.html` file associated with a set of map tiles needs to be created because it is missing/deleted or because it must be re-created. For example, if someone runs `tile` multiple times with different zoom level settings and `resume = TRUE`, the `pr

[2018-08-24 09:15] OJWatson commented on #238
Hi,

Thanks for this @czeildi - have never written a NEWS section before, and reading it back I have definitely waffled. I'll trim and tidy it up in line with the style guide you've linked.

Many thanks, OJ

[2018-08-24 12:34] khufkens opened #246 "MODISTools onboarding"
### Summary

-   What does this package do? (explain in 50 words or less):

Programmatic interface to the 'MODIS Land Products Subsets' web services (<https://modis.ornl.gov/data/modis_webservice.html>). Allows for easy downloads of 'MODIS' time series directly to your R workspace or your computer.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (th

[2018-08-24 15:38] aedobbyn commented on #217
Looking good @pachamaltese!

Here are a few notes. I hope to be able to to look through more thoroughly this weekend but in case I'm not able to I wanted to give you something. By topic, in no particular order:

**`get_data`**

- In `get_data`, the warnings `No encoding supplied: defaulting to UTF-8.` occur during the [`parse()` call](https://github.com/pachamaltese/oec/blob/master/R/get_data.R#L1

[2018-08-24 15:45] pachamaltese commented on #217
WHOA !! thanks a lot @aedobbyn !!!!!!!!!
I'm making changes this weekend. For now, the rationale for keeping the tidyeval was just to mimic some design decisions I like, for example those in the `highcharter` package by @jbkunst.

[2018-08-24 16:16] aedobbyn commented on #217
No problem, glad it's helpful! And makes sense -- it doesn't affect the functionality of course and assuming rlang stays backward-compatible (which I think they will?) you should be fine if they change the tidyeval syntax.

[2018-08-24 20:56] robitalec commented on #237
@FilipeamTeixeira I think I was confused about the status of the reviews and deadline date stated by @lmullen. Apologies all for the delay.. Moving forward:

Were you able to see the vignettes with the updated install line?

Some of the changes were previously mentioned, as I completed them, but here is a full list of all changes since your initial review:

- [X] `help(spatsoc)` added with author,

[2018-08-25 07:28] Paula-Moraga commented on #226
@leonawicz Thanks for the `tile_viewer()` explanation. Maybe it is useful to add this explanation in the vignette. I agree it is hard to write installation guidelines that work for everybody. Looking forward to the leaflet example!

[2018-08-26 10:42] maelle commented on #240
:wave: @wolski could you please answer the questions above?

[2018-08-26 10:43] maelle commented on #233
👋 @kamapu! Any update or answer on the above? Thank you!

[2018-08-26 11:03] maelle commented on #243
@haozhu233 just a reminder that your review is due on 2018-09-03. Thank you! 😺

[2018-08-26 11:03] maelle commented on #210
@azizka Any news?

[2018-08-26 12:51] aedobbyn commented on #217
Thanks for implementing those changes so quickly! Last bit of suggestions from me, I think:

- In your `get_data` `@return` documentation I would point people to your handy [reference](http://pacha.hk/oec/articles/oec.html) about what each of the columns means since a lot of these are non-obvious.

- If you feel it's worth it (though I don't think strictly necessary), you could refactor out some o

[2018-08-26 15:41] pachamaltese commented on #217
*thanks a lot* @aedobbyn !!
I still have some pendings that I am adding to this new list
btw, after all of this cool changes you suggested, can I contact you by email? it's for a related project that benefited a lot from this feedback

[2018-08-26 15:47] cimentadaj commented on #217
Great job @pachamaltese. I think @aedobbyn has covered most of the major problems. Here are some minor concerns.

* https://github.com/pachamaltese/oec/blob/master/R/get_countrycode.R#L51-L52 should say 'vector' rather than package.

* Perhaps you can move [this](https://github.com/pachamaltese/oec/blob/master/R/get_data.R#L112-L161) outside the main function so it's cleaner.

* In general, I woul

[2018-08-26 19:04] aurielfournier opened #247 "Pre Submission Inquiry - refnet"
Hello,

Curious if you would consider the `refnet` package for review. I think it falls under data extraction and munging, but I wanted to check before submitting.

https://github.com/embruna/refnet2

`RefNet` was written to help users of the R statistical computing environment address these challenges. It imports and organizes the output from Web of Science and SCOPUS searches, disambiguate autho

[2018-08-26 19:38] #136 closed

[2018-08-26 19:38] #184 closed

[2018-08-26 19:38] #189 closed

[2018-08-26 19:43] tklebel commented on #189
@karthik is it possible, that I am still missing appropriate rights for the repo? I wanted to fix the link in the title of the repo, but I still couldn't do it (someone else fixed it for me in the meantime).

[2018-08-26 19:49] karthik commented on #189
@tklebel Can you please check now?

[2018-08-26 19:49] tklebel commented on #189
@karthik perfect, thanks!

[2018-08-26 20:06] azizka commented on #210
Hej,

yes it does, I fixed it as suggested. Thanks @Pakillo.

[2018-08-27 05:08] maelle commented on #210
@pakillo @isteves are you both now happy with the package?  If so can you check "The author has responded to my review and made changes to my satisfaction. I recommend approving this package." in your review? Thanks!

[2018-08-27 21:27] Pakillo commented on #210
Hi,

Yes, I'm very happy with the package. Many thanks @azizka for the hard work, @isteves for your comments, and @maelle for your excellent editorial work.

A few final comments:

- Travis is still giving error due to undocumented arguments in `cc_inst` (see [Travis log](https://travis-ci.com/azizka/CoordinateCleaner/builds/82557703#L1703)). Please fix.

- There are a number of broken URL links a

[2018-08-28 01:33] pachamaltese commented on #217
@amanda @cimentadaj once again thanks for the feedback !! I completed all the points that Amanda listed (above I wrote a clickable list that I completed)

the server is down again, please give 1-2 days to complete Jorge's addresses?

@cimentadaj: any chance to contact you by email? mine is " m vargas a/t dcc uchile cl"

[2018-08-28 05:17] maelle commented on #210
At least CRAN must have one... will ask in Slack.

[2018-08-28 06:01] cimentadaj commented on #217
Yes @pachamaltese , feel free to contact me and no worries about the 1-2 days.

[2018-08-28 20:30] karthik commented on #213
Thanks @rtaph!  @carlganz and @nealrichardson can you please respond and sign off on this or raise any other concerns?

[2018-08-29 04:17] maelle commented on #247
:wave: @aurielfournier! Thanks for asking. Yes it'd be in scope, feel free to submit it when it's ready! 😺

I have a few questions/remarks (not necessary to answer now, but important when submitting)

* If I use the package for dataset1 and then want to use it for dataset2 that's dataset1 with more rows, can I use the results of my disambiguation results on dataset1?

* In DESCRIPTION I see that t

[2018-08-29 04:17] #247 closed

[2018-08-29 15:19] leonawicz commented on #226
@Paula-Moraga I still have to update the vignette with a mention about `tile_viewer`, but for now please see the updated vignette regarding the fun Leaflet examples. :)

I have added two examples, one geographic and one non-geographic, using `leaflet` to display remotely hosted tiles that were originally created with `tiler`. The code is shown for the original calls to `tile` that generated these

[2018-08-29 16:58] pachamaltese opened #248 "gravity"
### Summary

-   What does this package do? (explain in 50 words or less):
provides estimation methods for Gravity Models

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):

https://github.com/pachamaltese/gravity

- Please indicate which category or categories from our [package fit policies](http

[2018-08-29 18:08] carlganz commented on #213
LGTM

[2018-08-29 18:27] annakrystalli commented on #220
OK, not to worry. I'll keep an eye on the thread for progress. 💪   🏊‍♂️

[2018-08-29 19:04] karthik commented on #246
Thanks for this submission @khufkens! I will follow up shortly with next steps.

[2018-08-29 19:13] khufkens commented on #246
No rush, I promised both @sckott and @seantuck12 to push this back to rOpensci back in June but the summer got in the way.

[2018-08-30 17:30] maelle commented on #248
:wave: @pachamaltese! Thank you for your submission! However, it is out of scope because it is primarily a statistical method implementation tool which doesn't fall under our reproducibility category.

[2018-08-30 17:30] #248 closed

[2018-08-30 23:26] nealrichardson commented on #213
Thanks for the reminder. Looks good to me too; I checked the final approval box on the checklist above.

[2018-08-31 16:18] karthik commented on #213
Congrats @rtaph, your submission has been approved! 🎉 Thank you for submitting and @carlganz and @nealrichardson for thorough and timely reviews. To-dos:

- [ ] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.

- [ ] Add the rOpenSci footer to the bottom of your README

[co

[2018-08-31 21:48] haozhu233 commented on #243
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-08-31 22:39] maelle commented on #243
Thanks a lot for your review @haozhu233! 😀

@mahshaaban now both reviews are in.

[2018-09-01 04:50] MahShaaban commented on #243
Thanks @haozhu233 for your review. I will work on the changes you suggested.
Regarding your last comment, I made some changes to use the pipeable approach, [here](https://github.com/MahShaaban/colocr/tree/pipeable). I haven't merged the changes to the development branch yet. So please, let me know if you have any comments on that as well.

[2018-09-01 04:54] rtaph commented on #213
Thank you @karthik, I will do so shortly. Regarding a blog post, I would be happy to participate.

@nealrichardson and @carlganz, with your permission, I would like to add your names to the DESCRIPTION file as reviewers. Do you have an ORCID you would like me to include?

[2018-09-02 07:12] Paula-Moraga commented on #226
@leonawicz The leaflet examples are not working for me. Coult it be that the variables
`tiles <- "https://leonawicz.github.io/tiles/us48lr/tiles/{z}/{x}/{y}.png"` and `tiles <- "https://leonawicz.github.io/tiles/st2/tiles/{z}/{x}/{y}.png"` are not right?

[2018-09-03 04:16] amrrs commented on #172
@noamross  Coinmarketcap has updated their API and I've to move the package to the new API before November. So it seems ideal to submit after that. Any thoughts?

[2018-09-03 08:51] MahShaaban commented on #243
I'd like first to thank you guys for your time and the thoughtful comments.

I've made a quite a few changes based on the comments and the suggestions above. So I will start by mentioning these then I will reply to each of the reviews separately.

The changes I made for these reviews are in a new branch called `pipeable`

To install this branch from github direclty please use

[code]

Since the **

[2018-09-03 08:53] maelle commented on #243
Thanks @MahShaaban!

@seaaan @haozhu233 could you please have a look at @MahShaaban's answer? Thanks in advance!

[2018-09-03 12:02] annakrystalli commented on #238
Hi @OJWatson, just to keep you up to date, I have been trying to find a new reviewer, hoping it wouldn't take too long but alas, it has. I'm still on the case but as I'm still on the case I will return the status of the review to seeking reviewers.

I'll also reset the deadline for review when a new reviewer has been found. Sorry about this! If you have any suggestions for a reviewer let me know!

[2018-09-03 14:15] haozhu233 commented on #243
@MahShaaban Thanks for the responses. I just checked the branch and it looks a lot better. Here are some new issues I found.

- In the shiny app, I can only upload one image every time
- For zipped file entries, there is a `unzip` function in R that lets you unzip files and returns the names (you might want to create a temp dir and then do that).
- In the shiny app, after you upload an image, the

[2018-09-03 16:00] annakrystalli commented on #238
Great news! We finally have two reviewers again! 🎉
Thanks again to both for agreeing to review 🙏

***

Reviewers: @dosgillespie @LucyMcGowan
Due date:  2018-09-24

[2018-09-03 20:37] kamapu commented on #233
Dear @maelle, there are not really updates on this issue. At the moment I am for a longer period in the field (Kenya). Though, it will be difficult for me to really document differences between `taxlist` and `taxa`. I only can tell in favour of `taxlist` that this package is implemented in `vegtable`, which is meant as a container for vegetation-plot databases in **R**. In fact, `taxlist` developm

[2018-09-04 01:37] MahShaaban commented on #243
Thanks, @haozhu233

* I am pretty sure the app accepts more than one file. I made sure `multiple = TRUE` in `fileInput()`, [here](https://github.com/MahShaaban/colocr/blob/d25353ec347f9c8e5d34ee115acaa56d7e4fd771/inst/colocr_app/app.R#L16). I also have a test case with two images and it passes fine. If you tried that on the version of the app hosted on shinyapps.io it will not work since I haven't

[2018-09-04 04:13] maelle commented on #233
One (pre-)submission by package is best.

Have a productive time in the field!

[2018-09-04 14:26] leonawicz commented on #226
I have been checking here after using pkgdown and hosting online with the GitHub repo: https://leonawicz.github.io/tiler/articles/tiler.html

The Leaflet widgets in the `tiler.html` file are also displaying for me locally.

Are you seeing something different?

[2018-09-04 14:30] leonawicz commented on #226
Oh wait, I think I understand. If you mean the code is not working in RStudio, click the little button at the top of the map viewing pane to open the widget in your browser. Then it may display. Alternatively, run the code in regular R (not RStudio). This should also work automatically. Let me know if this fixes it. I don't know the details, but remotely hosted components may not display automatic

[2018-09-04 15:43] haozhu233 commented on #243
@MahShaaban

- I was using RStudio 1.1 and the file uploader there doesn't support multiple files. After I start to use the preview version, this bug is gone.
- Great!
- How about a `<br>`?
- How about restrict the range in the shiny app to 0-99?
- Great!

Another tiny issue, can you reformat the UI part to make the codes look a little bit more structured?

[2018-09-04 15:49] Paula-Moraga commented on #226
Yes, that was the reason! I do not see them in RStudio's preview pane but when I click the right panel it works perfectly! The examples you chose are great, thank you!

[2018-09-04 16:50] nealrichardson commented on #213
Thanks @rtaph. Sure, you can add me to DESCRIPTION as a reviewer. I don't have an ORCID.

[2018-09-04 21:40] seaaan commented on #243
Nice changes! I have a few suggestions, but mostly it all looks good to me.

### Processing multiple images
I like the functionality of processing multiple images.

It would be nice to return a data frame of one row per image instead of a list of data frames when `roi_test` is called on a list of images

Maybe provide a `load_images()` function that takes a directory (or list of files?) and calls

[2018-09-04 23:43] karthik commented on #246
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-09-05 03:50] ifellows opened #249 "ipc: Tools for message passing between processes"
### Summary

-   What does this package do? (explain in 50 words or less):

This package provides tools for passing messages between R processes.
    Shiny examples are provided showing how to perform useful tasks such as:
    updating reactive values from within a future, progress bars for long running
    async tasks, and interrupting async tasks based on user input.

-   Paste the full DESCRIPT

[2018-09-05 05:10] MahShaaban commented on #243
Thanks, @haozhu233

* I tried using `<br>`, it didn't work as expected.
* I restricted the input to `threshold` in the shiny app to 0:99.
* I restructured and commented the code for the UI. Hopefully, it's more readable now.

[2018-09-05 05:26] MahShaaban commented on #243
Hey, @seaaan
Here are some changes I made in response to your last comment.

## Processing multiple images

* The reason I choose `roi_select` to return a `list` is to keep have the returned `data.frame` units unchanged regardless of the number of input images. Returning one row for each image is not possible when there are multiple regions of interest in each image. Also, to have a straightforwar

[2018-09-05 17:01] pachamaltese commented on #217
@aedobbyn @cimentadaj thanks a lot!!
I had hectic days at the office, here are some changes that I'll try to complete ASAP

- [x] In your get_data @return documentation I would point people to your handy reference about what each of the columns means since a lot of these are non-obvious.
- [x] *If you feel it's worth it (though I don't think strictly necessary), you could refactor out some of the

[2018-09-05 18:17] karthik commented on #246
I have reached out to 3 potential reviewers on Sep 4th. Will update thread when I hear back.

[2018-09-05 21:01] khufkens commented on #246
I fixed most of the notes above, but haven't pushed them. Keep me posted on progress.

[2018-09-06 02:17] coatless commented on #220
@cboettig a few. I need to sit down and type them up. Unfortunately, I've been slammed with the semester start and meetings. I'm going to try to carve out time on Thursday/Friday.

[2018-09-06 06:50] FilipeamTeixeira commented on #237
My apologies for being almost a month late with my review, but there were some professional reasons contributing for this delay. I'll have a final review by Sunday the 9th.

[2018-09-06 08:26] maelle commented on #249
Thanks for your submission @ifellows! This seems to be a very useful package, however, such a messaging package is out-of-scope for onboarding since it's a general computing package cf https://ropensci.github.io/dev_guide/policies.html#aims-and-scope

Note that `rzmq` was developed by staff, hence its being under the ropensci organization despite its being out-of-scope for onboarding.

[2018-09-06 08:26] #249 closed

[2018-09-06 13:27] lmullen commented on #237
@robitalec Yes, as you figured out the current tag is correct.

@FilipeamTeixeira Thanks for the update, and for going back and forth with @robitalec about these changes.

I've also been in correspondence with @pmnatural about her review. So everything is proceeding just fine.

[2018-09-06 16:53] seaaan commented on #243
Nice work! Just a couple of things:

In the vignette, when you introduce analyzing a collection of images, it would be better to show how to use `image_load` with multiple file paths than to create the collection using `list(img, img2)` like it is now.

Also in the vignette, in the section where you're reproducing the analysis with the app and with code, the results aren't actually equivalent (i.e

[2018-09-06 17:35] stefaniebutland commented on #231
@mbjoseph Are you still good with a Sep 15 draft for publication 2018-09-25?

[2018-09-06 17:39] stefaniebutland commented on #192
Hi @JasperHG90. One last ping to ask if you want to write a `qualtRics` post.

[2018-09-06 17:42] mbjoseph commented on #231
@stefaniebutland yes - thanks for checking!

[2018-09-07 02:46] MahShaaban commented on #243
Thanks @seaaan

* I updated the vignette to use `image_load` in the section for analyzing a collection of images.
* I actually get the expected results when I knit the vignette locally.

<img width="802" alt="screen shot 2018-09-07 at 11 36 17 am" src="https://user-images.githubusercontent.com/16605756/45195513-eca4e900-b292-11e8-9fb2-4555c572cf81.png">

I am not sure what might be the reason why

[2018-09-07 06:42] mcsiple commented on #244
Hi @JonasGeschke et al. - I am having the same compiling issues as @noamross with the `.Rmd` files for vignettes, and it would be helpful for using and reviewing if the outputs were visible (either by pasting in blocks or putting a pdf in the vignettes folder, if API key issues happen often). I did a temp fix by adding my own API key to the `.Rmd` file but had to add the token to each line with an

[2018-09-07 07:15] JonasGeschke commented on #244
Hi @mcsiple thank you for your post. Yes, making the vignette more comprehensive and with outputs visible is on our list. If you have any further reviewing comments, we are happy to receive those. Thank you!

[2018-09-07 12:01] mcsiple commented on #244
The rest of my comment are coming soon - I just wanted to post that one in case other reviewers are assigned and need the compiled vignettes in the meantime!

[2018-09-07 12:43] FilipeamTeixeira commented on #237
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-09-07 13:41] maelle commented on #249
Feedback like this is worth a lot, many thanks! I think my wording of de

Actions taken:

* We're actually thinking about changing the name of onboarding cf https://github.com/ropensci/onboarding-meta/issues/11 (and more recent discussions, in private though). It should make the distinction clearer, the same rules apply to all packages in the sense that packages developed by staff are only peer-re

[2018-09-07 14:05] FilipeamTeixeira commented on #237
@lmullen indeed. I think it's a matter of choice. Wickham follows your syntax while Maechler does the opposite. In any case, they don't need both approaches, and that was my point.

[2018-09-07 16:10] karthik commented on #246
Thanks for agreeing to review @pmnatural 🙏  Please reach out if you have any questions.

[2018-09-08 18:05] rtaph commented on #213
Done. Thanks again, @karthik, @nealrichardson, and @carlganz!

[2018-09-08 19:42] #213 closed

[2018-09-10 14:31] pmnatural commented on #237
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-09-10 15:16] lmullen commented on #237
@pmnatural Thanks for you review. Much appreciated.

@robitalec Could you please take two weeks (until 9/25) to make any necessary changes, document them with links to GitHub issues or the like, and respond to the reviewers' comment? After that I will ask the reviewers to respond to your changes.

[2018-09-10 17:06] stefaniebutland commented on #213
@rtaph Glad to hear you're interested in contributing a blog post about `outcomerate`. (Thanks for your patience with my delayed response)

This link will give you many examples of blog posts by authors of onboarded packages so you can get an idea of the style and length you prefer: https://ropensci.org/tags/review/.

Here are some technical and editorial guidelines: https://github.com/ropensci/ro

[2018-09-10 17:48] mcsiple commented on #244
## Package Review

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [X] **A statement of need** clearly stating problems the software is designed to solve

[2018-09-10 17:54] KevCaz commented on #244
Many thanks @mcsiple for all your positive comments, much appreciated :smile: .
We are working on a new version that integrates all the reviewers comments.

[2018-09-10 18:04] seaaan commented on #243
Okay, well it must be something on my end then. As long as it says `TRUE` in the CRAN vignette it should be fine. I don't have any further comments. Nice work!

[2018-09-10 18:42] JonasGeschke commented on #244
Yes indeed, thank you so much @mcsiple! I will add your comments to our list of to-dos and we will continue to work on them. we hope to report back to you asap.

[2018-09-10 18:53] azizka commented on #210
Hi,

I went through @Pakillo latest changes (thanks!):

*Done. Travis build is succeeding now.*

*Done. Replaced the links to the wiki with links to the documentation page and removed the link to the extra gazetteers.*

*Done. Grouped the functions according to the cleaning target.*

*Done. CoordinateCleaner-deprecated is working now.*

*Done. Changed as suggested*

*Done. Added the links.*

How w

[2018-09-11 04:48] maelle commented on #210
We'll wait for @isteves to chime in when she has time, and then we should be close to the end of this process. 😺

[2018-09-11 12:31] robitalec commented on #237
@pmnatural and @FilipeamTeixeira Thank you for the reviews.

@lmullen understood. I will post here as soon as it is completed.

I may have some questions regarding some points in the reviews, keep you all posted.

Thank you!

[2018-09-12 05:08] coatless commented on #220
In response to the latest points raised...

----

### Caching

Regarding caches, we must mention them in the frame of:

Having said this, I'm not sure caching needs to be attempted given the current rate limits. If the user is authenticated, which is a key requirement of many of `piggyback`'s functions, the number of times the API can be queried is **5000**. For users who do not supply a `GH_TOKEN

[2018-09-12 13:35] maelle commented on #243
Nice work @MahShaaban!

Thanks @seaaan!

@haozhu233 Thanks too! Did you have any further comment?

[2018-09-12 15:38] rtaph commented on #213
@stefaniebutland The 2018-09-25 sounds good. I'll get started on something and let you know if I have any questions. Thanks :)

[2018-09-12 17:32] haozhu233 commented on #243
@maelle Nope~ :) @MahShaaban has fixed all the questions and comments I got and I don't have any further comments. Great job!

[2018-09-12 19:28] sckott commented on #244
thanks for your review @mcsiple !

[2018-09-12 19:30] sckott commented on #239
@dwbapst @rachelwarnock Will you be able to get your review in soon? We're about 2 weeks past due date. Thanks!

[2018-09-12 19:32] dwbapst commented on #239
Sorry, Scott, I sent you some emails a few weeks ago, which I later got
weird bounces back from - they were about what a review looks like. I've
got a heap of QA issues, but not sure what format I should put these into,
or what level of code analysis you want me to do?
-Dave

On Wed, Sep 12, 2018 at 2:30 PM Scott Chamberlain <notifications@github.com>
wrote:

--
David W. Bapst, PhD
Asst Research P

[2018-09-12 19:34] sckott commented on #239
Can you send that email again to myrmecocystus@gmail.com

[2018-09-12 20:17] pachamaltese commented on #217
@aedobbyn @cimentadaj  Hi. Thanks for the feedback! there are four point I can't solve without breaking the check :S
This weekend I' ll try to solve https://github.com/pachamaltese/oec/blob/master/R/get_data.R#L112-L161 as it is totally cleaner with that change that without

[2018-09-13 02:12] dwbapst commented on #239
No problem - I'm sorry that I didn't investigate after the bounces,
but I think they came just as classes were beginning...
-Dave

On Wed, Sep 12, 2018 at 2:34 PM Scott Chamberlain
<notifications@github.com> wrote:

--
David W. Bapst, PhD
Asst Research Professor, Geology & Geophysics, Texas A & M University
Postdoc, Ecology & Evolutionary Biology, Univ of Tenn Knoxville
https://github.com/dwbapst/

[2018-09-13 23:59] karthik commented on #246
Tagged @etiennebr as the second reviewer.

[2018-09-14 02:54] etiennebr commented on #246
Thanks @karthik and @khufkens. I'm looking forward to review the package! @khufkens are you planning to push your updates before we review the package?

[2018-09-14 05:50] daranzolin opened #250 "Presubmission Inquiry - compareBars"
This is a presubmission inquiry for [`compareBars`, an htmlwidget built on d3.js.](https://github.com/daranzolin/compareBars) While the package admittedly has a pretty narrow scope (comparing two levels across an ordinal variable), I find these visualizations more compelling than any of the options available with `ggplot(data, aes(x,y) + geom_bar(...)`.

I myself am no d3 expert, so the package wo

[2018-09-14 09:03] maelle commented on #250
:wave: @daranzolin, thanks for your pre-submission, nice work! However, we no longer have a visualization category for onboarding see https://ropensci.github.io/dev_guide/policies.html#aims-and-scope so this package would be out of scope. Thanks again for your asking! I hope you can receive d3 feedback in other venues (feel free to post to our discuss forum :wink:)

[2018-09-14 09:03] #250 closed

[2018-09-14 09:53] khufkens commented on #246
I don't think I'll update the CRAN package before review. I'm not sure how this influences the process. I've mainly been focussing on addressing the issues above and interoperability and docs. I still have to go through this: https://cran.r-project.org/web/packages/httr/vignettes/api-packages.html to fix some issues (e.g. create a ornl_api function etc).

[2018-09-14 11:52] maelle commented on #243
I get this error for tests. Any clue? Is there any dependency with a minimal version not indicated in DESCRIPTION yet?

[code]

[2018-09-14 13:35] etiennebr commented on #246
Ok, I won't worry about the CRAN version; are the fix pushed to the github master branch?

[2018-09-14 14:04] khufkens commented on #246
Yes, everything is in the master branch. Larger additions or refactoring is done on a separate one (but not applicable now).

[2018-09-14 15:27] isteves commented on #210
Hey all,

I took another brief look through the package.  Rather than getting deep into the code, I checked it out the way I would any new package--I looked through the pkgdown docs, tested out the examples, and checked out bits and pieces of the documentation.

## First, some praise 👏 🥇 🎆
I'm a fan of the pkgdown website.  I think it's a great addition, and it made it easy to re-orient myself to

[2018-09-14 16:50] MahShaaban commented on #243
I can't really understand what the problem is from the error.
I have merged the branch we've been woking on to the master and it passed the checks locally and on travis. You may try a fresh clone and see if the error goes away.

[2018-09-14 17:20] maelle commented on #210
Many thanks @isteves !

[2018-09-14 18:47] maelle commented on #243
I did a fresh clone and got it again, will try to extract a reprex.

[2018-09-14 18:49] maelle commented on #243
[code]

Created on 2018-09-14 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

<details>

<summary>Session info</summary>

[code]

</details>

[2018-09-14 18:55] maelle commented on #243
I get the same error with `shinytest` CRAN version.

[code]

Created on 2018-09-14 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

<details>

<summary>Session info</summary>

[code]

</details>

[2018-09-14 19:38] maelle commented on #243
Oops so after re-installing `htmltools` (it was somehow corrupted), I was able to run the test. It told me the output was different. For the app screenshot it seems like a font difference. However it also shows me different results.

![image](https://user-images.githubusercontent.com/8360597/45571437-77bf4980-b866-11e8-8d84-f287368a608d.png)

@MahShaaban could you please add testing on Appveyor to

[2018-09-14 19:42] maelle commented on #243
I actually see you have a failing Appveyor build, but it seems due to a wrong Appveyor config, which prevents further tests from running. I'll stop exploring on my own system now, I hope you can get the tests passing on Appveyor.

[2018-09-14 19:44] maelle commented on #243
Besides, the link in your shinyapps.io badge, https://mahshaaban.shinyapps.io/colocr_app/, has a 404 status.

[2018-09-14 19:45] maelle commented on #243
Reg the Appveyor build this `webdriver` setup might help https://github.com/rstudio/webdriver/pull/29/files

[2018-09-15 04:32] MahShaaban commented on #243
I fixed the link.
I can't get the tests to run on **appveyor**. I had a look at the issue from the `webdriver` repo. I don't get how they got it to pass, but if I have to guess I think they skipped that part of the test!

[2018-09-15 05:05] maelle commented on #243
🤔 can you ask on the Slack workspace?

And any idea why I got different results?

[2018-09-15 05:28] maelle commented on #243
But then why did the test pass on Travis?

[2018-09-15 05:35] MahShaaban commented on #243
I think it passed on **Travis** because I use `compareImages = FALSE` in `inst/colocr/runt_tests.R`. I use this option because these images are screenshots and would be different from an OS to another.

[2018-09-15 06:01] maelle commented on #243
Yes but what about the average PCC etc? (Am still new to `shinytest`)

[2018-09-16 12:35] DomBennett commented on #232
Firstly, thanks to you both for spending so much time reviewing the package. It’s great to have such detailed feedback and useful comments. I hope my efforts at revising the package do your good reviews justice.

Firstly, in response to @eveskew’s comments.

- *Explain Maintenance of Multiple SQL Databases*: I’ve done this as part of the ‘Tips and tricks’ vignette.
- *More Informative Error Messag

[2018-09-16 17:50] richelbilderbeek commented on #209
Worked on this September 14th... just to let you know that there is progress...

[2018-09-17 09:23] philmikejones opened #251 "Pre-submission queries: `rakeR`"
I'm considering submitting my package, `rakeR``, to the ropensci suite but have a few queries before I do.

## Purpose
`rakeR` is a tool for _spatial microsimulation_, useful to geographers, other social scientists, and potentially others. In the UK at least, getting survey data with geographical identifiers is difficult. For example, the UK data archive operate three levels of data security and t

[2018-09-18 17:14] LucyMcGowan commented on #238
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-09-18 19:19] cboettig commented on #220
Okay, caching turned out to be a bit more of an adventure than I expected with memoize.

A 1 second cache on `pb_info` breaks a good number of tests and vignettes.  Many of these issues were fixed as soon as I made sure functions that update the GitHub release (`pb_upload`, `pb_release`) would also break the cache automatically.

I also wanted a way to turn off caching, turns out `memoise::timeout

[2018-09-19 00:18] sckott commented on #155
## Package Review

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [X] **A statement of need** clearly stating problems the software is designed to solve

[2018-09-19 07:58] mpadge commented on #220
Thanks @cboettig for doing the hard work for us all on `memoise::timeout()` - very useful to know! And as you know, I think the retirement of `pb_push/pull` is a strong boost for ease and consistency of use - thanks.

As for file writing, I don't have any great insights, and would love to be assured that what you do were permissible. I note only that:
1. I just scoured the code for `usethis`, and

[2018-09-19 08:51] rachelwarnock commented on #239
Hi Scott,

I’m so sorry about the delay. I’ll try to wrap my comments & review up by
the end of next week.

Best wishes,

Rachel

On Wed, 12 Sep 2018 at 21:30, Scott Chamberlain <notifications@github.com>
wrote:

--
Rachel.Warnock@gmail.com

[2018-09-19 15:05] dwbapst commented on #239
Hi, I feel the same as Rachel. I'm new to rOpenSci reviewing and it just came at a bad time when I was teaching two graduate classes. In order to force myself to work on this, I'm going to work the draft live here in the issue thread.

## Package Review

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict

[2018-09-19 17:21] cboettig commented on #220
@mpadge Thanks for your thoughts on this.  Yeah, `pb_download` already supports specifying `dest = tempdir()` while defaulting to `dest = usethis::proj_get()`.

I've tried to consistently make sure tests, examples, and vignettes use tempdir in the calls (well, at least tests, I probably need another pass over this to add it to examples and vignettes).  I don't really like this because it makes the

[2018-09-19 17:40] sckott commented on #239
thanks @dwbapst

[2018-09-19 17:40] sckott commented on #239
@rachelwarnock okay, if it will be longer than that please let me know so I can get someone else

[2018-09-19 18:10] sckott commented on #232
@DomBennett yeah, i think that's right for JOSS, see also the docs if you haven't already https://joss.readthedocs.io/en/latest/submitting.html

[2018-09-19 18:12] sckott commented on #155
I'm sure I have some fxns that return different objects depending on user inputs, but it definitely seems better to avoid that. Maybe one of these two optoins:

- put the metadata in attributes in the data.frame, then user can access them with `attributes` or some custom thing
- make a custom print fxn where the metadata is printed on top of the data.frame sort of like tibbles do, then the object

[2018-09-19 23:33] adamhsparks commented on #155
I've some ideas of what can be done with it. I'll think on it some more and see what I can implement. I think I've addressed everything else.

[2018-09-20 06:32] maelle commented on #243
:wave: @MahShaaban!

My session info was in https://github.com/ropensci/onboarding/issues/243#issuecomment-421452708

Do you have access to a Windows machine?

[2018-09-20 07:03] MahShaaban commented on #243
Thanks @maelle
I checked the package versions, they are comparable to the ones I have and still can't reproduce the error. Assuming that the tests fail only on windows, what would be the way forward?
I don't have an easy access to a windows machine, and I never really used R on one.

[2018-09-20 07:15] maelle commented on #243
will have a look myself in the next days. we'll solve this sooner or later 😁

[2018-09-20 07:28] MahShaaban commented on #243
Thanks a lot @maelle

[2018-09-20 12:12] OJWatson commented on #238
Hi there @LucyMcGowan,

Thank you so much for the review, especially with your 👶 due so soon. Hope everything goes well.

I will respond fully by the end of today, with my changes but I agree with everything that you have suggested, in particular making sure everything has an example and then shortening the examples that the API functions run to just one function call.

Thank you again,

OJ

[2018-09-20 15:38] cboettig commented on #220
@annakrystalli @mpadge @coatless

Okay, I think I basically have things where I want them now in response to all the super excellent feedback.  You have all made this a way more usable, useful, and robust package.  I'm sure it's not perfect, but I think we've hammered out a nice API and functionality to get people started.

I think we have the :+1: from Mark to onboard, but still waiting final con

[2018-09-20 16:50] maelle commented on #243
I've just had a look, can't do much more at the moment.

* Does the output in artifacts https://ci.appveyor.com/project/MahShaaban/colocr/build/artifacts help at all?

* Could you write lines of code that I could run to give you the output of, if that helps?

* I was hoping the tests of shinytest on Appveyor would help but I can't access them https://ci.appveyor.com/project/rstudio/shinytest - may

[2018-09-20 16:55] maelle commented on #243
I'm totally unexperimented with your app, hence my poor debugging. I was thinking that maybe when you set one of the input using the shinytest commands, the cursors move more or less than what you get on mac/Linux?

Btw on Travis do you test on on Linux? It'd be worth adding a mac build, just to see whether you only get the issue for Windows.

[2018-09-20 16:57] maelle commented on #243
Or maybe it's due to a waiting time that's not enough on Windows? Could you try adding waiting time before the snapshot? Or even adding time between all commands?

End of my suggestions for today, sorry about that.

[2018-09-20 17:21] maelle commented on #243
Maybe useful https://rstudio.github.io/shinytest/articles/in-depth.html#getting-input-output-and-export-values (to check the inputs have been set)

[2018-09-20 19:04] sckott commented on #155
should I wait on this for this submission, or do you mean more in the long term?

[2018-09-20 20:14] adamhsparks commented on #155
No, please wait, I've pushed a custom `print()` method last night that includes an attribute header to the `devel` branch. Polishing it, will be done within 48 hrs I'd guess?

[2018-09-20 20:15] sckott commented on #155
will do.

[2018-09-21 01:34] wrightaprilm commented on #239
Thanks for that, @dwbapst. Really helpful stuff here (and thankfully all addressable)! @sckott, presumably I wait for @rwarnock, in case any of her review conflicts with Dave's. But after her's comes in, it looks like in the review guidelines, I can just start work on revision without waiting on an "Editor decision" in the way of a more traditional journal?

[If I'm wrong about the above, I'm cert

[2018-09-21 03:13] adamhsparks commented on #155
Hi @sckott, I think it's ready for you to check and hopefully accept.

I've found and squashed several more bugs while dealing with the metadata and your suggestions.

cheers!

[2018-09-21 05:51] MahShaaban commented on #243
Hey @maelle
Here is what I tried recently.
* I already checked the artifacts and found nothing useful. Only the error message and the difference between the output and the expected.
* I am not sure how the tests of shiny test can be useful. I clicked the link and I couldn't access them either.
* On Travis I only test on Linux. I agree with your suggestion, maybe testing Mac can give a clue. Howeve

[2018-09-21 08:16] annakrystalli commented on #220
Approved! So happy to see so much great work done on this package through review. Many thanks @cboettig for submitting and @coatless & @mpadge  for your reviews! 😺

Should you want to acknowledge your reviewers in your package DESCRIPTION, you can do so by making them `"rev"`-type contributors in the `Authors@R` field (with their consent).  More info on this [here](https://ropensci.github.io/dev_g

[2018-09-21 10:01] maelle commented on #243
Doing it now... after removing the `timeout_` arguments 👼

[2018-09-21 10:03] maelle commented on #243
This is still quite slow and I get no message yet 🤔

[2018-09-21 17:14] sckott commented on #239
@wrightaprilm correct, let's wait for @rachelwarnock , then do revisions. correct, you don't need to wait for an editor decision

[2018-09-21 17:49] sckott commented on #155
@adamhsparks a few things:

- the example for `create_icasa` has `file = ICASA_example.txt` where the file name is not quoted, R is looking for an object named `ICASA_example.txt`
- for the `create_met` example you have `dsn = tmpdir()`, which sholuld be `tempdir()` -
- the `get_power` 2nd example doesn't work either. you have `temporal_average` as a required parameter, but don't supply anything t

[2018-09-21 21:32] cboettig commented on #220
@stefaniebutland Thanks, yes I'd love to do a blog post on `piggyback`, maybe combine a bit of `arkdb`.  I was thinking I might focus on why I wrote these two little packages, more than the technical details (each package basically has only two functions, essentially data_in and data_out), so they are conceptually simple anyway.

[2018-09-21 21:43] stefaniebutland commented on #220
yes!!

right now Tuesday 2018-10-16 or subsequent Tuesdays are available. Take your pick and then please submit via pull request a week prior to publication date. Some guidelines are here: https://github.com/ropensci/roweb2#contributing-a-blog-post

[2018-09-21 22:11] adamhsparks commented on #155
Thanks @sckott, I'll address these issues.

[2018-09-22 09:38] MahShaaban commented on #243
I wrote two tests to check whether the output of the app is reproduced using the same input parameters. Onc test used the `colocr` functions and another without. The tests passed locally and on Travis, while the two of them failed on Appveyor. In addition to the fact that, these are the only tests that actually check the numeric outputs (the co-localization stats), I think that neither the app nor

[2018-09-22 10:12] maelle commented on #243
Interesting. Can you add a more minimal example using imager and data that's not in colocr so that I might run it and we can post in imager repo?

[2018-09-22 14:04] adamhsparks commented on #155
Hi @sckott, after that embarrassing blunder, I've corrected the examples and a few other issues to align with rOpenSci guidelines if you'd like to have a look.

Thanks again for the suggestion with Travis to build examples, it caught yet another error for me even after I'd fixed everything once!

[2018-09-22 14:04] adamhsparks commented on #155
Hi @sckott, after that embarrassing blunder, I've corrected the examples and a few other issues to align with rOpenSci guidelines if you'd like to have a look.

Thanks again for the suggestion with Travis to build examples, it caught yet another error for me even after I'd fixed everything once!

[2018-09-22 20:25] yonicd opened #252 "submission: carbonate"
### Summary

-   What does this package do? (explain in 50 words or less):

Create 'carbon.js' image outputs directly from the 'R' console. Use the outputs to apply the elegant code images in posters, slides, websites or on social media via twitter.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page

[2018-09-24 04:35] MahShaaban commented on #243
I am not sure how to make a minimal example in this case. So far, I've been checking the final outputs of either `colocr` or `imager` and the tests passes locally and on travis but not appveyor. I am using multiple `imager` functions, and this difference could be due to any of them. So,
* I am not sure how to identify the particular function that produces the difference.
* `imager` builds on travi

[2018-09-24 09:43] annakrystalli commented on #238
***
Due date: ~~2018-09-24~~ 2018-09-30 (extended)

[2018-09-24 11:27] MahShaaban commented on #243
Sorry, I forgot to link to the test script in the `imager` fork.
[Here](https://gist.github.com/MahShaaban/3f075e00237896b40e2bb09cc77f298b), is a gist of the script. I updated the second revision to remove `testthat` calls.

[2018-09-24 15:35] azizka commented on #210
Thanks @isteves!

I have now included almost all suggestions; please see a point-by-point reply below. I am very sorry for the typos; the documentation has become so large now that some always slip through.

Thanks especially for the hint with @inherit. I am also continuously working to increase the test coverage.
Cheers,

Alex

# Typos/small fixes

*Fixed. Changed to ‘and’.*

*Fixed. Changed as s

[2018-09-24 17:05] #220 closed

[2018-09-24 18:13] sckott commented on #155
nice, glad it was helpful.

having another quick look

[2018-09-24 18:46] sckott commented on #155
nice, glad it was helpful.

having another quick look

[2018-09-24 19:05] sckott commented on #155
Approved!  Thanks again for your submission @adamhsparks  !

* Please transfer the package  to `ropensci`- You'll be made admin once you do.
* Make sure to
    * add rOpenSci footer to README
`[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.org)`
    * Change any needed links, such those for CI badges
    * Travis CI should update to the new location a

[2018-09-24 23:01] stefaniebutland commented on #155
Hi @adamhsparks ! You know the blog post drill from https://ropensci.org/blog/2017/04/04/gsodr/ 😄. Are you interested in doing one, or a tech note on `nasapower`?

Tech Notes can be published at any time, while we publish blog posts about packages weekly. Right now Tuesday 2018-10-16 or subsequent Tuesdays are available for blog posts. If you're interested, let me know your preferred publication d

[2018-09-25 00:18] adamhsparks commented on #155
Excellent! I'm tidying up a few remaining issues and will transfer it over shortly.

@sckott and @stefaniebutland, yes, we should do a proper blog post about this one. I'll get something together and submit a PR next month.

Thank you all, once again, for the support and motivation. This package has been a long-time coming, but I'm super happy with the condition it's now in before it even reaches

[2018-09-25 01:53] sckott commented on #155
nice work adam!

[2018-09-25 05:53] maelle commented on #251
:wave: @philmikejones! Thanks for your pre-submission inquiry and apologies for the delay in answering, we were discussing. Unfortunately we think that this package, albeit very useful, isn't in scope because it's first and foremost the implementation of a statistical algorithm, which we don't have the capacities to review. Although it uses spatial data, it hasn't enough spatial aspects for us to

[2018-09-25 05:53] #251 closed

[2018-09-25 05:58] maelle commented on #252
:wave: @yonicd! Thanks for your submission! Unfortunately, `carbonate` is out-of-scope for rOpenSci onboarding: although it does help with reproducibility (and is a very cool package!), it is a too general coding/communication tool that's beyond our current aims and scope. Thanks again for submitting `carbonate` to onboarding! We hope you find another venue for it.

[2018-09-25 05:58] #252 closed

[2018-09-25 07:08] Robinlovelace commented on #251
Just reading this now and understand the reasoning @maelle, thanks for feedback. Any other suggestions for a venue? @philmikejones I'd be happy to informally review the pkg, perhaps with help from the new https://github.com/ropenscilabs/pkgreviewr pkg. Regarding venue: not sure. But you could do a write-up for a journal like JASSS or even JSS if you think there's enough in there. Interested in the

[2018-09-25 10:27] philmikejones commented on #251
Thanks @maelle , appreciate you looking into it, and I think your response if fair.

@Robinlovelace it'd be great if you could take a look at the package. I'll open an issue in rakeR.

[2018-09-25 17:04] sckott commented on #155
done

[2018-09-25 17:04] #155 closed

[2018-09-25 18:27] rtaph commented on #213
Hi @stefaniebutland ! Yes, sorry for being a bit late. Will try to submit by Thursday :)

[2018-09-26 11:56] tklebel commented on #189
Hi @stefaniebutland. Is it ok if the post is more about why and how I wrote the package, including what I learned along the way, and less about how to use it? I have a lot of documentation, including a case study on the pkgdown site, so I don't think it would be helpful and interesting to write something similar again...

If you are fine with that, than I would answer, that I am on track 😺

[2018-09-26 14:04] robitalec commented on #237
Apologies for the late response.

I will separate the responses by reviewers in the two following comments.

[2018-09-26 14:12] robitalec commented on #237
Thank you @FilipeamTeixeira  for your review.

To address some of the broader comments about the package's aims, simplification and clarity, I have added a "Using spatsoc in social network analysis" vignette and a function for generating a group by individual matrix (`get_gbi`, see: [!2](https://gitlab.com/robit.a/spatsoc/merge_requests/2)) directly from the outputs of `spatsoc` functions.

The vi

[2018-09-26 15:44] robitalec commented on #237
Thank you @pmnatural for your review.

First off, a question: what is missing for the Community guidelines?

---
Detailed responses:

Thank you @pmnatural. This review process has helped us highlight weak points in the documentation and functions and I'm glad to be moving forward with a better version of the package.

I won't repeat all points from my response to @FilipeamTeixeira about the potent

[2018-09-26 16:06] stefaniebutland commented on #189
Sounds great @tklebel. More people will likely relate to this kind of post. Please include a short section noting & linking to the docs you have.

[2018-09-27 15:35] lmullen commented on #237
Thank you for these responses,@robitalec.

@pmnatural and @FilipeamTeixeira Could you please respond to these comments and let us know of any needed fixes by October 5 (about one week)?

[2018-09-27 16:54] maelle commented on #217
:wave: @pachamaltese did you get any chance to make progress on the package? When you do, please summarize your response again (using your checklist again I guess :wink:).

[2018-09-27 16:54] maelle commented on #210
Thanks @isteves! No, I just need to run the last checks which I'll do ASAP!

[2018-09-27 17:11] pachamaltese commented on #217
@maelle Hi, I was not able to test a lot because the server has been down a lot actually.
I updated the list to reflect the only 3 point I could not fix. Those can be more tricky actually!

[2018-09-27 17:58] maelle commented on #210
Approved! Thanks @azizka  for submitting and @isteves @Pakillo  for your reviews! 😺

To-dos:
- [ ] When mentioning the NEWS file in the README, add a link to the NEWS file so that it might be easier to find it.
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once

[2018-09-28 01:44] MahShaaban commented on #243
I traced the difference between the calculated correlations on ubuntu and windows to very first step in loading the images. I think this(dahtah/imager#41) is related, although neither the maintainer nor the user followed up on the issue yet!

I found that the pixel values of the images in the `colocr` package are loaded differently on the two platforms. This was at least in part for `jpeg::readJPE

[2018-09-28 02:37] pmnatural commented on #237
Hi @robitalec
Regarding the community guidelines, I simply forgot to check it down.
In relation to a data summary useful for defining parameters to use with spatsoc, I still think having a  function to do this would greatly improve the usage. Even knowing what time or distance make sense for a species or particular problem, you still need to get the bounds of your dataset before running a spatsoc

[2018-09-28 06:41] MahShaaban commented on #243
I used `image_read` from the `magick` package instead of `load.image` from `imager` and this seems to solve the issue of ubuntu/windows differences. Here,  MahShaaban/colocr#3

[2018-09-28 08:10] maelle commented on #243
Cool! In that case why not switch the whole package to magick? 😉

[2018-09-28 09:53] jeroen commented on #243
I would second maelle's suggestion to try and switch to magick. It is a much more comprehensive and well tested imaging toolkit. Is there particular functionality in imager that you are missing from magick?

[2018-09-28 15:11] azizka commented on #210
Hej,

great, thanks. Very exciting. I am teaching abroad with no opportunity to work on this the next two weeks, but will do this as soon as I come back!

Thanks again to all of you!

[2018-09-28 15:28] maelle commented on #240
Closing this since there was no response in 2 months.

[2018-09-28 15:28] #240 closed

[2018-09-28 17:06] robitalec commented on #237
Ok, good to know concerning community guidelines.

I have added the summary information code chunks to the FAQ. I think this will be section that can grow as we come up with more relevant information that might be useful and potentially with user input. This also makes it more simpler to add more chunks in the future.
[6e982e](https://gitlab.com/robit.a/spatsoc/commit/6e982e7e14a1ba2cb2330753c868e

[2018-09-28 17:49] OJWatson commented on #238
Hi @LucyMcGowan,

Finally got there with the examples. So working through the comments.

1. Hope everything is going okay with :baby: and thank you again for finding the time for the review.

2. The test suite used to fail if you had not created a valid "rdhs.json" config file. I've touched the API tests won't fail by first creating a config if not found, as these tests can run without a DHS websi

[2018-09-29 06:09] MahShaaban commented on #243
Thanks, @maelle @jeroen for the suggestion. I certainly don't mind looking into that.

Although the package currently relies heavily on `imager`, I don't mind switching to `magick`. I went through the `magick` vignette and I think the classes and the basic image transformations that I'd need are already there. However, I don't see the equivalent/alternatives to the **Morphological Operations** in

[2018-09-29 13:51] rtaph commented on #213
@karthik, can you help me initiate a `gh-pages` branch to host the `\docs` directory as a pkgdown site?

I am writing the rOpenSci onboarding blog and would like to hyperlink examples in the vignette.

[2018-09-29 20:38] jeroen commented on #243
Thanks, see also this issue: https://github.com/ropensci/magick/issues/136

In the latest dev version of magick you can find the morphology methods with `morphology_types()`:

[code]

I think the main features you use are:

 - shrink: `magick::image_morphology(method = 'Erode', ...)`
 - grow: magick::image_morphology(method = 'Dilate', ...)

I'm not sure what exactly `imager::clean` does under the

[2018-09-30 05:36] MahShaaban commented on #243
Sounds great. I will be looking into that. Thanks @jeroen

[2018-09-30 09:08] annakrystalli commented on #238
Hi @OJWatson, thanks for your swift response to @LucyMcGowan 's comments (and thanks @LucyMcGowan for them and your contributions, hope all is going well!). The package and documentation are really shaping up really nicely.

### Re (5)
- [ ] Because downloading data is such an important functionality, I feel introducing the user to the fact that they will have to register an rdhs account would be

[2018-09-30 11:47] OJWatson commented on #238
Hi @annakrystalli,

Thanks for the comments.

Completely agree. I have block quoted the registering for the DHS website bit within the README.md, so it now appears as the first section after the overview of the DHS, and is hopefully a lot clearer.

I have also moved mention of the testing vignette into the CONTRIBUTING.md, and have removed it from the README.md as i don't think it's that likely us

[2018-10-01 14:14] karthik commented on #213
@rtaph Done. You also have admin now to take care of other housekeeping. 🙏

[2018-10-01 14:58] AldoCompagnoni opened #254 "Submission: popler R package"
Submitting Author: Aldo Compagnoni (@gAldoCompagnoni)
Repository:   https://github.com/AldoCompagnoni/popler/issues
Version submitted:   0.0.0.9001
Editor: @noamross
Reviewer 1:  @cgries
Reviewer 2: @bpbond
Archive: TBD
Version accepted: TBD

---

### Summary

-   What does this package do? (explain in 50 words or less):

`popler` provides a way to browse and download population and community time

[2018-10-01 15:52] rtaph commented on #213
Much appreciated, @karthik !

[2018-10-01 16:50] rachelwarnock commented on #239
## Package Review

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work.

#### Documentation

The package includes all the following forms of documentation:

- [X] **A statement of need** clearly stating problems the software is designed to solve and its target audience in README
- [X] **Installation instructions:** for the development version of packa

[2018-10-01 17:31] sckott commented on #239
@dwbapst do you have a rough estimat of hrs spent doing your review? we like to keep track for use in a long term goal of using our reviewers time most effectively

[2018-10-01 17:31] sckott commented on #239
@wrightaprilm All reviews in now. thanks much to @rachelwarnock  and @dwbapst !

[2018-10-01 20:16] dwbapst commented on #239
@sckott Honestly? It probably took more than 8 hours, maybe 10 hours, spread over a month? This isn't an atypical amount of time for to spend on reviewing, particularly software - what I did here is precisely I have done for reviewing papers describing new R packages at MEE. Some reviews have absolutely taken more than 10 hours, and many of my non-software reviews take longer as well.

[2018-10-01 20:18] dwbapst commented on #239
@rachelwarnock I think that the functions can return non-binary trees is intentional, and sort of the point.

[2018-10-02 01:40] wrightaprilm commented on #239
Thanks so much to both of you, @dwbapst and @rachelwarnock, and to you, @sckott for facilitating. I'll probably get started on response to reviews (i.e., just fixing things) Friday.

[2018-10-02 07:13] maelle commented on #243
Approved! Thanks @MahShaaban  for submitting and @seaaan @haozhu233 for your reviews! 😸

To-dos:
- [x] Open an issue planning to switch everything to `magick` over time https://github.com/MahShaaban/colocr/issues/4 (@jeroen you can chime in there, thanks again for your comments here)
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited

[2018-10-02 08:05] MahShaaban commented on #243
Thank you, everyone.
I transferred the repo, fixed the ci links and will look into the other suggestions.

I'd like to acknowledge your contributions @maelle, @haozhu233, @seaaan, and @jeroen if you don't mind.

[2018-10-02 08:13] maelle commented on #243
Awesome!

Don't acknowledge _my_ contributions, as mentioned [here](https://ropensci.github.io/dev_guide/building.html#authorship) "Please do not list editors as contributors. Your participation in and contribution to rOpenSci is thanks enough!" :wink: (we mean it!)

[2018-10-02 12:36] stijnvanhoey opened #255 "wateRinfo package"
### Summary

-   What does this package do? (explain in 50 words or less):

wateRinfo facilitates the access to a variety of environmental water-related data about Flanders (Belgium) available on [waterinfo.be](https://www.waterinfo.be/), a website managed by the Flemish Environmental Agency.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the deve

[2018-10-02 15:43] rachelwarnock commented on #239
@dwbapst can you really specify unresolved starting trees in revbayes and beast2?

[2018-10-02 15:51] dwbapst commented on #239
@rachelwarnock Yup, that was a dumb comment of mine. I don't know specifically what the starting tree requirements are, but you are probably right that they probably can't be non-binary.

I think I was implicitly imagining that you'd add OTUs to the initial tree, making a big informal taxon-tree sort of thing, but then for starting purposes, you'd want to randomly resolve those, and probably get s

[2018-10-03 07:31] rachelwarnock commented on #239
@dwbapst @wrightaprilm I asked one of the BEAST2 developers (Tim Vaughan) if you can specify unresolved starting trees and he said: "Yes you can!  This will just work.  Read it in as a newick string with a polytomy.  This will be automatically converted to a binary tree with a zero edge length by beast’s newick parser, and the operators will then quickly replace the zero-length edge with one of fi

[2018-10-03 12:51] aurielfournier opened #256 "Submission: refnet"
### Summary

-   What does this package do? (explain in 50 words or less):
`refnet` is a package to read, organize, geocode, analyze, and visualize Clarivate Web of Knowledge/Web of Science, format reference data files for scientometric, social network, and Science of Science analyses.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development

[2018-10-03 14:03] dwbapst commented on #239
@rachelwarnock Yeah, I can't find anything about starting tree requirements for RevBayes, but certainly MrBayes only requires binary trees:

http://mrbayes.sourceforge.net/Help/usertree.html

@wrightaprilm So, while I realize MrBayes is on its way out, its still fairly widely used... thus, a comment in the documentation for `treetstartr` to that effect, that MrBayes will only accept binary trees w

[2018-10-03 14:19] wrightaprilm commented on #239
Hey @dwbapst @rachelwarnock -

RB does read in polytomy trees, and it's a bit of analytical priggishness that `treestartr` returns trees with polytomies. I'll make note of it in the docs, to resolve with `multi2di` or similar if you're planning to use MB. And actually, this line of thinking is giving me an idea for something to add to the package -
exportation of RB-formatted clade constraints tha

[2018-10-03 16:04] sckott commented on #255
@stijnvanhoey et al. Do other regions of Belgium have water data available?  If so, can the pkg be generalized to use those other data?

[2018-10-03 20:02] stijnvanhoey commented on #255
Good point. I'll try to provide an overview of the information I'm aware of. Notice that we have for water-related issues different governmental levels: national level and regional levels, i.e. Flanders, Walloon and Brussels). Rivers are monitored on regional (and subregional) level:
- The main data source for meteorological data (rainfall, evapotranspiration,...) on the national level is the [Roy

[2018-10-04 08:03] Sachagobeyn commented on #255
Dear all,

With respect to water quality data hosted by the VMM (Flanders): as I am currently aware, they are not available open source. They can be requested via the VMM website, however from my own experience, requests are often declined. An alternative for this type of information is the European Union Open Data Portal, in which ecological water quality, and a number of physico-chemical water q

[2018-10-04 16:04] hettling opened #257 "Submission: nbaR"
### Summary

-   What does this package do? (explain in 50 words or less):

The package is a full R client to the Netherlands Biodiversity API (NBA, see http://docs.biodiversitydata.nl/en/latest/) giving researchers access to several large Natural History and Botany collections in the Netherlands. Additionally, some convenience functions feature integration with other packages.

-   Paste the full

[2018-10-04 16:52] sckott commented on #256
Thanks very much for your submission @aurielfournier - we're discussing now and will get back to you soon

[2018-10-04 16:54] sckott commented on #257
Thanks very much for your submission @hettling  - we're discussing now and will get back to you soon

[2018-10-05 04:29] maelle commented on #256
Thanks for your submission @aurielfournier! I see the package doesn't have any test and doesn't have continuous integration yet. I suggest we put the submission on hold while you sort that, unless you can and want to add this within a week or so? There is some guidance in [this guide](https://ropensci.github.io/dev_guide/), and I am happy to answer any question here or via Slack!

I was also looki

[2018-10-05 19:38] sckott commented on #255
Thanks very much @stijnvanhoey and @Sachagobeyn for the thorough overview.

It sounds like there are no other data sources at the moment, so we can move forward with this submission.

assigning an editor now

[2018-10-05 21:07] wrightaprilm commented on #239
Just making a TODO-list. Ignore, unless I've misrepesented your points ;)

[ ] Making a manual page named treeStartR or with that alias so that users who cannot remember a function name but can remember the package name
[ ] absent_tippr - the documentation say tips are added "via user input" but its not clear that this is function is interactive.
[ ] ants - has a help page but I can't seem to load

[2018-10-06 01:39] karthik commented on #255
👋 @stijnvanhoey. I’ll be editing your submission. Stay tuned for more instructions from me shortly.

[2018-10-08 12:32] kamapu commented on #233
Dear @maelle:

I went through most of the functions in the manual of [`taxa`](https://github.com/ropensci/taxa) to have a better impression about differences between this package and [`taxlist`](https://github.com/kamapu/taxlist). I have to recognize, it has been hard for me to understand the way how `taxa` deals with taxonomic information, since its programming style is a higher level than my pri

[2018-10-08 15:08] lmullen commented on #237
Hi @pmnatural and @FilipeamTeixeira. Have @robitalec's changes satisfied your critiques above? Are there any remaining issues to be fixed before you are willing to accept this package?

[2018-10-08 19:51] zachary-foster commented on #233
Thanks for looking through the docs/code @kamapu! Here are some thoughts:

`taxa` can read local datasets using `parse_tax_data`, but it does not have any parsers for specific local formats, since we wanted to keep everything generic.

Yep, `taxa` uses R6 classes which are not strong typed, so users can break the objects if they set fields manually instead of using our dplyr-like manipulation func

[2018-10-08 21:44] rachelwarnock commented on #239
This all sounds great to me!

[2018-10-09 02:14] dwbapst commented on #239
April, one of my secret joys in life is figuring out cryptic R CHECK
--as-cran warnings. I'm happy to answer questions about them. Being able to
quietly pass --as-cran is vital for most R packages.

I'll try to find tomorrow to sit down and plod through my examples again.

On Mon, Oct 8, 2018 at 4:24 PM April Wright <notifications@github.com>
wrote:

--
David W. Bapst, PhD
Asst Research Professor,

[2018-10-09 21:38] dwbapst commented on #239
Hi April, I'm afraid I encountered a number of issue, particularly some functions which broke (and one function that broke if package `ape` was loaded).

Here's my R script I was working from with commented out output for you to look at:

[code]

I hope this helps.

[2018-10-10 03:16] wrightaprilm commented on #239
**if  tax_list isn't a data.frame, it silently fails:** Fixed - I hadn't considered the situation where someone might not use the dataframe loader function, but might be working separately with the taxa and then call treestartr. So now the `genera_strippr` function checks for dataframe, tries to coerce one it it isn't, and if that isn't possible, returns an error.
**weird error if only a single co

[2018-10-10 04:50] stefaniebutland commented on #243
Hello @MahShaaban. Are you interested in writing a post about your package for the rOpenSci blog, either a short-form intro to it (https://ropensci.org/tech-notes/) or long-form post with more narrative about its development (https://ropensci.org/blog/)?

This link will give you many examples of blog posts by authors of onboarded packages so you can get an idea of the style and length you prefer:

[2018-10-10 13:38] dwbapst commented on #239
Yeah, need to be explicit that you're importing `ape::plot.phylo` and `phytools::bind.tip` I think maybe ape has its own `bind.tip` with slightly different behavior.

Its absolutely not a requirement from your perspective, but I am curious if there is a specific reasoning why `ape` isn't a depends - although there is general advice to import packages rather than loading the whole package,most phyl

[2018-10-10 16:42] eveskew commented on #232
Hi all, I'm back to checking out the package changes. First of all, great work Dom! It looks like you've made very thorough revisions.

Unfortunately, I'm bumping into some early housekeeping issues (most of this is for @sckott, to see how I should proceed). First, I ran into trouble with versioning of the `DBI` package. Despite the fact that the package `Imports` do specify `DBI (>= 1.0.0)`, runn

[2018-10-10 16:55] khufkens commented on #246
Hi @etiennebr, thank you for reviewing the package and the contributions to improve the package.

I've been chipping away on implementing some of your comments but I was wondering if I could get some more information on some of your remarks.

In particular, I was wondering how to restructure the data. You mentioned that, indeed, I can reformat things into a tidy data frame (with a duplication cost

[2018-10-11 15:39] dwbapst commented on #239
Hi April, A lot more works now, but I think there is some oversight about how species are added whether to tips or lower nodes, and that sort of behavior needs to be specified in the documentation, cause I can't figure out how intentional or not this behavior is. Particularly see the worked example at the end of the following, and I'll post the plotted result as well.

[code]

![image](https://use

[2018-10-12 15:06] azizka commented on #210
Hi,
@isteves and @Pakillo  du you agree to be acknowledged as reviewers for the package

[2018-10-12 15:57] azizka commented on #210
@maelle, after transferring ownership, how can I edit the short package description on the github page, since it links to the old pagedown, adress?

[2018-10-12 16:29] maelle commented on #210
@azizka I've now made you admin of the repo again! I couldn't do that before transfer. Thanks for transferring! 😸

[2018-10-12 16:51] wrightaprilm commented on #239
Thanks, again, for all these thorough comments. I really do appreciate it.

**# Error in `[.data.frame`(tax_list, "taxon") : undefined columns selected:** Bug caused by inappropriate curly brace closure.

**# Although not labeled, we can also give tip ID numbers and thus add taxa as sister taxa on the tree:** Added this to the visual, and suppressed warnings for once sister taxa are added (which g

[2018-10-12 16:55] stefaniebutland commented on #210
Hello @azizka. Congratulations on acceptance of CoordinateCleaner!
Are you interested in writing a post for the rOpenSci blog, either a short-form intro to it (https://ropensci.org/tech-notes/) or long-form post with more narrative about its development (https://ropensci.org/blog/)?

This link will give you many examples of blog posts by authors of onboarded packages so you can get an idea of the

[2018-10-12 17:50] dwbapst commented on #239
Hi April,

I think labeling the tips makes it clear that it is acceptable for users to add taxa as sisters to the tips. I just was pushing on the documentation issue because there weren't tip labels, so it wasn't clear if the behavior was intended or not. (Unintentional behaviors may be relied upon by others, but be unstable because you might not know someone else depends on that functionality, so

[2018-10-12 18:47] juyeongkim opened #260 "Pre Submission Inquiry - DataSpaceR"
I was wondering if you would consider the `DataSpaceR` package for review. The package fits into the data retrieval category as it provides API access to the database.

https://github.com/CAVDDataSpace/DataSpaceR

`DataSpaceR` is an R interface to [the CAVD DataSpace](https://dataspace.cavd.org/cds/CAVD/app.view), a data sharing and discovery tool that facilitates exploration of HIV immunological

[2018-10-12 18:50] sckott commented on #257
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-10-12 19:01] sckott commented on #257
@hettling are you going to be okay with transferring to ropensci github org, or do you need to retain in naturalis?

[2018-10-12 22:55] sckott commented on #232
`devtools::install_github` and `remotes::install_github` should install the required version of `DBI` for you. not sure what happened there.

I think that's right that `subprocess` should be `>= 0.8.3` - @DomBennett is `subprocess` only used in tests?  if so, should it be moved to Suggests?

I'm getting a failure on that vignette too.

@DomBennett could you address these few things soon so the rev

[2018-10-13 02:13] MahShaaban commented on #243
Thanks, @stefaniebutland for this opportunity. I'd like to write a blog post about `colocr`. I will read the guides first and get back to you to discuss it.

[2018-10-13 22:31] azizka commented on #210
Hi @stefaniebutland,
yes I am interested in writing a blog post, but there is a manuscript for the package in review at MEE currently,  I'd prefer to wait for a decision on that first.
Cheers,

Alex

[2018-10-13 22:48] stefaniebutland commented on #210
Sounds good @azizka. Would be nice to be able to note the publication in the post.

[2018-10-14 11:17] DomBennett commented on #232
Hi @sckott and @eveskew,

Hmmm.... it looks like local installs of a package do not lead to automatic updates for dependencies: https://stackoverflow.com/questions/51032658/update-dependencies-when-installing-a-local-package

`subprocess` isn't for testing, it is required for creating the spinning icon and allowing users to more easily kill a download. I've updated the DESCRIPTION to `subprocess (

[2018-10-15 13:07] lmullen commented on #237
Hi @pmnatural and @FilipeamTeixeira: Can you please confirm that that the changes made have satisfied your critique and confirm whether you now recommend the package for acceptance?

[2018-10-15 13:52] FilipeamTeixeira commented on #237
@lmullen I’m currently traveling on holidays and with limited internet access so I’ll only be able to finish my coments by the end of the week.

[2018-10-15 17:36] sckott commented on #260
We discussed and we think it is a good fit. Please do submit.

[2018-10-15 17:36] #260 closed

[2018-10-15 17:46] juyeongkim commented on #260
thanks @sckott!

[2018-10-15 19:17] KevCaz commented on #244
We are extremely grateful to the reviewers (@noamross @mcsiple) for the time they spent on reviewing our package and for the quality of their comments that significantly contributed to improve `rcites`. We added both reviewers on the list of contributors in `DESCRIPTION` with the role "rev" and we would like to have their formal consent before the next CRAN release.

We have carefully addressed th

[2018-10-16 02:18] khufkens commented on #246
Thanks @etiennebr for the code contribution!

Sorry for my slow response, I've a grant deadline coming up and at night I have a connection which is basically enough for an email but not much more.

From reading through your post (and code) I think this is a good solution. It makes things easier for sure, and indeed provides the sf mapping compatibility. I'm on the slow connection, so I'll try to g

[2018-10-16 11:59] dosgillespie commented on #238
Hi @OJWatson @annakrystalli

First I'm really sorry it has taken so long for me to look at this - I have been going through quite a busy period with work and family

Also I'm conscious that my review isn't very 'techie' as I've never developed a package myself and certainly don't have the know-how to comment on the details. But I am coming to this as someone interested in exploring the DHS data fo

[2018-10-16 12:45] aurielfournier commented on #256
Thanks @maelle I and my co-authors are working on it, but its taken a bit longer then we expected. Appreciate your patience!

[2018-10-16 12:58] dosgillespie commented on #238
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [ ] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-10-16 13:41] hettling commented on #257
@sckott I'm ok to transfer it to ropensci!

[2018-10-16 14:17] pachamaltese commented on #217
Hi Maelle
The server is just acting weird.
Can we put this on hold?
Yesterday I spoke to Amanda and Jorge about providing an alternative API
that would be hassle-free.
Best

On Tue, Oct 16, 2018, 1:25 AM Maëlle Salmon <notifications@github.com>
wrote:

[2018-10-16 14:43] azizka commented on #210
Hej  @maelle,

almost done, the last thing is to migrate the badges. Where can I find help to migrate the travis-ci build and codecov badges properly, since they are not working at the moment.

Thanks!

[2018-10-16 14:55] maelle commented on #256
No problem, and happy to help if I/we can!

[2018-10-16 14:56] maelle commented on #217
Do you mean you don't trust the data provider enough with stability?

[2018-10-16 14:58] maelle commented on #210
@azizka weird, I have now activated the repo at https://travis-ci.org/ropensci/CoordinateCleaner (your badge points to travis-ci.com at the moment), let's see if that works.

[2018-10-16 15:00] pachamaltese commented on #217
Exactly, at the present time that' the problem.
Last year it was different

On Tue, Oct 16, 2018, 11:56 AM Maëlle Salmon <notifications@github.com>
wrote:

[2018-10-16 15:01] azizka commented on #210
OK, thanks. I switch to travis.org; let's see if it works once the first run is done. I fixed the codecov badge.

[2018-10-16 15:05] maelle commented on #217
Ok, too bad, will put the submission on hold, I hope you can solve the problem, good luck!

[2018-10-16 16:07] sckott commented on #257
great, thanks @hettling

[2018-10-16 17:14] wrightaprilm commented on #239
If we're all happy with the major package functions, is it OK if I ask some CRAN check questions?

- I'm not sure what this means: absent_tippr: no visible global function definition for ‘plot’
- Or this: Undocumented code objects: ‘absent_list’ ‘mrca_df’
- Also this: Files in the 'vignettes' directory but no files in 'inst/doc': ‘vignette.Rmd’, ‘vignette.pdf’

I feel very silly about this, becaus

[2018-10-16 17:40] dwbapst commented on #239
No, don't feel silly - `R CHECK --as-cran` is often one of the hardest parts because of the opaqueness of the messages.

- You need to specify what package you are importing plot from. Is that base plot in `graphics` or `ape`? You likely need to import `plot` from `graphics` - its a relatively new requirement.

- You have exported objects in the code, or arguments for exported functions that have

[2018-10-16 18:52] sckott commented on #232
installs and checks fine for me know

[2018-10-16 19:36] sckott commented on #239
agree, don't feel silly @wrightaprilm !  The cran check stuff is tough and no fun for anyone.

I think you should add `inst/docs` to `.Rbuildignore`. `inst/doc` is a formal directory that is used when building the package, so we don't want to ignore that of course.

I think a problem might be in the line in your DESCRIPTION file where you have  `VignetteBuilder: utils` - I've not seen `utils` in t

[2018-10-16 23:33] juyeongkim opened #261 "Submission: DataSpaceR"
### Summary

-   What does this package do? (explain in 50 words or less):
DataSpaceR is an R interface to the CAVD DataSpace, a data sharing and discovery tool that facilitates exploration of HIV immunological data from pre-clinical and clinical HIV vaccine studies.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a

[2018-10-17 17:39] sckott commented on #261
Thanks for your submission @juyeongkim We'll get back to you very soon

[2018-10-18 06:06] maelle commented on #224
@lmullen can this issue be closed? 🙏 I'm asking because of my packages registry experiments, where I noticed the review badge of `arkdb` was still orange. 😉

[2018-10-18 13:15] lmullen commented on #224
@maelle Yes, definitely. Closing now.

[2018-10-18 13:15] #224 closed

[2018-10-18 19:33] sckott commented on #233
thanks @kamapu for the reply - we're discussing now

[2018-10-19 08:31] azizka commented on #210
Alright, I think everything is working now. The latest version (2.0-2) is also on CRAN now.

[2018-10-19 12:40] nldoc opened #262 "nlrx"
### Summary

-   What does this package do? (explain in 50 words or less):

**nlrx** enables you to run agent-based models in [NetLogo ](http://ccl.northwestern.edu/netlogo/)from R.
This makes it possible to design reproducible experiments (which can be
zipped with nlrx and shared between persons). Furthermore, it
coerces the spatial data from NetLogo into raster and sf objects.

-   Paste the ful

[2018-10-19 16:59] sckott commented on #262
thanks for your submission @nldoc we're discussing and will get back to you soon

[2018-10-19 17:30] sckott commented on #262
@nldoc I completely agree the lack of rJava dependency is a big plus. . But can you comment more on the benefit of your pkg over `RNetLogo` with respect to features/functionality.

[2018-10-19 18:43] sckott commented on #262
There's also https://cran.rstudio.com/web/packages/NetLogoR/ - not sure if you were aware or not?  Can you also tell us benefit of your pkg over `NetLogoR` as well please

[2018-10-19 19:38] wrightaprilm commented on #239
I'm still a little fuzzy on what it means for an exported object to have attached documentation. For example, `mrca_df` is defined as a parameter to `text_placr`, and I see it in the manual.

[2018-10-20 05:28] nldoc commented on #262
The main purpose of nlrx is running a NetLogo model and collecting output data. Everything is designed to make this as simple and reproducible as possible.

Reproducability
* nlrx uses nested S4 classes to store all the information that is needed to run NetLogo model simulations.
* After running simulations, the model output is attached to the S4 class object, thus the complete experiment includin

[2018-10-20 05:32] nldoc commented on #262
The `NetLogoR` package follows a different approach because it re-implements the NetLogo syntax in R. While this package can be used to rebuild NetLogo models in R, it can not be used to control already existing NetLogo models, which is the main purpose of the `nlrx` package.

[2018-10-22 04:49] marcosci commented on #262
What Jan (@nldoc ) did not mention is the way the Java virtual machine is handled - **nlrx** opens a new one for each NetLogo model run, whereas **RNetLogo** keeps a single one open until you restart the R session. This can be quite cumbersome, in terms of memory, and should be solved with the way **nlrx** handles this.

[2018-10-23 00:11] aurielfournier commented on #256
@maelle package now has tests and continuous integration.

I removed stringi from the DESCRIPTION file.

I have fixed the issues from the NAMESPACE file.

Huge thanks to my coauthor @birderboone for doing the heavy lifting to get this over the finish line!

I think we are ready for review now. If you have any other things that need to be addressed let me know.

Thanks!

[2018-10-23 00:36] stefaniebutland commented on #243
@MahShaaban What do you think about setting a deadline to submit a draft post? I'm happy to answer any questions you might have.

[2018-10-23 04:41] maelle commented on #256
:wave: @aurielfournier @biderboone! Awesome, thanks to both of you! A few comments before I do the last editor checks:
* Could you please add the Travis badge at the top of the README?
* The Travis build is failing. To fix this (both WARNING and NOTEs)
    * "Undocumented arguments in documentation object 'references_read'
  ‘include_all’" Update the docs
    * prefix `utils` functions e.g. `utils

[2018-10-23 17:19] sckott commented on #262
thanks for the additional information @nldoc and @marcosci - we're discussing and will get back asap

[2018-10-23 18:19] dwbapst commented on #239
As an addendum, it’s usually good practice to name objects in an example
data file something different than the exact name of function arguments so
we know which one R is complaining about.

Cheers,
-Dave

On Fri, Oct 19, 2018 at 2:38 PM April Wright <notifications@github.com>
wrote:

--
David W. Bapst, PhD
Asst Research Professor, Geology & Geophysics, Texas A & M University
Postdoc, Ecology & Ev

[2018-10-23 21:48] sckott commented on #257
Reviewers assigned:

- @DomBennett due date: 2018-11-06
- @mbjoseph due date: 2018-11-14

[2018-10-24 01:35] stefaniebutland commented on #243
If you're referring to a tech note (https://ropensci.org/technotes/), they don't require scheduling on a certain day of the week so please submit your draft when ready and I'll review it soon after.

Sounds good. Make sure it's different enough from the vignette. Good if you can lay out one cool example of what you can do with the package, rather than giving several examples.

[2018-10-24 04:01] maelle commented on #256
Yay, green badge! Can you also add a coverage badge? Run `usethis::use_coverage("codecov")` which will give you stuff to add to the Travis config file, browse codecov maybe (I can't remember) and give you the code to paste in the README to get a badge.

[2018-10-24 16:51] dosgillespie commented on #238
Hi
I've tried redoing it in an rmd and writing that to a pdf so I can attach here - sorry if still a bit rubbish
[rdhs_review.pdf](https://github.com/ropensci/onboarding/files/2511466/rdhs_review.pdf)

I think the only specific extra installation step I had to do was to install the "digest" library, but I'm not sure if that was a problem with my system or not.

Duncan

[2018-10-24 19:34] sckott commented on #239
Nice work @wrightaprilm I see a few more things:

- add these to your `.Rbuildignore` file: README.Rmd, README.html, bibliography.bib, deprecated, docs, images, paper, refs.bib
- There are some undocumented objects still:

[code]

There's some remaining issues from my comment above https://github.com/ropensci/onboarding/issues/239#issuecomment-430371029 Did you see it yet?

[2018-10-24 20:44] noamross commented on #244
The authors have done a fantastic job with revisions.  I must say that the new iteration of the package is a pleasure to use - the  set of functions are simplified and intuitive, the print methods are clear and useful, the processed data is easy to use, and bulk analysis is straightforward.  Even the internal code structure has improved and is easy to follow. I heartily recommend acceptance!  I ha

[2018-10-24 21:15] noamross commented on #261
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-10-24 23:47] KevCaz commented on #244
Thanks @noamross, you and @mcsiple have been **very** helpful in this process.
Just a quick question/confirmation, are you Ok to be added as a reviewer in the DESCRIPTION file?

Regarding:

We'll take care of it asap :)

[2018-10-25 00:09] aurielfournier commented on #256
Done! Sorry I missed that.

[2018-10-25 00:09] noamross commented on #244
Yes, fine to add me as `rev`, thanks!

[2018-10-25 00:58] MahShaaban commented on #243
Okay. Thanks @stefaniebutland.

[2018-10-25 07:32] JonasGeschke commented on #244
Thank you @noamross for your kind words! We did and will continue to do our best to improve the package, thank you again for your comprehensive review.

[2018-10-25 08:40] maelle commented on #256
Thank you! A few more things before I search for reviewers (then they and you have less work :wink:).

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The

[2018-10-25 09:35] annakrystalli commented on #262
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [ ] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-10-25 11:19] annakrystalli commented on #262
@nldoc @marcosci Apologies! I only just realised this was a pre-submission enquiry.  So the package has been approved for submission! 🎉 If you would like to go ahead, you already have the editors checks. Just let me know how you would like to proceed and sorry for jumping the gun!

[2018-10-25 13:42] nldoc commented on #262
Dear @annakrystalli and @sckott, thank you very much for your encouraging response and first feedback.
We are very happy about the chance to further improve our package. We already started fixing most of the issues you mentioned:

We will develop tests for all functions (where possible) within the next two weeks. Unfortunately, some functions (especially those that call java via command line) can

[2018-10-25 13:51] marcosci commented on #262
Thanks @annakrystalli for your efforts already :tada:

Regarding the tests:

NetLogo is ~200 Mb big, so, unfortunately, we can not deliver it with the package. This also means that we can not properly test if running NetLogo itself works.

Are you aware of a possibility to do that only on Travis (it could be skipped on CRAN then)?

[2018-10-25 15:56] annakrystalli commented on #262
Thanks for your comments @noamross!

@nldoc, re: **`setwd()` in `export_nl`**

Have you tried supplying the `path` argument to `list.files()` and setting `full.names = TRUE`? This shoulh give you the full paths to the files you want to zip and not require you to set (or reset) the working directory.

eg I think you could do:

[code]

I also notice you are using `paste0()` to concatenate file paths

[2018-10-25 16:41] stefaniebutland commented on #243
@MahShaaban, @maelle just reminded me that this is your *second* package onboarding! I'm quite curious about package authors' motivations to submit multiple packages e.g. are there diminishing returns on author's effort on subsequent submissions?

I know you indicated you prefer to write a tech note about `colocr`, but if it interests you and you see value in it for yourself, I'd love to read a bl

[2018-10-25 21:51] aurielfournier commented on #256
Hi @maelle

We are going to pause, and redo `authors_clean()` to be simpler/broken down into several functions. This will probably take ~ 1 week.

Thanks!

[2018-10-26 02:32] MahShaaban commented on #243
The truth is, I intended to write a blog post about this recent submission. The same happened the first time I submitted a package to ropensci. The reason I shied away from it is that I don't see how a detailed description of the package and the features could be different from the vignette! I am definitely willing to be educated on this. There might be different ways of writing or different aspec

[2018-10-26 06:28] maelle commented on #256
Ok, thank you!

[2018-10-26 08:50] FilipeamTeixeira commented on #237
@lmullen I went through the changes and through some of the comments and my position stands as before. I recommend the package for acceptance. Thank you for your patience and for waiting for my feedback.

[2018-10-26 09:49] richelbilderbeek commented on #209
All feedback has been addressed, last (and biggest) part was about [beautier](https://github.com/richelbilderbeek/beautier/projects/1). Rounding things off now, then will let know.

[2018-10-26 13:12] robitalec commented on #237
Thank you @FilipeamTeixeira for the feedback throughout this onboarding process.

[2018-10-26 13:52] pmnatural commented on #237
I recommend the package for acceptance. The clarification of options and examples  on using spatsoc for social network analysis has been greatly improved.  Thanks you for your patience in waitung for this acceptance.

[2018-10-26 15:36] lmullen commented on #237
Approved! Thanks @robitalec  for submitting and @pmnatural and @FilipeamTeixeira for your reviews! 🚀

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo. Soon I will invite you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] As necessary, please publish the revised version of the package to CRAN.
- [ ] Add t

[2018-10-26 15:36] #237 closed

[2018-10-26 16:11] richelbilderbeek commented on #209
@noamross: I have processed all feedback! Blimey, the feedback from @dwinter and @bjoelle heavily improved the packages. Sure, I've put both of them in the DESCRIPTION file of all packages.

So, where do we go from here? :+1:

[2018-10-26 17:44] wrightaprilm commented on #239
- Realized I should have been using a `inst/doc` folder all along.
- Had copied the vignettbuilder from another package, now changed to `knitr`, but this seems to generate another error:

[code]
- I don't see the undocumented code objects issue - is there a flag I need to be using to get that?

[2018-10-26 18:15] sckott commented on #239
I'd recommend running check with cran set to `TRUE`, e.g., I run from the command line like

[code]

In your vignette you're using rmarkdown - you need to add that pkg to your Suggests

[2018-10-26 18:20] robitalec commented on #237
Thank you @pmnatural for your feedback.

[2018-10-26 19:29] lmullen commented on #237
@robitalec Great. Thanks for doing that. I've just made you an admin on the spatsoc repository so you should have access to the settings now. That can't happen until after the repository is transferred.

[2018-10-26 19:30] robitalec commented on #237
Perfect! Thank you @lmullen.

[2018-10-26 19:43] juyeongkim commented on #261
Thanks @noamross! I will fix these tests today.

[2018-10-26 19:55] stefaniebutland commented on #237
This is great to hear @robitalec.
This link gives you many examples of blog posts by authors of onboarded packages so you can get an idea of the style and length you prefer: https://ropensci.org/tags/review/. Tech Notes are here: https://ropensci.org/technotes/.

Here are some technical and editorial guidelines for contributing a blog post: https://github.com/ropensci/roweb2#contributing-a-blog-po

[2018-10-29 04:30] OJWatson commented on #238
Hi @dosgillespie and @annakrystall,

Thank you so much for the reviews and no worries about the timing - no rush from me and just glad to have the opportunity to have the code reviewed.

I've just come back from annual leave so haven't had time yet to go through the comments but i will try to respond sometime this week.

All the best,

OJ

[2018-10-30 07:46] stefaniebutland commented on #243
Sorry @MahShaaban I think I misunderstood when I thought you wanted to write a tech note. Yes your idea for a blog post: " to adapt parts of the vignette that explains the goal of the package and how it with examples" sounds good.

I think the blog post differs from the vignette in that the post should tell a bit of a story. Unlike a vignette, it's an opportunity to give your personal perspective

[2018-10-30 11:50] robitalec commented on #237
Thank you for the information @stefaniebutland.
2018-11-27 would work for us.

I will let you know if we have any questions.

[2018-10-31 15:50] sckott commented on #233
@kamapu We've decided to proceed. We do feel it is important though to have functions to convert between the two packages major data structures/classes though, in both packages if possible.  your editor @maelle will follow up with more information.

[2018-11-01 00:56] khufkens commented on #246
Hi @etiennebr,

Below the corrections I made to the package.

Major changes include:

- the data format, currently a data frame (not nested anymore)
- due to the format removed `mt_read()` and `mt_write()`
- unit testing is complete (aside from server errors), coverage at 96%
- compliant with most style norms = replaced by <- where necessary
- use of missing() instead of NULL
- `goodpractice::gp()

[2018-11-01 18:56] karthik commented on #255
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [ ] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-11-02 03:38] MahShaaban commented on #243
Hey @stefaniebutland, I just submitted a PR with a first draft of the blog post, ropensci/roweb2#329. Please, let me know what you think.

[2018-11-02 09:38] maelle commented on #233
:wave: @kamapu! I think it'd be great to add the conversion functions before the onboarding process. I'll put this submission on hold, but in the meantime, feel free to ask any questions.

[2018-11-02 16:08] kamapu commented on #233
OK, I hope, there is no hurry (I'm already busy with the closure of 2018). You may not wander, if I use the gap between Christmas and New Year for it :anguished:

[2018-11-02 16:46] wrightaprilm commented on #239
Hi Scott, I don't get that same error you were getting when I run that check. My output is below.

<img width="579" alt="crancheck" src="https://user-images.githubusercontent.com/1715446/47928526-9d46f780-de94-11e8-8e7b-0644bba16700.png">

I did edit some documentation, and fix a DESCRIPTION error, and change a behavior after a student ran into a problem. Undergrads are the best testers besides ma

[2018-11-02 17:11] maelle commented on #233
No problem, I might ping you once in a while but that's fine. Please do join the Slack as soon as you want (I sent you an invite).

[2018-11-03 19:46] noamross commented on #261
Reviewers assigned: @seaaan and @czibman. Due date 2018-11-26.

[2018-11-05 22:01] karthik commented on #226
@leonawicz 👋 I just wanted to check in on the status of this review.  Have all of the issues raised by @Paula-Moraga been addressed now?

[2018-11-05 23:14] leonawicz commented on #226
@karthik @Paula-Moraga I think so??? I've done everything I planned on doing

There are some other issues I mentioned earlier that I am unable to do. See https://github.com/ropensci/onboarding/issues/226#issuecomment-414060516 for example of something I really can't figure out, but don't know how critical it is- I defer to your judgement on the necessity. https://github.com/leonawicz/tiler/issues/

[2018-11-05 23:40] karthik commented on #226
Thanks @leonawicz! I see that all issues have now been addressed. I'll proceed with accepting your package.

Congrats @leonawicz, your submission has been approved! 🎉 Thank you for submitting and @jasdumas and @Paula-Moraga  for thorough and timely reviews. To-dos:

- [ ] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow y

[2018-11-06 05:55] leonawicz commented on #226
@karthik @jasdumas @Paula-Moraga Thank you all for your help throughout! :)

I will find time in the next day to complete the documentation updates and complete the transfer.

[2018-11-06 08:13] Paula-Moraga commented on #226
Congrats, @leonawicz!

[2018-11-07 08:10] stijnvanhoey commented on #255
Thanks for the information.

With respect to the issues with the example and unit tests: Apparently, the unique time series identifiers have changed on the [waterinfo.be](https://www.waterinfo.be/) side for a subset of stations. I was expecting them to be stable, but they are not. I'm doing the best I can to fix these issues asap.

[2018-11-07 13:02] stijnvanhoey commented on #255
New version `fix-source-info` branch (will be merged soon), has following output for the `gp` command:

[code]

One of the elements missing in the unit testing is the XML-parsing of a specific type of error. We encountered the issue earlier, but it is hard to reproduce systematically. Hence, we do not know exactly how to properly handle this. Advice is welcome.

[2018-11-07 13:57] stijnvanhoey commented on #255
With respect to the Tex errors, I'm not completely aware on how to tackle this. I tried to execute  `devtools check` with the manual creation option:
[code]
I get the warning:

[code]

However, when I do check the logs and output in the `wateRinfo.Rcheck` folder, the `wateRinfo-manual.pdf` is there and the `Rdlatex.log` is (I just subset some potentially relevant sections):

[code]
And the output

[2018-11-07 15:51] noamross commented on #209
@richelbilderbeek I've followed up with both reviewers and they are reviewing your changes.

[2018-11-08 00:38] sckott commented on #257
@DomBennett do you think you can get your review in soon?

@mbjoseph your review is due a week from today

[2018-11-08 01:06] sckott commented on #239
@wrightaprilm looking good now!

I see that `phytools` and `ape` have moved into `Depends`. I see @dwbapst comment above about this. it seems like you can just import the s3 methods, like `@importFrom ape plot.phylo`, etc. or is there some reason that doesn't work. Depends surely fixes this, but is it really necessary?

[2018-11-08 01:19] dwbapst commented on #239
Hmm. I should explain the background of my comment. So, I don't think
there's anything non-preferable about a phylogenetics package in R
depending on `ape` - in my experience, it is rare that any
phylogenetics-loaded package would be loaded without ape, and users
might often need to use the utilities in ape (and possibly, phytools)
while using a phylogenetics package. Of course, this shouldn't be

[2018-11-08 17:58] sckott commented on #239
Given the arguments, I can go either way, so if you think Depends is easier go for it. or Imports.

---

@dwbapst and @rachelwarnock are you both happy with the changes @wrightaprilm has made ?

[2018-11-08 20:08] #226 closed

[2018-11-08 20:13] DomBennett commented on #257
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-11-08 20:15] sckott commented on #257
thanks @DomBennett

[2018-11-09 08:15] maelle commented on #210
No, sorry, closing the issue now!

[2018-11-09 08:15] #210 closed

[2018-11-09 08:15] #243 closed

[2018-11-09 09:02] annakrystalli commented on #262
Great! Thanks for your speedy efforts. I'll get on to the checks today and then contact reviewers.

[2018-11-09 09:14] maelle commented on #256
Thanks @aurielfournier and @birderboone!

A few more things from `goodpractice` to tackle before I look for reviewers

[code]
Simply run `usethis::use_github_links()`

[code]

The `styler` package might help.

[code]

[code]

And from me: could you please add a coverage badge? `usethis::use_coverage()` should help you with that.

Thanks in advance and thanks for all your work until now! 😸

[2018-11-09 16:03] aurielfournier commented on #256
Hi @maelle

Thanks as always for your kind patience. It is greatly appreciated.

I've addressed all of the above, and I finally downloaded `goodpractice` for myself to check things.

The one issue that I don't totally understand, but isn't throwing an issues in `goodpractice` is this one

` fix this R CMD check
    NOTE: Namespaces in Imports
    field not imported from:
    'Rdpack' 'maps' 'strin

[2018-11-09 17:12] sckott commented on #232
thanks for the reminder @DomBennett

@eveskew @naupaka are you happy with the changes? if no response by mid next week I'll assume you're good

[2018-11-09 17:15] sckott commented on #99
@maelle I think i'm going to not work on this package anymore - too many pkgs and this is a tough one to sort out, so we can close this and i'll mark the repo as abandoned.

[2018-11-09 17:17] sckott commented on #99
https://github.com/ropenscilabs/cmipr#cmipr

[2018-11-10 18:03] mbjoseph commented on #257
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-11-12 17:50] sckott commented on #257
thanks for your review @mbjoseph !

[2018-11-12 17:51] sckott commented on #257
@hettling all reviews are now in, continue discussion here and let me know if you have any questions about the process

[2018-11-12 17:54] sckott commented on #244
Doing a last quick check now ...

[2018-11-12 18:45] KevCaz commented on #244
Thanks @sckott, your help is very much appreciated.

`\donttest{}` was a recommendation by one of the CRAN's maintainers:

   examples for users and checks:
   executable in < 5 sec

       further examples for users (not used for checks)
   }
}

After using  `\donttest{}`, we did not have any issue with our CRAN submission. I'll have a look at the difference between the two.

[2018-11-12 18:49] sckott commented on #244
interesting. I guess donttest examples aren't run on cran's check now.

[2018-11-12 19:04] OJWatson commented on #238
Hi @dosgillespie  and @annakrystalli ,

Apologies for the delay - was at a conference when i last messaged and had hoped to find some time during it to get round to this.

Firstly, thank you Duncan for taking time to go through it, and also for documenting your thoughts as you went through the introductory vignette. I found these really helpful as there were lots of little points that you made tha

[2018-11-12 19:38] hettling commented on #257
Thanks @DomBennett and @mbjoseph for thorough reviews of the package!

[2018-11-12 19:38] hettling commented on #257
@sckott I'm starting to tackle the reviewer's comments now, is there a deadline? I couldn't find this information on https://ropensci.github.io/dev_guide/policies.html#review-process ...

[2018-11-12 23:29] KevCaz commented on #244
@sckott  I follow your recommendations, see https://github.com/ibartomeus/rcites/issues/39.

[2018-11-12 23:45] sckott commented on #244
you mean test it in units tests?

[2018-11-13 01:04] sckott commented on #257
I don't think we have a deadline. If it will be a long time, we usually assign a `holding` tag so we know we don't have to worry about a submission until the person has time again. I'd guess every few weeks if we don't hear anything we ping whoever we're waiting on.

[2018-11-13 16:03] bjoelle commented on #209
@richelbilderbeek @noamross I have reviewed the changes. One additional thing I would suggest would be to include the overwrite parameter in ``babette::bbt_run`` (it's only present in ``beastier::run_beast2`` at present), and to set it to FALSE by default (as it is in BEAST2).
Otherwise I am happy with the state of the package and would recommend its approval.

[2018-11-13 18:42] sckott commented on #244
@JonasGeschke  thanks for the offer, but i'm just happy to help here

[2018-11-13 18:44] sckott commented on #244
@KevCaz sometimes I forget, but yes, e.g., you could test that timeout works, e.g.,

[code]

[2018-11-14 02:43] KevCaz commented on #244
@sckott added and now tested! Thanks for the tip!

[2018-11-14 13:49] annakrystalli commented on #238
Thanks for your response @OJWatson, just gonna run a couple of final checks and get back to you on your query (1).

@dosgillespie please have a look at OJs responses and let us know if you are satisfied with the responses or whether there any further comments before signing off. Many thanks again for your time.

[2018-11-14 17:07] ThierryO opened #263 "git2rdata, a companion package for git2r"
### Summary

-   What does this package do? (explain in 50 words or less):
Store dataframes as plain text files along with metadata to ensure that attributes like factor levels are maintained. The dataframes are optimized in order to minimize both file size and diffs, making it useful in combination with version control.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-

[2018-11-14 17:15] sckott commented on #244
Approved!  Thanks again for your submission @JonasGeschke @KevCaz   !

To-dos:

* Please transfer the package  to `ropensci`- I've invited you to a team within our ropensci organization. After you accept you should be able to move it. You'll be made admin once you do.
* add rOpenSci footer to README
`[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.org)

[2018-11-14 17:19] sckott commented on #239
@dwbapst and @rachelwarnock are you both happy with the changes @wrightaprilm has made ?

[2018-11-14 17:23] sckott commented on #232
Approved!  Thanks again for your submission @DomBennett    !

To-dos:

* Please transfer the package  to `ropensci`- you're already on an ropensci team, so you should be able to transfer already. Let me know if you can't.
* add rOpenSci footer to README
`[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.org)`
* Change any needed links, such those for CI

[2018-11-14 19:02] dwbapst commented on #239
Yes, I'm happy. Apologies, I was away at a week-long conference at the time
of your message, and I am only digging myself out now from the blizzard of
emails. @rachelwarnock might have been similarly delayed by the same
conference, as she was also attending, and has intercontinental travel to
boot.

On Wed, Nov 14, 2018 at 11:19 AM Scott Chamberlain <notifications@github.com>
wrote:

--
David W. B

[2018-11-14 19:07] eveskew commented on #232
Hi all!

Sorry for the late response on this, but I've looked a bit more into the revised package. @DomBennett did a very thorough job in responding to my suggestions, and I really like some of the new package functionality (the improved `restez_status()` is great!). Using the latest version of the package files, `devtools::check()` runs fine for me now.

However, I ran into a snag that I wanted t

[2018-11-14 20:20] sckott commented on #239
thanks @dwbapst

[2018-11-14 20:38] DomBennett commented on #232
@sckott I added the restez repo to the [restez team](https://github.com/orgs/ropensci/teams/restez). I think I need to be a member of that to push, right? At least, I don't seem to be able to add myself to that team.

[2018-11-14 20:41] sckott commented on #232
your approved now

[2018-11-14 21:59] eveskew commented on #232
@DomBennett, just wanted to report that I cloned the rOpenSci version of the package, and all seems to be well now! I was able to download a sample of real data (phage sequences), create the database, and query it successfully using the suite of `gb_*_get()` functions. Great work!

[2018-11-14 22:05] DomBennett commented on #232
Thanks very much @eveskew!

[2018-11-15 09:34] rachelwarnock commented on #239
Hi @Scott Chamberlain <scott@ropensci.org> - apologies for this delay! I'm
very happy with all the changes @wrightaprilm
<https://github.com/wrightaprilm> made!

On Wed, 14 Nov 2018 at 21:20, Scott Chamberlain <notifications@github.com>
wrote:

--
Rachel.Warnock@gmail.com

[2018-11-15 17:54] naupaka commented on #232
@DomBennett I just re-tried to set up the plant/fungal DB, and it hung on the `db_create()` step. After ^C, it returned the following error:

[code]

Is this the same error that you were talking about earlier?

[2018-11-15 18:48] sckott commented on #239
thanks @rachelwarnock

[2018-11-15 19:18] DomBennett commented on #232
@naupaka Hmmm... looks like a new error I will investigate it!

I have in the past had issues with the database but haven't always been able to recreate the error. You might find that re-running the `db_create` function will have no problems a second time. Unfortunately, it would have to start from the beginning again.

Also note, I have just updated the `db_create` function. It no longer requires

[2018-11-15 19:43] sckott commented on #239
Approved!  Thanks again for your submission @wrightaprilm  !

To-dos:

* Please transfer the package  to `ropensci`- I've invited you to a team within our ropensci organization. After you accept you should be able to move it. You'll be made admin once you do.
* add rOpenSci footer to README
`[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.org)`
* Chang

[2018-11-15 21:41] ibartomeus commented on #244
Great! I can draft a blog post (and let @KevCaz and @JonasGeschke add stuff before doing anything else). @stefaniebutland let me know how to proceed.

[2018-11-15 21:46] ibartomeus commented on #244
@sckott I didn't get an invitation, so I can't transfer the repo. Can you invite me too? Thanks!

[2018-11-15 21:53] sckott commented on #244
@ibartomeus sent

[2018-11-16 09:11] DomBennett commented on #232
Hi @naupaka,

The plant/fungal database seems to work for me -- see attached.

Let me know if you're still having problems.

[plants_fungi_resetz_rsession.txt](https://github.com/ropensci/onboarding/files/2588605/plants_fungi_resetz_rsession.txt)
[plants_fungi_restez_log.txt](https://github.com/ropensci/onboarding/files/2588606/plants_fungi_restez_log.txt)

[2018-11-16 11:10] etiennebr commented on #246
I'm sorry for not getting back earlier on this. @karthik what are your expectations for the next steps? I have several engagements in the next few weeks, and I would like to devote enough time to appropriately review @khufkens's work. I think I can do it before the end of the year, if that sounds right for both of you.

[2018-11-16 17:20] wrightaprilm commented on #239
Hurray! I'll take care of the TODO over the next couple days.

I would definitely be interested in a blog post - I found this process really helpful and well-organized. I think there's a lot of value to the community even for people who aren't "developers", or whatever, and I'd like to express that in some form.

[2018-11-16 17:34] KevCaz commented on #244
@sckott one more question, what kind of access to the repo do we have? Are we allowed to change the settings of the repo? If yes I cannot do so currently! If no, can you just edit the URL at the home page of the GH repo: https://ibartomeus.github.io/rcites/ => https://ropensci.github.io/rcites/. Thanks!

[2018-11-16 17:43] sckott commented on #244
these 3

<img width="361" alt="screen shot 2018-11-16 at 9 43 06 am" src="https://user-images.githubusercontent.com/577668/48637956-0b56e880-e984-11e8-9013-e79c3ed1bbcd.png">

now have admin access - now you should be able to change those things - of course you can manage access of your other contibutors

[2018-11-16 18:41] stefaniebutland commented on #239
Hi @wrightaprilm.
I'm thrilled to hear you're interested in contributing a blog post.

That sentiment reflects part of our mission "Building capacity of software users and developers and fostering a sense of pride in their work" so will be very welcome in your post!

[This link](https://ropensci.org/tags/onboarding/) will give you many examples of blog posts by authors of onboarded packages so you

[2018-11-16 18:51] stefaniebutland commented on #244
@JonasGeschke Great to hear you'd like to contribute a post!

[This link](https://ropensci.org/tags/onboarding/) will give you many examples of blog posts by authors of onboarded packages so you can get an idea of the style and length you prefer.

Here are some technical and editorial guidelines for contributing a blog post: https://github.com/ropensci/roweb2#contributing-a-blog-post. We ask that

[2018-11-16 18:58] karthik commented on #246
@etiennebr Thanks for the thoughtful response. I think the next steps would be to see if @khufkens has adequately addressed the issues that you've raised. Otherwise you can point out the ones that remain unresolved.  If it's easier, you can also open issues on his repo and tag `ropensci/onboarding#246` and they will appear as a list here (with automatic updates on when those issues are closed).

[2018-11-16 18:58] karthik commented on #246
@pmnatural Have you had a chance to complete your review yet? Please update on your progress.

[2018-11-16 18:59] stefaniebutland commented on #226
Hello @leonawicz and congratulations. [This link](https://ropensci.org/tags/onboarding/) will give you many examples of blog posts by authors of onboarded packages. In case you are considering writing one, here are some technical and editorial guidelines: https://github.com/ropensci/roweb2#contributing-a-blog-post.

No obligation to do this. Happy to answer any questions.

[2018-11-16 19:00] JonasGeschke commented on #244
@stefaniebutland thanks for your message, we are very happy to contribute a blog post. @ibartomeus I just put you in the loop so you also see the above two links.
submission by 2018-12-11 should be doable @ibartomeus ?!

[2018-11-17 22:07] KevCaz commented on #244
@sckott  just to let you know that `codemeta.json`is now added.

[2018-11-18 08:37] JonasGeschke commented on #244
and with this, all the above points (https://github.com/ropensci/onboarding/issues/244#issuecomment-438742734) are done.
anything else you need us to do for now?

Zenono DOI also is done, as well as a CRAN release 1.0.0. thus I guess we are ready for the JOSS submission, right?
(btw I dont know how long it then needs for the paper to pop up, but on wednesday there is the wildlife forum at the CBD

[2018-11-18 23:06] stefaniebutland commented on #244
@JonasGeschke Seems reasonable that I could send a tweet from rOpenSci about the package if that might help? If you think this is a good idea, please send me a short phrase or two that I can use in tweet about pkg along with twitter handle and/or relevant conference hashtag, your twitter handle & that of any pkg co-authors I should tag.

[2018-11-18 23:20] stefaniebutland commented on #222
@leonawicz In light of your tweet https://twitter.com/leonawicz/status/1064224408900820992 we'd welcome a technote on this update if you're interested. (thanks for the heads up @maelle)
https://ropensci.org/technotes/

[2018-11-19 08:33] naupaka commented on #232
Awesome! All works great for me now. Thanks for all your hard work on this, @DomBennett! Going to be a really helpful tool.

[2018-11-19 13:41] dosgillespie commented on #238
Hi folks

Yes all fine by me

Best wishes,
Duncan

On Wed, 14 Nov 2018 at 13:49, Anna Krystalli <notifications@github.com>
wrote:

--

Dr Duncan Gillespie
<https://www.sheffield.ac.uk/scharr/sections/heds/staff/gillespie_d>
Research Fellow

Tel: +44 (0)114 222 4310

UK Centre for Tobacco and Alcohol Studies <http://ukctas.net/>

Health Economics and Decision Science
ScHARR, University of Sheffield

[2018-11-19 15:15] wrightaprilm commented on #239
Real quick question - planning on putting some work in on this this afternoon. I had a Code of Conduct statement - Am I now covered under y'all's code of conduct? Should I edit my statement to reflect that ROpen Sci would now be in a reporting structure?

Thanks! I've never done something like this before.

[2018-11-19 17:48] sckott commented on #232
not a dumb question.  You do have to submit it manually (maybe someday it will be automated).

* For JOSS:
    * Looks like there's already a Zenodo web hook, so that's good.
    * If you haven't already, generate a new release associated with a git tag in your repo. This doesn't mean you have to submit to CRAN with that git tag/release, its just to get a Zenodo DOI - and you can put a zenodo badg

[2018-11-19 17:58] sckott commented on #239
We do have a COC for our events and any communications in our forums/slack/etc., BUT for repos, each repo should have their own COC file - which then also shows up on the right hand side of an issue when someone opens an issue. I'd suggest changing the file name to `CODE_OF_CONDUCT.md` instead of `CONDUCT.md` as I think github is looking for the former to link to

[2018-11-19 18:14] sckott commented on #244
@JonasGeschke no, nothing else. thanks much.

* For JOSS:
    * Looks like there's already a Zenodo web hook, so that's good.
    * If you haven't already, generate a new release associated with a git tag in your repo. This doesn't mean you have to submit to CRAN with that git tag/release, its just to get a Zenodo DOI - and you can put a zenodo badge in your readme, then after each git tag it will

[2018-11-19 19:07] annakrystalli commented on #238
Thanks @dosgillespie for signing off.

Almost there @OJWatson,

#### checks

So I've just run the **checks** in the build panel and get this error being triggered by an example.

[code]

Then the tests hang.

If I run `checks()` in the command line, the checks abort from a different error, and theh tests hang again:
[code]

#### tests

If I run the tests through the RStudio **build tab**, I get th

[2018-11-19 19:10] noamross commented on #244
@JonasGeschke You can certainly talk about it as "in press" if you want.  If you want to accelerate processing, once you submit, you can go to the automatedly generate GitHub issue at https://github.com/openjournals/joss-reviews/issues, and comment that the package has been accepted here, linking back to this issue.

[2018-11-19 19:49] OJWatson commented on #238
oh wow - so many errors. Have had a look at them and have a few questions @annakrystalli

1. Firstly i'm intrigued that the `read_zipdata` error threw in the R build panel. What package version of `foreign` do you have installed as maybe this fails with a newer/older version?
2. The second fail in the examples I think makes sense to me so should have a fix for that.
3. For the tests have you creat

[2018-11-19 20:00] annakrystalli commented on #238
Hey @OJWatson , not to worry.

1) The version of `foreign` I have is 0.8-69.
3) No but my understanding was that tests that required the `rdhs.json` would be skipped if it wasn't available.  ie I should be able to test the functions that don't require authorisation and the rest should just skip.

[2018-11-19 20:03] OJWatson commented on #238
Okay cool I will check that `foreign` version. And you are right in that's how i thought i had got the tests set up, but clearly i've changed something then but I have a better idea now of where.

Thanks again,

[2018-11-19 21:17] wrightaprilm commented on #239
Sorry to belabor the point - I have this sort of thing on my mind a bit lately. If someone were to feel that I was the source of unwelcoming behavior on the repository, would they be able to report it to y'all? I found the CoC [site](https://ropensci.org/coc/), but I didn't see an email on it for someone to make a report at.

Thx!

[2018-11-19 22:11] sckott commented on #239
thanks @wrightaprilm - will get back to you asap

[2018-11-20 00:05] JonasGeschke commented on #244
Thanks for your messages. So I submitted the paper to JOSS. I will let them know about the ropensci review process as told in https://ropensci.github.io/dev_guide/onboarding-guide-for-editors.html#for-joint-joss-submissions

@KevCaz you got this, right?

@stefaniebutland thanks, a tweet would be great! I will prepare you a text!

Then I guess this issue can be closed ... but this I believe is your

[2018-11-20 00:06] KevCaz commented on #244
Yep!

[2018-11-20 00:08] JonasGeschke commented on #244
btw: from yesterday to today, the download number jumped from around 620 to almost 1100! 👍

[2018-11-20 02:50] wrightaprilm commented on #239
Great, thanks. I transferred the repo, updated the CI badges in the READMEs, updated them in the website directory, and updated my Code of Conduct.

[2018-11-20 14:52] noamross commented on #263
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-11-20 16:07] JonasGeschke commented on #244
So the JOSS paper is published, this is great!

@stefaniebutland here its the tweet you can do tomorrow (21.11.2018):

by @J_Geschke @KCazelles @ibartomeus
#EgyptCOP14 #COP14 @UNEnvironment @unepwcmc @EU_ENV

[2018-11-20 18:33] stefaniebutland commented on #244
Thanks @JonasGeschke. I'll adapt it to fit rOpenSci tweet style and schedule it for 21.11.2018.

[2018-11-20 19:07] OJWatson commented on #238
Hi @annakrystalli,

I was able to replicate the tests causing prompts, and I think i've found the cause and have patched that [(4915de2)](https://github.com/OJWatson/rdhs/commit/4915de29817b8b0b1460241d3b6b67eece659e31).

I'm struggling to replicate the first error relating to the example in `read_zipdata` though with your version of `foreign`. I've just checked in a new clone of the repo `v0.8-69

[2018-11-20 20:32] stefaniebutland commented on #237
@robitalec Will you be able to submit a draft via pull request for review soon? Planned publication is 2018-11-27. Don't hesitate to let me know if you need to change that date.

[2018-11-20 22:22] robitalec commented on #237
Thanks @stefaniebutland, I think we'll need to delay the draft. I was hoping to have it today, but it isn't ready yet... Sorry for the late notice.

[2018-11-20 22:36] stefaniebutland commented on #237
Not a problem! Do you think a week from today is good timing for draft submission? 2018-11-27 for publication >= a week after that? Or would you prefer a bit later?

[2018-11-20 23:07] robitalec commented on #237
Yes that would be perfect. Thank you!

[2018-11-21 06:23] kshtzgupta1 opened #264 "Submission: ramlegacy"
### Summary

-   What does this package do? (explain in 50 words or less):

`ramlegacy` helps users access the excel version of the RAM Legacy Stock Assessment Database from www.ramlegacy.org. Data is freely available from the databse website, but downloading and reading in the data by hand can be time-consuming. `ramlegacy` is capable of downloading, reading and caching all the available versions

[2018-11-21 09:52] maelle commented on #256
Thanks a lot @njahn82 @bmkramer for accepting to review this package! 😺  Your reviews are due on 2018-12-12.

As a reminder, our reviewer guide can be found [here](https://ropensci.github.io/dev_guide/onboarding-guide-for-reviewers.html) and the review template [here](https://ropensci.github.io/dev_guide/reviewtemplate.html).

[2018-11-21 21:51] annakrystalli commented on #262
We have reviewers! 🎉

@nldoc could I ask that you add the review badge to your README?
[code]
@marinapapa & @thomasp85 many thanks for agreeing to review! 🙏 Feel free to reach out with questions at any point.

---

Reviewers: @marinapapa @thomasp85
Due date: 2018-12-12

[2018-11-21 22:20] annakrystalli commented on #238
Hey OJ,

So I still get this error whichever way I run the example:
[code]
Is that the error you can't reproduce?

It looks like something is being coerced to a factor and levels being set that are not unique (eg see this [stackoverflow Q](https://stackoverflow.com/questions/38931194/warning-when-defining-factor-duplicated-levels-in-factors-are-deprecated). Does that make sense to you?

There's al

[2018-11-22 16:03] OJWatson commented on #238
Hmm, yes that's the error I ca't reproduce.

[2018-11-22 16:05] OJWatson commented on #238
Apologies - seem to have accidentally hit close! Didn't mean to.

[2018-11-22 16:52] OJWatson commented on #238
have just noticed that travis checks have started failing and i think i might have a better idea where that first error comes from now.

[2018-11-23 09:23] Robinlovelace opened #266 "stats19"
### Summary

-   What does this package do? (explain in 50 words or less):

The goal of stats19 is to make it easy to work with road crash data. Specifically it enables access to and processing of the UK’s official road traffic casualty database, which is called STATS19.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, no

[2018-11-26 03:53] noamross commented on #261
Thanks for your thorough review, @seaaan! @juyeongkim, I suggest waiting for @czibman's review so you can address comments together.

[2018-11-26 09:26] Bisaloo opened #267 "lightr"
### Summary

-   What does this package do? (explain in 50 words or less):

`lightr` imports [UV-VIS reflectance/transmission/absorbance](https://en.wikipedia.org/wiki/Ultraviolet%E2%80%93visible_spectroscopy) proprietary file formats in R. It also allows the import of related metadata that are critical to ensure reproducibility but that are often discarded by other tools.

-   Paste the full DESC

[2018-11-26 13:59] annakrystalli commented on #238
Hey OJ! Sorry for delay in reply, I was away and took the whole weekend off! 😎

So re: reading in `.dta` files.

I tried running your code but had to make some slight adjustments to get it to work. Here's what I ran and the results of playing around a little:
##### setup file paths and tmp dir/file

[code]

##### download data and unzip into unzip\_dir

[code]

##### identify dta file

[code]

###

[2018-11-26 18:18] sckott commented on #264
thanks for your submission @kshtzgupta1 We are discussion now and will get back to you soon

[2018-11-26 18:18] sckott commented on #266
thanks for your submission @Robinlovelace  We are discussion now and will get back to you soon

[2018-11-26 18:18] sckott commented on #267
thanks for your pre-submission inquiry @Bisaloo  We are discussing now and will get back to you soon

[2018-11-26 20:45] DomBennett commented on #232
Thanks for the helpful answer! I've now submitted the paper -- I was waiting for CRAN to host.

[2018-11-26 20:46] sckott commented on #232
cool, closing now, seems like JOSS and blog post are started

[2018-11-26 20:46] #232 closed

[2018-11-27 03:19] czibman commented on #261
DataSpaceR review
================

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.
Your review is not limited to these topics, as described in the reviewer
guide*

  - \[x\] As the reviewer I confirm that there are no conflicts of
    interest for me to review this work (If you are unsure whether you
    are in conflict, please speak to your editor *befo

[2018-11-27 10:08] Robinlovelace commented on #266
Great. It's in active development as you'll see. We have code to make all those millions of crash points sf data frames, we've just not pushed it. @layik has done great work refactoring the download functions so it makes it much easier to access this important dataset. Looking forward to hearing back from you and thanks for the update.

[2018-11-27 19:20] cboettig opened #269 "Submission: emld"
### Summary

-   What does this package do? (explain in 50 words or less):

Transform Ecological Metadata Language (EML) files into JSON-LD
and back into EML.  Doing so creates a natural list-based representation
of EML in R, so that EML data can easily be manipulated using standard
R tools. This makes this package an effective backend for other tools
for working with EML.  Additioally, the JSON-L

[2018-11-27 19:55] karthik commented on #267
👋 @Bisaloo. I will be your editor for this submission. Stay tuned for next steps.

[2018-11-27 19:55] #244 closed

[2018-11-27 19:55] #239 closed

[2018-11-27 20:36] juyeongkim commented on #261
Thanks for your feedback, @seaaan and @czibman! I will address your reviews later this week.

[2018-11-28 08:17] peterdesmet commented on #255
@ldecicco-USGS thank you so much for your review, this is really useful input.

[2018-11-28 20:36] noamross commented on #263
Reviewers assigned: @jennybc and @brodieG.  At reviewers' request, final review date is extended to deal with travel and holidays.  However, I request that reviewers provide some comment on high-level workflow/architecture issues that I think are likely to be the main points of sooner, before before a more detailed look at the code.  Roughly:

-  Is the expected workflow well communicated and impl

[2018-11-29 08:40] dwinter commented on #209
@richelbilderbeek @noamross ,

I have a chance now to check out the changes to all these packages. I want to say @richelbilderbeek should be commended for the work he has done to take our comments on board and improve the packages. I particularly like the way he has used the issue tracker to explain the rationale for changes that don't' exactly match the reviewer's suggestions.

I think this is an

[2018-11-29 08:45] ThierryO commented on #263
Thanks for assigning the reviewers. I'm looking forward for their comments. There were some minor changes to the package. The latest version is available at inbo/git2rdata#5

[2018-11-29 14:16] brodieG commented on #263
Hi Thierry.  This looks like an interesting package to review; looking forward to it.

One small request: do you mind creating tags/releases that we can work off of so there is no issue of the code changing under our feet as we are reviewing it?  Ideally this would also be accompanied by a unique package version in DESCRIPTION.  This will ensure we're all exactly on the same page about what versio

[2018-11-29 14:34] noamross commented on #209
Approved! Thanks @bjoelle and @dwinter for your thorough reviews and follow-ups, and @richelbilderbeek for your diligent work.  It's been a long road and a lot of code to go through and I'm glad to have this suite as part of rOpenSci.

To-dos:
- [ ] Wrap up https://github.com/richelbilderbeek/babette/issues/38
- [ ] Transfer the repos to rOpenSci's "ropensci" GitHub organization under "Settings" i

[2018-11-29 15:11] ThierryO commented on #263
Good point. There is currently a single release tag v0.0.1.9000 which is the current HEAD of the master branch. I suggest that you use this for the review. I won't push to the master branch during the review process.

The current changes in the develop branch are mainly cosmetic, except one hotfix.

[2018-11-29 15:34] brodieG commented on #263
Sounds good, I will do all of my work of of [v0.0.1.9000](https://github.com/inbo/git2rdata/tree/v0.0.1.9000).

[2018-11-29 20:39] annakrystalli commented on #238
OK, back with you.

So I pulled your changes and ran the tests. Getting a new failure and a couple of warnings (edited down):

[code]

#### 1. The **warning** re: locale again:
[code]
I had a little play around with this and Im not sure whether it's testing what you want it to? ie on my system it fails to set the locale during testing (indeed it doesn't change the locale even if I run `Sys.setloca

[2018-11-29 21:30] OJWatson commented on #238
Hi again, and sorry for the new errors :(

### 1. re: locale

Some users' OS may have different locale environment variable `LC_TIME`, which for one user in this [issue](https://github.com/OJWatson/rdhs/issues/37) lead to them being unable to parse date strings that were returned from the DHS API. So we have a function `mdy_hms`, which will change their `LC_TIME` env. variable to be equal to `C` f

[2018-11-29 21:39] annakrystalli commented on #238
...indeed! 😜

So, I asked for some advice from the rest of the editors and they hit up against another error when running the tests for the first time:

[code]
Somehow I don't get this error, not sure why because I haven't set up credentials and `get_rdhs_config()` returns `NULL` for me. In any case, looking at the test itself I think there might be an error:

[code]
Feels like
[code]
shouldn't ru

[2018-11-29 21:45] annakrystalli commented on #238
BTW... just pulled and ran `check()` and `test()` and all clear!! 🙌

[2018-11-29 21:46] annakrystalli commented on #238
I'll be back tomorrow morning to do another quick pass and hopefully get everything approved! 😃

[2018-11-29 22:00] OJWatson commented on #238
Wooop! Okay and yes the above makes sense.

The API tests in `test_api_endpoints` will create an `rdhs.json` file in the current directory if there isn't one. Though if there wasn't one it won't have anything stored for `email` `project` `password` etc. So this tidy up was to make sure that any `rdhs.json` file created by the API tests is deleted if it will not be useful for the following tests th

[2018-11-30 13:33] annakrystalli commented on #238
Hey OJ,

Just been having a final review and look around the package, I made a small PR with some minor edits to the README, have a look and let me know what you think.

There's only one last point I want to raise. In `client_dhs()`, the API key is baked into the function as a default to argument `api_key`. While I appreciate it's a public key and see no reason for it not to be included in the sou

[2018-11-30 21:20] kenarab commented on #157
Hello @noamross. We are finally uploading a new version with all observations you made implemented.

Here is a [link to the current release](https://github.com/qbotics/Rpolyhedra/releases/tag/v0.3.0) (v0.3.0)

We included a function `switchToFullDatabase()` for switching to fullDB, which downloads from a separate repository. By default, the packages installs with a minimal db with 120 polyhedra. T

[2018-12-03 09:31] Robinlovelace commented on #266
Heads-up @sckott `format_sf()` is now in there and the package now has a proper vignette. Are there any other things we should add at this stage for peer review? Thanks.

[2018-12-03 15:55] ldecicco-USGS commented on #255
Sounds great to me!

[2018-12-03 16:05] noamross commented on #157
Thank you @kenarab.  I see that your overall test coverage [is still low at about 30%](https://codecov.io/github/qbotics/Rpolyhedra).  Is there a reason for this? Sometimes this occurs because some of the package-building code ends up in the package itself.  But coverage less than 75% or so is problematic.

[2018-12-03 18:08] OJWatson commented on #238
Hi,

Completely agree - I have moved the actual string to be an internal package data object, and have removed all occurrences of it being written down explicitly in the code (although it is still in old commits).
As an aside the DHS programme said they wanted us to ship the package with that API key so that they could see how many people were using `rdhs` etc, but making it harder for people to g

[2018-12-03 18:49] richelbilderbeek commented on #209
Hi @noamross,

I am in a dilemma here, as I want to remove some half-baked functionality. This will change the interface a lot:

[code]

If rOpenSci is flexible in allowing me to change the interface, I will first round my to-dos. After that, I will modify the interface as above, before I submit the package to CRAN.

Is that the preferred way to go? If no, what is?

[2018-12-03 18:53] sckott commented on #264
sorry for delay on this @kshtzgupta1 - we have some conflicts of interest we're thinking through ...

[2018-12-03 22:19] sckott commented on #266
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-12-03 22:54] noamross commented on #209
These changes are fine, and I suggest you make the changes, transfer, set the version, then and submit to CRAN with the new URLs in DESCRIPTION, so that the accepted version is the same as what is on CRAN.  (We are started to roll out versioned peer-review badges so that it is clear what the version was at acceptance.)  You are free to continue to develop and make both small and big changes after

[2018-12-03 23:55] Robinlovelace commented on #266
Thanks @sckott. I'd seen **goodpractice** but never used it - that is very useful. After a few commits **stats19** improves better. Latest results:

[code]

[2018-12-04 07:47] cboettig opened #271 "Submission: virtuoso"
Submitting Author: Carl Boettiger (@cboettig)
Repository: <https://github.com/cboettig/virtuoso>
Version submitted: 0.1.1 (tagged)
Editor: Melina Vidoni (@melvidoni)
Reviewer 1: Ildiko Czeller (@czeildi)
Reviewer 2: Edgar Ruiz (@edgararuiz)
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or

[2018-12-04 22:08] sckott commented on #271
thanks for your submission - we're discussing

[2018-12-04 22:09] OJWatson commented on #238
Hi again,

Have added the banner. Sorry for delay - had it sitting in the patching branch.

Also do you know how to get github to stop declaring the package's main code language as html? It keeps picking up the files in the `docs` folder, even though `.gitattributes` has specified `docs/* linguist-vendored`?

Many thanks again,

OJ

[2018-12-05 09:30] annakrystalli commented on #238
Hi OJ, my guess (without digging into the history) is that the addition of the `.gitattributes` line came after the first commit of the `docs/`. Have a look at this [comment](https://medium.com/@monica_/hi-durim-kryeziu-thanks-for-reading-my-article-e1b47e781e04) and associated example [PR](https://github.com/durimkryeziu/jersey-2.x-webapp-for-servlet-container/pull/5) which describes the situatio

[2018-12-05 19:08] lmullen commented on #269
Thanks for your submission, @cboettig. I have run the editor's checks below. Please address the requested changes below. I have begun looking for reviewers and I will update this thread with the reviewers and due date once all reviewers have agreed to take this on.

### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Autom

[2018-12-05 20:13] lmullen commented on #269
Two reviewers have agreed. Thanks to Kelly and Peter for being willing to take on this review. :tada:  Typically we ask reviewers to complete their review in 3 weeks, but in this case that includes several holidays and most people's winter break. So I have set the due date with that in mind. Kelly and Peter, in addition to the typical checks listed in the reviewers' guide, I've noted a couple of t

[2018-12-05 22:05] stefaniebutland commented on #238
That's great to hear @OJWatson.
We could publish 2019-01-03 (Thursday 3rd) - the first post of the new year 🎉. That would mean submitting a draft for review by 2018-12-17 since I'm trying not to schedule any review work between Christmas and New Year.

This link will give you many examples of blog posts by authors of peer-reviewed packages so you can get an idea of the style and length you prefer:

[2018-12-06 00:37] cboettig commented on #269
Thanks @lmullen !

- [x] badge added.
- [x] DESCRIPTION updated to avoid `natural` and `intuitive` and be a bit more precise:
[code]
- [x] Also hopefully makes explicit what parts would be useful to other R developers (e.g. R lists) vs what would be useful outside of the R context (having a JSON serialization, which is convenient for, e.g. javascript / web developers)
- [x] License template is fil

[2018-12-06 10:00] maelle commented on #217
@pachamaltese :wave:, any news?

[2018-12-06 10:30] stijnvanhoey commented on #255
Thanks!

[2018-12-06 12:44] pachamaltese commented on #217
Hi Maelle

Sorry about the long silence!
I have a tentative PostgreSQL database and now I only have to work on the
API. The good part is that both Jorge and Amanda are collaborating on this.
If you also want to participate please do not hesitate to give ideas to
create a better API.

Best!

—————

*Mauricio Vargas Sepúlveda 帕夏*
Do you like Data Science? visit pacha.hk
你爱科学数据专吗？你走pacha.hk

El jue.,

[2018-12-06 13:22] maelle commented on #217
Cool to read! Is there a public repo we can link from here in case someone reads the thread and gets curious?

[2018-12-06 13:52] pachamaltese commented on #217
sure !! I have created this organization to make my last 3 years of work
fully reproducible
https://github.com/tradestatistics

—————

*Mauricio Vargas Sepúlveda 帕夏*
Do you like Data Science? visit pacha.hk
你爱科学数据专吗？你走pacha.hk

El jue., 6 de dic. de 2018 a la(s) 10:22, Maëlle Salmon (
notifications@github.com) escribió:

[2018-12-06 16:10] kenarab commented on #157
Hi Noam.

The code not covered is infrastructure for the core functionality. That’s why we didn’t included it in test cases, but of course it is a good practice to be covered.

We are coding the new test cases in the next days.

We are now in ic18 conference presenting Rpolyhedra.

Thank you,
All the best,
Ale.

El 3 dic. 2018, a la(s) 13:05, Noam Ross <notifications@github.com> escribió:

[2018-12-06 23:39] karthik commented on #255
Congrats @stijnvanhoey, your submission has been approved! 🎉 Thank you for submitting and @ldecicco-USGS for thorough and timely review. I'm very pleased with this package and find it very easy to use and well put together. To-dos:

- [ ] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin

[2018-12-07 10:06] stijnvanhoey commented on #255
@karthik can you please send the invite again, I can't find any invite to the organisation. Thanks

[2018-12-07 16:50] stefaniebutland commented on #237
Blog post: [Detecting spatiotemporal groups in relocation data with spatsoc](https://ropensci.org/blog/2018/12/04/spatsoc/)

[2018-12-07 17:01] stefaniebutland commented on #237
@robitalec Neat outcome of your package & post. I just spoke with a colleague, Stephanie O'Donnell, who is the Community Manager for https://www.wildlabs.net/ (https://twitter.com/wildlabsnet) and noticed their webinar next week has Sarah Davidson, Data Curator at Movebank as a speaker: https://www.wildlabs.net/resources/community-announcements/wildlabs-virtual-meetup-event-big-data-conservation-d

[2018-12-07 17:17] sckott commented on #266
Reviewers assigned:

* @adamhsparks due date: 2019-01-02
* @daranzolin due date: 2019-01-02

[2018-12-07 17:21] karthik commented on #255
@stijnvanhoey I resent the invite. Once you accept, I will give you admin on it (can't do it till you accept).

[2018-12-07 23:46] robitalec commented on #237
@stefaniebutland That would be really cool and we are glad to have the package spread through another community. None of us had heard of WildLabs and this webinar seems really interesting. We'll be checking it out for sure. Thank you!
(Let us know when there's a link!)

[2018-12-08 10:53] stijnvanhoey commented on #255
@karthik thanks, I'm member now.

[2018-12-09 01:15] melvidoni commented on #271
### Editor checks:

- [X] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [X] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [X] **License:** The package has a CRAN or OSI accepted license
- [X] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-12-09 01:52] daranzolin commented on #266
### Prolegomena

Thanks to rOpenSci for the invitation to review, and special thanks to Robin, Malcolm, Layik, and Mark for this important package. I'm already a huge fan.

***

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no

[2018-12-09 10:17] vanto1994 commented on #184
Great package! I have just 1 question, while running the package I saw written that QA's were computed. In my PC several folders were created. In which folder the 'corrected' images of MODIS are? Or should I make something else (e.g. use another package) in order to take the good quality images?

[2018-12-09 17:28] Rekyt opened #273 "Pre-submission inquiry: rromeo"
Submitting Author: Name (@Rekyt)
Repository:   https://github.com/Rekyt/rromeo

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

	- [ ] data ret

[2018-12-10 06:53] maelle commented on #256
:wave: @njahn82 @bmkramer! Friendly reminder that your reviews are due in two days, on 2018-12-12. 😺

[2018-12-10 07:01] maelle commented on #99
Oops I had missed this!

[2018-12-10 07:01] #99 closed

[2018-12-10 08:21] lbusett commented on #184
@vanto1994 I took the liberty of moving the issue in the proper issues page. I will reply you there.

[2018-12-10 11:09] annakrystalli commented on #238
Hey @OJWatson! 👋

Any chance you could update the post-review checklist above so I can see where we are at? 🙏

[2018-12-10 12:45] stijnvanhoey commented on #255
@karthik I transferred the repo, but apparently I should have added the `wateRinfo` team during transfer. Sorry to ask you again, could you provide the waterinfo team admin access to the repo? Thanks

[2018-12-10 14:29] OJWatson commented on #238
Hi,

Apologies for missing that!:

To-dos:

- [X] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo. I have invited you to a team that should allow you to do so. You'll be made admin once you do.
- [X] Add the rOpenSci footer to the bottom of your README
- [X]  Fix any links in badges for CI and coverage to point to the ropensci URL. We no longer transfer

[2018-12-10 20:56] stefaniebutland commented on #255
@stijnvanhoey Your draft post will be great for the rOpenSci blog! Such a good weaving of practical and very engaging story with package use case. That video is incredible. We can publish on Jan 15, 2019.

Please submit your draft as a pull request by Jan 8 according to the instructions here: https://github.com/ropensci/roweb2#contributing-a-blog-post. That will give me an opportunity to review pr

[2018-12-10 22:01] annakrystalli commented on #238
Great thanks for that! OK so last thing is to just add the rOpenSci badge to the README. (Sorry, this should have been done ages ago but I missed it)

[code]
Just ping when it's done and I'll close the issue 🙌😃

[2018-12-10 22:04] karthik commented on #255
@stijnvanhoey Your team should have full admin access on the repo now.

[2018-12-10 22:23] OJWatson commented on #238
Sorry - that's my bad. I got confused between the footer and the badge. I've now added the badge to the readme.

[2018-12-10 22:30] annakrystalli commented on #238
All good! I thought as much 😉

Well done again 💯

[2018-12-10 22:30] #238 closed

[2018-12-10 22:34] karthik commented on #267
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-12-10 23:14] sckott commented on #266
thanks very much for your review @daranzolin

[2018-12-10 23:45] sckott commented on #273
Thanks very much for your submission @Rekyt - We're discussing now

[2018-12-10 23:52] sckott commented on #273
@Rekyt the appropriate category is likely **data retrieval**

**database access** is defined as

`database` meaning a piece of software that is a database - e.g., if your package was an R client for SQLite database, then **database access** would be appropriate.

[2018-12-11 08:38] mpadge commented on #266
Yeah, thanks @daranzolin for an impressively prompt review. I'll leave the response proper to @layik and @Robinlovelace, but will confess guilty here to having commented out the interactivity in the `dl_*` functions. That's all my doing and I should already have reinstated it. Apologies to all, and yes, it will be returning.

[2018-12-11 09:57] Bisaloo commented on #267
Thank you for your comment!

I don't really understand why `spelling` is problematic. It's used in many packages on CRAN without any issue (https://cran.r-project.org/package=spelling). Could you expand a bit more why I should remove it please?

Also, it is okay if I keep working on `master` until reviewers are found?

[2018-12-11 10:55] stijnvanhoey commented on #255
@stefaniebutland Great! We'll make sure to have a version submitted by Jan 8.
@karthik thanks for all the help, a PR is ready, just a single check on the coveralls link, https://github.com/ropensci/wateRinfo/pull/47

Any other admin we need to do or can I/you close this issue?

[2018-12-11 13:51] Robinlovelace commented on #266
Many thanks for the quick yet detailed review @daranzolin. I'm working on it this week and will get back to you on each of those constructive comments asap. More soon...

[2018-12-11 14:03] layik commented on #266
Great review @daranzolin. Appreciate it. Thanks @Robinlovelace and @mpadge. Apologies I just missed this thread for some reason.

[2018-12-11 14:16] annakrystalli commented on #262
---
Reviewers: @marinapapa @thomasp85
New due date: 2018-12-20

[2018-12-11 15:46] Robinlovelace commented on #266
Heads-up all (especially @daranzolin, @mpadge and @layik - the originator of interactive downloads in **stats19**), I've re-added interactivity, this time using `menu()` which is best practice for this kind of thing and fewer lines of code.

Please check out the video to see how it works here:

[![asciicast](https://asciinema.org/a/4yhLMS8B256KypvEqpKPl29Fs.svg)](https://asciinema.org/a/4yhLMS8B25

[2018-12-11 19:34] sckott commented on #273
Hi @Rekyt - It is a good fit and we welcome a full submission 👍

[2018-12-11 19:34] #273 closed

[2018-12-12 11:06] Rekyt commented on #273
Thank you for the rapid examination @sckott!

[2018-12-17 08:10] geanders commented on #264
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license (MIT + LICENSE)
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, m

[2018-12-17 14:58] maelle commented on #256
Thanks a lot for your review @njahn82! 😺

[2018-12-17 20:18] layik commented on #266
Just going through the review @daranzolin, RE vignette, I think what you needed to do was
[code]
then you would be able to load the vignette.

[2018-12-18 13:50] thomasp85 commented on #262
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [ ] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-12-18 18:31] annakrystalli commented on #262
Thanks very much for your review @thomasp85 🙏

[2018-12-18 18:37] annakrystalli commented on #262
😜❤️

All good, looks like pretty sound feedback to me! If @nldoc or @marcosci require any clarification I'm sure they'll reach out.

[2018-12-19 01:35] juyeongkim commented on #261
Thank you @seaaan and @czibman for reviewing the package!

[2018-12-19 09:54] marinapapa commented on #262
## Package Review

Hi all, here is my review. I really like your package so I hope my comments will help to improve it :)

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of d

[2018-12-19 09:56] marinapapa commented on #262
And as @thomasp85 said, I m happy to review my review if needed 😊

[2018-12-19 10:21] nldoc commented on #262
Thank you very much for your detailed reviews @thomasp85 and @marinapapa
Your comments are very helpful for improving the package functionality and documentation.
The issues you mentioned seem straightforward to us. We will immediately start working on improvements and come back to you with a detailed response to your comments.

[2018-12-19 10:48] annakrystalli commented on #262
Indeed thanks so much for the thorough review @marinapapa!

@nldoc & @marcosci, over to you now. We normally ask to aim for responses to reviewers within two weeks but with the holidays coming, it is quite alright if you take some extra time over it.

So wishing all in the thread Happy Holidays and enjoyable downtime! 🌟🎄🎅

[2018-12-19 15:35] Robinlovelace commented on #266
Heads-up we've addressed most of the issues raised by @daranzolin I think. Many thanks for a great set of comments. We're documenting them here https://github.com/ITSLeeds/stats19/issues/49 and plan to put the review responses here https://github.com/ITSLeeds/stats19/blob/master/responses1.Rmd

Not quite finished but plan to properly respond in a comment here by Saturday this week - sorry it's tak

[2018-12-19 19:37] stefaniebutland commented on #238
Hi @OJWatson. I'm following up to see if you'd still like to contribute a blog post and to agree on a submission/publication date.

I'll be on vacation Dec 24 - Jan 1, so I could review a draft this week if submitted by Fri Dec 21, 9am Pacific, or review in the new year. If you are still interested, please date your post 2019-01-03 and we can modify that once it's ready.

This link will give you m

[2018-12-19 19:41] marcosci commented on #262
Hi Anna, Marina and Thomas - thanks a ton for the very nice reviews!

Just trying to fix the issues @marinapapa had with the `get_nl_spatial` function - can you provide me with the script you had that caused the errors? :)
Just tried it with our toy examples (https://github.com/nldoc/nldoc_playground) and I couldn't reproduce that.

[2018-12-20 13:01] noamross commented on #263
Thank you @brodieG for a pre-review as detailed as many of our full reviews! All of this is in-scope for the review.  I think the discussion of other frameworks is quite helpful. One does not have to adopt a totally different model as a result, but I think using that context to guide the API and documentation . I find it increasingly common and helpful to put a "Related Work" section in README/vig

[2018-12-20 14:09] layik commented on #266
Hi @daranzolin, as promised by @Robinlovelace please find our responses and thank you very much for taking time to do the review and please feel free to let us know if you any further feedback.

=====

Responses to review 1 of stats19
--------------------------------

Thanks for the review. We've had a chance, after making some changes and fixes to the package, to take-in and act on each of the co

[2018-12-20 20:09] karthik commented on #255
@stijnvanhoey  All good. Closing now. :tada:

[2018-12-20 20:09] #255 closed

[2018-12-20 21:22] gregfortress commented on #39
Hi, I'm no R expert (or coding, really), but my database runs this package at 6 am in the morning to grab yesterday's wind and temp. But it can only get hours 1-20. 21-24 never come in. Do the rest of the hours of the previous day get published after 6am EST? How do I get those last few hours?

[2018-12-20 21:43] melvidoni commented on #271
Reviewers assigned!

Reviewers: @edgararuiz @czeildi
Due date: 2019-01-17

We are extending a little bit the due date because of the holidays.

[2018-12-21 06:49] kshtzgupta1 commented on #264
@geanders I have added the badge.

[2018-12-21 09:12] Robinlovelace commented on #266
Thanks @daranzolin, which years do you get parsing failures for? Cannot reproduce for 2017 data, as illustrated in the reprex below:

[code]

<sup>Created on 2018-12-21 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2018-12-21 17:37] daranzolin commented on #266
It was the 2009 datasets for vehicles and casualties. Apologies for the missing reprex.

[code]

<sup>Created on 2018-12-21 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2018-12-22 10:48] layik commented on #266
Hi David. I will have a look at 2009 and see what the issue is and report.

[2018-12-22 22:58] ThierryO commented on #263
Thanks you @brodieG for the elaborate review. Here are my idea's on the topics you raised.

# Editors questions

## Q1

### Vignette

Adding an example where the data is actually used is a good suggestion. I have presented our workflow as a [poster](https://pureportal.inbo.be/portal/files/14910298/onkelinx_2018_isec.pdf) at the International Statistical Ecology Conference [ISEC 2018](http://www.is

[2018-12-23 12:53] layik commented on #266
This shows, as @daranzolin says, both "cas" and "veh" suffer from the same issue between 2009:2013 inclusive but no issues after 2014. Created a [gist](https://gist.github.com/layik/0f25386b6e4de26c5725f369d711c19d) rather polluting this thread with lengthy reprex.

Will check read/format in due course.

[2018-12-23 17:10] Robinlovelace commented on #266
Hi @daranzolin thanks loads for reporting. I think it's fixed on this branch which I'm planning to merge, as demonstrated in this reprex:

[code]

<sup>Created on 2018-12-23 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

[2018-12-23 17:19] Robinlovelace commented on #266
Update: `index` branch has now been merged.

[2018-12-26 17:36] kenarab commented on #157
Hi Noam. We just finnished a sprint for code coverage. Now is above 75%.
Will be better in the future but maybe should be enough for Ropensci.
Also checked  goodpractices, lintr, etc.

I hope you a great 2019.

Best, Ale.

El jue., 6 dic. 2018 a las 13:10, alejandro baranek (<
alejandrobaranek@gmail.com>) escribió:

--
 alejandro baranek
@ken4rab <https://twitter.com/ken4rab>
qbotics <http://qboti

[2018-12-26 18:41] sckott commented on #266
@adamhsparks your review is due in 1 week, thanks very much

[2018-12-26 18:42] sckott commented on #266
@Robinlovelace we usually don't have maintainers submit to CRAN during the review but if its already on CRAN and there is a bug fix patch, then seems justifiable to submit to CRAN during review

[2018-12-28 09:19] adamhsparks commented on #266
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2018-12-28 17:50] sckott commented on #266
thanks for your review @adamhsparks !

[2018-12-28 22:11] seaaan commented on #261
Nice changes! Sorry it took me a bit to get a chance to review them. The updated package builds fine and passes R CMD CHECK. I have a few minor comments--and I do encourage you to consult with users about changing the interface as discussed above--but other than those, I don't have anything else and I approve the package. Nice job!

## Vignette: how to get help
I suggest adding a short section in

[2018-12-29 16:09] layik commented on #266
That is a great review @adamhsparks. Thank you. Thanks @sckott appreciate your follow up!

[2018-12-29 17:58] noamross commented on #157
Thank you @kenarab .  As it's been a while since I originally contacted them I will see whether the original reviewers are still available. Also, a few notes, which I will ask the reviewers to consider. I would recommend not incorporating them until reviews are in, as well, so you can assess the feedback all together.

- Function documentation is pretty sparse, in that most function descriptions a

[2018-12-30 06:12] adamhsparks commented on #266
Sorry, I missed the paper.md in the root dir. I've updated my review to reflect this.

[2018-12-30 10:04] Robinlovelace commented on #266
Hi @adamhsparks no problem, and just saw the PR. Will look now. Meanwhile, I've put our work-in-progress response to your review here: https://github.com/ITSLeeds/stats19/issues/63 - any questions, please ask. Very grateful for the level of detail and knowledge in the review. Thank you!

[2018-12-30 10:05] Robinlovelace commented on #266
One question, probably more for @sckott: does JOSS accept figures and code chunks? Thinking that could liven it up a bit...

[2018-12-30 10:10] Robinlovelace commented on #266
OK just merged those 2 mini PRs. That raises another question: are both reviewers happy to be in the author list with the new `rev` tag? More info here: https://ropensci.org/blog/2018/03/16/thanking-reviewers-in-metadata/

[2018-12-30 21:48] adamhsparks commented on #266
Hi @Robinlovelace, happy to be listed as a reviewer, "rev", and contributor, "ctb", for the pull requests you've accepted. My ORCID: 0000-0002-0061-8359.

[2018-12-31 18:18] daranzolin commented on #266
@Robinlovelace `rev` is great for me! Thanks for asking.

[2018-12-31 20:00] juyeongkim commented on #261
@seaaan Thanks! I made the changes [here](https://github.com/CAVDDataSpace/DataSpaceR/commit/b1ec75a6e1ccfce5f50f454b392a82312f4c8941).

Happy new year! :fireworks: :champagne:

[2019-01-02 06:10] Robinlovelace commented on #266
Great, I've add both reviewers in https://github.com/ITSLeeds/stats19/pull/67/files

[2019-01-02 17:39] sckott commented on #266
@Robinlovelace will ask, not sure about the JOSS question

[2019-01-02 21:40] pachamaltese commented on #217
@maelle Hi!!
Sorry for the very long silence. After all the issues with the "server is down" and whatever, I ended up creating my own project.

A new package based on `oec` is now available here https://github.com/tradestatistics/r-package

But in broader terms, tradestatistics.io is something new I made with a help from the awesome community and everything is pure R (even the API, which is where

[2019-01-03 15:16] sckott commented on #266
AFAICT figures can be included https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain - it doesn't say anything about code chunks, but you could try

[2019-01-03 16:15] czibman commented on #261
Apologies for taking so long to look at this.  I don't have any further comments.  Thanks @juyeongkim again for making this package, and happy new year to you all as well!

[2019-01-03 17:15] kenarab commented on #157
Hello @noamross:

Thank you for your time and your coaching and tips! We applied all of them. You can see them in this [branch](https://github.com/qbotics/Rpolyhedra/tree/dev-0.4.0). Also we just uploaded a new release (v0.4.0) to CRAN.

We hope reviewers (originals or new ones) can take the time to assess Rpolyhedra.

Happy new year for all the Ropensci team.

Best, Ale.

[2019-01-03 17:41] maelle commented on #217
:wave: @pachamaltese! Happy New Year! Congrats on the project (and fun endpoint)!

Should we close this issue? And when your new package is ready you can open a [pre-submission inquiry](https://github.com/ropensci/software-review/issues/new?template=B-submit-a-presubmission-inquiry.md) (if it does the exact same things at the package using the broken server used to do, it should be in scope, but b

[2019-01-03 17:43] pachamaltese commented on #217
@maelle ok !! so I'm closing this and opening a new submission
I'll prepare the new submission during the next hour

[2019-01-03 17:43] #217 closed

[2019-01-03 17:43] maelle commented on #217
Maybe best open a pre-submission inquiry and wait until the package is more mature until a full submission (unless the package _is_ mature already).

[2019-01-03 18:14] juyeongkim commented on #261
Thank you @czibman!

[2019-01-03 21:14] pachamaltese opened #274 "tradestatistics package"
Submitting Author: Pachá (@pachamaltese)
Repository: https://github.com/tradestatistics/tradestatistics
Version submitted: 0.1
Editor: @maelle
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github

[2019-01-04 18:36] maelle commented on #274
:wave: @pachamaltese! Thanks for your submission! Can you confirm the package and underlying data source are mature enough for review?

[2019-01-04 18:55] pachamaltese commented on #274
@maelle Hi!! Yes, I added all the feedback from the previous package and I extended it to obtain data from different tables provided I built my own tailored API

[2019-01-04 20:12] pachamaltese commented on #274
@maelle Hi! sorry, I totally forgot to mention that the ROpenSci badge that I added should get another numeral provided 217 is for the older package

[2019-01-04 21:31] stefaniebutland commented on #209
Hello @richelbilderbeek and thank you for all your work on having `babette` go through peer review.

We would love to help get more eyes on your work. This link - https://ropensci.org/tags/software-peer-review/ - will give you examples of blog posts by authors of peer-reviewed packages so you can get an idea of the style and length you prefer. Technotes are here: https://ropensci.org/technotes/.

[2019-01-04 21:40] stefaniebutland commented on #238
Happy New Year @OJWatson. If you are still interested in writing a post about `rdhs`, I'm still interested in helping you get more eyes on your work 🙂. Please let me know at any time and we can establish a publication date that works for you.

[2019-01-04 22:17] OJWatson commented on #238
Hi,

I am still keen to write a post about rdhs. Was hoping to do it over the holidays but had a paper bounce back just before so have been working on that. Am hoping to get to it in the following week though.

Thanks again,

OJ

From: Stefanie Butland
Sent: Friday 4 January, 21:40
Subject: Re: [ropensci/software-review] rdhs: submission for Ropensci (#238)
To: ropensci/software-review
Cc: Watson,

[2019-01-05 09:51] annakrystalli commented on #262
Hello all and happy (belated) New Year! 💫

Just checking in to see how things are going.

I also asked the editors about your query regarding the repeating warning message when running `get_nl_spatial` in Rmd. While not necessarily more urgent than other issues,it still needs to be addressed prior to approval.

@noamross also provided some useful tips on how to troubleshoot and then set up a test

[2019-01-05 13:10] nldoc commented on #262
Happy New Year to you too!

Let me give you a short update on the progress of our revisions.
We revised large parts of the package documentation and already resolved most of the issues mentioned by the reviewers. There are still some small things to be done (for example the get_nl_spatial warning messages; thank you @annakrystalli for your hints, we will try to solve this issue asap).
We will cont

[2019-01-05 13:56] annakrystalli commented on #262
Thanks for the updates @nldoc! 👍

Have a nice weekend too. 😊

[2019-01-05 15:04] maelle commented on #274
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2019-01-06 13:50] Robinlovelace commented on #266
Happy to say, we've finally responded to all the points made by @adamhsparks. We've learned a lot in the process, and have added an auto deploy website (see https://itsleeds.github.io/stats19/ ), plus various current best practice things like `donttest` that we didn't know about. Thanks loads!

Any further comments/suggestions: very welcome.

Thanks for the detailed review.
We think all the sugges

[2019-01-06 15:41] layik commented on #266
I learned a lot from this review @sckott, @daranzolin and @adamhsparks. I really appreciate all your contributions. Fantastic open source vibes.

Thanks @Robinlovelace and @mpadge awesome work.

[2019-01-06 16:19] pachamaltese commented on #274
Hi @maelle
I tested on another laptop and I still cannot reproduce the UTF-8 warnings
Here's my output
[code]

[2019-01-06 22:19] noamross commented on #157
@yulijia and @schloerke have agreed to review.  Due date: 2019-01-30.

[2019-01-06 22:38] czeildi commented on #271
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-01-06 23:53] adamhsparks commented on #266
Thanks, @Robinlovelace, @layik and @mpadge. I'll have a look at the changes shortly and respond.

[2019-01-07 03:20] gothub commented on #269
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-01-07 05:44] richelbilderbeek commented on #209
@stefaniebutland: I will happily create a blog post and am already working on it...

[2019-01-07 09:39] maelle commented on #274
@pachamaltese I've just re-run R CMD Check but not via `devtools::check()` and the warning disappeared :open_mouth: so it was most probably a false positive, sorry about that.

[2019-01-07 09:41] maelle commented on #274
@emilyriederer @mpadge thanks for accepting to review this package! :smiley_cat:  Your reviews are due on 2019-01-28. As a reminder here are our [reviewer guide](https://ropensci.github.io/dev_guide/reviewerguide.html) and [review template](https://ropensci.github.io/dev_guide/reviewtemplate.html).

[2019-01-07 12:16] bmkramer commented on #256
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-01-07 12:48] bmkramer commented on #256
With apologies for the late review!

[2019-01-07 12:49] maelle commented on #256
Thanks a lot for your review @bmkramer! :smile_cat:

Reg "The package conforms to the rOpenSci packaging guidelines" the question is whether you see any discrepancy between https://ropensci.github.io/dev_guide/building.html and the package, if you have time you are qualified to assess, and you can ask me any question.

Was time or another problem the reason for not running tests? Happy to help if

[2019-01-07 12:50] maelle commented on #256
@aurielfournier @birderboone now both reviews are in! :tada:

[2019-01-07 15:19] kenarab commented on #157
Thank you @noamross!

And than you @yulijia and @schloerke for accepting being our reviewers.

Best, Ale.

[2019-01-08 00:12] adamhsparks commented on #266
Thank you @Robinlovelace, @layik and @mpadge for your consideration of my comments and the incorporation of many of them as you see fit. However, there are still a few issues (most of which you did attempt to previously address but seem to have slipped through) that I think should be fixed before I sign off on it.

1. Use `spelling::spell_check_package()` and correct the errors.

2. There's a line

[2019-01-08 01:54] adamhsparks commented on #266
One other suggestion for you is to add a CITATION file so that `cite("stats19")` can be used to generate a reference for citing it from R.

[2019-01-08 02:55] etiennebr commented on #246
Good job @khufkens! @karthik I would recommend approving this package; @khufkens adressed the issues I raised.

I think there is still room for a higher test coverage rate to help the package in the long run, and `sf` support could be even easier for the user, but I see these elements as goals to keep in mind while evolving the package. I recommend to approve the package given @khufkens's revision

[2019-01-08 08:36] Robinlovelace commented on #266
These all sound reasonable @adamhsparks. We'll get on it and hope to 'resubmit' by early next week. Note to self: add a link to show changes that have happened between now and then: https://help.github.com/articles/comparing-commits-across-time/

[2019-01-08 09:35] adamhsparks commented on #266
If it helps, here's the CITATION file for `nasapower` that has a JOSS article and a manual (for the release version) both in it as well as info on citing the POWER data properly.

https://github.com/ropensci/nasapower/blob/master/inst/CITATION

[2019-01-08 10:17] layik commented on #266
Thanks @adamhsparks! Timely followup from @Robinlovelace as always.

[2019-01-08 10:59] khufkens commented on #246
Thanks for the vote of confidence @etiennebr. I acknowledge that `sf` support would be nice, but I also want to make sure that there is something for people to work with. Since the CRAN (re)release the package has had some good traffic. So the demand for the tool is there.

New features can be added incrementally without breaking things. I think with the feedback the package is also better structu

[2019-01-08 13:33] Robinlovelace commented on #266
Great, thanks for showing us this example. I imagine the citation will change if/when it goes into JOSS.

[2019-01-08 16:03] stijnvanhoey commented on #255
@stefaniebutland, we are running into deadline trouble with the blog post. The current version is available [here](https://github.com/stijnvanhoey/wateRinfo_post), but we still need to have some internal rewriting and review.  Would it still be ok to submit the PR on Monday? Our excuses for the rather late notice.

[2019-01-08 16:47] stefaniebutland commented on #255
Not a problem @stijnvanhoey. We're very happy to host your post when it is ready.

If you submit a pull request on Monday I'll do my best to do a final review asap after it's in. My responses might be delayed, however, because I'm involved in a workshop next week. The post is in very good shape so I don't expect it will need many changes after my review.

If you're not able to submit on Monday, th

[2019-01-08 17:51] boshek commented on #264
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2019-01-08 18:04] geanders commented on #264
Thank you for the very thorough review, @boshek! @kshtzgupta1, there will be a second review coming, as well, so you may want to wait for that before you begin addressing reviewer comments.

[2019-01-09 10:23] Robinlovelace commented on #266
## Response to 2nd round of reviews

Many thanks for providing follow-up comments, they have been really useful and let to further improvements in the package. All the changes in response to them can be found here: https://github.com/ITSLeeds/stats19/compare/3f38d4cd9144497a0884c1c49c06f680b674acb7...master

Specifically:

1. Use spelling::spell_check_package() and correct the errors
  - See https

[2019-01-09 11:20] layik commented on #266
Thanks @Robinlovelace. Thanks @adamhsparks, @sckott and @daranzolin one more time from me.

[2019-01-09 11:32] adamhsparks commented on #266
Looks great! I've amended my review and recommend accepting this package to rOpenSci now.

[2019-01-09 16:53] marcosci commented on #262
# Detailed response to reviewers

Dear @marinapapa and @thomasp85,
thank you very much for your helpful and constructive feedback on our R package.
We agree with all the issues you mentioned and we revised our code and package documentation accordingly. The following sections will give you a detailed overview of our revisions, pointing to specific commits, where possible and links to the correspon

[2019-01-09 18:19] sckott commented on #266
Approved!  Thanks again for your submission @Robinlovelace  @layik ! And thanks for your reviews @daranzolin  and @adamhsparks 👌

To-dos:

* Please transfer the package  to `ropensci`- you should already have ability to transfer. You'll be made admin once you do.
* add rOpenSci footer to README
`[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.org)`
* C

[2019-01-10 10:18] annakrystalli commented on #262
Thank you @marcosci & @nldoc for the detailed response and improvements!

@thomasp85 & @marinapapa , over to you. Please feedback on whether the responses have adequately addressed the issues you've raised. Feel free to reach out for any clarification.

[2019-01-10 11:05] Robinlovelace commented on #266
See here for my attempt to implement all those changes: https://github.com/ropensci/stats19/pull/80

Look good to you @sckott ?

One question: how does this process relate to the JOSS paper process? Wondering if we get a citation generated when that goes up, and when that will be.

[2019-01-10 11:06] Robinlovelace commented on #266
Another question: can we keep hosting the website on our own org (ITSLeeds)?

[2019-01-10 14:40] layik commented on #266
@Robinlovelace
[code]

[2019-01-10 17:40] sckott commented on #266
permissions should be done now - sorry about my UTC - 8 time zone 😞

* For JOSS:
    * I just added a Zenodo web hook - check your webhooks to see it
    * If you haven't already, generate a new release associated with a git tag in your repo. This doesn't mean you have to submit to CRAN with that git tag/release, its just to get a Zenodo DOI - and you can put a zenodo badge in your readme, then af

[2019-01-10 18:56] Robinlovelace commented on #266
Many thanks Scott.

[2019-01-10 19:07] sckott commented on #266
do let @stefaniebutland know if you are interested in doing a blog post or not

[2019-01-10 19:08] Robinlovelace commented on #266
Definitely interested in a blog post. Will be great to get it out there.

[2019-01-10 20:03] stefaniebutland commented on #266
Great to hear you'd like to contribute a post @Robinlovelace. We're always keen to help get more eyes on people's work.

This link will give you many examples of blog posts by authors of peer-reviewed packages so you can get an idea of the style and length you prefer: https://ropensci.org/tags/software-peer-review/. Technotes are here: https://ropensci.org/technotes/.

Here are some technical and

[2019-01-10 20:05] stefaniebutland commented on #209
@richelbilderbeek Do you have an idea of when you might submit a draft for review? Then we can choose a potential publication date.

[2019-01-10 20:54] richelbilderbeek commented on #209
@stefaniebutland: I can submit a draft before the Friday 25th of January, 19:00 (Amsterdam time zone, UTC +1). Would that work out?

[2019-01-10 21:09] Robinlovelace commented on #266
Thanks for all the info Stefanie, really useful background, sure we can do a good job.  How's early February for an ETA?

[2019-01-10 22:07] stefaniebutland commented on #266
Sounds great! I'll mark my calendar