[2018-04-17 19:51] #86 closed

[2018-04-17 20:52] karthik commented on #176
Congrats @erzk! your package has been approved! 🎉 Thank you for submitting and @cvitolo and @Robinlovelace  for thorough and timely reviews. To-dos:

- [ ] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.

- [ ] Add the rOpenSci footer to the bottom of your README

[code]
-

[2018-04-17 20:58] karthik commented on #190
@evanodell Final suggestion. If you found feedback from the reviewers valuable, consider adding them as reviewers in the description of your package (this is entirely up to you and not a requirement).  If you decide to, you'll need:

- The ORCID for both reviewers (if the reviewers don't have it, they should sign up for one here: https://orcid.org/)
- Follow this format: https://github.com/ropensc

[2018-04-17 21:40] evanodell commented on #190
@cderv do you have an ORCID I can include to list you as a reviewer in the package description?

[2018-04-17 21:46] evanodell commented on #190
@stefaniebutland A technote seems good to me. I can send it to you by the end of the week if that works?

[2018-04-17 22:40] erzk commented on #176
@karthik All done.
@stefaniebutland  I'm happy to write a blog post about the package.
@cvitolo @Robinlovelace Thanks for reviewing the code. I added you as reviewers in the DESCRIPTION file.

[2018-04-17 22:46] karthik commented on #176
Thanks @erzk! That was fast! I'll close this issue since the review is complete but you will hear further from Stefanie on the possibility of writing a blog post.

[2018-04-17 22:46] #176 closed

[2018-04-18 00:27] jeffreyhanson commented on #184
I'm sorry for the late reply, this completely fell of my radar. @lbusett has done an amazing job and addressed all my issues/suggestions.

[2018-04-18 05:46] stefaniebutland commented on #136
@mstrimas

Checking in to see if timing is right for to draft a blog post - no rush if pkg not updated yet

[2018-04-18 05:50] maelle commented on #136
By the way, it'd be grand if the blog post explained a bit how to choose between using `auk` and @sckott's `rebird` depending on the use case. 😺 The information could also be in the READMEs of both packages. Thinking of this because this week I was at a loss which of the two to recommend. 😀

[2018-04-18 05:55] stefaniebutland commented on #176
@erzk Great to hear you're interested in contributing a post about `PostcodesioR`. You can read example narrative posts about onboarded packages here: https://ropensci.org/tags/onboarding/ and technotes here: https://ropensci.org/technotes/. Technotes can be published at any time, while blog posts are scheduled in advance.

Here are some technical and editorial guidelines: https://github.com/ropen

[2018-04-18 05:57] cderv commented on #190
@evanodell Yes I have one : https://orcid.org/0000-0003-4474-2498
Thank you for this offer to add me, I appreciate!

[2018-04-18 11:53] mstrimas commented on #136
@stefaniebutland I think the package is ready, I can start putting something together this week. Thanks for the reminder!

@maelle `rebird` is an interface to the [eBird API](https://confluence.cornell.edu/display/CLOISAPI/eBirdAPIs), which gives access to a very limited subset of the data, e.g. the last 30 days of observations from a location. I think of `rebird` as being useful for building tool

[2018-04-18 12:01] maelle commented on #136
Thanks a lot for the explanations @mstrimas! It'd be a nice footnote as well in my opinion (of the post and READMEs).

When you say 30 days of observation you mean for raw occurrence data right? For frequency derived from it it seems you can get older data e.g. https://github.com/stephhazlitt/ruhu-ebird-observations/blob/master/R/ruhu-ebird-observations.md

[2018-04-18 12:55] mstrimas commented on #136
@maelle I wasn't aware of the `ebirdfreq()` function, that's cool! Seems all the other functions are "recent" observations, but that one does give access to historical data at state, county, and hotspot level. It's also worth noting the `rebird` is easier to use and *much* faster, so if your data needs can be met by `rebird`, I'd say it's definitely preferred.

[2018-04-18 12:59] maelle commented on #136
Awesome! It'll be super useful to guide users finding any of the 2 packages first! I wonder if the info should also live in the vignette because of people installing from CRAN and therefore not having the README 🤔

[2018-04-18 13:30] maelle commented on #136
Fantastic! Speaking of other rOpenSci packages, I am also wondering whether/how one could use [`bowerbird`](https://github.com/ropensci/bowerbird) (not an ornithology package despite its name) and `auk` to keep, update and use a local copy of eBird dataset, I might ping you if I ever try to write such an use case.

[2018-04-18 17:16] karthik commented on #190
@evanodell Thanks again for the submission. I'll close the issue since the review is complete but please feel free to continue the conversation with Stefanie re the blog post.

[2018-04-18 17:16] #190 closed

[2018-04-19 15:56] noamross commented on #206
Sorry for the delay, @rubenarslan. This got lost in the shuffle as we rotated editors.  Ultimately, we decided that **codebook** doesn't fall into our scope.  The data deposition category is primarily for uploading data to scientific repositories and generating appropriate metadata for that purpose.  **codebook** falls more into the category of literate programming or data exploration tools to pro

[2018-04-19 15:56] #206 closed

[2018-04-19 16:07] rubenarslan commented on #206
@noamross To me the human-readable part is more a means to the end of getting machine-readable and Google-able metadata out there and into repositories. But it's definitely a more minor part of what the package actually does. I was hoping to benefit from the metadata expertise of some of the reviewers here, but I guess/hope some of the same people review for JOSS.

[2018-04-19 16:54] noamross commented on #206
Yes, there is overlap in both reviewers and editors between us and JOSS. We'll tell the JOSS editors to look out for the package to make sure the right folks handle it.

[2018-04-20 09:42] sebastian-fox commented on #168
Hello, just wondering how to get the rOpenSci badge status updated from "Under review" to "peer reviewed" for `fingertipsR` on the README file?

[2018-04-20 09:52] maelle commented on #210
@azizka do you have any question or comment? ☺

[2018-04-20 20:32] JasperHG90 commented on #192
This software was already onboarded at rOpenSci. Link to review: http://joss.theoj.org/papers/58fed1624a37520d3f8eb40175dd40ae

[2018-04-20 20:38] karthik commented on #192
Sorry @JasperHG90 I meant that you should post this comment in the JOSS thread once you have submitted, not here.

[2018-04-20 21:10] noamross commented on #168
We see it as "Peer Reviewed". You may need to clear your browser cache.

[2018-04-20 22:58] maelle commented on #210
Oh good luck with your defence!

[2018-04-23 09:16] sebastian-fox commented on #168
Thanks - that did the trick :)

[2018-04-23 16:08] mstrimas commented on #136
@stefaniebutland here's a first draft of a [blog post](https://github.com/mstrimas/auk-blog-post/blob/master/auk.md).

What topicid and date should I use?  Also, is there somewhere in the website repo I can put a couple data files (~ 3 MB). If there isn't a good spot, I'll just leave them in my GitHub repo.

If this looks good I can submit a pull request to the rOpenSci website repo.

[2018-04-24 06:06] shaunpwilkinson opened #212 "Submission: phylogram"
### Summary

-   What does this package do? (explain in 50 words or less):

The phylogram R package is a tool for for developing  phylogenetic trees as deeply-nested lists known as "dendrogram" objects. It provides functions for importing and exporting trees in  parenthetic text format, as well as several tools for command-line tree manipulation and conversion between "dendrogram" and "phylo" clas

[2018-04-24 20:32] lbusett commented on #198
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-04-24 20:40] sckott commented on #198
thanks for your review @lbusett !

@johnbaums - can you get your review in soon?

[2018-04-24 23:27] raymondben commented on #198
Thanks @lbusett - that's very helpful!

[2018-04-25 18:15] karthik commented on #184
@lbusett 👋 I'm glad to see @jeffreyhanson and @lwasser have signed off. I suggest making those changes and pushing a new release before we proceed with acceptance. I'm painfully aware of such policy changes.

[2018-04-25 19:50] amrrs commented on #172
Hi @noamross Sorry i was caught up with a lot of other things so couldn't make any progress in this. Picked this up again. I've made the suggested changes as a task list and updating it above. Is that okay?

[2018-04-25 20:28] amrrs commented on #172
@kaneplusplus  Sorry I couldn't understand your point 3, Could you please explain it? Currently it returns a dataframe so not sure what this itemized list is supposed to do? Like, replace the dataframe with an itemized list?

[2018-04-25 21:20] noamross commented on #195
@rossmounce Can you let us know if Will's update addresses your comments?

[2018-04-26 11:25] rossmounce commented on #195
Thanks for the ping. I think Will's updates mostly address my comments.

It's a great start and I look forward to seeing the usefulness of this package grow over time with more scraper methods to cover a wider range of publishers.

[2018-04-26 19:29] noamross commented on #209
Second reviewer: @bjoelle
Due date: 2018-05-18

[2018-04-26 19:33] noamross commented on #209
It took a bit to get reviewers, @richelbilderbeek, but the search made it clear that there is a lot of interest in these packages!  Like Guangchuang, there were several folks who had short comments but were not able to do a full review.  One comment that came up is that one might want to use the **xml2** package to generate and validate XML inputs rather than manipulating strings.  I suggest that

[2018-04-28 00:09] sckott commented on #198
@johnbaums - can you get your review in soon?

[2018-04-28 14:35] richelbilderbeek commented on #209
The reason of not using `xml2` is in the history of the package. It started as a hackerish thing, not intended for re-use. After a while, when `babette` was in her final phase, I have tried out `xml2` for a short while. But I could not convince myself to redo the architecture of the back-end, when everything already worked with 100% code coverage. If reviewers insist, I do have a reason to redo th

[2018-04-28 19:36] rtaph opened #213 "submission: outcomerate"
### Summary

-   What does this package do? (explain in 50 words or less):
`outcomerate` is a lightweight R package that implements the standard outcome rates for surveys, as defined in the [Standard Definitions](https://www.aapor.org/Standards-Ethics/Standard-Definitions-(1).aspx) of the American Association of Public Opinion Research (AAPOR).

-   Paste the full DESCRIPTION file inside a code bl

[2018-04-29 18:36] noamross commented on #195
Approved!  Thank you @willpearse, @sarahsupp, and @rossmounce.  To-dos:

To-dos:
- [ ] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Update badges, CI and coverage links, and URLs to point to the new repo address.
- If you would like to, and if your reviewers agree

[2018-04-29 18:43] noamross commented on #172
@amrrs That's OK. It's just what we expect. Once you have gotten through all the changes let us know for the reviewers to approve, or ask about uncertain ones as you have above.

[2018-04-30 05:01] sckott commented on #212
thanks for your submission @shaunpwilkinson - will get to editor checks tomorrow morning

[2018-04-30 05:57] johnbaums commented on #198
@sckott @raymondben apologies for the slow turnaround and missed notifications. Aiming to submit tonight, tomorrow at the latest.

[2018-04-30 13:48] FilipeamTeixeira opened #214 "Submission: skynet"
### Summary

-   What does this package do? (explain in 50 words or less):
This package allows the generation and analysis of air transport networks using the freely available data (DB1B and T100 databases) from the Bureau of Transport Statistics. I'm currently updating the package to accept other sources as well.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for

[2018-04-30 14:45] karthik commented on #213
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-04-30 15:30] noamross commented on #214
Thank you for your submission, @FilipeamTeixeira!  A couple of quick questions before we proceed:

1) You say you are currently updating the package to incorporate other sources.  We need a relatively stable version so that reviewers don't have to work with a moving target.  Can you let us know the status of this and when you will complete this update?

2) Just checking, do you know if these data

[2018-04-30 16:49] FilipeamTeixeira commented on #214
Dear @noamross, thank you for your remarks.

1. Skynet was built to use exclusively data from the Bureau of Transport Statistics, more specifically the DB1B and T100 dataset. Meaning that the final and stable version uses those datasets. However, as some researchers asked to include the possibility of importing data from other sources, I've been building gradually new import functions to allow inc

[2018-04-30 17:54] annakrystalli commented on #207
👋 @tdjames1 & @resamp. Just checking in to  make sure you're review is going ok? Feel free to reach out if have any questions 😊

[2018-04-30 20:06] karthik commented on #213
🙏@carlganz for agreeing to review. Note tentative due date above.

[2018-04-30 20:35] sarahsupp commented on #195
Sure, I would be OK with being acknowledged as a rev-type contributor.
Thanks! I look forward to seeing how the package grows, and hopefully
getting a chance to play with it!

On Mon, Apr 30, 2018 at 4:21 PM, Will Pearse <notifications@github.com>
wrote:

--
Sarah R. Supp <http://www.sarahsupp.org>
Assistant Professor
Data Analytics
Denison University
my impactstory <https://impactstory.org/u/0000

[2018-05-01 01:28] karthik commented on #213
Thanks @nealrichardson for agreeing to review. I've also tagged you in the issue above. Note review date and let me know if you need more time.

[2018-05-01 09:14] rossmounce commented on #195
Yes I'm OK with being acknowledged as a rev-type contributor. Thanks for asking.

[2018-05-01 11:47] noamross commented on #214
Thanks for your responses, @FilipeamTeixeira, that's helpful.

### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link res

[2018-05-01 14:40] sckott commented on #212
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-05-01 15:32] FilipeamTeixeira commented on #214
Thank you @noamross. Your comments have been quite helpful.
I've listed all the remarks fixed with [x] and the ones partially fixed or with comments with [ ].

[x]  _write unit tests for all functions, and all package code in
general. (...)_ - 74% covered now.
[x] _add a "BugReports" field to DESCRIPTION (...)_
[x]  _use '<-' for assignment instead of '=' (...)_
[ ]  _avoid long code lines, it is

[2018-05-01 18:32] willpearse commented on #195
Great, thank you both very much! I'll go ahead and make all those changes now

[2018-05-01 18:53] willpearse commented on #195
Submitted! Thanks very much for your help!

[2018-05-02 00:49] raymondben commented on #198
Hi @johnbaums - sorry about that, AAD had a complete IT outage last night and looks like our geoserver is a lingering casualty. Have asked for it to be checked, will let you know when it's back on its feet.

[2018-05-02 00:54] raymondben commented on #198
@johnbaums - IT'S ALIIIIIVE!

[2018-05-02 02:15] johnbaums commented on #198
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-05-02 02:41] noamross commented on #214
Thanks for the (fast!) update.  Things look good and I'll proceed to find reviewers.

Also, NBD, but it looks like on of your tests trips your own deprecation warning:

[code]

[2018-05-02 07:26] FilipeamTeixeira commented on #214
Bug fixed.

[2018-05-02 16:57] sckott commented on #198
thanks for your review @johnbaums !

----

@raymondben   continue discussion here ...

[2018-05-02 19:57] noamross commented on #214
Reviewers assigned!

Reviewers: @toph @berdaniera
Due date: 2018-05-23

Aaron and Toph may be interested in the (alpha) **pkgreviewer** package recently developed by one of our community members to help structure the process: https://github.com/ropenscilabs/pkgreviewr

[2018-05-02 20:35] noamross commented on #195
@stefaniebutland Will has expressed interest in writing a blog post for **suppdata**.  I've pointed him to the guidance in the **roweb2** repo.  Let him know what the schedule is!

[2018-05-02 20:35] #195 closed

[2018-05-02 23:38] raymondben commented on #198
Thanks @johnbaums, thanks again @lbusett. Will get on to revisions in due course.

[2018-05-03 08:10] richelbilderbeek commented on #209
There are some requests by reviewers of the manuscript of `babette` [1] for renaming the function `babette::run` to `babette::bbt_run`, as the latter name is less likely to conflict with other packages. I agree, but would like permission to do so while under code review. As the deadline for the manuscript resubmission is already **next Monday**, I cannot wait until the end of the code review.

@no

[2018-05-03 10:30] noamross commented on #209
@richelbilderbeek That's fine, and is in line with our own guidelines.

[2018-05-03 13:26] tdjames1 commented on #207
@annakrystalli I'm just getting onto the review now, apologies for the delay. I'm aiming to get it done over this weekend.

[2018-05-03 19:40] karthik commented on #213
@rtaph You can add a badge to your readme right away.  Badge location is:

[code]
It will update as your review progresses and change to green once accepted.

🙏

[2018-05-03 22:46] karthik commented on #189
@elinw Gentle ping checking in on your review.
🙏

[2018-05-04 07:56] shaunpwilkinson commented on #212
Thanks very much @sckott I will get onto those good-practice edits asap! S

[2018-05-04 08:15] annakrystalli commented on #207
No problem @tdjames1, thanks for letting me know.  I'll push back due date to the 7th then.

***

Updated due date: 2018-05-07

[2018-05-04 16:53] elinw commented on #189
@karthik  On it, should finish it up this weekend.

[2018-05-07 13:07] elinw commented on #189
**This is still a draft**
## Package Review

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly stating problems the soft

[2018-05-07 14:46] kaneplusplus commented on #172
Sorry, that wasn't so clear. In the documentation, can you make an itemized list describing each column of the data frame?

I have sympathy for bad API documentation but at the same time I think we should be able to provide _some_ description of the things our functions return.

[2018-05-07 15:49] remsamp commented on #207
Hi @annakrystalli  and @jdeck88, here's my review (apologies for the slight delay).

## Package Review

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work.

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly stating problems the software is designed to solve and its target audienc

[2018-05-07 22:18] tdjames1 commented on #207
Likewise, here's mine!

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your revie

[2018-05-08 02:49] elinw commented on #189
Oh I meant to mention that the vignette might want to mention that installing igraph can be more complex than installing a normal package.

[2018-05-08 04:36] annakrystalli commented on #207
Thanks @remsamp & @tdjames1! 🙌

@jdeck88 both reviews are now in for your consideration. 👍

[2018-05-08 04:39] annakrystalli commented on #207
@jdeck88 I had also forgotten to ask you to add the rOpenSci review badge to the README! 😬
Could I ask to do this now, please? markdown snippet attached below.

[![](https://badges.ropensci.org/175_status.svg)](https://github.com/ropensci/onboarding/issues/207)

[2018-05-08 13:42] jdeck88 commented on #207
Thank you for the reviews!  I will go through these in the next week.

[2018-05-08 23:11] elinw commented on #189
Okay one more thing about jstor idiosyncrasies.   This is something I realized today (and relates to our prior discussion about end notes turning up in references).
 Reference lists/bibliographies have each source once, while endnotes may repeat the same source many times.  Therefore simply running a frequency on the sources will give you distorted results (I had a surprising article turn up as mo

[2018-05-10 16:28] sckott commented on #212
sorry for delay, still trying to find 2 reviewers 🕐

[2018-05-11 03:46] sckott commented on #212
Reviewers assigned:

Reviewers: @BenJWard @wcornwell
Due date: 2018-05-31

[2018-05-13 08:47] maelle commented on #210
@azizka I hope your defence went well! I'm taking the risk to say congrats! 🎊

Did you have time to work on the package a bit?

[2018-05-13 08:48] maelle commented on #175
@elinw Any update? 😺

[2018-05-14 06:02] wcornwell commented on #212
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your review is not limited to these topics, as described in the reviewer guide*

-   \[x\] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor *before* starting your review).

#### Documentati

[2018-05-14 06:03] wcornwell commented on #212
#### figures from above

![unnamed-chunk-19-1](https://user-images.githubusercontent.com/5534161/39980639-e7349666-5787-11e8-8ee9-bc62255cdec1.png)

![unnamed-chunk-20-1](https://user-images.githubusercontent.com/5534161/39980645-ee0356ee-5787-11e8-8ebc-1e15a2715e57.png)

![unnamed-chunk-20-2](https://user-images.githubusercontent.com/5534161/39980652-f109825a-5787-11e8-9329-cd8a89f92ea4.png)

[2018-05-14 08:31] azizka commented on #210
@maelle yes, it worked out fine, thanks for congratulations and your patience! I am back to work this week, working on the package now.

[2018-05-14 08:33] maelle commented on #210
🎊 Grattis! 🎊

and cool!

[2018-05-14 16:45] pachamaltese opened #217 "oec package"
### Summary

-   What does this package do? (explain in 50 words or less):

oec provides an easy way to obtain data from the Observatory of Economic Complexity by accessing its API.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):

https://github.com/pachamaltese/oec-r-package

- Please indicate

[2018-05-14 20:31] stefaniebutland commented on #136
@mstrimas I apologize for my long delay in responding. I am temporarily putting most blog post reviews and scheduling on hold until after our unconference. Rest assured your post will get a proper review and be published on our blog. I anticipate getting to this in early June.

Leave topicid blank. I add that immediately before publication and that links comments to our [discussion forum](https://

[2018-05-14 20:38] stefaniebutland commented on #195
@willpearse I apologize for my delay in responding. I am temporarily putting most blog post reviews and scheduling on hold until after our late-May unconference. In the meantime, if it's helpful to you, you could proceed with a draft while it's relatively fresh in your mind. There is so much value to readers in these posts by package authors!

I anticipate resuming non-unconference blog post revie

[2018-05-15 10:44] maelle commented on #217
@pachamaltese Thanks for your submission! From a quick look you checked "contains a vignette with examples of its essential functions and uses." and "has a test suite." but I do not see neither a vignette nor a test suite in the GitHub repo? We can put this submission on hold while you add them, and we can provide links about e.g. unit testing if necessary.

[2018-05-15 10:45] maelle commented on #217
Also, could you please expand here on the added value of the data processing offered by your package as opposed to using the original data sources?

[2018-05-15 13:18] pachamaltese commented on #217
@maelle thanks, no worries, let me check my laptop hdd vs my external drive, I probably forgot to move something

About the added value if I run this command `getdata_batch("chl", "chn", 2010, 2015)` I will obtain a tibble with 5 years of data for chilean exports to china but with these additions:

* country codes corrected and written as ISO-3
* full product names
* full country names
* trade bal

[2018-05-15 14:41] tklebel commented on #189
# Response to reviews
Thank you @jsonbecker and @elinw for your review and the helpful feedback! Although both of you mention, that your reviews are not finished, I will start working on your comments, so we can finish the onboarding hopefully until useR! (where I'll give a presentation about the package).

There are a couple requests for changes, and many thoughts for further consideration from y

[2018-05-16 11:09] azizka commented on #210
Hi @maelle,

Please find below replies to your comments. I hope you find everything covered, please let me know what else I can do. Thanks again for the patience :-).

*Note: the most recent version is working, I’ll updated the badges as soon as the problems with travis are solved (https://github.com/travis-ci/travis-build/pull/1382)*

Replies:

Done - Migrated documentation and namespace generati

[2018-05-16 16:03] willpearse commented on #195
Thanks for this. I'm happy to leave this for a while; please do get back in touch with me closer to this being published. I am still adding things to the package, so I don't really want to spend time writing a blog asking for help developing features when it's reasonably likely I'll have implemented a lot of them by then. I'm still very happy to write the blog post, but I want to make sure it's op

[2018-05-16 16:13] stefaniebutland commented on #195
Thank you @willpearse. Your strategy makes perfect sense. I'll get back in touch in June

[2018-05-16 16:18] willpearse commented on #195
Great, thanks very much!

On Wed, 16 May 2018 at 10:13 Stefanie Butland <notifications@github.com>
wrote:

[2018-05-17 09:57] bjoelle commented on #209
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-05-17 14:06] maelle commented on #210
:wave: @isteves @Pakillo! Thanks for accepting to review this package! Your reviews are due 2018-06-07 but @pakillo I've already noted that yours might be late (@azizka the reviewers of your package were lined up a while ago :wink:)

Here is our [reviewer template](https://github.com/ropensci/onboarding/blob/master/reviewer_template.md) and our [reviewer guide](https://github.com/ropensci/onboardi

[2018-05-17 15:50] noamross commented on #209
Thank you for the thorough review, @bjoelle!  FYI @richelbilderbeek, the second reviewer requested an additional week to finish, so expect the next review next week.

[2018-05-17 19:45] sckott commented on #212
thanks for your review @wcornwell !

[2018-05-18 13:53] nbenn opened #218 "Submission: infx"
### Summary

-   What does this package do? (explain in 50 words or less):

    Data from large-scale biological experiments, managed by the [openBIS](https://sis.id.ethz.ch/software/openbis.html) framework, is made accessible directly from R. The main focus is on data from [InfectX](http://www.systemsx.ch/projects/research-technology-and-development-projects/completed-rtd-projects/infectx-2010-20

[2018-05-18 14:48] noamross commented on #214
👋 Hello @toph and @berdaniera, just a friendly reminder that your reviews are due next Wednesday, May 23.

[2018-05-18 19:19] jsonbecker commented on #189
I would be happy with the renaming to `jst_*`, but I might still prefer "verbing" to suggest the functionality, e.g. `jst_get_article`. I wouldn't hold up a 👍 for that. I am satisfied given more context with the move toward `file_name` and using that as an identifier. I guess I can't wish JSTOR toward having a better data model ;).

I'm also good with database being out of scope.

[2018-05-18 20:37] shaunpwilkinson commented on #212
Thank you very much for your review @wcornwell I'll make it a priority to optimize the parser to better handle those bigger trees and add more informative error messages for when the tree parse fails. Will aim to get these and your other suggestions seen to in the next week or two. Thanks again for the feedback!

[2018-05-19 18:04] richelbilderbeek commented on #209
I am impressed by @bjoelle's review, thanks so much! I will happily implement that feedback. Sure, I will wait after the other reviewer is finished, to do so in one go.

[2018-05-19 20:37] pachamaltese commented on #217
Hi @maelle.
I did put all the pieces together: external disks, google drive, etc. I have pushed a new version with lots of changes as well as a testing unit.
Have a good weekend!

[2018-05-20 03:04] adamhsparks commented on #155
Hi @sckott, I'm still working on this. I had some time this weekend to devote to it and have been writing tests. I'm nearly 1/2 done with the tests and then need to rewrite the vignettes.

Sorry for the delays. "Real" work keeps getting in the way. I've also had to make some decisions about how/what data to access. I can't find a good way to reliably access the ESRI REST API for raster data throug

[2018-05-22 20:32] maelle commented on #175
@elinw @michaelquinn32 any update? ☺

[2018-05-22 20:35] elinw commented on #175
Hi,

Yes I think the development branch pretty much has addressed all, I just wanted to put in Jenny’s suggestion to make the display a bit nicer.  I’ll do that once I recover from the unconfirmed! And then I think we could call it ready and everything else in terms of possibly changing the API etc will be for 2.0.

[2018-05-22 20:40] maelle commented on #175
Ok thanks. Don't hesitate to notify the reviewers in person 😉

[2018-05-23 18:14] FilipeamTeixeira commented on #214
Hi @noamross. Any further news on this? I'm not sure if the reviewers noticed that they were supposed to review the code until today.
Thanks

[2018-05-23 18:32] sckott commented on #155
sounds good, thanks @adamhsparks

[2018-05-23 22:42] tdjames1 commented on #207
Hi @jdeck88, thanks for the thorough response. The documentation is much improved and the vignette is more helpful now, I think. You could include a full reference to your paper in the vignette rather than just a link (see https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html).

Running `goodpractice::gp()` threw up a couple of further points that have popped up in things that

[2018-05-23 23:27] shaunpwilkinson commented on #212
Hi @sckott, I have now made the changes suggested by @wcornwell, including a major overhaul of the read.dendrogram and as.dendrogram.phylo functions which are now much more efficient. Just wondering am I okay to push the changes to GitHub or would you prefer I leave the repo alone until the other review comes in?

[2018-05-24 01:02] sckott commented on #212
@shaunpwilkinson great, thanks. Can you please include a response here to @wcornwell suggestions, it doesn't have to be exactly point by point, but a summary at least.

We don't really have rules about how changes are made with respect to the two different reviewers, but I think it's a good idea to wait for the 2nd review to come in.

[2018-05-24 02:07] shaunpwilkinson commented on #212
Thanks @sckott, will do, and no problem to hold off pushing the changes until the second review is finished.

[2018-05-24 03:57] nealrichardson commented on #213
## Package Review

- [ ] As the reviewer I confirm that there are no conflicts of interest for me to review this work

#### Documentation

The package includes all the following forms of documentation:

- [ ] **A statement of need** clearly stating problems the software is designed to solve and its target audience in README
- [ ] **Installation instructions:** for the development version of packag

[2018-05-24 16:39] maelle commented on #217
Hi @pachamaltese! Thanks.

I've been traveling so my initial checks will take a bit longer than expected.

I am not sure I understood how your package got scattered over hard drives &co but please ask us any git/GitHub question you might have. See also http://happygitwithr.com ☺

[2018-05-24 17:00] pachamaltese commented on #217
thanks a lot @maelle

happy travelling!!

I have +5 external hdd since my macbook fried itself and I lost tons of tidy useful data :(
I'm still recovering from that accident ;)

[2018-05-24 19:10] rtaph commented on #213
Thank you @karthik, @nealrichardson, and @carlganz for your support. I will review these comments over the weekend and get back to you shortly.

[2018-05-24 19:31] carlganz commented on #213
Sorry that I have not written the review yet. I will get done by tomorrow I promise.

[2018-05-24 21:20] maelle commented on #217
### Editor checks:

- [ x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [ x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [ x] **License:** The package has a CRAN or OSI accepted license
- [ x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-r

[2018-05-25 11:15] lbusett commented on #184
@karthik

I finally managed to put out a new version (1.3.4), including changes required to address changes in NASA policies. The new version is available on github, and I plan to upload it to CRAN soon.

I'd like therefore to ask:

1) What are the next steps for approval?
2) Can I proceed with CRAN release or do you prefer I wait for the end of the review/approval process?

Lorenzo

[2018-05-25 12:27] robwschlegel opened #219 "heatwaveR"
### Summary

-   What does this package do? (explain in 50 words or less):
This package serves as an updated R version for code that was initially written in Python and then ported to R. The function of this package is to ensure reproducibility and comparability of research outputs for anyone studying (marine) heatwaves by ensuring comparability between languages and providing a speed boost.

-

[2018-05-25 17:50] carlganz commented on #213
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-05-25 20:19] sckott commented on #218
thanks for your submission @nbenn

doing editor checks now, and haven't seen any documentation in your package on how to create an account? It seems one can create an API token with `login_openbis`, but how do you get a username and password?  Would be good to add this info to the package as well.

[2018-05-26 20:52] noamross commented on #219
Thanks for your submission, @robwschlegel et al!  This looks like a very useful package and an improvement over existing options. However, I'm afraid it falls out of scope for us, because it is primarily a statistical method implementation and visualization tool,  neither of which fall under our [reproducibility or other categories](https://github.com/ropensci/onboarding/blob/master/policies.md#pa

[2018-05-28 05:57] robwschlegel commented on #219
Hello Noam,
Thank you for the rapid response. I understand that our package is not
quite the right fit but thought I would submit it anyway.
I'll definitely still be putting it on CRAN and submitting to JOSS.
All the best,
-Robert

On Sat, 26 May 2018, 22:52 Noam Ross <notifications@github.com> wrote:

[2018-05-28 16:57] #219 closed

[2018-05-28 17:26] berdaniera commented on #214
## Package Review

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [ ] **A statement of need** clearly stating problems the software is designed to solve

[2018-05-28 17:42] noamross commented on #214
Thank you for your review, @berdaniera!  A quick note on your comments about importing data.  Site-scraping functions like this are useful, but they can be unreliable as data providers may change their back-end processing.  I leave it up to you whether to implement this @FilipeamTeixeira, but should you choose to you should make sure that the function documentation and maybe a message indicate tha

[2018-05-28 18:03] FilipeamTeixeira commented on #214
Thank you for your thorough review @berdaniera. I'll go through the comments as soon as possible, but I just wanted to first reply to the comment about importing data. Initially I had such feature, but they changed something on their website and suddenly it stopped working.
There are a couple of packages (R and Python) online which have the same aim, and they all stopped working after a while. A r

[2018-05-28 19:35] FilipeamTeixeira commented on #214
The rationale behind it was: **dot naming** for main functions (e.g. make.netDir) with the case at the end to indicate type of network being created, **camel case** for all secondary functions (e.g. createNodes), **snake case** for import functions (e.g. import_db1b). If you believe that it doesn't make sense please let me know. When I started writing this package, I never thought it would grow th

[2018-05-29 03:40] isteves commented on #210
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-05-29 05:02] maelle commented on #210
Many thanks for your review @isteves, great points! 😸

It is ok because it's generated automatically from Authors@R when building the package, it's actually better _not_ having it.

@azizka You can wait for @Pakillo's review before responding, or respond before that, since @Pakillo's review was going to be a bit late, so as you prefer.

Thanks again @isteves!

[2018-05-29 11:03] maelle commented on #210
@isteves I forgot to ask you to fill the "Estimated hours spent reviewing:" field in the review template, thanks in advance 🙏

[2018-05-29 14:05] BenJWard commented on #212
## Package Review

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly stating problems the software is designed to solve

[2018-05-30 00:32] shaunpwilkinson commented on #212
Thanks so much for your review @BenJWard . @sckott I'm in the process of incorporating the edits and updating the vignette now - and should have the response done either today or tomorrow. Thanks again all!

[2018-05-30 10:34] richelbilderbeek commented on #209
@noamross how is the state of the second review (as it is overdue)? I don't want to rush our beloved volunteers; I just want to know for sure nothing ended up in a state of limbo.

[2018-05-30 11:28] dwinter commented on #209
Hi all, the outstanding review is mine and it is definitely on it's way.  Apologies for the delay, I will try to get something by the end of the week.

[2018-05-30 16:02] sckott commented on #212
thanks!

[2018-05-30 19:48] remsamp commented on #207
Hi @jdeck88, apologies for the long time in getting back to you. I am happy with your responses to my initial comments, thank you! I can also confirm that the points raised by @tdjames1 have been addressed by your most recent commits.

 To note: browseVignettes("rppo") now works after installing the package from github with `devtools::install_github("biocodellc/rppo")`.

@annakrystalli: I am happy

[2018-05-30 20:43] cboettig opened #220 "submission: piggyback"
### Summary

-   Allow large and binary data files to "piggyback" on top of your existing repositories. `push` and  `pull` large-ish (< 2GB) data files to & from GitHub repositories as attachments to a GitHub release;

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):

https://github.com/cboettig/

[2018-05-31 07:14] shaunpwilkinson commented on #212
Hi @sckott, I have now pushed the changes to GitHub and will release a new version of the package on CRAN shortly. We are pleased that the reviewers found the package useful, and are very happy with the improvements made to the package and vignette. Our responses to the reviewer comments/suggestions are listed below.

---

@wcornwell and @BenJWard thank you both so much for the extremely helpful r

[2018-05-31 15:33] annakrystalli commented on #207
Right, so that's a wrap! Thanks for all your work and input @tdjames1 & @remsamp!

@jdeck88, there's just a few last housekeeping steps to finalise the review process:

- [ ] Transfer the package to the **ropensci organisation**. Here's the relevant [gh help page](https://help.github.com/articles/transferring-a-repository-owned-by-your-personal-account/). However, this might not work because of re

[2018-05-31 15:36] maelle commented on #207
👋 @jdeck88 I promise I'd transfer the repo and not keep it to myself! Sorry about the awkward worfklow.

[2018-05-31 19:34] jdeck88 commented on #207
OK...
1. i tried transferring to ropensci and that, as i was warned may not work,
didn't work.
2. tried transferring to @maelle <https://github.com/maelle> but that
didn't work becasue the repo was under an organization
3. Then transferred to my personal github repo @jdeck88 and transferred to @
maelle <https://github.com/maelle> and that worked!!

I haven't updated the travis CI links as i'll wai

[2018-05-31 19:38] maelle commented on #207
@jdeck88 your repo is now in ropensci and I made you admin again 🎊 thanks for your trust :wink:

[2018-06-01 00:50] toph-allen commented on #214
Geez, sorry I'm so tardy with my review! I'll have it finished by the end Saturday.

I'm really looking forward to taking a look at this package! I have a more-than-passing familiarity with the underlying DB1B and T100 datasets, and am interested to see how they're surfaced here.

[2018-06-01 01:30] karthik commented on #213
👋 @rtaph both reviews are now in. Please let us know when you're had a chance to read and respond to these comments. 🙏

[2018-06-01 02:32] noamross commented on #214
My apologies to @toph-allen for mis-tagging him and to @toph for bothering him unnecessarily!

[2018-06-01 10:52] annakrystalli commented on #207
Great @jdeck88! Thanks again for submitting. I hope you found the process constructive and congratulations on your newly minted rOpenSci package! 🙌

[2018-06-01 10:54] #207 closed

[2018-06-01 12:42] tklebel commented on #189
It took some time, but I think I am finished with the requested changes. Due to the long duration of the review process, there are many changes altogether, and only some are responses to the reviewers comments.

In my post above I outlined five areas where I would make changes:

- [x] Improve formatting of vignette by using knitr::kable() and formatting headings in normal font.
- [x]  Make error a

[2018-06-01 14:19] jdeck88 commented on #207
Thanks Anna...
i found the process constructive!

one last thing... is there something i need to change the badge from "in review" to "peer reviewed"?

[2018-06-02 17:05] bjoelle commented on #209
@richelbilderbeek By the way, I just realised I made a mistake in my review - if the seed is NA the BEAST seed will be random, not fixed. (I had modified my version of BEAST to fix the seed and then forgot about it when testing the package). I've updated the review to reflect that. Sorry !

[2018-06-02 17:21] richelbilderbeek commented on #209
@bjoelle: when adding your suggestion to the documentation, I checked and concluded the same. Thanks!

[2018-06-02 20:55] annakrystalli commented on #207
Good catch @jdeck88. My understanding was that this should update automatically when the issue is closed. @karthik and advice?

[2018-06-03 13:00] ottlngr opened #221 "Submission: openbahn"
### Summary

-   The package provides an easy way to query the open timetable API of the German railway company Deutsche Bahn (DB). Basically the package (or the API) supply 3 core functions, which build upon each other:
    - find a train station with its coordinates
    - retrieve arrival and departure boards
    - retrieve additional information to certain routes

-   Paste the full DESCRIPTION

[2018-06-03 20:48] rtaph commented on #213
Gentlemen-- thank you all for the feedback and sorry it has taken a while to respond. I am integrating your points and hope to be able to share a revised version soon. Aiming for end of week.

Here are my replies to each point:

Yes, I see where you are coming from and I agree in the case of the default where `rate = NULL`. I would like to further address this with an eligibility_rate() function t

[2018-06-04 02:47] nealrichardson commented on #213
As far as I know, this method definition doesn't coerce anything--it just says "use this function". A table behaves like a numeric vector with names, so the code in `outcomerate.numeric` just worked when given a `table`.

When I tried it, all of your tests passed, so if there's some behavior that this changes or alters, it's not anything you're asserting in tests. If it's important, I suggest writ

[2018-06-04 04:40] noamross commented on #221
Thank you for your submission, @ottlngr . Unfortunately, this package is not of sufficient scientific application to fit in our scope.  (We made a similar decision recently with an [airline data package submission](https://github.com/ropensci/onboarding/issues/211), deciding that a single company transit API doesn't quite reach our target of scientific applications.)

I note from twitter that you

[2018-06-04 06:55] ottlngr commented on #221
Indeed.

That is totally clear!

I can't remember where I picked that up but I can remember that I looked for a suitable field for such a purpose. I liked the idea of linking to the API specification in the DESCRIPTION because the package is some kind of a "replica" of the API and its functionally derives straight from the API.

[2018-06-04 12:04] #221 closed

[2018-06-04 21:21] jdeck88 commented on #207
Figured this out... turns out i had the wrong issue # in the badge status img link (but the correct one for the hyperlink!)

[2018-06-05 15:51] nbenn commented on #218
@sckott, sorry for the delayed response on my side.

There is currently no way for a user to create an account him/herself. Accounts can only be created by the service admins. All publicly available data can be accessed using publicly released login credentials. To make this more straightforward, I added these public login credentials as default arguments to `login_openbis()` such that

[code]

no

[2018-06-05 22:27] leonawicz opened #222 "Submission: epubr"
### Summary

-   What does this package do? (explain in 50 words or less):

Extract, read and parse EPUB format e-book file archive metadata and book text into tidy data frames to prepare for subsequent text analysis.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):

https://github.com/leonawicz

[2018-06-05 23:50] elinw commented on #189
I'm sorry I'm slow on replying but this seems good. I love the import from zip.  I have some things to focus on right now but by the end of the week I'm planning to have updated to the current development branch and try things out.   I will also get you an example article.

[2018-06-05 23:58] elinw commented on #175
Okay here's an update @jimhester @jenniferthompson @michaelquinn32
As of now all changes have been merged into the master branch, and I'm planning to do a release of 1.0.3 because I got a message from Brian Ripley about a typo in a test (I can't believe that all the eyes that looked at this before missed it).
I think we have responded to all of the issues except the possibility of changing the API

[2018-06-06 00:20] jsonbecker commented on #189
I am very happy with these changes. I especially like the set and structure of the vignettes and the separation of the "case study". This now serves not only as a well documented package but as solid documentation of the data it works with. This has my full 👍

[2018-06-06 16:30] michaelquinn32 commented on #175
Changes for 2.0 are in this doc.
https://docs.google.com/document/d/18lBStDZzd1rJq08O-4Sw2qHhuHEZ79QX4sBkeyzWNFY/edit?usp=sharing

I'm writing tests for the next version right now.

[2018-06-06 17:15] elinw commented on #189
25074331
 basename_id journal_doi journal_jcode journal_pub_id article_doi article_pub_id article_jcode     article_type
1    25074331          NA     jbusiethi                                                25074331 research-article
                                                                  article_title volume issue language pub_day
1 Ethics Education in the Workplace: An Effective Tool t

[2018-06-07 04:17] toph-allen commented on #214
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-06-07 05:58] bnasr opened #223 "xROI"
### Summary

-   What does this package do? (explain in 50 words or less):
Delineate Region of Interests (ROI's) and Extract Time-Series Data from Digital Repeat

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):
https://github.com/bnasr/xROI

- Please indicate which category or categories from ou

[2018-06-07 09:11] tklebel commented on #189
Thanks @elinw for the example. I added a few sentences about issues with references [in the vignette](https://tklebel.github.io/jstor/articles/known-quirks.html#incorrectodd-references) and linked the article as an example.

[2018-06-07 09:46] FilipeamTeixeira commented on #214
@toph-allen Thank you for your comments and thorough review.

As I've mentioned before the BTS changes their website structure often which I assume that it is related to the fact that they don't allow scraping. It might be counterproductive to create a function that will be unusable after a couple of weeks.

Thank you for your feedback on this. However, the variables to be used are well described

[2018-06-07 14:12] elinw commented on #189
I actually don't think that the article is "wrong" it's just following the citation style of the journal it is published in.  Other journals probably would have used Ibid and op. cit. or similar.

[2018-06-07 15:55] maelle commented on #175
Thanks for the updates @elinw and @michaelquinn32, very cool to see such active development?

@jimhester and @jenniferthompson , are you happy with the current version of `skimr`?

[2018-06-07 16:03] maelle commented on #210
@Pakillo :wave: will you soon have time to review the package? 😺

[2018-06-07 16:04] maelle commented on #217
@pachamaltese :wave: any question or update? 😺

[2018-06-07 16:17] pachamaltese commented on #217
@maelle not yet, I've been moving a lot. Can I send it tomorrow at night?

[2018-06-07 16:19] maelle commented on #217
If you think you won't have enough time to work on the package in the next weeks, we can set this submission on hold until you have more time.

[2018-06-07 16:20] pachamaltese commented on #217
tomorrow's night is ok, I have to complete the vignettes and that takes 1-2 hours :)

[2018-06-07 17:19] jimhester commented on #175
LGTM

[2018-06-07 19:48] rtaph commented on #213
Dear @nealrichardson, @carlganz, and @karthik,

I have implemented all recommendations to the package (rtaph/outcomerate@2a178bad3f8592f763f1b83075d13dd80ac5d642), save for writing another vignette to explain the use of `return_nd = TRUE` which I hope to do soon. In the mean time, please feel free to review the changes and let me know if you are happy with the current state of the package.

Thanks

[2018-06-08 00:00] jenniferthompson commented on #175
Very likely! I'm traveling and won't have time to look at the latest version till next week, but will do asap.

[2018-06-08 04:38] maelle commented on #175
Thanks @jimhester!

@jenniferthompson, thank you, we'll wait for your input next week, happy travels!

[2018-06-08 10:46] hrbrmstr commented on #222
Greetings, Matt!

I am technically not a "reviewer" but one of the best "connectors" in the R univeRse connected your pkg with a quick hack of mine from earlier this year (`pubcrawl`).

First, congrad on the CRAN acceptance! You had to do the "roll up the sleeves" work to deal with file extraction to do that and I lazily relied on the `archive` package (which is not on CRAN) for that and managing

[2018-06-08 10:56] maelle commented on #222
Thanks a lot @hrbrmstr!

Thanks for your submission @leonawicz, I'll proceed with other checks now that overlap with `pubcrawl` is clarified.

[2018-06-08 13:34] leonawicz commented on #222
Thank you both! Much appreciated.

@hrbrmstr I overlooked `pubcrawl` somehow but I had initially began by looking at your `hgr` package, specifically the cleaner template here (looks the same as direct from xslt) https://github.com/hrbrmstr/hgr/blob/master/inst/xslt/justthetext.xslt

#### About the justthetext.xslt

I sent you a couple emails about it on May 27/28 that might have fallen through th

[2018-06-08 15:00] hrbrmstr commented on #222
Email & I have been bitter, bitter enemies of late. So it's more of a "wall" between me & it vs bits slipping through cracks :-)

I had an inkling that the style sheet transformer might be super aggressive for an epub (and epubs have, er, "diverse" XML formats, too) that your straightforward approach is likely much, much safer.

I was going to suggest using `https://github.com/hrbrmstr/freebase` (

[2018-06-08 15:20] leonawicz commented on #222
Thanks! :) I'll have to go back and look at the details when I have a chance, but I can probably remove `purrr` in a later package version by replacing with some uglier code, but I think `dplyr` is the heavier dependency, and unfortunately I the one I particularly want to retain.

The diversity of formats is also why I could not be as aggressive as I would have liked with things like the optional

[2018-06-08 15:47] maelle commented on #222
Nice to see such a constructive discussion even before the actual review process starts 😀 Thanks again for chiming in @hrbrmstr

Btw my checks are still pending but I'll probably recommend to add a link to https://github.com/ropenscilabs/gutenbergr in the README @leonawicz 😉

[2018-06-08 16:19] leonawicz commented on #222
@maelle Done, via latest commit. Thank you for the suggestion. It's under the Reference heading. Let me know if I should format it differently.

[2018-06-08 16:57] sckott commented on #218
thanks @nbenn - will have a look with the open login

[2018-06-08 20:34] BenJWard commented on #212
@sckott Absolutely :+1:

[2018-06-08 20:54] sckott commented on #212
thx @BenJWard

[2018-06-08 20:54] sckott commented on #212
@wcornwell are you happy with the changes made?

[2018-06-08 22:14] cboettig opened #224 "submission: arkdb"
### Summary

-   What does this package do? (explain in 50 words or less):

Read in large, compressed text files into a databases in chunks.  Write all tables in a database out into compressed tsv files.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):

https://github.com/cboettig/arkdb

- Pleas

[2018-06-08 23:51] noamross commented on #214
Thank you @toph-allen for your review and @FilipeamTeixeira for your response.  Let me comment on a few things here now that both reviews are in:

-  Function naming:  this was commented on by both reviewers, and I agree that the mix of approaches is unusual and somewhat unintuitive.  We recommend snake case but pretty much require consistency.  We find a bit of rationalization, like a pattern of

[2018-06-09 06:59] maelle commented on #222
Thanks again for your submission @leonawicz!

### Editor checks:

- [ ] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [ ] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [ ] **License:** The package has a CRAN or OSI accepted license
- [ ] **Repository:** The repository link resolves correctly
-

[2018-06-09 16:13] leonawicz commented on #222
@maelle Thanks so much!

I have removed that line from the readme. I do not have a clear concept at this time of specific enhancements I plan to include. I had tentatively thought about including a demo Shiny app that acts as a browser-based epub reader, but it may be quite a bit more complicated than I thought. It is not something I have considered in much detail yet.

I do not plan to add any sp

[2018-06-09 16:17] maelle commented on #222
Thanks for your answer @leonawicz! I'll now look for reviewers!

[2018-06-09 17:11] pachamaltese commented on #217
@maelle it's ok now, I did all the steps from your feedback and just a few are explained why yes/no to it is better for this particular API.

[2018-06-09 17:19] maelle commented on #217
Thanks, can you please answer with the explanations in this thread? 🙂

[2018-06-09 18:39] pachamaltese commented on #217
## Maelle' s initial feedback

### Code

- [x] You use assign in functions instead of returning output. Please return output, you don't need to use assign here.
- [x] Why do you use rm inside a function? *fixed, it was a bad try to make lighter function calls*
- [x] There is a separate file containing imports (confusingly called exports wink). It'd be easier to see where functions are imported fro

[2018-06-10 06:31] maelle commented on #217
Thanks a lot @pachamaltese! 😺  I started looking and two small comments already:

* The URL to the `pkgdown` site should be updated now that the repo has a new name.

* You don't export the batch function any more but it's still present in the website docs at least cf http://pacha.hk/oec/reference/index.html

[2018-06-10 06:36] maelle commented on #217
The link to the logo is also broken at the moment.

[2018-06-10 14:21] pachamaltese commented on #217
Great, thanks ! I'll do that before 14.00
And sorry I didn't notice I broke links when renaming

On Sun, Jun 10, 2018, 8:26 AM Maëlle Salmon <notifications@github.com>
wrote:

[2018-06-10 14:27] maelle commented on #217
You're welcome, no hurry and no problem!

[2018-06-10 14:28] maelle commented on #217
Note that only one vignette appeared on the pkgdown website last time I looked

[2018-06-10 17:39] noamross commented on #214
Hello, @FilipeamTeixeira, regarding (4), a specific example I'm referring to is @toph-allen's suggestion

Yes, this information is in the README, but the concept of "multiple points of entry" is that the user may be looking for information in the function file and should find via repeating information or linking to another source.

Regarding 1,2,3, and other issues brought up by reviewers: Having

[2018-06-10 20:40] pachamaltese commented on #217
@maelle ready, I used Jim Hester's `lintr` package for this 2nd round of feedback. Thanks a lot for the useful comments !!

[2018-06-10 21:01] tklebel commented on #189
@elinw I changed my language a bit to remove the certainty of the judgement, though I would still consider it to be an artifact since they use Ibid too, but only for some references. However there might be another reason for this which I am not aware of. I therefore rephrased like this: "[the article cites ...] which is **possibly** an artifact."

[2018-06-11 00:50] wcornwell commented on #212
sounds good!  @sckott

[2018-06-11 04:27] maelle commented on #217
Many thanks, I'll now start looking for reviewers!

[2018-06-11 06:48] lbusett commented on #184
@khartik, @jeffreyhanson, @lwasser

Hi all, please note that MODIStsp v 1.3.4 is now on cran. Please let me know what would be the next steps to be done for final approval on ropensci.

Thanks in advance!

Lorenzo

[2018-06-11 07:13] FilipeamTeixeira commented on #214
Dear @noamross. Thank you for your comments and for clarifying my questions.
For (4) I've fixed this issue. I wasn't fully understanding what was exactly the remark but I've managed to understand what was the goal now.
Regarding (1), I'm afraid that it won't happen anytime soon. The main reason here is that this package's paper has been submitted and to change every function in the paper now would

[2018-06-11 09:59] maelle commented on #222
@hrbrmstr thanks a lot for volunteering! You've however reviewed another package recently so I asked other reviewers before seeing your message, sorry about that and thanks again for offering your expertise!

@leonawicz you can now add a peer-review badge to the README of your package

[code]

@calebasaraba @suzanbaert thanks a lot for accepting to review this package! Your reviews are due on 2018

[2018-06-11 15:23] FilipeamTeixeira commented on #214
@noamross I do understand and I also don't want to start a discussion here about this as it would be counterproductive. However, I have the feeling that I'm probably not properly conveying my message and the users' needs.

The need of having correctly named objects is to avoid having to create lists. surely that with `lapply()` or with `purrr::map()` it is possible to run a function based on the S

[2018-06-11 15:56] lmullen commented on #224
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly

---

#### Editor comments

Hi @cboettig. Thank

[2018-06-11 16:58] leonawicz commented on #222
Badge added. Thank you.

[2018-06-11 17:19] cboettig commented on #224
@lmullen I continue to learn tricks from you!  should remember to run the `donttest`s and spell checks.  I think all these issues should be fixed in the current `master`, https://github.com/cboettig/arkdb/commit/1a33432c71befda38364be05163e7ad275d11d94

[2018-06-11 20:02] sckott commented on #212
@shaunpwilkinson both reviewers are on board with changes. I'll do a quick peek ...

[2018-06-11 20:38] annakrystalli commented on #220
### Editor checks:

- [X] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [X] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [X] **License:** The package has a CRAN or OSI accepted license
- [X] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-06-11 20:48] annakrystalli commented on #220
Also, could you also add the review badge to the README? 👍

[code]

[2018-06-11 21:56] cboettig commented on #220
@annakrystalli Thanks!

- [x] I just learned about `devtools::spell_check()`, very cool.  spelling errors fixed .
- [x] review badge added
- [x] I added a mention of `usethis::edit_r_environ()` to README
- [ ] That test should be getting skipped if you're running locally, because you don't have my GitHub token...  I'm guessing you have your own `GITHUB_TOKEN` or `GITHUB_PAT` already set?  Can you

[2018-06-11 21:59] dirmeier opened #225 "Pre-submission inquiry: datastructures"
Hello,

I would like to submit the _datastructures_ package, if it fits your policy and would be usefull. The package implements some data structures that are currently missing on R but sometimes needed for some algorithms. Some of the datastructures are:

- Fibonacci and binomial heaps,
- queues and stacks,
- bimaps and multimaps.

datastructures is already on [CRAN](https://cran.r-project.org/we

[2018-06-11 22:18] noamross commented on #225
Thanks for your submission, @dirmeier!  This is a neat package, and I may use it for some things myself.  However, I'm afraid it's out of scope for our review, as we limit ourselves to [packages supporting the research data lifecycle](https://github.com/ropensci/onboarding/blob/master/policies.md#aims-and-scope).  This would be a good submission for [The Journal of Open Source Software](http://jos

[2018-06-11 22:18] #225 closed

[2018-06-11 22:20] sckott commented on #212
@shaunpwilkinson  one question:

- looks like your `NAMESPACE` file is created by hand. is that correct?  any reason not to create it using `devtools::document()` or similar? Seems less error prone that way, but maybe you have a good reason?

[2018-06-11 22:31] dirmeier commented on #225
Wow, thanks for the quick feedback and thanks for the JOSS hint :). I think that's a great idea.
Regards,
Simon

[2018-06-11 22:41] lmullen commented on #224
@cboettig Thanks for fixing those. Everything looks good to start the review, and I've solicited reviewers.

[2018-06-11 22:43] sckott commented on #198
any progress on changes @raymondben ?

[2018-06-11 23:12] sckott commented on #218
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-06-11 23:14] sckott commented on #223
thanks for your submission @bnasr !

## programmatic work

A high level issue is the interactive Shiny interface. We don't have a policy in our documents yet as we haven't had a submission before that's purely a Shiny app, but we are in the process of adding it now. Basically, Shiny interfaces are great, but we'd like there to be a way for users to do the same thing in whole or at least in part, p

[2018-06-11 23:27] shaunpwilkinson commented on #212
Hi @sckott I spent ages trying to get the NAMESPACE right using roxygen tags and `devtools::document` but gave up in the end, since I couldn't figure out how to get it to export methods for the `as.dendrogram` and `as.phylo` generics correctly. Also I remember seeing a comment from Dirk Eddelbuettel a while back recommending against automatic generation of the NAMESPACE, so I figured I'd just writ

[2018-06-12 07:43] annakrystalli commented on #220
Aha 🤔, not sure how feasible it seeks but it feels like the only people that test should work for are the repo owner and any collaborators. So perhaps the test condition check could include a check for the gh user to match one of `owner` or `collaborator`?

Also, all tests passing after disabling `GITHUB_PAT` 👌

[2018-06-12 07:47] annakrystalli commented on #220
Also, current coverage,
[code]
As you mentioned, some tests didn't run. What sort of coverage are you getting?

[2018-06-12 07:51] annakrystalli commented on #220
Sorry just found link to codecov. Ignore comment above.

[2018-06-12 07:58] richfitz commented on #220
@cboettig - I use "opt in" environment variables for tests like this, something like `<PACKAGENAME>_USE_<FEATURE>` and set that in my .Renviron and .travis.yml, then in the helper functions in test that have an equivalent `skip_if_not_<feature>` function that skips the test if the variable is not set to true

[2018-06-12 08:49] mpadge commented on #220
Or universal local ones: I just set `MPADGE_LOCAL=true`. If I've got that, then `GITHUB_PAT` must be mine.

[2018-06-12 11:08] azizka commented on #210
Hej @maelle and @isteves,

thanks for the comprehensive, helpful and very constructive review. I managed to address most of your issues, and argued back/put questions @maelle for help on some of them. Please find a point-by-point reply below,  replies in italics. Please let me know if you have any comments/suggestions.

Thanks again!

## Vignettes

*Done, moved tutorials to vignettes*

## Examples

[2018-06-12 11:20] azizka commented on #210
An additional question:

The altest build passes without problems, but fails on travis (see below). I assume the vignettes are to RAM havy. I tried to solve this, but couldn't. Do you have any experience with this problem? Thanks!

Warning in system(command) : error in running command
Error: processing vignette 'Cleaning_PBDB_fossils_with_CoordinateCleaner.Rmd' failed with diagnostics:
pandoc docu

[2018-06-12 14:44] leonawicz opened #226 "Submission: tiler"
### Summary

-   What does this package do? (explain in 50 words or less):

Purpose: Create geographic and no-geographic map tile sets from R.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):
https://github.com/leonawicz/tiler

- Please indicate which category or categories from our [package fit

[2018-06-12 16:47] cboettig commented on #220
Thanks all, that's brilliant.  An after a few boneheaded attempts I managed to pass the secure+public env vars to travis correctly this time.

[2018-06-12 16:56] toph-allen commented on #214
@FilipeamTeixeira Thanks for your responses to my review. I'll attempt to respond concisely to them, and to clarify and contextualize some of my original comments.

For context, I have some familiarity with the DB1B and T100 datasets — I'm part of a team at work which is creating models using these datasets. This is our first time working with these datasets, and we wound up creating some internal

[2018-06-12 22:15] sckott commented on #212
Nah, seems good as is.

----

Approved!  Thanks again for your submission @shaunpwilkinson

* Please transfer the package  to `ropensci`- I've invited you to a team within our ropensci organization. After you accept you should be able to move it. You'll be made admin once you do.* Make sure to
* Make sure to
    * add rOpenSci footer to README
`[![ropensci_footer](https://ropensci.org/public_image

[2018-06-12 23:58] shaunpwilkinson commented on #212
That's great news - thanks so much @sckott !

I'll get to those tasks today.

Quick question - I'm planning to submit the paper to JOSS and wondering if it will be a problem if the `paper.md` file and package vignette are the same? I figured it didn't make much sense to write a whole separate vignette, since the paper includes all of the background and examples necessary to get started with the pa

[2018-06-13 01:49] noamross commented on #214
Many of our packages have a specific audience, but as I hope the case of @toph-allen above shows, there are many potential users out there who may use your package for reasons you have not anticipated.  Our purpose in standardizing is to make sure this larger audience is served and that your package can be useful to a broader audience, and that your work gets exposure to them.  We do not want stan

[2018-06-13 02:14] sckott commented on #212
@shaunpwilkinson good question about JOSS, i don't know. @noamross do you know answer to the above? whether JOSS cares if the paper is also somewhere else in another form?

[2018-06-13 06:37] maelle commented on #217
Thanks @aedobbyn and @cimentadaj for accepting to review this package! 😸

Your reviews are due on 2018-07-04. As a reminder here are links to our [bookdown](https://ropenscilabs.github.io/dev_guide/) in particular the [packaging guidelines](https://ropenscilabs.github.io/dev_guide/building.html) and [reviewer's guide](https://ropenscilabs.github.io/dev_guide/onboarding-guide-for-reviewers.html) an

[2018-06-13 06:59] FilipeamTeixeira commented on #214
@noamross Thank you for your comments. I'll try to add some aliases as soon as possible. As for @toph-allen 's comments, I believe that there might be some confusion here. He actually supported assigning names to the objects for the sake of temporal analysis.

[2018-06-13 08:28] azizka commented on #210
* Alright, I added the following text to the Readme.md (including links): *CoordinateCleaner can be particularly useful to ensure geographic data quality when using data from GBIF (e.g. obtained with rgbif) for historical biogeography (e.g. with BioGeoBEARS or phytools), automated conservation assessment (e.g. withspeciesgeocodeR or conR) or species distribution modelling (e.g. with dismo or sdm.

[2018-06-13 14:28] lwasser commented on #184
woo hoo! great work @lbusett ... seems like it's ready for final acceptance into ropensci by @karthik  ?

[2018-06-13 23:05] raymondben commented on #198
Ah, sorry, this had slipped off our attention radar. Will get back to it soon.

[2018-06-13 23:32] coatless commented on #220
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-06-14 10:58] annakrystalli commented on #220
Wow! I'm sure this might be some sort of record @coatless! 👏 Thanks so much for such a super speedy response!

@cboettig  I'm still looking for the second reviewer. Feel to wait and respond to both reviews together or respond to @coatless anytime before.

[2018-06-14 18:16] FilipeamTeixeira commented on #214
@noamross function naming was corrected according to your specifications. Except for one minor internal function which I will patch for the next version. I kept all the older functions but with a message stating that they are deprecated.
As for the object created by assignment I hope that @toph-allen's comment made it clearer on the reason behind such approach.

I believe that all the requirements

[2018-06-14 20:03] annakrystalli commented on #220
No worries at all @coatless! I'm not going to complain about having your review in! In fact, having a relevant use case handy often makes for a really useful review.

[2018-06-15 12:45] maelle commented on #8
Just seeing this from the packaging_guide repo that I'm going to archive.

For the record I actually added some lines about this to dev_guide https://ropensci.github.io/dev_guide/grooming.html#make-your-repository-more-discoverable

[2018-06-15 14:46] FilipeamTeixeira commented on #214
@toph-allen So what was your point with the temporal data and the naming? Because there's no other way of running temporal data (in this case), except for asking the users to name every single object. Which I find counterproductive. As we can't "scan" the entire environment for classes or even arguments I'm not sure what's the alternative.

[2018-06-15 19:21] lmullen commented on #224
Reviewers: @richfitz and @expectopatronum.
Due date: 2018-07-06

Thanks to Verena and Rich for being willing to do this review. I've set a due date 3 weeks from now. Here are the [reviewer's guide](https://ropensci.github.io/dev_guide/onboarding-guide-for-reviewers.html) and the [reviewer's template](https://ropensci.github.io/dev_guide/reviewtemplate.html).

@cboettig Could you please add the rOp

[2018-06-15 20:37] cboettig commented on #220
@coatless thanks, this is great!  How'd your use case go?

I've fixed the missing and outdated examples.  I've made most of the examples into `donttest` and made sure they run successfully with `devtools::check(cran = FALSE, run_dont_test = TRUE)`, though that requires my PAT since the tests upload data to `cboettig/piggyback`.  Not sure if there's a better strategy for documentation than that --

[2018-06-15 21:06] jennybc commented on #220
Re: GitHub PAT

FWIW in usethis I have basically inlined `gh::gh_token()` (which is now exported by dev gh):

https://github.com/r-lib/usethis/blob/3cc50ae7c4877d5f10747d0e8f25469897206cfe/R/github.R#L261-L266

It's not great but I don't know what else to do.

Re: `guess_repo()`

FWIW the tidyverse/r-lib team has Git remote URL parsing all over the place, which we would dearly love to centralize.

[2018-06-15 21:17] cboettig commented on #220
Thanks @jennybc, this is great. Yeah, I have almost the same inline call in

https://github.com/cboettig/piggyback/blob/ac5acf06f85e768347407c46b505792621fdb591/R/gh.R#L304-L306

I wonder if it would be worth including a default "public" token, the way `devtools::github_pat()` does, so that tasks not requiring auth don't run afoul of rate limiting on tokenless calls, or if that would create more c

[2018-06-16 13:42] FilipeamTeixeira commented on #214
@noamross @berdaniera @toph-allen
To reach a middle term, I've added the option to not have the import functions automatically assigning objects. This way the user can choose. I assume that this satisfies then both parties.

R CMD check results
0 errors | 0 warnings | 0 notes

[2018-06-16 17:18] DomBennett commented on #187
Hi @sckott, @arendsee and @naupaka,

I’ve made the following major changes as per your comments and reviews:

- **Restyled**:  All functions and variables are snake case with the exception of the S4 classes that remain camelcase. I’ve also updated the names to make things a little more explicit (e.g. ClstrRec rather than ClRec).
- **Tested**: I now have [89% coverage](https://coveralls.io/github/A

[2018-06-16 17:22] DomBennett commented on #187
Oh also... I should add that I cannot rename the first stage 'taxise' as it is already published (I interpret taxise to just mean grab taxonomic information or place in a taxonomic context.). To compromise I have updated the stage diagram in the README to be a more explicit.

[2018-06-16 19:05] toph-allen commented on #214
@FilipeamTeixeira Taking a look at the code, I see that a user can now provide the argument `auto = FALSE` to automatically return the created object. That assignment behavior is the one I'd expect, coming to the package with no prior knowledge, and it's good that it's available. 👍

To respond to your point about temporal data:

If I'm understanding it right, the motivation for having the assignme

[2018-06-16 21:44] naupaka commented on #187
Sounds great @DomBennett!

@sckott shall we have another go through of it with the new version? What's the ROpenSci SOP on review after revisions?

[2018-06-17 20:38] noamross commented on #214
Thanks, all.  @berdaniera and @toph-allen, could you at this point look over the full changes and let us know if they cover all of your original concerns?

[2018-06-18 02:14] shaunpwilkinson commented on #212
Hi @sckott I can't see an invite to join a team within the ropensci organization - any chance you could point me in the direction of where I should be looking? Perhaps I'm just being blind.

[2018-06-18 15:07] zkamvar opened #229 "Pre-submission inquiry: repvar"
### Summary

-   What does this package do? (explain in 50 words or less):

The *repvar* package finds the minimum set of samples that **rep**resents all **var**iables in a sparse matrix. This is useful for determining a subset of samples needed for positive controls in population genetic studies using microsatellite markers.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

[2018-06-18 17:31] aedobbyn commented on #217
Thanks @maelle and good to meet you @pachamaltese! This package looks very useful (and I love the hex sticker!)

I want to make sure I've got the right version of the package. I installed the development version but running any of the `getdata` examples produces the same error in what looks to be `jsonlite:::parse_con`.

Let me know if this is fixed in another branch and I'll re-install from there

[2018-06-18 17:43] pachamaltese commented on #217
@aedobbyn Hi. Nice to meet u too! Thanks for letting me know. I installed R on another machine to try to reproduce this and ... it looks as the OEC has a problem

I should explore this, the problem can me an MIT server problem at the moment, but this is problem as the package just verifies internet connection before trying to get data and does not inspect additional things

[2018-06-18 17:52] pachamaltese commented on #217
@aedobbyn *update*: somebody within the OEC team screwed something and not all origins/destinations are available at the moment... the US data is working ok but no cigar trying to compute RCAs that need world flows :(

I shall update when this is fixed

![screenshot from 2018-06-18 13-50-42](https://user-images.githubusercontent.com/10091065/41553077-b5d1e078-72fe-11e8-94c1-d50415011032.png)

[2018-06-18 17:55] aedobbyn commented on #217
Great, thanks for the quick update! Good opportunity to provide informative error messages to the user when the server is down or, in the case of the URL above, nothing is returned at all (I don't even get a 500 in the Chrome console). I'll look out for another update from you!

[2018-06-18 18:28] maelle commented on #217
To test (in unit tests) how the package react to http errors you can use @sckott's `webmockr` package https://github.com/ropensci/webmockr

[2018-06-18 19:44] gfinak opened #230 "DataPackageR submission"
### Summary

-   What does this package do? (explain in 50 words or less):

A package to reproducibly process raw data into packaged, analysis-ready data sets.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):

https://github.com/RGLab/DataPackageR

- Please indicate which category or categories

[2018-06-18 21:05] sckott commented on #223
any thoughts @bnasr ?

[2018-06-18 21:33] bnasr commented on #223
Thanks @sckott for your review and comments and sorry for the delay. I've been working on this.
The package actually does have some low-level programmatic work options in addition to the high-level shiny interface. Part of this has been documented in the package, however not in the vignette page. I will try to add this to the vignette and prepare a test case. Thanks.

[2018-06-18 22:15] sckott commented on #212
sorry about that, you should have gotten it now

[2018-06-19 11:32] shaunpwilkinson commented on #212
No worries, almost there, I've managed to join the organization but when I go to transfer the repo I get the error message `You don’t have the permission to create repositories on ropensci`

[2018-06-19 13:10] pachamaltese commented on #217
@maelle: Thanks a again !! at this point you have contributed more to this package than the actual listed ctbs
@aedobbyn: Thanks, now it's fixed. This was a server side problem that I should include as an error message. I tested both R and browser access to the API and it's working again :)
![screenshot from 2018-06-19 09-08-05](https://user-images.githubusercontent.com/10091065/41599252-a26c37e8-

[2018-06-19 13:38] tklebel commented on #189
@karthik just pinging if you could take a quick look at this issue. The current status seems to be:

- We are in phase `5/awaiting-reviewer(s)-response`.
- @jsonbecker has approved the package.
- It seems like @elinw wanted to take another look at the current dev branch, but I am not entirely sure.

How will this onboarding proceed?

[2018-06-19 23:30] aedobbyn commented on #217
Hmm I still get the same `parse error: premature EOF` even though that endpoint in the browser now displays data. @cimentadaj are you able to receive data?

[2018-06-20 00:01] sckott commented on #212
woops, sorry. Github recently changed how permissions work for transferring repos to organizations.

can you add me as admin to your repo - then i'll transfer to ropensci - then you can take it from there?

[2018-06-20 00:03] sckott commented on #187
thanks @DomBennett !

@naupaka @arendsee

If you're completely happy with changes to the package and responses from the maintainer then just say so. If not, please do comment here with any additional comments/suggestions/etc.

[2018-06-20 00:04] shaunpwilkinson commented on #212
No prob, I've just added you as a collaborator - I'm assuming that's the same thing..

[2018-06-20 00:05] sckott commented on #198
@lbusett @johnbaums are you happy with revisions/comments from the maintainer?  feel free to make any suggestions/comments here if you have anything further. if nothing, that's okay too, either way let me know

[2018-06-20 00:06] sckott commented on #212
thanks! not quite.

<img width="681" alt="screen shot 2018-06-19 at 5 06 22 pm" src="https://user-images.githubusercontent.com/577668/41630303-230caefe-73e3-11e8-9f5e-ec5674051117.png">

i need to be able to get to Settings tab, so i need admin access

[2018-06-20 00:07] sckott commented on #223
Sounds good. Thanks very much @bnasr

[2018-06-20 00:16] shaunpwilkinson commented on #212
Hmm, I don't seem to have that option, I just had a look at the GitHub help pages  (https://help.github.com/articles/permission-levels-for-a-user-account-repository/#collaborator-access-on-a-repository-owned-by-a-user-account) and it looks like there are only two permission levels, owner and collaborator, so I have just transferred the ownership to you

[2018-06-20 00:52] raymondben commented on #198
(Comments particularly welcome on the revised `an_filter(query=...)` behaviour - is it more intuitive now?)

[2018-06-20 08:56] lbusett commented on #198
Hi all,

      I am a bit busy at the moment,  but should be able to have a look at the implemented changes by the beginning of next week.

[2018-06-20 12:18] cimentadaj commented on #217
Hi @maelle, @aedobbyn and @pachamaltese ! Glad to review this package. I'll submit my review this weekend, but in the mean time, the development version of the package (`devtools::install_github("pachamaltese/oec-r-package")`) seems to work for me:

[code]

[2018-06-20 13:52] arendsee commented on #187
@DomBennett @sckott Looks good to me.

I would recommend *eventually* refactoring with `taxize` et al, but I wouldn't consider it a necessity.

Good job!

[2018-06-20 15:43] sckott commented on #187
@naupaka do you want to make further comments, or are you happy?

[2018-06-20 16:16] naupaka commented on #187
I'd like to put the new version through its paces and haven't had the time to sit down and do it. Will get back to you in the next couple days if that's ok?

[2018-06-20 16:19] sckott commented on #187
@naupaka  sounds good

[2018-06-20 16:36] pachamaltese commented on #217
Hi @maelle, @aedobbyn and @cimentadaj
I added some error messages to inform the user when the wifi drops or MIT server is down/with problems. Last night I had the same problem (server side) and the browser returned an empty json, then 30 mins later I could obtain the data.
I'll tell Media Lab people about this, but in the meanwhile an error message "patches" server side issues :)

[2018-06-20 18:39] aedobbyn commented on #217
Great, working for me too now!

Just so I know the intent @pachamaltese, you quote variables from the OEC and use `sym` and `!!` to unquote them to avoid the NOTE `no visible binding for global variable {variable}` correct?

A [version](https://github.com/aedobbyn/oec/blob/amanda/R/get_data.R) with the tidyeval stripped out   passes all [tests](https://github.com/aedobbyn/oec/blob/amanda/tests/tes

[2018-06-20 18:44] pachamaltese commented on #217
@aedobbyn exactly!! nobody ever has discovered the main reason why I do that :D

[2018-06-20 18:57] aedobbyn commented on #217
Totally understand, those NOTEs are annoying :relaxed:

As you probably know, those NOTEs shouldn't stop you from passing a CRAN check, especially if you document them in an . Rbuildignored [`cran-comments.md`](http://r-pkgs.had.co.nz/release.html). Might be cleaner to do that and avoid tidyeval altogether, but I would understand if you want to leave the tidyeval in.

[2018-06-20 21:40] aedobbyn commented on #217
@maelle makes the excellent point that you can let document these global variables in a [`globalVariables.R`](https://github.com/aedobbyn/oec/blob/amanda/R/globalVariables.R) file like this to avoid the `no visible binding for global variable` NOTEs. (Also see, e.g., an example of it in use in her [`opencage`](https://github.com/ropensci/opencage/blob/master/R/globalVariables.R) package.)

 If you

[2018-06-20 21:42] pachamaltese commented on #217
@aedobbyn thanks! I accept that if and only if you agree to be added as `ctb` because that is a contribution, a good contribution to be precise :)

[2018-06-20 21:56] aedobbyn commented on #217
Haha that's very generous! Its' @maelle who deserves the credit, as usual 😆

[2018-06-20 22:05] mbjoseph opened #231 "Submission: smapr"
### Summary

-   What does this package do? (explain in 50 words or less):

The smapr package discovers, downloads, and extracts global soil moisture data from the NASA SMAP mission, producing `raster` objects from HDF5 files.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page): https://github.com/e

[2018-06-20 22:51] jenniferthompson commented on #175
Sorry for the delay, y'all (jet lag is very real) - just looked at the updated version and it looks super! :tada: Awesome work, @elinw @michaelquinn32.

Going to check out the version 2.0 roadmap now :running_woman:

[2018-06-20 23:54] karthik commented on #226
👋 @leonawicz I'm just returning from vacation (and email/work deluge). I will follow up with next steps shortly and also begin looking for reviewers. Stay tuned.

[2018-06-21 00:32] noamross commented on #229
Thank you for your submission, @zkamvar!  Can you comment on how your package fits into our Aims and Scope? (https://ropensci.github.io/dev_guide/policies.html#aims-and-scope).  This is an edge case that might go either way - on one hand, I think this falls under a statistical method, which is outside our scope.  However, it's possible it might make sense under the reproducibility category.

[2018-06-21 01:07] noamross commented on #231
Thanks for you submission, @mbjoseph!  This fits well within our scope.

`goodpractice::gp()` checks are pretty clean!  Please add relevant links to your description and check that long code lines are neccessary:

[code]

One real spelling error from `spelling::spell_check_package()`

[code]

A note: There's a poorly documented CRAN feature for including bioconductor packages using a `biocViews:`

[2018-06-21 01:11] leonawicz commented on #226
@karthik Thank you and no rush :)

Also, please feel free to ignore the unpublished (to CRAN) `projections` branch of the repo. Unless you think that is something assistance could be provided for. If you do consider the `projections` branch, it has unresolved issues, but its documentation is kept up to date with its code development. Otherwise, the master branch is what has actually been published

[2018-06-21 08:11] annakrystalli commented on #220
@cboettig also, I can't see the **Under Review** badge in the README anymore?

[2018-06-21 15:21] zkamvar commented on #229
Hi @noamross,

Yes, the question of Aims and Scope is a bit tricky for this one.

I believe this fits under reproducibility because the goal of this package is to provide researchers with a tool that aids in selecting positive controls for reproducibility in population genetic studies. Otherwise, this process of selecting representative samples for re-genotyping is normally performed by hand. Thus

[2018-06-21 17:35] cboettig commented on #220
@annakrystalli Karthik says badge server got restarted for upgrades, looks like it is back now.

[2018-06-22 03:33] michaelquinn32 commented on #175
I really appreciate all of the hard work everyone has put in. `skimr` has improved in so many ways thanks to this process. Thanks!

[2018-06-22 12:05] adamhsparks commented on #155
OK! After several months hiatus, I think we're back in business.

I've **completely** rewritten the `nasapower` package to utilise the new NASA-POWER API that was recently released and use the new POWER data. In essence, this is a new R package. If there is any code carryover it's extremely minimal due to the new processes and interfaces. I did manage to keep one vignette, the use-case, the same t

[2018-06-22 12:17] UniversalTourist commented on #155
Hello All,

I think I'll have time to review again after next week (I'll be away from home for holiday). I'll let you know if I encounter any problems!

Cheers,
Hazel

[2018-06-22 12:28] FilipeamTeixeira commented on #214
@noamross Sorry to bother but any news on this?
Thank you.

[2018-06-22 12:36] berdaniera commented on #214
@FilipeamTeixeira @noamross I still need to look over all of the changes. I've set aside time this afternoon for it. Look for a reply from me by the end of the day.

[2018-06-22 21:36] berdaniera commented on #214
Thank you for replying to my review comments @FilipeamTeixeira. I am happy with the changes that you have made. My primary concerns in the original review were around the function naming, basic examples, and documentation for new users. I understand the desire to wait on further overview documentation until some text is published. The changes in the functions address my original concerns and the e

[2018-06-23 20:59] cimentadaj commented on #217
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-06-23 21:16] pachamaltese commented on #217
Whoa. Thanks a lot. This helps to improve the package. "Get_data" was
provided by the other reviewers as an alternative without tidy evaluation.
I'm from cellphone now so I'm eager to implement changes later!

El sáb., jun. 23, 2018 5:59 PM, Jorge Cimentada <notifications@github.com>
escribió:

[2018-06-24 16:44] pachamaltese commented on #217
@cimentadaj thanks a lot!! I have limited laptop access at the moment but I saw this and there are really good suggestions. Can I add you as a contributor? I never thought about matching arguments.

[2018-06-25 00:33] aedobbyn commented on #217
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-06-25 00:38] pachamaltese commented on #217
Whoa! Many thanks. I'm still from cellphone but THIS "it may even be worth
setting "all" as the default value for origin and destination" is where I'm
starting. Thanks a lot!

On Sun, Jun 24, 2018, 8:33 PM Amanda Dobbyn <notifications@github.com>
wrote:

[2018-06-25 00:51] aedobbyn commented on #217
Awesome, looking forward to seeing the v2!

[2018-06-25 05:51] maelle commented on #217
Many thanks for your reviews @aedobbyn and @cimentadaj, they seem very thorough and useful! 😺

I learnt about the global variables "trick" myself [here](https://github.com/ropensci/onboarding/issues/36#issuecomment-215123733) 😉

[2018-06-25 07:55] cimentadaj commented on #217
+1 for @aedobbyn and @maelle comments! Good job @pachamaltese, looking forward to the next version! Yes, of course, feel free to include me as `ctb`.

[2018-06-25 08:09] maelle commented on #217
By the way you can add reviewers as `ctb` but also as `rev`  cf https://ropensci.github.io/dev_guide/building.html#authorship

[2018-06-25 08:34] dwinter commented on #209
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-06-25 12:37] noamross commented on #209
Thank you for your review, @dwinter!  @richelbilderbeek, sorry this process has taken longer than we aim for.  Let us know when you have addressed the reviews and we'll endeavor to look at your changes as fast as we can.

[2018-06-25 13:46] pachamaltese commented on #217
thanks a lot @maelle, may I submit a new version next week?

[2018-06-25 13:51] maelle commented on #217
Of course! As per [our guide for authors](https://ropensci.github.io/dev_guide/onboarding-guide-for-authors.html) "we ask that you respond to reviewers’ comments within 2 weeks of the last-submitted review, but you may make updates to your package or respond at any time.". 😺

[2018-06-25 13:53] pachamaltese commented on #217
thanks!!! this week I'm useless, just reproducible reports at work, but next sat I'll retake this :)
have a great week

[2018-06-25 18:57] sckott commented on #212
@shaunpwilkinson

Are you interested in doing a blog post for our blog https://ropensci.org/blog/ ? either a short-form intro to it (https://ropensci.org/technotes/) or long-form post with more narrative about its development (https://ropensci.org/blog/). If so, we'll have our community manager @stefaniebutland get in touch with you on that

[2018-06-25 19:42] maelle commented on #175
Approved! 🎊 Thanks a ton @jimhester and @jenniferthompson for your reviews and @elinw and @michaelquinn32 for your development work!

Now here is the list of things you have to do before I close this issue 😉

- [ ] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  I'll make you both admins once you do.
- [ ]

[2018-06-25 20:31] maelle commented on #230
Thanks for your submission @gfinak! 😺 Below are the results of my editorial checks and comments. Please tackle the changes, I'll then look for and assign reviewers. 🙏

### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x]

[2018-06-25 21:07] sckott commented on #155
Thanks @adamhsparks for the update.

I dropped the status back to 3, reviewers assigned, I think we should get new reviews. Looks like @UniversalTourist already said she can review again. @alisonboyer could you review this new version of the package?  If not just let me know

[2018-06-25 21:31] adamhsparks commented on #155
Very good, I agree, it needs new reviews since it's basically a new package.

Thanks for your patience, @sckott.

[2018-06-25 23:43] shaunpwilkinson commented on #212
Hi @sckott and @stefaniebutland, yes I'd be more than happy to, I'll write up a technote asap.

Also just FYI the latest version of the package is on CRAN now, and JOSS paper is online too (http://joss.theoj.org/papers/10.21105/joss.00790)

[2018-06-26 09:53] mpadge commented on #220
## Package Review

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly stating problems the software is designed to solve

[2018-06-26 16:01] stefaniebutland commented on #212
Glad to hear you'll contribute a technote @shaunpwilkinson. Will tweet it from @rOpenSci to get more eyes on your work.

Here's info on how to submit via pull request https://github.com/ropensci/roweb2#contributing-a-blog-post. Difference in YAML:

Since Tech Notes can be published any time, you can choose the date, but please submit about a week in advance so we can review. Happy to answer any qu

[2018-06-26 16:13] #212 closed

[2018-06-26 16:22] stefaniebutland commented on #212
Forgot to mention, please add these tags to YAML (among others)
- onboarding
- review
- r

And be sure that the tech note gives an example of a cool thing you can do with the package, rather than reiterating the README for example.

Thank you!

[2018-06-26 17:19] karthik commented on #226
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-06-26 17:54] leonawicz commented on #226
@karthik Thanks! Badge added.

I can shorten the longer lines (I think my default lintr check allows 120 instead of 80). Thanks.

Yeah, please ignore the `projections` branch then. It is worth taking a peak at to get a sense of future scope, but I have no date set for when I would have the issues resolved and a new version out.

[2018-06-26 21:07] gfinak commented on #230
@maelle , thanks for the package review. I believe I've addressed all the issues with the latest commits.
Best,

Greg

[2018-06-26 22:20] stefaniebutland commented on #136
Hi @mstrimas. I hope you're still up for a post about `auk`. Right now I have a spot open for publication on 2018-07-24 so you could use that in your draft and if an earlier spot opens we can publish sooner and change the date.

Scott says good to leave them in your GitHub repo.

Happy to answer any questions

[2018-06-27 00:11] karthik commented on #226
Thank you @jasdumas for agreeing to review! Please note due date above and reach out if you need more time.  🙏

[2018-06-27 08:47] maelle commented on #230
Thanks @gfinak! I see much progress indeed! Here are a few more points from `goodpractice` and me

* Please replace the use of `devtools` unexported functions by the use of [`desc`](https://github.com/r-lib/desc). In general, there's a `devtools` diaspora going on, so check the different small packages of the [r-lib organization](https://github.com/r-lib/) to see if some of the ones that are on CR

[2018-06-27 15:14] DomBennett opened #232 "restez -- submission"
### Summary

-   What does this package do? (explain in 50 words or less):

_The restez package downloads all or sections of GenBank and creates a local SQLite copy of the database for querying. The package comes with a series of useful functions for querying the database and is designed to work with [rentrez](https://github.com/ropensci/rentrez)._

-   Paste the full DESCRIPTION file inside a cod

[2018-06-27 16:21] toph-allen commented on #214
I concur. I think that the changes @FilipeamTeixeira has made have address my concerns and improve the package overall, making it easier to begin using. Exposing the package to more people and workflows will help it to continue moving in a direction where it can be broadly useful.

[2018-06-27 17:28] karthik commented on #189
Hi @tklebel Apologies for the delay. I'm just waiting on @elinw to sign off and with that we can finish up.
Elin: Do you have any further unresolved issue with the master release of this effort? If not could you indicate sign off so we can proceed with acceptance? 🙏

[2018-06-27 17:42] elinw commented on #189
Yes, I am good with these changes, the last of which are mainly just polishing documentation etc.  This is going to be really useful and encourage the use of JfR.   I noticed the change from stop() to abort() and read about the differences, my suggestion is that you make that rlang::abort() explicitly, which you'll need to do for CRAN anyway.

Great job!

[2018-06-27 19:10] noamross commented on #214
Approved! Thanks @FilipeamTeixeira  for submitting and @toph-allen and @berdaniera for your reviews!

To-dos:

- [ ] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer to the bottom of your README
"```
[![ropensci_footer](https://ropensci.org/pub

[2018-06-27 19:13] tklebel commented on #189
@elinw I'm actually not sure if I really prefer `abort` over `stop` in general. I used it to remove the calls to `.call = FALSE`. But since I import it via `importFrom(rlang,abort)` in NAMESPACE, this should be fine for CRAN, right? If not, I will of course change it before submitting.

Apart from that, I am very happy for the thumbs up! This comes just in time before useR! :sei

[2018-06-27 19:34] karthik commented on #189
Congrats @tklebel , your submission has been approved! 🎉 Thank you for submitting and @elinw  and @jsonbecker  for thorough and timely reviews. To-dos:

- [ ] Transfer the repo to the rOpenSci organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.

- [ ] Complete final suggestions from elin, especially to get rea

[2018-06-27 20:08] tklebel commented on #189
Great! Thank you @karthik for managing the application, and @jsonbecker and @elinw for your helpful comments!

I transferred the repo, added the rOpenSci footer and changed all relevant links in the README.

I'll see to make the package ready for CRAN and I will complete the suggestion by @elinw while doing so.

I'd very much like to write a blog post with some narrative about the development of t

[2018-06-27 21:33] noamross commented on #229
Sorry for the delay on this.  The editorial board discussed this and decided that, while this is an edge case, if submitted we'd consider it in scope.  We would likely aim to have at least one reviewer from a non-genetic field to consider other applications and associated documentation - you may want to consider if there are other relevant examples to include.

[2018-06-27 21:34] noamross commented on #229
I'll go ahead and close this issue. To submit, please open another one with the full template.  Thanks!

[2018-06-27 21:34] #229 closed

[2018-06-28 03:11] adamhsparks commented on #155
I've updated the initial on-boarding to reflect the newest version of the package now.

[2018-06-28 08:41] FilipeamTeixeira commented on #214
@noamross Thank you for your help and for accepting the package.

I just have a practical and what might be a dumb question, but is it possible to keep the package both on my repo and on the ropensci repo? Even if mirrored or so?
Just asking because some people are used to check my GitHub for the package and I'm not sure how to re-point them to the new link.

Thank you

[2018-06-28 09:48] noamross commented on #214
@FilipeamTeixeira GitHub automatically sets up redirects when packages are transferred, so users visiting the original link to your repo will find it.

[2018-06-28 12:12] noamross commented on #231
@mbjoseph You can now add a review badge to your package README:

[code]

[2018-06-28 13:58] alisonboyer commented on #155
Yes, I can review the new version.
--Alison
_________________________________
Alison Boyer
Research Staff, ORNL DAAC
Environmental Sciences Division
Oak Ridge National Laboratory

and

Joint Faculty Assistant Professor
Dept. of Ecology & Evolutionary Biology
University of Tennessee
Knoxville, Tennessee 37996

http://www.bio.utk.edu/boyer/index.html

On Mon, Jun 25, 2018 at 5:07 PM Scott Chamberlai

[2018-06-28 14:08] #80 closed

[2018-06-28 14:49] mbjoseph commented on #231
Great - thanks Noam!

[2018-06-28 14:55] zkamvar commented on #229
Huzzah! Thank you! I'll talk with my collaborator and submit something soon :)

[2018-06-28 21:57] kamapu opened #233 "taxlist, a package for structuring taxonomic lists and related information"
### Summary

-   What does this package do? (explain in 50 words or less):

The `taxlist` package structures taxonomic information into **S4** objects and implements methods for the manipulation of contained information.
Such objects may or may not contain information on synonymy, taxonomic ranks, parent-child relations, taxon views (references used to establish relation between taxon usage names

[2018-06-29 07:46] FilipeamTeixeira commented on #214
@noamross thank you a lot again for all the help. About the blog post you've mentioned I would love to contribute. So just let me know how can I do it.

Once again thank you.

[2018-06-29 17:48] gfinak commented on #230
@maelle
I've gone through the remaining issues.
 `goodpractice` passes: there are a few `setwd()` used in my `tests` to cover some test cases, but they are no longer in the package code.
I've addressed the NAMESPACE imports, and use `desc` and `usethis` over `devtools` unexported functions.
Test coverage is now at 100%.
I cannot reproduce the R CMD check WARNING about the `inconsolata.sty` LaTeX f

[2018-06-29 17:55] maelle commented on #230
yes it might be since I use tinytex? Will start looking for reviewers now. Thanks for all your efforts!

[2018-06-30 11:52] maelle commented on #99
👋 @sckott  re-visiting the issue, any news? 😺

[2018-06-30 11:53] maelle commented on #175
@elinw @michaelquinn32 :wave: could you soon tackle the list above? Thank you! 😃

[2018-06-30 11:54] maelle commented on #210
:wave: @pakillo could you please get your review in soon? Thank you! 😺

[2018-06-30 11:55] maelle commented on #222
@calebasaraba @suzanbaert 👋 Friendly reminder that your reviews are due on Monday, 2018-07-02. Thank you! 😺

[2018-06-30 11:58] maelle commented on #230
Reviewers now assigned! Thanks @karawoo and @wlandau for accepting to review this package. 😺  Your reviews are due on 2018-17-23.

Our brand-new and WIP gitbook includes the reviewer's guide as a chapter that you'll find [here](https://ropensci.github.io/dev_guide/onboarding-guide-for-reviewers.html). 📖

[2018-06-30 16:52] elinw commented on #175
- [x] Transfer the repo to the rOpenSci organization under "Settings" in your repo. I have invited you to a team that should allow you to do so. I'll make you both admins once you do.
- [ ]  Fix any links in badges for CI and coverage to point to the ropensci URL. We don't transfer Appveyor projects from personal accounts any more but since the project is under ropenscilabs we'll transfer it to ro

[2018-06-30 17:29] maelle commented on #175
You can keep the Appveyor project under @michaelquinn32's account if you prefer!

[2018-06-30 18:33] sckott commented on #232
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-06-30 20:15] elinw commented on #175
I think it makes sense to put it in ropensci.

[2018-07-01 05:34] maelle commented on #175
Closing this, we can sort out CI details elsewhere and this way the peer-review badge will become green. 😉

[2018-07-01 05:35] #175 closed

[2018-07-01 09:53] suzanbaert commented on #222
Yes! I already did some experimentation and i have time set apart on monday to finish the last few items. But first a beautiful summer sunday 😉

[2018-07-01 12:08] maelle commented on #222
Thanks, have a good Sunday! 🌞

[2018-07-01 22:43] Pakillo commented on #210
I'm very sorry for the delay -- the end of term workload is being rather crazy. I expect to have it ready this week. Apologies

[2018-07-02 01:14] wlandau commented on #230
## Package Review

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly stating problems the software is designed to solve

[2018-07-02 03:55] maelle commented on #210
Thanks for the update @Pakillo!

[2018-07-02 14:24] lbusett commented on #184
Hi,

    just a quick ping for @karthik, since I saw you are back to work: How can we further proceed on this?

Lorenzo

[2018-07-02 14:39] lmullen commented on #224
Thanks for the helpful review, @expectopatronum.

[2018-07-02 15:18] suzanbaert commented on #222
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-07-02 15:21] suzanbaert commented on #222
One more thing: I originally planned to get a bit more into the code of the functions itself, but I ran out of time. So my review above is me as user of the package, not into the actual code.

[2018-07-02 15:28] maelle commented on #222
Thanks a lot for your review @suzanbaert! 😸 And thanks for the disclaimer as well!

[2018-07-02 21:48] calebasaraba commented on #222
## Package Review

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly stating problems the software is designed to solve

[2018-07-03 07:51] GuangchuangYu opened #234 "CRAN package - scholar"
### Summary

-   What does this package do? (explain in 50 words or less):

The package provides functions to extract citation data and co-author network from Google Scholar.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):

<https://github.com/jkeirstead/scholar>

- Please indicate which catego

[2018-07-03 08:07] maelle commented on #222
Thanks a lot for your review @calebasaraba! 🥅 ⚽️ 😃

@leonawicz now both reviews are in! As per our [author's guide](https://ropensci.github.io/dev_guide/onboarding-guide-for-authors.html) we ask that you respond to reviewers’ comments within 2 weeks of the last-submitted review, but you may make updates to your package or respond at any time.

Two notes:

* Reg imports I don't know what @calebasar

[2018-07-03 08:07] GuangchuangYu commented on #234
@jkeirstead is the original author that created the package. James's work is out of academia and have no time to further develop/maintain the package.

I am the new maintainer of the package. However, I should be admitted that I am not the expert of web technologies.

As this package was contributed by several developers, including @cimentadaj @DominiqueMakowski @abfleishman @dfalster and @ jeffer

[2018-07-03 08:14] maelle commented on #234
Thanks for your submission @guangchuangyu! Just to clarify, do you intend to keep maintaining the package if it is onboarded, or are you looking for a new maintainer?

[2018-07-03 08:32] GuangchuangYu commented on #234
@maelle both are fine to me :)

[2018-07-03 10:29] maelle commented on #234
Well for onboarding it'd be great if you remained maintainer, and you could look for a new maintainer later if/when you realize you don't have time any more and there's a good candidate. Does that sound good? Otherwise the maintainer change would have to happen before reviews, not during the onboarding process. 😸

[2018-07-03 10:30] maelle commented on #234
Also note that the package will need some unit tests and continuous integration before the submission process starts. More details [here](https://ropensci.github.io/dev_guide/building.html). We can put this submission on hold while you add them. 😺

[2018-07-03 11:29] GuangchuangYu commented on #234
thanks @maelle.

Sounds good and will add unit tests soon.

[2018-07-03 12:28] maelle commented on #234
@jefferis :wave:, @sckott can probably tell you more, since he maintains `vcr` and `webmockr` and has a [WIP book about http testing with `crul`](https://github.com/ropensci/http-testing-book). We don't have guidance about API package testing in our gitbook yet, but there was [a thread about it in our forum](https://discuss.ropensci.org/t/best-practices-for-testing-api-packages/460).

[2018-07-03 13:14] jefferis commented on #234
Thanks @maelle. My conclusion from looking at those is that we either:
* switch to crul and use vcr
* roll our own
* use https://cran.r-project.org/web/packages/httptest/index.html
@sckott any additional comments?

[2018-07-03 18:02] sckott commented on #234
switching to `crul` is the easiest option if you want mocking and/or caching of real requests/responses. `crul` has some other benefits in that it has a pagination helper in case you need to do that, and has async built in if you need to do that. I've got a number of packages on CRAN already using `vcr` - see the reverse suggests here https://cran.rstudio.com/web/packages/vcr/

I am working on ada

[2018-07-03 18:03] naupaka commented on #232
@sckott I'd be happy to review this if you like. Right in my wheelhouse and looks like something I would make use of for my own research/teaching.

[2018-07-03 18:40] sckott commented on #232
@naupaka thanks for offering, that would be great, thanks, is 3 weeks okay?

[2018-07-03 18:45] naupaka commented on #232
Yes that should work. 👍🏼

[2018-07-03 18:48] sckott commented on #232
grerat, thanks

[2018-07-03 19:51] leonawicz commented on #222
Hi all! Thank you all so much for your feedback and hard work! It is much appreciated. :) Some changes have been implemented already. Those and other replies below.

#### Re: cryptic error message.
Agreed, thank you for catching that. I have made more informative error messages for missing files and non-epub files, for epub, epub_meta, and epub_unzip.
#### Re: required title field.
This was a big

[2018-07-04 05:50] visuelledata opened #235 "Pre-submission inquiry: frite"
### Summary

-   What does this package do? (explain in 50 words or less):
This package provides basic tools for code generation and diagnostic functions for testing other functions.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):
https://github.com/visuelledata/frite

- Please indicate which c

[2018-07-04 08:55] annakrystalli commented on #234
Hello @GuangchuangYu 👋

I'll be handling your review once you're ready to submit properly.

Ping me on here when you're all set up with your tests and I'll move forward with the initial editor's checks. Feel free to reach out with any questions in the mean time.

[2018-07-04 19:33] cboettig commented on #220
@mpadge Thanks for this, fantastic review.

- Completely agree about the error message issues (and associated tests), will fix that once I resolve the interface issues first.

- Re TOKEN vs PAT, agree on TOKEN (as I had stated in thread you linked, that's the dominant standard elsewhere), but lots of R users adopted PAT thanks to devtools, `piggyback` supports both (as does `usethis` and `gh`), so

[2018-07-05 04:55] maelle commented on #235
Hi @visuelledata, thanks for your submission. Unfortunately, this package doesn't fit in one of our categories: "General workflow" is actually a category of packages we're unlikely to accept (see [the aims and scope section](https://ropensci.github.io/dev_guide/policies.html#aims-and-scope)). Thanks again for your submission, and good luck with `frite` development and promotion!

[2018-07-05 04:55] #235 closed

[2018-07-05 11:41] GuangchuangYu commented on #234
thanks @annakrystalli .

Will get in touch when everything was ready (so much things need to learn).

[2018-07-06 19:29] Pakillo commented on #210
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-07-06 20:05] maelle commented on #210
Thanks a lot for your thorough review @Pakillo! 😀

@azizka now both reviews are in!

[2018-07-07 03:54] cboettig commented on #224
@expectopatronum Thanks for this awesome review :tada:.  Very helpful.  I thought I'd wait for @richfitz comments but might as well check these off now and asking a few follow-up questions.  (Rich has given me a hint meanwhile on at least one other thing I should improve).

Good catch, fixed!

I'm terrible at adding these, at least until I get bug reports on particular cases.  Are there some obvio

[2018-07-07 12:19] pachamaltese commented on #217
@maelle can I have more time to implement all the suggestions? I'm working on them and the coolness shown on the feedback requires time to implement :)

[2018-07-07 17:42] richelbilderbeek commented on #209
Big package, big reviews, then ... well ... big number changes. Processed [the feedback specific to babette](https://github.com/richelbilderbeek/babette/issues/9), still working on its sub-packages. Will post per sub-package. Unless someone has a better idea?

[2018-07-07 23:48] isteves commented on #210
@azizka with regards to @Pakillo's tidyverse comment, I saw a post about this exactly on Twitter recently: https://twitter.com/dataandme/status/1009412422476713984?lang=en

The post it links to: https://www.tidyverse.org/articles/2018/06/tidyverse-not-for-packages/

[2018-07-08 00:34] naupaka commented on #187
@DomBennett Just ran through a couple testing workflows and everything works smoothly for me! Thanks for this very useful tool.

[2018-07-08 00:34] naupaka commented on #187
@sckott I'm happy to give this my stamp of approval 👍

[2018-07-08 06:16] tklebel commented on #189
@karthik I changed more or less all links I found, build systems (travis and appveyor) are working. The only missing part as far as I can see are admin rights for the repo, so I can update a few remaining things (mainly the link to the pkgdown site). Then we could close the issue, I think.

[2018-07-09 13:11] lbusett commented on #198
@raymondben @sckott

 sorry for being late on this, but I had very limited time in the last two weeks.

I had a look at the changes: great work! All points raised in my review were nicely addressed. I particularly like the changes introduced in the `an_filter()` function and the improvements in the vignette (one small thing: maybe you could specify in the vignette that when using session = "persis

[2018-07-09 15:52] leonawicz commented on #222
Thanks for your feedback :) I definitely should have used a separate branch for the relatively dev features. It was difficult to anticipate though, given the wide range of epub formatting, what would turn out to be common practices. It became more clear in retrospect. And once I had everything intermingled, the best option at the time seemed to at least move some features into being accessible onl

[2018-07-09 16:47] sckott commented on #198
thanks @lbusett !

@johnbaums are you happy with changes/responses?

[2018-07-09 16:50] sckott commented on #187
Great, thanks again @arendsee and @naupaka for your reviews!

[2018-07-09 17:24] maelle commented on #222
Btw maybe relevant https://github.com/hadley/ellipsis

[2018-07-09 17:49] sckott commented on #232
Reviewers:
- @naupaka deadline: 2018-07-26
- @eveskew deadline: 2018-07-30

[2018-07-09 17:51] sckott commented on #187
@DomBennett we're nearly there. just a few comments:

On running the example from the vignette, I get an error:

[code]

It looks like I need to fiddle with `btchsz` but I'm not sure where to do that. Would it make sense to say what function has that parameter? It looks like it's the function `parameters()`?

running goodpractice again: i'd encourage you to avoid `sapply` where possible and avoid

[2018-07-09 18:36] maelle commented on #233
Thanks for your submission @kamapu, we're discussing and will get back to you soon.

[2018-07-09 19:35] stefaniebutland commented on #136
@mstrimas Are you still interested in writing a post or a short tech note about `auk`?

[2018-07-09 22:31] Pakillo commented on #210
Thanks @isteves ! Always good to be backed by Mara and Hadley ;-)

Regarding my comment about `cc_sea`:

I later realised that all functions in the package follow the same scheme, e.g. `cc_urb` also gives TRUE if coordinates are OK and FALSE if coordinates fall in urban area. This scheme might still confuse some quick users at first, because a TRUE result means actually a negative response to the

[2018-07-10 04:16] mstrimas commented on #136
Sorry @stefaniebutland, I've been out of town off and on the last couple weeks, and won't be back until the end of next week, so this slipped through the cracks. If you feel what I already put together looks good for a blog post, I'd be happy to use that: https://github.com/mstrimas/auk-blog-post/blob/master/auk.md

What needs to be done to that to get it ready for posting?

[2018-07-10 13:12] wlandau commented on #230
@gfinak I am glad this process helped. That has certainly been my experience with rOpenSci reviews. You have indeed addressed all the issues referenced in my review, including my later follow-up requests in the various threads. Pending approval from @karawoo and @maelle, I recommend the acceptance of [`DataPackageR`](https://github.com/RGLab/DataPackageR) into rOpenSci.

[2018-07-10 13:22] ottlngr commented on #218
Sorry for the inconvenience, but I have to postpone my review for 2 more days. I will have finished it at 2018-07-12.

[2018-07-10 13:51] maelle commented on #233
:wave: again @kamapu, it's a bit of a tricky situation and we're going to need more information about your package before making a decision.

The general question is: **how would an R user with a taxonomy problem at hand know how to choose one of the two packages?**

Your answer could be a table [as in this pre-submission inquiry](https://github.com/ropensci/onboarding/issues/199#issuecomment-3753

[2018-07-10 14:30] calebasaraba commented on #222
I think adding some caveats to the documentation is, as you suggest, the best option. With that, I consider my feedback addressed and have checked off my final approval above in my review.

[2018-07-10 15:20] sckott commented on #218
no problem, thanks @ottlngr

[2018-07-11 14:42] leonawicz commented on #222
Thanks. I have updated the documentation to indicate that, with the exception of the new optional `title` argument override that is now accepted by `...` (and documented in the help Details), `...` is currently developmental/unsupported.

I have also renamed `first_nchar` to `epub_head`. I began to make the alias and add the relevant warning to `first_nchar`, but then stopped and decided to simply

[2018-07-11 18:18] suzanbaert commented on #222
Hi Matt,

I've downloaded the latest version from GitHub, and tried with latest changes.

Re: Error messages.
Much clearer! Thanks for fixing that.

Re: Title automatically added.
Again, thanks for fixing, it was a minor comment, but it just felt weird to not have flexibility when you thought you'd had some. I think this is clearer, thanks.

Re: epub_head.
I like the new function name
Regarding th

[2018-07-11 18:32] leonawicz commented on #222
Thanks Suzan!

Yeah, I also tried a number of Star Trek books (related to my `rtrek` package) using `epubr`. Most were novels, but a few were more like manuals or reference books. They don't work *as* well (and some don't have what would meaningfully be called "chapters"), but I took nominal steps toward making books like those still somewhat parsable. `epubr` is definitely more interesting for po

[2018-07-11 18:34] suzanbaert commented on #222
I agree! I think people will use function, not so much technical literature. I wasn't expecting the powershell one to come out good, but i was curious :)

[2018-07-11 19:02] leonawicz commented on #222
Also just for more insights, wanted to share, I did an interesting test.

Where one book had not only chapters, marked by `ch\\d\\d`, but also a "Part" 1, 2 and 3 dividing up the chapters into three groups. Those were marked in the metadata as `part\\d`. Each "Part" section had literature, just like the chapters did. Additionally, there were intro, epilogue, and a couple other sections that still

[2018-07-12 09:11] stefaniebutland commented on #136
That reads nicely as a blog post @mstrimas. Please read on when you have time.

I have a couple of suggestions for edits. When you're ready, please submit a pull request as outlined here: https://github.com/ropensci/roweb2#contributing-a-blog-post. Use date 2018-08-07 and if it is ready sooner and a spot opens up, we can change the date and publish sooner.

- would be helpful at start to note some

[2018-07-12 09:25] maelle commented on #136
Ahah no I actually reviewed the post simultaneously, great minds meet @stefaniebutland! Thanks again for your interesting post @mstrimas, my comments are over at https://github.com/mstrimas/auk-blog-post/issues/1

[2018-07-12 14:48] jackwasey opened #236 "submission: CRAN pacakge icd"
### Summary

-   What does this package do? (explain in 50 words or less):

Classifies medical diagnostic codes into disease comorbidity groups, calculates risk scores, and converts between types of ICD code, and decodes them to plain language.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):

h

[2018-07-12 17:34] maelle commented on #210
:wave: @azizka do you have an idea of when you'll be able to respond to @Pakillo's review? Thank you!

[2018-07-12 17:38] maelle commented on #222
@calebasaraba I see you've now checked the box "The author has responded to my review and made changes to my satisfaction. I recommend approving this package." in your review, perfect, thanks. @suzanbaert can you do that as well if you're happy with all changes?

I'll do last editor's checks next week at the latest. Thanks everyone for a very constructive process!

[2018-07-12 17:41] noamross commented on #231
Hi @marcosci and @ldecicco-USGS! Just a friendly reminder that your reviews are due in 1 week.

[2018-07-12 17:43] suzanbaert commented on #222
Done!

[2018-07-12 17:50] sckott commented on #187
Approved!  Thanks again for your submission @DomBennett

* Please transfer the package  to `ropensci`- I've invited you to a team within our ropensci organization. After you accept you should be able to move it. You'll be made admin once you do.
* Make sure to
    * add rOpenSci footer to README
`[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.org)`

[2018-07-12 20:05] ottlngr commented on #218
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-07-12 20:33] sckott commented on #218
thanks for your review @ottlngr !

@tdjames1 friendly reminder your review due in a little over 1 week

[2018-07-12 22:45] jackwasey commented on #236
Thanks for getting back so quickly.

1. I'm not 100% sure what you mean, but I can say that the scores are standardized and used very widely through medical research over many years. There are no novel calculations in the package, just accurate and validated implementations of the existing standards. These are all referenced in the documentation.
2. Yes, the vignette "Efficient ..." is submitted t

[2018-07-13 00:28] sckott commented on #99
@bpbond Finally trying to get back to this. Looking at [api][] and the python client http://esgf-pyclient.readthedocs.io/en/latest/ and  trying the same in R (been using base url https://esgf-index1.ceda.ac.uk so far), but it seems like I can only use the search API freely, but many data files I've tried so far are behind login walls. Do you know what it takes to get access to ESGF data?

Is it a

[2018-07-13 07:44] azizka commented on #210
Hi
@Pakillo, thanks for the great review. @maelle I am currently without stable internet, but will work on this next week.
Cheers!

[2018-07-13 10:18] maelle commented on #210
Thanks for the update @azizka, enjoy your time off!

[2018-07-13 12:49] johnbaums commented on #198
@sckott @raymondben

Thanks for looping me in on the changes, and sorry for my abysmally slow handling of GitHub notifications. I'm very satisfied - great package!

[2018-07-13 12:51] bpbond commented on #99
Hey @sckott . That's true as far as I know--downloading data requires an ESGF login account; note that ESGF is a source of huge [frustration](https://twitter.com/DustyBowl/status/1016658859279245312) to many researchers.

I think even exposing the search API through R would be valuable, yes! Anything to make the system easier to use...

[2018-07-13 16:15] DomBennett commented on #187
Done!
https://github.com/ropensci/phylotaR

[2018-07-13 16:36] maelle commented on #236
Thanks for your answers @jackwasey!

Your package seems in scope but it cannot be reviewed simultaneously at the two venues. It's up to you to have `icd` reviewed first at JSS or here. Note that our reviews might result in request for changes, even for the stuff reviewed/requested by JSS. With that in mind, do you want to put this submission on hold?

[2018-07-13 17:18] sckott commented on #198
Approved!  Thanks again for your submission @raymondben

* Please transfer the package  to `ropensci`- I've invited you to a team within our ropensci organization. After you accept you should be able to move it. You'll be made admin once you do.
* Make sure to
    * add rOpenSci footer to README
`[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.org)`

[2018-07-13 17:19] sckott commented on #99
Thanks @bpbond - Okay, sounds like best approach moving forward is to just give access to any freely available cmip data I can, and have a search API interface. Then if folks with access to the actual data files want to contribute later on that's great

[2018-07-13 17:23] sckott commented on #187
@DomBennett and the question about a blog post?

[2018-07-13 22:34] raymondben commented on #198
Super, thanks @lbusett and @johnbaums once again for your time and attention to detail.

[2018-07-13 23:05] raymondben commented on #198
@sckott repo transferred, will finish changing links and so on once I'm admin

[2018-07-13 23:46] sckott commented on #198
okay, try again

[2018-07-14 03:01] raymondben commented on #198
All done, I think?

[2018-07-14 20:08] pachamaltese commented on #217
@maelle @aedobbyn @cimentadaj

Thanks a lot for the feedback. Here's a list of todos after the feedback, I shall be working on this after the commit I just made as a few parts require dedication. Now I finally have time to organize this and produce a good result. Have a good weekend!!

- [x] Use a switch statement [here](https://github.com/pachamaltese/oec/blob/master/R/get_data.R#L112-L130)
- [ ]

[2018-07-15 14:49] maelle commented on #236
Ok, thanks, good luck with the JSS submission!

If our reviews result in big changes, we have [some guidance about that](https://ropensci.github.io/dev_guide/evolution.html).

[2018-07-15 17:46] sckott commented on #198
See comment above about a blog post. thoughts on that?

[2018-07-16 04:29] raymondben commented on #198
Yup, is a good idea. We're thinking of a more comprehensive post (this package plus others relevant to Antarctic stuff), but will be aiming to do *something*, anyway.

[2018-07-16 05:51] maelle commented on #230
@karawoo :wave: friendly reminder that your review is due on 2018-07-23 😺

[2018-07-16 09:47] richfitz commented on #224
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

**RGF**: As @cboett

[2018-07-16 11:41] maelle commented on #222
Approved! 🚀  Thanks @leonawicz  for submitting and thanks @calebasaraba @suzanbaert  for your reviews! 😺

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer to the bottom of your README
"```
[![ropensci_footer](https

[2018-07-16 12:43] lmullen commented on #224
@richfitz and @expectopatronum Thank you both for your thorough reviews.

@cboettig: You've already started on Verena's review, of course, but could you please address these two reviews and make any necessary changes by July 30?

[2018-07-16 12:51] annakrystalli commented on #220
Hello @cboettig and @mpadge 👋.

Just wondering if any progress had been made with the issues highlighted in the review and feedback requested by @cboettig?

[2018-07-16 14:53] noamross commented on #231
Thanks for your review, @marcosci!  @mbjoseph, feel free to wait for a second review before addressing comments.

[2018-07-16 14:56] noamross commented on #209
Thanks for the update, @richelbilderbeek.  Sorry I didn't reply to the question before.  That's fine, just be sure to post links and a summary here here of any responses that live in package repos.

[2018-07-16 16:16] jasdumas commented on #226
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-07-16 16:42] cboettig commented on #224
@richfitz Thanks, this is excellent and the detail much appreciated!  Addresses a bunch of things that have puzzled or bugged me so really appreciate your expertise here.

 Just skimming review for now, but one point where I could use a bit of additional feedback is the hard-wriring `read_tsv()` bit.  I agree that should be abstracted out (it's [issue #3](https://github.com/cboettig/arkdb/issues/3

[2018-07-16 18:58] nbenn commented on #218
@ottlngr: thank you for your kind words.

I fixed the missing community guidelines and repo badges and added a codemeta description. I also fixed some spelling errors using `devtools::spell_check()`. I didn't know about this, thank you for the tip!

As for the ImageMagick dependency, I added it as `SystemRequirements` field in the `DESCRIPTION` file. But is this really what one should do? After al

[2018-07-16 20:08] ottlngr commented on #218
Indeed. The imported `magick` actually does handle the system dependency very well.

It does, yes!

That is totally fine as long there's a specific reason.

I think that would be cool, but I also see the necessary effort. Maybe just keep it in mind for a future release.

I added the final check marks in the reviewer template!

[2018-07-16 21:58] sckott commented on #218
@nbenn we meant that part about system dependencies only for the package that is using that dependency (e.g. package `foo`), and not intended for packages using package `foo`

[2018-07-17 00:14] robitalec opened #237 "submission: spatsoc"
### Summary

-   What does this package do? (explain in 50 words or less):

The `spatsoc` package detects spatial and temporal groups in GPS relocations. For social network analysis, `spatsoc` can be used to build proximity-based social networks and perform network randomizations. It can also be used to detect potential interactions between individuals, shared space use, etc.

-   Paste the full D

[2018-07-17 03:00] cboettig commented on #220
Hey @annakrystalli , thanks for the ping.  I think this is mostly waiting for me to finish out https://github.com/cboettig/piggyback/issues/8, which is about half-done on the `timestamps` branch (along with about 40% of the error message handling added there as well).

I take the thumbs up from @mpadge to mean he's okay with me leaving in `push`/`pull` and `upload`/`download` as separate APIs and

[2018-07-17 07:40] karawoo commented on #230
## Package Review

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [X] **A statement of need** clearly stating problems the software is designed to solve

[2018-07-17 08:07] maelle commented on #230
Thanks a lot for your thorough review @karawoo! 😸

@gfinak now both reviews are in! 🙂

[2018-07-17 16:21] leonawicz commented on #226
Thank you so much @jasdumas ! This is really helpful. I've included a `Motivation` section in the readme regarding statement of need now. I've also added an example screenshot of a tiled map.

`gramr` looks super cool! I can definitely use that in general. I'll try to take a closer look when I have some time.

Re: installation on different systems. I don't know how to do it for Mac and don't have

[2018-07-17 17:05] leonawicz commented on #222
Thank you! @maelle I've added the footer and the related packages section. I used the `@` syntax for authors you suggested, thinking that when it appear on GitHub it was intended to act as a link to each author's profile or something. But maybe you did not mean that. I'm thinking I should switch it to people's proper names then? There is already a link to each package mentioned.

I added the `code

[2018-07-17 19:41] gfinak commented on #230
Thanks!
I'm out of town until the end of the month. I'll address the second review
when I return.

On Tue, Jul 17, 2018, 01:07 Maëlle Salmon <notifications@github.com> wrote:

[2018-07-18 04:38] maelle commented on #230
Thanks for the updated @gfinak!

[2018-07-18 04:44] maelle commented on #222
Thanks!

* No for authors it means using the Authors@R field in DESCRIPTION, sorry it was unclear.

* Update the thread once the transfer is done. Yes it should actually be that simple. There are two URLs to update in DESCRIPTION too (URL and BugReports fields).

* Ok will do the PR and tag you!

[2018-07-18 05:30] stefaniebutland commented on #189
Very glad to hear that @tklebel. This link will give you many examples of blog posts by authors of onboarded packages so you can get an idea of the style and length you prefer: https://ropensci.org/tags/review/.

Here are some technical and editorial guidelines for contributing a blog post: https://github.com/ropensci/roweb2#contributing-a-blog-post. I'll mark my calendar to follow up with you in

[2018-07-18 05:33] stefaniebutland commented on #187
@DomBennett this link will give you many examples of blog posts by authors of onboarded packages so you can get an idea of the style and length: https://ropensci.org/tags/review/. Technotes are here: https://ropensci.org/technotes/.

Here are some technical and editorial guidelines for contributing a blog post: https://github.com/ropensci/roweb2#contributing-a-blog-post.

Happy to answer any quest

[2018-07-18 05:36] stefaniebutland commented on #222
@leonawicz this link will give you many examples of blog posts by authors of onboarded packages so you can get an idea of the style and length: https://ropensci.org/tags/review/. Technotes are here: https://ropensci.org/technotes/.

Here are some technical and editorial guidelines for contributing a blog post: https://github.com/ropensci/roweb2#contributing-a-blog-post.

Happy to answer any questi

[2018-07-18 05:44] stefaniebutland commented on #214
@FilipeamTeixeira Thank you for your patience - was up to me to get back to you about your interest in
 contributing a blog post but I'm about 19 days late!

This link will give you many examples of blog posts by authors of onboarded packages so you can get an idea of the style and length: https://ropensci.org/tags/review/. Technotes are here for more short form posts: https://ropensci.org/technot

[2018-07-18 05:50] stefaniebutland commented on #195
@willpearse Are you still interested in contributing a blog post? Still adding to the package or ready to write? I'm now starting to line up posts for publication in late August, September.

[2018-07-18 05:53] stefaniebutland commented on #192
@JasperHG90 Are you still interested/ willing to write a tech note about `qualtRics`? I think it would really be of interest and would be great to bring some attention to the package

[2018-07-18 05:57] stefaniebutland commented on #175
@elinw Tired of writing about `skimr` yet? Or might you be interested in writing a post for the rOpenSci blog?

[2018-07-18 08:56] richfitz commented on #224
@cboettig - I've sketched out a proof-of-concept for generalising away from tsv here https://github.com/cboettig/arkdb/pull/5

While doing that I noticed this section:

[code]

* You can use `SELECT 1 FROM` for efficiency I believe
* I think this is the source of your result set warnings - why not just `DBI::dbGetQuery(db_con, ...)`?

[2018-07-18 15:53] willpearse commented on #195
Thanks for the nudge. I'm absolutely swamped right now, to be honest, so
I'd rather not write something for a month or so.

On Tue, 17 Jul 2018 at 23:50 Stefanie Butland <notifications@github.com>
wrote:

[2018-07-18 16:43] stefaniebutland commented on #195
No problem. I'll ping you one last time in 4-6 weeks

[2018-07-18 16:49] willpearse commented on #195
Great, thanks!

On Wed, 18 Jul 2018 at 10:43 Stefanie Butland <notifications@github.com>
wrote:

[2018-07-18 16:51] cboettig commented on #224
@richfitz Thanks much! I'll take a look tonight.

Quick question: do you mean `SELECT COUNT(1) FROM`?  My SQL is terrible, but my understanding is that it's the same to most interpreters (though I believe COUNT doesn't count NA/NULLs, not sure but perhaps I avoid this a bit by selecting all columns?  Remarkable how difficult it is to ask a DB how many rows a table has -- apparently there are other

[2018-07-19 06:49] richfitz commented on #224
Don't listen to me on the `SELECT 1` thing - I should know better to suggest microoptimisations without checking first:

[code]

We ran into this problem at work but the tables in question have something on the order of 4 billion rows - so the approximate counts get quite useful...

Re `dbGetQuery` - use the approach as above though otherwise (from `?dbSendQuery`)

So you're missing the `dbClearRe

[2018-07-19 13:49] maelle commented on #222
The blog post discussion can continue, but closing this since all transfer steps have now been done!

[2018-07-19 13:49] #222 closed

[2018-07-20 04:27] ldecicco-USGS commented on #231
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-07-20 17:45] OJWatson opened #238 "rdhs: submission for Ropensci"
### Summary

-   What does this package do? (explain in 50 words or less):

It interacts with the Demographic and Health Survey (DHS) Program API (https://api.dhsprogram.com),  and provides tools to use the API to ease identifying, downloading, loading and analysing the raw survey data collected by the DHS.

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the pa

[2018-07-20 21:09] tdjames1 commented on #218
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-07-21 07:38] expectopatronum commented on #224
As I come from software engineering I can think of several cases that could be tested (of which some might be an overkill). I would at least test what happens when the file/database connections are not working though. Other tests could be passing wrong parameters (e.g., names of tables that don't exist), ... But as I said, that might be an overkill :)

Yes, that's completely reasonable and fine wi

[2018-07-21 15:15] richelbilderbeek commented on #209
[Implemented all tracerer feedback](https://github.com/richelbilderbeek/tracerer/projects/1)

[2018-07-23 17:48] sckott commented on #218
thanks so so much @tdjames1 !  Do you have an estimate on number of hours it took to review?

[2018-07-23 17:51] sckott commented on #218
@nbenn reviews are both in now, continue discussion here. let me know if you have any questions about process

[2018-07-23 21:58] wrightaprilm opened #239 "submission - treestartr"
### Summary

-   What does this package do? (explain in 50 words or less):
This package helps users to build a reasonable starting phylogeny for phylogenetic analysis.
In particular, this package allows researchers to add tips to a tree through either a graphical
user interface, an automated system based on taxonomy, or by inputting a dataframe of taxa to
be placed.

-   Paste the full DESCRIPTION

[2018-07-24 00:14] mbjoseph commented on #231
Thanks @marcosci and @ldecicco-USGS for your reviews! This is all great feedback.

[2018-07-24 07:07] tdjames1 commented on #218
@sckott quite a few... I've updated my review comment with an estimate.

[2018-07-24 14:50] #187 closed

[2018-07-24 15:00] noamross commented on #231
Thanks your review @ldecicco-USGS! @mbjoseph, if you use issues in your own repo to track how you address the reviews, please summarize the changes here when you are done.

[2018-07-24 15:04] mbjoseph commented on #231
Will do @noamross - thanks!

[2018-07-24 16:17] sckott commented on #218
thanks @tdjames1 - we're keeping track of this so we can make review times shorter for reviewers moving forward

[2018-07-24 16:50] sckott commented on #155
@UniversalTourist @alisonboyer Will you two be able to do reviews soon-ish? 🙏 thanks so so much

[2018-07-24 18:06] lbusett commented on #184
Hi @karthik

Sorry for bringing this up again, but it seems this submission got stuck in some kind of limbo, recently, and i would like to close this task. :relaxed:

Could we have any updates regarding next steps?

[2018-07-24 20:20] adamhsparks commented on #155
Sorry, Scott, they can have more time.

NASA just made changes to the API suddenly without warning. The formerly proper CSV file now is no longer rectangular, I need to rethink how the data is ingested and I'm leaving for two weeks of travel on Friday. I've got some ideas in mind but it'll take me a while before I can get to it.

[2018-07-24 21:09] robitalec commented on #237
Thanks @lmullen.

[I've fixed the misspellings](https://github.com/robitalec/spatsoc/commit/92083ad38a9e327f9469845acc72c988533a13b1). There are some leftovers detected by `spelling::spell_check_package` but they are function arguments (e.g.: datetime, DT), last names, and "et al.".

We're importing the full data.table package because we use fread and data.table syntax in the tests and throughout

[2018-07-25 07:17] UniversalTourist commented on #155
My plan was to start this weekend -it was heavy two weeks- but OK, I'll wait to hear from you!

[2018-07-25 11:57] wolski opened #240 "prozor"
### Summary

-   What does this package do? (explain in 50 words or less):

This package is used at our core facility to generate FASTA sequence databases from smaller fasta files. It also is used to compute false discovery rates for mass spectrometric search results on PSM, peptide and protein level. It also is used for teaching. Using this package protein inference in bottom-up proteomics can be

[2018-07-25 12:38] nbenn commented on #218
@tdjames thank you very much for for the time you took for your in-depth feedback. I fixed most of the issues you found, except for the following, where I either disagree, or do not understand.

### Re Review Comments
I considered advertising my package more as an openBIS API package, rather than an InfectX data access package, but as the InfectX data set is (afaik) the only instance of large-scal

[2018-07-25 18:58] sckott commented on #218
- for `@return`: can you show me some examples?
- the cran check_skip fxn looks good

[2018-07-25 23:30] lmullen commented on #237
@robitalec Could you please add an "under review" badge to your repository? Here is the code:

[code]

[2018-07-25 23:33] lmullen commented on #237
Reviewer: @pmnatural
Reviewer: @FilipeamTeixeira
Due date: 2018-08-16

Thanks to our two reviewers for agreeing to undertake this peer review. As a reminder, you can find the [reviewers' guide here](https://ropensci.github.io/dev_guide/onboarding-guide-for-reviewers.html), and you can ping me with questions.

[2018-07-25 23:55] robitalec commented on #237
Badge added.

Thank you @pmnatural and @FilipeamTeixeira!

[2018-07-26 09:04] annakrystalli commented on #238
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-07-26 10:29] OJWatson commented on #238
Hi @annakrystalli - thank you for checking this through.

* Have just had a look and I didn't notice that ```tempdir(check)``` was only introduced in R 3.5, so I've just pushed some changes to catch for the R version before using this argument for backward compatibility.
* Have also trimmed those lines now.

Also a lot of the tests skip as you need the login details for the dummy account I've set

[2018-07-26 14:37] azizka commented on #210
Hej,

I have now addressed most comments of the second review. The last thing remaining is the error reported by @Pakillo with paleobioDB

I could not reproduce this error, but it also seems to be the problem that crashes travis. @Pakillo which operating system and R version did you use?

[2018-07-26 19:04] maelle commented on #240
Thanks for your submission @wolski, we're discussing scope.

Regarding data munging could you answer the "Are there other R packages that accomplish the same thing? If so, how does yours differ or meet our criteria for best-in-category?" question in the template. I see packages reading FASTA files including one of Bioconductor.

Could you also clarify the reproducibility part as well? Including po

[2018-07-26 19:51] annakrystalli commented on #238
Thanks for the quick response @OJWatson!

So I re-cloned the repo but I'm still getting errors during the tests. I include the output below, with some questions at the end of the comment:

#### check

[code]

Created on 2018-07-26 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

#### test
[code]

Created on 2018-07-26 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

#

[2018-07-26 22:52] cboettig commented on #224
@richfitz @expectopatronum @lmullen

Okay, I think I've hit just about all of these now.

@expectopatronum I have added error handling assertions for the argument types at the top of `ark` and `unark`.

@richfitz I've summarized my replies to your issues in https://github.com/cboettig/arkdb/issues/6.  In particular, see https://github.com/cboettig/arkdb/pull/10 which implements your pluggable form

[2018-07-27 06:08] MahShaaban opened #241 "Pre-submisstion Inquiry: colocr"
I developed this simple package `colocr` for conducting the co-localization analysis of microscopy images. The package comes with a shinyapp to interactively choose the regions of interest.  And it calculates two simple statistics to quantify the co-localization of two proteins in a certain cell.

I wonder whether this would be of interest to rOpenSci.

The GitHub repo is [https://github.com/MahSh

[2018-07-27 09:00] JasperHG90 commented on #192
Hi Stefanie,

Thanks for your message. I'd be happy to do this but I am currently involved in a couple of projects that are taking up all of my time. Things should ease up around half August. I'll put this on the to-do list for around that time!

Best,

Jasper.

[2018-07-27 09:43] mpadge commented on #220
Thanks @cboettig. I'll take it our for a test ride in the coming week and report back then

[2018-07-27 11:48] FilipeamTeixeira commented on #237
@robitalec Here's my review. If there's something you feel like correcting please let me know. There's still quite some stuff to go through but for now I think that it's better to start from what I mention below and to go from there.

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer

[2018-07-27 14:01] coatless commented on #220
@cboettig thanks for the update. I'll check it out this weekend.

[2018-07-27 16:05] OJWatson commented on #238
Hi,

* I have just added another vignette on this [here](https://ojwatson.github.io/rdhs/articles/testing.html), which is linked to in the readme.

* I've also added some bubble-wrapping around the API tests, so that if they haven't responded after 30 seconds (default timeout) then these tests are skipped. And then not in tests, these will display more helpful error messages about why.

And yep ha

[2018-07-27 17:17] robitalec commented on #237
Thank you @FilipeamTeixeira.

In response to just the tests for now:
I'm having a bit of trouble reproducing those test results.
We are passing all tests locally on Linux, Mac and Windows, on our GitLab CI and through CRAN.
What OS are you using? Did you get these same results with `devtools::test()`?

Just hoping to reproduce them locally so I can fix them!

I will update you as I work through th

[2018-07-27 21:14] sckott commented on #239
thanks for your submission @wrightaprilm !

Doing editor checks right now. On trying to install I get

[code]

can you fix? then i'll continue with editor checks

[2018-07-28 02:04] robitalec commented on #237
I just released our FAQ vignette (available [here](http://spatsoc.gitlab.io/articles/faq.html) and [here](https://github.com/robitalec/spatsoc/blob/master/vignettes/faq.Rmd)).
It was in the works, but your points made a great incentive to fill it in and make it public.
Still lots of points to fill in and things to translate to the function documentation but figured I would mention it as I think it

[2018-07-28 03:48] wrightaprilm commented on #239
I misunderstood some stuff about data packaging. But I think it's working now!

[2018-07-29 03:30] sn248 opened #242 "R package sundialr"
### Summary

-   What does this package do? (explain in 50 words or less):
This package provides an interface to the solvers in SUNDIALS C library (https://computation.llnl.gov/projects/sundials). Currently, the package provides an interface to serial version of 'cvode' in R

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository

[2018-07-29 11:54] nbenn commented on #218
@sckott, sorry for the delay. I started writing up a lengthy answer, explaining what I meant regrading the `@return` tags. In the process of doing so, I decided on simply adding the `@return` sections instead. I'll get back to you when this is done.

[2018-07-29 17:07] tdjames1 commented on #218
Hi @nbenn, apologies for the delay in responding to your queries/comments. Please find my responses below.

That's fine, I felt that I should raise it as an issue but I don't feel strongly that it is a big problem.

I think perhaps something is not set up correctly on my local machine. 98% seems pretty decent coverage!

OK! I didn't realise that.

I think I got a different impression when I was re

[2018-07-29 17:35] pachamaltese commented on #217
@maelle I' m almost ready!! I implemented all of the suggestions except webmocker and styler, I'm doing that tonight. Thanks a lot @aedobbyn @cimentadaj, thanks to your comments the package improved a ton and now you can jsut write `get_data("CHILE", "ArGeNtiNa") and the internals will make it work :)

[2018-07-29 20:10] maelle commented on #241
Thanks for your pre-submission inquiry @mahshaaban! Can you confirm that the primary goal of the package is to compute **statistics** from images? Methods packages are out of scope.

For reference https://ropensci.github.io/dev_guide/policies.html#aims-and-scope

[2018-07-29 21:30] pachamaltese commented on #217
@maelle now I only have webmockr implementation in unit tests and explaining a bit about result from API :D

[2018-07-30 01:19] MahShaaban commented on #241
Thanks, @maelle. I am aware of the fact that methods packages are out of the scope. Although the main use of the package is to compute co-localization stats, this is not a significant part of what the package does. It's just a one call to `cor()`. What the package focuses on automating the selection of regions of interest in the images. In addition, the package contains a shiny app to interactivel

[2018-07-30 02:49] maelle commented on #217
@pachamaltese thanks for the update! Note that @sckott's `webmockr` doesn't support `httr` yet, only `crul`, so you can either switch to `crul`, or keep using `httr` and use https://github.com/nealrichardson/httptest

[2018-07-30 05:17] sckott commented on #217
thanks @maelle - httr integration is operational in a branch on github. install like `remotes::install_github("ropensci/vcr@httr-integration")` and use it just like the crul integration. Would love any feedback. It should go to CRAN soon as we don't require any changes in httr itself

[2018-07-30 05:18] sckott commented on #217
sorry, meant to ping you in my above comment @pachamaltese ^^

[2018-07-30 09:02] FilipeamTeixeira commented on #237
Dear @robitalec, first of all thank you for your work on this. Regarding the tests indeed they were ran with devtools::test() which uses the package testthat. I'm using macOS Sierra 10.12.6 but the test results don't seem to be OS dependant.
I'm using as well the latest testthat and devtools version, just in case.

Regarding the vignettes and the FAQs, thank you for adding it. Unfortunately I stil

[2018-07-30 09:20] nbenn commented on #218
Due to a hardware failure, the InfectX openBIS server is currently down. I was promised to be informed of any developments but also told, it may take some time to get things back online. I'm sorry for the delay this causes.

[2018-07-30 14:09] maelle commented on #217
Thanks a ton for the clarification @sckott, and good news! 😃

[2018-07-30 14:17] maelle commented on #233
:wave: @kamapu! Any update or answer on the above? Thank you!

[2018-07-30 14:20] wrightaprilm commented on #239
Quick question -  a user noted a (both run time and unit) test I should add for their use case, and I have added it. Should I push that now, or wait?

[2018-07-30 14:50] maelle commented on #210
Am looking at that vignette. There shouldn't be a chunk wit `eval=TRUE` with `install_github("ropensci/paleobioDB")`, since the package is in Suggests.

[2018-07-30 15:06] pachamaltese commented on #217
thanks @maelle @sckott !
@maelle now I completed all the changes except for the webmockr part which I am not sure how to implement

[2018-07-30 15:16] maelle commented on #210
I get the error too, here it is below with session info.

[code]

Created on 2018-07-30 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

<details>

<summary>Session info</summary>

[code]

</details>

[2018-07-30 15:19] maelle commented on #217
Ok thanks for the update @pachamaltese!

@sckott is there any guide, or any example using `webmockr` with `httr` in the wild (a toy example?)? I only know of https://ropensci.github.io/http-testing-book/

[2018-07-30 15:52] maelle commented on #236
@rcih Could you please ask your question in the repo of the package i.e. https://github.com/jackwasey/icd/issues ? Thank you.

[2018-07-30 15:55] jackwasey commented on #236
Yes, @rcih please head to https://github.com/jackwasey/icd/issues and give a reproducible example. Thanks!

[2018-07-30 18:29] lmullen commented on #224
Glad to see these revisions, @cboettig.

@expectopatronum Thanks very much for completing your thorough review.

@richfitz Thanks for going back and forth to improve this package. Would you be able to look over Carl's changes within roughly one week?

[2018-07-30 18:35] gfinak commented on #230
@karawoo
Thanks for the review, I'm starting to go through everything to address the issues you found.
So far I've addressed the error:
[code]
with a conditional attach of the `mtcars20` package namespace . The usual `library()` or `require()` call there was producing NOTEs about a dependency on `mtcars20` that was not in the DESCRIPTION file.

I've added missing examples for the yaml functions.

[2018-07-31 02:09] sckott commented on #239
Yes, go ahead! Let me know when that's pushed

[2018-07-31 03:46] robitalec commented on #237
@FilipeamTeixeira I've updated the README/website with a better install line:

`devtools::install_git('https://gitlab.com/robit.a/spatsoc.git',
                      build_vignettes = TRUE)`

I didn't realize, but `devtools` doesn't build vignettes automatically. See [this note to devtools users](https://yihui.name/knitr/demo/vignette/).
Let me know if that helps with `browseVignettes("spatsoc")`.

[2018-07-31 11:50] Pakillo commented on #210
Hi,

I have updated all my packages and still get this error.

This is my session info:

Session info -----------------------------------------------------------------------------------------------------
 setting  value
 version  R version 3.5.1 (2018-07-02)
 system   x86_64, mingw32
 ui       RStudio (1.1.453)
 language (EN)
 collate  English_United Kingdom.1252
 tz       Europe/Paris
 date     2

[2018-07-31 12:33] maelle commented on #241
Sorry to ask so many questions, but how do people usually get these statistics, would you argue that with this package they'd be more prone to using a script rather than a click-and-point software?

[2018-07-31 13:06] rcih commented on #236
Okay, will do @jackwasey. Thanks!

[2018-07-31 14:06] wrightaprilm commented on #239
Alright, pushed.
Thanks!

[2018-07-31 14:26] azizka commented on #210
Alright, thanks!

This seems to be a problem of paleobioDB with R 3.5.0 and upwards. I posted an issue at the paleobioDB repository (https://github.com/ropensci/paleobioDB/issues/34).

[2018-07-31 17:40] gfinak commented on #230
A few more updates here for the sake of documentation.
- `.R` scripts are now processed correctly into vignettes. Tests added.
- When a package is built with `package_build` it is also installed and loaded automatically, so that vignettes and data sets are immediately accessible.
   - I may add an `install` argument to `package_build` to turn this behavior on/off.
- UTF-8 encoding warnings have be

[2018-08-01 01:08] MahShaaban commented on #241
That's alright.
I'd say yes. There are two cases where using scripts is more convenient. These are

1. Analyzing a large number of images
2. Maintaining a reproducible workflow

In my research, I care a lot about reproducibility. While I mainly use high throughput data, often the case my work is followed by wet lab experiments for validation. Analyzing 10s of pictures may be doable in programs lik

[2018-08-01 11:16] richfitz commented on #224
Looks good to me!

[2018-08-01 16:37] noamross commented on #232
👋Hi all! Per Evan's comment above, I had suggested using `MonetDBlite` as a mostly drop-in replacement for `RSQLite`.   It's another DBI-compliant back-end stored on-disk. An example of a similar package using it is https://github.com/cboettig/taxald

[2018-08-01 19:05] gfinak commented on #230
@karawoo
I believe I've addressed all the issues you've raised, with the exception of:

As I understand there is a package [maxygen](https://github.com/gaborcsardi/maxygen) that supports this, but it registers some callbacks with roxygen so that it can only support markdown roxygen2 markup or the regular roxygen2 markup. [Switching between the two is not possible without an R session restart](http

[2018-08-01 19:17] lmullen commented on #224
Thanks, @richfitz and @expectopatronum. @cboettig, we will consider this package successfully onboarded. :rocket:

Carl, could you please work on the following?

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.
- [ ] Add the rOpenSci footer to the bottom of your README

[code]

- [ ] Fix any links in badges for CI and coverage to point to

[2018-08-01 19:33] adamhsparks commented on #155
Sorry about that. I think we're ready now again for review. The POWER team changed the response of the API to include some extra metadata and didn't alert anyone interfacing with the API. I've now made the changes to be able to gather that metadata but also fixed the issue that precluded the data from being read due to changes in the response.

[2018-08-01 19:46] mbjoseph commented on #231
Thanks again @marcosci, @ldecicco-USGS, and @noamross for your time and reviews. Here are the point-by-point changes:

# Review 1 from @marcosci

## 1. Installation

- Removed now defunct rhdf5 instructions https://github.com/earthlab/smapr/issues/36
- Decided against adding extra hints for httr system deps, after a fair bit of deliberation https://github.com/earthlab/smapr/issues/37

## 2. Docume

[2018-08-01 19:48] mbjoseph commented on #231
Sorry - just accidentally hit "Close and comment"! The above summarizes the changes that were made. I really appreciate everyone's help with this - the package is much improved now thanks to these detailed (and friendly :smiley:) reviews!

[2018-08-01 20:03] noamross commented on #231
Thanks, @mbjoseph! @marcosci and @ldecicco-USGS, please let us know if Max's changes address your comments.

[2018-08-01 20:08] ldecicco-USGS commented on #231
They sure do. Great job @mbjoseph !

[2018-08-01 20:10] wlandau commented on #230
I think you can enable Markdown in `roxygen2` comments just by adding `Roxygen: list(markdown = TRUE)` to the `DESCRIPTION` file.

[2018-08-01 20:25] gfinak commented on #230
Oh, cool, thanks!

[2018-08-01 20:27] gfinak commented on #230
@wlandau noted that adding
`Roxygen: list(markdown = TRUE)`
to the DESCRIPTION file will support markdown based roxygen tags.

[2018-08-02 00:26] sckott commented on #155
thanks @adamhsparks ping @UniversalTourist and @alisonboyer ^^

[2018-08-02 00:29] sckott commented on #218
thanks for the heads up

[2018-08-02 00:31] sckott commented on #232
thanks for your review @eveskew !

@naupaka can you get your review in soon?

[2018-08-02 00:31] sckott commented on #239
thanks!, will have another look

[2018-08-02 00:53] stefaniebutland commented on #192
I'll ping you here in late August then @JasperHG90 so we can come up with a tentative date for a draft.
Cheers

[2018-08-02 09:06] DomBennett commented on #232
Thanks for such a detailed review @eveskew! I really appreciate the hours you have put into trying and testing the package. This whole ROpenSci malarky is pretty nifty.

@noamross, I will investigate using `MonetDBlite`. It looks like the `taxald` package performs a similar role to restez but for taxonomic information. I have thought about adapting `restez` to also work with NCBI taxonomic informa

[2018-08-02 11:40] maelle commented on #241
Thanks @MahShaaban!

After discussion we agree that your package is in scope so please submit it when it's ready!

A note about two rOpenSci's packages that **might** be useful
* [`magick`](https://github.com/ropensci/magick)
* [`ijtiff`](https://github.com/ropensci/ijtiff)

[2018-08-02 11:40] #241 closed

[2018-08-02 11:45] maelle commented on #210
@azizka if that's fine with you I'd suggest we wait for the `paleobioDB` issue to be solved before asking the reviewers for their final stamp of approval.

[2018-08-02 11:46] maelle commented on #230
@gfinak when you've solved this, please update this thread with an answer to @karawoo (summary of your changes) and I'll ask reviewers for their final ok. Thank you!

[2018-08-02 16:13] nbenn commented on #218
Ok, the InfectX openBIS service is online again.

@sckott I added `@return` tags to the docs.

@tdjames1 I think, I now incorporated all the changes you suggested.

[2018-08-02 16:47] tdjames1 commented on #218
@nbenn Thanks, I've checked the remaining boxes on my review post (cc @sckott).

[2018-08-02 16:49] sckott commented on #232
`taxizedb` downloads and loads SQL databases into local SQL database engines (mysql/mariadb, postgres, sqlite) and then provides a way to set the connection to those databases so that you can then use with e.g., `dplyr`.

`taxald` is Carl's attempt at I think making it easier to work with the bulk data by I think downloading flat files from Github releases so that users don't have to setup databas

[2018-08-02 16:54] sckott commented on #218
Great, i'll take a final editor's check

[2018-08-02 17:00] cboettig commented on #232
Correct. @DomBennett `taxizedb` downloads the various MySQL / Postgres / SQLite / and tsv dumps from ITIS, NCBI, WikiData, GBIF, COL, and EOL and sticks them into a local version of said database for you.

Each of those databases uses an entirely different format / schema for organizing the taxonomic information, so a query that works with, say, COL to return classification won't work with ITIS, e

[2018-08-02 17:16] cboettig commented on #232
@DomBennett Very cool package by the way, don't want to interfere with the reviews but looks very well implemented!  In general I'm excited to see more packages that interact with local databases instead of needing millions of API calls.

Completely minor note here, but the way you read in the compressed flat files into the database is pretty slick, though I'm pretty sure you could skip the `utils

[2018-08-02 17:26] sckott commented on #232
thanks for the help carl

[2018-08-02 17:29] gfinak commented on #230
@karawoo

Here is a summary of all the changes:

1. I've added markdown support for roxygen comments and added tests to that effect.
2.  References to `preprocessData` removed, this was old text no longer relevant.
3. `requireNamespace()` removed, not needed.
4. I've tried to clarify the README about when one needs to access `inst/extdata` or `data` in the source package from their processing scri

[2018-08-02 17:43] sckott commented on #217
👋 @pachamaltese So I know exactly what you want to do, do you want to do mocking with `webmockr` where you simply match requests, but don't cache the responses? Or do you want more what `vcr` does where it matches requests and caches responses?  `vcr` is a good fit for using in your test suite, whereas `webmockr` can be used for tests, but doesn't have to be, and you do have to cache your own resp

[2018-08-02 17:44] sckott commented on #218
@nbenn is master branch the one I should look at?

[2018-08-02 17:46] nbenn commented on #218
yes.

Sent from my iPad

[2018-08-02 17:46] pachamaltese commented on #217
Hi @sckott. I think it would be better to use `vcr`, match request and cache responses, specially when sometimes the server acts weird. Thanks a lot!!

[2018-08-02 17:52] sckott commented on #217
Okay. `httr` integration is not yet on CRAN. You need github versions of `vcr` and `webmockr`. Install like `remotes::install_github("ropensci/vcr@httr-integration")`

The usage is no different from if you were using `crul`. So any examples, etc. in the docs should suffice. I just made a tiny package to demo using `httr` and `vcr` together https://github.com/sckott/catfact so you can see what the

[2018-08-02 18:03] sckott commented on #218
Approved!  Thanks again for your submission @nbenn !

* Please transfer the package  to `ropensci`- I've invited you to a team within our ropensci organization. After you accept you should be able to move it. You'll be made admin once you do.* Make sure to
* Make sure to
    * add rOpenSci footer to README
`[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropens

[2018-08-02 18:03] pachamaltese commented on #217
@sckott thanks a lot !!! I shall be reading that soon

[2018-08-02 20:11] azizka commented on #210
sure, that's fine with me, thanks @maelle . There are some time constraints to for the build to work from my side. So in case the issue with paleobioDB cannot be fixed within the next two weeks or so, I'll try to find alternative data for the vignette, and for instance  include it in the package. I hope thats also OK.

[2018-08-02 21:52] lwasser commented on #184
... i was just talking to someone about it and looking for this on  ropensci and didn't see it and was wondering the same thing? @maelle  @karthik just curious.

[2018-08-02 22:42] sckott commented on #184
Sorry about the delay, i'll ping Karthik

[2018-08-02 22:45] karawoo commented on #230
Thanks @gfinak! I'm on vacation at the moment but will try to look at this in more detail in a few days.

[2018-08-02 23:47] gfinak commented on #230
No worries, no hurry!

[2018-08-03 00:53] MahShaaban commented on #241
Thanks a lot, @maelle. Will do.

[2018-08-03 01:31] karthik commented on #184
@lbusett Apologies for the delay -- will follow up in a few.

[2018-08-03 04:24] karthik commented on #184
@lbusett  Sincere apologies for the delay. Your last notification came during my holiday and got lost in a giant pile of unread GitHub notifications 😢But now that I see all the Is have been dotted and T's crossed, we are ready to go.

Congrats @lbusett, your submission has been approved! 🎉 Thank you for submitting and @lwasser and @jeffreyhanson for thorough and timely reviews. To-dos:

- [ ] Tran

[2018-08-03 04:26] karthik commented on #184
@lbusett You can also now add the status badge (I should have alerted you earlier) to your README. It should switch to accepted shortly:

[code]

[2018-08-03 07:48] marcosci commented on #231
Superb @mbjoseph ! Just had a look at everything, looks perfect! Well done.

[2018-08-03 07:51] lbusett commented on #184
@karthik

  thanks! No worries about the delay: I know it happens. I will do those last steps ASAP.
Concerning the blog post, although I already have some blog posts regarding the package here: https://lbusett.netlify.com/categories/modis/, I think that making also a technote on rOpensci would be nice.

@lwasser @jeffreyhanson

Thanks again for your very usefeul reviews: I think they allowed me to

[2018-08-03 08:15] DomBennett commented on #232
Thanks @cboettig! `taxald` sounds and looks pretty nifty. I'd really like to try it out one day. It also looks as if you've been lining up a lot of ducks to get it working thus far.

It'd be cool if `restez` could make use of taxonomic information so that users could query it using species/genus/etc. names. My instinct would be to just stick with the NCBI taxdump and create linked databases based

[2018-08-03 09:13] nbenn commented on #218
@sckott @tdjames1 @ottlngr Thank you for taking the time to review and help me improve `infx`.

[2018-08-03 09:25] #218 closed

[2018-08-03 11:55] noamross commented on #231
Quick note from a final set of package checks, @mbjoseph:  Please add `.github` to your `.Rbuildignore`

Once you've done that, approved! Thanks  for submitting and @marcosci and @ldecicco-USGS for your reviews!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made a

[2018-08-03 16:21] cboettig commented on #232
Right, as you probably know, NCBI taxa dump already includes a pretty nice list of mapping both NCBI's valid scientific name and recognized synonym scientific names to taxon ids (and even common names), so the NCBI maintainers clearly had queries by species/genus or even common name (including at common names that refer to higher taxonomic ranks -- e.g. "fishes") as valid.

So the NCBI synonyms ta

[2018-08-03 17:39] mbjoseph commented on #231
Great - thanks @noamross! I have updated the .Rbuildignore file (https://github.com/ropensci/smapr/commit/9a6e31c1774120dda193229ed94ef4dcbcac0257), transferred the repo to the ropensci org, added the footer (https://github.com/ropensci/smapr/commit/a8f9198ba70aac7a0e69ad12e096d702bdea2b5f), updated badges (https://github.com/ropensci/smapr/commit/acfe30056817bbb562d5e728dccc3aaab63e9b0b), and upd

[2018-08-03 19:45] noamross commented on #231
Excellent.   @stefaniebutland will be in touch about the blog schedule, in the meantime instructions for putting together post are here. https://github.com/ropensci/roweb2/blob/master/readme.md.  I'm closing the issue but feel free to carry on that conversation here.

I've made you admin of the repo over the the rOpenSci org.  Your other collaborators have write permissions.  Feel free to increase

[2018-08-03 19:45] #231 closed

[2018-08-03 21:11] sckott commented on #239
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-08-04 00:49] stefaniebutland commented on #231
Hello @mbjoseph. Glad to hear you're interested in contributing a post. Our hope is that it gets more eyes on your work!

This link will give you many examples of blog posts by authors of onboarded packages so you can get an idea of the style and length you prefer: https://ropensci.org/tags/review/. Technotes are here: https://ropensci.org/technotes/.

As Noam said, here are some technical and edi

[2018-08-04 01:30] stefaniebutland commented on #184
Hello @lbusett. Glad to hear you're interested in contributing a technote. It might get even more eyes on your work.

Examples of technotes are here: https://ropensci.org/technotes/
Here are some technical and editorial guidelines. https://github.com/ropensci/roweb2#contributing-a-blog-post. Difference for technote is `categories: technotes` in YAML

We ask that you submit your draft post via pull

[2018-08-05 12:31] richelbilderbeek commented on #209
[All beastier feedback has been addressed](https://github.com/richelbilderbeek/beastier/projects). Only beautier (the biggest!) to go... :rainbow:

[2018-08-06 07:48] MahShaaban opened #243 "Submission: colocr"
### Summary

-   What does this package do? (explain in 50 words or less):
Conduct Co-localization Analysis of Fluorescence Microscopy Images

-   Paste the full DESCRIPTION file inside a code block below:

[code]

-   URL for the package (the development repository, not a stylized html page):
[https://github.com/MahShaaban/colocr](https://github.com/MahShaaban/colocr)

- Please indicate which cat

[2018-08-06 09:30] annakrystalli commented on #220
Hello @mpadge and @coatless! Any news on your test drives of the changes? Please let me know if you are happy that the changes address all your concerns.

@cboettig  my personal feeling on:

is to remove `pull` and `push` if they are largely redundant and maybe return them later on if you are happy they robust enough? If not, perhaps noting this background info somewhere in the documentation (so u

[2018-08-07 11:59] maelle commented on #243
Thanks @mahshaaban! 😀

Before I proceed with regular checks since the package has a Shiny app could you have a look at our brand new specific guidance for Shiny apps especially their testing?

https://ropensci.github.io/dev_guide/building.html#interactivegraphical-interfaces

https://ropensci.github.io/dev_guide/building.html#testing

You can ask any question here / on discuss.ropensci.org / Slack

[2018-08-07 12:59] annakrystalli commented on #238
Good news @OJWatson, we have reviewers! 🎉
Many thanks @dosgillespie & @czeildi for agreeing to review.

---
Reviewers: @dosgillespie @czeildi
Due date:  2018-08-28

[2018-08-07 14:36] lbusett commented on #184
Hi @karthik ,

 I just transferred the repo to https://github.com/ropensci/MODIStsp after making the necessary changes.

(Note that the build on Travis is currently failing apparently due to a downtime of the NSIDC server)

[2018-08-07 14:57] lwasser commented on #184
@lbusett happy to be included as a reviewer in the description. thank you for your effort on this awesome package!! it's a great community contribution. i'm also happy to see it being embraced within the ropensci community!! yay!

[2018-08-07 18:36] sckott commented on #232
Okay, thanks @naupaka

[2018-08-08 03:59] karawoo commented on #230
This is looking really great! Everything is working for me now. My only last comment is that it is difficult to run the test suite in an interactive session because of how many times it prompts me for description for the NEWS file. This might become irksome during development but as it doesn't really affect the package functionality and isn't user-facing, I've gone ahead and checked all the remain

[2018-08-08 04:32] maelle commented on #243
:wave: @MahShaaban

 Ah sorry! But I don't see where in the tests? In particular, "shinytest" isn't written in DESCRIPTION like "testthat" is?

No, I'll research that and update this thread (and the guide, good point!)

I've now sent you an invite to the Slack.

[2018-08-08 05:36] MahShaaban commented on #243
Thanks for the slack invite, @maelle

Regarding the shiny tests. The tests are in the app directory, `inst/colocr_app/tests/`. The reason is I wanted to test the app on Travis separately. If necessary, I will move the tests to run with the package testing.

[2018-08-08 06:25] maelle commented on #243
To be honest I am very new to the testing ofShiny apps inside packages, and once your package is onboarded it'll probably be an example linked from the gitbook. 😸 Why test the app separately? What does it mean exactly? Your Travis config  file looks normal to me 🤔

[2018-08-08 07:41] MahShaaban commented on #243
I am also new to `shinytest`.

I wanted to test the app separately cuz I intended to make it stand-alone and I have a prototype of it on shinyapps.io, [here](https://mahshaaban.shinyapps.io/colocr_app2/).

I have the app as a separate repo on github, [here](https://github.com/MahShaaban/colocr_app). This repo is added to the package repo as a submodule. The app repo contains separate `.travis.yml`

[2018-08-08 07:49] maelle commented on #243
Ah interesting! Could you ask in the forum/Slack what best practice is? One thing that I still wonder about is whether your package's README should include a badge of the app's build status.

I'll make other checks as soon as I can.

[2018-08-08 07:56] MahShaaban commented on #243
Alright. Will do.
I think I can add the build status badge from travis, if this what you mean.

Thanks

[2018-08-08 08:52] lbusett commented on #184
@lwasser  Thanks! I will add you in the description ASAP!
@jeffreyhanson What about you? Isit ok also for you to be included as a reviewer ?

[2018-08-08 08:55] lbusett commented on #184
@karthik

I am currently unable to modify the package settings (i.e., to modify the link to the website at the top of the repo page). Could you grant me admin settings on the repository ?

Lorenzo

[2018-08-08 15:28] gfinak commented on #230
@karawoo that's great news. It's a good idea re: test suite, I'll see about having a package option to turn off interactive testing.

[2018-08-08 16:06] maelle commented on #243
Do you want to look into code generation before your package undergoes review? I tagged you in a commit, see links to apps generating code [here](https://github.com/ropensci/dev_guide/pull/76#issuecomment-411426196).

[2018-08-08 16:34] maelle commented on #230
Approved! Thanks @gfinak for all your work and @karawoo @wlandau  for your reviews! 😺

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer to the bottom of your README
"```
[![ropensci_footer](https://ropensci.org/pub

[2018-08-08 16:55] gfinak commented on #230
@karawoo @wlandau if it's okay with you, I would like to acknowledge you as "rev"iewers to the `DataPackageR` DESCRIPTION.

[2018-08-08 16:58] karawoo commented on #230
Fine by me!

[2018-08-08 18:57] wlandau commented on #230
That would be great, Greg. Thanks for all your hard work on the package.

[2018-08-08 19:05] gfinak commented on #230
@maelle I've addressed the following:

 - [x] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo. I have invited you to a team that should allow you to do so. You'll be made admin once you do.
  - [x] Add the rOpenSci footer to the bottom of your README
`"[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.org)"`

[2018-08-08 19:12] maelle commented on #230
Perfect! I had forgotten to recommend you also add this badge at the top of the README

[code]
Thanks!
closing the issue now, but this doesn't prevent the discussion of a blog post.

[2018-08-08 19:12] #230 closed

[2018-08-08 20:34] azizka commented on #210
Hej @Pakillo and @maelle ,

thanks so much for the constructive review. I included almost all comments. Below a point-by-point reply:

Package size

Done. Used bfg as suggested, reduced repository size to c. 10 MB.

Done. Removed the tutorials folder, and included all tutorials as vignettes in the package. Created a pkgdown page for the repository as suggested (https://azizka.github.io/CoordinateC

[2018-08-09 06:04] MahShaaban commented on #243
I made the following changes
* I add a table to the **Table View** in the app that includes the input parameters and can be used to reproduce the same output from the app. I will keep looking into the code generation for future improvement.
* Fixed the issues raised by `goodpractice`
* Fixed the spelling errors from `devtools::spell_check`
* Added the app Travis and shinyapp.io badges to `README.m

[2018-08-09 06:38] maelle commented on #243
Cool, I'll now look for reviewers.

Could you please add this badge to the README of your package:

[code]

[2018-08-09 12:41] maelle commented on #210
Thanks @azizka! @Pakillo , can you have a look at @azizka's answer?

Reg the `pkgdown` website I'd recommend grouping functions cf https://ropensci.github.io/dev_guide/building.html#function-grouping

Could you ask your question about the deprecation in rOpenSci's forum @azizka if @Pakillo can't answer? discuss.ropensci.org 😺

[2018-08-10 16:56] sckott commented on #239
Reviewers:

- @dwbapst due date 2018-08-27
- @rachelwarnock due ddate 2018-08-31

[2018-08-10 17:10] maelle commented on #243
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2018-08-10 17:12] maelle commented on #243
Thanks @haozhu233 and @seaaan for accepting to review this package! Your reviews are due on 2018-09-03.

Here are links to [our reviewer guide](https://ropensci.github.io/dev_guide/onboarding-guide-for-reviewers.html) and [review template](https://ropensci.github.io/dev_guide/reviewtemplate.html) (as you're both experienced rOpenSci reviewers/authors comments on the guide are welcome in e.g. Slack

[2018-08-12 08:50] UniversalTourist commented on #155
I finally have time today to finish the review! I just wanted to let you know about that :)
Many things has changed apparently! :)

[2018-08-12 13:55] UniversalTourist commented on #155
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

[2018-08-12 20:55] adamhsparks commented on #155
Hi @UniversalTourist, try visiting this SO thread to see if it helps?

https://stackoverflow.com/questions/9689104/installing-r-on-mac-warning-messages-setting-lc-ctype-failed-using-c

As you've indicated, it always happens, so it shouldn't be related to `nasapower`. :)

[2018-08-13 19:36] Pakillo commented on #210
Thanks @azizka

Re: the problem with consulting deprecated functions, I think there is a typo here: https://github.com/azizka/CoordinateCleaner/blob/master/R/CoordinateCleaner-package.R#L84 (should be capital C)

Then, to access the help file for deprecated functions (for any package), I need to include it within ``:

?`CoordinateCleaner-deprecated`

Does that work?

[2018-08-13 21:06] cboettig commented on #224
Thanks @lmullen!, I've ticked off the items above and transferred the package over to rOpenSci now.  Badges / CI etc seem to be working fine.  Planning a CRAN release soon.

[2018-08-14 18:13] sckott commented on #232
@naupaka ping 😸

[2018-08-15 07:08] JonasGeschke opened #244 "Submission: rcites"
### Summary

-   What does this package do? (explain in 50 words or less):
With rcites we provide an R client to access to the Speciesplus database. We provide functions to 1. access the Speciesplus taxon concept, and thereafter 2. get a species' legislation status, both from CITES and from the European Union, 3. get a species' country-wise distribution range, as listed in Speciesplus, and 4. get

[2018-08-15 08:54] mpadge commented on #220
Thanks @cboettig for the great improvements to the package, and sorry for the slight delay getting back to you. The following comments are mere suggestions that in the subjective opinions of this reviewer might just help to make it even more useful and/or easy to use.

## Error messages and tags

As indicated by @cboettig, most previously hard-to-decipher error messages have been addressed, and th

[2018-08-15 17:15] cboettig commented on #220
Thanks @mpadge, really appreciate the detailed feedback and agree these things should be done.  My apologies that most of the things in "other stuff" look like oversights on my part, and should be straight forward to implement.

The only thing I'm on the fence on is the tags etc, not because I disagree about doing it, but that I think it's going to require more thought on the right way to do this.

[2018-08-15 23:38] sckott commented on #244
hi @JonasGeschke Thanks for your submission.

I have a clarifying question. What is the relationship of Species+/CITES to IUCN Red List, if any?  Does it contain any overlapping information/data?

(p.s. you didn't check _Do you intend for this package to go on CRAN?_ - i think you're pkg is already on CRAN, so go ahead and check that)