[2019-10-24 14:15] mpadge commented on #330
@potterzot I'm so sorry about your continued troubles there. The commit referenced immediately above solves your latter problem of not being able to install. About your other issue from `devtools::test()`, i can not unfortunately do much. I have managed to generate (very) occasional problematic behaviour using this command, which gives in my case the very uninformative message,
[code]
This error i

[2019-10-24 22:22] vbaliga commented on #326
Hi @eebrown,

Please see [this document](https://github.com/ropensci/software-review/files/3769683/workloopR_vs_DMA.pdf), which we prepared to show the results of workloopR against those of commercial software. We showcase results using two types of experimental files. Let us know if you think what we've supplied is sufficient or if you have any follow-up questions.

Thanks again!
Vikram

[2019-10-24 22:25] vbaliga commented on #326
Hi @jromanowska,

Great - and thanks again for your helpful review!

Cheers,
Vikram

[2019-10-25 11:08] eebrown commented on #326
Dear @vbaliga,

Thank you very much for your thorough comparison of the package's output to an existing analysis suite. You clearly showed that your package produces the expected results with your supplied data files, and also illustrated the major benefits of your package in terms of replicability and open science. I appreciate the work you did to respond to this review and also hope that this co

[2019-10-25 15:24] DomBennett commented on #282
Hi @annakrystalli !

Thanks for your response. I've been quietly beavering away at the list. I have addressed all of the issues now with one or two cavets:

* Documentation: update basic module build example ([Done](https://antonellilab.github.io/outsider.devtools/articles/intermediate.html))
* Documentation: more complex module building example ([Done](https://antonellilab.github.io/outsider.devt

[2019-10-25 15:54] vbaliga commented on #326
Hi @eebrown,
Great! Thanks again for all your feedback. We appreciate your recommendation

@lmullen We believe that both reviewers are satisfied with the changes we made to workloopR. Please let us know if you have any feedback about the changes we made to the package, any comments on further changes that you'd like to see, and/or instructions for next steps

Thanks again!
Vikram

[2019-10-25 16:21] daranzolin commented on #342
@leonawicz We recently developed an internal shiny gadget with cascading select filters from user input, and it struck me as a possible application here. Probably superfluous here, though. [The API explorer is sufficient](https://www.eia.gov/opendata/qb.php?category=371) and also shows the category ids (obviating the need to type long strings).

[2019-10-25 16:42] karthik commented on #267
I think it would be useful to use a test dataset + lightr to show what can be done as a small example.  [Here](https://joss.theoj.org/papers/10.21105/joss.01593) is an example. If you submit as is, that's the first question an editor will as you about.

[2019-10-25 19:54] leonawicz commented on #342
@ottlngr Sounds good, I will check back next week. Thank you

@melvidoni @daranzolin I have had a chance today to make revisions. The latest version on GitHub cleans up the vignette formatting. I also added basic example ggplot graphs to the readme, getting started vignette, and the most applicable other vignettes- series and geoset, per your suggestion.

Out of general curiosity, can you point me

[2019-10-26 00:04] potterzot commented on #330
I spent some time debugging. The tests in `test-rectify.R` fail because they lack a "nitems = 2" parameter call and the internal code finds the number of components to be zero. I think that this is due to [lines 284-287 of `R/rectify-maps.R`](https://github.com/mpadge/mapscanner/blob/d9389e1b78fa1bc3be8e7085e90492e56fb627dd/R/rectify-maps.R#L284-L287) not allowing for the case in which all values

[2019-10-26 07:06] yihanwu commented on #338
Thank you @raynamharris and @llrs for your detailed reviews and suggestions, which significantly improved the package. Below is a point-by-point response to issues raised, with added commit links where appropriate. Overall, we think we were able to address all of the significant concerns, including new test code to provide additional checks, a re-structured README with content on the add-in GUI mo

[2019-10-26 15:07] mpadge commented on #330
Thanks @potterzot for the PR fix. That's a great catch that took me a while to understand, but yeah, you're absolutely right that the code without that would have errored whenever `all(dn == 0)`, and that's exactly the fix required. Nice.

As for the second issue, most of the vignette runs except for the bits relating to maps of Chennai. These unfortunately have to have fake output because it just

[2019-10-26 19:22] lmullen commented on #326
@jromanowska @eebrown Thank you both for the thorough reviews and for going back and forth with the authors. Could you please both check off the relevant boxes, especially the ones about finally approving the package?

@vbaliga Thanks for the very clear responses to the reviewers work. Once they've checked off all the boxes we can work on next steps for moving this into rOpenSci.

[2019-10-26 20:31] jromanowska commented on #326
Here is the final acceptance, after the authors replied to all the comments I had. Great work!

-----

## Package Review

*Please check off boxes as applicable, and elaborate in the comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are u

[2019-10-26 22:18] potterzot commented on #330
Im happy to recommend this package at this point. Thanks for your work
@mpadge!

On Sat, Oct 26, 2019, 08:08 mark padgham <notifications@github.com> wrote:

[2019-10-27 10:20] annakrystalli commented on #282
Great work @DomBennett !!

Well done for chipping away. It sounds like you are in a place where we could potentially start wrapping the review up! All 3 packages need to be looked at though. As I will be doing it, I'm planning to take next weekend to spend some time on it.

I'll also have a look at and enquire about the issues you are having with testing on `devel` and `oldrel`.   In the meantime,

[2019-10-27 12:37] ottlngr commented on #342
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-10-27 18:19] eebrown commented on #326
@lmullen Thanks, I've gone back and checked all the boxes.

[2019-10-27 20:13] melvidoni commented on #342
All reviews are in @leonawicz !

[2019-10-28 03:33] lindsayplatt commented on #344
Hello! It was fun to review this package. I have specific comments within the ROpenSci checklist (they are noted as a quotation starting with my initials `{LP}`). I also added a section of comments near the end that didn't fit the checklist perfectly.

Best,
Lindsay

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topi

[2019-10-28 14:25] ldecicco-USGS commented on #344
Thanks @lindsayplatt !

It looks like the vignettes are in a sub-directory "articles", which is why they are not being properly indexed when created via the `remotes` package.

If the developers want the vignettes included in the package itself (and not just a pkgdown page), they would need to both move the files out of the "articles" folder, and change the installation instructions to:

[code]

I

[2019-10-28 16:52] sckott commented on #330
Approved! Thanks @mpadge for submitting and @khondula and @potterzot for your reviews!

A few comments:

- link to the COC from the README
- on check, there's a package size warning on my macos that it's 5.2 mb, maybe compressing some images may bring that below 5?
- i couldn't try the mapdeck eg because couldn't get the dev versions of it's dependencies to install from source to get required vers

[2019-10-28 16:57] sckott commented on #338
thanks for your detailed response @yihanwu

@llrs and @raynamharris are you happy with the responses/changes made? any further comments?

[2019-10-28 18:03] leonawicz commented on #342
@melvidoni thank you and @ottlngr thank you for your review, responses below.

### The tidy argument

Here was my thought process when developing this: I agree that `TRUE`, `FALSE`, `NA` may seem a little unusual at first. I also had considered alternatives including `raw = TRUE`. I decided against `raw` anything because it seemed to suggest getting actual `raw`-type data, which some APIs return a

[2019-10-28 19:09] daranzolin commented on #342
@leonawicz graphs look good. No further comments or suggestions from me. But as for our previous discussion on cascading selectInputs in Shiny, [here's a good example.](https://gist.github.com/MarkEdmondson1234/9032144)

@melvidoni I updated my original review comment confirming that the package author has responded to my review.

[2019-10-28 19:43] ottlngr commented on #342
@leonawicz Thanks for your detailed answers and sharing your reasoning, especially on the `tidy` argument. I can totally relate to it and it was not meant to be a "change this, fix that" comment, anyway.

No further questions, suggestions or comments.

@melvidoni I updated my review.

[2019-10-28 19:50] mpadge commented on #330
Thanks @sckott, that is indeed fabulous news. Before proceeding any further, however, I've opened an [issue in the repo](https://github.com/mpadge/mapscanner/issues/27) on something that's been bugging me, and which i want to solve before finishing up here - and which you yourself raised:

It's not the images, it's `ggplot2`. In particular, the [three figures in the vignette](https://mpadge.github

[2019-10-28 19:59] potterzot commented on #330
@mpadge as far as the ggplot size issue goes, one option may be to use the `dpi`, `height`, and `width` parameters of `ggsave()` to save the images and then read them in, rather than displaying them directly. I think this would give you control over the file size, but still allow dynamic generation of the figures.

[2019-10-28 20:12] sckott commented on #330
sounds good, thanks @mpadge

[2019-10-28 20:17] melvidoni commented on #342
Approved! Thanks @leonawicz  for submitting and @ottlngr  and @daranzolin for your reviews!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer to the bottom of your README
"```
[![ropensci_footer](https://ropensci.o

[2019-10-28 20:17] #342 closed

[2019-10-28 22:54] leonawicz commented on #342
Hi all, @ottlngr @daranzolin thanks so much for your help reviewing the package! And thanks @melvidoni for your guidance. I have transferred the repo and made the package changes affected by the transfer. It appears my encrypted API key in `travis.yml` may still work (?) but I'll only know for sure after I get codecov.io integration working again. Please let me know when the admin status is active

[2019-10-28 22:59] llrs commented on #338
Great! Many thanks @yihanwu for answering all the points. The package has really improved  with all these commits.

1. & 2. Great!

3. I'm not sure that is the solution. Surely this makes that the warnings do not appear but it doesn't solve the issue.

5. Oh, it makes sense. Thanks for the links.

6. & 44. Here is an [example on how to test](https://stackoverflow.com/questions/41372146/) use input

[2019-10-29 02:21] mcsiple commented on #344
Hi everyone,

This package is very cool. I tried to follow similar conventions in my review to @lindsayplatt, for consistency. I've also added some comments on the end. Thank you for including me as a reviewer for this nice new tool.

## Package Review

- [X] As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict,

[2019-10-29 09:45] danielskatz commented on #327
Please update https://github.com/openjournals/joss-reviews/issues/1312 when this is accepted.

[2019-10-29 13:32] DomBennett commented on #282
Thanks @annakrystalli !

In terms of the CI issues, I tried fixing the failing Travis build for `oldrel` for the `outsider` package based on that issue you directed me to. I tried installing `fs` by specifying it as a binary package, this prevented the `fs` error but then I ended up with a new installation error for a different package. So I figured this is clearly a general compilation issue on t

[2019-10-29 20:14] melvidoni commented on #342
Hello @leonawicz! I already gave you admin rights on your repo, and invited you to an rOpenSci team. Can I publish this in Twitter? If so, please, let me know your handle.

[2019-10-29 20:40] leonawicz commented on #342
Hi @melvidoni I see the team and settings tab now, thanks! Yes, we're all set to move forward. I just pushed a `cran-comments.md` update for the next CRAN release and it looks like Travis-CI and CodeCov are still working as intended after the transfer. My Twitter handle is the same. I plan to mention on Twitter as well. Thanks!

[2019-10-29 21:48] yihanwu commented on #338
Hi @llrs,

I just wanted to get clarifications on some of the points before I start making the changes. These are numbered based on your comments.

4. In the example referenced here, the solution is to set a connection and read in a test response for a function with one user prompt. I think it is possible to get this to work with something like this ...

[code]
This is enormously helpful if I can

[2019-10-29 22:07] karinorman commented on #344
Hi @lindsayplatt & @mcsiple, thanks for taking the time to review and for your helpful comments! A couple general responses below about issues you both ran into with more detailed and individualized responses to come!

**Vignettes**

Thanks @ldecicco-USGS for pointing out the vignette location. They are currently in the `articles` subdirectory to prevent timing out on CRAN (`pkgdown` still detects

[2019-10-30 02:23] lmullen commented on #326
Congratulations, @vbaliga, we will now consider this package to be accepted. @eebrown and @jangorecki, thanks again for your thorough and helpful reviews.

@vbaliga There are some tasks that we will ask you to undertake in order to get the repository officially into rOpenSCi.

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I will shortl

[2019-10-30 03:33] vbaliga commented on #326
Hi @lmullen

Thank you very much!

I just accepted your invitation to join the rOpenSci organization and have now transferred ownership to ropensci -- please make me an admin whenever you get the chance.

Prior to transferring ownership of workloopR to ropensci, I took care of some of the items below. I'll follow up with the remaining items shortly.

       "` [![ropensci_footer](https://ropensci.

[2019-10-30 10:34] nfox29 commented on #325
Hi @zkamvar,

I have addressed all of your additional comments:
1. I have clarified the API key storage and use in all documents not just for the one function.
2. I have added additional two additional columns to the output: license name and the url of information on that license
3. I have changed these to logical and have also changed all the dates so they are in the same format
4. This has be fi

[2019-10-30 10:36] llrs commented on #338
Hi @yihanwu

4. Glad it helped. Sorry I can't help you more on this, but I don't have experience on testing input from command line.

18. The positions on a page are fixed (unless the grid changes in each page, which doesn't seem the case). So, once you know them for a page you can calculate how many pages you need and assign the barcodes to each position and page. If you have each x, y and page p

[2019-10-30 13:41] zkamvar commented on #325
LGTM. Thank you for addressing those, @nfox29!

[2019-10-30 14:11] #326 closed

[2019-10-30 18:17] sckott commented on #325
Thanks @zkamvar - I'll take one last quick look ...

[2019-10-30 19:07] sckott commented on #325
Approved (with some caveats, see below)! Thanks @nfox29 for submitting and @zkamvar & @monicagerber for your reviews!

caveats: on check I see:

- On `checking Rd cross-references`, check is throwing warnings about missing links, are you not getting that?
- Getting `Files named as vignettes but with no recognized vignette engine` note about the `vignettes/flickr_in_research.Rmd` file. shouldn't th

[2019-10-30 20:51] vbaliga commented on #326
Thanks again @lmullen . I have now taken care of the remaining (Zenodo/JOSS) items.

* [X] Activate Zenodo watching the repo

* [X] Tag and create a release so as to create a Zenodo version and DOI

The DOI is: 10.5281/zenodo.3523385
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3523385.svg)](https://doi.org/10.5281/zenodo.3523385)

* [X] Submit to JOSS at https://joss.theoj.org/papers/new,

[2019-10-30 21:43] stefaniebutland commented on #326
Hi @vbaliga. Congratulations on your package acceptance!

I think a tech note rather than a full length blog post on workloopR would be most appropriate since it has a very specific target audience. Instructions are here https://github.com/ropensci/roweb2#contributing-a-blog-post. Technically same as a blog post, but in YAML, set `categories: technotes` instead of `categories: blog`.

Your tech no

[2019-10-31 13:22] mem48 commented on #295
Hi @geanders , just checking to see if there has been any progress on the review. I'm keen to get the package onto CRAN and I don't know the etiquette, should I wait for acceptance to ROpenSci or can I do the two processes in parallel?

[2019-10-31 18:01] stefaniebutland commented on #326
That sounds good. Please use `date: 2019-11-14` in YAML as the tentative publication date. Once submitted, I'll review 🙂

[2019-10-31 18:03] vbaliga commented on #326
@stefaniebutland Sounds good - thanks!

[2019-10-31 21:24] pat-s commented on #305
Hi everyone,

@krlmlr and I decided to make the workhorse function `use_tic()` act smarter and a lot more interactive as before. This should give the user a better idea of what is happening.

Also the user can soon choose between three platforms (circle ci, travis ci, appveyor) and make choices whether to
- (1) deploy
- (2) build on multiple R versions
- (3) build on Travis or macOS on those platf

[2019-11-01 16:26] annakrystalli commented on #305
Sounds like good progress @pat-s ! Just to confirm, the package is likely to be finalised (and therefore all the issues identified in the review will be addressed) by the end of November?

[2019-11-01 16:35] vbaliga commented on #326
Hi @lmullen, @jromanowska, @eebrown ,

I am please to share that our paper has now been published in JOSS: https://doi.org/10.21105/joss.01856

Thanks again for all your help in reviewing workloopR and for suggesting improvements. @shreeramsenthi and I are both very happy with how everything turned out (but of course, we're happy to take further suggestions on features...etc).

Best regards,
Vikra

[2019-11-02 18:28] lmullen commented on #326
🎊 Congratulations, @vbaliga. Glad to see this published.

[2019-11-03 04:01] tyluRp commented on #309
Hi @nmonhait, thanks again for your feedback. I've added a vignette with a walk through on how to use the package and access data from the archive. I've also added additional helper functions for the time series datasets, the intro vignette covers these new functions as well.

Code of conduct and contributing guidelines have been added. When you have a moment, please let me know your thoughts.

[2019-11-03 05:11] LingshuHu opened #349 "healthforum: A R package for scraping health forum discussion threads"
Submitting Author Name: Lingshu Hu
Submitting Author Github Handle: @LingshuHu
Other Package Authors Github handles: (comma separated, delete if none) @mkearney
Repository:  https://github.com/LingshuHu/healthforum
Version submitted: 0.1.0
Editor:  TBD
Reviewers:  TBD

Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Pleas

[2019-11-03 16:21] maelle commented on #233
Any update, @kamapu? 🙂

[2019-11-03 16:23] maelle commented on #256
@embruna @aurielfournier @birderboone any update? Thank you 🙂

[2019-11-03 16:24] maelle commented on #279
Any news @aaronwolen @heidiseibold? 🙂

[2019-11-03 16:27] maelle commented on #335
Any ETA on your response to reviewers @florianm? The [author guide](https://devguide.ropensci.org/guide-for-authors.html) states "We ask that you respond to reviewers’ comments within 2 weeks of the last-submitted review" (but I know you've been traveling 🙂).

[2019-11-03 21:33] h21k commented on #309
Hi all,

apologies for the delay.
I should have mine ready very soon.

Best wishes,

Frank

On Sun, 3 Nov 2019 at 04:01, Tyler Littlefield <notifications@github.com>
wrote:

[2019-11-03 21:53] kamapu commented on #233
Still thinking about the best way to prepare a proper answer.

[2019-11-04 01:21] florianm commented on #335
(and moving house) thanks for the patience! Can I get back next week (ending Nov 15)?

[2019-11-04 04:45] maelle commented on #335
Ok, good luck with the move and see you in this thread next week! 🙂

[2019-11-04 07:18] maelle commented on #236
It's been more than one year, so closing this.

[2019-11-04 07:18] #236 closed

[2019-11-04 07:22] maelle commented on #329
:wave: @RaoulWolf! any update?

[2019-11-04 07:28] maelle commented on #347
:wave: @MohammedFCIS thanks for your submission! An editor will soon be assigned to the submission, thanks for your patience.

[2019-11-04 10:19] #254 closed

[2019-11-04 13:36] njtierney commented on #341
Hi @anadiedrichs - I'm going to step down from reviewing this one, I have realised I have overcommitted myself for November and don't want to drag the review out.

[2019-11-04 15:14] aaronwolen commented on #279
I'm holding for further comments/feedback from my esteemed reviewers 😄

[2019-11-04 18:35] cboettig commented on #279
Quite happy with the new interface on my end!   Well done!  having streamlined multifile upload is really quite nice.  Would love to see this on CRAN soon??

Another question came up as I tried recruiting some more testers -- the process of "publishing" data with a DOI is a bit unclear from the API (or really from my quick glance at the OSF documentation).  I'm pretty sure this is possible, but co

[2019-11-05 12:55] #332 closed

[2019-11-05 15:53] anadiedrichs commented on #341
No problem @njtierney, thanks for letting me know.

[2019-11-05 19:07] karinorman commented on #344
@ldecicco-USGS We're also still working on a few of the comments made by both reviewers, including examples and test for a couple functions, better common names examples, etc. Hoping to have that finished up in the next couple days but would love responses to the above in the meantime. Thanks everyone!

[2019-11-05 21:18] #303 closed

[2019-11-05 23:33] iecastro opened #350 "presubmission: healthdatacsv"
Submitting Author: Ivan Castro (@iecastro)
Repository:   https://github.com/iecastro/healthdatacsv

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box belo

[2019-11-06 05:12] #292 closed

[2019-11-06 10:31] nevrome commented on #333
@melvidoni I discussed this now with the ISAAK people and decided to transfer the package to the ropensci organisation. I will establish a mirror system via CI to keep a copy of the repo at the ISAAKiel organisation.

Unfortunately I was not able to start the transfer: `You don’t have the permission to create public repositories on ropensci`. What's the problem here?

[2019-11-06 16:37] stefaniebutland commented on #302
@mkearney Will you submit a draft post soon?
Technical and editorial guidelines: https://github.com/ropensci/roweb2#contributing-a-blog-post

[2019-11-06 20:01] mcsiple commented on #344
Hi all -- apologies for the delayed response. Thank you for adding the extended documentation.

- The added database backends vignette is great! Thank you for that.

- I quite like the extended vignette you added @cboettig . The only potential issue I ran into was that the current chunk inside `system.time({})`  took a while for me to run. If other people besides me report really long running time

[2019-11-06 20:09] melvidoni commented on #333
Hello @nevrome. You need to first transfer the repo (you need to be part of the rOpenSci org, and _transfer_ not _create_ the repo), and then I'll assign you admin rights on it. That is how we always do it. Is transfer what you tried?

[2019-11-06 20:11] nevrome commented on #333
Ah - just got the invitation. Thank you

[2019-11-07 02:08] yihanwu commented on #338
More updates:

1. I've created tests for user prompts by using several internal functions. (https://github.com/yihanwu/baRcodeR/commit/3abede8d5cfba70c7cf58d24a77a3408ff5257e5). The internal functions allow for several tries at putting in the correct response, and also a choice selection similar to the `menu()` function (unfortunately `menu()` did not seem to work for testing)

2. The loop problem

[2019-11-07 12:29] maelle commented on #349
Thanks for your submission @LingshuHu! We editors are discussing. We are specifically considering the privacy implications of this package. If you have any input on this topic, please let us know.

[2019-11-07 14:17] llrs commented on #338
Great, many thanks

[2019-11-08 01:22] geanders commented on #295
@mem49: Since we lost one of the reviewers, I did the second review of this package, which I'm attaching here. I think that most of my comments and suggestions will be pretty quick to address (either small code changes or edits to documentation), so I'd recommend that you address those before submitting to CRAN, as I think you could do that pretty quickly.

## Package Review

*Please check off box

[2019-11-08 01:23] geanders commented on #309
Thank you for the update, @h21k! Looking forward to your review!

[2019-11-08 05:39] brunj7 commented on #341
Hi @anadiedrichs and @sckott thank you for the opportunity to review `parzer`!  I have learned a lot from reading @sckott 's code. It is my first review for ropensci, so feel free to ask any questions about my review.

I think `parzer` is already a solid package and I can see many uses of it to help cleaning some messy data.

My 2 main comments are:

- I think it will be better if the functions us

[2019-11-08 11:03] mem48 commented on #295
Thanks @geanders I'll get on it and let you know when I've made the necessary fixes.

[2019-11-08 14:34] mem48 commented on #295
@geanders lots to go through, but I think I've fixed most of these.

I fixed some badly designed tests, the skips are because you don't have Sys.getenv("I_have_OTP") see https://github.com/ITSLeeds/opentripplanner/blob/master/README.md Its a simple toggle to disable tests that require the correct version of Java.

Warning message added giving file path

Updated the vignette with explanation.

Upda

[2019-11-08 16:06] noamross commented on #347
Hello @MohammedFCIS, thank for your submission, I'll be your handling editor.

### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The rep

[2019-11-08 19:55] stefaniebutland commented on #333
@nevrome Great to hear things are sorting out. I'm keen to host a blog post when you have time to work on this. Both you and @benmarwick are in rOpenSci Slack so we could move the blog post discussion to a DM there.

[2019-11-08 21:00] potterzot commented on #298
@stefaniebutland I couldn't make the Oct 29 deadline but have a working draft now, do you have a good future date that would work? The draft is basically done but I can change the template date and file names to match the anticipated date.

Also, I'm not sure where to put images. The template links I can change, but I don't see the corresponding `img/blog-images directory in the `roweb2` repositor

[2019-11-08 22:01] potterzot commented on #298
@stefaniebutland nevermind on the second part, I figured out the images. It helps if I read the instructions in full!

[2019-11-08 22:42] stefaniebutland commented on #298
For now, please date 2019-11-26.
That might change based on submission status of other posts that already have dates assigned.

I admit there are a LOT of instructions ;-)

[2019-11-09 01:05] mvickm commented on #341
Hello @anadiedrichs and @sckott , I want to say thank you to consider me for the review as @brunj7  said. Also, it's my first time doing it and I've learn a lot . Thank you again. Here is my review:

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [ ] As the reviewer I con

[2019-11-10 07:47] maelle commented on #350
Thanks for your pre-submission inquiry @iecastro! 😀 Yes your package is in scope and we'd welcome a full submission when it's ready.

Our threshold of what constitutes a _good_ package is our [dev guide](https://devguide.ropensci.org). If you have any trouble between now and submission do not hesitate to ask for resources/help on discuss.ropensci.org 🙂

[2019-11-10 07:47] #350 closed

[2019-11-10 12:54] MohammedFCIS commented on #347
Hello @noamross , I have fixed all goodpractice notes, except test coverage that increased to 92%, is it necessary to increase the test coverage to 100% before resuming review? Thank you

[2019-11-10 23:39] kamapu commented on #233
Dear @maelle you are right, I have learnt a lot and got some new skills for programming packages.

Although I still have to do the comparison with `taxa` in README, I respond herewith to the rest of your comments in advance.

Not and yes. The package `taxlist` is handling taxonomic information within objects defined by the package `vegtable`, the later handling biodiversity records. Nevertheless t

[2019-11-11 21:32] iecastro commented on #350
Thank you for the feedback, @maelle! I will keep working on this.

[2019-11-12 17:20] geanders commented on #295
@mem48 : Overall, I think these responses have satisfied most of my comments and suggestions. The only small follow-ups are (in some cases, these are just clarifications of my original comments or noting where I think my original comment has been satisfactorily addressed):

Thanks! I thought I had set this, but I double checked and I think I had a typo in the name I used for the environmental vari

[2019-11-13 08:46] maelle commented on #233
Thank you for your work and answer!

*

In the meantime please use a Remotes field in DESCRIPTION cf https://remotes.r-lib.org/articles/dependencies.html#github

* Regarding the long lines for warnings, add ""# nolint" at the end cf https://github.com/jimhester/lintr#project-configuration

* taxa is mostly aimed at developers, maybe a point for the comparison. cf https://github.com/ropensci/taxa/i

[2019-11-13 08:47] maelle commented on #279
Thanks @cboettig!

Pinging @aaronwolen

[2019-11-13 08:49] maelle commented on #256
@embruna @aurielfournier @birderboone could you please respond soon? Thanks. :smile_cat:

[2019-11-13 13:13] aurielfournier commented on #256
Sorry! @embruna is taking the lead on this next round of edits and he is working on it, but it will be a bit still. @embruna is a professor at U Florida and its getting to be his busy time of the semester. Thanks for your patience.

[2019-11-13 13:16] maelle commented on #256
Thanks for the update!

[2019-11-13 15:19] mem48 commented on #295
I've added the comment to the isochrones vignette. I think that is everything covered.
I will go over and look for any typos etc. Thanks for all your help.

[2019-11-13 16:29] embruna commented on #256
Yes, I'm on it! Between my new class this semester, travel, and...well, the same as the rest of us. I'm on it.

[2019-11-13 19:40] aaronwolen commented on #279
Hey @cboettig, somehow missed your response! Thanks for the positive feedback.

Good idea to include some info about generating DOIs in the vignette, since that is one of OSF's killer features. I also like the idea of being able to do it directly with osfr, I created [an issue](https://github.com/CenterForOpenScience/osfr/issues/107) to explore adding this feature—although I'm going to hold off ad

[2019-11-13 19:55] maelle commented on #279
Correct!

[2019-11-14 04:17] LingshuHu commented on #349
Dear Maëlle,

Thank you for your feedback! In terms of privacy,
1) this package only collects publicly available data from the website. On this website, users need to fill out their names, nicknames, and other information. Users' real names are not visible, and users have control of showing information such as "about me," "my groups," "my replies," and "my discussions." This package only scrapes u

[2019-11-15 18:16] embruna commented on #256
Hello, a quick update. We are almost done - here is a summary of the changes made in response to feedback from @maelle.

```I made a PR to remove the useless Maintainer field from the DESCRIPTION (the field is useless, not the maintainer 🙂 )``` Accepted.

```The README could do with a bit more work to make it more attractive to potential users, which had been mentioned a bit earlier. In particular

[2019-11-17 17:09] maelle commented on #256
Thanks you! 😀

I think you forgot to upload the README image to the repo. 😉

The coverage difference isn't that minor because 65% is below the required 75% https://devguide.ropensci.org/building.html#testing

[2019-11-17 17:13] maelle commented on #256
Reg overlap between the README and vignette you can re-use content without copy pasting if you want see https://www.garrickadenbuie.com/blog/dry-vignette-and-readme/

Moreover with roxygen2 latest version one can even include Rmd in man pages so you could re-use content even more (e.g. in the package level man page) https://roxygen2.r-lib.org/articles/rd.html#including-external--rmd-md-files

Repe

[2019-11-17 20:46] nevrome commented on #333
@melvidoni: I fulfilled all the ToDos in https://github.com/ropensci/software-review/issues/333#issuecomment-531599658 now. Except for the blog post.

[2019-11-18 06:37] arfon commented on #333
:wave: @melvidoni - this isn't quite correct sorry, we actually need authors to submit to JOSS using the repository address (https://github.com/ropensci/c14bazAAR). Is there an rOpenSci template I can propose a modification to?

[2019-11-18 11:30] noamross commented on #347
Thank you @MohammedFCIS.  No, 100% test coverage is not required.

Thank you @emmamendelsohn and @haozhu233 for agreeing to review!  Reviews are due 2019-12-09.

[2019-11-18 15:52] embruna commented on #256
ARGH! I did indeed. It should be there now.

Still looking into the coverage issue.

[2019-11-18 20:17] melvidoni commented on #333
Yes, there is. Let me mention this to the other editors first, please.

[2019-11-19 09:22] mem48 commented on #295
@geanders I've finished spell checking the documentation. I think the package is good to go unless you want any other changes?

[2019-11-19 17:20] geanders commented on #295
@mem48 : Yes, as a reviewer, I am very happy with the response to all my questions. I think this is a really great package, with especially thoughtful vignettes.

Putting my editor hat back on... @kimnewzealand : from your comments, it looks like you are satisfied with the responses and changes for your comments---could you confirm that's right and, if so, check the box on "The author has responde

[2019-11-19 19:08] kimnewzealand commented on #295
Having a look now @mem48 @geanders ....

Firstly I have now checked off the References now based on the answer above and your review

[2019-11-19 19:22] kimnewzealand commented on #295
There are few suggestions to follow up on, please let me know if you had a chance to review these:

[2019-11-19 19:24] kimnewzealand commented on #295
I have also  updated the checkmark for the Community guidelines given:
`Bug reports and comments are welcome as Github Issues and code submissions as Pull Requests.`

[2019-11-20 11:45] nfox29 commented on #325
Hi @sckott,

I have fixed the caveats and am working through the on boarding process. I am however unable to transfer the repo to rOpenSci's "ropensci" GitHub organization. I have attempted to transfer it under settings but i get the warning

Please can you advise,
Kindest regards,
Nathan

[2019-11-20 13:41] aleruete opened #352 "BIRDS: A set of tools for Biodiversity Informatics in R"
Pre-submittion
Submitting Author: Alejandro Ruete (@github_handle)
Repository:   https://github.com/Greensway/BIRDS

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an app

[2019-11-20 14:09] anadiedrichs commented on #341
Please @mvickm check the box in your comment where says "As the reviewer I confirm that there are no conflicts of interest for me to review this work (If you are unsure whether you are in conflict, please speak to your editor before starting your review)." Thanks

[2019-11-20 14:13] anadiedrichs commented on #341
Thanks to @mvickm and @brunj7 for your valuable review. You gave great feedback which can help to improve the quality of the parzer package.
Let us wait & hear the @sckott's answer to chat on how to address the changes.

[2019-11-20 19:01] maelle commented on #349
:wave: @LingshuHu! Sorry for the delay, we're not forgetting this submission: we're in the process of formulating a general policy on this so we can be consistent and provide guidance to reviewers on the subject. Thanks for your patience!

[2019-11-22 16:33] birderboone commented on #256
Ok everything should be ready to go:
- Coverall issue has been fixed. When we did the name change from refnet -> refsplittr coveralls was not properly configured to pull from the new names travis account.

- Coverage statistics are running now at...i think 91.6%. For some reason the tests for the plots had skip_on_cran() which the covr package skips for test coverage as well. Thats fixed, and I ad

[2019-11-22 17:42] sckott commented on #325
@nfox29 you should get an email invitation to a github team, once you accept that you should be able to do so

[2019-11-23 12:01] mem48 commented on #295
Hi @kimnewzealand

These are done.

The getting data and the bits about downloading the .jar file have been rewritten too. In particular I've added a new functions `otp_dl_jar()` and  `otp_dl_demo()` which simplify these stages.

I would prefer to keep the section on "getting your own data" in the getting started vignette, because I think most users would want to go through the vignettes with the

[2019-11-23 13:21] maelle commented on #352
Thanks @aleruete for your submission that we however deemed out of scope.

After discussion we decided that it does not fit under the selected categories as we view them. Your package seems to be a data exploration (EDA) tool, that we don't support because we cannot judge what is the best way to assess such data.

Thanks again for your submission, congrats on the awesome diagram in the docs :star2

[2019-11-23 13:21] #352 closed

[2019-11-23 13:23] maelle commented on #335
:wave: @florianm, any update? Thanks! :smile_cat:

[2019-11-24 04:26] kimnewzealand commented on #295
Thanks for the response.
I've checked the review as done @geanders  @mem48

[2019-11-25 05:24] florianm commented on #335
Thanks for the patience, getting stuck into ruODK now. ODK are preparing to release v0.7 of ODK Central, I'll have to work my way through their API updates too.

[2019-11-25 10:29] annakrystalli commented on #282
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [ ] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2019-11-25 10:32] annakrystalli commented on #327
Hi @MKLau, Just checking in with you. Do you have an ETA for a response to reviewers?

[2019-11-25 17:09] ldecicco-USGS commented on #344
@karinorman checking it to make sure I understand correctly, we're still waiting on updates from you?

[2019-11-25 22:15] annakrystalli commented on #282
I've completed most checks but want to spend a bit more time working with the package so back again tomorrow.

[2019-11-25 22:53] MKLau commented on #327
Hi @annakrystalli, I’m finishing up addressing a final comments this week, and, as long as those get done, I should be able to write-up a response early next week.

[2019-11-26 06:31] yihanwu commented on #338
Hi @sckott, @llrs , @raynamharris,

Are there any other changes I should review and make?

Cheers,
Yihan

[2019-11-26 07:59] maelle commented on #256
Thanks! We're getting very close to approval! I have a few remaining comments

* from myself

    * I'd recommend changing the GitHub repo description to something more directly informative (as opposed to "update to")

    * In the Travis config file, it's not a good idea to ignore warnings now that the package is in such good shape.

https://github.com/embruna/refsplitr/blob/e1492dac22ac7b553b84f

[2019-11-26 08:39] llrs commented on #338
Hi @yihanwu On my side I have marked the "Final approval" 19 days ago. I was waiting the editorial decision from @sckott.

[2019-11-26 14:27] aleruete commented on #352
Hi Maelle,
Thank you for taking your time to review it.
is there any chance to try to explain that it is NOT ONLY a EDA but it also systematize data processing and makes all assumptions taken on each step transparent (even when authors don't realize they are taking assumptions)?

Best Regards,

Alejandro

[2019-11-26 18:11] sckott commented on #338
Sorry about the delay - doing a final check now

[2019-11-26 18:25] sckott commented on #338
Approved! Thanks @yihanwu for submitting and @llrs  and @raynamharris  for your reviews!

A few comments:

- make sure to link to the full url of your COC from the README instead of the file path as CRAN maintainers will complain about that

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo. you should be able to transfer, let me know if it

[2019-11-26 18:26] #325 closed

[2019-11-27 07:42] yihanwu commented on #338
Hi @sckott,

I've made the changes you have suggested but when I go to transfer the repository, Github tells me I "do not have permission to create public repositories". Is there something else I need to do first?

[2019-11-27 15:18] geanders commented on #295
Approved! Thanks @mem48  for submitting and @kimnewzealand  for your review!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer to the bottom of your README
"```
[![ropensci_footer](https://ropensci.org/public_image

[2019-11-27 17:10] sckott commented on #338
you should have got an email invitation to a github team within ropensci, did you not get that?

[2019-11-27 20:19] yihanwu commented on #338
Ah, I found it. Completely my fault.

The repo transferred successfully. I've added the docs url pointing to docs.ropensci and removed the automatic deployment from Travis to gh-pages.

I tried to access the generated docs at https://docs.ropensci.org/baRcodeR. Is there a delay until they should be up?

[2019-11-27 20:54] mem48 commented on #295
Hi @geanders I've accepted your invitation and moved the package to ropensci but I seem to have lost control of the package. I can start making the changes to links etc locally but I'm unable to commit them to github. Did I do something wrong?

[2019-11-27 23:20] sckott commented on #338
there was a problem with our registry builder, it should be done soonish, within next day for sure

[2019-11-28 08:18] maelle commented on #352
Hi Alejandro, thanks and you're welcome, as I said the docs were a pleasure to look at.

The data processing is quite specific to your field (e.g. drake and assertr are general tools), and too methodological for us to review. But I suppose other venues than rOpenSci might be relevant!

[2019-11-28 12:37] geanders commented on #295
@mem48 : No, you didn't do anything wrong! You should now have admin access to the package again now. Please let me know if that's not the case.

[2019-11-28 12:41] geanders commented on #281
@DillonHammill : I just wanted to check in again. No worries if you're still working on this, but just so you're aware, we typically change the status to "holding" on review Issues where there are longer overhauls, so that it's clear to the editor in chief that there's some longer-term work on the package as he or she reviews all the open issues. Please let me know if you're anticipating that ther

[2019-11-28 12:42] geanders commented on #309
@h21k : I just wanted to check in and see if you will be able to have your review in soon? Thanks again so much for reviewing this package!

[2019-11-28 16:20] sckott commented on #338
its up now https://docs.ropensci.org/baRcodeR/

[2019-11-28 20:41] DillonHammill commented on #281
@geanders : Thanks for checking in! The package is almost complete! I am planning on re-submitting early next week. I am in the process of updating the website with new workflows so that @jacobpwagner and @lmweber have something to follow. I will be testing the package over the weekend and improving the test coverage. If I am happy with the stability of the package I will submit it again next week

[2019-11-29 20:22] mem48 commented on #295
Hi @geanders, I think I've done all the tasks on your list.

[2019-11-29 20:28] mem48 commented on #295
Hi @stefaniebutland  I'd be happy to write a short introduction to the package. Is it ok to rework some of the vignettes or does it have to completly original content?

[2019-11-29 21:05] stefaniebutland commented on #295
Hi @mem48. It does have to be original content. For something short, you could consider writing a [tech note](https://ropensci.org/technotes/), "Package updates, technical know-how, and small announcements related to rOpenSci software development".

fyi @Robinlovelace is writing a big-picture post about stplanr for publication in December. Noting in case that influences your content.

[2019-11-29 21:13] Robinlovelace commented on #295
Yes this should go in there, all these things join up and a big picture overview is just what's needed right now. More soon, xmas deadline noted! By the way huge congratulations Malcolm!

[2019-12-01 14:48] mpadge commented on #330
@potterzot @khondula @sckott Finally back on to this :rocket: I've done my best to reduce the figure sizes, tried every and all permutation possible, and have now got it down to what I consider a sufficiently small size (always < 3.5MB installed size on all machines I've checked on). Happy to ... finally and hopefully ... progress to final stages now. Thanks for bearing with me there :smile:

[2019-12-02 16:06] embruna commented on #256
Hi @maelle, I think we got all of these taken care of.

- A few of the lines of code are at 81 characters, but I couldn't reduce them further because of the required formatting.  I hope that's ok.

- The description on the repo has been changed to eliminate the "update to refnet text"

-Coverage 91% !  :)

[2019-12-02 18:31] sckott commented on #330
thanks @mpadge

did another check, all looks good to me.

any other comments @khondula or @potterzot ?

[2019-12-02 18:43] potterzot commented on #330
All good for me, thanks @mpadge for your work, and congrats!

[2019-12-02 18:55] sckott commented on #330
@mpadge i think we're all good, i don't think we'll hear from kelly

[2019-12-02 18:56] khondula commented on #330
all good from my end!

[2019-12-02 18:57] sckott commented on #330
ugh, 😢  - foot in mouth - thanks @khondula !

[2019-12-02 20:10] karinorman commented on #344
@ldecicco-USGS Yes! Just wanted to address some of the general changes we've now made based on comments from both reviewers.

- contribution guidelines added
- changed naming convention from `by_` to `filter_` to reflect the intuition that these functions filter underlying tables based on specified input
- updated examples and function tests, we now have 94% coverage based on [codev](https://codec

[2019-12-02 22:01] emmamendelsohn commented on #347
Hi @MohammedFCIS! I'm in the process of acquiring the DrugBank dataset--I just responded to a request for more information about how I will use the data. Hopefully they will approve me soon! In the meantime, I was wondering if you considered using the [DrugBank API](https://docs.drugbankplus.com/v1/#introduction)? Could it potentially provide a smoother path for users to access the data?

[2019-12-03 07:04] maelle commented on #256
Hi @embruna, thanks! Np reg the remaining long lines.

Reg DESCRIPTION could you have a look at dependencies ‘Rdpack’ ‘gdtools’ ‘mapproj’ ‘vdiffr’ as noted in my previous comment? Dependencies only used in tests should be under Suggests. by the way the line for Imports is very long, I'd **suggest** running `desc::desc_normalize()` to have one line per dependency (like what you have for Suggests),

[2019-12-04 06:39] MohammedFCIS commented on #347
Hi @emmamendelsohn , first let me thank you so much for taking time and effort to review our package.
As for the DrugBank database I have the following backup in my google drive and you can use it if you like :)
https://drive.google.com/open?id=1Em-IYnuHeOENE9qoiZxX2QGr9xE2fS_r.

Regarding DrugBank API, we considered using it at first of course, but decided to proceed with our dbparser for the fol

[2019-12-04 23:08] MKLau commented on #327
# General Response

Thanks again to @wlandau and @nevrome for reviewing the package and,
@annakrystalli included, providing insightful comments. I have updated the package
greatly based on the various suggestions and questions. These updates are
documented in the package's github repo issue and change logs. I detailed the changes as they pertain to the reviewers' comments point by point below. For

[2019-12-05 11:53] annakrystalli commented on #327
Thanks for the detailed response @MKLau!

@wlandau & @nevrome, please let us know whether you are happy with the responses/actions to your review comments.

[2019-12-06 04:49] wlandau commented on #327
@MKLau, fantastic work on the revisions! You put a ton of effort into refactoring the code, rethinking the package scope, and strengthening the documentation, and `Rclean` is totally transformed.

After reviewing https://github.com/MKLau/Rclean/commit/b674396e4c84f58ae8a46ac50f7312650c300e07, I have some minor follow-up comments and requests.

- [ ] Would you point me to the new test you added on

[2019-12-08 13:38] pat-s commented on #305
Hi @annakrystalli

_tic_ is now ready for migration to ropensci from our side.

The CRAN roadmap is as follows:

- Wait for _travis_ to go to ropensci and CRAN
- Wait for _cli_ v2.0 to go CRAN
- Wait for pat-s/circle to go to CRAN

Regarding _tic_ specifically:

- Implement a way to update to the latest version of the templates provided by _tic_
- Support Github Actions
- Support Azure pipelines
-

[2019-12-09 12:56] nevrome commented on #327
I agree with @wlandau: You did an excellent job refactoring Rclean, @MKLau. I really enjoyed reading the vignette and running the example code. I will keep this in mind to analyse my own scripts.

Maybe an RStudio Addin would be nice: Select a variable in your code file with your mouse, press a key combo, get the `clean()` result. Would make it even more convinient and is simple enough to implemen

[2019-12-09 13:26] danielskatz commented on #327
pinging @labarba as the JOSS editor for that part of this - note the comment about the JOSS paper and review (https://github.com/openjournals/joss-reviews/issues/1312) in the comment above.

[2019-12-09 14:13] noamross commented on #347
Hello @emmamendelsohn and @haozhu233, a reminder that your reviews are due today.

[2019-12-09 14:29] labarba commented on #327
@danielskatz — I don't understand what I need to opine about.

[2019-12-09 14:31] danielskatz commented on #327
the part:

[2019-12-09 14:31] labarba commented on #327
When a paper goes through rOpenSci review, it gets handled by @arfon on the JOSS side. I have not handled any of these.

[2019-12-09 14:37] danielskatz commented on #327
Actually, it can be handled by the AEiC on duty - I've done this a few times, as have others.  See https://joss.readthedocs.io/en/latest/editing.html#processing-of-ropensci-reviewed-and-accepted-submissions

[2019-12-09 14:41] danielskatz commented on #327
In any event, to answer @nevrome's question, my understanding is that once this submission is accepted by rOpenSci, the JOSS Associate-Editor-in-Chief responsible for the [JOSS review](https://github.com/openjournals/joss-reviews/issues/1312) (which is currently @labarba) will review the paper to make sure it meets JOSS standards, but will assume the review of everything else done by rOpenSci is s

[2019-12-09 15:56] nevrome commented on #327
Thank you for your answer, @danielskatz. My issue is mostly caused by the unclear border between code and text review.

@wlandau and I provided code review according to this [Guide for Reviewers](https://devguide.ropensci.org/reviewerguide.html). The guide does not mention the JOSS paper. The [review template](https://devguide.ropensci.org/reviewtemplate.html) contains the following section, thoug

[2019-12-09 16:33] annakrystalli commented on #327
Thanks @nevrome for picking this up.

What we can do is consider the code review of the package complete and move it to rOpenSci. I will coordinate with @MKLau and when the `paper.md` is complete and ready for JOSS submission, I will review it before it gets submitted (unless of course you want to @nevrome). Ultimately I'm happy to consider your contribution complete and do the final check myself.

[2019-12-09 16:34] danielskatz commented on #327
Well, they are reviewed by the Associate-Editor-in-Chief, but we would certainly appreciate anything you do that improves the paper. Whether this is an obligation of rOpenSci reviewers of submissions that are also being submitted to JOSS is for rOpenSci to determine.

[2019-12-09 19:00] haozhu233 commented on #347
Hi, all,

Here is my review. @MohammedFCIS Good job on this package! I totally enjoyed reviewing it! :)

Hao

--------------

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this

[2019-12-09 20:38] nevrome commented on #327
Thanks for the clarification, @annakrystalli and @danielskatz. The solution suggested by you, @annakrystalli, is fine for me. I can also offer to read the text when it's ready and if you have the feeling that some additional feedback might be helpful, @MKLau.

[2019-12-09 21:23] DillonHammill commented on #281
@geanders : Unfortunately, due to recent changes in the underlying data structures in the RGLab dependencies of this package (https://github.com/RGLab/flowWorkspace/issues/294 ), I am going to need some more time to get everything on par with the RGLab suite of packages. Everything is ready on my end, I will just need to make some changes as to how the data is handled internally to ensure that the

[2019-12-09 21:28] MKLau commented on #327
Great, thanks to everyone for clarifying the relationship between the software and article review. Thanks for the offer to review the manuscript (@nevrome), it would be great to get your input on it if you have the time to spare.

@annakrystalli, I’ll send you the updated manuscript soon. Hopefully by week’s end.

[2019-12-09 21:50] MKLau commented on #327
@wlandau and @nevrome, thanks also for the follow-up comments and suggestions.

- I'll take care of the NAMESPACE update and the long line issues. I'm not sure why `gp` didn't pick these up when I ran it.
- I've added "enhancement" issues for the RStudio add-in and the node label sizing for code_graph. I'd like to get those implemented soon, but probably after the review, as they're not integral t

[2019-12-10 03:17] RussellGrayxd opened #353 "MODIS data over taiwan is incorrect"
I've queried several NDVI and landcover products at all bands over the past few days using the central lat/lon of Taiwan. Every single one of the products is incorrect. They don't represent the outline of the country, and they make no logical sense. I'm not sure where the landsat images are coming from, but it isn't Taiwan.

Here is a working example:

NDVI <- mt_subset(product = "VNP13A1",

[2019-12-10 03:47] emmamendelsohn commented on #347
@MohammedFCIS Nice job and thanks for the opportunity to review. Happy to discuss/answer questions.

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure

[2019-12-10 05:19] wlandau commented on #327
I see. Do you think the simple script is sufficient to test `Rclean`'s ability to sift out "tangled" variables, or are there different kinds of decisions `Rclean` makes that you could explore with the longer script?

Either way, I highly recommend accruing tests for all the bug reports that come your way over time. If you write a new test for each bug as you fix it, your test suite will become pow

[2019-12-10 09:57] annakrystalli commented on #305
Hi @pat-s,

Thanks for the updates on the package! I'm excited to test out but I'm getting an error:
[code]

<sup>Created on 2019-12-10 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>.

Indeed running `devtools::check()` I get this note:
[code]

These functions are from package `cliapp`? At the minute, `cliapp` is not listed as a dependency, and the functions above don't seem

[2019-12-10 17:05] MohammedFCIS commented on #347
Hello @haozhu233  and @emmamendelsohn ;
Thank you so much for your time and effort that you are giving for this review.
I did not only benefited from your comments but I enjoyed your feedback so much as well, thanks for that also.
Kindly find my detailed response below:

I agree with you, the following issue has been created for that.
https://github.com/Dainanahan/dbparser/issues/73

Actually it i

[2019-12-10 20:40] MKLau commented on #327
@wlandau thanks, point well taken. Now that the package is stabilizing (and much improved thanks to this review), I can spend more time thinking about how to test it. For now, it seems to be at a place where it should work enough for folks to use it enough to report errors and not just pass on it and not report anything.

[2019-12-10 21:28] pat-s commented on #305
@annakrystalli
Sorry for that. I missed to add the "cli (>= 2.0.0)" requirement in the DESCRIPTION. Before we only had "cli" there.

cli v2.0.0 is on CRAN since yesterday and installing tic should now get you the correct version during install.

[2019-12-10 22:42] embruna commented on #256
OK, drum roll...

1. I moved the packages to the Suggests, and ran ```desc::desc_normalize()``` on the DESCRIPTION. The packages are also listed in alphabetical order.

2. travis.yml now has ```warnings_are_errors: true```

We're the ones who are grateful, both for your patience and the attention to detail. The review of this package has been incredibly helpful and detailed....I wish my papers wer

[2019-12-11 09:22] maelle commented on #256
Thank you! :grin: And thanks again to both reviewers!

I'm sorry but I now realize these packages are maybe not even used at all in your package, or am I missing something? I've searched for their name in the package code (e.g. https://github.com/embruna/refsplitr/search?q=mapproj&unscoped_q=mapproj&type=Code)
* mapproj
* Rdpack I suppose you used to use it for package docs, but now you no longer

[2019-12-11 09:33] maelle commented on #256
You don't need covr either since it's run on Travis. I've now found a way to find unneeded dependencies using the [attachment package](https://thinkr-open.github.io/attachment/) from inside the refsplitr folder.

[code]

[2019-12-11 09:45] maelle commented on #256
Note that you could still have false positives since you could use Suggests packages for other things.

[2019-12-11 10:49] annakrystalli commented on #305
Great thanks. I'll take a look again tonight 👍

[2019-12-11 10:53] annakrystalli commented on #327
Thanks @MKLau. Just a note that good testing is just as much part of a package maturing as is adding functionality and shouldn't be considered something you do afterward but rather, as you add functionality.

As you say, time and bug reports are important in catching errors from edge cases, but I think what @wlandau (feel free to correct me if I'm misinterpreting!) is trying to get you to do is th

[2019-12-11 17:34] wlandau commented on #327
@MKLau, I like [these tests](https://github.com/MKLau/Rclean/blob/06c1f681ab6e9e8b3109049bcb27ff347a0b80f9/tests/testthat/test-main.R#L27-L42), and I like that they are specific and targeted. I strongly suggest a couple more tests like them for a couple variables in `long_script.R`.

I also think it is important to compare the actual values of the results you get from actually running the scripts.

[2019-12-11 22:11] annakrystalli commented on #305
Hey @pat-s,

Package installed successfully! 🎉
I'm trying to test it out with this example bookdown repo: https://github.com/annakrystalli/reprohack-docs

However, now at the end of `tic::use_tic()` using selections 2,1,2,2,4  I get:
[code]

The page it launches though seems to show travis is sufficiently authorised?
![image](https://user-images.githubusercontent.com/5583057/70664609-a6db8b00-1c62

[2019-12-11 22:41] pat-s commented on #305
Hm, tricky. This check comes from `travis::travis_sync()`.

It is now easy to say what might be the problem here. You could

- call `travis::travis_sync()` manually again and it might resolve itself. Even though this should not be needed.
- try `ropenscilabs/travis@travis-com`. We did a complete refactoring of the auth process in this branch and it will soon be merged into master. This might also

[2019-12-11 23:46] MKLau commented on #327
@annakrystalli I definitely agree with the point of defensive testing. These comments of @wlandau’s with more specifics and pointers are great. I’ll get to those test tomorrow and add these suggested features to the issues list as enhancements. Also, I will look into streamlining the bug reporting processes. I have documentation for that but it could be improved and more could be done automaticall

[2019-12-12 03:47] wlandau commented on #327
To help encourage bug reporting, you might have a look at [issue templates](https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository) like [this one](https://github.com/ropensci/drake/blob/master/.github/ISSUE_TEMPLATE/bug.md).

[2019-12-12 15:36] MKLau commented on #327
@wlandau, perfect, thanks for these.

[2019-12-12 17:57] noamross commented on #347
Thank you for your reviews, @haozhu233 and @emmamendelsohn.  Thank you for responding quickly @MohammedFCIS and we look forward to the revision when you have addressed all the comments.  I concur with @emmamendelsohn's comment about the database - I'm not sure if there is a specific reason that MySQL is used, but I think it would make more sense to just let the user use any back-end database they

[2019-12-12 20:06] MKLau commented on #327
@wlandau Just added a new test that checks the reproducibility of variables in cleaned scripts, please see [here](https://github.com/MKLau/Rclean/blob/dev/tests/testthat/test-main.R#L54-L97).

Let me know your thoughts, in particular I'm wondering if you would separate the variables into individual tests.

[2019-12-13 02:28] wlandau commented on #327
Nice, that's a great test. I added some suggestions at https://github.com/MKLau/Rclean/issues/185#issuecomment-565273312. In the interest of avoiding a rabbit hole, only (1) is part of my official review, e.g.

[2019-12-13 18:16] arielolafsalgado opened #355 "Presubmission inquiry: packexplorer"
Submitting Author: Ariel Salgado (@arielolafsalgado)
Repository:  https://github.com/arielolafsalgado/packexplorer

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appr

[2019-12-13 18:48] maelle commented on #355
Thanks for your pre-submission inquiry @arielolafsalgado ! However, your package is out-of-scope: it is a too general tool (rather than a tool helping scientific workflows and scientific research) that's beyond our current aims and scopes.

It is a good idea for a package, best of luck with its future development and promotion!

[2019-12-13 18:48] #355 closed

[2019-12-13 18:52] maelle commented on #279
👋 @aaronwolen, any ETA on paper.md (and other last changes)? 🙂

[2019-12-13 18:53] maelle commented on #335
👋 @florianm, any update? 🙂

[2019-12-13 20:43] MKLau commented on #327
@wlandau great, thanks for the rapid and considerate feedback in this. Will do.

[2019-12-13 23:59] MKLau commented on #327
@wlandau I've added two new tests (see [here](https://github.com/MKLau/Rclean/blob/1b565a74e6c21ed02d28f8a72f5542b04fef716a/tests/testthat/test-main.R#L100-L148) that should address your last request in the comment above. They don't directly test for the "exclusion" of variables, instead they test that a set of expected variables are present in the cleaned scripts when sourced in a new environment

[2019-12-14 14:47] wlandau commented on #327
I reviewed those new tests, and I think the test suite is now diligent and defensive enough. My follow-up requests are minor:

- [ ] Use `system.file()` in the examples [here](https://github.com/MKLau/Rclean/blob/b674396e4c84f58ae8a46ac50f7312650c300e07/R/keep.R#L39-L43) and [here](https://github.com/MKLau/Rclean/blob/b674396e4c84f58ae8a46ac50f7312650c300e07/R/package.R#L15) so they work out of th

[2019-12-15 12:21] annakrystalli commented on #305
Hello again @pat-s 👋

OK, after installing the branch you suggested, things worked better. I still had a bit of trouble figuring out the setup. Finally, once I figured that the `R_TRAVIS` token is to specify the `endpoint` and I set it to `.com` it all worked.

The [build fails](https://travis-ci.com/annakrystalli/reprohack-docs/builds/141108558?utm_medium=notification&utm_source=email)

The perti

[2019-12-15 13:54] pat-s commented on #305
Hi @annakrystalli,

Thanks for the detailed review again. Important points, especially when it comes to user experience.

Do you consider **all** of these points (including some that only target the {travis} package) as blocking for the migration to _ropensci_? Maybe we can put them into issues of the respective repos to better address them?
Or are there just some of these (if at all) which you co

[2019-12-15 14:07] pat-s commented on #305
Thanks for catching this. Replacing `{{{install_tic}}}` with `remotes::install_github("ropenscilabs/tic")` solves this. I've also updated the templates already.

[2019-12-15 15:34] annakrystalli commented on #305
OK thanks.

I've updated `.travis.yml` and pushed. Now I'm getting

[code]

I'm just using tic vanilla bookdown setup https://github.com/annakrystalli/reprohack-docs. Is a DESCRIPTION file necessary for this to work?

[2019-12-15 15:48] pat-s commented on #305
Yes, because {{tic}} installs the dependencies based on that. No matter the project type, there always needs to be a DESCRIPTION file.
See also the [bookdown example repo](https://github.com/ropenscilabs/tic.bookdown) for more info. I think the default error message is quite descriptive here, what do you think?

[2019-12-15 16:18] annakrystalli commented on #305
SUCCESS!! 🎉

So, If the project requires it, I feel `do_bookdown()` should check for a `DESCRIPTION` file and warn earlier rather than wait to get an error on TRAVIS. Indeed the vanilla new bookdown project (created through Rstudio) which is how I set up the test repo, does not come with a `DESCRIPTION` file.

If I try and use `usethis::use_description()` to get a starting template, I get an error

[2019-12-15 16:38] pat-s commented on #305
I see. We can check for this during `use_tic()` but not within `do_bookdown()`. The latter is a macro function and is only being executed on the CI system (unless the user emulates the CI run locally). However, it does not have any setup/check functionality before starting a run.

I've created an issue to better assert the existence of a DESCRIPTION file.

The refactoring should be done within the

[2019-12-15 17:26] annakrystalli commented on #305
I think you should incorporate all the comments as issues as you feel they make sense.  I've ticked the ones I would consider necessary to pass review, the rest you can add as enhancements. But it would be good to get a full response to the points raised once you have made changes.

The problem with that is that since May 2018, travis has [announced a movement towards `.com`]( https://blog.travis-

[2019-12-16 01:39] florianm commented on #335
Hi @maelle - apologies for the delay, hoping to finish this issue this week. Turtle season is in full swing!

Remaining work:

* Dates and attachments come out as list columns. Something is going wrong in all the mutate_at/purrring in `odata_submission_parse`.
* I'd like to make downloading attachment files (which can be several GBs) optional and rather hot-link the files. This would be handy for

[2019-12-17 22:22] aaronwolen commented on #279
All major changes are now available on the master branch and the paper should be done this week! 🤞

[2019-12-18 01:19] #338 closed

[2019-12-19 09:42] maelle commented on #279
Awesome! Note that there might be some delay on my side over the holidays (happy holidays everyone in this thread by the way :wink:).

[2020-01-01 22:11] pat-s opened #356 "Submission: circle"
Submitting Author: Patrick Schratz (@pat-s)
Repository: https://github.com/ropenscilabs/circle
Version submitted: v0.5.0.9001
Editor: @noamross
Reviewers: @sharlagelfand, @mbjoseph
Due date for @sharlagelfand: 2020-12-07
Due date for @mbjoseph: 2020-12-07
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate whi

[2020-01-03 09:58] maelle commented on #256
Happy New Year!

@embruna Once you've responded to my comment about Suggests unneeded dependencies the package will be approved. 🙂

[2020-01-03 10:34] maelle commented on #356
Many thanks @pat-s for your submission! It is in scope indeed. However we think it'd make more sense to finalize #305 first as you're quite involved in that one as well.

[2020-01-03 10:42] pat-s commented on #356
Thanks Maelle. {circle} and {travis} are both deps of {tic} to some degree but also kind of independent.

Let's finish {tic} first then to not confuse things.

[2020-01-06 07:07] kauedesousa opened #357 "chirps: API Client for CHIRPS"
Submitting Author: Kauê de Sousa (@kauedesousa)
Repository: https://github.com/agrobioinfoservices/chirps
Version submitted: 0.0.4
Editor: @melvidoni
Reviewer 1: @cvitolo
Reviewer 2: @jzwart
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https:/

[2020-01-06 07:18] maelle commented on #329
:wave: @RaoulWolf! any update?

[2020-01-06 07:24] maelle commented on #295
Closing this, which doesn't prevent the convo about blog posts from continuing. :wink:

[2020-01-06 07:24] #295 closed

[2020-01-06 07:36] maelle commented on #233
:wave: @kamapu! Any update? Happy New Year. :slightly_smiling_face:

[2020-01-06 09:20] Robinlovelace commented on #295
Great to see this, thanks everyone (and sorry @stefaniebutland for being slack on slack and with writing, have been prioritising academic projects and holiday and unfortunately the blog post has suffered). One question where I imagine rOpenSci people can help is release on CRAN. I believe doors open again today for submissions. Any pointers @mem48 on barriers to this being up?

Looking forward to

[2020-01-06 15:22] MKLau commented on #327
Hi Will (@wlandau), I've now made the system.file() changes and fixed the lints in all the code files, and I've added an issues template for bug reporting. I went ahead and added lintr to Travis as an after-success check as well. One thing to note, I have not changed/fixed all of the lints (such as camel_case for all variables and spacing, etc.) for the example scripts, as those examples contain c

[2020-01-06 16:44] stefaniebutland commented on #295
wisdom!

rOpenSci Slack is a great place to ask questions like this. Lots of CRAN experience and specific helpful answers

When you're ready, email me for blog post follow up

Cheers

[2020-01-06 19:19] MohammedFCIS commented on #347
Hello @haozhu233 and @emmamendelsohn. Happy new year. Kindly find the required changes here https://github.com/Dainanahan/dbparser/labels/ropensci.
Please let me know if you have any further notes. Thank you.
Best Regards,

[2020-01-06 20:31] #333 closed

[2020-01-07 13:57] DomBennett commented on #282
Thanks very much @annakrystalli! Super helpful.

I've got through and made the following changes:

* Added a remotes section to DESCRIPTION
* Ditto for `outsider.devtools`
* Added Xcode and Rtools information to the ["Getting started" page](https://antonellilab.github.io/outsider/articles/outsider.html#non-r-dependencies)
* I added a skip to the GitLab API checks if no token is found. I've added i

[2020-01-07 15:13] noamross commented on #347
Thank you @MohammedFCIS! @emmamendelsohn and @haozhu233, please let us know if the changes address your comments.

[2020-01-07 17:49] embruna commented on #256
Hi all, happy New Year.

Deleted the 4 packages from the Suggests....thanks @maelle!

[2020-01-07 19:24] embruna commented on #256
Well, it was too good to be true...just got this email:
![image](https://user-images.githubusercontent.com/4655487/71922599-3e94a200-3159-11ea-87c3-78b1748fdbe1.png)

I'm going to try adding the four packages to suggests one at a time and seeing which of them actually do need to be there.  I'll update shortly.

[2020-01-07 19:27] maelle commented on #256
Ah indeed sorry mapproj seems needed https://travis-ci.org/embruna/refsplitr/jobs/633881379#L6325

[2020-01-07 19:27] embruna commented on #256
[code]

[2020-01-07 19:27] embruna commented on #256
Yes, I just reinserted to the Suggests. Fingers crossed!

[2020-01-07 19:28] maelle commented on #256
Cool! I'll come back to this thread tomorrow, it's getting late here.

[2020-01-07 20:50] wlandau commented on #327
Thanks, @MKLau. We're *almost* there. The very last issue on my end is some trouble running the updated example of `keep()`.

[code]

I think it is because you are using `“` (probably unicode) and not `"` (ASCII 34) for quotes. Should be a simple fix [here](https://github.com/MKLau/Rclean/blob/1b430f0ca7590c8fad1308cddf8358b87bf6fe50/R/keep.R#L43).

[2020-01-07 22:53] MKLau commented on #327
Ah, thanks for catching that @wlandau. Must have been from a copy-paste. Will fix now!

[2020-01-07 22:58] MKLau commented on #327
Fixed and committed to master.

[2020-01-07 23:14] wlandau commented on #327
Confirmed, thanks.

You have addressed all my feedback, and  `Rclean` has come a long way in a short time. As a reviewer, I approve `Rclean` for rOpenSci. Well done, @MKLau!

[2020-01-08 12:23] annakrystalli commented on #327
Thanks for your efforts all involved! 👏

I'm currently on the mountain 🏂 on my last day of hols but will set the wheels in motion for finalisation of approval tomorrow morning when I'm back at my laptop.

Sent from my iPhone

[2020-01-08 12:25] annakrystalli commented on #282
Great work! And many apologies for dragging my heels with finishing the reviews. Will have it with you by the end of the weekend. Thanks for your patience!!

Sent from my iPhone

[2020-01-08 12:31] DomBennett commented on #282
Thanks! And no bother, I've been super slow myself.

[2020-01-08 12:39] maelle commented on #256
Approved! Thanks @embruna @aurielfournier @birderboone for submitting and @njahn82 @bmkramer for your reviews! :grin:

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer to the bottom of your README
"```
[![ropensci_

[2020-01-08 14:55] pat-s commented on #305
There is only one app left that can be actively installed. I written some sentences about this in https://github.com/ropenscilabs/tic/pull/213

Done in https://github.com/ropenscilabs/tic/pull/213

Done in https://github.com/ropenscilabs/travis/commit/a8b7ad37ad1a56fcdc34f03d542bead248decd18

I don't think that this belong into the {tic} package but rather into the {travis} package. The {tic} pack

[2020-01-08 20:15] melvidoni commented on #357
### Editor checks:

- [X] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [X] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [X] **License:** The package has a CRAN or OSI accepted license
- [X] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2020-01-08 20:18] MKLau commented on #327
Thanks @wlandau, and everyone else for the input/help!

@annakrystalli looking forward to it, but have a great rest of the holiday and get safely down off the mountain!

[2020-01-08 23:22] ldecicco-USGS commented on #344
Approved! Thanks @karinorman  for submitting and @lindsayplatt and @mcsiple  for your reviews!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I'm getting the rOpenSci folks the info get a "taxadb" repo set up here.  You'll be made admin that's set up and you accept and invitation to join a taxadb team.
- [ ] Add the rOpenSci footer to

[2020-01-09 07:24] annakrystalli commented on #327
Approved!  🥳🙌

Thanks @MKLau  for submitting and @wlandau and @nevrome for your reviews!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer to the bottom of your README
"```
[![ropensci_footer](https://ropensci.org/

[2020-01-09 08:24] maelle commented on #344
@karinorman I've invited you to the rOpensci GitHub organization. Once you've accepted it, you can [transfer the repo](https://help.github.com/en/github/administering-a-repository/transferring-a-repository9 as @ldecicco-USGS said, from the Settings tab of your repo. Once you've transferred the repo, please ping me here, so I can give you admin rights to the repo again. Thank you!

[2020-01-09 10:14] kauedesousa commented on #357
Dear @melvidoni thanks for your feedback. I've made the changes and pushed as `chirps` v0.0.5 https://github.com/agrobioinfoservices/chirps/commit/95d016fec74635290642454623f435ec6dbaa2c7

[2020-01-09 10:38] DomBennett commented on #282
Hi @annakrystalli!

As a quick update, I've updated the documentation for [om..bamm](https://github.com/DomBennett/om..bamm) plus a few other modules ([om..astral](https://github.com/DomBennett/om..astral), [om..raxml](https://github.com/DomBennett/om..raxml), [om..wikit](https://github.com/DomBennett/om..wikit), [om..pathd8](https://github.com/DomBennett/om..pathd8)).

I've also created a templat

[2020-01-09 11:57] danielskatz commented on #327
Note that this is already under review by JOSS, and that [review](https://github.com/openjournals/joss-reviews/issues/1312) has been paused while the rOpenSci has proceeded.  Once this rOpenSci process is complete, the JOSS review can restart, and should be fast.

[2020-01-09 20:32] MKLau commented on #327
Great, thanks Anna (@annakrystalli), will get on those ASAP.

Also, thanks @danielskatz for keeping the manuscript in a holding pattern. It has been greatly improved via the software review. Looking forward to getting it finished.

[2020-01-09 21:01] melvidoni commented on #357
The first reviewer is @cvitolo. I'll fix the review deadline once we have both reviewers.

[2020-01-09 21:40] stefaniebutland commented on #344
Congratulations @karinorman! Given that the subject area of taxadb is an important one for rOpenSci and our user/developer community, would you consider writing a blog post?

[2020-01-09 22:50] ldecicco-USGS commented on #344
To echo @stefaniebutland 's request...I think the development of this package would make a good blog story. Others may have different ideas about why `taxadb` is neat, but for me it was how to make a relatively complicated database accessible to users who aren't necessarily subject matter experts. The logistics of creating the local database for the fast connections are really pertinent to other r

[2020-01-10 02:57] karinorman commented on #344
@ldecicco-USGS Wonderful to hear - thank you so much for making this a smooth process, and thanks again to reviewers @lindsayplatt and @mcsiple for your feedback that greatly improved the package! I'm out of the office until next week but will go through the onboarding steps then. @stefaniebutland I would also be happy to write a blog post, thanks for the invitation!

[2020-01-10 11:26] kamapu commented on #233
Happy new year @maelle
I answer late, because I'm still working on it and was waiting to have good news for you:

1) Long code was solved by skipping some space from indentation and using `paste()` for too long messages.
2) Coverage have been also improved a bit, but I am still struggling with some issues on this regard (see questions at the end).
3) Since I have to submit a new version of `taxlis

[2020-01-10 12:44] maelle commented on #233
Thanks for the updates!

I am sorry, I've just noticed you do not use [`roxygen2`](https://roxygen2.r-lib.org/) for producing documentation, which is a [requirement before review](https://devguide.ropensci.org/building.html#documentation). I haven't done the conversion from Rd to roxygen2 myself but you might find the [rd2roxygen package]( https://yihui.org/rd2roxygen/) useful. When using roxygen2

[2020-01-10 12:55] maelle commented on #233
I'd even recommend using [Markdown formatting for roxygen2](https://roxygen2.r-lib.org/articles/rd-formatting.html#turning-on-markdown-support) so you might need to run [roxygen2md](https://roxygen2md.r-lib.org/) after Rd2roxygen. :-) (that part is not a requirement, I just think it's easier to use Markdown formatting later, but you can disagree).

[2020-01-10 13:03] kamapu commented on #233
Thank you, for your prompt answer. I just liked to announce you about the last version uploaded to master, to release me from the work, but I see, it is a never ending story...

I may have overseen the implementation of `roxygen` in the source. I have read about it but never given a try, thus again, something new for me and more time to get there...

Regarding the test on writing function, were wi

[2020-01-10 13:08] maelle commented on #233
You won't regret learning about roxygen2, for this package and future packages. :wink: It's fine if it takes time, I can imagine you're busy.

The reference file would be in the test/ folder, and the one created during test in a temporary directory. You can use the same code [as in this helper file](https://github.com/lockedata/starters/blob/master/tests/testthat/helper.R) that'll create a tempora

[2020-01-10 16:51] stefaniebutland commented on #344
Awesome :-) and thank you.
When you're back in the office Kari, please suggest a date by which you'd like to submit a draft post. Typically you submit via pull request, I review the post, and we publish one week after submission.

Instructions are here https://github.com/ropensci/roweb2#contributing-a-blog-post
and I'm happy to answer any questions.

[2020-01-10 20:19] embruna commented on #256
Hi All, a quick update:

The following have been COMPLETED
- Transfer the repo to rOpenSci's "ropensci" GitHub

-  Add the rOpenSci footer to the bottom of your README

-  Fix all links to the GitHub repo to point to the repo under the ropensci organization.

-  Fix any links in badges for CI and coverage to point to the ropensci URL.

I'm finishing the following as soon as I am done with class:

[2020-01-10 21:06] aaronwolen commented on #279
Hi, @maelle! Just wanted to let you know the [paper](https://github.com/CenterForOpenScience/osfr/blob/master/inst/paper.md) has been pushed to the repo.

[2020-01-10 21:06] stefaniebutland commented on #327
Congratulations @MKLau on passing review, and your pending JOSS publication. Would you be interested in writing a Tech Note for rOpenSci about your package? Anna suggests that it is an "interesting package that could really simplify creating reproducible examples and pairing down code to the essentials for producing a given output."

[Tech Notes](https://ropensci.org/technotes/) are written for an

[2020-01-10 21:12] stefaniebutland commented on #335
Happy new year @florianm. Leaving a note here so you can let me know (after turtles, and ruODK completion 😄) when you're ready to dig into a blog post.

[2020-01-11 20:19] iecastro opened #358 "submission: healthdatacsv"
Submitting Author Name: Ivan Castro
Submitting Author Github Handle: @iecastro
Repository:   https://github.com/iecastro/healthdatacsv
Version submitted:   0.0.1
Editor:  @karthik
Reviewers:  @czeildi, @richfitz
Due date for @czeildi: 2020-03-19
Due date for @richfitz: 2020-08-25
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Sco

[2020-01-11 20:31] embruna commented on #256
Hi @noamross and @maelle, a couple quick questions:

1) I've written some code that helps users more quickly narrow down the names to review after doing the disambiguation, but we decided not to include it in the package.  I have it on my own github [(link here)](https://github.com/embruna/refsplitr_simplify_authors_review) and point to it in the vignette. Is that ok, or should this also be transf

[2020-01-12 08:19] maelle commented on #256
1. Maybe it could become a tech note (https://ropensci.org/technotes), or a vignette in refsplitr?

2. That's up to you. :slightly_smiling_face:

3. Ok!

[2020-01-12 13:44] maelle commented on #279
@HeidiSeibold I've just realized you didn't get a chance to approve the package (the remaining box in [your review](https://github.com/ropensci/software-review/issues/279#issuecomment-458882143)) -- it's fine if you don't have time to. If you don't answer within a week I'll do a few more checks myself.

@aaronwolen

* I noticed that the docs of ?osfr don't include more info about components/folder

[2020-01-13 08:24] krlmlr commented on #305
`dsl_init()` doesn't require a `tic.R` file. In https://github.com/ropenscilabs/tic/pull/213 we have adapted the output after `dsl_init()` and macro functions such as `do_bookdown()` to include a link to a help page.

[code]

<sup>Created on 2020-01-13 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-01-13 10:37] annakrystalli commented on #282
Awesome work @DomBennett ! I really like where these packages are going. It's been  long journey so well done for sticking with it!

OK so here's the review for `outsider.devtools`. Generally only minor points, primarily on the documentation. I also realise that because `outsider.base` is not outward facing, it does not need a formal review.  So after responding to the `outsider.devtools` review p

[2020-01-13 15:41] DomBennett commented on #282
Thanks very much @annakrystalli !

I've fixed a few of your comments already will get to work on the others soon.

- [ ] gp checks
- [ ] spell checks
- [ ] drop private function help topics
- [ ] create examples for: docker_build, docker_push, git_upload, module_identities, module_skeleton, module_travis, module_upload
- [ ] clarify distinction between `pkgdetails_get` and `description_get`
- [ ]

[2020-01-13 20:29] embruna commented on #256
OK, @noamross and @maelle: refsplitr should be ready for Zendo v1.0.0

The only unexpected thing that came up was that our title (or rather, the text after the colon in `refsplitr: ---` needed to be fixed. It was inconsistent within the repo (different in readme and description) and far longer than CRAN-style.  So it is now as follows:

`refsplitr: author name disambiguation, author georeferencing

[2020-01-13 23:19] MKLau commented on #327
Thanks, @stefaniebutland, I have read a number of the Tech Notes you’ve helped to put out, and I’ve always have found them to be engaging and useful. I’m definitely interested and I’ll keep it in mind as the manuscript is in review.

[2020-01-14 09:49] nuest commented on #282
Great to see the progress here. Please let me know if there are any specific things I should take a look at again, I'm afraid looking at everything is not an option the coming weeks.

@DomBennett :+1: for endurance :100:

[2020-01-14 14:46] maelle commented on #256
I think the package isn't a company product? But I'm not a lawyer.

In any case I think you'll need to write it `'Web of Science'` in DESCRIPTION.

[2020-01-14 20:05] melvidoni commented on #357
We got a second reviewer: @jzwart
The review deadline is February 10th

[2020-01-14 20:23] embruna commented on #256
Submitted to JOSS, and Zenodo archived as v0.9.0 with doi 10.5281/zenodo.3608285. Once the JOSS review is complete and I can include the details in the paper.rm file. At that point I'll freeze v1.0.   A minor thing, and maybe unnecessary. But I wanted 1.0 to be a complete package with no details to be filled in.

[2020-01-14 22:05] iecastro commented on #358
Hi all: did a small update to include a COC, and a basic use vignette.

[2020-01-15 09:11] maelle commented on #256
Ok! I don't see the submission at https://joss.theoj.org/papers yet.

[2020-01-15 09:53] HeidiSeibold commented on #279
Thanks @maelle. I am really busy this week unfortunately. :sunflower:

[2020-01-15 11:40] annakrystalli commented on #305
Hello @pat-s and @krlmlr,

Thanks for all your work! I feel all my comments have been addressed apart from the following:

Because this environmental variable needs to be set for `tic` to work,  it should also be mentioned in `tic` documentation. It's ok to just mention that it is required in the `tic` help file and getting started vignette and link to the `travis` vignette for more details if you

[2020-01-15 13:40] aaronwolen commented on #279
Thanks, @maelle! I added in the missing bib file and I'm working on updating the docs. Thanks for the Rmd fragment tip!

[2020-01-15 14:16] embruna commented on #256
Yes, still listed as "pending"...I'll check on it periodically throughout the day.

[2020-01-15 14:45] DomBennett commented on #282
Thanks @nuest !

@annakrystalli I've gone through my checklist and made all the requested changes (I hope!). Notable updates are:

* Now using reexports as suggested, see https://antonellilab.github.io/outsider.devtools/reference/reexports.html
* Added a lot more Docker context and have become a lot more careful about wording, e.g. see https://antonellilab.github.io/outsider.devtools/articles/basi

[2020-01-15 16:03] krlmlr commented on #305
Thanks. I've added links to the relevant documentation for setup of environment variables to the `?use_tic` help page in https://github.com/ropenscilabs/tic/pull/213/commits/1bc46995dd26de5459e29e1650ff582a0e095108. I agree that this is out of scope for the package but we should provide helpful links. This form will be picked up by pkgdown's autolinker -- users of the pkgdown website will see a di

[2020-01-15 16:33] annakrystalli commented on #305
Approved! 🥳

Thanks @krlmlr & @pat-s  for submitting and @ldecicco-USGS & @maxheld83 for your reviews! 😸

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer to the bottom of your README
"```
[![ropensci_footer](https

[2020-01-15 16:47] annakrystalli commented on #282
Approved! 🥳

Thank you @DomBennett for submitting (and going on this epic review and development journey!) and @nuest and @hrbrmstr for your reviews! 🙌

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Add the rOpenSci footer to the botto

[2020-01-15 21:07] pat-s commented on #305
@annakrystalli Thanks a lot for your patience and your awesome review.

Just transferred the repo and assigned it to team "tic".

[2020-01-16 07:34] florianm commented on #335
Update:
* Fixed https://github.com/dbca-wa/ruODK/issues/40 for attachments
* Hotlinking attachments is not yet possible (after discussion with ODK devs)
* All issues I see as critical are fixed
* ruODK has been extensively used in anger, looks robust enough now

I'll address the review comments here shortly.

[2020-01-16 07:41] DomBennett commented on #282
Huzzah!

Thanks so much @annakrystalli!

Also big thanks to @nuest and @hrbrmstr!

Is it OK to add you all as "rev" in the R package DESCRIPTION?

[2020-01-16 09:46] annakrystalli commented on #305
Great, thanks @pat-s !

It looks like you and @krlmlr still have full admin rights so I think we're all done here and I can close the issue.

I also think it would be great to announce the package to the rOpenSci community so do consider writing a blogpost/technical note if you have time/the inclination ☺️. Just let @stefaniebutland know if you are interested.

[2020-01-16 09:46] #305 closed

[2020-01-16 09:55] annakrystalli commented on #282
Hey @DomBennett, thanks for transferring the repos over, I've returned full admin rights back to you.

Just double-checking with the editors team whether all will live in rOpenSci. In the meantime, could you briefly explain what the `outsider-testsuite` repo is/contains? Is it user facing?

[2020-01-16 10:02] DomBennett commented on #282
Thanks!

`outsider-testsuite` is not user facing. In the review one of the suggestions was to have a demonstrated pipeline of how multiple modules could be stringed together to test the overall `outsider` "universe".

Currently, there is only 1 functioning test suite for a phylogenetic pipeline. I do invite people to contribute their own suites (but now i'm now sure where I wrote that..... 😕)

(It

[2020-01-16 10:15] annakrystalli commented on #282
OK great, thanks for the clarification. I'll get right back to you.

[2020-01-16 12:35] maelle commented on #256
I've just checked again. Please ping me if you see it appear. :wink:

[2020-01-16 12:42] maelle commented on #279
@HeidiSeibold Thanks, no problem, I'll re-read your review after @aaronwolen updates the docs.

@aaronwolen I'm using Rmd fragments in codemetar dev branch and really liking them. Feel free to comment on their use at https://github.com/ropensci/dev_guide/issues/159

[2020-01-16 15:39] annakrystalli commented on #282
OK! I've heard back and all is good. All 4 repos are fine in rOpenSci and as part of the `outsider` team. Just make sure (which currently you have) that the peer-reviewed badge is only on the two packages.

I'm pretty much ready to close the issue once you confirm all the approval checklist items have been tackled. 😃

[2020-01-16 16:01] annakrystalli commented on #282
I'm happy to go on as a reviewer :)

[2020-01-17 18:46] karinorman commented on #344
@stefaniebutland Would Jan 31st be good?

[2020-01-17 19:08] stefaniebutland commented on #344
Yes!!

[2020-01-18 00:42] emmamendelsohn commented on #347
Hi @MohammedFCIS! Nice job with the updates--the package feels much more polished. I think the new function names work well.

I like that you shortened the README and made a separate tutorial. I'm submitting a PR with a few suggested changes to the README text. Feel free to use or discard as you wish :)

I have just a few comments on this second review. Let me know if you need any clarification.

[2020-01-18 01:03] sckott commented on #341
Sorry for the delay! Preparing responses to reviewers now ...

[2020-01-18 01:19] sckott commented on #341
some clarification questions on some of the issues raised for the reviewers:

@brunj7 :

Do you mean "latter"? former would be `geographic coordinates`, correct?

Maybe? I'm a bit of a c++ noob, so if someone wants to help me do that i'm happy to do so. Is your main problem with it the extra dependency? performance? something else? Issue opened: https://github.com/ropenscilabs/parzer/issues/17

@m

[2020-01-18 18:17] MohammedFCIS commented on #347
Hello @emmamendelsohn ,
As usual I am enjoying your notes and your contribution is very welcome and appreciated of course :).
I have created issues with your notes here https://github.com/Dainanahan/dbparser/labels/ropensci and I will work on it immediately.
I just need clarifications about these two points:
* Show options to save data in your functions (e.g., drug(save_csv=TRUE)) ==> Show it wher

[2020-01-20 00:36] emmamendelsohn commented on #347
- Yes, a very minor suggestion: you may want to mention in the tutorial that the user has the option to set `save_csv=TRUE` in the parse functions.
- Hmm, this may actually be beyond your control? When I view the tutorial, all the functions are hyperlinks. Clicking on `drug()` takes me to this link, which is not found: https://rdrr.io/cran/dbparser/man/drug.html. I'm guessing it has to do with the

[2020-01-20 04:23] MohammedFCIS commented on #347
Thank you @emmamendelsohn for clarifications.
For the links point, I think you are right it is out of my hand. What I am using are the references from package site here https://dainanahan.github.io/dbparser/reference/index.html and https://dainanahan.github.io/dbparser/reference/drug.html

[2020-01-20 07:54] pat-s commented on #356
{tic} is done - ready when you are :)

[2020-01-20 16:04] llrs opened #359 "Submission: BaseSet"
Submitting Author: Lluís (@llrs)
Repository:   [llrs/BaseSet](https://github.com/llrs/BaseSet)
Version submitted:   0.0.10
Editor: @annakrystalli
Reviewer 1: @arendsee
Reviewer 2: @j23414
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ro

[2020-01-20 16:34] stefaniebutland commented on #295
Excellent! Here are the instructions for submitting a post: https://github.com/ropensci/roweb2#contributing-a-blog-post

Once submitted, I will review and set a publication date. Please set date as 2020-02-04 for now.

Happy to answer any questions.

[2020-01-20 17:57] aaronwolen commented on #279
Hi @maelle, I think I've addressed the remaining issues. Here's a quick summary of recent changes:

* added in this missing bibliography
* merged your PR to fix those 2 typos in the paper (Thanks!)
* vignette has been overhauled and now utilizes the multi-file upload/download features that were added after the original vignette was written
* vignette now includes information about projects/compone

[2020-01-21 07:12] maelle commented on #279
Approved, the changes look good! Thanks @aaronwolen  for submitting and @HeidiSeibold @cboettig  for your reviews! :smiley_cat:

To-dos:
- [ ] (Suggestion) In http://centerforopenscience.github.io/osfr/articles/auth.html#using-your-pat you could add more links, e.g. to https://rstats.wtf/r-startup.html, https://usethis.r-lib.org/reference/edit.html.
- [ ] Merge dev into master.
- [ ] Transfer the

[2020-01-21 07:13] maelle commented on #279
The process took just less than one year, pfiew! :wink:

[2020-01-21 10:26] richelbilderbeek opened #360 "Submission: mcbette"
Submitting Author: Richel Bilderbeek (@richelbilderbeek)
Repository: https://github.com/richelbilderbeek/mcbette
Version submitted: 1.8.2
Editor: @maelle
Reviewer 1: @vbaliga
Reviewer 2: @bjoelle
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](ht

[2020-01-21 13:27] noamross commented on #356
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2020-01-21 16:37] aaronwolen commented on #279
@maelle, COS has okayed transferring the repo but it will have to be handled by the admin for their organization. Could you add @mfraezz to the ropensci team so he can make the move?

[2020-01-21 17:58] maelle commented on #279
Thanks, done!

Once the repo is transferred so that I might give both of you admin rights again (note that my timezone is UTC+1).

[2020-01-21 18:11] mfraezz commented on #279
Repo successfully transferred, @maelle - https://github.com/ropensci/osfr

[2020-01-21 18:12] aaronwolen commented on #279
Thanks, @mfraezz!

[2020-01-21 18:21] maelle commented on #279
@mfraezz thanks! I don't see you as collaborator of the repo but I gave admin rights to @aaronwolen.

[2020-01-21 18:49] mfraezz commented on #279
I'm an owner of the CenterForOpenScience organization, so it was implicit before. I'd recommend updating the repo description to include the new GH pages url, https://ropensci.github.io/osfr/ , but otherwise have no real need for access.

[2020-01-21 19:08] aaronwolen commented on #279
@cboettig and @HeidiSeibold, any objections to being listed as reviewers in the package `DESCRIPTION`?

[2020-01-21 23:11] cboettig commented on #279
fine by me!

[2020-01-21 23:37] KlausVigo opened #361 "phyloregion"
Submitting Author: Klaus Schliep (@KlausVigo)
Repository:
https://github.com/darunabas/phyloregion
---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below

[2020-01-22 06:03] MohammedFCIS commented on #347
Hello @emmamendelsohn ,
I finished your notes, kindly check here https://github.com/Dainanahan/dbparser/labels/ropensci.
Thank you.

[2020-01-22 08:14] HeidiSeibold commented on #279
I'd be honored :)

[2020-01-22 08:38] pat-s commented on #356
Hi Noam,

thanks for taking this on!

Tests are running on a test repo which is cloned during testing.
Since the repo lives in my account, other users won't have permissions to start/cancel builds.
We will also have to skip all tests on CRAN since there is no way I can set the API keys there.
The API keys are stored on the CI providers securely, so tests will run there for everyone.
We could poten

[2020-01-22 19:03] maelle commented on #256
Paper accepted at JOSS 🎉 so closing this issue.

[2020-01-22 19:03] #256 closed

[2020-01-22 20:19] sckott commented on #341
cc @anadiedrichs

[2020-01-23 10:01] annakrystalli commented on #359
Hi @llrs! 👋

I'll be the editor handling your review. I'm starting the inital editors' checks shortly. Will check back in when they are done.  😊

[2020-01-23 15:30] DomBennett commented on #282
Now published: https://joss.theoj.org/papers/10.21105/joss.02038#

I've removed @nuest and @hrbrmstr as "rev" in the DESCRIPTION file for now just to get things moving along. Happy to add you at a later date, of course!

Thanks again to you all for making this happen!

[2020-01-23 19:05] karinorman commented on #344
@lindsayplatt and @mcsiple, do you mind being acknowledged as our reviewers?

[2020-01-24 08:39] cvitolo commented on #357
Hello @kauedesousa!

This is a very useful package, I work in the field of weather forecasting and I greatly appreciate tools that provide an interface to data services. I found your package easy to use and well documented. All your hard work made my review very easy, thanks and great job!

I have some suggestions, which I listed below, I hope you find them useful :)

## Package Review

*Please ch

[2020-01-24 12:27] maelle commented on #361
Thanks @KlausVigo for your submission! However, we think it is out-of-scope, because it's foremost a methodological package despite the functions doing the "speedy conversion" of raw data.

We hope you'll find another venue for your work! (Maybe Methods in Ecology and Evolution?)

[2020-01-24 12:27] #361 closed

[2020-01-24 12:32] maelle commented on #329
@RaoulWolf, you can ask any question reg testing on https://discuss.ropensci.org :-)

[2020-01-24 15:22] sckott commented on #330
@mpadge are we all set? anything left to do?

[2020-01-24 15:45] mpadge commented on #330
Yeah, I still have to do the `paper.md` for JOSS. I've been waiting for some empirical results from a currently-running study, but that's not forthcoming, so I'll write an alternative one instead. I'll let you know as soon as that's ready, and then I think we'll be done. Hopefully in just a few days time.

[2020-01-24 16:48] lindsayplatt commented on #344
👍 don't mind one bit!

[2020-01-24 17:53] noamross commented on #356
Hi @pat-s, I don't think this is a great solution, because this means that a contributor or reviewer can't test the package, and if they do only pushing and having the PR run for you then you need to expose your extended-permission GITHUB_TOKEN (very insecure!) to all. I get that you will need to skip these on CRAN, but I'd much prefer that there be a full developer workflow. This should hopefully

[2020-01-24 18:50] lmullen commented on #358
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly

---

#### Editor comments

Thanks for your sub

[2020-01-24 18:52] lmullen commented on #358
One other thing: while the package is undergoing peer review, could you please add the peer review badge? You can do this by running `rodeo::use_review_badge(358)`.

[2020-01-24 19:52] pat-s commented on #356
I don't see why anything should be exposed. The token is stored as a secure env var in the build and nothing will be exposed when a PR is run.

I see the advantage of being able to run the tests locally.
However, maybe your are overlooking the following: Even if an API key is set, the reviewers would need my API key to make API calls to `pat-s/travis-testthat` to start/cancel build.

Even when set

[2020-01-25 14:49] maelle commented on #360
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2020-01-25 14:50] maelle commented on #360
You can now add a review badge [`rodev::use_review_badge(360)`](https://docs.ropensci.org/rodev/reference/use_review_badge.html).

[2020-01-25 22:39] annakrystalli commented on #282
Great news on the JOSS publication. As for reviewer acknowledgement, that seems fair enough. Reviewers just ping in this issue if you would like to be officially acknowledged.

Going to close the issue and officially conclude the review. Great work again!

[2020-01-25 22:40] #282 closed

[2020-01-26 14:21] maelle commented on #360
I forgot a question: why are there expectations in examples? Can't these cases & expectations live in tests?

[2020-01-26 14:29] maelle commented on #360
Reviewer 1: @vbaliga (thanks for agreeing to review!). I'll add a deadline once the second reviewer is assigned.

[2020-01-27 14:43] richelbilderbeek commented on #360
Thanks @maelle for the first wave of feedback :+1:

 * [ ] Will do [here](https://github.com/richelbilderbeek/mcbette/issues/18)

I have thought about about it, but I felt it not worth the effort to put another CI in place. Usually I add an AppVeyor build to check on Windows, but because `mcbette` cannot work on Windows (due to BEAST2), I skipped the AppVeyor build (although I could add a trivial

[2020-01-27 14:47] maelle commented on #360
Thank you!

No need to add a trivial Appveyor build. :-)

Yes I think it might make sense to contact BEAST2 developers because their website is probably the first place an user would look for an R package? (second being a search engine, which would probably uncover your packages).

Yes let's put this on hold until 2020/02/09 (@vbaliga, thanks for your understanding, sorry for contacting you too so

[2020-01-27 14:49] richelbilderbeek commented on #360
Thanks @maelle :+1:

[2020-01-27 17:48] noamross commented on #356
A very large number of our packages are actually API clients; **circle**'s case is only a little different from several others. At a minimum we need a functioning test suite so that tests can pass locally and then later with rOpenSci's automatic checks.  But there are a number of ways to accomplish this.

- Split tests into those that run with and without certain tokens available, and selectively

[2020-01-28 02:59] SidharthMacherla opened #364 "presubmission : R package conjurer"
Submitting Author: Name (@SidharthMacherla)
Repository:   https://github.com/SidharthMacherla/conjurer

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box

[2020-01-28 05:54] florianm commented on #335
@maelle @karissawhiting @jmt2080ad thanks for your patience and the excellent reviews!

I've addressed all comments, added some more features, tested ruODK in production over the last few months and believe we're ready for the next step.

Answers to your comments below! I've linked to the GH issues for brevity.

# Reviewer comments Karissa Whiting

## Build

The vignettes now build from canned dat

[2020-01-28 07:05] maelle commented on #335
Thanks @florianm!

@karissawhiting @jmt2080ad Do @florianm's answers satisfy you?

[2020-01-28 10:35] maelle commented on #360
Second reviewer @bjoelle (thank you!) - after 2020/02/09

[2020-01-28 12:21] iecastro commented on #358
Thank you @lmullen - I've started addressing your comments.

[2020-01-28 13:07] SwampThingPaul opened #365 "presubmission: Does EPGMr package fit?"
Submitting Author: Paul Julian (@SwampThingPaul)
Repository:   https://github.com/SwampThingPaul/EPGMr

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box

[2020-01-28 17:08] annakrystalli commented on #359
Hello again @llrs!

Thanks for your patience with the editors checks. I've been traveling but I've also been having some issues with the checks which I'm having to seek some help with.  Will be with you shortly, if not with the full checks, at least with those that I am able to perform successfully.

[2020-01-29 05:18] annakrystalli commented on #359
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2020-01-29 09:15] llrs commented on #359
Many thanks for your review @annakrystalli

- Installation problems: Oh, sorry on travis and my computer I didn't had these installation problems. I would follow the BiocViews solution, but usually the easier solution might be to use `BiocManager::install("llrs/BaseSet")`. Lately there has been some problems with the Bioconductor binaries for Windows related to BiocStyle (Some of your problems mig

[2020-01-29 13:05] maelle commented on #365
Thanks for your presubmission @SwampThingPaul! As it is a methodological package (a re-write of a tool providing an ecological model), it is out-of-scope. Rewriting the Excel tool in R is a great effort nonetheless! We hope you find another venue for it (maybe [JOSS(https://joss.theoj.org/)?).

[2020-01-29 13:05] #365 closed

[2020-01-29 13:08] maelle commented on #364
Thanks for your submission @SidharthMacherla! However, packages with statistical algorithms/methods (like the creation of data with a given distribution) are out-of-scope. We hope you find another venue for your package.

[2020-01-29 13:08] #364 closed

[2020-01-29 22:07] annakrystalli commented on #359
Hello again @llrs,

Aha, it seems I have been trying to install the package the wrong way all this time, by using `devtools::use_github()` as I normally do for editors checks when I should be using `BiocManager::install()`

However, when I try to install using `BiocManager::install("llrs/BaseSet", dependencies = TRUE, build_vignettes = TRUE)` I still get the same errors for a couple of suggested b

[2020-01-29 22:48] jonkeane opened #366 "dittodb"
Submitting Author: Jonathan Keane (@jonkeane)
Repository:   http://github.com/jonkeane/dittodb

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

[2020-01-30 04:28] MohammedFCIS commented on #347
Hello @emmamendelsohn , @haozhu233 and @noamross,
Is there any thing still required from me regarding this request? Thank you so much :)

[2020-01-30 08:40] llrs commented on #359
Some of this errors might be due to a failed built on Bioconductor, they recently made some changes on the checks performed on packages. Could you please post the error you got?

On travis I am only testing on bioc-devel, but on my computer I am using R 3.6.1 with Bioconductor 3.10 and it builds successfully. I'm not sure this difference is the source of the problems you found. However, I'll add t

[2020-01-30 18:25] annakrystalli commented on #359
So the errors I am getting are the same as I was previously with using `devtools::install_github()`, namely, any missing bioconductor packages that need installing from source are missing. I've deleted package `GO.db` from my system and so now,  the vignette that loads it is failing. Here's a condensed error output:

[code]

[code]

The reason this would not fail on your system is because you alre

[2020-01-31 14:45] emmamendelsohn commented on #347
Thanks for the reminder, @MohammedFCIS. I reviewed your responses to my comments and everything looks good. I just submitted a PR with some edits to the database vignette. @noamross it would be helpful if you could give the vignette a read-through as well.

[2020-01-31 14:53] geanders commented on #281
@DillonHammill : I am putting the "holding" tag on this submission for the moment, as that will help our editorial team as they keep track of where all the packages are in the review process. We'll change this back as soon as you're ready to resubmit.

[2020-01-31 14:54] geanders commented on #309
@h21k: I wanted to check and see if you will still be able to review this package?

[2020-01-31 15:48] noamross commented on #347
I'm trying to get in touch with our second reviewer.  If I don't hear from him I will go through on his behalf.

[2020-01-31 17:45] uyedaj opened #367 "Submission: treedata.table"
Submitting Author: Josef C Uyeda (@uyedaj)
Repository:  https://github.com/uyedaj/treedata.table
Version submitted:   0.1.0
Editor: @jooolia
Reviewer 1: @Bisaloo
Reviewer 2: @karinorman
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://rope

[2020-02-01 12:03] llrs commented on #359
I've updated the package as requested on your initial review.

However, I think that the configuration for .travis.yaml that better matches CRAN is using bioc-release. Because otherwise it doesn't install the Bioconductor packages. I hope that with the new instructions to install the Bioconductor packages reviewers and users will be able to install all of its dependencies.

[2020-02-01 13:04] pat-s commented on #356
Thank Noam, lots of good resources and pointers in there.
It might take me a while to come up with a test suite that fulfills all these requirements.

I see the point even though it means a lot of work. Knowing this before might have scared me away even but now I'm in it ;)

Happy to wait for reviews until I implemented a more proper testing suite.

[2020-02-01 21:35] haozhu233 commented on #347
Hi, all, sorry for being a little late on getting back on this. I had been quite busy recently.

@MohammedFCIS I was actually amazed by the amount of updates you made since I reviewed it last time. Right now this package looks very polished and I would say the software interface looks very clean right now and very user friendly! Impressive!

After reviewing this new version several times, I only h

[2020-02-02 09:00] MohammedFCIS commented on #347
Thank you so much @haozhu233 for your feedback :).  It is only due to your and @emmamendelsohn  very useful notes ;).
I have fixed your note here https://github.com/Dainanahan/dbparser/issues/85
Best Regards,

[2020-02-02 11:33] kamapu commented on #233
Dear @maelle
I managed to "roxygenize" the package. You are right, it makes a lot of sense to implement it, though it has been also very helpful to have the experience doing documentation by hand.
What is next? :)

[2020-02-02 13:13] maelle commented on #233
Awesome, congrats! I too first learned to write docs by hand but am not sure I wouldn't have preferred to be shown roxygen2 first 😁

A remaining point was "Insert comparison with taxa in README", have you made progress on that?

[2020-02-02 17:12] richelbilderbeek commented on #360
@maelle: the JOSS paper is ready for review, but I still need some time (say, another weekend) to fix the other points you've mentioned.

[2020-02-03 06:35] brunj7 commented on #341
Hi @sckott

Thank you for addressing my comments!

To clarify my comment on the short description, I was suggesting to use: "parzer parses messy **geographic** coordinates". I think it helps to set the scope (vs coordinates alone)

Re: Rccp dependancies -- my comment was motivated by the fact that when I was playing around and reinstalling the package several times at some point the install failed

[2020-02-03 10:15] kamapu commented on #233
I tried but using a different approach then the one suggested:
1) The first paragraph in the chapter **Similar Packages** summarizes the differences between `taxlist` and `taxa` with a link to the detailed discussion.
2) I also inserted two chapters called **Rmarkdown Integration** and **Descriptive Statistics** that do not directly mention `taxa` but attempt to highlight special features of `taxl

[2020-02-03 11:37] maelle commented on #360
Great, thanks for the update!

[2020-02-03 12:34] maelle commented on #233
Thank you. I'm not sure it's sufficient to answer the question "how would an R user with a taxonomy problem at hand know how to choose one of the two packages?", especially as it'd demand a potential user to read and digest information from a GitHub issue thread. We were especially hoping both packages would have the same summary/info in their README. @sckott @zachary-foster could you please comme

[2020-02-03 12:51] noamross commented on #356
To clarify, @pat-s, we _do_ need a test suite that passes locally in order to assign to reviewers, though they may have feedback on completeness or setup.

[2020-02-03 16:28] stefaniebutland commented on #344
Hi @karinorman. Will you be able to submit a draft blog post this week?
Happy to answer any questions.

[2020-02-03 16:58] jmt2080ad commented on #335
I was able to take a look at these responses and they seem to address my comments. I would like to take one last look at the code over this next week and to give a more affirmative confirmation.

[2020-02-03 17:21] qdread opened #368 "Presubmission inquiry: rslurm package"
Submitting Author: Quentin Read (@qdread)
Repository:  https://github.com/sesync-ci/rslurm/

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

	-

[2020-02-03 21:30] mcsiple commented on #344
Eek so sorry for the delay. I don't mind being acknowledged either!

[2020-02-03 21:40] karinorman commented on #344
@stefaniebutland Sorry for the lack of update! I got hit with a nasty virus last week and wasn't quite able to finish it up. Look for it in the next couple days!

[2020-02-03 22:30] stefaniebutland commented on #344
Ack! No pressure from over here @karinorman. Get well soon and submit when you're ready

[2020-02-04 00:40] sckott commented on #341
thanks @brunj7

- Okay, i will fix that language to **geographic coordinates**
- Rcpp: okay, thanks for the explanation. there may be something with the Makevars file that I need to fix or so, i'll ask about that

[2020-02-04 11:09] annakrystalli commented on #359
Hi @llrs,

Sorry, I probably didn't make myself clear enough. For sure you should be testing on `bioc-release` (perhaps on `bioc-devel` also). What I was suggesting is that you run a matrix of jobs that include testing on `r-release` and including any manual setup code during the build to both test that any awkward dependencies required for a reviewer/collaborator to work with the source code loca

[2020-02-04 11:40] llrs commented on #359
Well, my impression was that CI should mimic the steps done on CRAN, not for the users. The steps are different, given that CRAN installs Bioconductor packages to be able to build packages which depend on Bioconductor.
That's why I modified the .travis.yml to only test on bioc-release, which is also what users need in order to install BaseSet. But it makes sense also to test the specific steps tha

[2020-02-04 11:50] zachary-foster commented on #233
I am not really sure to be honest. Its been a bit since I tried out `taxlist`. I might have to revisit it to answer that. @kamapu can correct me if I am wrong, but perhaps the main difference is that `taxa` is targeted towards developers that want to make an R package that uses taxonomic data, but does not want to make classes and manipulation functions from scratch. `taxa` is like `tibble` + `dpl

[2020-02-04 12:09] maelle commented on #279
@aaronwolen now that you've submitted the package to JOSS I think the only missing item from my list is your adding a codemeta.json to the repo (via `codemetar::write_codemeta()`, I recommend the dev version `remotes::install_github("ropensci/codemetar", ref = "dev")`).

[2020-02-04 14:53] aaronwolen commented on #279
Thanks, @maelle! Just added the missing `codemeta.json` to master. Meanwhile, I'm waiting to hear back from CRAN 🤞.

[2020-02-04 14:57] maelle commented on #279
:eyes: https://lockedata.github.io/cransays/articles/dashboard.html

[2020-02-04 14:58] aaronwolen commented on #279
Yes! ❤️ it! I discovered it last week week and try _really_ hard not to check it daily.

[2020-02-04 20:22] noamross commented on #347
Thank you @emmamendelsohn and @haozhu233 for your responses.  I am doing final editor checks and have a an issue on the database vignette / `open_db()` function and documentation.  The function is hard-coded for either SQLite or an _ODBC_ database, but this isn't clear in the vignette, which only refers to "DBI-compliant" databases.  While this could be fixed by documentation, I think it would be

[2020-02-05 14:21] kauedesousa commented on #357
Dear @cvitolo thank you so much for your comments and suggestions. It helped a lot! We have worked in incorporating the comments to *chirps* v0.0.6 https://github.com/agrobioinfoservices/chirps. Here we have included a point-to-point response to your comments:

# general comments

The file README.Rmd was removed

The sf polygon is exported as 'tapajos', the sf POINT object is not necessary and can

[2020-02-06 08:53] mpadge commented on #330
Okay @sckott, thanks for your patience, and now all done I think, including just updating the last check item in the initial list to enable [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3647922.svg)](https://doi.org/10.5281/zenodo.3647922). Good to go?

[2020-02-06 16:47] sckott commented on #330
yes, good to go!

[2020-02-06 18:58] #172 closed

[2020-02-06 20:37] anadiedrichs commented on #341
Thanks, Scott @sckott for addressing the reviewers' comments.
I've ping @mvickm so she can answer your concerns.
Thanks, @brunj7 for your review.

[2020-02-08 13:51] iecastro commented on #358
- I couldn't find these, but will keep in mind

[2020-02-09 07:54] maelle commented on #368
Thanks @qdread for your pre-submission inquiry! The slurmR package has a [comparison table](https://uscbiostats.github.io/slurmR/index.html#vs) that seems to indicate it has more functionality than rslurm. Can you comment a bit on the differences? Thank you!

[2020-02-09 14:24] qdread commented on #368
I think the functionality overlaps for the most part. rslurm now has functions corresponding to mapply() and lapply(), so I think it should also be listed as "yes" for the apply family (column 2 in the table). However they are correct that rslurm does not support restarting individual tasks that terminated with errors (column 1), nor does it support creating multinode clusters on Slurm so that fun

[2020-02-09 14:34] richelbilderbeek commented on #360
@maelle: I've worked on some of the points you've mentioned, but have not been able to complete them all yet. Will probably fix before Sunday February 16th 23:59, or at least give another update :+1;

[2020-02-09 22:00] maurolepore commented on #366
@jonkeane,

Thanks a lot for your submission! I'm excited to be the editor.

Before I do editor checks, I have two questions to follow up on some information that @maelle passed me:

1. Do you plan to rename the package?
2. Do you plan to add a vignette?

[2020-02-10 09:25] annakrystalli commented on #359
Hello again @llrs 👋

I'm still looking for reviewers currently. I had a potential reviewer respond recently that sadly they did not currently have time at the moment but they also made the following comment:

I generally agree with the comment and was imagining it would be picked up during review but I now think it's probably best to deal with it now as it might be making it difficult to find revi

[2020-02-10 11:41] llrs commented on #359
Hi @annakrystalli,

Thanks for sending the feedback, I appreciate it. I've edited both the DESCRIPTION and the README. Hope this way it will be easier to get reviewers.

[2020-02-10 14:55] qdread commented on #368
Following up on my previous answer here are two other points:

* rslurm has been on CRAN for several years and has a good proven record of usage in the community. It is downloaded a few hundred times a month and users are continually providing feedback and issues that have improved the package. I'm not sure whether slurmR has gotten tested or used by that many users.
* The comparison table on the

[2020-02-10 15:24] mvickm commented on #341
HI @sckott ! When I said "ambivalent", I was reffering about the naming of the variables. I mean, for the users  maybe could be a little confused using the same name. But I saw you have changed the name and add the prefix _pz. So for me is resolved, Thanks for consider the comments.

[2020-02-10 20:34] melvidoni commented on #357
Hello @jzwart! Could you submit your review for this package?

[2020-02-10 21:11] sckott commented on #341
thanks @mvickm for the clarification

@anadiedrichs I need to address some wording changes from @brunj7 comments, and then I will have addressed all comments - will let you know when that's done

[2020-02-10 23:04] MKLau commented on #327
Hi @annakrystalli, Almost done with the transfer to ROS and edits on the JOSS manuscript. Github has been throwing a slow Unicorn! message whenever I try and create a pull request now that Rclean has moved to ROpenSci. Will try again tomorrow to merge the new changes that have updates to Travis and Codecov.

A couple questions:

- There is a message at https://docs.ropensci.org/rodev/reference/add

[2020-02-10 23:14] jonkeane commented on #366
Hello! Thanks for the message. Yes, I'm planning to change the name (though not 100% determine on to what just yet) and I will be adding one more vignette that gives a getting started / overview of the package. I will let you know when both of those are done (I'm hoping this week or so)

[2020-02-11 14:24] jzwart commented on #357
Yes, I'm sorry for the delay but is it possible to get a week extension until Feb. 17 to submit my review?

[2020-02-11 15:10] annakrystalli commented on #327
Hello @MKLau ! I've just transferred full admin rights back to you so you should have full control of the repo again.

The paper looks good to me! I wonder if you should show loading the library? Otherwised I reckon it's good to go.

And yes well spotted, please ignore initial instruction to `add_ro_desc()`

[2020-02-11 19:08] MKLau commented on #327
Thanks for looking over the paper, @annakrystalli . I'll go ahead and add a line showing library("Rclean").

One more question, how do I enable Zenodo watching? I don't see it when I access Zenodo. Should I have done this prior to transferring the repo to ROpenSci?

Also, I keep getting a long loading time page.

![image](https://user-images.githubusercontent.com/5342857/74269680-d85eea00-4cd7-11e

[2020-02-11 20:03] melvidoni commented on #357
Hello @jzwart yes, go ahead. But please, do not delay more than that!
Is that ok, @kauedesousa ?

[2020-02-11 20:08] kauedesousa commented on #357
Hi @melvidoni and @jzwart, yes it is ok for me.

[2020-02-12 08:55] maelle commented on #367
:wave: @uyedaj! Thanks for your submission and sorry for the delay. I'll assign an editor to this submission shortly, who'll get started on the editor checks next week at the latest.

[2020-02-12 11:40] richelbilderbeek commented on #360
Just a quick update: done everything, except that I am struggling with [some goodpractice issues](https://github.com/richelbilderbeek/mcbette/issues/22#issuecomment-585164030).

 * I did add a AppVeyor/Windows build, just to be sure the package can build under Windows.
 * I added a `README.Rmd` as requested. It's a cool and useful feature!
 * JOSS paper is ready for review

Will post when having s

[2020-02-12 20:09] MKLau commented on #327
@annakrystalli

- I'm still getting this slow loading message when I try to setup a pull request, so I just bypassed it and did a manual merge and push.
- Also, looks as though my previous Zenodo setup automatically switched from MKLau to ROpenSci. So, good to go.

I'm going to go ahead and send to JOSS. Let me know if you get a chance to look at the pull request initiation from your end though.

[2020-02-13 16:35] maelle commented on #360
thanks for the update!

[2020-02-13 18:25] annakrystalli commented on #327
Hi @MKLau, just looking into the pull request issues you're having. I've managed to make a successful PR (not merged). https://github.com/ropensci/Rclean/pull/201

When and where exactly are you getting the slow unicorn message?

[2020-02-13 20:12] MKLau commented on #327
Ah, looks like it's resolved now! I can see your pull request.

It was throwing the slow unicorn every time I tried to go to view the pull request. Maybe it had something to do with the transfer from my personal profile to the ROS org.

[2020-02-13 20:55] annakrystalli commented on #327
Good to hear it's all working now! I take it you are in the process of completing with JOSS too right? I'm going to go ahead and close this issue now.

[2020-02-13 20:55] #327 closed

[2020-02-13 22:07] MKLau commented on #327
@annakrystalli yes it's now underway (again). Thanks again for all your help!

[2020-02-14 05:38] jonkeane commented on #366
Ok, I've renamed the package (and changed the github repo name, pkgdown site, etc.) the new name is `dittodb` and it's at https://github.com/jonkeane/dittodb

I've finished up a relatively comprehensive getting started vignette https://dittodb.jonkeane.com/articles/getting-started.html

So this should be good to go.

[2020-02-14 13:58] MohammedFCIS commented on #347
Thank you @noamross so much for your valuable note. It inspired me to change a lot actually. Please find the fix in that issue https://github.com/Dainanahan/dbparser/issues/87.
I have updated both the code, documentation and tutorial.
@haozhu233, @emmamendelsohn please feel free to review this update as well.
Thank you all for your time and valuable input.

[2020-02-14 14:49] anadiedrichs commented on #341
ACK @sckott

[2020-02-14 14:57] llrs commented on #359
@annakrystalli I've been experimenting with [macOS builders](https://github.com/llrs/BaseSet/runs/445681741) and using `BiocManager::install('llrs/BaseSet', dependencies = TRUE, build_vignettes = TRUE)` it could install BaseSet and all its dependencies from Bioconductor without problems.
The test was on Catalina OS, CRAN checks the packages with El Captain, and you are using Mojave version. I'm no

[2020-02-14 22:30] sckott commented on #341
@anadiedrichs Okay, I've fixed the last thing raise about the wording "geographic coordinates". All done on my end

[2020-02-15 16:00] maurolepore commented on #366
### Editor checks:

- [ ] **Fit**: The package meets[^1] criteria[^2] for [fit](policies.md#fit) and [overlap](policies.md#fit)[^3]
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may b

[2020-02-15 17:14] pachamaltese commented on #366
@maelle At the risk of sounding like Mr. Peanutbutter, Mauro has collaborated with us at the R4DS spanish translation and I only find him to be a very nice person, he even understood when I couldn't take the plane to Buenos Aires for the RUG meetup there, but that can be a conflict of interest.

[2020-02-15 17:18] jonkeane commented on #366
Hello, thank you for the detailed notes. Here are my responses to the above questions:

[^2]
2.1 and 2.2 I'm not sure that these are directed at me. If they are, let me know and I will address them.

2.3 This benefits scientist by providing them with a tool that makes it easy(er) to test code they write that interacts with databases. Connecting with and interacting with databases is core to many w

[2020-02-16 22:40] jmt2080ad commented on #335
`ru_datetime` still parses fields by sub-string. My concern here is that running `ru_datetime` will try to parse columns that have matching sub-strings but are not date/time. I understand this is a convenience function and works for particular cases. I'll leave it up to you to decide if the convenience outweighs the risk of inadvertently converting fields like in the example below.

[code]

In you

[2020-02-17 03:16] florianm commented on #335
Thanks for the detailed feedback @jmt2080ad!

## ru_datetime field names
The "golden path" of accessing data from ODK Central uses the OData API.
`odata_submission_get()` with default param `parse = TRUE` does the right thing here- it [parses the `form_schema` for date and datetime fields](https://github.com/dbca-wa/ruODK/blob/master/R/odata_submission_get.R#L247). Here we won't need to touch `ru_

[2020-02-17 20:21] cboettig commented on #344
@maelle Should this thread now be closed?  Also, not sure why the 'peer reviewed' badge is showing up as 'status unknown?' https://badges.ropensci.org/344_status.svg

[2020-02-17 20:23] melvidoni commented on #357
Hello @jzwart is everything okay?

[2020-02-17 20:34] jzwart commented on #357
Yes I'm currently working on review.

[2020-02-17 22:08] jzwart commented on #357
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2020-02-18 00:54] noamross commented on #347
Thank you, @MohammedFCIS, for the update.  The package is approved! Thanks for submitting and @emmamendelsohn and @haozhu233 for your reviews!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Fix all links to the GitHub repo to point to

[2020-02-18 14:12] jzwart commented on #357
The data call request seems to be working this morning, I'll finish my review and update my comment above

[2020-02-18 14:18] kauedesousa commented on #357
Hi @jzwart I was informed by the developers of ClimateSERV that they are doing some improvement in the server. I just tried using both `chirps` and browser and it is still down for me right now. Let me know if you manage to review the package.

Otherwise what should we do @melvidoni ?

[2020-02-18 14:23] jzwart commented on #357
Thanks @kauedesousa , `get_chirps` _was_ working for me a couple mins ago (but now down when I tried again). I'll try to finish the rest of the review now.

[2020-02-18 15:07] jzwart commented on #357
@kauedesousa and @melvidoni, I've updated my review above. Although I couldn't finish all instances of the tests, I'm confident that they'd work if the server was working. I just have some comments on improvements for debugging and description of best uses / limitations for the package.

[2020-02-18 16:31] maelle commented on #344
The badges server seems to have problems at the moment but yep this should be closed for the badge to become green I think.

[2020-02-18 16:31] #344 closed

[2020-02-18 18:32] MohammedFCIS commented on #347
Hi @noamross . Thank you for the great news, I transferred the repo and waiting to be admin on it to continue the remaining steps. Thank you

[2020-02-18 18:36] noamross commented on #347
You should be all set.

[2020-02-18 18:37] MohammedFCIS commented on #347
Thanks a lot @noamross :)

[2020-02-19 16:31] MohammedFCIS commented on #347
Hi @noamross, the following ToDo list is finished.
- [x] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo. I have invited you to a team that should allow you to do so. You'll be made admin once you do.
- [x] Fix all links to the GitHub repo to point to the repo under the ropensci organization.
 If you already had a pkgdown website, fix its URL to point t

[2020-02-19 16:56] noamross commented on #347
Great work!

[2020-02-19 16:56] #347 closed

[2020-02-19 19:59] jooolia commented on #367
Hi @uyedaj!
Thanks for the submission and for your work on this package. I will be your editor for this submission. I have done a few of the initial editor checks.

### Editor checks:

- [X] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [X] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [ ] **L

[2020-02-19 22:24] annakrystalli commented on #366
Dear @maurolepore ,

Thank you for bringing to our attention a potential conflict of interest. We've discussed and concluded is it best to address the COI so if you're happy the editors checks are complete, I'll take over from here and start looking for reviewer. We really appreciate your offer to guest edit so we'd be really happy if you consider handling another submission when it comes up?

Hi

[2020-02-20 01:43] maurolepore commented on #366
Thanks @annakrystalli. Yes, I look forward to handling another submission whenever it comes up.

[2020-02-20 16:33] LingshuHu commented on #349
Dear Maëlle,

I hope all is well. I would just like to check the status of our paper. Is there any further information that we could provide or any improvement that we can make? Thank you!

Regards,
Lingshu

[2020-02-21 05:14] florianm commented on #335
For `ru_datetime` I think we have a workable solution now - could I solicit your opinions?
See https://github.com/dbca-wa/ruODK/issues/54 for details - after a complete refactor of submission parsing, `ru_datetime` is only called internally, and superceded by new helpers `handle_ru_{datetimes, attachments, geopoints}` as shown in vignettes. These are driven by the form schema definition, so they w

[2020-02-21 16:40] noamross commented on #349
Dear @LingshuHu, sorry this took a while to come back to.  In  the end we consulted with some bioethics and social media researchers and came up with a new Ethics and Privacy policy. You can preview it [here](https://5e50069c44685354d62e37aa--determined-hamilton-b43444.netlify.com/policies.html#ethics-data-privacy-and-human-subjects-research) and comment [here](https://github.com/ropensci/dev_guid

[2020-02-21 16:44] noamross commented on #349
Based on this approach, here are my thoughts on the healthforum package: It clearly accesses generates personally identifiable and sensitive data.  Looking at all the relevant ToC/privacy/etc on the site, the normative expectations of privacy are quite ambiguous.  I think any research using the package would require a form of informed consent or a evaluation of such expectation, be it discussion w

[2020-02-23 17:32] richelbilderbeek commented on #360
Just a quick update: nearly there, just waiting for the Travis CI and AppVeyor builds to finish, but this will take until tomorrow (I've queued quite some). I will update when I did the last tiny tidbits :+1:

[2020-02-24 10:17] mcguinlu opened #369 "Presubmission inquiry: medrxivr"
Submitting Author: Luke McGuinness (@mcguinlu)
Repository: https://github.com/mcguinlu/medrxivr

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

[2020-02-24 15:57] mkearney commented on #349
@noamross:

I believe the healthforum package only has access to screen names. So to clarify: is the policy of ropensci that **all 'user names' are considered to be personally identifiable data**?

The [GDPR defines personal data](https://gdpr-info.eu/art-4-gdpr/) as

I think the above paragraph *could* be interpreted that way, but my understanding is that an **online identifier** counts as *perso

[2020-02-24 16:12] qdread commented on #368
Hi and sorry for pestering, but I was curious whether submitting the package is OK based on the response I gave to the request for more comment. Thanks!!!

[2020-02-24 17:11] maelle commented on #368
Thanks for commenting and sorry for the misunderstanding: I'm actually waiting for your discussion with slurmR authors (to update their comparison table) before taking a new look.

[2020-02-24 17:52] qdread commented on #368
The author of slurmR already updated the comparison table, which I think is now more or less correct.

[2020-02-24 21:07] noamross commented on #349
I responded over at https://github.com/ropensci/dev_guide/pull/251/ so as to consolidate conversation.

[2020-02-25 11:18] richelbilderbeek commented on #360
Still to do:

 * [ ] contact BEAST2 developers
 * [ ] fix [noise in Travis logs](https://travis-ci.org/richelbilderbeek/mcbette/jobs/654811595#L1186) generated by goodpractice

[2020-02-25 12:24] maelle commented on #368
Thanks, we're discussing.

[2020-02-25 14:21] annakrystalli commented on #369
Hello @mcguinlu and many thanks for your presubmission enquiry!

In general, we would consider the package in scope. However, there are  couple of questions we'd like a bit more info on:

1. Where are the data snapshot stored?
2. Are the medRxiv website maintainers aware of the package's use of their data? Especially given the data snapshot uses web scraping and seems undocumented. We would need c

[2020-02-26 09:53] kauedesousa commented on #357
Hi @melvidoni I am a bit busy at work and I think I will not be able to send a revised version of `chirps` before March-10. Is that ok?

[2020-02-26 15:24] lmullen commented on #358
Thanks to our reviewers for agreeing to take on the peer review of this package.

Reviewer: @czeildi
Reviewer: @cksun-usc
Due date: 2020-03-19

You can find details about how to do the review in the [reviewers' guide](https://devguide.ropensci.org/reviewerguide.html).

[2020-02-26 17:07] sckott commented on #341
@anadiedrichs Anything else I should do?

[2020-02-26 17:38] stefaniebutland commented on #327
Congratulations on your JOSS publication @MKLau. We would love to have a technote about Rclean as noted above

We now have more detailed guidance: https://blogguide.ropensci.org/

If you're interested, please suggest a date for submission and I can provide a publication date.

[2020-02-26 20:16] melvidoni commented on #357
Hello @kauedesousa. That is perfectly fine, take your time. Please advise if you are going to need more time, so I can apply the correct labels.

[2020-02-27 16:07] maelle commented on #368
Thanks for providing more information.
 
 As per [our current policies](https://devguide.ropensci.org/policies.html#aims-and-scope), in particular [about overlap](https://devguide.ropensci.org/policies.html#overlap),
 
- more downloads isn't a criterion;
 
- broader functionality would be a criterion but slurmR has more functionality than rslurm;
 
- regarding usability and performance, we don't t

[2020-02-27 16:07] #368 closed

[2020-02-28 17:24] brunj7 commented on #341
Thanks @sckott for the great package and for implementing my last suggestion. @anadiedrichs I realized I had not updated my "Review comment" above by checking the approval box. I just fixed this.

[2020-03-01 14:54] kenarab opened #371 "RSQL"
Submitting Author: Alejandro Baranek (@kenarab)  Leonardo Belen (@leobelen)
Repository:  https://github.com/rOpenStats/RSQL
Version submitted:   0.1.2
Editor:  TBD
Reviewers:  TBD

Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.

[2020-03-01 18:02] anadiedrichs commented on #341
Please @mvickm add the following text in your review and check the box if you considered that the package has your final approval.

**********************************
#### Final approval (post-review)

- [ ] **The author has responded to my review and made changes to my satisfaction. I recommend approving this package.**

***********************************

[2020-03-01 20:02] mvickm commented on #341
@anadiedrichs  hi Ana! I already corrected the line in my review comment

[2020-03-02 02:18] anadiedrichs commented on #341
Approved! Thanks, @sckott for submitting and @brunj7 and  @mvickm  for your reviews! :1st_place_medal:

To-dos:
- [x] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.
- [ ] Add the rOpenSci footer to the bottom of your README
"```
[![ropensci_footer](https://ropensci.org/public_images/ropensci_footer.png)](https://ropensci.org)```"
- [ ] Fix all links t

[2020-03-02 15:56] mcguinlu commented on #369
Hi @annakrystalli, thanks for getting back to me, and for your inital comments!

Great to hear that the pacakge is provisionally in scope - I've provided responses to the four queries you raised below:

1. The snapshot is currently stored as a CSV file in the same repository as the webscraping script (see [here](https://github.com/mcguinlu/autosynthesis/blob/master/data/medRxiv_abstract_list.csv))

[2020-03-02 16:13] annakrystalli commented on #369
Thanks for the clarifications @mcguinlu !

Great and yes, I imagine they will be fine with it. They even be able to provide better access to the data rather than crawling their site.

Depending on the size of the files, I wonder if using [pins](http://pins.rstudio.com/articles/use-cases.html) might be a good solution for this problem. You could also consider getting feedback by posting on [rOpenSc

[2020-03-02 17:48] wrightaprilm commented on #367
Hey team, I have some free time to tackle this tomorrow! I'll push these changes and post an update here then. Thanks @jooolia for getting back with us!

[2020-03-03 00:12] MKLau commented on #327
Hi @stefaniebutland, yes, we would be interested in publishing a technote with an announcement of the package. I am currently in a grant writing period but would be able to write something up next week. Would that time frame work?

[2020-03-03 00:23] stefaniebutland commented on #327
Yes it would thank you. Please submit when you're ready using tentative publication date 2020-03-17.

cc @ropensci/blog-editors

[2020-03-03 14:52] MKLau commented on #327
@stefaniebutland

Great, sounds good.

[2020-03-03 20:03] akoontz11 opened #373 "Submission: SymbiotaR2"
Submitting Author: Austin Koontz (@akoontz11 )
Repository: https://github.com/pearselab/SymbiotaR2
Version submitted: 0.0.1
Editor: @noamross
Reviewers: @bpbond, @sckott
Due date for @bpbond: 2020-06-25
Due date for @sckott: 2020-08-31
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categ

[2020-03-03 20:04] akoontz11 commented on #373
Tagging @willpearse as a contributing author of this package as well.

[2020-03-03 23:21] sckott commented on #341
Thanks very much @anadiedrichs for your work - and thanks to the reviewers @brunj7 and @mvickm

I've done all of those things:
- transferred from ropenscilabs to ropensci
- added ropensci footer image
- fixed all links
- the docs page is still the ropenscilabs page, but i imagine that will update soon
- added the review mention in DESCRIPTION
- no badge links broken as far as I know
- already have

[2020-03-04 00:11] stefaniebutland commented on #341
🤔 ... yes please!
When do you think you'd have it ready - I can advise on publication date.

[2020-03-04 00:28] sckott commented on #341
want to get on cran first. Getting it past cran could take a few days or who knows, maybe months, years even (months is possible).

[2020-03-04 01:05] mvickm commented on #341
Hi @sckott ! I'm glad you've done all the process and was a honour for me be a reviewer. My name is Maria Victoria Munafó and my GitHub profile is @mvickm.

[2020-03-04 16:35] sckott commented on #341
@mvickm thanks, added

[2020-03-05 02:11] anadiedrichs commented on #341
I did one last check. All looks good to me. :+1:
Anything left to do?

[2020-03-05 11:23] annakrystalli commented on #371
Hello @kenarab and many thanks for your submission.

We have been discussing the packages and, given the variety of packages that perform similar functionality to yours, we are finding it difficult to decide whether it would be considered best in class because of the very minimal documentation.

Although you mention it has additional features to `dbplyr` in your submission, it is not clear from th

[2020-03-05 15:40] kenarab commented on #371
Hi @annakrystalli

We didn't find a similar package, if you know a package which can automatically generate SQL code using R code is really wellcome. dbplyr is focused in analysing data from a DB so it is focused on dplyr grammar and generates SELECTS statements. RSQL generates SELECT but, INSERT, UPDATES and DELETES. The expresiveness is limited yet but can be expanded with some work.

We will ex

[2020-03-05 15:42] kenarab commented on #371
@annakrystalli, Can we include co-author @leobelen in this thread, please? Maybe he be included if I only mention him. I will not answer in any case.

[2020-03-05 16:13] annakrystalli commented on #371
Thanks for the response @kenarab ! I'm confident that with more detailed documentation, it will be clear that the package is within scope. Look forward to seeing more of what the package can do 🙂

And yes @leobelen should be getting notifications of this thread because you tagged him in thhe initial comment but happy to tag in every comment too if you prefer?

[2020-03-05 17:05] sckott commented on #341
not that I can think of

[2020-03-05 19:41] CamiloCarneiro opened #374 "eneRgetics"
Submitting Author: Name (@CamiloCarneiro)
Repository:   https://github.com/CamiloCarneiro/eneRgetics

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box be

[2020-03-05 19:44] annakrystalli commented on #374
Hi @CamiloCarneiro ! Thanks for your submission. Could you please a link to the package's GitHub repository?

[2020-03-05 19:46] CamiloCarneiro commented on #374
Hi. Sure. Here it is: https://github.com/CamiloCarneiro/eneRgetics

[2020-03-07 16:11] czeildi commented on #358
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2020-03-07 17:50] jmt2080ad commented on #335
Ok, this is looking really good. The handlers are using the form schema, which is great.

## Concerning the handler functions and the functions they handle

I think your idea of dropping the default argument for `col_contains` makes sense. Also, do you see any reason for `ru_datetime` or `isodt_to_local` to be exported now that they are only used internally?

I see that there are a few places in t

[2020-03-08 12:53] richelbilderbeek commented on #360
As far as I can see, the review is ready to roll :shipit: !

Regarding the goodpractice Issue, I've posted [a bug report at the goodpractice repo](https://github.com/MangoTheCat/goodpractice/issues/139). I hope this will allow this review to get started :rocket:

[2020-03-09 08:29] maelle commented on #360
Thanks @richelbilderbeek!

@vbaliga @bjoelle I've set the review deadline to 2020-03-30. As a reminder, here's the [reviewer guide](https://devguide.ropensci.org/reviewerguide.html).

[2020-03-09 08:31] #279 closed

[2020-03-09 13:13] iecastro commented on #358
Thanks @czeildi!  I appreciate the feedback and will start addressing individual items soon.

[2020-03-10 20:06] wrightaprilm commented on #367
I think between my commit (7764ef2) and Scott's edit of the initial PR, we should have all these notes handled!

[2020-03-13 06:46] jooolia commented on #367
Thanks @wrightaprilm!  I will have a look tomorrow. Cheers, Julia

[2020-03-13 17:00] MKLau commented on #327
Hi @stefaniebutland,

Just finished with proof reading and spellcheck of the technote. You can find it here: https://github.com/ropensci/Rclean/blob/technote/ropensci/rclean_technote.md

The associated Rmd file is in the same directory on that branch too, if you need to have a look.

I’ve written it as an expanded version of the JOSS article, with a bit more discussion of a few details. Happy to h

[2020-03-13 19:45] steffilazerte commented on #327
Hi @MKLau, I've been chatting with @stefaniebutland and we were thinking that your article looks a bit more like a blog post than a technote (particularly the section talking about the Provenance Engine). This is great!

To get this published, I invite you to submit it as a pull request to the `roweb2` repository.
You can see the full instructions for setting it up in `roweb2` in the [Blog Guide](

[2020-03-13 20:05] MKLau commented on #327
Hi @steffilazerte, thanks for enlisting to review! Happy to go either way. If this seems more like a blog post to you two, I'm fine with that. I'll read up on roweb2 and I'll aim to submit before Monday morning.

[2020-03-13 22:45] noamross commented on #373
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](policies.md#fit) and [overlap](policies.md#fit)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The repository link resolves correctly
- [ ] **Archive** (JOSS only, may be post-revie

[2020-03-14 02:01] willpearse commented on #373
Brilliant, thank you Dr Ross! If it's OK with you, can we wait until after
the reviews are back in to address your `sapply` and documentation
suggestions? I imagine there will be other comments and it might be easier
to address everything at once.

[2020-03-14 09:36] annakrystalli commented on #369
Hey @mcguinlu,

Was just wondering whether there were any updates on your contact with the medRxiv maintainers? I'm going to then close the issue after that.

Also, regarding your data caching challenge,  you might like to have a look at how the developers of [`ramlegacy`](https://github.com/ropensci/ramlegacy) approached it.

[2020-03-17 03:02] noamross commented on #374
⚠️⚠️⚠️⚠️⚠️

***In the interest of reducing load on reviewers and editors as we manage the
COVID-19 crisis, rOpenSci is temporarily pausing new submissions for software peer review
for 30 days (and possibly longer). Please check back here again after 17 April
for updates.***

***In this period new submissions will not be handled, nor new reviewers assigned.
Reviews and responses to reviews will be

[2020-03-17 03:02] noamross commented on #373
⚠️⚠️⚠️⚠️⚠️

***In the interest of reducing load on reviewers and editors as we manage the
COVID-19 crisis, rOpenSci is temporarily pausing new submissions for software peer review
for 30 days (and possibly longer). Please check back here again after 17 April
for updates.***

***In this period new submissions will not be handled, nor new reviewers assigned.
Reviews and responses to reviews will be

[2020-03-17 03:02] noamross commented on #371
⚠️⚠️⚠️⚠️⚠️

***In the interest of reducing load on reviewers and editors as we manage the
COVID-19 crisis, rOpenSci is temporarily pausing new submissions for software peer review
for 30 days (and possibly longer). Please check back here again after 17 April
for updates.***

***In this period new submissions will not be handled, nor new reviewers assigned.
Reviews and responses to reviews will be

[2020-03-17 03:03] noamross commented on #369
⚠️⚠️⚠️⚠️⚠️

***In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci is temporarily pausing new submissions for software peer review for 30 days (and possibly longer). Please check back here again after 17 April for updates.***

***In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be

[2020-03-17 03:04] noamross commented on #367
⚠️⚠️⚠️⚠️⚠️

***In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci is temporarily pausing new submissions for software peer review for 30 days (and possibly longer). Please check back here again after 17 April for updates.***

***In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be

[2020-03-17 03:04] noamross commented on #366
⚠️⚠️⚠️⚠️⚠️

***In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci is temporarily pausing new submissions for software peer review for 30 days (and possibly longer). Please check back here again after 17 April for updates.***

***In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be

[2020-03-17 03:04] noamross commented on #360
⚠️⚠️⚠️⚠️⚠️

***In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci is temporarily pausing new submissions for software peer review for 30 days (and possibly longer). Please check back here again after 17 April for updates.***

***In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be

[2020-03-17 03:04] noamross commented on #359
⚠️⚠️⚠️⚠️⚠️

***In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci is temporarily pausing new submissions for software peer review for 30 days (and possibly longer). Please check back here again after 17 April for updates.***

***In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be

[2020-03-17 03:05] noamross commented on #358
⚠️⚠️⚠️⚠️⚠️

***In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci is temporarily pausing new submissions for software peer review for 30 days (and possibly longer). Please check back here again after 17 April for updates.***

***In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be

[2020-03-17 03:05] noamross commented on #357
⚠️⚠️⚠️⚠️⚠️

***In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci is temporarily pausing new submissions for software peer review for 30 days (and possibly longer). Please check back here again after 17 April for updates.***

***In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be

[2020-03-17 03:06] noamross commented on #356
⚠️⚠️⚠️⚠️⚠️

***In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci is temporarily pausing new submissions for software peer review for 30 days (and possibly longer). Please check back here again after 17 April for updates.***

***In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be

[2020-03-17 03:06] noamross commented on #349
⚠️⚠️⚠️⚠️⚠️

***In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci is temporarily pausing new submissions for software peer review for 30 days (and possibly longer). Please check back here again after 17 April for updates.***

***In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be

[2020-03-17 03:06] noamross commented on #349
⚠️⚠️⚠️⚠️⚠️

***In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci is temporarily pausing new submissions for software peer review for 30 days (and possibly longer). Please check back here again after 17 April for updates.***

***In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be

[2020-03-17 03:07] noamross commented on #329
⚠️⚠️⚠️⚠️⚠️

***In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci is temporarily pausing new submissions for software peer review for 30 days (and possibly longer). Please check back here again after 17 April for updates.***

***In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be

[2020-03-17 03:07] noamross commented on #233
⚠️⚠️⚠️⚠️⚠️

***In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci is temporarily pausing new submissions for software peer review for 30 days (and possibly longer). Please check back here again after 17 April for updates.***

***In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be

[2020-03-17 03:08] noamross commented on #281
⚠️⚠️⚠️⚠️⚠️

***In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci is temporarily pausing new submissions for software peer review for 30 days (and possibly longer). Please check back here again after 17 April for updates.***

***In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be

[2020-03-17 03:08] noamross commented on #309
⚠️⚠️⚠️⚠️⚠️

***In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci is temporarily pausing new submissions for software peer review for 30 days (and possibly longer). Please check back here again after 17 April for updates.***

***In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be

[2020-03-17 03:08] noamross commented on #335
⚠️⚠️⚠️⚠️⚠️

***In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci is temporarily pausing new submissions for software peer review for 30 days (and possibly longer). Please check back here again after 17 April for updates.***

***In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be

[2020-03-17 06:49] kenarab commented on #371
It is great for me.
I´m putting effort this days working on COVID-19 trying to give clues from
international data to Southamerican outbreak, which is starting. There is
no hurry with RSQL process.

I´m building curated series from JHU for making estimations.
https://github.com/rOpenStats/COVID19

Maybe it is useful for you.

Best, Ale.

On Tue, Mar 17, 2020 at 12:03 AM Noam Ross <notifications@git

[2020-03-17 09:32] annakrystalli commented on #374
Dear @CamiloCarneiro,

Thanks again for your submission. We have been discussing whether the package is in scope and have concluded that unfortunately it is not for the following reasons:

- The package has been submitted under data retrieval
- The main innovation as we see it is retrieval of the tide data. However, the world tides API is a paid service and calls to it are costed. Users seem to ge

[2020-03-17 18:34] #374 closed

[2020-03-17 18:34] #369 closed

[2020-03-17 19:25] CamiloCarneiro commented on #374
Dear @annakrystalli,

Thank you for your time to assess the package and for the advice to improve it. Much appreciated.

Best regards.

[2020-03-17 22:13] bjoelle commented on #360
Installing `mcbette` isn't working for me due to issues with `rJava` (macOS 10.14.6).
The CRAN version of `rJava` is looking for a specific JDK which isn't the one on my machine. Compiling the package from source (following instructions here [https://zhiyzuo.github.io/installation-rJava/]) appeared to work, but running any function crashes the R console.

[2020-03-18 09:23] annakrystalli commented on #366
Good news! We now have both reviewers! 🥳

Thanks for agreeing to review @etiennebr and @helenmiller16 🙏

As a result of or COVID19 measures, I have set the deadline for 30 days. However, this is open to revision if for any reason anyone struggles with time and needs an extension. If so, just let me know either here or privately.

***
Reviewer: @etiennebr
Reviewer: @helenmiller16
Due date: 2020-04-

[2020-03-18 09:46] richelbilderbeek commented on #360
I have observed that getting `rJava` to work is the hardest nut to crack. `mcbette` does build on MacOS on Travis CI, but well, that ain't your local computer :+1:

[2020-03-18 13:51] jonkeane commented on #366
Thanks for gathering the reviewers and all of your work on this @annakrystalli

[2020-03-18 15:49] bjoelle commented on #360
@richelbilderbeek I got it working on the cluster on Linux, so I will be able to review `mcbette` after all

[2020-03-19 14:15] mpadge commented on #330
@khondula @potterzot Thank you both so much for your very constructive input into the package, which has finally been officially onboarded and transferred to rOpenSci. I'd appreciate it if you'd both be so kind as to consent to being added as reviewers in the package DESCRIPTION file - just a :+1: will do the job, or just let me know if you'd rather not. @sckott Other than that, most of the above

[2020-03-20 13:02] mpadge commented on #330
@sckott Thanks for all of the much appreciated editorial assistance with this package. I'm very excited that it's finally crossed the threshold over to rOpenSci. Here's you checklist of items again to explicitly confirm that I've attended to all points:

- [x] *link to the COC from the README*
- [x] *on check, there's a package size warning on my macos that it's 5.2 mb, maybe compressing some imag

[2020-03-20 14:27] potterzot commented on #330
Sorry I didn't respond, very happy to have my name included, and
congratulations!

On Thu, Mar 19, 2020, 07:15 mark padgham <notifications@github.com> wrote:

[2020-03-20 15:08] sckott commented on #330
Yes!

Get the JOSS submission done when you can (after they open back up)

@stefaniebutland i think this package would make a nice blog post. how should mark proceed?

[2020-03-20 16:08] bjoelle commented on #360
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Docume

[2020-03-20 16:40] stefaniebutland commented on #330
Sounds good. @mpadge please see our new [rOpenSci Blog Guidelines for Authors and Editors](https://blogguide.ropensci.org/) for updated instructions for a blog post or tech note.

[2020-03-24 17:56] etiennebr commented on #366
Thanks @annakrystalli. I look forward to reviewing this package and despite that my agenda is scrambled, at this point, I think that I can review dittodb before April 18.

[2020-03-25 08:36] annakrystalli commented on #366
Thanks @etiennebr. As I mentioned, if you have any problem at all, just let me know.

[2020-03-25 13:46] jonkeane commented on #366
Likewise, I'm available if you have any questions or need any help with anything!

[2020-03-25 13:53] pachamaltese commented on #366
same :)
—————

*Mauricio Vargas Sepúlveda 帕夏*
Do you like Data Science? visit pacha.hk
你爱科学数据专吗？你走pacha.hk

On Wed, Mar 25, 2020 at 10:46 AM Jonathan Keane <notifications@github.com>
wrote:

[2020-03-25 16:03] helenmiller16 commented on #366
Hi everyone, just checking in -- Apr 18 is fine for me as well. Looking forward to doing the review and working with all of you on this :)

[2020-04-17 02:26] etiennebr commented on #366
## Package Review

- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly

[2020-04-17 04:16] helenmiller16 commented on #366
Hi, here is my review! I guess @etiennebr beat me by just 2 hours!

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](#coi) for me to review this work (If you are unsure whether you are in conflict, plea

[2020-04-17 13:48] jonkeane commented on #366
Thank you both for these really comprehensive reviews. I've read through them and both have a number of suggestions and places for improvement that will improve `dittodb` a lot and I learned a few things as well (I didn't know that `.Deprecated()` existed  🤯).
I will read through these in more detail and create issues/start working on those issues for all of the suggestions and changes or respond

[2020-04-18 06:39] annakrystalli commented on #366
Welcome back everyone and thank you for your punctuality and thorough reviews @etiennebr and @helenmiller16 !  I'll leave it with you @jonkeane.

[2020-04-20 09:50] kamapu commented on #233
@maelle I managed to produce a new version of `taxlist`, which may consider all tasks requested for its submission to **ROpenSci**.

- [x] Package documentation written with `roxygen2`.
- [x] Test suite implemented with `covr` and coverage icreased to over 90%.
- [x] Functions `taxlist2taxmap()` and `taxmap2taxlist()` developed for the exchange of objects with `taxa`.
- [x] A list of hints guiding

[2020-04-22 14:11] stitam commented on #329
Thank you @RaoulWolf for your work on chemspiderapi! I am one of the maintainers of webchem. I would like to note that since 2019 September webchem can also access the new ChemSpider web service (https://github.com/ropensci/webchem/issues/149), so I think there might be a package overlap issue (https://devguide.ropensci.org/policies.html#overlap). We would be very happy if this could be resolved,

[2020-04-23 12:52] maelle commented on #233
Thanks @kamapu, it looks great, but I'll hold off looking for reviewers now as we extended the pause mentioned earlier until at least May the 7th. Thanks for your understanding!

[2020-04-24 20:30] kamapu commented on #233
@maelle  Should I "freeze" the master branch or can I still do changes?

[2020-04-25 03:54] maelle commented on #233
You can still do changes, just don't decrease the code coverage now that it's so good 😉 We'll update threads when we are back to normal operation.

[2020-04-27 10:33] llrs commented on #359
About the installation problems there have been a discussion about problems installing packages from source and from binaries. See these messages from Bioc-devel mailing list: https://stat.ethz.ch/pipermail/bioc-devel/2020-April/016689.html

Just for future references

[2020-05-07 23:13] jonkeane commented on #366
Hello everyone!

First, let me say thank you again for these thoughtful comments, they have spurred a lot of improvement and I think that `dittodb` is in much better shape because of them. I tried to make Github issues for each of the comments that needed addressing (https://github.com/jonkeane/dittodb/issues?q=is%3Aissue+label%3A%22ropensci+reviewer+comments%22+) if you are curious exactly how I

[2020-05-15 18:27] etiennebr commented on #366
Thanks @jonkeane for these responses and changes! I'll try the new features in the next few weeks for sure.

[2020-05-17 10:50] annakrystalli commented on #366
Thanks for keeping this review ticking over. Let us know what you think once you've had a chance to look at the changes @etiennebr.

Look forward to @helenmiller16 's response but note that technically reviews are still paused so no rush.

[2020-05-19 07:51] annakrystalli commented on #373
⚠️⚠️⚠️⚠️⚠️
In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci new submissions for software peer review are paused.

In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be handled on a 'best effort' basis, but no follow-up reminders will be sent.
Other rOpenSci community activities co

[2020-05-19 07:51] annakrystalli commented on #371
⚠️⚠️⚠️⚠️⚠️
In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci new submissions for software peer review are paused.

In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be handled on a 'best effort' basis, but no follow-up reminders will be sent.
Other rOpenSci community activities co

[2020-05-19 07:51] annakrystalli commented on #367
⚠️⚠️⚠️⚠️⚠️
In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci new submissions for software peer review are paused.

In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be handled on a 'best effort' basis, but no follow-up reminders will be sent.
Other rOpenSci community activities co

[2020-05-19 07:51] annakrystalli commented on #366
⚠️⚠️⚠️⚠️⚠️
In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci new submissions for software peer review are paused.

In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be handled on a 'best effort' basis, but no follow-up reminders will be sent.
Other rOpenSci community activities co

[2020-05-19 07:52] annakrystalli commented on #360
⚠️⚠️⚠️⚠️⚠️
In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci new submissions for software peer review are paused.

In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be handled on a 'best effort' basis, but no follow-up reminders will be sent.
Other rOpenSci community activities co

[2020-05-19 07:52] annakrystalli commented on #359
⚠️⚠️⚠️⚠️⚠️
In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci new submissions for software peer review are paused.

In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be handled on a 'best effort' basis, but no follow-up reminders will be sent.
Other rOpenSci community activities co

[2020-05-19 07:53] annakrystalli commented on #358
⚠️⚠️⚠️⚠️⚠️
In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci new submissions for software peer review are paused.

In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be handled on a 'best effort' basis, but no follow-up reminders will be sent.
Other rOpenSci community activities co

[2020-05-19 07:53] annakrystalli commented on #357
⚠️⚠️⚠️⚠️⚠️
In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci new submissions for software peer review are paused.

In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be handled on a 'best effort' basis, but no follow-up reminders will be sent.
Other rOpenSci community activities co

[2020-05-19 07:53] annakrystalli commented on #356
⚠️⚠️⚠️⚠️⚠️
In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci new submissions for software peer review are paused.

In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be handled on a 'best effort' basis, but no follow-up reminders will be sent.
Other rOpenSci community activities co

[2020-05-19 07:53] annakrystalli commented on #349
⚠️⚠️⚠️⚠️⚠️
In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci new submissions for software peer review are paused.

In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be handled on a 'best effort' basis, but no follow-up reminders will be sent.
Other rOpenSci community activities co

[2020-05-19 07:54] annakrystalli commented on #341
⚠️⚠️⚠️⚠️⚠️
In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci new submissions for software peer review are paused.

In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be handled on a 'best effort' basis, but no follow-up reminders will be sent.
Other rOpenSci community activities co

[2020-05-19 07:54] annakrystalli commented on #335
⚠️⚠️⚠️⚠️⚠️
In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci new submissions for software peer review are paused.

In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be handled on a 'best effort' basis, but no follow-up reminders will be sent.
Other rOpenSci community activities co

[2020-05-19 07:55] annakrystalli commented on #329
⚠️⚠️⚠️⚠️⚠️
In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci new submissions for software peer review are paused.

In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be handled on a 'best effort' basis, but no follow-up reminders will be sent.
Other rOpenSci community activities co

[2020-05-19 07:55] annakrystalli commented on #309
⚠️⚠️⚠️⚠️⚠️
In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci new submissions for software peer review are paused.

In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be handled on a 'best effort' basis, but no follow-up reminders will be sent.
Other rOpenSci community activities co

[2020-05-19 07:55] annakrystalli commented on #330
⚠️⚠️⚠️⚠️⚠️
In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci new submissions for software peer review are paused.

In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be handled on a 'best effort' basis, but no follow-up reminders will be sent.
Other rOpenSci community activities co

[2020-05-19 07:55] annakrystalli commented on #309
⚠️⚠️⚠️⚠️⚠️
In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci new submissions for software peer review are paused.

In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be handled on a 'best effort' basis, but no follow-up reminders will be sent.
Other rOpenSci community activities co

[2020-05-19 07:56] annakrystalli commented on #233
⚠️⚠️⚠️⚠️⚠️
In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci new submissions for software peer review are paused.

In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be handled on a 'best effort' basis, but no follow-up reminders will be sent.
Other rOpenSci community activities co

[2020-05-19 07:56] annakrystalli commented on #281
⚠️⚠️⚠️⚠️⚠️
In the interest of reducing load on reviewers and editors as we manage the COVID-19 crisis, rOpenSci new submissions for software peer review are paused.

In this period new submissions will not be handled, nor new reviewers assigned. Reviews and responses to reviews will be handled on a 'best effort' basis, but no follow-up reminders will be sent.
Other rOpenSci community activities co

[2020-05-23 12:05] kauedesousa commented on #357
Dear all, I hope you are doing fine during this crisis. We managed to address the comments from our reviewers and hereby we submit the revised version of **chirps** in its version 0.0.8. We understand the message bellow in pausing the review processes. This is just to place our revised version for your consideration when it becomes possible.

All the best

# general comments

Is the present date.

[2020-05-23 20:26] vbaliga commented on #360
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revie

[2020-05-24 07:54] richelbilderbeek commented on #360
Dear @bjoelle and @vbaliga, thanks so much for the detailed reviews and the time you put into this!

@maelle: I assume I can get now started :rocket:. I'll regularily post updates here :+1:

[2020-05-24 16:48] richelbilderbeek commented on #360
Processing feedback [here](https://github.com/richelbilderbeek/mcbette/issues/30).

[2020-05-25 07:01] maelle commented on #360
Thanks @richelbilderbeek, yes!

Thanks @vbaliga & @bjoelle for your reviews! :smile_cat:

[2020-05-25 07:05] maelle commented on #233
@kamapu we're back! Anything I should know (features planned or other things you want to tackle before review) before I start looking for reviewers?

[2020-05-25 07:06] maelle commented on #335
We're back!

@florianm can you please provide an update here on work needed on your side / on what the reviewers should have a look at for being able to check "**The author has responded to my review and made changes to my satisfaction. I recommend approving this package.**"? Thank you!

[2020-05-25 07:40] annakrystalli commented on #366
Hello all!

Just a quick note to say we are back!

[2020-05-25 08:03] kamapu commented on #233
Welcome back! This are good news and a signal that a piece of life is returning to normality.
I have some problems with CRAN because the encoding of example data (Encoding is becoming my worse nightmare). I may solve it by the end of the week and produce a new release.

[2020-05-25 10:31] maelle commented on #233
Ok, I'll wait until then! You can ask questions on [rOpenSci forum](https://discuss.ropensci.org/) if needed. Good luck! (and yeah encoding is hard!)

[2020-05-25 12:04] florianm commented on #335
Great to hear!
I've split the reviewers' suggestions into issues and have addressed them all. So at a top level, reviewers could revisit the ruODK issues linked here below their comments and should find there good summaries about my rationale.

A few new tests use a new form (spatial types) but use packaged data, so the additional env var is only needed to rebuild the packaged data.

Should I writ

[2020-05-25 12:10] maelle commented on #335
Thanks! :turtle: :sparkles:

A summary here would be great once you're done with changes! :pray:

[2020-05-26 12:20] noamross commented on #373
Hello @akoontz11, we're starting up review activities again so I'll be seeking reviewers now, but I wanted to check in and see if there are any developments.  Anything I should know about updates to the package or your schedule? Thanks for your patience on this!

[2020-05-26 12:26] noamross commented on #356
Hello @pat-s, we're starting up review activities so I wanted to check in with you on the status of this package.  Last time we checked in you were developing a test suite in response to my editor's check.  Any developments?  I hope you're well and thank you for your patience!

[2020-05-26 13:00] pat-s commented on #356
Hi Noam,

it's still on the list, the focus was on implementing an update mechanism in {tic} lately.

This is not an easy case here and I first have to review which mocking approach would be suited best for CI API calls. This would the also apply to {travis}.

I cannot give any ETA though.

[2020-05-26 14:25] willpearse commented on #373
Thanks, but there have been no changes. No worries about the delay.

[2020-05-26 15:01] noamross commented on #356
No problem, thanks for the update!

[2020-05-26 16:21] helenmiller16 commented on #366
Hurrah! I have it on my list to check out the updates this week.

[2020-05-26 21:54] dmkaplan2000 opened #379 "knitrdata: A tool for creating standalone Rmarkdown publications and reports"
Submitting Author: @dmkaplan2000
Repository:   dmkaplan2000/knitrdata
Version submitted:  0.2.1
Editor: TBD
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package

[2020-05-27 13:35] pmarchand1 commented on #368
Hello, I am sorry I didn't see this until now, I was one of the original authors of this package but have not been the maintainer for some time. To clarify, if there are two packages that perform one function, but neither is clearly the best, then neither could be on rOpenSci? This seems to be a worse outcome than even picking one of the two at random.

[2020-05-27 14:20] mcguinlu opened #380 "medrxivr: Accessing and searching medRxiv preprint data in R"
Submitting Author: Luke McGuinness (@mcguinlu)
Repository: https://github.com/mcguinlu/medrxivr
Version submitted: 0.0.2
Editor: @maurolepore
Reviewer 1: @tts
Reviewer 2: @njahn82
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.g

[2020-05-28 11:28] eribul opened #381 "coder: Deterministic Categorization of Items Based on External Code Data"
Submitting Author: Erik Bülow (@eribul)
Repository:  https://github.com/eribul/coder
Version submitted:   0.11.9
Editor: @noamross
Reviewer 1: @zabore
Reviewer 2: @dgrtwo
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/

[2020-05-29 13:45] annakrystalli commented on #379
Hello @dmkaplan2000  and thanks for your submission.

It is hard to evaluate package functionality from the current README. Could you please add more detail on what the package is and what it does in the README so that we can assess whether the package is in scope or not?

[2020-05-29 14:02] dmkaplan2000 commented on #379
Hi,

I have beefed up the readme a bit, but I am not sure exactly what you
are looking for. The main piece of information that was probably missing
is that the package is an extension to knitr to create standalone
Rmarkdown documents that can provide a single source for the contents of
a paper.

If you are not satisfied with the modifications I have made, would you
mind giving me a bit of a better

[2020-05-29 14:40] annakrystalli commented on #379
Hi @dmkaplan2000,

Ultimately at this stage of the review, the editor in chief should be able to get a feel for the scope and function of the package from the README. The problem with the vignette is that the package needs to be installed and the docs built locally to be viewed, unless you include a pkgdown online version of the docs.  That's not meant to happen at this stage.

The README is impor

[2020-05-30 13:32] dmkaplan2000 commented on #379
Hi,

I just pushed a new version that includes several more examples that
hopefully answer your questions.

Cheers,
David

On 5/29/20 16:40, Anna Krystalli wrote:

[2020-05-30 18:30] kamapu commented on #233
The issue with encoding was solved in the last commit, @maelle Now we can proceed.

[2020-05-31 09:06] annakrystalli commented on #379
Hi,

Thanks, that's much better! We'll discuss with the rest of the editors and
get back to you shortly.

On Sat, 30 May 2020 at 14:32, dmkaplan2000 <notifications@github.com> wrote:

--
Dr Anna Krystalli

Department of Animal & Plant Sciences

University of Sheffield

Sheffield S10 2TN, UK

+44 (0)114 222 0084

annakrystalli@googlemail.com

anna.krystalli@sheffield.ac.uk

[2020-06-01 12:00] maelle commented on #233
Thanks!

Is https://github.com/kamapu/taxlist/blob/master/TODO.md out-of-date? If so could you please remove it to not distract reviewers?

[2020-06-01 12:43] maelle commented on #233
I'm now looking for reviewers.

Please add a peer-review badge to the package README: `[![](https://badges.ropensci.org/233_status.svg)](https://github.com/ropensci/software-review/issues/233)`

[2020-06-01 18:17] maelle commented on #233
Reviewers assigned! Thanks a lot @mcsiple & @levisc8 for agreeing to review. Your reviews are due on 2020-06-22.

As a reminder here are links to the [reviewer guide](https://devguide.ropensci.org/reviewerguide.html) and [review template](https://devguide.ropensci.org/reviewtemplate.html).

[2020-06-03 09:20] llrs commented on #359
@annakrystalli It's been a week since last message, and I haven't seen any plan announced here, on the website or on twitter. Is there a plan to start again looking for reviewers ?
PS: I am considering submitting directly to CRAN without waiting for a review from the volunteers of rOpenSci if it fits the [new scope](https://ropenscilabs.github.io/statistical-software-peer-review/scope.html#scope-c

[2020-06-03 17:02] llrs commented on #359
Hi @annakrystalli Thanks for the quick reply, hope that everything is fine at your place.

I don't know how important is to wait for the second reviewer, maybe the first one can start without waiting for the second one? There are some authors of related packages that I would appreciate their feedback even if they have some conflict of interest against the package (I pasted their Github username):

[2020-06-03 18:09] maurolepore commented on #380
@mcguinlu and @L-ENA, thanks for your submission. I'll be the editor. As we move though the process I'll keep you posted. I welcome your questions any time.

[2020-06-03 18:39] annakrystalli commented on #359
The conflict of interest is for us really (rOpenSci) to ensure we get a fair and unbiased review. In any case I could probably start the review with just a single reviewer. Let me just run all this past the rest of the editors and get back to you.

[2020-06-03 21:14] noamross commented on #373
My apologies this is taking a while. I've been digging through the various Symbiota portal organizations looking for people who use it who may be reviewers. Do you know any Symbiota users/administrators to suggest as reviewers?

[2020-06-04 01:04] bretsw opened #382 "tidytags: Simple Collection and Powerful Analysis of Twitter Data"
**Date accepted:** 2022-01-31
Submitting Author Name: Bret Staudt Willet
Submitting Author Github Handle: @bretsw
Other Package Authors Github handles: (comma separated, delete if none) @jrosen48
Repository: https://github.com/bretsw/tidytags
Version submitted:   0.1.0
Submission type: Standard
Editor: @maelle
Reviewers: @llrs, @marionlouveaux
Due date for @llrs: 2021-04-19 Due date for @marionlou

[2020-06-04 02:27] maurolepore commented on #380
### Editor checks:

- [ ] **Fit**: The package meets criteria for [fit](https://devguide.ropensci.org/policies.html#package-categories) and [overlap](https://devguide.ropensci.org/policies.html#overlap)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The

[2020-06-04 07:26] annakrystalli commented on #381
Hi @eribul and thanks for your submission!

After discussion, the editors have found your package to be in scope. I'll be assigning a handling editor shortly 👍

[2020-06-04 08:01] willpearse commented on #373
Thanks Noam. I do know some, but I worry that suggesting one of my friends
would be a bit unethical! Have you found this list (
http://symbiota.org/docs/symbiota-introduction/active-symbiota-projects/)?
I should add that many herbarium managers are not R developers, and so they
might be unwilling to review an R package (they're often taxonomic
experts). Another option might be someone who has spen

[2020-06-04 12:33] mcguinlu commented on #380
Hi @maurolepore

Thanks for your inital review of our package. I've gone through it and try to address each point below:

**ml1: Overlap with fulltext**
Personally, I think that fulltext and medrxivr should continue to be two seperate packages, but that there is the potential for intergration between the two (as occured with the `aRxiv` package). In all honesty, I completely forgot to reply to the

[2020-06-04 18:38] willpearse commented on #373
Brilliant! Sorry that I wasn't very helpful there; I'm moving country right
now so I'm a bit all over the place at the moment to be honest with you.

On Thu, 4 Jun 2020 at 17:50, Noam Ross <notifications@github.com> wrote:

[2020-06-05 10:16] annakrystalli commented on #379
Hello again @dmkaplan2000 .

After discussion, we decided that although interesting, the package is ultimately out of scope.

General tools for literate programming. (e.g., R markdown extensions) are out of scope and while exceptions might be made for extensions that have a very specific research application, we ultimately deemed `knitrdata` too general for the rOpenSci scope.

Thanks again for yo

[2020-06-05 10:32] dmkaplan2000 commented on #379
Hi,

Thanks for your message. While I respect your decision, I do see among
the list of packages on the rOpenSci website at least one package that
has quite similar goals to mine - making use of knitr for science richer
and more flexible - and that is a knitr extension, just like mine:

https://docs.ropensci.org/ezknitr/

There is also RefManageR which is for literate programming. I don't
really s