[2020-06-05 10:52] annakrystalli commented on #379
Hi David,

Our scope definitions change over time. In the dev guide it does state that: _ “As this is a living document, these categories may change through time and not all previously onboarded packages would be in-scope today.”._  This is the case with `ezknitr` which was reviewed 4 years ago.

As for `RefManageR`, it falls under the category "citation management and bibliometrics" which makes i

[2020-06-05 11:40] #379 closed

[2020-06-05 18:18] RaphaelS1 opened #383 "Submission: set6"
Submitting Author: Raphael Sonabend (@RaphaelS1)
Repository:   https://github.com/xoopR/set6
Version submitted:  0.1.4
Editor: TBD
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guid

[2020-06-05 18:46] annakrystalli commented on #359
Success!!! We have now both our reviewers! 🥳🙌

Thanks so much for agreeing to review @arendsee and @j23414 👍

***
Reviewer: @arendsee
Reviewer: @j23414
Due date: 2020-06-29

[2020-06-05 19:10] llrs commented on #359
Many thanks in advance @arendsee and @j23414. As you can see on the isse you might find some difficulties installing the package. Let me know and I'll be happy to help with them.

[2020-06-06 16:41] maurolepore commented on #380
Thanks @mcguinlu! I think {medrxivr} merits to move to the next stage. I'll now start searching for reviewers.

### ml1 and ml2

Here is my conclusion. I base it on your answers above, and on this quote from rOpenSci's
guidelines on [overlap](https://devguide.ropensci.org/policies.html#overlap):

may be considered for inclusion in the rOpenSci suite if it significantly
improves on alternatives in

[2020-06-06 16:47] maurolepore commented on #380
@mcguinlu, please do this (from [these guidelines](https://devguide.ropensci.org/editorguide.html)):

[code]

[2020-06-06 16:54] maurolepore commented on #380
(ml8) @mcguinlu have you suggested any reviewer?

(The editor guidelines suggest you might but I fail to find them here or at https://github.com/ropensci/software-review/issues/369.)

[2020-06-06 21:46] arendsee commented on #359
@llrs I installed the package from github and `devtools::check()` passed without unusual trouble (I'm on R4.0.0). So far so good!

[2020-06-07 16:58] j23414 commented on #359
@llrs Same here, I used `BiocManager::install`, and `library(BaseSet)` looks good on MacOS, R4.0.0. I'll clone the repo and do a `devtools::check`

[2020-06-11 06:01] eribul commented on #381
Thank you very much @noamross! I am very happy for your response and will just briefly adress some of your comments:

I was actually equaliy amazed regarding the name :-) I do like `coder` however since: 1) I have another CRAN package called `decoder` so they fit quite nicely together. 2) I realise there is some ambiguity but that is kind of intential since both "medical coding" and "computer codi

[2020-06-11 16:16] noamross commented on #381
Great, @eribul.  You don't need a DOI until the end of the review process to transfer the review to JOSS.

We have two reviewers: @zabore and @dgrtwo, thank you for volunteering!  Due date is 2020-07-02.  Please note that this is a pass-through review to JOSS, so please include in your review whether `paper/paper.md` conforms to [JOSS requirements](https://joss.readthedocs.io/en/latest/submitting.

[2020-06-12 12:06] levisc8 commented on #233
Hi @maelle, @kamapu, and @zachary-foster, hope you're both doing well! Thanks for this excellent package and the opportunity to review it! This is my first rOpenSci review, so please let me know if I missed anything.

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Brief

[2020-06-12 12:31] maelle commented on #233
Thanks a ton for your thorough review @levisc8! :rocket: :pray:

A few notes from me

* No need to set up a pkgdown website now since there'll be one built for the package once it is approved. Unless @kamapu wants feedback on the navbar and reference index grouping for instance. [We're however thinking about this](https://github.com/ropensci/dev_guide/issues/261), I'm not saying it's a bad comment

[2020-06-14 08:34] jooolia commented on #367
Hi @wrightaprilm and @uyedaj I will check the changes you made in March and get back to you. Then I will look for reviewers for the package. Thanks for your patience.
Cheers, Julia

[2020-06-15 04:32] florianm commented on #335
Hi all,

here's a summary of the [second round (Jason's comments)](https://github.com/ropensci/software-review/issues/335#issuecomment-596120460) of reviewer comments. I've split Jason's comments into the three issues linked under his comments, which I'll also summarise here.

### Internal helpers
[Details](https://github.com/dbca-wa/ruODK/issues/56)

**TLDR** Jason asked to re-think which functio

[2020-06-15 18:33] bpbond commented on #373
@willpearse @akoontz11 What's the workflow for running the package tests? I've tried `devtools::test()` and source'ing `tests/test-all.R`, and get errors both ways. Thanks.

[2020-06-16 06:25] annakrystalli commented on #383
Hello @RaphaelS1 and many thanks for your submissions.

In the end after discussion we decided that because there is not a research specific aspact to it, the package is sadly too general for the rOpenSci scope.

Thanks again for taking the time to submit.

[2020-06-16 14:12] RaphaelS1 commented on #383
Okay, thanks very much for your time!

[2020-06-16 14:12] #383 closed

[2020-06-16 15:10] fkiraly opened #384 "Exclusion criterion - "no research aspect""
@annakrystalli , it would be nice if you could elaborate on the exclusion criterion "no research aspect" and "sadly too general" which you have used to sort out set6 as software suitable for publication in JOSS (see #383).

If we take "no research aspect" to mean the software must support some specific research question, then logically it would also rule out in general, or most of:
* citation mana

[2020-06-16 15:13] fkiraly commented on #384
Ah, I just saw the JOSS criterion "The software should have an obvious research application."
I assume you are applying that and this clarifies my question.

[2020-06-16 15:13] #384 closed

[2020-06-16 21:04] akoontz11 commented on #373
Hi @bpbond, thank you for agreeing to review this package!

Here's the workflow we've used for installation and testing:
[code]
Could you let me know what errors you're getting, using either `devtools::test("SymbiotaR2")`, `test_package("SymbiotaR2")`, or source'ing `test-all.R`? I had to call `test_check("SymbiotaR2")` from within the `tests` directory, in order to get that method to work. We're

[2020-06-17 19:49] arendsee commented on #359
## Package Review

*Please check off boxes as applicable, and elaborate in comments below. Your
review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**

 None

- [x] As the reviewer I confirm that there are no [conflicts of
  interest](https://devguide.ropensci.org/policies.html#coi) for me

[2020-06-17 20:07] arendsee commented on #359
About the failing check, for some reason, the first time I ran check everything passed. Possibly because of what I had defined in my R environment before running check. I'm not sure since I haven't been able to replicate the first successful check. I've attached the check result.

[check-result.txt](https://github.com/ropensci/software-review/files/4794868/check-result.txt)

And here is my session

[2020-06-17 21:41] llrs commented on #359
Many thanks for the fast, long and thoughtful review @arendsee! I will start fixing some of the issues you mentioned while I think about the theoretical question. Hope to reply them in a couple of days.

[2020-06-19 06:43] kamapu commented on #233
Wow! I was away of GitHub for a while (also thanks the computer in my home-office that I had to install many times). Thanks @levisc8 for the review. I assume, I can start answering and implementing suggestions, isn't it @maelle ?

[2020-06-19 06:51] maelle commented on #233
It might be better to wait until the second review (by @mcsiple) is in?

:wave: @mcsiple this is a friendly reminder that your review is due on 2020-06-22 :smile_cat:

[2020-06-20 12:54] jooolia commented on #367
Hi @wrightaprilm  and @uyedaj,
We are now looking for reviewers. Please add the rOpenSci review badge to your README.
You can do this with by adding to your README:
`[![](https://badges.ropensci.org/367_status.svg)](https://github.com/ropensci/software-review/issues/367)`

Thanks! Julia

[2020-06-20 19:39] agricolamz opened #385 "Submission: phonfieldwork"
Submitting Author: George Moroz (@agricolamz)
Repository: https://github.com/agricolamz/phonfieldwork
Version submitted: 0.0.8
Editor: @melvidoni
Reviewer 1: @jonkeane
Reviewer 2: @nikopartanen
Archive: TBD
Version accepted: 2020-10-20

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policie

[2020-06-22 08:59] llrs commented on #359
I updated the package following your comments @arendsee. See below for some questions and comments that I still need to address.

**Review Comments**

- [x] `check` fixed. Now with the latest version it should run on `dplyr` > 1.0.0

- [ ] I'm not sure this package is the right place to justify the use of fuzzy set theory on one area (bioinformatics). I agree that if I only show the capabilities o

[2020-06-22 09:32] annakrystalli commented on #359
Hello @llrs!

Great to see such responsiveness to @arendsee's thorough review. I think, however, that it's best to wait till both reviews are in as @j23414 will end up reviewing a moving a target if not. It will likely be easier to address the comments from both reviews in one go for you also.  👍

[2020-06-22 10:03] llrs commented on #359
Hi @annakrystalli, the changes are already pushed to master. I could create a new branch and move all the commits there but I hope it doesn't causes problems.

If you @j23414 are using `pkgreviewer` I think you'll be able to review the package at the same commit that @arendsee reviewed:

[code]

Otherwise let me know and I'll fix this on my end.

[2020-06-22 12:24] j23414 commented on #359
Hi @llrs, I'll continue my review with your changed version. I wrote a script on my end when I saw you had new commits (automatically pulls new version and run any Rmd files) but thanks for the `pkgreview_create` command.

I'm aiming to post by Friday.

[2020-06-22 13:21] annakrystalli commented on #359
Thanks for the comment @llrs, and cool `pkgreviewr` trick! 😃

Looks like @j23414 is sorted so all good, carry on everyone 🙂

[2020-06-22 16:49] arendsee commented on #359
Thanks for the response @llrs . I'm happy with all the changes. As for fuzzy theory, I just want to be sure that the vignettes document what the operators are doing, especially where the fuzzy operators deviate from the more familiar probabilistic operators. Specifically, in probability theory, P(A or B) = P(A) + P(B) - P(A and B). In contrast, the fuzzy operator F(A or B) = max(F(A), F(B)). Let's

[2020-06-22 17:31] llrs commented on #359
Ok, let's wait. I'm not sure I understand your example, what are A and B on your example? Elements or sets?

[2020-06-22 18:26] arendsee commented on #359
P(A or B) is the probability that A or B is true. In this context, it is the probability that an element is in set A or set B.

[2020-06-22 21:31] mcsiple commented on #233
Hi @maelle, @kamapu, and @zachary-foster, here's my review! Please let me know if you have any questions about anything I wrote.

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [X] As

[2020-06-23 01:07] jonkeane commented on #366
Hello everyone,

I hope everyone is doing ok. I very much know that everyone is busy, but I was hoping to start the submission process for `dittodb` to CRAN in the near future. I know that the reviews are separate from CRAN submission, but wanted to make sure there wasn't anything major or glaring from the reviewers before starting that process. Thoughts?

[2020-06-23 06:59] maelle commented on #233
@mcsiple thanks a lot for your thorough review! :sparkles:

@kamapu Now both reviews are in!

[2020-06-23 07:00] maelle commented on #233
@mcsiple could you please add an estimate of the time you spent reviewing near "Estimated hours spent reviewing:"? thanks!

[2020-06-23 15:51] mcsiple commented on #233
@maelle oops-- now it has been added. Thanks!

[2020-06-23 17:03] annakrystalli commented on #385
Hello @agricolamz and many thanks for your submission.

We are discussing whether the package is in scope and need a bit more information.

- If a package has overlapping functionality with other packages, we require it to demonstrate in the documentation [how it is best in class](https://devguide.ropensci.org/policies.html#overlap). Could you add a more detailed comparison to the packages you men

[2020-06-23 20:11] kamapu commented on #233
OK, thank you to @mcsiple and @levisc8 for your valuable comments to `taxlist`. I guess, I should now start editing the package in order to answer to your questions. Isn't it, @maelle ?

[2020-06-24 06:40] maelle commented on #233
@kamapu yes, indeed. You can continue the conversation here but at the end of your edits we expect a comment that responds to both reviews. (see the second to last point in https://devguide.ropensci.org/guide-for-authors.html)

[2020-06-24 06:56] maelle commented on #335
Thanks @florianm!

@karissawhiting @jmt2080ad are you both now happy with @florianm's response and if so could you please check the box "The author has responded to my review and made changes to my satisfaction. I recommend approving this package." in your review? If not please comment here. It's also fine to write you don't have time to have another look. Thanks!

[2020-06-24 07:18] florianm commented on #335
Meanwhile, GHA has a [heisen-segfault](https://github.com/ropensci/tic/issues/271) in ubuntu-latest / R devel and R release. I'm monitoring this over the next few days hoping it will resolve, so the red GHA badge is deliberate.

[2020-06-24 13:08] agricolamz commented on #385
Hello @annakrystalli!

thank you for your response.

### other packages
In the README file I've mentiond [`rPraat`](https://CRAN.R-project.org/package=rPraat) and [`textgRid`](https://CRAN.R-project.org/package=textgRid). The first one get an access to the functionality of one particular program for phonetic/phonological research `Praat` and its annotation system (`TextGrid`). The second one is li

[2020-06-25 16:37] j23414 commented on #359
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
	None

- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me t

[2020-06-25 20:50] melvidoni commented on #357
Hello @kauedesousa, thanks for the updates!

@cvitolo @jzwart I hope you are safe. Can you please review the changes made by the author?

[2020-06-25 21:09] etiennebr commented on #366
I don't want to hold back the process, and I'm not sure if @annakrystalli is waiting for additional comments from us?

I think the package should be released to CRAN and join rOpenSci. I haven't re-tried the package, but I've looked at many of the changes and the responses from @jonkeane and I think the package should go reach its audience and live. Look at the new fancy [README,](https://dittodb.

[2020-06-26 07:30] llrs commented on #359
Thanks @j23414 for your detailed review and apologies for modifying the package while you was trying to review it. Some of the modifications I did seem the cause of some of the errors you saw. I'll think more carefully about them and fix them.
Many thanks for pointing to unclear explanations and your comments on the fuzzy-set operators and the vignettes.

[2020-06-26 19:51] j23414 commented on #359
@llrs about modifying, no worries. : ) You were coding quickly

[2020-06-26 23:32] arendsee commented on #359
The following statement in the README is not right: "On fuzzy sets, elements have a probability to belong to a set".

In a probabilistic framework, every element is in a set or not in it. We are uncertain which sets an element is in, but the reality is still binary. In a fuzzy framework, the reality is vague. For example, say we are interested in which genes are highly expressed in a tissue. We co

[2020-06-27 12:46] annakrystalli commented on #366
Hello all, and apologies if I haven't been clear! To finalise the review, I just need confirmation from both @etiennebr and @helenmiller16 that they are happy their comments have been addressed by the changes.

[2020-06-27 12:50] annakrystalli commented on #359
Thank you @arendsee and @j23414 for your super timely and thorough reviews! Over to you now @llrs.

[2020-06-27 13:00] #341 closed

[2020-06-28 10:23] tts commented on #380
## Package Review

Hi @maurolepore  and @mcguinlu - here is my review. Thanks for this opportunity, and all the best for the package!

- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### D

[2020-06-29 07:20] #330 closed

[2020-06-29 11:26] llrs commented on #359
@arendsee Perhaps that sentence on the README is not suited for some logics or types of fuzzy sets. I am struggling to introduce the topic for people not familiar with fuzzy sets and at the same time support and explain what the package can do to more expert users. I'll carefully review the wording around the subject.

I agree that it is different to work with membership functions (Gene A 0.3 RNA

[2020-06-29 11:29] jzwart commented on #357
Hi @melvidoni and @kauedesousa,
Yes, I can review the changes today.

[2020-06-29 11:30] maurolepore commented on #380
@tts, thanks for your wonderful review!

@mcguinlu, RE

Both reviewers should work on the exact same package. You may change the package in a separate branch, but please only merge it after both reviewers submitted their review.

[2020-06-29 13:15] j23414 commented on #359
Hmm, that quoted source is new to me (Bezdek, 1993)... I provided links to the set theory chapter ([Smithson 2006](https://us.sagepub.com/sites/default/files/upm-assets/11134_book_item_11134.pdf)), membership value definition, and confidence value definition.

No matter : ) thanks for sharing the source! There definitely seem to be some murkiness to when and where is appropriate to use Fuzzy Sets.

[2020-06-29 14:43] tts commented on #380
Sorry, my bad. Both `devtools::check()` and `devtools::test()` ran without errors. Checked that item in the list.

[2020-06-29 15:38] cvitolo commented on #357
Hi @melvidoni, I’m very happy with the revised version. All my suggestions have been addressed.

@kauedesousa great job!

[2020-06-29 16:47] arendsee commented on #359
The first sentence in the README does not apply to the **specific** logic you are using in the package. That operator you are using will not return membership probabilities. Using that operator to infer union membership probability will give you a meaningless result.

I'm referring to the union operator as it is used in your fuzzy vignette:

[code]

[code]

The union function is intended to calcul

[2020-06-29 17:53] chainsawriot opened #386 "Submission: readODS"
**Date accepted:** 2022-06-24
Submitting Author Name: Chung-hong Chan
Submitting Author Github Handle: @chainsawriot
Repository:    https://github.com/chainsawriot/readODS
Version submitted:  1.7.0
Editor: @noamross
Reviewers: @emmamendelsohn, @adamhsparks
Due date for @emmamendelsohn: 2020-08-11
Due date for @adamhsparks: 2020-08-11
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESC

[2020-06-29 19:27] jzwart commented on #357
Nice job on this package, @melvidoni, and thank you for the careful consideration of all the reviews. I find the revised package very easy to use and the descriptions in the vignettes & README useful. Thank you for adding in the time out for `.GET()` - I know that's probably a rare case with server issues, but I think adds to the functionality of the package. All my suggestions have been addressed

[2020-06-29 20:23] melvidoni commented on #357
Approved! Thanks @kauedesousa  for submitting and @cvitolo @jzwart  for your reviews!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Fix all links to the GitHub repo to point to the repo under the ropensci organization.
- [ ] If you al

[2020-06-29 20:42] kauedesousa commented on #357
Thanks @melvidoni ! I will follow the to do list. Thanks @cvitolo and @jzwart for the helpful comments and suggestions. Would you like to be acknowledged in the pkg Description with the "rev" role?

[2020-06-29 20:45] melvidoni commented on #357
Great! Please, @kauedesousa tag me if you need any assistance.

[2020-06-29 20:47] kauedesousa commented on #357
I already need. Can you assign the repo to the team chirps that you set up. I skipped this step and now I can't go into the repo settings.

[2020-06-29 20:52] melvidoni commented on #357
Hello there! I was just trying to add the team, please be patient.
It should be done now, and @adamhsparks should also have access.

[2020-06-30 01:22] jzwart commented on #357
@kauedesousa, no need to acknowledge me as a reviewer in the package description, but thank you for asking!

[2020-06-30 05:34] cvitolo commented on #357
@kauedesousa, congratulations on getting your package approved! No need to acknowledge me as reviewer either but I would double check with @melvidoni if rOpenSci advises otherwise.

[2020-06-30 07:53] annakrystalli commented on #359
Hello all. It looks like some guidance from a statistician might indeed be a good idea. This is technically not part of package review but I'll see what other editors think and let you know what we can do.

[2020-06-30 21:35] lmullen commented on #358
Hi, @cksun-usc. Obviously a lot happened in the world since you agreed to take on this review. Is this something that you would be able to pick up at some point? If you do not wish to go forward with the review, that's more than fine; just let me know.

[2020-07-01 09:44] kauedesousa commented on #357
Hi @melvidoni , the to-do list is completed. Let me know if there is something else to do. My next step is submit this to CRAN.

[2020-07-01 20:25] melvidoni commented on #357
Good luck!

[2020-07-01 20:25] #357 closed

[2020-07-02 01:28] maurolepore commented on #380
@njahn82, I hope you are well. Could you please update us about your review?

[2020-07-02 07:50] kamapu commented on #233
I hope, it is OK to save it here and edit while I'm answering, thus, ignore the text below the **TODO** tag:

# TODO

Response in edition...

# Response to levisc8

### Community guidelines

* [x]  Include contribution guidelines in the README or CONTRIBUTING, and DESCRIPTION with `URL`, `BugReports` and `Maintainer` (which may be autogenerated via `Authors@R`).

**Response:**

# Response to mcsip

[2020-07-02 12:30] zabore commented on #381
Here is my review!

---

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.

[2020-07-02 12:46] maelle commented on #233
It is ok, and asking questions is also ok, just remember to ping us in separate comments (because I'm not sure we'd get notified if you ping us from an edited comment?)

[2020-07-02 14:46] kamapu commented on #233
@levisc8  I have some comments regarding your review, which I would like to clarify before editing my response:

1. Regarding `devtools::check()`. Everything is running OK in my case. May this problem be related with the fact that data have a different relative path in the source as in the installed package? In any case, if your offer of solving it in the source is still open, then go ahead.

2. I

[2020-07-02 15:09] kamapu commented on #233
I forgot to mention it, @levisc8 : I work with **eclipse + StatET** (not RStudio), thus I need the `data-raw/0_check.R` to carry out builds and tests.

[2020-07-03 07:45] kamapu commented on #233
Dear @levisc8
In your review, under **Functionality**, there are two unchecked boxes but without comments:

and a reasonable range of inputs and conditions. All tests pass on the local machine.

I'm wondering if you may have forgotten to check them (in that case, I just ignore them) or if there are issues to be solved on that regard.

[2020-07-03 08:02] kamapu commented on #233
... this questions is for all reviewers + editor: @levisc8 @mcsiple @maelle

`goodpractice::gp()` will complain that:

1. The coverage is not 100%.
2. Issues with UTF-8 strings, although the encoding is declared in the description and there is no NOTE on this regard when using R CMD check in a Latin-1 environment, as required by CRAN.

Am I allowed to ignore these issues in the review? I mean, I c

[2020-07-03 12:54] kamapu commented on #233
@mcsiple : In your outputs of `goodpractice::gp()`, the LaTeX error can be related to your local LaTeX distribution or your installed version of `rmarkdown`.
Perhaps it can be solved by updating your LaTeX distribution and/or `rmarkdown`. The later from the GitHub repository???

[2020-07-03 12:54] rkrug opened #387 "package plabt"
Ignore

[2020-07-03 13:03] levisc8 commented on #233
Hi @kamapu ,
Thanks for getting to this so quickly! I'll respond in order:

1. Re `devtools::check()`: I'll try to get a pull request together by the middle of next week. The issue I had was not with `check` itself, but running `devtools::test` from a command prompt. The tests do not work interactively, and the line highlighted in @maelle 's comment [here](https://github.com/ropensci/software-revi

[2020-07-03 13:05] kamapu commented on #233
@levisc8 I was just reading your comments again:

I guess, I'm able to do the proposed change and test it.

[2020-07-03 13:57] kamapu commented on #233
@levisc8
Just a comment on your comment:

The encoding issues have been the biggest nightmare not only when programming but also in real life (see [here](https://github.com/ropensci/RefManageR/issues/61#issuecomment-478556229)).
I pretend to assume, that the issue was already solved before and `goodpractice::gp()` is missing some settings to tolerate UTF-8 encodings.

[2020-07-03 14:40] kamapu commented on #233
@levisc8

This solves the problems in `devtools::test()` but causes errors in `devtools::check_built()`

[2020-07-06 07:28] richelbilderbeek commented on #360
Progress has been slow, a.o. due to illness. Will work on mcbette Friday July 10th.

[2020-07-06 07:47] maelle commented on #360
@richelbilderbeek I'm sorry to read that, I hope you're feeling better.

[2020-07-06 07:59] maelle commented on #233
Hello @kamapu

* Regarding test coverage we don't expect more than 75% coverage https://devguide.ropensci.org/building.html#testing

* If the encoding issue is a problem with goodpractice, it might be worth opening an issue in goodpractice repo itself? You could also run a check on e.g. an R-hub platform with a different encoding setting https://blog.r-hub.io/2019/04/25/r-devel-linux-x86-64-debian

[2020-07-06 12:58] njahn82 commented on #380
Sorry, I didn't meet my review deadline. Will submit it by Wednesday.
Thanks for your patience!

On Thu, 2 Jul 2020 at 03:28, Mauro Lepore <notifications@github.com> wrote:

[2020-07-06 15:22] elinw commented on #385
I think this is an interesting question.

Essentially this is a tool.  Could the tool be used by someone who has not adequately protected their human participants from being identified or who has not obtained voluntary informed consent? Yes, however I don't think there is anything that can reasonably be done about that by the tool maker because that would really require (from my understanding) cha

[2020-07-06 17:36] agricolamz commented on #385
I'm totally agree, but that means also that the same kind of note should be put on each package that works with sounds. And for now our concern is only about humans, but we could think on it in a greater scale: imagine that I recorded and published audio with rhinoceros' mating signal that will make it easier for poachers to lure those endangered creatures...

[2020-07-06 19:24] noamross commented on #381
Thanks for your thorough review, @zabore. @dgrtwo, please get your review in so that @eribul can respond to your comments jointly.

[2020-07-07 05:29] kamapu commented on #233
Hello @maelle

1. All right.

2. Unfortunately I got the same output at r-hub:

  Note: found 137 marked UTF-8 strings

3. A bit of both: I'm been working for long time with eclipse. The biggest advantages over RStudio are as well the representation of objects in "Object browser" and the possibility of work with a broad spectrum of applications (R, Web Development, LaTeX, PostgreSQL, etc.) in just

[2020-07-07 05:42] maelle commented on #233
It's unfortunate but means the problem needs to be fixed (or well justified), because you'd get it on CRAN check platform that has this encoding setting. Would you mind opening a question about that at https://discuss.ropensci.org/?

[2020-07-07 06:06] annakrystalli commented on #385
Thank you for your feedback @elinw. And thank you for your patience and response @agricolamz. As we encounter new applications involving human subject data, it might take a little longer and input from domain experts like @elinw might be required to help ensure our policy is fit for purpose.

So I'll summarise where I think we are at the moment:

Overall I think just some more detailed documentati

[2020-07-07 07:13] kamapu commented on #233
Hello all: @maelle @levisc8 @mcsiple

I see, I have to dedicate some time with the example data, again. I though, I have solved it in the last release at CRAN but I just realized, the test is still providing the warning about UTF-8 Strings.

I assume, **R CMD check** is not giving any warning because of my local settings (I'm working in Linux).

Perhaps some of you could give me some hints:

1. Th

[2020-07-07 07:31] kamapu commented on #233
I always advice our students to not confuse ERRORS with WARNINGS. And now I see me confusing WARNINGS with NOTES. Are the later usually tolerated?

[2020-07-07 07:49] maelle commented on #233
they could but they need to be justified, and their mere existence delays the CRAN review process, that's why it's better to get rid of them.

[2020-07-07 09:52] kamapu commented on #233
@maelle I see your point, although I don't really know why UTF-8 is a problem. Anyway, the issue is that the vector including author names is prone to have "special characters", actually even taxon usage names (for instance the genus *Isöetes* and its species). In `taxlist` the combination between taxon usage names and authority (columns **TaxonName** and **AuthorName** in slot **taxonNames**) is

[2020-07-07 09:56] maelle commented on #233
To clarify, I am not saying it's a bad NOTE but I think it'd be easier if you opened a thread at https://discuss.ropensci.org where more community members could chime in with ideas for making the NOTE disappear or writing a good comment for CRAN (who'd be the ones to be convinced the NOTE is fine), from their own experience.

I do understand encoding pain, my name is Ma?#$lle I mean Maëlle. :wink:

[2020-07-07 10:04] kamapu commented on #233
@maelle Thanks for clarification. I sort of lost the path (cause I'm doing many things in parallel). I'll do as suggested but not right now...

Perhaps it was a premonition but long time ago I decided to skip the accent from Álvarez when self-referencing...

[2020-07-08 00:51] ringdater opened #388 "RingdateR app"
Submitting Author: David Reynolds (@ringdater)
Repository:   ringdater_pkg
Version submitted:   0.1.0
Editor: TBD
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#p

[2020-07-08 02:36] geanders commented on #388
Hi @ringdater! Could you please include a link to the package's GitHub repository?

[2020-07-08 02:38] geanders commented on #387
Hi, @rkrug. Should I delete this issue?

[2020-07-08 03:48] rkrug commented on #387
Yes please.  Thanks.

Von meinem iPhone gesendet

[2020-07-08 04:21] ringdater commented on #388
HI @geanders, Sorry I didn't include this!  https://github.com/ringdater/ringdater_pkg

[2020-07-08 10:58] bpbond commented on #373
Using `R CMD check` as above does run the tests successfully. I can't get `test_check()` to work regardless of the working directory. Anyway, thanks, and more in a bit.

[2020-07-08 13:57] kamapu commented on #233
Dear @maelle @mcsiple @levisc8

I just finished the response to your reviews. Note that there are few discrepancies and unsolved issues. I hope, the improvements will be satisfactory for this submission. Thank you again!

[2020-07-08 14:46] maelle commented on #233
Thanks @kamapu, by unsolved issues you don't mean something where a bit more time would help?

@mcsiple @levisc8 are you ok with the response?

[2020-07-08 14:48] kamapu commented on #233
@maelle "unsolved issues" actually mean, it is not depending on me anymore...

[2020-07-08 15:05] levisc8 commented on #233
Before I get to this again, just want to clarify - do the unresolved issues refer to the UTF-8 strings in the example data set? Or something else?

[2020-07-08 17:26] njahn82 commented on #380
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revie

[2020-07-08 18:36] kamapu commented on #233
In general I consider as unresolved:
1) UTF-8 Note by `goodpractice::pg()` and `rhub::check(platform="debian-clang-devel")`.
2) I think, @mcsiple got several error or warning messages, in part related to LaTeX, which I'm supposing to be relate with her local settings but it should still be clarified.

Of course, I can still receive and try suggestions.

[2020-07-08 19:29] KevCaz commented on #233
Hi @kamapu,
As I was interested in your issue, I had a look at it. Looks like the UTF-8 note you got comes from your dataset (`Easplist.dra`) (see https://github.com/dankelley/oce/issues/1211)

[code]
Something that is not checked by default by `devtools::check()` (I'm guessing here) but is checked if you do the combo `R CMD build`/`R CMD check`.

Hope this could be useful.

[2020-07-08 21:36] maurolepore commented on #380
Thanks @njahn82 for your review!

@mcguinlu, please aim to address the comments of both @tts and @njahn82 within the next 2 weeks.

[2020-07-09 07:41] njahn82 commented on #380
Hi @mcguinlu. Sorry, while still playing with your app, I just realised that I was wrong and nothing is installed from the Shiny app. Please ignore this bit from the review.

[2020-07-09 10:19] bpbond commented on #373
Apologies for the delay.

## Package Review

- **Briefly describe any working relationship you have (had) with the package authors.**
- [X] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work

#### Documentation

The package includes all the following forms of documentation:

- [ ] **A statement of need** c

[2020-07-09 11:43] mcguinlu commented on #380
@njahn82 Thanks a million for your detailed review! At a quick skim, everything you flag/recommend is fixable/implementable, and will definitely help to improve the functionality. I'm also looking forward to examing `europepmc` further - to be honest, I was not aware that medRxiv preprints were indexed in Europe PMC.

@maurolepore Just confirming that I have seen this, and so am aiming to address

[2020-07-10 07:36] agricolamz commented on #385
@annakrystalli, @elinw,

I've added a message to the `.html` creating function that links to the [vigniette](https://github.com/agricolamz/phonfieldwork/blob/master/vignettes/ethical_research_with_phonfieldwork.Rmd), that I've created in order to emphasize an ethical issues. It would be nice if you take a look.

Since my package is actually a bunch of small functions I don't know how to make a sma

[2020-07-10 10:12] kamapu commented on #233
Dear all, sorry for annoying you with the issue of encodings. While I am sort of developing a pathological aversion for this aspect of programming, for people dealing with taxonomy (including myself), the use of names and their authorities is quite crucial in the management of information, thus considered in `taxlist` as a component of the identity of a taxon concept (the accepted name of the taxo

[2020-07-10 17:23] elinw commented on #385
Yes I think that the vignette is very good.

[2020-07-10 19:57] dgrtwo commented on #381
Apologies for my delay, my review is below!

Erik, am I right this is your first ROpenSci submission? Congrats and thanks for contributing! 🥳

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package author

[2020-07-11 05:50] annakrystalli commented on #385
Thanks @agricolamz.

@melvidoni will be your handling editor. It would be good to point reviewers to the above discussion to consider while they are reviewing.

[2020-07-11 13:21] agricolamz commented on #385
@melvidoni, I decided to rebuild documentation with `pkgdown` but for some reason it [works locally, but not on githubpages](https://github.com/agricolamz/phonfieldwork/issues/22)... I'll fix it soon.

[2020-07-13 05:52] maelle commented on #233
For reference link to Discourse thread https://discuss.ropensci.org/t/note-on-utf-8-strings-by-goodpractice-gp/2165

[2020-07-13 05:59] maelle commented on #335
:wave: here! I see @jmt2080ad checked "The author has responded to my review and made changes to my satisfaction. I recommend approving this package."

@karissawhiting do you have further comments for @florianm? If not could you please update this thread or check the box in [your review](https://github.com/ropensci/software-review/issues/335#issuecomment-541438418)? Thank you!

[2020-07-13 10:04] llrs commented on #359
Review 2:

I'll only reply to comments or points that weren't checked or there were some substantial comments:

 - [x] Vignette(s) demonstrating major functionality that runs successfully locally
  Now the vignettes run succesfully at least on windows, ubuntu, and I think the problems on macOs of the CI are not related to the vignette.
 - [x] Examples for all exported functions in R Help that run

[2020-07-13 13:13] noamross commented on #349
Hello @LingshuHu annd @mkearney, my apologies that this had fallen somewhat through the cracks somewhat without resolution.  We started review activities up a few weeks ago but I failed to pick up this conversation as it had spread across multiple repositories.

We adopted the policy that we discussed above and it is at https://devguide.ropensci.org/policies.html#ethics-data-privacy-and-human-subj

[2020-07-13 13:18] noamross commented on #381
Thanks for your detailed review, @dgrtwo! @eribul, lots to digest in both of these!  Please let us know if you have questions and update us with a summary of changes in your response.

[2020-07-13 16:37] arendsee commented on #359
The term `sum(x) - prod(x)` is only equal to the probability of the union when x has length 2. Calculating the union probabilities is more complicated for more than 2 sets. For 3 sets it is `P(A or B or C) = P(A) + P(B) + P(C) - P(A and B) - P(B and C) - P(C and A) + P(A and B and C)`. I recommend adding test cases for sets of 2, 3 and 4 (at least).

Think about the case of three sets with probabi

[2020-07-13 17:52] akoontz11 commented on #373
Hi @bpbond, thanks very much for taking the time to put together this review and for your feedback! I agree with everything mentioned here: the package documentation could be more informative, and I think that providing documentation for the testing code is an excellent idea, given the importance of those tests for users trying to connect to a portal. I think these changes will greatly improve the

[2020-07-13 19:52] karthik commented on #358
:wave: @iecastro I'll be taking over as editor for this submission and will follow up on what's needed to move this along. Thank you for your patience.

[2020-07-13 22:07] melvidoni commented on #385
### Editor checks:

- [X] **Fit**: The package meets criteria for [fit](https://devguide.ropensci.org/policies.html#package-categories) and [overlap](https://devguide.ropensci.org/policies.html#overlap)
- [X] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [X] **License:** The package has a CRAN or OSI accepted license
- [X] **Repository:** The

[2020-07-14 07:43] eribul commented on #381
Dear @noamross @dgrtwo and @annakrystalli I am so impressed by your efforts and comments and I am really looking forward to improve the package accordingly! I am currently on vacation without computer access however. I therefore hope that a slight delay would be acceptable? Thank you once more, I really enjoy this experience!

[2020-07-14 09:52] llrs commented on #359
@arendsee I added a helper function `union_probability` to calculate the union probabilities for an unlimited size (only tested for 3 and 4 though). However I feel that this is out of the scope of the package.

The validation of the TidySet class includes a test that check that fuzzy values are between 0 and 1 (both included). There is no need to add a unit test as it is automatically checked with

[2020-07-14 14:25] annakrystalli commented on #366
Dear all, if I don't hear anything from @etiennebr and @helenmiller16 by tomorrow, I will assume reviewers are happy with all the changes and will move on to approve the package and wrap the review up 👍

[2020-07-14 14:43] etiennebr commented on #366
I'm happy! I recommend this package to rOpenSci. Good job @jonkeane!

[2020-07-14 18:57] jooolia commented on #367
Reviewer: @karinorman
Reviewer: @Bisaloo
Due date: 2020-08-04

[2020-07-15 04:13] geanders commented on #329
@RaoulWolf : I'm taking a look through to catch up on any package reviews that have stalled, and I see that we waiting to get an update from you regarding increased code coverage for tests in this package before we proceed. Our policy is to close package review issues one year after the author's last answer, so I wanted to check to see if you had any updates?

[2020-07-15 04:24] geanders commented on #371
@kenarab : We have re-set to our normal mode for reviews, and I see that we had left this review with a remaining question about documentation, in particular to help us figure out if this package meets our criteria for novelty. I wanted to check back in with you to see if you had any updates.

As a note, there are guidelines available in Chapter 5 of our [online book](https://devguide.ropensci.org

[2020-07-15 04:27] geanders commented on #386
@chainsawriot : Thank you very much for your submission! @noamross will be your editor for the peer review process.

[2020-07-15 04:34] helenmiller16 commented on #366
Hi all, sorry I haven't gotten around to giving a full response, but I've taken a look at the updates, and am really impressed. Nice work! I'm officially recommending the package as well.

[2020-07-15 04:43] noamross commented on #381
@eribul, yes, that's fine. We aim for a _response_ to reviews within two weeks, even if all the changes involved are yet to be completed, but think of that timeframe as starting when you return.  Enjoy your vacation!

[2020-07-15 04:45] noamross commented on #373
@akoontz11 I've contacted the other reviewer again and haven't heard back. If I don't hear back soon I or someone from the team will do a rapid review.

[2020-07-15 13:56] annakrystalli commented on #366
Approved! 🚀

Thanks @jonkeane for submitting and @etiennebr & @helenmiller16  for your reviews! 😸

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I will shortly invite you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Fix all links to the GitHub repo to point to the repo under the ropensci organizati

[2020-07-15 22:09] iecastro commented on #358
Hi @czeildi - hope all is well!  I've addressed your comments below.  Thank you for your time.

  - keywords and agencies now have the same verb *get_*

  - renamed `fetch_data()`

  - argument renamed `agency`

  - results are now cached using [httpcache](https://github.com/nealrichardson/httpcache)

  - renamed to `publisher`

  - `healthdata_api` is an internal function, so the user does not ha

[2020-07-15 22:11] iecastro commented on #358
No worries @karthik, thank you - there's no rush on my part

[2020-07-16 05:44] maelle commented on #335
Thanks @karissawhiting! I'll start the last checks now!

[2020-07-16 05:51] maelle commented on #335
Approved! Thanks @florianm for submitting and @karissawhiting @jmt2080ad  for your reviews! :turtle: :sparkles:

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Fix all links to the GitHub repo to point to the repo under the ropensci org

[2020-07-16 06:03] maelle commented on #335
@jmt2080ad Could you please add a rough estimate of the time you spent reviewing in [your review](https://github.com/ropensci/software-review/issues/335#issuecomment-542019403) near `Estimated hours spent reviewing:`? Thank you.

[2020-07-18 14:27] jonkeane commented on #366
Thanks for this, and sorry for my delay in getting back. I will move my repo under the organization shortly. Do you know if there will be a delay in being able to interact with the repo after I transfer it but before I'm an admin? If so, would it be possible to coordinate a time to do that? I'm doing some work on it this weekend and don't want to accidentally lock myself out.

As for the docs, I t

[2020-07-18 18:25] pachamaltese commented on #366
@annakrystalli Hi!! Is any chance to use custom pkgdown settings?

[2020-07-18 18:33] pachamaltese commented on #366
Thanks a lot @jonkeane, I am really glad to be the Sideshow Pacha on this project. I've sent a PR that implements all of the requested changes except for the pkgdown parts. IMO, the tabs really add a lot of value and make the documentation a lot easier to read.

[2020-07-18 21:40] jonkeane commented on #366
Of course, and thanks for all of your help. I don't think there's any need to complicate the ROpenSci docs process just for {dittodb} regardless, I think at least for now I would like to keep them where they are regardless (dittodb.jonkeane.com) since I've used that URL in advertising, etc.

[2020-07-19 04:51] jonkeane commented on #366
Ok, after reading through the docs on transferring, I've gone ahead and transferred the repo to https://github.com/ropensci/dittodb

[2020-07-19 09:50] annakrystalli commented on #366
Hello @jonkeane ! Thanks for transferring the repo. I've now made you admin again.

Re the docs, I'm just enquiring as to whether anything needs to be done so as NOT to use the rOpenSci docs. Will let you know when I know :)

In the meantime, any chance you could check off from the above checklist what has been completed already? 😎🙏

[2020-07-19 11:52] agricolamz commented on #385
Dear @melvidoni,

I have added tests so there is a 82% coverage.

I decided to keep long lines greater then 80 characters when there are links ([here](https://github.com/agricolamz/phonfieldwork/blob/11517a79cdb5b50eb050fb9fe14bf54352083e72/tests/testthat/test-create-viewer.R#L5) is an example).

There is also [one false alarm](https://github.com/agricolamz/phonfieldwork/blob/11517a79cdb5b50eb050f

[2020-07-19 13:28] jonkeane commented on #366
Thank you so much! I don't know if this is me being dense, but I don't seem to be able to tick those boxes myself (I've tried both the box itself and clicking the three dots more message above that...)

In any event, what's been done now are all of the stages except the pkgdown one:

* ☑️ Transfer the repo to...
* ☑️ Fix all links to the GitHub repo...
* ☑️ Fix any links in badges for CI...
* ☑️ W

[2020-07-19 21:12] melvidoni commented on #385
Hello @agricolamz, thanks for the revision. It is good now.

The first reviewer will be @jonkeane. I am searching for a second reviewer now. The review deadline will be updated once I have both reviewers confirmed.

[2020-07-20 08:49] annakrystalli commented on #366
Oh! Sorry about that. Didn't realise you could tick the boxes! Good to know.

Regarding the docs, there is nothing else you need to do and it's fine to carry on hosting them. The rOpenSci docs will still be built but so long as you direct users to your own docs, that shouldn't be a problem.

So, I think that's wrap! I'll close this issue now.

Thanks again to everyone involved!

[2020-07-20 08:49] #366 closed

[2020-07-20 13:03] noamross commented on #386
Hello @chainsawriot, thanks for your submission!

### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](https://devguide.ropensci.org/policies.html#package-categories) and [overlap](https://devguide.ropensci.org/policies.html#overlap)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN

[2020-07-20 16:33] agricolamz commented on #385
Wow, Sign Language specialist! @jonkeane, I'm going to extend my package for working with video for sign languages one day.

[2020-07-20 23:24] jonkeane commented on #385
Hello 👋 I've already started (a very tiny bit) looking around in phonfieldwork, but I am excited to review it! I haven't done sign language research (or really linguistics in general) in a few years now, but when I saw this package in the issues it piqued my curiosity.

If you are thinking about video processing, you might want to checkout [signglossR](https://github.com/borstell/signglossR) which

[2020-07-21 05:03] agricolamz commented on #385
Hello! @jonkeane, I knew about this package, but it developed from last time I've seen it!

@melvidoni, if I may to propose my own reviewers? I know it weird since I know them personally, but in case it is not weird:

* Marcelo Araya-Salas, who developed some packages for Bioacoustics like [`warbleR`](https://github.com/maRce10/warbleR), [`Rraven`](https://github.com/maRce10/Rraven) and others
* N

[2020-07-21 05:07] florianm commented on #335
@maelle I've completed the TODO list and followed the "life after onboarding" chapter. GH actions are passing, codemeta and all docs are updated, and I've minted a DOI at Zenodo. Did I do this roughly in the correct order?

All, would you mind getting mentioned in the Zenodo record?

[2020-07-21 08:04] maelle commented on #335
I think so. What will you use the DOI for in the near future btw? codemetar doesn't use those yet.

Don't list _me_ as an author, as [written in the dev guide](https://devguide.ropensci.org/building.html#authorship), _"Please do not list editors as contributors. Your participation in and contribution to rOpenSci is thanks enough!"_ :smile_cat:

[2020-07-21 08:04] #335 closed

[2020-07-21 08:09] florianm commented on #335
I'll use the DOI to cite ruODK as a publication in our annual report. Having peer reviewed software is a first at DBCA, so a DOI helps here.

[2020-07-21 12:23] noamross commented on #386
Thanks @emmamendelsohn and @adamhsparks for agreeing to review! Due date: 2020-08-11.

[2020-07-21 19:03] wolski commented on #337
Hello @melvidoni,

I did notice that since my submission a new category was introduced i.e.
- [ ] scientific software wrappers

Which I believe our package fgcz.gsea.ora fit's rather well.
Could you please have a second look at our application?

[2020-07-21 20:14] melvidoni commented on #337
Hello @wolski. @geanders can you please take a look at this?

[2020-07-21 20:15] melvidoni commented on #385
Hello @agricolamz, thanks for the suggestions. I had contacted another potential reviewer. I'll wait for their response and if it is negative, I'll contact them. Thank you!

[2020-07-21 20:18] geanders commented on #337
Yes, I will look into this. Thanks @melvidoni!

[2020-07-22 02:14] KevinShook opened #390 "CoSMoS - does our package fit?"
Submitting Author: Kevin Shook@https://github.com/KevinShook
Repository:   https://github.com/TycheLab/CoSMoS

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropria

[2020-07-22 14:41] bretsw commented on #382
Hi @geanders, thank you so much for considering {tidytags} for review. @jrosen48 and I were just thinking about this and thought to reach out to inquire about the status of the review. We recognize that this is likely to be a very busy and hectic time and so understand if the answer is simply that it's 'in-process'. But would you be able to let us know? Thanks again for considering this. //Bret

[2020-07-22 19:36] geanders commented on #388
@ringdater : Thank you so much for your submission. We have discussed it and decided that it is out-of-scope for ROpenSci for two reasons. First, is seems the data processing is fairly specific to your field, making it more of a methodological package in terms of the underlying R functions. Second, we consider out-of-scope packages that focus on providing a Shiny app that package users would use f

[2020-07-22 19:37] #388 closed

[2020-07-22 19:37] #387 closed

[2020-07-22 19:59] geanders commented on #390
@KevinShook : Thank you so much for your query! We are discussing among the editorial board if this package falls in-scope and will get back to you.

[2020-07-22 20:08] geanders commented on #337
Thank you for your continued interest, @wolski . I have re-evaluated, and this package would still fall out of scope, even with the introduction of the new category of "scientific software wrappers". This category captures packages that wrap software that is available outside of the R environment, but not other R packages. There are some more details on this in the [ROpenSci book's section on Aims

[2020-07-22 20:11] geanders commented on #309
Hi, @h21k! We had paused some parts of our review process due to COVID, but now have gone back to our regular process. I wanted to check in and see if you are still able to review this package, or if I should search for a different reviewer to take your place? Thanks very much for any feedback you can give!

[2020-07-22 20:16] geanders commented on #281
Hi, @DillonHammill! I hope you are doing well. We typically check in on packages that are "on hold" about every three months, to see if the author is ready to proceed, and then will usually close the issue if the package has been on hold for a year or longer.

I see that we put this package on hold in January, and while ROpenSci reduced it's normal process during this past spring, we are back to a

[2020-07-22 20:27] DillonHammill commented on #281
Hi @geanders, thanks for checking in! That is great news, I have been waiting to re-submit for a while now. I should be able to re-submit by the end of next week if that is OK? I am working on a couple of other packages that I hope to submit as well.

[2020-07-22 20:29] geanders commented on #281
Yes, that would be fine. We'll plan to change out of the "holding" tag once you resubmit and let the reviewers know it's ready for them to look at again.

[2020-07-22 20:33] jacobpwagner commented on #281
I'm ready for reviewing whenever!

[2020-07-22 20:59] tyluRp commented on #309
Hi @geanders and @h21k, I have someone (@mathidachuk) who is interested in reviewing the package if needed. Please let us know!

[2020-07-23 00:14] h21k commented on #309
Hi Tyler,

thank you for the info - I should be able to pick this up by end of the
month.
So happy to review.

Best wishes,

Frank

On Wed, 22 Jul 2020 at 21:59, Tyler Littlefield <notifications@github.com>
wrote:

--
Dr Frank Soboczenski

Researcher (AI) in Health Informatics - King's College London
STEM Scientist for NASA's & NOAA's GLOBE Program
Orion Labs Machine Learning Scientist

Personal:

[2020-07-23 00:47] tyluRp commented on #309
Thanks @h21k, appreciate it!

@geanders is it possible to have more than 2 reviewers? @mathidachuk is a colleague of mine who has started participating in open source work. If she can contribute to this software review, I think it would be a good opportunity for her.

[2020-07-23 00:58] geanders commented on #309
We would love to get @mathidachuk involved as an ROpenScie reviewer! For this specific package, we do have a conflict of interest policy. Let's start by having the two of you take a look at the [conflict of interest policies](https://devguide.ropensci.org/policies.html#coi). I think if you are colleagues at the same institution, then @mathidachuk might be conflicted out from this review. However,

[2020-07-23 00:59] geanders commented on #309
@h21k : Thanks so much, and we look forward to your review!

[2020-07-23 02:20] tyluRp commented on #309
@geanders Thanks for the links, good to know!

[2020-07-23 13:07] Bisaloo commented on #367
## Package Review

- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package includes all the following forms of documentation:

- [x] **A statement of need** clearly

[2020-07-23 22:38] DillonHammill opened #391 "DataEditR: An Interactive R Package for Viewing, Entering & Editing Data"
Submitting Author: @DillonHammill
Repository:   https://github.com/DillonHammill/DataEditR
Version submitted:   0.0.5
Editor: TBD
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide

[2020-07-26 09:07] richelbilderbeek commented on #360
Going through the feedback, goes fine, but will not finish today.

[2020-07-26 09:49] czeildi commented on #358
@iecastro I reviewed your changes, looks great! I happily recommend approving this package.

I noticed one minor thing: you should no longer import `View` as you no longer use it: `#' @importFrom utils View` line should be deleted from `healthdatacsv-package.R`

[2020-07-27 00:05] karthik commented on #358
Thanks very much for the review and acceptance recommendation @czeildi

The package looks to be in good shape to me as well. Since the second reviewer has gone missing, I'll try to get someone else to do a quick review and move this to acceptance.

[2020-07-27 00:08] karthik commented on #358
:wave: @dbuijs Would you be able to help us review this package? One reviewer has already completed a thorough review and recommended acceptance. You'll need to do a sanity check and make sure everything looks ok to you. There is a checklist to work through. Thanks for considering. 🙏

[2020-07-27 12:45] mcguinlu commented on #380
Hi all (esp @maurolepore)

A brief message to let you know that I have most of the changes requested made, but due to external circumstances, I haven't yet finished off the small number of outstanding items. I'm now aiming to have it ready for re-review by Thursday week (6th August) at the very latest.

Very sorry for the delay, and hope this is okay!

[2020-07-27 13:20] levisc8 commented on #233
@kamapu regarding your last question, I do get the exact same output as you do. Furthermore, `stri_trans_general(Names, "latin-ascii") %>% str_enc_mark()` returns `'ascii' 'ascii' 'ascii'`.

[2020-07-27 13:53] levisc8 commented on #233
Review round 2:

I'm generally fine with the new form of the package. I just have some minor comments at this point.

## Unresolved issues

1. UTF-8 strings: I don't have strong feelings about this, as it is pretty far beyond my area of expertise. If you can fix it with the code blurb from above, excellent!

2. The pdflatex errors could be because pdflatex is not in the PATH variable (see [here](h

[2020-07-27 16:31] maurolepore commented on #380
That's okay. Thanks for letting me know.

[2020-07-28 06:32] adamhsparks commented on #386
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work

#### Documentation

The package includes all the following forms of document

[2020-07-28 09:11] llrs commented on #359
Hi @annakrystalli, @j23414, @arendsee.
Is there anything else I can do to proceed forward?

[2020-07-28 09:57] annakrystalli commented on #359
Hi @llrs I believe you had requested a response to one of your questions by @arendsee ?

If both @arendsee and @j23414 are happy with your responses to their reviews, I am happy to conclude this review

[2020-07-28 10:46] llrs commented on #359
Yes, along the review I made several questions which I didn't get an answer yet.

Also I don't know what was decided about reaching a statistician (from above):

[2020-07-28 12:07] iecastro commented on #358
Thanks, all! @czeildi @karthik

[2020-07-28 14:57] j23414 commented on #359
Plan to take a look again this week, thanks for the changes. And thanks @annakrystalli for organizing

[2020-07-28 22:23] arendsee commented on #359
I'm double-checking some of the math. I'll get back with you in a bit.

[2020-07-29 01:44] arendsee commented on #359
OK, the math checks out. Also, the extended vignette clarifies the fuzziness relationship.

I think this package will have a good future. There are a lot of neat directions you could take it. I think it will be good to share it with the community and get feedback. The package may incite a lot of debate, which is good. Once you and the community have hammered out the wrinkles and chosen the feature

[2020-07-29 17:34] mcsiple commented on #233
Hi @kamapu , @maelle et al.,

My apologies for the delay in responding to these new revisions and response. I have itemized them below mostly for my own mental organization (they match the structure of @kamapu 's response, I can keep track of what I have checked).

**Note/caveat**: I normally run all the checks on two different operating systems to provide better coverage in my ran everything on m

[2020-07-29 18:48] karthik commented on #358
@iecastro I'll keep looking for a second reviewer but if you have any suggestions for potential reviewers who don't have a conflict of interest, I am all ears.

[2020-07-30 16:27] wrightaprilm commented on #367
Hey @uyedaj and @cromanpa, I'll start tackling these early next week. I'm devoting 100% of my time to class prep this week.

[2020-07-30 21:26] melvidoni commented on #385
Hello @agricolamz. I am still searching for reviewers. I will provide a review deadline once the second reviewer is found.

[2020-07-31 12:47] richelbilderbeek commented on #360
Nearly done processing all feedback. As expected: the package already got so much better :+1:

[2020-08-01 05:30] cromanpa94 commented on #367
Sounds perfect @wrightaprilm!! I'm also go over the @Bisaloo's comments during the weekend!

[2020-08-02 11:15] maelle commented on #360
Thanks for the update! 😀

[2020-08-02 23:24] DillonHammill commented on #281
Apologies for not getting back to you last week, our group has been working on getting a paper submitted last week so I was bogged down helping with that.

I will devote all my time this week to getting this ready for review. I am currently performing my own code review, as the package has become quite large and a lot of the code can be simplified with the use of newly created functions.

I am wor

[2020-08-03 04:59] j23414 commented on #359
The new version passes checks so far... took a while to build the advanced vignette but I can see that fuzzy values were added (good). Glad to see more explanations and links in README, Fuzzy, and Advanced. For `set_size`, the new `cardinality` function matches what I'd expect in fuzzy sets.

In summary, can see how the package may be useful. Agree that it can continue to be refined with an active

[2020-08-03 10:46] jonaslenz opened #392 "Presubmission inquiry: Is toolbox.E3D in scope?"
Submitting Author: Jonas Lenz (@jonaslenz)
Repository:  https://github.com/jonaslenz/toolbox.e3d

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.

[2020-08-03 18:49] Bisaloo commented on #367
BTW, feel of course free to challenge any of my comments. You have spent more time thinking about this package than me so it's entirely possible that some of my concerns are misplaced.

[2020-08-03 19:10] LingshuHu commented on #349
Dear @noamross ,

Thank you for updating! We really appreciate your work during this hard time! We think providing users with contact information would be a great idea. We have included it in README.Rmd and also remind users to contact their local IRBs to get more detailed information about privacy policies. We also created a package startup message containing this information. Whenever users libr

[2020-08-03 19:49] eribul commented on #381
Once again I must appologize for my late response! I have been back from vacation but had to put intense work into my PhD thesis with deadline from the print shop today. I am now on vacation once more, for an additional two weeks. I do have access to my computer, however, and I hope to be able to do at least some work :-)

I have organized the raied issues from @zabore here: https://github.com/eri

[2020-08-04 08:30] nevrome opened #393 "Submission: bleiglas"
Submitting Author: Clemens Schmid (@nevrome)
Repository:  https://github.com/nevrome/bleiglas
Version submitted: 0.0.1
Editor: TBD
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guid

[2020-08-04 13:56] annakrystalli commented on #359
Quick update from me too, I'm finding it hard to find someone that's either available (lots of folks are on holiday) or comfortable commenting on the issue.

In truth, statistical packages are technically out of scope for standard rOpenSci review. I think we felt at submission that set operations we pretty well established so I didn't anticipate this is as an issue. That's my bad but it's why we s

[2020-08-04 14:04] annakrystalli commented on #359
Approved! Thanks @llrs for submitting and @arendsee & @j23414 for your reviews! 🎉 🚀

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Fix all links to the GitHub repo to point to the repo under the ropensci organization.
- [ ] If you alre

[2020-08-04 14:32] annakrystalli commented on #359
Thanks for transferring @llrs ! I've made you admin again 👍

[2020-08-04 14:35] llrs commented on #359
Many thanks @annakrystalli for approving the package. I already transferred the package and hope to finish all the other steps either today or tomorrow.

Soon I'll begin my holidays and won't be able to contribute with a post for the blog, but I'd like to write one after September @stefaniebutland. But I'm also hoping to present on the Rstudio conference on January... not sure when I'll manage to

[2020-08-04 14:38] annakrystalli commented on #359
No problem. Just ping when you are done. And enjoy your holidays! Well deserved 😎🏝

[2020-08-04 19:40] karinorman commented on #367
Hi @cromanpa94 - I really enjoyed exploring your package. It seems like a really nice tool for making phylogeny data easier to work with and I'm sure it's going to get a lot of use! See below for my comments.

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly descr

[2020-08-04 20:40] karthik commented on #358
Adding @richfitz as second reviewer. Thanks for volunteering Rich! Much appreciated.

[2020-08-05 00:29] stefaniebutland commented on #359
@llrs I just saw [your tweet about your RStudio talk](https://twitter.com/Lluis_Rev/status/1289301542659477504)! This is wonderful. I'll mark my calendar to contact you in late September about a post.

Enjoy your holidays!

[2020-08-05 15:35] llrs commented on #359
@annakrystalli I think I finished with all the required changes. Let me know if I missed anything. (I haven't submitted to CRAN yet. I'll wait until another submitted package is accepted to submit BaseSet to CRAN)

[2020-08-05 19:22] iecastro commented on #358
Thank you! @karthik @richfitz

[2020-08-05 20:14] melvidoni commented on #385
Thank you @jonkeane and @nikopartanen for agreeing to review the package.

The review due date is **August, Friday 28th**

[2020-08-06 16:35] mcguinlu commented on #380
# Overview

To start, thanks once again to everyone for your constructive comments! I've gone through all the posts above and have tried to extract all feedback here so that I can address it systematically. - please let me know if I have missed anything. Comments are divided by commenter and topic for ease of reference, and are presented in bold text, with the response immediately below.

## Revie

[2020-08-08 13:09] jooolia commented on #367
Thanks a lot Kari and Hugo for your careful and thoughtful reviews.

On Tue, 4 Aug 2020 at 21:40, Kari Norman <notifications@github.com> wrote:

[2020-08-08 16:04] maurolepore commented on #380
@mcguinlu, thanks for your hard work. See my comments below.

@tts and @njahn82 please consider @mcguinlu 's changes and respond with either your approval or a suggestion for improvement.

--

### Following up previous comments (editor checks)

* ml3: `spelling::spell_check_package()` still shows some unknown words. Please update your words list and
consider automating the process with `usethis::u

[2020-08-10 09:08] tts commented on #380
Hi @mcguinlu and thanks for your efforts! Below, I'll use your headings, and give my remarks to each of them.

In addition to adding your suggested diagram, I have tried to make the language used across the documentation more consistent, but please do point out anything that could be clearer!

Great, much better now. I cannot find anything more to complain :)

having to hit "Esc"/click "Stop" mult

[2020-08-10 15:21] annakrystalli commented on #359
Hey @llrs, everything looks good to me.  A couple of things to note:
- A couple of badges are showing as `unknown` (even though it looks like you've correctly set the new URLs). Might want to trigger a build to reanimate them.
- The CMD-CHECK GitHub Action & Travis seem to be failing. You might want to look into that.

Otherwise, I'm happy to conclude the review and close the issue. Now it's time

[2020-08-10 15:21] #359 closed

[2020-08-10 15:37] noamross commented on #373
As we've not heard back from our other reviewer, @sckott, is doing a rapid review.

[2020-08-10 20:19] willpearse commented on #373
Great, thanks very much.

[2020-08-11 00:23] emmamendelsohn commented on #386
Heads up I will have my review posted tomorrow!

[2020-08-12 02:05] emmamendelsohn commented on #386
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revie

[2020-08-12 14:26] nfrerebeau opened #394 "Presubmission inquiry: khroma (Colour Schemes for Scientific Data Visualization)"
Submitting Author: Nicolas Frerebeau (@nfrerebeau)
Repository:  https://github.com/nfrerebeau/khroma

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box be

[2020-08-12 14:52] geanders commented on #391
Thanks so much for your submission, @DillonHammill! It looks like a very interesting package, and one that will be useful for many R users.

I have two follow up questions:

First, a question regarding if the package is in-scope for rOpenSci: The package certainly looks like it could fall within "data munging", which is one of our categories. However, we also now have a special consideration for p

[2020-08-12 15:17] geanders commented on #392
@jonaslenz : Thanks very much for your submission as well as your clear explanation of some of the potential issues!

A key question will likely be that the software being wrapped is not open-source, as you have pointed out.  I will discuss with the rest of the editorial team, and we may have some more questions and clarifications to ask of you.

In the mean time, you may also want to check the se

[2020-08-12 15:42] geanders commented on #393
@nevrome : Thank you so much for this very interesting submission! The editorial team is discussing to make sure it falls within scope. We will be back in touch if we have follow-up questions as we discuss this.

[2020-08-12 15:54] statnmap commented on #113
I'd like to help in finishing this process. Indeed, the maintainer passed away last year, so I decided to take over the development of this package but I am not sure to find time and resources to do it alone.
I did not had the opportunity to know Jirka. I am just a recent user of his package.

I already cloned the original Github repository and started accounting for @jennybc comments: https://git

[2020-08-12 19:58] DillonHammill commented on #391
Thanks for taking a look at DataEditR @geanders. I hadn't thought about generating code to mimic the interactive edits, but it is certainly possible.

I haven't included unit tests at the moment as it is only a single function that is widely used in CytoExploreR. This is where I would pick up on any problems. I am working on adding some shiny tests but from memory these are not included in the tes

[2020-08-12 21:25] noamross commented on #113
Hello @statnmap.  We're saddened to hear of the maintainer's passing.  We are encouraged to hear you are interested in updating and maintaining the package and would be glad to help find you some support.   Can you provide an email so we can invite you to our Slack workspace where we'll ping for volunteers?

[2020-08-12 21:44] statnmap commented on #113
Sure. You can send the invitation here: sebastien@thinkr.fr
Thanks.

[2020-08-12 22:18] agila5 opened #395 "Submission: osmextract"
Submitting Author: Andrea Gilardi (@agila5)
Repository:  https://github.com/ITSLeeds/osmextract
Version submitted:  0.1.0
Editor: @annakrystalli
Reviewer 1: @potterzot
Reviewer 2: @salvafern
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https:/

[2020-08-13 08:43] jonaslenz commented on #392
@geanders : thank you very much for your response and the hint to the software wrapping section.

regarding this section, I wan't to give a hopefully helpful description of the wrapped software EROSION-3D:
 - it is a standalone modelling tool for soil erosion processes (including infiltration, flow routing, erosion processes)
 - other comparable tools do exist - kardyras et. al listed ~25 directly

[2020-08-13 23:09] sckott commented on #373
## Package Review

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting your review).

#### Documentation

The package i

[2020-08-14 07:32] statnmap commented on #113
I joined the Slack workspace. Thanks.
I take my 3 weeks vacation and when I come back, we'll ping for volunteers.
I'll have to open some issues first to define what is to be done.

[2020-08-14 16:05] mcguinlu commented on #380
Thanks for the further feedback both (and Happy Friday)! Please find my responses to your comments below:

# Editor (@maurolepore)

* **ml3: `spelling::spell_check_package()` still shows some unknown     words. Please update your words list and consider automating the process with `usethis::use_spell_check()`.**
  I have automated the spellcheck now as recommended.

* **ml4: `goodpractice::gp()` s

[2020-08-14 20:13] hadrilec opened #396 "Submission : insee"
Submitting Author: Hadrien Leclerc (@hadrilec)
Repository:   https://github.com/hadrilec/insee
Version submitted:   0.9.0
Editor: TBD
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_g

[2020-08-17 11:09] maelle commented on #360
:wave: @richelbilderbeek, any update?

[2020-08-17 11:09] maelle commented on #233
:wave: @kamapu, would you soon be able to respond the reviewers' new comments? Thank you.

[2020-08-17 18:34] tts commented on #380
@mcguinlu Yes, my details in DESCRIPTION are correct.

[2020-08-19 13:42] richelbilderbeek commented on #360
Will put in some more work on Friday/Saturday/Sunday :rainbow:

[2020-08-19 15:53] cromanpa94 commented on #367
Thank you so much @karinorman and @Bisaloo for your comments 😄

We have addressed your concerns in a new branch (https://github.com/uyedaj/treedata.table/tree/cristian). Our answers are presented under issues in our repository (https://github.com/uyedaj/treedata.table/issues/1) but we're more than happy to post the same information here if necessary.

[2020-08-19 16:18] maurolepore commented on #380
@mcguinlu, just to let you know that I believe @njahn82 will respond to your changes next week.

[2020-08-19 16:34] mcguinlu commented on #380
Great - thanks for letting me know!

[2020-08-19 17:28] hadrilec commented on #396
I would like to pause this submission, as further work is needed on my side to settle some issues.
I may follow up on this submission later on.
Best regards,
Hadrien

[2020-08-20 15:14] Bisaloo commented on #367
Thank you for your work! I think the package has much improved.

The authors have addressed all my comment either by updating the package or making a receivable answer as to why they'd rather not, so I recommend approving this package.

I have submitted a PR with a couple of very minor changes. I hope you don't mind. It seems like it will save time to everyone to make the changes directly instead

[2020-08-23 20:38] melvidoni commented on #385
Tanks @jonkeane for the review! @agricolamz you can start checking it, otherwise, you can wait for @nikopartanen to finish their review. There are still 4 days left.

[2020-08-24 11:39] iecastro commented on #358
Thank you, @richfitz @karthik -  I appreciate everyone's time. I have reviewed the comments, and will start working on them soon.

[2020-08-24 13:48] mcguinlu commented on #380
Thanks @njahn82. Just to note as well that I recently moved the snapshot functionality from relying on my local Task Scheduler to working from [GitHub Actions](https://github.com/mcguinlu/medrxivr-data), so it should now be a lot more robust (in the past, if my local PC experienced network issues, the snapshot would not be taken).

In response to your comments:

**I wonder if the returned data fra

[2020-08-24 16:06] cromanpa94 commented on #367
Thank you so much @Bisaloo! We just addressed all the remaining comments int the following commits:

https://github.com/uyedaj/treedata.table/commit/4917b4aa4d616bfa2b08189beae1266f0562f93e

We also included additional details on why to talk about Matrix in `filterMatrix()`. The documentation now distinguishes between character matrix (describing the features of organisms) and the class of the inp

[2020-08-24 16:37] karinorman commented on #367
@cromanpa94 Thank you for your response and especially for additionally explanation of domain-specific language.

@jooolia The reviewers have addressed my comments and I am happy to recommend the the package for approval.

[2020-08-25 13:31] richelbilderbeek commented on #360
Made some progress today :+1:

[2020-08-25 18:42] jooolia commented on #367
Great! Thanks @cromanpa94 , @wrightaprilm  and @uyedaj for the submission and @karinorman and @Bisaloo for the reviews. I am a guest editor so I need to get help creating the github team that will allow us to transfer the repository over to ropensci and the next steps. I will follow up soon. Thanks, Julia

[2020-08-25 18:47] cromanpa94 commented on #367
Thanks @jooolia, @Bisaloo, and @karinorman for all the help and feedback!

[2020-08-25 18:49] wrightaprilm commented on #367
Awesome, thanks everyone for your hard work, especially during such a challenging time!

[2020-08-26 17:34] akoontz11 commented on #373
Hi @sckott and @bpbond, thanks very much for all of the helpful feedback on SymbiotaR2! I'm working on each of these points now and will post in this thread once these changes have been incorporated.

[2020-08-28 11:39] maurolepore commented on #380
Thanks @njahn82 and  @mcguinlu,

@njahn82, once again, please consider @mcguinlu 's changes and respond with either your approval or further suggestions for improvement.

[2020-08-28 13:56] nikopartanen commented on #385
## Package Review

- I have met George Moroz many times. I'm familiar with his work, and have used his another R package lingtypology often in my own work.
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work

#### Documentation

The package includes all the following forms of documentation:

- [x] **A

[2020-08-28 14:27] agricolamz commented on #385
Thank you, @nikopartanen!

[2020-08-28 14:36] nikopartanen commented on #385
You are more than welcome, @agricolamz! It was a pleasure to dive deeper into this package, and I haven't probably even got that far yet with it, but today was the deadline so I wanted to respect that. Have a good weekend!

[2020-08-30 20:39] melvidoni commented on #385
Thanks @nikopartanen for the review!
@agricolamz Please let us know when the changes are up. Write a comment explaining them, so the reviewers can review the changes.

[2020-08-31 19:26] jooolia commented on #367
Thanks again @uyedaj, @wrightaprilm,and @cromanpa94  for submitting and @karinorman and @Bisaloo for your reviews! :)

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  Maelle Salmon has invited you to a team that should allow you to do so.  Let us know when you've done this and I can let her know to make you admins once you do.
- [ ] Fix

[2020-09-01 05:12] eribul commented on #381
Again, sorry for the delay! This review is top-of-mind and I really look forward to summarize my response. I just realize, however, that my upcomming PhD defense, combined with additional undertakings, will block most days of my calender until at least 2020-09-18. I have been working on several issues, however, and the partiel progress can be tracked by the links provided in the previous comment.

[2020-09-02 14:08] njahn82 commented on #380
Thank you again @mcguinlu for your careful consideration of my review! All my suggestions have been addressed.

[2020-09-04 16:59] uyedaj commented on #367
Apologies @jooolia, can you resend the invitation to ropensci? It has just expired for me.

[2020-09-05 14:33] maurolepore commented on #380
Approved! Thanks @mcguinlu  for submitting and @tts and @njahn82 for your reviews! :smile:

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  Soon you will be invited to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Fix all links to the GitHub repo to point to the repo under the ropensci organization.
- [

[2020-09-05 16:24] richelbilderbeek commented on #360
I have processed all the feedback, see my feedback here: [https://github.com/richelbilderbeek/mcbette/issues/30](https://github.com/richelbilderbeek/mcbette/issues/30).

There is a (reported) problem with the Travis CI service, hence the build does not pass there. It does pass locally.

[2020-09-06 13:12] jooolia commented on #367
No prob @uyedaj  I will ask again. :) Thanks, Julia

[2020-09-06 18:31] stefaniebutland commented on #367
Hi @uyedaj, I sent a new invitation just now to juyeda@vt.edu.
See you there!

[2020-09-07 05:42] maelle commented on #367
@cromanpa94 @uyedaj I re-sent an invitation to the ropensci GitHub organization. @wrightaprilm  was already in the team and org.

@stefaniebutland I think you mean the slack workspace, which is useful in any case!

[2020-09-07 07:17] maelle commented on #360
@richelbilderbeek thank you! could you please post your response in this thread?

[2020-09-07 15:02] rkrug opened #397 "Presubmission inquiry: ROriginStamp - obtaining trusted timestamps from OriginStamp"
Submitting Author: Rainer M Krug (@rkrug)
Repository:   https://github.com/rkrug/ROriginStamp

---

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.:

	- [ ] data retrieval
	- [ ] data extraction
	- [ ] database acc

[2020-09-07 15:17] uyedaj commented on #367
Thank you @maelle and @jooolia, I've transferred the repo to ropensci's github organization and need to be made an admin now to do the next steps.

[2020-09-08 05:42] maelle commented on #367
Yay! I made the three of you admin again. :heavy_check_mark:

[2020-09-08 11:26] annakrystalli commented on #380
Hello @mcguinlu! I've just invited you to the @ropensci/medrxivr team! You should now be allowed to transfer the repo. Once you do, just ping me here and I'll transfer full admin rights back to you 🙂👍

[2020-09-08 11:34] mcguinlu commented on #380
Hi @annakrystalli have transferred across now. @maurolepore thanks for the checklist - I will work through it over the coming day. And finally, just flagging to @stefaniebutland that I would be interested in producing a blog post for this package!

Thanks again to @tts and @njahn82 for reviewing, and @maurolepore for herding us all through the process!

[2020-09-08 11:36] annakrystalli commented on #380
Thanks @mcguinlu ! Full admin rights now returned 👍

[2020-09-08 13:54] richelbilderbeek commented on #360
The first reviewer's comments:

I completely agree that getting `rJava` to work is the toughest nut to crack! I've seen this is true for Linux, Mac and Windows. Yet, `beastier` (a dependency of `mcbette`) needs it to -indeed- get the default Java path as well getting the Java version, which helps out in processing bug reports (created by `beastier::beastier_report`).

However, I feel hand-coding t

[2020-09-08 13:54] richelbilderbeek commented on #360
Second reviewer's reply:

Indeed, it was a bit concise. I have rephrased this as such:

`mcbette` allows for doing a Model Comparison using `babette` (hence the name),
that is, given a (say, DNA) alignment, it compares multiple phylogenetic inference
models to find the model that is likeliest to generate that alignment.
With this, one can find the phylogenetic inference model that is
simple enough

[2020-09-08 13:55] richelbilderbeek commented on #360
@maelle: Here goes! A bit clumsy that I forgot :blush: ....

[2020-09-08 13:57] maelle commented on #360
Thank you, no problem!

@vbaliga @bjoelle are you satisfied with @richelbilderbeek's response? If so would you mind checking the box " The author has responded to my review and made changes to my satisfaction. I recommend approving this package." in your review and if not would you be able to add some comments in this thread? In any case many thanks already and again for your reviews.

[2020-09-08 14:49] danielskatz commented on #380
Has this review been completed?  (I'm asking as the editor of the corresponding JOSS submission)

[2020-09-08 16:59] mcguinlu commented on #380
Okay, I've completed all the steps now @maurolepore! Re: the JOSS review, please see @danielskatz's comment above.

The one thing I wasn't clear on was how to replace the old `pkgdown` website with a redirecting page - seeing as the repo has been transferred across, the old `pkgdown` website on GitHub Pages ([https://mcguinlu.github.io/medrxivr/index.html](https://mcguinlu.github.io/medrxivr/index

[2020-09-08 17:12] maurolepore commented on #380
@danielskatz, thanks for checking. Yes, as the guest editor of this submission, I confirm this review has been completed.

[2020-09-08 17:32] maurolepore commented on #380
@mcguinlu,

RE:

I'm sorry this isn't clear for you or me. But as you say, the working website seems correct. I see no reason to worry.

Here are a few more comments from section 8.1.4 of <https://devguide.ropensci.org/>:

* If you intend to submit to CRAN, see [CRAN gotchas](https://devguide.ropensci.org/building.html#crangotchas). I"m happy to provide support through this process. Let me know.

[2020-09-08 17:42] maurolepore commented on #380
@mcguinlu, I see you already mentioned Stephanie Butland above. To comply with https://devguide.ropensci.org/editorguide.html#after-review, I here I also mention ropensci/blog-editors for follow-up about your willingness to write a blog post or tech note.

Finally, please see https://devguide.ropensci.org/editorguide.html#package-promotion

[2020-09-09 11:30] maurolepore commented on #380
@mcguinlu , thanks and congratulations! To the best of my knowledge, this completes the review process so I'll close now.

--

You may already know this. To prepare packages for CRAN, [`usethis::use_release_issue()`](https://usethis.r-lib.org/reference/use_release_issue.html) is useful. And [here](https://github.com/2DegreesInvesting/resources/issues/201) are some aspects of the workflow that migh

[2020-09-09 11:31] #380 closed

[2020-09-09 20:46] stefaniebutland commented on #380
Hello @mcguinlu. We'd love to have a post about medrxivr.

Our [Blog Guide](https://blogguide.ropensci.org/) has most of the information you should need, with both content and technical advice.

Let me know when you'd like to submit a draft and I can suggest a publication date.

[2020-09-09 20:53] stefaniebutland commented on #380
@mcguinlu Also let me know if you'd like a new invitation to rOpenSci Slack

[2020-09-09 21:30] vbaliga commented on #360
Rather than edit my previous review, I am electing to write a fresh one here:

## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflict

[2020-09-10 06:16] richelbilderbeek commented on #360
@vbaliga is right: I will process his feedback in this weekend :+1:

[2020-09-10 09:40] mcguinlu commented on #380
@stefaniebutland a new invite would be great! I thought I had activated the first one correctly but apparently not (I am still getting to grips with Slack) 🤦‍♂️ and happy to continue chatting about this there.

[2020-09-11 19:16] uyedaj commented on #367
I hope we have completed all of these satisfactorily:

Thank you for your help!

[2020-09-16 15:24] kamapu commented on #233
Sorry for the break (many duties and a new family member arrived). I'm ready to go!

[2020-09-16 17:09] kamapu commented on #233
# Response to Reviews in Round 2

Dear @maelle @mcsiple @levisc8
I'm sorry that despite the progress on the review I had to stay out of programming for a while. Now I'm back and like to thank for all valuable comments again.

I will than refer to the comments of reviewers at round 2.

# Response to @levisc8

### Unresolved Issues

- [x] UTF-8 strings
Since the option is still open, I will take it.

[2020-09-17 07:02] maelle commented on #233
Thanks @kamapu and congrats again on the new family member!

@mcsiple @levisc8 are you ok with the response?

[2020-09-17 09:45] lbusett opened #398 "presubmission inquiry - prismaread"
Submitting Author: Lorenzo Busetto (@lbusett )
Repository:
https://github.com/lbusett/prismaread/
---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box below.

[2020-09-17 17:06] mcsiple commented on #233
Yes, it looks good to me. Thank you @kamapu , @levisc8 and @maelle (and
congratulations from me too!)

On Thu, Sep 17, 2020 at 12:02 AM Maëlle Salmon <notifications@github.com>
wrote:

--
____________________________________

Margaret (Megsie) Siple
James S. McDonnell Postdoctoral Fellow
Department of Ecology Evolution & Marine Biology
University of California Santa Barbara

mobile: +1 (206) 661-8

[2020-09-17 19:33] geanders commented on #394
@nfrerebeau : Thank you so much for your submission, and we are discussing if this will be considered in-scope. In the meantime, could you please provide a bit more description of how this package differs from `colorblindr`, and also how it differs from the `dichromat` package?

[2020-09-17 19:51] geanders commented on #397
@rkrug : Thanks very much for your inquiry! We are discussing if this would be in-scope and will get back in touch.

[2020-09-17 19:55] jooolia commented on #367
Great thanks @uyedaj ! It looks good and I will close this issue. I think that you can also close your issue related to this review in your repo.
If you or @wrightaprilm or @cromanpa94  are interested in writing a blog post to promote your package that is a possibility, but it is optional and up to you.
Thanks again for the package and the nice submission and review process.
Cheers, Julia

[2020-09-17 19:55] #367 closed

[2020-09-17 20:07] geanders commented on #398
@lbusett : Thanks so much for your presubmission! We will be discussing if it would be in-scope. As a first question to help our discussion, it sounds like some of the tasks listed for "data munging" are perhaps closer to "data extraction", in terms of parsing scientific datasets. There is some more guidance in the [rOpenSci book](https://devguide.ropensci.org/policies.html#aims-and-scope) on thes

[2020-09-17 20:46] rkrug commented on #397
Thanks a lot.

[2020-09-18 13:14] lbusett commented on #398
@geanders

   thanks for your prompt reply! I'll answer inline.

Yes, after reading the description more carefully I'd guess that the Data Extraction category could fit better, since `prismaread` main objective is to parse/retrieve the data coming from a scientific equipment (the PRISMA hyperspectral sensor) to make it more easily accessible to users. I was probably a bit mislead by the "tools for

[2020-09-22 01:27] melvidoni commented on #385
Hello @agricolamz, are there any updates in your reply to reviewers?

[2020-09-22 04:46] agricolamz commented on #385
only small updates, but I will make more till the end of this week

[2020-09-24 05:06] pat-s commented on #356
@noamross

Just wanted to inform you that I've started to incorporate {vcr} for http testing.
Still facing issues and lacking time but this project is not stalled (anymore) :)

[2020-09-24 10:30] ClaudioZandonella opened #400 "Presubmission inquiry: PRDA"
Submitting Author: Claudio Zandonella Callegher (@ClaudioZandonella)
Repository: https://github.com/ClaudioZandonella/PRDA

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check

[2020-09-28 12:08] levisc8 commented on #233
Hi @kamapu @mcsiple @maelle ,
Sorry for the slow response - the changes look good to me as well. Congratulations on the newest addition to your family @kamapu!

[2020-09-29 06:51] agricolamz commented on #385
Dear @jonkeane and @nikopartanen, I've made a lot of changes. Thank you again for your comments.

I'm mostly finished. The only big changes that left are

* to create an additional functions instead of `..._from_folder` arguments;
* fix all `draw_...` tests according to @jonkeane comments.

I will finish it during this week.

Here are my answers to some of your comments (for most of them, I just c

[2020-09-29 08:29] maelle commented on #233
Approved! Thanks @kamapu for submitting and @mcsiple @levisc8 for your reviews! :smile_cat:

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Fix all links to the GitHub repo to point to the repo under the ropensci organization.
- [ ] If

[2020-09-29 08:52] kamapu commented on #233
:partying_face: :partying_face: :partying_face:
Then, there is some work to do, still. Surely I'll come back with some questions.
Thanks to all participants in the development and review!

[2020-09-29 18:46] annakrystalli commented on #395
Hello @agila5 and many thanks for your submission! Apologies for the slow response but many of us have been on holiday.

I'll be your editor for this submission and will begin initial editor's checks now. Will be back in touch shortly! 👍

[2020-09-29 22:47] bjoelle commented on #360
Sorry it took me so long to come back to this review ! Overall I am happy with the changes that have been made to the package and documentation.
My one comment would be that I feel like the current version of the JOSS paper underplays the usefulness of the package (the statement of need in particular feels a bit weak). I would state more clearly what the added value of `mcbette` is (compared to us

[2020-09-30 04:51] maelle commented on #360
Thank you @bjoelle! The JOSS comments are very important. @richelbilderbeek note that JOSS recently changed their scope so please read the scope again before submitting https://joss.theoj.org/about#submitting

Approved! Thanks @richelbilderbeek for submitting and @vbaliga @bjoelle  for your reviews! :smile_cat:
To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Set

[2020-09-30 04:54] maelle commented on #233
Please ping me once you've transferred the repo so that I might give you admin rights back, and feel free to ask me any question.
Note that the invitation to the ropensci GitHub organization expires after I think one week. If you try to transfer the repo too late, tell me to re-send an invite.

[2020-09-30 15:43] annakrystalli commented on #395
### Editor checks:

- [x] **Fit**: The package meets criteria for [fit](https://devguide.ropensci.org/policies.html#package-categories) and [overlap](https://devguide.ropensci.org/policies.html#overlap)
- [x] **Automated tests:** Package has a testing suite and is tested via Travis-CI or another CI service.
- [x] **License:** The package has a CRAN or OSI accepted license
- [x] **Repository:** The

[2020-10-01 07:17] agila5 commented on #395
Hi @annakrystalli. First of all, thank you very much for testing our R package and helping us make it better.

I tried to reproduce the errors using my laptop (running Windows 10) and a server (running Ubuntu 16.04), but I couldn't replicate it. Could you please share the output of `sessionInfo()` and `sf::sf_extSoftVersion()`? @Robinlovelace suggested it may be a problem related to an old version

[2020-10-01 11:56] mpadge commented on #395
For what it's worth, the package installs and tests clean on my (linux) system with absolute latest versions of everything (well, okay, not yet R4.0.3 :smirk:):

    R.Version()$version.string
    #> [1] "R version 4.0.2 (2020-06-22)"
    system2 ("gdalinfo", "--version", stdout = TRUE)
    #> [1] "GDAL 3.0.4, released 2020/01/28"
    system2 ("proj", "--version", stdout = TRUE)
    #> [1] "Rel. 6

[2020-10-02 13:29] wlandau opened #401 "targets and tarchetypes"
Submitting Author: Name (@wlandau)
Repository:
* `targets`: https://github.com/wlandau/targets
* `tarchetypes`: https://github.com/wlandau/tarchetypes. (`tarchetypes` is a small companion package that only serves to extend `targets`, so thought it appropriate to submit it for review along with `targets`.)
* The manual: https://github.com/wlandau/targets-manual. (For https://github.com/ropensci-boo

[2020-10-02 13:46] lbusett commented on #398
@geanders

   Hi, sorry for bothering you: I was just wondering if there are any news on this presubmission enquiry.

   regards,

Lorenzo

[2020-10-02 22:36] kamapu commented on #233
# Done
- [x] Transfer to ropensci repository
- [x] Fixed links
Done in https://github.com/ropensci/taxlist/commit/d962046b6f80a7cf28a2956203ed178ffc146886
- [x] Redirect site to 'docs/ropensci'
Done in https://github.com/ropensci/taxlist/commit/fab0ca5318f142c0ac60f611f388facb355136d6
- [x] Set links in badges
Done by solving the second comment
- [x] Add codemeta.json
Done in https://github.com/ro

[2020-10-02 22:39] kamapu commented on #233
@maelle I just transferred the repository to ROpenSci and tried to respond to all bullet points accordingly.
There is just one issue regarding to the new package site and the images. How can I include the figures to be displayed in **docs/ropensci**?

[2020-10-03 15:13] maelle commented on #233
@kamapu I gave you admin rights again. I am not sure I follow your question. Where are those images now? What docs/ropensci deploys is a pkgdown website. I see images in https://docs.ropensci.org/taxlist/, what is missing?

[2020-10-03 17:18] kamapu commented on #233
@maelle
In the source of the package there is a folder **README-figures**, which contains a PNG-image of the `taxlist` data schema (Figure before chapter **Installing taxlist**) but is also used to store figures generated by plotting functions (barplot at the very bottom, before **Acknowledgements**).
While these figures are visible in https://github.com/ropensci/taxlist/, they are missing in http

[2020-10-04 05:21] maelle commented on #233
Does https://pkgdown.r-lib.org/reference/build_home.html#images-and-figures help?

[2020-10-04 13:51] annakrystalli commented on #395
Thanks for the prompt response.  The message is useful as is the note in the README. However I would move that to the installation section and be explicit about the minimum versions of the GDAL and PROJ libraries required for full functionality.

Now onto the fix I had a few issues with (so anticipate others might too!). Apologies for not sharing platform details earlier! Indeed I am on macos, her

[2020-10-04 14:17] richelbilderbeek commented on #360
Great! Will do so ASAP, probably next weekend :+1:

[2020-10-04 15:06] nfrerebeau commented on #394
@geanders : Sorry for this late response, I just edited my first comment to clarify the differences with the `colorblindr` and `dichromat` packages.

[2020-10-04 17:40] kamapu commented on #233
Oh, yes!
@maelle I used the opportunity to add some improvements:

- Function `match_names()` is sorting results by similarity
- I included within the package code (folder **inst**) all data required by the vignette.

[2020-10-05 00:30] agricolamz commented on #385
So now in order to separate functions for reading individual files and reading all the files in the directory I created a function `read_from_folder <- function(path, FUN){...}` which reads each file format from folder according to some existing function in `phonfieldwork`, e. g. `read_from_folder("test", textgrid_to_df)`. What do you think, should I also create a separate functions like `textgrid

[2020-10-05 06:06] maelle commented on #233
Awesome! Let me plug two blog posts of mine :grin:
* https://blog.r-hub.io/2020/06/03/vignettes/
* https://blog.r-hub.io/2020/05/29/distribute-data/

In any case I think I can close this issue but feel free to ask questions here / in the forum / etc.

Thanks all again!

[2020-10-05 06:06] #233 closed

[2020-10-05 06:06] maelle commented on #360
Ok, thanks for the update! :pray:

[2020-10-05 06:14] maelle commented on #397
:wave: @rkrug sorry for the delay. We've discussed and assessed it would fit under "workflow automation".

Before submission, we'd encourage you to add more docs of the use of the package from the reproducibility point-of-view (in the README and elsewhere), and higher-level functions automatically that automatically hash and timestamp an R object would be useful (if they don't already exist and we

[2020-10-05 06:14] #397 closed

[2020-10-05 06:15] maelle commented on #396
:wave: @hadrilec, any update?

[2020-10-05 06:20] maelle commented on #394
:wave: @nfrerebeau, thanks again for your submission and clarifications. However, we no longer have a visualization category for software review see https://devguide.ropensci.org/policies.html#aims-and-scope so this package would be out of scope. Thanks again for your asking, and we hope you find another venue for this important work for accessibility!

[2020-10-05 06:20] #394 closed

[2020-10-05 06:22] maelle commented on #329
It's been more than one year after the author's last answer, so closing.

[2020-10-05 06:23] maelle commented on #371
:wave: @kenarab, any update?

[2020-10-05 06:35] maelle commented on #392
:wave: @jonaslenz sorry for the delay and thanks for your answer. Because of the existence of open-source alternatives to EROSION-3D, ultimately we decided that your package is out-of-scope. Thanks again for your submission and good luck with further development!

[2020-10-05 06:35] #392 closed

[2020-10-05 06:43] maelle commented on #393
:wave: @nevrome, sorry for the delay. We've discussed and ultimately decided it's out-of-scope:

* The category for scientific software wrappers isn't for packages with C++ inside the package;
* Your packages is not _specifically_ for geospatial applications (its more general scope is a strength for sure, but makes it out of scope).

Thanks again for your submission, we hope you find another venue

[2020-10-05 06:43] #393 closed

[2020-10-05 06:55] maelle commented on #309
:wave: @h21k, are you still able to review the package? If so here's the link to our [reviewers guide](https://devguide.ropensci.org/reviewerguide.html) and [review template](https://devguide.ropensci.org/reviewtemplate.html).

[2020-10-05 07:31] maelle commented on #382
:wave: @bretsw, some first remarks from me (another editor).

* I am generally wondering how the reviewers can test the package. For instance is the TAGS used in the vignette usable by anyone? I see the vignette chunks aren't evaluated, why is it so? Not that I have anything against pre-compiling vignettes in such a case!

* Could you add documentation on data protection? See https://devguide.rope

[2020-10-05 07:39] nevrome commented on #393
What a pity! But thank you for considering it!

[2020-10-05 08:27] kamapu commented on #233
Thanks to everyone, also from my side.
@maelle interesting posts. It seems to be, that my original idea of allocating data in a data package is not that bad at all... I wonder if this may be also a good practice for their use in examples within CRAN packages, assuming that the data-package may not be a CRAN-package...

[2020-10-05 08:37] RaoulWolf commented on #329
@maelle Sincerest apologies for the late reply - I haven't received any notifications regarding this submission until now! All answers since November 2019 are new to me... Oh my!

I am currently on vacation but I'm still very keen on pursuing `chemspiderapi` further. We have been using it routinely in our work, and last time I checked it provided more functionality than what was (is?) available ov

[2020-10-05 08:48] maelle commented on #329
Oh, in this case yep I'll re-open the issue!

[2020-10-05 09:40] stitam commented on #329
Hi @RaoulWolf, I am a maintainer of `webchem`. Please note `webchem` is in heavy development, we have had three releases in the past 12 months including v1.0.0. The ChemSpider API has been fixed for about a year now and I think your package has significant overlap with `webchem`, only `webchem` provides access to other webservices as well. A paper using the fixed ChemSpider API in `webchem` has re

[2020-10-05 13:03] noamross commented on #386
@chainsawriot Just following up here, please let us know when you've been able to address the reviews from @adamhsparks and @emmamendelsohn. (Thanks to both of you!)

[2020-10-05 13:11] chainsawriot commented on #386
@noamross

First of all, I would like to thank both @adamhsparks and @emmamendelsohn for their insightful comments.

I am really sorry that I didn't aware of the 2 weeks responding window as specified in 7.3. Although it is now overdue, may I still ask for an extension? I will submit a revised version of the package by the end of this month.

Thank you very much.

[2020-10-05 13:27] noamross commented on #386
That's fine, @chainsawriot.  We're all doing our best and are trying to be accommodating with schedules this challenging year.

[2020-10-06 00:41] melvidoni commented on #398
Hello @lbusett. Apologies for the delay. The EIC role is rotating again, and I'm taking over this inquiry. I'll address this with the editors and let you know, hopefully during the week.

[2020-10-06 00:44] melvidoni commented on #385
Hello @jonkeane and @nikopartanen. Please, take a look at the submitted revisions, following our guide. Let me know in about 3 weeks at the most if @agricolamz needs to complete another revision.

[2020-10-06 00:57] melvidoni commented on #401
Hello @wlandau for the submission. Before I address it further, could you elaborate on the need for submitting both packages on a single submission? Could this be split into two different submissions? (Thinking about potential reviewer workload). Please, be thorough.

[2020-10-06 01:41] wlandau commented on #401
`tarchetypes` is a collection of user-level utilities for `targets`, and it does not stand on its own. Its only purpose is to make `targets` easier to use, and it requires prior familiarity with the latter. I originally considered implementing both in a single package, and I still view their physical separation as a minor implementation detail. So I thought that separate submissions would potentia

[2020-10-06 05:32] maelle commented on #329
:wave: @RaoulWolf! Seeing that webchem wraps the ChemSpider API again I am a bit wary of [overlap](https://devguide.ropensci.org/policies.html#overlap). Is there anything webchem does not support?

[2020-10-06 11:59] wlandau commented on #401
Still happy to split up the submission if you think it best.

[2020-10-06 16:48] RaoulWolf commented on #329
@maelle thank you for re-opening the issue! Appreciated

@stitam very valid point. I'll get back to this in about a week from now. Thanks for the heads-up! (and for the record, I'm a `webchem` fan 😉)

[2020-10-06 19:27] hadrilec commented on #396
Hi @maelle,
as the package is still maturing and might have to be modified in the coming months it is better to close this submission.
I may resubmit later on the package when the working process gets closer to the end but at this stage it is too soon.
Thanks a lot to ropensci team for taking care ! :)
Kind regards,

[2020-10-06 19:37] melvidoni commented on #398
Hello @lbusett. This package is straightforwardly in-scope under data munging and data extraction. We welcome a full submission when it is ready.

[2020-10-06 19:37] #398 closed

[2020-10-06 22:32] agila5 commented on #395
Hi @annakrystalli, and thank you very much again for your feedback.

I just moved the warning message in the installation section, thanks!

We decided to adopt `=` as the assignment operator, so the first set of warning messages is somewhat "expected". I recently changed some of the "long lines of code" and, at the moment, the remaining ones should represent only long URL(s). I'm not sure about th

[2020-10-07 04:20] maelle commented on #396
No problem, à bientôt !

[2020-10-07 04:20] #396 closed

[2020-10-07 12:38] annakrystalli commented on #395
Hi @agila5 ! And thanks for your response!

BTW I did manage to install! I just had to follow these steps to get everything to work properly:

But do you think the test failure and broken example still are an `sf` installation issue? The main issue in tests and checks seems to be:
[code]

[2020-10-07 13:09] chachabooms opened #402 "dmtools"
Submitting Author: Konstantin Ryabov (@chachabooms)
Repository:https://github.com/chachabooms/dmtools

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box b

[2020-10-07 16:38] agila5 commented on #395
I think that the error is caused by some problems related to the installation of `osmextract`. The function `oe_read` is used to read-in a `.pbf` or `.gpkg` file, that can be specified using a file-path or a URL. It should fail only in two cases: 1) the input data points to a non-existing file or 2) the input data points to a non-existing URL.

The object `my_pbf` should represent the path to the

[2020-10-07 19:31] melvidoni commented on #401
Hello @wlandau, thanks for the clarifications. @maurolepore will be your handling editor.

[2020-10-07 19:38] melvidoni commented on #391
Hello @DillonHammill. The EIC rotated, and I'm taking over this submission. Were you able to address this questions?

[2020-10-07 22:12] melvidoni commented on #402
Hello @chachabooms . We were discussing your submission with the editors, but we were wondering if you could address how your package is different from [assetr](https://github.com/ropensci/assertr) and [validate](https://github.com/data-cleaning/validate). We are under the impression this package is similar, but less flexible.

[2020-10-07 22:13] DillonHammill commented on #391
Hi @melvidoni, I have had a few requests to convert the code to use shiny modules (https://github.com/DillonHammill/DataEditR/issues/5) so that the package can be used within other shiny applications and so I am currently working on this.

I have added a testing suite to the package but this will need to be updated once I finish making the shiny module changes.

In terms of returning the code to m

[2020-10-08 00:30] melvidoni commented on #391
Hello @DillonHammill. I think that will be the best. I will close the issue, so please resubmit when it is ready.

[2020-10-08 00:30] #391 closed

[2020-10-08 00:35] chachabooms commented on #402
My package only checks data received from EDC. The main difference from a regular dataset is that a dataset from EDC has recurring events for each visit (Screening, Visit 1, Visit 2). Each recurring event has a fixed structure, for example, the result of laboratory analysis (**lab**) and its assessment: normal/abnormal(**lab_ind**). And this structure will be repeated for each visit. That is, the

[2020-10-08 19:14] akoontz11 commented on #373
@bpbond and @sckott: firstly, thank you again for reviewing SymbiotaR2 and providing all of the helpful feedback! I've copied each of your review comments and pasted them below, along with responses on points where you've recommended changes (headed with "AK:"). For some of these points, I've included explanations as to why we haven't addressed the issue.

Please let me know if there's anything I

[2020-10-08 19:46] melvidoni commented on #402
Hello @chachabooms.

On my previous questions, the Editors had requested a comparison, but you didn't provide it. Please look [here](https://docs.ropensci.org/rtweet/#package-functionality) and [here](https://github.com/ropensci/software-review/issues/199#issuecomment-375358362) for nice comparisons.

However, from what we can see, the package works with generic excel tables, without any very spec

[2020-10-08 19:46] #402 closed

[2020-10-08 20:25] chachabooms commented on #402
@melvidoni Ok, thank you.

[2020-10-12 16:36] bpbond commented on #373
@noamross Do I provide assessment of authors' responses to my comments?

[2020-10-14 15:58] ClaudioZandonella commented on #400
Is there something wrong in my presubmission inquiry?

[2020-10-14 18:44] bretsw commented on #382
@maelle, thank you for this initial feedback. @jrosen48 and I chatted today and divided up tasks. We're aiming to get back to you on these things by the end of next week (10/23).

[2020-10-15 06:27] maelle commented on #382
Thanks for the update! :+1: Don't hesitate to ask any question here.

[2020-10-16 11:45] richelbilderbeek commented on #360
I re-read the scope. AFAICS, the article is still within the scope.

Done :+1:

I did a 'replace all' using a regex searching for all files with `richelbilderbeek/mcbette` and replaced it with `ropensci/mcbette`

Done.

Not applicable

Done :+1:

Done :+1:

Unsure if I did so correctly. I did create a DOI for the current version, 10.5281/zenodo.4076183

Done, DOI is 10.5281/zenodo.4076183

Done so

[2020-10-16 16:51] stefaniebutland commented on #360
Congratulations @richelbilderbeek on another package passing peer review! Do you think this one would be suitable as a tech note, rather than longer narrative blog post?

Our [Blog Guide](https://blogguide.ropensci.org/content.html#postornote) has details to help you decide, and provides technical details for submitting your post. I think we published this after your babette post.

Please suggest

[2020-10-17 00:20] maurolepore commented on #401
\@wlandau, thanks for the high quality of this submission. I'm pleased to be the
editor.

Here I first give an overview of what I see, then ask for more information to
better understand if this or another structure is the best for this submission,
and finally comment on the editor checks. Please note the comments preceded by
a bullet point and respond to those preceded by a check-box; you may refe

[2020-10-17 02:05] jonkeane commented on #385
Hello again,

I’ve reviewed the changes and the responses and I’m satisfied with both.

For the encoding issues, I was using some of the files I found in http://www.ims.uni-stuttgart.de/phonetik/helps/praat-scripting/scripts.zip that gave me some of the encoding issues I mentioned.

[2020-10-17 04:59] wlandau commented on #401
Thank you for your insightful feedback, @maurolepore. Below, I address ml04-ml15. (I will respond to ml01-ml03 in a separate post.)

* ml04: odd, I thought I removed that grammatical typo earlier. Fixed in https://github.com/wlandau/targets/commit/454ddf5d0c083894856369fb47f240f210b99d97.
* ml05: link fixed in https://github.com/wlandau/targets/commit/a3491b1b84a828221403d69b9c4f7c821cbff2df.
* ml

[2020-10-17 14:32] maurolepore commented on #401
Thanks @wlandau for addressing my comments.

* ml10-13 and ml15:

- [ ] (ml16) I support this (more on ml18 below). Now that I understand it, I prefer your original take -- it aligns with the idea of "research compendium". Please revert to it, then explain the goal, structure, and usage of the repository in the field "Description" of the file DESCRIPTION.

* (ml17) Even if `targets.manual` is not

[2020-10-17 16:08] wlandau commented on #401
* ml18: Thanks, @maurolepore. This helps me answer your questions. The way I am structuring things now, including the separation into multiple repositories, is largely to support maintainability. I will elaborate in my subsequent posts.

[2020-10-17 16:10] wlandau commented on #401
Below, I answer ml02 and ml03, and I address the physical separation of [`targets-manual`](https://github.com/wlandau/targets-manual) and other documentation. ml01 requires a much deeper answer, so I will address it in its own post.

# ml02

I have had more time to reflect since @melvidoni first brought this up, and I will try to elaborate.

I could have easily implemented `targets` and `tarchetyp

[2020-10-17 16:43] tjmahr commented on #401
I have been using targets/tarchetypes for one my projects for the past month. I would be able to provide feedback as a desktop/local machine workflow user.

[2020-10-17 16:52] mattwarkentin commented on #401
Happy to be considered as a possible reviewer of `targets` and `tarchetypes`. I use both packages on a near-daily basis for many on-going projects, including projects that are developed and built as purely local, purely remote (live and run on HPC) and a mixture of local and remote (live local and selectively run locally or on HPC via SSH).

[2020-10-17 17:11] wlandau-lilly commented on #401
Thank you both for your eagerness to help!

@maurolepore, I addressed ml16 and ml17 in commits https://github.com/wlandau/targets-manual/commit/f792c14e7031c5c3900ad4f426a58dfc554621e0 through https://github.com/wlandau/targets-manual/commit/2ee3725943514e330d982c3e320c7e31eff3e1dc.

Do you still think it is necessary to move https://github.com/wlandau/targets-manual to https://github.com/wlandau/

[2020-10-17 17:11] wlandau commented on #401
Thank you both for your eagerness to help!

@maurolepore, I addressed ml16 and ml17 in commits https://github.com/wlandau/targets-manual/commit/f792c14e7031c5c3900ad4f426a58dfc554621e0 through https://github.com/wlandau/targets-manual/commit/2ee3725943514e330d982c3e320c7e31eff3e1dc.

Do you still think it is necessary to move https://github.com/wlandau/targets-manual to https://github.com/wlandau/

[2020-10-17 17:37] matthewstrasiotto commented on #401
I'm deeply appreciative to be considered to review `targets`.

 I've been following it's development with interest as a daily drake user on remote systems/hpc environments with an interest in usability and discoverability in data pipelines.

I've been hesitant to migrate my workflow over. From your description, it'll be valuable to do so and I look forward to trying it out.

I'll also be making an

[2020-10-17 19:45] billdenney commented on #401
While I'm very interested in `targets`, I unfortunately can't help as a reviewer in the next month or two.

[2020-10-17 22:08] wlandau commented on #401
Almost forgot: @mattwarkentin is actually a [formal contributor](https://github.com/wlandau/targets/blob/a3491b1b84a828221403d69b9c4f7c821cbff2df/DESCRIPTION#L25-L29) because of https://github.com/wlandau/targets/pull/170, and @noamross has a PR at https://github.com/wlandau/tarchetypes/pull/9 that I meant to keep open. @melvidoni and @maurolepore, does this mean they might have to recuse themselv

[2020-10-18 01:30] wlandau commented on #401
Now, I will address ml01. I think it is the most pressing question from this thread so far, and it is definitely the most difficult to explain in complete depth. So please let me know if you are skeptical or if anything remains unclear or unresolved.

# What all this means for drake

`drake` is in a position of strength. In fact, its wellness is exactly what allowed me to create `targets` in the f

[2020-10-18 01:38] wlandau commented on #401
And with that, I think I am all caught up on editor requests for the moment. When the time comes, please let me know what else I can do.

[2020-10-18 19:23] wlandau commented on #401
An aside: in this situation, you can read a lot into the package names. "drake" is an acronym: "data frames in R for Make". In the first few versions, `drake::make(parallelism = "Makefile")` would actually take a data frame (a `drake` plan) and turn it into a real Makefile. `drake` has long since outgrown this approach, and the "Makefile" backend is no longer supported. In other words, `drake` out

[2020-10-18 19:41] melvidoni commented on #385
Thanks @jonkeane. @nikopartanen did you had time to look at the changes?

[2020-10-19 04:19] maelle commented on #360
Thanks @richelbilderbeek !

[2020-10-19 04:19] #360 closed

[2020-10-19 04:44] maelle commented on #329
:wave: @RaoulWolf

[2020-10-19 04:48] maelle commented on #400
Sorry, we're discussing and will update this thread shortly. Thanks for your presubmission!

[2020-10-19 07:56] DominikRafacz commented on #401
Thanks for thinking of me as a reviewer!  I don't have much time to offer, but if I'm useful, I'll be happy to get involved, especially if there's a specific task to do.

[2020-10-19 10:38] nikopartanen commented on #385
Hello! Sorry for the delay! I tested the changes quite thoroughly last week when I used the package in one research task of my own, and I'm very satisfied with the way the package works now and how the ideas for changes were addressed. Thanks for your great work, @agricolamz!

[2020-10-19 10:56] bpbond commented on #401
🚣

That's a thoughtful and interesting [comment](https://github.com/ropensci/software-review/issues/401#issuecomment-711103473) @wlandau . Happy to help review if useful.

[2020-10-19 12:20] maelle commented on #400
:wave: @ClaudioZandonella thanks again for your submission! We've however decided it is out-of-scope as it is too statistical... which means it might be in-scope for ["rOpenSci Statistical Software Peer-Review"](https://ropensci.org/stat-software-review/) to be launched in the first half of 2021, so you might try and submit your package to it then. :slightly_smiling_face:

[2020-10-19 12:20] #400 closed

[2020-10-19 12:37] ClaudioZandonella commented on #400
Hi @maelle, thank you for taking the time to review my presubmission. I understand your decision. I want to thank you and the entire rOpenSci community as your documentation and guidelines were really useful and helped me a lot in developing a better package. I really appreciate your work!

[2020-10-19 12:37] maelle commented on #400
Thanks you for saying this :heart_eyes:  and sorry for the delay answering!

[2020-10-19 13:34] RaoulWolf commented on #329
Lengthy post ahead, so watch out!

I took some time to compare the solutions of `webchem` and compare them to what is offered in `chemspiderapi`. The first step to adress the potential big overlap is to compare the available functionality, starting with everything ChemSpider offers (https://developer.rsc.org/docs/compounds-v1-trial/1/overview), and comparing the availability between `chemspiderapi

[2020-10-19 13:39] maelle commented on #329
Thanks a lot for your detailed answer! Could you please add a column or sentences explaining to humans what e.g. _records-batch-post_ does i.e. the type of functionalities your package adds? I have the impression your package allows for posting information, what are the use cases for that? And what about the functionalities it adds that have nothing to do with posting?

Thanks again!

[2020-10-19 13:47] maurolepore commented on #401
Thanks @wlandau for addressing my comments. I'll come back to you likely next week. I would like to read your comments in greater detail, and discuss with other editors what might be the best two reviewers for this submission. But right  now I'm on a short vacation with limited access to internet. I'm excited about how interesting this discussion already is. Thanks! :+1:

[2020-10-19 14:02] RaoulWolf commented on #329
Right, apologies for not providing enough context!

The different `post_*()` and `get_*()` functionalities are named so from the HTTP methods ([POST](https://en.wikipedia.org/wiki/POST_(HTTP)) and [GET](https://en.wikipedia.org/wiki/GET_(HTTP)), respectively).

In simple terms, all `post_*()` functions "upload" information into ChemSpider's API services (and usually get a query ID in return), and

[2020-10-19 19:37] melvidoni commented on #385
Since both reviewers approved... Approved! Thanks @agricolamz  for submitting and @jonkeane @nikopartanen  for your reviews!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do. Tag me here so I can give you access.
- [ ] Fix all links to the GitH

[2020-10-20 04:08] maelle commented on #329
Thanks, and in what kinds of workflows do you need to post information?

@stitam could you please confirm the question marks in the comparison table, i.e. that webchem does not provide that functionality?

[2020-10-20 06:25] RaoulWolf commented on #329
The principle workflows for the filtering functionalities all follow the same pattern:

* POST query,
* GET status, and
* GET results.

This is also mentioned in the [README](https://github.com/NIVANorge/chemspiderapi/blob/master/README.md) of `chemspiderapi`. The lookups, records and tools functionalities work directly, i.e., without the (manual) three step process.

[2020-10-20 07:50] stitam commented on #329
Hi All! @RaoulWolf thanks for your detailed answer to @maelle's questions.

@RaoulWolf is right in saying that the two packages follow different philosophies and support different types or workflows. My understanding is that `chemspiderapi` aims to develop an R function for each ChemSpider API. On the other end, `webchem` focuses on the user experience, and aims to distance the user from the API,

[2020-10-21 08:54] agricolamz commented on #385
@melvidoni, could you give me an admin access?

[2020-10-22 02:16] pachamaltese opened #403 "yotover: An Advanced Guide to Trade Policy Analysis"
Submitting Author: Mauricio Vargas Sepúlveda (@pachamaltese)
Repository: https://github.com/pachamaltese/yotover
Version submitted: 0.1
Editor: TBD
Reviewer 1: Noam Ross? (this is heavily inspired after citesdb)
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories fr

[2020-10-22 02:32] melvidoni commented on #385
You should have access now @agricolamz!

[2020-10-22 02:32] #385 closed

[2020-10-24 04:26] bretsw commented on #382
@maelle, thank you again for your feedback! Below are responses from @jrosen48 and I, and we have pushed all changes to the repo: https://github.com/bretsw/tidytags

We're looking forward to more dialogue on this!
//Bret

**Our response:** The example vignette is usable by anyone. We’ve just set the chunks as `eval=FALSE` because many of the processes are slow, even when limiting the examples to s

[2020-10-24 11:31] maelle commented on #382
Thanks a lot to both of you, awesome work! I have a few comments already

* I think it'd be good to have a process in place for re-computing the vignette. See for instance https://ropensci.org/technotes/2019/12/08/precompute-vignettes/

* Regarding the ethics section of the README, it's very thoughtful! I'd prefer it to be in one of the vignettes too, because users don't usually access the README

[2020-10-24 11:32] maelle commented on #382
PS: I like the phrasing "Pain Point" :joy:

[2020-10-24 11:50] maelle commented on #382
Is there no free tier for Google geocoding? If so then my opencage suggestion is becoming more important. :thinking:

[2020-10-24 11:52] maelle commented on #382
well i guess the free credits one gets when creating the billing account count as free tier maybe :thinking:

[2020-10-24 11:58] maelle commented on #382
A small note, in the rtweet docs for creating a token at the very end there is a step allowing you to check your token is available in a new session.
What could a similar check be for the Google Geocoding API?

And even more ambitious and not necessary would be a sitrep function for tidytags, that you'd run to check Twitter and Google geocoding are now set up, and if not pointers to relevant docs.

[2020-10-24 12:00] maelle commented on #382
Last question before I log off, could the docs state what kind of restrictions can be applied to the Google geocoding API key for tidytags stuff to work?

[2020-10-25 20:00] jooolia commented on #329
### Editor checks:

- [X] **Documentation**: The package has sufficient documentation available online (README, pkgdown docs) to allow for an assessment of functionality and scope without installing the package.
- [X] **Fit**: The package meets criteria for [fit](https://devguide.ropensci.org/policies.html#package-categories) and [overlap](https://devguide.ropensci.org/policies.html#overlap)
- [X]

[2020-10-25 21:51] melvidoni commented on #403
Hello @pachamaltese, thank you for the submission. After a discussion with the Editors, we believe this submission to be out of scope for rOpenSci. We suggest you look into the [Journal of Open Source Education](https://jose.theoj.org/about), as it can be a great resource for that. Therefore, I am closing the issue.

[2020-10-25 21:51] #403 closed

[2020-10-26 11:21] RaoulWolf commented on #329
Hi @jooolia, thanks for the update! I'll try to fix the easier issues (bug reports and code line length) this week, and tackle code coverage next week. I haven't checked `presser` yet, thanks for the heads up! I'll let you know once the issues are addressed.

Thanks for the effort! Raoul

[2020-10-26 12:13] richelbilderbeek commented on #360
Hi @stefaniebutland,

I would prefer the longer narrative blog post, as this one is for a broader audience. I do wonder if that is not too similar to the JOSS acticle I submitted. What do you think?

 * If you think the JOSS article is too similar to a longer narrative blog post, I will happily write a tech note
 * Else, I will happily write a longer narrative blog post

:+1:

[2020-10-26 13:49] rudeboybert opened #404 "Presubmission inquiry: forestecology - Methods and Data for Forest Ecology Model Assessment and Selection"
Submitting Author: Albert Y. Kim (@rudeboybert)
Repository:   https://github.com/rudeboybert/forestecology

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate

[2020-10-26 19:59] melvidoni commented on #404
Hello @rudeboybert. Thanks for submitting. We will discuss this with the Editors, and I'll get back to you.

[2020-10-27 03:30] stefaniebutland commented on #360
I'm happy to leave this up to your judgement @richelbilderbeek. The post will reach a different audience, so a good way to get more attention for it. That will work as long as you make the content different enough from the JOSS paper. A blog post allows for a somewhat more casual tone.

You may use 2020-11-17 or 2020-12-01 as a tentative publication date; date to be finalized during review.

[2020-10-27 05:15] maurolepore commented on #401
Thanks @wlandau for your patience. I can now confirm this submission satisfies editor checks. I'll start seeking reviewers (thanks for your suggestoins).

Please ensure the README files of each package in this submission has an rOpenSci review badge -- maybe via  --`rodev::use_review_badge()`, `rodev::use_review_badge(<issue_number>)`. Badge URL is https://badges.ropensci.org/<issue_id>_status.svg

[2020-10-27 05:29] maurolepore commented on #401
RE  https://github.com/ropensci/software-review/issues/401#issuecomment-711086276
Thanks for the heads up. If a potential conflict of interest is unclearly defined in the [guidelines](https://devguide.ropensci.org/policies.html#coi), I'll discuss with other editors. For now you should not worry.

[2020-10-27 10:57] RaoulWolf commented on #329
The `BugReports` field was added to the description, the `README` now mentions `{webchem}`, and I tried to minimize the line lengths as much as possible.

All changes are live at https://github.com/NIVANorge/chemspiderapi

Code coverage hasn't been addressed yet.

[2020-10-27 12:28] wlandau commented on #401
So glad to hear it!

Now added.

Also, just an FYI: my employer just approved my JOSS manuscript for disclosure, so I added it to the `targets` repo (`paper.md` and `paper.bib`). I will update the original post.

[2020-10-27 13:24] jooolia commented on #329
Thanks for keeping us posted on your updates @RaoulWolf!

[2020-10-27 23:49] wlandau commented on #401
Thanks, @MilesMcBain. Your feedback has helped a lot already, particularly with [interactive debugging support](https://wlandau.github.io/targets-manual/practice.html#interactive-debugging), and I look forward to more.

You also suggested this may be a good time to coordinate with RStudio, and which immediately brought more potential reviewers to mind:

* @jennybc
* @rich-iannone
* @gaborcsardi
*

[2020-10-29 08:47] CarlosRealR opened #405 "pixelclasser - package for classification of digital images"

[2020-10-29 18:39] #405 closed

[2020-10-29 19:03] CarlosRealR opened #406 "pixelclasser: A Package for Classifying Pixels by Colour"
Submitting Author: Carlos Real (https://github.com/CarlosRealR)
Repository:   https://github.com/CarlosRealR/pixelclasser
Version submitted:   0.5.0
Editor: @ldecicco-USGS
Reviewer 1: @qdread
Reviewer 2: @superjai
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [packag

[2020-10-29 19:07] melvidoni commented on #404
Hello @rudeboybert. We have been discussing, and **forestecology** seems like a methods package with some example data sets included and some workflow support.  The geospatial side of the scope is really more that we include geospatial data handling as a special case. Therefore, we think that the type of data munging provided here is too generic for us.

I'm positive that you'll find an appropriat

[2020-10-29 19:07] #404 closed

[2020-10-29 20:30] rudeboybert commented on #404
Thank you for both considering my pre-submission nonetheless, and for the prompt responses.

[2020-10-30 10:28] hannahlowens opened #407 "occCite: Querying and Managing Large Biodiversity Occurrence Datasets"
**Date accepted:** 2022-03-11
Submitting Author Name: Hannah L. Owens
Submitting Author Github Handle: @hannahlowens
Repository: https://github.com/hannahlowens/occCite
Version submitted:  0.4.0
Editor: @karthik
Reviewers: @peterdesmet
Due date for @peterdesmet: 2020-12-21

Reviewer 2: @damianooldoni
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block b

[2020-11-01 19:11] melvidoni commented on #406
Hello @CarlosRealR, thanks for submitting. We will assign you a handling editor soon. In the meantime, can you please elaborate on the answers to the questions of the Scope section? (in the opening post)

[2020-11-01 23:48] melvidoni commented on #407
Hello @hannahlowens, your Handling Editor will be @karthik. He will get in touch soon with the initial checks.

[2020-11-02 08:52] annakrystalli commented on #395
Hi @agila5 and many many apologies for the delay!! I completely missed your response 🤦‍♀️. I'll have a look at this today!

[2020-11-02 15:18] CarlosRealR commented on #406
Hello @melvidoni, done. I hope my answers would be clear enough now.

[2020-11-02 17:50] annakrystalli commented on #395
Success! I recloned the original source code and everything seemed to work fine now. Really sorry for the hold up!

I'll start looking for reviewers. In the meantime, for completeness, I've now also ran `package_coverage()` and everything seems good apart from `zzz.R` and `update.R` which are below ~75% coverage. Any particular reason for that?

[code]

<sup>Created on 2020-11-02 by the [reprex pa

[2020-11-02 19:32] melvidoni commented on #406
It does, thank you kindly @CarlosRealR. Your Handling Editor will be @ldecicco-USGS.

[2020-11-02 22:45] agila5 commented on #395
Hi @annakrystalli and thanks for your comments. I'm really happy that now it's working fine 🎉 🎉 🎉 I will add a link in the README that points to this discussion since it could help new users.

The file `zzz.R` includes only `.onAttach()` and the code lines that are not covered by tests are used to print an (hopefully) informative message in case GDAL or PROJ are "too old". I think that I cannot ad

[2020-11-03 16:14] ldecicco-USGS commented on #406
Hi @CarlosRealR , I'll begin asking around for 2 reviewers and running the automated package checks. Thanks for expanding on the questions above 👍

One thing that would be helpful while I'm asking around for reviewers would be to "Knit" the Readme.Rmd, and then check-in the Readme.md. The main difference is that Github will then render the file. You _could_ copy a few of the examples in the vignet

[2020-11-03 17:20] CarlosRealR commented on #406
Hi @ldecicco-USGS , excuse me, but this is the first time I make a package and send software to GitHub and I'm a a bit confused with the procedure and the best way to do things. What do you mean with "check-in the Readme.md"? I would be grateful if you could tell me a package with a readme that way to understand what I have to do exactly.

[2020-11-03 17:27] ldecicco-USGS commented on #406
Once you knit the Rmd file, it will create an md file, so now on your computer there will be 2 files, the "Rmd" one is specific to the "R" programming language, the "md" is a markdown file (more universal). So not only do you need to generate the "md" file, you need to get it up to Github. If you are in RStudio using the "Git" tab, that will mean clicking on the checkbox next to the new file, hitt

[2020-11-03 19:08] melvidoni commented on #390
Hello @KevinShook. Apologies for the delay, it was extremely long. We have decided that this package is in-scope giving the geospatial component, so we welcome a full submission. Please, feel free to submit whenever is possible for you.

[2020-11-03 19:10] KevinShook commented on #390
Thanks very much!
I'll get in touch with the rest of the team and will submit ASAP.
Thanks again,
K

[2020-11-03 20:00] stefaniebutland commented on #360
Hi @richelbilderbeek. Do you prefer 2020-11-17 or 2020-12-01 as a tentative publication date? If 2020-11-17, fyi my colleague @steffilazerte will review on 2020-11-13, so a short turnaround time for edits.

[2020-11-03 22:02] pat-s commented on #356
@noamross 👋
Happy to announce that the package is ready for review (again). Sorry that it took so long - a move between countries and COVID resulted in little time for FOSS packages, especially for niche ones.

I've completely revamped the test suite:

- now using {vcr}
- For local testing, env vars can be set (user, repo, api token) making it possible for reviewers to test against one of their re

[2020-11-04 07:02] richelbilderbeek commented on #360
@stefaniebutland I prefer 2020-12-01, as I will not make it sooner. I will submit a version fit for review before Sunday 2020-11-22 23:59, is that soon enough?

[2020-11-04 17:15] stefaniebutland commented on #360
Perfect. Thank you

[2020-11-04 19:09] CarlosRealR commented on #406
Hi, I expanded the README.rd including some images as you suggested. Thanks for the advice.

[2020-11-04 19:12] CarlosRealR commented on #406
Hi @melvidoni. sorry, but I closed this by error, I do not know how

[2020-11-05 13:58] iecastro commented on #358
Hi @richfitz, @karthik  - Some comments below, addressing the review items.  I'm struggling with my travis build, and expanding the test suite.

@richfitz - if you have the time, would you mind attempting the review again?

Thanks, all!

  * [x] __Is this the API being down, or an SSL Certificate issue?  I see the same when looking at my travis v. appveyor builds - not sure how to address this.  I

[2020-11-05 19:03] noamross commented on #349
Dear @LingshuHu, my deep apologies that I did not respond to this previously.  Packages that had been underway during our "pause" fell through my alerts.

As I had written in my comment above, though, our opinion is that a disclaimer as included in the README isn't sufficient here, because, since the predominant uses of this package would require an informed consent procedure, doing the legwork of

[2020-11-05 19:28] noamross commented on #356
Thanks, @pat-s! I have run local tests and `goodpractice::gp()` checks and this passes with flying colors.  I note that I had to run `use_circle_deploy()` once locally in addition to having my `R_CIRCLE` API key in the repository in order for local test flow to run.   I'm now seeking reviewers.

[2020-11-05 22:57] karthik commented on #407
### Editor checks:

- [x] **Documentation**: The package has sufficient documentation available online (README, pkgdown docs) to allow for an assessment of functionality and scope without installing the package.
- [x] **Fit**: The package meets criteria for [fit](https://devguide.ropensci.org/policies.html#package-categories) and [overlap](https://devguide.ropensci.org/policies.html#overlap)
- [ ]

[2020-11-06 09:18] hannahlowens commented on #407
Hi Karthik!
Thanks for the feedback. Before I start working through the goodpractice flags, I have what might be a naive question. What do you mean the package doesn't have any tests? Every public function has an example. If the test can't be completed in less than 5s or need user input (like user login information for GBIF), per CRAN guidelines, I flagged it with donttest. Perhaps on a related no

[2020-11-06 14:35] maelle commented on #382
:wave: @bretsw  @jrosen48! Any update? (Acknowledging this is not an easy year/week)

[2020-11-06 14:44] bretsw commented on #382
Hi @maelle! Thank you so much for checking in. I apologize for our delay. This week has been my big annual conference (AECT), and last week I was getting things ready, so I've been sidetracked. I give my last presentation tomorrow, so I'll respond to your comments and suggestions here next week.  Thanks for bearing with us!

[2020-11-06 14:50] maelle commented on #382
No problem, thanks for the update and good luck with your presentation :microphone: :slightly_smiling_face:

[2020-11-06 16:39] karthik commented on #407
Hello Hannah. By tests, I mean explicit tests for each functions in the tests folder. Examples are great and can be turned into tests.  What you have are more along the lines of informal tests. For an introduction to writing tests, this chapter from the R packages book https://r-pkgs.org/tests.html might be useful.

[2020-11-08 15:26] KlausVigo opened #408 "tanggle"
Submitting Author: Klaus Schliep (@KlausVigo)
Repository:   https://github.com/KlausVigo/tanggle
Version submitted:  0.99.0
Editor: TBD
Reviewer 1: TBD
Reviewer 2: TBD
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev

[2020-11-09 07:41] RaoulWolf commented on #329
A small update regarding test coverage.

I tried implementing API tests with both {httptest} and {vcr}, but with no luck. {vcr} does not seem to support {curl} just yet (the [introduction](https://cran.r-project.org/web/packages/vcr/vignettes/vcr.html) hints at future support), and {httptest} simply runs the actual queries without mocking.

I am now taking a look at {presser} and will let you know

[2020-11-09 07:43] jooolia commented on #329
Thanks for the update @RaoulWolf. If you get really stuck let us know.

[2020-11-09 08:23] maelle commented on #329
{presser} supports curl indeed and that's the only HTTP testing package that does. :-)

[2020-11-09 19:16] melvidoni commented on #408
Hello @KlausVigo, thank you for your submission. However, packages centred on visualisation are out of scope for rOpenSci. After a discussion with the editors, we found that the automation portion is not strong enough for us to consider this package. Thank you for submitting, and I'm confident you'll find a suitable venue for publication.

[2020-11-09 19:16] #408 closed

[2020-11-10 04:48] noamross commented on #356
Thanks @sharlagelfand and @mbjoseph for agreeing to review!  Max is returning from leave, so the deadline will be extended a little longer until 2020-12-7.

[2020-11-10 08:34] annakrystalli commented on #395
One last thing @agila5 , could you please add the rOpenSci under review badge to your README?
[code]
I'll be back in touch when I have found both reviewers 👍

---

Reviewers:
Due date:

[2020-11-11 12:31] agila5 commented on #395
Hi @annakrystalli and thank you very much for your assistance.

I added the badge to the `README.Rmd` but when I knit the document I see the following error:

[code]

I cannot see the badge on `README.md` but it's working on the website generated by `pkgdown`

[2020-11-12 19:40] vbaliga opened #409 "pathviewR: Tools to import, clean, and visualize animal movement data in R"
Submitting Author: Name (@vbaliga)
Repository:  https://github.com/vbaliga/pathviewr
Version submitted:   v0.9.4 (https://github.com/vbaliga/pathviewr/commit/6e04870d7451b05370255a6d0c7d6532f4cc1e5a)
Editor: @maelle
Reviewers: @asbonnetlebrun, @marcosci
Due date for @asbonnetlebrun: 2020-12-05
Due date for @marcosci: 2020-12-21
Archive: TBD
Version accepted: TBD

---

-   Paste the full DESCRIPTIO

[2020-11-13 17:03] ldecicco-USGS commented on #406
Just wanted to check in and let you know I'm sending out some emails today. I ran the automatic checks and everything looks good:

[code]

[code]
Some of those are not actually mis-spelled, but you might want to check a few.

Please consider adding an rOpenSci review badge -- either via -- `rodev::use_review_badge(406)`.

Badge URL is https://badges.ropensci.org/406_status.svg. Full link via markd

[2020-11-16 07:07] maelle commented on #382
:wave: @bretsw @jrosen48! Have you had time to look at this again? Thank you!

[2020-11-16 07:41] maelle commented on #409
Thanks @vbaliga and co-authors for your submission! I have a few minor comments/questions below, and will now start looking for reviewers.

### Editor checks:

- [x] **Documentation**: The package has sufficient documentation available online (README, pkgdown docs) to allow for an assessment of functionality and scope without installing the package.
- [x] **Fit**: The package meets criteria for [f

[2020-11-16 07:42] maelle commented on #409
Please add this badge to the package README

[code]

[2020-11-16 09:30] CarlosRealR commented on #406
I have added a language field to description and corrected the true misspellings. I have added the badge too

[2020-11-17 10:24] RaoulWolf commented on #329
Small update: I finally managed to wrap my head around {presser} and the first tests are running (see [here](https://github.com/NIVANorge/chemspiderapi/blob/master/tests/testthat/test-get_datasources.R), line 77). I'll now try to extend the testing functionality to the other functions. Baby steps 😃

Meanwhile, I've also added GitHub Actions as CI (trying to substitute CircleCI and Travis CI). Unfo

[2020-11-17 10:39] maelle commented on #329
Untested tip, I'd look at what other curl dependencies have in their workflows e.g. https://github.com/r-lib/httr/blob/cb4e20c9e0b38c0c020a8756db8db7a882288eaf/.github/workflows/R-CMD-check.yaml#L60

[2020-11-17 13:28] RaoulWolf commented on #329
Turns out the "trick" is to not use Ubuntu 20.xx at all, but good ol' 16.04. Now all tests pass 👍

[2020-11-17 15:37] noamross commented on #373
My apologies for missing this last exchange and letting this linger.  Thank you @sckott and @bpbond for your thourough reviews and @akoontz11 for your response.  @bpbond and @sckott, can you please look at @akoontz11's replies and us know if they address the concerns in your review.

[2020-11-17 19:23] bpbond commented on #373
I haven't actually installed and tested the revised package (should I?), but @akoontz11 's responses above address all my concerns. Very comprehensive and convincing.

[2020-11-18 04:00] vbaliga commented on #409
Hi @maelle,

Thank you for looking over `pathviewR` and providing us with feedback. My co-authors (@scienceisfiction and @epress12) and I worked together earlier today to address each of your comments, and a few changes to our repo have been made in https://github.com/vbaliga/pathviewR/commit/688c198466d1a88a7ff07099263369f6fa39b06c.  Here is our reply to each of your specific comments:

Thanks fo

[2020-11-18 12:27] maelle commented on #409
:wave: @vbaliga, @scienceisfiction and @epress12! Thanks for your work!

* Regarding the issue template, awesome! Would you also welcome people to _contribute_ functions and if so what would be the process? Maybe that could be a question in the template?

* Regarding continuous integration yes that's hard to keep up. In https://devguide.ropensci.org/ci.html#whichci we've now put GitHub Actions fir

[2020-11-18 14:49] maelle commented on #409
Thanks a lot @asbonnetlebrun for agreeing to review! Your review is due on 20120-12-09.

Please find links to our [reviewer guide](https://devguide.ropensci.org/reviewerguide.html) and [review template](https://devguide.ropensci.org/reviewtemplate.html).

[2020-11-18 15:42] pachamaltese opened #410 "censo2017: Base de Datos de Facil Acceso del Censo 2017 de Chile (2017 Chilean Census Easy Access Database)"
Submitting Author: M Vargas (@pachamaltese)
Repository:   https://github.com/pachamaltese/censo2017

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package fit policies](https://ropensci.github.io/dev_guide/policies.html#package-categories) this package falls under: (Please check an appropriate box bel

[2020-11-18 16:29] sckott commented on #373
Thanks @akoontz11 - all looks good to me

[2020-11-18 21:37] melvidoni commented on #410
Hello @pachamaltese! Thanks for submitting. The package is definitely on-topic, but I have a question for you.

rOpenSci has been considering supporting Spanish peer-reviews. Considering the nature of this package, and that the code and `roxygen` (also your Readme file!) appear to be in Spanish... would you prefer to conduct the review in English or Spanish? If the latter (Spanish) you would help

[2020-11-18 23:24] pachamaltese commented on #410
Hi

I am not really sure. I think English eases the review. Google translate
does its magic.

I can translate the documentation to english.

Best,

On Wed, Nov 18, 2020, 6:37 PM Melina Vidoni <notifications@github.com>
wrote:

[2020-11-19 05:23] vbaliga commented on #409
Hi @maelle,

Thanks very much for your advice. We've expanded our issue template to welcome people to contribute functions and added a question to the template accordingly (see https://github.com/vbaliga/pathviewR/commit/7c4c32d977baf966da76366c88e746630cf17f43). We have also now shifted to using GitHub Actions exclusively for CI using the "standard" check across Mac/Win/Linux and revised our meth

[2020-11-20 15:21] eribul commented on #381
# Thank you @noamross @dgrtwo and @zabore !

First of all, I would like to express my gratitude, both for the impressive work performed for the review, but also for letting me take the time to address the raised concerns! I have now (finally) been able to (hopefully) make all the changes and improvements as requested. I will address each comment in a point-by point manner below!

# Zabore

## Revi

[2020-11-21 14:11] maurolepore commented on #401
I'm excited to announce that @limnoliver and @tjmahr will be reviewing this submission. Please notice this submission includes two closely related packages: "targets" and "tarchetypes".

There is a third package, "targets.manual", that provides documentation; your feedback on "targets.manual" is welcome but a full review is not required.

The due date for your reviews is 2020-12-19. This is four w

[2020-11-21 16:00] wlandau commented on #401
Thanks for making this happen, @maurolepore. @limnoliver and @tjmahr, I am looking forward to your feedback.

[2020-11-21 19:02] karthik commented on #407
👋 @poldham! Would you be able to serve as a reviewer for this submission?

[2020-11-21 19:03] karthik commented on #407
👋 @peterdesmet Would you be able to as a second reviewer on this submission?

[2020-11-23 13:55] noamross commented on #373
Thank you for your responses, @bpbond and @sckott!

Approved! Thanks  @akoontz11 for submitting and @bpbond and @sckott for your reviews!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Fix all links to the GitHub repo to point to the r

[2020-11-23 13:56] noamross commented on #386
Hi @chainsawriot, I just wanted to follow up to see when you expect to be able to move forward.

[2020-11-23 14:00] noamross commented on #381
Thanks for your response, @eribul. @zabore and @dgrtwo, could you please look at @eribul's chages and let us know if they address your concerns? Thank you!

[2020-11-23 16:25] ldecicco-USGS commented on #406
Sorry for the delay, it's a tough time for asking...thank you so much @CarlosRealR for your patience!

I'm happy to report that @qdread will be one reviewer. I have confidence I'll get another one pretty soon!

[2020-11-23 20:08] jooolia commented on #329
Thanks for keeping us updated @RaoulWolf. Have you run into any other roadblocks or is it looking like {presser} will help you with the testing?

[2020-11-24 10:46] peterdesmet commented on #407
Hi @karthik, my colleague @damianooldoni and I are happy share second reviewer duties if that is ok with you. Should we wait until tests are implemented in the pkg?

[2020-11-24 14:42] zabore commented on #381
@eribul You have clearly done a lot of work on this package in response to the reviews - well done! The changes you have made to the README, vignettes, and documentation in particular have really improved the package. I am satisfied with your responses to all of my comments, and don't have any further comments.

[2020-11-24 18:07] bretsw commented on #382
Hi @maelle, thank you again for your patience, and your helpful comments and suggestions. We have quite a few updates for your review. We list our response to your comment here:

1. I think it'd be good to have a process in place for pre-computing the vignette. See for instance https://ropensci.org/technotes/2019/12/08/precompute-vignettes/

  - Our response: I have added the file tidytags-with-co

[2020-11-25 07:49] RaoulWolf commented on #329
Hi @jooolia, It first looked like {presser} would help and I can definitely setup mock-APIs with it (hurray!). But I still struggle to increase coverage. I suppose it's because the API request itself happens within {chemspiderapi} functions, but I'm not sure. An example can be seen [here](https://github.com/NIVANorge/chemspiderapi/blob/master/tests/testthat/test-get_datasources.R), line 77. The te

[2020-11-25 11:54] hannahlowens commented on #407
Hi @karthik et al.!

Tests are now implemented in the package.

[2020-11-25 13:05] maelle commented on #329
Commenting on this again, hope it's fine. The presser package now has a function with which you don't need to do setup/teardown
* https://r-lib.github.io/presser/dev/reference/local_app_process.html
* https://r-lib.github.io/presser/dev/articles/how-to.html#how-do-i-start-the-app-when-writing-the-tests-

[2020-11-25 13:20] maelle commented on #382
Thanks a ton for all your work!

* Regarding the code of conduct, awesome! Note that after acceptance the rOpenSci COC will apply cf https://devguide.ropensci.org/collaboration.html#coc-file

* I am glad about OpenCage, not only because it's a nice package :grin: but also because setup is so much easier.

* Speaking of setup docs, they are really good!

* Now regarding the contributing guide what'

[2020-11-25 19:18] melvidoni commented on #410
Hello @pachamaltese! Apologies for the delay. As discussed in Slack, the Issue Template for a Spanish Submission is ready, so we will be piloting or Spanish reviews with your package. I will be closing this issue now, so please open it again, fully in Spanish.

[2020-11-25 19:18] #410 closed

[2020-11-25 20:51] pachamaltese opened #414 "censo2017: Base de Datos de Facil Acceso del Censo 2017 de Chile (2017 Chilean Census Easy Access Database)"
Persona Encargada: Pachá (@pachamaltese)
Repositorio:  https://github.com/pachamaltese/censo2017
Versión Enviada:  0.2
Editor: @melvidoni
Reviewers: @mpaulacaldas, @fvd
Due date for @mpaulacaldas: 2021-02-25
Due date for @fvd: 2021-02-25
Archivo: TBD  2021-2-25
Versión Aceptada: TBD

---

-   Pega el archivo DESCRIPTION completo dentro del siguiente bloque de código.

[code]

## Alcance

- Por fav

[2020-11-25 20:51] pachamaltese commented on #414
@melvidoni hola, muchas gracias por crear este template
lo que no encuentro del original es el topico "database access"

[2020-11-25 21:27] jooolia commented on #329
Hi @RaoulWolf,
Yes the CI using GitHub actions should be sufficient as you have it implemented.

I am also trying to wrap my head around webfakes  (previously presser now at https://r-lib.github.io/webfakes/ ) so I cannot help a lot with that aspect (but I will try as I am curious about how to do this sort of testing), however one thing that I see when I run `covr::report()` is that there are many

[2020-11-25 21:36] jooolia commented on #329
(Just putting this here for reference, there is a nice book by @maelle about http testing: https://books.ropensci.org/http-testing/packages-for-http-testing.html)

[2020-11-25 22:22] melvidoni commented on #414
### Editor checks:

- [X] **Documentation**: The package has sufficient documentation available online (README, pkgdown docs) to allow for an assessment of functionality and scope without installing the package.
- [x] **Fit**: The package meets criteria for [fit](https://devguide.ropensci.org/policies.html#package-categories) and [overlap](https://devguide.ropensci.org/policies.html#overlap)
- [ ]

[2020-11-26 07:56] maelle commented on #329
Thanks @jooolia :blue_heart: Demo of webfakes at https://github.com/ropensci-books/http-testing/pull/47 with demos of other packages.

So it seems the low coverage is not a webfakes problem, correct? I'm happy to help if needed.

[2020-11-26 08:27] jooolia commented on #329
Wonderful @maelle! I think the demos will be very helpful! Thanks for pointing us to this material.

[2020-11-27 08:24] annakrystalli commented on #395
I've now found both reviewers! 🎉

 Many thanks again @potterzot & @salvafern for agreeing to review.

---
Reviewers: @potterzot @salvafern
Due date: 2020-12-21

[2020-11-27 09:22] agila5 commented on #395
Thank you very much, looking forward to both reviews!

[2020-11-27 13:34] RaoulWolf commented on #329
Hi @jooolia and @maelle, very cool to see {presser} become {webfakes}! I'll keep an eye out on the book 😃

I'll try a few more variants to increase coverage with {webfakes} over the weekend; maybe there's a way I haven't thought about...

[2020-11-28 03:25] pachamaltese commented on #414
Listo!! Implementé casi todo lo que dice goodpractice, salvo lo del `sapply()` pues si implemento el cambio se rompe todo. Con respecto a los tests, las funciones que goodpractice que dice que no están cubiertas, es porque los tests existentes indirectamente llaman a esas funciones, por ejemplo https://github.com/pachamaltese/censo2017/blob/main/tests/testthat/test-02-tables.R#L12 llama a la conex

[2020-11-29 19:04] melvidoni commented on #414
Hola @pachamaltese, muchas gracias por los cambios.

Los revisores son @anadiedrichs y @fvd. Por favor, recuerden usar la [Guía para Revisores](https://devguide.ropensci.org/reviewerguide.html) y las plantillas correspondientes para la revisión. Sabemos que las plantillas están en inglés, pero bueno... por favor, completen todo en español. Esta revisión es un piloto y aún no tenemos todo traducido

[2020-11-30 01:07] pachamaltese commented on #414
Hola @melvidoni
¿Existirá un potencial conflicto de interés? con ambos revisores hemos colaborado en múltiples instancias (R4DS,  plumber, shiny, etc). Yo no lo veo así, creo que tendrán la confianza para enviar feedback de lo bueno y lo malo, pero siempre es bueno avisar.

[2020-11-30 01:27] melvidoni commented on #414
Te conoce demasiada gente @pachamaltese! En fin, me parece genial que avises, por ahora también lo dejo a criterio de los revisores. Tenemos nuestra [Guía de Conflictos de Interés](https://devguide.ropensci.org/policies.html#coi). Si ellos no se consideran libres de COI, pido que me avisen, y volvemos al estadío en busca de revisores.

[2020-11-30 09:00] maelle commented on #409
Thanks a lot @marcosci for agreeing to review! Your review is due on 2020-12-21.

Please find links to our [reviewer guide](https://devguide.ropensci.org/reviewerguide.html) and [review template](https://devguide.ropensci.org/reviewtemplate.html).

[2020-11-30 09:00] maelle commented on #409
With this, now both reviewers @asbonnetlebrun and @marcosci are assigned. :smile_cat:

[2020-11-30 16:48] wlandau commented on #401
I have a new package on GitHub called [`stantargets`](https://github.com/wlandau/stantargets), an extension to [`targets`](https://github.com/wlandau/targets) for Stan-powered Bayesian data analysis. [`stantargets`](https://github.com/wlandau/stantargets) makes it super easy to set up useful pipelines without having to write many functions or think about branching. It supports all the features of

[2020-11-30 17:35] karthik commented on #407
Hi @peterdesmet. Thank you!  I'm happy to have the two of you as reviewers (no need to share duties). Is that ok with you @damianooldoni?

and thanks @hannahlowens! Perfect timing.

[2020-11-30 17:57] bretsw commented on #382
Hi @maelle! I've added an openly shared TAGS tracker to the CONTRIBUTING guide. See https://github.com/bretsw/tidytags/blob/master/CONTRIBUTING.md#prerequisites

I mention this in the guide, but the TAGS itself is read-only in the web, because the purpose of {tidytags} is to read the tracker archive into R and let you do all your analyses there.

I'll look more at the testing examples you've liste

[2020-12-01 14:20] qdread commented on #406
## Package Review

@ldecicco-USGS and @CarlosRealR, here is my package review! This is my first review for ROpenSci, so please be understanding if I've left anything out or otherwise not followed best reviewer practices. Thanks for the opportunity.

- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work.

[2020-12-01 18:31] stefaniebutland commented on #398
Very sad news. I just learned that Lorenzo Busetto passed away. Beautiful tribute and dedication in the MODIStsp package he co-developed with Luigi Ranghetti: https://docs.ropensci.org/MODIStsp/articles/lorenzo.html

[2020-12-01 19:27] ldecicco-USGS commented on #406
Thanks @qdread ! Looks great to me. @CarlosRealR feel free to respond to @qdread 's comments or wait for @superjai

[2020-12-01 22:04] akoontz11 commented on #373
Hi @noamross, thanks for this checklist, the guidance, and the approval! I believe I've made most of the necessary updates you've listed, but let me know if anything looks astray.

@bpbond and @sckott, I would like to include you as `rev` authors for the package--if that is alright with you, let me know and I will updated the DESCRIPTION file. Once I do, I can tag and create a release for Zenodo.

[2020-12-01 22:16] sckott commented on #373
@akoontz11 thx, would be honored

[2020-12-01 23:39] bpbond commented on #373
Me too--not at all necessary but appreciated!

[2020-12-02 00:51] FvD commented on #414
@melvidoni y @pachamaltese siguiendo la [Guía de Conflictos de Interés](https://devguide.ropensci.org/policies.html#coi) yo me siento libre de algún conflicto de interés.

[2020-12-02 00:55] melvidoni commented on #414
Excellente. Por favor, procede con la revisión entonces.

[2020-12-02 08:09] ranghetti commented on #398
Thank youi @stefaniebutland to have informed me about this presubmission. I will be glad to carry on the submission, but I will need some time to explore the code and become familiar with it. I will open a full submission in the next months.

[2020-12-02 10:46] CarlosRealR commented on #406
Thanks @qdread  for your favourable opinion and the helpful comments. I am making some of the suggested changes, but I will wait for the comments of the other reviewer to make the bulk of the changes and to send a joint response. I think it is the best way to proceed.

[2020-12-02 23:12] potterzot commented on #395
## Package Review

- **Briefly describe any working relationship you have (had) with the package authors.** I have no working relationship with the authors.
- [X] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work (If you are unsure whether you are in conflict, please speak to your editor _before_ starting

[2020-12-03 10:31] annakrystalli commented on #395
Many thanks for your review @potterzot!

@agila5, I would suggest refraining from making any changes in response to the review before the second review is in also (so @salvafern does not end up reviewing a moving target). When both are in, you can then make changes and respond to both at the same time. 😎

[2020-12-03 21:17] sharlagelfand commented on #356
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- I have not had any working relationship with @pat-s.
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to review this work (If you are unsure whe

[2020-12-04 20:21] stefaniebutland commented on #414
Hola @FvD. I'm rOpenSci's Community Manager. If you would like to join our Slack, please send me your email address to `stefanie@ropensci.org`. I invite all package authors and reviewers.

[2020-12-04 20:42] stefaniebutland commented on #409
Hi @asbonnetlebrun. I'm rOpenSci's Community Manager. If you would like to join our Slack group, please email me at `stefanie@ropensci.org`; I was not able to find your email address.

[2020-12-06 18:11] agricolamz commented on #385
Dear @stefaniebutland, I would like to make a blogpost about phonfieldwork. May I get a publication date?

[2020-12-07 23:35] stefaniebutland commented on #385
Excellent @agricolamz. There are a couple of options for publication dates, depending on how urgent it is for you.

1. publish Tues Jan 19; submit draft by Tues Jan 12.
2. publish Tues Dec 22; submit draft by Mon Dec 14, with agreement to have all edits done before Fri Dec 18

Blog post drafts are reviewed by rOpenSci Community Assistant @steffilazerte. Since your [lingtypology post](https://ropen

[2020-12-08 10:36] agricolamz commented on #385
@stefaniebutland, thank you! I have already written my first draft, so I choose the second option.

[2020-12-08 10:43] RaoulWolf commented on #329
I tried now several other ways to code tests so it can run with "mock" APIs using {webfakes}, but I simply cannot find a way to emulate a (hardcoded URL) API from outside the function which defines the API itself.

All other tests work well, but this seems very complicated to put in place at this point. I looked into {webchem}'s [approach](https://github.com/ropensci/webchem/blob/master/tests/test

[2020-12-08 10:46] maelle commented on #329
Where is that URL hard-coded? Could you use an internal function to define the API URL instead as in https://books.ropensci.org/http-testing/webfakes.html#actual-testing-2?

Reg real requests we've added this chapter to the book https://books.ropensci.org/http-testing/real-requests-chapter.html

[2020-12-08 12:37] agricolamz commented on #385
@stefaniebutland thank you! I have already wrote a blogpost, so, I'd take the second option. Created a pull request.

[2020-12-08 14:32] RaoulWolf commented on #329
The respective URLs are hard-coded in the respective functions, for example [here](https://github.com/NIVANorge/chemspiderapi/blob/master/R/FILTERING-post_inchikey.R):
[code]
This URL (and all others) are then used in `curl::curl_fetch_memory()`. Most of the API functionalities come with dedicated URLs, so this way of hard-coding allows to easier keep track of the URLs, in case there are any futur

[2020-12-08 14:36] maelle commented on #329
Instead of having

[code]

you could have

[code]

where `get_compounds_inchikey_url()` is

[code]

This way you can override the URL by setting the environment variable to the URL of a webfakes app process.

[2020-12-08 14:37] maelle commented on #329
Same for your other snippet, you'd replace "https://api.rsc.org/compounds/v1/filter/" with `get_compounds_filter_url()`. Does it make sense?

[2020-12-08 14:39] maelle commented on #329
You'd make sure not to run them too often. Another thing that might help, or not, is asking the web API providers if you can get some sort of special developer account (I mention this in the book, for some APIs it can help as package maintainers are helping spread their product/API, after all).

True about test coverage, hopefully by making it possible to override the API URLs you can use more web

[2020-12-08 16:57] GLOrozcoM opened #415 "epair: Use R to get data from the Environmental Protection Agency Air Quality System API"
- What does this package do?

`epair` aids users in getting pollutant data from the Environmental Protection Agency Air Quality System API.

- This is the full description in code blocks.

[code]

- URL for the package in question.

[https://github.com/GLOrozcoM/epair](url)

- What data source does it work with?

This data source is the Environmental Protection Agency’s Air Quality System API [(ht

[2020-12-08 18:15] maelle commented on #329
Also, if you don't mind my asking: why do you use curl by the way? (rather than httr or crul)

[2020-12-08 18:50] asbonnetlebrun commented on #409
Hi @maelle and @vbaliga,
I will likely be week late for handing in my review - very sorry for the delay!

[2020-12-08 18:56] maelle commented on #409
Thanks for the update @asbonnetlebrun!

[2020-12-08 20:09] melvidoni commented on #415
Hello @GLOrozcoM for your pre-submission enquire. Please, edit your opening post to elaborate in the following points:

- Explain the data source it that this package uses, why it is important, and who it benefits. Also, if there are other tools (outside of R packages) that allow access to it.

- Area of the target audience, and more details about it.

- Please, make a detailed analysis of existin

[2020-12-08 21:46] mbjoseph commented on #356
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revie

[2020-12-09 14:48] RaoulWolf commented on #329
Lot's to unpack here, thank you for the detailed recommendations @maelle! Let's start from the end:

when I first started working on the package, {curl} was the only package that would allow to run all different flavors of API queries that were necessary. For the record, in the beginning I tried implementing the functionalities with {httr} and {crul}, but not all API queries were possible. Apart f

[2020-12-09 21:49] noamross commented on #356
Thanks @sharlagelfand and @mbjoseph for your reviews!  @pat-s, please take a look and let us know what time frame you expect to be able to follow up with revisions.

[2020-12-10 15:10] asbonnetlebrun commented on #409
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**

I don’t have any working relationship with any of the package authors.

- [X] As the reviewer I confirm that there are no [conflicts of i

[2020-12-10 15:29] maelle commented on #409
Many thanks @asbonnetlebrun for your thorough review! :pray:

[2020-12-10 22:48] vbaliga commented on #409
@asbonnetlebrun, thank you very much for your thoughtful & constructive review! My co-authors and I have each read through your comments and appreciate the time & effort you put in to reviewing our package

@maelle, this is a slightly awkward time for us -- our university's semester is wrapping up and of course the holiday season is approaching. That said, I am certain we can address our reviews i

[2020-12-11 05:08] maelle commented on #409
@vbaliga definitely ok! Besides, not making changes on the default branch right now will prevent @marcosci from reviewing a moving target. 🙂

[2020-12-11 11:42] maelle commented on #329
A more compact version would be

[code]

Reg https://github.com/NIVANorge/chemspiderapi/blob/master/R/FILTERING-get_queryId_results.R?rgh-link-date=2020-12-08T14%3A32%3A34Z you might want to create a helper function that returns the URL depending on the variables (to have less if/else)?

[2020-12-11 13:00] maelle commented on #382
:wave: @bretsw! Sorry for the delay, thanks, having the TAGS tracker is awesome.

I've merged my PR to the HTTP testing in R book and added some advanced chapters. https://books.ropensci.org/http-testing/index.html

Do you have any specific questions regarding test setup, that I could look into?

Speaking of testthat, with testthat newest version `context()` is deprecated, what's used as context i

[2020-12-11 13:01] maelle commented on #382
reg testthat's new version https://testthat.r-lib.org/articles/third-edition.html

[2020-12-11 13:34] pat-s commented on #356
Thanks @sharlagelfand and @mbjoseph for your reviews. Since a lot of detail was provided, it will take me some time to reply and share my thoughts with you. Due to some redudandancy I'll submit a combined reply to both of your replies.

I cannot really give a realistic timeframe sicne the end of the year is usually quite busy in many regards - but I'll gradually come back here and work on my reply

[2020-12-11 13:53] mikemahoney218 opened #416 "terrainr: Retrieve Data from the USGS National Map and Transform it for 3D Landscape Visualizations"
Submitting Author: Michael Mahoney (@mikemahoney218)
Repository: https://github.com/mikemahoney218/terrainr
Version submitted: 0.2.1
Editor: @ldecicco-USGS
Reviewer 1: @mikejohnson51
Reviewer 2: @sfoks
Archive: TBD
Version accepted: Feb. 19, 2021

---

-   Paste the full DESCRIPTION file inside a code block below:

[code]

## Scope

- Please indicate which category or categories from our [package

[2020-12-11 13:56] noamross opened #417 "❄️ 🎊 No editorial activity Dec 19-Jan 3. Happy Holidays! 🎊 ❄️"
We will not be accepting new submissions during the period Dec 19-Jan 3, nor engaging in editorial activity on reviews underway.  Have Happy Holidays and a Happy New Year! We look forward to working with you in 2021.

[2020-12-11 14:03] GLOrozcoM commented on #415
Hello @melvidoni , thank you for your feedback! I've updated the issue with your suggested comments. Please let me know if you would like me to write further on any aspect.

[2020-12-11 18:56] noamross commented on #381
@dgrtwo, please take a look at @eribul's changes and let us know if they address your comments.  Thanks!

[2020-12-13 17:07] marcosci commented on #409
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revie

[2020-12-13 19:15] melvidoni commented on #415
Thank you. All the editors will discuss and I'll let you know of the decision.

[2020-12-14 01:47] melvidoni commented on #416
Hello @mikemahoney218, thanks for submitting your package. @ldecicco-USGS will be your Handling Editor. You will hear from her soon.

[2020-12-14 07:06] maelle commented on #409
Thanks a ton @marcosci for your review! :smile_cat:

Such a neat idea!

Regarding the package name, yes we _recommend_ all lower-case, especially if the package isn't on CRAN yet. I myself renamed my Ropenaq package after review and I don't regret doing it.

[2020-12-14 19:15] melvidoni commented on #415
Hello @GLOrozcoM thank you so much for your pre-submission enquiry. All the editors have discussed and found your package to be in-scope. We welcome a full submission.

However, please remember that there will be no editorial activity from Dec 19th to Jan 3rd, as per #417

[2020-12-14 19:15] #415 closed

[2020-12-14 19:17] melvidoni commented on #414
Estimados, les recuerdo que no habrá movimiento editorial entre diciembre 19 y enero 3, como se explica en #417.

[2020-12-14 19:23] wlandau commented on #401
To give you more of a sense of where I am going with this, I just announced the targetopia, an ecosystem of packages to democratize Make-like pipelines in R. I hope to add more packages and cover more kinds of data science in 2021.

* Packages: https://wlandau.github.io/targetopia.html
* Blog: https://wlandau.github.io/posts/2020-12-14-targetopia/

[2020-12-15 02:20] dgrtwo commented on #381
Thanks for your very hard work on an already strong package!

I'm especially impressed by the README and vignettes. Both now include several practical examples, and I think the visualizations and "stories" around them make it really clear how the package can be used. I also appreciate that you agreed with and implemented many of my suggestions (as.codedata, returning a tibble, etc). I'm certainly

[2020-12-15 13:02] noamross commented on #381
Approved! Thanks @eribul for submitting and  @zabore and @dgrtwo for your reviews!

To-dos:
- [ ] Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
- [ ] Fix all links to the GitHub repo to point to the repo under the ropensci organization.
- [ ] Delete your

[2020-12-15 15:30] GLOrozcoM opened #418 "epair - get data from the Environmental Protection Agency Air Quality System API"
**Date accepted:** 2022-07-20
Submitting Author Name: G. Leonard Orozco-Mulfinger
Submitting Author Github Handle: @GLOrozcoM
Repository: https://github.com/GLOrozcoM/epair
Version submitted: 0.1.0
Editor:  @maelle
Reviewers: @adithirgis, @KevCaz
Submission type: Standard
Due date for @adithirgis: 2021-10-04
Due date for @KevCaz: 2021-10-12
Archive: TBD
Version accepted: TBD

---

-   The full DES

[2020-12-15 16:41] ldecicco-USGS commented on #416
Great news, we have our first reviewer @mikejohnson51. I may or may not try to find another Mike be reviewer 2 😬

[2020-12-16 05:16] wlandau commented on #401
Maybe targetopia is slightly out of scope for this review, but I would at least like to mention this: I envision it to cover more fields of data science than I have the expertise to cover. (I am starting with Bayesian statistics because that is where I am strongest.) So if anyone reading this would like to contribute a targetopia package, that would be amazing. I just added some tips at the bottom

[2020-12-16 09:57] eribul commented on #381
Thank you very much all of you @noamross, @dgrtwo and @zabore !
I really appreciate the feedback and your positive decision :-)
I will do my best to complete the task list!

[2020-12-16 10:08] eribul commented on #381
**It seems I am not able to check the boxes above, wherefore I copied the list:**

* [X]  Transfer the repo to rOpenSci's "ropensci" GitHub organization under "Settings" in your repo.  I have invited you to a team that should allow you to do so.  You'll be made admin once you do.
* [ ]  Fix all links to the GitHub repo to point to the repo under the ropensci organization.
* [ ]  Delete your curren

[2020-12-16 10:56] eribul commented on #381
@zabore and @dgrtwo I would very much like to acknowledge your work as reviewers by the `rev`-role in the description file:
[code]
Do I have your permissin to do so? :-)

[2020-12-16 10:59] eribul commented on #381
@noamross I have transferred the repo to ropensci but might have missed to select the "coder" team. It seems then I have not access to the usual "settings" for the repo, wherefore I can not "replace [my] package docs URL with https://docs.ropensci.org/package_name". Is it possible to get the relevant access in hindsight?

[2020-12-16 14:02] eribul commented on #381
Dear @stefaniebutland, I would be happy to contribute with a blog post describing this package, if you might find it relevant :-)

[2020-12-16 14:09] zabore commented on #381
@eribul Happy to be included as a reviewer role. And congratulations on this package publication!

[2020-12-16 17:05] stefaniebutland commented on #381
@eribul Congratulations on coder passing peer review! Would love to have a post.
We have openings for publication in late January. Please suggest a date for submitting a draft via pull request and I'll provide a publication date. https://blogguide.ropensci.org/ gives content and technical guidelines.

[2020-12-16 17:10] noamross commented on #381
@eribul You should have admin access now.

[2020-12-16 17:13] stefaniebutland commented on #381
@eribul in your post, you should talk about where these codes/categorizations come from, what they mean and how they are used for a general open science that may not be familiar with medical/clinical data, and how his package solves a problem researchers have with using them.

[2020-12-16 18:30] salvafern commented on #395
## Package Review

*Please check off boxes as applicable, and elaborate in comments below.  Your review is not limited to these topics, as described in the reviewer guide*

- **Briefly describe any working relationship you have (had) with the package authors.**
- [x] As the reviewer I confirm that there are no [conflicts of interest](https://devguide.ropensci.org/policies.html#coi) for me to revie

[2020-12-16 19:04] melvidoni commented on #418
Hello @GLOrozcoM, thank you for the submission. @noamross will be your handling editor. Please, wait until he conducts the first checks. Also, please kindly notice that there will be no editorial activity from December 19th until January 3rd.

[2020-12-16 19:06] melvidoni commented on #414
@pachamaltese Te aviso que uno de los revisores ha tenido que declinar, asi que voy a volver a la búsqueda. Esto va a demorar un poco, pero bueno.

[2020-12-16 19:17] dgrtwo commented on #381
Sure!

[2020-12-16 20:24] pat-s commented on #356
@sharlagelfand Thanks for your review!
Please note upfront that even though some of my comments might eventually sound a bit harsh, they are not meant to be like that but are just straight to the point :)

The package is a client package - so I'd argue that users arriving here should know what they want to do with it. As a comparable example: a client package wrapping `git` (e.g. [gert](https://gi

[2020-12-16 22:22] bretsw commented on #382
Hi @maelle! Thanks again for pointing me in all the right directions. I _think_ I've gotten vcr tests working with Twitter and OpenCage APIs. At least it looks good on my local machine. I just pushed a big update so we'll see. When I ran `covr::package_coverage()` locally it looked like the tests are covering around 85% now. I've gotten tests for all functions, in any case.

It does look like R-CM

[2020-12-17 08:14] annakrystalli commented on #395
Thanks for your timely review @salvafern !

Over to you now @agila!

Please note that there will be no editorial activity between Dec 19-Jan 3 #417. So no rush to respond over the holidays. Hope you get an opportunity to take a break and see you refreshed in the New Year!

[2020-12-17 10:40] maelle commented on #382
Awesome, I'm going to have a look!

I see that the README links to an older version of the R packages book reg licencing. Here's the updated chapter https://r-pkgs.org/license.html

[2020-12-17 11:01] maelle commented on #382
Looking at the dependencies of the package, why are there dependencies on covr, devtools, goodpractice, rcmdcheck, spelling, styler?

[2020-12-17 11:16] maelle commented on #382
I see a security problem, I've opened an issue, please look at this urgently https://github.com/bretsw/tidytags/issues/30 @bretsw (at least inactivate the token that was leaked).

Feel free to tell me where in the docs we could have warned you more (this coming from someone who leaked their own GitHub PAT a few weeks ago :grimacing: )

[2020-12-17 11:19] maelle commented on #382
(the link https://books.ropensci.org/http-testing/vcr-security.html#if-the-secret-is-in-a-request-header was updated two days ago, and the features described are also very new in vcr cc @sckott)

[2020-12-17 11:51] maelle commented on #382
there's no setup for also running real requests once in a while, correct? We don't have requirements around HTTP testing yet (just the test coverage one) but real requests can be useful. For them you'd need an encrypted Twitter token for instance, which means more security-related work. https://books.ropensci.org/http-testing/real-requests-chapter.html & https://books.ropensci.org/http-testing/sec

[2020-12-17 12:10] maelle commented on #382
A few last comments for today

* the current vignette building approach is fine, but for info with `vcr::inject_cassette()`/`vcr::eject_cassette()` (and the proper vcr security configuration) you could instead use vcr cassettes in the vignettes.
* you might want to take some notes around your test setup in CONTRIBUTING.md, see https://books.ropensci.org/http-testing/contributor-friendliness.html
*

[2020-12-17 12:24] maelle commented on #382
(I see the checks don't pass for the repo either, hence the coverage badge still showing low coverage?)

[2020-12-17 12:27] maelle commented on #382
This might be worth a question in vcr repo / in rOpenSci forum.

[2020-12-17 13:11] eribul commented on #381
@stefaniebutland Nice! That sound like a great outline :-) What about 2021-01-25?

[2020-12-17 14:02] agila5 commented on #395
Hi @salvafern, thank you very much for your review and your useful comments. @annakrystalli I will prepare an answer to both reviews in the next weeks!

Happy holidays to all the people that helped me during the review process ❄️ 🎆 🎉

[2020-12-17 16:42] stefaniebutland commented on #381
Noam's idea :-)

Draft by 2021-01-25 is great. My colleague @steffilazerte will review it.

[2020-12-18 14:07] tjmahr commented on #401
Can I have an extension on this review? I'm sorry this review period overlaps with some funky holiday scheduling.

[2020-12-18 15:39] maurolepore commented on #401
Thanks @tjmahr for acknowledging the deadline. It is indeed a difficult time. When would you be ready?

[2020-12-18 15:51] limnoliver commented on #401
Similarly, I could use an extension! I'll be able to complete a review by Dec. 29.

[2020-12-18 15:53] maurolepore commented on #401
Thanks @limnoliver. I anticipated this time would be inconvenient. Dec 29 would be okay.

[2020-12-19 03:28] wlandau commented on #401
I think academic peer review in general is already generous and altruistic, not to mention daunting. The holidays, COVID, and the volume of this submission compound all that so much. So I am extremely grateful that you signed up, and I will do whatever I can to recognize your efforts. December 29 is small as delays go, not a big deal on my end.

[2020-12-21 20:30] sharlagelfand commented on #356
Hey @pat-s, thanks for your response and for creating the linked issues!

I don't think that you necessarily need to explain what Continuous Integration is, but it would be helpful for the entry README and Get Started vignette to at least contain the phrase "Continuous Integration" - I like level of detail in {usethis} [`use_travis` ](https://usethis.r-lib.org/reference/ci.html) and [`use_actions`

[2020-12-30 11:35] maurolepore commented on #401
Dear @limnoliver and @tjmahr,

I hope you are having a good end of the year.

I imagine this might be a difficult time to review a package. Do you need extra time or some other help?

Thanks again for your generosity. I hope you don't mind my reminders.

[2020-12-30 14:31] tjmahr commented on #401
I expect to find time in the first week of the new year. I created an issue and Will resolved my biggest hang up with the package so far.

[2020-12-30 17:58] vbaliga commented on #409
Hi everyone -- hope you have been enjoying the holiday season!

@marcosci -- thank you very much for your constructive review

@maelle -- thank you for your advice; we are considering renaming the package. We'll likely do this as a final step after addressing all the reviewers' other comments.

@asbonnetlebrun and @marcosci -- we would be happy to list you both as "rev" in our description file. Co

[2021-01-04 08:32] maelle commented on #409
Happy New Year @vbaliga, @scienceisfiction and @epress12, and thanks for the update! (also Happy New Year to @asbonnetlebrun & @marcosci)

[2021-01-04 13:41] rkrug commented on #397
Thanks a lot.

I have now time to look at it... Will try to submit it within the next month.

[2021-01-04 20:01] limnoliver commented on #401
Sorry for the delay! The review took a big longer than expected, but I really enjoyed doing it. Kudos to you @wlandau, for creating such a useful tool. For context, I'm coming at this review with experience using pipelines in R (using `remake` and a wrapper package to handle errors, shared caching, and what you're calling branching), but am almost completely naïve to `drake`.

## Package Review

*

[2021-01-04 22:01] wlandau commented on #401
This is fantastic, Sam! I know the review was an enormous effort, and I cannot thank you enough! I will digest your feedback and respond this week.

[2021-01-05 07:13] maelle commented on #418
Thanks @GLOrozcoM for your submission! I see a few issues need to be tackled before I look for reviewers, see below. I am happy to answer questions as needed!

### Editor checks:

- [ ] **Documentation**: The package has sufficient documentation available online (README, pkgdown docs) to allow for an assessment of functionality and scope without installing the package.

I see you have a documentat

[2021-01-05 07:19] maelle commented on #418
I see you didn't use CI because the package doesn't perform any system call: these criteria you outline are for having CI _on all operating systems_. We require a CI setup for all packages, it's very useful. :-)

[2021-01-05 07:23] maelle commented on #417
Happy New Year!

[2021-01-05 07:23] #417 closed

[2021-01-05 09:31] annakrystalli commented on #395
Happy New Year all!

Just checking in @agila5 although as we had the holidays, its totally fine if you need more time to respond to the reviews.

[2021-01-05 09:44] agila5 commented on #395
Hi everyone and happy new year 🎉

I'm sorry that I didn't write any update. During the Christmas holidays, I focused on finishing the last parts of the dissertation (that must be submitted in a couple of days). We sketched a partial answer to the second review [here](https://github.com/ITSLeeds/osmextract/pull/155), but I will prepare a more precise and detailed report for both reviews sometimes d

[2021-01-05 10:15] annakrystalli commented on #395
Thanks for the update @agila5 ! And not to worry. As I mentioned, technically the editorial process was on pause for the past two weeks. Good luck with your dissertation submission!

[2021-01-05 13:58] ldecicco-USGS commented on #416
I had a few people respond that if I didn't find someone by the new year, they'd volunteer, so I expect a 2nd reviewer any day. In the meantime, I ran a check and `goodpractice::gp()`.  The check was fine.

The `gp()` left this message:
[code]
Which is not bad! If you want to work on the code coverage, that's always good.

[2021-01-05 14:14] mikemahoney218 commented on #416
Fantastic! Thank you so much for the update :)

One thing to mention -- a lot of the package tests are set to skip on CRAN, as they either take too long, require internet access, or require GDAL. They should still be able to run locally, however (and on CI) with `Sys.setenv(NOT_CRAN='true')` -- when I do so, I get the following output:

[code]

Thanks again for the update! :smile:

[2021-01-05 14:31] ldecicco-USGS commented on #416
Ah right! Thanks for the reminder, I just got a new computer and my old computer had NOT_CRAN=true set by default.

[2021-01-05 16:24] GLOrozcoM commented on #418
Thank you for your feedback! I'll get right to work and let you know once I've addressed the issues you raised.

[2021-01-05 23:25] wlandau commented on #401
# Reply to @limnoliver's review

Thank you for your thorough and insightful review. Your feedback is super impactful, and I incorporated everything I could into the packages and documentation.

I actually ended up changing my mind about that. All mentions of that three-paragraph format should now be gone.

Now that you mention it, I completely agree. I moved most of the statement of need into a [n